[2021-03-19 09:53] lindspea commented on #9252
@JelmerBarhorst thank you. @illfated do you recommend adding option A as a note in the article?

[2021-03-19 10:01] lindspea commented on #9254
@Ladmo007 I found another article - https://docs.microsoft.com/deployoffice/vlactivation/tools-to-manage-volume-activation-of-office ...but still researching and will keep you posted.

[2021-03-19 11:13] jaegerschnitzel opened #9334 "More information regarding ASR rules"
It would be very nice if you could provide more information regarding specific ASR rules.

For example "Block executable files from running unless they meet a prevalence, age, or trusted list criterion".
-What does prevalance refer to?
-What does age refer to? As far as I could find out this means 24 hours
"or they're in a trusted list or an exclusion list" what is the difference between trusted l

[2021-03-19 11:17] PhantomPhixer opened #9335 "Content filter instructions"
[1. Jamf now has support for content filter settings built in so can be set in the interface
2. the scoping needs explaining better as some should only be scoped to macOS11 and others only to less than 11]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f791dc07-b2c6-3003-a829-cd1ec03a2918
* Version Independent ID: 2c53

[2021-03-19 11:21] yoshiband commented on #9041
@TinaMcN - Thank you very much. I think it's ok, so I would like to close this issue.

[2021-03-19 11:21] #9041 closed

[2021-03-19 11:28] yoshiband opened #9336 "Revision request for translation/localization"
[フィードバックをこちらに入力してください]
Hello, whom it may concern,

I found a mistake in the Japanese version of this page.

Wrong

Correct

The correspond sentence in the original English is as follows

So, the original sentence says "will not detect nor block the file", which means denial meaning.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 50f2be10-41a0-67ae-2

[2021-03-19 13:37] illfated commented on #9252
Seems reasonable, while it would also be preferable if one of the actual MS Docs team members could confirm that we should go ahead and add that clarification.

@mjcaparas or @denisebmsft : Would you be able to confirm the correctness, clarification, and practicality of the suggested text?

[2021-03-19 17:39] konstruktoid commented on #9320
Hi @natedogith1, can you verify that you downloaded the correct zip file?

![image](https://user-images.githubusercontent.com/7956715/111820848-e0755a00-88d9-11eb-8613-975a2a1dff73.png)

[2021-03-19 20:42] v-rechau opened #9339 "Clarifications on supported versions for Device Health Monitoring"
This CSP page mentions that Device Health Monitoring is not available for any Windows 10 devices running Pro.

Meanwhile, the related documentation about the Intune Data Collection Policy which enables the Device Health Monitoring on the device states that the feature is available for Windows 10 Pro versions 1903 and up, similar to the Enterprise version, as long as they have the required Update K

[2021-03-19 20:50] jandreacola opened #9340 "Step 9 contradicts other docs on auto enrollment"
This page is describing the auto enrollment of an Active Directory joined device as it instructing about setting a GPO in Active Directory.  This means the device will be Hybrid Joined.  The setting to allow users to join devices to Azure Active Directory does not apply Hybrid Joined devices according to this doc (see purple note) https://docs.microsoft.com/en-us/azure/active-directory/devices/dev

[2021-03-19 21:41] anaguile opened #9341 "This document recommends a different setting for “Turn off Microsoft Defender Antivirus.” than what other document suggest (the latter actually fixed issue for customer))"
[ From RAVE case 24527130   https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/mcafee-to-microsoft-defender-setup#enable-microsoft-defender-antivirus-on-your-windows-client-devices recommends “Turn off Microsoft Defender Antivirus.” to be set to "Disabled" but https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-antivirus/us

[2021-03-20 05:08] RAJU2529 commented on #9341
@anaguile . Turn off Microsoft Defender Antivirus  set to Disabled means still Microsoft Defender runs background.

Turn off Microsoft Defender Antivirus. set to Enabled means  Microsoft Defender is turned off.

[2021-03-20 10:32] larsakerlund opened #9342 "Incorrect command for collecting current RTP statistics"
The article mentions that the following command is used for collecting real-time protection statistics, which is the same command as enabling real-time protection:

[code]

In order to output the statistics and follow the rest of the article, the following command must be run instead:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-03-20 10:57] RAJU2529 commented on #9341
PR #9343 is  complicated , i taken care while editing this article, so i request reviewers to review changed parts must be reviewed.

[2021-03-20 23:45] planksta opened #9344 "boot"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c795c8ef-7caf-b8a7-4118-b00b1899eef8
* Version Independent ID: cd85b6b4-d160-0c44-15ea-4b7c02fbe0eb
* Content: [Secure the Windows 10 boot process - Microsoft 365 Security](https://docs.microsoft.com/en-us/windows/security/information-protection/secur

[2021-03-21 12:33] #9151 closed

[2021-03-21 16:32] #9295 closed

[2021-03-21 22:34] DeanGross opened #9345 "Setting Expectations"
How long does it take after an access package is created before it is ready to be used? please provide some timeframes so that we know what to expect.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b37e3a59-0253-44ec-074a-8910c1f35fc1
* Version Independent ID: 5fbabf34-55a4-7220-a0e9-d0a26c115bff
* Content: [Grant acces

[2021-03-22 01:47] denisebmsft commented on #9336
@TinaMcN can you take a look?

[2021-03-22 03:13] RAJU2529 commented on #9344
@planksta . No proper description.

[2021-03-22 06:09] Shwet88 opened #9346 "Web Content Filtering Policy Refresh seems more than 2 hours"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6d1d825-ab12-2f37-b692-5266487ef16f
* Version Independent ID: fef750ac-311b-28b4-1661-16385997815b
* Content: [Web content filtering - Windows security](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/web-co

[2021-03-22 06:14] Shwet88 commented on #9346
I recently have enabled the web content filtering policy for some of my workstations, and have noticed its taking much more than 2 hours to get it refreshed and applied to required devices. almost a day.
I have noticed the time lag in both Microsoft Edge and Chrome, and in Chrome its even more, suspicious sites remained unblocked for more than a day.
If the policy refresh is dependent on some fact

[2021-03-22 09:12] nam31 commented on #9093
@SLeuthold Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have made

[2021-03-22 09:12] #9093 closed

[2021-03-22 09:14] nam31 commented on #9283
@null1984 Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have made

[2021-03-22 09:14] #9283 closed

[2021-03-22 09:17] nam31 commented on #9325
@mailinglists35 Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have

[2021-03-22 09:17] #9325 closed

[2021-03-22 09:20] mailinglists35 commented on #9325
I this the entire Feedback hub content should be migrated to a github issues repository and the FH app should be simply eol'd or become a frontend to the github issues.

[2021-03-22 09:21] nam31 commented on #9216
Hi @klishb as @illfated pointed out

Please refer to issue #9104 for a resolution to this problem.
Thank you

[2021-03-22 09:21] #9216 closed

[2021-03-22 09:26] nam31 commented on #8783
@stelladew Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following this guide at [Contact Microsoft Defender for Endpoint support](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/contact-support)
Thank you.

[2021-03-22 09:26] #8783 closed

[2021-03-22 09:31] nam31 commented on #9223
@evmill Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-03-22 09:31] #9223 closed

[2021-03-22 09:34] nam31 commented on #9317
@TinaMcN, Can you please assist with this translation/localization issue?

[2021-03-22 13:41] MaratMussabekov commented on #9256
Hello @sokoloffmaks ,
The described scenario is not currently supported (both intune support for multi session WVD and enrollment using device credentials are not supported yet), please see more details [here](https://docs.microsoft.com/en-us/mem/intune/fundamentals/windows-virtual-desktop#windows-10-enterprise-multi-session).

Thank you

[2021-03-22 14:22] rafalfitt opened #9347 "A new driver WinRing0.sys or WinRing0x64.sys should be added"
A new driver should be added:

https://twitter.com/GossiTheDog/status/1356407444721795074
https://www.virustotal.com/gui/file/11bd2c9f9e2397c9a16e0990e4ed2cf0679498fe0fd418a3dfdac60b5c160ee5/details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e8740b8-c1f2-4b88-3d4d-66cdbf20215f
* Version Independent ID: 7986a684-b3

[2021-03-22 14:36] MaratMussabekov commented on #9334
Hello @jaegerschnitzel ,
This rule is not controlled by administrator, it is controlled by Microsoft cloud protection.
**What does prevalance refer to?** - prevalence of the application is assessed by Microsoft cloud protection
**What does age refer to?** - it refers to application release date
**"or they're in a trusted list or an exclusion list" what is the difference between trusted list or exc

[2021-03-22 15:28] evmill commented on #9223
I missed the initial mail. Yes this addition to the TOC is sufficient. Thanks so much for the update!!

[2021-03-22 15:38] natedogith1 commented on #9320
Seems that "Local Script" was incorrectly selected instead of "Your preferred Linux configuration management tool".

[2021-03-22 15:38] #9320 closed

[2021-03-22 15:43] natedogith1 opened #9348 "Several of the yamls are formatted incorrectly"
The uninstall files have task unindented, and the yum one has state indented too far.
[code]
The yum install file doesn't indent the yum parameters
[code]
There might have been other yaml issues as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 623e0469-826c-5cdf-6dc4-67c80e232d0f
* Version Independent ID: 0f6c33

[2021-03-22 15:48] DeanGross opened #9349 "Incorrect Instructions"
I do not see the Settings/Alert Notification menu item that is described in the instructions. I think that this may have been moved/renamed when the portals were consolidated. Please review and update as appropriate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71efdf59-617b-c2cb-301c-145aa43b0890
* Version Independen

[2021-03-22 16:06] jaimeo commented on #9104
Per advice of WU SMEs, that section of the article was rewritten to preclude the need for the scripts altogether. https://github.com/MicrosoftDocs/windows-docs-pr/pull/4920

[2021-03-22 16:06] jaimeo commented on #9104
All related issues can be closed for the same reason.

[2021-03-22 16:06] #9104 closed

[2021-03-22 17:10] vikassou opened #9350 "Link for "Security policy violation indicators" under Share endpoint alerts with Microsoft Compliance Center is not getting redirected properly."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05d99de0-789d-3c71-4bd9-f45e62f82a7b
* Version Independent ID: d56d09f0-1f9a-563e-fee0-142bda27a99b
* Content: [Configure advanced features in Microsoft Defender for Endpoint - Windows security](https://docs.microsoft.com/en-us/windows/security/threat

[2021-03-22 17:54] #9241 closed

[2021-03-22 19:26] nam31 commented on #8709
Closing via #8936
Thank you

[2021-03-22 19:26] #8709 closed

[2021-03-22 19:28] nam31 commented on #9259
Closing via #9262
Thank you

[2021-03-22 19:28] #9259 closed

[2021-03-22 20:28] DavidSchrag opened #9354 "Clarification on startup scripts needed for single vs multiple entry per device"
I am confused about the script(s) to run at startup and the choice to have single vs. multiple entries per device.

The article says

Later it says

So the first section indicates that the single entry per device option requires both the .ps1 and the .cmd script, because both have to be copied. But the second section indicates that the single entry option requires only the .ps1 script, because the

[2021-03-22 21:08] riverar opened #9355 "Missing documentation for Microsoft.Gaming.Install.InstallActivity event"
The Diagnostic Data Viewer app lists events labeled `Microsoft.Gaming.Install.InstallActivity`, presumably related to Xbox services built into Windows. This telemetry appears to be **required** and **not documented**.

![image](https://user-images.githubusercontent.com/475132/112058580-fd976c00-8b17-11eb-9132-07166d3778ad.png)

I've also previously filed this feedback on Feedback Hub: https://aka.

[2021-03-23 00:35] illfated commented on #9317
Just to clarify, the correction is in the issue ticket title text:
- **マルウェアと他の&について** = "About Malware and Other &" (notice the incorrectly inserted Latin ampersand **&** within the kanji)
- **マルウェアとその他の脅威について** = "About malware and other threats"

[2021-03-23 00:38] illfated commented on #9348
@konstruktoid : Would you like to have a look at this?

[2021-03-23 00:42] illfated commented on #9256
(Just posting the expanded link, in case someone would like to have a better look at it before going there.)
- https://docs.microsoft.com/en-us/mem/intune/fundamentals/windows-virtual-desktop#windows-10-enterprise-multi-session

[2021-03-23 00:48] illfated commented on #9355
Thank you for referencing your post on the Feedback Hub. Hoping we will get some tech feedback for the documentation sooner or later.

[2021-03-23 00:56] illfated commented on #9350
Thank you for pointing out that 404 error. That is definitely a mishap from when the link was added or converted in the source document.

[2021-03-23 01:06] illfated commented on #9350
By the way, it would be useful if most of the text had been entered in the comment post instead of the title, but I assume it is the result of not being aware of the ticket format when posting from the reporting page (I don't remember what the reporting page looks like at the moment).

[2021-03-23 09:17] 4L3K5 commented on #1240
is there any way to access to other network resources from RDP with RCG enabled without enter credentials?

[2021-03-23 10:07] konstruktoid commented on #9348
Opened PR #9357

[2021-03-23 14:21] nam31 commented on #9348
@JohanFreelancer9 please do the copy editor review for this PR.

[2021-03-23 14:38] kgoldman commented on #9322
It does say TPM 1.2 way down in the text for one item, but the title still says TPM.  Since most, maybe all, Windows 10 systems, require TPM 2.0, the ambiguous title can mislead the reader.

[2021-03-23 15:19] #9350 closed

[2021-03-23 15:55] e0i commented on #9315
Fixed via https://github.com/MicrosoftDocs/windows-itpro-docs/commit/15e9a411fce64546f8572b29691f782b3f4badb1#diff-fc5cd38a44f9cd55d877749fbddbe9dabdf373fbf2348b20aba9581b44062630

[2021-03-23 15:55] #9315 closed

[2021-03-23 15:56] e0i commented on #9237
Fixed via https://github.com/MicrosoftDocs/windows-itpro-docs/commit/15e9a411fce64546f8572b29691f782b3f4badb1#diff-fc5cd38a44f9cd55d877749fbddbe9dabdf373fbf2348b20aba9581b44062630

[2021-03-23 15:56] #9237 closed

[2021-03-23 15:57] e0i commented on #4930
Fixed via https://github.com/MicrosoftDocs/windows-itpro-docs/commit/15e9a411fce64546f8572b29691f782b3f4badb1#diff-fc5cd38a44f9cd55d877749fbddbe9dabdf373fbf2348b20aba9581b44062630

See: https://github.com/MicrosoftDocs/windows-itpro-docs/issues/9315#issuecomment-800640519

[2021-03-23 15:57] #4930 closed

[2021-03-23 16:01] #9256 closed

[2021-03-23 16:37] TinaMcN commented on #9336
@yoshiband thank you for reporting this issue.  It appears to be a machine translation issue.  I sent the article to be human translated and it should be done within 3 days.

[2021-03-23 18:09] TinaMcN commented on #9317
@hyoshioka0128 thank you for reporting the issue in this machine translated article and @illfated thanks for the clarification.  I sent the article to be human translated and it should be completed in ~3 days.

[2021-03-23 18:23] brianlic-msft commented on #9355
Thank you for bringing this to our attention. After investigation, we determined that this is a bug and will be fixed.

[2021-03-23 22:46] bharatsuneja opened #9358 "Bad link to Protect important folders with Controlled folder access"
[Enter feedback here]
Bad link to "Protect important folders with Controlled folder access." (target: https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-exploit-guard/controlled-folders-exploit-guard)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8141d691-eee8-8861-4d04-24a78c7636b0
*

[2021-03-24 09:02] lindspea commented on #6073
@Dansimp please could you help?

[2021-03-24 13:18] apizz commented on #6073
Thank you for reviving this @lindspea

[2021-03-24 13:26] e0i commented on #9344
Missing feeedback.

[2021-03-24 13:26] #9344 closed

[2021-03-24 13:34] #9279 closed

[2021-03-24 13:42] RAJU2529 commented on #9358
@bharatsuneja . Thanks for pointing-out. I am fixing the link

[2021-03-24 13:50] e0i commented on #9176
Closing because the article now lives in another repository,

https://github.com/MicrosoftDocs/microsoft-365-docs/commits/public/microsoft-365/security/defender-endpoint/enable-attack-surface-reduction.md

Thanks

[2021-03-24 13:50] #9176 closed

[2021-03-24 13:52] RAJU2529 commented on #9358
@e0i. I am going to add new screenshots in this article , those pictures are taking from my windows laptop

[2021-03-24 14:07] RAJU2529 commented on #9358
screenshots
![protectiondetails](https://user-images.githubusercontent.com/3296790/112323856-2ebe9a80-8cd8-11eb-8eee-b7a7b6743433.png)

![protectionupdates](https://user-images.githubusercontent.com/3296790/112323920-3f6f1080-8cd8-11eb-90e4-2e2404090e4f.png)

[2021-03-24 15:01] tomdan-MSFT opened #9360 "Documentation on PlumbIKEv2TSAsRoutes option?"
The document currently shows the PlumbIKEv2TSAsRoutes option in the tree at the top of the article but there's no explanation below on what this option actually sets on the VPN client.  Can we get more details added to the document on the PlumbIKEv2TSAsRoutes option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8b1b

[2021-03-24 15:08] tomdan-MSFT opened #9361 "Extra "\" characters listed for paths to files"
Near the top of the article we list a path for files that include extra "\" :

The XSDs for all EAP methods are shipped in the box and can be found at the following locations:

C:\\Windows\\schemas\\EAPHost
C:\\Windows\\schemas\\EAPMethods

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8b1b81d-3c35-0315-d149-f10af3a40

[2021-03-24 15:25] joshuaalm opened #9362 "Can't create computer after following instructions"
https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/windows/deployment/deploy-windows-mdt/use-the-mdt-database-to-stage-windows-10-deployment-information.md

I think the instructions should include adding 'db_datawriter' to the roles for the intended MDT database user account.  I was not able to add a computer to my database from within Deployment Workbench until I had added this role

[2021-03-24 16:23] MaratMussabekov commented on #9292
Hello,
**It appears that DC Discovery process is different for WHfB clients and it does not use DCLocator process.** - can you please provide source for this information?
As I understand, WHfB clients use Kerberos Key Distribution Center for authentication, which is discovered through *_kerberos._tcp.DnsDomainName* SRV record by DC Locator.
Thank you

[2021-03-24 17:04] RAJU2529 commented on #9361
@tomdan-MSFT . Thanks for pointing out.

[2021-03-24 19:31] denisebmsft commented on #9358
@RAJU2529 I am working on the pull request you submitted. Thank you for that.

@bharatsuneja THANK YOU for letting us know about the broken link. I have fixed that and the changes will render live later today.

[2021-03-24 19:56] Kateyanne commented on #6672
@illfated @nam31  Is it OK to close this now?

[2021-03-24 21:02] sasanmcp opened #9364 "Any updates for Win 2019/win10 20h2"
question is in the title. are we getting an update for newer releases of Windows Client/Server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e93f07bf-c0dd-dd83-d7bf-8562e7f197c3
* Version Independent ID: a6c44187-8ff1-6519-5291-146b4c1bf46c
* Content: [Federal Information Processing Standard (FIPS) 140 Validation - W

[2021-03-24 21:15] Kateyanne commented on #9072
@MaratMussabekov  could you advise next steps on this open issue? Thank you.

[2021-03-24 23:42] anaguile commented on #9341
@RAJU2529
i checked the document and it still shows the same statement:
3. Choose Edit policy setting, and make sure that policy is disabled. This enables Microsoft Defender Antivirus.

I understood this was changed, can you confirm this is the case?

[2021-03-24 23:50] lericah opened #9365 "How do PINS differ from Passwords"
So if a PIN becomes more complex is it not just a password? Doesn't this make computers more vulnerable since people are familiar with complex passwords buy they associate a PIN with a 4-digit code?

Importantly if I login to computer A and B with the same Microsoft account; will A and B have 2 seperate,  locally stored PINS or can I login to computer B with Computer A's PIN

---
#### Document Det

[2021-03-25 00:36] greg-lindsay commented on #9144
Closing this issue for now. If you have a log file please add it to this issue.

[2021-03-25 00:36] #9144 closed

[2021-03-25 02:56] RAJU2529 commented on #9341
@anaguile . changes will be visible after few days

[2021-03-25 03:06] RAJU2529 commented on #9365
PIN is stored in local machine and does not stored in Microsoft account.
Moreover  PIN can create only after enabling of Fingerprint reader by scanning of Fingerprint.
I think both fingerprint and PIN are both stored in TPM module.

[2021-03-25 03:50] illfated commented on #6672
Main ticket comment:

I think this would be useful to apply in the document page, just to make future readers of the page aware of the status.

[2021-03-25 05:26] illfated commented on #9287
https://github.com/MicrosoftDocs/windows-itpro-docs/issues/4930#issuecomment-805021222 :

[2021-03-25 06:01] illfated commented on #9348
There seems to be some structural changes going on, most likely to replace the old name "Microsoft Defender ATP" with the new name "Microsoft Defender for Endpoint" and related name changes. One of the consequences seems to be that the Linux documents are currently lost due to directory removal. We may have to wait to see the end result of these changes before we can suggest any updates ourselves.

[2021-03-25 06:25] illfated commented on #9362
(just adding the ticket content which would have been generated if the ticket had been opened using the button **[This page]** instead of going directly to GitHub)

***

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6204280-0cde-d489-7973-f0e62c854675
* Version Independent ID: fd7b5637-b83c-0f93

[2021-03-25 09:38] lindspea commented on #9254
@Ladmo007 please let me know if this article helped resolve your issue and I'll do a PR to add it to the document for other users.

[2021-03-25 09:43] nam31 commented on #8938
Closing via #8967
Thank you

[2021-03-25 09:43] #8938 closed

[2021-03-25 09:46] nam31 commented on #9069
@bjeans Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-03-25 09:46] #9069 closed

[2021-03-25 09:47] nam31 commented on #9070
Closing via #9219
Thank you

[2021-03-25 09:47] #9070 closed

[2021-03-25 09:54] nam31 commented on #9079
@SergGu Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-03-25 09:54] #9079 closed

[2021-03-25 09:56] nam31 commented on #9145
Closing via #9220
Thank you

[2021-03-25 09:56] #9145 closed

[2021-03-25 10:50] nam31 commented on #9186
@mMDG0Oowa-3TPkpg7JOmdx4ff4IfPvyCGSAHbnh We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-03-25 10:50] #9186 closed

[2021-03-25 10:54] Reeced40 commented on #9025
@yffengdong please confirm if the link above helped resolve your issue.

[2021-03-25 10:55] Reeced40 commented on #8987
@nam31 this can be closed thank you.

[2021-03-25 10:56] td47 commented on #9144
@greg-lindsay Apologies for not being able to send you the users log file. This initial report was from a colleague in the private FB group "Windows Insiders Scoop Fans UK", who reported that one of his Insiders updates created this error. It seems that a new later update had overcome the issue and overwritten the logs,
However, the fact that this issue occurred while using a Microsoft Update, and

[2021-03-25 10:56] Reeced40 commented on #8940
@nam31 this can be closed thank you.

[2021-03-25 10:57] Reeced40 commented on #8898
@nam31 merge is done so can be closed thank you.

[2021-03-25 13:14] lericah commented on #9365
I don't have a fingerprint reader on the laptop in question and I don't
have a fingerprint even associated with that Microsoft Business Account

On Wed, Mar 24, 2021, 10:06 PM VARADHARAJAN K ***@***.***>
wrote:

[2021-03-25 16:22] nam31 commented on #9098
Closing via #9210
Thank you

[2021-03-25 16:22] #9098 closed

[2021-03-25 16:25] nam31 commented on #8919
Closing via #8939
Thank you

[2021-03-25 16:25] #8919 closed

[2021-03-25 16:27] nam31 commented on #9133
Closing via #9290
Thank you

[2021-03-25 16:27] #9133 closed

[2021-03-25 16:28] jaimeo commented on #9181
Update: I have contacted the relevant SMEs internally and have just reminded them that we still need help updating these errors.

[2021-03-25 16:28] nam31 commented on #9202
Closing via #9218
Thank you

[2021-03-25 16:28] #9202 closed

[2021-03-25 16:30] nam31 commented on #9213
Closing via #9264
Thank you

[2021-03-25 16:30] #9213 closed

[2021-03-25 16:30] #9266 closed

[2021-03-25 16:34] nam31 commented on #9222
Closing via #9245
Thank you

[2021-03-25 16:34] #9222 closed

[2021-03-25 16:39] nam31 commented on #8898
Closing via #9096
Thank you

[2021-03-25 16:39] #8898 closed

[2021-03-25 17:22] illfated commented on #9181
Thanks. Nice to see updated information, especially when information is shared with good colleagues in proper places.

[2021-03-25 19:13] #8458 closed

[2021-03-25 22:19] Dansimp commented on #9348
@illfated , we moved all of the MDE (formerly known as Defender ATP) documentation to the microsoft-365-docs repo and also went through and updated all of the branding. So there are some changes afoot.... all redirects should be fixed by now, and search engines are already returning the right topics. Next step is for us to go through the active PRs and issues. including this one. FWIW, the new URL

[2021-03-25 23:17] adirdidi commented on #7181
Updated: https://docs.microsoft.com/microsoft-365/security/defender-endpoint/event-error-codes.

[2021-03-25 23:17] #7181 closed

[2021-03-26 07:56] archeon1004 commented on #9202
@nam31  @MaratMussabekov Thank you! :)

[2021-03-26 09:14] konstruktoid commented on #9348
Oh the joy, its even a new repo https://github.com/MicrosoftDocs/microsoft-365-docs

[2021-03-26 09:55] BoomRaccoon opened #9367 "Unclear Supported values"
[Enter feedback here]
It's not stated what the default value for Networking and ClipboardRedirection is. I presume it's 'Enable' but it would be good to clearly state that.
Adding the missing value would make it consistent throughout the page.

Have a good one.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2efc9d32-0f9

[2021-03-26 10:11] mb-northwave opened #9368 "Issues with wildcard exclusion documentation"
In the table under heading "Use wildcards in the file name and folder path or extension exclusion lists":

Text for wildcard "*" reads:
`C:\somepath\*\Data would include any file in C:\somepath\Archives\Data and its subfolders and C:\somepath\Authorized\Data and its subfolders`
The phrase "and its subfolders" should not be "code" on both cases.

Text for wildcard "?" reads:
`C:\MyData\my? would in

[2021-03-26 13:07] lightupdifire opened #9369 "Protected domains and Network domains"
Hello,

Can you please share more information in which case should be added the Protected domains and Network domains,
And what kind, is it a user account domain that the user uses to login into tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7df27add-73fe-4f0b-7e30-face0f95cda3
* Version Independent ID: 3ec647d

[2021-03-26 13:52] leo180c commented on #7932
Hi @iamacarpet,

I have the exact error "The requested object could not be found." when I try to apply the Applocker (StoreApps) via Powershell, do you have any solution of this?

Thanks
Leo

[2021-03-26 17:28] TinaMcN commented on #9312
@hyoshioka0128 the article has now been human translated and no ** appear.  If it looks ok to you now can you please close.  Thanks again for reporting it.

[2021-03-26 17:28] #9358 closed

[2021-03-26 19:14] #9312 closed

[2021-03-26 20:07] dferreira042 commented on #8828
It apparently means nothing.  In fact, it may hurt other things.  I tried this today on 3 different VM's:
ms-device-enrollment:?mode=AADJ&ownership=1
ms-device-enrollment:?mode=AADJ&ownership=2
ms-device-enrollment:?mode=AADJ&ownership=3

Each of these came in as Personal devices and none of these actually prompted me to select.  But here's the problem: when I DON'T add the ownership, then the dev

[2021-03-27 00:08] GATWE opened #9370 "Batman de 1989"

[2021-03-27 01:10] TinaMcN commented on #9317
@hyoshioka0128 the article has been human translated now.  Can you please check if it's ok now and close if it is.  Thanks!

[2021-03-27 04:42] hyoshioka0128 commented on #9317
@TinaMcN | @illfated | @nam31 - Fixed. Thanks!
Closed #9317 .

[2021-03-27 04:42] #9317 closed

[2021-03-27 05:42] MaratMussabekov commented on #9072
Dear @Kateyanne ,
I believe the issue can be closed, as the PR was merged recently.
Thank you!

[2021-03-27 18:31] illfated commented on #9370
No valid issue content. Looks like a test post.

#please-close

[2021-03-27 19:25] #9128 closed

[2021-03-28 03:32] illfated commented on #9341
The commit (https://github.com/MicrosoftDocs/windows-itpro-docs/commit/5118d9868ffe59c63308c1040ada40a61485bc15) changes here on GitHub have still not migrated to docs.microsoft.com as of the time of this comment:
- https://docs.microsoft.com/microsoft-365/security/defender-endpoint/mcafee-to-microsoft-defender-setup?view=o365-worldwide
(still showing the document date **03/03/2021**)

[2021-03-28 03:43] illfated commented on #9341
Looks like the target document has been moved to the following location:
- https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/microsoft-365/security/defender-endpoint/mcafee-to-microsoft-defender-setup.md

Not sure if the linked PR and its resulting commit will be migrated there, but we could try asking the team members if this will be handled in the private repository `MicrosoftDocs-

[2021-03-28 17:22] illfated commented on #9368
(ref. #9372 )

[2021-03-28 17:24] illfated commented on #9287
@phillhocking : Are you available to confirm that this ticket can be closed now, based on the committed changes?

[2021-03-28 19:38] CJMakris opened #9373 "Typo in item 25. Windows Spotlight last bullet DisableWindowsConsumerFeatures: HKEY_LOCAL_MACHINE_MACHINE"
The last bullet point in Section 25. Windows Spotlight (https://docs.microsoft.com/en-us/windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services#25-windows-spotlight) references a key containing a hive that should not exist:

`HKEY_LOCAL_MACHINE_MACHINE\SOFTWARE\Policies\Microsoft\Windows\CloudContent`

This should likely be corrected to:

`HKEY_LOCAL_MACH

[2021-03-28 19:42] illfated commented on #9373
Wow, that looks like a copy-paste error to me. Thank you for reporting this. "`HKEY_LOCAL_MACHINE_MACHINE`" sounds like someone forgot to turn off the echo machine... ;-)

Anyway, I will get right to it and open a Pull Request to have that "copy-pasta" removed.

[2021-03-28 20:04] illfated commented on #9373
`*sigh*` — it took more time than I expected to search for the origin of this confounded typo/copy-paste error.

Commit: https://github.com/MicrosoftDocs/windows-itpro-docs/commit/2c9314b0f63141b6aaa993d76644c087b0253906 (**Consumer endpoints** (#86))

Pull Request: **From private repo** #3422 (May 2, 2019)

Commit line: https://github.com/MicrosoftDocs/windows-itpro-docs/commit/2c9314b0f63141b6aa

[2021-03-28 20:49] #9370 closed

[2021-03-28 21:00] illfated commented on #9373
Pull Request #9374 is ready for review, comments and suggestions. Feel free to visit the page.

[2021-03-28 21:47] DeanGross opened #9375 "What about Server 2019?"
Many of the pages in this section do not state that they apply to Windows Server 2019. Do they, if so, please update the pages to explicitly state this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 298f0a3a-6bf5-7ee8-db4a-21548ad8a22d
* Version Independent ID: 11ee3f53-ed64-7a84-0a7b-ba94c7ff09b1
* Content: [Isolated

[2021-03-28 22:15] illfated commented on #9367
To me, just by reading the document (even though I don't know this topic yet), it is clear that those values are already defined and described as you requested:

***
https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-sandbox/windows-sandbox-configure-using-wsb-file#networking :

### Networking

Enables or disables networking in the sandbox. You can disable network access t

[2021-03-28 22:25] illfated commented on #9360
I tried searching the entire docs.microsoft.com site for at least some information about "PlumbIKEv2TSAsRoutes", but came up with nothing:
- https://docs.microsoft.com/en-us/search/?terms=PlumbIKEv2TSAsRoutes

(Sorry for making it look like a meme, but "Wow, such empty." comes to mind.)

[2021-03-28 23:09] illfated commented on #9254
Maybe I am being too obvious here, but this is how I interpret it (even though I have not used this tool personally).

The minimum permission is given in the [!IMPORTANT] Note blob:

***

The minimum requirement is **Local Administrator** or to be able to start VAMT with elevated privileges.

There is also a criterium that if the intention is to manage licensing on other computers, that same user

[2021-03-29 10:07] MValiukh commented on #8863
Is there any update on this case?

[2021-03-29 15:14] haymansfield opened #9376 "Notes on how to access the EFI partition would be handy"
Notes on how to access the EFI partition would be handy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ff92b92-8c0f-e92f-43ff-7e2df4b4468b
* Version Independent ID: e48742d4-5066-5758-f207-ac3c424e0d75
* Content: [Disable Windows Defender Application Control policies  (Windows 10) - Windows security](https://docs.micr

[2021-03-29 15:22] MaratMussabekov commented on #9367
Hello @BoomRaccoon ,
I agree with @illfated , these parameters doesn't support "Enabled" value. They only have "Disable" and "Default".

Thank you

[2021-03-29 15:47] MaratMussabekov commented on #9354
Hello @DavidSchrag ,
**Perhaps the .ps1 script calls the .cmd script** - yes, it does, it is seen on the line 82 of the script.
Thank you

[2021-03-29 15:49] Kateyanne commented on #9072
@nam31 Issue can now be closed

[2021-03-29 16:53] ashmohabd opened #9377 "Error in 4624(S) docs"
There’s an error in “Workstation Name” description. It says “machine name *to* which logon attempt was performed.” It should be *from* which.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aefbbdcc-606c-276c-47ee-fe2b2cb65c61
* Version Independent ID: e0979867-e6bc-7fb9-1279-646b319823b0
* Content: [4624(S) An account

[2021-03-29 17:43] msft-jaiverma commented on #9292
@MaratMussabekov  - DNS records _kerberos._tcp record does not differentiate between 2019 or 2016 or 2012r2 Domain Controllers. It appears that client uses DS_10 flag while using Netlogon service and calling dsgetdc with parameter DS_DIRECTORY_SERVICE_10_REQUIRED.

[2021-03-29 19:11] phillhocking commented on #9287
@illfated it does appear this is good to close, thanks!

[2021-03-29 19:11] #9287 closed

[2021-03-29 20:26] illfated commented on #9377
Based on the description in the document, I would say that you are correct in reporting that as an issue. Ref. the following part of the document:

***

<img src="https://docs.microsoft.com/en-us/windows/security/threat-protection/auditing/images/event-4624.png" alt="Event 4624 illustration" width="438" height="668" hspace="12" align="left" />

***Subcategory:***&nbsp;[Audit Logon](https://docs.mi

[2021-03-29 20:39] denisebmsft commented on #9368
thank you @mb-northwave for letting us know about this issue. And thank you @MaratMussabekov for your pull request. I've accepted your changes and the updates will render live later today. I'm going to close this issue but please let us know if you have any further questions.

[2021-03-29 20:39] #9368 closed

[2021-03-29 21:03] illfated commented on #9377
There you go. PR #9378 is ready for review, comments, and suggestions.

[2021-03-29 21:04] ScottHendrix-MSFT commented on #8701
The best way to get help for SetupDiag is to submit Feedback via the Feedback Hub and include the word SetupDiag in the title.

Yes, SetupDiag does have issues parsing large log files, but 260 MB is not large enough to trip it up in my testing.  Windows has a process limit of 2GB and SetupDiag will fail when the logs are near that 2GB size.  I have done some work in this space to make it better, b

[2021-03-29 21:06] ScottHendrix-MSFT commented on #5720
The best way to get help for SetupDiag is to submit Feedback via the Feedback Hub and include the word SetupDiag in the title.

There are many compliance plug-ins that can all trigger a block.  SetupDiag exposes any and all of them in a single execution if they are applicable to the system/update.  The plug-ins should all be named and have a unique message, if they don't, please let me know.

[2021-03-29 21:10] ScottHendrix-MSFT commented on #3623
The best way to get help for SetupDiag is to submit Feedback via the Feedback Hub and include the word SetupDiag in the title.

As all upgrade/update logs are en-US only, the date format SetupDiag outputs should mirror that (for comparison purposes).  I have made a change to SetupDiag to use en-US only date/time formats, that fix should be coming out soon, with the next version publish.

[2021-03-29 21:11] ScottHendrix-MSFT commented on #2834
The best way to get help for SetupDiag is to submit Feedback via the Feedback Hub and include the word SetupDiag in the title.

This should be fixed in 1.6.0, let me know if it's not.

[2021-03-30 17:21] #9072 closed

[2021-03-30 19:59] #9068 closed

[2021-03-30 22:42] paulaustin-automutatio opened #9380 "Azure AD user format"
Is it AzureAD/user1@contoso.com or AzureAD\user1@contoso.com? both are used in the documentation.

Plus can you make error messages more readable by anyone outside your team.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b0c55a7-9aaa-d395-409e-59c2595c8e9e
* Version Independent ID: cf8e5a71-a8fc-1d43-6eed-03d3f249069

[2021-03-31 16:29] denisebmsft commented on #8547
Hello @chibs89. See this article for hiding the Microsoft Defender Antivirus interface from users: [Use Group Policy to hide the Microsoft Defender AV interface from users](https://docs.microsoft.com/windows/security/threat-protection/microsoft-defender-antivirus/prevent-end-user-interaction-microsoft-defender-antivirus#use-group-policy-to-hide-the-microsoft-defender-av-interface-from-users)

If t

[2021-03-31 16:29] #8547 closed

[2021-03-31 16:30] denisebmsft commented on #8662
Hello @PeteHaigh-MSFT and thank you for your feedback. I'll get the "Applies to" section fixed.

[2021-03-31 16:30] #8662 closed

[2021-03-31 17:21] #9336 closed

[2021-03-31 17:23] #9341 closed

[2021-03-31 19:47] denisebmsft commented on #6734
@itguysocal thank you for posting this question. And @illfated @VLG17 @nam31 @RAJU2529 thank you for your help.

In this article, "Not used" means that item is no longer relevant. It's carryover stuff from the former versions of antivirus (like Windows Live Security Essentials). It isn't the case that we don't have content for those items yet.

I have updated the article and you will see the chang

[2021-03-31 19:47] #6734 closed

[2021-03-31 19:49] denisebmsft commented on #8753
Thank you @nam31 and everyone for your help. And thank you @darioongit for the feedback. We have someone updating the content. I'll keep this issue open for now and will post an update once the content has been updated. Thanks again!

[2021-03-31 22:00] poortom1004 opened #9381 "Broken links"
The "Special Groups" links are broken.  They had valuable information such as the registry keys needing to be set for auditing special groups after configuring the advanced audit settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef7bc351-2473-a6f8-542f-8f03f0d640eb
* Version Independent ID: b5d9a985-092c-6beb-4b

[2021-04-01 05:41] technion opened #9383 "Filepath rules not available on Windows Server - Enforcement mode appears unusable"
This particular page states it "Applies to: Windows Server 2016". However a key to operation is this series of lines:

[code]

Unfortunately, "FilePathRule" is noted on this page: https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create that the parameter is `Beginning with Windows 10 version 1903`. This appears accura

[2021-04-01 09:04] RAJU2529 commented on #9376
@haymansfield . I will give you steps afternoon

[2021-04-02 07:30] nam31 commented on #9381
Closing via #9384
Thank you

[2021-04-02 07:30] #9381 closed

[2021-04-02 08:50] #8940 closed

[2021-04-02 08:54] nam31 commented on #8842
@wmehilos Can you please provide your input?

[2021-04-02 08:55] nam31 commented on #8987
@scyto Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-04-02 08:55] #8987 closed

[2021-04-03 02:12] MaratMussabekov commented on #9292
Hello,
**It appears that client uses DS_10 flag while using Netlogon service and calling dsgetdc with parameter DS_DIRECTORY_SERVICE_10_REQUIRED** - yes, that's correct, but how this detail helps to better plan number of DCs? the article is pretty simple, says "plan enough WS 2016 domain controllers for each site that hosts WHfB users", i believe Kerberos flags are out of its scope.
Dear @mapalko

[2021-04-03 13:33] Alexey-Zheltov opened #9386 "Windows Hello enrollment for environments with AlternativeID used for authentication"
Add requirement that user accounts enrolling for Windows Hello for Business in Hybrid Certificate Trust scenario must have UPN matching with one of verified domain names in Azure AD or registry key must be configured with domain hint via GPO:

HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\ZoneMap\Domains\contoso.com\
"*"=dword:00000001

HKEY_CURRENT_USER\Software\Mi

[2021-04-05 15:31] Sumitdhiman opened #9387 "Update Extend code documentation for new releases"
I see that under the extended code phase table, only 5 phases are described. On the new releases of Windows 10, I see some reports of 600XX error code as well. Possible to update this, please?

https://answers.microsoft.com/en-us/windows/forum/all/windows-10-upgrade-failed-to-2004/c7fa508a-3a5f-4e8e-8543-37823d4cfd7e

https://techcommunity.microsoft.com/t5/windows-insider-program/help-unable-to-up

[2021-04-05 23:57] TinaMcN commented on #9336
@yoshiband the article is human translated now.   I hope the issue is fixed now, please let me know if it's not ok.

[2021-04-06 10:40] hyoshioka0128 commented on #3458
@TinaMcN | @e0i | @illfated - Fixed. Thanks!
Closed #3458 .

[2021-04-06 10:41] hyoshioka0128 commented on #3458
@TinaMcN | @e0i | @illfated - Fixed. Thanks!
Closed #3458 .

[2021-04-06 10:41] #3458 closed

[2021-04-06 10:41] hyoshioka0128 commented on #3457
@TinaMcN | @e0i | @illfated - Fixed. Thanks!
Closed #3457 .

[2021-04-06 10:41] #3457 closed

[2021-04-06 10:59] technion commented on #9383
For a trivial example, opening services.msc fills the event log with errors and fails to render properly. Without the ability to create a FilePathRule I don't believe this can be fixed.

[2021-04-06 12:24] #9373 closed

[2021-04-06 12:25] siosulli commented on #9373
This has been fixed as part of https://github.com/MicrosoftDocs/windows-itpro-docs/issues/9373

[2021-04-06 13:31] siosulli commented on #9147
@derekharkin I'm closing this ticket out now as I from what I can see the settings are available for the content documented at https://docs.microsoft.com/en-us/windows/privacy/changes-to-windows-diagnostic-data-collection

If this is incorrect please re-open the ticket with details.

[2021-04-06 13:31] #9147 closed

[2021-04-06 15:25] poortom1004 commented on #9381
Doesn't seem like this has been resolved.  As for the broken links, there are 3 of them. All of them are links to the same exact URL. If you simply search for "Special Groups", you will quickly find them. The URLs for those links should be updated to https://techcommunity.microsoft.com/t5/ask-the-directory-services-team/special-groups-auditing-via-group-policy-preferences/ba-p/395095

[2021-04-06 15:38] CXMelga opened #9390 "What keys are used for signing"
Hello,
Great article but can you please help me with the following to clarify

When I think of signing I think of the following scenario

When signing a message you need to use a 'key' this key needs to be trusted by the other side (either they use the same key aka symmetric or they trust the public key asymmetric).

So my questions is which keys are in use here when it comes to signing (I assume

[2021-04-06 17:26] bledMS82 opened #9391 "Missing current GA released platform build info"
Needs updated with the March release info

AMEngineVersion                 : 1.1.18000.5
AMProductVersion                : 4.18.2103.3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5b2e02d-b56d-00d5-b4c6-0a76aa88f2af
* Version Independent ID: 0f82785d-7014-22d7-6b7e-a995b3ab0814
* Content: [Manage Microsoft Defender

[2021-04-06 17:37] TwattyBollox opened #9392 "Is that last section entirely correct?"
The last part, states that:

"System-managed page files automatically grow up to three times the physical memory or 4 GB (whichever is larger) when the system commit charge reaches 90 percent of the system commit limit. This assumes that enough free disk space is available to accommodate the growth."

Whereas other pages include:

"3 × RAM or 4 GB, whichever is larger. _This is then limited to the

[2021-04-06 18:01] jsuther1974 commented on #9383
It is not necessary to use file path rules to make WDAC work. WDAC was introduced in the original Windows 10 release without any file path rule type. File path rules were added in 1903 and will arrive on Server Edition with the upcoming Windows Server 2022 release. The topic mentioned, Create WDAC policy for lightly managed devices, does include a note that some of the steps are specific to 1903+

[2021-04-06 20:02] denisebmsft commented on #9391
Thank you @bledMS82. Docs will be updated ASAP. I am working on this.

[2021-04-07 04:46] tryste-mx opened #9395 "Incorrect reference to Patch Tuesday"
This Article > Configure when devices receive Quality Updates > "Quality updates are typically published on the first Tuesday of every month..."

This is incorrect; quality updates are published on the **_second_** Tuesday of every month.

-tryste

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1684b30a-3187-85ce-0cf7-1

[2021-04-07 08:41] JelmerBarhorst commented on #9252
Thanks for updating the docs page!

[2021-04-07 12:19] illfated commented on #9252
If you find that the document has been updated sufficiently and correctly to resolve this issue, feel free to close this ticket.

[2021-04-07 12:20] #9252 closed

[2021-04-07 16:57] nam31 commented on #9333
Closing via #9338
Thank you

[2021-04-07 16:57] #9333 closed

[2021-04-07 17:11] nam31 commented on #9349
Closing via https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4551
Thank you

[2021-04-07 17:11] #9349 closed

[2021-04-07 17:13] nam31 commented on #9354
Closing via https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4554
Thank you

[2021-04-07 17:13] #9354 closed

[2021-04-07 17:14] #9199 closed

[2021-04-07 17:18] nam31 commented on #9250
@kerbo Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-04-07 17:18] #9250 closed

[2021-04-07 17:18] nam31 commented on #9334
@jaegerschnitzel Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-04-07 17:18] nam31 commented on #9367
@BoomRaccoon Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-04-07 17:18] #9367 closed

[2021-04-07 17:20] nam31 commented on #9094
@DcPSDcPS We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-04-07 17:20] #9094 closed

[2021-04-07 17:21] nam31 commented on #9084
@LingTjal We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-04-07 17:21] #9084 closed

[2021-04-07 17:29] nam31 commented on #9025
@yffengdong We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve. Thank you.

[2021-04-07 17:29] #9025 closed

[2021-04-07 17:29] nam31 commented on #9026
We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve. Thank you.

[2021-04-07 17:29] #9026 closed

[2021-04-07 18:49] #9377 closed

[2021-04-07 18:53] jaegerschnitzel commented on #9334
@nam31 Thanks for asking. The third part was of my question was answered to my full satisfaction.

The first two not really. I searched myself and found a Microsoft presentation with a few explanations.
**What does prevalance refer to?** - all unknown files which occur less than 1000 times Microsoft wide are blocked
**What does age refer to?** - unknown files newer than 24 hours are blocked

Perha

[2021-04-07 22:55] #9361 closed

[2021-04-07 23:01] e0i commented on #9383
It seems that the question has been answered by the community,  and the issue is being marked as resolved.

Thanks.

[2021-04-07 23:01] #9383 closed

[2021-04-07 23:10] anaguile commented on #9341
@RAJU2529 , @illfated

Just to make sure, the original suggested change does not seen to be replicated yet. I was informed that changes should be visible after a few days.

Usually, how long does this take?

[2021-04-07 23:17] anaguile commented on #9341
Just in case:

the suggested change was from:
3. Choose Edit policy setting, and make sure that policy is disabled. This enables Microsoft Defender Antivirus.

to:
3. Choose Edit policy setting, and make sure that policy is Not Configured. This enables Microsoft Defender Antivirus.

This based on https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-antivirus/use-g

[2021-04-07 23:33] e0i commented on #9192
@tmlyon It seems that the link that has been introduced via the following commit points to a file for an older version. Can you take a look? Thanks.

Commit: [Update manage-windows-mixed-reality.md by @tmylon](https://github.com/MicrosoftDocs/windows-itpro-docs/commit/71b3d5e0a37363ae00149d8ffc6267cb5dcf9b16)

[2021-04-08 00:44] jfpanisset opened #9398 "Incorrect UPN for MDT_JD account"
The userPrincipalName for an AD account is defined as "upn prefix" @ "upn suffix" where the suffix is typically the DNS domain name:

https://docs.microsoft.com/en-us/windows/win32/ad/naming-properties

This is also documented for the -UserPrincipalName of New-ADUser:

https://docs.microsoft.com/en-us/powershell/module/addsadministration/new-aduser?view=winserver2012r2-ps&viewFallbackFrom=windowss

[2021-04-08 04:27] MaratMussabekov commented on #9387
Hello, this issue was already discussed in https://github.com/MicrosoftDocs/windows-itpro-docs/issues/2301
Dear @greg-lindsay , is there any update regarding adding codes for finalize phase?
Thank you!

[2021-04-08 06:20] AndyWilsonIT opened #9399 "Enable Cloud-Delivered Protection - MECM Section Missing"
Hi there

I was just reviewing this documentation and noticed there are no directions for enabling cloud-delivered protection via Configuration Manager specifically. Initial summary indicates this is possible:

But the subsequent section headers don't reflect this, substituting MECM for Microsoft Endpoint Manager (i.e. Intune).

Hope this helps. If I am right about this, it would be useful to know

[2021-04-08 06:46] RichardvanNuland opened #9400 "Trusted Signal is not possession factor"
I am missing information that describes that the phone (or network) as trusted signal second factor should not be considered a 'possession' factor. When I connect a mobile phone using bluetooth as "user A" then this device is paired on device level. So when "user B" logs on and the phone of "user A" is still within range, it still acts as 2nd factor unlock.

This means that true MFA for data on th

[2021-04-08 07:18] VLG17 commented on #9182
@git14 The cached credentials don't expire.

They can get overwritten though, as described in the article. Also, it's not recommended to use this policy.

[2021-04-08 07:44] VLG17 commented on #9265
@ConstantinLorenz Could you check the article now? It looks like it was updated to reflect the new method.

[2021-04-08 08:03] VLG17 commented on #9288
@desinnic In my opinion this prerequisite is stated clearly twice, in the beginning of the article.

Also, the [4th article/part](https://docs.microsoft.com/en-us/windows/deployment/deploy-enterprise-licenses) under "Subscription Activation" states exactly that:

![image](https://user-images.githubusercontent.com/41186174/113990148-d6e86d80-9859-11eb-9f12-2b2bdad77b43.png)

I think you could use t

[2021-04-08 08:07] VLG17 commented on #9309
@Treah As mentioned in [#8353 ](https://github.com/MicrosoftDocs/windows-itpro-docs/issues/8353#issuecomment-732388278) the file should be where it's stated. If it's not, then it's something specific to that system that should be troubleshooted further, but by default the file should be there.

[2021-04-08 08:25] nam31 commented on #8711
Closing via #8800
Thank you

[2021-04-08 08:25] #8711 closed

[2021-04-08 09:24] joinimran commented on #8993
Hello @strausy - Thank you for your feedback. I have reviewed your request and found that all of the images show in the document  are full-size images. These are compacted  as required for the page. If you right-click on the image and open the image required in a new tab will show you the full screen image with all the required details.

Thanks
Imran.

@nam31 - FYI Please.

[2021-04-08 09:40] VLG17 commented on #9115
@Erziram I have tested and if you follow the steps described in the article, meaning Deployment method: Mobile Device Management, the onboarding package contains the .plist file.

The python file is contained in the onboarding package that is generated when you choose Deployment method: Local script, but that's not what the article describes.

[2021-04-08 11:13] MaratMussabekov commented on #9369
Hello @lightupdifire ,
**Can you please share more information in which case should be added the Protected domains and Network domains,** - as it is already stated in the article, protected domains - domains used for identities in your environment (for example, used for UPN suffixes). Network domains - all other DNS suffixes used in your environment.
**And what kind, is it a user account domain th

[2021-04-08 11:29] chibs89 commented on #8547
Like I said. This Group Policy is just a computer policy and does prevent the admin user also to access the Microsoft Defender AV and the answer is to set the same computer policy? The Problem is, that Microsoft removes the working control panel step by step to the new fancy looking Settings Apps.

[2021-04-08 13:32] siosulli commented on #9355
Closing out this issue as the approval for this event has been removed so a doc update wasn't required.
It has been fixed it on the backend.

[2021-04-08 13:32] #9355 closed

[2021-04-08 14:26] lightupdifire commented on #9369
@MaratMussabekov
But is it mandatory or optional to add to this section?

On Thu, Apr 8, 2021 at 1:14 PM MaratMussabekov ***@***.***>
wrote:

[2021-04-08 15:07] Treah commented on #9309
I am not sure what to tell you because on my working OSX 11.2.3 system there is no file located in that location.
The contents of /Library/Extensions/ is "HighPointIOP.kext, HighPointRR.kext, SoftRAID.kext" There is no file named wdavkext.kext and ATP is working correctly on this system.
<img width="358" alt="OSXkext" src="https://user-images.githubusercontent.com/12091471/114050787-6b92a180-9841-

[2021-04-08 15:44] bobobobobovic commented on #2749
Hi how can I get access to this functionality ? I have tried Get-VamtProductKey cmdlet but it is returning only status from DB not online refresh status as reported by bob-lockwood. Thx.

[2021-04-08 16:00] git14 commented on #9182
@VLG17 thanks for the answer. I would recommend updating the docs with that bit of information since it is not documented anywhere. If there is other documentation with that information please let me know.

[2021-04-08 17:21] nam31 commented on #9322
Closing via #9332
Thank you

[2021-04-08 17:21] #9322 closed

[2021-04-08 17:38] illfated commented on #9341
@anaguile : Please open a new issue ticket based on the new location of the document. To continue posting here will slow down any attempts we make to follow up on your comments, since this ticket references the wrong page.

[2021-04-08 17:43] illfated commented on #9322
https://docs.microsoft.com/en-us/windows/security/information-protection/tpm/change-the-tpm-owner-password is updated. Thank you, all.

[2021-04-08 18:06] #9391 closed

[2021-04-08 18:07] denisebmsft commented on #9391
The article has been updated and how has the latest updates.

[2021-04-08 18:10] riverar commented on #9355
@brianlic-msft Got it, thanks!

[2021-04-08 18:15] siosulli commented on #9355
Thanks for clarification @brianlic-msft!

[2021-04-08 22:39] TinaMcN commented on #6238
@tom1stein Der Artikel wird nun von einem Menschen übersetzt.  Können Sie bitte überprüfen, ob das Problem jetzt behoben ist?

[2021-04-09 15:53] e0i commented on #9392
@TwattyBollox Your feedback is under investigation. Thanks for the catch.

[2021-04-10 02:25] MaratMussabekov commented on #9177
Hello @eturnersumi ,
this error may mean that the package dependencies cannot be installed. Please make sure that all prerequisites described [here](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-linux?view=o365-worldwide) are met.

Also run `dpkg --get-selections | grep hold` to check whether some of the packages on your system are held

Than

[2021-04-10 10:23] BoomRaccoon commented on #9367
I did some testing and am confused now and realized I'd have to look at XML first to understand how this works.

@illfated I am not even sure about that anymore. You can input anything and it just goes to default, you can even input some random XML tags.
I sure just thought that 'Enable' is implemented but wasn't 100% sure because it's not listed.
Ignoring all that. My main issue is that it just l

[2021-04-10 14:39] illfated commented on #9367
@BoomRaccoon : Based on what you are saying, I would assume that the only supported manual value is "Disabled", while whatever you write other than that, it becomes enabled.

Disclaimer: I do not have access to hardware or software required to test that assumption, but that is my logical conclusion based on your comment,
\<Note\> given that your test scenario is not influenced at all by any other

[2021-04-10 14:41] illfated commented on #9367
Caveat emptor: Please also note that I have no experience whether some form of AutoUpdate or Refresh or similar is required to read the new values.

[2021-04-10 19:00] Aarojas3012a opened #9403 "Around#1Microsoft365Live_I_Love_gitbuh"
Manuel Aarón Rojas Salinas
Microsoft Developer World
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1290b230-fb6a-705b-00ca-c0fd63f08d18
* Version Independent ID: 6c9b1a0b-6544-31bf-f409-b48e5e55eb79
* Content: [Enable offline upgrades to Windows 10 for Windows Embedded 8.1 Handheld devices - Wind

[2021-04-10 21:17] illfated commented on #9395
( ref. #9402 )

[2021-04-10 21:22] illfated commented on #9403
Looks like a test comment.

#please-close

[2021-04-10 22:13] #9177 closed

[2021-04-11 03:51] MaratMussabekov commented on #9392
Hello,
**So, is that still correct? Does it indeed limit it to 1/8 the size of the drive?** - yes, it is correct. Checked on a computer with 80Gb C: drive with 16Gb ram. Pagefile never grow for more than 1/8 of the volume size.
Thank you

[2021-04-11 13:51] denisebmsft commented on #8753
Asset moved to /microsoft-365/security/defender-endpoint/attack-surface-reduction

[2021-04-11 13:51] #9403 closed

[2021-04-11 21:02] illfated commented on #6238
The document seems to be correctly updated, there are no more occurrences of "Lautstärke".
Words used in this document are either "Laufwerk" or "Datenträger" in various forms (standalone or compound words).

[2021-04-12 07:51] ayushidera opened #9405 "registry path does not exist"
the registry path "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Edge" does not exist in my registry key.
i want to disable "open in chrome" pop up when I'm using Microsoft edge.

[2021-04-12 09:01] RAJU2529 commented on #9405
@ayushidera Which article are you referring to

[2021-04-12 11:35] nam31 commented on #8842
@wmehilos We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve. Thank you.

[2021-04-12 11:35] #8842 closed

[2021-04-12 11:39] nam31 commented on #8993
@strausy Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-04-12 11:39] #8993 closed

[2021-04-12 11:47] nam31 commented on #9095
Closing via #9397
Thank you

[2021-04-12 11:47] #9095 closed

[2021-04-12 11:48] nam31 commented on #9115
@Erziram Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-04-12 11:48] #9115 closed

[2021-04-12 12:17] nam31 commented on #9265
@ConstantinLorenz Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-04-12 12:17] #9265 closed

[2021-04-12 12:59] nam31 commented on #9376
@haymansfield Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have m

[2021-04-12 12:59] #9376 closed

[2021-04-12 13:04] nam31 commented on #9346
@Shwet88 Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.
[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)
Thank you.

[2021-04-12 13:04] #9346 closed

[2021-04-12 13:06] nam31 commented on #9347
@rafalfitt Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have made

[2021-04-12 13:06] #9347 closed

[2021-04-12 14:45] lindspea commented on #9254
@Ladmo007 please let me know if this issue has been resolved by the link provided or information that @illfated provided?

[2021-04-12 17:25] MaratMussabekov commented on #9334
Hello @jaegerschnitzel ,
that's a really useful information, can you please share the source?
Thank you

[2021-04-12 17:32] MaratMussabekov commented on #9367
Hello,
yes, just adding "disable" and "enable" values would be much better and it would be consistent with other features. However, it is a product issue, not a documentation issue, the article just describes product as it is.
Thank you

[2021-04-12 17:37] MaratMussabekov commented on #9369
Hello, it is optional.
thank you

[2021-04-12 17:39] #6238 closed

[2021-04-12 17:47] #9395 closed

[2021-04-12 21:46] #9348 closed

[2021-04-12 21:57] Kateyanne commented on #6672
@illfated are you able to open a PR to include this information?

[2021-04-12 22:09] Kateyanne commented on #8753
@denisebmsft is this Issue ready to be closed now?

[2021-04-12 22:09] jaimeo commented on #6672
This article is retired. It is gone; no longer published. It does not exist.

[2021-04-12 22:09] #6672 closed

[2021-04-12 23:00] ChrisGuzak opened #9408 "Device based policy paths that are equivalent seems wrong"
From my reading the example seems wrong.

I suspect this intended to say this...
./Device/Vendor/MSFT/Policy/Config/AreaName/PolicyName
./Vendor/MSFT/Policy/Config/AreaName/PolicyName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef67aab0-cd98-5bd9-1285-14d6f6dcc881
* Version Independent ID: 12055585-601f-596b-8620-12

[2021-04-12 23:06] Kateyanne commented on #8828
@MaratMussabekov should we close this Issue now?

[2021-04-13 00:08] illfated commented on #8828
I am fairly certain this ticket is resolved in PR #9407 .

[2021-04-13 00:19] illfated commented on #9408
Not sure I follow what you are suggesting. The [important] note blob seems to explain it quite correctly as is:

![image](https://user-images.githubusercontent.com/38162891/114478469-9a709500-9bfe-11eb-9819-9ebd3547f8e8.png)

[2021-04-13 01:02] #8828 closed

[2021-04-13 02:30] narkissit commented on #8934
That's a great find.
The
sorry for the late response here, the notification from github went to my spam folder :(
The correct value is 10MB so this sentence should be:
"set Minimum Peer Caching Content File Size to **10** (if you have more than 30 devices)"

[2021-04-13 06:14] joinimran commented on #9345
Hello @DeanGross - Thank you for your query, Please note that access packages once ready are ready to be used. There is no wait time for this. But yes, you can setup the package life cycle to define the expiry of the package. See https://docs.microsoft.com/en-us/azure/active-directory/governance/entitlement-management-access-package-create#lifecycle for details.

Thanks
Imran.

[2021-04-13 06:15] lightupdifire commented on #9369
Hello @MaratMussabekov
What is the difference then between:
Protected domain and Corporate identity domain?
How they work together, they do the same thing? Can you please explain more?

[2021-04-13 07:02] joinimran commented on #9340
Hello @jandreacola - Thank you for rising your query. I have gone through both of the documents and other documents and it feels like that there the purple note should not be added in the document as there no other document talks about this. See another document https://docs.microsoft.com/en-us/azure/active-directory/devices/azureadjoin-plan#configure-your-device-settings for the same.

I would re

[2021-04-13 17:52] illfated commented on #9339
( ref. #9409 )

[2021-04-13 17:55] illfated commented on #8943
This ticket will automatically close when PR #8960 gets merged.

[2021-04-13 19:45] Spasman opened #9415 "batch commands"
The batch file code to clean the software dist folder has `ren` instead of `rem`
this counts as a job interview and you have to give me a salary now

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f058662-174b-59b0-9d35-2bed6f2d01c8
* Version Independent ID: eca080fd-582c-6570-c2ba-e5d1a0e3cdbd
* Content: [Prepare to d

[2021-04-13 22:22] #9304 closed

[2021-04-13 22:44] illfated commented on #9415
Not a valid issue. Looks more like a test comment than any actual issue.

#please-close

[2021-04-13 23:22] mapalko commented on #9292
It is also not clear to me why this specific detail is required for planning. It seems like it is more detail than needed for this particula article.

[2021-04-13 23:30] illfated commented on #1564
Should be resolved now via PR https://github.com/MicrosoftDocs/mdop-docs/pull/3

#please-close

[2021-04-13 23:48] zebulonsmith opened #9417 "There really needs to be some clarification somewhere about the difference between "Real-Time Protection" and "On-Access Protection." Both are configurable and this doc is the only reference to "On-Access Protection" but does not define what it does or why the two can be enabled independently of each other."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66b1ab2e-1964-5580-7c99-4bd4cd480075
* Version Independent ID: f7b5da46-04cb-3501-65fa-870a3c6f09b8
* Content: [Policy CSP - Defender - Windows Client Management](https://docs.microsoft.com/en-us/windows/client-management/mdm/policy-csp-defender#defen

[2021-04-14 06:42] AMeeus opened #9418 "This page mentions Windows 10 Mobile/Phone. That product has been retired years ago."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 286cc7cd-bdc1-a8ef-db31-429ea5f6a2a5
* Version Independent ID: baef37c3-ed11-b4cc-4ac0-19d08ee6e0f0
* Content: [Assign devices to servicing channels for Windows 10 updates (Windows 10) - Windows Deployment](https://docs.microsoft.com/en-us/windows/dep

[2021-04-14 15:32] jaimeo commented on #9415
Ren is correct; it's the rename command: https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/cc754276(v=ws.11)

[2021-04-14 15:32] #9415 closed

[2021-04-14 15:59] treestryder opened #9420 "Test-NetConnection and a list of Peers"
In the section titled "Clients aren't able to connect to peers offered by the cloud service" it is suggested to install the Telnet client to test a connection to a TCP port. This can also be done with the native Powershell cmdlet Test-NetConnection.

    Test-NetConnection -ComputerName 192.168.9.17 -Port 7680

Found this page while looking for a way to list Delivery Optimization Peers. As I belie

[2021-04-14 16:05] jaimeo commented on #9420
From https://docs.microsoft.com/en-us/windows/deployment/update/waas-delivery-optimization-setup#monitor-delivery-optimization

"Starting in Windows 10, version 2004, Get-DeliveryOptimizationStatus has a new option -PeerInfo which returns a real-time list of the connected peers."

[2021-04-14 16:21] Saibaschbeis opened #9421 ""Allow Update Compliance processing" GPO setting missing"
Information on the new (since Win10 1909) GPO setting "Allow Update Compliance processing" is missing.
If not set (= Not configured) - according to its description - Update Compliance is NOT allowed to process any data from the device.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37a5ef77-5d80-ce40-7243-c96f708e907c

[2021-04-14 16:44] jaimeo commented on #9421
@cinglis-msft can you look into this?

[2021-04-14 17:11] Saibaschbeis opened #9422 "Hyperlinks not working"
Hyperlinks on this site are not working (e.g. "configure custom policies" link).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c3e60ec-cf61-c34b-db79-74b13e3ee867
* Version Independent ID: fc5079f7-a563-c627-3a3e-eb84a99e4fd3
* Content: [New policies for Windows 10 (Windows 10) - Windows Client Management](https://do

[2021-04-14 19:10] greg-lindsay commented on #9387
I have a task in my backlog to update the process phases for Windows Setup. However, the preference now is to use the SetupDiag tool to analyze upgrade errors and not refer to the codes listed here. Sorry I cannot update this page at this time.

[2021-04-14 19:10] #9387 closed

[2021-04-14 19:15] treestryder commented on #9420
Thank you @jaimeo , so it does. Interesting. I am unsure who these peers are. Based on their IP addresses, they certainly are not on my network.

For others, that command would be very handy in the Troubleshooting section.

[2021-04-14 21:04] denisebmsft commented on #9422
Hello @Saibaschbeis and thank you for the feedback. This particular article isn't being updated, but here is a link you can try for information about configuring policies in Intune: https://docs.microsoft.com/en-us/mem/intune/protect/endpoint-security-policy

I hope this helps!

[2021-04-14 21:04] #9422 closed

[2021-04-14 21:10] #7920 closed

[2021-04-14 21:31] cinglis-msft commented on #9421
@Saibaschbeis, we are looking into this. Right now, this policy is _not_ required. It will be required in the future. GPO docs gave us away. :)

[2021-04-14 22:38] Kateyanne commented on #8934
@steve-pence would you like to open a Pull Request to change the documentation?

[2021-04-15 02:57] mattsmacblog opened #9423 "Enterprise / Education environment Scenario post about Win10 Home"
Can you clarify / make a Scenario post about what is pretty standard in the Enterprise / Education environment.  Which is:

We buy devices with Windows 10 Home because we have site-wide licenses for MS products and can "upgrade" / re-image via SCCM to Windows 10 Enterprise and KMS activate them.  This saves us $30-$40 per machine ordered.

Moving to Intune / MDM in a WorkFromHome world.  With Subs

[2021-04-15 03:56] illfated commented on #8557
( ref. #9419 )

[2021-04-15 04:12] illfated commented on #9417
@zebulonsmith : Thank you for creating this ticket. Could I ask you to edit this ticket by moving the entire title text to the main ticket comment, while leaving a shorter description in the title?

Suggestion for a title text:
- **Policy CSP - difference between "Real-Time Protection" and "On-Access Protection"**

[2021-04-15 07:02] DeployWindowsCom opened #9424 "Please clarify IoT Enterprise support"
Could you please clarify IoT enterprise support, SAC and LTSC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 162c8434-b3ab-e235-43ce-ed435d6cd06e
* Version Independent ID: 18b29b82-f1ad-81b8-2ea4-f7bebc506487
* Content: [Configuration service provider reference - Windows Client Management](https://docs.microsoft.com/en

[2021-04-15 07:13] steve-pence commented on #8934
I'm not familiar with this process of how the documentation is maintained.
I would certainly like to see it changed, but I don't want to be involved
in the details of how that happens. I just noticed the issue and reported
it.

Thanks,
Steve

On Thu, 15 Apr 2021 at 01:38, Kateyanne ***@***.***> wrote:

[2021-04-15 12:34] nam31 commented on #9182
Closing via #9401
Thank you

[2021-04-15 12:34] #9182 closed

[2021-04-15 12:36] nam31 commented on #9242
Closing via #9277
Thank you

[2021-04-15 12:36] #9242 closed

[2021-04-15 12:48] nam31 commented on #9189
Closing via #9411
Thank you

[2021-04-15 12:48] #9189 closed

[2021-04-15 12:54] #1564 closed

[2021-04-15 15:56] wmjdgla opened #9425 "Issues with linked PCPTool"
Under the section Use PCPTool to decode Measured Boot logs:
"PCPTool is part of the [TPM Platform Crypto-Provider Toolkit](https://www.microsoft.com/download/details.aspx?id=52487)..."

3 issues with this:
1. The description gives the impression that the tool can be run immediately after download. In fact the download is a Visual Studio solution and one has to build it themselves before they can r

[2021-04-15 16:03] illfated commented on #8934
Fair enough. I can easily do it, unless someone on the team simply wants to create a direct commit.

[2021-04-15 17:55] TinaMcN opened #9426 "<strong> tags not valid and causing localization issue"
This article contains a number or <strong> tags which are not valid .md syntax, probably left over from a previous conversion of this content
![image](https://user-images.githubusercontent.com/53281468/114915578-926c4d00-9dd8-11eb-8c5c-b6fd176af259.png)

According to the wiki topic (https://review.docs.microsoft.com/en-us/office-authoring-guide/contribute-how-to-write-use-markdown?branch=main) Bol

[2021-04-15 18:57] illfated commented on #9426
Below is a snippet from the relevant section in https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/windows/client-management/mdm/policy-configuration-service-provider.md

Please note that there are 10 pairs of `<strong>` / `</strong>` used in addition to MarkDown italics encapsulation.

There seems to be an issue with MarkDown **Bold** and _italics_ in the same sentence or line, makin

[2021-04-15 19:03] illfated commented on #9420
Correct me if I am mistaken, but isn't there an option to select if you want to allow connections to peers only on your local network or if you want to allow connections from everywhere outside as well?

[2021-04-15 19:07] TinaMcN commented on #9426
@illfated thanks for the info.  For your question about the Machine Translation, both MT and Human Translation are done on the .md files, not the published .html version.

[2021-04-15 20:04] Kateyanne commented on #8934
Hi @illfated please create a PR. Thank you!

[2021-04-15 20:51] illfated commented on #8934
There you go. PR #9427 is available for review, comments, and suggestions. We may want to let @JohanFreelancer9 check for possible grammar improvements now that we have the opportunity.

[2021-04-15 20:54] #8934 closed

[2021-04-15 20:59] illfated commented on #9426
Many thanks for confirming the source used in MT and HT. I will have another look into this tomorrow, since it's bedtime for me around now, hoping to find something additional to report back when I know more.

[2021-04-16 13:33] nam31 commented on #9190
Closing via #9412
Thank you

[2021-04-16 13:33] #9190 closed

[2021-04-16 15:10] carlosmayol opened #9429 "Details on events do not apply to Core install option"
I would like to have a note to highlight this does not apply to Core flavors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5da550e8-6065-7666-46b1-7bfb84ad775e
* Version Independent ID: ffbb3f81-73d3-c5e9-ca5a-abbb36320661
* Content: [Understanding Application Control event IDs (Windows 10) - Windows security](https:

[2021-04-16 15:23] treestryder commented on #9420
There is, but we are new to this and the options are not obvious. We are looking to restrict the peering to both PCs in our domain AND PCs on the same local area network. I see now that our chosen Download Mode "HTTP blended with peering across a private group (2)" will peer only with devices in our domain, however it will peer outside of the LAN. Not seeing an option that achieves both of our des

[2021-04-16 15:48] TwattyBollox commented on #9392
Hi ... why was this reopened?

[2021-04-16 16:17] e0i commented on #9417
@illfated It’s OK. The title is descriptive enough.

@zebulonsmith Under investigation. Thanks for the feedback.

[2021-04-16 16:26] e0i commented on #9426
@TinaMcN Hello Tina, I’m routing this to independent contributors and expect a fix soon. Thank you for the feedback, and stay safe.

[2021-04-16 17:13] MaratMussabekov commented on #9426
Hello, please have a look at https://github.com/MicrosoftDocs/windows-itpro-docs/pull/9430,
would it work?

Thank you

[2021-04-16 18:59] illfated commented on #9426
( ref. #9430 )

Well, at least it works here on GitHub, I just hope it is not limited to GFM. Anyway, it should work for the Machine Translation since MT uses the GitHub source for translation, so I have added my approval to the PR.

[2021-04-16 19:41] greg-lindsay commented on #9423
Thanks for bringing up this scenario. I am bringing it to the attention of the product team and based on what they say I'll try to update the article.

[2021-04-16 20:33] zebulonsmith commented on #9417
Thanks, all!

[2021-04-16 23:07] e0i commented on #9392
Hello, The PR haven’t had been merged by the time I have re-opened the issue. Closing now as it has been merged. Thank for following up.

[2021-04-16 23:07] #9392 closed

[2021-04-17 07:22] joinimran commented on #6606
Hello @mkuenzie - Thank you for your query on the document. Please note that as of now you can block the URLs as described in the documents you have mentioned. I know this is not an intuitive way. I would request you to raise your voice using the Microsoft User Voice channel. This will help to prioritize the implementation of this feature.

@e0i - FYI & A Please.

[2021-04-17 08:26] joinimran commented on #3550
Hello @kennethvs - Can you please confirm the reference document is the correct one as there is no information found regarding the script installation etc.

@e0i - FYI & A Please.

[2021-04-17 21:48] #6606 closed

[2021-04-18 02:38] renuac opened #9431 "Register HP50g"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34937b5e-eda3-9c93-c31b-0701ea61198a
* Version Independent ID: 36f54d9f-503d-ea0a-bff2-3441571f8d44
* Content: [Quick guide to Windows as a service (Windows 10) - Windows Deployment](https://docs.microsoft.com/en-us/windows/deployment/update/waas-quic

[2021-04-18 06:20] illfated commented on #6606
@joinimran : F.Y.I. : https://practical365.com/microsoft-decommits-user-voice/

https://practical365.com/

[2021-04-18 07:38] hyoshioka0128 opened #9432 "Broken "left side pane" (ja-jp)"
ja-jp:"https://docs.microsoft.com/ja-jp/windows/deployment/windows-10-poc"
![windows-10-poc_j](https://user-images.githubusercontent.com/40815708/115137968-2e5db900-a064-11eb-8edd-fb5c0f6c37e8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5fb2354-bc61-a5f7-3e73-456588847923
* Version Independent ID: 1825f737-868

[2021-04-18 15:46] illfated commented on #9432
Confirmed. This unfortunate behaviour is identical in the following pages:
- https://docs.microsoft.com/de-de/windows/deployment/windows-10-poc (Deutch)
- https://docs.microsoft.com/es-es/windows/deployment/windows-10-poc (Español)
- https://docs.microsoft.com/fr-fr/windows/deployment/windows-10-poc (Français)
- https://docs.microsoft.com/zh-cn/windows/deployment/windows-10-poc (Chinese (Simplifie

[2021-04-18 15:50] illfated commented on #9431
Looks like a test comment. No issue information presented above.

#please-close

[2021-04-18 21:36] Saibaschbeis commented on #9421
Great, thanks for the information 😊

From: Charles Inglis ***@***.***>
Sent: Wednesday, 14 April 2021 23:32
To: MicrosoftDocs/windows-itpro-docs ***@***.***>
Cc: Saibaschbeis ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/windows-itpro-docs] "Allow Update Compliance processing" GPO setting missing (#9421)

@Saibaschbeis <https://github.com/Saibaschbeis> , we are looking into this.

[2021-04-19 06:19] nam31 commented on #9365
@lericah Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.
[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)
Thank you.

[2021-04-19 07:46] nam31 commented on #9405
@ayushidera , can you please let us know the article you are referring to?

[2021-04-19 16:42] denisebmsft commented on #9432
@TinaMcN can you please take a look?

[2021-04-19 17:14] greg-lindsay commented on #9423
Hi - the answer I received is that Win10 Pro is the qualifying license for the Enterprise subscription. If you start with Home, it won't work (currently) to upgrade directly to Enterprise using Subscription Activation.  This might change in the future. I can't make any promises but the product team is aware of the scenario.

[2021-04-19 17:14] #9423 closed

[2021-04-19 19:56] TinaMcN commented on #9432
@denisebmsft this issue is actually caused by invalid <strong> tags in the English content, probably left over from a previous migration from .html to .md format.  <strong> is not valid for .md.  I see 153 instances of <strong> in the English content.  Can you please fix them?
![image](https://user-images.githubusercontent.com/53281468/115295388-8e109e80-a10e-11eb-8d2a-1acbcb246fda.png)

[2021-04-19 22:37] bmilbauer opened #9433 "Doesn't address greenfield Win10 Enterprise"
This article doesn't address the scenario of bare-metal imaging new machines with a Windows 10 Enterprise ISO, specifically where to get the key from a Windows 10 E3 or Microsoft 365 E3 license, and how to assign the license and activate Windows in that scenario. It seems to only address upgrading from Win10 Pro. I can't find the relevant info for me anywhere.

---
#### Document Details

⚠ *Do not

[2021-04-19 23:47] PaulTown opened #9434 "MFA Server is not required for WHFB"
[Enter feedback here]
The doc section https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-deployment-guide#assumptions seems to be suggesting MFA server is required for MFA.  However Azure MFA works just fine and is what is used most often these days.

We would like to see this verbiage corrected .

Change "Multi-factor Authentication Server to support MF

[2021-04-19 23:55] illfated commented on #9432
Raw source view for this document: https://raw.githubusercontent.com/MicrosoftDocs/windows-itpro-docs/public/windows/deployment/windows-10-poc.md

Sample from the section pictured in the comment above:
[code]
As you can see at the end of the code sample, the **bold** formatting tag `<strong> </strong>` can be replaced by `<B> </B>`, unless you want to have the entire HTML table encoding replaced w

[2021-04-20 00:10] illfated commented on #9405
@ayushidera : Without a link to the document where you have found this registry key, we are unable to do anything to improve the documentation.

To be clear, I am unable to locate any MicrosoftDocs documents containing that specific registry key, even when searching all of GitHub (public repositories). Are you sure you haven't confused any documents belonging to some other repository, maybe outsid

[2021-04-20 14:00] ChristopherHolloway commented on #6777
https://docs.microsoft.com/en-us/windows/security/identity-protection/smart-cards/smart-card-certificate-requirements-and-enumeration

The image still lives on the site and has not merged via PR at this time please correct at the earliest.

[2021-04-20 14:15] illfated commented on #6777
If the ticket had been opened correctly, it would have looked something like this:

***

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 132e8bfa-12ba-2ae0-7745-545bcfd909f1
* Version Independent ID: 984c17f4-04a4-bf30-3a9e-3af49209f0bb
* Content: [Certificate Requirements and Enumeration (Windows

[2021-04-20 14:23] illfated commented on #6777
- Document general date for last update change: 04/19/2017 (https://docs.microsoft.com/en-us/windows/security/identity-protection/smart-cards/smart-card-certificate-requirements-and-enumeration)
- Document commit (change log) history on GitHub: https://github.com/MicrosoftDocs/windows-itpro-docs/commits/public/windows/security/identity-protection/smart-cards/smart-card-certificate-requirements-and

[2021-04-20 16:22] sedelrio opened #9435 "Parsing Script Missing"
On the Audit only mode, there is a recommendation to dump the events to a common share, and also the instruction to use a script to parse the events, however the link to the script seems to not be available anymore, and also would be good to add a description about how to dump the Events (For instance, using Event forwarding GPO)

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-04-20 18:13] Dirk-Manderin opened #9437 "Deadline for patching"
A question regarding the statement 'This policy starts the countdown for the update installation deadline from when the update is published, instead of starting with the "restart pending" state as the older policies did.'.
If you are using a deferral for quality updates, does the countdown for the update installation begin when that referral expires, or from the actual date the update was publishe

[2021-04-20 18:21] jaimeo commented on #9437
@arcarley can you advise?

[2021-04-20 18:39] itsrlyAria commented on #9437
It starts from when the update is actually offered to the device. For example, if you have deferrals - the update is not offered until after your deferral period has elapsed. Therefore the deadline will be based upon the date when you deferrals elapsed.

That said @jaimeo has this page been updated to reflect the updates I shared with you? If not, let's discuss getting those updates live as that w

[2021-04-20 19:21] mjcaparas commented on #9331
I believe the sheet has now been updated.

[2021-04-20 19:23] #9331 closed

[2021-04-20 22:46] TinaMcN commented on #9000
@Alaladdin this article has now been translated by a human.  Can you please confirm if it's fixed now?

[2021-04-20 22:47] TinaMcN commented on #7058
@ATR-Master Der Artikel wird nun von einem Menschen übersetzt.  Können Sie bitte überprüfen, ob das Problem jetzt behoben ist?

[2021-04-20 22:50] Alaladdin commented on #9000
yes, now everything is fine

[2021-04-20 23:02] TinaMcN commented on #9000
@Alaladdin thank you for confirming and thanks again for reporting the issue.  Let me know if you notice any other issues in the Russian translations.   Can you please close this issue now?

[2021-04-21 01:38] obaidanwarshaikh commented on #9331
yes the links are there now, thanks.

[2021-04-21 10:25] #9000 closed

[2021-04-21 11:32] sbv2291 opened #9438 "Subject Name (CN) with special characters"
Our {{OnPrem_Distinguished_Name}} value is having a comma and hence it's not able to generate the certificate. Our DN looks like below

Example DN: CN="LastName\, FirstName,OU=UserAccounts,DC=corp,DC=contoso,DC=com"

I found below an article that says to add quotes in CN value but not able to find a way to use it as the value for {{OnPrem_Distinguished_Name}} is generating automatically from AD co

[2021-04-21 17:28] pranayb703 opened #9439 "Count of virtual smart card registered/created apart from listing"
Since there is a limit for Virtual smart card creation/registration like only 10 cards can be created/registered , I need  a way to count the number of cards registered so that I can display a message saying already 10 cards registered and take a different action.

Thanks for the help!

[2021-04-21 18:04] denisebmsft commented on #9439
Hello @pranayb703 and thank you for posting your feedback here. Can you please tell us to which article(s) your question applies? This will help us route the issue correctly. Thank you!!

[2021-04-21 21:14] pranayb703 commented on #9439
Hello Denise,

I am creating/registering new virtual cards ,  I saw there is way to get
all the virtual card list on the device using wmic command, its regarding
development I need to allow the user to allow/restrict creation of virtual
smart cards

Thanks,
Pranay

On Wed, Apr 21, 2021 at 11:04 AM Denise Vangel-MSFT <
***@***.***> wrote:

--

Thanks and Regards,
*Pranay G Bhandarkar*
Print only if

[2021-04-22 12:08] MaratMussabekov commented on #9235
Hello,
**this article was last updated 3 years ago** - it was edited many times since then (last change was 3 month ago), but for some reason the date attribute of the article wasn't updated.
**Are you 100% saying it is not possible \ supported to set the DSCP tags in a hybrid Azure AD joined machine via intune?** - yes, it is not supported yet

**It is this sentence
"Currently, this CSP is not su

[2021-04-22 12:37] sbv2291 commented on #9438
Able to fix the issue. Can you please consider adding below two points in the DOC so it helps everyone in future.

Main credit goes to Cici Wu-MSFT : https://docs.microsoft.com/en-us/answers/questions/364488/windows-hello-for-business-certificate-issue.html

Point 1: If {{OnPrem_Distinguished_Name}} is having comma in CN value then Subject name format must be CN="{​​​​​​​​{​​​​​​​​OnPrem_Distingui

[2021-04-22 18:45] identityiskey opened #9443 "Lots of unclarity here"
[Enter feedback here]
There is a lot of unclarity here
==> For the OnPrem PIN Reset
1. Screenshots are missing for the user experience
2. How long does it take after the PIN reset until fingerprint and PIN can be reused to sign-in - after our tests there is a delay (about 30 minutes). It is unclear what is the issue for the delay (domain controller replication, azure replication, ADFS etc.???)
3.

[2021-04-22 18:56] identityiskey opened #9444 ""Smartcard feature (including user certificate)" is missing in "Windows Hello for Business features" section"
[Enter feedback here]
Not for this page but for the "Windows Hello for Business features" (1 level up)

a) I miss the "Smartcard feature" enabled with Windows Certificate Trust described here:
- It should stated that Windows Hello could be used for Smartcard purposes (= User ceritficate). Please describe the features that it can be used for:
- Authentication against IIS Websites?
- Authentication

[2021-04-22 19:00] identityiskey opened #9445 "Too many wrong PIN attempts - description missing."
[Enter feedback here]
Hi there is a section missing that describes what happens if there are too many wrong PIN attempts. Does the account get blocked? Does the Input be throttled? Is the TPM reset? Consequences are unclear at all.
Also from a security perspective - which Windows Event IDs we can look for for wrong PIN inputs to get a central overview over our organization?

All the best

---
####

[2021-04-22 20:43] illfated commented on #9426
PR #9430 has been merged now, so I hope we will be seeing any improvement soon.

[2021-04-22 20:54] illfated commented on #9426
Checked translated versions of the document, the following pages look good:
- https://docs.microsoft.com/zh-cn/windows/client-management/mdm/policy-configuration-service-provider (简体中文/Chinese-Simplified)
- https://docs.microsoft.com/zh-tw/windows/client-management/mdm/policy-configuration-service-provider (中國傳統的/Chinese-Traditional)
- https://docs.microsoft.com/de-de/windows/client-management/mdm

[2021-04-22 22:29] mattsmacblog commented on #9423
Thanks Greg, it would be great to know if this is on the roadmap.  As it effects purchasing...  Current OS = Enterprise KMS, underlying Digital Key that we never care about is Home.  Subscription Activate seems to ignore the Enterprise KMS part and goes oh this must be some Home Users device even though it's in Intune, Azure or Domain bound etc... etc...  ie clearly not a Home PC...

[2021-04-23 13:18] dovicsak opened #9446 "Dead Link to Local Administrator Password Solution"
Under the section "Create unique passwords for local accounts with administrative rights", the second bullet point includes a link that is not working. The link for download points to https://www.microsoft.com/download/details.aspx?id=46899 but clicking on this link returns a 404 error in the Download Center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-04-23 14:39] ElizabethGreene opened #9447 "Can we clarify what versions of Windows do not (yet) have SSUs built into the monthly cumulative update?"
In the "Simplifying on-premises deployment of servicing stack updates" section, can we make it more clear that the SSU's are only included in the cumulative updates for 2004 and 20H2, and that older revisions of Windows 10 still require the independent SSU?  If you aren't looking for that distinction it's very easy to overlook.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-04-23 17:50] learningdaily opened #9448 "Interactive Logon Machine Inactivity Limit - 1 Second"
[Enter feedback here]
Using the Settings Catalog to deploy a Device Configuration Profile. The LocalPoliciesSecurityOptions/InteractiveLogon_MachineInactivityLimit Setting incorrectly applies to Windows 10 systems.

Enabling the setting forces the "inactivity" time limit to be 1 second. I believe Windows is looking for an integer, like 15 minutes or 900 seconds, not a 0 or 1.

From Local Group Pol

[2021-04-23 21:00] #9426 closed

[2021-04-23 21:11] TinaMcN commented on #9426
@illfated @MaratMussabekov thanks very much for your help with this.

[2021-04-23 21:39] TinaMcN opened #9449 "<strong> tags causing issue in localized articles"
The following English articles contain <strong> tags which are not valid .md syntax.
https://docs.microsoft.com/en-us/windows/client-management/mdm/diagnosticlog-csp
https://docs.microsoft.com/en-us/windows/client-management/mdm/provisioning-csp
https://docs.microsoft.com/en-us/windows/client-management/mdm/proxy-csp
https://docs.microsoft.com/en-us/windows/client-management/mdm/win32appinventory-

[2021-04-23 21:40] TinaMcN commented on #9426
There are a few more articles with the same issue, I opened this new issue: https://github.com/MicrosoftDocs/windows-itpro-docs/issues/9449

[2021-04-23 22:24] TeamTerry opened #9451 "This document needs updating to point people to Endpoint Manager - not the Azure Portal"
Screenshots also need updating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7df27add-73fe-4f0b-7e30-face0f95cda3
* Version Independent ID: 3ec647d9-3470-8d8b-a941-d56f6522a35e
* Content: [Create a Windows Information Protection (WIP) policy with MDM using the Azure portal for Microsoft Intune (Windows 10) - Microsof

[2021-04-24 09:59] illfated commented on #9449
There you go. PR #9452 is available for copy review, comments, and suggestions.

[2021-04-24 15:48] MaratMussabekov commented on #9408
Hello, I believe author meant that they are equivalent to the paths above, not equivalent to each other.
I will create a PR
Thank you!

[2021-04-24 16:21] illfated commented on #9408
Fair enough, thank you for interpreting the issue ticket differently from my interpretation. 👍🏻

[2021-04-24 19:47] illfated commented on #9418
( ref. #9454 )

[2021-04-25 21:18] illfated commented on #9446
### Local Administrator Password Solution (LAPS)

- https://www.microsoft.com/en-us/download/details.aspx?id=46899

Please test the linked page again. The page is available to me, using the following browsers:
- Mozilla Firefox 88.0 (64 bit)
- Microsoft Edge Version 90.0.818.46 (Official build) (64-bit)
- Google Chrome Version 90.0.4430.85 (Official Build) (64-bit)

![image](https://user-images.gi

[2021-04-26 06:13] nam31 commented on #9405
@ayushidera We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve. Thank you.

[2021-04-26 06:13] #9405 closed

[2021-04-26 08:12] RAJU2529 commented on #9446
@dovicsak . link is working fine, just now I downloaded those tool

[2021-04-26 08:16] RAJU2529 commented on #9447
@ElizabethGreene . SSU updates are not included in v2004 and 20h2 too. We have to download separately from  Microsoft update catalogue official website. Each SSU must installed before installing CLU on windows 10 OS.
I have own experience from 1803 onwards

[2021-04-26 12:52] JuGhithub opened #9456 "Windows 10 Iot entreprise is it supported by WUFB?"
I need to manage Windows 10 IOT enterprise 2016 and 2019 with Intune to manage Software Updates.

WUFB can support Windows 10 IOT Enterprise (LTSC and SAC?)

Tank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c09aa9f9-959c-479b-f727-03f292e92b0a
* Version Independent ID: 4664a228-83be-157b-fc75-45abe14abc27
* Cont

[2021-04-26 13:37] ElizabethGreene commented on #9447
Thanks for replying.  The permanent advisory for servicing stack updates is [Microsoft's MSRC Advisory: ADV990001](https://msrc.microsoft.com/update-guide/en-us/vulnerability/ADV990001).  According to it, if you have the January 2021 SSU, KB4598481, for Windows 10 2004 or 20H2 then you should get all future SSUs inside the cumulative update.  I had a customer that thought all versions of Windows 1

[2021-04-26 14:49] dovicsak commented on #9446
Maybe there was a temporary outage on Friday. The link is also working for me now.

[2021-04-26 14:49] #9446 closed

[2021-04-26 18:16] lturn9 opened #9458 "Credential Guard Disable"
Edition	Windows 10 Home
Version	20H2
Installed on	‎3/‎26/‎2021
OS build	19042.928
Experience	Windows Feature Experience Pack 120.2212.551.0

[Enter feedback here]
Tried to disable Credential Guard but rec'd an error saying "DG
_Readiness_Tool_ver3.6.psl" is not recognized as an Internal or External Command, operable program or Batch File.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-04-26 19:38] CronoMkI opened #9460 "Incorrect information"
"Dell Inc" should be "Dell Inc."
If you forget the period, the driver injection doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb440d06-32d1-c982-7736-0588cb4d8718
* Version Independent ID: 37cfa729-ee6d-3af4-dbbd-547797e37397
* Content: [Build a distributed environment for Windows 10 deployment (Windows

[2021-04-26 20:31] illfated commented on #9460
I tried looking for the text "Dell Inc" on that page, but could not find it. Maybe I did not look carefully enough, but normal search (Ctrl-F) did not find it.

Could you point to where on the page this typo is located?

[2021-04-26 21:50] GenerAhl opened #9461 "Unclear difference between "browse the directory structure" and "open folders""
For the section "If you enable this setting, users can browse the directory structure of the selected drives in My Computer or File Explorer, but they cannot open folders and access the contents. Also, they cannot use the Run dialog box or the Map Network Drive dialog box to view the directories on these drives." what is the difference between "users can browse the directory structure" and "they c

[2021-04-26 22:09] illfated commented on #9461
Fair question. Looks like a good suggestion.

Maybe we just need to verify how it needs to be written to adhere to Microsoft Docs conventions, and to clarify the actual difference between
- Browse the directory structure (setting Enabled)
- Open folders and access the contents (setting Disabled)

Looking forward to suggestions from the tech writers to how this can be clarified properly.

[2021-04-26 22:51] greg-lindsay commented on #9460
This is a good catch. The doc isn't this one however, it is deploy-a-windows-10-image-using-mdt.md

[2021-04-26 23:12] greg-lindsay commented on #9460
Fixed

[2021-04-26 23:12] #9460 closed

[2021-04-27 11:27] nam31 commented on #9408
Closing via #9453
Thank you

[2021-04-27 11:27] #9408 closed

[2021-04-27 11:27] nam31 commented on #9418
Closing via #9454
Thank you

[2021-04-27 11:27] #9418 closed

[2021-04-27 11:38] MaratMussabekov commented on #9390
Hello,
asymmetric keys are used, keys are exchanged during [TLS handshake](https://docs.microsoft.com/en-us/windows/win32/secauthn/tls-handshake-protocol)
also recommend to read [this article](https://social.technet.microsoft.com/wiki/contents/articles/2980.ldap-over-ssl-ldaps-certificate.aspx)

Thank you

[2021-04-27 15:12] RAJU2529 commented on #9458
@lturn9 .. THis tool will not execute by ordinary command, you must to do special commands
first  copy  **DG_Readiness_Tool_ver3.6.ps1**   to  **C:\DG**
open windows PowerShell with admin rights
then type  below line
**cd C:\DG**
then type  below line
** .\DG_Readiness_Tool_v3.6.ps1**

[2021-04-27 15:21] RAJU2529 opened #9463 "this powershell script is working fine"
Tool version is 3.7.  I confirmed this PowerShell script is working fine on windows 10 enterprise  21H1 19043.962 64bit.
Thanks to all authors for writing this correct script.
Good Luck to all authors
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c12e9c4a-af05-9ecd-a791-ac89aa43787c
* Version Independent ID: 76517523-a

[2021-04-27 15:49] RenanZampier opened #9464 "Como descobrir a lista de usuarios em cache? Logon Interativo Windows 10"
Como faço para descobrir que um determinado login esta em cache ?
O caso era que um determinado computador precisava de suporte remoto, porém o software da VPN estava corrompido/com erro.
Como Usuários não possuem perfil ADM, como poderíamos verificar outros perfis de usuários em cache (Logon Interativo) para informar a senha e/ou solicitar que outro usuário do setor faça o login.

Ainda não desco

[2021-04-27 16:26] bean1310 opened #9465 "Mistranslation into Japanese in the "Trusted Boot" chapter"
I found a mistranslation shown below in the "Trusted Boot" chapter:
- Original: "Trusted Boot takes over where Secure Boot leaves off. "
- Japanese: 「セキュア ブートがオフになっている場合は、トラスト ブートが後を引き継ぎます。」

I think an appropriate translation is 「セキュア ブートの後、トラスト ブートに引き継がれます。」.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 0d30d792-78bc-d594-ea45-5ca6b29dec72
* Vers

[2021-04-27 16:38] illfated commented on #9465
I sort of suspected that this might happen, sooner or later, just did not know when. Is it mistranslated as "trustworthy footwear" or "the mountain hiking boot that can be relied on"? It would not surprise me if it did. 😉

@TinaMcN : Looks like the Machine Translation needs to be checked to see if it can be improved, or just have the section translated by a human.

By the way: Here is the direct l

[2021-04-27 16:46] illfated commented on #9464
Use uma instância de suporte real, como o Suporte da Microsoft ou os Fóruns da Microsoft. Este repositório se destina apenas ao aprimoramento da documentação.

Gostaria de poder ajudar, mas este repositório não se destina a problemas regulares de suporte, solicitações de suporte ou perguntas de suporte.

Isenção de responsabilidade: não sou afiliado à Microsoft ou às equipes do Microsoft Docs aqui

[2021-04-27 16:51] illfated commented on #9464
How do I find out that a particular login is cached?

The case was that a particular computer needed remote support, but the VPN software was corrupted/in error.

Because Users do not have an ADM profile, as we could check other profiles of cached users (Interactive Login) to enter the password and/or request that another user in the industry log in.

I haven't figured it out yet

***
( Translatio

[2021-04-27 17:03] #9464 closed

[2021-04-27 18:06] TinaMcN commented on #9465
@bean1310 thanks for reporting it.  It appears to be a machine translation issue.  I sent the article to be human translated and it should be completed in approx. 3 days.

[2021-04-28 00:04] TinaMcN opened #9467 "<strong> tags causing issue in more localized articles"
As described in https://github.com/MicrosoftDocs/windows-itpro-docs/issues/9449 there are a number of windows/client-management files which contain <strong> tags which are not valid .md syntax.  In addition to the files in that issue we found more which are causing the translated TOCs and page layout to look crazy.  Hopefully this will be the last of them.

windows-docs-pr/windows/client-managemen

[2021-04-28 00:16] illfated commented on #9467
Thank you for providing this list of document pages where this issue is present. Sure, I am happy to help. I just need to start it tomorrow, since it is already long past my bedtime at this hour. I am fine with changing all of them in one PR or create separate PRs for all of them, so feel free to suggest which method you prefer that I should use.

Using local source on my computer and Git Extensio

[2021-04-28 00:23] TinaMcN commented on #9467
@illfated this can definitely wait until tomorrow!  I think all in one PR is probably easier but I don't have a strong preference.  Really appreciate your help with these issues!

[2021-04-28 18:18] carlosmayol opened #9469 "Needs update, active/stage folders does not exist on 1607 or 1809"
Please update this page to use the refresher tool for versions prior 1903 or multi policy support and for systems with only legacy support.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abfc58da-2ac1-e8b7-b4e7-8f61e7f103ab
* Version Independent ID: 2dfd2a31-cf0d-8a11-94da-842792f892d1
* Content: [Deploy Windo

[2021-04-28 19:57] #9463 closed

[2021-04-28 20:01] #9390 closed

[2021-04-28 20:05] #5362 closed

[2021-04-28 20:05] #6322 closed

[2021-04-28 20:19] e0i commented on #7058
I have manually verified that the plural suffix has been revised accordingly. Thank you for the feedback.

[2021-04-28 20:19] #7058 closed

[2021-04-28 20:22] #8557 closed

[2021-04-28 20:30] #3550 closed

[2021-04-28 22:23] illfated commented on #9467
There you go. PR #9474 is ready for review, comments, and suggestions.

[2021-04-29 08:58] dbona75 opened #9475 "Correct procedure to change the password"
[Enter feedback here]

Hello ,

the procedure to change the PIN is wrong.  Log on with the old pin or password, press Ctrl+Alt+Del and choose “Change a password”, click "sign in options", click the virtual smart card icon, change the pin.

the affected paragraph is "change PIN"

regards

dabona@microsoft.com
Customer Engineer - Identity and Security
Thanks

---
#### Document Details

⚠ *Do not edi

[2021-04-29 16:28] illfated commented on #9475
Thank you for pointing out the omission. Would you be so kind as to comment again (or edit your ticket) to add a link to which chapter, paragraph, or section this affects?

[2021-04-29 16:58] dbona75 commented on #9475
Hello

Thanks for asking

Change the pin

Regards

Da: Trond B. Krokli ***@***.***>
Inviato: Thursday, April 29, 2021 6:29 PM
A: MicrosoftDocs/windows-itpro-docs ***@***.***>
Cc: Daniele Bona ***@***.***>; Author ***@***.***>
Oggetto: Re: [MicrosoftDocs/windows-itpro-docs] Correct procedure to change the password (#9475)

Thank you for pointing out the omission. Would you be so kind as to comment

[2021-04-29 18:16] nam31 commented on #8982
Closing via #9413
Thank you

[2021-04-29 18:16] #8982 closed

[2021-04-29 18:19] nam31 commented on #9375
Closing via #9470
Thank you

[2021-04-29 18:19] #9375 closed

[2021-04-29 18:25] nam31 commented on #9340
@jandreacola Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-04-29 18:25] #9340 closed

[2021-04-29 18:25] nam31 commented on #9345
@DeanGross Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-04-29 18:25] #9345 closed

[2021-04-29 19:27] illfated commented on #9475
Very well, a simple search for that term points to the table in this section:

- https://docs.microsoft.com/en-us/windows/security/identity-protection/virtual-smart-cards/virtual-smart-card-use-virtual-smart-cards#create-and-delete-virtual-smart-cards-programmatically

## Create and delete virtual smart cards programmatically

Virtual smart cards can also be created and deleted by using APIs. For

[2021-04-29 19:35] illfated commented on #9475
Hmm. I am somewhat in doubt here. The table lists features, not procedures.

Is the feature really _named_ "Log on with the old pin or password, press Ctrl+Alt+Del and choose “Change a password”, click "sign in options", click the virtual smart card icon, change the pin." ?

[2021-04-29 19:43] MFisherIT opened #9477 "Script Missing - Link Unhelpful"
The link to the script "Events 16962 - 16969 Reader" still point to the gallery.technet.microsoft.com. Navigation is redirected to docs.microsoft.com/en-us/samples/browse. Searching for script at "Browse Code Samples" page returns zero results. The page will need to be updated and/or the script link corrected:

Link is as follows and likely found between lines 90 and 100 of "network-access-restric

[2021-04-29 19:44] dbona75 commented on #9475
Hello , this is the part to modify :

***@***.***D73D40.773A26E0]

In

The PIN for virtual smart card can be changed by logging with the old pin or password, pressing Ctrl+Alt+Del and choose "Change a password", click "sign in options", click the virtual smart card icon, change the pin.

The article says :

This topic for the IT professional describes requirements for virtual smart cards, how to u

[2021-04-29 19:47] dbona75 commented on #9475
Hello,

I am just telling that this procedure is not correct ... nothing to do with working programmatically

Changing the PIN

The PIN for virtual smart card can be changed by pressing Ctrl+Alt+Del, and then selecting the TPM virtual smart card under Sign in options.

Here the real way to do that

How to change the PIN of a smart card - My Smart Logon<https://www.mysmartlogon.com/knowledge-base/c

[2021-04-29 20:09] illfated commented on #9477
(similar issue ticket to #9435 [**Parsing Script Missing**](https://github.com/MicrosoftDocs/windows-itpro-docs/issues/9435))

[2021-04-29 20:11] illfated commented on #9435
( A new ticket, #9477, has recently been opened to point out a similar issue to this one. )

[2021-04-29 20:12] illfated commented on #9398
( ref. PR #9406 )

[2021-04-29 20:27] e0i commented on #9435
Under investigation. Thanks for the reference.

[2021-04-29 22:56] jsuther1974 commented on #9469
I updated the topic with pre-1903 instructions along with the existing instructions for 1903+. This should address the request.

[2021-04-30 00:42] ebraiter opened #9479 "Working with other virtualization products"
How does the Sandbox work with other virtualization products like VMware Workstation or Oracle VirtualBox?
I read somewhere that Sandbox and older versions of VMware Workstation causes issues. Still the case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c06f3ef-5946-862a-ae14-f897fdb518ca
* Version Independent ID: c

[2021-04-30 03:20] danielklenda85 commented on #9467
Hello what is this?

On 4/29/21, Daniel Klenda ***@***.***> wrote:

[2021-04-30 11:03] nam31 commented on #9434
Closing via #9472
Thank you

[2021-04-30 11:03] #9434 closed

[2021-04-30 11:07] nam31 commented on #9469
@carlosmayol your issue seems to be resolved. Can we close this?

[2021-04-30 11:09] #9431 closed

[2021-04-30 11:12] nam31 commented on #9439
@pranayb703 can you please provide link to the article you are referring to ?

[2021-04-30 17:17] illfated commented on #9467
@danielklenda85 : I can't find anything pointing to why you should have been subscribed to this thread, but feel free to unsubscribe by using the button **[Unsubscribe]** on the right hand side of this GitHub page:

![image](https://user-images.githubusercontent.com/38162891/116730331-ae7f0980-a9e8-11eb-94db-ddc3d870d204.png)

[2021-04-30 17:52] e0i commented on #9475
Under investigation. Thank you for the feedback.

[2021-04-30 19:17] mapalko commented on #9443
For on-prem PIN reset, what is the deployment type (key trust or cert trust)? In on-prem PIN reset, the existing user key is deleted and a new key is provisioned. For hybrid deployments, the key is always registered to Azure AD and then synced to AD. This occurs during a normal AAD sync cycle, which is usually every 30 minutes. If you are using key trust, the key needs to sync to AD before the use

[2021-04-30 20:07] joinimran commented on #5361
@carloreggiani - Thank you for your query. Please note that you can enable WSUS updates and it and enable the policy Turn off Access to all Windows Update Features. This information is also available in the document here at Turn off Access to all Windows Update Features.

Thanks.

@e0i  FYI Please.

[2021-04-30 20:27] joinimran commented on #6883
@PriyaKOMA - There is a note section describing the required details. Please ensure that S2S sync is enabled as it can only fetch the information using S2S sync.

The note section has more details on this. If you are having any issue after enabling S2S sync, I would suggest you to contact MS support team.

Thanks
Imran.

@e0i - FYI&A Please.

[2021-05-01 11:18] illfated commented on #9433
@MaratMussabekov : This looks similar to things you have provided answers to in the past. Would you be able to suggest some answers or see if the documentation needs improvement here?

[2021-05-01 21:37] fredphoesh opened #9482 "Method 1 misses the main step!"
Method 1 does  not include the step to do a startup repair!!!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fc264df-cbd1-ac1f-3926-841fcab7dc31
* Version Independent ID: 67c2aea4-0d28-3d8e-e935-8af05291c94e
* Content: [Advanced troubleshooting for Windows boot problems - Windows Client Manageme

[2021-05-01 23:11] bcb44 opened #9483 "Wrong Event IDs"
This page says that the product these IDs are for is Windows 10 but I think it uses event IDs that are for Windows Server 2000 and Windows 2003 and XP. The other pages in this section (basic auditing) are mixed with whether they use the correct IDs or not

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 641c6a4f-906f-5f8

[2021-05-01 23:13] illfated commented on #9482
(Here is the referenced documentation content:)

- https://docs.microsoft.com/en-us/windows/client-management/advanced-troubleshooting-boot-problems#method-1-startup-repair-tool

***

The Startup Repair tool automatically fixes many common problems. The tool also lets you quickly diagnose and repair more complex startup problems. When the computer detects a startup problem, the computer starts the

[2021-05-02 00:45] illfated commented on #9448
Good point. Looks like the text …

***

Valid values:
- 0 - disabled
- 1 - enabled (session will lock after amount of inactive time exceeds the inactivity limit)

***

… could easily have been copy-pasted from one of the previous sections.

You are right, those lines go against the preceding text:

***

Default: not enforced.

Value type is integer. Supported operations are Add, Get, Replace, and

[2021-05-02 06:09] brendan-mccoy opened #9484 "Windows 10 reference image: Doc doesn't indicate needed KB for success"
This page should indicate that KB4564442 should be used if using the latest generally available versions of ADK and MDT.

As a side note, the instructions for that KB lead me to a bootimage that wouldn't boot (just blinked on a _  on a black screen). Clearing the contents of the boot directory and generating new boot images allowed me to generate new boot images with the new .dlls.
---
#### Docume

[2021-05-02 09:52] illfated commented on #9161
( ref. https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4866 )

[2021-05-03 03:14] MaratMussabekov commented on #9433
Hello @bmilbauer ,
**This article doesn't address the scenario of bare-metal imaging new machines with a Windows 10 Enterprise ISO** - Windows 10 Enterprise E3 in CSP doesn't work this way. You should install Windows 10 Pro, then user who has Microsoft 365 E3 license must login to it. Then Enterprise features become available.
Thank you

[2021-05-03 03:56] MaratMussabekov commented on #9447
Hello @ElizabethGreene ,
 **can we make it more clear that the SSU's are only included in the cumulative updates for 2004 and 20H2** - the article states "The combined monthly cumulative update will be available on Windows 10, version 2004 and later". It looks like it is clear that all versions prior to 2004 do not have this feature.
 **If you aren't looking for that distinction it's very easy to

[2021-05-03 05:17] MaratMussabekov commented on #9192
Dear @tmlyon ,
if it is not currently possible to fix this link, may be we should temporarily remove it, to avoid confusion?
Thank you

[2021-05-03 06:03] MaratMussabekov commented on #9362
Hello, I also checked, and if I run workbench using the user that I used in [Configure database permissions](https://docs.microsoft.com/en-us/windows/deployment/deploy-windows-mdt/use-the-mdt-database-to-stage-windows-10-deployment-information#configure-database-permissions), I also cannot create an object in database.
Dear @greg-lindsay, can you please confirm?
Thank you

[2021-05-03 08:12] carloreggiani commented on #5361
Sorry @joinimran, not sure to understand: I'm still looking for any viable policy to enable Microsoft Store (Business version in my case) downloads AND control the client update via our internal WSUS service, not from a direct internet connection from each client.

I opened also support tickets regarding this problem, it seems not possible to disable internet download for windows updates AND keep

[2021-05-03 16:23] jaimeo commented on #5361
@arcarley would you have any helpful info for this issue?

[2021-05-03 16:30] itsrlyAria commented on #5361
Hi @carloreggiani have you tried simply setting ONLY specify a WSUS server? (Make sure you don't configure deferrals, disable dual scan or disable all Windows Update UX features). Then you should be scanning WSUS and getting Store updates (which do have their own set of policies as well you should reference)

[2021-05-03 18:27] TinaMcN commented on #9465
The article has been human translated but the issue isn't fixed yet.  I have asked the translators to fix it.

[2021-05-04 05:58] harmonix-tm opened #9488 "これでは内容が読めない"
改善を求めます。
![なぜ見終わる前に聞くのか](https://user-images.githubusercontent.com/50851391/116965568-1d11df00-ace9-11eb-9fdb-b382ce9cdab0.jpg)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 1cb9f2a2-76ad-8301-7d80-e33a7bb80a1b
* Version Independent ID: dd070c32-53d5-53d6-7ba2-a4361b5263bb
* Content: [Windows Update の一般的なエラーと軽減策 - Windows Deployment](https://docs.mi

[2021-05-04 11:10] MaratMussabekov commented on #9369
Hello @lightupdifire ,
they are the same. Corporate identity is the primary one, any additional domain that is also used for identity could be added as "protected domain".
Thank you

[2021-05-04 11:19] lightupdifire commented on #9369
Hello @MaratMussabekov
So as an example we have 4x managed domains:
1. qwe.com
2. asd.com
3. zxc..com
4. iop.com

The iop.com is the primary one, so we will add it to the Corporate identity domain section.
If we will not add 1-2-3 domains in the protected domains, the data still is encrypted and it shows the Corporate identity domain "iop.com".
If we add the 1-2-3 domains in the protected domains,

[2021-05-04 11:24] illfated commented on #9488
This issue is slightly different from the earlier ones. The page appears to show the content correctly if your browser view is set to 100%.

To reproduce the issue above, you need to **increase the view resolution**, i.e. **magnify the view to 125% or greater** (as if you need to blow up the view to see it from afar, or as if you have got bad eyesight).

[2021-05-04 11:41] illfated commented on #9488
Oh, and by the way, just to let you know: This issue is present in any language, including US English:
- https://docs.microsoft.com/en-us/windows/deployment/update/windows-update-errors

If you are using an external pointing unit with a scroll wheel, **hold down the Ctrl key while scrolling**, to zoom in and out in the browser magnification view.

[2021-05-04 12:14] illfated commented on #9192
Looks like a good suggestion. The page has not seen any new updates since January.

[2021-05-04 16:23] illfated commented on #9448
( ref. #9486 )

[2021-05-04 17:21] dstrome commented on #9488
@harmonix-tm @illfated - I'm not able to reproduce this issue. I've tried multiple browsers, languages, articles, zoom levels, and window sizes. The "Is this helpful" pane doesn't draw over any content. Looking at the screenshot above, the pane also doesn't draw over the introductory text above the table.

What you may be experiencing is the table width exceeding the size of the content pane. As t

[2021-05-04 18:20] nam31 commented on #9399
Closing via [#4838](https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4838)
Thank you

[2021-05-04 18:20] #9399 closed

[2021-05-04 18:26] nam31 commented on #9360
Closing via #9468
Thank you

[2021-05-04 18:27] #9360 closed

[2021-05-04 18:35] nam31 commented on #9288
@desinnic  Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-04 18:35] #9288 closed

[2021-05-04 18:39] nam31 commented on #9334
@jaegerschnitzel We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-05-04 18:45] nam31 commented on #9200
Closing via #9267
Thank you

[2021-05-04 18:45] #9200 closed

[2021-05-04 18:53] nam31 commented on #9292
@msft-jaiverma Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-04 18:53] #9292 closed

[2021-05-04 19:26] illfated commented on #9488
Oh. I see. Good call. That is exactly what is happening. Thank you.

The table manages to stay within the central part of the page up to 110%, but as soon as you reach 125% or higher, it becomes a sideways scrollable section.

[2021-05-04 19:32] illfated commented on #9488
@harmonix-tm : Please confirm that this is the same as you are seeing. I am able to see what has been described above in any language, so this is not a bugged page per se, only a limitation due to the table taking up most of the page space.

オンライン機械翻訳サービスを使用して翻訳：/ Translated using an online machine translation service :

これがあなたが見ているものと同じであることを確認してください。 上記の内容はどの言語でも見ることができるので、これ自体はバグのあるページではなく、ページス

[2021-05-05 13:15] RAJU2529 commented on #9482
I am going to edit this article now

[2021-05-05 13:58] VLG17 commented on #9400
@RichardvanNuland When we talk about MFA with Multi-factor Unlock it's in the context of Windows Hello, meaning we are talking about protecting **identities**, not the device where you are logging on to using your identity. So what the article describes is correct, related to protecting identities.

The scenario that you are describing, although a valid one, refers to the device itself, which shou

[2021-05-05 14:09] ADNinja opened #9491 "S-1-5-17 is not 'This Organization' but IUSR"
S-1-5-17 is not 'This Organization' but IUSR. Looks like a copy-paste mistake.
Correct on this page: https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-dtyp/81d92bba-d22b-4a8c-908a-554ab29148ab

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44e911d3-219e-19b8-4870-07514d9a94a1
* Version Independent ID: 960

[2021-05-05 17:20] TinaMcN commented on #9465
@bean1310 this should be fixed now, can you please check to see if it looks ok now?  If so, please close it.  Thanks again for reporting this issue!

[2021-05-05 17:47] htcfreek opened #9493 "GPO list for Win10"
Please add a list of all gpos for Windows 10 like you have for Microsoft Edge and update it on every admx change.

[2021-05-05 20:05] tmlyon commented on #9192
I believe the corrected link should be https://software-download.microsoft.com/download/pr/6cf73b63/Microsoft-Windows-Holographic-Desktop-FOD-Package~31bf3856ad364e35~amd64~~.cab
I haven't yet tested to verify though. Unclear how this got corrupted in file delivery though.

[2021-05-05 20:17] afield1235 commented on #9084
@nam31 @MaratMussabekov
 I have this issue as well. We switched from Mobility and Security E3 + Microsoft Business Standard to now Business Premium and 50% of our laptops are having the exacty same check in Issue. Why is this even a problem? Embarrasing.

Can we re-open this??????

[2021-05-06 06:51] johne-landfall opened #9496 "PS command to get XML output does not work"
PS command to get XML output does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90843710-ba95-4eba-a69b-473e013877be
* Version Independent ID: 4a41937a-d268-8503-1860-16a25e327cc1
* Content: [EAP configuration - Windows Client Management](https://docs.microsoft.com/en-us/windows/client-management/mdm/eap-conf

[2021-05-06 07:39] idominiki opened #9497 "Set up School PC - Local Administrator Account / Password"
Hello together,
I just used the Set Up School PCs App to configure our PCs.

I don't want to connect to an Azure AD, so I choosed "Continue without account" under "Login".
![Bildschirmfoto 2021-05-06 um 09 38 09](https://user-images.githubusercontent.com/62521486/117259907-cb836480-ae4e-11eb-8785-a1ffc559a019.png)

After the successful installation and configuration I can login as guest user. Also

[2021-05-06 08:43] identityiskey commented on #9443
A:
Actually the one test case I described was cert trust and default PIN reset (Destructive). After about 30 minutes to 1 Hour I was able to log in again with fingerprint / PIN. And after some time the Self Signed Certificate came back but never the one from our PKI. So the smartcard auth functionality is not really back.

B: Does that mean that you can also switch to Azure based PIN reset on alre

[2021-05-06 09:07] bean1310 commented on #9465
LGTM!
Thanks for this fix!

[2021-05-06 09:07] #9465 closed

[2021-05-06 09:58] Digiroka opened #9499 "Contradictory Proxy Information"
The information on this page is contradictory:

https://docs.microsoft.com/en-us/windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure#proxy-servers
**PROXY SERVER TEXT:**
Specify the proxy servers your devices will go through to reach your cloud resources. **Using this server type indicates that the cloud resources you’re connecting to are ent

[2021-05-06 11:15] illfated commented on #9491
Please forgive my ignorance, but where did you find `S-1-5-17` on the reported page? I am only able to find 20 occurrences of `S-1-5-21` and 30 occurrences of `S-1-5-32`.

- https://docs.microsoft.com/en-us/windows/security/identity-protection/access-control/active-directory-security-groups

[2021-05-06 11:51] VLG17 commented on #9329
@SergGu  I see both the docs and [the blog](https://techcommunity.microsoft.com/t5/microsoft-defender-for-endpoint/multi-tenant-access-for-managed-security-service-providers/ba-p/1533440) you commented on talk about using: **https://securitycenter.Microsoft.com/?tid=<CustomerTenantId>**

And you pointed out that **https://security.microsoft.com?tid=customer_tenant_id** worked for you.

Are you say

[2021-05-06 12:09] ADNinja commented on #9491
Sorry, wrong article!

[2021-05-06 12:09] #9491 closed

[2021-05-06 12:50] PeteRicha commented on #2483
@ericcsinger: I have the same issue. Did you ever solve it? Did you have Device Guard enabled.

[2021-05-06 13:08] joinimran commented on #8656
Hello @PsychoData - Thank you for raising your concern, Please note that the document now has a link that is specific to SID structures and their values, please see https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-dtyp/81d92bba-d22b-4a8c-908a-554ab29148ab this link is also added in the document for future reference.

Specific to the character usage, there are many other peoples havi

[2021-05-06 14:32] Tyler-H commented on #4467
This is pretty bad; we had Enterprise 2016 LTSB machines forced to upgrade today and they went to 20H2 Pro. No upgrade from LTSB to LTSC?

[2021-05-06 15:44] mapalko commented on #9443
For A, do you know why the enrollment failed? For example did you reset without line of sight to the CA/enrollment authority?

For B, You can turn Azure based PIN reset on for existing enrollments. After the policy is set, we can create the reset protector post provisioning the next time the user signs with their pin and authorizes their keys.

For C, we can work on adding those. It was quicker to

[2021-05-06 17:00] felizondojr opened #9501 "Get-TPM"
I would add Get-TPM cmdlet to the section on how to validate TPM information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d919cb35-d493-3da2-f90a-2c8440266d57
* Version Independent ID: 4aa3eea4-9311-d21a-35ee-ed8e9498b10e
* Content: [BitLocker overview and requirements FAQ (Windows 10) - Microsoft 365 Security](http

[2021-05-06 17:45] denisebmsft commented on #9497
Hello @idominiki. Can you please tell us to which article(s) your feedback applies? It looks like you might actually have a case for technical support, rather than a documentation issue.

[2021-05-06 17:46] denisebmsft commented on #9493
Hello @htcfreek. Can you please tell us to which article(s) your feedback applies? This information will help us route the issue correctly. Thank you!

[2021-05-06 18:08] htcfreek commented on #9493
There doesn't exists any article like I suggested.

I think an article like the existing one for [MS Edge](https://docs.microsoft.com/de-de/DeployEdge/microsoft-edge-policies) would help admins while configure Windows 10. There isn't any information about all GPOs for Windows 10 and there is no information what has changed from feature update to the next feature update too.

[2021-05-06 18:12] idominiki commented on #9497
Hi @denisebmsft

Thanks for your help! I looked here but don't found an answer.

https://github.com/MicrosoftDocs/windows-itpro-docs/blob/a8deac4c441fd632da54e7cf5e75a1151a2e2e4e/education/windows/set-up-school-pcs-shared-pc-mode.md

How can I contact the technical team?

Greets
Dominik

[2021-05-06 18:35] mjcaparas commented on #9329
@SergGu Please refer to: https://docs.microsoft.com/en-us/microsoft-365/security/defender/mssp-access?view=o365-worldwide#manage-access

[2021-05-06 18:35] #9329 closed

[2021-05-06 19:04] illfated commented on #9501
Seems like a good idea. Will you be making a Pull Request to have the document updated?

[2021-05-06 19:31] felizondojr commented on #9501
Oh, I can actually make the change? Cool! Are there a set of instructions/procedures I need to follow?

​Regards,

Fernando Elizondo
Microsoft CE - Modern Work
+1 (469) 7754712
***@***.***
________________________________
From: Trond B. Krokli ***@***.***>
Sent: Thursday, May 6, 2021 2:04 PM
To: MicrosoftDocs/windows-itpro-docs ***@***.***>
Cc: Fernando Elizondo ***@***.***>; Author ***@***.***>
S

[2021-05-06 19:45] jgallucci32 opened #9506 "Azure MFA using WHFB no longer supported"
We were informed by MSFT support today that following these instructions when using Azure AD Connect even though it is fully functional is no longer supported. Please update the documentation to provide a warning to users wanting to use the on-premise model with Azure MFA using Azure AD Connect that they cannot use this method. Instead they must re-deploy with one of the Hybrid models.

---
#### D

[2021-05-06 20:22] illfated commented on #9501
Well, I have been using GitHub for more than 6 years, so it has been more or less obvious and self-explanatory to me. Then again, I presume it is a learning curve for newcomers.

In your case, I would recommend having a firm idea where to place the text and code you want to ad, so you are prepared before diving into the document source.

The source page in question is the following: https://github

[2021-05-06 20:27] illfated commented on #9501
Please also note: One of the advantages of creating a Pull Request in the public pages (in contrast to the internal Microsoft private repository) is that there is usually someone on hand to follow up the PR you create, as well as providing improvement suggestions or reviewing your PR before merging.

[2021-05-06 20:39] illfated commented on #9506
Thank you for this feedback. Do you still have the MS Support ticket number stored somewhere, in case any of the Microsoft Docs team members would like to ask for it later? (I don't need it, I just thought I should check, just in case.)

I also presume someone from the MS Docs team of tech writers will post questions at a later time.

[2021-05-06 20:42] illfated commented on #9506
( ref. https://github.com/MicrosoftDocs/windowsserverdocs/issues/5519 )

[2021-05-06 20:46] illfated commented on #9497
To be exact, these are the pages in question:
- https://docs.microsoft.com/en-us/education/windows/set-up-school-pcs-shared-pc-mode
- https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/education/windows/set-up-school-pcs-shared-pc-mode.md

(The docs.microsoft.com page in question does not have a Feedback or "This page" reporting button.)

[2021-05-06 22:33] #8656 closed

[2021-05-06 22:34] #6883 closed

[2021-05-06 22:54] e0i commented on #9501
Hello @felizondojr Thank you for your interest in contributing to the IT Pro repository!

The repository could definitely use some help in the `bitlocker` topic areas. When you create a PR by following the steps as advised, your contribuions will be reviewed and approved.

Thanks again, and we are looking forward to your contributions.

@illfated Thank you for the introduction and your helpful com

[2021-05-06 23:00] e0i commented on #9497
Hello, @idominiki

You may contact support through this link for this specific problem: [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

The feedback form that you have submitted this feedback from is for issues related to the technical documentation. Please feel free to re-open this issue if you feel there is something wrong with the article.

Than

[2021-05-06 23:00] #9497 closed

[2021-05-06 23:02] jgallucci32 commented on #9506
@illfated Yes the ticket number is 2104260010006727

[2021-05-06 23:19] e0i commented on #9192
@tmlyon Thank you for providing the much needed info! An independent contributor is going to revise the article with your suggestion.

[2021-05-07 04:07] illfated commented on #9506
@e0i : FYI - maybe invite one of the tech writers or the page author to have a look at the report?

[2021-05-07 06:16] denimike commented on #9493
I see it that way to and would be happy about such an article

[2021-05-07 13:35] RichardvanNuland commented on #9400
I am a bit lost about this response. With Windows Hello for Business you want to protect the identities. This applies for both user A and user B. The issue here is that the (access key to the) identity can be retrieved by only using the PIN. And the PIN is always the fallback factor. What other authentication methods can prevent this? What is the Microsoft solution to provide true MFA to the (acce

[2021-05-07 16:13] nam31 commented on #9493
@htcfreek Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have made

[2021-05-07 16:13] #9493 closed

[2021-05-07 16:17] nam31 commented on #9439
@pranayb703 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve. Thank you.

[2021-05-07 16:17] #9439 closed

[2021-05-07 16:51] RAJU2529 commented on #9496
@johne-landfall . Powershell command clearly works i confirmed after testing on my windows 10 21H1 64bit  laptop.

![Capture](https://user-images.githubusercontent.com/3296790/117482853-9a0bb580-af82-11eb-8b8d-50a84d3ee246.JPG)

[2021-05-07 18:37] illfated commented on #9496
In terms of expressions used in IT, "does not work" is too generic and not specific enough to express what you mean. You may want to be more precise to express exactly what "does not work" means in this context.

[2021-05-07 18:53] nam31 commented on #9458
@lturn9 Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.
[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)
Thank you.

[2021-05-07 18:53] #9458 closed

[2021-05-08 01:49] afield1235 opened #9509 "New Microsoft Business Premium License - Intune Policies have Remediation Error"
Every since we switched to Business Premium License, several of our Intune Windows Configuration Profiles have Remediation Errors. All of our existing laptop users who originally had a Mobility and Security E3 license who now have Business Premium have no issue.

Any new users who are starting out with Business Premium are having the remediation issue. We are audited and the fact these errors are

[2021-05-08 02:09] MaratMussabekov commented on #9369
Hello,
**If we add the 1-2-3 domains in the protected domains, the data will be the encrypted same way?** - yes
**And the Corporate identity domain "iop.com" will be still shown on the encrypted data?** - yes
Thank you

[2021-05-08 15:38] htcfreek commented on #9493
@nam31
 Done: https://aka.ms/AAcfso4

[2021-05-08 19:32] joinimran commented on #8222
@mapalko - Can you please suggest any changes required in this document that can handle the customer concern?

@e0i - FYI & A Please.

[2021-05-08 20:22] joinimran commented on #9496
Hello @johne-landfall - Thank you for putting your query here. Can you please share more details on what exactly is not working for you. Can you please try running the command with Administrative privileges to see how it goes? If you can share more details with screenshot may help us to better guide you.

Thanks.
Imran.

[2021-05-10 08:35] lightupdifire commented on #9369
@MaratMussabekov Thanks for the information, maybe good to add in FAQ? If not, then I will close this case.

[2021-05-10 08:35] #9369 closed

[2021-05-10 09:23] nam31 commented on #9161
Closing via MicrosoftDocs/microsoft-365-docs#4866

[2021-05-10 09:23] #9161 closed

[2021-05-10 22:33] Daniel-t opened #9511 "Clarification of version/feature compatibility"
Please clarify which versions of Windows Server and Windows 10 have access to which features.

Specifically (but not limited) , Rule Option 14 (Intelligent Security Graph) which we are being told by MS support isn't availing in Server 2016, but is in Server 2019+

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74ef7917-

[2021-05-10 22:39] Daniel-t opened #9512 "Clarification of version compatability"
The "Applies to" section says that this applies to Windows Server 2016 and above, however the Windows 10 version quoted is 1709, and we are being told by MS support that this feature isn't available until Windows Server 2019.

Please change the "Applies to" to refer to Windows Server 2019 rather than Server 2016, to avoid future customer confusion.

---
#### Document Details

⚠ *Do not edit this s

[2021-05-11 13:36] CsbGymGSju commented on #8974
Anything new?  This is a huge problem.

[2021-05-11 14:53] carlosmayol commented on #9469
Awesome Jeffrey, thanks for the quick update!

@nam31  yes looks good to me.

[2021-05-11 17:02] ModQuadWarren opened #9515 "A connection to the deployment share could not be made. can not reach deployroot"
This is the error I get when I start the REFW10X64-001 virtual machine and connect to it using DHCP from DC01.
I can ping and UNC to the depolyment share from HV01 Server and verified the MDT_BA user account has full control permissions for the share as well.

Why is this happening?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-05-11 17:21] ModQuadWarren commented on #9515
MY BAD!
My Hyper-V switch was set to 'Internal' giving the VM a class-B private IP instead of one on our local network.
Closing.

[2021-05-11 17:21] #9515 closed

[2021-05-12 04:39] bobert13581 opened #9516 "duplicate instructions"
section 6 (in the 2nd set of steps) in 'Configure Certificate Superseding for the Domain Controller Authentication (Kerberos) Certificate Template' is duplicating the instructions found immediately after in 'Unpublish Superseded Certificate Templates'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 800b8090-65a9-da9f-a9

[2021-05-12 07:59] illfated commented on #9516
Possibly 4 years old information, depending on which individual parts of the text you refer to.

Original document, from commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/1ef5e46e08c1a1c1a727b31348eaebf17cf12835:
- https://github.com/MicrosoftDocs/windows-itpro-docs/commit/1ef5e46e08c1a1c1a727b31348eaebf17cf12835#diff-83898d1110fb9584b454946a4426718dc93edd60c15173fabc6ae4c2c42dc733

[2021-05-12 16:20] ModQuadWarren opened #9517 "8 errors and 3 warnings were reported"
Followed the guide exactly as written, with the exception of changing the domain, admin password, using 'Education' instead of 'Enterprise,' and updated WSUS to our local server address.

I've tried this process on two different newly imaged MDT Servers, 2 different HV Servers using 2 different ISOs.
Firewalls are disabled just to rule that out. All permissions are correct - everything looks exact

[2021-05-12 17:55] ModQuadWarren commented on #9517
Following up with some error codes:
**In the BDD.LOG file, there are these errors:**
  Console > Failure when attempting to copy boot files.	ztiRunCommandHidden	5/12/2021 12:42:38 PM	0 (0x0000)

FAILURE ( 5616 ): 15299: Verify BCDBootEx	LTIApply	5/12/2021 12:42:38 PM	0 (0x0000)

Litetouch deployment failed, Return Code = -2147467259  0x80004005	LiteTouch	5/12/2021 12:42:38 PM	0 (0x0000)

**There a

[2021-05-12 19:22] grnathan opened #9518 "Two links to the same article?"
This article has a 'Note' section containing the text:

`AppLocker is a defense-in-depth security feature and not a security boundary. Windows Defender Application Control should be used when the goal is to provide robust protection against a threat and there are expected to be no by-design limitations that would prevent the security feature from achieving this goal.`

"not a security boundary" an

[2021-05-12 21:10] ModQuadWarren commented on #9517
I just wanted to follow up on this - the crux of the problem was this error: Fix Failure (5616): 15299: Verify BCDBootEx
Basically, the new ADK (2004) breaks the task sequence in MDT.

The fix was [this](https://www.deploymentresearch.com/making-mdt-work-with-windows-adk-2004-for-bios-machines/) This process injects a script after the  New Computer/Verify step in Task Sequence.
Issue resolved! I n

[2021-05-13 08:15] naykroveg opened #9521 "Description text for "KeyUsage" is duplicated under "EKUMapping"."
Description text for "KeyUsage" is duplicated under "EKUMapping".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba73a4d0-cfe2-e988-58ba-ead197ea2e30
* Version Independent ID: 3070acc3-ea72-f425-3179-b4d26baf7027
* Content: [ClientCertificateInstall CSP - Windows Client Management](https://docs.microsoft.com/en-us/wind

[2021-05-13 09:49] dbona75 opened #9523 "Please add a note"
Please add this note in Countermeasure part : if the a service account is configured in log on properties of a windows service it requires the network log on rights to the domain controllers, to start properly.

Daniele Bona
Security & Identity

dabona@microsoft.com

[2021-05-13 11:19] nam31 commented on #9420
Closing via #9492
Thank you

[2021-05-13 11:19] #9420 closed

[2021-05-13 17:45] illfated commented on #9523
@dbona75 : May we know which document article you are referring to?

[2021-05-13 17:57] illfated commented on #9521
Sorry for being so slow to see what you mean. I had to swap back and forth between the search terms and read through the sections for 10 minutes until I finally saw what you may be referring to:

***

**ClientCertificateInstall/SCEP/*UniqueID*/Install/EKUMapping**
Required. Specifies extended key usages. Subject to SCEP server configuration. The list of OIDs are separated by a plus <strong>+</stro

[2021-05-13 19:49] illfated commented on #9521
Just to sum up: I presume the text we need to remove is the following (as shown in the diff below) :

[code]

[2021-05-13 19:54] illfated commented on #9521
I would also like to mention that **any MarkDown pages** still using the HTML tags \<strong\> \</strong\> (as well as the \<em\> \</em\> tags) need to have those tags replaced with real MarkDown code to avoid causing Machine Translated pages to break due to formatting issues during translation, based on the content in the GitHub .md files.

Due to how Machine Translation works, it is safe to say t

[2021-05-13 20:11] dbona75 commented on #9523
https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/deny-access-to-this-computer-from-the-network

[2021-05-13 20:22] naykroveg commented on #9521
Yes, that is what I meant. Also, note that the actual description for **ClientCertificateInstall/SCEP/UniqueID/Install/KeyUsage**
is missing the data type part: "**Data type is int**"

[2021-05-13 20:24] timbrigham-onecall opened #9524 "WDAC managed installer instructions missing a step"
Within configure-wdac-managed-installer.md there is at least one missing step.

After creating the applocker policy document AppLocker_MI_PS_ISE.xml there is no further reference to what do with this file once the edits are complete. I believe this needs to include a "Set-AppLockerPolicy xxx" or similar statement.

[2021-05-13 21:11] illfated commented on #9523
Thank you. Normally, if the issue had been reported via the **[:octocat: This page]** button in the Feedback section, the primary ticket comment post would have contained the following descriptive text:

***

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 192bc7af-26af-6a5e-ac99-ad133b1a4081
* Ver

[2021-05-13 21:23] illfated commented on #9523
Preliminary draft of the MarkDown code necessary to add such a Note blob:

[code]
Note: Even though there is a visual line break in this view, the sentence will be contiguous in the colored Note blob.

[2021-05-13 21:26] illfated commented on #9521
Thank you very much. I did not notice that detail before you mentioned it. I just noticed that when the datatype is string, there is no "Supported operations are" paragraph.

[2021-05-13 21:30] TechPro33 opened #9525 "Not Deleting Infected Files."
Why isn't the Microsoft Safety Scanner deleting the infected files it finds during the scan??? Like it finds 400 Files Infected but yet at the end it says No Infected Files Found.  Then I run it again and it still finds 400 Files Infected.  Also the log file says no Infected Files Found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-05-13 21:42] illfated commented on #9525
That seems very odd, could it be that your computer is infected with software blocking MSS from actually removing the discovered infections? If so, maybe the malware on your computer is so devious that it traps parts of the MSS processes and stops it before it can complete the scan.

If I were you, I would definitely consider unplugging your computer, shutting it down and use a different computer

[2021-05-14 06:06] dbona75 commented on #9523
Perfect for me !

Scarica Outlook<https://aka.ms/qtex0l> per iOS
________________________________
Da: Trond B. Krokli ***@***.***>
Inviato: Thursday, May 13, 2021 11:23:40 PM
A: MicrosoftDocs/windows-itpro-docs ***@***.***>
Cc: Daniele Bona ***@***.***>; Mention ***@***.***>
Oggetto: Re: [MicrosoftDocs/windows-itpro-docs] Please add a note (#9523)

Preliminary draft of the MarkDown code necessary

[2021-05-14 12:38] TechPro33 commented on #9525
No I think the program is not working correctly.

[2021-05-14 13:47] RAJU2529 commented on #9518
@grnathan . Thanks for pointing out. I removed security boundary link

[2021-05-14 14:10] RAJU2529 commented on #9524
@timbrigham-onecall .which article are talking about  Applocker or WDAC

[2021-05-14 14:13] #9192 closed

[2021-05-14 14:13] #8574 closed

[2021-05-14 14:14] RAJU2529 commented on #9524
@timbrigham-onecall . Simply you can download  WDAC  wizard tool, and  create policy and configure

[2021-05-14 14:16] timbrigham-onecall commented on #9524
@RAJU2529 , I was referring to this specific documentation.

https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/windows/security/threat-protection/windows-defender-application-control/configure-wdac-managed-installer.md

There are detailed instructions on creating AppLocker_MI_PS_ISE.xml for the creation of a managed installer, but there are no instructions within that document (or a

[2021-05-14 14:21] RAJU2529 commented on #9524
@timbrigham-onecall , read Enable the managed installer option in WDAC policy

[2021-05-14 14:25] timbrigham-onecall commented on #9524
I'm familiar with the Set-RuleOption and Set-CIPolicyIdInfo commands, and they are applicable to the code integrity configuration files..

I believe those instructions are intended for the working file that is from
"Copy the DefaultWindows_Audit policy into your working folder from C:\Windows\schemas\CodeIntegrity\ExamplePolicies\DefaultWindows_Audit.xml".. which is not AppLocker_MI_PS_ISE.xml

[2021-05-14 14:27] RAJU2529 commented on #9524
@timbrigham-onecall , Codeintegrity  folder contains default .bin file and it belongs to WDAC

[2021-05-14 17:11] illfated commented on #9525
Fair enough, that could also be a possible alternative. Maybe we need a newer version of the application to resolve this issue, but I don't know. I hope someone from the tech writer team could have some suggestions on how to move forward with this issue ticket.

[2021-05-14 18:06] greg-lindsay commented on #9517
Hi @ModQuadWarren I will add this support link to the article, thanks for figuring out the resolution - sorry for the slow response.  I am updating the article today and you should see the change tomorrow. Thanks again!

[2021-05-14 18:06] #9517 closed

[2021-05-14 18:50] illfated commented on #9518
( ref. #9528 )

[2021-05-14 20:04] denisebmsft commented on #6734
The docs have been updated with links to the new articles. https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/use-group-policy-microsoft-defender-antivirus?view=o365-worldwide

[2021-05-14 20:06] denisebmsft commented on #8753
The assigned writer is still working on this. I will update this work item as soon as the content fixes are in. @Kateyanne thank you for your help managing these!

[2021-05-14 21:29] timmontague commented on #9025
@Reeced40 That document does not mention "remote applications integrated locally" (RAIL) mode which was demonstrated in the video at 26:48. In RAIL mode an application running in the Sandbox is integrated with the host OS and the Sandbox desktop is not shown. https://docs.microsoft.com/windows/security/threat-protection/windows-sandbox/windows-sandbox-configure-using-wsb-file does not explain how

[2021-05-14 21:38] timmontague opened #9529 "Sandbox documentation missing RAIL mode"
In the Sandbox overview video embedded in https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/windows/security/threat-protection/windows-sandbox/windows-sandbox-overview.md it demonstrates "remote applications integrated locally" (RAIL) mode at 26:48. In RAIL mode an application running in the Sandbox is integrated with the host OS and the Sandbox desktop is not shown. The Sandbox conf

[2021-05-14 21:38] timmontague commented on #9529
Duplicate:  #9025

[2021-05-16 08:25] illfated commented on #9523
There you go, PR #9531 is now ready for review, comments, and improvement suggestions.

[2021-05-16 09:35] illfated commented on #9499
@Digiroka : In what way is the text contradictory? I am afraid I don't see the implication you refer to. Have I missed something important?

### Proxy servers

Specify the proxy servers your devices will go through to reach your cloud resources.
Using this server type indicates that the cloud resources you’re connecting to are enterprise resources.

This list shouldn’t include any servers listed i

[2021-05-17 08:07] VLG17 commented on #9326
@NicklasHalme The steps described in the article are for Microsoft Endpoint Manager. which Configuration Manager is part of.

![image](https://user-images.githubusercontent.com/41186174/118453326-c0a6ba80-b6ff-11eb-9ef5-55d485e4acd8.png)

The last paragraph from section "Use Microsoft Endpoint Manager to turn on cloud-delivered protection" contains the [link you mentioned](https://docs.microsoft.c

[2021-05-17 09:41] Digiroka commented on #9499
@illfated

The contradiction is:

Proxy servers:
Using this server type indicates that the cloud resources you’re connecting to **are enterprise resources**.

Internal proxy servers
This list shouldn’t include any servers listed in your Proxy servers list.
**Proxy servers must be used only for non-WIP-protected (non-enterprise)** traffic.

So - are proxy servers used for enterprise or non-enterpri

[2021-05-17 09:44] illfated commented on #9499
Good question. Thank you for providing the clarification.

[2021-05-17 13:38] wander1992 opened #9533 "MFA MDM enrollment Hybrid Azure AD joined"
Hi :)

We used this page to enable MDM for Hybrid Azure AD joined computers. We found out that a lot of computers were enrolling correctly but some did not. We thought that it had nothing to do with MFA because a lot of computers were enrolling without any issues. The notifications for the MFA prompt were never showed on the computers that did not enroll.

A lot of people experience the same issue

[2021-05-17 16:56] yossibanai opened #9534 "Link seems to be broken"
This link at the end of the article: Microsoft Defender for Endpoint](https://www.microsoft.com/windowsforbusiness?ocid=docs-fileless), seems to be broken. The page it links to is the generic Windows 10 page, and has nothing to do with Microsoft Defender for Endpoint.

[2021-05-17 16:58] #9523 closed

[2021-05-17 19:25] illfated commented on #9534
Are you talking about the page **Windows 10 devices for business** (https://www.microsoft.com/en-us/windowsforbusiness) — or are you talking about some other page where there is a link pointing to that page?

If the latter is correct, then please tell us which page this is about. It is possible that you have missed the reporting button.

[2021-05-17 23:32] yossibanai commented on #9534
Sorry, I thought my content will include the information about the source page.

The page I was reading is https://docs.microsoft.com/en-us/windows/security/threat-protection/intelligence/fileless-threats#feedback. The broken link I'm referring to is in this paragraph:

Defeating fileless malware
At Microsoft, we actively monitor the security landscape to identify new threat trends and develop sol

[2021-05-17 23:54] kafold opened #9536 "Add registry location to documentation and its detail"
[Enter feedback here]
The page does not mention the registry location backed by the group policy.
Group Policy : Computer Configuration\Windows Settings\Security Settings\Local Policies\Security Options.

I was looking into the [CIS Windows Server 2019 benchmark v1.2.0](https://workbench.cisecurity.org/files/3238) and in section 2.3.5.4 of the former document the registry location for this policy

[2021-05-18 00:07] kafold opened #9537 "Add registry location to doc for Domain controller: Refuse machine account password changes"
[Enter feedback here]
The page does not mention the registry location backed by the group policy.
Group Policy : Computer Configuration\Policies\Windows Settings\Security Settings\Local Policies\Security Options\Domain controller: Refuse machine account password changes.

I was looking into the [CIS Windows Server 2019 benchmark v1.2.0](https://workbench.cisecurity.org/files/3238) and in section 2

[2021-05-18 04:44] illfated commented on #9534
https://docs.microsoft.com/en-us/windows/security/threat-protection/intelligence/fileless-threats#defeating-fileless-malware

Thank you, that helps a lot. If you had used the button **[**:octocat: **This page ]** as in the image below;

![image](https://user-images.githubusercontent.com/38162891/118591057-d40b6180-b7a3-11eb-8145-c8203e278b4d.png)

it would have produced the accompanying text:

***

[2021-05-18 10:58] kolonuk opened #9539 "No way to disable TPM..."
Need a method to disable TPM if there is no "Turn Off" option.

[2021-05-18 14:54] #9227 closed

[2021-05-18 15:20] #9380 closed

[2021-05-18 15:37] e0i commented on #9496
Hello, @johne-landfall The description is too vague for contributors to follow up with, and one of the commenters haven’t been able to reproduce the issue.

Further, we track down documentation issue in this repository so ;please refer to the [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10).

Also feel free to re-open this issue if there is anything

[2021-05-18 15:37] #9496 closed

[2021-05-18 15:43] #9235 closed

[2021-05-18 15:43] #9362 closed

[2021-05-18 16:04] denisebmsft commented on #9539
Hello @kolonuk. Thank you for posting your feedback here. Can you please tell to which article(s) this applies? It'll help us route this issue to the correct writer/team.

[2021-05-18 16:07] denisebmsft commented on #8753
My colleague has updated this article and it looks like this issue has been addressed. Thank you @darioongit for raising this and everyone for your help!

[2021-05-18 16:07] #8753 closed

[2021-05-18 16:17] jsnyder33 opened #9540 "Missing System/AllowUpdateComplianceProcessing"
Documentation is missing "System/AllowUpdateComplianceProcessing" which is required for Update Compliance as of 5/10/2021.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c833e5b-0fcf-2ace-a90a-3270286d23a9
* Version Independent ID: 64afbc38-e7cc-fc14-9d57-1cd119b2395d
* Content: [Policy CSP - System - Windows Client M

[2021-05-18 16:57] e0i commented on #9501
Patching this to an independent contributor as there haven't a PR. Thanks for the discussion.

[2021-05-19 07:26] darioongit commented on #8753
Thank you so much for your support!!!
________________________________
From: Denise Vangel-MSFT ***@***.***>
Sent: Tuesday, May 18, 2021 6:07 PM
To: MicrosoftDocs/windows-itpro-docs ***@***.***>
Cc: Dario Brambilla ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Explain better the ASR pre-req (#8753)

My colleague has updated this article and it looks like this i

[2021-05-19 09:56] joinimran commented on #9417
Hello @zebulonsmith - Thank you for putting your query. Please note that Real-time protection ensures that activities include events, such as processes making unusual changes to existing files, modifying or creating automatic startup registry keys and startup locations (also known as auto-start extensibility points, or ASEPs), and other changes to the file system or file structure.

Whereas On-Acc

[2021-05-19 10:36] joinimran commented on #9424
Hello @DeployWindowsCom - Thank you for writing your query. I was going through your query and the document and it makes me confused about what exactly you are looking for? What sort of support you are looking for in IoT. https://docs.microsoft.com/en-us/windows/client-management/mdm/configuration-service-provider-reference#csps-supported-in-windows-10-iot-core explains the supported CSP for IoT c

[2021-05-19 11:41] joinimran commented on #9425
Hello @wmjdgla - Thank you for raising your concern. For 1 part, I have created a PR. For the rest of the points, please open a support case with Microsoft so that can be taken care of by the development team.

Thanks.
Imran.

@e0i - FYI Please.

[2021-05-19 12:39] Reittier opened #9546 "Duplicate/Error in Options Column of GPO-Table"
The descriptions (Option column) of the GPO settings

"Allow favorites sync"
and
"Allow extensions in the container"

in the table are a duplicate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ad59e7d-574d-7bd5-3fc9-a9656e186258
* Version Independent ID: e827f939-99b2-31e7-b65a-ee3ad499573e
* Content: [Configure the

[2021-05-19 14:35] flatfour67 opened #9547 "Teams firewall prompt, policy rules and local policy merge"
The page show the Teams prompt as an example - this is somewhat frustrating as with local policy merge disabled, there is no way to deploy the Teams firewall rules via GPO/MDM, since they need to specify the path to teams.exe in each user profile - and we are informed on the same page that wildcard rules are not supported.

A description of how to centrally deploy rules for Teams that do permit bl

[2021-05-19 15:05] Velski1234 opened #9548 "window 11"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a31db82-81be-16aa-9e39-62c6810517d8
* Version Independent ID: 30fe7813-ac6e-8167-02d6-9fa5e530a3f6
* Content: [What's new in Windows 10, version 20H2 - What's new in Windows](https://docs.microsoft.com/en-us/windows/whats-new/whats-new-windows-10-ver

[2021-05-19 15:35] greg-lindsay commented on #9548
I need more information to address this issue. Please reopen with more details.

[2021-05-19 15:35] #9548 closed

[2021-05-19 18:12] DeployWindowsCom commented on #9424
thanks for coming back!
There is a Win10 IoT enterprise SKU (not IoT Core) that seems to have a "mixed result" of success in applying different CSPs and settings. Would be nice to know what is supported and not.
There several references on blogs in this topic for instance:
https://sandyzeng.com/manage-windows-iot-enterprise-with-microsoft-endpoint-manager-intune/
https://techcommunity.microsoft.co

[2021-05-19 18:16] illfated commented on #9425
( ref. #9544 )

[2021-05-20 01:09] rbishop-etq opened #9550 "Logging into a windows app with an org account always prompts for Windows Hello setup"
As part of our current license, we have Intune, which allows for the use of Windows Hello for Business.
We have this fully disabled as we need users to only login to their apps via full password along with MFA. The issue is that machines logging in to our environment are not respecting this policy.

When a user with a newly imaged device (not joined to any domain) tries to login to an MS app such

[2021-05-20 10:42] tymees commented on #9425
Chiming in on part 3:

Updating the documentation to link to the newer version linked by wmjdgla would be preferable as well. The version currently linked simply won't work on newer system, while the newer one works fine.

As for the compile issues mentioned, I suspect it's because of using newer build tools. Using the VS 2019 build tools, you get all sorts of issues as described above. However, u

[2021-05-20 11:03] jhueppauff opened #9551 "Error code 0x80090010 is missing"
The Error code is missing on this page but referenced by the windows setup:
![image](https://user-images.githubusercontent.com/20532954/118968083-c9032d80-b96b-11eb-8715-bb8b0e555468.png)

Can you please add the description for the code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b4f9133-887f-17a6-95fc-3712de8a3fa

[2021-05-20 11:55] ydewk opened #9552 "Can I use an external camera when my laptop is closed or docked?"
[Enter feedback here]
Can I use an external camera when my laptop is closed or docked?
As of Windows 10 21H1 this is now possible with dual cameras, as the external camera from now on is the default one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98f7820d-5521-10fb-3970-a7403b9a83c1
* Version Independent ID: 81acb0

[2021-05-20 11:56] tymees commented on #9425
I find it strange that you can't link to Microsoft repositories on Github because of ownership issues, as both the repository in question and Github itself are owned by Microsoft. (And the fact that I came here through a feedback link present on most pages is strange in that context as well)

As a workaround for that interesting bit of policy, wouldn't it be possible to create new ZIP sourced from

[2021-05-20 12:04] joinimran commented on #9425
@tymees - Sorry I missed this and got confused with some other issue. Let me check and update the link if it gets approved.

Thanks
Imran.

[2021-05-20 15:39] RAJU2529 commented on #9540
@bitslacker . thanks for pointing out. I am going to add that policy now.

[2021-05-20 15:43] denisebmsft commented on #9550
Hello @rbishop-etq. Can you please tell us to which article(s) this applies? This information will help us route the issue to the correct writer/team.

[2021-05-20 15:54] RAJU2529 commented on #9536
@kafold You can read this article from Microsoft, which includes the location of a registry key.

**https://support.microsoft.com/topic/client-service-and-program-issues-can-occur-if-you-change-security-settings-and-user-rights-assignments-0cb6901b-dcbf-d1a9-e9ea-f1b49a56d53a**

[2021-05-20 16:13] rbishop-etq commented on #9550
Sorry, i'm not sure. This is the location i was directed to leave this bug report by MS support team as part of my ticket with them.
It concerns windows hello for business on Windows 10 machines if that helps?

[2021-05-20 16:15] RAJU2529 opened #9555 "could not able to find the settings for Allow extensions in the container and Allow favorites sync"
I could not able to find the following settings for
a. Allow extensions in container
b. Allow favorites sync
under this  **Computer Configuration\Administrative Templates\Windows Components\Microsoft Defender Application Guard**
![Capture](https://user-images.githubusercontent.com/3296790/119013111-4f436200-b9b4-11eb-8130-8cf089da8b1e.JPG)

i am using Windows 10 21H1 64bit prerelease build no 1904

[2021-05-20 16:21] RAJU2529 commented on #9550
@rbishop-etq , uncheck mark  Allow my organisation to manage my device. and proceed  further.

What do you  Imaged device means ?

[2021-05-20 16:32] RAJU2529 commented on #9550
@rbishop-etq . you mentioned in your post , **When a user with a newly imaged device**
what do you mean by imaged device.?

[2021-05-20 17:39] benavidezb opened #9556 "WDAC Conflict with Virtualization Based Protection of Code Integrity"
I have found that there is a compatibility issue between enabling [Virtualization Based Protection of Code Integrity](https://docs.microsoft.com/en-us/windows/security/threat-protection/device-guard/enable-virtualization-based-protection-of-code-integrity) and creating custom WDAC policies. Specifically, deploying a signed policy which does not allow unsigned policies alongside enabling Virtualiza

[2021-05-20 21:13] illfated commented on #9540
( ref. #9554 )

[2021-05-21 09:09] RAJU2529 commented on #9556
@benavidezb . Did you tested wadc policy in audio mode before applying to main device.
recently Microsoft released WADC wizard policy creator, you can download below site
https://webapp-wdac-wizard.azurewebsites.net/

[2021-05-21 11:36] illfated commented on #9552
This may even be not necessary on some laptops, depending on brand and model. Some laptops, especially ones designed to be used with a docking, may already be aware of connected external screens while the integrated screen is closed. As long as the external web camera does not show any driver issues or compatibility issues with the communication software, it should be no problem at all.

[2021-05-21 13:09] illfated commented on #9550
I am fairly certain that "imaged device" is any Windows computer installed with a configured ISO, tailored to their specific needs.

The only part I could think of as uncertain in that setup, is whether it is a clean Microsoft environment or if there is any 3rd party software in the ISO.

[2021-05-21 13:20] theonlycoder opened #9560 "Confusion regarding AppLocker CSP support with Windows 10 Business edition"
Hi,

In the matrix showing which CSPs are supported on which Windows 10 editions, the AppLocker CSP is listed as being supported on all editions of Windows 10 other than Windows 10 Business.

However, the AppLocker documentation @ https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-application-control/applocker/requirements-to-use-applocker says the following:

In

[2021-05-21 15:04] benavidezb commented on #9556
@RAJU2529, I did. Audit mode of course works (note also that I am also using Windows' default rules from Windows\schemas\CodeIntegrity). Although I did not try signing and enforcing policy signers in audit mode. My guess is that it would result in the same boot failure which I'll explain below. My WDAC policy creation workflow is to first check that nothing important is being blocked with audit mo

[2021-05-21 17:26] rbishop-etq commented on #9550
Yes, its just a cleanly imaged device using MS media. Though we have other apps get installed, the Local Group policy and corresponding REG settings are all default per MS generic image.

[2021-05-22 02:37] afield1235 commented on #9509
@nam31  Any update on this? It's causing a lot of issues with our auditing.

[2021-05-22 13:43] RAJU2529 commented on #9560
@theonlycoder , Thanks for pointing out, according to you windows10 for business OS is supported all CSP configuration right?

[2021-05-22 13:47] RAJU2529 commented on #9560
@e0i . Will you confirm that are ALL CSP configurations are supported by windows 10 business?
If yes means, i will edit this article, i will put a tick mark under the business edition.
Conform from article writers too.

[2021-05-22 14:09] RAJU2529 commented on #9560
@e0i. Just now I clearly observed the table formats in this article, I found many changes must be edited to make this visible better.

[2021-05-22 18:32] scerazy commented on #857
@MaratMussabekov,

Never ever managed to get it working. I have it like that in Configuration Profile, but never was added to machine to which it was assigned to!

[2021-05-23 09:24] Anoni-Mouse opened #9568 "Great article but useless for beginners"
[Enter feedback here]
Great article but useless for beginners. So where can I configure this settings from?

1. admin.microsoft.com
2. endpoint.microsoft.com
3. portal.azure.com
4. security.microsoft.com
5. etc

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6443e532-640d-81c0-8215-b711bd1977d4
* Version Indepen

[2021-05-24 08:21] lindspea commented on #9254
@Ladmo007

[2021-05-24 09:40] Reeced40 commented on #9006
@nam31 please can you ask someone at Microsoft to assist as the content source is not available to us.

[2021-05-24 14:29] duocang commented on #4124
Hi.

Failed at two USB sticks. NO CLUE.

[2021-05-24 15:43] nam31 commented on #9433
@bmilbauer Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-24 15:43] #9433 closed

[2021-05-24 15:43] nam31 commented on #9447
Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-24 15:43] #9447 closed

[2021-05-24 15:54] I-Cat commented on #9552
Yes a Need more info label should be issued.
Also I do not see any infromation on what kind of  system that is running.
I suggest the Issue Template needs to be updated.

[2021-05-24 21:27] illfated commented on #9552
@ydewk : Could you please provide some more information about your scenario and hardware? In most cases, this should not be an issue.

[2021-05-25 06:59] joinimran commented on #9479
Hello @ebraiter - Thank you for posting your query, Windows Sandbox works normally on the VM. If there is any specific use case or issues you are facing, please contact Microsoft support for the same.

Thanks.
Imran.

[2021-05-25 09:56] joinimran commented on #9461
Hello @GenerAhl - Thank you for your query. As per descriptions of the content, it says that users can browse the directory structure of the selected drive, this means that you can browse the directories like (see image below).
![image](https://user-images.githubusercontent.com/47118050/119478308-254dbf00-bd69-11eb-88e0-7722bbbe70cc.png)

As you can see that we can browse through the directory but

[2021-05-25 10:48] GenerAhl commented on #9461
@joinimran thanks for your explanation but unfortunately it only states the same thing as I was asking :)
To me, opening a folder would reveal any (potential) folders in it and opening folders within that folder would reveal folders there, essentially "browse the directory structure".
Hence, my point is that we should not state that the user cannot open folders (if they cannot open folders they ca

[2021-05-25 11:16] anwarmahmood1 opened #9569 "please update to instruct when to add Edge"
Which order should Edge be added?

https://www.catalog.update.microsoft.com/Search.aspx?q=edge-stable

Perhaps it is part of Features on Demand...?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7734ca5-0770-5bbd-7da5-dda4c1cf5ae0
* Version Independent ID: cb98ef23-d0c6-e62e-b72b-9b5f5d724e8e
*

[2021-05-25 11:57] anwarmahmood1 opened #9570 "When should the 'remove adobe Flash Player' update be added?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7734ca5-0770-5bbd-7da5-dda4c1cf5ae0
* Version Independent ID: cb98ef23-d0c6-e62e-b72b-9b5f5d724e8e
* Content: [Update Windows 10 media with Dynamic Update - Windows Deployment](https://docs.microsoft.com/en-us/windows/deployment/update/media-dynamic-

[2021-05-25 12:18] anwarmahmood1 opened #9571 "when should I add Defender Antivirus Antimalware updates?"
https://www.catalog.update.microsoft.com/Search.aspx?q=defender%20antivirus%20antimalware
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7734ca5-0770-5bbd-7da5-dda4c1cf5ae0
* Version Independent ID: cb98ef23-d0c6-e62e-b72b-9b5f5d724e8e
* Content: [Update Windows 10 media with Dynamic Update - Win

[2021-05-25 12:19] illfated commented on #9461
Thanks. To me, it makes sense, because I was trying to find a way to describe the fact that we are able to traverse the folder structure and se subfolders, hence we are able to browse and open folders, but not see the file content or data content (as presented by file type or icons).

We should find a Microsoft approved way to state that it is possible to browse the directory structure, see subfol

[2021-05-25 14:12] RAJU2529 commented on #9571
@anwarmahmood1 .  You must add  .cab file or .msu file to operating system .wim file  via offline dism commands.
or you may add  .cab file or .msu file to the running windows 10 OS via online dism command.

DISM.exe /Online /Add-Package /PackagePath:C:\defender-dism-x64.cab

[2021-05-25 14:16] anwarmahmood1 commented on #9571
no @RAJU2529  that won't work.  You must use the supplied PowerShell script to integrate Microsoft Defender updates.

I know what to do, and I know how to do it; but this page should mention it so that IT Pros can incorporate Defender.

[2021-05-25 14:38] theonlycoder commented on #9560
I would assume it is fully supported for the reasons I mentioned, but I am not sure - I am in the process of setting up a test at the moment. I consulted the documentation to try and get the "official" answer, but the conflicting statements mean I'm still unclear.

[2021-05-25 14:54] theonlycoder commented on #9560
The question regarding CSPs other than the AppLocker CSP is an interesting one. After raising this issue, I noticed the same thing you probably have - that there are quite a few CSPs that don't have anything in the Business edition column - no tick or cross.

[2021-05-25 19:21] sbhesser opened #9573 "Manage additional Windows Update settings"
Couple questions
under Configure Automatic Updates, there is an option to update other MS products. I noticed when checked, this also updates products that are not MS, like drivers for instance. Will the option Do not include drivers with Windows Updates keep this driver updating from occurring? Win 7 did not do this, I would prefer updates update the MS stuff including other MS products but not v

[2021-05-25 21:01] jaimeo commented on #9573
@arcarley can you clarify? Do we need an edit here?

[2021-05-26 10:01] joinimran commented on #9456
Hello @JuGhithub - Thank you for posting your query. Please note that as of now, you can not manage Windows 10 IoT with WUfB. The only supported SKUs are
Windows 10 Education
Windows 10 Enterprise
Windows 10 Pro
Windows 10 S (for Windows 10, version 1709 and earlier)

You can always use the user voice channel to request this feature for WUfB.  @nam31 can guide you on how you can request a new feat

[2021-05-26 17:58] benavidezb commented on #9556
Update on this. It turns out that disabling Virtualization Based Protection of Code Integrity does not actually address the boot failure issue. That problem may be specific to Dell's Secure Boot which I am working with them on. However, having this does appear to conflict with unsigned policies. When the Microsoft Windows Driver Policy is applied it appears to remove unsigned policies on reboot.

[2021-05-26 19:24] illfated commented on #9556
Looks interesting. I wonder if Dell will have to look into whether they will be able to create signed policies by working with Microsoft to get any official Dell unsigned policies signed, to make them work as intended.

[2021-05-26 20:33] jans-at commented on #4124
I am trying to create a multibootstick with the latest eraser tools and need a ISO for that @RAJU2529 can you maybe share how you managed to create an iso out of the created usb stick (the one the microsoft tool created). Tried imgburn but I don't know which boot files are required

[2021-05-26 21:03] benavidezb commented on #9556
Their first line support agreed to elevate the issue. Hopefully they can clarify this. Even using the Allow All policy with the Unsigned Policy rule disabled results in a boot failure. I was thinking maybe the policy signing cert needs a chain to the Secure Boot DB but I'm not sure.

[2021-05-26 22:53] Minkus32 opened #9576 "Seperate out intune vs Store for business"
[Enter feedback here]
Its really confusing in that document when you keep both the intune and store for business configuration stuff together.
Can you move the Store for Business sections in their their own document as its entirely unnecessary to try and scrool through or skip sections that din't apply to a purely intune deployment.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-05-26 23:09] ivassallo19 opened #9577 "Example Policy Files and Description Not Making Sense"
When testing WDAC for Windows 10 21H1 x64, I took the example policy AllowMicrosoft.xml as it states "It includes the rules from DefaultWindows and adds rules to trust apps signed by the Microsoft product root certificate." and thinking that this should do what I want.

I discovered recently that the policy DefaultWindows_Audit.xml contains these lines:

[code]

Whereas the policy AllowMicrosoft.x

[2021-05-26 23:56] DanRev0519 commented on #4124
Hi Mr. RAJU, I am having the same problem as jaxne, could you send a working link for the bootable ISO again? Thank you in advance.

[2021-05-27 00:03] illfated commented on #9556
I applaud your efforts and hope you get some working results out of this. Whenever there are any indications that the documentation could be approved, feel free to point that out. I am not familiar enough with this topic, but there are technical writers looking into tickets like this one, in case there are documentation issues to be handled.

[2021-05-27 01:08] RAJU2529 commented on #4124
@DanRev0519 . I successfully created bootable iso file for 64bit.

[2021-05-27 01:51] RAJU2529 commented on #4124
@DanRev0519 . @jans-at
downloading link for few  ARM64bit surface  pro devices
https://1drv.ms/u/s!AmZoRRusRV59pWIFnpHuyM7klxFe?e=dWxkwa

[2021-05-27 02:30] RAJU2529 commented on #9573
@sbhesser . You can enable below policy
Do not include driver's with windows updates.
So that windows will not update device drivers  through windows update.

I already enabled above said policy to prevent unwanted BSOD crash by incompatible driver's.

[2021-05-27 03:37] jans-at commented on #4124
@RAJU2529 thank you for your quick help :)
Can I ask you for a quick explanation/guide on how you created the image (be it Windows or Linux).
I am trying to wrap my head around it and just cannot figure it out and I think I might need this knowledge again in the future.
Thanks in advance.

Cheers, jan

[2021-05-27 05:03] RAJU2529 commented on #4124
@jans-at .You already created bootable pendrive.
But you want to create  iso file correct .

[2021-05-27 06:14] jans-at commented on #4124
@RAJU2529 yes correct. I can use your ISO file for now but it would be a huge help if you could explain how to make a bootable iso from the original files or an already created bootable pendrive so I can do it on my own when/if an update is released.

Thank younin advance.

[2021-05-27 06:25] RAJU2529 commented on #4124
@jans-at . Here are the instructions
first, create a new  folder  in C:\  partition
type below in CMD with admin rights
**mkdir C:\WinRE_amd64\media**

[2021-05-27 06:56] jans-at commented on #4124
@RAJU2529
Thank you. I will try this as soon as I am home. This really helps out :)

Cheers,
J

[2021-05-27 08:58] easyMaxi opened #9578 "Wording Kompromiss -> Kompromitierung"
Hey! I don't believe this can be solved in English. It references the German version of the documentation.
In short: "compromised" is translated with "compromise" as in "making a compromise".
--
Mir ist im Text etwas aufgefallen, dass durch die Übersetzung einen anderen Sinn bekommen hat. Zumindest glaube ich das.

Es geht um den folgenden Teil: "und glauben, dass ihre Kennwortauswahl vor Einer Ko

[2021-05-27 13:20] illfated commented on #9578
English document section:

***

### Vulnerability

Users may have favorite passwords that they like to use because they are easy to remember and they believe that their password choice is secure from compromise. Unfortunately, passwords can be compromised and if an attacker is targeting a specific individual user account, with knowledge of data about that user, reuse of old passwords can cause a s

[2021-05-27 13:21] mauriziomacrina opened #9579 "The steps suggested on this page don't work"
After configuring WDAC, I'm still getting event 836 on CLSID:
cd3afa7b-b84f-48f0-9393-7edc34128127

I followed the suggestion on this page by adding this setting to my WDAC policy:
<Setting Provider="AllHostIds" Key="AllKeys" ValueName="EnterpriseDefinedClsId">
  <Value>
    <Boolean>true</Boolean>
  </Value>
</Setting>

No luck, cd3afa7b-b84f-48f0-9393-7edc34128127 keeps getting blocked.

---
###

[2021-05-27 17:00] TinaMcN commented on #9578
@easyMaxi thanks very much for reporting this issue and @illfated thank you for the helpful details.  I believe this is an issue caused by machine translation so I sent it to be human translated which usually takes 2-3 business days.   Hopefully that will fix the problem.

[2021-05-28 10:46] jeffreyalanpowell opened #9582 "Windows update failure"
[Enter feedback here]The Windows 10 update process always fails to restart for the final step of installation. I then have to switch off and restart manually which causes my laptop to undo (attempted) changes and restore me to the pre-existing version.
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb67e518-6f60-23e0-2545-c

[2021-05-28 15:48] jaimeo commented on #9582
@arcarley I think this person could use some technical help.

[2021-05-28 16:38] RAJU2529 commented on #9582
@jaimeo . This @jeffreyalanpowell  person should  uninstall incompatible softwares and uninstall existing third party antivirus softwares. Also I don't know what's the exact condition of his running windows OS
Technical person shooter analysis his computer windows os physically  So that we come to know the exact root cause of the failures

[2021-05-30 13:20] e0i commented on #9506
Under investigation. Thank you for the feedback.

[2021-05-30 13:34] e0i commented on #9509
@afield1235 We handle content feedback under the issues section of this repository that hosts documentation, not the product. It is recommended that you continue seeking answers through appropriate support channels. Thanks.

[2021-05-30 13:34] #9509 closed

[2021-05-30 13:44] e0i commented on #9525
This is a documentation repository and the technical writer team cannot provide answers to every support query. Hence, Please consider consider contacting [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10) for this feedback.

Thank you for this feedback, and for the community for raising reasonable points for this discussion.

[2021-05-30 13:44] #9525 closed

[2021-05-30 13:56] e0i commented on #9524
@timbrigham-onecall

An independent contributor is going to provide the missing instruction steps thanks to your feedback!

This documentation repository is open-source. If you encounter any errors like this one and there is something you can do to improve the article, [you may submit a Pull Request](https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/CONTRIBUTING.md). Your contributio

[2021-05-30 15:49] illfated commented on #9509
@afield1235 : Please use a real support instance like Microsoft Support or Microsoft Forums. This repository is intended for documentation improvement only.

Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the

[2021-05-30 16:00] illfated commented on #9524
(This is how the main issue ticket comment could have appeared if it had been opened via the button ![Screenshot 2021-05-30 175849](https://user-images.githubusercontent.com/38162891/120111082-c75a1680-c170-11eb-93bb-88d41c3c9f38.png) at the end of the page https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-application-control/configure-wdac-managed-installer . )