[2019-07-28 13:12] jvsam commented on #1692
@officedocsbot close

[2019-07-28 13:12] #1692 closed

[2019-07-28 14:05] jvsam commented on #1690
Hello @PaoloBodini hoping all is well. I know it's been a while since this issue was opened so thank you for your patience. I just wanted to follow up if you found the answer to you question? Perhaps these can help:

- [Microsoft Intune announces device-only subscription for shared resources](https://techcommunity.microsoft.com/t5/Enterprise-Mobility-Security/Microsoft-Intune-announces-device-only

[2019-07-28 14:55] jvsam commented on #1691
Hello @nick-blair hoping all is well. I know it's been a while since this issue was opened so thank you for your patience. I just wanted to follow up if you found the answer to your last question? @RAJU2529 also shared some information, I hope those helped as well. And since there is no specific request related to this documentation, we will now close this issue, however feel free to re-open if yo

[2019-07-28 14:56] jvsam commented on #1691
@officedocsbot close

[2019-07-28 14:56] #1691 closed

[2019-07-28 15:08] arjunae commented on #3234
OK. In short I do think the Script has the following general issues:
1) ErrorHandlingPrevention: EG Check for RegKeys / File Existance and Cope with Errors.
2) Check if the DISM /disable-Feature succesfuly removed the HyperVisor Role.
3) Mention Logfiles location. / Option for cleanup.
regards, Thorsten

[2019-07-28 15:17] jvsam commented on #1687
Thanks you so much for sharing that information @RAJU2529. Just to clarify, you were able to reproduce the issue on 1803 and 1903 and also found a fix, right? It appears like a privacy or setting issue, at least based on your testing.

Hi @mcp111 hoping all is well. I know it's been a while since this issue was opened so thank you for your patience. I just wanted to follow up if you were able to r

[2019-07-28 15:18] jvsam commented on #1687
@officedocsbot close

[2019-07-28 15:18] #1687 closed

[2019-07-28 15:47] jvsam commented on #1689
@DirkMCar and @fatherofinvention I know it's been a while since this issue was opened so thank you both for your patience. I am sorry that the feature you are asking for is not yet available, but I do encourage you to submit this as a suggestion on [UserVoice](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub). The Microsoft engineering team uses Us

[2019-07-28 15:48] jvsam commented on #1689
@officedocsbot close

[2019-07-28 15:48] #1689 closed

[2019-07-28 16:50] jvsam commented on #1671
Hi @georgioup and @anwarmahmood1 I know it's been a while since this issue was opened so thank you both for your patience. The *Enable End Session Button* allows user to clear the cache manually. I would assume your suggestion is to provide an option to do this automatically. As per the existing documentation, this feature is not yet available. What I will recommend is submit this as a suggestion

[2019-07-28 16:50] jvsam commented on #1671
@officedocsbot close

[2019-07-28 16:50] #1671 closed

[2019-07-28 19:51] jvsam commented on #1665
Hi @sasanmcp hoping all is well. I know it's been a while since this issue was opened so thank you for your patience. I just wanted to follow up if you found the answers to you questions? According to some community uses, NativeProtocolType supports SSTP, one thing to consider is to ensure you set the correct [VpnStrategy key](https://docs.microsoft.com/openspecs/windows_protocols/ms-rrasm/7574fc0

[2019-07-28 19:51] jvsam commented on #1665
@officedocsbot close

[2019-07-28 19:51] #1665 closed

[2019-07-28 21:04] jvsam commented on #1663
Hello @mlrankin and @Ankit198, I know it's been a while since this issue was opened so thank you both for your patience. Based on the discussion here, I will assume that your issues have already been resolved. If not, I recommend the following:

1. [Technet forums](https://social.technet.microsoft.com/Forums/home) and the [Tech Community](https://techcommunity.microsoft.com/t5/Communities/ct-p/com

[2019-07-28 21:06] jvsam commented on #1663
@officedocsbot close

[2019-07-28 21:06] #1663 closed

[2019-07-28 22:50] jvsam commented on #1661
Hello @DirkMCar, I know it's been a while since this issue was opened so thank you for your patience. I just wanted to follow up if you were able to find a workaround? Although in Windows 10, version 1809, you can [automatically launch an app when the user signs in](https://docs.microsoft.com/windows/configuration/lock-down-windows-10-to-specific-apps#allowedapps) by making sure your [XML file](ht

[2019-07-28 22:50] jvsam commented on #1661
@officedocsbot close

[2019-07-28 22:50] #1661 closed

[2019-07-28 23:04] mlrankin commented on #1663
Thank fine.

On Jul 28, 2019 3:04 PM, Jo <notifications@github.com> wrote:

Hello @mlrankin<https://github.com/mlrankin> and @Ankit198<https://github.com/Ankit198>, I know it's been a while since this issue was opened so thank you both for your patience. Based on the discussion here, I will assume that your issues have already been resolved. If not, I recommend the following:

  1.  Technet forums

[2019-07-29 01:04] jvsam commented on #1660
Hi @TecumsehSamp I know it's been a while since this issue was opened so thank you for your patience and for your suggestion. I just wanted to follow up if you found the answers to you questions? If not, I think it's best if you [contact Windows 10 support](https://support.microsoft.com/hub/4338813/windows-help?os=windows-10) to get immediate assistance. I've also checked the Tech Community and th

[2019-07-29 01:05] jvsam commented on #1660
@officedocsbot close

[2019-07-29 01:05] #1660 closed

[2019-07-29 06:12] joinimran commented on #4510
@Soulusm Thank you for your feedback on improvements related to docs. Can you please share more details regarding this? What are the exact steps to perform this action so that we can update the doc accordingly?

[2019-07-29 08:20] joinimran commented on #4392
Can you please share the information from where and how you have activated these services? Where this lies so that we can update the document accordingly.

[2019-07-29 09:07] mypil commented on #4512
@officedocsbot close

[2019-07-29 09:07] #4512 closed

[2019-07-29 09:08] mypil commented on #4499
@officedocsbot close

[2019-07-29 09:08] #4499 closed

[2019-07-29 09:23] mypil commented on #4551
@JoeC-7 - Is your issue already fixed? If not, could you please assist us by suggesting how this content could be edited to incorporate your feedback? If you could suggest what the appropriate text and where it should be placed, I could assign one of our team members to create a Pull Request to get it added or you may also create a Pull Request to add in your suggestion and just link this issue so

[2019-07-29 11:36] SpinmanUK opened #4569 "Hotlinks missing"
"Configure Microsoft Threat Protection integration" and "Management and API support" don't have hotlinks associated with them, even though they are valid pages.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30b548d4-79f8-5ac4-70fc-b1bffe591d65
* Version Independent ID: 41d11827-6cdc-df28-3932-28bfcf3c2a2f
* Content: [

[2019-07-29 12:10] mypil commented on #4569
@officedocsbot assign @mypil

[2019-07-29 12:10] mypil commented on #4569
@SpinmanUK - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-07-29 12:48] joinimran commented on #4569
@spinmanuk Can you please share the links for the pages you have mentioned.

[2019-07-29 12:56] mypil commented on #4379
@Air-Git - From our understanding, the issue has been resolved based on the merged commit [d978da4](https://github.com/MicrosoftDocs/windows-itpro-docs/commit/d978da490dc14ba2022c9736d4acdf3fc57a9262) but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! M

[2019-07-29 13:40] SpinmanUK commented on #4569
So I’m guessing that the links aren’t there because the top level links for these topics aren’t clickable.
Ideally each section should have a header page.
This screenshot shows what I mean:
[A screenshot of a cell phone  Description automatically generated]

[cid:image004.png@01D5461B.8D6F98A0]
Steve Newby
Senior Program Manager
Windows Cyber Defense (CxE)

• e-mail: steve.newby@microsoft.com<mail

[2019-07-29 14:26] gerrynicol commented on #4366
Apologies, I was on annual Leave. Can this be re-opened please. I'm still not clear on this. It doesn't indicate on the documents whether or not Bitlocker is supported when using Autopilot in Self-deploying mode. I understand that the device is not associated with a user, but does this translate to mean that you cannot use Bitlocker to encrypt local drives?

[2019-07-29 15:26] mypil commented on #4366
@officedocsbot reopen

[2019-07-29 15:27] mypil commented on #4366
@Reeced40 - Please assist with the additional question from @gerrynicol. Thank you.

[2019-07-29 15:40] JonesOne opened #4573 "User Account Type"
For self-deploying mode, should a User Account Type of Administrator allow all users who log in to be local admins?

During our test, on a 1903 deployment, setting this to Administrator did NOT result in the logged on user having local administrator rights.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6867cc8c-868d-d

[2019-07-29 15:53] Justinha commented on #4261
@brbrahm might be able to help too.

[2019-07-29 15:54] mypil commented on #4573
@officedocsbot assign @mypil

[2019-07-29 15:56] mypil commented on #4573
@JonesOne - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-07-29 16:10] JoeC-7 commented on #4551
Well as I see it, this page is the only source (and therefore the source other websites use) about windows 10 environment variables for a typical windows, therefore my issue was that I wanted to use %DEFAULTUSERPROFILE%\AppData\Local\Temp in a firewall rule, rather than hand code the drive and path, when I went to find info about it this page suggested that the correct format and only format is %D

[2019-07-29 16:13] MaratMussabekov commented on #4554
Dear @cw123williams , evaluation lab is a part Windows Defender ATP, sot the requirements are the same: [Minimum requirements for Microsoft Defender ATP](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/minimum-requirements)
**My assumption is we need to start with a free trial first?** - yes, sure, you just need to get [WD ATP free trial](https://www.micr

[2019-07-29 16:38] CaptainUnlikely opened #4574 "Hotfix link is outdated"
The link "Desktop Optimization Pack" goes to the July 2018 servicing release.
MABM version chart here - https://blogs.technet.microsoft.com/dubaisec/2016/05/23/mbam-version-chart/ - states there is a May 2019 release now - https://support.microsoft.com/en-gb/help/4505175/may-2019-servicing-release-for-microsoft-desktop-optimization-pack

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-07-29 17:44] Alex-Brooks opened #4577 "Clarify "might impact client performance""
Hi,

In the "Warning" box at the bottom of this page, the text says "The High + setting might impact client performance.".  It also says "setting this switch to High might cause some legitimate files to be detected".

As there are four levels (Default, High, High +, and Zero Tolerance) the assumptions would be:

- If "high" may cause false positives, this also applies (possibly even more so) for H

[2019-07-29 18:16] illfated commented on #4551
Thank you for adding information about your issue. My knowledge is lacking, but from what I remember, C:\Users\Default\ is mostly only used as a place to add settings so they will be applied automatically to any new profile (local account) in Windows, not much else.

[2019-07-29 18:43] illfated commented on #4551
Oh. My. Goodness. I just remembered an obscure detail I learned about 5 years ago: Some Windows Registry keys can be referenced as Environment Variables only from within a script or programming language, not from the console or when typing a command manually into a cmd.exe window. Unfortunately, I don't remember the details about how to access the keys, only that they don't appear as visible envir

[2019-07-29 20:57] e0i commented on #3996
@1trevor

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-07-29 20:57] e0i commented on #3996
@officedocsbot close

[2019-07-29 20:57] #3996 closed

[2019-07-29 21:00] e0i commented on #3995
@vscurtis

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-07-29 21:00] e0i commented on #3995
@officedocsbot close

[2019-07-29 21:00] #3995 closed

[2019-07-29 21:07] e0i commented on #3990
@ewilborn

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-07-29 21:07] e0i commented on #3990
@officedocsbot close

[2019-07-29 21:07] #3990 closed

[2019-07-29 21:08] e0i commented on #3739
@rwx-mrx

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-07-29 21:08] e0i commented on #3739
@officedocsbot close

[2019-07-29 21:08] #3739 closed

[2019-07-29 22:04] jszabo98 opened #4578 "mbr2gpt: workaround for sysprepped images"
Sysprepped images in the bcd have the osdevice set to "locate=\Windows".  So then mbr2gpt can't find the os.  This bcdedit command seems to get things working:

[code]

Might have to do:

[code]

I would think this command would work with sysprep without any intervention?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-07-29 22:36] jvsam commented on #4574
@officedocsbot assign @jvsam

[2019-07-29 22:36] jvsam commented on #4577
@officedocsbot assign @jvsam

[2019-07-29 22:36] jvsam commented on #4578
@officedocsbot assign @jvsam

[2019-07-29 23:08] illfated commented on #3896
@My-userid : it would be most helpful if you could provide a working link to the page you refer to. Or better still, if you post the same statement as you wrote in your opening comment, but in the Feedback section of the correct page, it would be very useful with regards to getting the changes you requested applied to the correct page.

[2019-07-29 23:38] SteveBurkettNZ opened #4582 "Wrong Link? : How to configure hybrid Azure Active Directory joined devices"
In the 'Configure Azure for Device Registration' section, it links to 'How to configure hybrid Azure Active Directory joined devices' (https://docs.microsoft.com/azure/active-directory/device-management-hybrid-azuread-joined-devices-setup) but this link looks to have changed and currently takes you to 'How To: Plan your hybrid Azure Active Directory join implementation' (https://docs.microsoft.com

[2019-07-29 23:39] JoeC-7 commented on #4551
It seems to be generally unavailable, I've tried various things inc. running a powershell script and building a small C++ program to getenvironmentstrings (as detailed here -https://docs.microsoft.com/en-us/windows/win32/procthread/environment-variables) results are below:-

%DEFAULTUSERPROFILE% : The term '%DEFAULTUSERPROFILE%' is not recognized as the name of a cmdlet, function, script
file, or

[2019-07-30 00:28] JoeC-7 commented on #4551
GetEnvironmentVariables:
  GTK_BASEPATH = C:\Program Files (x86)\GtkSharp\2.12\
  VisualStudioEdition = Microsoft Visual Studio Community 2019
  Path = C:\Program Files (x86)\Common Files\Oracle\Java\javapath;C:\Program Files (x86)\NVIDIA Corporation\PhysX\Common;C:\ProgramData\Oracle\Java\javapath;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0\;

[2019-07-30 00:31] JoeC-7 commented on #4551
also tried the ShellScript "Get-Childitem -Path Env:* | Sort-Object Name" with similar results

[2019-07-30 02:00] KC-Syd opened #4583 "Unclear definition in the documentation"
When the definitions mention "as a percentage of available download bandwidth", how is this total calculated/gathered? I'm connected to the router with Gb speed, but my internet speed is limited to 20Mbps. Does Windows do an internet download speed test regularly to check my actual speed and base the percentage on that?
As a suggestion, it would be good if absolute values in Kb/s could be set for

[2019-07-30 02:08] jvsam commented on #4582
@officedocsbot assign @jvsam

[2019-07-30 02:08] jvsam commented on #4583
@officedocsbot assign @jvsam

[2019-07-30 03:26] 3flex opened #4584 "White glove: device context user targeted apps"
Doc says:

But Intune Windows 10 App Deployment doc (https://docs.microsoft.com/en-us/intune/apps-windows-10-app-deploy#installing-apps-on-windows-10-devices) says:

Not sure how to reconcile those statements?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca5b57d1-61b3-39d4-34ff-d6dcb858c250
* Version Independent ID:

[2019-07-30 03:38] jvsam commented on #4584
@officedocsbot assign @jvsam

[2019-07-30 03:41] nhogarth86 commented on #4584
I think its because if you assign the user to the device, it will install as part of the white glove process before the device is sealed. If you don't assign the user to the device, then it will install when the user first powers on the device after it has been installed during the enrollment status page in the user context (and then fail)

[2019-07-30 04:13] cameron-interactive commented on #4392
No, I can't as I can't find these screens listed... This is why I was referring to and logging issues with the documentation to begin with as the screens in my portal don't match what was listed.

[2019-07-30 05:44] illfated commented on #4551
OK, I see. No luck in tracing the origin of that environment variable that way either. All I can do from here, is to speculate and guess, since I have not needed or worked with `%DefaultUserProfile%` myself.

Could it be that it only appears when using the Migration Wizard or tools like that, but not otherwise?

[2019-07-30 08:26] ManikaDhiman commented on #1753
Hi @jvsam, I am awaiting confirmation. I will update the status as soon as I hear from them. Thanks!

[2019-07-30 08:31] ManikaDhiman commented on #1750
Hi jvsam, thanks for the follow up. I am still awaiting response from the product team on  Update/IgnoreMOUpdateDownloadLimit. I will update the docs as soon as I get any updates. Thanks!

[2019-07-30 09:10] mypil commented on #4377
@lightupdifire - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-07-30 10:16] joinimran commented on #4392
@cameron-interactive In this case, I would recommend you to open a support case with Microsoft Azure support team to better help you on this.

@jvsam Please guide user how a user can contact and open a support case with Microsoft Azure support team.

Regards,
Imran.

[2019-07-30 14:40] danieldhudson opened #4586 "Update history missing for June and July 2019"
Before the update page was moved to docs, details for June's CU were published which are missing from this page still. Also no update information has been given for July's CU (assuming of course there were Surface Hub specific updates).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c83a996d-3a4e-33d4-82f9-f4112f42d6a1

[2019-07-30 14:48] Lechus commented on #4539
@jvsam found the solution, added as a message on the referred old issue link https://github.com/MicrosoftDocs/windows-uwp/issues/361. So for the click once apps AppIds are in diff registry place. And that is missing.

[2019-07-30 14:55] e0i commented on #3519
Hello @kennethvs  ,

We are closing this issue since your question seems to be answered. Feel free to re-open this issue if you still experience problems.

Thanks.

[2019-07-30 14:56] e0i commented on #3519
@officedocsbot close

[2019-07-30 14:56] #3519 closed

[2019-07-30 14:57] e0i commented on #2981
Hello @lXbalanque,

We are closing this issue since your question seems to be answered. Feel free to re-open this issue if you still experience problems.

Thanks.

[2019-07-30 14:57] e0i commented on #2981
@officedocsbot close

[2019-07-30 14:57] #2981 closed

[2019-07-30 14:58] e0i commented on #3538
Hello @SquirrelAssassin,

We are closing this issue since your support question seems to be answered. Feel free to re-open this issue if you still feel it hasn't been answered or that there are further suggestions to the documentation itself.

Thanks.

[2019-07-30 14:58] e0i commented on #3538
@officedocsbot close

[2019-07-30 14:58] #3538 closed

[2019-07-30 14:59] e0i commented on #2489
cc @VLG17

[2019-07-30 15:02] e0i commented on #2464
Hello @scwxtsr,

The issue is being closed since your question seems to be answered by **VLG17** Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-07-30 15:02] e0i commented on #2464
@officedocsbot close

[2019-07-30 15:02] #2464 closed

[2019-07-30 15:10] mypil commented on #4586
@officedocsbot assign @mypil

[2019-07-30 15:11] mypil commented on #4586
@danieldhudson - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-07-30 15:51] e0i commented on #2968
@officedocsbot assign @e0i @officedocsbot assign @MollyMalone @officedocsbot add label localization
--

[2019-07-30 15:54] e0i commented on #1173
@mjcaparas Would you be able to provide clarifications as the recent author of the article? Thanks.

[2019-07-30 15:56] e0i commented on #2021
@mjcaparas Are there any plans to include content for build 1809? Authoritative clarification needed. Thanks.

[2019-07-30 16:03] e0i commented on #2599
Hello, @thetechguy86

It seems that your question has already been answered by the community and thus we are marking this issue as resolved.

Feel free to re-open the issue if you feel it hasn't been resolved.

Thank you for providing feedback.

[2019-07-30 16:03] e0i commented on #2599
@officedocsbot close

[2019-07-30 16:03] #2599 closed

[2019-07-30 16:03] illfated commented on #2968
Looks like @officedocsbot did not assign @MollyMalone as expected. I can understand that "add label localization" was skipped, since it is already there, but not adding the assignment of @MollyMalone is something the admin responsible for @officedocsbot needs to check to find out if this was intentional or a bug.

[2019-07-30 16:44] TinaMcN commented on #2968
Please assign to @TinaMcN instead (it's the replacement for my @MollyMalone account)

[2019-07-30 17:04] TinaMcN commented on #2968
This topic is currently machine translated.  I set it to be human translated - this may take a few weeks to complete.

[2019-07-30 17:52] mjcaparas commented on #1173
Not sure sorry :(

[2019-07-30 17:53] illfated commented on #4541
@jvsam : I don't know exactly how the responsibilities are ordered, but there was a change from @dongmicro to @MollyMalone (@TinaMcN) for several of the East Asian (Japanese & Chinese) translation issues. I don't know if all of the cases previously assigned to @dongmicro should be reassigned, so it would be useful to know which areas of responsibility are currently assigned to either of them.

[2019-07-30 19:45] e0i commented on #2613
@officedocsbot close

[2019-07-30 19:45] #2613 closed

[2019-07-30 19:56] e0i commented on #2881
Hello, @bally-singh

It seems that your question has already been answered by the community and thus we are marking this issue as resolved.

Feel free to re-open the issue if you feel it hasn't been resolved.

Thank you for providing feedback.

[2019-07-30 19:57] e0i commented on #2881
@officedocsbot close

[2019-07-30 19:57] #2881 closed

[2019-07-30 20:02] e0i commented on #2607
Hello, @itguysocal

It seems that your question has already been answered by the community and thus we are marking this issue as resolved.

Feel free to re-open the issue if you feel it hasn't been resolved.

Thank you for providing feedback.

[2019-07-30 20:02] e0i commented on #2607
@officedocsbot close

[2019-07-30 20:02] #2607 closed

[2019-07-30 20:53] TinaMcN commented on #4541
Yes, all cases that were previously assigned to @dongmicro should now be assigned to me (@TinaMcN)

[2019-07-30 23:17] tewchen commented on #3637
Hi bvorland, this is feature is now in public preview! Please let me know if you are still unable to see this feature.

I'm looking at having to use PowerShell in the interim to add rules. -> we are now investigating to develop a tool that allow customers to import and deploy FW rules through script, we should be able to share more detail in Oct, but no timeline for now yet.

[2019-07-30 23:19] tewchen commented on #3637
Hi johanvjr, sorry for replying so late! This feature is now in public preview. You should be able to see the feature in Intune now. Please let me know if you are still unable to see.

[2019-07-31 00:36] illfated commented on #4561
@jvsam : That would be PR https://github.com/MicrosoftDocs/windows-itpro-docs/pull/4548 (from the commit page, in the parenthesis)
***
![image](https://user-images.githubusercontent.com/38162891/62174908-eea8e800-b33b-11e9-82ce-ece88580ed74.png)
***
![image](https://user-images.githubusercontent.com/38162891/62174896-ddf87200-b33b-11e9-82b0-b0873f79b610.png)
***

[2019-07-31 00:45] illfated commented on #3792
Please note: I only linked the PR here, just as I am linking this issue back to PR #4588 now.
@SteveBurkettNZ is author of the PR.

[2019-07-31 01:11] illfated commented on #2489
@Leon99 : would it be practical to try deliberately forcing a PIN creation error by attempting to change the PIN while being disconnected from the network, or using a very slow connection?

[2019-07-31 01:13] SteveBurkettNZ opened #4589 "Missing step to set the Subject Alternative Name in Create a SCEP Certificate Profile section?"
In the 'Create a SCEP Certificte Profile' section (typo in the heading & URL BTW), there's no step for configuring the Subject Alternative Name, yet in the picture on Step 14 it looks like this has been selected as 'User principal name (UPN)'. Can you please confirm if this step has been missed from the current instructions?

This section could also do with a re-do to align the ordering of the var

[2019-07-31 01:19] illfated commented on #2489
I found a couple of images, but I am not in a position to verify the Windows version or type of machine:
- Github issue ticket page: https://github.com/MicrosoftDocs/windows-itpro-docs/issues/3092
- https://answers.microsoft.com/en-us/windows/forum/all/we-cant-connect-to-server-to-setup-you-pin-right/a0536687-7db8-4ab4-95e6-be2ff7d97dd7?auth=1

There was also a recent (14 days ago) comment regardi

[2019-07-31 01:20] illfated commented on #3897
Regarding the outdated image: Would you be able to provide an updated example by posting one or more images here?

[2019-07-31 01:23] illfated commented on #4589
@officedocsbot add label security

[2019-07-31 01:53] illfated commented on #4539
@Lechus : First of all, thanks for posting in both places. Secondly, to avoid confusing myself, are you recommending a change to the UWP page or to the IT-Pro page (as linked above)?

If the IT-Pro page is the one you recommend updating, may I ask you to tell me in more detail what the necessary changes are?

[2019-07-31 02:23] illfated commented on #4574
Very well, so the old link https://www.microsoft.com/en-us/download/details.aspx?id=57157
needs to be replaced with https://www.microsoft.com/en-us/download/details.aspx?id=58345
unless I have missed something. Would you like me to open a PR for it?

[2019-07-31 05:38] MaratMussabekov commented on #4549
Hello @JuGhithub ,
yes, you still need to deploy a domain join device. Method described in the blog article is only for registration of deployed devices in Autopilot.
Thank you

[2019-07-31 07:26] Reeced40 commented on #4366
@gerrynicol With Windows Autopilot, you can configure the BitLocker encryption settings to be applied before automatic encryption is started. I found 2 recently updated articles that will help clarify your question. I'll have them added to the article. https://docs.microsoft.com/en-us/windows/deployment/windows-autopilot/windows-autopilot-scenarios & https://docs.microsoft.com/en-us/windows/deploy

[2019-07-31 08:28] mypil commented on #4589
@officedocsbot assign @mypil

[2019-07-31 08:30] mypil commented on #4589
@officedocsbot add label security

[2019-07-31 08:31] mypil commented on #4589
@SteveBurkettNZ - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-07-31 08:50] andrePKI commented on #3897
RESOLVED: As it turns out, just waiting to several sync jobs have run in the background resolves this after a reboot.
So just wait (could be up to 90 minutes) then try again. Error message and information around it is not very helpful IMHO.

[2019-07-31 08:52] mypil commented on #4413
@officedocsbot assign @TinaMcN

[2019-07-31 08:57] JoeC-7 commented on #4551
I think maybe it was deprecated, give me a couple of days i'm busy just
now, i'll see what i can do.

On Tue, 30 Jul 2019 at 06:44, Trond B. Krokli <notifications@github.com>
wrote:

--

Legally privileged or confidential information may be contained in this
message and/or any attachments. It is intended only for the use of the
individual or organisation to whom the e-mail is addressed. If you hav

[2019-07-31 09:01] andrePKI commented on #3897
correct screen shot is in this thread: [https://answers.microsoft.com/en-us/windows/forum/all/we-cant-connect-to-server-to-setup-you-pin-right/a0536687-7db8-4ab4-95e6-be2ff7d97dd7?auth=1&rtAction=1564563317231](url)

[2019-07-31 12:12] e0i commented on #4295
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:13] e0i commented on #4147
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:13] e0i commented on #4127
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:13] e0i commented on #4126
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:13] e0i commented on #4125
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:13] e0i commented on #4095
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:13] e0i commented on #4077
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:13] e0i commented on #4047
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:13] e0i commented on #4039
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:13] e0i commented on #4031
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:13] e0i commented on #4009
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:13] e0i commented on #3970
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:13] e0i commented on #3969
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:13] e0i commented on #3963
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:13] e0i commented on #3915
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:13] e0i commented on #3902
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:13] e0i commented on #3891
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:14] e0i commented on #3886
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:14] e0i commented on #3885
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:14] e0i commented on #3883
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:14] e0i commented on #3825
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:14] e0i commented on #3804
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:14] e0i commented on #3712
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:14] e0i commented on #3711
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:14] e0i commented on #3692
@officedocsbot unassign @MollyMalone
@officedocsbot unassign @TinaMcN

[2019-07-31 12:15] e0i commented on #4126
@officedocsbot unassign @TinaMcN

[2019-07-31 12:17] illfated commented on #3804
@e0i : Uhmm, did you mean to assign the issue to @TinaMcN instead of unassigning it?

[2019-07-31 12:19] e0i commented on #3691
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:19] e0i commented on #3678
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:19] e0i commented on #3665
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:19] e0i commented on #3663
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:19] e0i commented on #3662
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:19] e0i commented on #3661
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:19] e0i commented on #3660
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:19] e0i commented on #3658
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:19] e0i commented on #3657
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:19] e0i commented on #3656
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:20] e0i commented on #3655
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:20] e0i commented on #3654
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:20] e0i commented on #3653
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:20] e0i commented on #3651
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:20] e0i commented on #3650
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:20] e0i commented on #3649
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:20] e0i commented on #3648
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:20] e0i commented on #3644
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:20] e0i commented on #3612
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:20] e0i commented on #3597
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:20] e0i commented on #3595
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:20] e0i commented on #3594
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:20] e0i commented on #3586
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:20] e0i commented on #3580
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:20] e0i commented on #3575
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:22] e0i commented on #3574
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:22] e0i commented on #3572
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:22] e0i commented on #3571
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:22] e0i commented on #3570
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:22] e0i commented on #3569
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:22] e0i commented on #3568
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:22] e0i commented on #3567
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:22] e0i commented on #3566
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:22] e0i commented on #3565
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:22] e0i commented on #3503
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:22] e0i commented on #3491
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:22] e0i commented on #3488
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:22] e0i commented on #3487
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:23] e0i commented on #3465
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:23] e0i commented on #3464
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:23] e0i commented on #3463
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:23] e0i commented on #3462
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:23] e0i commented on #3459
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:23] e0i commented on #3458
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:23] e0i commented on #3457
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:23] e0i commented on #3456
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:23] e0i commented on #3455
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:23] e0i commented on #3453
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:23] e0i commented on #3452
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:23] e0i commented on #3451
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:24] e0i commented on #3423
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:24] e0i commented on #3396
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:24] e0i commented on #3395
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:25] e0i commented on #3394
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:25] e0i commented on #3192
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:25] e0i commented on #3173
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:25] e0i commented on #3159
@officedocsbot unassign @MollyMalone
@officedocsbot assign @TinaMcN

[2019-07-31 12:29] illfated commented on #4558
The PR #4585 is as good as complete, we are only waiting for @lomayor (or any other relevant MDM admin contributor, like @lizap ) for final review & merge of the PR content.

[2019-07-31 12:37] illfated commented on #3897
Fair enough. Thank you for the feedback.

![6f409915-a504-44e2-b983-1b587c22d409](https://user-images.githubusercontent.com/38162891/62212308-bdaece80-b3a0-11e9-8151-72a12b432a02.png)

[2019-07-31 12:39] illfated commented on #2489
![6f409915-a504-44e2-b983-1b587c22d409](https://user-images.githubusercontent.com/38162891/62212383-e33bd800-b3a0-11e9-935c-986603f4492c.png)

[2019-07-31 12:52] illfated commented on #4589
Will be interesting to see if any changes to the English version of this page could alleviate the translation bug in the Japanese version of the page, where 2 occurrences of a double asterisk ( `* *` ) contains a space between them, making it look like a broken MarkDown **bold** formatting issue (#3453).

[2019-07-31 12:55] jvsam commented on #4574
Thank you for bringing this to our attention @CaptainUnlikely. We always strive to improve the quality of the technical documentation of Microsoft Docs so your feedback is appreciated.

Hi @illfated can you please proceed in creating a PR to correct the *Desktop Optimization Pack* link? As always, thank you very much for your assistance.

[2019-07-31 13:07] illfated commented on #3453
I haven't quite figured out why the asterisks appear as they do in the Japanese version, but looking at the English (en-us) version of the page, it seems they need to be there as part of the explanatory text. I think this is exactly the same type of issue as in #3451 & #3452 , but I need to check it again and verify this before I can confirm that this is the case.

Excerpt from the en-us page vers

[2019-07-31 13:46] illfated commented on #4589
@SteveBurkettNZ : This topic is not at all within my working experience, so I hope you will be able to help me out by confirming a couple of minor details from this page.

When looking at the lines containing a double asterisk in 2 different sections, are these asterisks actually part of the needed input/code/explanation/description here? Or can they be removed?

Relevant excerpts from the page. N

[2019-07-31 13:52] illfated commented on #3453
I have commented more in the English issue ticket #4589 (**Missing step to set the Subject Alternative Name in Create a SCEP Certificate Profile section?**), asking if the asterisks are needed at all or if they can be removed. This topic is unfortunately not within my experience or work area, so I have to rely on feedback from users who know this material to some extent already. Will post back her

[2019-07-31 14:28] illfated commented on #4574
There you go. PR #4592 ready for review (only 1 change, like in my comment links above).
Feel free to suggest other changes on the same page, if there are any at all.

[2019-07-31 14:30] mypil commented on #4510
@Soulusm - We would like to follow up. Can you please respond to the question of joinimran?

Thank you.

[2019-07-31 14:35] illfated commented on #3648
At a glance, it looks like the machine translation removed too many spaces, including the normal single spaces between words.
In my opinion, the the originating en-us page needs to be fed through the translation script again, to see if any improvement appears.
If no immediate improvement appears this time, it needs manual review or translation.

[2019-07-31 14:39] mypil commented on #4554
@cw123williams - From our understanding, the issue you raised has been answered by MaratMussabekov. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-07-31 14:59] illfated commented on #3159
@e0i : Looking back at the pages now, this specific issue seems to be resolved, both for the Japanese and Github pages:
- https://docs.microsoft.com/ja-jp/surface/microsoft-surface-data-eraser#microsoft-surface-data-eraser-usb-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%83%E3%82%AF%E3%81%AE%E4%BD%9C%E6%88%90%E6%96%B9%E6%B3%95
- https://github.com/MicrosoftDocs/windows-itpro-docs/blob/master/devices/surface/

[2019-07-31 16:10] hyoshioka0128 commented on #3648
Hi, @illfated. It has been updated, but not fixed.

![windows-defender-security-center-antivirus](https://user-images.githubusercontent.com/40815708/62228641-0b572580-b3f9-11e9-871d-e679caed6f19.png)
ja-jp:https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-antivirus/windows-defender-security-center-antivirus

Thank you.

[2019-07-31 16:19] hyoshioka0128 commented on #3594
Fixed.
Close #3594

![windows-security-compliance_j2](https://user-images.githubusercontent.com/40815708/62229305-5aea2100-b3fa-11e9-80a2-b64abac79477.png)
ja-jp:https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-security-configuration-framework/windows-security-compliance

[2019-07-31 16:19] #3594 closed

[2019-07-31 23:24] TinaMcN commented on #3648
I set the topic to be human translated, this may take 2-3 weeks to complete.

[2019-07-31 23:32] TinaMcN commented on #3586
I set the topic to be human translated, this may take 2-3 weeks to complete.

[2019-07-31 23:38] TinaMcN commented on #3565
Thanks for the feedback @hyoshioka0128
Set the topic to be human translated, will take 2-3 weeks to process

[2019-07-31 23:38] TinaMcN commented on #3566
Thanks for the feedback @hyoshioka0128
Set the topic to be human translated, will take 2-3 weeks to process

[2019-07-31 23:42] TinaMcN commented on #3423
Thanks for the feedback @hyoshioka0128
Set the topic to be human translated, will take 2-3 weeks to process

[2019-07-31 23:44] TinaMcN commented on #3804
Thanks for the feedback @hyoshioka0128
Set the topic to be human translated, will take 2-3 weeks to process

[2019-08-01 03:47] ManikaDhiman commented on #1753
Hi @jvsam, Product team suggested not to add any note in the CSP doc for this error as it is specific to Intune, other MDM ISVs may have different results. Hope this helps. Thanks!

[2019-08-01 04:00] jvsam commented on #4577
Thank you for your feedback to help improve the quality of the technical documentation of Microsoft Docs, @Alex-Brooks!

If "high" may cause false positives, this also applies (possibly even more so) for High + and Zero Tolerance
If "high +" may impact client performance, this also applies (possibly even more so) to Zero Tolerance.

Hello @Dansimp, if time permits, can you please clarify if the ab

[2019-08-01 04:31] jvsam commented on #4578
Hello @jszabo98 thank you for your question.

bcdedit /set {default} osdevice partition=C:
I would think this command would work with sysprep without any intervention?

Hi @greg-lindsay, if time permits, can you please review this and provide some insight on @jszabo98's question? Thank you in advance for your assistance.

[2019-08-01 04:49] jvsam commented on #4582
Hello @SteveBurkettNZ thank you for bringing this to our attention.

The link should go [here instead](https://docs.microsoft.com/azure/active-directory/devices/hybrid-azuread-join-manual) and to check at the *Verify configuration steps* section.

![image](https://user-images.githubusercontent.com/18371314/62266239-64fd2700-b3dc-11e9-99d6-55985d50b9b8.png)

I will get this over to the Windows cont

[2019-08-01 05:02] hkusulja commented on #1753
@ManikaDhiman then specify this error and details about it into Intune documentation...

[2019-08-01 06:00] jvsam commented on #4583
Hello @KC-Syd thank you for your questions. The [Windows Update Delivery Optimization and privacy](https://support.microsoft.com/help/4468254/windows-update-delivery-optimization-faq) article may provide some insight, particularly on the bandwidth usage, which at the moment utilizes percentage and dynamically adjusts based on what's set.

More information [here](https://docs.microsoft.com/windows/

[2019-08-01 06:13] jvsam commented on #4584
Hello @3flex thanks for bringing this to our attention. What do you think about the information provided by @nhogarth86? Did it clarify this for you? If not, please provide more information. Also, if there is anything in this documentation that needs to improve, please let us know and we will submit it for review. Thanks and looking forward to hearing from you.

Thanks for the assistance @nhogarth

[2019-08-01 06:37] ricky-lewis opened #4595 "Run the script once every 30 days"
My question is why?

We assumed that once the script has been deployed and ran on a machine that it configured some kind of service or process in the background that will periodically report into the Analytics on azure (Certainly looks that way, as machines are showing recent LastScan dates that were deployed to weeks ago).

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-08-01 06:40] jvsam commented on #4595
@officedocsbot assign @jvsam

[2019-08-01 07:47] jvsam commented on #4595
Thanks for your question @ricky-lewis! Here's an explanation from [Microsoft on their blog](https://blogs.technet.microsoft.com/askpfeplat/2018/07/02/deploying-upgrade-readiness-without-sccm/):

More information [here](https://docs.microsoft.com/windows/deployment/update/windows-analytics-get-started#automate-data-collection) regarding its impact on data collection.

And an interesting discussion

[2019-08-01 08:05] ricky-lewis commented on #4595
Hello,

Thank you for getting back to me so soon.

I'm still a little misty as to why the script has to be ran again after 30 days. Do the machines not regularly report into the analytics (We use Upgrade Readiness and Device Health) once the script has run? Or do you have to run the script every 30 days for this to happen?

We reason I'm confused about this is because when we first ran the script

[2019-08-01 08:26] jvsam commented on #4595
Hi again @ricky-lewis were you able to check the links that I've sent, including the Tech Community discussion? Like this comment from another user:

https://docs.microsoft.com/en-us/windows/deployment/update/windows-analytics-get-started#automate-da...
Without the script it sometimes can take weeks for machines to send data and you cannot guarantee all the machines will send data.

If you need mo

[2019-08-01 08:43] ricky-lewis commented on #4595
Hello,

Ok I think that clears up the 30 script run reason. To confirm:

The script is run every 30 days to make sure machines report in even if they couldn't at the time the system would normally. Makes perfect sense to me now.

Finally, how should the script be set to run monthly?

[2019-08-01 09:27] mrfx opened #4596 "Tiles / Tiles' groups overlay each other"
Clean installation of Windows 10 (1903, 18362.239) and there are issues with full screen start menu. New tiles and tiles groups overlay each other and it cannot be fixed by drag & drop. Occasionally after close and reopen start menu then tiles positions are moved that not overlay each other anymore. I have dual screen setup: 4k 100% scale external display and 4k 200% built-in noteboook display.

-

[2019-08-01 09:33] jvsam commented on #4595
@ricky-lewis one of the links that I've provided contains deployment instructions, though without SCCM. But the instructions⁠—I would assume⁠—for adding recurring scheduled tasks are the same. Please check: https://blogs.technet.microsoft.com/askpfeplat/2018/07/02/deploying-upgrade-readiness-without-sccm/

Thanks.

[2019-08-01 09:33] jvsam commented on #4596
@officedocsbot assign @jvsam

[2019-08-01 09:34] mypil commented on #4377
@officedocsbot close

[2019-08-01 09:35] #4377 closed

[2019-08-01 09:35] mypil commented on #4379
@officedocsbot close

[2019-08-01 09:35] #4379 closed

[2019-08-01 09:35] ricky-lewis commented on #4595
Great stuff. Thanks for clarifying all this. Happy for this to be closed.

[2019-08-01 09:35] #4595 closed

[2019-08-01 15:30] mypil commented on #4408
@iadgovuser1 - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-08-01 16:31] e0i commented on #3896
@My-userid
We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.

Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.

Thank you for providing feedback.

[2019-08-01 16:39] e0i commented on #3896
@officedocsbot close

[2019-08-01 16:39] #3896 closed

[2019-08-01 17:15] e0i commented on #3991
@greg-lindsay We need authoritative input regarding whether license should be added to the document to move forward with this issue. Thanks.

[2019-08-01 17:30] iadgovuser1 commented on #4408
@mypil

Looks like the change was that item #3 was added:
1. If you want to specify a complete domain, include a full domain name (for example "**contoso.com**") in the configuration.
2. You may optionally use "." as a previous wildcard character to automatically trust all subdomains (when there is more than one subdomain). Configuring "**.constoso.com**" will automatically trust "**subdomain1.con

[2019-08-01 20:13] e0i commented on #2968
@officedocsbot unassign @dongmicro
 @officedocsbot assign @TinaMcN

[2019-08-01 20:13] e0i commented on #3396
@officedocsbot unassign @dongmicro

[2019-08-01 20:14] e0i commented on #3395
@officedocsbot unassign @dongmicro

[2019-08-01 20:14] e0i commented on #3394
@officedocsbot unassign @dongmicro

[2019-08-01 20:14] e0i commented on #3192
@officedocsbot unassign @dongmicro

[2019-08-01 20:15] e0i commented on #3173
@officedocsbot unassign @dongmicro

[2019-08-01 20:15] e0i commented on #3159
@officedocsbot unassign @dongmicro

[2019-08-01 20:23] e0i commented on #4127
@officedocsbot unassign @dongmicro

[2019-08-01 20:23] e0i commented on #4126
@officedocsbot unassign @dongmicro

[2019-08-01 20:23] e0i commented on #4125
@officedocsbot unassign @dongmicro

[2019-08-01 20:23] e0i commented on #4095
@officedocsbot unassign @dongmicro

[2019-08-01 20:23] e0i commented on #4077
@officedocsbot unassign @dongmicro

[2019-08-01 20:23] e0i commented on #4047
@officedocsbot unassign @dongmicro

[2019-08-01 20:23] e0i commented on #4039
@officedocsbot unassign @dongmicro

[2019-08-01 20:23] e0i commented on #4031
@officedocsbot unassign @dongmicro

[2019-08-01 20:23] e0i commented on #4009
@officedocsbot unassign @dongmicro

[2019-08-01 20:24] e0i commented on #3970
@officedocsbot unassign @dongmicro

[2019-08-01 20:24] e0i commented on #3969
@officedocsbot unassign @dongmicro

[2019-08-01 20:24] e0i commented on #3963
@officedocsbot unassign @dongmicro

[2019-08-01 20:24] e0i commented on #3915
@officedocsbot unassign @dongmicro

[2019-08-01 20:24] e0i commented on #3902
@officedocsbot unassign @dongmicro

[2019-08-01 20:24] e0i commented on #3891
@officedocsbot unassign @dongmicro

[2019-08-01 20:24] e0i commented on #3886
@officedocsbot unassign @dongmicro

[2019-08-01 20:24] e0i commented on #3885
@officedocsbot unassign @dongmicro

[2019-08-01 20:24] e0i commented on #3883
@officedocsbot unassign @dongmicro

[2019-08-01 20:24] e0i commented on #3825
@officedocsbot unassign @dongmicro

[2019-08-01 20:25] e0i commented on #3804
@officedocsbot unassign @dongmicro

[2019-08-01 20:25] e0i commented on #3712
@officedocsbot unassign @dongmicro

[2019-08-01 20:25] e0i commented on #3711
@officedocsbot unassign @dongmicro

[2019-08-01 20:25] e0i commented on #3692
@officedocsbot unassign @dongmicro

[2019-08-01 20:25] e0i commented on #3691
@officedocsbot unassign @dongmicro

[2019-08-01 20:25] e0i commented on #3678
@officedocsbot unassign @dongmicro

[2019-08-01 20:26] e0i commented on #3665
@officedocsbot unassign @dongmicro

[2019-08-01 20:26] e0i commented on #3663
@officedocsbot unassign @dongmicro

[2019-08-01 20:26] e0i commented on #3662
@officedocsbot unassign @dongmicro

[2019-08-01 20:26] e0i commented on #3661
@officedocsbot unassign @dongmicro

[2019-08-01 20:26] e0i commented on #3660
@officedocsbot unassign @dongmicro

[2019-08-01 20:26] e0i commented on #3658
@officedocsbot unassign @dongmicro

[2019-08-01 20:26] e0i commented on #3657
@officedocsbot unassign @dongmicro

[2019-08-01 20:27] e0i commented on #3656
@officedocsbot unassign @dongmicro

[2019-08-01 20:27] e0i commented on #3655
@officedocsbot unassign @dongmicro

[2019-08-01 20:27] e0i commented on #3654
@officedocsbot unassign @dongmicro

[2019-08-01 20:27] e0i commented on #3653
@officedocsbot unassign @dongmicro

[2019-08-01 20:27] e0i commented on #3651
@officedocsbot unassign @dongmicro

[2019-08-01 20:27] e0i commented on #3650
@officedocsbot unassign @dongmicro

[2019-08-01 20:27] e0i commented on #3649
@officedocsbot unassign @dongmicro

[2019-08-01 20:27] e0i commented on #3648
@officedocsbot unassign @dongmicro

[2019-08-01 20:28] e0i commented on #3644
@officedocsbot unassign @dongmicro

[2019-08-01 20:28] e0i commented on #3612
@officedocsbot unassign @dongmicro

[2019-08-01 20:28] e0i commented on #3597
@officedocsbot unassign @dongmicro

[2019-08-01 20:28] e0i commented on #3595
@officedocsbot unassign @dongmicro

[2019-08-01 20:28] e0i commented on #3586
@officedocsbot unassign @dongmicro

[2019-08-01 20:28] e0i commented on #3580
@officedocsbot unassign @dongmicro

[2019-08-01 20:28] e0i commented on #3575
@officedocsbot unassign @dongmicro

[2019-08-01 20:28] e0i commented on #3574
@officedocsbot unassign @dongmicro

[2019-08-01 20:28] e0i commented on #3572
@officedocsbot unassign @dongmicro

[2019-08-01 20:29] e0i commented on #3571
@officedocsbot unassign @dongmicro

[2019-08-01 20:29] e0i commented on #3570
@officedocsbot unassign @dongmicro

[2019-08-01 20:29] e0i commented on #3569
@officedocsbot unassign @dongmicro

[2019-08-01 20:29] e0i commented on #3568
@officedocsbot unassign @dongmicro

[2019-08-01 20:29] e0i commented on #3567
@officedocsbot unassign @dongmicro

[2019-08-01 20:29] e0i commented on #3566
@officedocsbot unassign @dongmicro

[2019-08-01 20:30] e0i commented on #3565
@officedocsbot unassign @dongmicro

[2019-08-01 20:30] e0i commented on #3503
@officedocsbot unassign @dongmicro

[2019-08-01 20:30] e0i commented on #3491
@officedocsbot unassign @dongmicro

[2019-08-01 20:30] e0i commented on #3488
@officedocsbot unassign @dongmicro

[2019-08-01 20:30] e0i commented on #3487
@officedocsbot unassign @dongmicro

[2019-08-01 20:30] e0i commented on #3465
@officedocsbot unassign @dongmicro

[2019-08-01 20:31] e0i commented on #3464
@officedocsbot unassign @dongmicro

[2019-08-01 20:31] e0i commented on #3463
@officedocsbot unassign @dongmicro

[2019-08-01 20:31] e0i commented on #3462
@officedocsbot unassign @dongmicro

[2019-08-01 20:31] e0i commented on #3459
@officedocsbot unassign @dongmicro

[2019-08-01 20:31] e0i commented on #3458
@officedocsbot unassign @dongmicro

[2019-08-01 20:31] e0i commented on #3457
@officedocsbot unassign @dongmicro

[2019-08-01 20:31] e0i commented on #3456
@officedocsbot unassign @dongmicro

[2019-08-01 20:31] e0i commented on #3455
@officedocsbot unassign @dongmicro

[2019-08-01 20:31] e0i commented on #3453
@officedocsbot unassign @dongmicro

[2019-08-01 20:31] e0i commented on #3452
@officedocsbot unassign @dongmicro

[2019-08-01 20:31] e0i commented on #3451
@officedocsbot unassign @dongmicro

[2019-08-01 20:31] e0i commented on #3423
@officedocsbot unassign @dongmicro

[2019-08-01 20:36] Jcweb35 opened #4603 "Upgrading to Windows 10 Enterprise with Office 365 E3"
Our small non-profit purchased 5 365 E3 licenses for use of the office staff and the ability to upgrade to Windows 10.

All of our systems are currently running Windows 7 :-(,

Cannot find a download link for Win 10 on Office 365 admin.  How do we upgrade each system to Win 10 Enterprise?

[2019-08-01 20:43] illfated commented on #4603
If all your Windows 7 versions are Windows 7 Professional or Windows 7 Ultimate, it will be necessary to first upgrade them to Windows 10 Professional before applying the Enterprise licenses. I think this should still be possible, because I did upgrade my company's old Windows 7 Ultimate computer to Windows 10 Professional a few months ago.

[2019-08-01 20:59] d-Rickyy-b opened #4604 "Table issue in the German version"
In the German version, the table is broken where the pipe character `|` should be. That leads to the parameter description disappearing.

![grafik](https://user-images.githubusercontent.com/5798157/62326849-5fbcdc80-b4af-11e9-8f34-e3992b612b7c.png)

Comparison to the English version:
![grafik](https://user-images.githubusercontent.com/5798157/62327086-f7bac600-b4af-11e9-9131-83aa72e7e890.png)

---

[2019-08-01 21:19] illfated commented on #4604
Difficult to say why it happens in the German version, because the Github source for the German page is not available to ordinary users.
Could be a spacing issue or just simply a machine translation issue, which might have removed the extra table cell delimiting pipe character.

[2019-08-01 21:53] TinaMcN commented on #3692
Thanks for the feedback @hyoshioka0128
Set the topic to be human translated, will take 2-3 weeks to process

[2019-08-01 22:45] 3flex commented on #4584
It's still confusing to read in Intune doc for win 10 app deployment that device context user targeted installs will fail, but the autopilot doc says that during autopilot white glove they'll succeed.

If that's the behaviour then ok, but since the two docs seem to contradict each other then there should be an explanatory note added because it's confusing otherwise.

[2019-08-01 23:03] TinaMcN commented on #3595
This issue now appears to be fixed.  @hyoshioka0128 can you please confirm and close?

[2019-08-01 23:52] TinaMcN commented on #3569
@hyoshioka0128 Good bug!  It seems to be an issue with the machine translation tool.  I logged a bug for the tool owners to investigate.

[2019-08-01 23:52] TinaMcN commented on #3572
It seems to be an issue with the machine translation tool.  I logged a bug for the tool owners to investigate.

[2019-08-01 23:53] TinaMcN commented on #3571
It seems to be an issue with the machine translation tool.  I logged a bug for the tool owners to investigate.

[2019-08-01 23:53] TinaMcN commented on #3570
It seems to be an issue with the machine translation tool.  I logged a bug for the tool owners to investigate.

[2019-08-01 23:53] TinaMcN commented on #3574
It seems to be an issue with the machine translation tool.  I logged a bug for the tool owners to investigate.

[2019-08-01 23:53] TinaMcN commented on #3575
It seems to be an issue with the machine translation tool.  I logged a bug for the tool owners to investigate.

[2019-08-01 23:59] TinaMcN commented on #3595
@e0i I think this is an issue with the English source content.   I believe "TIME OUT ERRORS" should be changed to "TIME_OUT_Errors" i.e. include "_" between the words.   The MT tool is over-translating the terms as a result.   Can you fix the English source?

[2019-08-02 00:16] SquirrelAssassin commented on #3772
BTW its not Administrative Templates > Windows Component, and select Windows Hello for Business.  Unless your on some old version of windows.

Its Administrative Templates > Windows Component, and select Microsoft Passport for work.

[2019-08-02 00:20] SquirrelAssassin commented on #3772
RAJU2529 looks totally legit btw we should all download stuff from a college that the India government owns ... I totally trust code from government entities ....... (please know I'm being sarcastic)

[2019-08-02 01:11] Jcweb35 commented on #4603
Thanks.  I'll try that.

[2019-08-02 01:32] jvsam commented on #4603
@officedocsbot assign @jvsam

[2019-08-02 01:32] jvsam commented on #4604
@officedocsbot assign @jvsam

[2019-08-02 03:06] hyoshioka0128 commented on #3597
Fixed.
Close #3597

[2019-08-02 03:06] #3597 closed

[2019-08-02 03:13] hyoshioka0128 commented on #3595
Hi, @TinaMcN. (I'm poor English.)
#3597 ("ERROR_INVALID_DATA") is Fixed.
#3595 ("TIME OUT ERRORS") is not Fixed.
![windows-update-errors_j](https://user-images.githubusercontent.com/40815708/62341549-c6c5aa00-b51e-11e9-93ad-a272e36a284c.png)
Thank you.

[2019-08-02 03:39] ken5scal opened #4606 "MacOS onboarding status seems not matching between local machine and dashboard"
https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-antivirus/microsoft-defender-atp-mac-install-with-jamf

says onboarding can be checked by a command `mdatp --health healthy`, and when the output is `1`, then it's not yet in the status of onboard.

However, my machine seems to be on board as it detects a detection test `curl -o ~/Downloads/eicar.com.txt http://ww

[2019-08-02 05:38] jvsam commented on #4606
@officedocsbot assign @jvsam

[2019-08-02 05:52] RAJU2529 commented on #3772
@SquirrelAssassin . I have collected the new policies from Microsoft and from Google, Firefox and adobe. I combined and I allowed in C drive. Those policies are not from government. But US defence govt might give policy settings to make your computer secured

[2019-08-02 06:15] sebhe opened #4607 "missing software"
Is there a possibility to report missing software so that it gets detected and analyzed as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc646df4-fc3c-9a3d-7f17-b12777c4a659
* Version Independent ID: 1b37afc4-6615-e88a-d9d4-6cb29e26059e
* Content: [Software inventory](https://docs.microsoft.com/en-us/windows/sec

[2019-08-02 07:58] mypil commented on #4607
@officedocsbot assign @mypil@officedocsbot assign @mypil

[2019-08-02 08:00] mypil commented on #4607
@sebhe - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-08-02 08:21] mypil commented on #4408
@ojrb - Please assist to answer the additional questions from @iadgovuser1.

Thank you.

[2019-08-02 08:37] Anooprayas commented on #1747
Greetings,
Even I am facing the same issue. Any input to resolve this issue?

[2019-08-02 11:09] mypil commented on #4549
@JuGhithub - From our understanding, the issue you raised has been answered by MaratMussabekov. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-08-02 14:33] ojrb commented on #4408
Hi @iadgovuser1 for clarification the option 2 can be used when you have more than one subdomain as explained on the example. potion 3 in an alternative when you have only one subdomain and want to trust on this !

[2019-08-02 14:36] mypil commented on #4410
@iadgovuser1 - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-08-02 15:54] #4574 closed

[2019-08-02 16:15] iadgovuser1 commented on #4408
@ojrb I asked a few people to take a look at the wording and we all agreed it is still confusing. I think the concept trying to be conveyed is how many "levels" are trusted by the dot syntax.

For the example of (one dot) for 2: .contoso.com means www.contoso.com, web.contoso.com, anything.contosos.com is trusted.

For the example of (two dots) for 3: ..contoso.com means all the above is trusted P

[2019-08-02 16:17] jvsam commented on #4574
Hi again @CaptainUnlikely, the pull request (see #4592) submitted by @illfated has been approved and merged. The link update will be displayed here at docs.microsoft.com in the next scheduled publishing run. Thank you again for your feedback and for being part of the Microsoft Docs community!

[2019-08-02 17:27] AlexAftanas opened #4609 "Different behavior with O365 and a local AD with SSO"
When on a on-premises AD and the user is using O365 and you set the minimum password age setting to 1 or more then as an administrator you reset a password in AD and check "must change password at next logon" the behavior is different than what is listed on this page.

The behavior is that a user authenticating through O365 still is limited by the minimum password age setting.  In other words the

[2019-08-02 17:52] AlexAftanas opened #4611 "Difference in behavior with on-premises AD and SSO O365 logon."
When on a on-premises AD and the user is using O365 and you set the minimum password age setting to 1 or more then as an administrator you reset a password in AD and check "must change password at next logon" the behavior is different than what is listed on this page.

The behavior is that a user authenticating through O365 still is limited by the minimum password age setting. In other words the O

[2019-08-02 17:57] iadgovuser1 commented on #4410
Looks good. Thanks!

[2019-08-02 18:40] illfated commented on #1747
@Anooprayas : if you search the issue pages in this repository (https://github.com/MicrosoftDocs/windows-itpro-docs), you will find some information, although not exactly what the error code means. Here is a list of current issue pages (closed issues) where people have asked about the error code 0x80070490:
- https://github.com/MicrosoftDocs/windows-itpro-docs/issues/3897
- https://github.com/Micr

[2019-08-02 19:32] greg-lindsay commented on #4441
You're right this is vague. After some searching myself I found this article which seems pretty helpful:
https://www.systemcenterdudes.com/windows-10-kms-activation-and-management-using-volume-activation-management-tool/

Look down about 4/5 of the way to the bottom and it discusses the Event Log, in particular the Application Logs and events number 12288, 12289, and I believe there is also a 1229

[2019-08-02 19:32] #4441 closed

[2019-08-02 22:38] pyoungberg opened #4614 "Diagnostic Logs"
Please improve the instructions for collecting diagnostic logs: "Diagnostic logs can be gathered from the device, and then it can be reset to start the process over again."

Read in the comments that this involves selecting "View Diagnostics" &gt; inserting a USB drive &gt; selecting the USB drive &gt; selecting "Select Folder" and it copies these diagnostic files in the background.

Wish there wa

[2019-08-02 23:21] jvsam commented on #4609
@officedocsbot assign @jvsam

[2019-08-02 23:21] jvsam commented on #4611
@officedocsbot assign @jvsam

[2019-08-02 23:21] jvsam commented on #4614
@officedocsbot assign @jvsam

[2019-08-02 23:51] TinaMcN commented on #3595
Hi Hiroshi-san, thank you for confirming (ありがとうございました).  We will wait for @e0i to hopefully fix the English "TIME OUT ERRORS).

[2019-08-02 23:54] jvsam commented on #4596
Hello @mrfx thank you for bringing this to our attention. We're happy to assist you with your concern, however, this Github site is used as a feedback system to help improve the quality of the technical documentation. If the troubleshooting steps suggested in this doc did not fix the problem for you, we recommend that you open a [service/support ticket](https://support.microsoft.com/hub/4338813/wi

[2019-08-02 23:56] pyoungberg commented on #4614
Collecting logs didn't work for me so I'm going to open a support case, but the instructions could be clearer - thanks!

[2019-08-03 00:25] jvsam commented on #4603
Hello @Jcweb35 this Micrcosoft [Windows 10 upgrade paths](https://docs.microsoft.com/windows/deployment/upgrade/windows-10-upgrade-paths) doc can help. As you can see on the table, you cannot upgrade directly to Windows 10 Enterprise if you are using Windows 7 Home. However, for Pro, it seems it's possible. Since you have M365 subscription, there may be additional steps that you need to perform be

[2019-08-03 00:36] jvsam commented on #4604
Thank you for bringing this to our attention @d-Rickyy-b. Your feedback to improve the quality of the localized documentation is very much appreciated!

@dongmicro please see the feedback from a community user. Thanks.

[2019-08-03 00:36] jvsam commented on #4604
@officedocsbot assign @dongmicro

[2019-08-03 00:57] d-Rickyy-b commented on #4604
Thanks a lot. I want to send out some kudos to the seamless integration of GitHub issues into your documentation. It couldn't be easier to report issues. Microsoft is on a lovely way - I like where everything is going. Keep up the good work 😊 .

[2019-08-03 02:37] hyoshioka0128 commented on #3569
Hi, @TinaMcN. It has been updated, but not fixed.
![windows-update-resources](https://user-images.githubusercontent.com/40815708/62406203-da3a4900-b5e2-11e9-9c21-77c843a44dab.png)
Thank you.

[2019-08-03 04:22] nickwalkmsft opened #4616 "RDP to AAD-joined PC from non-joined PC"
I'm looking for a couple things related to RDPing to an AAD-joined remote computer from a local computer that is not joined to AAD or any domain:

1. https://morgansimonsen.com/2015/11/06/connecting-to-an-azure-ad-joined-machine-with-remote-desktop/ has pretty old instructions about RDPing to an AAD-joined machine. It looks like things have improved since then, except for the scenario where the lo

[2019-08-03 04:27] jvsam commented on #4616
@officedocsbot assign @jvsam

[2019-08-03 05:05] joinimran commented on #4573
Hello @JonesOne , When you are deploying the device and need to provide local users admin access then you need to add the local users or the local groups as an administrator to work this as expected.

Regards,
Imran.

[2019-08-03 05:20] jvsam commented on #4606
Hi @ken5scal, to confirm the onboarding status, kindly check via the onboarding section of the Microsoft Defender Security Center. If it says onboarding is completed, then yes, you're good to go. If no machine is appearing in the machines list and there was no error in the onboarding process, this might indicate an onboarding or connectivity problem. I would suggest [reviewing the events and error

[2019-08-03 05:40] illfated commented on #4603
Thank you for the tip and the links, I have not had the opportunity to test upgrading to Enterprise versions myself. My comment above was mostly based on previous feedback in other issue pages where Windows 10 Pro was a necessary step in the process. Those could have been related to Windows 10 Home, I don't remember that part in detail.

[2019-08-03 06:31] jvsam commented on #4609
Hi @AlexAftanas happy to help, however, can you please point us to the correct documentation where you are seeing the discrepancy? Are you pertaining to this information that is available [here](https://docs.microsoft.com/office365/admin/manage/set-password-expiration-policy?view=o365-worldwide), perhaps?

Or this warning for Azure AD's password writeback? A common issue for some users who [can't

[2019-08-03 06:40] jvsam commented on #4609
@AlexAftanas I will now close this issue since you have already opened #4611 from the actual content page. We will track that instead. Thank you again.

[2019-08-03 06:40] jvsam commented on #4609
@officedocsbot close

[2019-08-03 06:40] #4609 closed

[2019-08-03 07:12] jvsam commented on #4611
Thanks for creating this issue via the feedback section of the docs @AlexAftanas. I closed #4609 since it's a duplicate of this. What I will do is to forward this to the Windows content writing team to suggest adding a note in this documentation that if there's a minimum password age set, user will not be able to change the password until it reaches the specified age (applicable to on-premises AD

[2019-08-04 05:07] jvsam commented on #4614
Hello @pyoungberg thank you for your feedback. There is a related documentation on this topic (_See TOC on the left side_) on [Troubleshooting Windows Autopilot](https://docs.microsoft.com/windows/deployment/windows-autopilot/troubleshooting) that contains instructions in viewing event log entries including registry and ETW trace options. You may also use Windows [MDM Diagnostics Tool](https://doc

[2019-08-04 05:34] jvsam commented on #1839
Hi again @levinec just following up if you have any feedback on this. If the Product team can confirm if the below information is still accurate, then can we consider this as a bug? Thank you and hoping to hear from you.

[2019-08-04 05:53] jvsam commented on #1750
Thank you for staying on top of this @ManikaDhiman!

[2019-08-04 07:45] jvsam commented on #1753
Thank you for the update @ManikaDhiman. We appreciate all your effort.

@hkusulja there are different topic owners/authors. And with this new feedback system at docs.microsoft.com, it is easier to create an issue on the actual content page and provide feedback for better issue management. Please use the submit feedback option on the documentation where you think your suggestion is best applied sin

[2019-08-04 07:45] jvsam commented on #1753
@officedocsbot close

[2019-08-04 07:45] #1753 closed

[2019-08-04 08:34] jvsam commented on #4616
Hi @Dansimp I believe you own this topic so I am tagging you here. Kindly see @nickwalkmsft's feedback. Is this something that can be incorporated to this doc? Or do you want me to ask someone from the team to create a pull request to include the suggestions? Looking forward to hearing from you. Thank you.

[2019-08-04 08:43] jvsam commented on #1733
Hi again @DFLiddle we didn’t hear back from you so I will now close this issue, however, feel free to re-open if you have suggestions or ideas to improve the quality of this documentation.

Thanks for being part of the Microsoft Docs community!

[2019-08-04 08:43] jvsam commented on #1733
@officedocsbot close

[2019-08-04 08:43] #1733 closed

[2019-08-04 08:46] jvsam commented on #1711
Hi again @Niglb we didn’t hear back from you so we will now close this issue, however, feel free to re-open if you have suggestions or ideas to improve the quality of this documentation.

Thanks for being part of the Microsoft Docs community!

[2019-08-04 08:50] jvsam commented on #1711
@officedocsbot close

[2019-08-04 08:50] #1711 closed

[2019-08-04 09:00] jvsam commented on #1690
Hi again @PaoloBodini, we didn’t hear back from you but we hope you've got the answer that you need. We will now close this issue, however, feel free to re-open if you have suggestions or ideas to improve the quality of this documentation.

Thanks for being part of the Microsoft Docs community!

[2019-08-04 09:01] jvsam commented on #1690
@officedocsbot close

[2019-08-04 09:01] #1690 closed

[2019-08-04 15:44] jvsam commented on #4025
Thanks for referencing that issue @JonZeolla, however, that documentation is for Windows Defender Application Control (WDAC) and looking at the [comparison table](https://www.microsoft.com/windowsforbusiness/compare), WDAC is not available for Windows 10 Pro, which is the same as the suggested update on #3255 (*Although on #2430, the Intune team confirmed that WDAC policies will work on Windows 10

[2019-08-04 15:58] jvsam commented on #4258
@officedocsbot close

[2019-08-04 15:58] #4258 closed

[2019-08-04 16:15] jvsam commented on #4261
Hi @mdsakibMSFT, I'd like to follow-up on the pending questions from the community. Thank you again.

@brbrahm if you can please provide some insight as well, much appreciated. And thanks for updating the doc to clarify the supported macros.

[2019-08-04 16:29] jvsam commented on #4267
Hi @hoyty76 we didn’t hear from you so we will now close this issue. Again, if you see any problems with this documentation, e.g. inaccurate information, etc., feel free to re-open and let us know.  Thanks for being part of the Microsoft Docs community!

[2019-08-04 16:29] jvsam commented on #4267
@officedocsbot close

[2019-08-04 16:29] #4267 closed

[2019-08-04 17:40] jvsam commented on #4402
Hi again @frasercarter, what about the [Azure Active Directory integration with MDM](https://docs.microsoft.com/windows/client-management/mdm/azure-active-directory-integration-with-mdm) link in the doc? Does it not address the issues you've raised. It is also under the MDM topic with a lot of useful sub-topics in the TOC.

Same goes for this URL https://docs.microsoft.com/en-us/azure/active-direc

[2019-08-04 18:24] havealoha opened #4619 "Prompt for consent on secure desktop domain policy is failing to override locally applied 1809 baseline"
A domain gpo is set to prompt for consent on the secure desktop. The 1809 security baseline is applied as a local gpo with the -domainjoined argument. The domain policy is not overriding the local policy. This is LTSC 1809.

https://blogs.technet.microsoft.com/secguide/2018/11/20/security-baseline-final-for-windows-10-v1809-and-windows-server-2019/

---
#### Document Details

⚠ *Do not edit this s

[2019-08-04 18:25] jvsam commented on #4539
That's great to hear @Lechus. Thanks for sharing that information. So, to follow-up on @illfated's question, is there anything in this doc that needs to be updated? Information that is relevant like the deployment framework scenario [here](https://docs.microsoft.com/windows/win32/shell/appids), perhaps? If it's not applicable, then I think we can close this issue and consider it as resolved. It mi

[2019-08-04 18:53] jvsam commented on #4561
Awesome, thank you @illfated

Hi again @andrewjohnporter, the changes have been merged and will be displayed at docs.microsoft.com in the next scheduled publishing run, so please monitor this doc. We will now close this issue and consider it resolved, thank you.

[2019-08-04 18:54] jvsam commented on #4561
@officedocsbot close

[2019-08-04 18:54] #4561 closed

[2019-08-04 18:54] jvsam commented on #4619
@officedocsbot assign @jvsam

[2019-08-04 18:59] jvsam commented on #4577
Hi again @Dansimp, just following up to get your input regarding the feedback from a community user before we create a pull request. Thank you so much.

[2019-08-04 19:03] jvsam commented on #4578
Hi again @greg-lindsay, just following up to get your input regarding the feedback from a community user. Thank you so much.

[2019-08-04 19:05] jvsam commented on #4578
Hi @jszabo98 may I also suggest that you [contact support](https://support.microsoft.com/hub/4338813/windows-help?os=windows-10) to confirm the information? And then please keep us posted here on the resolution or information that can be called out in the docs. Looking forward to hearing from you!

[2019-08-04 19:14] hkusulja commented on #1753
Ref: https://github.com/MicrosoftDocs/IntuneDocs/issues/2773

[2019-08-04 19:19] jvsam commented on #4583
Hi again @KC-Syd, we didn’t hear back from you but we hope the information we've provided helped. We will now close this issue, however, feel free to re-open if you have suggestions or ideas to improve the quality of this documentation.

Thanks for being part of the Microsoft Docs community!

[2019-08-04 19:20] jvsam commented on #4583
@officedocsbot close

[2019-08-04 19:20] #4583 closed

[2019-08-04 19:35] jvsam commented on #4596
Hi again @mrfx we didn’t hear back from you but we hope your issue has been resolved.  We will now close this issue, however, feel free to re-open if you have suggestions or ideas to improve the quality of this documentation. Thanks for being part of the Microsoft Docs community!

[2019-08-04 19:36] jvsam commented on #4596
@officedocsbot close

[2019-08-04 19:36] #4596 closed

[2019-08-04 20:00] jvsam commented on #4606
Hi again @ken5scal I, just wanted to follow up if you were able to successfully onboard your machine? If  you are having problems, please check the links that I've provided. I will now close this issue, however, feel free to re-open if you have suggestions or ideas to improve the quality of this documentation. Thanks for being part of the Microsoft Docs community!

[2019-08-04 20:00] jvsam commented on #4606
@officedocsbot close

[2019-08-04 20:00] #4606 closed

[2019-08-04 20:48] jvsam commented on #4619
Hello @havealoha based on the information you have provided, the best course of action is to [contact Windows 10 support](https://support.microsoft.com/hub/4338813/windows-help?os=windows-10) to get immediate assistance. Also, the TechNet article has been migrated to [Tech Community](https://techcommunity.microsoft.com/t5/Microsoft-Security-Baselines/Security-baseline-FINAL-for-Windows-10-v1809-an

[2019-08-04 21:19] jvsam commented on #4603
All right, thanks for the clarification @illfated.

Hi again @Jcweb35, we hope the information we've provided helped. If you encounter difficulties upgrading, you can open a [service/support ticket](https://support.microsoft.com/hub/4338813/windows-help?os=windows-10) in your tenant to get immediate assistance or start a conversation at the [Microsoft Tech community](https://techcommunity.microsof

[2019-08-04 21:20] jvsam commented on #4603
@officedocsbot close

[2019-08-04 21:20] #4603 closed

[2019-08-04 21:45] SteveBurkettNZ commented on #4589
It's broken markdown.

If you check out the [raw MD page](https://raw.githubusercontent.com/MicrosoftDocs/windows-itpro-docs/master/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert.md) and do a search for 'strong' you'll find:

... I'd delete the strong and /strong tags and add a double asterisk at the end to get:

and the other is:

… I'd delete the strong and /s

[2019-08-04 21:52] jvsam commented on #4584
@3flex although if you will read the entire paragraph on this doc, part of the context is the pre-provisioning process which is what white glove is all about, which makes this different from the Intune doc. However, if you have any suggestion or a better messaging in mind, please let us know and we will submit it to the Microsoft author for review. Thank you.

[2019-08-04 22:04] jvsam commented on #4595
You're welcome @ricky-lewis. Thanks for being part of the Microsoft Docs community!

[2019-08-04 22:26] ericlaw1979 opened #4620 "Typo in command line"
Set-ProcesMitigation -Name c:\apps\lob\tests\testing.exe -Enable AuditDynamicCode

should be

Set-ProcessMitigation -Name c:\apps\lob\tests\testing.exe -Enable AuditDynamicCode

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00cee114-b948-5896-fe9e-8aef56281345
* Version Independent ID: dffaa17d-04ca-aef2-0a9e-5af81cbdb

[2019-08-04 22:34] jvsam commented on #4620
@officedocsbot assign @jvsam

[2019-08-04 23:02] jvsam commented on #4620
Hi @ericlaw1979 thank you so much for bringing this up. I will get this over to the Windows content writing team and request for the correction of the misspelled cmdlet.  We always strive to improve the quality of the technical documentation of Microsoft Docs so your feedback is appreciated!

Thank you for being part of the Microsoft Docs Community!

[2019-08-05 08:31] mypil commented on #4497
@SudheeshGH - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. Furthermore, please take note that this entire doc set is being rewritten and should be published with new information this month as indicated [here](https://github.com/MicrosoftDocs/windows-itpro-docs/pull/4521#issuecomment-517813683).  If you feel it hasn'

[2019-08-05 09:05] mypil commented on #4408
@iadgovuser1 - We value your efforts to clarify the docs and we encourage collaboration so we would like to get your kind assistance.

Could you please assist us by suggesting how this content could be edited to incorporate your feedback?

If you could suggest what the appropriate text and where it should be placed, I could assign @ojrb to create a Pull Request to get it added.

You also have the

[2019-08-05 09:07] mypil commented on #4410
@officedocsbot close

[2019-08-05 09:07] #4410 closed

[2019-08-05 09:51] mypil commented on #4573
@JonesOne - From our understanding, the issue you raised has been answered by joinimran. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-08-05 10:23] JonZeolla commented on #4025
Thank you, the pointer to the feedback hub was helpful.

[2019-08-05 11:55] madhuramehendalewhatfix opened #4625 "Information regarding update of LOB apps through offline licensing distribution"
Are offline licensed apps updated automatically, or the updates need to explicitly pushed. If they do get updated, do they need to access to just Microsoft store or specifically to the private store in which the extension was published. How long does the update take? What happens if the update is pushed only to certain stores. Please provide information regrading these points.

[2019-08-05 12:35] mypil commented on #4625
@officedocsbot assign @mypil

[2019-08-05 12:36] mypil commented on #4625
@madhuramehendalewhatfix - May we know which Microsoft document link you used in reference to this issue?

Please share it with us so we can investigate further. Thank you.

[2019-08-05 14:37] JonesOne commented on #4573
Hi @joinimran ,

Ah I see - but when deploying the device in a Self-Deploy profile, no accounts appear to have local admin to do this, except for those specified in Azure as either global admins or device administrators (neither of which are currently granted to help desk personnel in our organization).

Could I ask what the function of the 'User Type' toggle is on the Self-Deploy profile, if not

[2019-08-05 15:30] e0i commented on #3553
@mariopenterman

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-08-05 15:30] e0i commented on #3553
@officedocsbot close

[2019-08-05 15:30] #3553 closed

[2019-08-05 15:31] mypil commented on #4549
@officedocsbot close

[2019-08-05 15:31] #4549 closed

[2019-08-05 16:04] #4620 closed

[2019-08-05 16:50] brbrahm commented on #4261
Thanks everyone for the feedback and suggestions! @mdsakibMSFT is transitioning to a new team and away from Application Control, so I'll be working with @jsuther1974 over the next few days to address the following questions:

1. Further clarification of wildcard syntax relationship to AppLocker path rules
2. How are wildcards interpreted, and are they required to include all subfolders? For exampl

[2019-08-05 18:17] illfated commented on #4589
Thank you very much for the feedback regarding this somewhat unrelated issue.
I hope the other tech writers with experience in this topic will be able to help you.

[2019-08-05 18:44] Reeced40 commented on #3777
@BR77BE @rbbrittain If there is anything you could suggest to be added/changed in the article please could you let me know, but please be advised that this topic relates to Windows 10 (Mobile) and not Android.

[2019-08-05 18:55] illfated commented on #4147
I guess you meant to assign TinaMcN and unassign dongmicro (unless I have missed something).

[2019-08-05 18:56] e0i commented on #3840
Hello @schenardie,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-08-05 18:56] e0i commented on #3840
@officedocsbot close

[2019-08-05 18:56] #3840 closed

[2019-08-05 18:57] illfated commented on #4147
"U~indōzu kon'nichiwa" -- one of the best nerdy jokes I have come across in public documentation this year. 😄

[2019-08-05 19:03] e0i commented on #4147
@officedocsbot assign @TinaMcN

[2019-08-05 19:03] e0i commented on #4147
@officedocsbot unassign @dongmicro

[2019-08-05 21:03] rbbrittain commented on #3777
Perhaps add: "Note: This concerns messages from Windows Phone devices in the Messaging app. It does NOT apply to messages from Android devices in the separate Your Phone app."

[2019-08-05 22:47] illfated commented on #3451
@TinaMcN : We may want to schedule the linked Docs page for a test run of automated translation after the en-us version of the document has been updated (in about a week's time?) to see if this issue ticket and its directly related ticket #3453 can be closed, if the change successfully removes the formatting problem.

[2019-08-05 23:02] levinec commented on #1839
Hi Jo,

I’ve reached out to the product team but haven’t heard back. Will ping them again!

Best,
Beth

From: Jo <notifications@github.com>
Sent: Saturday, August 3, 2019 10:34 PM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Beth Levin <Elizabeth.Levin@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Edge Tile

[2019-08-06 01:58] nenonix commented on #1933
@jvsam I think the update addresses the problem.

[2019-08-06 08:12] mypil commented on #4558
@Air-Git - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-08-06 08:36] countingpine opened #4631 "Markup escaping issues?"
Hi.
There are some double backslashes in commands, e.g. 'ren c:\\boot\\bcd bcd.old', in Methods 3/4
Also there are two missing filename parameters under Method 4, e.g. 'attrib-s -h -r'

(While I'm here, there's some inconsistency with the attribute ordering, I'd suggest alphabetical, i.e. '-h -r -s'.  There's also capitalisation inconsistencies with commands like bootrec/bcdedit.)

(Also while I'm

[2019-08-06 08:42] mypil commented on #4631
@officedocsbot assign @mypil

[2019-08-06 08:43] mypil commented on #4631
@countingpine - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-08-06 08:52] 3flex commented on #4584
Thank you both. If each scenario works as described there's nothing to do here.

[2019-08-06 08:52] #4584 closed

[2019-08-06 09:09] mypil commented on #4554
@officedocsbot close

[2019-08-06 09:09] #4554 closed

[2019-08-06 10:28] cra3yk commented on #3750
Simple add:
$obj.Configuration = $obj.Configuration -replace "<", "&lt;"
$obj.Configuration = $obj.Configuration -replace ">", "&gt;"

before "Set-CimInstance -CimInstance $obj"

[2019-08-06 11:15] BigHatte opened #4633 "Clarify Documentation"
Is this Configuration applied each user logon or only once. So if the User makes some Changes to his default configuration are they overwritten next logon by policy?

[2019-08-06 11:16] mypil commented on #4633
@officedocsbot assign @mypil

[2019-08-06 11:19] #4633 closed

[2019-08-06 11:19] BigHatte opened #4634 "Clarify Documentation"
Is this Configuration applied each user logon or only once. So if the User makes some Changes to his default configuration are they overwritten next logon by policy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cbbc03b-78ac-4464-0ec8-d7379db167f4
* Version Independent ID: 6188559c-859b-77b7-8fd7-ae4bd59c06b8
* Conte

[2019-08-06 11:25] mypil commented on #4634
@officedocsbot assign @mypil

[2019-08-06 11:25] mypil commented on #4634
@BigHatte  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-08-06 12:56] cra3yk commented on #3750
ah - this forum engine has converted the original code:
it should look like this:
https://i.imgur.com/NxDs8JC.png

[2019-08-06 13:47] KevinBollengier commented on #4510
Any updates on this? I'm trying to set up a proof of concept but the provided information doesn't seem correct..

[2019-08-06 14:11] carstenhagemann commented on #4233
Hi,
any update on this? Where and how to define proxy specific for WDAG (Application Guard) ?

[2019-08-06 15:23] mypil commented on #4552
@Niglb - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-08-06 19:20] e0i commented on #3641
@TrudyHa Would you be able to provide further clarifications to move forward with a possible PR for this issue? Thanks.

[2019-08-06 19:45] tp-seiso commented on #1297
@jvsam This issue appears to persist. Please provide any available update at your earliest convenience.

[2019-08-06 23:29] mattsmacblog opened #4637 "GP Settings Combinations"
How do these settings interact with the much older GP settings of:
System/Internet Communication Management/Internet Communication settings &gt; "Turn off access to all Windows Update features".

and also newer:
System/Specify settings for optional component installation and component repair &gt;
"Download repair content and optional features directly from Windows Update instead of Windows Server

[2019-08-06 23:55] jvsam commented on #4637
@officedocsbot assign @jvsam

[2019-08-07 02:21] ManikaDhiman commented on #4402
Hi @jvsam, This doc is now expanded to include additional reference links as you suggested and the following two new topics:
Verify auto-enrollment requirements and settings, Troubleshoot auto-enrollment of devices.
Hope these changes will bring more clarity to the content. Thanks!

[2019-08-07 04:50] SLeuthold opened #4638 "Delivery Optimization"
May want to include some language around Delivery Optimization in the case that updates are pulled from HTTPS endpoint (internet).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cfd6413-90f7-040b-04be-9662ddfac827
* Version Independent ID: 1b931a7c-deb3-6384-0c3b-3492fd720b6f
* Content: [Best practices - deploy featur

[2019-08-07 05:00] jvsam commented on #4638
@officedocsbot assign @jvsam

[2019-08-07 08:21] madhuramehendalewhatfix commented on #4625
https://docs.microsoft.com/en-us/microsoft-store/distribute-offline-apps

[2019-08-07 08:52] mypil commented on #4625
@madhuramehendalewhatfix - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-08-07 08:54] mypil commented on #4569
@SpinmanUK - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-08-07 08:55] mypil commented on #4586
@danieldhudson - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-08-07 08:56] mypil commented on #4497
@officedocsbot close

[2019-08-07 08:56] #4497 closed

[2019-08-07 10:58] joinimran commented on #4573
@JonesOne Please note that self-deploying mode doesn't support Active Directory or Hybrid AD Users and Groups. If you want to give them the admin rights then those users or groups should be on Azure AD.

You can also share your feedback and request for this feature.

@mypil Please guide user how he can request for new features.

Regards,
Imran.

[2019-08-07 11:37] mypil commented on #4573
@JonesOne - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice via [Feedback Hub](https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub)
You might find

[2019-08-07 13:16] jvsam commented on #1839
Thanks for staying on top of this @levinec, we appreciate it. Kindly let us know when you hear back from the product team. Regards!

[2019-08-07 13:46] jvsam commented on #4012
@officedocsbot assign @TinaMcN

[2019-08-07 13:51] jvsam commented on #4393
@officedocsbot assign @TinaMcN

[2019-08-07 13:52] jvsam commented on #4541
@officedocsbot assign @TinaMcN

[2019-08-07 13:52] jvsam commented on #4604
@officedocsbot assign @TinaMcN

[2019-08-07 13:53] jvsam commented on #4012
Hi @TinaMcN assigning this to you. Thank you.

[2019-08-07 13:53] jvsam commented on #4393
Hi @TinaMcN assigning this to you. Thank you.

[2019-08-07 13:53] jvsam commented on #4541
Hi @TinaMcN assigning this to you. Thank you.

[2019-08-07 13:54] jvsam commented on #4012
@officedocsbot unassign @dongmicro

[2019-08-07 13:54] jvsam commented on #4393
@officedocsbot unassign @dongmicro

[2019-08-07 13:54] jvsam commented on #4541
@officedocsbot unassign @dongmicro

[2019-08-07 14:20] jvsam commented on #4604
You're very much welcome @d-Rickyy-b and thank you for being part of the Microsoft Docs community!

[2019-08-07 14:20] jvsam commented on #4604
@officedocsbot unassign @dongmicro

[2019-08-07 14:28] JonesOne commented on #4573
Hi Imran,

To note – the user logging in IS in Azure AD. From our experimentation the user does not get Admin regardless of how the User Account Type toggle is set on the deployment profile.

My question is not one of a new feature, but clarification on the function of the User Account type toggle for the deployment profile in the context of Self-Deploying. Our observation is that this toggle pres

[2019-08-07 14:30] MStormW opened #4642 "Quick Access not in Navigation Pane. Is this intended?"
Hi, we have set up 2 shared pc's in our organization and our users are complaining that the Quick Access is no longer available in the Navigation Pane of Explorer. Is this intended? I have found that Quick Access is in fact still there, if you have set Explorer to open to Quick Access, you can still get there. But for some reason it is no longer visible in Navigation Pane. This feels like a bug to

[2019-08-07 14:34] jvsam commented on #4025
You're welcome @JonZeolla. Thank you again for taking the time to share your feedback and for being part of the Microsoft Docs community!

[2019-08-07 14:34] jvsam commented on #4642
@officedocsbot assign @jvsam

[2019-08-07 15:29] mypil commented on #4366
@gerrynicol - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-08-07 15:57] jvsam commented on #4261
I believe that's everything, thank you @brbrahm! Kindly keep us updated and when those questions are addressed (*and this doc is updated*), we can close this issue.

[2019-08-07 17:01] jvsam commented on #4402
That's great @ManikaDhiman. Just reviewed the updates, kudos! We really appreciate your help on this.

Hi again @frasercarter, this documentation has been updated by Manika as per your feedback. You can verify the changes at this URL: https://docs.microsoft.com/en-us/windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy.

We will now close this issue, however, f

[2019-08-07 17:01] jvsam commented on #4402
@officedocsbot close

[2019-08-07 17:01] #4402 closed

[2019-08-07 17:18] illfated commented on #3750
Oh. So according to your experience, it should look like it originally was before the change I made in my PR https://github.com/MicrosoftDocs/windows-itpro-docs/pull/3955 (**Windows/Configuration: correct HTML code to XML tags**) , based on the translation issue #3819 **[LOC]"&lt;"needs to be replaced with"<", "&gt;"needs to be replaced with">"**

Does it look like an incorrect decision to submit

[2019-08-07 19:35] illfated commented on #4012
@jvsam : Just a practical detail -- You can choose to assign + unassign in the same comment, if you want to. :-)

[2019-08-07 20:32] jvsam commented on #4539
Hi again @Lechus, we didn’t hear back from you so I will close this issue, however, feel free to re-open if you have suggestions or ideas to improve the quality of this documentation.

Thanks for being part of the Microsoft Docs community!

[2019-08-07 20:32] jvsam commented on #4539
@officedocsbot close

[2019-08-07 20:32] #4539 closed

[2019-08-07 20:44] jvsam commented on #4578
Hi again @jszabo98 I just want to follow-up if you were able to contact support and if the answer to your question is something that we can incorporate in this doc? Please keep us updated here, thank you very much.

[2019-08-07 20:46] jvsam commented on #4584
You're welcome @3flex. Thank you again for taking the time to share your feedback and for being part of the Microsoft Docs community!

[2019-08-07 21:10] andrefboliveira opened #4643 "Enterprise Mode doc needs review"
Enterprise Mode documentation needs review. It needs to be checked what tags are available in what  Windows version.
Pull request bellow was merged without checking.

----
Hi @AndreaBarr
This should not have been merged without checking the issues raised in the comment section.
It seems that only the "allow-redirect" is available on Windows 10 versions greater than v1709.

It is not the same for t

[2019-08-07 21:37] jszabo98 commented on #4578
Does that cost anything?

[2019-08-07 21:42] jvsam commented on #4619
Hi again @havealoha, we hope you were able to contact support and resolve your concern. We will now close this issue, however, feel free to re-open if you have suggestions or ideas to improve the quality of this documentation. We always strive to give users the best Windows 10 experience by ensuring that contents of the Microsoft Docs are useful, accurate and up-to-date. Thank you.

[2019-08-07 21:42] jvsam commented on #4619
@officedocsbot close

[2019-08-07 21:42] #4619 closed

[2019-08-07 21:50] ojrb commented on #4408
@iadgovuser1 Please suggest us what's the appropriate text and where it should be placed, I can create another Pull Request to get it added.

[2019-08-07 22:16] iadgovuser1 commented on #4408
@mypil @ojrb I will put a suggestion together tonight. Thanks.

[2019-08-07 23:21] mattsmacblog opened #4645 "Is this new key suppose to override this setting?"
System/Internet Communication Management/Internet Communication settings
     Policy Setting:  Turn off access to all Windows Update features = Enabled

Should having this new option Enabled allow Optional Features to install?  It seems to allow them from the old style Control Panel Add Feature area but not the newer Windows 10 &gt; Apps &gt; Add Optional Features area.  Was looking to allow FoD f

[2019-08-07 23:35] jvsam commented on #4638
@officedocsbot assign @jvsam

[2019-08-07 23:35] jvsam commented on #4645
@officedocsbot assign @jvsam

[2019-08-08 00:03] TinaMcN commented on #4012
@KeikoSawada フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 完了までに数週間かかる場合があります。

[2019-08-08 00:07] TinaMcN commented on #4393
@kartavenko Спасибо за обратную связь.  Статья была переведена машиной.  Я послала его для человеческого перевода.  Это может занять несколько недель. (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  This may take a few weeks to complete.)

[2019-08-08 00:11] TinaMcN commented on #4413
@UspAN Спасибо за обратную связь. Статья была переведена машиной. Я послала его для человеческого перевода. Это может занять несколько недель. (Thank you for the feedback. The article was machine translated. I sent it for human translation. This may take a few weeks to complete.)

[2019-08-08 00:32] jvsam commented on #4620
Hi again @ericlaw1979, I just want to inform you that @martyav already pushed a commit (see [31cbdee](https://github.com/MicrosoftDocs/windows-itpro-docs/commit/31cbdeeb39f555d417be45f46aabcbc29591469c)) into the doc repository to fix the misspelling. Update will be displayed here at docs.microsoft.com site in the next scheduled publishing run.

Thank you again for taking the time to share your fe

[2019-08-08 08:17] cra3yk commented on #3750
I'd prefer the the original XML syntax (clean, nice look), then "convert" it "in the fly" to for powershell syntax.

[2019-08-08 09:09] mypil commented on #4552
@officedocsbot close

[2019-08-08 09:09] #4552 closed

[2019-08-08 09:11] mypil commented on #4558
@officedocsbot close

[2019-08-08 09:11] #4558 closed

[2019-08-08 09:28] joinimran commented on #4573
@JonesOne Thank you for sharing the details. I have checked for any relevant documentation related to this but couldn't find anything to better help you.

In this case, I would suggest you open a support case with Microsoft support team to the immediate resolution of this issue.

@mypil Please guide user a support case can be open with Microsoft.

Regards,
Imran.

[2019-08-08 11:46] bakatzir opened #4649 "Is there any way to retrieve the initiated anti virus scan results?"
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b874bba7-6480-e24c-a25c-ff1f2c8b3187
* Version Independent ID: 558bb983-0a1f-d477-bb59-bc880ef0492e
* Content: [Run antivirus scan API](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/run-av-scan#feedback)
* Content Source:

[2019-08-08 13:51] mypil commented on #4573
@JonesOne - You can open a service ticket so this can get resolved ASAP. Based on outcome let us know if it is something that can be called out in the documentation.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If in case you find that it is a documentation error, feel free to comment back here

[2019-08-08 13:56] mypil commented on #4551
@JoeC-7 - Do you have any updates on this?

[2019-08-08 14:24] mypil commented on #4367
@MikhailCompo - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-08-08 14:32] H4DDSTER commented on #3256
Could also do with details about what access is required e.g. we use an authenticating proxy with SSL Inspection for most categories so simply unblocking the website domains might not enable access e.g. proxy authentication breaks access

[2019-08-08 15:08] e0i commented on #3984
@ThomasKur

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-08-08 15:08] e0i commented on #3984
@officedocsbot close

[2019-08-08 15:08] #3984 closed

[2019-08-08 15:11] e0i commented on #2489
@officedocsbot close

[2019-08-08 15:11] #2489 closed

[2019-08-08 15:55] j0rt3g4 commented on #4448
Hello @sebastiannielsen ...

I think that the CPU-Based category should remain.

When there is an attack, in real life "To an institution" or "a place" we as humans say "there was an attack to the twin towers", for example, we do not describe the steps the bad guys took to hit the twin towers".

So In my humble opynion, the CPU-Based category should remain since the final destination of the attack

[2019-08-08 17:48] alevere opened #4652 "Key Trust and Remote Desktop with Biometric"
Just checking to see if there is a plan for supporting the topic above. See https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-deployment-guide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a146880-235b-a69c-3e9d-a3fa56a25389
* Version Independent ID: c2c226b4-17ef-8888-9e1

[2019-08-08 17:57] e0i commented on #3724
Hello @tunnelofsludge  ,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-08-08 17:57] e0i commented on #3724
@officedocsbot close

[2019-08-08 17:57] #3724 closed

[2019-08-08 19:08] illfated commented on #3750
So... maybe a combination of both code forms (XML + PowerShell) in separate code blocks could be a plausible solution here?

[2019-08-08 19:18] illfated commented on #4295
@e0i : Sorry that I missed this issue ticket earlier. You need to assign instead of unassign @TinaMcN to this issue, as well as unassigning @dongmicro . Thank you.

[2019-08-08 19:29] jvsam commented on #4649
@officedocsbot assign @jvsam

[2019-08-08 19:29] jvsam commented on #4652
@officedocsbot assign @jvsam

[2019-08-08 19:39] illfated commented on #4631
@countingpine : I plan to open a Pull Request for the main issue you have outlined above, hopefully this evening.

At first, I thought that maybe your comment about the double backslashes could have something to do with the command being tested and copied from a PowerShell console or have anything at all to do with a folder path containing spaces or special characters, but that does not seem to be

[2019-08-08 19:53] illfated commented on #4631
Oh, and by the way: Double backslash is not a big problem, because the cmd command interpreter will normally ignore redundant backslashes.
- https://stackoverflow.com/questions/21078804/double-backslash-in-cmd-directory-handling/21080688

[2019-08-08 23:03] gutjahr commented on #1291
I am seeing the same for both 1809 and 1903. All of a sudden, "Allow standard users to enable encryption during Azure AD Join" is showing as "Not applicable" in the detailed report of a device in the portal!

[2019-08-09 04:19] MaratMussabekov commented on #4607
Hello @sebhe ,
unfortunately no, it only can detect vulnerabilities for existing soft
Thank you

[2019-08-09 05:07] tgrisel opened #4656 "correction of necessary diagnostic data level"
https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/What-s-new-in-Windows-Update-for-Business-in-Windows-10-version/ba-p/622064 :
"Beginning with Windows 10, version 1903, Windows Update for Business no longer requires a diagnostic data level of Basic or higher to enforce configured policies. Instead, privacy-sensitive organizations can utilize Windows Update for Business policies, regardle

[2019-08-09 05:45] jvsam commented on #4656
@officedocsbot assign @jvsam

[2019-08-09 06:09] illfated commented on #4656
Would it be practical to expand the existing note bubble to include the 1903 specific change, maybe even changing the word "Important" to "Note",
to indicate that there are differences between 1903 and previous versions? Is it reasonable to presume that the 1903 info should precede the existing?

![image](https://user-images.githubusercontent.com/38162891/62757806-b8c2dc80-ba7c-11e9-9c25-b63d53793

[2019-08-09 06:21] illfated commented on #4649
Do you mean "retrieve anti virus scan results, either Successful or Failed"?
- https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/get-machineactions-collection#http-request

[2019-08-09 07:52] jvsam commented on #4637
Hello @mattatmsft, I believe the best way to get your questions answered quickly is to contact [Windows 10 support](https://support.microsoft.com/hub/4338813/windows-help?os=windows-10), unless you have concerns regarding the accuracy of this documentation?

You can also check the [Technet forums](https://social.technet.microsoft.com/Forums/home) and the [Tech Community](https://techcommunity.micr

[2019-08-09 08:59] phreeze83 opened #4659 "Escape chars still needed?"
as of version 1809 and later, are the escapechar modifications still needed?
Also the other steps seem to need some updating

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a4bce60-7c25-0acc-119d-a6b6b64aabd1
* Version Independent ID: 948c471f-2660-d0e5-d157-a5091444d5be
* Content: [Customize Windows 10 Start and tasbk

[2019-08-09 09:18] jvsam commented on #4656
@officedocsbot assign @jvsam

[2019-08-09 09:23] jvsam commented on #4638
Thank you so much for your feedback @SLeuthold! Do you have specific suggestions when it comes to messaging so we would know what you wish to *see/read* about [Delivery Optimization](https://docs.microsoft.com/windows/deployment/update/waas-delivery-optimization)? Is it about enabling it to reduce Internet bandwidth and speed up the downloads or how it works in general? Or just adding a note with

[2019-08-09 09:25] jvsam commented on #4643
@officedocsbot assign @jvsam

[2019-08-09 10:08] mypil commented on #4569
@officedocsbot close

[2019-08-09 10:08] #4569 closed

[2019-08-09 10:08] mypil commented on #4366
@officedocsbot close

[2019-08-09 10:08] #4366 closed

[2019-08-09 10:08] mypil commented on #4586
@officedocsbot close

[2019-08-09 10:09] #4586 closed

[2019-08-09 10:22] mypil commented on #4233
@carstenhagemann - We are still coordinating with the Product team to get the relevant information to address this issue. Thank you for your patience.

[2019-08-09 10:37] bakatzir commented on #4649
@illfated
Yes, but preferably more data.

Let me elaborate on the customer use case.
an analyst investigates a possibly infected endpoint. So he want to:
1.initate an av scan in atp via demisto
2.be able to get the scan status finished/failed/pending
3. When finished, get dome data from the scan. If endpoint is ok - great. If not, malicious hashes/processes/yara signatures, whatever the scan found

[2019-08-09 10:57] jvsam commented on #4642
Thank you for bringing this to our attention @MStormW. We're happy to assist you with your concern, however, this Github site is used as a feedback system to help improve the quality of the technical documentation. We recommend that you open a [service/support ticket](https://support.microsoft.com/hub/4338813/windows-help?os=windows-10) in your tenant to get immediate assistance, or you can also c

[2019-08-09 11:51] jvsam commented on #4643
Hello @andrefboliveira since this is related to a pull request that was merged (#4248), I recommend that you continue the discussion on the PR page. Reverting a pull request will need to be done by the author or specific people from Microsoft with the appropriate access. Thanks for understanding.

[2019-08-09 11:59] jvsam commented on #4643
Hi @martyav I hope all is well. I'm wondering if you can help with this? Please refer to #4248. Appreciate the help, thank you.

[2019-08-09 13:09] Malind19 commented on #3727
@PrinceMarkieD the firewall CSP has certain features for controlling web traffic as well. Still the purpose of both are different. Please refer the Network Proxy CSP article [here](https://docs.microsoft.com/en-us/windows/client-management/mdm/networkproxy-csp).

[2019-08-09 13:40] mypil commented on #4573
@officedocsbot close

[2019-08-09 13:40] #4573 closed

[2019-08-09 13:49] jvsam commented on #4645
Hi again @mattsmacblog, seems this issue is related to the other one that you've created (refer: #4637). Have you had a chance to check the resources? I've provided several reference links that may help you. You can also check the [scenario table here](https://blogs.technet.microsoft.com/swisspfe/2018/04/13/win10-updates-store-gpos-dualscandisabled-sup-wsus/). Of course, the last option is to cont

[2019-08-09 14:05] kimoppalfens opened #4660 "Page outdated"
May I suggest taking this page offline and redirecting it to the SCCM page, as the onboarding wizard already does that? This page is hopelessly outdated and no longer aligns with the actual procedure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c500256-8bbd-fe0c-32e3-c3193652e5cd
* Version Independent ID: 838f93f8-

[2019-08-09 14:18] mypil commented on #4660
@officedocsbot assign @mypil

[2019-08-09 14:20] mypil commented on #4660
@kimoppalfens - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-08-09 14:24] kimoppalfens commented on #4660
Joyce,

You’re welcome. The least I can do in return for the trial subscription.

Best,
Kim

From: Joyce Y. <notifications@github.com>
Sent: Friday, 9 August 2019 16:20
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: kim oppalfens <kim.oppalfens@oscc.be>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Page outdated (#4660)

@ki

[2019-08-09 14:58] iadgovuser1 commented on #4408
By tonight I meant today...

[2019-08-09 15:23] SLeuthold commented on #4638
Hi @jvsam ! In the enterprise, content delivery optimization via caching and peering solutions is imperative to mitigate the risk of interrupting business operations. It is important when downloading large payloads from the cloud (feature updates, quality updates, etc.) Most smaller organizations may have this enabled by default but larger enterprises may need to plan an implementation to logicall

[2019-08-09 15:47] illfated commented on #4649
Very well, fair enough. Please be advised that this site is primarily for improvement of the Microsoft IT-pro Docs documentation pages, meaning that the primary task is to find out if the docs pages can be improved by editing, changing or adding missing information to the pages. This question needs feedback from someone who is more experienced in the topic than I am (maybe @MaratMussabekov ?), and

[2019-08-09 15:55] jvsam commented on #4649
Thanks for sharing that @illfated.

@bakatzir I am not 100% sure if this will address your use case but this blog contains good information in running anti-virus scans and collecting data.

- [Automating Security Operations Using Windows Defender ATP APIs with Python and Jupyter Notebooks](https://techcommunity.microsoft.com/t5/Microsoft-Defender-ATP/Automating-Security-Operations-Using-Windows-De

[2019-08-09 16:19] jvsam commented on #4652
Hi @alevere, thanks for your inquiry. At the moment, remote desktop with biometrics feature only works with certificate trust deployments (see: [Remote Desktop with Biometrics](https://docs.microsoft.com/windows/security/identity-protection/hello-for-business/hello-features#remote-desktop-with-biometrics)). But I do encourage you to submit your suggestion on [UserVoice](https://support.microsoft.c

[2019-08-09 16:21] greytone opened #4662 "In hybrid deployment: Win10 Pro + Key trust model ≠ PIN-reset feature... If on W10 Pro, you need to implement Cert trust model to use the PIN-reset feature...!"
This table above, and the planning guide (https://docs.microsoft.com/sv-se/windows/security/identity-protection/hello-for-business/hello-planning-guide), should include the (important) detail that it is a pre-requisite, in hybrid deployments with the key-trust model, to have Win 10 Enterprise to be able to use the PIN-reset feature. As I understand, you will not be able to use PIN-reset at all if

[2019-08-09 16:28] jvsam commented on #4662
@officedocsbot assign @jvsam

[2019-08-09 16:42] illfated commented on #4656
Thanks to @PatCat-MSFT & @jaimeo for the PR #4644 and its commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/798241bf01d4a735990513ece647fb7cbb9ab3ce .

[2019-08-09 16:53] jvsam commented on #4656
Awesome, thanks for linking that @illfated!

Hi @tgrisel, the pull request (see #4644) that clarifies the changes to diagnostic data requirements has been merged and will be displayed at docs.microsoft.com in the next scheduled publishing run. We will now close this issue, thank you for your feedback and for being part of the Microsoft Docs community!

[2019-08-09 16:53] jvsam commented on #4656
@officedocsbot close

[2019-08-09 16:53] #4656 closed

[2019-08-09 17:21] cra3yk commented on #3750
I did this and I split this script into 3 files:
- launcher (to give admin and system rights) - lockdownuser.bat,
- main script - lockdownuser.ps1
- an xml file with config - lockdownuser.xml

I attached version for lockdown group (named "LockdownGroup").

[Lockdown user.zip](https://github.com/MicrosoftDocs/windows-itpro-docs/files/3487366/Lockdown.user.zip)
[Lockdown group.zip](https://github.co

[2019-08-09 17:37] illfated commented on #3453
@TinaMcN : As you can see, my PR #4626 to correct the **bold** marking in the page section https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert#create-and-assign-a-simple-certificate-enrollment-protocol-scep-certificate-profile has been merged into the source for the en-us version of the page. I can only suggest that you follow the dev

[2019-08-09 17:40] NigelbrownIBM commented on #3750
Nice one cra3yk!

I have now implemented this in a StartUp script set by GPO for a RDS thin client project I am working on with the escaped charaters. So far it is working well. Eventually I would like to be able to compare the current config to the desired config XML and only re-set if need be. The compare doesn't see ever see them as the same, but re-setting on each start up seems not to be harm

[2019-08-09 17:42] illfated commented on #3750
Well done, @cra3yk. I must admit that I don't know the topic well enough to judge if this will be an acceptable solution to be added to the page in question, but I hope maybe @e0i or @martyav can suggest if it is usable or possibly ask one of the owners of the document to check if it is worth implementing on the page.

[2019-08-09 17:44] cra3yk commented on #3750
Please feel free and use/edit these scripts as You wish :-)

[2019-08-09 17:48] NigelbrownIBM commented on #3750
In my solution a Powershell Startup script worked without the requirement for the bat / psexe. I also enclosed the XML information in the PS script by assigning a variable @"XML content"@. In my project the workstation is domain joined but we are using the local autologon user created by the assigned access profile to launch the RDS session to function like a thin client. Interesting we do not hav

[2019-08-09 17:52] cra3yk commented on #3750
I needed one-click solution to set/clear policy with separated xml file (easy to change without messing script code) for standalone workstations, so this was the main reason form me to create 3-file solution for my needs :-)

[2019-08-09 17:53] NigelbrownIBM commented on #3750
Absolutely - it's excellent!

[2019-08-09 19:26] bakatzir commented on #4649
@illfated @jvsam
I might've posted in the wrong site then.
We have reviewed the docs, and were missing the functionalities i listed above in the API.
What do I need to do in order to submit our customer's request to the development queue?

Would appreciate your guidance.

[2019-08-09 19:50] illfated commented on #4649
Not sure if you "posted in the wrong site" as such, this could be useful if there is a chance that the documentation page needs more information to solve your type of issue, depending on if it is a common enough case for most users of Microsoft Defender ATP. Any feedback you can give to what would be expected in this documentation page, if it is the correct place for that information, would be hel

[2019-08-09 20:05] joinimran commented on #4510
@KevinBollengier , @Soulusm Thank you for your query, please open a support case with Microsoft so that you can you can be redirected to the correct team resolve your issue.

@mypil Please guide user how they can open a support case with Microsoft so that it can be routed to concern team for speedy resolution.

Regards,
Imran.

[2019-08-09 20:09] alevere commented on #4652
Thanks Jo
________________________________
From: Jo <notifications@github.com>
Sent: Friday, August 9, 2019 12:19 PM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Everett, Alex D <alex.everett@unc.edu>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Key Trust and Remote Desktop with Biometric (#4652)

Hi @alevere<https://gith

[2019-08-09 20:15] joinimran commented on #4634
@BigHatte , Thank you for your query, Please note that if the user has changed the default settings, those will be overwritten on next logon.

Regards,
Imran.

[2019-08-09 20:21] joinimran commented on #4660
@kimoppalfens Thank you for your feedback, can you please share the link of the page you are referring to. So that we can setup redirection or note in this doc.

Regards
Imran

[2019-08-09 20:25] kimoppalfens commented on #4660
This is the url in question.
https://docs.microsoft.com/en-us/sccm/protect/deploy-use/windows-defender-advanced-threat-protection

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: ImranHabib <notifications@github.com>
Sent: Friday, August 9, 2019 10:21:32 PM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: kim oppalfens <kim.opp

[2019-08-10 15:30] jvsam commented on #4659
Hello @phreeze83  thank you for your question. Replacing the markup characters in the layout.xml with escape characters is one of the crucial steps on this doc. Have you tried bypassing it and did it work for you? What I would recommend to get immediate feedback is to contact [Windows 10 support](https://support.microsoft.com/hub/4338813/windows-help?os=windows-10). And if the information from the

[2019-08-10 15:59] jvsam commented on #4649
@bakatzir just to add, in case the feature or functionality you are looking for is not yet available, I encourage you to submit your suggestion on [UserVoice](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub). The Microsoft engineering team uses UserVoice feedback to learn what users are asking for or what they want to improve.

Let me know if you

[2019-08-10 17:01] jvsam commented on #4652
You're very much welcome @alevere! I will now close this issue. Thanks for being part of the Microsoft Docs community.

[2019-08-10 17:01] jvsam commented on #4652
@officedocsbot close

[2019-08-10 17:01] #4652 closed

[2019-08-10 20:25] e0i commented on #3775
@officedocsbot reopen

[2019-08-10 20:26] e0i commented on #3775
Re-opening as a PR is under delivery for this issue.

[2019-08-10 22:15] iadgovuser1 commented on #4408
I actually meant Saturday...

| Example | # Dots to Left | Description |
| --- |  --- | --- |
|  contoso.com | 0 | Trust only the literal value of contoso.com. |
|  www.contoso.com | 0 | Trust only the literal value of www.contoso.com. |
| .contoso.com | 1 | Trust only one level of the sub-domain hierarchy. www.contoso.com, shop.contoso.com. |
| ..contoso.com | 2 | Trust all levels of the sub-doma

[2019-08-10 22:19] iadgovuser1 opened #4668 "Must have proxy servers as neutral for WDAG"
Hostnames and aliases for proxy servers must be included in the "Domains categorized as both work and personal" policy (aka "neutral"). That's an important note left out of the documentation for that policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41a8c802-79ca-1593-c045-2ed150e9ce40
* Version Independent ID: 3d

[2019-08-11 04:52] #4649 closed

[2019-08-11 06:27] jvsam commented on #4668
@officedocsbot assign @jvsam

[2019-08-11 09:45] jvsam commented on #4662
Thank you for your feedback @greytone. Yes, the [Microsoft PIN Reset service only works with Windows 10, version 1709 or later Enterprise Edition](https://docs.microsoft.com/windows/security/identity-protection/hello-for-business/hello-features#pin-reset). The feature does not work with the Pro edition and it's only applicable for hybrid deployments as of this time (*non-destructive PIN reset*). F

[2019-08-11 12:02] jvsam commented on #4668
Thank you for your feedback @iadgovuser1. To clarify, you are suggesting to add, e.g. a note on the *Domains categorized as both work and personal* description that this can include *hostnames and proxy servers? And are you pertaining to both local and internet proxies?* We appreciate the clarification.

Hi @ManikaDhiman how are you? For the WDAG policy, do we have available information in the [Ne

[2019-08-11 14:18] jvsam commented on #4392
Hi @cameron-interactive we appreciate your patience on this matter. Since the [OMS portal has been deprecated](https://docs.microsoft.com/azure/azure-monitor/platform/oms-portal-transition) and you are using Azure portal, some of the experiences are not same, for example, viewing your log analytics data by following *Settings > Connected sources > Windows telemetry* steps are not applicable in the

[2019-08-11 15:11] jvsam commented on #1894
Related to #1750

[2019-08-11 17:48] illfated commented on #4642
I have not looked up any proof of this yet, but Quick Access is a personal user feature and not a shared environment feature. Note that in some scenarios, accounts will be automatically deleted and re-created on login (Guest account and Kiosk Mode), so Quick Access will be pretty empty for each user logging in. Also, from a privacy viewpoint, it is better not to focus on what other people before y

[2019-08-11 20:05] jvsam commented on #4043
Hi again @Sumitdhiman I just want to circle back on this while waiting for update. So, Windows setup log files are stored in different locations depending on the setup phase. By default, the [SetupAPI.dev.log](https://docs.microsoft.com/windows-hardware/drivers/install/setupapi-logging--windows-vista-and-later-) is located in the Windows INF file directory (*C:\WINDOWS\INF\setupapi.dev.log*), but

[2019-08-11 21:21] jvsam commented on #4578
It depends @jszabo98, there is a premium [Assisted software support](https://support.microsoft.com/help/4467230/assisted-software-support-options-assure-premium) and general product support which is free. For the latter, you can call one of the toll-free numbers or chat with an agent (initially, it will be a virtual agent). Then you have the option to ask questions or troubleshooting feedback from

[2019-08-11 21:26] jvsam commented on #4614
Hi again @pyoungberg, we didn’t hear back from you but we hope you were able to contact Support and resolve whatever issues you may have. We will now close this issue, however, feel free to re-open if you have suggestions or ideas to improve the quality of this documentation.

Thanks for being part of the Microsoft Docs community!

[2019-08-11 21:26] jvsam commented on #4614
@officedocsbot close

[2019-08-11 21:26] #4614 closed

[2019-08-12 02:54] Sumitdhiman commented on #4043
Hi Jo,

I compared a sample logfile from the rollback folder to one with on the
Interpreting a SetupAPI file and could not find similarities. However,
sometimes the error is as easy as you can interpret. Here is the last part
which clearly indicates a failure.

[image: image.png]

What I am trying to say is the documentation page should have information
about this and what to do if you are not abl

[2019-08-12 08:13] MStormW commented on #4642
Thanks for your reply. I suspect the same, but also have not been able to find any more detailed documentation about this than what is on docs.microsoft.com. The shared computer is not behaving as I was hoping it would, so I will stop using it altogether. It was never my intention to have userprofiles automatically deleted (I did not enable the account management and storage cleanup options), just

[2019-08-12 08:45] sebastiannielsen commented on #4448
@j0rt3g4  My toughts is that if you defend against BIOS-based threaths, you will completely defend from CPU-based threats too, thus it does not warrant a extra category.

[2019-08-12 08:50] mypil commented on #4367
@officedocsbot close

[2019-08-12 08:50] #4367 closed

[2019-08-12 09:39] mypil commented on #4510
@Soulusm @KevinBollengier - You can open a service ticket so this can get resolved ASAP. Based on outcome let us know if it is something that can be called out in the documentation.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you do find that it is a documentation error,  please do not hesi

[2019-08-12 10:05] mypil commented on #4607
@sebhe  - From our understanding, the issue you raised has been answered by MaratMussabekov. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-08-12 10:16] phreeze83 commented on #4659
it would be simpler if you just try it out yourself ;)
without replaying markups, with an icd version 10.0.18362.1 it is possible to create the provisioning package just by giving it the XML file exported by windows. The package is able to be installed uninstalled, but my startmenu is not changing, probably because i'm using "Desktopapplicationlinkpath", don't know yet. Using the replaced markups,

[2019-08-12 12:03] mypil commented on #4551
@JoeC-7 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-08-12 12:03] mypil commented on #4551
@officedocsbot close

[2019-08-12 12:03] #4551 closed

[2019-08-12 16:37] leandmilo opened #4670 "Server Requirements should be documented here"
Good morning, guys
May you upload the server requirements for this deployment, please?
We have Workstation requirements but not the server requirements.
This is essential for us the administrators to continue doing the right things on this.
Thanks so much.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad012591-5c74-f1

[2019-08-12 16:45] jvsam commented on #4670
@officedocsbot assign @jvsam

[2019-08-12 17:19] e0i commented on #3762
Hello @joebartlett94

Based on our investigation, the Intune documentation is correct. Find the quote below,

Please let us know whether this information clarifies your query. Thanks.

[2019-08-12 17:20] e0i commented on #3727
Hello @PrinceMarkieD,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-08-12 17:22] e0i commented on #3727
@officedocsbot close

[2019-08-12 17:22] #3727 closed

[2019-08-12 17:28] e0i commented on #3641
@TrudyHa Any updates with this query? We would like to follow-up. Thanks.

[2019-08-12 18:27] e0i commented on #3557
Hello, @craigblake

It seems that your question has already been answered by the community and thus we are marking this issue as resolved.

Feel free to re-open the issue if you feel it hasn't been resolved.

Thank you for providing feedback.

[2019-08-12 18:27] e0i commented on #3557
@officedocsbot close

[2019-08-12 18:27] #3557 closed

[2019-08-12 18:28] pstenger commented on #3937
Sorry I just saw these responses come through. How would I bypass the WSUS server?

[2019-08-12 18:31] e0i commented on #3596
Hello, @SEYiWeng

It seems that your question has already been answered by the community and thus we are marking this issue as resolved.

Feel free to re-open the issue if you feel it hasn't been resolved.

Thank you for providing feedback.

[2019-08-12 18:32] e0i commented on #3596
@officedocsbot close

[2019-08-12 18:32] #3596 closed

[2019-08-12 18:32] e0i commented on #3725
@officedocsbot close

[2019-08-12 18:32] #3725 closed

[2019-08-12 18:32] e0i commented on #3718
@officedocsbot close

[2019-08-12 18:34] e0i commented on #2992
@jaimeo Following up for updates.

[2019-08-12 18:38] jaimeo commented on #2992
PR is in review w/ SMEs.

[2019-08-12 18:48] e0i commented on #2021
@mjcaparas Any updates with this query? Thanks.

[2019-08-12 18:53] e0i commented on #3792
@SquirrelAssassin

With the help of your feedback, the content has been updated by the community with relevant changes accordingly.

Thank you for helping to improve the Docs.

[2019-08-12 18:53] e0i commented on #3792
@officedocsbot close

[2019-08-12 18:53] #3792 closed

[2019-08-12 18:54] e0i commented on #4295
@officedocsbot unassign @dongmicro
@officedocsbot assign @TinaMcN

[2019-08-12 19:09] e0i commented on #3825
@TinaMcN Would you be able to help with this Portuguese translation issue? Thanks.

[2019-08-12 19:14] e0i commented on #3192
@TinaMcN Would you be able to assist with this French localization issue that seems to be MT based?

[2019-08-12 19:22] e0i commented on #4010
@officedocsbot assign @TinaMcN

[2019-08-12 19:22] e0i commented on #4016
@officedocsbot assign @TinaMcN

[2019-08-12 19:36] iadgovuser1 commented on #4668
@jvsam The product group told us that proxy servers must be included in the neutral policy. We were initially using the DNS alias name for the proxy server, but had to use the actual hostname (FQDN). We were cautious and included both the hostname (FQDN) and alias (FQDN). The documentation doesn't mention this anywhere. Whatever proxy you point WinInet (browsers) and WinHTTP (services) to use need

[2019-08-12 23:14] TinaMcN commented on #3825
@ThiagoSalatiel Obrigado pelo feedback.  O artigo foi traduzido por máquina.  Enviei para tradução humana.  Isso pode levar algumas semanas para ser concluído.  (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  This may take a few weeks to complete.)

[2019-08-12 23:52] TinaMcN commented on #3487
@hyoshioka0128 フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。  この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。(Thank you for the feedback.  This is a problem with the MT tool.  I have reported the problem to the tool owners.   I don't expect this issue to be fixed quickly.  I will update when we have a fix.)

[2019-08-12 23:53] TinaMcN commented on #3488
@hyoshioka0128 フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。 この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。(Thank you for the feedback. This is a problem with the MT tool. I have reported the problem to the tool owners. I don't expect this issue to be fixed quickly. I will update when we have a fix.)

[2019-08-12 23:54] TinaMcN commented on #3491
@hyoshioka0128 フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。 この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。(Thank you for the feedback. This is a problem with the MT tool. I have reported the problem to the tool owners. I don't expect this issue to be fixed quickly. I will update when we have a fix.)

[2019-08-13 04:48] ausamriyaz commented on #1919
hi,
I have been working on this, and I am having trouble adding the proxy configuration to the device. I am testing on a Windows 10 Enterprise 1803. Any update on this yet?

I formatted the SyncML as:

[code]

[2019-08-13 08:30] sanso2010 opened #4679 "DG_Readiness_Tool_v3.6.ps1 on Non-English OS"
Hey everyone,

no, this is not about the architecture alone. Here are some suggestions that would immensely help working with the readiness tool:

- Let $path be a param
- For Non-English OS: Avoid DISM completely. String comparison on Non-English OS will never work. Instead use something like `Enable-WindowsOptionalFeature -FeatureName Microsoft-Hyper-V-All` or `Get-WindowsOptionalFeature -Online

[2019-08-13 08:33] j0rt3g4 commented on #4448
@sebastiannielsen hello! • I understand what you are saying but I still thinks that cpu should be there. For this reason I'll ask @ypiljoyce to get the author 's involve to get the insight from him as last and decisive vote :)

[2019-08-13 08:47] mypil commented on #4679
@officedocsbot assign @mypil

[2019-08-13 08:52] mypil commented on #4679
@sanso2010 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-08-13 09:19] mypil commented on #4448
@levinec - Can you please share your insights on this issue?

Thank you.

[2019-08-13 09:20] sebastiannielsen commented on #4448
Also another thing I want to add, is that if you were to search for the problem (infection or whatever), you would find the issue inside the BIOS image, not inside CPU in any way.

[2019-08-13 11:41] zigfig21 opened #4681 "Does network service really have the SeRestorePrivilege by default"
Does network service really have the SeRestorePrivilege by default?
It seems like a to powerful privilege for the network service account

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 486e8a12-8230-6ae2-264f-73c76b266682
* Version Independent ID: 2f47f94f-b416-beac-c75d-8908e4000e66
* Content: [Special Identities (Win

[2019-08-13 11:52] mypil commented on #4681
@officedocsbot assign @mypil

[2019-08-13 12:11] mypil commented on #4681
@zigfig21 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-08-13 12:39] phreeze83 commented on #4659
addendum: the ICD version from the 1809 ADK does not even accept jut putting layout.xml in the startmenu variable. Plus it does not accept escaped code into the customization.xml etc. I don't know at what point something got broken there. Perhaps i need to downgrade the ADK (i needed the new one for the WinPE). To be able to create startlayouts again

[2019-08-13 17:16] e0i commented on #3790
@phgray

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-08-13 17:17] e0i commented on #2938
@vrdse

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-08-13 17:18] e0i commented on #2938
@officedocsbot close

[2019-08-13 17:18] #2938 closed

[2019-08-13 18:33] e0i commented on #3982
@officedocsbot assign @MollyMalone
@officedocsbot add label localization

[2019-08-13 18:35] e0i commented on #3930
@officedocsbot assign @e0i
@officedocsbot assign @TinaMcN
@officedocsbot add label localization

[2019-08-13 18:36] e0i commented on #3884
@officedocsbot assign @TinaMcN
@officedocsbot add label localization

[2019-08-13 20:24] e0i commented on #4643
@officedocsbot assign @e0i

[2019-08-13 23:39] TinaMcN commented on #3930
@hyoshioka0128 フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。  この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。

[2019-08-13 23:39] TinaMcN commented on #4009
@hyoshioka0128 フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。  この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。(Thank you for the feedback.  This is a problem with the MT tool.  I have reported the problem to the tool owners.   I don't expect this issue to be fixed quickly.  I will update when we have a fix.)

[2019-08-13 23:40] TinaMcN commented on #4031
@hyoshioka0128 フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。  この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。(Thank you for the feedback.  This is a problem with the MT tool.  I have reported the problem to the tool owners.   I don't expect this issue to be fixed quickly.  I will update when we have a fix.)

[2019-08-13 23:40] TinaMcN commented on #4031
@hyoshioka0128 フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。  この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。(Thank you for the feedback.  This is a problem with the MT tool.  I have reported the problem to the tool owners.   I don't expect this issue to be fixed quickly.  I will update when we have a fix.)

[2019-08-13 23:41] TinaMcN commented on #4077
@hyoshioka0128 フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。  この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。(Thank you for the feedback.  This is a problem with the MT tool.  I have reported the problem to the tool owners.   I don't expect this issue to be fixed quickly.  I will update when we have a fix.)

[2019-08-13 23:41] TinaMcN commented on #4047
@hyoshioka0128 フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。  この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。(Thank you for the feedback.  This is a problem with the MT tool.  I have reported the problem to the tool owners.   I don't expect this issue to be fixed quickly.  I will update when we have a fix.)

[2019-08-13 23:41] TinaMcN commented on #4095
@hyoshioka0128 フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。  この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。(Thank you for the feedback.  This is a problem with the MT tool.  I have reported the problem to the tool owners.   I don't expect this issue to be fixed quickly.  I will update when we have a fix.)

[2019-08-13 23:42] TinaMcN commented on #3915
@hyoshioka0128 フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。  この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。(Thank you for the feedback.  This is a problem with the MT tool.  I have reported the problem to the tool owners.   I don't expect this issue to be fixed quickly.  I will update when we have a fix.)

[2019-08-13 23:42] TinaMcN commented on #3902
@hyoshioka0128 フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。  この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。(Thank you for the feedback.  This is a problem with the MT tool.  I have reported the problem to the tool owners.   I don't expect this issue to be fixed quickly.  I will update when we have a fix.)

[2019-08-13 23:43] TinaMcN commented on #4010
@hyoshioka0128 フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。  この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。(Thank you for the feedback.  This is a problem with the MT tool.  I have reported the problem to the tool owners.   I don't expect this issue to be fixed quickly.  I will update when we have a fix.)

[2019-08-14 00:04] levinec commented on #4448
Thank you @sebastiannielsen but there are useful distinctions between CPU and BIOS, especially in relation to CPU specific hardware attacks which is discussed in the CPU section. I'm going to close this issue for now.

[2019-08-14 00:04] #4448 closed

[2019-08-14 05:11] illfated commented on #4670
@leandmilo : First of all, thank you for checking out the documentation and using it as a basis for your work. Secondly, and I don't have any personal experience with this topic, have you come across any difficulties using this documentation with any currently supported Microsoft Server OS versions? I only noticed MDM, Intune and Azure AD joined Enterprise environments. I would imagine that this s

[2019-08-14 05:40] joinimran commented on #4625
Hello @madhuramehendalewhatfix Thank you for your query. Please note the following.

Offline license files do not get updated automatically. Devs need to push the updates. There are multiple methods to update the files see sections https://docs.microsoft.com/en-us/microsoft-store/distribute-offline-apps#download-an-offline-licensed-app

Update duration depends on the update settings you have setup

[2019-08-14 06:04] madhuramehendalewhatfix commented on #4625
@joinimran thanks alot for the response. I just have one more query regarding LOB apps, if I push an update to a specific private store(even though the app has been published to other stores), it is visible only to that specific store right?
If that's true, we recently had an incident where the it was pushed to other stores as well, could you direct me to a place where I would get some support reg

[2019-08-14 08:24] e0i commented on #1924
@officedocsbot close

[2019-08-14 08:24] #1924 closed

[2019-08-14 08:25] e0i commented on #3683
Hello @J1mbo ,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-08-14 08:25] e0i commented on #3683
@officedocsbot close

[2019-08-14 08:25] #3683 closed

[2019-08-14 08:38] e0i commented on #1674
Hello @presleymark,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-08-14 08:38] e0i commented on #1674
@officedocsbot close

[2019-08-14 08:38] #1674 closed

[2019-08-14 08:39] e0i commented on #2619
Hello @itguysocal ,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-08-14 08:40] e0i commented on #2619
@officedocsbot close

[2019-08-14 08:40] #2619 closed

[2019-08-14 08:45] e0i commented on #3889
@martyav Any updates with this issue? We would like to follow-up. Thanks.

[2019-08-14 08:56] e0i commented on #1291
@lomayor Would you be able to advise with this issue? Thanks.

[2019-08-14 09:17] mypil commented on #4607
@officedocsbot close

[2019-08-14 09:17] #4607 closed

[2019-08-14 09:20] mypil commented on #4510
@officedocsbot close

[2019-08-14 09:20] #4510 closed

[2019-08-14 09:58] Cirnohalo opened #4689 "Win32 apps converted with the Desktop Converter Application"
Assigned Access mode doesn’t support Win32 apps yet, including Win32 apps converted with the Desktop Converter.
When can it be supported?
(https://stackoverflow.com/questions/40492539/windows-10-assigned-access-app-fails-to-start-due-to-not-registered-for-windows)

[2019-08-14 10:01] mypil commented on #4689
@officedocsbot assign @mypil

[2019-08-14 10:35] e0i commented on #2522
@manikadhiman Would you be able to provide guidance with this issue? Thanks.

[2019-08-14 10:36] e0i commented on #869
Hello @hoyty76 ,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-08-14 10:36] e0i commented on #869
@officedocsbot close

[2019-08-14 10:36] #869 closed

[2019-08-14 10:40] hyoshioka0128 commented on #3488
Hi, @TinaMcN
The content was updated, and the target “更新とセキュリティ” disappeared.
Close #3488

[2019-08-14 10:40] #3488 closed

[2019-08-14 10:44] e0i commented on #2756
Hello, @Izaak99

It seems that your question has already been answered by the community and thus we are marking this issue as resolved.

Feel free to re-open the issue if you feel it hasn't been resolved.

Thank you for providing feedback.

[2019-08-14 10:44] e0i commented on #2756
@officedocsbot close

[2019-08-14 10:44] #2756 closed

[2019-08-14 11:17] illfated commented on #3488
List of commits to this page (the en-us version) for possible updates which may have caused the change:
https://github.com/MicrosoftDocs/windows-itpro-docs/commits/master/windows/deployment/update/waas-manage-updates-wufb.md

[2019-08-14 11:37] mypil commented on #4689
@Cirnohalo - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-08-14 11:52] e0i commented on #3987
@WayneYangsa The referenced commit, https://github.com/MicrosoftDocs/windows-itpro-docs/commit/0725bf71d6c2ddec851ca04e134cabbabbcb26d1 solves this issue. Thanks.

[2019-08-14 12:03] e0i commented on #3142
@officedocsbot close

[2019-08-14 12:03] #3142 closed

[2019-08-14 12:17] EricSP2 commented on #2320
@JDECSERMS Please provide an updated link.

Also once I have the WIM, from which folder does the recovery tool read from?

It's such a nuisance that MS is not providing direct link access to the files or make a complete offline installer available.

[2019-08-14 12:19] EricSP2 commented on #2320
I've been trying to download the WIM through the recovery tool on a laptop connected straight up to the internet, it gets to 80% and then fails. The worse part is that your utility is not smart enough to offer a restart and RESUME download feature. Instead, once it fails the binaries are wiped and it retries from 0%

Who designed this? :/

[2019-08-14 12:24] EricSP2 opened #4690 "Tools Update and Offline Installer - for Microsoft Surface Hub"
All morning I have been attempting to download the recovery image through your tool.

The tool does initiate the download, however after 15 minutes or 80%-ish of the progress, it times out and mentions **Progress Download Failed OK**.

My biggest pet peeve is that once it does fail, there is ***NO RESUME*** option and whatever binary it downloaded at that point is deleted and the app does not atte

[2019-08-14 12:28] mypil commented on #4690
@officedocsbot assign @mypil

[2019-08-14 12:44] mypil commented on #4690
@EricSP2 - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-08-14 12:46] fabianseither opened #4691 "Recovery Image not available"
This page links to https://support.microsoft.com/en-us/surfacerecoveryimage?devicetype=surfacehub2s for downloading recovery image of Surface Hub 2S. After entering the serialnumber of our device this page only shows "The recovery image for your device isn't available for download through its page. For help, please contact-us"

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-08-14 12:47] mypil commented on #4691
@officedocsbot assign @mypil

[2019-08-14 12:48] mypil commented on #4691
@fabianseither - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-08-14 13:31] EricSP2 commented on #4690
This is the primary documentation

https://docs.microsoft.com/en-us/surface-hub/surface-hub-recovery-tool

In the comments section see "**_Surface Hub Recovery Tool through a corporate Proxy Server_**"

[2019-08-14 13:33] EricSP2 commented on #4690
Essentially since my proxy does not allow the traffic through and my network guy is away, I've installed the software on a burner laptop directly connected to an unfeathered internet access.

[2019-08-14 13:33] mypil commented on #4376
@mapalko @DaniHalfin - Can you please share your insights on this issue?

Thank you.

[2019-08-14 13:35] EricSP2 commented on #4690
https://github.com/MicrosoftDocs/windows-itpro-docs/issues/2320

[2019-08-14 13:50] EricSP2 commented on #2320
@mypil

This case should be re-opened and a permanent solution should be put in place with a static URL to the latest wim or modify the tool to resume instead of restarting a whole download.

Maybe even a torrent option?

[2019-08-14 13:56] EricSP2 commented on #4690
I also see this:

https://support.microsoft.com/en-us/surfacerecoveryimage?productId=110668454

However, there's no image download available for Gen1 :/

[2019-08-14 14:28] mypil commented on #4690
@EricSP2 - Thank you for engaging with the community here for the docs.

We're sorry to hear that you are having issues. Please understand that this site is a product documentation site and not a support nor a feature request site.

As such, the feedback section here is intended for feedback that improves the content in the Microsoft documentation and not intended for user feedback on product feat

[2019-08-14 14:31] joinimran commented on #3937
@pstenger You can exclude the test machine from WSUS Server and then try running the command to see how it goes.

[2019-08-14 14:33] EricSP2 commented on #4690
then fix your documentation ;)

[2019-08-14 14:34] EricSP2 commented on #4690
microsoft fails again...

[2019-08-14 14:34] #4690 closed

[2019-08-14 14:42] And2Devel opened #4692 "Source IP swapped with Destination IP"
Can you explain the following:

If the Direction is "Inbound", how the following definitions can be valid?

Source Address [Type = UnicodeString]: local IP address on which application received the connection.
Destination Address [Type = UnicodeString]: IP address from which connection was received or initiated.

As example, please look what I see on a machine with Citrix service deployed:
Message

[2019-08-14 14:48] mypil commented on #4692
@officedocsbot assign @mypil

[2019-08-14 14:52] mypil commented on #4692
@And2Devel - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-08-14 14:55] leandmilo commented on #4670
We have seen previously in other scenarios that in order for Hybrid GPO Enrollment to complete successfully it requires at least a Windows Server 2016 running 1709 version or plus. Otherwise, we should have problems. That is the main reason we are asking for an update on this article. If possible so we can have accurate information. In addition, the last supported LTSC on windows server 2016 is 16

[2019-08-14 15:58] joebartlett94 commented on #3762
Hi @e0i,

Thanks for getting back to me. I have raised a PR to align the documentation here with the Intune docs.

I know that this is beyond your purview, but it would be great if the Intune UI were updated with clearer wording. What's the best way to raise this issue with them?

Thanks,
Joe

[2019-08-14 16:20] mapalko commented on #4376
The flows in this section are not exhaustive for every possible scenario. Federated Key trust is a supported configuration. It is basically the same flow as Hybrid Cert Trust in a federated environment steps A-C. After step C, a certificate request is not generated and the key is synced from AAD to AD through AAD Connect.

[2019-08-14 17:19] ChrisMSNT opened #4695 "Autopilot Reset in Intune for Education is coming soon"
This article is outdated. Autopilot reset is already in Intune for Education.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 687baa4b-2e3b-e632-403f-546f7e1bbaf3
* Version Independent ID: eabccfdc-45ec-339d-a4c2-537f1387608d
* Content: [Reset devices with Autopilot Reset](https://docs.microsoft.com/en-us/education/wind

[2019-08-14 17:22] jvsam commented on #4695
@officedocsbot assign @jvsam

[2019-08-14 18:20] jvsam commented on #4043
Thanks for checking and comparing the log files @Sumitdhiman. We appreciate the effort. All right, let me follow-up if that information is available, and if it is, we will propose updates to this and the [Log files](https://docs.microsoft.com/windows/deployment/upgrade/log-files) docs.

[2019-08-14 20:45] illfated commented on #4670
Very well, fair enough. Thank you for the precise clarification feedback.

@jvsam : I will not be able to provide any facts here, so I presume we need to ask @ManikaDhiman or @Dansimp to verify and inform us what the Windows Server requirements are in for this document.

[2019-08-14 21:31] illfated commented on #4692
Even though I don't know the factual answer, I am guessing that there is some reverse logic involved in auditing compared to regular source/target descriptions for network traffic. I will wait for an authoritative answer to be posted, though.

[2019-08-14 21:38] andrewbettany opened #4697 "Please update the screenshots to not show the public preview"
Please update the screenshots to not show the public preview.
Also please update the Azure screenshots as these have now been re-designed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9dadd7a-2a10-0330-5e3b-8736ee37d0b0
* Version Independent ID: 5ebbfa1e-097d-0624-49d3-334d2625d806
* Content: [Windows Analytics in t

[2019-08-14 21:44] jvsam commented on #4697
@officedocsbot assign @jvsam

[2019-08-14 23:48] TinaMcN commented on #3568
@hyoshioka0128 フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 完了までに数週間かかる場合があります。(![image](https://user-images.githubusercontent.com/53281468/63063843-2fb00900-beb3-11e9-8a3f-5b15408a7367.png).
@illfated it's a good idea to fence code blocks and we may be able to do that in future using the new "noloc" extension.  The extension has not yet been tested so in this case it's easier to just upg

[2019-08-15 01:20] Cirnohalo commented on #4689
I have a win32 app and use Desktop Converter to get UWP appx, but Assigned Access mode doesn’t support this appx. (Assigned Access mode doesn’t support. (https://docs.microsoft.com/en-us/windows/configuration/kiosk-single-app)

[2019-08-15 03:20] mattsmacblog commented on #4645
Thanks @jvsam I've read a bunch of the resources sadly most are now pretty out of date, 1803, 1809 and 1903 have added a lot of new GP settings and behaviours...  Just be good to include on this page as of 1903 this new setting doesn't have precedence over the "Turn off access to all Windows Update features = Enabled" setting to clarify it for people...

[2019-08-15 03:55] hyoshioka0128 commented on #3568
Hi, @TinaMcN .
It was updated in MT, but there was a part that has not been fixed yet.
![windows-update-resources_j](https://user-images.githubusercontent.com/40815708/63071845-e36cd380-bf5b-11e9-8676-729dd0948318.png)

Wait for it to be fixed.

[2019-08-15 05:03] joinimran commented on #4625
Thanks for your reply,

@mypil Please guide @madhuramehendalewhatfix how a support case can be open so that the support team can address the issue.

Regards

[2019-08-15 08:06] mypil commented on #4634
@officedocsbot close

[2019-08-15 08:06] #4634 closed

[2019-08-15 08:17] e0i commented on #3775
@inbay

Upon your feedback, We have updated the content with relevant changes accordingly.

The PR #4641 has been merged.

Thanks.

[2019-08-15 08:17] e0i commented on #3775
@officedocsbot close

[2019-08-15 08:17] #3775 closed

[2019-08-15 08:35] e0i commented on #3762
@joebartlett94 Thank you for taking the initiative to create a PR based on our findings. The PR is being rolled into review.

[2019-08-15 10:23] e0i commented on #3684
Hello, @J1mbo

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-08-15 10:23] e0i commented on #1578
Hello, @-

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-08-15 10:24] e0i commented on #3843
Hello, @-

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-08-15 10:25] e0i commented on #3922
@jeffdfield

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-08-15 10:25] e0i commented on #3913
Hello, @hoskinsm

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-08-15 10:25] e0i commented on #3912
@A55imilat0r

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-08-15 11:58] e0i commented on #2468
@jaimeo Any updates with aforementioned cleanup? We would like to follow up and provide a PR at least for this document if necessary. Thanks.

[2019-08-15 12:00] e0i commented on #1930
@manikadhiman Would you be able to provide assistance and direction regarding this issue as the new owner of content? Thanks.

[2019-08-15 12:29] MaratMussabekov commented on #1731
Hello @CCDFischer, there is another article (up-to-date) that contains the same topics: [Planning for deploying App-V with Office](https://docs.microsoft.com/en-us/windows/application-management/app-v/appv-planning-for-using-appv-with-office)

Dear @e0i ,
could you please have a look? I think the original article should be deleted, as it contains outdated data only, and it could be replaced by art

[2019-08-15 14:42] e0i commented on #3901
@msandbu

We are closing this issue as there hasn't been a response from your side regarding the specific details of the issue.

Feel free to re-open this issue by clarifying the details and we'd be glad to come up with content updates.

Thank you for providing feedback.

[2019-08-15 14:42] e0i commented on #3901
@officedocsbot close

[2019-08-15 14:42] #3901 closed

[2019-08-15 14:48] PiKappZ746 opened #4700 "Need Multifactor Unlock CSP instructions"
I've added the following UserVoice item.  Until that is done, it would be very helpful to document creating a custom ADMX backed CSP to configure Multifactor Unlock in Intune.
https://microsoftintune.uservoice.com/forums/291681-ideas/suggestions/38381962-add-multifactor-unlock-configuration-to-whfb-windo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-08-15 14:52] mypil commented on #4700
@officedocsbot assign @mypil

[2019-08-15 14:54] mypil commented on #4700
@PiKappZ746 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-08-15 15:37] jaimeo commented on #2468
Revised topics are live.

[2019-08-15 15:39] jaimeo commented on #2468
Oops, my mistake. This is a stray instance. Fixing now.

[2019-08-15 16:29] nenonix commented on #4474
@illfated this [zdnet article](https://www.zdnet.com/article/microsoft-loses-control-over-windows-tiles-subdomain) gives some interesting context to what happened.

[2019-08-15 16:56] jaimeo commented on #2468
Sorry about that! This instance escaped our string searches. Now fixed in https://github.com/MicrosoftDocs/windows-docs-pr/pull/909.

[2019-08-15 17:42] TinaMcN commented on #4147
@hyoshioka0128 これは今修正されているように見えます。 確認してください。(this appears to be fixed now.  Please verify.)

[2019-08-15 17:47] illfated commented on #4147
Nice. Looks like the issue is resolved from my perspective, when looking at the public page
(https://docs.microsoft.com/ja-jp/windows/security/identity-protection/)

[2019-08-15 17:51] illfated commented on #4474
Wow. I was unaware of that fact and how much things can go south if online services get out of hand. Thank you for that information, appreciated.

[2019-08-15 18:31] illfated commented on #3912
Well, there are downloadable spreadsheets for 1803 and 1809, but I haven't checked yet if they contain enough information to build a complete new list for the docs page.
- 1803: https://www.microsoft.com/en-us/download/details.aspx?id=56946
- 1809: https://www.microsoft.com/en-us/download/details.aspx?id=57464

I have no idea if the 1903 spreadsheet is available yet.

[2019-08-15 20:22] hyoshioka0128 commented on #4147
Fixed.
Close #4147

[2019-08-15 20:22] #4147 closed

[2019-08-16 06:32] ManikaDhiman commented on #1930
Hi @e0i, I have reached out to the product team for this issue and issue#2522. I will update the status as soon as I hear from them. Thanks!

[2019-08-16 07:01] spaelling opened #4706 "What role is required?"
My user has all roles assigned, but still do not have permission to click "add machine"? Next step is global adminstrator in the tenant which seems silly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12e5744d-46dd-7f90-e42e-70caf9dd56d2
* Version Independent ID: 1a627400-9585-e482-3820-e58f6c172a87
* Content: [Micros

[2019-08-16 07:18] vrdse opened #4707 "Connection to Offline CA"
Can you please clarify this hint:

What's exactly meant by "connected to the root CA". Is it, that the AIA and CDP must be accessible to check revocation status? How is the "authenticate the SEMM certificate" process implemented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0d25836-4403-d111-9bd7-ca5f1ed56449
* Vers

[2019-08-16 07:48] mypil commented on #4706
@officedocsbot assign @mypil

[2019-08-16 07:48] mypil commented on #4707
@officedocsbot assign @mypil

[2019-08-16 08:46] mypil commented on #4706
@spaelling - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-08-16 08:46] mypil commented on #4707
@vrdse - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-08-16 09:08] mypil commented on #4689
@Cirnohalo - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice via **[Feedback Hub](https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub)**
You might

[2019-08-16 10:24] jonconwayuk commented on #4578
Is the known issue regarding MBR2GPT.exe going to be rectified in future releases, or is this removal of required dll and associated files a permanent change?

[2019-08-16 10:47] NetBUG opened #4708 "Please translate it correctly"
THe header should be "выход из учетной записи был выполнен"

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 1221d706-bc1a-f842-1439-d0ea32e20225
* Version Independent ID: 276a7268-75e7-713e-7b2d-688fc90cef8e
* Content: [4634 (-а) об отключении учетной записи. (Windows 10)](https://docs

[2019-08-16 10:49] mypil commented on #4708
@officedocsbot assign @mypil

[2019-08-16 11:44] mypil commented on #4708
@officedocsbot assign @TinaMcN

[2019-08-16 11:47] mypil commented on #4708
@NetBUG - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-08-16 13:48] mypil commented on #4708
@TinaMcN - Please assist with this Translation/Localization issue.

Thank you.

[2019-08-16 13:59] baardhermansen opened #4709 "Redirection error"
Again the link for Purchase MDOP is sending us to a non existing page (i end up there -&gt; https://www.microsoft.com/library/errorpages/smarterror.aspx?correlationId=VG+zGKAdU0GQxv80.0.3.0).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8efb31f6-d09e-1db4-9e1b-baed18254b65
* Version Independent ID: b45f19dd-510d-1cd5

[2019-08-16 14:14] jvsam commented on #4709
@officedocsbot assign @jvsam

[2019-08-16 14:43] illfated commented on #4708
@NetBUG : Your suggested text is instead of "учетная запись была удалена"
-- is that correct? (**4634 (-а): учетная запись была удалена.**)

[2019-08-16 14:44] mypil commented on #4625
@madhuramehendalewhatfix - You can open a service ticket so this can get resolved ASAP. Based on outcome let us know if it is something that can be called out in the documentation.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you do find that it is a documentation error,  please do not hesita

[2019-08-16 14:58] NetBUG commented on #4708
Hi @illfated, the text you suggested means `The account has been deleted`. This is incorrect and misleading (this description is correct for code 4726).

AFAIK 4634 means `An account was logged off`, which should be translated as `Выход из учетной записи [был выполнен]`

Or check how it is translated in Russian MUI of Windows, I have not used it for years.

[2019-08-16 15:30] illfated commented on #4709
Weird, the `correlationId` seems to be either randomized or a variable depending on the state of the page (& operating system?) you start off from.
I managed to get 2 separate different ones:
- https://www.microsoft.com/library/errorpages/smarterror.aspx?correlationId=fudBxgZQYUuuQonh.0.3.0
- https://www.microsoft.com/library/errorpages/smarterror.aspx?correlationId=V8JGFYM8/EaKRPJm.0.3.0

The onl

[2019-08-16 15:36] illfated commented on #4708
Thank you for confirming. I just wanted to verify that
`Выход из учетной записи [был выполнен]`'
should replace
`учетная запись была удалена` .

[2019-08-16 17:29] levinec commented on #1839
fixed and verified by @robmazz

[2019-08-16 17:29] #1839 closed

[2019-08-16 17:40] richard-irwin opened #4712 "Offboarding OMA-URI missing?"
Step 3 of the offboarding process references a "following supported OMA-URI", but that seems to be missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bc98378-18c5-81bf-769e-d76d26852c91
* Version Independent ID: dd542381-071b-e583-f082-976e8fd91019
* Content: [Onboard Windows 10 machines using Mobile Device Manag

[2019-08-16 17:45] jvsam commented on #4712
@officedocsbot assign @jvsam

[2019-08-16 20:47] jaimeo commented on #3730
@Deepamdubey is the person who can actually answer this question.

[2019-08-16 20:55] greg-lindsay commented on #3777
The message by rbbrittain is accurate. This isn't about the Your Phone app. I can add a clarification but all the text on this page is reviewed by legal and it's difficult to change anything.

[2019-08-16 20:55] #3777 closed

[2019-08-17 02:18] illfated commented on #2468
@rstenborg : This issue seems to be resolved. Can you confirm that you see the corrected version too?

[2019-08-17 11:57] jvsam commented on #1839
Hi again @danieldhudson we really appreciate your patience on this matter. I just want to inform you that the issue that you've reported has been fixed, as confirmed by @levinec. Thank you for your feedback and for being part of the Microsoft Docs community!

[2019-08-17 12:04] jvsam commented on #1750
Hi @ManikaDhiman I hope all is well. Do you have any update from the product team regarding this issue and #1894? Thanks and regards.

[2019-08-17 13:12] illfated commented on #1839
I presume https://github.com/MicrosoftDocs/windows-itpro-docs/commit/dd94dfbf00f8b54a731abd4c37c2315d78e9480a is the relevant commit to this issue.

[2019-08-17 15:02] jvsam commented on #4392
Hello again @cameron-interactive, thank you for your patience. I just want to inform you that there's already a suggested update to this documentation (see PR #4687) based on your feedback. PRs are normally reviewed/merged in the order of submission but once approved, they will be displayed here at docs.microsoft.com site in the next scheduled publishing run. I will let you know once the PR has be

[2019-08-17 15:02] jvsam commented on #4007
Hello again @webash, thank you for your patience. I just want to inform you that there's already a suggested update to this documentation (see PR #4568) based on your feedback. PRs are normally reviewed/merged in the order of submission but once approved, they will be displayed here at docs.microsoft.com site in the next scheduled publishing run. I will let you know once the PR has been approved a

[2019-08-17 15:04] jvsam commented on #1933
Hello again @omonoe, thank you for your patience. I just want to inform you that there's already a suggested update to this documentation (see PR #4621) based on your feedback. PRs are normally reviewed/merged in the order of submission but once approved, they will be displayed here at docs.microsoft.com site in the next scheduled publishing run. I will let you know once the PR has been approved a

[2019-08-17 17:34] ahvanco opened #4718 "ICONES DESACTIVESS"
Bonjour,
il y a 3 ou 4 jours, windows 10 me demande de redémarrer pour résoudre un problème d'erreur de disque. Cela m'est déjà arrivé plusieurs fois et après une pseudo réparation du disque, puis un ou des démarrages avortés se traduisant par une réparation automatique, je me retrouve à chaque fois avec une réinstallation complète. Donc, je passe outre à chaque démarrage et la machine semble fonc

[2019-08-17 18:05] jvsam commented on #4577
Hi again @Dansimp if you are not busy, can you please look into this community suggestion? Kindly confirm if the assumptions are correct. Thank you.

[2019-08-17 18:47] jvsam commented on #4718
@officedocsbot assign @jvsam

[2019-08-17 19:55] jvsam commented on #4578
Hi @jonconwayuk, if you are pertaining to the known issue with Windows PE, unfortunately, we do not have that information available at the moment. But rest assured the the docs will be updated once it's resolved. If you need immediate answer to your question, I would recommend contacting [Windows 10 support](https://support.microsoft.com/hub/4338813/windows-help?os=windows-10). Right now, please f

[2019-08-17 19:55] jvsam commented on #4578
@officedocsbot close

[2019-08-17 19:55] #4578 closed

[2019-08-17 20:44] jvsam commented on #4616
Hello again @Dansimp I just want to follow-up if you had a chance to look into this and if changes need to be made on the content as per the information provided? Thank you.

[2019-08-17 22:42] jvsam commented on #4645
Hi @mattsmacblog were you able to confirm from Support if that's the case? It would be good if we have that information.

Hi @greg-lindsay hope all is well. Can you please provide some insights on this? Your help is appreciated.

[2019-08-17 23:24] jvsam commented on #4638
Thanks for your valuable input @SLeuthold! @nenonix kindly take note of Stephen's suggestion.

[2019-08-18 00:36] jvsam commented on #4659
I would love to assist you with your concern @phreeze83, however, this Github site is intended to help improve the quality of the technical documentation of Microsoft Docs through user contributions and feedback. For technical issues that require testing or troubleshooting, then support or the forums will be your best option. But if you have suggestions related to this documentation or ideas to ma

[2019-08-18 12:01] ahvanco commented on #4718
tdlrecover.exe et sysfer.dll  n'existent apparemment plus, mais c'est surtout le catastrophique problème des réparations automatiques de Windows10 que je voudrais pouvoir éviter...

[2019-08-18 15:18] jvsam commented on #4642
Thanks for that information @illfated.

@MStormW, we always strive to improve the quality of the technical documentation of Microsoft Docs (*including information architecture*). I don't have a complete understanding of what you want to do but if you are planning on deploying a kiosk, you may also want to look at the [Deployment](https://docs.microsoft.com/windows/deployment/) docs, specifically r

[2019-08-18 16:23] jvsam commented on #4668
Thanks for that additional information @iadgovuser1. For the above, I will request the Windows content writing team to review and to suggest adding that to this documentation. I cannot confirm the proper format though, if *Hostname/Alias* and *FQDN* format are acceptable. Did they work for you when you've added them?

Hi again @ManikaDhiman, any information regarding the format? Sorry if I tagged

[2019-08-18 17:37] webash commented on #4007
Calling out the RDP limitation is great - thanks for that. I wonder if there are other places where key-trust doesn't work and should all be listed? Otherwise if RDP the only drawback, then this note is great :)

[2019-08-18 19:11] ojrb commented on #4408
I will create another PR with the desired text !

[2019-08-18 19:24] jvsam commented on #4670
Hi @ManikaDhiman can you help us with this, please? Can you confirm the supported Microsoft server versions for clarity? If the version is dependent on the requirements e.g. *The enterprise AD must be registered with Azure Active Directory (Azure AD)* and *Windows 10*, then following the same logic as @illfated (*well if my understanding is correct*), it's safe to assume that it can only support [

[2019-08-18 20:10] jvsam commented on #4695
Hello @ChrisMSNT thank you so much for bringing this to our attention. I will get this over to the Windows content writing team to suggest adding the instructions for the [Remote Autopilot Reset in Intune for Education](https://docs.microsoft.com/intune-education/autopilot-reset) (*For Windows 10, version 1809 and later*). The information on this documentation is still applicable in resetting devi

[2019-08-18 21:31] jvsam commented on #4697
Thank you for your suggestions to help improve the quality of the technical documentation, @andrewbettany. We always strive to give users the best Windows 10 experience by ensuring that contents of the Microsoft Docs are useful, accurate and up-to-date. I will get this over to the Windows content writing team and request for updated screenshots.

Thank you for being part of the Microsoft Docs Comm

[2019-08-18 22:56] jvsam commented on #4709
Thank you for bringing this to our attention @baardhermansen, however, I can't see where the issue is. Can you please clarify which link is redirecting to a non-existent page? Are you pertaining to the *Purchase Windows Enterprise Licensing* link?

![image](https://user-images.githubusercontent.com/18371314/63231240-6a1afc80-c24b-11e9-8949-c564cb9cd7c3.png)

When clicked, it redirects user to the

[2019-08-19 01:07] jvsam commented on #4718
I am sorry to hear that @ahvanco. Please be informed that this Github site is intended to help improve the quality of the technical documentation through user contributions and feedback, and since your issue appears to be product related, I recommend that you open a [service/support ticket](https://support.microsoft.com/hub/4338813/windows-help?os=windows-10) in your tenant to get immediate assist

[2019-08-19 01:41] jvsam commented on #4712
Thank you for bringing this to our attention @richard-irwin. I understand that you are looking for the OMA-URI settings, right? For your reference, here's the [WindowsAdvancedThreatProtection CSP](https://docs.microsoft.com/windows/client-management/mdm/windowsadvancedthreatprotection-csp) (see *offboarding* blob) and details in [creating/adding custom settings](https://docs.microsoft.com/intune/c

[2019-08-19 05:11] Deepamdubey commented on #3730
No, it doesn't. You have complete control of your deployments and they work as configured within your organization. So your windows updates or Intune delivery settings will not be impacted if you onboard to Windows or Desktop Analytics. As, mentioned none of the deployments will happen automatically until initiated.

[2019-08-19 05:29] ManikaDhiman commented on #4670
Hi @jvsam, I have reached out to the product team to provide guidance. I will keep you informed of any updates here. Thanks!

[2019-08-19 06:45] lightupdifire commented on #3730
Thanks for info! Will proceed with deployment.

[2019-08-19 06:45] #3730 closed

[2019-08-19 07:19] VLG17 commented on #4529
@newsoft Strict CSPs require making some changes to the HTML template (among other places), which is not covered by the refferenced article. I will create a PR and add a note explicitely stating this. Hope this is ok.

[2019-08-19 09:18] jurajgh opened #4726 "Windows Autopilot reset removes the device's primary user - fixed?"
a while back, this feature has been annouced (here - https://docs.microsoft.com/en-us/intune/whats-new#windows-autopilot-reset-removes-the-devices-primary-user-)
but it doesn't work currently. i've been informed it's a known bug, so I'd liket o ask, whether it has been finally fixed in the recent intune builds?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-08-19 09:21] mypil commented on #4726
@officedocsbot assign @mypil

[2019-08-19 10:31] e0i commented on #3991
@Mike-Crowley The issue is still under investigation and you will be followed up with updates. Thanks.

[2019-08-19 10:36] baardhermansen commented on #4709
@jvsam Sorry, i wasn't too specific: Yes, i was referring to the Purchase Windows Enterprise Licensing link. As @illfated says, the correlationId is different each time apart from the ".0.3.0" at the end of the link.
I also tried the licensing worldwide link you referred to above, but same situation there; i'm redirected to the same errorpages link, again with a new correlationId.

[2019-08-19 10:41] baardhermansen commented on #4709
@jvsam I'll be darned: Been using Edge version 78.x on the previous tries. Switched to Opera and now i'm redirected to the correct site, both with the Purchase Windows Enterprise Licensing and the /Licensing/worldwide links.
Guess the issue can be closed then as the error lies in the browser, not the links.

[2019-08-19 11:58] MaratMussabekov commented on #3677
Dear @KjetilEVRY ,
Microsoft Defender ATP predefined exclusions are only for Windows Server roles and features, not for separate products.
For example, there is no need to configure exclusions manually for DNS server, as it is role, but you need to manually set all the exclusions for SQL server, as it is a separate product.
Thank you

[2019-08-19 12:08] KjetilEVRY commented on #3677
Thanks, maybe you should make that more clearer in the docs. And it would be great if the Product Group would include common Server products, like SQL, Exchange etc.

[2019-08-19 12:49] MaratMussabekov commented on #3677
Hello @KjetilEVRY ,
as it is stated in the article "In Windows Server 2016, the predefined exclusions delivered by Security intelligence updates only exclude the default paths for a role or feature. "

for other products, the exclusions are the same as for other antiviruses, and most of the products have dedicated articles, for example:
sql: [How to choose antivirus software to run on computers th

[2019-08-19 13:22] mypil commented on #4625
@officedocsbot close

[2019-08-19 13:22] #4625 closed

[2019-08-19 13:23] mypil commented on #4689
@officedocsbot close

[2019-08-19 13:23] #4689 closed

[2019-08-19 13:40] e0i opened #4729 "test"
Assignment testing

[2019-08-19 13:41] e0i commented on #4729
@officedocsbot assign @mypil

[2019-08-19 13:42] #4729 closed

[2019-08-19 15:05] rajh4873 opened #4731 "My computer is hang"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47692487-0a0b-3b1b-6d34-790046c7cbc3
* Version Independent ID: 0f66cafe-2bff-4323-b3fc-01014b904b3a
* Content: [Windows Update log files](https://docs.microsoft.com/en-us/windows/deployment/update/windows-update-logs)
* Content Source: [windows/deploy

[2019-08-19 15:29] mypil commented on #4731
@officedocsbot assign @mypil

[2019-08-19 15:41] mypil commented on #4726
@jurajgh - Thank you for submitting feedback.

I think the best way forward is if you can contact support for Windows 10 products and open a **[service ticket](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)** so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us posted here

[2019-08-19 16:02] jurajgh commented on #4726
sorry, i don't really know what you mean. are you saying I should submit a
support ticket for this? why is that necessary? the issue is already known.
i'm just trying to get some update on it.

On Mon, 19 Aug 2019 at 17:42, Joyce Y. <notifications@github.com> wrote:

--
J.

[2019-08-19 16:08] mypil commented on #4691
@fabianseither - Thank you for engaging with the community here for the docs.

I think the best way forward is if you can contact support and open a **[service ticket](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)** for Windows 10 products  so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't

[2019-08-19 16:11] mypil commented on #4726
@jurajgh - Please understand that this site is a product documentation site and not a support nor a feature request site.

As such, the feedback section here is intended for feedback that improves the content in the Microsoft documentation and not intended for user feedback on product features nor troubleshooting.

For user feedback on product feature requests, you can submit via [Feedback Hub](ht

[2019-08-19 16:23] mypil commented on #4731
@rajh4873 - Thank you for submitting feedback.

I think the best way forward is if you can contact support and open a **[service ticket](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)** for Windows 10 products  so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us posted her

[2019-08-19 17:24] illfated commented on #4709
Thank you for keeping us updated on your attempts to get connected to the online service. I don't know what is going on there, but I would have thought that the page would favor Microsoft browsers (unless outdated, of course). Sorry for not knowing that service page any better, but I am not in a position to test the ATP service by trying to buy a license for it. I can only hope this situation may

[2019-08-19 17:54] TinaMcN commented on #4708
@NetBUG Спасибо за обратную связь.  Статья была переведена машиной.  Я послала его для человеческого перевода.  Это может занять несколько недель.
(Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  This may take a few weeks to complete.)

[2019-08-19 18:52] mjcaparas commented on #4706
@spaelling - it's likely that you have used up all 3 machines.

Please note:
Each environment is provisioned with only three test machines.
Each machine will be available for only three days from the day of activation.

When you've used up these three machines, no new machines are provided.
Deleting a machine does not refresh the available test machine count.

Given the limited resources, it’s adv

[2019-08-19 18:54] mjcaparas commented on #4706
@spaelling as long as the user has "Manage portal system settings" role, they should be able to add a machine.

[2019-08-19 18:56] greg-lindsay commented on #3991
We are discussing this request internally and will make the necessary updates when the issue is resolved. I'm closing this issue for now.

[2019-08-19 18:56] #3991 closed

[2019-08-19 21:55] illfated commented on #4731
@mypil : To me, it looks like the author's problem is fairly unrelated to the page where he posted that single line. Then again, if the problem occurred while researching the content of the page, we can only hope to hear back from the user regarding this topic.

[2019-08-19 22:02] lanatmwan opened #4733 "Kiosk mode section isn't anchored"
Please make the kiosk mode heading have an anchor so that it can be directly linked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cd1e023-65ae-0e1d-b031-c02f5fb1daf8
* Version Independent ID: 8053b30a-82b6-404e-5daa-2110fb56c20b
* Content: [Prepare a device for kiosk configuration (Windows 10)](https://docs.microsof

[2019-08-19 22:56] illfated commented on #4733
@lanatmwan : I can only assume you are talking about the incorrectly formatted line
[code]
because it is preceded by the invisible HTML tag
[code]
which should either be removed or at least separated from the heading by adding a blank line in front of it, to make it work as a section heading like this:
## Testing your kiosk in a virtual machine (VM)
... and thereby automatically become linked in t

[2019-08-20 00:05] mjcaparas commented on #4712
@jvsam - that looks about right. Thanks!

[2019-08-20 05:35] MaratMussabekov commented on #3750
Dear @illfated, there is also a class in PowerShell (System.Web) for this kind of html encoding, like:

$nameSpaceName="root\cimv2\mdm\dmmap"
$className="MDM_AssignedAccess"
$obj = Get-CimInstance -Namespace $namespaceName -ClassName $className
Add-Type -AssemblyName System.Web
$obj.Configuration = [System.Web.HttpUtility]::HtmlEncode(@"
XML Body
"@)
Set-CimInstance -CimInstance $obj

it worked we

[2019-08-20 07:23] VLG17 commented on #1578
@yoshihirok Surface Go with Windows 10 Home in S mode has Bitlocker, or better said Device Encryption. In order to benefit from the full Bitlocker functionality (MicroSD card encryption included) you would need to upgrade to Windows 10 (S or not) Pro/Enterprise.

![surface go](https://user-images.githubusercontent.com/41186174/63326230-775fe600-c334-11e9-9e1a-aa4306ce004b.jpg)

[2019-08-20 07:27] mypil commented on #4733
@officedocsbot assign @mypil

[2019-08-20 07:40] rajeshkhanikar opened #4737 "Provisioning a Windows device for users who are not allowed to join devices to Azure AD"
We were expecting White Glove to add the device to Azure AD and make it ready for an end-user to sign in after it is sealed. But it doesn't seem to work like that.

White-Glove seems to only work for end-users who are allowed to join a device to Azure AD. This is our experience -
1. Provision a device (White Glove)
2. Seal the device
3. Restart the device
4. Sign in to the device as the end-user (

[2019-08-20 07:45] mypil commented on #4737
@officedocsbot assign @mypil

[2019-08-20 07:54] dcaddick opened #4738 "Hardware-based isolation link"
The link only refences to Application Buard - no mention of System Guard...?

[2019-08-20 07:56] mypil commented on #4738
@officedocsbot assign @mypil

[2019-08-20 09:49] lightupdifire opened #4740 "Testing steps | Logs query"
Hello,

Would like to confirm information about "DHOSReliability" for "computer name" field.

Current setup build as:
1. Created log analytics workspace with pricing tier per GB 2018
2. Added Device Health to tenant
3. Deployed id and logs settings via Intune and devices do onboard fine

But when query logs for devices or apps info or "DHOSReliability", the Computer name shown as "unknown".
Any id

[2019-08-20 10:25] mypil commented on #4740
@officedocsbot assign @mypil

[2019-08-20 10:28] mypil commented on #4738
@dcaddick - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-08-20 12:31] mypil commented on #4737
@rajeshkhanikar - Thank you for submitting feedback.

I think the best way forward is if you can contact support and open a **[service ticket](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)** for Windows 10 products  so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us post