[2019-05-23 19:31] Gtfinchy commented on #3390
Is there tracks on the file? Perhaps the same person keeps whacking it?

- Glenn Fincher

Tiny screen, fat fingers.., sent from iOS

On May 23, 2019, at 9:03 PM, jaimeo <notifications@github.com<mailto:notifications@github.com>> wrote:

Reopened #3390<https://eur04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMicrosoftDocs%2Fwindows-itpro-docs%2Fissues%2F3390&data=02%7C01%7C%7C

[2019-05-23 20:30] Swiftnc opened #3793 "Unable to create object from file"
When I attempt to upload the Jamf Configuration file (WindowsDefenderATPOnboarding.plist) in Jamf version 10.12.0, it gives the error "Unable to create object from file".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f067243-d029-ec35-cb1d-cc271b00d0a1
* Version Independent ID: 121d2480-5bbc-9a8e-68a6-17f708dc21d4
*

[2019-05-23 20:49] Swiftnc commented on #3793
Documentation Error.  Able to resolve ty adding it as a Custom Settings instead of "uploading" it as a Configuration Profile itself.

[2019-05-23 20:49] #3793 closed

[2019-05-23 22:00] #3779 closed

[2019-05-23 22:00] #3773 closed

[2019-05-23 22:01] #3774 closed

[2019-05-23 22:31] Scriptimus opened #3796 "Video link is no longer valid"
MVA course in the link is retired.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87ec66f8-6598-5751-a10f-55951c08b3ff
* Version Independent ID: c3bb99fb-ec6f-638f-fb26-af3142f5d49c
* Content: [Protect derived domain credentials with Windows Defender Credential Guard (Windows 10)](https://docs.microsoft.com/en-us/windo

[2019-05-24 00:43] e0i commented on #3756
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-24 00:43] e0i commented on #3755
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-24 00:44] e0i commented on #3769
@officedocsbot assign @e0i

[2019-05-24 00:44] e0i commented on #3762
@officedocsbot assign @e0i

[2019-05-24 00:44] e0i commented on #3761
@officedocsbot assign @e0i

[2019-05-24 00:44] e0i commented on #3763
@officedocsbot assign @e0i

[2019-05-24 00:45] e0i commented on #3790
@officedocsbot assign @e0i

[2019-05-24 00:45] e0i commented on #3788
@officedocsbot assign @e0i

[2019-05-24 00:45] e0i commented on #3786
@officedocsbot assign @e0i

[2019-05-24 00:45] e0i commented on #3784
@officedocsbot assign @e0i

[2019-05-24 00:45] e0i commented on #3796
@officedocsbot assign @e0i

[2019-05-24 00:45] e0i commented on #3770
@officedocsbot assign @e0i

[2019-05-24 00:45] e0i commented on #3771
@officedocsbot assign @e0i

[2019-05-24 00:46] e0i commented on #3775
@officedocsbot assign @e0i

[2019-05-24 00:47] e0i commented on #3777
@officedocsbot assign @e0i

[2019-05-24 06:55] joinimran commented on #2376
@lightupdifire Can you please confirm these are the steps for collecting logs for Azure Event Monitor?

[2019-05-24 08:54] lightupdifire commented on #2376
@joinimran
1. Use existing or create new Log Analytics Workspace
2. In Log Analytics->Advanced Settings, go to Data, in Windows Event Logs, add logs to receive:
Microsoft-Windows-EDP-Application-Learning/Admin
Microsoft-Windows-EDP-Audit-TCB/Admin
(Make sure click on Save button.)
The Event logs names can be found if using "Windows Events", go to Events folder and go to Properties of the event (Ap

[2019-05-24 09:27] hkusulja commented on #1753
Have same error on multiple tenants/intune , on multiple windows 1803, 1809 , 1903 ...
it works (new users is deployed and added to local admin group), but the error in portal is visible as -2016281112 (Remediation failed)

[2019-05-24 09:32] mypil commented on #2465
@officedocsbot reopen

[2019-05-24 09:34] mypil commented on #2465
@cronq - Thanks for the clarification and additional inputs.

I'm reopening this issue and also discussed with @Reeced40 to help create another PR to incorporate your feedback.

[2019-05-24 11:22] jmrita opened #3799 "White Glove feature enablement"
When can we expect White Glove to move from private to preview ? Just tried it and got red screen. Event log says "White Glove not supported". Is it part of 1905 Service Release ? Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca5b57d1-61b3-39d4-34ff-d6dcb858c250
* Version Independent ID: 42609104-81

[2019-05-24 12:39] mypil commented on #884
@officedocsbot close

[2019-05-24 12:39] #884 closed

[2019-05-24 12:43] mypil commented on #1451
@officedocsbot close

[2019-05-24 12:43] #1451 closed

[2019-05-24 12:44] mypil commented on #2417
@officedocsbot close

[2019-05-24 12:44] #2417 closed

[2019-05-24 12:45] mypil commented on #3204
@greg-lindsay - Do you have any updates on this?

Thank you.

[2019-05-24 12:45] Reeced40 commented on #2465
@cronq Thank you for clarifying. Would this be the link that you would like added for the Audit Token Right Adjusted subcategory under Detailed Tracking? https://docs.microsoft.com/windows/security/threat-protection/auditing/event-4703.

[2019-05-24 13:55] vsk2005 commented on #3398
I couldn't find any code snippet or ways to do this programmatically. I don't know how MS is doing through Firmware driver update for Surface Pro. Manually updating each dock is not viable.

[2019-05-24 13:59] hyoshioka0128 opened #3800 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
related issues: #3435

https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9f709fd4-0b5d-b238-4060-222d550cd538
* Version Independent ID: fb3f29da-2236-c47d-6bea-8efbcec8d7d3
* Content: [AADJ オンプレミス シングル サインオンのシングル サインオンの証明書の使用](https://docs

[2019-05-24 14:53] mypil commented on #1151
@jordanmills - Can you please respond to the query of MaratMussabekov?

[2019-05-24 14:57] RNCRyan opened #3801 "How does one unenroll a device that was enrolled using the deployment script?"
Hi, how does one unenroll a device that was enrolled using the deployment script?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4273a259-c3c7-dca7-6353-954068d740a7
* Version Independent ID: 1084ea77-95c4-4e4a-da6c-f4d8668f9ebf
* Content: [Enrolling devices in Windows Analytics (Windows 10)](https://docs.micr

[2019-05-24 14:59] mypil commented on #2440
@officedocsbot close

[2019-05-24 14:59] #2440 closed

[2019-05-24 15:20] mypil commented on #2347
@reduakm - From our understanding, the issue you raised has been answered by joinimran. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-24 15:22] mypil commented on #2346
@Tdiwestyguy  - From our understanding, the issue you raised has been answered by joinimran. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-24 15:26] mypil commented on #2344
@AaronMargosis  - From our understanding, the issue you raised has been answered by joinimran. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-24 16:19] NagaCSC opened #3803 "Unable to land on Federated domain"
If I click on
Hybrid Azure AD joined provisioning in a Certificate Trust deployment in a Federated environment
it takes to Managed Environment

However there is another link similar (synchronous)
Hybrid Azure AD joined provisioning in a synchronous Certificate Trust deployment in a Federated environment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-05-24 17:00] jaimeo commented on #3390
We believe this is fixed.

[2019-05-24 17:02] hyoshioka0128 opened #3804 "[LOC]"設定 > の更新 & セキュリティ" needs to be replaced with "設定 > 更新とセキュリティ""
"設定>の更新 & セキュリティ>のアクティブ化"
↓
"設定 > 更新とセキュリティ > ライセンス認証"

related issue: #3487

https://docs.microsoft.com/ja-jp/education/windows/change-to-pro-education

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 87760a66-0877-5a64-0b63-52495c3717ca
* Version Independent ID: c6d2091f-5ae6-1546-f0ed-6e506ec3e25e
* Content: [Windows 10 Pro から Windows 10 エデュケーションに変更

[2019-05-24 17:15] hyoshioka0128 opened #3805 "[LOC]"&lt;"needs to be replaced with"<", "&gt;"needs to be replaced with">""
https://docs.microsoft.com/ja-jp/windows/application-management/manage-windows-mixed-reality
![manage-windows-mixed-reality](https://user-images.githubusercontent.com/40815708/58345284-ec856180-7e92-11e9-8f59-61c1f21cd538.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 98d4c6ca-ae3c-7750-f58b-0df996e41402
* Version Independent ID: 0d05fd22-b761-6

[2019-05-24 18:31] illfated commented on #3805
Future solution: PR #3807 -- when merged into the `master` branch and migrated to the Docs page, subsequently migrated to the localized page, it should close this issue.

(Comments are welcome regarding estimated time of total time before arrival on the localized pages.)

[2019-05-24 18:33] SquirrelAssassin commented on #2130
After enabling the rule, full of the errors below.  How can we find out the ips of the 858 remote calls so we can start to troubleshoot?

858 remote calls to the SAM database have been denied in the past 900 seconds throttling window.
For more information please see http://go.microsoft.com/fwlink/?LinkId=787651.

[2019-05-24 18:44] Justinha commented on #2130
@SquirrelAssassin this is covered in the Policy Management section. You'll want to set Audit mode and then parse then related events. But that is a complex task in itself. For the best help with this setting, please open a case with Microsoft Customer Support.

[2019-05-24 19:08] illfated commented on #3804
From web translator:
"Settei > no kōshin & sekyuriti" needs to be replaced with "Settei > kōshin to sekyuriti"

(Ampersand ( **&** ) issue again, as referenced above)

[2019-05-24 19:11] e0i commented on #3792
@officedocsbot assign @e0i

[2019-05-24 19:20] illfated commented on #3398
@Typhoon87 , @vsk2005 : Have you tested if it is possible to get some form of output in a CMD window on a test computer, when using either `/?` or `--help` as arguments to the program file name command?
(I assume you may have tested it already, just asking in case you have not.)
I thought maybe if there would be a way to add arguments / parameters to run it as a login script command, but it is a l

[2019-05-24 21:17] e0i commented on #3756
See: #3405

[2019-05-24 21:17] e0i commented on #3755
See: #3405

[2019-05-24 21:27] jeffreymcclain opened #3809 "Typo: "begging" should be "beginning""
"In the begging..."

https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/passwordless-strategy#the-process

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ca080bd-ed37-60a8-ec22-b1929166ff0c
* Version Independent ID: d2742e0c-9d66-4b1f-8555-a1fb1546455b
* Content: [Password-less Str

[2019-05-24 21:40] e0i commented on #3770
@Justinha Would you kindly advise how to proceed with this issue? We'd like to follow-up with a PR if needed. Thank you.

[2019-05-24 21:46] e0i commented on #2645
@officedocsbot assign @e0i

[2019-05-24 22:23] e0i commented on #3772
@officedocsbot assign @e0i

[2019-05-24 23:47] e0i commented on #3746
Hello, @czrik

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-05-24 23:48] e0i commented on #3763
Hello, @StanislavMarimorich

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback.

[2019-05-24 23:49] e0i commented on #3761
Hello, @DrewNizzle  thank you for providing feedback.

The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-25 01:25] e0i commented on #3799
@officedocsbot assign @e0i

[2019-05-25 01:26] e0i commented on #2881
@officedocsbot assign @e0i

[2019-05-25 01:28] e0i commented on #2992
@officedocsbot assign @e0i

[2019-05-25 01:30] e0i commented on #3252
@officedocsbot assign @e0i

[2019-05-25 01:32] e0i commented on #3292
@officedocsbot assign @e0i

[2019-05-25 01:33] e0i commented on #3299
@officedocsbot assign @e0i

[2019-05-25 01:33] e0i commented on #3383
@officedocsbot assign @e0i

[2019-05-25 01:34] e0i commented on #3748
@officedocsbot assign @e0i

[2019-05-25 01:34] e0i commented on #3747
@officedocsbot assign @e0i

[2019-05-25 01:34] e0i commented on #3750
@officedocsbot assign @e0i

[2019-05-25 01:34] e0i commented on #3809
@officedocsbot assign @e0i

[2019-05-25 01:34] e0i commented on #3800
@officedocsbot assign @e0i

[2019-05-25 01:34] e0i commented on #3801
@officedocsbot assign @e0i

[2019-05-25 01:34] e0i commented on #3804
@officedocsbot assign @e0i

[2019-05-25 01:35] e0i commented on #3803
@officedocsbot assign @e0i

[2019-05-25 01:35] e0i commented on #3805
@officedocsbot assign @e0i

[2019-05-25 01:35] e0i commented on #3799
@officedocsbot assign @e0i

[2019-05-25 05:28] joinimran commented on #2481
Hello @natiT , Thank you for your feedback. Please note you can enable the policy Specify settings for optional component installation and component repair located under Computer Configuration\Administrative Templates\System to allow installation of language packs live. Please note this will not disturb your other windows updates distributions. Like deploying via WSUS or SCCM.

You can also raise

[2019-05-25 06:50] joinimran commented on #2568
@aavdberg Thank you for sharing your feedback. Can you please share more details and screenshots so that we can better help you and make the necessary changes in the doc.
For Hololens devices, please visit https://docs.microsoft.com/en-us/hololens/ for details. You will find details regarding hololens and managing it using MDM.

Thanks.

[2019-05-25 07:16] joinimran commented on #2376
Thanks, @lightupdifire for sharing details. I have reproduced all these steps and they are working fine. I will add these in the doc and will create PR for the same.
Thanks.

[2019-05-25 09:00] illfated commented on #3763
@StanislavMarimorich : I am having trouble finding your quoted line

within the searchable text on the page (https://docs.microsoft.com/en-us/windows/deployment/deploy-enterprise-licenses).
Is the text in one of the images, maybe with small print?
If you can help us narrow down where the wrong text is, it will be easier and quicker to correct.

[2019-05-25 09:25] illfated commented on #3292
@audi5411 : Do you have any updates for examples of the events 5150 and 5151?

[2019-05-25 09:42] axovel commented on #1556
This will work

STEP 1:
Open the command prompt as an Administrator.

STEP 2:
Run the command with no argument: bcdedit

After you run the above command, you will see that the property hypervisorlaunchtype is set Auto by default.

STEP 3:
Disable Hyper-V by running the command: bcdedit /set hypervisorlaunchtype off

STEP 4:
Restart your PC system to use VirtualBox.

To turn Hyper-V back on, run th

[2019-05-25 10:07] audi5411 commented on #3292
@illfated : i worked for other things after post feedback. so i don't have example. sorry~

[2019-05-25 10:32] illfated commented on #3292
Fair enough, we are after all simply contributing in our spare time. I will keep an eye out for if someone else opens up issue tickets for those other pages.

[2019-05-25 10:35] illfated commented on #3299
@ronnieharper : Have you managed to test what the actual result is when you are using Intune where that text appears?

[2019-05-25 10:49] illfated commented on #3800
"Windows kon'nichiwa for Business" -- that is a chuckle gift that keeps on giving, it seems. 😄

[2019-05-25 10:55] illfated commented on #3809
@jeffreymcclain : Thank you for pointing out the typo. If you find any other typos or misprints in that page, feel free to post your findings here as soon as you can.

[2019-05-25 14:42] illfated commented on #3786
Windows kon'nichiwa -- thank you. 😄

[2019-05-25 18:36] e0i commented on #3775
@inbay

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-25 18:39] e0i commented on #3772
Hello, @inbay

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-05-25 18:40] e0i commented on #3777
Hello, @BR77BE

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback.

[2019-05-25 18:40] e0i commented on #3769
Hello, @iadgovuser1

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback.

[2019-05-25 21:04] e0i commented on #2605
@officedocsbot assign @e0i

[2019-05-25 21:04] e0i commented on #2597
@officedocsbot assign @e0i

[2019-05-25 21:04] e0i commented on #2603
@officedocsbot assign @e0i

[2019-05-25 21:04] e0i commented on #2599
@officedocsbot assign @e0i

[2019-05-25 21:04] e0i commented on #2607
@officedocsbot assign @e0i

[2019-05-25 21:04] e0i commented on #2613
@officedocsbot assign @e0i

[2019-05-25 21:05] e0i commented on #2638
@officedocsbot assign @e0i

[2019-05-25 21:09] e0i commented on #2646
@officedocsbot assign @e0i

[2019-05-25 21:09] e0i commented on #2667
@officedocsbot assign @e0i

[2019-05-25 21:10] e0i commented on #2916
@officedocsbot assign @e0i

[2019-05-25 21:10] e0i commented on #2916
@dfconroy

Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-05-25 21:10] e0i commented on #3230
@officedocsbot assign @e0i

[2019-05-26 12:32] illfated commented on #3796
The linked page says:
***
### Sorry, you've reached a retired course.
Unfortunately, no replacement course is available.
***
I will open a PR soon to have the whole text line removed.

[2019-05-26 13:23] RAJU2529 opened #3814 "All these new is available only on?"
What will happen, If the users upgrades from existing Windows 10 to 1903 , after upgraded, whether users will get all the new features as mentioned in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 095d9daa-2d4e-7442-13a1-79d15b313ad7
* Version Independent ID: c33e2393-9f53-d896-e154-42058ecf4dbf
* Conten

[2019-05-26 13:29] RAJU2529 opened #3815 "Thanks for information"
I just want to try to create application rules, after reached to home.

If I get any doubts, then I will ask for solutions. Only these authors can give  solutions and other articles authors also given solutions
Thanking you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f23b1d4-2cfa-10ec-e3b1-fdd71238548e
* Version In

[2019-05-26 14:15] illfated commented on #3815
Thank you for the nice words. I am sure they appreciate your feedback.

[2019-05-26 14:39] illfated commented on #2607
The location of `MpCmdRun.exe` is mentioned on the page **"Configure and manage Windows Defender Antivirus with the mpcmdrun.exe command-line tool"**
(https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-antivirus/command-line-arguments-windows-defender-antivirus).

To be honest, I would presume that any IT professional would know how to locate programs outside of t

[2019-05-26 14:53] RAJU2529 commented on #3377
But I have found that file bootmgrfw.efi in windows PE addson.
I think I also found in efi partition, only if Windows booted in uefi Mode

[2019-05-26 14:54] RAJU2529 commented on #2502
for blue sceen issues, I can able to the find corrupted drivers by using windbg tool with memory dump

[2019-05-26 16:02] Malind19 commented on #3353
Hi @RAJU2529 ,
Thank you very much for your feedback. I would like to list your suggestions with my comments before I edit the article.

1. Mention the default location of the Start Menu Layout. - I will add this to the article.
2. Specify full command for export. - The link to the detailed command is included. So as a policy, we should not duplicate. If a user wishes to understand much deeper, th

[2019-05-26 16:35] RAJU2529 commented on #3353
All the mentioned conditions are correct. You can those into article.
Point 4 is export command. It's not an Windows issues.
I think its hidden secrets.

[2019-05-26 17:28] illfated commented on #3796
@Scriptimus : Thank you for the report. Feel free to report any other pages where the same issue appears.

[2019-05-26 17:40] Scriptimus opened #3817 "Another Broken link"
2 more broken links on this page

"Protecting network passwords with Windows Defender Credential Guard" Please review the remainder of the links
"Credentials protected by Windows Defender Credential Guard"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87ec66f8-6598-5751-a10f-55951c08b3ff
* Version Independent ID: c3bb

[2019-05-26 17:46] Scriptimus opened #3818 "All links broken on this page"
All links on this page are broken. I have listed them below:

Deep Dive into Windows Defender Credential Guard: Related videos
Credential Theft and Lateral Traversal
Virtualization-based security
Credentials protected by Windows Defender Credential Guard

Please not only remove them but add links to newer content. Also raise the greater issue in Microsoft that there are a lot of Virtual Academy Do

[2019-05-26 18:24] Malind19 commented on #3353
@RAJU2529 Thank you very much for quick response. @mypil As we discussed here I see #1 of my previous comment should be in the article. But I could not find #4 mentioned in anywhere else. So shall I consider adding it? or ignore it as it is not mentioned in any guidelines as a feature of the command? #2 and #3 will not be added as there are different reference articles for them that clarifies them

[2019-05-26 18:43] RAJU2529 commented on #3353
#4 You can add as extra informations

[2019-05-27 08:10] mypil commented on #2568
@aavdberg - From our understanding, the issue you raised has been answered by joinimran. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-27 08:12] StanislavMarimorich commented on #3763
It was at the top of the page in Note section. It looks like misprint is already corrected.

[2019-05-27 08:13] mypil commented on #2481
@natiT - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in
User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**

You might find oth

[2019-05-27 08:16] mypil commented on #874
@gruppenrichtlinien - Thank you for submitting this feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-27 08:17] mypil commented on #2411
@rbsec - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-27 08:36] hyoshioka0128 opened #3819 "[LOC]"&lt;"needs to be replaced with"<", "&gt;"needs to be replaced with">""
https://docs.microsoft.com/ja-jp/windows/configuration/kiosk-mdm-bridge
![kiosk-mdm-bridge](https://user-images.githubusercontent.com/40815708/58407092-f206c580-80a5-11e9-9dbb-3bf6272faa3f.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 7f536979-dfd7-317d-2da7-c40935d85c7f
* Version Independent ID: c23737a1-c71e-3d9c-3915-c6929a23602e
* Content:

[2019-05-27 08:55] mypil commented on #3390
@alexfreu - From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-27 08:56] mypil commented on #3390
@officedocsbot close

[2019-05-27 08:56] #3390 closed

[2019-05-27 08:57] mypil commented on #3257
@xNiklasJern - Thank you for sharing your feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-27 08:59] mypil commented on #2488
@Tdiwestyguy - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-27 09:01] mypil commented on #1260
@deanwiles - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-05-27 09:01] mypil commented on #1260
@officedocsbot close

[2019-05-27 09:01] #1260 closed

[2019-05-27 09:07] xNiklasJern commented on #3257
@mypil Hi,
Can see that the change was pushed 11 days ago. But don't really see any changes to the content. Am I missing it?

Regards,

[2019-05-27 09:15] rbsec commented on #2411
Fantastic - thanks.

[2019-05-27 09:38] mypil commented on #3257
@xNiklasJern - Actually, the PR was just merged 3 days ago (_AndreaBarr merged commit 0d46063 into MicrosoftDocs:master  3 days ago_). The changes made by MaratMussabekov can be found [here](https://github.com/MicrosoftDocs/windows-itpro-docs/pull/3693/files). So, it may still take a few more days for the merged content to be reflected in the document.

[2019-05-27 09:42] xNiklasJern commented on #3257
@mypil ah ok. See it now, must have missed it. Looks better.
Thanks for the help

[2019-05-27 09:42] #3257 closed

[2019-05-27 11:45] e0i commented on #3818
@officedocsbot assign @e0i

[2019-05-27 11:46] e0i commented on #3817
@officedocsbot assign @e0i

[2019-05-27 11:46] e0i commented on #3815
@officedocsbot assign @e0i

[2019-05-27 11:46] e0i commented on #3814
@officedocsbot assign @e0i

[2019-05-27 11:59] troyphil opened #3820 "Extension for Windows 10 1903"
Please specify mandatory profile extension for Windows 10 1903

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9ca7cb6-32cb-1517-a9de-c36046955d45
* Version Independent ID: 91041e39-007e-f481-0cd4-177b4039ae12
* Content: [Create mandatory user profiles (Windows 10)](https://docs.microsoft.com/en-us/windows/client-manag

[2019-05-27 12:38] mypil commented on #2405
@officedocsbot close

[2019-05-27 12:38] #2405 closed

[2019-05-27 13:12] e0i commented on #3504
@Air-Git

We are closing this issue as there hasn't been a response from your side regarding the issue.

Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.

Thank you for providing feedback.

[2019-05-27 13:12] e0i commented on #3504
@officedocsbot close

[2019-05-27 13:12] mypil commented on #3387
@Justinha - We would like to follow up on this. Do you have any updates?

Thank you.

[2019-05-27 13:43] RAJU2529 commented on #3815
Please give me two days to time to reach my home

[2019-05-27 13:49] mypil commented on #1515
@officedocsbot close

[2019-05-27 13:49] #1515 closed

[2019-05-27 14:28] mypil commented on #3204
@greg-lindsay - I would like to follow up on this.  Do you have any updates on this?

Thank you.

[2019-05-27 14:31] Malind19 commented on #3353
@mypil Created PR https://github.com/MicrosoftDocs/windows-itpro-docs/pull/3821

[2019-05-27 14:37] e0i commented on #3550
@zdvorak Any updates on this?

[2019-05-27 14:50] j0rt3g4 commented on #2015
@e0i  any update on this?

[2019-05-27 15:36] Hammerfest commented on #874
Since 1809 came out and DID NOT have this issue, I have not gone back to test 1803.
Will add it to the list of things to do this week.

[2019-05-27 15:51] j0rt3g4 commented on #2297
Added #3823 to solve this issue.

[2019-05-27 17:16] illfated commented on #3763
Yes, you may want to look at Pull Request https://github.com/MicrosoftDocs/windows-itpro-docs/pull/3628 (based on issue https://github.com/MicrosoftDocs/windows-itpro-docs/issues/880) and see if that makes sense.

The files page containing the main changes (https://github.com/MicrosoftDocs/windows-itpro-docs/pull/3628/files) is probably easier to browse than the 15 separate commits merged from tha

[2019-05-27 17:56] e0i commented on #2015
@mjenove

We are closing this issue as there hasn't been a response from your side regarding clarification on document updates.

Thank you for providing feedback.

[2019-05-27 17:56] e0i commented on #2015
@officedocsbot close

[2019-05-27 17:56] #2015 closed

[2019-05-27 18:08] e0i commented on #2464
@scwxtsr

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-27 18:21] e0i commented on #1907
@cathyethoca

We are closing the issue as it already seems to be resolved. Thanks.

[2019-05-27 18:21] e0i commented on #1907
@officedocsbot close

[2019-05-27 18:21] #1907 closed

[2019-05-27 18:34] e0i commented on #2297
@officedocsbot unassign @mypil
@officedocsbot assign @e0i

[2019-05-27 18:40] e0i commented on #2322
@Tdiwestyguy

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-27 18:42] e0i commented on #3420
@NagaCSC A PR is being worked out for this issue.

[2019-05-27 18:50] e0i commented on #3519
Please ignore the accidental reference above.

[2019-05-27 18:51] e0i commented on #3538
@SquirrelAssassin A PR will be delivered to address this issue within a few days. Thanks.

[2019-05-27 19:04] e0i commented on #2981
@lXbalanque A PR is under delivery for this issue. Thank you.

[2019-05-27 19:05] illfated commented on #2981
@e0i : Could you link the PR you refer to, so we may link the PR back here too?

[2019-05-27 19:07] e0i commented on #2489
@Leon99

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-27 19:09] e0i commented on #2548
@Field5555 Under investigation.

[2019-05-27 19:11] e0i commented on #3508
@blouwagie The issue is under investigation. Thanks.

[2019-05-27 19:23] e0i commented on #2896
@npherson The issue is under investigation.

[2019-05-27 19:33] e0i commented on #3799
Hello, @jmrita  thank you for providing feedback.

The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your question so that it gets answered quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-27 19:35] Air-Git commented on #3504
Sorry, I missed the previous response.
No, the link does not answer the questions.  I raise the questions, not to ask how BitLocker works, but because the documentation is not clear on these point.
To restate:
1) "Device Encryption" is a term that refers to something distinct from "BitLocker Encryption". What is the distinction? I think I know, but I don't see any documentation for it.
2) Transpar

[2019-05-27 19:41] illfated commented on #3504
@lindspea - could we have a comment from you on this response from the issue author?

[2019-05-27 20:05] illfated commented on #3204
Just to make it slightly easier to look up the images in question:
- https://www.bing.com/images/search?q=Four+Seasons+Hotels+logo&qpvt=Four+Seasons+Hotels+logo&FORM=IGRE
- https://docs.microsoft.com/en-us/windows/whats-new/images/singleapp_contosohotel_inframe%402x.png
- https://docs.microsoft.com/en-us/windows/whats-new/images/multi-app_kiosk_inframe.png

[2019-05-27 20:49] e0i commented on #3608
@adrianimajion Thank you for providing feedback. The issue is under investigation.

[2019-05-27 20:51] ThiagoSalatiel opened #3825 "Edições suportadas"
Galera, existe um erro de tradução grave no texto. Aonde é mencionado as versões suportadas, no texto está escrito "Não há suporte para estas edições:". Favor corrigir, pois pode causar uma bela confusão em pessoas leigas no produto.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: bc999894-2a0a-bc87-7fd7-9

[2019-05-27 20:59] illfated commented on #3825
Na sua opinião, seria melhor usar "versões"?

[2019-05-27 21:02] e0i commented on #3805
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-27 21:05] ThiagoSalatiel commented on #3825
Hello Trond, how are you?

                In my opinion, is better that u use “Versões suportadas”. Who translate that to Portuguese – Brazil, wrote wrong. They wrote like “Don’t has support to these versions”. So, the correct in pt-BR should be: “Há suporte para estas versões” that’s the same of “Has support to these versions”.

Reggard,

De: Trond B. Krokli <notifications@github.com>
Enviada em

[2019-05-27 21:05] e0i commented on #3803
@NagaCSC

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-27 21:07] e0i commented on #3804
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-27 21:07] e0i commented on #3804
See: #3487

[2019-05-27 21:08] e0i commented on #3801
@RNCRyan

The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your question so that it gets answered quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-27 21:09] e0i commented on #3800
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-27 21:09] e0i commented on #3800
See: #3435

[2019-05-27 21:13] e0i commented on #3792
@SquirrelAssassin

The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your question so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-27 21:13] e0i commented on #3790
Hello, @phgray

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback.

[2019-05-27 21:14] e0i commented on #3788
@fijojosep

The issues section of this repository is intended for documentation and content related issues.

Please open a support ticket via the link below so that that your question gets answered quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-27 21:15] MamaDoc commented on #3792
Thank you

On Mon, May 27, 2019 at 4:13 PM Onur <notifications@github.com> wrote:

[2019-05-27 21:16] e0i commented on #3786
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-27 21:17] illfated commented on #3825
Hello, Thiago, I am fine, thank you. I hope you are well too. 😃

Because this is a Localisation issue, we ordinary users do not have access to offer Pull Requests to correct or improve the translations, because those pages are not (yet) available here on Github (although it is under consideration, if I understood it correctly, in one of the Japanese issue pages). I do not know who among the Micros

[2019-05-27 21:17] e0i commented on #3786
See: #3435

[2019-05-27 21:19] e0i commented on #3784
Hello, @Niglb thank you for providing feedback.

The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-27 21:20] MamaDoc commented on #3435
Changing now.  Thanks

[2019-05-27 21:24] e0i commented on #3513
@alexverboon The issue is under investigation. Thank you for providing this valuable feedback.

[2019-05-27 21:26] e0i commented on #3796
@Scriptimus

This is a known issue under investigation.

Related: #3513

We'll follow-up with updates during the resolution of the issue.

Thank you for providing feedback.

[2019-05-27 21:36] e0i commented on #3557
@Justinha Would you be able to follow-up with clarification regarding MBAM Support as the time permits? Thank you.

[2019-05-27 21:36] illfated commented on #3513
Like I mentioned in my PR #3816 , there is a possibility that the missing content could be found on this page:
https://www.linkedin.com/learning/search?keywords=Deep+Dive+into+Windows+Defender+Credential+Guard

[2019-05-27 21:36] e0i commented on #2321
@officedocsbot assign @e0i

[2019-05-27 21:37] e0i commented on #2321
@thommck

The issues section of this repository is intended for documentation and content related issues.

Please open a support ticket via the link below so that that your question gets answered quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-27 21:37] illfated commented on #3818
Related to #3513 ([**Deep dive references point to Microsoft Virtual Academy**](https://github.com/MicrosoftDocs/windows-itpro-docs/issues/3513))

[2019-05-27 21:38] e0i commented on #2295
@officedocsbot assign @e0i

[2019-05-27 21:38] e0i commented on #2295
@egallagh Would you be able to clarify regarding this topic if the time permits? Thank you.

[2019-05-27 21:39] e0i commented on #2170
@officedocsbot assign @e0i

[2019-05-27 21:39] e0i commented on #2170
@rstenborg

The issues section of this repository is intended for documentation and content related issues.

Please open a support ticket via the link below so that that your question gets answered quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-27 21:40] e0i commented on #2165
@officedocsbot assign @e0i

[2019-05-27 21:40] e0i commented on #2165
@BigIve

The issues section of this repository is intended for documentation and content related issues.

Please open a support ticket via the link below so that that your question gets answered quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-27 21:42] illfated commented on #3796
Related to #3818 ([**All links broken on this page**](https://www.linkedin.com/learning/search?keywords=Deep+Dive+into+Windows+Defender+Credential+Guard)) and #3513 ([**Deep dive references point to Microsoft Virtual Academy**](https://github.com/MicrosoftDocs/windows-itpro-docs/issues/3513))

[2019-05-27 22:01] e0i commented on #3673
Hello, @amirsc3

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-05-28 01:25] natodogg commented on #3637
Can you please advise how I would join the Private Preview as it would be very useful for my organisation to be able to manage Defender FW rules via this Device Config profile.  I'm looking at having to use PowerShell in the interim to add rules.

[2019-05-28 04:12] SusanBradley opened #3828 "Note on the console"
When you have a Lenovo laptop that recommends a 200% scaling, the settings icon is off the view and cannot be accessed.  Is there any way to make the console react to different monitor settings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81afe8a2-3504-d628-4228-28118c2416d4
* Version Independent ID: 8d0bedb0-3142-9

[2019-05-28 05:44] hemetz opened #3829 "Wrong value for registering devices in Intune"
Its current 500 devices

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4775bcf-978a-f992-31e6-9c15333541e1
* Version Independent ID: 662e95c4-8252-9341-e5be-3111cd3a2299
* Content: [Administering Autopilot](https://docs.microsoft.com/en-us/windows/deployment/windows-autopilot/administer#feedback)
* Content Source: [wi

[2019-05-28 08:15] illfated commented on #3557
Search result information from Microsoft support and help pages:
- https://support.microsoft.com/en-us/lifecycle/search?alpha=BitLocker%20Administration%20and%20Monitoring
- https://support.microsoft.com/en-us/help/17138/service-pack-lifecycle-policy
- https://support.microsoft.com/en-us/lifecycle/search/18037

| Products Released | Lifecycle Start Date | Mainstream Support End Date | Extended Sup

[2019-05-28 08:54] chiners68 commented on #3696
I will be on the customer site on Thursday/Friday so will check out these GPO settings myself to give you feedback.

Regards

Mark

From: D76C6399A0F334216B3A58BE07C3C3137D5E14542BC13CA38EB0800D9FFC1FE6 <notifications@github.com>
Sent: 19 May 2019 18:59
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: chiners68 <markchinery@hotmail.com>; Mention <mention@noreply.git

[2019-05-28 09:22] mypil commented on #2465
@cronq - Can you please respond to the query of Reeced40? Thank you.

[2019-05-28 09:43] MaratMussabekov commented on #1967
Dear @joegasper,
the article is dedicated to Windows Defender Antivirus product, which is part of the Microsoft Defender Advanced Threat Protection, therefore, there is no need to change the "Applies to" section.
Please see the comments of mjcaparas in PR #3733
Thank you

[2019-05-28 10:13] mypil commented on #2589
@officedocsbot close

[2019-05-28 10:14] #2589 closed

[2019-05-28 10:14] mypil commented on #2473
@officedocsbot close

[2019-05-28 10:14] #2473 closed

[2019-05-28 10:16] mypil commented on #2564
@officedocsbot close

[2019-05-28 10:16] #2564 closed

[2019-05-28 10:16] mypil commented on #2344
@officedocsbot close

[2019-05-28 10:16] #2344 closed

[2019-05-28 10:16] mypil commented on #2346
@officedocsbot close

[2019-05-28 10:16] #2346 closed

[2019-05-28 10:17] mypil commented on #2347
@officedocsbot close

[2019-05-28 10:17] #2347 closed

[2019-05-28 11:37] MaratMussabekov commented on #2355
Dear @TheRobinCM ,
As it states in the article, for windows 10 1507 and 1511 "The procedure is the same as it was for Windows 8.1", that's why there is a link to the related article for Windows 8.1

 **Clicking the link takes me to a page with a banner across the top implying that the information is old (and thus may be out of date)** - it is a standard banner which presents in all articles for th

[2019-05-28 11:52] lindspea commented on #3504
@Air-Git thank you for clarifying.  I'm investigating with the team and will revert soonest.

[2019-05-28 12:24] e0i commented on #3504
@officedocsbot reopen

[2019-05-28 12:37] MaratMussabekov commented on #2358
Dear @RAJU2529 ,
unfortunately this command is not correct, you cannot use both "/Validate" and "/Convert" operators in the single command, you need to choose one.
Also, /Logs:D:\mbrconvert.log is incorrect, as it is path to file, not to folder. Operator "/Logs" should be used to specify folder path, so I would recommend to use something like "/Logs:D:\MBRConvertLogs"

If you need to convert, plea

[2019-05-28 12:39] MaratMussabekov commented on #2358
Also, I forgot to mention, that when you specify path for the logs folder, make sure that the path is already exists, it states in the article: "If specified, the directory must already exist, it will not be automatically created or overwritten"

Thank you

[2019-05-28 13:14] mypil commented on #1490
@ojrb - As discussed, please work on this issue. Thank you.

[2019-05-28 13:18] mypil commented on #1967
@joegasper - From our understanding, the issue you raised has been answered by MaratMussabekov. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-28 13:22] mypil commented on #1087
@Peter-TG - From our understanding, the issue you raised has been answered by MaratMussabekov. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-28 13:24] mypil commented on #1151
@jordanmills - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-05-28 13:25] mypil commented on #1151
@officedocsbot close

[2019-05-28 13:25] #1151 closed

[2019-05-28 13:28] mypil commented on #3167
@jcs23576 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-05-28 13:28] mypil commented on #3167
@officedocsbot close

[2019-05-28 13:28] #3167 closed

[2019-05-28 13:30] mypil commented on #3347
@jaimeo @zdvorak - We would like to follow up. Do you have any updates on this?

Thanks.

[2019-05-28 13:33] cronq commented on #2465
No. See this page on [Audit Credential Validation](https://docs.microsoft.com/en-us/windows/security/threat-protection/auditing/audit-credential-validation) as a good example of the content that's missing for Audit Token Right Adjusted. One of the questions I have that would be answered by such a page is if event 4703 is the only event associated with enabling Audit Token Right Adjusted. Thus, you

[2019-05-28 13:44] e0i commented on #3819
@officedocsbot assign @e0i

[2019-05-28 13:44] e0i commented on #3820
@officedocsbot assign @e0i

[2019-05-28 14:16] mypil commented on #1805
@officedocsbot assign @mypil

[2019-05-28 14:17] mypil commented on #1805
@ojrb - As discussed, please work on this issue. Thanks.

[2019-05-28 14:27] mypil commented on #3388
@jaimeo - Any updates from the SME?

[2019-05-28 14:30] mypil commented on #3398
@robmazz @CoveMiner - We would like to follow up. Do you have any updates?  Thanks.

[2019-05-28 14:32] mypil commented on #1923
@jaimeo @zdvorak - We would like to follow up. Do you have any updates?

[2019-05-28 14:37] mypil commented on #1448
@officedocsbot close

[2019-05-28 14:37] #1448 closed

[2019-05-28 14:50] e0i commented on #2441
@pebbledavec

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-05-28 15:07] nenonix commented on #1282
@mypil This issue can be closed https://github.com/MicrosoftDocs/windows-itpro-docs/commit/e72fc555d62ed74f72dc5fbf5a3effce5a41ea06#diff-f69222beb14c8028db01965f5d33a800

[2019-05-28 16:46] jaimeo commented on #1805
@cinglis-msft can you advise here?

[2019-05-28 16:46] ojrb commented on #1805
Sure @mypil working on it !

[2019-05-28 18:35] martyav commented on #3829
Just hopped in to doublecheck, and 500 does appear to be the correct value

[2019-05-28 19:02] Typhoon87 commented on #3398
Hell @illfated so I just tested this and the dock installer does not have any custom tips it just shows the generic MSIExec command list. This implies it supports every single switch under the sun which we know for most installers is not true or at least they are not all officially tested.

[2019-05-28 21:19] #3809 closed

[2019-05-28 21:56] e0i commented on #3631
@AdamGrossTX A PR is under delivery for this issue. Thanks.

[2019-05-28 22:52] #1323 closed

[2019-05-29 00:09] ojrb commented on #1805
Hi @mypil  the PR #3839 solved this issue ! Please review and Merge !

[2019-05-29 01:10] illfated commented on #3631
Sounds good. Could we have the PR linked back here or link the PR page from here?

[2019-05-29 01:24] illfated commented on #3398
Fair enough, thanks for the reply & feedback with your results.

[2019-05-29 03:51] illfated commented on #3817
Unless you refer to the content of the links in **[Related topics](https://docs.microsoft.com/en-us/windows/security/identity-protection/credential-guard/credential-guard#related-topics)**, I am fairly certain that this is covered by https://github.com/MicrosoftDocs/windows-itpro-docs/issues/3796 as well as the content in my PR https://github.com/MicrosoftDocs/windows-itpro-docs/pull/3816 and my s

[2019-05-29 03:58] CoveMiner commented on #3398
Thanks everyone for the feedback. We'll be discussing this in weekly triage Wednesday morning to identify next steps for the documentation.

[2019-05-29 04:06] illfated commented on #3819
I wonder if the code content has been created in some form of HTML editor, converting any special characters like ` < `, ` " ` and ` > ` to shorthand names for those codes.
Would it be reasonable to presume that the content should look like this, with the modified characters reverted back like this:
[code]
Note: the page seems to list the code block content as **"ps**" -- which could refer to eith

[2019-05-29 04:11] illfated commented on #3750
I wonder if the code content has been created in some form of HTML editor, converting any special characters like ` < `, ` " ` and ` > ` to shorthand names for those codes.
Would it be reasonable to presume that the content should look like the code block below, with any modified characters reverted to the intended ones?
[code]
Note: the page seems to list the code block content as **"ps**" -- whi

[2019-05-29 04:37] illfated commented on #3648
Copied some of the text in here, in case anyone wants to search for the relevant text on the page (no direct link to the paragraph).
***
**ReviewthreatdetectionhistoryintheWindowsDefenderSecurityCenterapp**1。
OpentheWindowsDefenderSecurityCenterappbyclickingtheshieldiconinthetaskbarorsearchingthestartmenufor**Defender**します。

1. クリックVirus&threatprotectiontile(ortheshieldiconontheleftmenubar) します。

[2019-05-29 04:55] zdvorak commented on #1923
@mypil , apologies but I'm not exactly sure how to fulfil this ask.  Device enrollment for Windows Analytics involves installing a few Windows updates, setting a few policies/regkeys, and then running a PowerShell script _on the client machines themselves._  Since all of these things can be done in many different ways and the exact steps will vary by customer, we don't really have a way to provide

[2019-05-29 05:09] schenardie commented on #2613
Needs Windows 1809 at least
Device need to be imported to AutoPilot, have a profile assigned and if that profile is deployed using User Driven mode it needs to have a user assigned to it.

[2019-05-29 05:50] schenardie opened #3840 "SignInLastInteractiveUserAutomaticallyAfterASystemInitiatedRestart"
Can you guys please not removed old features or replace them without proper documentation??

There was a CSP similar to AllowAutomaticRestartSignOn named SignInLastInteractiveUserAutomaticallyAfterASystemInitiatedRestart which is not showing at this page anymore. And all the current ones are marked as 1903 compatible only. Funny enough SignInLastInteractiveUserAutomaticallyAfterASystemInitiatedRes

[2019-05-29 07:00] RAJU2529 commented on #3815
Please give me two days to time to reach my home

[2019-05-29 07:07] schenardie commented on #3041
@officedocsbot reopen

[2019-05-29 07:25] j0rt3g4 commented on #3421
@e0i  can you follow up this one?

[2019-05-29 07:25] j0rt3g4 commented on #3493
@e0i Can you follow up this one?

[2019-05-29 07:38] j0rt3g4 commented on #2297
@e0i  can you follow up on this one?

[2019-05-29 08:58] lightupdifire opened #3843 "Testing steps"
Hello,

Based on how to setup WIP policy procedure we have added "All Recommended apps" to the Protected Apps that include:
1. Recommended-Denied-Office-365-ProPlus-1810.xml
2. Office-365-ProPlus-1810-Allowed.xml

Should we remove them and add below from ZIP (You must use the O365 ProPlus - Allow and Exempt AppLocker policy files (.zip files) to turn the suite on for WIP.)?

Then we add To Protect

[2019-05-29 09:13] nenonix commented on #3631
@illfated I am working on it, will link PR when done 😄

[2019-05-29 10:24] Reeced40 commented on #2465
@cronq Thanks, I'll add it to the article soonest.

[2019-05-29 10:27] juanand opened #3844 "Third-party AV"
If device is using third-party AV, does this blade consider up-to-date WDAV signatures (for takover purposes in case of third-party AV problems), or simply shows everything as 0?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32665050-e816-b1a9-225f-0fea575e3e1f
* Version Independent ID: a975c054-a956-99a4-679c-7ffccd2

[2019-05-29 11:55] SquirrelAssassin commented on #3792
Let me rephrase my comment there is no such thing as a exchange enrollment agent it is exchange update enrollment (offline request). I was just trying to be nice. you need to update your documentation.

[2019-05-29 12:01] SquirrelAssassin commented on #3792
Here is a screenshot http://playinterchange.com/wp-content/uploads/2018/07/exchange-server-certificate-template-create-a-certificate-template-from-a-server-2012-r2-ca-mrchiyo-template.png

[2019-05-29 13:03] Typhoon87 commented on #3398
Hello again @illfated No problem testing it. The other issues that brings up is the switches might allow you to install the firmware utility but how does it handle actually updating the firmware. The hard part about testing this with no documentation is you get one shot. You can take a dock that is behind in its FW deploy the updater then if it works that dock is updated (good) but you cant try to

[2019-05-29 13:36] MaasvandeHaar opened #3846 "Missing closing tag"
For Windows 10.0.17763 it seems an extra line should be added with the closing tag:

&lt;/appv:AppConnectionGroup&gt;

Also all text of &lt;appv:AppConnectionGroup bla bla &gt; should be on one line.
I'm running in errors: is it possible to use Application Connection Groups with Window10 at all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-05-29 13:45] mypil commented on #3367
@MaratMussabekov - As discussed, kindly assist to work on this issue. Thank you.

[2019-05-29 13:52] mypil commented on #1518
@csando @archmiguel - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-05-29 14:00] mypil commented on #1923
@amrik2309 - From our understanding, the issue you raised has been answered by zdvorak. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-29 14:01] mypil commented on #1518
@officedocsbot close

[2019-05-29 14:01] #1518 closed

[2019-05-29 14:38] mypil commented on #3041
@officedocsbot reopen

[2019-05-29 14:39] mypil commented on #3041
@joinimran - please assist with this. Thanks.

[2019-05-29 14:39] RAJU2529 commented on #3815
Today 29-05-2019  @8.05PM >For testing purposes
i created application policy rule  to deny access of microsoft store app , i added administartor local account  for deny access.

Thanks for the information ,  Please add the video lecturers keeping in  mind with different rules with categories . I am looking a video lecturers  for future the  interactive  voices.

[2019-05-29 14:57] mypil commented on #2358
@RAJU2529 - From our understanding, the issue you raised has been answered by MaratMussabekov. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-29 14:59] mypil commented on #2355
@TheRobinCM - From our understanding, the issue you raised has been answered by MaratMussabekov. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-29 15:02] mypil commented on #3248
@sebhe - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!
-------------------------------------

[2019-05-29 15:04] e0i commented on #2232
@juanand

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-29 15:04] e0i commented on #2232
@officedocsbot close

[2019-05-29 15:04] #2232 closed

[2019-05-29 15:19] j0rt3g4 commented on #3420
Solving issue with a note on #3841

[2019-05-29 15:31] RAJU2529 commented on #2358
issues has solved. moreover I don't have project conformed to check reality. At this time my suggestion is that Mr MaratMussabekov was given more commands and clear explanations, so I would request the authors to add his explanations in this article and allow him as a one of the contributor

[2019-05-29 15:34] RAJU2529 commented on #2358
Now you can cLose this issue . I feel very happy to discuss those techNical article writers with different knowledge.  Here is the stage to express their kNowledge to  all over the world article writers and learning new things from them

[2019-05-29 15:53] martyav commented on #3846
While the file should include the closing tag, I think having the attributes broken up by newlines is fine, as the parser will normalize them into standard spaces.

[2019-05-29 16:13] e0i commented on #3763
Closing the issue as it seems to be already resolved.

@StanislavMarimorich

Thank you for providing feedback.

[2019-05-29 16:13] e0i commented on #3763
@officedocsbot close

[2019-05-29 16:13] #3763 closed

[2019-05-29 16:15] jaimeo commented on #3844
@cinglis-msft can you advise?

[2019-05-29 17:06] j0rt3g4 commented on #3416
PR #3842  The article has already the corrections for this issue.

[2019-05-29 17:19] Martony78 commented on #2156
It has not been answered,
I know perfectly how to configure Windows Hello for Business using Intune or GPO but I have never heard about "UseRemotePassport" and the link provided by @illfated does not help at all since it does not mention the "UseRemotePassport". I am really scared to notice no one at Microsoft knows how to configure this setting and what it does... If it is deprecated, just mentio

[2019-05-29 17:37] mypil commented on #3353
@RAJU2529 - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-29 18:02] RAJU2529 commented on #3353
ok madam. you can cLose now. I keep waiting for merged content. thanks a lot

[2019-05-29 18:25] mypil commented on #3353
@officedocsbot close

[2019-05-29 18:25] #3353 closed

[2019-05-29 18:31] mypil commented on #874
@officedocsbot close

[2019-05-29 18:31] #874 closed

[2019-05-29 18:32] mypil commented on #2568
@officedocsbot close

[2019-05-29 18:32] #2568 closed

[2019-05-29 18:32] mypil commented on #2488
@officedocsbot close

[2019-05-29 18:32] #2488 closed

[2019-05-29 18:33] mypil commented on #2411
@officedocsbot close

[2019-05-29 18:33] #2411 closed

[2019-05-29 18:37] mypil commented on #2358
@officedocsbot close

[2019-05-29 18:37] #2358 closed

[2019-05-29 18:50] mypil commented on #2376
@Martony78 @lightupdifire - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-29 18:51] joinimran commented on #2340
@working4free  Thank you for your feedback on this document. I would suggest you to please pass your feedback using our feedback channels so that it can be routed to the right team. If you think there is any modification required in this document, please feel free to let us know.

@mypil can help you with how you can share your feedback using our feedback channels.

Thanks.

[2019-05-29 18:56] mypil commented on #2340
@working4free - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in
User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**

You might f

[2019-05-29 19:08] joinimran commented on #2335
Hello @lexios , Thank you for sharing feedback on the document. For settings to show as ON depends on the device drivers as well as it is not universally supported by all Devices. Please see https://docs.microsoft.com/en-us/windows/security/information-protection/kernel-dma-protection-for-thunderbolt#how-can-i-check-if-a-certain-driver-supports-dma-remapping for details.

For your second query, it

[2019-05-29 19:35] joinimran commented on #2306
@schenardie Thank you for sharing your feedback. Please note that ControlEventLogBehavior can only manage application logs and you can not configure this for security and system logs.

Thanks.

[2019-05-29 19:41] joinimran commented on #2301
@td47 Thank you for sharing your query. Can you please share more details and information that is missing and required to be added in the doc. It would be great if you can share any of the above mention error codes screenshot (if you have) so that we can further look into this.

Thanks.

[2019-05-29 20:06] joinimran commented on #2276
Hello, @NJArcher Thank you for your feedback here. Please note that HKLM settings are applied on machine independent of user profiles. Whereas HKCU is applied for the current users. So to ensure that policy is applied for all users Microsoft has mentioned HKLM subsetting.

Thanks.

[2019-05-29 20:12] mypil commented on #1282
@dkbriley - Thank you for submitting this feedback.

From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-29 20:12] mypil commented on #1283
@dkbriley - Thank you for submitting this feedback.

From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-29 20:16] joinimran commented on #2353
@am11 What I understand from your question is that you want to pull the release information from the mentioned sources using JSON query so that it can be used for any other purposes. This entirely looks like a feature request and I would suggest you open a new feature request so that it can be routed to the correct team.
If there is any modification required in the support doc, please feel free to

[2019-05-29 20:17] mypil commented on #2465
@cronq - The content has been updated to add the changes that you requested for. However, it may take a few days for the merged content to reflect in the document. For your reference, please check on [PR 3845](https://github.com/MicrosoftDocs/windows-itpro-docs/pull/3845/files) which contains the revision. Thank you.

[2019-05-29 20:20] mypil commented on #2353
@am11 - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in
User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**

You might find othe

[2019-05-29 20:28] joinimran commented on #2431
Hello @Niglb Thank you for raising your query. Can you please share the details of the issue you are facing so that we can better help you.

Thanks.

[2019-05-29 20:42] joinimran commented on #1803
Hello @BigIve Can you please share the current XML data for formatting you already have so that I can help you accordingly.

Thanks.

[2019-05-29 20:56] joinimran commented on #3041
@schenardie Can you please confirm that you are not using the VL key for upgradation?

[2019-05-29 22:28] Martony78 commented on #2156
Seems like the answer I am looking is here:
https://docs.microsoft.com/en-us/windows/uwp/security/companion-device-unlock

And as I presumed it is (or will soon be) obsolete...

[2019-05-29 23:53] schenardie commented on #3041
Hi joinimran
Im not sure which kind of key is that.  Im testing with the key provided on our Microsoft Action Pack.

If i use the same key deploying with the Edition upgrade and mode switch Profile it works so im not sure is a key problem.

I think is more about getting the Custom CSP Right.

[2019-05-30 00:56] ojrb commented on #2660
@mypil The PR #3852 solved this Issue

[2019-05-30 02:51] greg-lindsay commented on #3799
Insert a USB key, click the “View diagnostics” button, and specify the USB as the location – the files will be generated in the background on that location, so don’t remove the USB key too quickly.  Then view the files on the USB to troubleshoot.

[2019-05-30 03:52] td47 commented on #2301
Hello, thanks for your response. I did save some error information from an earlier run of the Microsoft setupdiag utility, that decoded the information below, from an 1809 Feature Upgrade installation attempt. As I found (after much research), that the root cause was an "invalid file handle" returned during a BCD export attempt by an install script, I needed to use a third-party utility (EasyRE fr

[2019-05-30 04:53] Dergib commented on #3252
Has there been a follow up to level 1 and level 2 (SECCON frameworks) - Level 2 and Level 1 guidance is coming soon apparently but this article appears to be over a year old?

[2019-05-30 08:40] illfated commented on #2156
Thank you for posting again, as well for the update regarding the solution.
I was just about to go searching for a page suggesting the solution.
Also for the bit about the solution might becoming obsolete.

[2019-05-30 09:33] illfated commented on #3398
Fair and good point. Thank you for the extra insight. Judging by the feedback here, the firmware update software seems to be at a stage where it is not yet developed enough to be used in a corporate environment with more than a dozen users, where all docking stations need to be tested for upgradability or even all of them need to be upgraded for stability or functionality to work as intended and e

[2019-05-30 09:50] VLG17 commented on #1504
@domyorker could you please provide more information about the way you do the backup, especially if you're using Windows Backup or something else.

You can restore a non-encrypted backup to an encrypted drive - what will happen is that you will need to re-encrypt the drive after restore.

[2019-05-30 10:05] VLG17 commented on #1052
@flobiata @arsalangithubs After you have signed up for Microsoft store for Business, you can revoke this consent by reaching out to support - https://businessstore.microsoft.com/support)

There is no cost associated with signing up for Microsoft Store for Business.

[2019-05-30 14:12] appcompatguy commented on #3252
The dates didn't get updated in the template we started with (will be fixed when the next update is published so they're accurate) - the article is only about a month old. We are working on it, but there are a number of initiatives to align to in order to drive the right outcome. We recently published this for Azure - https://docs.microsoft.com/en-us/azure/active-directory/devices/concept-azure-ma

[2019-05-30 14:14] e0i commented on #3846
@officedocsbot assign @e0i

[2019-05-30 14:14] e0i commented on #3844
@officedocsbot assign @e0i

[2019-05-30 14:14] e0i commented on #3843
@officedocsbot assign @e0i

[2019-05-30 14:14] e0i commented on #3840
@officedocsbot assign @e0i

[2019-05-30 14:15] e0i commented on #3828
@officedocsbot assign @e0i

[2019-05-30 14:38] e0i commented on #3819
Quotes and other special HTML keywords have been transformed as well. It looks like the HTML generator could not differentiate code blocks as exceptions where HTML transformations need not to happen.

cc @dongmicro

[2019-05-30 14:38] e0i commented on #3819
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-30 14:39] e0i commented on #3819
See: #3405

[2019-05-30 14:40] e0i commented on #3405
See variant: #3819

[2019-05-30 14:42] e0i commented on #3820
@troyphil

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-30 14:45] e0i commented on #3825
@dongmicro Please advise regarding this specific Portuguese translation issue. Thanks.

[2019-05-30 14:58] e0i commented on #3817
@Scriptimus

This is a known issue under investigation.

We'll follow-up with updates during the resolution of the issue.

Thank you for providing this valuable feedback.

[2019-05-30 14:59] e0i commented on #3818
@Scriptimus

This is a known issue under investigation.

We'll follow-up with updates during the resolution of the issue.

Thank you.

[2019-05-30 15:05] e0i commented on #3796
See: #3513

[2019-05-30 15:05] e0i commented on #3817
See: #3513

[2019-05-30 15:05] e0i commented on #3818
See: #3513

[2019-05-30 15:41] e0i commented on #3748
@Justinha Would you be able to provide directions in clarifying this questions if the time permits? Thank you.

[2019-05-30 15:48] mypil commented on #3375
@iadgovuser1 - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-30 15:53] e0i commented on #3771
Hello, @juanand

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-05-30 15:58] mypil commented on #1087
@officedocsbot close

[2019-05-30 15:58] #1087 closed

[2019-05-30 15:58] e0i commented on #3750
@illfated It seems like you have commented under the wrong issue.

[2019-05-30 15:58] e0i commented on #3750
Hello, @euphoric85

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-05-30 16:01] mypil commented on #1967
@officedocsbot close

[2019-05-30 16:01] #1967 closed

[2019-05-30 16:02] mypil commented on #3347
@jaimeo @zdvorak - Any updates on this?

[2019-05-30 16:15] Justinha commented on #3748
@SirJewDanielBerg Thanks for the feedback and sorry for delay. Yes, you are right. If you want to submit a pull request for this, we can review and merge. To my mind, the point you are raising is more relevant to a topic about how GP works rather than any specific Security Option policy. Maybe add a link to https://blogs.technet.microsoft.com/musings_of_a_technical_tam/2012/02/15/group-policy-basi

[2019-05-30 17:10] CharlesMcquade commented on #3844
Devices not using WDAV are not evaluated or considered in the WDAV section. For example, if you have 10 devices, 1 of which uses WDAV and has an up to date signature, 100% of your devices within the WDAV section should show has having an up to date signature.

[2019-05-30 17:10] e0i commented on #3815
@RAJU2529 You feedback regarding addition of video lectures has been noted. Thank you for providing feedback.

[2019-05-30 17:10] e0i commented on #3815
@officedocsbot close

[2019-05-30 17:10] #3815 closed

[2019-05-30 17:11] e0i commented on #3814
@RAJU2529

The issues section of this repository is intended for documentation and content related issues.

Please open a support ticket via the link below so that that your question gets answered quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-30 17:11] e0i commented on #3814
@officedocsbot close

[2019-05-30 17:11] #3814 closed

[2019-05-30 17:17] e0i commented on #3747
Hello, @lightupdifire

Would you be able to clarify what needs to be updated in the documentation? Is the document misleading?

We would like to follow-up with content updates accordingly.

Thank you for providing feedback.

[2019-05-30 17:59] mypil commented on #3204
@totesfawkward - Thank you for pointing this out.

I have coordinated with the doc owner and the Four Seasons Logo has been removed from the screenshots. From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-30 18:14] nickesping opened #3858 "1903 fails to provision with set up schools pcs app"
With 1903 running in S mode provisioning with the set up school pcs stick fails. I get error code 0x80070005. I have tried several different combinations of settings on the app but it has failed everytime.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2ca5807-f011-cdd1-eb80-c74655aa4738
* Version Independent ID: fe01

[2019-05-30 18:32] illfated commented on #3814
@RAJU2529 : Your question is too general to be answered, even by support persons. The only way to find out what the effect is of updating Windows 10 to Version 1903 from earlier versions is to test it yourself on one or a couple of computers with no importance to production value (that is, test computers with no important data or production applications). Furthermore, your question is something ev

[2019-05-30 19:43] illfated commented on #3750
@euphoric85 : Could you test if my corrected XML above works any better than the one currently on the Docs page? Or did you manage to sort that out yourself, making it look like my posted suggestion, before testing the XML in your environment?

[2019-05-30 20:12] joinimran commented on #3041
@schenardie Thank you for sharing this info. It looks like you need to open a support case with Microsoft technical support team as Microsoft Action Packs keys are a volume license keys as you can use those keys with multiple machines. As of now, CSP doesn't support volume license keys.

Please see other methods for upgradation if required at https://docs.microsoft.com/en-us/windows/deployment/upg

[2019-05-30 20:58] Scriptimus opened #3860 "Microsoft Virtual Academy video links"
There are 2 dead MVA links above. "You've reached a retired course". The ones at the very top and bottom.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b1f3ae7-79ed-fc75-4f36-ad5537d5f928
* Version Independent ID: bdd1e434-0825-7220-9e97-ee4cdd10b897
* Content: [Considerations when using Windows Defender Credential G

[2019-05-30 21:12] ojrb commented on #1490
Working on it @mypil

[2019-05-30 21:55] schenardie commented on #3041
Hi  Joininram,

Can you explain to me how does the same key work if i use it in the Edition Upgrade profile instead of the Custom one??  Thanks

[2019-05-30 22:03] illfated commented on #3860
Related to #3513, #3796, #3817 and #3818 .

[2019-05-30 22:04] Dergib commented on #3252
Ah ok, that makes more sense. Thanks for the reply

[2019-05-30 22:05] martyav commented on #3860
Perhaps all the broken link issues should be given their own Github label.

[2019-05-30 22:13] illfated commented on #3858
Have you tried searching the web for pages describing how to deal with error code 0x80070005?
- https://answers.microsoft.com/en-us/windows/forum/all/error-code-0x80070005/08a90197-f23b-4d70-95d9-d47ddedcb54f
- https://www.thewindowsclub.com/windows-update-install-error-0x80070005
- https://windowsreport.com/error-0x80070005-pc/
- https://www.diskgenius.com/how-to/fix-error-code-0x80070005.php#Win

[2019-05-30 22:18] illfated commented on #3860
Good idea, I agree. I would have started working on PRs for the reported pages containing the links to those retired courses, but I find it a bit challenging to be certain of which LinkedIn video matches the individual pages.

[2019-05-30 22:24] nickesping commented on #3858
All of those pages are related to windows updates. I am trying to run the set up school pcs app provisioning package on a new 1903 image running S mode. I get this error during OOBE.
![IMG_0549](https://user-images.githubusercontent.com/51210259/58668799-b2d3b100-82ff-11e9-9197-032fc13464f4.jpg)

[2019-05-30 22:30] tigeraaditya opened #3861 "GPO enrollment with MFA"
[Enter feedback here]

GPO enrollment with MFA fails with Error code 0x8018002b. Does GPO enrollment support Multi-factor authentication or not?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad012591-5c74-f1cd-d3a2-443768e8ceee
* Version Independent ID: 918ea4bc-0849-3745-5d9d-a21a973bcd3b
* Content: [Enroll a Windows

[2019-05-30 22:37] illfated commented on #3858
Fair enough, maybe there is something new happening within 1903 which did not happen on earlier versions (or there could be something else entirely).

We need to wait for follow-up from one of the team members handling the issues.
I also presume you will need to contact Microsoft Support in your region to get your problem solved in a timely manner.
Please note that these pages are intended for imp

[2019-05-30 23:02] stinkydiver commented on #1630
Has anyone managed to get the powershell script to work? I have tried this on a Windows 10 1809, there is a local account called TestAccount but it doesn't work.

Running the script in powershell ISE as an admin gives me this output:

The property 'LaunchURI' cannot be found on this object. Verify that the property exists and can be set.
At line:2 char:1
+ $obj.LaunchURI='https://www.foo.com';
+ ~

[2019-05-30 23:42] illfated commented on #3846
This format seems to work well in Notepad++ when Language is set to XML:
[code]

[2019-05-31 00:15] repton-infinity opened #3863 "Failure code 0x1b is not correct; missing 0x1d"
This doc says 0x1b is KDC_ERR_SVC_UNAVAILABLE. Other information on the internet says that KDC_ERR_SVC_UNAVAILABLE is 0x1d, and that 0x1b is KDC_ERR_MUST_USE_USER2USER

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94cebf1d-b16d-4ddc-b532-be829b858938
* Version Independent ID: 3707f457-98d5-e5b3-c749-99afe0d6d495
* Con

[2019-05-31 01:20] martyav commented on #3860
I can take the ones related to security topics

[2019-05-31 02:35] BigIve commented on #1803
Hi Joinimran,
Since I first posted this question, I've started to use the Administrative Templates option for this item.  So far "touch wood" the Admin Templates are actually working for me.
Wish I could say the same for various other Custom Intune based policies though.  As the data formatting for restrcited groups and enterprisemodernappmanagement is a nightmare.

[2019-05-31 02:39] BigIve commented on #2165
@e0i,
This is a documentation question.  Or a lack thereof.  Because if the required documentation was in place I wouldn't need to be asking the question would I?  In general, the documentation for Intune based policies by Microsoft is horrendous, and I find it very annoying each time this is raised Microsoft does it's level best to avoid the questions.  The number of support tickets that are requ

[2019-05-31 05:18] illfated commented on #3860
Thank you. I'm glad to hear that.

[2019-05-31 06:06] wayyt opened #3865 "Why not create a script or GUI action in server management?"
Too many steps to config Windows Hello for business. Why not create a script or GUI action in server management?

[2019-05-31 06:22] lightupdifire commented on #3747
Hello @e0i,
Not sure if this will be for this article or maybe for:
https://docs.microsoft.com/en-us/windows/security/information-protection/windows-information-protection/using-owa-with-wip

But situation is:
1. If you deploy Exchange Conditional Access Policy, then when you try save file from Outlook Web Access from Compliant device, file will be saved from: "attachments.office.net"
2. If this D

[2019-05-31 06:25] lightupdifire commented on #3747
Hello @e0i,
Updated my comment, I see now added part regards SharePoint Online, so removed from comment ;)

[2019-05-31 06:49] RAJU2529 commented on #3814
@illfated  thanks for your detailed experience in your own environment.
I already upgraded to 1903 from 1809. I found some applications are not compatible.

[2019-05-31 07:40] chiners68 commented on #3696
I have found the offending policy.

So just a recap this MS Security baseline policy in MSFT Windows 10 RS4- Computer prevents the reset password on the lock screen for Azure SSPR from working.

Computer Configuration > Policies > Administrative Templates > Windows components > App Runtime >

·         Block Launching Windows Store apps with Windows Runtime API access from hosted content

Regards

[2019-05-31 07:42] chiners68 commented on #3696
I have set the following but it has not resolved the issue.

Control Panel > Personalization

  *   Prevent enabling lock screen camera – Not-Configured
  *   Prevent enabling lock screen slide show – Not-Configured

System > Logon >

  *   Turn on convenience PIN sign-in - Enabled

From: D76C6399A0F334216B3A58BE07C3C3137D5E14542BC13CA38EB0800D9FFC1FE6 <notifications@github.com>
Sent: 18 May 2019

[2019-05-31 07:46] chiners68 commented on #3696
Turning off enhanced anti spoofing did not resolve the issue, back to the drawing board.

From: D76C6399A0F334216B3A58BE07C3C3137D5E14542BC13CA38EB0800D9FFC1FE6 <notifications@github.com>
Sent: 19 May 2019 18:59
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: chiners68 <markchinery@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windo

[2019-05-31 08:08] chiners68 commented on #3696
Hi Aaron,
  The Following GPO Settings in the Baseline prevents the Reset Password from functioning

Computer Configuration > Policies > Administrative Templates > Windows components > App Runtime >

·         Block Launching Windows Store apps with Windows Runtime API access from hosted content

Regards

Mark Chinery

From: Mark Chinery
Sent: 17 May 2019 17:25
To: MicrosoftDocs/windows-itpro-docs

[2019-05-31 08:25] mypil commented on #2481
@officedocsbot close

[2019-05-31 08:25] #2481 closed

[2019-05-31 08:54] mypil commented on #1923
@officedocsbot close

[2019-05-31 08:54] #1923 closed

[2019-05-31 08:57] mypil commented on #2355
@officedocsbot close

[2019-05-31 08:57] #2355 closed

[2019-05-31 10:07] Martony78 commented on #2376
It is ok you can close this issue. Thank you

[2019-05-31 12:16] JeremyTBradshaw opened #3866 "RDP to AAD-joined PC from workgroup PC"
Hello, just wondering if it is on the radar to add this capability?  The restrictions of the source, or connecting, PC are more restrictive than ever before based on having to be joined to AAD or just AD if integrated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72e1cc18-3fc2-d7fa-7ff3-20fc9a3596d4
* Version Indepen

[2019-05-31 12:47] cronq commented on #2465
I'll try and be more clear this time because PR 3845 doesn't hit the mark either. Line 65 of the PR should be this: [Audit Token Right Adjusted](https://docs.microsoft.com/windows/security/threat-protection/auditing/audit-token-right-adjusted)

The problem is the page it should link to (https://docs.microsoft.com/windows/security/threat-protection/auditing/audit-token-right-adjusted) does not exis

[2019-05-31 13:20] e0i commented on #3860
@officedocsbot assign @e0i

[2019-05-31 13:21] e0i commented on #3860
@officedocsbot add label mva-links

[2019-05-31 13:21] e0i commented on #3513
@officedocsbot add label mva-links

[2019-05-31 13:22] e0i commented on #3796
@officedocsbot add label mva-links

[2019-05-31 13:22] e0i commented on #3817
@officedocsbot add label mva-links

[2019-05-31 13:22] e0i commented on #3818
@officedocsbot add label mva-links

[2019-05-31 13:23] e0i commented on #3796
@officedocsbot add label "broken link/type/formatting"

[2019-05-31 14:08] Scriptimus opened #3867 "Dead MVA video link above."
Clicking on the video link a the bottom gives,

"Sorry, you've reached a retired course.
Unfortunately, no replacement course is available."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea751cb8-7e95-88ef-5ffc-f51c62952ab9
* Version Independent ID: 4ea33fcf-0e07-1ffb-de58-aa1367ef91d0
* Content: [Additional mitigatio

[2019-05-31 15:06] Neckross opened #3868 "Virtual Machines NOT supported!"
really??? how do you expect us to test White Glove... using a "neanderthal" physical device?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca5b57d1-61b3-39d4-34ff-d6dcb858c250
* Version Independent ID: 42609104-815f-9e7a-39aa-38d92cc910c9
* Content: [Windows Autopilot for white glove deployment](https://docs.microsoft

[2019-05-31 15:40] euphoric85 commented on #3750
@illfated I get the same error

[2019-05-31 15:54] alexverboon opened #3869 "Unknown OS architecture when runnig on non-english OS"
Got the following error when running on non-English OS

Machine is not Device Guard / Credential Guard compatible because of the following:
Unknown OS, OS Architecture failure..

Reason: the script expects '64-bit' with a lower b, on a German client, the result is '64-Bit' with a capital B

**Solution**

Change the code in the CheckOSArchitecture function in the \DG_Readiness_Tool_v3.6.ps1 script

[2019-05-31 16:17] AaronMargosis commented on #3696
Well, that’s certainly surprising. Can you please provide a new link to the videos demonstrating the problem that I can share with colleagues?

Thanks.

– Aaron

From: chiners68 <notifications@github.com>
Sent: Friday, May 31, 2019 04:09
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Aaron Margosis <aaronmar@microsoft.com>; Mention <mention@noreply.github.com>
Sub

[2019-05-31 16:18] RUSDGUS commented on #1630
The only way I have gotten it to work is manually going to settings > accounts > access work or school > set up an account for taking tests > then setting the URL and test account manually. The PowerShell script that is given on the feature page does not work. Microsoft wrote the script before creating the Powershell objects that it calls or uses.

[2019-05-31 16:33] chiners68 commented on #3696
2 day read only access to original videos.
https://marath0nps-my.sharepoint.com/:f:/g/personal/mark_chinery_marathon-ps_com/EvFeN7-30kpJttsnhvuSl_gBzj_ZD56LPWuYcBLLLeF5UA?e=Wx22gs

If you want videos demonstrating the GPO setting on the same device I would need to do this Monday for you

Regards

Mark Chinery

Sent from my iPhone

On 31 May 2019, at 17:18, Aaron Margosis <notifications@github.com<

[2019-05-31 16:42] AaronMargosis commented on #3696
Can you make the access to the videos longer? It's already Friday afternoon here and I don't know how quickly anyone's going to have a chance to look at this.

[2019-05-31 16:46] chiners68 commented on #3696
Link valid till Friday 7th June

https://marath0nps-my.sharepoint.com/:f:/g/personal/mark_chinery_marathon-ps_com/EvFeN7-30kpJttsnhvuSl_gBzj_ZD56LPWuYcBLLLeF5UA?e=d5ICm1

You should be able to copy the files out if you want to keep them.

Sent from my iPhone

On 31 May 2019, at 17:42, Aaron Margosis <notifications@github.com<mailto:notifications@github.com>> wrote:

Can you make the access to the

[2019-05-31 18:07] joinimran commented on #3041
@schenardie Your query can better be answered by Microsoft technical support team. The tech support team can better route you to the concerned team at Microsoft and they will better help you creating custom CSP and will surely your all queries. If required, they will surely update the document or request the doc team (Me) to update the content of doc.

Thanks.

[2019-05-31 18:10] joinimran commented on #1803
Thank you for sharing more details on this. Please note that this is in the evolution phase and things can be complex. I would suggest you please share your feedback using the feedback channel so that it can be addressed in the future.

Thanks.

@mypil Please guide the user how the user can share feedback with Microsoft for the same.

[2019-05-31 18:30] mypil commented on #2376
@officedocsbot close

[2019-05-31 18:30] #2376 closed

[2019-05-31 18:46] mypil commented on #1504
@domyorker - We would like to follow up. Can you please respond to the query of VLG17? Thanks.

[2019-05-31 18:47] mypil commented on #1052
@flobiata @arsalangithubs - Thank you for submitting this feedback.

From our understanding, the issue you raised has been answered by VLG17. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-31 19:11] illfated commented on #3750
That's a pity, sorry I don't know enough about this topic to help you.

@Dansimp or @lizap , are there any available options to have the page content tested in-house on Windows 10 Pro, version 1809, to confirm whether this issue is reproducible?

[2019-05-31 19:16] e0i commented on #2322
@Tdiwestyguy

With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thanks for your feedback.

[2019-05-31 19:16] e0i commented on #2322
@officedocsbot close

[2019-05-31 19:16] #2322 closed

[2019-05-31 19:19] e0i commented on #3499
@SwiftOnSecurity

With the help of your feedback, the issue has been reviewed and an update to the documentation has been published.

Thanks for your feedback.

[2019-05-31 19:19] e0i commented on #3499
@officedocsbot close

[2019-05-31 19:19] #3499 closed

[2019-05-31 19:31] AaronMargosis commented on #3696
I just looked into this setting. Microsoft's security configuration baselines have never recommended configuring it for Windows, nor (AFAICT) have the DISA STIGs. I do see that the Center for Internet Security has included it in their Level 2 benchmarks for Windows. The settings in the CIS L2 benchmarks are known to break lots of useful functionality and are intended only for environments where ex

[2019-05-31 21:38] sshilov7 opened #3876 "Typo: "DMSA" should be "DSMA" under the "DefaultAccount" section."
Typo: "DMSA" should be "DSMA" under the "DefaultAccount" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74d32ee6-c7ff-9328-97d6-40ad82c73392
* Version Independent ID: 01f10cbb-4cae-077f-8245-7b0ada8305d7
* Content: [Local Accounts (Windows 10)](https://docs.microsoft.com/en-us/windows/security/identity-protect

[2019-05-31 21:48] #3876 closed

[2019-05-31 22:30] chiners68 commented on #3696
The company is this is in is a law firm and I’m sure they have CIS or some other compliance, I created the baseline but don’t recall adding this setting. They may of done this themselves.  It might explain why I’m using the azure security baseline but it dosent affect me for the reset password as that setting is not there.

We have change control approving the removal of this setting from the GPO

[2019-06-01 03:12] DaniHalfin commented on #3869
@alexverboon thanks for raising this issue.
This sounds like it might be a product issue more than a doc issue, however, it's good that we're aware so that we can address it properly.

@SteveSyfuhs - should I add a note here?

[2019-06-01 03:16] SteveSyfuhs commented on #3869
Yep, that should be noted as an issue. I'll open an internal bug too.

________________________________
From: Dani Halfin <notifications@github.com>
Sent: Friday, May 31, 2019 8:13:04 PM
To: MicrosoftDocs/windows-itpro-docs
Cc: Steve Syfuhs; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Unknown OS architecture when runnig on non-english OS (#3869)

@alexverboon<https://github.com/alexver

[2019-06-01 03:40] #3869 closed

[2019-06-01 03:40] DaniHalfin commented on #3869
Note added. Thanks again, @alexverboon .

[2019-06-01 03:49] NeoBeum opened #3882 "SSU: ADK requires a dedicated Technet and MSDN subforum & category, external from "Insiders""
The SSU documentation and ADK documentation should be and have more dependency on each other as well as a dedicated ADK community section where bugs can be reported publicly in real time, as the Feedback hub is inadequate, and the Insiders hub is next to useless.

The SSU from 18362.1 and KB4500109 (18362.116) had a **SEVERE** issue where components were not reinstalled during offline servicing of

[2019-06-01 03:58] AaronMargosis commented on #3696
I'd be surprised if they actually have a regulatory obligation (other than self-imposed) to use the CIS Level 2 benchmarks. Level 1, perhaps, but not level 2.

[2019-06-01 05:27] Hayderhj commented on #1556
Thank you @axovel !

[2019-06-01 10:09] illfated commented on #3678
(Ampersand (`&`) issue)

[2019-06-01 10:09] illfated commented on #3644
(Ampersand (`&`) issue)

[2019-06-01 10:10] illfated commented on #3649
(Ampersand (`&`) issue)

[2019-06-01 10:10] illfated commented on #3650
(Ampersand (`&`) issue)

[2019-06-01 10:10] illfated commented on #3651
(Ampersand (`&`) issue)

[2019-06-01 10:10] illfated commented on #3655
(Ampersand (`&`) issue)

[2019-06-01 10:10] illfated commented on #3654
(Ampersand (`&`) issue)

[2019-06-01 10:11] illfated commented on #3653
(Ampersand (`&`) issue)

[2019-06-01 10:11] illfated commented on #3658
(Ampersand (`&`) issue)

[2019-06-01 10:14] illfated commented on #3712
(Ampersand (`&`) issue - see #3487 )

[2019-06-01 10:16] illfated commented on #3656
(Ampersand (`&`) issue - see #3487 )

[2019-06-01 10:16] illfated commented on #3657
(Ampersand (`&`) issue - see #3487 )

[2019-06-01 10:17] illfated commented on #3659
(Ampersand (`&`) issue - see #3487 )

[2019-06-01 10:17] illfated commented on #3660
(Ampersand (`&`) issue - see #3487 )

[2019-06-01 10:17] illfated commented on #3661
(Ampersand (`&`) issue - see #3487 )

[2019-06-01 10:24] illfated commented on #3711
(Ampersand (`&`) issue - see #3487 )

[2019-06-01 10:59] illfated commented on #3634
"Windows kon'nichiwa" - still a little bit funny 😄

[2019-06-01 11:00] illfated commented on #3633
"Windows kon'nichiwa" 😄

[2019-06-01 11:18] illfated commented on #1689
@Heidilohr - will you be available to reply to the question?

[2019-06-01 12:32] MaratMussabekov commented on #2539
Dear @danielharkerdp ,
**So it tells us to create provisioning package, but doesn't tell us to do anything with it if we are running in Scenario 1 or 2?** - as it states in the article, "If you must activate Windows 10 Pro as described for scenario 3, complete the following steps. Otherwise, skip to step 16", so for scenario 1 and 2 part with the package should be ignored

**Does anyone know how t

[2019-06-01 15:17] hyoshioka0128 opened #3883 "[LOC] 英語 (米国) 米国 "ja-JP" needs to be replaced with "en-US""
https://docs.microsoft.com/ja-jp/microsoft-edge/deploy/about-microsoft-edge
![about-microsoft-edge_j](https://user-images.githubusercontent.com/40815708/58750317-b87df200-84cb-11e9-8058-97e25d6d743b.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: d47bd063-dbf5-f628-3a13-4602583fb750
* Version Independent ID: 9dad7d24-7e1b-73ec-819b-9760a23f33db
*

[2019-06-01 15:33] hyoshioka0128 opened #3884 "[LOC] Showing "指定可能な値: **","0**" (extra asterisks appears)"
https://docs.microsoft.com/ja-jp/microsoft-edge/deploy/microsoft-edge-kiosk-mode-deploy

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f840fa14-a379-d297-c3f7-ada05ec299d6
* Version Independent ID: 81396f7b-7506-43cd-fd9a-4066719a6eb2
* Content: [Microsoft Edge キオスク モードの展開](https://docs.microsoft.com/ja-jp/microsoft-edge/deploy/microsoft-edge-kiosk-m

[2019-06-01 15:35] hyoshioka0128 opened #3885 "[LOC] "される1" needs to be replaced with "1","される2" needs to be replaced with "2""
https://docs.microsoft.com/ja-jp/microsoft-edge/deploy/microsoft-edge-kiosk-mode-deploy
![microsoft-edge-kiosk-mode-deploy_j](https://user-images.githubusercontent.com/40815708/58750499-5a064300-84ce-11e9-946f-5f5efd34e46f.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f840fa14-a379-d297-c3f7-ada05ec299d6
* Version Independent ID: 81396f7b-7506-

[2019-06-01 15:39] hyoshioka0128 opened #3886 "[LOC] "AllowFullscreen スクリーン" needs to be replaced with "AllowFullscreen""
https://docs.microsoft.com/ja-jp/microsoft-edge/deploy/microsoft-edge-kiosk-mode-deploy
![microsoft-edge-kiosk-mode-deploy_j2](https://user-images.githubusercontent.com/40815708/58750549-d731b800-84ce-11e9-96d8-f9b3142367c1.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f840fa14-a379-d297-c3f7-ada05ec299d6
* Version Independent ID: 81396f7b-7506

[2019-06-01 19:57] SpencerLN opened #3887 "Exclusions for "Block JavaScript or VBScript from launching downloaded executable content" Are Unclear"
The documentation is unclear on how exclusions for the rule "Block JavaScript of VBScript from launching downloaded executable content". In the documentation it states "You can exclude scripts so they're allowed to run", but it also says "File and folder exclusions don't apply to this attack surface reduction rule."

If we are unable to exclude by file/folder, then how can a script be excluded?

-

[2019-06-02 02:00] illfated commented on #3885
This issue is most likely caused by the translation procedure reading the format tag "superscript" (`<sup>`) as text instead of code (for footnote indicators). Whereas I am fairly sure that the tag `<sup>` is the root cause, I do not have access to knowledge about the translation script process, if it translates from the web content on docs.microsoft.com/en-us/ or if it translates from the Github

[2019-06-02 02:05] mypil commented on #2465
@cronq - Your request would need the consideration and inputs from the author. Looping in @Justinha on this thread.
@Justinha - can you please share your insights on this?

Thank you.

[2019-06-02 02:10] illfated commented on #3886
See #3885 (same issue & same page) - this issue could be merged into #3885 .

[2019-06-02 02:31] illfated commented on #3884
See also #3159 for details.
Similar issues: #3394 #3407 #3408 #3451 #3452 #3453 #3612 #3662 #3663 #3665 #3691

[2019-06-02 02:32] mypil commented on #1803
@BigIve - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in
User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**
You might find oth

[2019-06-02 03:08] illfated commented on #3883
Nothing in the source to explain why that column content is wrong on that line.
The preceding text is "| English (US) | US | "
Could be a copy-paste mistake, but I don't know how the translation script works.
Looks like it only needs a manual edit for the ja-jp page.

[2019-06-02 03:09] mypil commented on #2276
@NJArcher - From our understanding, the issue you raised has been answered by joinimran. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-02 03:10] mypil commented on #2431
@Niglb - We would like to follow up. Can you please respond to the query of joinimran? Thank you.

[2019-06-02 03:12] mypil commented on #2306
@schenardie - From our understanding, the issue you raised has been answered by joinimran. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-02 03:13] mypil commented on #2335
@lexios - From our understanding, the issue you raised has been answered by joinimran. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-02 03:14] hyoshioka0128 commented on #3886
@illfated I understand "update this page by adding comments".

I'm poor English. Thank you for commenting exactly that I did not write in English.

[2019-06-02 03:41] mypil commented on #3248
@officedocsbot close

[2019-06-02 03:41] #3248 closed

[2019-06-02 04:59] hyoshioka0128 commented on #3883
en-us:"https://docs.microsoft.com/en-us/micros
![about-microsoft-edge_e](https://user-images.githubusercontent.com/40815708/58757010-940f2d80-853e-11e9-880d-8d66a9fbc0dc.png)
oft-edge/deploy/about-microsoft-edge"

[2019-06-02 04:59] mypil commented on #3375
@officedocsbot close

[2019-06-02 04:59] #3375 closed

[2019-06-02 05:27] hyoshioka0128 commented on #3886
Add the same page & same table
 1 "AllowPrelaunch 起動*"→"AllowPrelaunch*"
 2 "AllowTabPreloading 事前読み込み*"→"AllowTabPreloading*"
 3 "エクスペリエンス/機能の同期設定\ * とエクスペリエン/PreventTurningOffRequiredExtensions*"→
    "Experience/DoNotSyncBrowserSettings* と Experience/PreventTurningOffRequiredExtensions*"
 4 "LockdownFavorites お気に入り"→"LockdownFavorites"

Mistranslations occur with or without an asterisk at the e

[2019-06-02 05:46] mypil commented on #2044
@officedocsbot assign @mypil

[2019-06-02 05:52] mypil commented on #2044
@StingyJack - Thank you for submitting this feedback.

From our understanding, the issue has already been resolved based on the commit ([cfbc209](https://github.com/MicrosoftDocs/windows-itpro-docs/commit/cfbc2094b4fcdb999f3183a579776080ebcae449#diff-65a657acbce5acf94c69617891b57258)) made by the author.  If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribut

[2019-06-02 05:56] mypil commented on #2106
@officedocsbot assign @mypil

[2019-06-02 05:58] mypil commented on #2106
@juanand - - Thank you for submitting this feedback.

From our understanding, the issue has been resolved based on the commit ([14cf506](https://github.com/MicrosoftDocs/windows-itpro-docs/commit/14cf506a3f559d551e35389ac00723748a3b81f3#diff-0acfba9a515b38172a87fb67546f278e)) made by the author. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to mak

[2019-06-02 06:18] mypil commented on #2129
@officedocsbot assign @mypil

[2019-06-02 06:18] mypil commented on #2129
@DeployWindowsCom - Thank you for submitting this feedback.

From our understanding, the issue you raised has been answered by okieselbach. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-02 06:21] mypil commented on #2130
@officedocsbot assign @mypil

[2019-06-02 06:21] mypil commented on #2130
@brink668 -Thank you for submitting this feedback.

From our understanding, the issue you raised has been answered by Justinha. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-02 06:22] mypil commented on #2131
@officedocsbot assign @mypil

[2019-06-02 06:24] mypil commented on #2131
@bally-singh  - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind p

[2019-06-02 06:26] mypil commented on #2135
@officedocsbot assign @mypil

[2019-06-02 06:27] mypil commented on #2135
@thedrum808 - Based on the comment, we will proceed to close this issue. Thank you.

[2019-06-02 06:27] mypil commented on #2135
@officedocsbot close

[2019-06-02 06:27] #2135 closed

[2019-06-02 06:30] mypil commented on #2148
@officedocsbot assign @mypil

[2019-06-02 06:31] mypil commented on #2148
@dtcole - I believe the content has been updated to incorporate your feedback. From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-02 06:34] mypil commented on #2181
@officedocsbot assign @mypil

[2019-06-02 06:35] mypil commented on #2181
@mistergitj - Thank you for submitting this feedback.

From our understanding, the issue has been resolved based on the commit ([157db5d](https://github.com/MicrosoftDocs/windows-itpro-docs/commit/157db5dcd1e98a0409ef859506b5d7947f4469b2#diff-3ee0f2a2b6a1f9657ef38d13036c9d65)) made by the author. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to ma

[2019-06-02 06:37] mypil commented on #2186
@officedocsbot assign @mypil

[2019-06-02 06:38] mypil commented on #2186
@NJArcher - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by kumaarrahul. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-02 06:41] mypil commented on #2191
@officedocsbot assign @mypil

[2019-06-02 06:42] mypil commented on #2191
@fergusstrachan - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by egallagh. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-02 06:44] mypil commented on #2197
@officedocsbot assign @mypil

[2019-06-02 06:45] mypil commented on #2197
@SeanBirdman - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by kumaarrahul. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-02 06:54] mypil commented on #2237
@officedocsbot assign @mypil

[2019-06-02 06:55] mypil commented on #2237
@fergusstrachan - Thank you for submitting feedback.

From our understanding, the issue has been answered by egallagh and illfated. If you feel it hasn't been resolved please re-open this issue.

Thank you for engaging with the community here for the docs.

[2019-06-02 06:57] mypil commented on #2251
@officedocsbot assign @mypil

[2019-06-02 06:58] mypil commented on #2251
@mennr1  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by robcmc and rdejong1979. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-02 07:00] mypil commented on #2264
@officedocsbot assign @mypil

[2019-06-02 07:01] mypil commented on #2264
@firedrow -  May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-06-02 07:02] mypil commented on #2267
@officedocsbot assign @mypil

[2019-06-02 07:02] mypil commented on #2267
@schenardie - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by illfated. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-02 07:03] mypil commented on #2270
@officedocsbot assign @mypil

[2019-06-02 07:04] mypil commented on #2270
@timedroid - We would like to follow up. Can you please provide more details and respond to the query of jdeckerms?

[2019-06-02 07:06] mypil commented on #2274
@officedocsbot assign @mypil

[2019-06-02 07:06] mypil commented on #2274
@jesoj - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by Justinha. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-02 07:28] mypil commented on #2223
@officedocsbot assign @mypil

[2019-06-02 07:28] mypil commented on #2223
@SteveBurkettNZ - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-02 09:33] illfated commented on #3883
Yes, that is more or less what I tried to say. Let us hope that @dongmicro can take a look at this localization issue.

[2019-06-02 09:45] illfated commented on #2267
Just to clarify: I did not answer @schenardie's question as such, I merely posted a more readable version of his example, just in case someone else would know what to look for in order to solve the issue. I do not know enough about the topic to help @schenardie with the problem.

[2019-06-02 11:09] rdejong1979 commented on #2251
No it’s definitely not solved. MFA applies for (SaaS) applications and doesn’t solves the login/unlock of an interactive Windows logon session. The response of @robcmc isn’t relative in the issue mentioned. Please reach out directly for further details.

[2019-06-02 15:11] KjetilEVRY opened #3889 "Version numbers?"
Please include version numbers and dates, so we can keep a track of new versions. Since the last update date of this page was 05.31.19, did you just released a new preview version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7a3b63b-afc5-1b25-3a30-e75c788f4a93
* Version Independent ID: 85498c85-fe13-fead-3bac-44db5

[2019-06-02 16:50] RAJU2529 opened #3890 "Now I came to know the reason"
From many months I have thinking that why Microsoft released Ssu  and clu together. After reading this article, I come to know background benefits of SSU.
thanks to all authors for explaining details.
I would happy ,  if authors will proVide video lecturers..

I love  reading articles from this site

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-06-03 03:06] hyoshioka0128 opened #3891 "[LOC] "件" needs to be replaced with "1""
ja-jp:https://docs.microsoft.com/ja-jp/microsoft-edge/deploy/group-policies/address-bar-settings-gp
![address-bar-settings-gp_j](https://user-images.githubusercontent.com/40815708/58773379-ccbf0d80-85f7-11e9-8d3d-64d944c2dc46.png)

en-us;https://docs.microsoft.com/en-us/microsoft-edge/deploy/group-policies/address-bar-settings-gp
![address-bar-settings-gp_e](https://user-images.githubusercontent.c

[2019-06-03 03:10] hyoshioka0128 commented on #3891
Add same page
![address-bar-settings-gp_j2](https://user-images.githubusercontent.com/40815708/58773572-80c09880-85f8-11e9-8273-e5939d19a27f.png)

[2019-06-03 07:15] mypil commented on #2251
@robcmc  - Thank you for your response. We appreciate your efforts to clarify the docs.

Could you please assist us by suggesting how this content could be edited to incorporate your feedback? If you could suggest what the appropriate text and where it should be placed, I could assign one of our team members to create a Pull Request to get it added or you may also create a Pull Request to add in y

[2019-06-03 07:19] mypil commented on #2267
@illfated - Thanks for your response.

@schenardie - Could you please assist us by suggesting how this content could be edited to incorporate your feedback? If you could suggest what the appropriate text and where it should be placed, I could assign one of our team members to create a Pull Request to get it added or you may also create a Pull Request to add in your suggestion and just link this is

[2019-06-03 07:43] VLG17 commented on #1549
@CCDFischer in my opinion the easiest way to understand what is critical and what is not is to check the Security Log (and Application Log) under Event Viewer -> Windows Logs in Windows 10.

@bitslacker i will request a change to address that. Thank you for your feedback!

[2019-06-03 07:47] mypil commented on #3204
@officedocsbot close

[2019-06-03 07:47] #3204 closed

[2019-06-03 07:47] mypil commented on #1052
@officedocsbot close

[2019-06-03 07:47] #1052 closed

[2019-06-03 07:48] mypil commented on #1282
@officedocsbot close

[2019-06-03 07:48] #1282 closed

[2019-06-03 07:48] mypil commented on #1283
@officedocsbot close

[2019-06-03 07:48] #1283 closed

[2019-06-03 07:49] mypil commented on #2353
@officedocsbot close

[2019-06-03 07:49] #2353 closed

[2019-06-03 07:50] mypil commented on #2340
@officedocsbot close

[2019-06-03 07:50] #2340 closed

[2019-06-03 07:59] mypil commented on #3041
@officedocsbot close

[2019-06-03 07:59] #3041 closed

[2019-06-03 08:09] VLG17 commented on #2462
@chiners68 you are correct, it's easier to use the Configuration Manager to generate the MSI. If this is not clear from the article, please let us know what you would like to change/add.

Regarding the issue that you've encountered when disabling IPv6 PXE or USB boot, please reach out to the [Surface Community](https://answers.microsoft.com/en-us/surface/forum?sort=LastReplyDate&dir=Desc&tab=All&s

[2019-06-03 08:13] mypil commented on #2042
@officedocsbot assign @mypil

[2019-06-03 08:14] mypil commented on #2042
@ahcash - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 08:15] mypil commented on #2050
@officedocsbot assign @mypil

[2019-06-03 08:16] mypil commented on #2050
@xXxOlivierxXx - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 08:16] mypil commented on #2084
@officedocsbot assign @mypil

[2019-06-03 08:16] mypil commented on #2084
@roman-schraner - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 08:16] mypil commented on #2108
@officedocsbot assign @mypil

[2019-06-03 08:17] mypil commented on #2108
@Tdiwestyguy - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 08:18] mypil commented on #2109
@officedocsbot assign @mypil

[2019-06-03 08:18] mypil commented on #2109
@mohitvij - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 08:26] mypil commented on #2112
@officedocsbot assign @mypil

[2019-06-03 08:27] mypil commented on #2112
@pyoungberg - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 08:27] mypil commented on #2113
@officedocsbot assign @mypil

[2019-06-03 08:27] mypil commented on #2113
@Dikkekip - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 09:53] fergusstrachan commented on #2191
The reply was simply a clarification of the purpose of the connector.

What I was getting at in my 2nd para was that if the connector enabled hybrid join without the requirement to have the device on the same LAN as domain controllers (e.g. from a user's home or a guest network) this would be useful.
Is this a consideration for the next version?

[2019-06-03 10:23] Malind19 commented on #3630
@e0i Created OR https://github.com/MicrosoftDocs/windows-itpro-docs/pull/3893

[2019-06-03 10:28] Malind19 commented on #3585
@e0i Created PR https://github.com/MicrosoftDocs/windows-itpro-docs/pull/3894

[2019-06-03 10:46] Malind19 commented on #2848
@e0i The article specifies the LocURI shall comply with the URL encoding standard, which is a universal thing, not specific to LocURI. So I do not think it is necessary to mention the URL encoding standards in this article.

[2019-06-03 11:11] VLG17 commented on #2369
@ricofox959 I think what you are doing, meaning exploring what you can acomplish with Powershell is the best way forward. It's really hard to give a list of EvendIDs and Sources to look at in Event Viewer, keeping in mind the wide range of issues that you could encounter and the architectural differences between environments.

What i would advise is to look at **System Log** and **Application Log*

[2019-06-03 11:47] CCDFischer commented on #1549
@VLG17 While you may be able to find that information in the event viewer, it is not documented anywhere what the difference is between these categories of notifications. As this is the documentation for the product I would expect to find at least an explanation if not an exhaustive listing here of what each category is. The point of documentation is that I should not need to discover this informa

[2019-06-03 12:14] mypil commented on #2039
@officedocsbot assign @mypil

[2019-06-03 12:14] mypil commented on #2039
@Martony78 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete

[2019-06-03 12:14] mypil commented on #2110
@officedocsbot assign @mypil

[2019-06-03 12:16] mypil commented on #2111
@officedocsbot assign @mypil

[2019-06-03 12:17] mypil commented on #2111
@pyoungberg @fergusstrachan - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 12:17] mypil commented on #2110
@pyoungberg - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 12:19] mypil commented on #2192
@officedocsbot assign @mypil

[2019-06-03 12:20] mypil commented on #2192
@schenardie  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 12:20] mypil commented on #2198
@officedocsbot assign @mypil

[2019-06-03 12:21] mypil commented on #2198
@o-l-a-v - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 12:31] mypil commented on #2209
@officedocsbot assign @mypil

[2019-06-03 12:31] mypil commented on #2209
@deshpandeguy - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 12:32] mypil commented on #2225
@officedocsbot assign @mypil

[2019-06-03 12:32] mypil commented on #2225
@BigIve  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 12:32] mypil commented on #2245
@officedocsbot assign @mypil

[2019-06-03 12:32] mypil commented on #2245
@hmhackmaster  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 12:33] mypil commented on #2257
@officedocsbot assign @mypil

[2019-06-03 12:33] mypil commented on #2257
@juanand - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 12:39] Malind19 commented on #3472
@e0i Created PR https://github.com/MicrosoftDocs/windows-itpro-docs/pull/3895

[2019-06-03 12:48] Malind19 commented on #3556
@e0i I could not find any supportive answers for this. Can we please get some tech help?

[2019-06-03 14:15] mypil commented on #1549
@dansimp - Can you please share your insights on this issue?

Thank you.

[2019-06-03 14:23] My-userid opened #3896 "Wrong setting for Java permission"
Windows Components / Internet Explorer / Internet Control Panel / Security Page / Locked-Down Trusted Sites Zone | Java permissions |

You have the setting:
Enabled: Enable

It should be Enabled | and one of the Java security settings:  High, medium,low, custom, Disable

[2019-06-03 14:47] mypil commented on #2118
@officedocsbot assign @mypil

[2019-06-03 14:47] mypil commented on #2118
@RichardB-22 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 14:48] mypil commented on #2128
@officedocsbot assign @mypil

[2019-06-03 14:48] mypil commented on #2128
@Diagg- Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 14:48] mypil commented on #2133
@officedocsbot assign @mypil

[2019-06-03 14:49] mypil commented on #2133
@Grinstb  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 14:50] mypil commented on #2145
@officedocsbot assign @mypil

[2019-06-03 14:51] mypil commented on #2145
@adrianwells - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 14:51] per-lind commented on #2431
@mypil I think the main question is if this is supported for an autopilot profile set to SelfDeploying mode. I myself could not get it to work while a normal profile worked just fine. Hard to troubleshoot when it is unknown if it is supposed to work.

[2019-06-03 14:51] mypil commented on #2189
@officedocsbot assign @mypil

[2019-06-03 14:53] mypil commented on #2189
@jonathan-mckinney @billgatesfan @BigIve - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 14:54] mypil commented on #2196
@officedocsbot assign @mypil

[2019-06-03 14:54] mypil commented on #2196
@PeterKlapwijk  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 14:54] mypil commented on #2206
@officedocsbot assign @mypil

[2019-06-03 14:54] mypil commented on #2206
@GlennInDC  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 14:57] mypil commented on #2218
@officedocsbot assign @mypil

[2019-06-03 14:57] mypil commented on #2218
@alexverboon  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 14:59] mypil commented on #2255
@officedocsbot assign @mypil

[2019-06-03 14:59] mypil commented on #2255
@Conan1989  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 15:00] mypil commented on #2272
@officedocsbot assign @mypil

[2019-06-03 15:00] mypil commented on #2272
@schenardie  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-03 15:01] mypil commented on #2273
@officedocsbot assign @mypil

[2019-06-03 15:03] adrianwells commented on #2145
@mypil it looks like the footnote references remain by their references are no longer part of the document which is confusing. Will those be reviewed as well?

[2019-06-03 15:17] mypil commented on #1504
@domyorker - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-06-03 15:17] mypil commented on #1504
@officedocsbot close

[2019-06-03 15:17] #1504 closed

[2019-06-03 15:37] iadgovuser1 commented on #3696
Yeah, that setting has never been part of the Windows STIGs.

[2019-06-03 15:40] chiners68 commented on #3696
They are using the CIS benchmarking tool which the device has been pen tested against but essentially they are a mix of NCSC, CIS and NIST.

From: Aaron Margosis <notifications@github.com>
Sent: 01 June 2019 04:59
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: chiners68 <markchinery@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/win

[2019-06-03 15:49] Niglb commented on #2431
This is my question as well - if it is supported and when will it be.

[2019-06-03 15:51] mypil commented on #2216
@officedocsbot assign @mypil

[2019-06-03 15:53] mypil commented on #2216
@ahmedbr @illfated - Is this issue already resolved? Can we proceed to close this issue or is there a need to update the document content?

Thank you.

[2019-06-03 15:54] mypil commented on #2117
@officedocsbot assign @mypil

[2019-06-03 15:55] mypil commented on #2117
@Justinha - Do you have any updates on the progress status of this issue?

Thanks.

[2019-06-03 15:55] mypil commented on #2261
@officedocsbot assign @mypil

[2019-06-03 15:56] mypil commented on #2261
@Justinha - Do you have any updates from the engineering team?

Thanks.

[2019-06-03 15:58] mypil commented on #2220
@officedocsbot assign @mypil

[2019-06-03 16:02] annerajb commented on #3889
I am on 100.42.86 and it's showing that I will stop recieving protection in  58 days and to update.

The typo on protection is also in the app...So far I haven't found a new update package available.

[2019-06-03 16:07] mypil commented on #2220
@wadstromdev - Thank you for submitting this feedback.

From our understanding, the document content has been updated by the author to incorporate the feedback/comments provided by the readers in this issue so we hope that the issue has been addressed. For your reference, kindly check on the following commits on the updates made by the author - [e7612c5 ](https://github.com/MicrosoftDocs/windows-i

[2019-06-03 16:13] Heidilohr commented on #1689
@illfated Unfortunately, I'm no longer the writer assigned to the CSP articles, so I can't answer your question, but I've forwarded it along to someone who can get the people who can involved.

[2019-06-03 16:17] mypil commented on #2431
@Niglb @per-lind - let me try to get the inputs from the doc owner.

@greg-lindsay - can you please share your insights on this issue?

Thank you.

[2019-06-03 16:23] Justinha commented on #2117
@mypil sorry, no updates. I'll follow up with new doc owners to get some traction.

[2019-06-03 17:06] illfated commented on #2216
Oh. Right. There seems to be issues where the command
[code]
does not work as described. Some times, it happens because the device in question does not have UEFI BIOS or the user tries to run the command on a Windows 10 Pro computer where the `bcdedit` command has different parameters compared to a Windows Server 2016 or 2019, making it confusing to the end user why the command does not work like

[2019-06-03 17:07] #3867 closed

[2019-06-03 17:08] #3860 closed

[2019-06-03 17:08] #3818 closed

[2019-06-03 17:08] sdabbiru opened #3897 "What is the meaning of error code: 0x80070490?"
What is the meaning of error code: 0x80070490?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b4f9133-887f-17a6-95fc-3712de8a3fa1
* Version Independent ID: 09d34ce8-1590-8202-3e70-e6299dadbb65
* Content: [Windows Hello errors during PIN creation (Windows 10)](https://docs.microsoft.com/en-us/windows/security/identity-

[2019-06-03 17:08] #3817 closed

[2019-06-03 17:08] #3796 closed

[2019-06-03 17:09] illfated commented on #1689
Fair enough. Any help to get someone who knows this content to post a reply will be useful here.

[2019-06-03 17:27] greg-lindsay commented on #2117
https://docs.microsoft.com/windows/deployment/windows-autopilot/Bitlocker is the current topic in the Autopilot docs

[2019-06-03 17:53] Scriptimus opened #3898 "Broken MVA Video lnk"
I already reported this issue and it was closed, yer there is still a broken link on this page. "Credentials protected by Windows Defender Credential Guard"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87ec66f8-6598-5751-a10f-55951c08b3ff
* Version Independent ID: c3bb99fb-ec6f-638f-fb26-af3142f5d49c
* Content: [Prot

[2019-06-03 17:55] Scriptimus commented on #3898
There are actually 2 MVA links on this page that I can see.

[2019-06-03 17:59] martyav commented on #3898
The correction was made, but it looks like the new version of the page hasn't been published yet...

[2019-06-03 18:15] npherson opened #3899 "Microsoft Edge section - non-relevent info"
"You can silently enable BitLocker for standard Azure Active Directory-joined users. You can also more easily manage the entire Microsoft 365 experience for users with the Microsoft 365 Admin Center." I don't think we mean to have those two sentences under the Edge title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-06-03 18:26] dongmicro commented on #3633
Do you still see the problem on the page: https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-cert-new-install?

Would you please copy the whole sentence?

[2019-06-03 18:27] joinimran commented on #2301
Thanks for sharing the details here.

@mypil Can you please engage doc owner to get the inputs so that we can see how this doc can be improved.

Thanks.

[2019-06-03 18:29] dongmicro commented on #3634
@illfated Do you still see the issue on the page? I checked and couldn't find one. Would you please point to the section still having the issue on the page?

[2019-06-03 18:33] dongmicro commented on #3487
This is machine translation issue. MT needs to be fixed first, I am contacting the owner.

[2019-06-03 19:20] ahmedbr commented on #2216
@mypil yeah, The issue was solved right here.

[2019-06-03 19:20] #2216 closed

[2019-06-03 19:49] illfated commented on #3633
Wow, nice. Looks like you have solved it (though I hope @hyoshioka0128 can post and confirm what the result is on their end too).
Feels slightly odd to me to see a sudden solution without much feedback where the error message was posted.
Good job, though. 👍 Are the other pages modified too? 😃

[2019-06-03 19:59] illfated commented on #3634
Thank you for asking. There is only 1 _invisible_ entry that matches "Windows こんにちは" on that page in addition to the feedback entry at the bottom of the page (and I could not find it in the source for the page either). Maybe there is some kind of reference to the feedback entry, I don't know. All the other entries look like they are fixed, according to what @hyoshioka0128 reported for this issue t

[2019-06-03 20:02] illfated commented on #2216
@ahmedbr : Thank you for posting again to confirm that you found the solution. Would you say that the solution needs to be implemented on the page linked in this issue ticket (the page where you posted your original feedback)?

[2019-06-03 20:18] johanvjr commented on #3637
Can you please add me to the private preview..? We would love to test this one. @tewchen

[2019-06-03 21:02] AaronMargosis commented on #3696
I'm 99% sure that the CIS benchmarking tool gives the option whether to inspect the Level 2 settings or just Level 1. Don't inspect the L2 settings. They guarantee unhappiness.

[2019-06-03 22:08] SquirrelAssassin commented on #2130
We opened a premier supper ticket on this as the logs do not show us where the errors originate from.  Will post after resolution.

[2019-06-03 22:13] msandbu opened #3901 "Running the connectivity troubleshooting script"
There needs to be a bit more clearer in these ATP endspoints needs to be configured on the OMS Gateway as allowed hosts. And secondly, the endpoint winatp-gw-aus.microsoft.com is not published in Public DNS anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3b2994c-534b-7b08-78de-49e099cb18ac
* Version Independent

[2019-06-03 23:49] e0i commented on #3493
@revikor

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-06-03 23:49] e0i commented on #3493
@officedocsbot close

[2019-06-03 23:49] #3493 closed

[2019-06-04 00:34] e0i commented on #2539
@danielharkerdp Would you kindly clarify whether the response MaratMussabekov has provided answers your question? Thank you.

[2019-06-04 03:09] hyoshioka0128 opened #3902 "[LOC] "件" needs to be replaced with "1""
related issues:#3891
![adobe-settings-gp_j1](https://user-images.githubusercontent.com/40815708/58848424-8504b880-86c1-11e9-85ea-24cc650b7f34.png)

![adobe-settings-gp_j2](https://user-images.githubusercontent.com/40815708/58848428-8afa9980-86c1-11e9-97a8-f5c64760b375.png)

https://docs.microsoft.com/ja-jp/microsoft-edge/deploy/group-policies/adobe-settings-gp

---
#### ドキュメントの詳細

⚠ *このセクションを編集しない

[2019-06-04 05:26] illfated commented on #3902
Probably a Machine Translation issue, although not sure if the mix of English/kanji in the preceding column could have anything to do with it. Maybe @dongmicro could take a look and comment on it.

[2019-06-04 05:51] mypil commented on #2274
@officedocsbot close

[2019-06-04 05:51] #2274 closed

[2019-06-04 05:52] mypil commented on #2237
@officedocsbot close

[2019-06-04 05:53] #2237 closed

[2019-06-04 05:53] mypil commented on #2181
@officedocsbot close

[2019-06-04 05:53] #2181 closed

[2019-06-04 06:12] mypil commented on #2044
@officedocsbot close

[2019-06-04 06:12] #2044 closed

[2019-06-04 06:13] mypil commented on #2106
@officedocsbot close

[2019-06-04 06:13] #2106 closed

[2019-06-04 06:32] mypil commented on #2301
@lomayor - Can you please share your insights on this issue?

Thank you.

[2019-06-04 06:45] mypil commented on #2117
@akmatthewsuk - Thank you for submitting feedback.

From our understanding, the issue has been answered by greg-lindsay. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-04 06:52] mypil commented on #2191
@fergusstrachan - Thank you for your response. Let me loop in the doc owner to get their inputs.

@DulceMontemayor - Can you please share your insights on this issue?

Thank you.

[2019-06-04 07:14] KaeptnHelmut commented on #2804
Same problem here, is there any solution yet?

[2019-06-04 07:29] mypil commented on #1803
@officedocsbot close

[2019-06-04 07:32] mypil commented on #2465
@Justinha @DulceMontemayor - Can you please share your insights on this?

Thank you.

[2019-06-04 08:26] robhardman commented on #3889
Same.

[2019-06-04 10:28] aseflova opened #3904 "Subscription Activation on devices without firmware-embedded keys"
What is correct scenario for devices without firmware-embedded keys, but with Win 10 licence from MAK key? As far I was able to test it (Win10 1809), those devices will not automatically activate Win10 from subscription, but remain on MAK key/KMS. Is there a way to activate them manually? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-06-04 15:13] ManikaDhiman commented on #1689
@fatherofinvention I checked with the engineering team and unfortunately the answer to your question is yes. You will need to explicitly whitelist every executable.

[2019-06-04 15:59] methodbox opened #3906 "PowerShell - Windows Defender - Lack of documentation"
[Enter feedback here]

Normally, Microsoft documentation for PowerShell commands for common products usually includes actual examples of using the commands, not just a link to the cmdlet.

This page seems like a waste of space if it's just a reference to the cmdlet.

There's even this enticing line at the top, "You can use PowerShell to perform various functions in Windows Defender." ... Yes, but

[2019-06-04 16:22] martyav commented on #3889
We're trying to keep it short and sweet on that page, but I'll check to see if there's another appropriate page for listing more complete details and dates

[2019-06-04 16:48] #3472 closed

[2019-06-04 17:22] mypil commented on #2335
@officedocsbot close

[2019-06-04 17:22] #2335 closed

[2019-06-04 17:26] ewhitesides opened #3907 "App Pool Identities"
What is the impact of removing the various IIS APPPOOL accounts from this User Right?

It seems accounts are added by default when you install IIS or an application into IIS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9d2543f-e772-44cd-f844-aae8b1456f74
* Version Independent ID: 8b300b78-863a-ee65-4f77-20250aed979

[2019-06-04 18:16] mypil commented on #2369
@ricofox959 - From our understanding, the issue you raised has been answered by VLG17. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-04 18:30] mypil commented on #2129
@officedocsbot close

[2019-06-04 18:30] #2129 closed

[2019-06-04 18:30] mypil commented on #2131
@officedocsbot close

[2019-06-04 18:30] #2131 closed

[2019-06-04 18:32] mypil commented on #2306
@officedocsbot close

[2019-06-04 18:32] #2306 closed

[2019-06-04 18:32] mypil commented on #2276
@officedocsbot close

[2019-06-04 18:32] #2276 closed

[2019-06-04 19:18] glittle opened #3909 "Top link is broken"
The link here does not work:

Applies to: Microsoft Defender Advanced Threat Protection (Microsoft Defender ATP)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3af6887c-4bf7-c96a-5474-06464cbb9093
* Version Independent ID: 3e76515d-db8a-ff5b-723e-d7f6baeacaea
* Content: [Microsoft Defender ATP APIs](https://docs.micros

[2019-06-04 19:52] #3909 closed

[2019-06-04 20:18] illfated commented on #1689
@ManikaDhiman : Thank you for your reply and for confirming what the bottom line answer is in this case.
Not sure if @DirkMCar will comment back, but I presume @fatherofinvention will be likely to notice it.

[2019-06-04 20:56] sholek1 commented on #3897
I have had this issue for a while now, without resolution.  Likely, this is what you are experiencing:
https://answers.microsoft.com/en-us/windows/forum/all/we-cant-connect-to-server-to-setup-you-pin-right/a0536687-7db8-4ab4-95e6-be2ff7d97dd7

[2019-06-04 21:00] sholek1 commented on #2804
Same issue with 0x80070490.  Going on for a couple of months.  MS support could not resolve.  I will provide any input I can for resolution.

[2019-06-05 00:02] LifeWireYT commented on #1556
I've done all of steps provided above and still no luck. Hypervisor has been disabled through Command Prompt and it still gives me the error. Also, I'm a noob when it comes to this sort of thing.

[2019-06-05 01:43] jordanmills commented on #1151
Sorry this one got lost in the shuffle.  I haven't had time to verify on server 2019.

[2019-06-05 02:37] A55imilat0r opened #3912 "This page is out of date"
This page is out of date and missing what's new for 1803 , 1809 and 1903

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c3e60ec-cf61-c34b-db79-74b13e3ee867
* Version Independent ID: fc5079f7-a563-c627-3a3e-eb84a99e4fd3
* Content: [New policies for Windows 10 (Windows 10)](https://docs.microsoft.com/en-us/windows/clien

[2019-06-05 03:13] hyoshioka0128 commented on #3634
@e0i @dongmicro  @illfated  Thank you. (I'm poor English)

However, I found it when I searched on the Web(I used bing and google.)
 Search word: "Windows こんにちは" ;docs.microsoft.com/ja-jp/

(1)Id およびアクセス管理 (Windows 10)
 "https://docs.microsoft.com/ja-jp/windows/security/identity-protection/"

(2)Windows Hello
 "https://docs.microsoft.com/ja-jp/windows/uwp/security/microsoft-passport"
 ↑"windows-uwp

[2019-06-05 03:32] illfated commented on #3634
Usually it is good to create a new issue report if there is no existing report for that particular issue, but I presume it is better to wait for a confirmation from @dongmicro , to be certain.

[2019-06-05 04:38] hoskinsm opened #3913 "Understand the different apps included in Windows 10"
Can the following doc be updated to include app information related to Windows 10 version 1903

https://docs.microsoft.com/en-us/windows/application-management/apps-in-windows-10

I attempted to add feedback requesting a 1903 update via GitHub but the reference appears to be closed and unable to add additional feedback.

thank you

[2019-06-05 05:56] xNiklasJern opened #3914 "OEM who support white glove?"
Hi,

Is there an official list of vendors who support the white glove provisioning method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca5b57d1-61b3-39d4-34ff-d6dcb858c250
* Version Independent ID: 42609104-815f-9e7a-39aa-38d92cc910c9
* Content: [Windows Autopilot for white glove deployment](https://docs.microsoft.c

[2019-06-05 06:20] hkusulja commented on #3868
I think this is due to TPM 2.0 from Hyper-V is not supported, technical limitation of Hyper-v?

[2019-06-05 07:23] gillllllllll commented on #2804
since it was an insider build, i had reinstalled windows, but on the new installation i hadn't joined the laptop to the on prem domain, but only to the azure ad domain. and anything worked ok.

[2019-06-05 08:54] hyoshioka0128 opened #3915 "[LOC] "件" needs to be replaced with "1""
related issues:#3891
![books-library-management-gp_j1](https://user-images.githubusercontent.com/40815708/58943542-e8bedc80-87ba-11e9-84db-4c7e32130a3f.png)

![books-library-management-gp_j2](https://user-images.githubusercontent.com/40815708/58943552-ed839080-87ba-11e9-8c04-1bd9680eb1ec.png)

![books-library-management-gp_j3](https://user-images.githubusercontent.com/40815708/58943560-f07e8100-87

[2019-06-05 11:16] MaratMussabekov commented on #2042
Dear @ahcash ,
by default, only "Trusted Installer" has access to modify powershell.exe.config file, that's why the error appear. Have you tried to "use ConfigMgr or other software deployment service to run RunConfig.bat as system" as it states in the step 6 in the article?

Thank you

[2019-06-05 11:49] robhardman commented on #3889
Just a note to say that mine updated this morning to 100.45.69 all by itself (no re-deployment with Intune required, at least.)

[2019-06-05 12:13] mypil commented on #2148
@officedocsbot close

[2019-06-05 12:13] #2148 closed

[2019-06-05 12:14] mypil commented on #2186
@officedocsbot close

[2019-06-05 12:14] #2186 closed

[2019-06-05 12:16] mypil commented on #2267
@schenardie - We would like to follow up on this. Thanks.

[2019-06-05 12:17] mypil commented on #2270
@timedroid - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-06-05 12:17] mypil commented on #2270
@officedocsbot close

[2019-06-05 12:17] #2270 closed

[2019-06-05 12:41] gacelperfinian opened #3916 "TerminateOnHeapError should be TerminateOnError (on 1803-enu)"
When using the cmdlet `Set-ProcessMitigation -Name "ProgramName.exe" -Disable TerminateOnHeapError` on Windows 1803 (enu) displays this error:
[code]
Using `TerminateOnError` instead of `TerminateOnHeapError` results into the correct configuration (Disabling validation of heap integrity). Also, `help Set-ProcessMitigation` shows TerminateOnHeapError but should be TerminateOnError.

---
#### Docume

[2019-06-05 13:09] Malind19 commented on #3618
@e0i Created PR https://github.com/MicrosoftDocs/windows-itpro-docs/pull/3917

[2019-06-05 14:35] mypil commented on #2036
@officedocsbot assign @mypil

[2019-06-05 15:57] xNiklasJern opened #3918 "Windows 10 IoT"
Are there any information on if Autopilot will support Windows IoT (Enterprise) in the future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc999894-2a0a-bc87-7fd7-97df5f1fd04e
* Version Independent ID: ad68f62a-6bf0-5f5f-bb07-f64afe68fd10
* Content: [Windows Autopilot requirements](https://docs.microsoft.com/en-us/w

[2019-06-05 16:17] mypil commented on #2036
@0xVox - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-05 16:43] mypil commented on #2264
@firedrow - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-06-05 16:44] mypil commented on #2264
@officedocsbot close

[2019-06-05 16:44] #2264 closed

[2019-06-05 16:46] mypil commented on #2220
@officedocsbot close

[2019-06-05 16:46] #2220 closed

[2019-06-05 16:59] mypil commented on #3388
@jaimeo - We would like to follow up. Do you have any updates on this?

cc: @LauraWi

[2019-06-05 17:13] jaimeo commented on #3388
@matthewMWR can you advise? Also, @DulceMontemayor can you address the question about the other topic (https://docs.microsoft.com/en-us/windows/security/information-protection/windows-information-protection/wip-learning)?

[2019-06-05 17:35] dongmicro commented on #3634
@hyoshioka0128 please create issue report for each of them because the ownership are different, thanks.

[2019-06-05 17:38] mypil commented on #3367
@jwojan - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-05 18:09] joinimran commented on #2499
Hello @bigben386 , Thank you for your feedback on the doc. The statements you have mentioned are applicable only when you are setting up an automatic feature update and deploy option for Windows 10 (https://docs.microsoft.com/en-us/windows/deployment/update/waas-manage-updates-wsus#automatically-approve-and-deploy-feature-updates)

That being said, when you will setup auto feature update rule, an

[2019-06-05 18:23] SLeuthold opened #3921 "Express Updates"
It appears Express Updates are no longer supported in favor of a "New Model" starting with 1809. Should the SCCM docs be updated to reflex this so the community has awareness.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb67e518-6f60-23e0-2545-c2839e2b4159
* Version Independent ID: e9a31629-e3cb-0367-31c4-5661284d89

[2019-06-05 18:30] joinimran commented on #1295
@pchatham Thank you for your query on the doc. Please note the SSU's are not included in CU as SSU's are the updates that will update the Windows update service. CU's are handled by Windows update service and Windows update service got the update from SSU. So it is highly recommended that you should 1st update SSU and then run CU. This all information is also mentioned in the doc.

Thanks.

[2019-06-05 18:30] mypil commented on #2371
@CThreadgill - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-05 18:40] jeffdfield opened #3922 "Missing -quietinstall switch in Add-ProvisioningPackage"
The Add-ProvisioningPackage section is missing the quietinstall option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc9d3111-a801-5fbd-51fd-182c9fcde05d
* Version Independent ID: b6515ca3-15f5-5a24-0aea-612c0f5867ab
* Content: [PowerShell cmdlets for provisioning Windows 10 (Windows 10)](https://docs.microsoft.com/e

[2019-06-05 18:52] e0i commented on #3416
@Air-Git

Upon your feedback, The content has been updated with additional changes. Thanks.

[2019-06-05 18:52] e0i commented on #3416
@officedocsbot close

[2019-06-05 18:52] #3416 closed

[2019-06-05 18:56] joinimran commented on #2110
@pyoungberg Thank you for your feedback on the doc. As of now for Hybrid AD join the machine should be on the corporate network. The mechanism you have mentioned totally makes sense and I would suggest you forward your feedback using feature request channel.

@mypil Can you please guide @pyoungberg how he can put a feature request.

Thanks.

[2019-06-05 20:02] thohun opened #3924 "Video is unavailable"
The video at the beginning of the page is unavailable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3d6356b-87ff-8c3a-56ef-1270a823d3ab
* Version Independent ID: 4d6ae878-66cf-0e10-bdf3-bdd6054cbc9d
* Content: [What's new in Windows 10, version 1809](https://docs.microsoft.com/en-us/windows/whats-new/whats-new-window

[2019-06-05 21:08] Air-Git commented on #3416
How strange. The cut and paste error remains exactly as before.

[2019-06-05 21:42] bigben386 commented on #2499
Right that has been my experience in practice but the note in that sections says quote

That simply is not the case in practice. Clients that pull the feature updates from wsus install the update immediately after it is approved regardless of the wufb brach settings. Also there is no auto approval option for channel/branch availability so that note should be removed or changed to say that wufb bra

[2019-06-05 22:29] e0i commented on #3416
@Air-Git

The changes made to the repository are pushed to live by a Continuous Integration system and it might sometimes take a few days for the system to be triggered. Thank you for following-up.

[2019-06-06 00:24] leonbrag opened #3926 "Cannot add AD user to list of approved RDP users"
Azure VM is added to AAD, but following fails:

C:\Users\xxx>net localgroup "Remote Desktop Users" /add "AzureAD\user@test.onmicrosoft.com"

**There is no such global user or group: AzureAD\user@test.onmicrosoft.com**

[2019-06-06 02:00] ojrb commented on #1490
Hi @mypil the PR #3927 solved this issue ! Please review and Merge !

[2019-06-06 03:07] hyoshioka0128 opened #3928 "[LOC] "Windows こんにちは" needs to be replaced with "Windows Hello""
related issue; #3435 | #3634

https://docs.microsoft.com/ja-jp/windows/security/identity-protection/

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: bee434fc-f456-02b7-b4b7-60e36f8130dd
* Version Independent ID: a63a8d30-2a27-b2d4-147d-c1e799bd56f2
* Content: [Id およびアクセス管理 (Windows 10)](https://docs.microsoft.com/ja-jp/windows/security/identity-protec

[2019-06-06 03:52] joinimran commented on #2499
Thank you @bigben386 , I have updated the doc and forwarded this for approval to our team. Once its approved, the changes will reflect in the doc.

Thanks.

[2019-06-06 04:01] hyoshioka0128 opened #3930 "[LOC] "両面" needs to be replaced with "2""
![browser-settings-management-gp_j](https://user-images.githubusercontent.com/40815708/59006079-2bd08c80-885b-11e9-9e22-8503adab9854.png)

https://docs.microsoft.com/ja-jp/microsoft-edge/deploy/group-policies/browser-settings-management-gp
---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 61c9bcbd-1edd-2610-869e-6ee1aa8503f4
* Version Independent ID: 8d1

[2019-06-06 05:23] illfated commented on #3416
@Air-Git : Maybe you need to refresh or clean your browser cache to see the updated page correctly. From what I can see, it appears to be corrected now. If you still see something you are certain is still incorrect, please copy & paste that part (or link the section, if possible) in a new comment here in this issue page.

[2019-06-06 07:04] joinimran commented on #2257
Hello @juanand , I have gone through your query and found the following doc (https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-antivirus/use-group-policy-windows-defender-antivirus) that describes the complete set of WDAV policies and its implication when those are enabled or disabled.

For your second query, WDAV is programmed in a way that if something goes wro

[2019-06-06 09:24] mypil commented on #2223
@SteveBurkettNZ - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-06 09:35] mypil commented on #2251
@rdejong1979 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to open a new issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-06-06 09:35] mypil commented on #2251
@officedocsbot close

[2019-06-06 09:35] #2251 closed

[2019-06-06 09:37] mypil commented on #2117
@officedocsbot close

[2019-06-06 09:37] #2117 closed

[2019-06-06 09:39] mypil commented on #2130
@SquirrelAssassin - Do you have any updates? Could you please assist us by suggesting how this content could be edited to incorporate your feedback? If you could suggest what the appropriate text and where it should be placed, I could assign one of our team members to create a Pull Request to get it added or you may also create a Pull Request to add in your suggestion and just link this issue so I

[2019-06-06 10:49] mypil commented on #3387
@Justinha @DulceMontemayor - We would like to follow up on this. Any updates on this?

Thank you.

[2019-06-06 10:55] mypil commented on #3398
@CoveMiner - We would like to follow up on this. Do you have any updates on how we can close this issue?

Thank you.

[2019-06-06 11:07] mypil commented on #3347
@jaimeo @zdvorak @lomayor - We would like to follow up on this. Do you have any updates on how we can fix broken link issue(FWLink in log file is dead)?

Thank you.

[2019-06-06 11:12] mypil commented on #1549
@Dansimp - We would like to follow up on this. Do you have any updates?

Thank you.

[2019-06-06 12:19] joinimran commented on #2225
Hello @BigIve I have checked the reference doc and the information looks good. For your specific question  please see doc App inventory management for Microsoft Store for Business and Education (https://docs.microsoft.com/en-us/microsoft-store/app-inventory-management-microsoft-store-for-business) you can find the details to remove the apps at https://docs.microsoft.com/en-us/microsoft-store/app-i

[2019-06-06 12:50] mypil commented on #2110
@pyoungberg - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in
User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**

You might fin

[2019-06-06 12:56] mypil commented on #2042
@ahcash - From our understanding, the issue has been answered by MaratMussabekov. If you feel it hasn't been answered please re-open this issue.

Thank you for engaging with the community here for the docs.

[2019-06-06 13:00] mypil commented on #2462
@chiners68 - From our understanding, the issue you raised has been answered by VLG17. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-06 13:02] mypil commented on #2369
@officedocsbot close

[2019-06-06 13:02] #2369 closed

[2019-06-06 13:29] chiners68 commented on #2462
Hi,
The answer took so long I forgot what the question was,lol

I have reported the other issues to the surface community.

From: Joyce Y. <notifications@github.com>
Sent: 06 June 2019 14:01
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: chiners68 <markchinery@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Script

[2019-06-06 13:35] danmyhre opened #3934 "Support for Group-Based Assignments"
The fact that this model does not allow group-based (AAD groups) assignments is a security and management problem.  This model needs to be updated to support that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78e62232-54ab-fa9d-1e31-7a65e7506a12
* Version Independent ID: 51a94f92-9ff4-12e7-2f97-1bbe34855400
* Content

[2019-06-06 13:54] joinimran commented on #2198
Hello @o-l-a-v Thank you for your query on the doc. Please note this is not possible but you can always share your suggestions using the Microsoft feedback channel.

@mypil Please guide the user how the user can forward the suggestion.

Thanks.

[2019-06-06 14:06] mypil commented on #2968
@officedocsbot unassign @mypil

[2019-06-06 14:06] mypil commented on #3159
@officedocsbot unassign @mypil

[2019-06-06 14:07] mypil commented on #3173
@officedocsbot unassign @mypil

[2019-06-06 14:07] mypil commented on #3192
@officedocsbot unassign @mypil

[2019-06-06 14:07] mypil commented on #3394
@officedocsbot unassign @mypil

[2019-06-06 14:07] mypil commented on #3395
@officedocsbot unassign @mypil

[2019-06-06 14:07] mypil commented on #3396
@officedocsbot unassign @mypil

[2019-06-06 14:07] mypil commented on #3405
@officedocsbot unassign @mypil

[2019-06-06 14:07] mypil commented on #3406
@officedocsbot unassign @mypil

[2019-06-06 14:07] mypil commented on #3407
@officedocsbot unassign @mypil

[2019-06-06 14:07] mypil commented on #3408
@officedocsbot unassign @mypil

[2019-06-06 14:07] mypil commented on #3412
@officedocsbot unassign @mypil

[2019-06-06 14:08] mypil commented on #3413
@officedocsbot unassign @mypil

[2019-06-06 14:11] mypil commented on #3192
@officedocsbot unassign @mypil

[2019-06-06 14:26] mypil commented on #2198
@o-l-a-v - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in
User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**

You might find o

[2019-06-06 16:03] jaimeo commented on #3347
I thought we fixed that link already. I've looked up an owner for it and send them this issue again.

[2019-06-06 16:37] ojrb commented on #1168
Hi @mypil  The PR #3936 solved this issue ! Please review and merge !

[2019-06-06 16:38] pstenger opened #3937 "Doesn't Work With 1809"
This process doesn't seem to work on Windows 10 1809 as the update now goes through the app store, which is blocked per WSUS. Is there another work around?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98d4c6ca-ae3c-7750-f58b-0df996e41402
* Version Independent ID: 0d05fd22-b761-6fb4-8686-a2021573e542
* Content: [Enabl

[2019-06-06 16:50] e0i commented on #3930
@officedocsbot assign @e0i

[2019-06-06 16:50] e0i commented on #3926
@officedocsbot assign @e0i

[2019-06-06 16:50] e0i commented on #3928
@officedocsbot assign @e0i

[2019-06-06 16:51] e0i commented on #3915
@officedocsbot assign @e0i

[2019-06-06 16:51] e0i commented on #3914
@officedocsbot assign @e0i

[2019-06-06 16:51] e0i commented on #3916
@officedocsbot assign @e0i

[2019-06-06 16:51] e0i commented on #3912
@officedocsbot assign @e0i

[2019-06-06 16:51] e0i commented on #3913
@officedocsbot assign @e0i

[2019-06-06 16:52] e0i commented on #3924
@officedocsbot assign @e0i

[2019-06-06 16:52] e0i commented on #3922
@officedocsbot assign @e0i

[2019-06-06 16:52] e0i commented on #3921
@officedocsbot assign @e0i

[2019-06-06 16:52] e0i commented on #3918
@officedocsbot assign @e0i

[2019-06-06 16:52] e0i commented on #3907
@officedocsbot assign @e0i

[2019-06-06 16:53] e0i commented on #3906
@officedocsbot assign @e0i

[2019-06-06 16:53] e0i commented on #3904
@officedocsbot assign @e0i

[2019-06-06 16:53] e0i commented on #3902
@officedocsbot assign @e0i

[2019-06-06 16:53] e0i commented on #3891
@officedocsbot assign @e0i

[2019-06-06 16:53] e0i commented on #3891
@officedocsbot assign @e0i

[2019-06-06 16:54] e0i commented on #3901
@officedocsbot assign @e0i

[2019-06-06 16:54] e0i commented on #3899
@officedocsbot assign @e0i

[2019-06-06 16:54] e0i commented on #3896
@officedocsbot assign @e0i

[2019-06-06 16:54] e0i commented on #3896
@My-userid

Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-06-06 16:55] e0i commented on #3898
@officedocsbot assign @e0i

[2019-06-06 16:55] e0i commented on #3897
@officedocsbot assign @e0i

[2019-06-06 16:56] e0i commented on #3890
@officedocsbot assign @e0i

[2019-06-06 16:56] e0i commented on #3889
@officedocsbot assign @e0i

[2019-06-06 16:57] e0i commented on #3890
@officedocsbot assign @e0i

[2019-06-06 16:58] e0i commented on #3887
@officedocsbot assign @e0i

[2019-06-06 16:58] e0i commented on #3882
@officedocsbot assign @e0i

[2019-06-06 16:58] e0i commented on #3887
@officedocsbot assign @e0i

[2019-06-06 16:59] bashenk opened #3938 "HTML broken into code snippet"
Everything from the end of Step 7 to the end is presented in a code snippet.
I assume line 523 from the present source HTML should be preceded by '&lt;pre&gt;&lt;code&gt;'
and current line 531 should close the above '&lt;/code&gt;&lt;/pre&gt;'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b67dd6d3-d9ee-c306-4cef-2e25

[2019-06-06 17:07] My-userid commented on #3896
Link is:

https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-security-configuration-framework/level-5-enterprise-security

[2019-06-06 17:15] e0i commented on #3886
@officedocsbot assign @e0i

[2019-06-06 17:29] e0i commented on #3883
@officedocsbot assign @e0i

[2019-06-06 17:30] e0i commented on #3885
@officedocsbot assign @e0i

[2019-06-06 17:30] e0i commented on #3884
@officedocsbot assign @e0i

[2019-06-06 17:31] e0i commented on #3866
@officedocsbot assign @e0i

[2019-06-06 17:31] e0i commented on #3863
@officedocsbot assign @e0i

[2019-06-06 17:32] e0i commented on #3865
@officedocsbot assign @e0i

[2019-06-06 17:33] e0i commented on #3865
@wayyt

Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-06-06 17:34] zdvorak commented on #3347
I've also created a PR for the other issue mentioned above (KB 2952664 being superseded).

[2019-06-06 18:28] martyav commented on #3924
For reference, the title of the missing video was, "What's new in Windows 10, version 1809 for IT Pros"

[2019-06-06 19:10] NagaCSC opened #3942 "Hybrid Azure AD joined provisioning in a Certificate Trust deployment in a Managed environment"
HCT - is always Federated domain with ADFS 2016. as far as I know HCT can not be implemented with managed domain. it has to be federated domain. we may need to correct the title as below
From: Hybrid Azure AD joined provisioning in a Certificate Trust deployment in a Managed environment
To: Hybrid Azure AD joined provisioning in a Certificate Trust deployment in a Federated environment

---
#### D

[2019-06-06 20:00] leonbrag commented on #2351
I cannot get it to work on 1809. VM is joined Azure AD:

C:\Users\foo>net localgroup "Remote Desktop Users" /add "AzureAD\testuser2@foo.onmicrosoft.com"

There is no such global user or group: AzureAD\testuser2@foo.onmicrosoft.com.

[2019-06-06 20:01] russrimm opened #3943 "Intune now supports Windows 10 2019 LTSC?"
Does this include all Intune features?  When configuring Windows Update for Business in Intune, LTSC is not a selectable channel on the servicing channel dropdown menu.  Is it not possible to deploy quality updates to Win10 2019 LTSC via Intune?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c696c9ed-b095-68ff-d50d-df3

[2019-06-06 20:04] illfated commented on #2351
You may want to open a new issue ticket and link back to this one (although one of the Microsoft Docs team members will comment on that later, which ever they recommend).

[2019-06-06 20:06] leonbrag opened #3944 "Can't add AAD user"
As I commented on the closed issue, this does not work on 1809.

Windows running in Azure VM is joined AAD (via add Connection to Work or School). But I can't add AAD user to allow RDP:

C:\Users\foo&gt;net localgroup "Remote Desktop Users" /add "AzureAD\testuser2@foo.onmicrosoft.com"

There is no such global user or group: AzureAD\testuser2@foo.onmicrosoft.com.

---
#### Document Details

⚠ *Do n

[2019-06-06 20:33] BroadcastMonsoon opened #3945 "Outdated"
-The process for allow custom plugins has changed in the new version, you now do so from the security tab.
-The Secure Score tab is no longer present in the report and the tabs have changed from the ones in the article. Bonus points: give me back the secure score!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c94f17bc

[2019-06-06 20:36] greg-lindsay commented on #3924
Thanks for noticing this! The issue has been fixed.

[2019-06-06 20:37] #3924 closed

[2019-06-06 21:18] DSPatrick opened #3946 "Defender updates for Server 2019"
This document says (below) Question is where to download from?
"You have non-Internet-connected devices (such as VMs). You can use your Internet-connected VM host to download the updates to a network share"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c033d14-427d-26d5-eca8-facf190da87d
* Version Independent ID: 624

[2019-06-06 22:01] jaimeo commented on #3347
Albert is redirecting the FWlink to windows-analytics-get-started where we've added some explanation about diagtrack.

[2019-06-06 23:07] jvsam commented on #2031
@officedocsbot assign @jvsam

[2019-06-06 23:07] jvsam commented on #2025
@officedocsbot assign @jvsam

[2019-06-06 23:08] jvsam commented on #2022
@officedocsbot assign @jvsam

[2019-06-06 23:08] jvsam commented on #2009
@officedocsbot assign @jvsam

[2019-06-06 23:09] jvsam commented on #2010
@officedocsbot assign @jvsam

[2019-06-06 23:11] jvsam commented on #2002
@officedocsbot assign @jvsam

[2019-06-06 23:13] jvsam commented on #1999
@officedocsbot assign @jvsam

[2019-06-06 23:13] jvsam commented on #1994
@officedocsbot assign @jvsam

[2019-06-06 23:15] jvsam commented on #1991
@officedocsbot assign @jvsam

[2019-06-06 23:15] jvsam commented on #1984
@officedocsbot assign @jvsam

[2019-06-06 23:16] jvsam commented on #1980
@officedocsbot assign @jvsam

[2019-06-06 23:20] jvsam commented on #1929
@officedocsbot assign @jvsam

[2019-06-06 23:21] jvsam commented on #1933
@officedocsbot assign @jvsam

[2019-06-06 23:24] jvsam commented on #1940
@officedocsbot assign @jvsam

[2019-06-06 23:26] jvsam commented on #1913
@officedocsbot assign @jvsam

[2019-06-06 23:28] jvsam commented on #1915
@officedocsbot assign @jvsam

[2019-06-06 23:29] jvsam commented on #1912
@officedocsbot assign @jvsam

[2019-06-06 23:30] jvsam commented on #1911
@officedocsbot assign @jvsam

[2019-06-06 23:31] jvsam commented on #1910
@officedocsbot assign @jvsam

[2019-06-06 23:31] jvsam commented on #1894
@officedocsbot assign @jvsam

[2019-06-06 23:32] jvsam commented on #1890
@officedocsbot assign @jvsam

[2019-06-06 23:32] jvsam commented on #1890
@officedocsbot assign @jvsam

[2019-06-06 23:33] jvsam commented on #1893
@officedocsbot assign @jvsam

[2019-06-06 23:34] jvsam commented on #1866
@officedocsbot assign @jvsam

[2019-06-06 23:34] jvsam commented on #1860
@officedocsbot assign @jvsam

[2019-06-06 23:35] jvsam commented on #1854
@officedocsbot assign @jvsam

[2019-06-06 23:35] jvsam commented on #1850
@officedocsbot assign @jvsam

[2019-06-06 23:36] jvsam commented on #1848
@officedocsbot assign @jvsam

[2019-06-06 23:37] jvsam commented on #1840
@officedocsbot assign @jvsam

[2019-06-06 23:38] jvsam commented on #1839
@officedocsbot assign @jvsam

[2019-06-06 23:39] jvsam commented on #1834
@officedocsbot assign @jvsam

[2019-06-06 23:40] jvsam commented on #1829
@officedocsbot assign @jvsam

[2019-06-06 23:41] jvsam commented on #1823
@officedocsbot assign @jvsam

[2019-06-06 23:41] jvsam commented on #1807
@officedocsbot assign @jvsam

[2019-06-06 23:42] jvsam commented on #1813
@officedocsbot assign @jvsam

[2019-06-06 23:43] jvsam commented on #1802
@officedocsbot assign @jvsam

[2019-06-06 23:46] jvsam commented on #1776
@officedocsbot assign @jvsam

[2019-06-06 23:47] jvsam commented on #1777
@officedocsbot assign @jvsam

[2019-06-06 23:48] jvsam commented on #1775
@officedocsbot assign @jvsam

[2019-06-06 23:49] jvsam commented on #1774
@officedocsbot assign @jvsam

[2019-06-06 23:49] jvsam commented on #1767
@officedocsbot assign @jvsam

[2019-06-06 23:51] jvsam commented on #1760
@officedocsbot assign @jvsam

[2019-06-06 23:52] jvsam commented on #1763
@officedocsbot assign @jvsam

[2019-06-06 23:52] jvsam commented on #1756
@officedocsbot assign @jvsam

[2019-06-06 23:55] jvsam commented on #1753
@officedocsbot assign @jvsam

[2019-06-06 23:56] jvsam commented on #1750
@officedocsbot assign @jvsam

[2019-06-06 23:58] jvsam commented on #1743
@officedocsbot assign @jvsam

[2019-06-07 00:01] jvsam commented on #1734
@officedocsbot assign @jvsam

[2019-06-07 00:03] jvsam commented on #1733
@officedocsbot assign @jvsam

[2019-06-07 00:05] jvsam commented on #1711
@officedocsbot assign @jvsam

[2019-06-07 00:06] jvsam commented on #1692
@officedocsbot assign @jvsam

[2019-06-07 00:06] jvsam commented on #1690
@officedocsbot assign @jvsam

[2019-06-07 00:07] jvsam commented on #1691
@officedocsbot assign @jvsam

[2019-06-07 00:08] jvsam commented on #1687
@officedocsbot assign @jvsam

[2019-06-07 00:32] jeremyhagan opened #3947 "Invalid XML provided"
The XML comment tags between line 60 and 87 of the XML file are malformed. There is a space between "&lt;!" and "--" meaning that this cannot be used programmaticaly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d71055e-2b14-227b-0107-c8f150194d5b
* Version Independent ID: 0eab18a0-7e8f-05eb-b47f-e6913682d8e8
* Cont

[2019-06-07 01:29] jvsam commented on #1689
@officedocsbot assign @jvsam

[2019-06-07 01:31] jvsam commented on #1671
@officedocsbot assign @jvsam

[2019-06-07 01:32] jvsam commented on #1665
@officedocsbot assign @jvsam

[2019-06-07 01:34] jvsam commented on #1663
@officedocsbot assign @jvsam

[2019-06-07 01:35] jvsam commented on #1661
@officedocsbot assign @jvsam

[2019-06-07 01:37] jvsam commented on #1660
@officedocsbot assign @jvsam

[2019-06-07 01:37] jvsam commented on #1656
@officedocsbot assign @jvsam

[2019-06-07 01:39] jvsam commented on #1653
@officedocsbot assign @jvsam

[2019-06-07 01:40] jvsam commented on #1652
@officedocsbot assign @jvsam

[2019-06-07 01:41] jvsam commented on #1644
@officedocsbot assign @jvsam

[2019-06-07 01:42] jvsam commented on #1640
@officedocsbot assign @jvsam

[2019-06-07 01:43] jvsam commented on #1636
@officedocsbot assign @jvsam

[2019-06-07 01:44] jvsam commented on #1631
@officedocsbot assign @jvsam

[2019-06-07 01:45] schenardie commented on #3738
Second that

[2019-06-07 01:45] jvsam commented on #1629
@officedocsbot assign @jvsam

[2019-06-07 01:48] jvsam commented on #1626
@officedocsbot assign @jvsam

[2019-06-07 01:49] jvsam commented on #1605
@officedocsbot assign @jvsam

[2019-06-07 01:52] jvsam commented on #1564
@officedocsbot assign @jvsam

[2019-06-07 01:54] jvsam commented on #1556
@officedocsbot assign @jvsam

[2019-06-07 01:58] jvsam commented on #1521
@officedocsbot assign @jvsam

[2019-06-07 02:00] jvsam commented on #1498
@officedocsbot assign @jvsam

[2019-06-07 02:02] jvsam commented on #1496
@officedocsbot assign @jvsam

[2019-06-07 02:04] jvsam commented on #1491
@officedocsbot assign @jvsam

[2019-06-07 02:06] jvsam commented on #1483
@officedocsbot assign @jvsam

[2019-06-07 02:07] jvsam commented on #1482
@officedocsbot assign @jvsam

[2019-06-07 02:09] jvsam commented on #1475
@officedocsbot assign @jvsam

[2019-06-07 02:10] jvsam commented on #1460
@officedocsbot assign @jvsam

[2019-06-07 02:14] jvsam commented on #1445
@officedocsbot assign @jvsam

[2019-06-07 02:16] jvsam commented on #1342
@officedocsbot assign @jvsam

[2019-06-07 02:16] jvsam commented on #1338
@officedocsbot assign @jvsam

[2019-06-07 02:19] jvsam commented on #1322
@officedocsbot assign @jvsam

[2019-06-07 02:20] jvsam commented on #1317
@officedocsbot assign @jvsam

[2019-06-07 02:21] jvsam commented on #1299
@officedocsbot assign @jvsam

[2019-06-07 02:25] jvsam commented on #1297
@officedocsbot assign @jvsam

[2019-06-07 02:29] jvsam commented on #1298
@officedocsbot assign @jvsam

[2019-06-07 02:34] jvsam commented on #1231
@officedocsbot assign @jvsam

[2019-06-07 02:35] jvsam commented on #1194
@officedocsbot assign @jvsam

[2019-06-07 02:35] jvsam commented on #1193
@officedocsbot assign @jvsam

[2019-06-07 02:36] jvsam commented on #1161
@officedocsbot assign @jvsam

[2019-06-07 02:40] jvsam commented on #1024
@officedocsbot assign @jvsam

[2019-06-07 02:41] jvsam commented on #900
@officedocsbot assign @jvsam

[2019-06-07 02:42] jvsam commented on #896
@officedocsbot assign @jvsam

[2019-06-07 02:43] jvsam commented on #875
@officedocsbot assign @jvsam

[2019-06-07 02:45] jvsam commented on #856
@officedocsbot assign @jvsam

[2019-06-07 02:49] jvsam commented on #839
@officedocsbot assign @jvsam

[2019-06-07 02:52] jvsam commented on #843
@officedocsbot assign @jvsam

[2019-06-07 02:54] jvsam commented on #760
@officedocsbot assign @jvsam

[2019-06-07 02:54] jvsam commented on #743
@officedocsbot assign @jvsam

[2019-06-07 03:10] adamfowlerit commented on #2225
Hi,
The problem is maybe not a documentation problem then but a technical one - the "Remove from private store" option doesn't exist, and this is with a tenant administrator with others confirming the same issue. Not sure if my screenshot will come through but it's below, using the same account that can add and approve applications.

[cid:0b808179-1611-4039-9f6c-1ffa00b97b00]

Thanks

Adam Fowler

[2019-06-07 05:51] schenardie opened #3949 "Example of Code Integrity"
The page https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-exploit-guard/enable-virtualization-based-protection-of-code-integrity#enable-hvci-using-intune refers to AppLocker CSP to Enable virtualization-based protection of code integrity but at not times i could find an example on how to do it. Can we get one posted??

Thanks

---
#### Document Details

⚠ *Do no

[2019-06-07 05:53] joinimran commented on #2225
@adamfowlerit  This might be some other issue. I would suggest you, open a support ticket with Microsoft support team so that they can specifically look into your tenant to better help you.

@mypil Please guide @adamfowlerit how he can open a support ticket with Microsoft support team.

Thanks.

[2019-06-07 06:02] joinimran commented on #2192
Hello @schenardie Schenardie, Thank you for submitting your query about the doc. Please note this CSP is only applicable on Windows 10 Mobile and Mobile Enterprises editions. To see which CSP is supported by which version of Windows 10, please see https://docs.microsoft.com/en-us/windows/client-management/mdm/configuration-service-provider-reference#csp-support

Thanks.

[2019-06-07 08:15] mypil commented on #1805
@cinglis-msft -  Thank you for submitting feedback.

From our understanding, the issue has been answered by @jaimeo [here](https://github.com/MicrosoftDocs/windows-itpro-docs/pull/3839#issuecomment-499563764). If you feel it hasn't been resolved please re-open this issue.

Thank you for engaging with the community here for the docs.

[2019-06-07 08:16] mypil commented on #1805
@officedocsbot close

[2019-06-07 08:16] #1805 closed

[2019-06-07 09:11] mypil commented on #2223
@officedocsbot close

[2019-06-07 09:11] #2223 closed

[2019-06-07 09:12] mypil commented on #2462
@officedocsbot close

[2019-06-07 09:12] #2462 closed

[2019-06-07 09:18] Ricardo-Cz commented on #856
For me it works if I use the CDATA syntax and the separator as described in the documentation. The settings are applied successfully on the client but the verification in Intune fails. I get an "Error" for all user rights settings in the "per setting status" of my profile. Can somebody confirm this behavior?

Example of a setting:
OMA URI: ./Device/Vendor/MSFT/Policy/Config/UserRights/AllowLocalLo

[2019-06-07 09:34] MaratMussabekov commented on #2112
Dear @pyoungberg,
the issue you are talking about is out of scope of this article (this article is about language requirements, issue you have noted is about  Internet Explorer Enhanced Security Configuration), it is more related to [Deploy hybrid Azure AD-joined devices by using Intune and Windows Autopilot](https://docs.microsoft.com/en-us/intune/windows-autopilot-hybrid) article, and here it ha

[2019-06-07 09:55] mypil commented on #3858
@officedocsbot assign @mypil

[2019-06-07 09:56] mypil commented on #3858
@nickesping - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind ple

[2019-06-07 09:58] mypil commented on #3861
@officedocsbot assign @mypil

[2019-06-07 10:00] mypil commented on #3861
@tigeraaditya - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind p

[2019-06-07 10:02] mypil commented on #3934
@officedocsbot assign @mypil

[2019-06-07 10:05] mypil commented on #3934
@danmyhre - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in
User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**

You might find

[2019-06-07 10:07] mypil commented on #3937
@officedocsbot assign @mypil

[2019-06-07 10:08] mypil commented on #3937
@pstenger - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-07 10:09] mypil commented on #3938
@officedocsbot assign @mypil

[2019-06-07 10:12] mypil commented on #3938
@bashenk - Thank you for submitting feedback.

Pull Request #3941 has been created by @martyav to help fix this issue.

[2019-06-07 10:39] mypil commented on #3942
@officedocsbot assign @mypil

[2019-06-07 10:41] mypil commented on #3942
@NagaCSC - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-07 10:43] mypil commented on #3943
@officedocsbot assign @mypil

[2019-06-07 10:43] mypil commented on #3943
@russrimm - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-07 10:44] mypil commented on #3944
@officedocsbot assign @mypil

[2019-06-07 10:44] mypil commented on #3944
@leonbrag  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-07 10:46] mypil commented on #3945
@officedocsbot assign @mypil

[2019-06-07 10:46] mypil commented on #3945
@BroadcastMonsoon  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-07 10:47] mypil commented on #3946
@officedocsbot assign @mypil

[2019-06-07 10:47] mypil commented on #3946
@DSPatrick - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-07 10:48] mypil commented on #3947
@officedocsbot assign @mypil

[2019-06-07 10:50] mypil commented on #3949
@officedocsbot assign @mypil

[2019-06-07 10:50] mypil commented on #3949
@schenardie  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-07 10:51] joinimran commented on #3937
Hello @pstenger Thank you for your query. Can you please elaborate your query in more detail so that I can better guide you.

Thanks.

[2019-06-07 10:53] mypil commented on #3947
@jeremyhagan  - Thank you for submitting this feedback.

From our understanding, the issue has already been resolved based on the commit ([01558dc](https://github.com/MicrosoftDocs/windows-itpro-docs/commit/01558dc28b9595c4ac702cf146ce7e091a6832b1)) made by @martyav. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appre

[2019-06-07 12:12] mypil commented on #3367
@officedocsbot close

[2019-06-07 12:12] #3367 closed

[2019-06-07 12:14] mypil commented on #2392
@Crazyphil - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-07 12:14] mypil commented on #2392
@officedocsbot close

[2019-06-07 12:14] #2392 closed

[2019-06-07 12:15] mypil commented on #2371
@officedocsbot close

[2019-06-07 12:15] #2371 closed

[2019-06-07 12:21] mypil commented on #2042
@officedocsbot close

[2019-06-07 12:21] #2042 closed

[2019-06-07 12:21] mypil commented on #2110
@officedocsbot close

[2019-06-07 12:21] #2110 closed

[2019-06-07 12:23] mypil commented on #2191
@DulceMontemayor - We would like to follow up on this. Can you please share your insights on this issue?

Thank you.

cc: @Dansimp

[2019-06-07 12:24] mypil commented on #2197
@officedocsbot close

[2019-06-07 12:24] #2197 closed

[2019-06-07 12:24] mypil commented on #2198
@officedocsbot close

[2019-06-07 12:24] #2198 closed

[2019-06-07 12:28] mypil commented on #2261
@DulceMontemayor @Justinha - We would like to follow up on this. Do you have any updates?

Thank you.

[2019-06-07 12:43] yannara commented on #2261
MBAM will be transformed to sccm. Tech preview already has it, I believe we could see this in production this year maybe.

[2019-06-07 12:48] nickesping commented on #3858
@mypil - I submitted a ticket with the intune support team a few days ago and provided them with all the information and logs they have asked for so far. I will update this post when we figure out a resolution. Thanks.

[2019-06-07 12:52] DSPatrick commented on #3946
Thank you. Is the Win10 ITPro the correct team? We're asking about manual download of defender updates for Server 2019

[2019-06-07 12:58] jason4tw commented on #2261
Well, the 1905 TP has some, but not all of the functionality of MBAM. There is still engineering work going on for the rest of the functionality. See https://techcommunity.microsoft.com/t5/Enterprise-Mobility-Security/Microsoft-expands-BitLocker-management-capabilities-for-the/ba-p/544329.

[2019-06-07 13:08] mypil commented on #2225
@adamfowlerit - I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind please keep us posted here on the res

[2019-06-07 13:10] mypil commented on #2245
@officedocsbot reopen

[2019-06-07 13:11] mypil commented on #2245
@lomayor - Please assist to review and merge PR #3935 created for this issue. Otherwise, kindly share your insights on how this issue can be resolved prior to closing the issue.

[2019-06-07 13:34] jordanmills commented on #2261
Thanks, jason4tw.  That's disappointing but not unexpected.  I suppose I'd be surprised if they ever completely replaced the functionality of MBAM.

[2019-06-07 13:36] adamfowlerit commented on #2225
Will do, I have enterprise support and that usually gets a higher up tech.

Thanks
Adam Fowler

________________________________
From: Joyce Y. <notifications@github.com>
Sent: Friday, June 7, 2019 10:38:42 PM
To: MicrosoftDocs/windows-itpro-docs
Cc: Adam Fowler; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Remove Online Apps (#2225)

@adamfowlerit<https://github.com/adamfowlerit> - I t

[2019-06-07 13:37] jason4tw commented on #2261
Sorry, not following. That is 100% the intention and direction and they will eventually get there. My point is that they just haven't gotten there yet and what's in TP1905 is just the beginning. The full incorporation almost certainly won't be in 1906 as there is still work going on but maybe, just maybe, it'll make it to 1910.

[2019-06-07 13:44] mypil commented on #1295
@pchatham - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by joinimran. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-06-07 13:44] yannara commented on #2261
Thanks Jason for clearing this up. I have no time for TP, but saw some screens. MS talked to me last year when they started thinking about this, they interview me about most important capabilities.

[2019-06-07 14:12] #3947 closed

[2019-06-07 14:24] SquirrelAssassin commented on #3944
Same issue here.

[2019-06-07 15:16] mypil commented on #2267
@schenardie - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-06-07 15:16] mypil commented on #2267
@officedocsbot close

[2019-06-07 15:16] #2267 closed

[2019-06-07 17:58] leonbrag commented on #3944
Even after following  https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help-join-device-on-network#to-join-an-already-configured-windows-10-device and ensuring that machine is AAD join, I can add user using command line (but not normal UI, it seems normal UI in step 2 is not aware of AzureAD\UPN format.

But still cannot login using RDP

[2019-06-07 18:20] rbbrittain commented on #3777
The text was just changed yesterday so it might not be exactly what the OP was looking at, but it specifically refers to "(t)he messaging app on Desktop" and "Windows Mobile"; it's not surprising that it's being deprecated. That is a different app *and* mobile OS from Your Phone, which syncs texts with Android phones running the Your Phone Companion app. I have both Your Phone & Messaging on my PC

[2019-06-07 19:16] joinimran commented on #2039
Hello @Martony78 , There is no other way to set this up. The point you have mentioned looks like a good suggestion and I would like you to raise your voice using any of our feedback channels.

@mypil Please guide @Martony78 how he can share feedback and request for the new feature with Windows Hello.

Thanks.

[2019-06-07 19:36] joinimran commented on #2209
Hell @deshpandeguy Thank you for your feedback. You can visit https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-antivirus/deploy-manage-report-windows-defender-antivirus to see reporting options available for Windows Defender using Intune and SCCM.

If you are looking for a customized report which is not available, you can contact the Microsoft support team to he

[2019-06-07 21:44] TrudyHa commented on #2225
Confirm that **Remove from private store** isn't an option from the app in Products & services list - I'll update the docs to reflect that change. Removing an app from your private store can be done in a couple of ways:

- From app page, on Private store availability, select No one to remove the app from the private store. The app will still be available on Products & services | Apps & software. Y

[2019-06-08 08:46] illfated commented on #3394
Follow-up to my comment https://github.com/MicrosoftDocs/windows-itpro-docs/issues/3394#issuecomment-488260618 : It looks like the Machine Translation script added an unwanted space between the Japanese characters and the second set of asterisks (as well as removing the space after the second set of asterisks), making them not work as formatting characters. This is what the text should have looked

[2019-06-08 09:28] illfated commented on #3406
@hyoshioka0128 : Can you check to see if the page is OK now, that the reported text `_gt` appears anywhere?
I can not find it , except for in the feedback ticket and 1 hidden (invisible) spot on the page.
To me, it looks like it has been fixed now (possibly by @dongmicro or one of his colleagues).

[2019-06-08 09:47] illfated commented on #3412
@hyoshioka0128 : Can you check to see if the page is OK now, if the reported text _gt appears anywhere?
I can not find it , except for in the **feedback ticket** and 1 hidden (invisible) spot on the page.
To me, it looks like it has been fixed now (possibly by @dongmicro or one of his colleagues).

[2019-06-08 09:48] illfated commented on #3413
@hyoshioka0128 : Can you check to see if the page is OK now, if the reported text _gt appears anywhere?
I can not find it , except for in the **feedback ticket** and 1 hidden (invisible) spot on the page.
To me, it looks like it has been fixed now (possibly by @dongmicro or one of his colleagues).

[2019-06-08 12:50] hyoshioka0128 commented on #3406
@illfated : It was corrected now.
![unwanted-software](https://user-images.githubusercontent.com/40815708/59147500-50815b80-8a37-11e9-8736-99f8d1ac19e3.png)

[2019-06-08 13:02] hyoshioka0128 commented on #3412
@illfated  : It was corrected now.
![passwordless-strategy](https://user-images.githubusercontent.com/40815708/59147605-cb974180-8a38-11e9-9cdb-3ca217071528.png)
↑Bing cash screen as of 31 May

[2019-06-08 13:16] hyoshioka0128 commented on #3413
@illfated : It was corrected now.
![hello-hybrid-aadj-sso-cert_j1](https://user-images.githubusercontent.com/40815708/59147792-04381a80-8a3b-11e9-8b2b-652ebaf22a30.png)

![hello-hybrid-aadj-sso-cert_j2](https://user-images.githubusercontent.com/40815708/59147794-08fcce80-8a3b-11e9-8b63-eada8a129268.png)
↑Bing cash screen as of 20 May

[2019-06-08 13:35] MaratMussabekov commented on #2133
Dear @Grinstb , each policy setting has a section at the bottom with "OK", "apply" and "cancel" buttons
![image](https://user-images.githubusercontent.com/48041687/59148009-12c30980-8a1c-11e9-9f1d-d6b0ec949650.png)
Thank you

[2019-06-08 13:50] MaratMussabekov commented on #2145
Dear @adrianwells ,
**Hello. Looking for 1809 to be called out as that is required for Windows Pro is my understanding to be used with Bitlocker.** - this article is dedicated to Policy CSP, to read about the updates in Bitlocker CSP (including support of Windows PRO) please check [BitLocker CSP](https://docs.microsoft.com/windows/client-management/mdm/bitlocker-csp) article.
Thank you

[2019-06-08 13:57] hyoshioka0128 commented on #3581
@e0i  : It was corrected now.
![wcd-hotspot](https://user-images.githubusercontent.com/40815708/59148210-bde5ba00-8a40-11e9-8c84-3227e692ef3a.png)
↑Bing cash screen as of 20 May

[2019-06-08 22:47] jvsam commented on #2031
Hi @Houndsong, @Justinha confirmed that 8GB RAM is the minimum requirement for hardware memory as indicated in the [system requirements](https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-application-guard/reqs-wd-app-guard). The doc is also now visible in the WDAG Table of Contents on the left for easy access. Thank you for your question and we hope your issue ha