[2019-04-29 12:46] Gtfinchy commented on #1619
And ... as evidenced by #3390 above, the entire PAGE of SSU information has disappeared from docs.microsoft.com. My customer, an USA DoD entity, uses the latest SSU infomation to prepare an updated Reference Image for OS deployment across multiple enviroments. The REQUIREMENT to stay updated AT DEPLOY TIME includes current SSU. Please fix this resource so recently given.

[2019-04-29 12:49] Gtfinchy commented on #3390
As Alex noted & bugged - The entire PAGE of SSU information has disappeared from docs.microsoft.com. My customer, an USA DoD entity, uses the latest SSU infomation to prepare an updated Reference Image for OS deployment across multiple enviroments. The REQUIREMENT to stay updated AT DEPLOY TIME includes current SSU. Please fix this resource so recently given. They cannot wait for WU, SCCM, or othe

[2019-04-29 12:58] mypil commented on #3375
@officedocsbot assign @mypil

[2019-04-29 12:59] mypil commented on #3375
@iadgovuser1 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-29 13:00] mypil commented on #3248
@officedocsbot assign @mypil

[2019-04-29 13:00] mypil commented on #3248
@sebhe - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-29 13:01] mypil commented on #3367
@officedocsbot assign @mypil

[2019-04-29 13:01] mypil commented on #3367
@jwojan - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-29 13:22] mypil commented on #3381
@officedocsbot assign @mypil

[2019-04-29 13:22] mypil commented on #3381
@amirsc3 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro  writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-29 13:24] Reeced40 commented on #3381
@amirsc3 Thank you for reaching out and helping improve MS docs. I'll investigate further and let you know.

[2019-04-29 13:33] tigeraaditya opened #3391 "Undo SharedPC Mode?"
Is it possible to turn 'OFF' shared PC Mode by changing the Boolean value of OMA-URI policy to 'False'? Because in my experience pushing such a policy didn't disable all the rest of the policies pushed on the device from Intune. For example all the policies listed in this article: https://docs.microsoft.com/en-us/windows/configuration/set-up-shared-or-guest-pc#policies-set-by-shared-pc-mode were s

[2019-04-29 14:49] mypil commented on #3268
@officedocsbot assign @mypil

[2019-04-29 15:08] get-itips commented on #3366
Hello @Reittier
Thanks for your feedback, I created a PR to correct the documentation.
About the error you are experiencing whilte booting the Image, I encourage you to please follow this link to contact support for Windows 10 products: https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10

Thank you!

[2019-04-29 15:13] mypil commented on #3366
@officedocsbot assign @mypil

[2019-04-29 15:18] mypil commented on #3377
@officedocsbot assign @mypil

[2019-04-29 15:19] mypil commented on #3377
@vanderl2796 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-29 15:30] get-itips commented on #3268
Hello @jszabo98 thanks for your feedback. I created PR to correct the Ps script that is present on the article, I appreciate. About the other question, currently, I encourage you to look at this resource https://docs.microsoft.com/en-us/windows/client-management/mdm/index to check for supported procedures.
Thanks!

[2019-04-29 15:43] mypil commented on #3289
@officedocsbot assign @mypil

[2019-04-29 15:44] mypil commented on #3289
@Tdiwestyguy - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-29 16:02] mypil commented on #3205
@AbfSailor - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-04-29 16:04] mypil commented on #3321
@officedocsbot close

[2019-04-29 16:04] #3321 closed

[2019-04-29 16:09] jaimeo commented on #3390
We have reported this to the people who own that page.

[2019-04-29 16:09] mypil commented on #3010
@officedocsbot close

[2019-04-29 16:09] #3010 closed

[2019-04-29 16:11] mypil commented on #3053
@flippyboy - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-04-29 16:17] AbfSailor commented on #3205
Thank you Joyce! :)

On Mon, Apr 29, 2019 at 9:02 AM Joyce Y. <notifications@github.com> wrote:

[2019-04-29 16:19] mypil commented on #3225
@scout249 - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  **https://docs.microsoft.com/office365/admin/contact-support-for-business-products**

If

[2019-04-29 16:21] geakin commented on #3203
grammatical corrections marked in bold italics-
----------------

How many is **_adequate?_**
How can you find out how many domain controllers are needed? You can use performance monitoring on your domain controllers to determine existing authentication traffic. Windows Server 2016 includes the KDC AS Requests performance counter. You can use these counters to determine how much of a domain **_con

[2019-04-29 16:22] Gtfinchy commented on #3390
thank you!

/** Glenn Fincher -  gfincher@live.com<mailto:gfincher@live.com> - (256) 565-9958 **/  <mailto:gfincher@live.com>

________________________________
From: jaimeo <notifications@github.com>
Sent: Monday, April 29, 2019 12:09 PM
To: MicrosoftDocs/windows-itpro-docs
Cc: Gtfinchy; Comment
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Latest Servicing Stack Updates (#3390)

We have reporte

[2019-04-29 16:24] mypil commented on #3387
@officedocsbot assign @mypil

[2019-04-29 16:24] mypil commented on #3388
@officedocsbot assign @mypil

[2019-04-29 16:25] mypil commented on #3263
@officedocsbot assign @mypil

[2019-04-29 16:25] jaimeo commented on #3388
I've relayed this query to the product SMEs for this area.

[2019-04-29 16:27] mypil commented on #3387
@lightupdifire - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-29 16:29] mypil commented on #3391
@officedocsbot assign @mypil

[2019-04-29 16:30] mypil commented on #3391
@tigeraaditya - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-29 16:42] mypil commented on #3263
@bally-singh - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-29 17:06] hyoshioka0128 opened #3394 "[LOC]Showing "**[ファイルの削除のみ行う] **" (extra asterisks appears)"
https://docs.microsoft.com/ja-jp/education/windows/use-set-up-school-pcs-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: e2ca5807-f011-cdd1-eb80-c74655aa4738
* Version Independent ID: fe016307-69a4-ec63-4979-eac841d13c3c
* Content: [学校用 PC のセットアップ アプリを使用する](https://docs.microsoft.com/ja-jp/education/windows/use-set-up-school-pcs-app)
* Content Sou

[2019-04-29 17:07] hyoshioka0128 opened #3395 "[パーソナル設定] needs to be replaced with [個人用設定]"
https://docs.microsoft.com/ja-jp/windows/configuration/windows-10-start-layout-options-and-policies

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 2af6b2fc-a4ad-bed9-1e52-e0591559626e
* Version Independent ID: 841feed2-bb25-0348-bd8f-be7d4c70a405
* Content: [Windows 10 のスタート画面とタスク バーのレイアウトを管理する (Windows 10)](https://docs.microsoft.com/ja-jp/windows/c

[2019-04-29 17:07] hyoshioka0128 opened #3396 "[よく使われるアプリを表示する] needs to be replaced with [よく使うアプリを表示する]"
https://docs.microsoft.com/ja-jp/windows/configuration/windows-10-start-layout-options-and-policies

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 2af6b2fc-a4ad-bed9-1e52-e0591559626e
* Version Independent ID: 841feed2-bb25-0348-bd8f-be7d4c70a405
* Content: [Windows 10 のスタート画面とタスク バーのレイアウトを管理する (Windows 10)](https://docs.microsoft.com/ja-jp/windows/c

[2019-04-29 17:09] Justinha commented on #2472
@SwiftOnSecurity Thanks for the suggestions. Our engineering team opened a bug to revisit the name. I think @lindspea is helping submit the doc update in the interim. Thanks to everyone for the help!

[2019-04-29 17:11] nenonix commented on #3203
@bryannso Thank you for the feedback.  I will look into all of this. Just a heads-up about MSFT style, which does not always follow the general rules. I will post back here when I have made changes.

[2019-04-29 17:11] haselton commented on #3059
I'll review when I have a minute @edgarol

[2019-04-29 17:15] junk-erikm commented on #1556
I received this same error after enabling the Windows Defender Application Guard feature. Disabling it and rebooting resolved it.

[2019-04-29 17:23] illfated commented on #3208
@Tower7Bro : The suggested amendment to the documentation page has been closed, due to the fact that the ATP Portal is in a preview phase and that the proper documentation is still being worked on.
(see https://github.com/MicrosoftDocs/windows-itpro-docs/pull/3344#issuecomment-487666339 )

The conclusion is that this issue may be closed too, based on the feedback from the ATP team.

[2019-04-29 17:53] mypil commented on #3394
officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-29 17:53] mypil commented on #3396
officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-29 17:53] mypil commented on #3395
officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-29 17:55] mypil commented on #3395
@officedocsbot assign @dongmicro

[2019-04-29 17:55] mypil commented on #3394
@officedocsbot assign @dongmicro

[2019-04-29 17:55] mypil commented on #3396
@officedocsbot assign @dongmicro

[2019-04-29 17:56] mypil commented on #3395
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-29 17:56] mypil commented on #3394
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-29 17:56] mypil commented on #3396
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-29 17:59] Typhoon87 opened #3398 "Silent Administrative installation"
Is it supported to have the dock firmware pushed out through a management system like SCCM to administratively update many docks quickly? Having trouble finding documentation for or against this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a7b356e-3dbd-7f59-845e-a92e05865a52
* Version Independent ID: 711c5497-373f-

[2019-04-29 18:04] jaimeo commented on #3390
We believe this is fixed. Do let us know if it's still not loading for you.

[2019-04-29 18:06] alexfreu commented on #3390
Looks good. Thanks a lot!

[2019-04-29 18:19] Niglb opened #3399 "Not Applicable"
I have been attempting to test Application Guard for Edge via InTune - on Win10 Pro devices this comes through as 'Not Applicable'. Is Ent required despite the OS requirements outlined here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f43df7b-6ead-de5a-2e41-4d49978ab485
* Version Independent ID: 5497d300-cb21-55f3-

[2019-04-29 18:36] Justinha commented on #3399
@Niglb I'll confirm. Can you confirm you are trying on 1803 or higher?

[2019-04-29 18:51] Justinha commented on #1015
take a look here: https://docs.microsoft.com/en-us/windows/security/information-protection/bitlocker/bitlocker-group-policy-settings#a-href-idbkmk-rec3astore-bitlocker-recovery-information-in-active-directory-domain-services-windows-server-2008-and-windows-vista

[2019-04-29 19:58] Sidans commented on #1015
Hello
thank you for the information, but the only section that talks about storing Bitlocker key to AD applies to windows 2008 and vista:
[cid:04fca661-d96b-493c-8e40-36882cf72883]
________________________________
From: Justin Hall <notifications@github.com>
Sent: Monday, April 29, 2019 2:51 PM
To: MicrosoftDocs/windows-itpro-docs
Cc: Sidans; Comment
Subject: Re: [MicrosoftDocs/windows-itpro-docs]

[2019-04-29 20:02] Justinha commented on #1015
@Sidans my bad, here it is: https://docs.microsoft.com/en-us/windows/security/information-protection/bitlocker/bitlocker-group-policy-settings#a-href-idbkmk-rec1achoose-how-bitlocker-protected-operating-system-drives-can-be-recovered

See the notes below the table for info about storing to AD on prem.

[2019-04-29 21:28] Sidans commented on #1015
Hello
I still don't see it
could you give me an exact keyword that I can search on the page.
it still looks the same as previous link
thanks

________________________________
From: Justin Hall <notifications@github.com>
Sent: Monday, April 29, 2019 4:02 PM
To: MicrosoftDocs/windows-itpro-docs
Cc: Sidans; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Trusted Platform Module Services: Turn

[2019-04-29 21:39] Niglb commented on #3399
Confirmed - I am actually testing 1903 currently.

[2019-04-29 21:55] Justinha commented on #1015
The policy name is Choose how BitLocker-protected operating system drives can be recovered. In the Reference section below the table, it says:
In Save BitLocker recovery information to Active Directory Domain Services, choose which BitLocker recovery information to store in Active Directory Domain Services (AD DS) for operating system drives. If you select Store recovery password and key packages,

[2019-04-30 05:39] j0rt3g4 commented on #2928
Hello @rewt1

I will try to answer most of these:

-  What is the recommended approach regarding subscriptions?
Yes, of course, you can log up to 5k events per second on any subscription or computer.
So if you want to have events for 3k+ and computers, there's no possible way you can dimension that into a single "big subscription" you'd need to have a bunch of servers for logging and also a bunch

[2019-04-30 05:42] j0rt3g4 commented on #2928
@mypil  there's no PR on this one since the base of the questions is technical. So I'd recommend if they have an enterprise or premier subscription, contact them or a partner to help them to determine the technical answers

[2019-04-30 05:56] MaratMussabekov commented on #3377
Hello @vanderl2796 ,
**but on my 1806 version of Windows 10 the file is "bootmgr.efi" and is in the root of the system partition. There is no bootmgrw.efi?** - there should be bootmgrw.efi, but it is not located in system partition, it is located in motherboard NVRAM. You can read more [here](https://docs.microsoft.com/windows-hardware/manufacture/desktop/bcd-system-store-settings-for-uefi)
Thank

[2019-04-30 06:03] ljflevy commented on #2790
My memory integrity settings switch greys out when switched on, and loading sliding dots animation happens, but nothing else.  I refresh the memory integrity settings page during this, then the page is back to having the setting turned off.
As a result, core isolation can't be turned on, and its settings page won't tell me if my hardware doesn't qualify for it.
Win10 Home build 18632.86

[2019-04-30 06:14] j0rt3g4 commented on #3055
@mypil  I consider that the links are correct and no changes are required. Please confirm with the author.

[2019-04-30 07:18] lightupdifire commented on #3388
Hello,
Small update of new tests, I try to test Google Chrome, test is to get WipAppid from Device Health and use it in WIP policy, so we don't ask user to go to GPEDIT and use AppLocker to export App info...

I see in Device Health the WipAppid as: "O=GOOGLE LLC, L=MOUNTAIN VIEW, S=CA, C=US\GOOGLE CHROME\CHROME.EXE\74.0.3729.108"

Seems that this "WipAppid" should be separated into backslashes:
P

[2019-04-30 09:17] mypil commented on #3293
@officedocsbot assign @mypil

[2019-04-30 09:17] mypil commented on #3385
@officedocsbot assign @mypil

[2019-04-30 09:17] mypil commented on #3345
@officedocsbot assign @mypil

[2019-04-30 09:59] Reeced40 commented on #3293
@marcosmcampos Thank you, I will have the team look into this.

[2019-04-30 09:59] mypil commented on #3293
@marcosmcampos - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-30 10:00] mypil commented on #3385
@NoName76 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-30 10:00] mypil commented on #3345
@Scriptimus - - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-30 10:02] BigDaddy2012 commented on #880
https://tech.xenit.se/windows-10-subscription-activation-hybrid-azure-ad-joined-devices/

Have a look at this guys..

[2019-04-30 10:04] Reeced40 commented on #3385
@NoName76 Thank you, I will have the team look at it and add the updated screenshots.

[2019-04-30 10:21] Reeced40 commented on #3345
@Scriptimus Thank you, I will look to update this as soon as I can.

[2019-04-30 10:47] marcosmcampos commented on #3255
I'm having the exact behavior on my fresh install of Win10 Pro. It also throws a message saying it's not supported on that version of Windows 10.

[2019-04-30 11:11] mypil commented on #3055
@andreabichsel @Justinha - can you please share your insights on this issue?

Thank you.

[2019-04-30 11:17] mypil commented on #2928
@rewt1 - From our understanding, the issue has been answered by @j0rt3g4. If you require technical support for this issue, the best option is for you to open a service ticket so this can get resolved ASAP. Based on outcome let us know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub

[2019-04-30 12:54] hyoshioka0128 opened #3405 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/intelligence/unwanted-software

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 8f28f994-ad0f-72e5-79d2-6898421cb2fd
* Version Independent ID: dbb83bbb-73cc-8233-15fb-1363b8ad1cd1
* Content: [Autopilot デバイスの BitLocker 暗号化アルゴリズムの設定](https://docs.microsoft.com/ja-jp/windows/deployment/wi

[2019-04-30 13:08] cloudtroll commented on #3263
@mypil To add to my comment. Not only do SCCM imaged Hybrid Azure joined machines receive the Enrollment page, but the reason they get stuck is because the users dont have an Intune license. This entirely defeats the purpose of have "Co-managed" machines where your workloads are split.

Now I cant simply have an on-premise AD authenticated user sign into a machine without being stuck at this page.

[2019-04-30 13:18] hyoshioka0128 opened #3406 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/intelligence/unwanted-software

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 88462c9b-1c48-c9aa-b376-dec60af94941
* Version Independent ID: f8914b77-3c94-9814-b944-9d7deed9660e
* Content: [望ましくないソフトウェア](https://docs.microsoft.com/ja-jp/windows/security/threat-protection/intelligence

[2019-04-30 13:18] hyoshioka0128 opened #3407 "[LOC] "アプリ & 機能" needs to be replaced with "アプリと機能""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/intelligence/unwanted-software
---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 88462c9b-1c48-c9aa-b376-dec60af94941
* Version Independent ID: f8914b77-3c94-9814-b944-9d7deed9660e
* Content: [望ましくないソフトウェア](https://docs.microsoft.com/ja-jp/windows/security/threat-protection/intelligence/

[2019-04-30 13:20] hyoshioka0128 opened #3408 "[LOC] "アプリ & 機能" needs to be replaced with "アプリと機能""
https://docs.microsoft.com/ja-jp/windows/application-management/add-apps-and-features

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ecb7910b-900c-49cb-46ae-0c1de7cf3df6
* Version Independent ID: 5f7b8dba-d1df-95b0-8e54-32a729a5cf27
* Content: [Windows 10 - アプリ & 機能からアプリを追加する方法](https://docs.microsoft.com/ja-jp/windows/application-management/add-apps

[2019-04-30 13:22] mypil commented on #3271
@juanand - From our understanding, the issue you raised has been answered by jaimeo. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-04-30 13:32] mypil commented on #3049
@Justinha - Do you have any updates on this? Thank you.

[2019-04-30 13:36] mypil commented on #3205
@officedocsbot close

[2019-04-30 13:36] #3205 closed

[2019-04-30 13:37] mypil commented on #3208
@officedocsbot close

[2019-04-30 13:37] #3208 closed

[2019-04-30 14:09] mypil commented on #3265
@mschrisran - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-30 14:09] mypil commented on #3265
@officedocsbot close

[2019-04-30 14:09] #3265 closed

[2019-04-30 14:20] illfated commented on #3407
Oh. Took me a moment to discover that the only difference is the different letter for **&** ---- **と**
@dongmicro: Will you be able to follow up on this one?

[2019-04-30 14:42] Justinha commented on #3012
@alrosado @RonaldAi @mypil Thanks for the contribution!

[2019-04-30 15:06] mypil commented on #3012
@alrosado - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-04-30 15:19] mypil commented on #2680
@officedocsbot assign @mypil

[2019-04-30 15:22] mypil commented on #2680
@mvaneijken - Thank you for submitting feedback.

When I checked on the article, I cannot find the EventID 360 link that you mentioned in this issue. This could mean that this link was removed from this article.

Thank you.

[2019-04-30 15:25] mypil commented on #3405
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-04-30 15:25] mypil commented on #3406
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-04-30 15:25] mypil commented on #3407
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-04-30 15:25] mypil commented on #3408
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-04-30 15:25] mypil commented on #3408
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-30 15:25] mypil commented on #3407
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-30 15:25] mypil commented on #3406
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-30 15:26] mypil commented on #3405
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-30 15:43] hmcmtg commented on #3390
The links for Windows Server 2016 and 2019 are broken

[2019-04-30 15:49] jaimeo commented on #3390
I'll let the owners of that page know about the broken links.

[2019-04-30 16:10] Sidans commented on #1015
thanks
________________________________
From: Justin Hall <notifications@github.com>
Sent: Monday, April 29, 2019 5:55 PM
To: MicrosoftDocs/windows-itpro-docs
Cc: Sidans; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Trusted Platform Module Services: Turn on TPM backup to Active Directory Domain Services (#1015)

The policy name is Choose how BitLocker-protected operating system drives c

[2019-04-30 16:57] illfated commented on #2790
@ljflevy : The article says "Windows 10", but the intended target audience is business IT Pro where Windows 10 Pro is used in a domain configuration (or at least in a managed environment). I don't think it is supported on Windows 10 Home (but I could be mistaken). To put it simple, I would not bet money on it working on Windows 10 Home as such (unless you got it delivered as a complete solution fo

[2019-04-30 20:13] e0i commented on #2472
@officedocsbot close

[2019-04-30 20:14] #2472 closed

[2019-04-30 20:14] e0i commented on #2518
@skille

With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thanks for your feedback.

[2019-04-30 20:14] e0i commented on #2518
@officedocsbot close

[2019-04-30 20:14] #2518 closed

[2019-04-30 20:15] e0i commented on #1957
@officedocsbot close

[2019-04-30 20:15] #1957 closed

[2019-04-30 20:32] Justinha commented on #3049
@mypil yes a link to how to setup RMS with WIP appears now. I just added another link to the PS cmdlet to use to get the template ID. After that appears later today, this should be ready to close, and we can all ask for a raise :). Thanks to @dotraphael and everyone else for their help. It's great to get the SCCM steps updated.

[2019-04-30 20:44] e0i commented on #2342
@mathit1

With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thanks for your feedback.

[2019-04-30 20:44] e0i commented on #2342
@officedocsbot close

[2019-04-30 20:44] #2342 closed

[2019-04-30 20:50] Justinha commented on #3050
@alexverboon Thanks for the suggestion. Can you share how you enabled the debug logging? We'll add that too. I've found some older references to the Application Compatibility toolkit but they seem outdated.

[2019-04-30 21:00] Justinha commented on #3399
@Niglb Engineering confirmed Pro is supported since 1803. Do other system requirements seems set?

[2019-04-30 21:08] vboyev-MSFT opened #3411 "So you run MpCmdRun -ValidateMapsConnection"
and you get a strange error code with no explanation (like 80058015) and no where to figure out what it means, no references for errors, let alone how to fix it.

Can we publish common error codes and how to fix them or what to check? Please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f86b0db3-f979-bd1f-78a4-412475

[2019-04-30 21:09] vboyev-MSFT commented on #2607
Default path is %ProgramFiles%\Windows Defender\MpCmdRun.exe

[2019-04-30 22:54] Justinha commented on #3055
@gaknigge Thanks you raise a great point. We've been using WD ATP as Applies to value for many Windows 10 security topics. Our goal is to present our security offerings as one comprehensive set of capabilities, all available with WD ATP and an E5 license, and we want the Applies to value to help reinforce that message.
So we could add inline with the text that WD ATP does not support WDAV exclusio

[2019-04-30 23:03] j0rt3g4 commented on #3055
@justinha what is the links and where it should be pointed to? I'd need specifics so I can directly add the note to a pr.

[2019-04-30 23:31] Justinha commented on #3055
@j0rt3g4 I was thinking we could add what @gaknigge suggested in his comment:
Windows Defender exclusions, however they are created, are not used by ATP. See, for example, https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-atp/defender-compatibility-windows-defender-advanced-threat-protection. "Windows Defender ATP does not adhere to the Windows Defender Antivirus

[2019-04-30 23:56] hyoshioka0128 opened #3412 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/passwordless-strategy

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6ca080bd-ed37-60a8-ec22-b1929166ff0c
* Version Independent ID: d2742e0c-9d66-4b1f-8555-a1fb1546455b
* Content: [パスワードレス戦略](https://docs.microsoft.com/ja-jp/windows/security/identity-protection/h

[2019-05-01 00:00] hyoshioka0128 opened #3413 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9f709fd4-0b5d-b238-4060-222d550cd538
* Version Independent ID: fb3f29da-2236-c47d-6bea-8efbcec8d7d3
* Content: [AADJ オンプレミス シングル サインオンのシングル サインオンの証明書の使用](https://docs.microsoft.com/ja-jp/wi

[2019-05-01 00:53] DaniHalfin commented on #2936
I'll try looking for the right resource. Also, @jdeckerms won't be responsive going forward.

[2019-05-01 01:04] j0rt3g4 commented on #3055
Adding link on PR #3414

[2019-05-01 09:10] illfated commented on #3408
The replacement could be achieved easily by reusing the **と** character from the page title.
Then again, I don't know if this needs to be worked on in some kind of automated translation process.

[2019-05-01 09:41] illfated commented on #1907
Maybe one of the 2 commits in 2019 made changes in order for the information to become visible, so the question is less relevant now?
(https://github.com/MicrosoftDocs/windows-itpro-docs/commits/master/windows/deployment/deploy-windows-mdt/create-a-windows-10-reference-image.md)

[2019-05-01 09:45] illfated commented on #2652
Relevant information:
- https://docs.microsoft.com/en-us/windows/deployment/update/waas-overview#naming-changes

[2019-05-01 09:47] illfated commented on #2652
@danjpadgett : Could you help us by pointing out more keywords and phrases you find to be outdated in the article?

[2019-05-01 10:01] mypil commented on #3398
@officedocsbot assign @mypil

[2019-05-01 10:02] mypil commented on #3398
@Typhoon87 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-01 10:03] illfated commented on #1480
For future readers of this issue ticket:
Closed by update in commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/e007979d57003033e13ce6808fd2cf3bd549e7b7

[2019-05-01 10:16] illfated commented on #3406
Maybe it would be better to use the HTML code `&#62;` instead of the actual `>` character?

[2019-05-01 10:18] illfated commented on #3405
Maybe it would be better to use the HTML code `&#62;` instead of the actual `>` character?
It does work to produce a visible Greater Than ( &#62; ) symbol, as used in the Github text.
(Then again, I don't know if this needs to be worked on in some automated process.)

[2019-05-01 10:30] illfated commented on #3398
A similar question has been asked in #1679, but not received any news or updates yet. It has only been communicated to the Surface engineering team to be considered in their future product plans. (ref. https://github.com/MicrosoftDocs/windows-itpro-docs/issues/1679#issuecomment-424808499)

[2019-05-01 10:36] illfated commented on #3398
@Typhoon87 : I can only make educated guesses for why we are not seeing any information about this type of feature yet. There may be a need for further development to make the software package support silent administrative application, to avoid issues with missing connection with the Surface dock, handling errors and so on. I hope the Surface engineering team can provide some kind of confirmation

[2019-05-01 10:38] mypil commented on #3247
@officedocsbot assign @mypil

[2019-05-01 10:40] mypil commented on #3247
@alwaysautomateit - Thank you for submitting feedback.

From our understanding, the issue has been answered by illfated, BR77BE and appcompatguy. If you feel it hasn't been resolved please re-open this issue.

Thank you for engaging with the community here for the docs.

[2019-05-01 11:07] mypil commented on #3386
@officedocsbot assign @mypil

[2019-05-01 11:09] mypil commented on #3276
@officedocsbot assign @mypil

[2019-05-01 11:10] mypil commented on #3250
@officedocsbot assign @mypil

[2019-05-01 11:15] mypil commented on #3260
@officedocsbot assign @mypil

[2019-05-01 11:16] mypil commented on #3260
@klishb - Thank you for submitting feedback.

From our understanding, the issue has been answered by illfated and jdeckerms. If you feel it hasn't been resolved please re-open this issue.

Thank you for engaging with the community here for the docs.

[2019-05-01 11:17] mypil commented on #3156
@officedocsbot assign @mypil

[2019-05-01 11:18] mypil commented on #3156
@Justinha - Do you have any updates on this?

Thank you.

[2019-05-01 11:25] illfated commented on #3394
Looks like the translation (script?) has made a mistake in the 4. line in the second section of "Prepare existing PC account for new setup":

https://docs.microsoft.com/ja-jp/education/windows/use-set-up-school-pcs-app#%E6%97%A2%E5%AD%98%E3%81%AE-pc-%E3%82%A2%E3%82%AB%E3%82%A6%E3%83%B3%E3%83%88%E3%82%92%E6%96%B0%E3%81%97%E3%81%84%E3%82%BB%E3%83%83%E3%83%88%E3%82%A2%E3%83%83%E3%83%97%E3%82%92%E6%BA

[2019-05-01 11:43] mypil commented on #3411
@officedocsbot assign @mypil

[2019-05-01 11:43] mypil commented on #3411
@vboyev-MSFT - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind pl

[2019-05-01 11:44] mypil commented on #3413
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-01 11:44] mypil commented on #3412
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-01 11:45] mypil commented on #3412
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-05-01 11:45] mypil commented on #3413
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-05-01 11:57] mypil commented on #3049
@dotraphael - From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-01 11:57] mypil commented on #3049
@officedocsbot close

[2019-05-01 11:57] #3049 closed

[2019-05-01 11:59] illfated commented on #3412
Maybe it would be better to use the HTML code `&#62;` instead of the actual > character?
It does work to produce a visible Greater Than ( &#62; ) symbol, as used in the Github text.
(Then again, I don't know if this needs to be worked on in some automated process.)

[2019-05-01 12:00] mypil commented on #3053
@officedocsbot close

[2019-05-01 12:00] #3053 closed

[2019-05-01 12:00] illfated commented on #3413
Maybe it would be better to use the HTML code `&#62;` instead of the actual > character?
It does work to produce a visible Greater Than ( &#62; ) symbol, as used in the Github text.
(Then again, I don't know if this needs to be worked on in some automated process.)

[2019-05-01 12:03] mypil commented on #3355
@officedocsbot close

[2019-05-01 12:03] #3355 closed

[2019-05-01 12:04] mypil commented on #3225
@officedocsbot close

[2019-05-01 12:04] #3225 closed

[2019-05-01 12:12] mypil commented on #3366
@Reittier - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-01 12:15] mypil commented on #3268
@jszabo98 - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-01 12:16] mypil commented on #3342
@SteveHernou - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-01 12:19] Air-Git opened #3416 "Cut and paste error in the article"
Cut and paste error in "Maximum Background Download Bandwidth".
The text does not actually explain what Background and Foreground bandwidth are.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df445cda-3b0a-2ad7-e3cc-23e159013530
* Version Independent ID: a6bb5f97-d350-f7b7-77f7-b0093322289d
* Content: [Delivery Optimiz

[2019-05-01 12:23] illfated commented on #2680
@mypil : The link referred to by @mvaneijken is not a link in the article document, but the link appearing in Event Viewer in Windows 10.

![event358 1](https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/images/event358.png)

The link referred to by @mvaneijken -- https://go.microsoft.com/fwlink/?linkid=832647 -- points to
- https://docs.microsoft.com/windows-

[2019-05-01 12:27] illfated commented on #2680
See also this Technet page (from 1 year ago) for related info:
https://social.technet.microsoft.com/Forums/en-US/3860e01c-abe1-4957-9483-43f131aa5a7d/windows-hello-for-business-user-device-registration-error?forum=win10itprosetup

[2019-05-01 12:31] mypil commented on #2680
@illfated - Thanks for the clarification.

@mvaneijken - I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't m

[2019-05-01 12:31] illfated commented on #2680
@mvaneijken : If your Event ID 360 is on Windows Server 2016, the software may not be updated enough and the so-called "What's new" page may have been moved because of Windows Server 2019.

[2019-05-01 12:51] mypil commented on #3372
@officedocsbot assign @mypil

[2019-05-01 12:58] mypil commented on #3378
@officedocsbot assign @mypil

[2019-05-01 12:59] mypil commented on #3378
@TyeStorm - We would like to follow up. Can you please respond to the query from illfated?

Thank you.

[2019-05-01 13:35] mypil commented on #3379
@officedocsbot assign @mypil

[2019-05-01 13:35] Justinha commented on #3156
@mypil can you submit a pull request? Changes to make:
1. remove the default values section
2. remove the reference to the actual value in the Best practices section
3. For Windows Server 2012 and earlier, add a link to previous versions of this same policy: https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/dn221960(v%3dws.11). You can add this link

[2019-05-01 13:36] mypil commented on #3379
@jwojan - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-01 14:35] mypil commented on #3156
@Justinha - sure, assigning the PR creation to @nenonix.

@nenonix  - please assist in creating a PR for this issue.

Thank you!

[2019-05-01 15:17] Niglb commented on #3399
As far as I can tell yes - I am testing on Lenovo M920q hardware

[2019-05-01 15:22] bertrsh commented on #1753
Can you please post your script here? Very interested. Also interested in forcing the "change password on next logon" flag. Is there a CSP to set this option?

[2019-05-01 16:56] dbdmora commented on #1753
I could no find your email on your profile.  Can you paste the script here?  Do you execute the script via powershell or intune32 app?  Thanks

[2019-05-01 17:14] NagaCSC opened #3420 "If we configure from DC 2016 or Win 10 older version 1709, GPO settings under User Configuration not available"
if you don't find the options in GPO they have to load "policy definition" folders - This is missing in our doc guidence
	https://support.microsoft.com/en-us/help/3087759/how-to-create-and-manage-the-central-store-for-group-policy-administra

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b38868db-0835-79e0-e37e-63fa1b0

[2019-05-01 17:24] NagaCSC opened #3421 "The ADConnect Sync computer might commands might not work if you have latest ADConnect"
you have to use inbuilt GUI "device options" in the ADConnect for HAADJ and Device Writeback
https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-federated-domains

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93cb286c-03a9-187a-77a3-771c1c672342
* Version Independent ID: 875bbfa3-7ee3-9

[2019-05-01 18:47] e0i commented on #3416
@officedocsbot assign @e0i

[2019-05-01 18:51] e0i commented on #3416
Hello, @Air-Git

Thank you for taking the time to provide feedback.

The issue is under investigation and you'll be notified on the go as the content gets updated.

Have a nice day.

[2019-05-01 18:53] e0i commented on #3420
@officedocsbot assign @e0i

[2019-05-01 18:53] e0i commented on #3420
@NagaCSC

Thank you for taking providing feedback.

The issue is under investigation and you'll be notified on the go as the content gets updated.

[2019-05-01 20:41] illfated commented on #3416
More or less obvious that there is a typo in this sentence:

(unexpected word highlighted in **bold** text)

[2019-05-01 20:54] illfated commented on #3416
@Air-Git : Would it help if you look at other pages, like https://www.windowscentral.com/how-limit-foreground-downloads-bandwidth-windows-10-april-2018-update ?
I can quote the paragraph I think is the most relevant:

Other than that, I personally think that the difference between Background and Foreground bandwidth is a technical term which is assumed to be known by IT Professionals.

[2019-05-02 02:13] hyoshioka0128 opened #3423 "[LOC] "Microsoft Intune でソフトウェア更新プログラムを管理します。" needs to be replaced with "Intune でのソフトウェア更新プログラムの管理""
https://docs.microsoft.com/ja-jp/hololens/hololens-updates

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 5a78d719-bf9a-13e4-81ee-4133eb38c4f8
* Version Independent ID: a2955339-7086-7b42-f588-31ee7a53cf3c
* Content: [HoloLens (HoloLens) への更新プログラムを管理します。](https://docs.microsoft.com/ja-jp/hololens/hololens-updates)
* Content Source: [devices/hololens/

[2019-05-02 02:17] hyoshioka0128 opened #3424 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-how-it-works-technology

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 52a63c1d-79e8-8e28-88b8-38b9984cdeda
* Version Independent ID: b88c3dc4-c4aa-4b98-e4b9-ab182975b4c0
* Content: [Windows こんにちは for Business のしくみのテクノロジと用語](https://docs.microsoft.com/ja-jp

[2019-05-02 02:19] hyoshioka0128 opened #3425 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-how-it-works-tech-deep-dive

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ced6f921-0c1b-88fb-a418-edcb779eeacb
* Version Independent ID: 42bd83d0-dda1-0e60-0830-b7a22772fbb0
* Content: [Windows こんにちは for Business のしくみのテクニカル Deep Dive](https://docs.microsof

[2019-05-02 02:27] hyoshioka0128 opened #3426 "[LOC] "Windows こんにちは" needs to be replaced with "Windows Hello""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-faq

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 82ecd7ea-0ecb-cf7b-a1ab-9cda97e5cc0a
* Version Independent ID: 81acb0ad-2d46-bd0b-abb5-7c2e851d7a71
* Content: [Windows こんにちは for Business についてよく寄せられる質問](https://docs.microsoft.com/ja-jp/windows/security/id

[2019-05-02 02:30] hyoshioka0128 opened #3427 "[LOC] Title:"Windows こんにちは for Business よくある質問します。" needs to be replaced with "Windows Hello for Business に関してよく寄せられる質問 (FAQ)""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-faq

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 82ecd7ea-0ecb-cf7b-a1ab-9cda97e5cc0a
* Version Independent ID: 81acb0ad-2d46-bd0b-abb5-7c2e851d7a71
* Content: [Windows こんにちは for Business についてよく寄せられる質問](https://docs.microsoft.com/ja-jp/windows/security/id

[2019-05-02 02:31] hyoshioka0128 opened #3428 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-how-it-works-authentication

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 10fcf686-1781-8a62-16bb-b26b3f5982fd
* Version Independent ID: 37d733ad-e809-1674-ffbc-ae3d0c495423
* Content: [Windows こんにちは for Business のしくみの認証](https://docs.microsoft.com/ja-jp/w

[2019-05-02 02:32] hyoshioka0128 opened #3429 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-how-it-works

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 41c54a83-172e-1d94-b41f-8900a6d5e0ce
* Version Independent ID: ad161c95-bd2c-42e1-065c-d1b7b9db8fed
* Content: [Windows Hello for Business のしくみ](https://docs.microsoft.com/ja-jp/windows/security/id

[2019-05-02 02:33] hyoshioka0128 opened #3430 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-how-it-works-device-registration

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 96185909-5825-db9a-cc04-4045f6dc577e
* Version Independent ID: 9340a575-af61-9c73-7701-702fff99f524
* Content: [Windows こんにちは for Business のしくみのデバイスの登録](https://docs.microsoft.c

[2019-05-02 02:34] hyoshioka0128 opened #3431 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-planning-guide

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 5739fab2-c6db-a7a9-b0e7-2bf4b85912a7
* Version Independent ID: 82c58053-c1d7-d938-1b0f-f3f7f70ada3b
* Content: [Windows Hello for Business 展開の計画](https://docs.microsoft.com/ja-jp/windows/security

[2019-05-02 02:35] hyoshioka0128 opened #3432 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-how-it-works-provisioning

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 7f170bfe-711d-f875-8d5f-a49d3d5113b2
* Version Independent ID: a75c9aa8-b47b-51dd-9b84-c63bb5c6b782
* Content: [Windows こんにちは for Business の方法の動作のプロビジョニング](https://docs.microsoft.com/j

[2019-05-02 02:36] hyoshioka0128 opened #3433 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-overview

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 92f8d124-fd83-f3ab-8249-d11d5967460f
* Version Independent ID: eace54c8-04c9-a717-5ecd-2be8f485cc93
* Content: [Windows Hello for Business (Windows 10)](https://docs.microsoft.com/ja-jp/windows/securit

[2019-05-02 02:50] hyoshioka0128 opened #3434 "[LOC] "Windows こんにちは" needs to be replaced with "Windows Hello""
https://docs.microsoft.com/ja-jp/windows/whats-new/ltsc/whats-new-windows-10-2016

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 47315677-593e-c9dd-fd2f-6942992118ba
* Version Independent ID: 44d48559-bad0-4284-b735-a5933f16caa5
* Content: [Windows 10 Enterprise 2016 LTSC の新機能](https://docs.microsoft.com/ja-jp/windows/whats-new/ltsc/whats-new-windows

[2019-05-02 02:51] hyoshioka0128 opened #3435 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
- [ ] https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-manage-in-organization

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 789566d4-463a-4c64-bf89-fb963ac29f80
* Version Independent ID: 02946732-bb29-d8e6-cedd-7f5e508f8798
* Content: [組織での Windows Hello の管理 (Windows 10)](https://docs.microsoft.com/ja-jp

[2019-05-02 02:52] hyoshioka0128 opened #3436 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-key-trust-validate-ad-prereq

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: a961fb78-c161-0cc2-8e4a-203d14043e43
* Version Independent ID: 95f517ce-c33a-ac29-d730-2c09bac31bfc
* Content: [Active Directory の前提条件の検証 (Windows Hello for Business)](https://docs.

[2019-05-02 02:53] hyoshioka0128 opened #3437 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-key-trust-prereqs

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: c47de28c-e44b-ca73-efde-fae303e0d3f8
* Version Independent ID: 71202a24-5b2f-844a-acce-d48c46873f2b
* Content: [ハイブリッド キー信頼 Windows こんにちは for Business の前提条件 (Windows こんにちは for Business)

[2019-05-02 02:55] hyoshioka0128 opened #3438 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-features

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 4a146880-235b-a69c-3e9d-a3fa56a25389
* Version Independent ID: c2c226b4-17ef-8888-9e1b-e20cf3273c3a
* Content: [Windows Hello for Business の機能](https://docs.microsoft.com/ja-jp/windows/security/identit

[2019-05-02 02:55] hyoshioka0128 opened #3439 "[LOC] "Windows こんにちは" needs to be replaced with "Windows Hello""
https://docs.microsoft.com/ja-jp/windows/configuration/wcd/wcd-windowshelloforbusiness

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 16a16aa5-4f65-b7af-6973-0479b2d8309d
* Version Independent ID: 696ec674-2dd0-22c8-367b-70caac41ea9a
* Content: [WindowsHelloForBusiness (Windows 10)](https://docs.microsoft.com/ja-jp/windows/configuration/wcd/wcd-windo

[2019-05-02 02:57] hyoshioka0128 opened #3440 "[LOC] "Windows こんにちは" needs to be replaced with "Windows Hello""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-why-pin-is-better-than-password

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: c34dbafa-df3c-a5a5-32d5-2ce152893534
* Version Independent ID: cebdd9a6-45d7-6306-373c-7d31121f9e16
* Content: [PIN がパスワードより安全な理由 (Windows 10)](https://docs.microsoft.com/ja-jp/w

[2019-05-02 03:13] hyoshioka0128 opened #3441 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/passwordless-strategy

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6ca080bd-ed37-60a8-ec22-b1929166ff0c
* Version Independent ID: d2742e0c-9d66-4b1f-8555-a1fb1546455b
* Content: [パスワードレス戦略](https://docs.microsoft.com/ja-jp/windows/security/identity-protection/h

[2019-05-02 03:23] hyoshioka0128 opened #3442 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-cert-trust-policy-settings

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 0ec90f64-9a12-fdf9-25db-0e83cf77b7a2
* Version Independent ID: fb68756c-2d0c-c28c-4bda-ef6a876576e7
* Content: [Windows Hello for Business ポリシー設定の構成 (Windows Hello for Business)](http

[2019-05-02 03:26] hyoshioka0128 opened #3443 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-cert-trust-prereqs

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 02eda72c-ccd2-e8d8-4f7e-6edf95b79408
* Version Independent ID: be08aee5-2403-c131-0f39-005e1271d5f1
* Content: [ハイブリッド Windows Hello for Business の前提条件 (Windows Hello for Business)](ht

[2019-05-02 03:28] hyoshioka0128 opened #3444 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-cert-whfb-settings-ad

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 7fc56ec2-946c-8e6b-b3f2-56464aec223d
* Version Independent ID: c262688f-5aea-ea34-1a9c-fe97bc506921
* Content: [ハイブリッド Windows Hello for Business の構成 - Active Directory (AD)](https:

[2019-05-02 03:28] hyoshioka0128 opened #3445 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-videos

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 23a14bad-9353-85fa-7f9f-b5db2be529f6
* Version Independent ID: ade91093-e916-281c-5645-00b4c3643d1c
* Content: [Windows Hello for Business に関するビデオ](https://docs.microsoft.com/ja-jp/windows/security/ident

[2019-05-02 03:29] hyoshioka0128 opened #3446 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-key-whfb-settings-ad

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 7b18cbf0-d010-856e-f3d8-8a8926528c6a
* Version Independent ID: 6821f257-cf72-ee6e-e569-698b12b9a760
* Content: [ハイブリッド キー信頼 Windows Hello for Business の構成 - Active Directory (AD)](ht

[2019-05-02 03:39] hyoshioka0128 opened #3447 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-identity-verification

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 87e5f5f1-16cf-57e2-bdfc-b090d90437b1
* Version Independent ID: 1662c47f-12cb-147d-25f0-dee98b6c7722
* Content: [Windows Hello for Business (Windows 10)](https://docs.microsoft.com/ja-jp/wi

[2019-05-02 04:48] e0i commented on #1926
@nimojg-microsoft

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-02 04:48] e0i commented on #1926
@officedocsbot close

[2019-05-02 04:48] #1926 closed

[2019-05-02 04:49] e0i commented on #3302
@yamauchikazu

With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thanks for your feedback.

[2019-05-02 04:49] e0i commented on #3302
@officedocsbot close

[2019-05-02 04:49] #3302 closed

[2019-05-02 05:13] hyoshioka0128 opened #3448 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/hololens/hololens-spaces

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 60b3eba3-dd78-9322-f17a-2c83ac26fb01
* Version Independent ID: b4eaae08-3fe6-07ff-6dfc-b581abf3c8ed
* Content: [HoloLens がスペース (HoloLens) のデータを格納する方法](https://docs.microsoft.com/ja-jp/hololens/hololens-spaces)
* Content Source: [devices/hololens/h

[2019-05-02 05:16] hyoshioka0128 opened #3449 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/hololens/hololens-requirements

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 0d158d37-53b7-86dc-d6da-5c0d48862ead
* Version Independent ID: d886f240-d7b0-d458-dc44-6ed70193ca5b
* Content: [エンタープライズにおける HoloLens の要件とよく寄せられる質問 (HoloLens)](https://docs.microsoft.com/ja-jp/hololens/hololens-requirements)
* Content Source

[2019-05-02 05:56] hyoshioka0128 opened #3450 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base#reissue-domain-controller-certificates
---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 43c175ce-52a4-8b46-716f-106b4d55106c
* Version Independent ID: 374a7e9d-6e4f-f188-328b-4ca2651a9481
* Content: [Windows Hello for Business を使用して Azure

[2019-05-02 06:17] hyoshioka0128 opened #3451 "Showing "* https://graph.windows.net/myorganization/users/[userid]、 **[userid]*" (extra asterisks appears)"
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert#prepare-active-directory-certificate-authority

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9f709fd4-0b5d-b238-4060-222d550cd538
* Version Independent ID: fb3f29da-2236-c47d-6bea-8efbcec8d7d3
* Content: [AADJ オンプレミス シングル サインオンのシングル サイ

[2019-05-02 06:18] hyoshioka0128 opened #3452 "Showing "クリックします。* 下操作します" (extra asterisks appears)"
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert#prepare-active-directory-certificate-authority

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9f709fd4-0b5d-b238-4060-222d550cd538
* Version Independent ID: fb3f29da-2236-c47d-6bea-8efbcec8d7d3
* Content: [AADJ オンプレミス シングル サインオンのシングル サイ

[2019-05-02 06:19] hyoshioka0128 opened #3453 "Showing "種類を下スマート カード ログオン] * * 名前。" (extra asterisks appears)"
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert#prepare-active-directory-certificate-authority

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9f709fd4-0b5d-b238-4060-222d550cd538
* Version Independent ID: fb3f29da-2236-c47d-6bea-8efbcec8d7d3
* Content: [AADJ オンプレミス シングル サインオンのシングル サイ

[2019-05-02 06:22] hyoshioka0128 opened #3454 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/hololens/hololens-insider

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dafbb989-d1f4-0411-81ce-f761e83bdeba
* Version Independent ID: e8fdf590-c7f0-6b07-9407-33bdf2ca7453
* Content: [Microsoft HoloLens (HoloLens) の insider preview](https://docs.microsoft.com/ja-jp/hololens/hololens-insider)
* Content Source: [device

[2019-05-02 06:28] hyoshioka0128 opened #3455 "Broken link "インターネット インフォメーション サービスをホスト CRL 配布ポイントを構成します。""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base
![LINK_](https://user-images.githubusercontent.com/40815708/57059180-f8945e00-6cee-11e9-97a5-78e91609866b.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 43c175ce-52a4-8b46-716f-106b4d55106c
* Version Independent ID: 374a7e9d-6e4f-f

[2019-05-02 06:30] hyoshioka0128 opened #3456 "Broken link "ファイル共有をホストに証明書失効リストの準備します。""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base
![LINK_](https://user-images.githubusercontent.com/40815708/57059214-2083c180-6cef-11e9-9c1b-3d8e1d5d153b.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 43c175ce-52a4-8b46-716f-106b4d55106c
* Version Independent ID: 374a7e9d-6e4f-f

[2019-05-02 06:30] hyoshioka0128 opened #3457 "Broken link "発行元証明機関で新しい CRL 配布ポイントを構成します。""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base
![LINK_](https://user-images.githubusercontent.com/40815708/57059228-3abd9f80-6cef-11e9-964f-306dd8dce7b9.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 43c175ce-52a4-8b46-716f-106b4d55106c
* Version Independent ID: 374a7e9d-6e4f-f

[2019-05-02 06:30] joinimran commented on #3250
Hello @kyjeeper , Yes, Machines activated with AD based activations will roll over to subscription-based enterprise edition when users with the assigned license will sign-in to the machine.

Thanks.

[2019-05-02 06:32] hyoshioka0128 opened #3458 "Broken link "CRL を公開します。""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base
![LINK_](https://user-images.githubusercontent.com/40815708/57059249-63459980-6cef-11e9-9654-9707891e52e0.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 43c175ce-52a4-8b46-716f-106b4d55106c
* Version Independent ID: 374a7e9d-6e4f-f

[2019-05-02 06:33] hyoshioka0128 opened #3459 "Broken link "ドメイン コント ローラーの証明書を再発行します。""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base
![LINK_](https://user-images.githubusercontent.com/40815708/57059283-8ff9b100-6cef-11e9-8b7a-9118d702dac3.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 43c175ce-52a4-8b46-716f-106b4d55106c
* Version Independent ID: 374a7e9d-6e4f-f

[2019-05-02 06:35] hyoshioka0128 opened #3460 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/hololens/hololens-install-localized

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9a0d84db-3750-8d0c-d5cd-5dd46e1914cb
* Version Independent ID: 3a3834c5-2420-6a19-2d5c-393fbff59627
* Content: [ローカライズされたバージョン HoloLens (HoloLens) のインストールします。](https://docs.microsoft.com/ja-jp/hololens/hololens-install-localized)
* Cont

[2019-05-02 06:40] hyoshioka0128 opened #3461 "[LOC] "6 月 2018" needs to be replaced with "2018 年 6 月""
https://docs.microsoft.com/ja-jp/hololens/change-history-hololens

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6c020076-03b6-4f41-0494-22c4a6cc07c7
* Version Independent ID: 43c53ffe-4849-47e9-4dab-60c036fe5547
* Content: [Microsoft HoloLens ドキュメントの変更履歴](https://docs.microsoft.com/ja-jp/hololens/change-history-hololens)
* Content Source: [devices/h

[2019-05-02 06:42] hyoshioka0128 opened #3462 "[LOC] "2018 7 月" needs to be replaced with "2018 年 7 月""
https://docs.microsoft.com/ja-jp/hololens/change-history-hololens

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6c020076-03b6-4f41-0494-22c4a6cc07c7
* Version Independent ID: 43c53ffe-4849-47e9-4dab-60c036fe5547
* Content: [Microsoft HoloLens ドキュメントの変更履歴](https://docs.microsoft.com/ja-jp/hololens/change-history-hololens)
* Content Source: [devices/h

[2019-05-02 06:44] hyoshioka0128 opened #3463 "[LOC] "October 2018" needs to be replaced with "2018 年 10 月""
https://docs.microsoft.com/ja-jp/hololens/change-history-hololens

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6c020076-03b6-4f41-0494-22c4a6cc07c7
* Version Independent ID: 43c53ffe-4849-47e9-4dab-60c036fe5547
* Content: [Microsoft HoloLens ドキュメントの変更履歴](https://docs.microsoft.com/ja-jp/hololens/change-history-hololens)
* Content Source: [devices/h

[2019-05-02 06:45] hyoshioka0128 opened #3464 "[LOC] " 年 11 月 2018" needs to be replaced with "2018 年 11 月""
https://docs.microsoft.com/ja-jp/hololens/change-history-hololens

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6c020076-03b6-4f41-0494-22c4a6cc07c7
* Version Independent ID: 43c53ffe-4849-47e9-4dab-60c036fe5547
* Content: [Microsoft HoloLens ドキュメントの変更履歴](https://docs.microsoft.com/ja-jp/hololens/change-history-hololens)
* Content Source: [devices/h

[2019-05-02 06:46] hyoshioka0128 opened #3465 "[LOC] "April 2019" needs to be replaced with "2019 年 4 月""
https://docs.microsoft.com/ja-jp/hololens/change-history-hololens

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6c020076-03b6-4f41-0494-22c4a6cc07c7
* Version Independent ID: 43c53ffe-4849-47e9-4dab-60c036fe5547
* Content: [Microsoft HoloLens ドキュメントの変更履歴](https://docs.microsoft.com/ja-jp/hololens/change-history-hololens)
* Content Source: [devices/h

[2019-05-02 10:06] mypil commented on #3381
@amirsc3  - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-02 10:08] mypil commented on #3381
@officedocsbot close

[2019-05-02 10:08] #3381 closed

[2019-05-02 10:12] mypil commented on #2928
@officedocsbot close

[2019-05-02 10:12] #2928 closed

[2019-05-02 10:13] mypil commented on #3050
@alexverboon - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-02 10:35] mypil commented on #2968
@officedocsbot unassign @OfficeGlobal

[2019-05-02 10:36] mypil commented on #2968
@officedocsbot assign @dongmicro

[2019-05-02 10:37] mypil commented on #3159
@officedocsbot unassign @OfficeGlobal

@officedocsbot assign @dongmicro

[2019-05-02 10:43] mypil commented on #3173
@officedocsbot unassign @OfficeGlobal

@officedocsbot assign @dongmicro

[2019-05-02 10:43] mypil commented on #3192
@officedocsbot assign @dongmicro

[2019-05-02 10:59] MaratMussabekov commented on #1688
Dear @rkemna ,
yes, WS2016 schema is still required (more details [here](https://docs.microsoft.com/windows/security/identity-protection/hello-for-business/hello-hybrid-cert-trust-prereqs))
i will create a PR to make it more clear in the article.
Thank you

[2019-05-02 13:53] PawelFronczak commented on #3395
Investigating in VSO Bug 21440047

[2019-05-02 13:56] PawelFronczak commented on #3396
Investigating in VSO Bug 21440047

[2019-05-02 14:58] alexverboon commented on #3050
HI @Justinha , the events are automatically stored in the Microsoft-Windows-Windows Defender Eventlog, nothing needs to be configured here. The enablement of the Exploit Guard rules can be done through ConfigMgr, Intune or PowerShell.

[2019-05-02 15:32] Typhoon87 commented on #3398
I read the comment that you had mentioned above and it is the same basic question. So I would take that as its not officially supported as of now.
The issue doing this type of process is not easy to convince non technical users to do this. Once you have even a small fleet of these docks this becomes very difficult to ensure the firmware is updated in a timely and organized manner.

Thank you for l

[2019-05-02 16:18] mypil commented on #3398
@illfated - Thanks for your inputs. @Malind19 is currently investigating on this issue. Thanks.

[2019-05-02 16:22] mypil commented on #3345
@Scriptimus - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-02 16:26] Niglb opened #3471 "How to set null"
For ./Vendor/MSFT/Reboot/Schedule/DailyRecurrent – if I wanted to clear the schedule, the documentation states to set it empty / null. How can I do this in the InTune custom policy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a473300-e8f4-8c49-5ac7-d81956f55adf
* Version Independent ID: 7db8e493-d48b-bee9-61af-de60

[2019-05-02 16:31] mypil commented on #2612
@officedocsbot assign @mypil

[2019-05-02 16:32] mypil commented on #2612
@Justinha - Do you have any updates on this?

Thank you.

[2019-05-02 16:34] mypil commented on #3201
@officedocsbot assign @mypil

[2019-05-02 16:39] mypil commented on #3201
@satish860 - We would like to follow up on this. May we know which Microsoft document link you used in reference to this issue? Please share it with us so we can investigate and make the necessary changes to improve the MS document for accuracy.

[2019-05-02 16:40] peteadshead opened #3472 "Where in Event Viewer do the events log"
Trying to use the above and filter events by Event Id but not sure which of the Event Viewer folders i need to reference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8185bbf0-d81c-3787-c916-ace696fcc55e
* Version Independent ID: 44cc7923-6ed4-1e3d-c366-257bd9664edb
* Content: [See how controlled folder access can he

[2019-05-02 16:51] illfated commented on #3471
The page content reads as follows:

Example to configure: 2018-10-25T18:00:00

Based on what I can read here (I don't have access to Enterprise Device Management), I presume that the required format dictates the following empty date & time input:

0000-00-00T00:00:00+00:00

Furthermore, if the date & time field is a text string, I would check if it is possible to remove all of it, leaving it compl

[2019-05-02 16:55] illfated commented on #3471
BTW, I am fairly certain that 2x NewLine (or CarriageReturn/LineFeed pairs) is missing from the following section:

I will take a closer look at the Github source page and see if I can sort out why it looks OK on Github, but not on the docs.microsoft.com page.

[2019-05-02 17:04] mypil commented on #3188
@officedocsbot assign @mypil

[2019-05-02 17:05] mypil commented on #3188
@chrymsft - We would like to follow up on this. May we know which Microsoft document link you used in reference to this issue? Please share it with us so we can investigate and make the necessary changes to improve the MS document for accuracy.

Thank you.

[2019-05-02 17:07] mypil commented on #3167
@officedocsbot assign @mypil

[2019-05-02 17:07] mypil commented on #3167
@Justinha - Do you have any updates on this? Thank you.

[2019-05-02 17:09] Justinha commented on #2612
@mypil yes, sorry for delay but I added the script from @hadeernd to the topic. @hadeernd Thanks for the suggestion! Ideally we could list you as a contributor but I have no way to manually do that. If you would be kind enough to submit contributions like this as a pull request in the future, we will review with engineering, merge and publish the contribution and then you will be listed. If you wa

[2019-05-02 17:57] hadeernd commented on #2612
Your welcome.  I will be contributing more in the future.

Thanks,
-Kareem

On Thu, May 2, 2019 at 10:09 AM Justin Hall <notifications@github.com>
wrote:

[2019-05-02 18:54] jaimeo commented on #3390
We believe this is now fixed.

[2019-05-02 19:12] Air-Git commented on #3416
I have never heard of foreground bandwidth. I have heard of foreground downloads, and download bandwidth, but never foreground download bandwidth, or foreground bandwidth.

________________________________
From: Trond B. Krokli <notifications@github.com>
Sent: 01 May 2019 21:55
To: MicrosoftDocs/windows-itpro-docs
Cc: Anthony Yates; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Cut and p

[2019-05-02 19:43] hmcmtg commented on #3390
Yes, thank you.

[2019-05-02 19:51] Malind19 commented on #3398
@mypil I too find no proper answer as it is officially supported. Every source I found looks like had no good experience with that. So my suggestion is also it is not officially supported. May be we shall confirm with the author.

[2019-05-02 19:52] jseerden commented on #3263
@bally-singh I published a blog post yesterday explaining how you can create a device configuration profile that allows your shared devices to skip the account setup phase of the enrollment status page. Might be of use to you: https://srdn.io/2019/05/fast-sign-in-experience-on-windows-autopilot-enrolled-shared-devices/

[2019-05-02 19:59] Malind19 commented on #3263
@jseerden Thank you for your article. @bally-singh Since Windows 10, version 1803, you can opt-out of the account setup phase. When it is done, the settings will be applied for the users when they access their desktop for the first time. @mypil shall I add this to the article?

[2019-05-02 20:06] Justinha commented on #3050
Thanks @alexverboon that makes sense.

[2019-05-02 21:06] e0i commented on #3433
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:07] e0i commented on #3433
@officedocsbot assign @e0i

[2019-05-02 21:07] e0i commented on #3433
@officedocsbot assign @e0i

[2019-05-02 21:34] e0i commented on #3433
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:34] e0i commented on #3433
@dongmicro Would you follow-up with this localization issue?

[2019-05-02 21:35] e0i commented on #3432
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:35] e0i commented on #3432
@dongmicro Would you kindly review this Japanese localization issue?

[2019-05-02 21:36] e0i commented on #3431
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:36] e0i commented on #3431
@dongmicro Could you assist in resolving this localization issue?

[2019-05-02 21:37] e0i commented on #3430
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:37] e0i commented on #3430
@dongmicro Would you follow-up with this localization issue?

[2019-05-02 21:37] e0i commented on #3429
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:37] e0i commented on #3429
@dongmicro Would you kindly review this Japanese localization issue?

[2019-05-02 21:38] e0i commented on #3428
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:38] e0i commented on #3428
@dongmicro Would you follow-up with this localization issue?

[2019-05-02 21:38] e0i commented on #3427
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:38] e0i commented on #3427
@dongmicro Would you kindly review this Japanese localization issue?

[2019-05-02 21:40] e0i commented on #3426
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:41] e0i commented on #3426
@dongmicro Would you kindly review this Japanese localization issue?

[2019-05-02 21:41] e0i commented on #3425
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:42] e0i commented on #3425
@dongmicro Could you assist in resolving this localization issue?

[2019-05-02 21:42] e0i commented on #3424
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:42] e0i commented on #3424
@dongmicro Would you kindly review this Japanese localization issue?

[2019-05-02 21:43] e0i commented on #3423
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:43] e0i commented on #3423
@dongmicro Would you kindly review this Japanese localization issue?  Thanks.

[2019-05-02 21:44] e0i commented on #3465
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:45] e0i commented on #3465
@dongmicro Would you kindly review this Japanese localization issue?  Thanks.

[2019-05-02 21:45] e0i commented on #3464
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:45] e0i commented on #3464
@dongmicro Could you assist in resolving this localization issue? Thank you.

[2019-05-02 21:46] e0i commented on #3463
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:46] e0i commented on #3463
@dongmicro Could you assist in resolving this localization issue? Thank you.

[2019-05-02 21:48] e0i commented on #3462
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:48] e0i commented on #3462
@dongmicro Could you assist in resolving this localization issue? Thank you.

[2019-05-02 21:57] e0i commented on #3461
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:57] e0i commented on #3461
@dongmicro Would you follow-up with this localization issue?

[2019-05-02 21:58] e0i commented on #3460
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 21:58] e0i commented on #3460
@dongmicro Would you kindly review this Japanese localization issue?  Thanks.

[2019-05-02 22:08] e0i commented on #3458
@officedocsbot assign @e0i

[2019-05-02 22:40] e0i commented on #3458
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 22:45] e0i commented on #3458
@dongmicro It seems that the links with hash anchors are not localized while the actual targets of those anchors have been localized and therefore those links local to the document do not work.

Similar issues:

#3459 #3457 #3456 #3455

Would you kindly review?
Thanks.

[2019-05-02 22:47] e0i commented on #3459
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 22:48] e0i commented on #3459
See: #3458

[2019-05-02 22:49] e0i commented on #3457
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 22:49] e0i commented on #3457
See: #3458

[2019-05-02 22:49] e0i commented on #3456
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 22:49] e0i commented on #3456
See: #3458

[2019-05-02 22:50] e0i commented on #3455
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 22:50] e0i commented on #3455
See: #3458

[2019-05-02 23:00] e0i commented on #3435
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:08] e0i commented on #3435
@dongmicro It looks like the localization software recognized a _proper noun_ (_Hello_) as a _common noun_, resulting in a string where the literal back-translation of it would go like, *"Windows Kon'nichiwa for Business"*.

Similar issues in this manner:

#3434 #3436 #3437 #3438 #3439 #3440 #3441 #3442 #3443 #3444 #3445 #3446 #3447 #3449 #3450

Would you kindly review?

Thanks.

[2019-05-02 23:38] e0i commented on #3434
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:38] e0i commented on #3434
See: #3435

[2019-05-02 23:39] e0i commented on #3436
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:39] e0i commented on #3436
See: #3435

[2019-05-02 23:39] e0i commented on #3437
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:39] e0i commented on #3437
See: #3435

[2019-05-02 23:40] e0i commented on #3438
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:40] e0i commented on #3438
See: #3435

[2019-05-02 23:40] e0i commented on #3439
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:40] e0i commented on #3439
See: #3435

[2019-05-02 23:41] e0i commented on #3440
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:41] e0i commented on #3440
See: #3435

[2019-05-02 23:41] e0i commented on #3441
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:41] e0i commented on #3441
See: #3435

[2019-05-02 23:42] e0i commented on #3442
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:42] e0i commented on #3442
See: #3435

[2019-05-02 23:42] e0i commented on #3443
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:42] e0i commented on #3443
See: #3435

[2019-05-02 23:43] e0i commented on #3444
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:43] e0i commented on #3444
See: #3435

[2019-05-02 23:43] e0i commented on #3445
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:43] e0i commented on #3445
See: #3435

[2019-05-02 23:44] e0i commented on #3446
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:44] e0i commented on #3446
See: #3435

[2019-05-02 23:44] e0i commented on #3447
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:44] e0i commented on #3447
See: #3435

[2019-05-02 23:44] e0i commented on #3449
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:44] e0i commented on #3449
See: #3435

[2019-05-02 23:45] e0i commented on #3450
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:45] e0i commented on #3450
See: #3435

[2019-05-02 23:47] e0i commented on #3448
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:47] e0i commented on #3448
@dongmicro Could you assist in resolving this localization issue? Thank you.

[2019-05-02 23:50] e0i commented on #3405
Similar: #3460 #3413 #3412 #3406 #3448 #3454

[2019-05-02 23:51] e0i commented on #3454
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:51] e0i commented on #3454
@dongmicro Could you assist in resolving this localization issue?

[2019-05-02 23:55] e0i commented on #3159
Similar: #3394 #3453 #3452 #3451

[2019-05-02 23:56] e0i commented on #3451
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 23:57] e0i commented on #3451
@dongmicro Could you assist in resolving this localization issue? Thank you.

Similar issues:

#3159 #3394 #3453 #3452

[2019-05-02 23:59] e0i commented on #3452
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 00:00] e0i commented on #3452
@dongmicro Would you follow-up with this localization issue? Thanks.

Similar issues:

#3159  #3394 #3453 #3451

[2019-05-03 00:01] e0i commented on #3453
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 00:01] e0i commented on #3453
@dongmicro Would you follow-up with this localization issue?

Similar issues:

#3159  #3394 #3452 #3451

[2019-05-03 01:45] e0i commented on #3421
@officedocsbot assign @e0i

[2019-05-03 01:52] e0i commented on #3421
@NagaCSC

The issue is being routed to Windows IT Pro writing team for investigation. You'll be notified with relevant updates as content gets updated.

Thank you for providing feedback.

[2019-05-03 03:06] ljflevy commented on #2790
Sorry i did not read carefully enough, and thank you for taking the time to
reply.

I did find notifications suggesting clearly that my os situation may not be
suitable for memory integrity core isolation, after I opened my
notifications bar, after trying and closing the core isolation settings.

On Tue, 30 Apr 2019, 09:57 Trond B. Krokli, <notifications@github.com>
wrote:

[2019-05-03 04:39] lightupdifire opened #3475 "Deployment steps | future"
Hello,
Are there any plans to optimize this solution and replace/remove script deployment?
Else it looks like we do step back, while we try drive only forward using new solutions from MS products.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f029a728-1f53-4576-a6ca-8a19a92626e6
* Version Independent ID: 85f27ad5-84e2

[2019-05-03 05:11] hyoshioka0128 opened #3476 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/whats-new/ltsc/whats-new-windows-10-2019

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: c696c9ed-b095-68ff-d50d-df345daf8a4a
* Version Independent ID: 50ad3b26-8e9b-6a56-7b3c-56c1374c4747
* Content: [Windows 10 Enterprise 2019 LTSC の新機能](https://docs.microsoft.com/ja-jp/windows/whats-new/ltsc/whats-new-windows

[2019-05-03 05:13] hyoshioka0128 opened #3477 "[LOC] "Windows こんにちは" needs to be replaced with "Windows Hello""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-adequate-domain-controllers

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: c1da1ac4-4e67-5970-6d10-19aac6e853f6
* Version Independent ID: 4f4b45eb-d479-3699-1ef1-a1a20030d675
* Content: [Windows Hello for Business 展開用の適切な数の Windows Server 2016 ドメイン コントローラーの

[2019-05-03 05:41] NeoBeum opened #3478 "tdlrecover.exe - Windows 10.0.18362.XXX - TileDataLayer is deprecated"
tdlrecover.exe is not present in 1903

https://support.microsoft.com/en-us/help/4014193/features-that-are-removed-or-deprecated-in-windows-10-creators-update

Also the following -- needs to get forwarded to the Extensible Storage Engine Team
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00912925-8922-8c5e-fc36-

[2019-05-03 07:00] hyoshioka0128 opened #3480 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/configuration/kiosk-single-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f8f49c3f-ba5c-49e9-fad2-88cac155920a
* Version Independent ID: dc5e1f7e-61a8-bf2c-34b8-4046d024f4c2
* Content: [シングル アプリ キオスク (Windows 10) の設定します。](https://docs.microsoft.com/ja-jp/windows/configuration/kiosk-single-app)
* Content So

[2019-05-03 07:04] hyoshioka0128 opened #3481 "[LOC] "HKEY_ローカル_MACHINE" needs to be replaced with "HKEY_LOCAL_MACHINE""
https://docs.microsoft.com/ja-jp/windows/configuration/kiosk-single-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f8f49c3f-ba5c-49e9-fad2-88cac155920a
* Version Independent ID: dc5e1f7e-61a8-bf2c-34b8-4046d024f4c2
* Content: [シングル アプリ キオスク (Windows 10) の設定します。](https://docs.microsoft.com/ja-jp/windows/configuration/kiosk-single-app)
* Content So

[2019-05-03 07:08] hyoshioka0128 opened #3482 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/deployment/update/waas-configure-wufb

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 1684b30a-3187-85ce-0cf7-10d1b8298b7f
* Version Independent ID: 9b7170fc-2b39-8e46-7898-894a45de8623
* Content: [Windows Update for Business の構成 (Windows 10)](https://docs.microsoft.com/ja-jp/windows/deployment/update/waas-conf

[2019-05-03 07:17] hyoshioka0128 opened #3483 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/deployment/update/waas-manage-updates-wufb

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 2056993d-a700-fba6-8982-e645b182eeea
* Version Independent ID: fb38a86a-cdf6-6fc2-8eb6-fd54f1599f55
* Content: [Windows Update for Business を使った更新プログラムの展開 (Windows 10)](https://docs.microsoft.com/ja-jp/windows/deployment/

[2019-05-03 07:18] hyoshioka0128 opened #3484 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/configuration/provisioning-packages/provisioning-install-icd

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: bae35d21-83b8-2699-f200-2ccc45d5a155
* Version Independent ID: eabb7d11-9b54-dfdd-818e-80b23bdcce73
* Content: [Windows 構成デザイナーのインストール (Windows 10)](https://docs.microsoft.com/ja-jp/windows/configuration

[2019-05-03 07:18] hyoshioka0128 opened #3485 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/deployment/windows-10-pro-in-s-mode

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 3bfdcb45-ac06-394c-6320-252f17f0eb71
* Version Independent ID: 7236e516-fe18-a336-78b4-ff42842619b8
* Content: [S モードから Windows 10 Pro/Enterprise への切り替え](https://docs.microsoft.com/ja-jp/windows/deployment/windows-10-pro-in-s-mo

[2019-05-03 07:19] hyoshioka0128 opened #3486 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/client-management/advanced-troubleshooting-wireless-network-connectivity

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 270b90db-95ba-da60-5559-4f6f3a3bd51c
* Version Independent ID: 8c7dca99-967f-13af-bc15-26d4434f4936
* Content: [高度なワイヤレス ネットワーク接続のトラブルシューティング](https://docs.microsoft.com/ja-jp/windows/client-

[2019-05-03 07:24] hyoshioka0128 opened #3487 "[LOC] "更新 & セキュリティ" needs to be replaced with "更新とセキュリティ""
https://docs.microsoft.com/ja-jp/windows/deployment/update/waas-configure-wufb

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 1684b30a-3187-85ce-0cf7-10d1b8298b7f
* Version Independent ID: 9b7170fc-2b39-8e46-7898-894a45de8623
* Content: [Windows Update for Business の構成 (Windows 10)](https://docs.microsoft.com/ja-jp/windows/deployment/update/waas-conf

[2019-05-03 07:26] hyoshioka0128 opened #3488 "[LOC] "更新 & セキュリティ" needs to be replaced with "更新とセキュリティ""
https://docs.microsoft.com/ja-jp/windows/deployment/update/waas-manage-updates-wufb

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 2056993d-a700-fba6-8982-e645b182eeea
* Version Independent ID: fb38a86a-cdf6-6fc2-8eb6-fd54f1599f55
* Content: [Windows Update for Business を使った更新プログラムの展開 (Windows 10)](https://docs.microsoft.com/ja-jp/windows/deployment/

[2019-05-03 07:29] hyoshioka0128 opened #3489 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/deployment/update/waas-manage-updates-wufb

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 2056993d-a700-fba6-8982-e645b182eeea
* Version Independent ID: fb38a86a-cdf6-6fc2-8eb6-fd54f1599f55
* Content: [Windows Update for Business を使った更新プログラムの展開 (Windows 10)](https://docs.microsoft.com/ja-jp/windows/deployment/

[2019-05-03 07:30] hyoshioka0128 opened #3490 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-troubleshooting

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 349d337e-ca0f-a40a-a522-bd1ae71c7d1e
* Version Independent ID: 50f0c3b0-eaad-89c0-eb3c-878e7564d6f6
* Content: [Windows Update のトラブルシューティング](https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-

[2019-05-03 07:30] hyoshioka0128 opened #3491 "[LOC] "更新 & セキュリティ" needs to be replaced with "更新とセキュリティ""
https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-troubleshooting

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 349d337e-ca0f-a40a-a522-bd1ae71c7d1e
* Version Independent ID: 50f0c3b0-eaad-89c0-eb3c-878e7564d6f6
* Content: [Windows Update のトラブルシューティング](https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-

[2019-05-03 10:18] mypil commented on #3398
@DaniHalfin @BRecords - Can you please share your insights on this issue?

Thank you.

[2019-05-03 11:39] Ricardo-Cz commented on #856
Pay attention if you use the "Recommended value" of the ["1809 MDM Security Baseline Preview"](http://download.microsoft.com/download/2/C/4/2C418EC7-31E0-4A74-8928-6DCD512F9A46/1809-MDM-SecurityBaseLine-Document-[Preview].zip) Excel sheet for the AllowLocalLogon CSP. "Users Administrators" will lock out everybody of his device because of the wrong separator. If deleting the rule doesn't work confi

[2019-05-03 12:18] mypil commented on #3377
@vanderl2796 - From our understanding, the issue you raised has been answered by MaratMussabekov. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-03 12:24] mypil commented on #3055
@gaknigge - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-03 12:26] mypil commented on #3478
@officedocsbot assign @mypil

[2019-05-03 12:31] mypil commented on #3478
@NeoBeum - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-03 12:36] mypil commented on #3250
@kyjeeper - Thank you for submitting feedback.

From our understanding, the issue has been answered by joinimran. If you feel it hasn't been answered please re-open this issue.

Thank you for engaging with the community here for the docs.

[2019-05-03 12:39] NeoBeum commented on #3478
@mypil

no problem.

I'm trying to get as much information as possible, as I've had issues since 2015 with installations, so I'm trying to get all correct api, sdk references correct so the current pending releases have up to date information available to public, as all msdn, techbench and partners documents all end up linking docs.microsoft.com

[2019-05-03 12:52] mypil commented on #3372
@ggbce - Thank you for submitting this feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-03 14:03] mypil commented on #3399
@officedocsbot assign @mypil

[2019-05-03 14:04] mypil commented on #3399
@Justinha - Do you have any updates on this?

Thank you,

[2019-05-03 14:16] Justinha commented on #3399
@mypil No, we've confirmed the SKUs listed are right. I've asked engineering for other suggestions and I'll pass along what I learn. In the meantime @Niglb you might want to contact customer support to get the best help for this.

[2019-05-03 14:35] mypil commented on #3399
@Niglb - Based on the information provided by Justinha, the best way forward is if you can open a service ticket so this can get resolved ASAP.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-03 15:17] mypil commented on #3050
@Justinha - Does @j0rt3g4 need to create another PR to add the info provided by @alexverboon? Or is everything already covered and we can proceed to close this issue. Kindly confirm. Thank you.

[2019-05-03 15:22] mypil commented on #3246
@officedocsbot assign @mypil

[2019-05-03 15:23] mypil commented on #3246
@ralish - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-03 15:25] mypil commented on #886
@officedocsbot assign @mypil

[2019-05-03 15:27] mypil commented on #781
@officedocsbot assign @mypil

[2019-05-03 15:28] mypil commented on #887
@officedocsbot assign @mypil

[2019-05-03 15:32] mypil commented on #3263
@Malind19 - Please proceed to create a PR for this then we will get the doc owner to review it for merging. Thanks.

[2019-05-03 15:42] Justinha commented on #3050
@mypil @j0rt3g4 I don't see pr 3402 is published yet, but I merged it. There should be no other changes needed.

[2019-05-03 15:56] j0rt3g4 commented on #3050
@Justinha If it's required I can do another PR.
The PR #3402  was already merged that's why you don't see it
Want me to add "The enablement of the Exploit Guard rules can be done through ConfigMgr, Intune or PowerShell."
Problem is that is not specific on how to do it.

[2019-05-03 16:09] jaimeo commented on #3475
@zdvorak for comment

[2019-05-03 17:19] revikor opened #3493 "Purpose of Key Admins group"
Looking at the previous doc here: https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-hybrid-cert-whfb-settings-dir-sync - it seems like important aspect got left out - such as not needing to do this step at all if you already have a 2016 DC which is a prerequisite for this deployment. For example my MSOL_ that runs ADConnect already had the necessary per

[2019-05-03 19:15] Justinha commented on #3050
@j0rt3g4 I'm not sure if it's necessary to submit an additional PR. PR #3402 includes a new section named ## Viewing Windows event logs for SmartScreen but I don't see that section published yet. I assume it's still in process, but I'm unsure.

[2019-05-03 19:16] e0i commented on #3130
Hello, @BigIve

It seems that your question has already been answered by @MaratMussabekov and thus we are marking this issue as resolved.

Feel free to re-open the issue if you feel it hasn't been resolved.

Thank you for providing feedback.

[2019-05-03 19:16] e0i commented on #3130
@officedocsbot close

[2019-05-03 19:16] #3130 closed

[2019-05-03 19:27] Justinha commented on #3399
@Niglb I'm told WDAG in the Pro SKU can't be managed with Intune; it's standalone only. @mypil could you assist with submitting a PR? We can add a line below the SKUs listed in the table to say Pro edition is only for for non-managed devices; Intune or 3rd party MDM cannot manage WDAG on Pro edition.

[2019-05-03 19:29] e0i commented on #3471
Hello, @Niglb

It seems that your question has already been answered by the community and thus we are marking this issue as resolved.

Feel free to re-open the issue if you feel it hasn't been resolved.

Thank you for providing feedback.

[2019-05-03 19:30] e0i commented on #3471
@officedocsbot assign @e0i

[2019-05-03 19:30] e0i commented on #3471
@officedocsbot close

[2019-05-03 19:30] #3471 closed

[2019-05-03 19:30] e0i commented on #3472
@officedocsbot assign @e0i

[2019-05-03 19:31] e0i commented on #3472
Hello, @peteadshead  thank you for providing feedback.

Note that the repository issues is intended for product documentation problems.

Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thanks.

[2019-05-03 19:33] e0i commented on #3475
@officedocsbot assign @e0i

[2019-05-03 19:35] e0i commented on #3476
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 19:35] e0i commented on #3476
See: #3435

[2019-05-03 19:36] e0i commented on #3477
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 19:36] e0i commented on #3477
See: #3435

[2019-05-03 19:42] e0i commented on #3460
See: #3405

[2019-05-03 19:42] e0i commented on #3413
See: #3405

[2019-05-03 19:42] e0i commented on #3412
See: #3405

[2019-05-03 19:42] e0i commented on #3406
See: #3405

[2019-05-03 19:42] e0i commented on #3448
See: #3405

[2019-05-03 19:42] e0i commented on #3454
See: #3405

[2019-05-03 19:43] e0i commented on #3480
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 19:43] e0i commented on #3480
See: #3405

[2019-05-03 19:43] e0i commented on #3482
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 19:43] e0i commented on #3482
See: #3405

[2019-05-03 19:43] e0i commented on #3483
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 19:43] e0i commented on #3483
See: #3405

[2019-05-03 19:44] e0i commented on #3484
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 19:44] e0i commented on #3484
See: #3405

[2019-05-03 19:44] e0i commented on #3485
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 19:44] e0i commented on #3485
See: #3405

[2019-05-03 19:44] e0i commented on #3486
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 19:44] e0i commented on #3486
See: #3405

[2019-05-03 19:44] e0i commented on #3489
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 19:44] e0i commented on #3489
See: #3405

[2019-05-03 19:44] e0i commented on #3490
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 19:44] e0i commented on #3490
See: #3405

[2019-05-03 19:47] e0i commented on #3481
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 19:48] e0i commented on #3481
@dongmicro It looks like the translation software has interpreted the word _local_ within the keyword as a proper noun.

Would you review and follow-up with this generalized issue?

Thanks.

[2019-05-03 19:50] e0i commented on #3487
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 19:52] e0i commented on #3487
@dongmicro Ampersand character is not part of Japanese Kanji. It looks like the translation software has preserved the character and @hyoshioka0128 asks for instances of that character to be replaced with "_and_" in Japanese.

A group of similar issues:

#3487 #3488 #3491

Please review. Thanks.

[2019-05-03 19:53] e0i commented on #3488
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 19:53] e0i commented on #3488
See #3487

[2019-05-03 19:53] e0i commented on #3491
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 19:53] e0i commented on #3491
See: #3487

[2019-05-03 19:56] peteadshead commented on #3472
This is a documentation problem - it doesn’t tell you WHERE to look in the mass of possible places

Sent from my iPhone

On 3 May 2019, at 20:32, Onur <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello, @peteadshead<https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fpeteadshead&data=02%7C01%7C%7Ce0d6208a045345e91c9f08d6cffe0508%7C84df9e7fe9f640afb

[2019-05-03 19:57] e0i commented on #3493
@revikor

The issue is being routed to Windows IT Pro writing team for investigation. You'll be notified with relevant updates as content gets updated.

Thank you for providing feedback.

[2019-05-03 19:58] e0i commented on #3493
@officedocsbot assign @e0i

[2019-05-03 20:21] Niglb commented on #3471
Thank you everyone! I will test '0000-00-00T00:00:00+00:00' as the InTune configuration does not allow for an empty String.

[2019-05-03 20:23] Niglb commented on #3399
@Justinha Oh interesting which would explain the Not Applicable message via the InTune configuration reports. Maybe I can configure via a InTune deployed powershell script to Win10 Pro? :)

[2019-05-04 01:34] SwiftOnSecurity opened #3499 "Missing network connectivity requirements"
Defender is a cloud service and requires network connectivity to function. Please include and make clear it needs computer-level (not user-level) proxy access to its backend services and what those are.

https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-antivirus/configure-network-connections-windows-defender-antivirus

---
#### Document Details

⚠ *Do not edit t

[2019-05-04 01:36] SwiftOnSecurity commented on #3499
I know I opened this topic before, but this result comes up prominently when you search for "defender requirements."
Please add a note to this page that network connection is needed and where to get more information.

[2019-05-04 01:40] SwiftOnSecurity opened #3500 "Dangerous ambiguity"
Windows Defender requires network connectivity for proper operation, but it does not require unfiltered internet access.

This URL: "*.blob.core.windows.net" should NOT be excluded from ANY kind of network inspection, as it's usable to host arbitrary files by customers. If customers whitelist this, they will potentially allow malware binaries into their network through their inspecting proxies and

[2019-05-04 05:32] MaratMussabekov commented on #3478
Dear @NeoBeum ,
**tdlrecover.exe is not present in 1903** - yes, it was deprecated in 1703. However, I think that the article shouldn't be updated, since part "Windows 10, version 1507 through the release of version 1607 uses a database for the Tile image information. This is called the Tile Data Layer database." makes clear that this issue could be faced only by users of Windows 10 prior to 1703.

[2019-05-04 06:42] hyoshioka0128 opened #3501 "[LOC] "HKEY_ローカル_MACHINE" needs to be replaced with "HKEY_LOCAL_MACHINE""
https://docs.microsoft.com/ja-jp/windows/configuration/kiosk-prepare

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 5cd1e023-65ae-0e1d-b031-c02f5fb1daf8
* Version Independent ID: 8053b30a-82b6-404e-5daa-2110fb56c20b
* Content: [キオスク構成 (Windows 10) のためのデバイスを準備します。](https://docs.microsoft.com/ja-jp/windows/configuration/kiosk-prepare)
* Content Source:

[2019-05-04 06:56] hyoshioka0128 opened #3502 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/deployment/planning/windows-10-1803-removed-features

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: c274f8df-31da-f58a-36af-dc7eb6ace762
* Version Independent ID: 0e33637d-e094-edbc-04f9-e8d5e6c642c6
* Content: [Windows 10、バージョン 1803 - 削除された機能](https://docs.microsoft.com/ja-jp/windows/deployment/planning/windo

[2019-05-04 06:58] hyoshioka0128 opened #3503 "[LOC] "更新 & セキュリティ" needs to be replaced with "更新とセキュリティ""
https://docs.microsoft.com/ja-jp/windows/deployment/planning/windows-10-1803-removed-features

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: c274f8df-31da-f58a-36af-dc7eb6ace762
* Version Independent ID: 0e33637d-e094-edbc-04f9-e8d5e6c642c6
* Content: [Windows 10、バージョン 1803 - 削除された機能](https://docs.microsoft.com/ja-jp/windows/deployment/planning/windo

[2019-05-04 08:03] Air-Git opened #3504 "Differences"
Two things:
- Can you clarify (or refer to page that does this) what the differences are between "BitLocker Device Encryption" aka "Device Encryption" and "standard BitLocker encryption"? My impression is that it is a simplified version without options. Is that correct? Would it be correct to think of them as standard BitLocker and advanced BitLocker?
- You say that the OOBE transparent device enc

[2019-05-04 08:15] NeoBeum commented on #3478
@MaratMussabekov

it just needs to be highlighted that it had been deprecated, however executable is not present in 1903.
keeping the information there is good, as previous builds are still currently supported.

[2019-05-04 08:37] illfated commented on #3502
Ref. #3405

[2019-05-04 09:05] illfated commented on #856
Just to remind users of Github; MarkDown code block fences ( **```** ) are useful to show code and not letting the web page convert it into symbols:
[code]

[2019-05-04 12:03] no-identd opened #3505 "Where's the What's New in Windows 10 1903 page? Seems desperately missing"
[no seriously, does this need any explanation besides the title?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b010f23d-6d7e-8ab0-8a16-0ddbbacc0528
* Version Independent ID: 929b988a-e7e4-b8b0-2a85-756c69085063
* Content: [What's new in Windows 10 (Windows 10)](https://docs.microsoft.com/en-us/windows/whats-new/index

[2019-05-04 12:16] no-identd commented on #3472
You're talking past each other.

@e0i @andreabichsel:
The page neglects to provide the event source along with the event ID. Please fix that by specifying the event source.

@peteadshead:
Instead of trying to look for the right folder in the event viewer, create an appropriate custom view.

[2019-05-04 12:38] no-identd commented on #3416
This seems like a taxonomical issue:

Maximum {Fore⊻Back}ground Download Bandwidth
🆚
{Fore⊻Back}ground Download Bandwidth Maximum

Mathematically & strictly speaking, neither seems correct, instead, it should read SOMETHING LIKE this:

{Fore⊻Back}ground Download Bandwidth Limiting Filter Interval Maximum

However, that seems like both a mouthful and STILL very inaccurate, so, I had an idea:

@lemm

[2019-05-04 17:38] Aijaz-Qureshi opened #3507 "PC1 Can't go to Internet"
Hello there,

I am trying to setup the lab and have setup a DNS Forwarder on SRV1 for the Internet on "Ethernet 2" Adapter.

However, PC1 Can't go to Internet but DC1 and SRV1 can go to the Internet and return a successful ping and tracert results for www.microsoft.com. When I run the resolve-dnsname command in elevated PowerShell window, I get this:

PS C:\Users\Administrator&gt; Resolve-DnsName

[2019-05-04 22:50] blouwagie opened #3508 "Please add an executive summary"
Please add an executive summary that we, who often advise executives, can use as arguments towards acquisition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bdb99e4-289a-c09a-c35c-2774fc52a402
* Version Independent ID: 4d325389-c9b8-2601-0ff4-c7b6bf5a6c28
* Content: [Windows Defender Advanced Threat Protection](http

[2019-05-05 06:00] j0rt3g4 commented on #3050
@Justinha the docs will be moved to production a few days after, it's not inmediate

[2019-05-05 16:35] amirsc3 opened #3509 "Possible doc bug regarding feature capability on Wildcards"
The below statement seems incorrect based on input from MDATP devs...
"You can use wild cards so that all files under the directory is skipped by the automated investigation. "

From:
https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-atp/manage-automation-folder-exclusions-windows-defender-advanced-threat-protection

I was told wildcards are unsupported in the co

[2019-05-05 17:09] goingnova opened #3510 "toolkit be used to upgrade 500 pc's a once?"
Can this toolkit be used to upgrade 500 pc's a once?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 042d10ec-8f56-909c-9f66-f4c1363373b9
* Version Independent ID: 3b72e026-16ea-e9bf-a48b-abb42382ddab
* Content: [Perform an in-place upgrade to Windows 10 with MDT (Windows 10)](https://docs.microsoft.com/en-us/windows/de

[2019-05-05 19:22] illfated commented on #3507
Have you set up a local DNS record for the server name `dc1.contoso.com` ?
Remember that "contoso.com" is a fictional domain name, it does not exist in any internet DNS.
You need to set up a local record (entry) of the domain name or server name, or use the IP address.

[2019-05-05 19:52] illfated commented on #3505
The documentation will likely be made available when 1903 (19H1) is released.
The May 2019 Update is expected to be released at the end of May.
So far, only Preview builds have been made available, for testing.

[2019-05-05 20:24] illfated commented on #3416
PR #3511 created for

[2019-05-05 20:32] illfated commented on #3372
Looks good to me. The update has now been migrated to https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-atp/configure-proxy-internet-windows-defender-advanced-threat-protection#configure-the-proxy-server-manually-using-netsh-command
Should be OK to close this issue now.

[2019-05-05 20:49] illfated commented on #3201
@satish860 : Are you talking about https://docs.microsoft.com/en-us/windows/client-management/mdm/clientcertificateinstall-csp

or are you referring to a different page?

Please notice that the [docs.microsoft.com IT Pro Github site](https://github.com/MicrosoftDocs/windows-itpro-docs/) is primarily contributing improvements to the Microsoft IT Pro documentation.

If we do not see any feedback fro

[2019-05-05 23:12] illfated commented on #3050
The change has migrated now (https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-smartscreen/windows-defender-smartscreen-overview#benefits-of-windows-defender-smartscreen) so you can proceed to close this issue ticket.

[2019-05-06 02:15] NeoBeum commented on #3478
@MaratMussabekov
Creating the TileDataLayer directory does clear the error, however could cause some artifact for cleaning if TrustedInstaller or System doesn't own it during servicing stack updates

[2019-05-06 05:44] seilermi commented on #3178
Thank you for answering very quickly.

[2019-05-06 07:51] alexverboon opened #3513 "Deep dive references point to Microsoft Virtual Academy"
Hello,

The Deep Dive References point to Microsoft Virtual Academy courses. Since MVA is being retired I suggest to update the links, assuming that these videos are being hosted elsewhere.

Regards
Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77f8afd0-78e2-b866-196e-7068fd3743fe
* Version Independent ID: 94338b

[2019-05-06 09:32] Malind19 commented on #3263
@mypil Created PR https://github.com/MicrosoftDocs/windows-itpro-docs/pull/3515

[2019-05-06 09:55] hkusulja commented on #2194
I do have AutoPilot on device, and while installing fresh Windows 10, x64, eng, build 1903 ..., after securing your hardware, joining your organization's network .., it fails on action "registering your device for mobile management), Failed: 3, 0x801c03f3

Any info about documentation on this code?
Collect logs does not output anything.
No information on feedback hub for this error code.
Same happ

[2019-05-06 10:09] mypil commented on #3278
@Justinha - We would like to follow up. Do you have any updates on this? Thank you.

[2019-05-06 10:14] mypil commented on #3345
@officedocsbot close

[2019-05-06 10:14] #3345 closed

[2019-05-06 10:16] mypil commented on #874
@officedocsbot assign @mypil

[2019-05-06 10:18] mypil commented on #880
@officedocsbot assign @mypil

[2019-05-06 10:19] mypil commented on #884
@officedocsbot assign @mypil

[2019-05-06 10:19] mypil commented on #909
@officedocsbot assign @mypil

[2019-05-06 10:20] mypil commented on #915
@officedocsbot assign @mypil

[2019-05-06 10:21] Malind19 commented on #3387
@mypil According to the following article, it says remove all default rules.
https://social.technet.microsoft.com/Forums/windowsserver/en-US/cf18e6a7-b6a0-4f2a-8fb3-e9ad8bb43a1e/applocker-allows-unsigned-apps-to-start-using-a-publisher-rule?forum=winserversecurity

But better verify with the author.

[2019-05-06 10:22] mypil commented on #2586
@officedocsbot assign @mypil

[2019-05-06 10:23] mypil commented on #3365
@officedocsbot assign @mypil

[2019-05-06 10:48] Air-Git opened #3518 "ISG and/or"
It is implied that ISG authorization only applies to apps that are not already explicitly authorised. But I don't see an explicit reference to that.
In Intune, there is a template to enable ISG authorization; but there are no templates for any other WDAC policy. So, if I implement the Intune policy for WDAC, does that mean it will immediately block any Microsoft app that does not have a good reput

[2019-05-06 10:59] kennethvs opened #3519 "Collect logs remotely from Windows 10 PCs: Title misleading"
The title "Collect logs remotely from Windows 10 PCs" is misleading imho. I would expect the possiblity to upload the logs to the intune portal but as far as I can read, we can enable Admin and Debug logging remotely. In order to access the output though, we still need to connect to the event viewer of the machine, correct? or enable the export of the outcome to a file? ("Example: Export the Debug

[2019-05-06 11:12] Air-Git opened #3520 "Problem with Windows defender if you do this"
You can do this in Intune but, in my testing, it will block Windows Defender Definition updates, and it will cause a regular prompt to restart the device (with a prompt but no reason given).
If that is correct, you probably do not want to use this setting in isolation from other WDAC policies. And, since you can implement this in a WDAC policy also, it is hard to see a reason for implementing it i

[2019-05-06 11:17] mypil commented on #3387
@Justinha - Can you please share your insights on this issue?

Thank you.

[2019-05-06 11:20] Malind19 commented on #3391
@mypil All the articles are showing how to enable SharedPC mode. No mention on how to disable. Even according to the following article. https://www.scconfigmgr.com/2018/10/27/building-a-shared-pc-mode-kiosk-with-microsoft-intune/

Appreciate if we can get author support.

[2019-05-06 11:30] mypil commented on #3050
@officedocsbot close

[2019-05-06 11:30] #3050 closed

[2019-05-06 11:32] mypil commented on #3372
@officedocsbot close

[2019-05-06 11:32] #3372 closed

[2019-05-06 12:24] mypil commented on #3399
@Justinha - I will be glad to help. Assigning @Malind19 for the PR creation.

@Malind19 - kindly create the requested PR for this issue.

Thank you.

[2019-05-06 12:36] Reeced40 commented on #3293
@marcosmcampos https://docs.microsoft.com/windows/security/threat-protection/windows-defender-application-control/applocker/deploy-applocker-policies-by-using-the-enforce-rules-setting Please let me know if this answers your question.

[2019-05-06 15:50] jaimeo commented on #3416
I agree that we should do a better job of explaining what exactly "foreground" and "background" are supposed to mean (we'll be updating all of the Delivery Optimization content soon for a forthcoming release, so there's a good opportunity to improve the explanation)--but as for the names themselves, there's nothing documentation can do to change that, as that's what the values are named in Group P

[2019-05-06 15:54] lemmy commented on #3416
@no-identd Unfortunately, without being familiar with the semantics of waas it is impossible to come up with a precise specification.  That said, [Azure Cosmos DB](https://azure.microsoft.com/en-us/services/cosmos-db/) has indeed successfully demonstrated how to use the [TLA+ specification language](https://github.com/tlaplus/) to provide [user documentation](https://github.com/Azure/azure-cosmos-

[2019-05-06 16:13] mypil commented on #3012
@officedocsbot close

[2019-05-06 16:13] #3012 closed

[2019-05-06 16:17] mypil commented on #3342
@officedocsbot close

[2019-05-06 16:17] #3342 closed

[2019-05-06 16:18] mypil commented on #3271
@officedocsbot close

[2019-05-06 16:18] #3271 closed

[2019-05-06 16:18] mypil commented on #3055
@officedocsbot close

[2019-05-06 16:18] #3055 closed

[2019-05-06 16:19] mypil commented on #3268
@officedocsbot close

[2019-05-06 16:19] #3268 closed

[2019-05-06 16:20] mypil commented on #3366
@officedocsbot close

[2019-05-06 16:20] #3366 closed

[2019-05-06 16:22] mypil commented on #2680
@officedocsbot close

[2019-05-06 16:22] #2680 closed

[2019-05-06 16:23] mypil commented on #3377
@officedocsbot close

[2019-05-06 16:23] #3377 closed

[2019-05-06 16:24] mypil commented on #3247
@officedocsbot close

[2019-05-06 16:24] #3247 closed

[2019-05-06 16:26] mypil commented on #3260
@officedocsbot close

[2019-05-06 16:26] #3260 closed

[2019-05-06 16:26] mypil commented on #3411
@officedocsbot close

[2019-05-06 16:26] #3411 closed

[2019-05-06 16:28] mypil commented on #3378
@officedocsbot close

[2019-05-06 16:28] #3378 closed

[2019-05-06 16:30] mypil commented on #3250
@officedocsbot close

[2019-05-06 16:30] #3250 closed

[2019-05-06 16:32] iadgovuser1 opened #3523 "Typo under 'Connection through the WinHTTP proxy' heading"
Typo at the end of this sentence under the **Connection through the WinHTTP proxy** heading:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f58247e6-b6a8-e172-941d-b18ee3753a55
* Version Independent ID: b05fe5e8-3490-219a-d0dd-cdbd4c387886
* Content: [Upgrade Readiness data sharing](https://docs.microsoft.com/en-us/win

[2019-05-06 16:59] mypil commented on #1021
@Scoobysnax97 - From our understanding, the issue has been answered by jaimeo. If you feel it hasn't been resolved please re-open this issue.

Thank you for engaging with the community here for the docs.

[2019-05-06 17:03] mypil commented on #1027
@officedocsbot assign @mypil

[2019-05-06 17:05] mypil commented on #1027
@Justinha - Do you have any updates on this issue?

Thanks.

[2019-05-06 17:10] mypil commented on #1057
@AdamGrossTX - From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-06 19:18] e0i commented on #2287
@officedocsbot close

[2019-05-06 19:18] #2287 closed

[2019-05-06 19:21] csharmath commented on #3252
+1 for a better documentation explaining what is this about and how to use so it's more approachable on first visit.

[2019-05-06 19:29] e0i commented on #2156
@Martony78

From our understanding your question has been answered based on existing documentation.

Since we haven't got a follow-up from your side, we are marking this issue as resolved.

Feel free to re-open it with your suggestions if you feel that the documentation is still not sufficient.

Thank you for taking the time to provide feedback.

[2019-05-06 19:29] e0i commented on #2156
@officedocsbot close

[2019-05-06 19:29] #2156 closed

[2019-05-06 19:31] e0i commented on #1447
@stusims We are closing this issue since we haven't got updates from your side.

Feel free to re-open it with your suggestions if you feel that the documentation is still not sufficient.

Thanks.

[2019-05-06 19:31] e0i commented on #1447
@officedocsbot close

[2019-05-06 19:31] #1447 closed

[2019-05-06 21:20] Air-Git commented on #3416
"Optimization" is a noun referring to the process of selecting the most effective or desirable way to do something. But "Delivery Optimization" appears to be the name of a process that controls or throttles downloads from Microsoft Updates. Perhaps "Delivery Control" would be a better term.
"Bandwidth" refers to the nominal or practical capacity of a link. "Rate" or "Speed" refers to the actual ra

[2019-05-06 22:09] e0i commented on #3501
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-06 22:10] e0i commented on #3501
@dongmicro It looks like the translation software has interpreted the keyword, "local" within the registry path as a literal common word. Please review. Thanks.

[2019-05-06 22:11] e0i commented on #3502
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-06 22:12] e0i commented on #3502
See: #3405

[2019-05-06 22:12] e0i commented on #3503
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-06 22:13] e0i commented on #3503
See: #3487

[2019-05-06 22:20] e0i commented on #3523
@jaimeo Would you be able to review this PR that fixes a minor typo? Thanks.

[2019-05-06 22:25] e0i commented on #3499
@officedocsbot assign @e0i

[2019-05-06 22:26] e0i commented on #3499
Hello, @SwiftOnSecurity

The issue is under investigation and you'll be notified with changes as the document goes through review and updates.

Thank you for providing feedback and following-up with clarification.

[2019-05-06 22:29] e0i commented on #3500
@officedocsbot assign @e0i

[2019-05-06 22:29] e0i commented on #3500
Similar to: #3499

[2019-05-06 22:35] e0i commented on #3500
@Justinha Would you be able to offer immediate resolution for this potentially dangerous error in the article? Thanks.

[2019-05-06 22:42] e0i commented on #3504
@officedocsbot assign @e0i

[2019-05-06 22:45] e0i commented on #3507
@officedocsbot assign @e0i

[2019-05-06 23:13] SquirrelAssassin opened #3538 "Confusing"
This section is confusing ... the If and Otherwise sections don't blend together in a paragraph.  If you use AD Connect and sync (usernames only,) and have ADFS on Prem, which you redirect users to can you still use Azure MFA Cloud Service?  Or do we have to use the MFA Adapter?

If your Azure AD Connect is configured to synchronize identities (usernames only), then your users are redirected to yo

[2019-05-06 23:17] SquirrelAssassin commented on #3538
maybe better fill in the blank ...

If your Azure AD Connect is configured to synchronize identities (usernames only), then your users are redirected to your local on-premises federation server for authentication and then redirected back to the Azure MFA cloud service <can I use Azure MFA cloud service directly?>

[2019-05-06 23:32] Justinha commented on #3500
@e0i I've shared with engineering for their input. Please stay tuned.

[2019-05-07 00:12] roninator2 opened #3539 "Spelling Typo"
https://github.com/MicrosoftDocs/windows-itpro-docs/blob/master/windows/deployment/volume-activation/activate-using-key-management-service-vamt.md

At the bottom.
Number 4 has in it slmrg.vbs
it should be slmgr.vbs

[2019-05-07 00:43] Justinha commented on #3387
@lightupdifire I'm unsure what the default files do. I've asked for engineering input and will pass along what I learn.

[2019-05-07 00:46] Justinha commented on #3278
@mypil I think we have this covered by the text I quoted in my last reply. If @SwiftOnSecurity feels otherwise we can try to clarify it further.

[2019-05-07 01:39] SEYiWeng opened #3540 "Marks Missing Within CSP Support Section"
Hello there, I was spending time reviewing this page, and I found there are a lot of marks missing under CSP support section. Just by looking under Windows Business and some Windows Mobile. The yes or no mark is missing and it is really hard to tell if it is supported or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-05-07 03:18] moyanming commented on #916
Hi @joinimran @mypil ,
Please see the picture below. [I can set](https://docs.microsoft.com/en-us/windows-hardware/manufacture/iot/add-a-provisioning-package-to-an-image) the "LocalDeviceName" of the "Bluetooth" by use “Windows Imaging and Configuration Designer” to "ABC 5678". But the Bluetooth name is fixed to "ABC 5678" for every IoT devices. As we have known that different IoT device should ha

[2019-05-07 05:40] illfated commented on #3416
Interesting, thank you for sharing the ideas.

[2019-05-07 06:00] illfated commented on #3539
A.K.A. the Docs page https://docs.microsoft.com/en-us/windows/deployment/volume-activation/activate-using-key-management-service-vamt

[2019-05-07 07:23] satish860 opened #3549 "Replace command on Office CSP"
In the office CSP its mentioned Id properties can accept replace command.

![image](https://user-images.githubusercontent.com/817360/57280314-b1c7af00-70c6-11e9-9b50-b35b2c9462d1.png)

When we try it we are getting a 405 on the command then we looked into DDF to confirm. It has 2 nodes.

` <NodeName></NodeName>
            <DFProperties>
              <AccessType>
                <Add />

[2019-05-07 08:19] mypil commented on #929
@officedocsbot assign @mypil

[2019-05-07 08:19] mypil commented on #946
@officedocsbot assign @mypil

[2019-05-07 08:19] mypil commented on #960
@officedocsbot assign @mypil

[2019-05-07 08:19] mypil commented on #1004
@officedocsbot assign @mypil

[2019-05-07 08:20] mypil commented on #1033
@officedocsbot assign @mypil

[2019-05-07 08:20] mypil commented on #1069
@officedocsbot assign @mypil

[2019-05-07 08:25] mypil commented on #969
@officedocsbot assign @mypil

[2019-05-07 08:26] mypil commented on #1052
@officedocsbot assign @mypil

[2019-05-07 08:28] mypil commented on #3278
@SwiftOnSecurity - From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-07 08:32] mypil commented on #2215
@officedocsbot assign @mypil

[2019-05-07 08:33] mypil commented on #2215
@toanyonebutyou - From our understanding, the issue you raised has been answered by bjiusc. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-07 10:48] kennethvs opened #3550 "Deploying the script"
Hi -

I've downloaded the configuration script, which once extraced is actually a folder with a couple of files. The documentation states that it's possible to deploy the script using Intune and then refers to the documentation about deploying PowerShell scripts with Intune. Does this mean that only deploying the PS1 script should be sufficient, and we should use the CSP to configure it's settings

[2019-05-07 10:50] kennethvs opened #3551 "Data Availability"
The documentation states:

After data is sent from devices to Microsoft, it generally takes 48-56 hours for the data to populate in Windows Analytics. The compatibility update takes several minutes to run. If the update does not get a chance to finish running or if the computers are inaccessible (turned off or sleeping for example), data will take longer to populate in Windows Analytics. For this

[2019-05-07 12:34] mariopenterman opened #3553 "Wrong URI path to allow flash"
According to this page, the URI to enable / disable flash should be:
./Vendor/MSFT/Policy/Config/Browser/AllowAdobeFlash

While in fact the correct path is:
./Vendor/MSFT/Policy/Config/Browser/AllowFlash

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a7fe2c9-aae2-5095-fe96-9699de018300
* Version Independent ID: cfc2c4

[2019-05-07 12:56] mypil commented on #3278
@officedocsbot close

[2019-05-07 12:56] #3278 closed

[2019-05-07 13:20] e0i commented on #1930
@Heidilohr Any updates?

[2019-05-07 13:22] joinimran commented on #3326
Hello @reschrei , Thank you for posting the query. Mandatory Profiles are kind of Roaming profiles. The main purpose of Mandatory Profiles is to discard any changes/modifications happened in the profile during a user-login session. Those change will be deleted. These are ideal for educational institutes and Kiosks.

Thanks.

[2019-05-07 13:22] e0i commented on #2016
Hello, @wolfrium

It seems that your question has been answered by the community and thus we are marking this issue as resolved.

Feel free to re-open the issue if you feel it hasn't been resolved.

Thank you for providing feedback.

[2019-05-07 13:22] e0i commented on #2016
@officedocsbot close

[2019-05-07 13:22] #2016 closed

[2019-05-07 13:25] joinimran commented on #3386
Hello @balait01 , Thank you for posting your query. Can you please summarize your question so that we can better understand your query and help you accordingly and update the doc if required.

[2019-05-07 13:41] reschrei commented on #3326
@joinimran ,

Thanks for your reply, but I understand the concept of a Mandatory Profile. My question is geared specifically to a checkbox in the "Copy to" Window. There is now a checkbox that says "Mandatory Profile". So far my personal experience with this checkbox has been nothing but trouble. When checking that box, I am unable load the profile, logins fail every time. I am able to make a usab

[2019-05-07 13:46] rdejong1979 commented on #2251
It's still a valid point as Multifactor Unlock doesn't solve the "backdoor" as it allows you to log in with a single entity. You can disable the password Credential Provider however this will introduced new challenges. I'm more than happy to elaborate these offline.

[2019-05-07 13:49] br549v opened #3556 "Valid Characters for registry key"
What characters are allowed for the registry key? Most of the values I have tried in the registry never show up in the console. Are there limits on length or special characters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b42e708-e334-d434-bcc9-e1860ebb36b3
* Version Independent ID: 92e251c5-8613-ce97-9569-02404c9a

[2019-05-07 14:16] joinimran commented on #3326
@reschrei The purpose of this check box is to make the profile a Mandatory profile. If this is not working as expected, you can contact the product support team so that this can be escalated to the corresponding team.

@mypil Please guide the user to the product support team to open up a case for this.

Thanks.

[2019-05-07 14:29] mypil commented on #3326
@reschrei - I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind please keep us posted here on the resolut

[2019-05-07 14:38] craigblake opened #3557 "MBAM Support Ending July 2019?"
Although this document was written in February of 2019 I have read several article about mainstream support for MBAM ending in July 2019. Is this true and should it still be recommended as I feel it is in this document to use it? If not is there a new best practice in 2019 you can recommend for implementation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-05-07 14:50] mypil commented on #2612
@officedocsbot close

[2019-05-07 14:50] #2612 closed

[2019-05-07 14:53] mypil commented on #2936
@DaniHalfin - Do you have any updates on this?

Thank you.

[2019-05-07 18:57] illfated commented on #1930
Not sure, but would it help to check with @brianlic-msft or @nickbrower if there are anyone else available for follow-up to this issue ticket?

[2019-05-07 19:21] e0i commented on #3424
See: 3435

[2019-05-07 19:22] e0i commented on #3425
See: #3435

[2019-05-07 19:22] e0i commented on #3426
See: #3435

[2019-05-07 19:22] e0i commented on #3427
See: #3435

[2019-05-07 19:22] e0i commented on #3428
See: #3435

[2019-05-07 19:22] e0i commented on #3429
See: #3435

[2019-05-07 19:22] e0i commented on #3430
See: #3435

[2019-05-07 19:22] e0i commented on #3431
See: #3435

[2019-05-07 19:22] e0i commented on #3432
See: #3435

[2019-05-07 19:22] e0i commented on #3433
See: #3435

[2019-05-07 19:35] illfated commented on #3435
Funny translation issue. "Windows Kon'nichiwa for Business" -- thank you for providing a quick chuckle break from the seriousness of troubleshooting. 👍

[2019-05-07 19:37] msm-fc opened #3558 "How to add this setting to Windows 10"
This configuration setting was not present on my stock Windows 10 Pro build 1809.  I found the ADMX template which added it here: https://www.microsoft.com/en-us/download/details.aspx?id=57576

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 633b61b3-6723-2f55-512d-52a523ed5fca
* Version Independent ID: 7eb997fc-ca28-fe2

[2019-05-07 20:42] e0i commented on #3501
See: #3481

[2019-05-07 20:45] e0i commented on #3481
See: #3481

[2019-05-07 21:06] #3156 closed

[2019-05-07 21:06] e0i commented on #3407
See: #3159

[2019-05-07 21:07] e0i commented on #3408
See: #3159

[2019-05-07 21:09] nenonix commented on #1188
@dgnuff @strophy @TheRobinCM thanks for all this feedback, I am looking at this from a content perspective and will ask for your help to make specific edits to the document. While I do some research (Thanks for your patience) its been some time since this issue was filed. Has anything changed?  Do you have more information to share, and is this a good place to start? https://technet.microsoft.com/

[2019-05-07 22:58] #3523 closed

[2019-05-07 23:20] Justinha commented on #1027
@mypil yes, sorry for delay. Can you assist with a pull request to remove the note in question. @vgrsec Thanks again for reporting and sorry to let this slip.

[2019-05-08 00:14] emrekanlikilicer commented on #2509
Hi, is there any update we can get on this?

[2019-05-08 03:18] dgnuff commented on #1188
@nenonix At the current time, there's still nothing regarding Bitlocker-To-Go and TPM.  Just a simple "Bitlocker-To-Go cannot user TPM" comment, with a brief synopsis of the explanation for that decision would be enough.  Either that, or if appropriate, "Bitlocker-To-Go" can use TPM, but this will prevent the drive being unlocked on a different computer."
As I outlined in my original comment, depe

[2019-05-08 03:54] hyoshioka0128 opened #3559 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-analytics-get-started

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 4273a259-c3c7-dca7-6353-954068d740a7
* Version Independent ID: 1084ea77-95c4-4e4a-da6c-f4d8668f9ebf
* Content: [Windows Analytics (Windows 10) でのデバイスの登録](https://docs.microsoft.com/ja-jp/windows/deployment/update/win

[2019-05-08 03:56] hyoshioka0128 opened #3560 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/deployment/update/device-health-using

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: af1d6af3-9530-fd12-cd25-52c904c5ac58
* Version Independent ID: 8d5d6869-1ea9-05e3-76e9-4970fe1e7871
* Content: [デバイスの正常性の使用](https://docs.microsoft.com/ja-jp/windows/deployment/update/device-health-using)
* Content Source: [wi

[2019-05-08 04:00] hyoshioka0128 opened #3561 "[LOC] Back-Translation " ホーム" → "Home""
https://docs.microsoft.com/ja-jp/windows/deployment/windows-10-pro-in-s-mode

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 3bfdcb45-ac06-394c-6320-252f17f0eb71
* Version Independent ID: 7236e516-fe18-a336-78b4-ff42842619b8
* Content: [S モードから Windows 10 Pro/Enterprise への切り替え](https://docs.microsoft.com/ja-jp/windows/deployment/windows-10-pro-in-s-mo

[2019-05-08 04:49] MaratMussabekov commented on #3246
Dear @ralish , pull request was created
Dear @mypil , looks like [Managed hosting controls are disabled in Internet Explorer from the .NET Framework 4](https://support.microsoft.com/help/2996039/managed-hosting-controls-are-disabled-in-internet-explorer-from-the-ne) should be changed as well

Thank you

[2019-05-08 05:24] zhangbo-miuNEST commented on #1776
I have the same problem with win10  10.0.18362.53.
Please fix it ASAP!

The latest mountvol.exe doesn't support "/s" parameter!

[2019-05-08 05:33] zhangbo-miuNEST commented on #2569
tested and works!

[2019-05-08 05:50] illfated commented on #3487
Would it be practical to solve the issue by replacing the ampersand in the original English pages and let the migration process translate it correctly?

[2019-05-08 05:58] MaratMussabekov commented on #946
Dear @lenraphael ,
both OneDrive and Sharepoint are separate products, not the part of Windows OS. That's why any variable related to those products couldn't be considered as Windows 10 environment variable and is not within the scope of this article.
Thank you

[2019-05-08 06:16] joinimran commented on #3379
@jwojan ,Thank you for sharing your query. Please note that this policy says that MDM policy will win over GP. If you have set up this policy using GP and then configured it through MDM, the MDM will have high priority and will be executed. Hope this answers your question.

Thanks.

[2019-05-08 07:23] j0rt3g4 commented on #884
@mypil Let's link the author since I'm not aware of such changes so I can add the note into the PR :)

[2019-05-08 08:03] mypil commented on #1188
@officedocsbot assign @mypil

[2019-05-08 08:04] mypil commented on #1282
@officedocsbot assign @mypil

[2019-05-08 08:25] mypil commented on #1233
@officedocsbot assign @mypil

[2019-05-08 08:27] mypil commented on #1239
@officedocsbot assign @mypil

[2019-05-08 08:27] mypil commented on #1236
@officedocsbot assign @mypil

[2019-05-08 08:29] mypil commented on #1252
@officedocsbot assign @mypil

[2019-05-08 08:29] mypil commented on #1260
@officedocsbot assign @mypil

[2019-05-08 09:01] joinimran commented on #1236
Hello, @nick-morhun Thank you for submitting your query. Please note that the WTG wizard is available in Educational, Professional and Enterprise edition but you can only create the image for enterprise or education as this feature is available to enterprise and education version of Windows. This is mentioned in the document as well, please see https://docs.microsoft.com/en-us/windows/deployment/p

[2019-05-08 09:08] hyoshioka0128 opened #3563 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resources

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Independent ID: 599aea76-47e4-dccc-799c-2d8acf549546
* Content: [Windows Update - その他のリソース](https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resource

[2019-05-08 09:10] hyoshioka0128 opened #3565 "fixed inappropriate japanese"
[LOC] "Windows コマンド プロンプトを開きます。 コマンド プロンプトを開き、 _gt 実行の開始をクリックします。 "needs to be replaced with "Windowsのコマンドプロンプトを開きます。 コマンドプロンプトを開くには、[スタート]> [ファイル名を指定して実行]の順にクリックします。 "

https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resources
---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Indep

[2019-05-08 09:11] hyoshioka0128 opened #3566 "fixed inappropriate japanese"
[LOC] "コピーと貼り付け (または型)、次のコマンドを ENTER キーを押します。 cmd" needs to be replaced with "次のコマンドをコピーして貼り付け（または入力し）、Enterキーを押します。cmd"

https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resources

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Independent ID: 599aea76-47e4-dccc-799c-2d8acf549546

[2019-05-08 09:14] hyoshioka0128 opened #3567 "[LOC] Back-Translation"
・Ren %systemroot%\SoftwareDistribution\DataStore *.bak お
・Ren %systemroot%\SoftwareDistribution\Download *.bak お
・Ren %systemroot%\system32\catroot2 *.bak お
　↓
・Ren %systemroot%\SoftwareDistribution\DataStore *.bak
・Ren %systemroot%\SoftwareDistribution\Download *.bak
・Ren %systemroot%\system32\catroot2 *.bak

https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resources

---

[2019-05-08 09:17] hyoshioka0128 opened #3568 "[LOC] Back-Translation"
・sc.exe sdset ビット d: (A です。CCLCSWRPWPDTLOCRRC;;SY) (A です。CCDCLCSWRPWPDTLOCRSDRCWDWO;;バー) (A です。CCLCSWLOCRRC;;AU) (A です。CCLCSWRPWPDTLOCRRC;;PU)
・sc.exe sdset wuauserv d: (A です。CCLCSWRPWPDTLOCRRC;;SY) (A です。CCDCLCSWRPWPDTLOCRSDRCWDWO;;バー) (A です。CCLCSWLOCRRC;;AU) (A です。CCLCSWRPWPDTLOCRRC;;PU)
　↓
・sc.exe sdset bits D:(A;;CCLCSWRPWPDTLOCRRC;;;SY)(A;;CCDCLCSWRPWPDTLOCRSDRCWDWO;;;BA)(A;;CCLCSWLOCRRC;;;AU

[2019-05-08 09:22] hyoshioka0128 opened #3569 "[LOC] Back-Translation "regsvr32.exe 行います" → regsvr32.exe msxml.dll"
https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resources

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Independent ID: 599aea76-47e4-dccc-799c-2d8acf549546
* Content: [Windows Update - その他のリソース](https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resource

[2019-05-08 09:23] hyoshioka0128 opened #3570 "[LOC] Back-Translation "ごとに regsvr32.exe" → "regsvr32.exe softpub.dll""
https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resources

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Independent ID: 599aea76-47e4-dccc-799c-2d8acf549546
* Content: [Windows Update - その他のリソース](https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resource

[2019-05-08 09:23] hyoshioka0128 opened #3571 "[LOC] Back-Translation "regsvr32.exe に対して" → "regsvr32.exe wintrust.dll""
https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resources

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Independent ID: 599aea76-47e4-dccc-799c-2d8acf549546
* Content: [Windows Update - その他のリソース](https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resource

[2019-05-08 09:24] hyoshioka0128 opened #3572 "[LOC] Back-Translation "regsvr32.exe 繰り返します" → "regsvr32.exe cryptdlg.dll""
https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resources

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Independent ID: 599aea76-47e4-dccc-799c-2d8acf549546
* Content: [Windows Update - その他のリソース](https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resource

[2019-05-08 09:24] hyoshioka0128 opened #3574 "[LOC] Back-Translation "regsvr32.exe して" → "regsvr32.exe initpki.dll""
https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resources

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Independent ID: 599aea76-47e4-dccc-799c-2d8acf549546
* Content: [Windows Update - その他のリソース](https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resource

[2019-05-08 09:25] hyoshioka0128 opened #3575 "[LOC] Back-Translation "regsvr32.exe ボタン" → "regsvr32.exe wuaueng.dll""
https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resources

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Independent ID: 599aea76-47e4-dccc-799c-2d8acf549546
* Content: [Windows Update - その他のリソース](https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-resource

[2019-05-08 09:27] hyoshioka0128 opened #3576 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/deployment/windows-autopilot/intune-connector

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: e236055e-0b59-8a2e-ef79-1affb1bffcf2
* Version Independent ID: 79c51731-3159-6600-0f08-3ac3395c0e67
* Content: [Intune コネクタ (プレビュー) の要件](https://docs.microsoft.com/ja-jp/windows/deployment/windows-autopilot/intune-conn

[2019-05-08 09:28] hyoshioka0128 opened #3577 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/configuration/wcd/wcd-changes

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6a2a0071-ee73-f332-cc8d-3010e77937c6
* Version Independent ID: f6f814fd-ad69-36e8-b7f9-fb8302963b4a
* Content: [Windows 構成デザイナー (Windows 10) の設定を変更](https://docs.microsoft.com/ja-jp/windows/configuration/wcd/wcd-changes)
* Content Sou

[2019-05-08 09:28] hyoshioka0128 opened #3578 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/deployment/windows-autopilot/demonstrate-deployment-on-vm

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: bcc63299-cc1c-e031-deb7-915914b8f94e
* Version Independent ID: 356eaba5-16b0-952f-fc19-c8d5be5feb5f
* Content: [VM での Autopilot 展開のデモンストレーション](https://docs.microsoft.com/ja-jp/windows/deployment/windows-aut

[2019-05-08 09:29] hyoshioka0128 opened #3579 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/reset-security-key

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 587aea74-cf9f-0aed-e27d-3b8fea8b978f
* Version Independent ID: 185f768b-45a0-6fea-899f-58d72432e8eb
* Content: [リセット-セキュリティ キー](https://docs.microsoft.com/ja-jp/windows/security/identity-protection

[2019-05-08 09:29] hyoshioka0128 opened #3580 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9abd3113-b803-87b6-ef7f-6893bcc5ceb5
* Version Independent ID: 6f7ca1ee-d19c-42bb-7db5-6158fc160e32
* Content: [Windows オペレーティング システムのコンポーネントから Microsoft サービスへの接続の管理 (Windows

[2019-05-08 09:31] hyoshioka0128 opened #3581 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/configuration/wcd/wcd-hotspot

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 78dacd73-100d-9c37-8b4b-09948bb54047
* Version Independent ID: fc9ec9b2-44b4-32dd-0034-5a294d27ba39
* Content: [HotSpot (Windows 10)](https://docs.microsoft.com/ja-jp/windows/configuration/wcd/wcd-hotspot)
* Content Source: [windows/c

[2019-05-08 09:32] hyoshioka0128 opened #3582 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/deployment/windows-autopilot/windows-autopilot-reset-local
---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 97ddb8fb-cc02-9821-d2d3-8bd724021e6f
* Version Independent ID: e003bcd6-b285-3b46-dbf3-1ee91eef2b1b
* Content: [ローカルの Windows Autopilot Reset を使用してデバイスをリセットします。](https://docs.microsoft.com/ja-jp/windows/dep

[2019-05-08 09:32] hyoshioka0128 opened #3583 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-atp/configure-microsoft-threat-experts

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: db434a68-2e49-8051-8468-5e7b874f239c
* Version Independent ID: 231e7e9e-42a6-e9c2-1e97-8f6d85738fc4
* Content: [Microsoft 脅威エキスパート機能を構成および管理する](https://docs.microsoft.com/ja-jp/wind

[2019-05-08 09:33] hyoshioka0128 opened #3584 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/microsoft-edge/deploy/available-policies

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9aa5c0a6-acd2-4ec3-275d-3a684b3faaf4
* Version Independent ID: 6b475925-ca66-d47f-e180-92988683b37a
* Content: [Microsoft Edge のグループ ポリシーとモバイル デバイス管理の設定 (IT 担当者向けの Microsoft Edge)](https://docs.microsoft.com/ja-jp/microsoft-edge/de

[2019-05-08 09:38] Cubercoding opened #3585 "Wrong SID for RDS 'Endpoint Servers'-group"
The SID for the 'RDS Endpoint Servers'-group is wrong in the article. It says 'S-1-5-21-<domain>-553', which is the SID for the 'RAS and IAS Servers'-group. The Correct SID is S-1-5-32-576.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44e911d3-219e-19b8-4870-07514d9a94a1
* Version Independent ID: 960a7388-560b-90eb-e

[2019-05-08 09:42] lensoft commented on #2376
any update around the step by step documentation how to grab log through reporting CSP?

[2019-05-08 10:54] MaratMussabekov commented on #1004
Dear @dfconroy ,
The feature you are talking about is not available in MDM.
Thank you

[2019-05-08 12:17] DrCaos opened #3586 "Traduccion"
Protección de rayos y otros puertos DMA
Seria
Protección puertos Thunderbolt y DMA

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 92097f05-4310-827c-2781-5756b959a56c
* Version Independent ID: 770f3f11-afec-a956-bf77-dfbbcaf74249
* Content: [Contramedidas de BitLocker (Windows 10)](https://docs.microsoft.

[2019-05-08 12:48] poolmanjim opened #3587 "Typo in Object Access Section"
In the second sentence of the section, third line on my screen it has the following: "Aaccess auditing subcategory for success and/or failure events." Access is spelled wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 739bc932-12f0-9595-fbd2-d5b0df73fe93
* Version Independent ID: cd1f89ad-34db-bb96-e9ef-2137958c94

[2019-05-08 14:44] jwojan commented on #3379
I knew the answer. The published sentence makes it sound like MDM wins whether the value is set or not. That is the part that needs clarification.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: ImranHabib <notifications@github.com>
Sent: Tuesday, May 7, 2019 11:17:03 PM
To: MicrosoftDocs/windows-itpro-docs
Cc: jwojan; Mention

[2019-05-08 15:03] mypil commented on #3201
@satish860 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-05-08 15:04] mypil commented on #3201
@officedocsbot close

[2019-05-08 15:04] #3201 closed

[2019-05-08 15:08] mypil commented on #3188
@chrymsft - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-05-08 15:08] mypil commented on #3188
@officedocsbot close

[2019-05-08 15:08] #3188 closed

[2019-05-08 15:10] mypil commented on #1021
@officedocsbot close

[2019-05-08 15:10] #1021 closed

[2019-05-08 15:11] mypil commented on #1057
@officedocsbot close

[2019-05-08 15:11] #1057 closed

[2019-05-08 15:56] e0i commented on #1954
@devgaia

With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thank you for your feedback.

[2019-05-08 15:56] e0i commented on #1954
@officedocsbot close

[2019-05-08 15:56] #1954 closed

[2019-05-08 18:08] e0i commented on #3559
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:08] e0i commented on #3559
@officedocsbot assign @e0i

[2019-05-08 18:08] e0i commented on #3559
See: #3405

[2019-05-08 18:09] e0i commented on #3560
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:10] e0i commented on #3560
See: #3405

[2019-05-08 18:10] e0i commented on #3561
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:10] e0i commented on #3563
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:10] e0i commented on #3563
See: #3405

[2019-05-08 18:11] e0i commented on #3576
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:11] e0i commented on #3576
See: #3405

[2019-05-08 18:11] e0i commented on #3577
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:11] e0i commented on #3577
See: #3405

[2019-05-08 18:12] e0i commented on #3578
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:12] e0i commented on #3578
See: #3405

[2019-05-08 18:12] e0i commented on #3579
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:12] e0i commented on #3579
See: #3405

[2019-05-08 18:12] e0i commented on #3580
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:12] e0i commented on #3580
See: #3405

[2019-05-08 18:13] e0i commented on #3581
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:13] e0i commented on #3581
See: #3405

[2019-05-08 18:13] e0i commented on #3582
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:13] e0i commented on #3582
See: #3405

[2019-05-08 18:14] e0i commented on #3583
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:14] e0i commented on #3583
See: #3405

[2019-05-08 18:14] e0i commented on #3584
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:14] e0i commented on #3584
See: #3405

[2019-05-08 18:19] e0i commented on #3569
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:22] e0i commented on #3567
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:23] e0i commented on #3567
@dongmicro It looks like translated strings are mixed with executable command strings that are not written within code blocks but in bullet points. See a list of similar issues referenced to this issue below and please follow-up. Thanks.

[2019-05-08 18:23] e0i commented on #3568
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:23] e0i commented on #3568
See: #3567

[2019-05-08 18:24] e0i commented on #3569
3567

[2019-05-08 18:24] e0i commented on #3570
See: #3567

[2019-05-08 18:24] e0i commented on #3570
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:24] e0i commented on #3570
See: #3567

[2019-05-08 18:25] e0i commented on #3571
See: #3567
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:25] e0i commented on #3571
See: #3567

[2019-05-08 18:25] e0i commented on #3572
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:25] e0i commented on #3572
See: #3567

[2019-05-08 18:25] e0i commented on #3574
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:25] e0i commented on #3574
See: #3567

[2019-05-08 18:26] e0i commented on #3575
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 18:26] e0i commented on #3575
See: #3567

[2019-05-08 18:28] e0i commented on #3561
See: #3435

[2019-05-08 18:56] e0i commented on #3508
@officedocsbot assign @e0i

[2019-05-08 19:01] e0i commented on #3509
@officedocsbot assign @e0i

[2019-05-08 19:02] e0i commented on #3510
@officedocsbot assign @e0i

[2019-05-08 19:02] e0i commented on #3513
@officedocsbot assign @e0i

[2019-05-08 19:02] e0i commented on #3518
@officedocsbot assign @e0i

[2019-05-08 19:02] e0i commented on #3519
@officedocsbot assign @e0i

[2019-05-08 19:02] e0i commented on #3520
@officedocsbot assign @e0i

[2019-05-08 19:02] e0i commented on #3538
@officedocsbot assign @e0i

[2019-05-08 19:02] e0i commented on #3539
@officedocsbot assign @e0i

[2019-05-08 19:02] e0i commented on #3540
@officedocsbot assign @e0i

[2019-05-08 19:03] e0i commented on #3549
@officedocsbot assign @e0i

[2019-05-08 19:03] e0i commented on #3550
@officedocsbot assign @e0i

[2019-05-08 19:03] e0i commented on #3551
@officedocsbot assign @e0i

[2019-05-08 19:03] e0i commented on #3553
@officedocsbot assign @e0i

[2019-05-08 19:03] e0i commented on #3553
@officedocsbot assign @e0i

[2019-05-08 19:03] e0i commented on #3556
@officedocsbot assign @e0i

[2019-05-08 19:03] e0i commented on #3557
@officedocsbot assign @e0i

[2019-05-08 19:03] e0i commented on #3558
@officedocsbot assign @e0i

[2019-05-08 19:03] e0i commented on #3565
@officedocsbot assign @e0i

[2019-05-08 19:03] e0i commented on #3566
@officedocsbot assign @e0i

[2019-05-08 19:03] e0i commented on #3585
@officedocsbot assign @e0i

[2019-05-08 19:03] e0i commented on #3586
@officedocsbot assign @e0i

[2019-05-08 19:03] e0i commented on #3587
@officedocsbot assign @e0i

[2019-05-08 19:04] e0i commented on #3509
@officedocsbot assign @e0i

[2019-05-08 19:40] illfated commented on #3567
An alternative workaround would be to encapsulate the command strings in code blocks in the English version of the documents and let the translation script handle it as before, but that code block solution might not be in line with current Microsoft Docs code style.

[2019-05-08 19:41] e0i commented on #3510
Hello, @goingnova thank you for providing feedback.

The issues section of this repository is intended for documentation feedback.

Please consider opening a support ticket via the following link for your question so that it gets answered quickly:

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Feel free to re-open this ticket if you feel that doc

[2019-05-08 19:44] illfated commented on #3568
The error excerpt above looks like it could do with code block fencing in the English version too.

Feedback on this idea is welcome -- although I suspect that the MS engineers might not be too thrilled with the workaround solution to implement code block fencing in the English version of the Docs for each and every command string to avoid translation issues.

[2019-05-08 21:02] e0i commented on #3519
@kennethvs Thank you for providing feedback.

The issue is under investigation and you will be notified with updates along the way.

Thanks.

[2019-05-08 21:16] e0i commented on #3538
Thank you for providing feedback, @SquirrelAssassin

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Have a nice day.

[2019-05-08 21:30] e0i commented on #3586
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-08 21:30] e0i commented on #3586
@dongmicro Would you be able to help with this Spanish translation issue? Thanks.

[2019-05-08 21:57] DrCaos commented on #3586
you have translated "thunderbolt" in English by rayo in Spanish. the correct translation is thunderbolt, because is a name of technology.

[2019-05-08 23:10] tommy1520 opened #3591 "Windows 10 Enterprise subscription is not valid"
Recently i have a few of our users' machine reverted itself from Windows 10 Enterprise to Pro

I have checked the requirements needed in order for Windows 10 Pro machine getting upgraded to Enterprise via M365 E3 license. I can verify that the machine is

1. AAD-Joined
2. Windows 10 1803
3. Valid M O365 E3 license assigned to the user

Not sure what else i need to check or do. Please help? Kind Re

[2019-05-09 02:06] mikedmd commented on #934
I just got the Access Errors again today!   We installed 1809 a few weeks ago with no issue until now.  My fix back in Aug 2018 was to add the Disableleasing reg entry on the Win 10 server, no workstation updates and that worked great.  I just checked the server registry and that entry is missing!  I put it back and will see how it goes tomorrow.  I am assuming the server reg change, getting rid o

[2019-05-09 02:56] Malind19 commented on #3399
@mypil Created PR https://github.com/MicrosoftDocs/windows-itpro-docs/pull/3592

[2019-05-09 03:03] hyoshioka0128 opened #3593 "[LOC] "Windows こんにちは" needs to be replaced with "Windows Hello""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-security-configuration-framework/level-5-enterprise-security

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: a6d4df3f-ba2f-c45d-58bc-790d79c449a3
* Version Independent ID: 6210761c-668f-29f4-c50d-feec32bddbf4
* Content: [レベル 5 エンタープライズ セキュリティの構成](https://docs.microsoft.com/ja-

[2019-05-09 03:09] hyoshioka0128 opened #3594 "[LOC] TOC for Windows security guidance for enterprises ja-jp document is not translated."
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-security-configuration-framework/windows-security-compliance

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: c34a668a-c82a-fa50-fe22-0313dfab7003
* Version Independent ID: 300c5eeb-fd77-7e3e-6aad-2a66c053cb44
* Content: [企業向けの Windows セキュリティ ガイダンス](https://docs.microsoft.com/j

[2019-05-09 03:54] hyoshioka0128 opened #3595 "[LOC] Back-Translation "タイムアウト エラー" → "TIME OUT ERRORS""
https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-errors

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 1cb9f2a2-76ad-8301-7d80-e33a7bb80a1b
* Version Independent ID: dd070c32-53d5-53d6-7ba2-a4361b5263bb
* Content: [Windows Update の一般的なエラーと軽減策](https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-errors)
*

[2019-05-09 03:54] SEYiWeng opened #3596 "Windows 10 Enterprise 1809 Does Not Have "EnableVirtualizationBasedSecurity""
Hi there, I have generated a couple VMs, and as this article stated, "EnableVirtualizationBasedSecurity" is supported from Windows 10 1709. But my Windows 10 Enterprise 1809 build 17763 does not have such entry under either Registry Editor or Group Policy Editor.

Please kindly let me know what is causing this and how can I find it?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-05-09 03:55] hyoshioka0128 opened #3597 "[LOC] Back-Translation "定義" → "ERROR_INVALID_DATA""
https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-errors

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 1cb9f2a2-76ad-8301-7d80-e33a7bb80a1b
* Version Independent ID: dd070c32-53d5-53d6-7ba2-a4361b5263bb
* Content: [Windows Update の一般的なエラーと軽減策](https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-errors)
*

[2019-05-09 07:57] JBines commented on #2493
the answer is.... i still need to test but I'm a bit short on time ATM. Also I haven't got a clear answer from Engineering if this could work or more importantly if it is supported.

Sorry I can't be of more help if I get any more info I'll reply to this thread.

[2019-05-09 10:36] mypil commented on #3257
@officedocsbot assign @mypil

[2019-05-09 10:36] mypil commented on #3257
@xNiklasJern - From our understanding, the issue you raised has been answered by egallagh. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-09 10:42] mypil commented on #2893
@officedocsbot assign @mypil

[2019-05-09 10:42] mypil commented on #2893
@jngibert - From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-09 10:44] mypil commented on #3390
@alexfreu - From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-09 10:44] mypil commented on #3390
@officedocsbot close

[2019-05-09 10:45] mypil commented on #2893
@officedocsbot close

[2019-05-09 10:45] #2893 closed

[2019-05-09 10:45] mypil commented on #3257
@officedocsbot close

[2019-05-09 10:46] mypil commented on #3505
@officedocsbot assign @mypil

[2019-05-09 10:47] mypil commented on #3505
@no-identd - Thank you for submitting feedback.

From our understanding, the issue has been answered by illfated. If you feel it hasn't been answered please re-open this issue.

Thank you for engaging with the community here for the docs.

[2019-05-09 10:48] mypil commented on #3347
@officedocsbot assign @mypil

[2019-05-09 10:48] mypil commented on #3347
@jaimeo @zdvorak - Do you have any updates on this?

Thank you.

[2019-05-09 11:19] e0i commented on #2419
@officedocsbot assign @e0i

[2019-05-09 11:20] e0i commented on #2419
Hello, @jeffstokes72

The issue is under investigation and you will be updated with any changes on the go.

Thank you for providing feedback and following up.

[2019-05-09 11:39] e0i commented on #3316
@officedocsbot assign @e0i

[2019-05-09 11:42] e0i commented on #3316
@biren1234

It seems that your question has been answered by the community.

Note that the issues section of this repository is intended for documentation and content issues only.

Should you have any further issues similar to this one, please consider opening a product support ticket here:

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you

[2019-05-09 11:42] e0i commented on #3316
@officedocsbot close

[2019-05-09 11:42] #3316 closed

[2019-05-09 11:45] e0i commented on #3290
@officedocsbot assign @e0i

[2019-05-09 11:46] e0i commented on #3290
@Tdiwestyguy

The issue has been noted and the document will be revised in the light of your feedback.

You will be kept posted on updates.

Thank you for providing feedback.

[2019-05-09 11:49] mypil commented on #1027
@Justinha - Yes, I will be glad to assist you with this. I have already discussed with @Malind19 to create the PR for this issue. Thank you.

[2019-05-09 11:56] e0i commented on #3255
@officedocsbot assign @e0i

[2019-05-09 11:58] e0i commented on #3255
Thank you, @limpidweb @ErVaDy @marcosmcampos for your valuable comments.

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

[2019-05-09 12:00] e0i commented on #3256
@officedocsbot assign @e0i

[2019-05-09 12:23] mypil commented on #3293
@marcosmcampos - From our understanding, the issue you raised has been answered by Reeced40. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-09 12:23] mypil commented on #3293
@officedocsbot close

[2019-05-09 12:23] #3293 closed

[2019-05-09 12:35] xNiklasJern commented on #3257
Hi @mypil
I still don't agree with the wording in the article. Since there is no difference in the in the OS for e3 or e5. As the egallagh said, its matter of a difference of licenses not OS version. Also the article doesn't take hight for the new add-on SKUs that include WDATP (that was released in February)

Regards,

[2019-05-09 12:59] mypil commented on #3257
@officedocsbot reopen

[2019-05-09 13:02] e0i commented on #3234
@officedocsbot assign @e0i

[2019-05-09 13:04] e0i commented on #3234
@RichardRanft, @illfated Thank you all for valuable feedback and discussion.

The issue is under investigation and you will be notified with any changes on the way.

[2019-05-09 13:04] mypil commented on #3257
@xNiklasJern - We appreciate your efforts to clarify the docs.
Could you please assist us by suggesting how this content could be edited to incorporate your feedback? If you could suggest what the appropriate text and where it should be placed, I could assign one of our team member to create a Pull Request to get it added or you may also create a Pull Request to add in your suggestion and just lin

[2019-05-09 13:10] mypil commented on #3399
@Niglb - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-09 13:17] mypil commented on #3379
@jwojan - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-09 13:21] emchj opened #3600 "Set metric and exclusionRoute using VPN profile XML config file"
Hello,
I configured Always-on VPN using Force-Tunnel but Skype for business doesn't work properly over the VPN. Is it possible to bypass the skype traffic? My idea: Configuring Split-Tunnel -&gt; add a default route 0.0.0.0/0 such as Force-Tunnel sets automatically and add an exclusion for the Servers used for S4B. Is it possible to make these settings through the XML config file?
VPNv2/ProfileNam

[2019-05-09 13:55] mypil commented on #1004
@dfconroy - From our understanding, the issue you raised has been answered by MaratMussabekov. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-09 13:56] mypil commented on #2215
@officedocsbot close

[2019-05-09 13:56] #2215 closed

[2019-05-09 14:00] e0i commented on #3042
@officedocsbot assign @e0i

[2019-05-09 14:04] mypil commented on #946
@lenraphael - From our understanding, the issue you raised has been answered by MaratMussabekov. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-09 14:05] e0i commented on #2981
Hello, @IXbalanque

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-05-09 14:07] e0i commented on #2992
@jaimeo Any updates with this issue?

[2019-05-09 14:11] JoeRainero opened #3601 "Grammar"
Microsoft sites, services, and properties, as well as computers running Windows 10, can use a Microsoft account as a mean of identifying a user.

Should say "Microsoft sites, services, and properties, as well as computers running Windows 10, can use a Microsoft account as a means of identifying a user."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-05-09 14:13] e0i commented on #2965
@officedocsbot assign @e0i

[2019-05-09 14:14] e0i commented on #2965
@Justinha

Any updates with including WPAD as a software dependency in this article?

We would like to assist with content updates if needed.

Thank you.

[2019-05-09 14:16] e0i commented on #2938
@officedocsbot assign @e0i

[2019-05-09 14:18] e0i commented on #2938
@vrdse @illfated @jai6684

Thank you all for your feedbacks productive discussion.

The issue is being routed to Windows PowerShell writing team for investigation. You'll be notified with relevant updates as content gets updated.

Kind regads.

[2019-05-09 14:23] Neckross commented on #2613
This feature will stay grayed out unless you push a Wipe or Fresh Start request, after the completion you'll see the option becomes active.

[2019-05-09 14:34] e0i commented on #2914
@officedocsbot assign @e0i

[2019-05-09 14:36] angrymrtom commented on #2914
wow, moving fast over there, takes 2 months just to assign the tickets.

[2019-05-09 14:40] e0i commented on #2914
@andrewwillett @angrymrtom

Apologies for the delay.

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback and following up.

[2019-05-09 14:44] e0i commented on #2913
@officedocsbot assign @e0i

[2019-05-09 14:50] e0i commented on #2913
@mariuszo-at-microsoft-com

The issue is being marked as resolved since this issue has had been addressed with the following commit and content has been updated according to your input.

https://github.com/MicrosoftDocs/windows-itpro-docs/commit/076f1af663f191a2c8e45f2778f3770e21d4883c#diff-913948eb72d430873f66b6dd8ebed31b

Thank you for taking the time to provide feedback.

[2019-05-09 14:50] e0i commented on #2913
@officedocsbot close

[2019-05-09 14:50] #2913 closed

[2019-05-09 14:54] robmacf opened #3602 "Windows Hello for Business vs. Virtual Smart Card"
Virtual Smart Card is being superseded by Windows Hello for Business. It would be a good idea to include that information on this Virtual Smart Cards topic.

Refer to this page: https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-faq

Specifically this statement: "Microsoft recommends new Windows 10 deployments to use Windows Hello for Business. Virtual s

[2019-05-09 14:58] e0i commented on #2896
@officedocsbot assign @e0i

[2019-05-09 14:59] e0i commented on #2896
@npherson

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-09 15:03] e0i commented on #2871
@officedocsbot assign @e0i

[2019-05-09 15:04] e0i commented on #2871
@kumaarrahul

This issue has had been addressed with the following commit and content has been updated according to your feedback.

[d75866 Added info for Microsoft 365 trials ](https://github.com/MicrosoftDocs/windows-itpro-docs/commit/d758662d056186c937c075e3b1c87402f655b7f8)

We are thus closing this issue since it seems to be resolved.

Thank you for taking the time to provide feedback.

[2019-05-09 15:04] e0i commented on #2871
@officedocsbot close

[2019-05-09 15:04] #2871 closed

[2019-05-09 15:05] e0i commented on #2848
@officedocsbot assign @e0i

[2019-05-09 15:08] e0i commented on #2820
@officedocsbot assign @e0i

[2019-05-09 15:09] e0i commented on #2820
@amanjee

The issue is being marked as resolved since it seems that your question has been answered by _mapalko_.

Note that the issues section of this repository is intended for documentation and content issues only.

Should you have any further issues similar to this one, please consider opening a product support ticket here: [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/w

[2019-05-09 15:09] e0i commented on #2820
@officedocsbot close

[2019-05-09 15:09] #2820 closed

[2019-05-09 15:35] mypil commented on #3385
@NoName76 - We would like to follow up on this. Can you please respond to the query of Reeced40? Thank you.

[2019-05-09 15:39] e0i commented on #2711
@officedocsbot close

[2019-05-09 15:39] #2711 closed

[2019-05-09 15:43] e0i commented on #2629
@officedocsbot assign @e0i

[2019-05-09 15:43] e0i commented on #2629
Hello, @XEASACJ1

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-05-09 15:57] e0i commented on #2489
@officedocsbot assign @e0i

[2019-05-09 16:07] e0i commented on #2571
@officedocsbot assign @e0i

[2019-05-09 16:07] e0i commented on #2571
Hello, @scrubbles

We are resolving this issue since your question seems to be answered by _jdeckerms_

Note that the issues section of this repository is intended for documentation feedback.

Please direct similar support questions via the following link so that it gets answered quickly:

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-09 16:07] e0i commented on #2571
@officedocsbot close

[2019-05-09 16:07] #2571 closed

[2019-05-09 16:08] e0i commented on #2569
@officedocsbot close

[2019-05-09 16:08] #2569 closed

[2019-05-09 16:10] e0i commented on #2569
@darnocian

It seems that your question has already been answered by the community and thus we are marking this issue as resolved.

Note that the issues section of this repository is intended for documentation feedback.

Please direct similar support questions via the following link so that it gets answered quickly:

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help

[2019-05-09 16:10] e0i commented on #2569
@officedocsbot assign @e0i

[2019-05-09 16:17] jaimeo commented on #2992
We will be updating all of these references in conjunction with the forthcoming Semi-Annual Channel release. That date is not public yet.

[2019-05-09 16:23] #3505 closed

[2019-05-09 16:27] e0i commented on #2422
@officedocsbot assign @e0i

[2019-05-09 16:27] e0i commented on #2422
@markoshea1212

This issue has had already been addressed with the following commit and content has been updated according to your feedback.

[[747018] cleaning up remaining references to OMS ](https://github.com/MicrosoftDocs/windows-itpro-docs/commit/74701833b55995a52407c9a1f04acc4ecee7e855#diff-e57dd497faab9faf95d355660866ff93)

We are thus closing this issue since it seems to be resolved.

Tha

[2019-05-09 16:28] e0i commented on #2422
@officedocsbot close

[2019-05-09 16:28] #2422 closed

[2019-05-09 16:29] jaimeo commented on #3416
@Air-Git, you are welcome to file your own PR with proposed changes. We will run that by the appropriate PM for their review of accuracy and will publish with their approval.

[2019-05-09 16:33] #3539 closed

[2019-05-09 16:58] joordan opened #3604 "Silent Printing for Edge Kiosk Mode"
I enjoyed the easiness of setting up the kiosk mode with the Edge browser (Windows 10, version 1809).  However, I was wondering if there is a way to lock/limit the printer settings, or to remove the print dialog options in order to print directly / silent print? I'm planning to using kiosk mode in a business setting where our customers are able to print, but they can see the print dialog box befor

[2019-05-09 17:00] e0i commented on #2441
@officedocsbot assign @e0i

[2019-05-09 17:01] e0i commented on #2442
@officedocsbot assign @e0i

[2019-05-09 17:01] e0i commented on #2442
@Softgrider

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-09 17:09] e0i commented on #2548
@officedocsbot assign @e0i

[2019-05-09 17:09] e0i commented on #2548
@Field5555

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-09 17:10] rondls4 opened #3605 "Windows Server 2019 Info"
Can we get an updated Windows Defender Antivirus compatibility document that includes Windows Server 2019? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b88aee4-6727-fa98-1180-29708eea027e
* Version Independent ID: 374c671b-b21c-6eac-d887-892491357eb2
* Content: [Windows Defender Antivirus compatibility with

[2019-05-09 17:23] alexpressedF10 commented on #934
Hey everyone, I found the problem that was causing my "unrecognized database format" error. There was a KB released in January 2019 that caused this problem for '97 format Access databases that have fields containing >32 characters. A KB in February 2019 fixed this issue. For more information, look here

https://answers.microsoft.com/en-us/windows/forum/all/kb4480116-and-kb4480970-failure-getting-

[2019-05-09 18:42] Justinha commented on #2965
@e0i no updates are required. Here is more info from engineering:
There is no WDAG dependency on WPAD and it can be turned of.
On 1709 or 1803, WPAD can be disabled for the User in UI: “Settings > Network & Internet > Proxy > Automatically detect settings (turn it off).”
However, the registry key doesn’t exist on 1803 and below, and there isn’t an easy way to disable it for System Accounts.

WinHT

[2019-05-09 19:23] joestern commented on #1663
@Ankit198 - "Pending Enrollment" means you need to go to your CA and approve the enrollment (recall in step 9 of the certificate template creation, you specified manager approval required.) After you do this, you can search for the cert on the client, and right-click it to perform the export functions.

[2019-05-09 19:28] adrianimajion opened #3608 "Install Apps on the HoloLens documentation contains multiple dead links"
This page: https://docs.microsoft.com/en-us/hololens/hololens-install-apps

As well as presumably a number of other docs pages include a lot of hyperlinks to pages like developer.microsoft.com/en-us/mixed-reality#setting_up_hololens_to_use_windows_device_portal

All of those pages now just redirect to https://developer.microsoft.com/en-us/mixed-reality, which is just a landing page. This really re

[2019-05-09 20:38] Tdiwestyguy commented on #2414
The remote task is pretty fast.  I saw it happen about as fast as the Remote restart.   Might want to try it out!

I would say your main issue (based on your question, how long will it take) I think you're talking about how long does it take to get back to ready state for the next user..   The enrollment process for Self deploying profile is pretty quick however if you do things like adding Enroll

[2019-05-09 21:04] colemoine commented on #2804
any idea what error 0x80070490 was, I'm also having this issue with Windows Hello?

[2019-05-09 21:18] #3203 closed

[2019-05-09 21:25] Justinha commented on #2376
@lensoft Reporting CSP won't report data from Log Analytics. But Log Analytics has it's own query ability. Can you try that?  https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/log-query-overview

Unfortunately, that's all I've been able to confirm so far.

@mypil can you start tracking this? I think we need to add this to the docs but it requires more testing and engineering input.

[2019-05-09 23:07] iadgovuser1 opened #3610 "Add Windows version and SCCM version that rules were introduced"
For each WDEG ASR rule, it would be useful to list which version of Windows 10, Windows Server, and SCCM CB the rule was introduced.

As an example for the "Block persistence through WMI event subscription" rule there could be something like below.

Could also flatten it too:

Below are my notes for each rule, but I'm not sure if it is totally accurate. I wasn't sure about some of the versions (de

[2019-05-10 01:09] illfated commented on #1252
@gsterk : Thank you for reporting the issue. As you can see, it has now been rectified and the correct method is now visible on the docs.microsoft.com page.

[2019-05-10 01:20] illfated commented on #1239
@sriram-kakarala : Thank you for reporting this issue. As you can see, it has been rectified and is visible on the docs.microsoft.com page.

(This issue ticket can now be closed.)

[2019-05-10 03:16] hyoshioka0128 opened #3612 "[LOC] Showing "**\system\currentcontrolset\services\fontcache\parameters**" (extra asterisks appears)"
https://docs.microsoft.com/ja-jp/windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services
---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9abd3113-b803-87b6-ef7f-6893bcc5ceb5
* Version Independent ID: 6f7ca1ee-d19c-42bb-7db5-6158fc160e32
* Content: [Windows オペレーティング システムのコンポーネントから Microsoft サービスへの接続の管理 (Windows

[2019-05-10 03:22] hyoshioka0128 opened #3613 "[LOC] Back-Translation "_Local_machine" → "HKEY_LOCAL_MACHINE""
"_Local_machine\software\policies\microsoft\w32time\timeproviders\ntpclient"
↓
"HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\W32time\TimeProviders\NtpClient"

https://docs.microsoft.com/ja-jp/windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9abd3113-b803

[2019-05-10 04:00] schenardie commented on #3041
Sorry I didnt have time to get back to this until now.

I'd like to see an example of the string which goes into the custom CSP.
i've tried with the upgrade but its still not working

[2019-05-10 08:20] Jakub-Urban commented on #1753
cmd.exe /c 'net user | find /i "LocalAdmin" || Net user LocalAdmin StrongPasswordHere  /add /fullname:"LocalAdmin"'

cmd.exe /c 'net user | find /i "LocalAdmin" | Net user LocalAdmin StrongPasswordHere'

cmd.exe /c 'net localgroup administrators | find /i "LocalAdmin" || net localgroup Administrators LocalAdmin /add'

cmd.exe /c 'WMIC USERACCOUNT WHERE Name="LocalAdmin" SET PasswordExpires=FALSE'

[2019-05-10 08:22] Jakub-Urban commented on #1753
The script checks whether the account does exist so the error code is not reported wrongly. There are possibly more ways how to achieve this but for me, this worked.

Save it as a powershell script and run as a script within the Intune.

[2019-05-10 09:00] mypil commented on #2693
@officedocsbot assign @mypil

[2019-05-10 09:06] lindspea commented on #2896
@npherson Thank you for reaching out and helping improve MS Docs. Just to double check, are you suggesting replacing each note reading "This policy is only enforced in Windows 10 for desktop" with your verbiage "Added in Windows 10, version XYZA"?

[2019-05-10 09:11] lindspea commented on #2419
@jeffstokes72 Thanks Jeff. I'll work on getting the updated blog added as well as bordering the screenshot.  For the fixes for netstat, are you suggesting adding a note to the article about the update?

[2019-05-10 09:16] lindspea commented on #2442
@Softgrider Thank you for helping improve MS Docs.  I just need some clarity to update the article please.  Are you suggesting removing the revelant file extensions under "Copy on Write (CoW) file extension support"?

[2019-05-10 09:18] lindspea commented on #2506
@RPanick Thank you for reaching out and helping improve MS Docs.  Please could you specify what is missing, or what should be removed from this article, and I can have it updated soonest.

[2019-05-10 09:20] lindspea commented on #2548
@Field5555 Thank you for reaching out and helping improve MS Docs. Are you suggesting adding those recommendations to a note in this article?

[2019-05-10 09:23] mypil commented on #960
@toanyonebutyou - Thank you for submitting this feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-10 09:23] mypil commented on #960
@officedocsbot close

[2019-05-10 09:23] #960 closed

[2019-05-10 09:23] lindspea commented on #3504
@Air-Git Thank you for reaching out and helping improve MS Docs.  I'll have the team look into this and revert soonest.

[2019-05-10 09:27] lindspea commented on #3508
@blouwagie Thank you for reaching out and helping improve MS Docs.  Do you think having this article link added to the article would suffice? https://docs.microsoft.com/windows/security/threat-protection/windows-defender-exploit-guard/windows-defender-exploit-guard

[2019-05-10 09:31] mypil commented on #1252
@gsterk - Thank you for submitting this feedback.

From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-10 09:31] mypil commented on #1252
@officedocsbot close

[2019-05-10 09:31] #1252 closed

[2019-05-10 09:32] mypil commented on #1239
@officedocsbot close

[2019-05-10 09:32] #1239 closed

[2019-05-10 09:35] mypil commented on #3041
@officedocsbot reopen

[2019-05-10 09:48] mypil commented on #3326
@officedocsbot close

[2019-05-10 09:48] #3326 closed

[2019-05-10 09:55] lindspea commented on #2629
@XEASACJ1 Thank you for reaching out. It is DWORD value, and it should be the decimal value of the ram, cpu, disk space.

[2019-05-10 09:58] mypil commented on #3204
@greg-lindsay - I would like to follow up on this. Can you please assist to answer the question in this issue?

Thank you.

[2019-05-10 10:04] mypil commented on #3387
@Justinha - Do you have any updates on this?

[2019-05-10 10:05] mypil commented on #3388
@jaimeo - Do you have any updates on this?

[2019-05-10 10:07] mypil commented on #3398
@DaniHalfin @BRecords - We would like to follow up. Can you please share your insights on this issue?

Thank you.

[2019-05-10 10:08] mypil commented on #3386
@balait01 - We would like to follow up. Can you please respond to the query from joinimran? Thank you.

[2019-05-10 10:47] joinimran commented on #3041
@schenardie , Please share screenshots where you are applying the settings and the error you are getting. Then I can better guide you on this.

Thanks.

[2019-05-10 10:49] mypil commented on #1236
@nick-morhun - From our understanding, the issue you raised has been answered by joinimran. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-10 11:59] jeffstokes72 commented on #2419
Yeah I think that's a good idea

On Fri, May 10, 2019, 5:11 AM Lindsay <notifications@github.com> wrote:

[2019-05-10 12:05] npherson commented on #2896
Thanks for double checking! No, not suggesting you replace that verbiage, just add the new. Take a look at the MDM link from above to see what I am suggesting. Each feature description area includes the "Added in Windows 10, version XYZA" verbiage.

And, I see that SOME of the entries on the Defender page actually do follow the same model - features released with 1607 or 1709 do have the "Added in

[2019-05-10 12:35] mypil commented on #2376
@officedocsbot assign @mypil

[2019-05-10 12:37] mypil commented on #2376
@Justinha - Sure, I can do that. Please let me know if you need me to assign someone to create the PR.

Thank you.

[2019-05-10 13:33] mypil commented on #1128
@officedocsbot assign @mypil

[2019-05-10 13:34] mypil commented on #1128
@immanuelbaker - From our understanding, the issue you raised has been answered by jaimeo. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-10 13:40] mypil commented on #1167
@officedocsbot assign @mypil

[2019-05-10 13:43] mypil commented on #1167
@AHaugk - From our understanding, the issue you raised has been answered by Justinha and peterjlay. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-10 13:45] mypil commented on #1169
@officedocsbot assign @mypil

[2019-05-10 13:45] mypil commented on #1169
@aurelschwitter - From our understanding, the issue you raised has been answered by egallagh. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-10 13:51] mypil commented on #1283
@officedocsbot assign @mypil

[2019-05-10 14:50] Field5555 commented on #2548
I think the article needs a pretty thorough edit to bring it up-to-date. Application Compatibility Toolkit has been deprecated for some time now. Windows Analytics is the recommended solution for Application Compatibility now. Also, while we still provide USMT, we are recommending Laplink for user profile migration, especially around the migration from Windows 7 to Windows 10.
Laplink could ne a n

[2019-05-10 15:33] mypil commented on #1087
@officedocsbot assign @mypil

[2019-05-10 15:34] mypil commented on #1144
@officedocsbot assign @mypil