[2020-12-04 16:43] beerisgood commented on #8754
@ghost785
This isn't the right place for help with a virus infection but you can get help at https://malwaretips.com/
Even if i would clean the whole PC.

Good luck

[2020-12-04 16:57] ghost785 commented on #8754
at this point clicking on any link isn't an option. Thank you for your response. I ran a scan from MSERT and it came back with 20,000 files infected. is that legit or not?

[2020-12-04 17:15] beerisgood commented on #8754
This is definitely not safe.
Shut down your PC and start from scratch. You can download Windows 10 and/ or build a bootable medium:
https://www.microsoft.com/en-us/windows/get-windows-10

But you should download / build that on a clean PC.

[2020-12-04 19:50] eturnersumi opened #8757 "Deployment for Linux Windows defender is too complicated"
Customers struggle with following along this documentation to deploy Windows Defender for Linux. Are there plans to simplify the deployment steps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2197cba-30ac-1749-e25a-6f39c9ee9d20
* Version Independent ID: bcd14f13-ab59-8e69-5c83-42fee6e51f87
* Content: [Deploy Microso

[2020-12-04 20:40] illfated commented on #8754
I totally agree. Also, I suggest getting expert help from someone else if you need to salvage anything from your current computer contents. In such cases, your computer drive needs to be detached and backed up in such a fashion that infected files don't get a chance to be activated by your infected operating system.

Short answer: For backup, get expert help locally. For restoring your computer to

[2020-12-04 20:40] illfated commented on #8754
#please-close

[2020-12-04 20:42] #8754 closed

[2020-12-04 21:07] illfated commented on #8747
@denisebmsft : Could we ask if any of the tech writers or the tech department could cite some form of reference where this is clarified?

[2020-12-04 23:07] illfated commented on #8752
Maybe it is not clear enough in the article, but it mentions the Windows PE tools in the first sentence:

Maybe the download link for WinPEsetup.exe needs to be added to the **Prerequisites** section?

[2020-12-04 23:33] ariendg opened #8758 "Microsoft Endpoint Configuration Manager wrong title"
Microsoft Endpoint Configuration Manager is the wrong product name in the steps with:
Go to the Microsoft Endpoint Manager admin center (https://endpoint.microsoft.com) and log in.
so it should be "Microsoft Endpoint Manager".

Microsoft Endpoint Manager Configuration Manager (MEMCM) is another product and console and this product as a specific is not (yet) part of the https://endpoint.microsoft.c

[2020-12-05 04:08] ghost785 commented on #8754
Ok guys.. Good shit/ thanks for all the answers.. i didn't think of creating an instillation media from a well know src.. thanks.  Hey you guys... So i was trying to trap the virus... I did some recon on the files.. anyone want to help???

[2020-12-05 04:23] ghost785 commented on #8754
I have a host computer.. I tried to analyze it but i failed.. I wiped everything.. thought i backed up the files to try and run on a non networked host.. maybe im doing the wrong thing.. just looking for a little help

[2020-12-05 04:33] RAJU2529 commented on #8758
@ariendg  . thanks for pointing out .

[2020-12-05 09:37] illfated commented on #8758
Fair point. Microsoft Endpoint Manager (MEM) and Microsoft Endpoint Manager Configuration Manager (MEMCM) are the correct names.
Have you found more than one page pages containing incorrect names for the products?

[2020-12-05 09:39] illfated commented on #8754
Please get help locally, or call Microsoft Support for your region.
This is not a support instance.
This repository is only for Microsoft Docs documentation page issues.

[2020-12-05 15:06] YongRhee-MSFT opened #8760 "If EICAR is not detected, it could be that you have set preferences via Ansible or Puppet."
[Enter feedback here]

Symptom:
========
While you are going thru Client configuration

5. Run a detection test to verify that the device is properly onboarded and reporting to the service. Perform the following steps on the newly onboarded device:

curl -o ~/Downloads/eicar.com.txt https://www.eicar.org/download/eicar.com.txt

Reference:
https://docs.microsoft.com/en-us/windows/security/threat-pr

[2020-12-05 19:23] ghost785 commented on #8754
Ok I understand that. but what do i turn over to Microsoft..

[2020-12-05 20:37] illfated commented on #8754
That is for them to decide and you to find out.

Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repository.

Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitH

[2020-12-05 22:01] ghost785 commented on #8754
Hey illfated thanks

[2020-12-05 22:05] ghost785 commented on #8754
oh and i do have an "improvement suggestion" use a VPN and Norton Anti virus. Thought i had the virus contained and then i was going to analyze it but i think my system fixed it so now im lost. but thanks

[2020-12-06 05:16] rccnw opened #8762 "Microsoft Defender Antivirus - how to install?"
[Enter feedback here]
I arrived at this page looking for installation info for Microsoft Defender Antivirus.
Didn't find a download link as expected.
After spending a few minutes and following the available links, I'm completely confused.  All I see is content talking about how great it is, no clue how to get it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-12-06 12:36] MaratMussabekov commented on #8316
Hello @dcaddick ,
All connections are outbound and initiated by your computer. There is no need to allow any inbound traffic.
The article states:
"The following downloadable spreadsheet lists the services and their associated URLs that your network **must be able to connect to.** Ensure that there are no firewall or network filtering rules that would deny access **to these URLs**, or you may need

[2020-12-06 23:17] illfated commented on #8716
Thank you very much for the follow-up, both of you. 🙂 👍🏻

[2020-12-07 07:36] joinimran commented on #6580
Hello @icelava - I have gone through this discussion and here is my input regarding this. There are many cases where something is available in intune but may not be available in Windows security manger. Modern Management of Windows 10 with Microsoft Intune also has a set of policies, even policies that are duplicative of Group Policy (where applicable, not all Group Policies are available via MDM

[2020-12-07 09:38] joinimran commented on #6102
Hello @DrTeej - Thank you for your query here. As of now, this information is not available but If you want to request to add this information, please open a request using the user voice channel.

The corresponding teams will look into this and add the required information if required.

Thanks,
Imran.

[2020-12-07 09:53] nam31 commented on #8666
Closing via #8708

[2020-12-07 09:53] #8666 closed

[2020-12-07 10:05] nam31 commented on #8585
@liuxuechen8844 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2020-12-07 10:05] #8585 closed

[2020-12-07 10:09] nam31 commented on #8677
@msheets1 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2020-12-07 10:09] #8677 closed

[2020-12-07 10:12] nam31 commented on #8620
@rogerxrp Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2020-12-07 10:12] #8620 closed

[2020-12-07 10:22] nam31 commented on #8662
@denisebmsft can you please give your inputs here?

[2020-12-07 10:48] igor-safonov opened #8769 "Is it required to setup cron task for mdatp definitions update?"
This article has instructions to setup cron task to update mdatp package.
Is it required to have another task to run `mdatp --definition-update` or does it happen out of the box?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5471d691-d943-ceb7-7388-de5c06d1c48f
* Version Independent ID: 0f1c11c6-fa8e-9383-ea34-b262b03

[2020-12-07 11:46] nam31 commented on #8532
Closing via #8746
Thank you

[2020-12-07 11:46] #8532 closed

[2020-12-07 12:39] VLG17 commented on #8664
@jimdgit Are you connecting remotely to the machine where you have your flash drive that you want to encrypt or are you logged in locally. I see this issue happens when connecting over RDP, more details [here](https://social.technet.microsoft.com/Forums/en-US/575fa1b9-809a-43ac-9d4c-d11b6cf8badb/unable-to-encrypt-removable-usb-drive-quotaccess-deniedquot?forum=mdopmbam).

Since you are dealing wit

[2020-12-07 12:43] RAJU2529 commented on #8664
@VLG17 . Yea some note points should be added in document,
list of possible reasons where the bitlocker encryption gets failed.

[2020-12-07 12:50] jimdgit commented on #8664
Yes! That was it I was on RDP. Well this is not a good feature as some of my PCs are headless - a real bug that should be fixed but thank you so much for the solution!

[2020-12-07 12:50] #8664 closed

[2020-12-07 14:37] RAJU2529 commented on #8760
@nam31, will you look in this issue  #8760,

[2020-12-07 20:22] denisebmsft commented on #8762
Hello @rccnw and thank you for the feedback! My apologies for the confusion. I have updated the article to include information such that Microsoft Defender Antivirus is built into Windows 10, Windows Server 2019, and Windows Server 2016. I have also added a link to this article near the end: https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-antivirus/microsoft-

[2020-12-07 20:22] #8762 closed

[2020-12-07 20:32] erottier opened #8776 "Weird Prerequisites"
The Prerequisites states:
"Network infrastructure in place to reach your on-premises domain controller. If the machines are external, this can be achieved using any VPN solution."

But I cannot find any need for reaching the on-prem DCs from external devices.

Is this requirement strange, or am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-12-07 20:51] mapalko commented on #8776
The purpose of this guide is to enable SSO to on-premises resources, for example an on-prem network file share. In order to get a TGT to access on-prem resources, the device will need to have line of sight to the DC and to the on-prem resource.

[2020-12-08 06:30] TinaMcN commented on #8531
@Felix-B1 Da Sie bereits früher hervorragendes Feedback zu den Inhalten der deutschen Dokumente gegeben haben, wollte ich Sie darüber informieren, dass wir ein Pilotprojekt starten, um Community-Bearbeitung (PRs) und Feedback (Probleme) zu den Inhalten der deutschen Version von Microsoft Teams (https://docs.microsoft.com/de-de/microsoftteams/teams-overview)  zu ermöglichen. Wir haben einen deutsch

[2020-12-08 06:32] TinaMcN commented on #5849
@d-Rickyy-b as you have previously provided excellent feedback on the German Docs content I wanted to let you know that we are starting a pilot project to enable community Editing (PR's) and Feedback (Issues) on the German Microsoft Teams content https://docs.microsoft.com/de-de/microsoftteams/teams-overview. We have a German linguist on standby to review any suggestions during December and Januar

[2020-12-08 11:07] PeteSimons commented on #8618
Hi @lindspea
Any update on this - or do you know who I can contact in Microsoft for further input?  This article does look to be very interesting, but just needs some additional clarity for the customer to be able to follow the guidance.
Thanks
Peter

[2020-12-08 11:39] EdmondN1 opened #8778 "Windows Server 2019 Defender-GUI"
Dears,

While implementing the Defender AV on the Windows Server 2019 we have found that it is different than the Windows Server 2016, the Defender-GUI feature isn't part of server 2019 as the Defender AV is showing in the Windows Security Center.

Appreciate if you can advise and update accordingly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-12-08 14:19] RAJU2529 commented on #8752
@illfated , you  misunderstood the line, @Sorbe   said **copyPE.cmd** is missing, i  have many times installed windows 10 ADK and windows 10 PEaddson seperately ,  i never missed out this file copyPE.cmd ,
Also this file **copyPE.cmd** contains scripts  to copy the required files from windows 10  ADK sub folders.

[2020-12-08 14:28] RAJU2529 commented on #8778
@EdmondN1 , You need to enable those features by using PowerShell command,

**Install-WindowsFeature -Name Windows-Defender**
or
**Install-WindowsFeature -Name Windows-Defender-GUI**

verify whether service is  running and enabled
**Get-Service -Name windefend**
**Get-Service -Name mpssvc**

[2020-12-08 16:02] illfated commented on #8752
OK, fair enough. I will leave the discussion to you who know what to troubleshoot in this situation.

[2020-12-08 17:41] ATR-Master opened #8779 "How should we troubleshoot errors and issues with a tool that does not exists anymore?"
In einem Problembehandlungsartikel vom 12.11.2020 beschreiben sie auf der Microsoft Docs Seite "Problembehandlung für drahtlose Netzwerkverbindungen" die Fehlersuche bzw. Protokollanalyse mit dem Netzwerk Monitor 3.4. Dieses Tool wurde vor mehr als 5 Jahren abgekündigt und kann seit diesem Zeitpunkt nicht mehr geladen werden.
Es wurde zudem durch den Microsoft Message Analyzer ersetzt, der von Mic

[2020-12-09 05:14] nam31 commented on #8695
Closing via #8768

[2020-12-09 05:14] #8695 closed

[2020-12-09 05:15] nam31 commented on #8716
Closing via #8765

[2020-12-09 05:15] #8716 closed

[2020-12-09 14:52] aydeisen opened #8780 "MS Docs vs MS Support conflicting content"
There are some minor discrepancies between this document and the [Virus scanning recommendations for Enterprise Computers](https://support.microsoft.com/en-us/help/822158/virus-scanning-recommendations-for-enterprise-computers) support article.  Does one supersede the other and, if not, what's the difference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-12-09 15:19] PatrikHanssonIntersolia commented on #7181
Any progress here? Still missing ID49 in the list.

[2020-12-09 16:06] jesspent commented on #8757
This issue i am having is when running
sudo apt-get install mdatp i get this error "Unable to correct problems, you have help broken packages"

But yes there are too many steps to install Microsoft Defender ATP on Ubuntu - I'm not a Linux admin and its just seems way too complicated - However i managed to install and setup docker with running applications on Ubuntu

[2020-12-09 20:16] stelladew opened #8783 "Configuration Profile Clarification needed for Catalina 10.15.4 and higher."
I was looking at this guide for deploying Defender via JAMF.  I see the link for the new configuration profiles for Catalina 10.15.4 and higher including Big Sur.  What the page does not clarify is:
1. What is you deployed the config files for 10.15.3 or lower, and then upgraded to 10.15.4 or higher.  Do you need to remove those previous deployed configuration profiles and then add the new ones fo

[2020-12-09 22:39] deargued opened #8784 "Version "101.12.99" was release since las week and the documentation has not been updated."
Please update the documentation with "101.12.99" and provide the details of it.
![MDE for Linux](https://user-images.githubusercontent.com/62759892/101697261-1da99080-3a3d-11eb-9bc9-ee6d5095fc31.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca25ead-3b5d-4434-1865-0d4fef57ebdf
* Version Independent ID: 8d146609-1

[2020-12-09 23:05] FaithDIckinson opened #8785 "Get a error when trying to activate a product key for Windows 10 Pro"
Get a 0xc004F050 error when trying to activate a product key to go from Windows 10 Home to Windows 10 Pro. We purchased an upgrade product key for our non-profit.

[2020-12-09 23:37] illfated commented on #8785
Please contact your nearest Microsoft Support instance for OS licensing.

Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repository.

Disclaimer: I am not affiliated with Microsoft or the Microsof

[2020-12-10 00:56] meziantou opened #8788 "Image are not readable in dark theme"
Most images on this page have a transparent background. When using the dark theme, the black text is not readable.

Images should have a white background as the first image.

![image](https://user-images.githubusercontent.com/509220/101706827-f2806a80-3a57-11eb-80eb-89f87ba1a5fc.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-12-10 02:25] illfated commented on #8788
Fair point. The dark text needs a white background, at least as a background for the text, to keep it readable.

I assume this needs some layer editing, so my skills are not sufficient yet to provide a working sample.

I hope someone else in this project have got those skills already, otherwise this may take some time to solve.

[2020-12-10 02:31] meziantou commented on #8788
I've created a PR https://github.com/MicrosoftDocs/windows-itpro-docs/pull/8789 that changes the background of these images to white.

[2020-12-10 03:53] illfated commented on #8788
Thanks. That solves my immediate worry about how this ticket should be solved. I admit that I have acquired some ambition toward discrete editing of transparent images, so only the text is contrasted on opaque background, while the rest of the image not covered by figures or text could be transparent. But that is in my future, not the present.

Glad to see that you have acquired the knowledge to c

[2020-12-10 06:57] goxia opened #8792 "Why not provide or not have support for the OSEnablePrebootInputProtectorsOnSlates"
Does the OSEnablePrebootInputProtectorsOnSlates description not included in this document for unsupported or other reasons?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a05802f-9d0f-9aeb-3c8e-8b92f1284202
* Version Independent ID: 1fd9efc2-8946-75e4-27f3-95ac43a9d987
* Content: [BitLocker CSP - Windows Clie

[2020-12-10 10:24] SharmaKartikay commented on #6878
**This PowerShell script can be used to find out if the DMA Protection is ON \ OFF.
The Script will show this by emitting True \ False for On \ Off respectively.**

[code]

[2020-12-10 10:59] SharmaKartikay commented on #6878
**This PowerShell script can be used to find out if the DMA Protection is ON \ OFF.
The Script will show this by emitting True \ False for On \ Off respectively.**

[code]

[2020-12-10 13:51] vboyev-MSFT commented on #8255
@joinimran - Why are the requirements for EDR in Block mode to successfully function buried in the FAQ?
"Ensure MDAV is not disabled by policy and that cloud based protection is enabled" is a clear, direct statement that has very little room for interpretation - why would we want to state that in ambiguous indirect manner to leave doubt in a customer's mind about precisely what is required for thi

[2020-12-10 15:12] joinimran commented on #8721
Hello @bencze1 - Looks like the command is asking to input argument --value. Can you please try the following command?

**mdatp config passive-mode --value enabled** and see how it goes.

Thanks
Imran.

[2020-12-10 16:00] shanibu commented on #7929
If you run the Get-MPComputerStatus command, it WILL state if it is in passive mode in the AMRunningMode. If you are running EDR Block mode as well, it will state EDR over passive.
![image](https://user-images.githubusercontent.com/75799750/101796443-edaecb80-3ad6-11eb-82c3-a160e4e778c3.png)

[2020-12-10 17:00] SteBeSec opened #8794 "EDR in Block Mode only if primary AV is not Defender"
Hello everybody,

I think the documentation of the "EDR in Block Mode" feature is missing one key point: This feature is only recommended if a company is not using MDAV or MDFE as their primary AV solution.
Proof: Matt Soseman (Microsoft Security Architect) stated this in the comments of this YouTube Video introducing the "EDR in Block Mode" feature: https://www.youtube.com/watch?v=0d5PcgHN8mw&lc=

[2020-12-10 17:59] illfated commented on #8282
Resolved in PR #8793 / commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/1865a9df9f82722523430f8f75b274980892ed48 .

#please-close

[2020-12-10 18:06] illfated commented on #8282
This was actually resolved in PR #8278 / commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/56fac2bbc7cc3f2e66c32aac0c6410fea41b1e63 .

Anyway, we would still like to see this ticket closed.

#please-close

[2020-12-10 18:21] illfated commented on #8769
Good question. Wish I knew. Looking forward to the answer, which I hope will be that the existing package solution uses some kind of regular or trigger update check somehow.

[2020-12-10 19:17] #8282 closed

[2020-12-10 19:50] illfated commented on #8316
@MaratMussabekov : Thank you for verifying. It makes sense, too. Some sites may block outbound traffic from reaching any other sites than those determined safe by the company.

[2020-12-10 20:15] illfated commented on #8780
@aydeisen : I think it is important to keep in mind that the support.microsoft.com page contains general advice for virus scanning regardless of AV Software solution, whereas the MS Docs page deals with Microsoft Defender for Endpoint specifically. In this regard, neither page supersedes the other, you just need to use the one that matches your AV Software solution.

Please also note that the supp

[2020-12-11 02:38] MS-binche opened #8795 "This page updates to reflect RTP available in passive mode, what's the reason for this change? RTP should not be available in passive mode!"
This page updates to reflect RTP available in passive mode, what's the reason for this change? RTP should not be available in passive mode!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b88aee4-6727-fa98-1180-29708eea027e
* Version Independent ID: 374c671b-b21c-6eac-d887-892491357eb2
* Content: [Microsoft Defender An

[2020-12-11 06:35] ThijsLecomte opened #8796 "iOS/Android Support"
[Enter feedback here]

Can the docs be updated in order to distinguish if Android/iOS support offboarding?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c6849fb-03d4-2fa8-c442-97dcb2bd21ee
* Version Independent ID: 43da3d0e-5626-57f7-80a0-6c44b4f96ffc
* Content: [Offboard machine API - Windows security](https://docs.m

[2020-12-11 08:59] bencze1 commented on #8721
That does actually work. Googling on the string that's the syntax given in the Mac document, the Linux document said:

Configuration | Turn on/off AV passive mode | mdatp config passive-mode [enabled\|disabled]

I experimented back when I needed this and solved it by using the following syntax:
mdatp --config passiveMode on
which is kind of a completely different thing I'm not even sure where or h

[2020-12-11 10:22] #8359 closed

[2020-12-11 12:59] joinimran commented on #8720
Hello @Kouky1 - Thank you for putting your query. Can you please confirm what is OS version.

Thanks.
Imran.

[2020-12-11 14:49] illfated commented on #8721
(ref. #8798 )

[2020-12-11 17:31] z3r0-z3tt4byt35 opened #8799 "u suck"
u suck

[2020-12-11 17:36] illfated commented on #8799
#please-close

[2020-12-11 18:41] #8799 closed

[2020-12-12 00:54] TinaMcN commented on #8075
@d-Rickyy-b this issue is fixed now.  Thanks again for reporting it.  Please close if it looks ok for you too.

[2020-12-12 01:30] illfated commented on #8075
Yay! Thank you for the good news. The page looks good now, that is for sure.

[2020-12-12 01:48] illfated commented on #3455
@hyoshioka0128 : May I ask you to check the page links again, to see if any improvements can be found there?
- https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base

Thanks in advance for any feedback. 🙂

[2020-12-12 01:48] illfated commented on #3456
@hyoshioka0128 : May I ask you to check the page links again, to see if any improvements can be found there?
- https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base

Thanks in advance for any feedback. 🙂

[2020-12-12 01:48] illfated commented on #3457
@hyoshioka0128 : May I ask you to check the page links again, to see if any improvements can be found there?
- https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base

Thanks in advance for any feedback. 🙂

[2020-12-12 01:48] illfated commented on #3458
@hyoshioka0128 : May I ask you to check the page links again, to see if any improvements can be found there?
- https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base

Thanks in advance for any feedback. 🙂

[2020-12-12 01:48] illfated commented on #3459
@hyoshioka0128 : May I ask you to check the page links again, to see if any improvements can be found there?
- https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base

Thanks in advance for any feedback. 🙂

[2020-12-12 02:02] illfated commented on #8172
@lightupdifire : Sorry for taking so long to review the issue here, but I would like to offer another view on this document.

This is about preparations, before deploying AADJ devices, to make sure that there is a functional connection between the old fleet and the on-premises AD DS. Only after that part has been verified will it be practical to move on to the part of the documentation where AADJ

[2020-12-12 02:07] illfated commented on #8776
@erottier : I notice that a lot of people overthink that statement and make it more complicated than it is. It is meant to be a simple preparation step, not any elaborate infrastructure change. After all, it is more or less about a transition from a normal existing local network, via a set of preparations, to become ready to join Azure Active Directory.

[2020-12-12 04:31] d-Rickyy-b commented on #8075
Hi @TinaMcN, indeed much better now. The initial issue (sidebar overlaying content) is actually fixed. But I noticed some smaller issues:

There are some missing spaces and added slashes (left: English, right: German):
![grafik](https://user-images.githubusercontent.com/5798157/101975200-0a641400-3c3b-11eb-8185-5fbfe929f5fe.png)

![grafik](https://user-images.githubusercontent.com/5798157/10197519

[2020-12-12 05:27] hyoshioka0128 commented on #3455
@TinaMcN  | @illfated  - Fixed. Thanks!
Closed #3455 .

[2020-12-12 05:27] #3455 closed

[2020-12-12 14:28] rohitsawai opened #8801 "Wscore_MicrosoftWindowsWinsockAFD does not contain element AFD_EVENT_BIND error"
When I tried to apply filter - **Wscore_MicrosoftWindowsWinsockAFD.AFD_EVENT_BIND.Status.LENTStatus.Code == 0x209** for finding entries containing - **STATUS_TOO_MANY_ADDRESSES** . I'm getting an error that is saying _Wscore_MicrosoftWindowsWinsockAFD does not contain element AFD_EVENT_BIND_ .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-12-12 19:23] STO123456789 commented on #8801
So you know I archive this message and I have already started the case because there’s a group on get hub that has planted a python in my phone and I found it after seven years of having it there I’m glad you guys got your kicks out of my pictures and that shit but I am not putting that shit back in my fucking phone keep sending me that shit so I can show it to these people dumb ass

Ernesto

[2020-12-13 00:52] D-Jeffrey opened #8802 "What to do when Diagnostic Data Viewer - no access"
It worked before the last update/reboot and it had sample data, no I get the message
"The current user has no access to local diagnostic data'.  Not very useful when the diagnostic tool cannot diagnose errors or permissions issues.
There should be a comment on what permission or services are required so we can check for that

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-12-13 10:02] gspot3d commented on #2790
I cant turn on core isolation after turning it off. Microsoft says I must find compatible drivers for my Lenovo ideapad 330 to resolve the issue. There are about 19 issues from Mediatek, Samsung, ZTE and Huawei. Microsoft also said i must not just delete them. Im not tech savvy please help.

[2020-12-13 10:09] gspot3d commented on #2790
Here is a screen shot.
![incompatible drivers](https://user-images.githubusercontent.com/68169143/102008824-f3f1b180-3d3b-11eb-8502-f8748676ae7c.jpg)

[2020-12-13 12:20] illfated commented on #2790
@gspot3d : Please note that this issue ticket was closed almost 2 years ago. Also, it looks like you need some form of technical support. Here is some advice I have picked up during my time spent here on GitHub, in particular from contributing to this and other MicrosoftDocs repositories:

Wish I could help, but this repository is not intended for regular support issues, support requests or suppor

[2020-12-13 12:44] illfated commented on #8802
Would you be able to provide which Windows 10 version and OS build you use now and what it was before you updated?

Could you post a screen shot or snippet of the affected setting?

[2020-12-13 22:19] D-Jeffrey commented on #8802
Windows Insider 20236.1  The problem when away, not sure if it was because I used powershell to  Enable-DiagnosticDataViewing

When I did that it mentioned the 'Connected User Experience and Telemetry service was not running.

I run troubleshooting wizard and it did not find the issue...
Diagnostics Troubleshooting Wizard

Description
Faulting Application Path:             C:\WINDOWS\system32\msdt

[2020-12-14 09:39] lightupdifire commented on #8172
@illfated No problem, I have completed the setup meanwhile :) But maybe, if a message in the document would be more explained, I even wouldn't start working on this.

In summary, we cannot use WHFB for the WVD solution without having network connectivity from client PC to on-prem.

Why I see it unclear, because this document/setup "Azure AD Join Single Sign-on Deployment" is talking about "Azure A

[2020-12-14 09:39] #8172 closed

[2020-12-14 09:46] illfated commented on #8172
Fair enough, thank you for taking the time to share your views in such detail.

@mapalko : I presume you are quite busy with work, as well as preparing for the upcoming seasonal holidays, but do you have any thoughts to share on the closing comment?

[2020-12-14 10:09] illfated commented on #8802
Well, hmm. Thank you for providing the details. I am somewhat skeptical to whether Insider builds can be trusted to deliver 100% expected results. You may want to report this to the Insider build team using the Windows Feedback feature to make them aware of any potential unresolved issues.

Fair enough, thanks for the details. I hope the tech writers may find this information useful.

I still thin

[2020-12-14 12:13] PhantomLord72 commented on #6703
I cannot upgrade from pro N to enterprise

[2020-12-14 12:33] #8264 closed

[2020-12-14 12:50] isaac32767 opened #8803 "Incomplete Instructions"
"Copy file to sandbox."

**HOW?**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c06f3ef-5946-862a-ae14-f897fdb518ca
* Version Independent ID: cd6a8b99-b1e9-dff5-f174-a15840b304f0
* Content: [Windows Sandbox - Windows security](https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-sandbox/windows

[2020-12-14 13:21] joinimran commented on #7896
@JohanFreelancer9 - kindly do the copy editor review for this PR. Thanks.

[2020-12-14 13:22] joinimran commented on #7896
@illfated - Thanks, the 1st link is the correct one. Created PR for the same.

[2020-12-14 14:14] e0i commented on #7150
Closing as it has been suggested that the article is correct as it is. See the comment, https://github.com/MicrosoftDocs/windows-itpro-docs/pull/7946#pullrequestreview-467774360

[2020-12-14 14:14] #7150 closed

[2020-12-14 17:32] joinimran commented on #8720
Hello @Kouky1 - I am waiting for your information so that I can better help you and we can make this documentation more helpful for everyone.

Thanks.
Imran.

[2020-12-14 17:55] mapalko commented on #8172
I don't think the customer use case actually falls under the scenario that we are trying to address in the docs. The goal of this doc is to provide access to on-prem resources tied to AD DS that a user would access from an Azure AD Join device. If the customer has Azure AD Joined devices that do not have any network relationship with on-premises AD, then those devices would never have the ability

[2020-12-14 17:59] denisebmsft commented on #8795
Hello @MS-binche and thank you for posting your question. This article was updated per program manager request. It is correct that real-time protection is still active, even if Microsoft Defender Antivirus is in passive mode.

[2020-12-14 17:59] #8795 closed

[2020-12-14 19:19] bigben386 commented on #6878
Hey @SharmaKartikay
Thanks for the script. Do you know if this is equivalent to DeviceGuardAvailableSecurityProperties = DMAProtection that is returned with get-computerInfo in windows powershell? DMAProtection was an available security property in all the systems we tested where kernel dma protection = On in msinfo32. We have been using this get-computerInfo property to set an environment variabl

[2020-12-14 19:32] illfated commented on #8172
Thank you for the feedback. Very well. I will leave this issue in peace, seeing as there is so much else to get done.

/sign-off

[2020-12-14 19:53] erottier commented on #8776
Is it really true?

When I open Outlook I get WhfB instead of my on-prem authetication window. Understandable, but it's not a requirement that I need a VPN per sé.

Also, @illfated, as I understand this, you could use a AAD-joined laptop within the org building to access on-prem file servers, then also no VPN needed.

So my conclusion is, that VPN is simply NOT a prerequisite, but a _nice to have_

[2020-12-14 20:29] illfated commented on #8776
I am not an expert on this topic, so I don't know if I can answer your topical question correctly.

Please review the related discussion about this very same page in issue ticket #8172 to see if your question is better answered there.

[2020-12-14 20:30] illfated commented on #8776
Oh, and yes. That much is true. VPN is not a requirement per se, just a "nice to have" feature in relevant cases.

[2020-12-14 20:31] illfated commented on #8172
<sup> (ref. #8776 )</sup>

[2020-12-14 20:59] erottier commented on #8172
Then how about my case when the AADJ device opens Outlook? Since the laptop only opens Outlook, this should be doable by TCP 443 instead of a whole tunnel.
Isn't the Exchange server doing the authentication for the user then? Kinda as a proxy?

Also, this whole document doesn't **use** any VPN access whatsoever. So, still, why the prerequisite?

As far as I'm concerned, very, very simplistically i

[2020-12-14 21:12] illfated commented on #6703
@PhantomLord72 : Please contact your local Microsoft Support to inform them of your issue and that you need help to find out why it does not work.

[2020-12-14 21:41] mapalko commented on #8172
If you are using Outlook with Microsoft 365 or Office 365, then Outlook authentication is generally done through Azure AD and this article is not applicable.

The device and AD configuration does not require VPN, but actual resource access generally does. The main scenario for this article is there is some resource hosted on-premises that requires Kerberos or NTLM authentication (like a local file

[2020-12-14 21:43] illfated commented on #8172
Thank you. I was uncertain myself. Glad you had time to clarify. Thanks again. 👍🏻

[2020-12-14 22:24] SharmaKartikay commented on #6878
Hey @bigben386 do you mean these:-

No its not equivalent instead is a superset of Kernel DMA Protection seen on MSINFO32. DMA Protection is possible from Hardware in two flavors :-

1. Thunderbolt Security Settings allowing SL0 - SL03 Refer [this](https://thunderbolttechnology.net/security/Thunderbolt%203%20and%20Security.pdf). These devices may or may not have separate DMA Protection feature on

[2020-12-14 23:10] TinaMcN commented on #8075
@d-Rickyy-b thanks for letting us know about these issues, I sent them over to the localization vendors to fix.

[2020-12-15 06:29] erottier commented on #8172
I'm guess I wasn't clear that Oulook is using Exhang on-prem. Also I think SharePoint accessable on-prem via intenet would have the same issue.

I'm talking about cloud only clients using on-prem resources accessable via internet before WhfB via authentication prompts.

So while you could use a VPN, it technically NOT a prerequisite.

As in, you don't need gas for a car if you only want to showmod

[2020-12-15 07:42] VLG17 commented on #8725
According to [this article](https://docs.microsoft.com/en-us/windows/client-management/mdm/new-in-windows-mdm-enrollment-management), the CSP policy  **Update/TargetReleaseVersion** has been added starting with Windows 10, Version 1803 and is included in all newer releases.

Have you checked with 20H2 and could not find it?

[2020-12-15 09:07] VLG17 commented on #8722
@yogeshasalkar Are you still seeing this error?

Could you try to collect the MDM diagnostic logs [as described here](https://docs.microsoft.com/en-us/windows/client-management/mdm/diagnose-mdm-failures-in-windows-10) and see if you can find more details?

Could you also check it's not a text formating issue of the path that you used in the OMA-URI?

[2020-12-15 09:58] yogeshasalkar commented on #8722
Issue has been resolved after more research. These settings are applicable on Latest insider preview build.

Thanks for No Help 😅

[2020-12-15 09:59] #8722 closed

[2020-12-15 13:01] MaratMussabekov commented on #8693
Hello @Jlouden9 ,
Could you please provide more details, where is this option presented in AntiVirus section? I am not able to find it

Thank you

[2020-12-15 13:06] #8353 closed

[2020-12-15 13:08] e0i commented on #8363
The answer provided by **VLG17** seems sufficient. Thanks.

[2020-12-15 13:08] #8363 closed

[2020-12-15 13:13] #6723 closed

[2020-12-15 13:15] e0i commented on #7185
Fixed via https://github.com/MicrosoftDocs/windows-itpro-docs/commit/c62e96dc46cc1645f1d811a02985d6dec41f3426#diff-08a3ecf1411414d2c482a969f5344c352e43a95ad6933dc3cf617c4dccc4ac9f Thanks.

[2020-12-15 13:15] #7185 closed

[2020-12-15 13:26] yogeshasalkar commented on #8156
Reopen this issue again.

As per my initial comment,
Correct equivalent GP for UserRights/DenyLocalLogOn setting is 'Deny log on locally' not 'Deny log on as a service'.

Following is my configuration and analysis.

I have configured UserRights/DenyLocalLogOn to DESKTOP-ASPE38Q\xya
![intune config](https://user-images.githubusercontent.com/50020908/102220255-952c6380-3f06-11eb-9465-2f359e9327a9.JP

[2020-12-15 13:28] DeanGross opened #8809 "Broken link"
The link to investigate devices in MCAS is broken, please fix. it currently points to https://docs.microsoft.com/en-us/cloud-app-security/wdatp-integration#investigate-machines-in-cloud-app-security.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70acebee-16af-18f5-4069-1e4ae0d71fc6
* Version Independent ID: 1dfed329-8

[2020-12-15 13:45] illfated commented on #7185
(just to have the commit link show a pop-up bubble:) https://github.com/MicrosoftDocs/windows-itpro-docs/commit/c62e96dc46cc1645f1d811a02985d6dec41f3426

[2020-12-15 13:54] DeanGross opened #8810 "Confusing text"
The Note about server licensing is confusing. some words are repeated and acronyms are not defined. Please review and edit this so that people that are not familiar with server licensing terminology can understand what is needed. The whole topic of Defender for Endpoint in regards to servers is very confusing and needs to be simplified.

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-12-15 14:00] illfated commented on #8758
(ref. PR #8808 )

[2020-12-15 14:21] yogeshasalkar commented on #8156
@ManikaDhiman @e0i

[2020-12-15 14:22] nam31 commented on #8706
Closing via #8732

[2020-12-15 14:22] #8706 closed

[2020-12-15 14:24] nam31 commented on #8621
Closing via #8772

[2020-12-15 14:24] #8621 closed

[2020-12-15 14:33] illfated commented on #8809
Thanks for reporting the broken link. Confirmed. 404 is the result when clicking that link, both above and in the documentation:
- https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/microsoft-cloud-app-security-config#view-the-data-collected

***

## View the data collected

To view and access Microsoft Defender for Endpoint data in Microsoft Cloud Apps Secu

[2020-12-15 17:48] jmmowrer opened #8811 "Need clarification of "detection status""
Regarding Detection Status messages:
Using the word "Blocked" is misleading as it seems to by itself indicate we kept the malware from running.  But that is until you learn about "Prevented".  I think this article needs a chart that breaks these out like this (better wording of course):

Blocked - Process was running, we stopped it and blocked it from running again.
Prevented - File wasn't able to

[2020-12-15 17:59] mapalko commented on #8172
The scenario that you are describing where an on-prem resource is exposed to the internet is not the target scenario for this use case. We can more be more specific in the goal of the article and deployment model. I would probably want to make the changes on https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso page and leave this existing d

[2020-12-15 18:29] Kouky1 commented on #8720
Hello, I just tested it again, it is Windows 10.0.19042.685 Enterprise.

[2020-12-16 09:00] paflaher opened #8818 "Potential Out of Date information"
On the docs page it states that Linux is not supported but planned.

Based on - https://techcommunity.microsoft.com/t5/microsoft-defender-for-endpoint/microsoft-defender-atp-for-linux-is-now-generally-available/ba-p/1482344

It would seem that it is now GA supported on Linux, if this is correct can this be updated to reflect?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-12-16 09:22] illfated commented on #8818
I could very well start a PR to update the table and make it show the various Linux distros as supported, but (to me) it seems a bit difficult to find the list of supported features for Linux Server (OS only, or the same support features as for Windows Server OS). So, basically, I have no problem starting a PR, but I would need to see the current support table list for supported features on Linux

[2020-12-16 11:00] sveinungre opened #8819 "APIC Virtualization and SMM Firmware Measurement missing in documentation"
On a HP EliteDesk 800 G6 Desktop Mini PC model, I have additional values not mentioned in this documentation.

AvailableSecurityProperties:
8 = APIC Virtualization (I belive, it adds up with what I see in msinfo32)

SecurityServicesConfigured:
4 = SMM Firmware Measurement (I belive, it adds up with what I see in msinfo32)

SecurityServicesRunning:
4 = SMM Firmware Measurement (I belive, it adds up

[2020-12-16 11:18] konstruktoid commented on #8818
I think https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/linux-preferences could be used to find supported options, but I haven't seen a list @illfated

@paflaher, and you are correct. `Not supported (planned)` should be replaced with `Supported` at least since we don't have a list of "Security assessment support".

[2020-12-16 12:15] illfated commented on #8818
👍🏻 Thank you for the feedback. I thought I should ask, just because you seem to be quite updated on current Linux technologies.

[2020-12-16 12:21] illfated commented on #8818
There are a couple of options for what to add in the **Security assessment support column** when creating the PR to update the table:
- enter only "Supported" or "See preferences" (linked)
- fill in only "Operating System (OS) vulnerabilities"
- fill in all 5 lines as in the fully supported Windows versions

Anyway, it needs to be reviewed and evaluated in the PR. I will open one, then we'll see.

[2020-12-16 12:52] illfated commented on #8818
There you go. PR #8820 is ready for review. I based my suggested new content both on the preceding MacOS support and also listed the distros according to the TechNet blog page.

[2020-12-16 13:10] illfated commented on #8810
Existing Note blob:

Proposed change:

I could be mistaken about some of the details. If you do have specific knowledge in this topic, please advise.

[2020-12-16 13:46] Flo9211 opened #8821 "Firmware-embedded activation key"
Hey.

Since Get-WmiObject has been superseded by Get-CimInstance starting in PowerShell 3.0 I had problems with (Get-WmiObject -query ‘select * from SoftwareLicensingService’).OA3xOriginalProductKey. I used (Get-CimInstance -query `select * from SoftwareLicensingService').OA3xOriginalProductKey instead.
Maybe makes sense to add.

Best,
Florian

---
#### Document Details

⚠ *Do not edit this sectio

[2020-12-16 14:08] bledMS82 opened #8822 "Incorrect cli info"
To enable or disable real-time-protection the cmd's are

mdatp config real-time-protection --value enabled
mdatp config real-time-protection --value disabled

please update as the --value is missing in the docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07f72a75-ca85-0651-1512-8ffb62d0ab7b
* Version Independent ID:

[2020-12-16 14:18] jyama4ta opened #8823 "It is wrong explanation about license requirements"
[Enter feedback here]
The note on 'Windows 10 Enterprise requirements' explains cx don't need Azure AD activation. However, it is different from Product terms <https://www.microsoft.com/en-us/licensing/product-licensing/products>. PT requires Azure AD-based activation as below. This description is misleading to customers. So could you please consider to remove the notes? Thank you.

Customers with

[2020-12-16 14:23] jyama4ta commented on #8823
Please note that KMS activation is allowed in the case of Azure Government customers only.

[2020-12-16 15:57] konstruktoid opened #8824 "Colliding file paths when cloning repository"
[code]

[2020-12-16 16:00] haiderim opened #8825 "Is MDATP health data stored in some table that can be queried using KQL?"
These reports must be fetching data from some table in the backend, can we query using KQL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 828b08db-32e7-c3e7-afaf-a6badf0daa93
* Version Independent ID: 17a248e0-965b-c2cc-acb9-377ba8eba1f8
* Content: [Device health and compliance report in Microsoft Defender ATP - Windo

[2020-12-16 17:07] #8822 closed

[2020-12-16 17:22] nam31 commented on #8758
Closing via #8808
Thank you

[2020-12-16 17:22] #8758 closed

[2020-12-16 18:03] illfated commented on #8824
If this is done on a Windows computer, it seems to indicate that there is at least one file with a duplicate name, but with different case on the extension part of the file name. Not sure if this is related to one of my attempts to replace an existing image containing uppercase .PNG with an image using only lowercase (but that was more than a year ago, perhaps from when I started contributing to t

[2020-12-16 18:05] illfated commented on #8825
Good question. I don't know myself, but hopefully you will receive an answer from the current topic author sooner or later.

[2020-12-16 18:08] levinec commented on #8818
@paflaher @illfated thank you for working on this. However, the supported systems and platforms for threat and vulnerability management are sometimes different from the minimum requirements for Microsoft Defender for Endpoint list (as stated in the note in the documentation). Even though TVM is part of MDE, it currently does not support Linux.

[2020-12-16 18:08] #8818 closed

[2020-12-16 18:10] illfated commented on #8818
OK, fair enough. I thought it was supposed to show a supported state, but I trust you know this topic better than me or the others here, so we trust your decision to close this ticket and its related PR.

[2020-12-16 18:47] denisebmsft commented on #8778
Thank you @EdmondN1 for posting your question, and thank you @RAJU2529 for your help. It looks like the article has the corret PowerShell cmdlets and information. I'm going to close this for now, but if you still have questions, please let us know.

[2020-12-16 18:47] #8778 closed

[2020-12-16 18:53] denisebmsft commented on #8780
Thank you @aydeisen for posting your feedback here. And thank you @illfated and @MaratMussabekov for your help. I am going to close this issue, but if you still have any questions, please let us know.

[2020-12-16 18:53] #8780 closed

[2020-12-16 19:06] gsmitheidw opened #8827 "Powershell definition update script"
The unpacking powershell script on this page is a bit broken. For example $args = @("/x") on the 5th line is never actually used at all! What happens on a subsequent run that pulls down a new GUID? It's not at all clear.

Also would it not be better to get rid of the oldfashioned "cmd /c" and use pure powershell such as:
Start-Process $vdmpackage $unpackargs -Wait  etc

Furthermore this should be

[2020-12-16 19:13] aydeisen commented on #8780
@denisebmsft @illfated @MaratMussabekov

Thank you for your responses.  Just one follow-up:  While I respect the note in the support article, according to a note in `docs`, the automatic exclusion rules only apply during an RTP scan and not during a scheduled scan.  So, if a scheduled scan is implemented, which list would be used for the explicit exclusions that are needed?

![image](https://user-

[2020-12-16 19:40] zerovertex opened #8828 "Please clarify the ownership parameter under ms-device-enrollment"
Please clarify what the 1,2, and 3 correspond with under the ownership parameter of ms-device-enrollment. Only 2 options are discussed in the description so the reader has no way to know which option corresponds with which ownership type. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39ae2ccd-9f3f-dcb5-3a20-46

[2020-12-16 19:50] illfated commented on #8780
To me, it appears somewhat obvious (after reading the full document page) that _any other exclusion lists_ are available to a scheduled scan. Only the Automatic exclusions are omitted during a Full/Quick or On-demand scan. See also the quoted paragraph below:

## A few points to keep in mind

- Custom exclusions take precedence over automatic exclusions.

- Automatic exclusions only apply to Real-

[2020-12-16 19:58] illfated commented on #8778
(Just to reiterate the commands provided by @RAJU2529 , but in MarkDown code blocks with syntax highlighting.)

[code]

[code]

[code]

[2020-12-16 20:03] illfated commented on #8827
Thank you for the insight and suggestions. I am sure this will be considered by the MS Docs team and forwarded to the software team.

By the way, have you considered using the Windows Feedback feature to send response to the developers? That channel is considered a quicker route to reach the developers.

[2020-12-16 21:08] gsmitheidw commented on #8827
The feedback link at the bottom of the page directly references this GitHub issue page, I just followed the logical button on the page.

Why wouldn't developers be directly watching GitHub as a first port of call? Not very "DevOps". Where should I be submitting issues?  If it's not GitHub under the section in bold heading text marked Feedback, then it isn't very clear.

[2020-12-16 22:47] greg-lindsay commented on #8823
The notes in the article are correct.  The product team document probably needs to be clarified.  There is much confusion about activation because Subscription Activation is believed to be for all activation, but it is not. Subscription Activation is for stepping up from Pro to Enterprise.

[2020-12-16 22:47] #8823 closed

[2020-12-16 23:47] ivassallo19 commented on #7053
This shouldn't be closed.
The policy is still not available via Endpoint Manager.
And I personally don't want to write up an entire ASR Rule into a String to use for a Policy CSP.

[2020-12-17 00:00] jyama4ta commented on #8823
In my experience, Windows support team told us that there are licensing concerns if Win10 on Azure VMs are activated by KMS activation. Also, License team says that Win10 on Azure VMs must be activated by AAD-based activation (i.e. Subscription Activation). So, we should use Win10 pro image as following doc.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/windows-desktop-multitenan

[2020-12-17 03:06] sunilprabha opened #8830 "StatusCode: 404, ReasonPhrase: 'Not Found' listing machine via api/machines"
I have created a console application with app id , got a bearer token from Azure AD  and sent to api/machine to  list get all machines, i have granted Machine.Read.All, However i get this response 404

StatusCode: 404, ReasonPhrase: 'Not Found', Version: 1.1, Content: System.Net.Http.StreamContent, Headers:
{
    IsSuccessStatusCode: false
    ReasonPhrase: "Not Found"
    RequestMessage: {Method:

[2020-12-17 05:48] RAJU2529 commented on #8819
@sveinungre Which article are you referring to

[2020-12-17 05:56] sveinungre commented on #8819
https://docs.microsoft.com/en-us/windows/security/threat-protection/device-guard/enable-virtualization-based-protection-of-code-integrity

[2020-12-17 07:10] RAJU2529 commented on #8819
@sveinungre  Could you post the screenshot of system info 32

[2020-12-17 07:17] sveinungre commented on #8819
Yes attached. But I'm sure you can reach out to the correct team to confirm this.

Sveinung

From: VARADHARAJAN K <notifications@github.com>
Sent: Thursday, December 17, 2020 08:11
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Sveinung Eikenes <sveinung@eikenes-consulting.no>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-itpro-docs] AP

[2020-12-17 07:38] RAJU2529 commented on #8819
@sveinungre  where is the screenshot

[2020-12-17 07:43] sveinungre commented on #8819
Mm I attached in email but I see it did not work. Lets try this:

![image](https://user-images.githubusercontent.com/49359654/102458000-e4c47980-4043-11eb-82f6-bf65061d983a.png)

![image](https://user-images.githubusercontent.com/49359654/102458022-ec841e00-4043-11eb-9313-38fcc1720c30.png)

![image](https://user-images.githubusercontent.com/49359654/102458030-f0b03b80-4043-11eb-91ee-54031ade6b66.p

[2020-12-17 13:52] DeanGross commented on #8810
This is definitely an improvement but Defender is still repeated in "Microsoft Defender Defender for Endpoint for Servers"

[2020-12-17 14:24] russrimm opened #8833 "Upgrade Readiness mentioned"
This page mentions using Upgrade Readiness which is deprecated.  May want to change it out to Desktop Analytics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34937b5e-eda3-9c93-c31b-0701ea61198a
* Version Independent ID: 36f54d9f-503d-ea0a-bff2-3441571f8d44
* Content: [Quick guide to Windows as a service (Windows 10)

[2020-12-17 15:28] #8824 closed

[2020-12-17 15:32] denisebmsft commented on #8811
Thank you @jmmowrer for the feedback! We'll look into this.

[2020-12-17 15:35] denisebmsft commented on #8785
@FaithDIckinson we are sorry you are having trouble. @illfated is correct; this is a technical support case. That is the best and fastest path to getting your issue resolved.

[2020-12-17 15:35] #8785 closed

[2020-12-17 20:09] ariendg commented on #8758
I this think the full name on https://docs.microsoft.com/en-us/mem/configmgr/core/understand/microsoft-endpoint-manager-faq
Should be Microsoft Endpoint Manager Configuration Manager
And not Microsoft Endpoint Configuration Manager
But this is another topic, has nothing to do with the mixup in this issie. Microsoft has clearly chosen to do the branding this way..

[2020-12-17 20:17] illfated commented on #8758
Issue solved. Please open a new ticket if you find any new issues.

The name is now spelled correctly: **Microsoft Endpoint Manager Configuration Manager**

[2020-12-17 22:47] KoryKliner opened #8838 "Experience/DisableCloudOptimizedContent"
Experience/DisableCloudOptimizedContent is double-listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e8ecbe3-ba72-ec44-0591-7f604d50b1e3
* Version Independent ID: 9d5ff118-d539-dd6e-ae3e-102392c22287
* Content: [Policy CSP - Experience - Windows Client Management](https://docs.microsoft.com/en-us/windows/client-ma

[2020-12-17 23:06] ManikaDhiman commented on #8838
Hi @KoryKliner, Thanks for pointing this out. I removed the duplicate Experience/DisableCloudOptimizedContent entry from the topic; updates will be live shortly. Thanks again for the feedback!

[2020-12-18 03:43] CDjgould opened #8839 "Audit Events not working on Win10 Business Edition"
The documentation clearly states that these audit events should work on Windows 10 Business Edition. However I've applied them through the Intune Security Baseline policy and they do NOT work. Event Viewer clearly states that the "Policy is rejected by licensing" for all of them.

Here are the settings that error due to this "licensing" error.
[code]

You can check the documents for each one and s

[2020-12-18 06:36] illfated commented on #8838
Resolved in commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/4efc7e487dddc7fd10fe13f4f536496a359c0a9a . Should be live now.

[2020-12-18 06:53] illfated commented on #8811
Phrasing suggestion:
- Blocked: A running process detected. This process has now been stopped and also blocked from running again.
- Prevented: A detected file has been prevented from running.
- Detected: A process has been detected as a security threat. The process might still be running (EDR in non-block mode).

(Alternate phrasing may be just as useful, feel free to pick and choose.)

[2020-12-18 07:07] illfated commented on #8833
Thanks for the feedback & reference. Looks like this will be an ongoing process, still 500+ pages containing that expression:

**539 results for ""Upgrade Readiness""**
- https://docs.microsoft.com/en-us/search/?terms=%22Upgrade%20Readiness%22

[2020-12-18 08:58] illfated commented on #8760
@konstruktoid : Sorry for bothering you, I just wanted to know if you would like to have a quick look at this and maybe offer some pointers.

[2020-12-18 10:13] maxgara opened #8840 "Incorrect Update?"
I recently noticed that at some point this page seems to have been updated to reflect the idea that event 4625 is logged only in the circumstances that "an account logon attempt failed when the account was already locked out. It also generates for a logon attempt after which the account was locked out." This is at odds with my own professional experience seeing this event logged for all instances

[2020-12-18 15:30] VLG17 commented on #8753
@darioongit According to the [FAQ for ASR](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/attack-surface-reduction-faq), the scenario with Microsoft 365 Business license + Microsoft Defender AV enabled in **not supported**, so i don't think that should be added to the article. The information that's already present in the article describes the supported

[2020-12-18 15:38] VLG17 commented on #8394
@macmillernz What macOS Version are you running? According to the linked article, you need the kernel extension.

[2020-12-18 15:43] VLG17 commented on #8395
@macmillernz **Step 8** talks about system policy extension and **Step 9** about Network Policy extension. Would you like to see something else added to these? Could you share more details around what should be added?

[2020-12-18 16:00] VLG17 commented on #8432
@RobG-MSFT My research shows that Event ID 5379 is an Audit Success event. It appeares when a user performs a read operation on stored credentials in Credential Manager.

You don't need to do/enable anything for it to appear in Security log under Event Viewer.

Newer events (if they exists) including Event ID 5379 should be added to the linked article as soon as a separate page will be created for

[2020-12-18 16:07] VLG17 commented on #8433
@Wartz I'll add a note about this, until the article will be changed or removed. Hope this is ok with you.

[2020-12-18 16:11] konstruktoid commented on #8760
Very good catch and info. Updating https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/linux-install-manually#client-configuration would help alot.
I might have the time to submit a PR later today

[2020-12-18 16:14] darioongit commented on #8753
the information are not aligned, but I think the license is required only for the reporting things

https://techcommunity.microsoft.com/t5/microsoft-defender-for-endpoint/demystifying-attack-surface-reduction-rules-part-1/ba-p/1306420

#5 What are the specific requirements for enabling ASR rules?

Yes, the requirements are the following:

Computers running Windows 10, versions 1709 and later,  Win

[2020-12-18 18:34] wmehilos opened #8842 "Jamf Pro Defender Notifications Instructions are Incorrect"
The listed instructions in Step 4 provide a pre-built mobile config profile, which while it is in PLIST format, is not the same kind of PLIST that Jamf Pro expects when uploading MCX settings. The full `.mobileconfig` Profile can be signed and uploaded the same way the Network Filter payload can be in Step 9, otherwise, a bare PLIST with only the key/value pairs required for each settings domain s

[2020-12-19 11:40] STO123456789 commented on #8801
My attorney is ready to proceed we have I am going to press charges I promise on my kid’s souls I won’t stop till your all in jail and you will pay for this with your ass

[2020-12-19 11:40] STO123456789 commented on #8801
My attorney is ready to proceed we have I am going to press charges I promise on my kid’s souls I won’t stop till your all in jail and you will pay for this with your ass

[2020-12-19 11:40] STO123456789 commented on #8801
My attorney is ready to proceed we have I am going to press charges I promise on my kid’s souls I won’t stop till your all in jail and you will pay for this with your ass

[2020-12-20 00:17] GATWE opened #8846 "iss ismael armagens do notebook"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f784502-84dc-1122-eab4-1eeeb08da046
* Version Independent ID: 21f210a7-4c38-8f62-0226-121562617fef
* Content: [Memory integrity - Windows security](https://docs.microsoft.com/en-us/windows/security/threat-protection/device-guard/memory-integrity)
* C

[2020-12-20 16:25] illfated commented on #8846
Looks like a test comment. Nothing related to the linked topic document page.

[2020-12-20 16:26] illfated commented on #8846
#please-close

[2020-12-20 21:33] konstruktoid commented on #8760
@YongRhee-MSFT, can you have a look at #8848 and see if it makes sense to you?

[2020-12-21 09:26] drenergy commented on #4828
Hi,

Is there any update regarding the device credential option? I cannot find if this is already being supported or should at least work. I have tested this multiple times, but it always falls back to user credentials as soon as log on.

I expected this to work without user interaction.

[2020-12-21 09:56] kamalmaheshwari opened #8849 "No longer getting "com.microsoft:mdm.unenrollment.userrequest" in the meta tags"
[Enter feedback here]
We are no longer getting "com.microsoft:mdm.unenrollment.userrequest" . We are using that to determining that the generic alert is for user initiated unenrollment.

This behavior can be seen on various windows versions like : 1803, 1809, 1903, 1909 and 2004. We are getting the same result.
Is there some change that has happened in this area which has caused this??
---
#### Do

[2020-12-21 11:16] illfated commented on #4828
Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repository.

Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub.

The intention of this repository is to impro

[2020-12-21 13:47] #8838 closed

[2020-12-21 15:04] #8033 closed

[2020-12-21 15:05] #8154 closed

[2020-12-21 15:05] #8155 closed

[2020-12-21 15:07] #8336 closed

[2020-12-21 15:20] #8389 closed

[2020-12-21 17:03] MaxSteinMS commented on #4828
Hi @drenergy, thanks for taking the time to share your experience.
Device Credential is not supported for GPO enrollment into Intune, and only User Credential is currently supported.

In addition to the resources illfated mentioned, if you are having any further issues with the Intune side of things, there are a few options available to provide the fastest level of support:

- Use [How to get supp

[2020-12-21 17:30] #8846 closed

[2020-12-21 21:39] phillym commented on #8712
My apologies, this was fixed a month prior to me logging this issue:
https://github.com/MicrosoftDocs/windows-itpro-docs/commit/512f91cd651220c31c5d92496e8bfe3120655bef
I will close this issue. Thanks for all of the good work team!

[2020-12-21 21:39] #8712 closed

[2020-12-21 22:55] illfated commented on #8712
We appreciate the community effort. Thank you for your feedback. Thank you also for being considerate and following up on your ticket.

[2020-12-21 23:16] illfated commented on #4828
Thank you for the nice reply. Well said.

[2020-12-22 08:16] wbach82 commented on #7053
When will this ARS rule be possible to set via Endpoint Manager?

[2020-12-22 10:29] mbrrg opened #8856 "Remove the Jamf enrollment page"
Is setting up Jamf Pro device enrollment really in the scope for Defender setup? It just increases the confusion. You should expect Jamf to be setup already.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba08e466-0a94-5356-6dcb-3fda32e21cf8
* Version Independent ID: b59676b9-bf73-a885-a1d9-a84ca1107d33
* Content: [Enr

[2020-12-22 12:46] illfated commented on #7053
That looks like a question for the Microsoft developers. To reach them, you should post your question in the Feedback App or Feedback feature within your OS.
Also, if I may add some practical information, just for the sake of keeping you informed:

Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

You may want to look elsewhe

[2020-12-22 15:07] nam31 commented on #8316
@dcaddick Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2020-12-22 15:07] #8316 closed

[2020-12-22 15:12] nam31 commented on #6580
@icelava Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
If you are still having any issues while setting up policies. Please open up a

[2020-12-22 15:12] #6580 closed

[2020-12-22 15:15] nam31 commented on #8509
Closing via #8713
Thank you

[2020-12-22 15:15] #8509 closed

[2020-12-22 16:18] joinimran commented on #8632
Hello @jimmyeao - Thank you for sharing your feedback about the document. I have reviewed the document and found that the document contains all of the required information with some of the most common examples.

If there is something specific you are looking for please let us know. If you are having some challenges to do some configuration for this CSP please open up a support case with the Micros

[2020-12-22 16:30] jimmyeao commented on #8632
@joinimran Thanks for taking the time to review, but unfortunately (for me!) this does not move me forwards. I engaged with our Fastrack expert on this, and they also have no details on how to delete a custom OMA-URI policy from a machine using MEM (intune). Perhaps I should be asking this question on the intune pages? would it just be as simple as putting `<delete></delete>` in the stringxml afte

[2020-12-22 17:18] joinimran commented on #8632
I am not sure about this. I would suggest you open up a support case with MS Team. @nam31 Can guide you on how you can quickly open a support case with MS. I have tried to find out if there is any possibility to use <delete> code in XML but there is no luck. This is something that MS support can answer or route your query to the internal team responsible for VPN handling in Windows 10.
Thanks
Imra

[2020-12-23 07:35] MS-binche opened #8859 "Functionality and features available in each state table is wrong"
Can we revise the table by engaging the engineering team, this table is 100% wrong, example is that RTP is not available when defender in passive mode while the table marks RTP available in passive mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b88aee4-6727-fa98-1180-29708eea027e
* Version Independent ID: 374c67

[2020-12-23 15:37] e0i commented on #8577
Closing based on the response above. Feel free to re-open should you have any additional revisions that you’d like to request for the d’article. Thank you. @bledMS82

[2020-12-23 15:37] #8577 closed

[2020-12-23 16:22] illfated commented on #8810
Aha, thank you. I must have been tired when I posted last time. I could make a PR to have the duplicate word removed separately, that should be easy to get approved.

[2020-12-23 16:24] illfated commented on #8810
On the other hand, I might as well combine the 2 goals in 1 PR, final review & merge may be delayed due to the upcoming holidays anyway.

[2020-12-23 16:47] illfated commented on #8810
There you go. PR #8861 is ready for review, comments, and suggestions.

[2020-12-23 17:56] nam31 commented on #8803
Closing via #8831
Thank you

[2020-12-23 17:56] #8803 closed

[2020-12-23 17:58] nam31 commented on #8752
Closing via #8857
Thank you

[2020-12-23 17:58] #8752 closed

[2020-12-24 08:00] MValiukh opened #8863 "wrong mask descriptions in 4147"
Why does the description of event 4147 say that mask 0x80 is ENCRYPTED_TEXT_PWD_ALLOWED? But in fact the mask 0x80 is WORKSTATION_TRUST_ACCOUNT!!! Where to get the correct masks of this event for monitoring - since the description has the wrong information?!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881049ef-5df0-

[2020-12-24 08:42] andrePKI opened #8864 "typo"
For more information, see Assign administrator and non-administrator roles to uses with Azure Active Directory.
(near the bottom of the page)

uses should read users

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb427fd5-e30d-101e-7905-544f9eb5081e
* Version Independent ID: bf829c27-33f5-b9b5-7923-9dd47dd10657
* Conte

[2020-12-24 12:55] illfated commented on #8864
@andrePKI : Thank you for pointing out the typo. I am going to make a PR to request the necessary change update.

Note: I see now that the typo is quite inconspicuous as in seemingly making sense, or being so close to the correct word that it is easily missed by most native English speakers.

[2020-12-24 14:18] illfated commented on #8864
There you go. PR #8865 is ready for review, comments and suggestions.

[2020-12-24 14:32] e0i commented on #8589
@t-rojan Please feel free to re-open this issue with information on from which article exactly the problem stems from. Thanks.

[2020-12-24 14:32] #8589 closed

[2020-12-24 14:47] illfated commented on #8589
Or better still, if you go back to the related MS Docs page and open a new ticket from there, that would be ideal.

[2020-12-24 14:53] e0i commented on #8284
The contents of the PR has been merged and published live. Thank you.

[2020-12-24 14:53] #8284 closed

[2020-12-24 14:56] #8658 closed

[2020-12-24 15:41] e0i commented on #8575
It seems that the question has been answered by the community,  and thus the issue is being marked as resolved.

Thank you.

[2020-12-24 15:41] #8575 closed

[2020-12-24 22:57] illfated commented on #8863
Do you have any reference or source for your statement? From my preliminary searches on the web, it seems that others agree to the following:

| Property Flag                   | Hex value | Decimal value |
| :------------------------------ | :-------: | ------------: |
| SCRIPT                          |   0x0001  |             1 |
| ACCOUNTDISABLE                  |   0x0002  |             2 |
|

[2020-12-25 08:32] MValiukh commented on #8863
First, the fact that incorrect information can be found on the official Microsoft website is a huge problem! Many companies when building an information security incident monitoring system and during cyber-attack investigations use this source as the main source. In this case, when we talk about event 4741 and userAccountControl 0x80 - this is very critical, because in the monitoring system will h

[2020-12-25 16:35] illfated commented on #8863
Very interesting. That looks like we should do our best to rectify that missed change. I will ask the MS Docs team members to confirm the importance of this information and decide how to make the necessary changes.

[2020-12-26 11:06] #6449 closed

[2020-12-26 15:46] MaratMussabekov commented on #8827
Hello @gsmitheidw ,
**$args = @("/x") on the 5th line is never actually used** - fixed at PR #8867
**Also would it not be better to get rid of the oldfashioned "cmd /c" and use pure powershell** - I checked it, tried to extract from mpam-fe.exe using powershell, but unfortunately it didn't work, so it looks like it simply doesn't support it (i tried to do it several different ways). I think for no

[2020-12-27 05:55] joinimran commented on #8720
Hello @Kouky1 - Thank you for sharing the required details. I have checked and couldn't found any better suggestion but the best way to get this rolling out is to contact the Microsoft support team. Microsoft support team will better help to route this issue to the concerned team within Microsoft.

@nam31 - Can you please guide @Kouky1 on how to contact the Microsoft support team.

Thanks.
Imran

[2020-12-27 11:27] e0i commented on #8553
Addressed via commit, https://github.com/MicrosoftDocs/windows-itpro-docs/commit/3ce9d29020d43cec8f85f734293c61e7d4e54453#diff-d86914a1852d8b6dce5c0e010552158c271495f73b42c5b47ff81a4574e8cb4d Thank you.

[2020-12-27 11:27] #8553 closed

[2020-12-27 11:29] e0i commented on #8576
The issues section of this repository is intended for product documentation issues.

Please consider opening a product support ticket by the following link below for your problem,

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2020-12-27 11:29] #8576 closed

[2020-12-27 11:37] #8593 closed

[2020-12-27 11:38] e0i commented on #8701
Hello,

Looks like this question can best be answered via relevant [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10) channels.

Please consider checking with [Microsoft Community](https://answers.microsoft.com/en-us/windows/forum/windows_10) or [contacting support](https://support.microsoft.com/contactus) for your problem; The issues section of this r

[2020-12-27 11:38] #8701 closed

[2020-12-27 11:42] e0i commented on #8684
It seems that the question has been answered by the community,  and thus the issue is being marked as resolved.

Thank you.

[2020-12-27 11:42] #8684 closed

[2020-12-27 12:27] #8655 closed

[2020-12-27 12:29] e0i commented on #8728
It seems that the question has been answered by the community,  and thus the issue is being marked as resolved.

Please note that the issues section of the repository is intended for corrections in technical documentation.

Should you need to ask a similar question again, consider asking the question via the [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windo

[2020-12-27 12:29] #8728 closed

[2020-12-27 12:48] e0i commented on #8779
@ATR-Master

The date of the article looks recent because of the minor revisions that have been introduced to the article recently, and the core of the article is probably already very old.

_Das Datum des Artikels sieht aufgrund der geringfügigen Überarbeitungen, die kürzlich in den Artikel eingeführt wurden, neu aus, und der Kern des Artikels ist wahrscheinlich bereits sehr alt._

[2020-12-27 12:48] #8779 closed

[2020-12-27 13:01] e0i commented on #8830
Hello,

Looks like this question can best be answered via relevant [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10) channels.

Please consider checking with [Microsoft Community](https://answers.microsoft.com/en-us/windows/forum/windows_10) or [contacting support](https://support.microsoft.com/contactus) for your problem; The issues section of this r

[2020-12-27 13:01] #8830 closed

[2020-12-27 13:04] e0i commented on #8801
Hello,

Looks like this question can best be answered via relevant [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10) channels.

Please consider checking with [Microsoft Community](https://answers.microsoft.com/en-us/windows/forum/windows_10) or [contacting support](https://support.microsoft.com/contactus) for your problem; The issues section of this r

[2020-12-27 13:04] #8801 closed

[2020-12-27 13:56] illfated commented on #8553
(just to add the commit link for easier hover view of the commit name info & date of the commit: https://github.com/MicrosoftDocs/windows-itpro-docs/commit/3ce9d29020d43cec8f85f734293c61e7d4e54453)

[2020-12-27 15:28] #5429 closed

[2020-12-27 17:13] MaratMussabekov commented on #8792
Hello, it is currently not supported.
The only option I would recommend is to set it using PowerShell.
Thank you

[2020-12-27 17:46] joinimran commented on #7895
Hello @nivdolgin - Thank you for your query. Please note that this feature is not listed as available in intune. This is something that is already mentioned in the document (intune name: not available). This is already requested as a feature and you can also vote for this feature request in the user voice channel (https://microsoftintune.uservoice.com/forums/291681-ideas/suggestions/40862476-asr-r

[2020-12-27 17:52] joinimran commented on #8248
@write4joy - Can you please confirm if there is anything else we can do to make this document more helpful, please feel free to share.

@e0i - FYI Please.

[2020-12-27 17:54] joinimran commented on #8252
@marckerr - It was great to hear that your issue was resovled. Is there any information available at your end that can help to make this documentation better.

@e0i - FYI&A Please.

Thanks
Imran

[2020-12-27 17:56] joinimran commented on #8221
@mapalko - Can you please share your feedback on this document.

[2020-12-27 17:58] joinimran commented on #8222
@mapalko - Can you please answer this query. if there is anything that needs to be added to the document, please feel free to let me know. I will create PR for the same. I couldn't find anything related to this.

Thanks
Imran.

[2020-12-27 18:00] joinimran commented on #7920
Hello @swiftonsecurity - Did you get a chance to confirm the Windows 10 and Windows Defender version when these have appeared. Without any solid information, this information can not be added to the document.

Thanks
Imran.

[2020-12-27 18:03] VLG17 commented on #8523
@cashew76 I guess this was fixed in the documentation. At the moment the article references only:

AzureAD\the-UPN-attribute-of-your-user and AzureAD\yourloginid@domain.com

I don't see AzureAD\Emailaddress being presented as an option in the article.

[2020-12-27 18:07] joinimran commented on #8209
@denisebmsft - Need your help with this issue. Can you please confirm what changes are required in this document? I can create PR for the same.

Thanks
Imran.

[2020-12-27 18:34] VLG17 commented on #8514
@TSparkas I've created a request to add a note about AMD processors (via the link you shared) until a separate section will get created and added to the article. Hope this is ok with you.

[2020-12-27 19:04] illfated commented on #8434
PR #8871 is available for review, comments and suggestions.

[2020-12-27 19:04] VLG17 commented on #8519
@lightupdifire Did you specify the UPN for SAN in the form {{UserPrincipalName}}? This could have an impact.

Also, i see you also opened a [support request](https://docs.microsoft.com/en-us/answers/questions/136690/intune-windows-hello-for-business-scep-aadj-whfb-c.html) regarding this issue. What was the outcome? Should we add something to the documentation about this?

[2020-12-27 19:09] VLG17 commented on #8496
@rhanajoy My understainding is that it does not need to be saved somewhere specific. To use the config. file you created, you just double-click it (wherever you saved it) or you invoke it via cmd after you have changed to path to where the config. file is located.

In the example presented in the article, the config. file is located under "Temp" folder.

[2020-12-27 19:30] VLG17 commented on #8840
@maxgara Looking at the 4625 EventID, specificaly the Failure Information section, the Failure reason is "Account locked out", which would confirm the description presented.

Are you seeing 4625 events with other Failure reasons?

Maybe it's also worth checking your [Account lockout policy](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/hh994563(v

[2020-12-27 19:42] VLG17 commented on #8839
@CDjgould It is supported starting with Windows 10, version 1903, according to the footnotes. What Windows 10 version are you using?

[2020-12-27 19:51] CDjgould commented on #8839
@VLG17 I'm fully updated to 20H2. Windows 10 Business (upgraded from Pro with the Microsoft 365 business premium licensing). It should work according to all the documentation but clearly shows in the audit logs as errors due to licensing.

[2020-12-27 20:01] CDjgould commented on #8839
I realized I didn't also post the windows event log that showed the "rejected by licensing policy" image. I've updated the original post with it. Event ID 827.

[2020-12-27 20:50] ruffy91 opened #8873 "typo in FQDN"
The FQDN "1storecatalogrevocation.storequality.microsoft.com" does not exist, it should probably be "storecatalogrevocation.storequality.microsoft.com"

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 86af6b9e-99a1-3626-0ba9-285ddf3681d0
* Version Independent ID: 455af345-7fc9-24d6-f554-b

[2020-12-27 21:01] beerisgood commented on #7901
But Windows (Pro) itself provide this feature in group policy editor (gpedit.msc) under:
Computer Configuration -> Administrative templates -> System -> Device Guard -> Turn on Virtualization Based Security

And there isn't such an info too.

[2020-12-27 21:19] ruffy91 opened #8874 "Missing endpoint in Microsoft Store section"
Microsoft Store also needs connection to the HTTPS endpoint "livetileedge.dsx.mp.microsoft.com" to work.
Blocking connection to this endpoint stops the Microsoft Store App from loading any content

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 86af6b9e-99a1-3626-0ba9-285ddf3681d0
* Vers

[2020-12-27 21:29] ruffy91 commented on #8840
@VLG17 There are also event 4625 events specifying the other 20 available reasons. Probably most seen in the field:
0xC0000064 | User logon with misspelled or bad user account
0xC000006A | User logon with misspelled or bad password

The misunderstanding most probably stems from the fact that the same Event ID (and description article) is used for "Audit Logon" and "Audit Account Lockout".
The upda

[2020-12-27 21:49] ruffy91 opened #8875 "Windows Defender endpoints are incomplete/wrong"
The endpoint for Cloud-based Protection "wdcpalt.microsoft.com" is missing
The endpoint for SmartScreen (at least for Store apps) is "nav.smartscreen.microsoft.com" and not "*smartscreen-prod.microsoft.com"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86af6b9e-99a1-3626-0ba9-285ddf3681d0
* Version Independent ID: 455

[2020-12-27 22:23] ruffy91 commented on #8875
Sorry made the comment for the wrong windows license

[2020-12-27 22:23] #8875 closed

[2020-12-27 22:24] ruffy91 opened #8876 "Windows Defender endpoints incomplete and typo"
The endpoint for Cloud-based Protection "wdcpalt.microsoft.com" is missing.
The endpoint for SmartScreen is "*.smartscreen.microsoft.com" and not "*smartscreen.microsoft.com" (missing dot)

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: a439d706-e19e-9d96-d83f-a42cf1b1d89c
* Version Inde

[2020-12-27 22:27] illfated commented on #8873
Fair point, it looks like a sloppy transfer of the digit 1 from the previous column there:

|Area|Description|Protocol|Destination|
|----------------|----------|:--------:|:----------:|
||The following endpoints are used to revoke licenses for malicious apps in the Microsoft Store. To turn off traffic for this endpoint, either uninstall the app or disable the Microsoft Store. If you disable the Mi

[2020-12-27 22:33] illfated commented on #8873
Reading the table again, I start wondering if the hostname (`1storecatalogrevocation`) for some unknown reason would only responding to TLSv1.2 (as described in the table) and that the hostname `storecatalogrevocation` responds to `HTTP/HTTPS` — but I don't know. (Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub.)

[2020-12-27 22:36] ruffy91 commented on #8873
Ah yes, as you mention it.
It would probably make sense to merge the lines and use "TLSv1.2/HTTPS/HTTP" as the protocol like on other lines.
I did not see any use of 1storecatalogrevocation.storequality.microsoft.com in my tests, also there is no A or AAAA DNS record for this endpoint, which makes me assume this is a typo.

[2020-12-27 22:41] illfated commented on #8873
Fair enough, thanks for the clarifying follow-up and useful reasoning. I can make a PR for that change, then we'll see what the MS Docs team say about it. (Needs to be confirmed by document author/team manager, or similar authority.

[2020-12-27 22:46] ruffy91 commented on #8874
Also the following endpoints are additionally required to install any store apps.
Maybe someone related to Microsoft should check the tests which lead to this list, the methodology is probably flawed.
The list of endpoints is incomplete and as such misleading and should be revised.

- cid-8b18c79bcc1cb456.users.storage.live.com (probably wrong attributed to OneDrive in the list as *.storage.live.c

[2020-12-27 23:02] illfated commented on #8873
There you go. PR #8877 is ready for review, comments and suggestions.

[2020-12-27 23:07] illfated commented on #8874
Interesting. That looks like such a big job that I can't imagine how much work that involves for someone paid to do exactly that kind of work. I don't envy them.

[2020-12-27 23:24] illfated commented on #8548
To me, it looks like the PR #8732 (commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/13294d73d61a328ace8df07518939a88077b87d2) has already added the necessary change to that line, as well as modified the preceding text:
[code]
https://github.com/MicrosoftDocs/windows-itpro-docs/blob/5d460c78b68d3ffe04baeb29f672134f584754e4/windows/security/identity-protection/hello-for-business/hel

[2020-12-27 23:25] illfated commented on #8548
@w3p706 : Sorry, forgot that this is your issue ticket. Are you available to confirm my comment content above?

[2020-12-27 23:29] illfated commented on #8222
Looking forward to a comment from mapalko, just so I know if it is safe to start my own PR for the same document page.
I have been itching to start a PR to clean up some incorrect MarkDown formatting in the document.

[2020-12-28 01:16] Gental-Giant commented on #8876
Good catch. Thank you!

[2020-12-28 01:17] Gental-Giant commented on #8876
#sign-off

[2020-12-28 01:18] illfated commented on #7901
Regarding a document update and note to the effect of stating that the tool may only be effective on Windows 10 Enterprise:

PR #8869 is ready for review, comments, and suggestions.

[2020-12-28 01:19] illfated commented on #8876
@Gental-Giant : Have you started working on a PR to resolve this issue?

[2020-12-28 01:22] illfated commented on #8876
@ruffy91 : I presume your tickets don't overlap each other, so separate tickets get separate Pull Requests to resolve them. OK?

[2020-12-28 01:37] illfated commented on #7920
Looks like we may need to ask the team to get that information from the developers (or refuted in case there is incorrect information anywhere in the ticket comment).

Anyway, even if the messages look authentic, only event 1134 comes with Signature Version (1.319.2024.0), Engine Version (1.1.17200.2), and Product Version (4.18.2006.10).
2051 is followed by [Current Signature Version: AV: 1.319.16

[2020-12-28 01:46] illfated commented on #8839
Judging by the license level, I would think you have got access to Microsoft Support for this kind of issue, or have I misunderstood something?

(Just thinking that maybe feedback from Microsoft Support could be helpful to improve the document.)

[2020-12-28 04:49] illfated commented on #8248
Hmm, weird, this ticket was created after the page was updated with correct information in commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/1c234eb4476ebd78b3121392cec1146aadc6377d
I don't think there exists any PR for it, other than the collective merges to the public branch.
I also have got a distinct memory of mjcaparas commenting in a similar ticket (other than this one and #7

[2020-12-28 04:50] illfated commented on #7963
(ref. #8248 )

[2020-12-28 04:51] illfated commented on #8050
(ref. #8248)

[2020-12-28 04:54] illfated commented on #8248
There you go. #8050 was the ticket from the same day (August 12, 2020).

[2020-12-28 04:54] illfated commented on #8248
#please-close

[2020-12-28 04:58] illfated commented on #8050
(also ref. #7963 )

[2020-12-28 04:58] illfated commented on #7963
(also ref. #8050 )

[2020-12-28 10:00] illfated commented on #8490
Related progress? (commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/0f26cd1d82e151cf3d32178ff43837b535bbf219 , direct file link: https://github.com/MicrosoftDocs/windows-itpro-docs/commit/0f26cd1d82e151cf3d32178ff43837b535bbf219#diff-34338e7fe1eae11badcf34e92d170b80b67ac6caef4c38e4e2a40ab59a859d2d)

[2020-12-28 10:21] illfated commented on #8324
From the user page: **October - December 2020**: (anandta has no activity yet for this period.)

[2020-12-28 10:26] illfated commented on #1564
(ref. https://github.com/MicrosoftDocs/mdop-docs/pull/3)

[2020-12-28 12:14] ATR-Master commented on #8779
Einen Artikel aktualisieren bedeutet, seinen Kern und seine Kernaussage sowie weitere Informationen auf den neuesten Stand zu bringen! Wenn es das Tool für Troubleshooting nicht mehr gibt, dann ist der Artikel entweder hinfällig oder muß komplett überarbeitet werden. Eine halbherzige Antwort, das der Kern des Textes wohl alt wäre, ist eher Ausdruck von Hilflosigkeit, denn Zeichen von sinnvoller Ar

[2020-12-28 16:11] joinimran commented on #8248
@e0i - Looks like the document is all ok. We are good to close this.

[2020-12-28 16:53] nam31 commented on #8827
Closing via #8867
Thank you

[2020-12-28 16:53] #8827 closed

[2020-12-28 17:54] joinimran commented on #8376
Hello @palslav - thank you for posting your query here. Looks like this is not a document related issue but a support request. I would suggest you open a support case with Microsoft so that they can better help you with this. From the support team, if required they will route this to the relevant document management team to see if there is anything missing or need any changes in the document.

@e0

[2020-12-28 17:59] evmill commented on #7054
Page in /hololens is updated to link to /mixed-reality which has the newest info for HL2.

[2020-12-28 17:59] #7054 closed

[2020-12-29 03:24] illfated commented on #8252
@marckerr : If possible, please reply whether this documentation has been updated enough or if it still needs clarification based on your original issue.

[2020-12-29 09:45] portizbai opened #8880 "Complete Intune configs for Network isolation"
please include instructions or link to network isolation settings in Intune (Network boundary) for defining corporate resources:
https://docs.microsoft.com/en-us/mem/intune/configuration/network-boundary-windows

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfb9445a-681d-24b6-5241-4ebe311f5236
* Version Independent ID

[2020-12-29 10:10] lavanack opened #8881 "Outdated information about IIS accounts."
Outdated information about IIS accounts.
These accounts are related to IIS 6/Windows 2003 : IUSR_<ComputerName>, IIS_WPG, ASP.NET, or IWAM_<ComputerName>.
The accounts for IIS 7+ are IUSR and IIS_IUSRS.
I'm a msftee as CE (formely known as PFE on IIS). My alias is lavanack.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-12-29 13:53] nam31 commented on #6102
@DrTeej Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have made a

[2020-12-29 13:53] #6102 closed

[2020-12-29 14:46] nam31 commented on #8632
@jimmyeao Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.
[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)
Thank you.

[2020-12-29 14:46] #8632 closed

[2020-12-29 15:22] nam31 commented on #8796
Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have made a similar

[2020-12-29 15:22] #8796 closed

[2020-12-29 15:23] nam31 commented on #8849
@kamalmaheshwari Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.
[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)
Thank you.

[2020-12-29 15:23] #8849 closed

[2020-12-29 16:21] #8810 closed

[2020-12-29 18:25] Brz3z1nsky opened #8883 "How do I disable the proxy configuration?!"
I set up a proxy address using the tips on this page, but now I need to disable it and I don't know how to do it.

Configurei um endereço de proxy usando as dicas desta página, mas agora preciso desabilitá-lo e não sei como fazer.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 83207fc9-2c91-eb07-4237-6bb1

[2020-12-29 21:04] zerrikan opened #8884 "Block credential stealing from the Windows local security authority subsystem (lsass.exe) vs Credential Guard"
Is this the same setting as enabling Credential guard via GPO? (Admin Template/System/Device Guard/Turn on Virtualization Based Security/Credential Guard Configuration)

The description makes it seem like it's an alternative to Credential guard but I don't understand in what way it would be.

Thanks

[2020-12-30 03:20] DLKirchmer commented on #8307
Hi @levinec,

When I follow the link in your comment on Sep 22 the following is displayed:

"The Feedback Hub app lets you tell Microsoft about any problems you run into **while using Windows 10.** You can also send suggestions to help us improve your Windows experience."

This issue I am reporting has absolutely nothing to do with **Windows 10**.  I could be using a Mac or another *nix build and

[2020-12-30 04:37] MaratMussabekov commented on #8652
Hello @SokoloffMaxim,
**Please update this documentation to describe on how to enroll WVD virtual machines joined to Azure active directory domain services.** - there is a dedicated article for WVD - https://docs.microsoft.com/en-us/mem/intune/fundamentals/windows-virtual-desktop

**Currently there is no information/confirmation whether i can use MDM for WVD Win 10 Multisession 2009 VMs joined to

[2020-12-30 07:28] nam31 commented on #8757
@eturnersumi Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have ma

[2020-12-30 07:28] #8757 closed

[2020-12-30 07:33] MaratMussabekov commented on #8674
Hello @felinepc ,
in the article, it states:
**Your local PC (where you are connecting from) must be either Azure AD joined or Hybrid Azure AD joined if using Windows 10 version 1607 and above, or Azure AD registered if using Windows 10 version 2004 and above. Remote connections to an Azure AD joined PC from an unjoined device or a non-Windows 10 device are not supported.**

So for AAD-Joined - mu

[2020-12-30 08:13] nam31 commented on #8825
@haiderim The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.
[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=

[2020-12-30 08:13] #8825 closed

[2020-12-30 10:03] illfated commented on #8307
@DLKirchmer : Fair point. Suggesting a safer procedure when downloading program files (.exe) from any site, there should be a page with both the file to be downloaded and a valid checksum for the download available for any user, regardless of their personal need to validate the checksum when downloading.

I presume the importance is higher for a security product than for non-security applications.

[2020-12-30 10:24] illfated commented on #8809
Turns out that https://docs.microsoft.com/cloud-app-security/mde-integration#investigate-devices-in-cloud-app-security is the new URL, meaning that the "WDATP" links now probably use the new name "Microsoft Defender for Endpoint (MDE)" and therefore need to be corrected (wdatp -> mde).

Keep that in mind when finding old links still using "wdatp" as part of their URL.

[2020-12-30 10:25] illfated commented on #8809
Also, thanks to @MaratMussabekov for finding the new URL format. I was not fully aware of this 15 days ago.

[2020-12-30 11:38] lindspea commented on #8629
@nithinpaladion please confirm if you have seen my response above, and if you still need assistance.

[2020-12-30 11:40] lindspea commented on #8618
@illfated would you perhaps know more about this? @PeteSimons @James-Simms you might need to raise a support request in Azure Portal or alternatively @nam31 please ask the author for help.

[2020-12-30 12:33] illfated commented on #8618
Thank you for asking, but my general IT experience from customer support and small business management does not include this specific topic or Azure usage in general. Sorry.

[2020-12-30 13:00] e0i commented on #8394
@macmillernz

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2020-12-30 13:00] #8394 closed

[2020-12-30 13:01] #8432 closed

[2020-12-30 13:01] #8433 closed

[2020-12-30 13:02] #8523 closed

[2020-12-30 13:02] e0i commented on #8514
Closing via #8870. Thanks.

[2020-12-30 13:02] #8514 closed

[2020-12-30 13:02] #8434 closed

[2020-12-30 13:03] #8496 closed

[2020-12-30 13:31] #7895 closed

[2020-12-30 13:38] #8248 closed

[2020-12-30 14:35] illfated commented on #8523
I assume that the ticket creator may have based the statement on a scenario where AzureAD\Emailaddress is identical to AzureAD\yourloginid@domain.com

[2020-12-30 14:54] daejsl opened #8888 "Only half done"
The information given here is not covering all the needed steps. The zipfile is unpacked but nothing is mentioned of running the python file to create the onboarding file.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 623e0469-826c-5cdf-6dc4-67c80e232d0f
* Version Independent ID: 0f6c33bc-711a-84

[2020-12-30 15:03] e0i commented on #8409
Closing via #8542. Thanks.

[2020-12-30 15:03] #8409 closed

[2020-12-30 15:20] joinimran commented on #8709
@Skorfulose - Thank you for your feedback. Can you please confirm if the below note will be the correct one? Or please let me know how that should look like so that I can create the PR for the same.

 The domain controller's certificate must chain to a root in the NTAuth store. By default, the Domain Controller Certificate issuing CA certificate is added to the NTAuth store. If you are using a thi

[2020-12-30 16:07] joinimran commented on #8398
Hello @bledMS82 - Thank you for your query. Please note this document is only intended to describe minimum requirements to run the ATP. Defender by default communicates on an encrypted channel with intune. This is only required to take care of TLS requirements when working on specific use cases.

For your send point, please visit https://docs.microsoft.com/en-us/windows/security/threat-protection/

[2020-12-30 16:18] MaratMussabekov commented on #8747
Hello, in terms of Microsoft, first-party browsers are only those which were developed by Microsoft (IE, Edge)
Thank you

[2020-12-30 16:24] illfated commented on #8747
PR #8889 is now ready for review, comments, and suggestions. @MaratMussabekov : Thank you for creating the PR and adding the requested changes.

[2020-12-30 16:41] illfated commented on #8819
PR #8887 is available for review, comments, and suggestions. Thanks to @joinimran for the PR.

[2020-12-30 16:42] MaratMussabekov commented on #8794
Hello @SteBeSec ,
**This feature is only recommended if a company is not using MDAV or MDFE as their primary AV solution.** - I am not sure this statement is correct.

**Proof: Matt Soseman (Microsoft Security Architect) stated this in the comments**  -  he said: "That is correct, it's really meant for cases where MDAV and MDFE is not the primary - EDR in block mode acts as a second layer of defen

[2020-12-30 17:37] denisebmsft commented on #8884
Hello @zerrikan. Thank you for posting your question. Can you please tell us to which article this applies? This information will help us route the issue to the correct writer/team.

[2020-12-30 17:49] levinec commented on #8819
PR is merged. Thanks!

[2020-12-30 17:49] #8819 closed

[2020-12-30 19:27] e0i commented on #8809
Closing via #8885. Thanks.

[2020-12-30 19:27] #8809 closed

[2020-12-30 19:27] #8398 closed

[2020-12-30 19:32] #8794 closed

[2020-12-30 19:35] #8674 closed

[2020-12-30 19:36] #8652 closed

[2020-12-30 19:51] zerrikan commented on #8884
Hello, sorry for not including that. Below is the article:

https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/attack-surface-reduction

[2020-12-30 20:45] oniled opened #8890 "Need to include yum gpg key install"
install was still failing using yum until i added the following two Ansible tasks to install_mdatp.yml

    - get_url:
        url: https://packages.microsoft.com/keys/microsoft.asc
        dest: /etc/pki/rpm-gpg/microsoft.asc
        mode: '0644'
    - shell: rpm --import /etc/pki/rpm-gpg/microsoft.asc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-12-30 21:35] denisebmsft commented on #6645
Greetings! Thank you @bledMS82 for posting your feedback. And thank you @RAJU2529 and @MaratMussabekov for your help. I finally got the article updated a little earlier this month. It looks like this issue is now resolved, and I'm closing it. Please let me know if anything else is needed, and Happy New Year!

[2020-12-30 21:35] #6645 closed

[2020-12-30 21:44] illfated commented on #8709
*Please note: I am not an expert or experienced in this topic, so I might not know enough facts to be certain what the correct phrasing should be.

@joinimran : if I have read the text correctly, you are proposing this change:

[code]

The point I find to be a bit challenging for my understanding, is the effective meaning of: `issuing`
For me to make sense of that, it would need to be either:
- "t

[2020-12-30 22:15] illfated commented on #6645
A friend of mine used to reply "Do you come here bearing gifts?" when someone said "Greetings!" to him, because he was fed up with some of his friends using that greeting phrase all the time, just to reference their geek/nerd status of roleplaying typical fiction/fantasy roleplaying games. 😄

[2020-12-30 22:20] #8631 closed

[2020-12-31 02:50] JohanFreelancer9 commented on #8709
@illfated - valid point. However, I would prefer to wait for @Skorfulose and @joinimran's feedback and the PR to be created. Thanks.

[2020-12-31 08:56] goxia commented on #8792
Well, it seems that this method can only be used at present.
Thank you.

[2020-12-31 08:56] #8792 closed

[2020-12-31 12:32] joinimran commented on #8709
@illfated , @JohanFreelancer9 - I am also waiting for feedback from @Skorfulose. This rephrasing is a bit confusing for me as well.

@Skorfulose - Waiting for your feedback to further look into these issues.

Thanks
Imran.

[2020-12-31 12:43] joinimran commented on #8451
@bradrush - Thank you for your feedback on the document. You are right that intune is now endpoint protection manager. I have reviewed the document and found that the instruction for running a scan from endpoint protection manager is available in the document.
I have followed the same instruction and this works fine for me.  Please see, https://docs.microsoft.com/en-us/windows/security/threat-prot

[2020-12-31 12:51] joinimran commented on #8421
Hello @ayfukumo - Thank you for sharing the details. Looks like I can't access the video from any of the above-mentioned links. I have noted a point when you raise the issue regarding a document that **because Antonio(anvascon) said this is by design via e-mail.** Can you please forward me that email.

@anvascon - Can you please share your input regarding this so that I can make necessary changes

[2020-12-31 13:39] joinimran commented on #8537
Hello @rkremkau - Thank you for your query regarding the document. Please note that all of the CSPs are written in a uniform format. Keeping that in view, the requested information can not be added to the document. The document has the necessary description for this and other CSPs.

@e0i FYI&A Please.

Thanks.
Imran.

[2020-12-31 14:02] joinimran commented on #8551
Hello @ixtlanian - Thank you for your query. I have reviewed the document and found that the document has the necessary relevant information. For your specific query, please see https://social.technet.microsoft.com/Forums/windows/en-US/999dedb8-c6fa-4f2f-a5ca-e48f43bc956e/user-rights-assignment-obtain-an-impersonation-token-for-another-user-in-the-same-session?forum=ws2016

Also, I would like to s

[2020-12-31 15:13] illfated commented on #8888
@konstruktoid : Would you like to confirm, and maybe suggest something to describe what is needed?

Happy new year to you all! 🥳

[2020-12-31 15:37] konstruktoid commented on #8888
Hi @daejsl, https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/windows/security/threat-protection/microsoft-defender-atp/linux-install-with-ansible.md#create-ansible-yaml-files uses `unarchive` to unpack into the `/etc/opt/microsoft/mdatp` directory.

But you are correct. Both the Ansible and Puppet pages lacks information about running `MicrosoftDefenderATPOnboardingLinuxServer.py`

[2020-12-31 15:39] ixtlanian commented on #8551
Imran, you did not provide any explanation on the missing user right. THe document does not contain the user right I mentioned. There cannot possibly be a separate document for this as it's clearly a mistake in this document. Please assign this issue to the owner of the document.

[2020-12-31 15:43] konstruktoid commented on #8888
Doesn't the tests work after running the playbook?

[code]

[2020-12-31 17:58] christophjahn opened #8894 "systemd requirement not documented"
The page misses the fact that `systemd` is required for the pre-/post-install scripts to work. Debian 9 supports SystemV init in addition to `systemd` and that condition is not mentioned

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef3b1143-53ee-892c-59c8-5cfa12e017c2
* Version Independent ID: 29f6c231-15bd-296b-cca9

[2020-12-31 18:59] illfated commented on #8876
PR #8893 is now available for review, comments, and suggestions.

[2021-01-01 08:40] MaratMussabekov commented on #8672
Hello @vinixwu ,
I reviewed the script,
and I believe the **(gwmi win32_operatingsystem).Name** could be replaced by **(Get-ComputerInfo).WindowsProductName** only if you change line **$HLKAllowed = @("microsoft windows 10 pro")** to **$HLKAllowed = @("windows 10 pro")**, because Get-ComputerInfo doesn't contain "microsoft" in its output.

Thank you

[2021-01-01 09:12] illfated commented on #8672
PR #8895 is now available for review, comments, and suggestions.

[2021-01-01 15:24] #8537 closed

[2021-01-01 15:26] #8451 closed

[2021-01-01 15:27] #8252 closed

[2021-01-01 19:01] nam31 commented on #8821
Closing via #8868
Thank you

[2021-01-01 19:01] #8821 closed

[2021-01-02 02:22] Izac9 opened #8897 "mbr2gpt issue"
I'm getting this error, when trying to validate

[code]

[2021-01-02 04:16] illfated commented on #8897
Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub.
I don't know your scenario well enough to know the answer.

Looks like something you should check with Microsoft Support.
I hope you have some form of support based on your license or work.

Alternatively check with users in the forums who may be able to answer you.
I am fairly sure it would be practical to

[2021-01-02 04:20] illfated commented on #8897
Hard to tell whether you are experiencing a drive failure or a file system crash.
Ask Microsoft Support or in one of the forum pages I have listed above.

[2021-01-02 04:36] illfated commented on #8890
@konstruktoid : Would this be the correct section, as copied from the docs page?

***

- Create the Ansible install and uninstall YAML files.

    - For apt-based distributions use the following YAML file:

[code]
[code]

***

[code]

[2021-01-02 04:37] illfated commented on #8890
Happy new year to all, by the way. 🙂

[2021-01-02 04:59] Sumitdhiman opened #8898 "Add description for 0x800707E7"
Often seen is error code 800707E7 during an upgrade.

In the logs, the entry is something like this:

` pSPExecuteApply: Migration phase caught exception: Win32Exception: User profile suffix mismatch, upgrade cannot continue: The specified profile is intended for a device of a different type than the specified device. [0x000007E7]
`
`2020-12-29 07:49:01, Warning               SP     User profile s

[2021-01-02 06:48] illfated commented on #8548
This issue ticket is resolved by content added in PR #8732 .

[2021-01-02 06:48] illfated commented on #8548
#please-close

[2021-01-02 14:10] konstruktoid commented on #8890
Happy new year too you as well @illfated, and too you @oniled as well of course :)

You are correct about the key portion is missing, I'll fix a PR.
I would however use:
[code]

[2021-01-02 15:15] illfated commented on #8890
Thanks, I sort of knew you would know details like that. Nice.

[2021-01-02 15:24] illfated commented on #8898
Thank you for your contribution. Please be patient, your ticket will be looked into later by the MS Docs team.

(Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub. I don't know the topic well enough to give any feedback on the topic.)

[2021-01-03 10:06] MaratMussabekov commented on #8748
Hello @itguysocal ,
As I checked, it will not return any error if you try to create indicator for `http://site.com/folder/*`, however, it will not work as expected.
So I believe wildcards are not supported. It supports only FQDN or URL, and if you need to block http://site.com/folder/*, I would recommend to use FQDN **site.com**.

Thank you

[2021-01-04 03:26] ayfukumo commented on #8421
Hi,

Could you try below links?
https://1drv.ms/v/s!AgFD4Gly0bpLgbBtNVjWNKNHQ5brxw?e=q95jdD

Thanks,
Ayumi

From: ImranHabib <notifications@github.com>
Sent: Thursday, December 31, 2020 9:51 PM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Ayumi Fukumoto <Ayumi.Fukumoto@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-itpro

[2021-01-04 05:46] joinimran commented on #8421
Thanks, @ayfukumo - I have seen the video and what I have found is that you have selected Live Response Capabilities as "Basic" when the upload file was grayed out. In your query, you have mentioned that when you have selected Live Response as "Advance" it was grayed out. Whereas, when the upload file was grayed out or available, the only change that happened was Manage security settings from the

[2021-01-04 13:54] LordMike opened #8904 "Spelling in logon type CachedRemoteInteractive"
The value `12` for the logon type is indicated as `CashedRemoteInteractive`. It should probably be `CachedRemoteInteractive`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aefbbdcc-606c-276c-47ee-fe2b2cb65c61
* Version Independent ID: e0979867-e6bc-7fb9-1279-646b319823b0
* Content: [4624(S) An account was successfully

[2021-01-04 14:08] EyeMagic opened #8905 "Bluetooth pairing"
The "Improving your Bluetooth pairing experience" hyperlink takes you to a page (https://docs.microsoft.com/en-us/windows-insider/at-home/Whats-new-wip-at-home-20h1#improving-your-bluetooth-pairing-experience-build-18985) that has no "Bluetooth pairing" content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d651de3c-b

[2021-01-04 14:20] e0i commented on #5365
Il s'agit d'un problème connu lié à PowerShell. Veuillez faire le suivi de votre préoccupation via la [Communauté PowerShell](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Merci.

[2021-01-04 14:20] #5365 closed

[2021-01-04 14:48] MaratMussabekov commented on #8574
Dear @tmlyon,
link to the updated FOD file, added by https://github.com/MicrosoftDocs/windows-itpro-docs/commit/71b3d5e0a37363ae00149d8ffc6267cb5dcf9b16#diff-63a5fb093b9fc2e0d1d7e9a16d35acea8d139a03a893aa4167634b2648707822 seems to be incorrect, could you please advise, which link should be used here?
Issue also mentioned in https://github.com/MicrosoftDocs/feedback/issues/2739

Thank you

[2021-01-04 15:05] e0i commented on #3699
@NeoBeum

This feedback seems to be related to [Windows Hardware](https://docs.microsoft.com/en-us/windows-hardware/) documentation rather than IT Pro. The repository for Windows Hardware documentation is currently not open to public edits and commentary via GitHub in a way similar to this repository.

I have nonetheless shared your feedback via appropriate channels and I hope your valuable feedba

[2021-01-04 15:05] #3699 closed

[2021-01-04 15:34] James-Simms commented on #8618
OK, after some more digging I've managed to get to the bottom of the first question so should be able to answer the other two with some experimentation!

For anyone else who's interested, I found the pointer to the answer in the F5 documentation here: https://techdocs.f5.com/kb/en-us/products/big-ip_apm/manuals/related/apm-f5-access-windows-10-using-intune/3.html

The configuration of the Certific

[2021-01-04 15:36] jesspent commented on #8757
@nam31  this is for linux not windows. can you please reopen

[2021-01-04 16:03] illfated commented on #8757
@jesspent / @eturnersumi : May I ask one of you to open a new ticket for this issue?
You can do so by using the following link:
- https://github.com/MicrosoftDocs/windows-itpro-docs/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23%23%23%23%20Document%20Details%0A%0A%E2%9A%A0%20*Do%20not%20edit%20this%20section.%20It%20is%20required%20for%20docs.microsoft.com%20%E2%9E%9F

[2021-01-04 17:28] joinimran commented on #8387
Hello @adamenger - Thank you for your query. Can you please explain your use case so that we can better help you with this?  Can you also please confirm the operating system you are trying to deploy for this CSP. This CSP is only applicable to Mobile and Mobile Enterprise versions of Windows. Please see https://docs.microsoft.com/en-us/windows/client-management/mdm/configuration-service-provider-r

[2021-01-04 17:43] DavidSchrag opened #8906 "Update reference to Intune"
The article has a reference to managing exploit guard with Intune through the Azure portal. Intune has been renamed to Endpoint Manager and has been removed from the Azure portal. Please provide instructions for managing exploit protections via endpoint.microsoft.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43b0

[2021-01-04 18:22] nhoj01 opened #8907 "Desktop app product name"
Hello:

The documentation is not clear about how you get the product name when adding a desktop apps. I assume that you get this information using the get-applockerfileinformation ps command, but want to make sure.

In addition the documentation says "Regarding to how to get the Product Name for the Apps you wish to Add, please reach out to our Windows Support Team to request the guidelines"

Plea

[2021-01-04 19:03] illfated commented on #8907
Just to get a clearer picture of which part of the documentation you are referring to, do you have a link to the page that brought you here?

[2021-01-04 19:48] nhoj01 commented on #8907
Sure thing, here is the link

https://docs.microsoft.com/en-us/windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure#add-desktop-apps

[2021-01-04 20:09] #8864 closed

[2021-01-04 20:14] illfated commented on #8907
Thank you. The following is what your issue ticket would have looked like if you had pressed the button **[ This page ]** at the bottom:
***

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1ad3f92-24de-5eb5-8454-c72d85737183
* Version Independent ID: 900125eb-31ea-faf3-ac30-7c3d7b30f611
* Content

[2021-01-04 20:18] illfated commented on #8907
Please be patient, since this repository is made to improve the documentation and not as much for direct user support.

Just in case you find that the wait for response posts from the MS Docs team takes more time than expected, please consider using the following forums to ask and see if the response is quicker:

Try the following resources to get in touch with users who may be able to help you:
-

[2021-01-04 20:22] illfated commented on #8907
PowerShell reference:

- https://docs.microsoft.com/powershell/module/applocker/get-applockerfileinformation?view=win10-ps
- https://docs.microsoft.com/powershell/module/applocker/?view=win10-ps

[2021-01-04 22:48] adamenger commented on #8387
Thanks for pointing that out- I didn't notice that this was for windows mobile only. We can close this unless you all think an example would be helpful for anybody else who wants one in the future.

Thanks for looking at this!

[2021-01-04 23:51] illfated commented on #8387
The content at the very top of the page should be enough content, although I notice that there are 2 distinct **Note** lines which are regular text & indented by a quote mark (vertical gray bar at the far left edge of the document). I am seriously considering making a Pull Request to have those 2 lines converted to the de facto MS standard colored Note blobs instead. See my copied example text sni

[2021-01-04 23:53] illfated commented on #8387
The more I think about it, the more I become certain that the page needs to have those 2 notes converted to proper MS codestyle colored Note blobs.

I will open a PR to have that change done, as well as indicating that the PR intends to close this issue ticket.

[2021-01-05 00:37] illfated commented on #8387
There you go. PR #8908 is ready for review, comments, and suggestions.

[2021-01-05 04:35] joinimran commented on #8387
@e0i - This has been sorted out. We are good to close this issue.

[2021-01-05 04:52] RAJU2529 commented on #8904
@LordMike , thanks for pointing out. I already created PR to fix .

[2021-01-05 05:37] joinimran commented on #7951
Hello @goxia - Thank you for posting your query regarding /InstallFrom.

Please note that this option helps to use a different .wim file during the installation. As mentioned in the document if you have a 32-bit version of setup and wanted to install a 64-bit version of Windows, you can use the 64-bit version of the .wim file. This option can also be used when you have a custom-created .wim file f

[2021-01-05 07:51] goxia commented on #7951
Thank you @joinimran , I have noticed the syntax requirements for this parameter and have been able to use it correctly.

[2021-01-05 07:51] #7951 closed

[2021-01-05 09:55] konstruktoid commented on #8894
Hi @christophjahn, `systemd` is the default init system for Debian since Jessie (https://wiki.debian.org/systemd) and `systemd` itself uses the SystemV init scripts when there's no service file available, see https://www.freedesktop.org/software/systemd/man/systemd-sysv-generator.html.

Supporting multiple init systems without any actual benefits and where `systemd` is the default system for Debia

[2021-01-05 09:57] illfated commented on #8904
PR #8910 is ready for review, comments, and suggestions.

[2021-01-05 10:02] konstruktoid commented on #8721
Ref https://github.com/MicrosoftDocs/windows-itpro-docs/issues/8822

[2021-01-05 10:21] thomasforde opened #8911 "Lack of Cost details on option 3"
[Enter feedback here]
Option 1 and Option 2 requires a separate license, so what does option 3 require? Is it included in something else, or just free of charge. lack of info so to what it option 3 can generate of cost..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f4ed2b3-0390-4d53-2450-14995ee8b0b0
* Version Indep

[2021-01-05 10:51] christophjahn commented on #8894
I did not mean to imply that I want SysV init added. But the fact that `systemd` is required needs to be documented. I lost several hours on this subject and needed to look into the source code of the pre-/post-install scripts

On Debian 9 there are two other packages that needed installation for me, but I will open a separate ticket for these.

[2021-01-05 11:17] illfated commented on #8894
Fair enough, `systemd` is not even mentioned on the page, so perhaps we could open a PR to suggest a mention of that fact. Have you got any particular phrasing in mind? Suggestions are welcome.

[2021-01-05 11:34] illfated commented on #8822
(ref. #8721, #8797)

[2021-01-05 11:36] illfated commented on #8387
Fair enough, it will be closed anyway.

[2021-01-05 12:18] thomasforde commented on #8911
If you click the link above with the text "For a practical guidance on what needs to be in place for licensing and infrastructure, see Protecting Windows Servers with Defender for Endpoint." that points to here. https://techcommunity.microsoft.com/t5/microsoft-defender-for-endpoint/protecting-windows-server-with-windows-defender-atp/ba-p/267114#M128

You again get a answer that dictates the price

[2021-01-05 12:53] UTTAM7395 opened #8912 "This complete page has to update with latest screenshots of fo Creating WNS"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 663b7682-f766-a141-e4f9-81c607eb8308
* Version Independent ID: 16c14d60-188b-a49c-4112-ef25f4ef1e9b
* Content: [Push notification support for device management - Windows Client Management](https://docs.microsoft.com/en-us/windows/client-management/mdm

[2021-01-05 13:00] lindspea commented on #8618
That's amazing thanks @James-Simms. I'll add a link to that article.

[2021-01-05 13:08] churos78 opened #8913 "InternalDefinitionUpdateServer parameter for MDATP for Linux"
[linux preferences](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/linux-preferences)
Can I somehow configure my own update URL or FIle share as with the Windows version? The linux version lacks a parameter for this in docs.

Or how to create local mirror virus / malware definitions

[2021-01-05 14:05] #8748 closed

[2021-01-05 14:18] illfated commented on #8618
PR #8914 is ready for review, comments, and suggestions.

[2021-01-05 14:19] e0i commented on #7896
Closing via #8804. Thanks.

[2021-01-05 14:19] #7896 closed

[2021-01-05 14:21] #8421 closed

[2021-01-05 14:22] e0i commented on #8216
Closing via #8491.

[2021-01-05 14:22] #8216 closed

[2021-01-05 15:05] #8387 closed

[2021-01-05 15:22] illfated commented on #8911
I see. There is a whole comment page full of discussions below the article, many of them (if not most of them) asking about the cost options.

[2021-01-05 15:29] illfated commented on #8911
Maybe I am thinking too far "out of the box" here, but it seems to me that the individual devices need separate licenses or a site license ( >50 seats) to be correctly licensed. Configuration of the management server does not appear to be dependent on licensing, the individual devices to be protected will depend on some form of license.

[2021-01-05 15:44] MaratMussabekov commented on #8769
Hello @igor-safonov ,
no, there is no need for additional cron task, definition updates are installed automatically by default.
You may disable auto updates by configuring mdatp_managed.json file, as it is described [here](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/linux-preferences).

Thank you

[2021-01-05 15:53] illfated commented on #8769
Thanks for the explanation. I was sort of thinking about JSON and internal update functionality, but have not been digging deep enough into this topic.

[2021-01-05 15:55] illfated commented on #8913
When filled in correctly, your ticket would have included the following text (below the line):

***

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44a290d4-3386-7f63-0324-4e6219b5dd24
* Version Independent ID: 286954a7-372e-314f-ad9f-d12f5f55b79e
* Content: [Set preferences for Microsoft Defender

[2021-01-05 15:56] illfated commented on #8913
@konstruktoid : Maybe you would say that this is an easy question to answer, but I don't quite remember where to look.

[2021-01-05 15:59] konstruktoid commented on #8894
But if you follow the instructions on https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/windows/security/threat-protection/microsoft-defender-atp/linux-install-manually.md (or the Ansible or Puppet instructions), isn't the correct services installed?

https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/windows/security/threat-protection/microsoft-defender-atp/microsoft-de

[2021-01-05 16:33] denisebmsft commented on #8897
@Izac9, I hope you were able to contact technical support for your issue. @illfated thank you for your help. As this does not appear to be a documentation issue, I am going to close this issue. Please let us know if you have a question about the help content.

[2021-01-05 16:33] #8897 closed

[2021-01-05 18:15] konstruktoid commented on #8913
Hi @churos78, I don't thinks it's possible but someone from MSFT should verify.
`mdatp health` doesn't return that value by default and
`mdatp config automatic-definitions-update` only accepts `enabled, disabled`.

[2021-01-05 18:41] jaimeo commented on #8490
@illfated yes this issue should be resolved by the edits in the other PR.

[2021-01-05 20:05] konstruktoid commented on #8769
That document is kind of messy, and since everything else regarding `mdatp` is systemd perhaps timers should be recommended instead.

Another option is using `sudo mdatp config automatic-definitions-update --value enable` and verify with `mdatp health`.

[code]

[2021-01-05 22:58] levinec commented on #8531
@TinaMcN @OfficeGlobal @Felix-B1 @illfated is this issue resolved? Can it be closed?

[2021-01-05 23:09] levinec commented on #8693
Hi @Jlouden9, the instructions in the documentation are accurate and will guide you to the correct place to turn on network protection.

I tried to follow your path, but didn't find "Realtime Protection". Closing this issue for now.
![image](https://user-images.githubusercontent.com/40870842/103709682-0096ad80-4f68-11eb-8d7a-f809d0d9c92a.png)

[2021-01-05 23:09] #8693 closed

[2021-01-05 23:19] illfated commented on #8531
Looks resolved to me, the phrase "Spear-Phishing-Angriffe" is correctly named as 'Spear' instead of "Speer".

Would be nice to have the necessary changes confirmed by the ticket author @Felix-B1 , though.

[2021-01-05 23:25] illfated commented on #8769
I wonder how long it will take before it becomes an issue that MDATP has changed its name to Microsoft Defender for Endpoint.

[2021-01-06 08:28] SilviaEid opened #8917 "Microsoft Defender for Endpoint standalone missing"
Hi,

in the below list of required licenses Microsoft Defender for Endpoint as a standalone product is missing. This is confusing for customers, because they think that they need one of the listed products as a prerequisite for Microsoft Defender for Endpoint:

Licensing requirements

Microsoft Defender for Endpoint requires one of the following Microsoft volume licensing offers:
•Windows 10 Ente

[2021-01-06 08:53] christophjahn commented on #8894
I am not sure what you mean. Could you please rephrase?

[2021-01-06 09:01] christophjahn commented on #8894
I would simply modify the Linux distros, that officially support SysV init and add " (only with systemd)". Example: "Debian 9 or higher (only with systemd)"

Alternatively, one could add a separate bullet point between "Supported Linux server distributions and versions:" and "Minimum kernel version 3.10.0-327", that says "- `systemd` must be installed"

[2021-01-06 10:11] nam31 commented on #8904
Closing via #8910
Thank you

[2021-01-06 10:11] #8904 closed

[2021-01-06 11:12] nascar3000 opened #8918 "Device encryption uses AES 128 algorithm MBAM server cant change algoritmh for already encrypted drive"
Device encryption uses AES 128 algorithm and  MBAM server cant change algorithm for already encrypted drive
if Administrator sets up different algorithm than AES 128, MBAM policies cannot enforce to change current algorithm to requested one and client will be reported as non-compliant to MBAM server so it will reported as non-compliant in all reports.
Please add a note about cannot change algorith

[2021-01-06 11:29] illfated commented on #8894
There are 3 documented install methods:
- Manual deployment: https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/linux-install-manually
- Deploy with Puppet: https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/linux-install-with-puppet
- Deploy using Ansible: https://docs.microsoft.com/en-us/windows/security/threat-prote

[2021-01-06 11:32] edbakermct opened #8919 "Premium Intune Account ?"
[Enter feedback here]
This text appears in the re requisites section

**A Premium Intune account** | This guide will describe how to obtain a free 30-day trial premium account that can be used to complete the lab.

No such thing - i think it may mean an intune license with a premium azure ad license as well..
-- | --

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-01-06 12:14] christophjahn commented on #8894
Manual installation was attempted but failed entirely, since the pre- and post-install scripts of the Debian package contain invocations of `systemctl`, which obviously does not exist when SysV init is used.

[2021-01-06 12:48] e0i commented on #6675
The issue is going to be addressed at #6672 (via https://github.com/MicrosoftDocs/windows-itpro-docs/issues/6672#issuecomment-707224731)

[2021-01-06 12:48] #6675 closed

[2021-01-06 15:44] PawanGupta01 opened #8920 "Initiate live connection possible after Isolating machine"
After isolating machine, is it still possible to take remote of system by initiating live connection via security center?

[2021-01-06 16:09] nam31 commented on #8548
Closing via #8732
Thank you

[2021-01-06 16:09] #8548 closed

[2021-01-06 18:03] anvascon opened #8921 "ASR rules does not require E3 license."
Several sections of this docs page mention that ASR rules require E3 or above. This is incorrect. Windows 10 Pro is supported and there is no limitation in terms of rules being supported.

Windows 10 Pro, version 1709 or later
Windows 10 Enterprise, version 1709 or later
Windows 10 Education, version 1709 or later
Windows Server 1803 (Semi-Annual Channel) or later
Windows Server 2019

I've already

[2021-01-06 21:11] konstruktoid commented on #8769
@illfated, oh... I didn't even realized it had changed... When did that happen?

[2021-01-06 21:14] illfated commented on #8769
Q4 of 2020, I presume. I don't remember the exact details, but it should be available from some of the MS pages. Let me check it and get back to you.

[2021-01-06 21:18] konstruktoid commented on #8894
@christophjahn, how do you install a Debian 9 without systemd?

[2021-01-06 21:19] illfated commented on #8769
https://www.zdnet.com/article/microsoft-renames-and-unifies-more-products-under-microsoft-defender-brand/

[2021-01-06 21:25] illfated commented on #8769
Even though the name change to "Microsoft Defender for Endpoint" started as early as September 2020, there are still a bunch of pages in need of updating. Just to add a little bit more information, in case it can be useful later:
- https://docs.microsoft.com/mem/
- https://docs.microsoft.com/windows/security/threat-protection/microsoft-defender-atp/manage-atp-post-migration-configuration-manager
-

[2021-01-06 21:26] konstruktoid commented on #8769
Thanks @illfated! I was stuck looking at the `mdatp` name and hadn't realized this was a thing coming.

[2021-01-06 21:48] illfated commented on #8894
I read his reply as suggesting that Debian 9 uses a replacement service for `systemd` — but I may easily have misunderstood it.

[2021-01-06 23:03] Longshot9 opened #8922 "PUA protection section"
Page says -

Use Group Policy to configure PUA protection
On your Group Policy management computer, open the Group Policy Management Console, right-click the Group Policy Object you want to configure, and select Edit.

In the Group Policy Management Editor, go to Computer configuration and select Administrative templates.

Expand the tree to Windows Components > Microsoft Defender Antivirus.

Doub

[2021-01-07 09:01] christophjahn commented on #8894
Debian 9 supports `systemd` (installed by default) or SysV init. The latter can be installed via `apt-get install sysvinit-core`, which replaces `systemd`. @konstruktoid , this should answer your question.

[2021-01-07 11:14] e0i commented on #6088
Addressed via https://github.com/MicrosoftDocs/windows-itpro-docs/commit/95a3cfe486f29d7d8439c25150b4435d1e1bc9bc#diff-59741a45c92ac2c1d148832941b0334d24ec841b519c4a0fc37b75fa0b8feb04 Thanks.

[2021-01-07 11:14] #6088 closed

[2021-01-07 11:18] konstruktoid commented on #8894
Thanks @christophjahn, I didn't know about that package.

[2021-01-07 11:20] e0i commented on #6089
Handled via https://github.com/MicrosoftDocs/windows-itpro-docs/commit/95a3cfe486f29d7d8439c25150b4435d1e1bc9bc#diff-59741a45c92ac2c1d148832941b0334d24ec841b519c4a0fc37b75fa0b8feb04 Thanks.

[2021-01-07 11:20] #6089 closed

[2021-01-07 11:23] markburland opened #8924 "Checkpoints"
The article says you'll create multiple Checkpoints in this lab. Actually, the directions only indicate creating one Checkpoint. There is no follow up as to when you might create other Checkpoints and how you can go about reverting to the Checkpoint and starting the Autopilot process again. I was hoping to use this method to record a demonstration for users to view.

---
#### Document Details

⚠ *

[2021-01-07 11:28] e0i commented on #6717
@RAJU2529, Thank you for pointing out to the accuracy of the article. Closing the issue as it seems that no problem(s) with the article have been implied. Please feel free to re-open if you think otherwise.

[2021-01-07 11:28] #6717 closed

[2021-01-07 11:57] #6814 closed

[2021-01-07 12:04] #6832 closed

[2021-01-07 12:07] #6884 closed

[2021-01-07 12:13] e0i commented on #6883
@PriyaKOMA

The issues section of this repository is intended for product documentation issues.

Please consider opening a product support ticket by the following link below for your problem.

Here is a related community discussion that seems to be related to your feedback that you might find useful: https://social.technet.microsoft.com/forums/en-US/9cc1efb0-9d96-4674-93f4-ed027ed90e6a/mdt-2010-ca

[2021-01-07 12:20] e0i commented on #6981
@maodahua

The issues section of this repository is intended for product documentation issues.

Please consider opening a product support ticket by the following link below for your problem.

Here is a related community discussion that seems to be related to your feedback that you might find useful: https://social.technet.microsoft.com/forums/en-US/9cc1efb0-9d96-4674-93f4-ed027ed90e6a/mdt-2010-can

[2021-01-07 12:20] #6981 closed

[2021-01-07 12:27] #7069 closed

[2021-01-07 12:32] nam31 commented on #8920
@PawanGupta01 Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Can you please let us know the which part of the documentation you are referring to, or can you provide link to the page from which you were directed here?
Thanks

[2021-01-07 13:52] dennisl68-castra opened #8926 "Table of PowerShell cmdlets isn't"
"This table lists the PowerShell cmdlets" doesn't list the cmdlets (there are only three).
The column marked PowerShell cmdlets seems to refer to property names.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43b0a2f2-0aa1-9a77-a87b-18df9c43e570
* Version Independent ID: f3881175-87dd-7183-593d-acd57b7ff5aa
* Content:

[2021-01-07 14:22] dennisl68-castra opened #8927 "No such property as TerminateOnHeapError"
In the list of properties used for different security exploit settings for the cmdlets, the properties to be set for 'Validate heap integrity' is labeled wrong.

Validate heap integrity | System and app-level | TerminateOnHeapError | Audit not available
-- | -- | -- | --

The property 'TerminateOnHeapError' doesn't exist for Heap. It should be  TerminateOnError.
---
#### Document Details

⚠ *Do no

[2021-01-07 14:41] PawanGupta01 commented on #8920
Mine is not an issue with the documentation but a question on below product
feature of Security Center
- Device Isolation
- Initiate Live connection

On Thu, Jan 7, 2021 at 6:02 PM nam31 <notifications@github.com> wrote:

[2021-01-07 16:05] jandreacola opened #8928 "Configure Devices with MDM policy"
Please add a section on how to Configure Devices with MDM policy.  In the Intune docs, there is a description on how to do it, but it refers to OMS (now Log Analytics) and there are no clear instructions on how to get the workspace ID https://docs.microsoft.com/en-us/mem/intune/protect/windows-update-compliance-reports#use-update-compliance

---
#### Document Details

⚠ *Do not edit this section.

[2021-01-07 16:10] jaimeo commented on #8928
I think a better approach would be to get the Intune docs to include this information, and then we can link to that. The reason is that if the info is in more than one place, it's harder to keep everything up to date and in sync.

@cinglis-msft can we follow up on that?

[2021-01-07 16:18] nam31 commented on #8920
@PawanGupta01
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.
[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)
Thank you.

[2021-01-07 16:18] #8920 closed

[2021-01-07 20:09] illfated commented on #6089
( commit: https://github.com/MicrosoftDocs/windows-itpro-docs/commit/95a3cfe486f29d7d8439c25150b4435d1e1bc9bc )

[2021-01-07 20:10] illfated commented on #6088
( commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/95a3cfe486f29d7d8439c25150b4435d1e1bc9bc )

[2021-01-07 20:14] illfated commented on #5594
(ref. #6086, #6087, #6088, #6089)

[2021-01-07 20:37] jmmowrer opened #8929 "Add configuration option of maximumOnDemandScanThreads"
There is a configuration option called "maximumOnDemandScanThreads" which can be set to 1 to only use 1 CPU vs. 2 during scheduled scans.  Tudor has the deets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44a290d4-3386-7f63-0324-4e6219b5dd24
* Version Independent ID: 286954a7-372e-314f-ad9f-d12f5f55b79e
* Content: [S

[2021-01-07 22:22] illfated commented on #8926
Current description text:
- "This table lists the PowerShell cmdlets (and associated audit mode cmdlet) that can be used to configure each mitigation."

Suggested description:

This table lists the individual **mitigations** (and **audits**, when available) to be used with the `-Enable` or `-Disable` cmdlet parameters.

[2021-01-07 22:24] illfated commented on #8926
If I can get a verification that this is a useful improvement, I am happy to provide a PR to change the current sentence.

[2021-01-08 00:04] illfated commented on #8927
Confirmed, verified. Thank you very much. 👍🏻

Please link other pages where this incorrect term is present, if you can.

[2021-01-08 00:14] dennisl68-castra commented on #8926
Yes, that seams to be a better description.
Thanks.

[2021-01-08 00:36] illfated commented on #8927
There you go. PR #8930 is ready for review, comments, and suggestions.

[2021-01-08 00:42] illfated commented on #8926
Derp. I did not notice that this ticket is about the very same document page as the previous ticket I created a PR for.

Oh well. I will make another commit in my existing PR #8930 to make sure one of them does not cause a file conflict with the other.

[2021-01-08 00:53] illfated commented on #8926
(also ref. #8927 )

[2021-01-08 01:37] RAJU2529 commented on #8922
@Longshot9 , This article describes correctly, but you need download and install  October  2020  admx templates for windows 10 20h2  from this  site
**https://www.microsoft.com/en-us/download/details.aspx?id=102157**

how to install and copy the updated templates to windows partition, post your question in  **https://answers.microsoft.com/en-us/**

[2021-01-08 01:40] RAJU2529 commented on #8922
@Longshot9 , here is the screenshot of my windows 10 20h2
![upload1](https://user-images.githubusercontent.com/3296790/103964070-87be6e00-5180-11eb-88bc-297429425c12.JPG)

[2021-01-08 01:49] RAJU2529 commented on #8926
Yesterday night i seen this issuse on mobile, so i would create PR today , but  @illfated, you is the winner, Good luck

[2021-01-08 04:05] arcastaneda opened #8932 "Unable to filter machines vulnerabilities response using API using OData"
Attempting to use the API to retrieve machinesVulnerabilities with the 'Critical' severity property using OData filter on the API.

GET ../vulnerabilities/machinesVulnerabilities?$filter=severity+eq+'Critical'
expected response from the API is to only list vulnerability objects with Critical in the severity property only. However, I get a mixmatch of responses from low to high, no critical's. Putt

[2021-01-08 04:34] MaratMussabekov commented on #8828
Hello,
if I understand it correctly, the ownership parameter can have three possible values - corporate owned, private device or ask during enrollment. However, I didn't find on any public source which value means which number (1, 2 or 3).

Dear @manikadhiman,
Could you please advise?

Thank you

[2021-01-08 08:25] steve-pence opened #8934 "conflicting recommendations, likely typo"
[Enter feedback here] You say this. "Many devices now come with large internal drives. You can set Delivery Optimization to take better advantage of this space (especially if you have large numbers of devices) by changing the minimum file size to cache. If you have more than 30 devices in your local network or group, **change it from the default 50 MB to 10 MB.** If you have more than 100 devices

[2021-01-08 09:07] Skorfulose commented on #8709
Hey all, thanks for your effort on this. I think clarification on this technical peculiarity will help others to better troubleshoot deployment problems.

The complexity describing the NTAuth issue comes from the multiple possible scenarios:
- You could have a simple one-tier Microsoft PKI (i.e. just a Root CA, directly issuing your DC certs)
- You could have a more complex multi-tier Microsoft PK

[2021-01-08 12:00] e0i commented on #7974
There have been recent updates to the Policy CSP documentation that includes the mentioned policies. See link:

https://docs.microsoft.com/en-us/windows/client-management/mdm/policy-csp-update#update-allowautowindowsupdatedownloadovermeterednetwork

Thank you.

[2021-01-08 12:00] #7974 closed

[2021-01-08 12:05] #8269 closed

[2021-01-08 12:56] e0i commented on #8265
Hello,

Looks like this question can best be answered via relevant [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10) channels.

Please consider checking with [Microsoft Community](https://answers.microsoft.com/en-us/windows/forum/windows_10) or [contacting support](https://support.microsoft.com/contactus) for your problem; The issues section of this r

[2021-01-08 12:56] #8265 closed

[2021-01-08 13:25] e0i commented on #3456
It seems like the link in question has been fixed and it’s title has been changed as well. Thanks.

[2021-01-08 13:25] #3456 closed

[2021-01-08 13:25] e0i commented on #3459
It seems like the link in question has been fixed and it’s title has been changed as well. Thanks.

[2021-01-08 13:25] #3459 closed

[2021-01-08 13:29] #8324 closed

[2021-01-08 13:48] rrsit opened #8935 "clarify enterprise sku"
based on the discussion here https://github.com/MicrosoftDocs/windows-itpro-docs/issues/4025, the following confirmation from MSRC 61355 and the resulting PR https://github.com/MicrosoftDocs/windows-itpro-docs/pull/8435 -

could [this](https://docs.microsoft.com/en-us/windows/security/identity-protection/credential-guard/credential-guard-requirements) page also be updated to specifically list "Win

[2021-01-08 14:20] RAJU2529 commented on #8932
@arcastaneda  Which article are  you referring to

[2021-01-08 14:28] RAJU2529 commented on #8934
@steve-pence , Thanks for pointing out, Article author will look in this issue.And it will be fixed very soon after testing and conformation

@nam31, Will you look in this issue #8934

[2021-01-08 14:30] arcastaneda commented on #8932
@RAJU2529 This is the one I am working with: https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/get-all-vulnerabilities-by-machines

It says "The OData $filter is supported on all properties". The filter **does** work as intended when I use it on fields like "Id", "cveID", or "MachineID", but it does **not** work properly when using it on the "severity" prop

[2021-01-08 14:32] RAJU2529 commented on #8932
@arcastaneda , this article is beyond my knowledge, so wait for few days. let our expert's team will answer your questions

[2021-01-08 14:36] RAJU2529 commented on #8935
@rrsit , Article will be updated soon after verifying and conformation from windows 10 enterprise edition experts

[2021-01-08 16:27] jaimeo commented on #8934
@narkissit can you advise on this?

[2021-01-08 16:47] Longshot9 commented on #8922
ah I see the issue now, i'm looking at the domain group policy.  is it in there?

[2021-01-08 16:50] #8873 closed

[2021-01-08 17:46] #8927 closed

[2021-01-08 17:46] #8926 closed

[2021-01-08 18:14] mcbsys commented on #6092
I use a batch script to call mpcmdrun.exe to update signatures. Now I have to write another script in PowerShell to show the signature versions? That is a cumbersome workaround at best. If, as documented, the tool for managing Windows Defender from the command line is an .exe program, please enhance that program to support a "-Status" parameter.

[2021-01-08 18:19] illfated commented on #8709
Thank you very much for the detailed feedback, @Skorfulose . Those points seem quite legit to me, aside from the fact that I am not an expert in this topic.

@joinimran : Do you find the reply to be practical enough to you, so you could make a Pull Request based on that material?

[2021-01-08 18:49] illfated commented on #6092
@mcbsys : To the best of my knowledge, I believe you should feel free to open a new ticket the regular way (from the Feedback button **[ This page ]** at the end of the page), and then reference this issue ticket in the new issue ticket. At least that is what I find the more productive way to move forward with a new issue (or continue an old one), in case you find that this is something you believ

[2021-01-08 19:33] mcbsys commented on #6092
@illfated Thanks for the reply. I believe @tysonflint's original post, as well as my comment, are requesting an enhancement to the software, not to the documentation, so this may technically be the wrong platform. Through this GitHub link, Microsoft has made it pretty easy to comment on the docs, and more importantly, an MS rep usually sees the comments and replies. One hopes that the doc authors

[2021-01-08 20:08] illfated commented on #6092
Very well, @mcbsys, I presume that the better option to ask for improvement in Microsoft software is to use the Feedback Hub, via the Feedback Hub site, or  Microsoft Windows 10 Feedback Hub: https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app (how to use your OS Feedback Hub app).

Sorry that I could not find the GitHub Feedback Hub site on

[2021-01-09 01:28] maxgara commented on #8840
@VLG17 yes I mainly see event 4625 with other failure reasons, with most common ones being those @ruffy91 mentioned. Personally I think having 2 different entries for the same event would be misleading, it would be better to have a single entry which accurately describes the event code in all circumstances. Information about audit policies could be useful as an additional section.

[2021-01-09 03:45] RAJU2529 commented on #8922
@Longshot9 . I think same policies can be used or modify for domain based devices.

[2021-01-09 14:32] joinimran commented on #8709
Thanks, @Skorfulose for sharing the detailed information. This was something complex which you have made simple. I have updated the doc and created a PR for the same. Let's see how the doc author will respond.

[2021-01-09 14:33] illfated commented on #8709
(ref. #8936 )

[2021-01-09 16:20] illfated commented on #8935
I think it could be as simple as opening a PR to make that change, because the PR content will be evaluated before merging.

[2021-01-09 16:39] illfated commented on #8935
(ref. #8937 )

[2021-01-10 06:35] truekonrads opened #8938 "Azure Gen2 VMs and Credential Guard"
The credential guard documentation says that it is unavailable on Azure and that future Gen2 VMs will support it. Gen2 is already available on Azure, does it mean that credential guard is supported or that the available Gen2 VMs are still not compatible? The documentation is unclear and requires a revision

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-01-11 01:09] scyto opened #8940 "Instructions for modifying WindowsPE do not work with latest deploument kit / winpe"
firstly the path names have changed
secondly none of the reagent files are store in the ADK or current winpe any more

I have no clue how / when to get the reagent files for winpe from, please revise article verifying it works on win10 ADK and winpe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b73c22f0-cb0d-e34b-29d8

[2021-01-11 03:48] illfated commented on #8919
(ref. #8939 )

[2021-01-11 05:07] nam31 commented on #8922
Closing via #8931
Thank you

[2021-01-11 05:07] #8922 closed

[2021-01-11 11:19] Joe-houghton opened #8941 "Where is the "Windows Sandbox" in the Windows Admin Center"
Watching the video, I see that they enable and Manage Windows Sandbox from the Admin Centre. I cannot find how to do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c06f3ef-5946-862a-ae14-f897fdb518ca
* Version Independent ID: cd6a8b99-b1e9-dff5-f174-a15840b304f0
* Content: [Windows Sandbox - Windows security](ht

[2021-01-11 13:04] RAJU2529 commented on #8940
@scyto , for your 1st question, could you tell me the files paths are changed?
for 2nd question, I conformed, article says correct, i conformed on my asus laptop.
i found three reagent files under windows 10 ADK 2004 with adds on PE.
to use reagents files, download and install windows 10 2004 and install windows 10 2004 adds on PE.
here is the proof

![Capture](https://user-images.githubuserconten

[2021-01-11 13:07] RAJU2529 commented on #8941
@e0i , Will  you look into this issue #8941

[2021-01-11 15:05] #8672 closed

[2021-01-11 15:10] joaonltome opened #8942 "Broken link - Distribute offline apps"
Hi all.

In Distribute offline apps (https://docs.microsoft.com/en-us/microsoft-store/distribute-offline-apps) the link Manage apps from Microsoft Store for Business with Microsoft Intune that points to https://docs.microsoft.com/en-us/intune/deploy-use/manage-apps-you-purchased-from-the-windows-store-for-business-with-microsoft-intune rports error 404. Probably the destination has changed URL. I

[2021-01-11 16:38] YongRhee-MSFT opened #8943 "We need to add clarification to the channel/version for the MDE repo."
[Enter feedback here]

Dear Sir or Madam,

/*
For example, if you are running CentOS 7 and wish to deploy MDATP for Linux from the insiders-fast channel:

Bash

Copy
sudo yum-config-manager --add-repo=https://packages.microsoft.com/config/centos/7/insiders-fast.repo
*/

After this portion, we should have the following note:
For production environments, use the Production channel:
sudo yum-config-m

[2021-01-11 16:48] #8935 closed

[2021-01-11 22:48] illfated commented on #8942
Thank you for the report and solution suggestion. This issue can be found in the following section:
- https://docs.microsoft.com/en-us/microsoft-store/distribute-offline-apps#distribution-options-for-offline-licensed-apps

I see why you were unable to bring the expected content along with your ticket, because the source page does not have any **[ Edit ]** button or link at the top of the page.

I

[2021-01-11 22:55] illfated commented on #8942
Looks like I found a match:
- https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/store-for-business/distribute-offline-apps.md#distribution-options-for-offline-licensed-apps

OK, so I just need to browse the /mem/intune/ directory to see if your suggested document is the best selection. Checking. BRB.

[2021-01-11 23:03] illfated commented on #8942
Fair enough, your link https://docs.microsoft.com/mem/intune/apps/windows-store-for-business seems to fit the intended profile, even if some of the wording is different in the page title and so on, but I think it will be the way forward. I also presume it will be a reasonable opportunity to get feedback from the MS Docs team in a PR, just in case the link description text should stay the same or i

[2021-01-11 23:36] illfated commented on #8942
There you go. PR #8950 is ready for review, comments, and suggestions.

[2021-01-12 07:13] MaratMussabekov commented on #6086
Hello,

**These all require AD Premium P1 / P2.** - AD FS w/3rd Party MFA Adapter doesn't require Azure AD Premium

**I don't see any mention of Office 365 MFA in your table.** - there is no such thing as Office 365 MFA. Some Microsoft 365 subscriptions include Azure AD Premium, which allows using MFA.

**Basically, can we get WHfB to work without buying Azure resources?** - Yes, using Azure AD Fr

[2021-01-12 07:19] MaratMussabekov commented on #6087
Hello, MFA used in Office 365 is not a separate product, Azure MFA is used for multi-factor authentication for Office products, therefore it is not mentioned here.
Thank you

[2021-01-12 18:44] denisebmsft commented on #8859
Hello @MS-binche. Thanks again for posting your feedback on my article. The article has been updated and should be correct as it is right now. Please let me know if you have any further questions.

[2021-01-12 18:44] #8859 closed

[2021-01-12 18:47] illfated commented on #6087
Looks like a good answer to me. I presume this concludes the question in this ticket.

[2021-01-12 21:18] jmmowrer opened #8956 "Attack Surface Reduction Rules and Network Protection - List as not available in Passive Mode"
Can we add notes about Attack Surface Reduction Rules and Network Protection require real-time protection in active mode?  This way customers know why they wouldn't see ASR Rule notifications if they are in Passive mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b88aee4-6727-fa98-1180-29708eea027e
* Version Indep

[2021-01-12 21:40] jmmowrer opened #8957 "Dates these release"
Can we please add the dates for when each of these versions release?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca25ead-3b5d-4434-1865-0d4fef57ebdf
* Version Independent ID: 8d146609-15b5-b8a0-62bf-108f29248991
* Content: [What's new in Microsoft Defender Advanced Threat Protection for Linux - Windows security](ht

[2021-01-12 23:03] illfated commented on #8784
Resolved in commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/41aa1b595f3897f3695d45f1ad0572b1fa3f022e

#please-close

[2021-01-12 23:07] illfated commented on #8957
There sort of is some form of history, as mentioned 8 months ago in issue ticket #6640 (**Please add version history**), which is this page:
- https://github.com/MicrosoftDocs/windows-itpro-docs/commits/public/windows/security/threat-protection/microsoft-defender-atp/linux-whatsnew.md

But then again, I don't know if the Defender for Endpoint updates truly and factually coincide with the page upda

[2021-01-12 23:20] illfated commented on #8905
(ref. #8923 )

[2021-01-12 23:21] illfated commented on #8551
(ref. #8902 )

[2021-01-12 23:26] illfated commented on #8222
Very well, I managed to get the changes I wanted done to this document (in PR #8899), so a new PR can be opened in case this ticket requires a new document update.

[2021-01-13 10:57] konstruktoid commented on #8943
Hi @YongRhee-MSFT, every example on that page is using `insiders-fast`. Perhaps we should replace that with the `prod` since MDE for Linux has gone GA.

[2021-01-13 11:01] konstruktoid commented on #8929
Hi, @jmmowrer. Keeping track of configuration and preference changes is always messy.
Do you, or Tudor, have any information on how to completely dump the configuration of an available MDE on Linux?

[2021-01-13 13:10] YongRhee-MSFT commented on #8943
Hi Thomas,
I'm adding the feature PM's and Dev leads for MDE for Linux to see if they are on-board with replacing everything with 'prod' instead of just pointing out that for production deployments, customers should be using Prod.
Thanks,
Yong

From: Thomas Sjögren <notifications@github.com>
Sent: Wednesday, January 13, 2021 2:58 AM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.

[2021-01-13 14:24] YongRhee-MSFT commented on #8943
Totally agree, let’s point to production

Thanks,
Mati

From: Yong Rhee <yongrhee@microsoft.com>
Date: Wednesday, 13 January 2021 at 15:10
To: MicrosoftDocs/windows-itpro-docs <reply@reply.github.com>, MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>, Helen Allas <hallas@microsoft.com>, Tudor Dobrila <Tudor.Dobrila@microsoft.com>, Tomer Hevlin <Tomer.Hevlin@microsoft.com>,

[2021-01-13 15:32] #7900 closed

[2021-01-13 15:47] #8311 closed

[2021-01-13 16:06] MaratMussabekov commented on #8941
Hello @Joe-houghton ,
1. can you connect to this win 10 machine using Admin Center?
2. Do you have Windows Sandbox feature installed on windows 10 machine? (it must be installed prior to be enabled)
Thank you

[2021-01-13 16:19] Joe-houghton commented on #8941
Hello, @MaratMussabekov ,

Yes I have sandbox enabled on my PC and have Admin centre installed. I have been through all the options in admin centre but cannot see any called "Windows Sandbox" as per the video.

It is impossible to tell in the video where this feature is located.

[2021-01-13 16:44] YongRhee-MSFT commented on #8943
Thx Mati.

Thomas, can we get that going?

Yong

From: Mati Goldberg <Mati.Goldberg@microsoft.com>
Sent: Wednesday, January 13, 2021 6:24 AM
To: Yong Rhee <yongrhee@microsoft.com>; MicrosoftDocs/windows-itpro-docs <reply@reply.github.com>; MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>; Helen Allas <hallas@microsoft.com>; Tudor Dobrila <Tudor.Dobrila@microsoft.com>; Tomer

[2021-01-13 16:46] konstruktoid commented on #8943
@YongRhee-MSFT, see https://github.com/MicrosoftDocs/windows-itpro-docs/pull/8960

[2021-01-13 16:49] YongRhee-MSFT commented on #8943
Thx Thomas for your help.  Yong

From: Thomas Sjögren <notifications@github.com>
Sent: Wednesday, January 13, 2021 8:47 AM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Yong Rhee <yongrhee@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-itpro-docs] We need to add clarification to the channel/version for the MDE repo. (#894

[2021-01-13 22:35] jguerin opened #8961 "Inconsistent use of 'Defender ATP' and 'Defender for Endpoint"
The contents page on the left refers to 'Defender ATP' whereas the pages have been updated to say 'Defender for Endpoint'. This occurs throughout the entire section, and is not limited to this single page.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0de0146-6f7c-ec51-005e-02b081dd53da
* Version Independent ID: 15288

[2021-01-13 23:12] #8894 closed

[2021-01-14 00:26] johnwbyrd opened #8962 "Memory Integrity documentation is not documentation"
The linked page is not documentation for the Memory Integrity feature.

This is an advertisement for the Memory Integrity feature.

Unless you can describe exactly how Memory Integrity works, how it is started, its means for protection, and what kinds of attacks it stops, then this is ordinary security by obscurity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-01-14 08:58] andimoll opened #8963 "How to add powershell scripts in full language mode with UMCI rule enabled in WDAC"
I have tried to use signed powershell scripts in order to get full language mode and have added the signer to my WDAC policy.
However I still get a constrained language mode error. Is it even possible to use full language mode when I sign my scripts? I cannot find any information in your documentation on this here: https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defende

[2021-01-14 10:36] Reeced40 commented on #8917
@SilviaEid thank you for pointing this out. I see the article was updated this week and there is a note regarding licensing. Please check and let me know if you still think any more information must be added in.

[2021-01-14 14:49] #6293 closed

[2021-01-14 15:20] SilviaEid commented on #8917
Hi Reece,

Thank you for your answer. I checked the article and it still does not say that customers can license Microsoft Defender for Endpoint (the client license, not the server license) as a standalone product. There are only the suite licenses that include the product, but not the standalone product. That is why we are often contacted by customers, because this makes them think that they need

[2021-01-14 16:23] nam31 commented on #8876
Closing via #8893
Thank you

[2021-01-14 16:23] #8876 closed

[2021-01-14 16:30] nam31 commented on #8905
Closing via #8923
Thank you

[2021-01-14 16:30] #8905 closed

[2021-01-14 16:33] nam31 commented on #8618
Closing via #8914
Thank you

[2021-01-14 16:33] #8618 closed

[2021-01-14 17:12] TheBaban opened #8966 "Missing information on added support for office installations and updates"
Just above the Requirements section, it is state the following:
Support for new types of downloads:
Office installations and updates
Xbox game pass games
MSIX apps (HTTP downloads only)

But in the requirements section it is stated:
Types of download packages supported by Delivery Optimization:
Microsoft 365 Apps and updates = 1709 (for more information, see Delivery Optimization and Microsoft 365

[2021-01-14 17:41] illfated commented on #6293
Looks like there could have been a miss or typo in selecting the correct PR or issue ticket numbers. @HenkPoley : Feel free to open a new ticket if you find that this ticket has resolved your issue.

[2021-01-14 17:51] illfated commented on #8938
(ref. #8967 )

[2021-01-14 18:02] jaimeo commented on #8966
@narkissit can you advise on the correct edit to do here?

[2021-01-14 18:29] SAdamsCDFW opened #8969 "Potential Article Correction"
Can you please review the Network Isolation Wildcard Settings section?  I think the following entry has an error:
Trust any domain that ends with the text contoso.com. Matching sites include spearphishingcontoso.com, contoso.com, and www.contoso.com.

I believe the spearphishingcontoso.com should actually be spearphishing.contoso.com

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-01-14 18:57] adirdidi commented on #8961
Updated across the entire TOC.

[2021-01-14 18:57] #8961 closed

[2021-01-14 19:44] illfated commented on #8961
Nice. Thanks for the updates.

[2021-01-14 22:10] illfated commented on #8969
Fair point. Given that `contoso.com` [40.113.200.201] exists somewhere in the domain `ntwk.msn.net` and that www.contoso.com is translated via DNS to www.microsoft.com, it would be very likely that `spearphishingcontoso.com` should not exist. On the other hand, I would like to see confirmed the existence of `spearphishing.contoso.com` before recommending that change. The main difference is that th

[2021-01-14 22:39] SAdamsCDFW commented on #8969
I think my biggest concern is that if this is correct I could register customnamecontoso.com and circumvent the security in Defender Application Guard.  I would expect .contoso.com to not allow that as it would be a big security hole.

[2021-01-14 22:40] jdgregson commented on #8969
Hello @SAdamsCDFW,

As @illfated pointed out, this change was discussed issue #4408 and fixed in PR #4887.

To summarize, this was not a mistake and `spearphishingcontoso.com` should not be changed to `spearphishing.contoso.com`. Rather, this is a warning that `.contoso.com` is the equivalent of `*contoso.com`, or in English, "trust any domain name that ends in `contoso.com`".

This is most likely

[2021-01-14 22:44] #8969 closed

[2021-01-14 22:44] SAdamsCDFW commented on #8969
I see what you guys are saying.  Thank you.

[2021-01-14 23:10] illfated commented on #8969
You are welcome. Thanks to both of you for the good follow-up. 👍🏻

[2021-01-15 06:53] Reeced40 commented on #8917
@Reeced40 Hi there. I see you commented yesterday on the article requesting that I change the points in the table, but its seems to be reading exactly the same as you suggested. Please let me know if there's anything else you want me to add. Thanks.

[2021-01-15 07:13] SilviaEid commented on #8917
Hi Reece,

Thank you for your message. Sorry if my email was not 100% clear.

This is the list as it is now (yellow):

Licensing requirements
Microsoft Defender for Endpoint requires one of the following Microsoft volume licensing offers:

  *   Windows 10 Enterprise E5
  *   Windows 10 Education A5
  *   Microsoft 365 E5 (M365 E5) which includes Windows 10 Enterprise E5
  *   Microsoft 365 A5 (M3

[2021-01-15 07:23] MaratMussabekov commented on #8941
Hello @Joe-houghton ,
I tried to reproduce the situation:
1. installed sandbox on Win10 machine (running Windows 10 Pro 2004)
2. enabled powershell remoting
3. connect to it using Windows Admin Center

And I am not able to see Windows Sandbox as well. Other features working as expected.
**It is impossible to tell in the video where this feature is located.** - I believe there should be a separate

[2021-01-15 11:28] adirdidi commented on #8917
The standalone license was added to the list.

[2021-01-15 11:28] #8917 closed

[2021-01-15 11:30] adirdidi commented on #8311
1. https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/commercial-gov was renamed ~2 months ago to https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/gov.
2. As part of the page refresh a Gov reference was added to all the public API pages as can be seen in here: https://docs.microsoft.com/en-us/windows/security/threat-

[2021-01-15 13:19] nam31 commented on #8740
Closing via #8744
Thank you

[2021-01-15 13:19] #8740 closed

[2021-01-15 14:15] #8747 closed

[2021-01-15 14:25] e0i commented on #7901
#8869 has been merged. Thank you.

[2021-01-15 14:30] #8556 closed

[2021-01-15 14:31] #8376 closed

[2021-01-15 15:51] tonkzy opened #8971 "0x801C03ED - No permission to Join Device to AAD"
Error code `0x801C03ED` can also be returned if the user does not have permission to join a device to AAD

Reference [AAD Device settings](https://portal.azure.com/#blade/Microsoft_AAD_Devices/DevicesMenuBlade/DeviceSettings/menuId/):
![image](https://user-images.githubusercontent.com/44408139/104748221-60037300-5749-11eb-8965-cd5b087dc71e.png)

---
#### Document Details

⚠ *Do not edit this secti

[2021-01-15 21:55] GreggRevak opened #8972 "Reference is broken"
The page says "For more info about where this area is and how to decide on your protection level, see the Manage the WIP protection mode for your enterprise data section of the policy creation topics", however the section referred to ("Manage the WIP protection mode for your enterprise data") is not a link and cannot be found in the document.

---
#### Document Details

⚠ *Do not edit this section

[2021-01-16 15:17] illfated commented on #8972
Could the following page link can be used there and still match the text? Or any other link from the related page groups on the left hand side?
- https://docs.microsoft.com/en-us/windows/security/information-protection/windows-information-protection/protect-enterprise-data-using-wip

[2021-01-16 20:28] juhap opened #8974 "Hardware compatibility with M1"
Please include information on this page about the compatibility of Defender for Endpoint for Mac with the new M1 chip.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7a3b63b-afc5-1b25-3a30-e75c788f4a93
* Version Independent ID: 85498c85-fe13-fead-3bac-44db5614db0d
* Content: [Microsoft Defender ATP for Mac - Windows s

[2021-01-17 14:50] albertoween commented on #8279
![Captura de pantalla (395)](https://user-images.githubusercontent.com/20495056/104846593-9a9d1500-58db-11eb-8126-ee92cea7ac41.png)

[2021-01-17 14:50] albertoween commented on #8279
![Captura de pantalla (395)](https://user-images.githubusercontent.com/20495056/104846622-be605b00-58db-11eb-9097-2c9121604bdd.png)
![Captura de pantalla (394)](https://user-images.githubusercontent.com/20495056/104846623-c02a1e80-58db-11eb-8e0b-1a41d343ec41.png)
![Captura de pantalla (393)](https://user-images.githubusercontent.com/20495056/104846624-c0c2b500-58db-11eb-8c5b-79c89e580b3f.png)
![Ca

[2021-01-17 19:11] WillInLdn opened #8975 "Service Surface Brightness Control failed to start (non-english locale)"
I tried to install SurfaceBrightnessControl (v1.16.137.0) but I've suffered from the same issue as [#5727
](https://github.com/MicrosoftDocs/windows-itpro-docs/issues/5727) reported by user Klausoleum.

I also have admin rights, and for good measure I've tried installed in safe mode too (which required a registry modification to launch the msiinstaller service) from an admin console, to no avail.

[2021-01-17 20:52] ittechandres opened #8976 "Enterprise Vs Education"
Wondering if this is off but at the bottom where the Win 10 upgrade paths are, it has a (D)owngrade mark under the Enterprise column for the Education row of Windows 10.

I just wanted to know if this is accurate and Enterprise is actually considered a downgrade from the Education edition of Windows.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-01-18 11:05] VLG17 commented on #8839
@CDjgould Thank you for your answered and the details added. As @illfated also mentioned, i think the best thing would be to reach out to [Windows 10 Support](https://support.microsoft.com/contactus). If they conclude that the documentation will need to be changed, we will gladly do that.

[2021-01-18 11:27] VLG17 commented on #8907
@nhoj01 Correct, you get the Product Name by using the _Get-AppLockerFileInformation_ Powershell cmdlet.

[2021-01-18 12:51] VLG17 commented on #8906
@DavidSchrag I've created a request to add the requested steps for Microsoft Endpoint Manager.

[2021-01-18 16:50] nam31 commented on #8839
Thank you for providing feedback.
Your initial question seems to have been answered by @VLG17
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.
[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)

[2021-01-18 16:50] #8839 closed

[2021-01-18 21:44] DeanGross opened #8980 "Make page title consistent with Navigation"
This page title does not match the left side navigation which is confusing.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4a20ccd-c954-e4f7-07ca-eba122d01340
* Version Independent ID: ee4176d5-3fe6-f65b-6a78-a06f94ae73c0
* Content: [Onboarding using Microsoft Intune - Windows security](https://docs.microsoft.com/en-us

[2021-01-18 21:45] DeanGross opened #8981 "Make page title consistent with navigation"
This page title does not match the left side navigation which is confusing.
---

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24957830-5519-a9e9-d7c6-81283f1591ea
* Version Independent ID: 0200f46c-1346-6ff1-6b68-4ccd93a10508
* Content: [Onboarding using Microsoft Endpoint Manager - Windows security](https://docs.micr

[2021-01-18 22:12] pnwnightowl opened #8982 "Policy path in tables needs updating"
In the tables for policies that reference build 1607 or greater, the path to the policy needs to be updated.  Currently, the last folder branch name is "Defer Windows Update", when in fact it needs to be "Windows Update for Business".

For example, in the Release Branch Policies table, the entry for GPO for Windows 10, version 1607 or later:
Computer Configuration > Administrative Templates > Wind

[2021-01-19 07:06] hidemaruki opened #8983 "Contradiction about edition information for "Network Protection" prerequisites"
[フィードバックをこちらに入力してください]
Contradiction about edition information for "Network Protection" prerequisites

Regarding the prerequisites for [Network Protection], the first URL below says
"Windows 10 Pro, Enterprise E3, E5", but the second URL says " Windows 10 Enterprise edition, version 1709 or higher (also known as the Fall Creators Update)".

If [Network Protection] is also available on "Windows 10

[2021-01-19 08:04] illfated commented on #8983
(translation to English, using translator engine)

**Inconsistent Edition information in Prerequisites for Network Protection**

[Enter your feedback here]
Regarding the prerequisites for [Network Protection], the first URL below says "Windows 10 Pro, Enterprise E3, E5", but the second URL says "**Windows 10 Enterprise edition, version 1709 or higher (Autumn).** Also known as Creators Update) ".
I

[2021-01-19 09:26] hidemaruki opened #8984 "About the support edition of "Attack surface reduction""
[フィードバックをこちらに入力してください]
Although it is written that "Attack surface reduction" can also be used with a "Pro" license,
In the case of "E3 License", it is written that it can be operated using "Event Viewer".
Isn't it correct for "Pro and E3 License"?
If not, please remove the "Pro" notation from support.
------------------------------------------------------------
Attack surface reduction features a

[2021-01-19 10:15] Reeced40 commented on #8917
@SilviaEid Thank you for clearing this up. It seems to have been fixed in the interim. Please confirm your side. Thanks. Love Shrek.

[2021-01-19 12:27] adirdidi commented on #8981
Fixed.

[2021-01-19 12:27] #8981 closed

[2021-01-19 12:30] adirdidi commented on #8980
Fixed.

[2021-01-19 12:30] #8980 closed

[2021-01-19 14:19] DeanGross commented on #8980
Thanks, but I'm not seeing the change. Does it take a while to become visible?

[2021-01-19 14:28] e0i commented on #8928
@cinglis-msft Please let us know whether we could help with this. Thanks.

[2021-01-19 14:33] SilviaEid commented on #8917
Hi Reece,

Yes, I checked it today and it is fixed. Thanks a lot!

Best regards,

Silvia

From: Reece Peacock [mailto:notifications@github.com]
Sent: Tuesday, January 19, 2021 11:16 AM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Silvia Eid (Arvato Direct Services) <v-50siei@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows

[2021-01-19 14:35] e0i commented on #8957
Duplicate of #6640. See comment, https://github.com/MicrosoftDocs/windows-itpro-docs/issues/6640#issuecomment-624175839

[2021-01-19 14:35] #8957 closed

[2021-01-19 14:41] adirdidi commented on #8980
Yes, it will be updated on a later publication.

[2021-01-19 15:13] #6087 closed

[2021-01-19 15:14] #6086 closed

[2021-01-19 15:26] #8519 closed

[2021-01-19 17:04] illfated commented on #8980
@DeanGross : Feel free to post back if you don't see the published change in a week's time or so.

[2021-01-19 17:06] illfated commented on #8917
@SilviaEid : Thank you for posting your feedback. Glad to see that it has been updated. 😃 🙂

[2021-01-19 17:14] greg-lindsay commented on #8976
It is neither an upgrade nor a downgrade, but functionally since your user data is not maintained it behaves the same as a downgrade.

[2021-01-19 17:14] #8976 closed

[2021-01-19 17:18] cinglis-msft commented on #8928
I will make a note to work on this.

[2021-01-19 17:19] illfated commented on #8976
Interesting viewpoint, I had forgotten to look at it that way.

[2021-01-19 18:09] adirdidi commented on #8980
Week? It will be live around 11 AM PST.

[2021-01-19 18:12] illfated commented on #8980
Thank you. Sorry for estimating the time incorrectly.

[2021-01-19 18:16] ittechandres commented on #8976
That is a very interesting point. Currently studying for the MD-100 and
101T so I will keep that in mind.

I appreciate the knowledge.

On Tue, Jan 19, 2021, 12:19 PM Trond B. Krokli <notifications@github.com>
wrote:

[2021-01-19 20:06] bdan9559 opened #8985 "Brown,s Hub Service"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7b0bed0-d344-9e32-f789-ddebb0309ecf
* Version Independent ID: 6c821f59-d507-df49-19c7-9a98dd162bf0
* Content: [Windows 10, version 1709 and newer optional diagnostic data (Windows 10) - Windows Privacy](https://docs.microsoft.com/en-us/windows/privac

[2021-01-19 20:10] adirdidi commented on #8980
No worries. BTW - it's already live.

[2021-01-19 20:31] levinec commented on #8962
Hi @johnwbyrd, we’re working on revamping this page. In the meantime, please check out these two docs for more information related to memory integrity:

[Virtualization-based Security (VBS)](https://docs.microsoft.com/en-us/windows-hardware/design/device-experiences/oem-vbs)
[Virtualization Based Security System Resource Protections](https://docs.microsoft.com/en-us/windows-hardware/design/device-

[2021-01-19 20:31] #8962 closed

[2021-01-19 21:02] illfated commented on #8985
@bdan9559 : Did you intend to write anything here, or is this just a test?

[2021-01-19 21:19] illfated commented on #8971
Judging by the relevant table in the document page, it looks like the permission issue should be covered by a different error code:

| Hex        | Cause                                                              | Mitigation                       |
| :--------: | :----------------------------------------------------------------- | :------------------------------- |
|    ....    |

[2021-01-20 00:16] scyto opened #8986 "Little confused about needing to follow mutliple guides for RDP and whFB to work"
I have already implemented this architecture (BTW superb update compares to the instructions  as they were a year+ ago!)
https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base

I am confused why i need to do https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert if I want RDP t

[2021-01-20 00:17] scyto commented on #8986
closing, i am stupid,  there is note right there on the first page to do the base-sso stuff firs

[2021-01-20 00:17] #8986 closed

[2021-01-20 00:23] greg-lindsay commented on #8976
Also have a look here in this chart Education is viewed as an upgrade from Enterprise (Enterprise > Education). What I'm saying is there are no feature advantages to Education vs. Enterprise AFAIK.

https://docs.microsoft.com/en-us/windows/deployment/upgrade/windows-10-edition-upgrades

[2021-01-20 00:37] scyto opened #8987 "does the connector need to be installed on all Azure ADJ machines or just one"
Confused by this step https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert#download-intune-certificate-connector

Does this need to be done on client machine or EVERY client machine.
If the latter why can't this be pushed automatically from Intune - installing manually on every machine seems odd.

---
#### Document Details

⚠ *Do not e

[2021-01-20 00:42] scyto opened #8988 "Do i have to use Azure Application proxy"
Do i need to follow the the Azure Application proxy instructions?
If I have an existing reverse proxy (like nginx) can I use that instead?

https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-cert#create-a-web-application-proxy-for-the-internal-ndes-url

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-01-20 07:13] BLTTEST opened #8989 "The description problem of proxy server"
Hi Teams,

The description of "proxy server" is: Specify the proxy servers your devices will go through to reach your cloud resources. Using this server type indicates that the cloud resources you’re connecting to are enterprise resources.

The description of "internal proxy server": This list shouldn’t include any servers listed in your Proxy servers list. Proxy servers must be used only for non-

[2021-01-20 07:57] RAJU2529 commented on #8982
@pnwnightowl . thanks for pointing out. I look into this issue.

[2021-01-20 08:00] RAJU2529 commented on #8966
@jaimeo . I will look into group policy editor

[2021-01-20 09:46] tonkzy commented on #8971
This is based on extensive testing using Windows AutoPilot, users need to be given permission to Join devices to AAD, otherwise the error code `0x801C03ED` is returned.

Ideally there should be a different and explicit error code for this, but that would be over the windows team for further development.

[2021-01-20 12:34] #8985 closed

[2021-01-20 13:15] RAJU2529 commented on #8982
@pnwnightowl . I checked the article, most of the policy should be update. For 20H2  different policies are added in templates.

[2021-01-20 13:23] RAJU2529 commented on #8966
in gpo, there is no options, so the article author needs to check the article again,

[2021-01-20 14:48] rcmpgi opened #8992 "Registry change also required?"
I set this audit policy on Windows 10 1607 LTSB and nothing was logged.
Apparently the following registry value also needs to be configured on most versions of Windows 10:
HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Storage\HotPlugSecureOpen = 1 (REG_DWORD)
Can the page be updated to add this crucial additional step - or the products affected be fixed to make this unnecessary?

---
#### Do

[2021-01-20 17:05] jaimeo commented on #8966
We need the SME, @narkissit to advise on what is most accurate.

[2021-01-20 18:26] strausy opened #8993 "screenshots are poor quality and unreadable"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f791dc07-b2c6-3003-a829-cd1ec03a2918
* Version Independent ID: 2c53adbc-600f-60b2-e8b2-b907335f4862
* Content: [Set up the Microsoft Defender ATP for macOS policies in Jamf Pro - Windows security](https://docs.microsoft.com/en-us/windows/security/thre

[2021-01-20 18:35] waydaws opened #8994 "Certificate indicators based on having the actual certificate is not optimal. We should be able to just imput the certificate parameters."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43e56d5e-bd24-b23a-ab4e-2a1253e09d14
* Version Independent ID: 93ff9b4e-f401-3d75-965e-106b7ce646c3
* Content: [Create indicators based on certificates - Windows security](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-d

[2021-01-20 18:55] illfated commented on #8971
Very well, thank you for the follow-up. I presume the MS Docs team tech writers will want to follow up on this as well.

Unless this gets too much delay, I will hold out for the tech writers to offer a suggested change, but feel free to suggest how it could be added correctly to the existing table.

[2021-01-20 20:41] Alex-Saad opened #8995 "Fix description of devicelock/maxinactivitytimedevicelock"
In the article it is written that the Integer for devicelock/maxinactivitytimedevicelock should be set in minutes, but this is not correct. The values are in seconds. This has been tested and caused mass dissatisfaction as people's PCs were locked after 5 seconds of inactivity!

I had to search for another article to confirm that: https://docs.microsoft.com/en-us/openspecs/exchange_server_protocol

[2021-01-20 20:42] pnwnightowl commented on #8982
I don’t see any updates to the doc, unless there are pending publish state that I cannot see.  I attached a screen shot of the Windows Update GPO while using the 20H2 ADMX and you can see there is only a Windows Update for Business folder; no Defer Windows Update folder as indicated in the doc.

[cid:image002.png@01D6EF29.C1421780]

[cid:image004.png@01D6EF29.C1421780]

From: VARADHARAJAN K<mailto

[2021-01-21 09:11] VLG17 commented on #8888
@daejsl Are the steps described under the [Deployment section](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/linux-install-with-ansible#deployment) not what you are looking for? Would you add something to it?

[2021-01-21 12:52] #5720 closed

[2021-01-21 13:03] e0i commented on #3921
Addressed via PR #3921 that is part of a mass update. Thanks.

[2021-01-21 13:03] #3921 closed

[2021-01-21 13:21] RAJU2529 commented on #8992
Just now I tested on windows 10 20h2 build no 19042.746
I conformed without Adding registry key, event audit logs are created successfully with event ID
 4663.
so I think adding Registry key is not required for  20H2 edition.

[2021-01-21 13:29] RAJU2529 commented on #8995
@Alex-Saad , Thanks for pointing out, I am fixing now

[2021-01-21 13:36] #8975 closed

[2021-01-21 13:44] RAJU2529 commented on #8993
@strausy i agree , in some screenshots, its difficult to read, i  took that pic, i  made to visible, i will add that pic here , will you able to read  the sentences inside the screenshot
![onboarding-macos01](https://user-images.githubusercontent.com/3296790/105358981-df4ae800-5c1c-11eb-8369-4be60176d9ce.png)

[2021-01-21 14:00] strausy commented on #8993
Much better. The documentation is great (albeit time consuming for JAMF MDM). The screenshots being readable would make it that much better.

Thank you!

[2021-01-21 14:07] RAJU2529 commented on #8993
@strausy , Thanks for replying, yes
![onboarding-macos02](https://user-images.githubusercontent.com/3296790/105361847-225a8a80-5c20-11eb-9d35-12bac08783a6.png)

[2021-01-21 14:21] cincydash opened #8998 "Update Toolkit download link is broken"
Update Toolkit download link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1447d5c3-2847-6a77-4f02-9e15333a709e
* Version Independent ID: 4eabe8ac-4289-66b8-1a7d-15e2c9adaf91
* Content: [Update Baseline - Windows Deployment](https://docs.microsoft.com/en-us/windows/deployment/update/update-baseline)
* Conten

[2021-01-21 14:22] nam31 commented on #8906
Closing via #8979
Thank you

[2021-01-21 14:22] #8906 closed

[2021-01-21 14:22] #8998 closed

[2021-01-21 14:22] cincydash commented on #8998
Working now, disregared

[2021-01-21 14:42] nam31 commented on #8458
Hi @mjcaparas, can you please give your insights here?

[2021-01-21 15:08] nam31 commented on #8753
@denisebmsft, can you please give your inputs here?

[2021-01-21 15:09] nam31 commented on #8840
@Dansimp, can you please give your insights here?

[2021-01-21 17:30] illfated commented on #3921
@e0i : I believe you got the # number from this ticket instead of the PR you mentioned. Not quite sure which commit hash or PR # that should have been.

[2021-01-21 17:32] illfated commented on #8995
(ref. #8997 )

[2021-01-21 17:43] wheatiesthecereal opened #8999 "Request that XML content be available in XML file format"
Hi, I like to request that xml content of this article be made made available in the form of an xml file so that we can leverage its content programmatically.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e8740b8-c1f2-4b88-3d4d-66cdbf20215f
* Version Independent ID: 7986a684-b35d-06bd-be30-dfca9923cb9c
* Content: [Mi

[2021-01-21 18:12] Alaladdin opened #9000 "The meaning of what was said is lost"
RU: Numerous mistakes in the endings of words, duplicate words. The meaning of what was said is lost

![image](https://user-images.githubusercontent.com/22962274/105393078-fdb8df80-5c2c-11eb-9d82-5e6f7158e81e.png)

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 3621dedd-460e-2afd-e6d6-

[2021-01-21 18:21] strausy opened #9001 "Add JAMF instructions if possible"
Many of the Microsoft Defender for Endpoint for Mac pages include very detailed instructions for configuring it using JAMF or Intune. This page is lacking the JAMF specifics needed to make it easier to understand, specifically the Preference Domain The name of the preference domain (com.company.application) needed for plist files.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-01-21 19:08] VLG17 commented on #8884
@zerrikan My understanding is that Credential Guard uses the same principle, but it does more than what that specific ASR rule does. As [the article](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/attack-surface-reduction#block-credential-stealing-from-the-windows-local-security-authority-subsystem) also states, the ASR Rule can be used in scenarios wher

[2021-01-21 19:37] c3333 opened #9003 "Lernen Ohne Limit"
Lernen  ohne  Limit

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f75240ad-db64-8d89-4d61-f789fd632e04
* Version Independent ID: f76f946c-7e33-5041-f442-92bd38886d85
* Content: [Assign Security Group Filters to the GPO (Windows 10) - Windows security](https://docs.microsoft.com/en-us/windows/sec

[2021-01-21 19:52] VLG17 commented on #8883
@Brz3z1nsky If you used the GPO method, you just need to disable the GPOs which you have enabled previously. If you used the netsh command, you need to run netsh winhttp reset proxy which will give you :

[2021-01-21 22:35] zerrikan commented on #8884
Thank you! I assume that windows defender has to be enabled for this to function as well?

[2021-01-22 14:19] nam31 commented on #8720
@Kouky1
Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.
[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)
Thank you.

[2021-01-22 14:19] #8720 closed

[2021-01-23 00:31] jjchaos commented on #8209
Can someone please let me know how to get this working on Windows 10 1904? This issue has been open for over 4 months and we are still unable to get multi app kiosk mode working per the instructions.

[2021-01-23 09:52] illfated commented on #8907
@nhoj01 : If I read your initial ticket comment, it looks like you are asking for the addition of a better description with the command
[code]
added, alongside a reference link to the PS page on how to use it.

[2021-01-23 10:13] RAJU2529 opened #9006 "i want to edit this artcle"
some commands should be  edited, i could not  able to find the content source address for the below article
**https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/dism-driver-servicing-command-line-options-s14**

[2021-01-23 10:46] illfated commented on #9006
I believe it is because that particular repository has not yet been opened for public contribution:
- https://docs.microsoft.com/en-us/windows-hardware/get-started/
- https://docs.microsoft.com/en-us/windows-hardware/design/
- https://docs.microsoft.com/en-us/windows-hardware/customize/
- https://docs.microsoft.com/en-us/windows-hardware/manufacture/
- https://docs.microsoft.com/en-us/windows-hard

[2021-01-23 13:52] joinimran commented on #8209
@jjchaos - I was waiting for the author's input but I would suggest you open a support case with Microsoft to expedite this process.

@e0i - Can you please guide @jjchaos on how to open up a support case with Microsoft to proceed further.

Thanks.
Imran.

[2021-01-23 14:05] joinimran commented on #8874
Hello @ruffy91 - Thank you for sharing your feedback here. Can you please confirm the source of the URLs you have mentioned missing in the documents. I was trying to get this fixed but I am not able to get any concrete information regarding some of the mentions URLs.

Thanks.
Imran