[2020-09-03 14:33] alex-456 opened #8214 "Wrong information about Account Operators"
I think the following statement is a contradiction.

"Members of the Account Operators group cannot manage the Administrator user account, **the user accounts of** administrators, or the Administrators, **Server Operators, Account Operators**, Backup Operators, or Print Operators groups.

"By default, this built-in group has no members, and it can create and manage users and groups in the domain,

[2020-09-03 15:55] RAJU2529 commented on #8211
@kagillig . Which article are you referring?

[2020-09-03 15:57] kagillig commented on #8211
Oh sorry, talking about the Firewall CSP docs here: https://docs.microsoft.com/en-us/windows/client-management/mdm/firewall-csp

[2020-09-03 16:01] RAJU2529 commented on #8211
i  checked the content, the issue is confirmed .
But i think remote IP  address will include in between " "
for example   "43.157.24.189"

[2020-09-03 16:08] kagillig commented on #8211
Thanks. I'm not quite sure what you mean? I think that everywhere pointed out above is meant to be the * symbol to indicate the default or to indicate any address.

[2020-09-03 16:56] jenujose commented on #8192
@alexverboon I am tackling a similar issue at a client. My assumption was that the "Enable auto sample file submission to help Microsoft determine whether certain detected items are Malicious" under AntiMalware Policy --> Advanced was the equivalent for this setting. But you are right, there's no option for "Send all samples automatically" in CM which results in users being prompted for Sample Sub

[2020-09-03 18:14] jwojan opened #8216 "Instructions no longer match to endpoint.microsoft.com"
Now that Intune has been moved to endpoint.microsoft.com, the instructions for creating these USB policies in Intune no longer map to the correct locations/UI in this new portal. As a result, a person cannot follow along and create these USB policies to achieve the goal in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-09-03 18:17] hasan-hasanov commented on #8191
I just wanted to add that after an update of Windows sandbox the scripts are ran in hidden windows. I do not think that there is any way to configure this.

Could you guys add some information about that as well?

What I mean is that every command window that is spawned from the logon command is hidden.

[2020-09-03 21:12] levinec commented on #8213
Hi @mtwelve. Thank you for your question. Currently, web content filtering does not support blocking individual URLs or customizing categories. This feature is still in preview, and your questions have been documented.

To set up a custom blocked URLs list, I suggest looking into Office 365 ATP Safe Links: https://docs.microsoft.com/microsoft-365/security/office-365-security/set-up-a-custom-blocke

[2020-09-03 21:12] #8213 closed

[2020-09-03 21:43] levinec commented on #8201
Hi @itzplayz0001, thank you for your questions, but this GitHub issues forum is intended for documentation fixes.

If you believe that your application or program has been incorrectly detected by Microsoft security software, submit the relevant files for analysis. You can then dispute the detection if necessary.

- [File submission portal ](https://www.microsoft.com/en-us/wdsi/filesubmission/)
- [

[2020-09-03 21:43] #8201 closed

[2020-09-03 21:49] miwent opened #8219 "Possible incorrect failure code"
The descriptive text for failure code  0XC000006E is "Unknown user name or bad password." but from the [ntstatus.h](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-erref/596a1078-e883-4972-9bbc-49e60bebca55) page 0xC000006E is defined as "STATUS_ACCOUNT_RESTRICTION", which appears to be the correct description.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-09-04 04:24] SeanXuMSFT opened #8221 "confusing description about AADJ certificate trust deployment"
[Enter feedback here]
hi,
the page indicate if we want to deploy cert trust for AAD join device, we need to "**[read and follow Configure Azure AD joined devices for On-premises Single-Sign On using Windows Hello for Business](https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso-base)** and then Using Certificates for AADJ On-premises Singl

[2020-09-04 04:26] SeanXuMSFT opened #8222 "CA server version requirement for AAD join device cert trust model"
[Enter feedback here]
in this document, it says we need windows 2012 R2 CA, however, for other deployment model such as cert trust for hybrid AAD join device, they only required windows 2012 CA.

please kindly confirm why only this deployment model requires 2012 R2 CA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f7

[2020-09-04 09:31] #8187 closed

[2020-09-04 09:35] e0i commented on #8200
The issue has been handled with a community contributed PR, #8204. Thank you for the discussion.

[2020-09-04 09:35] #8200 closed

[2020-09-04 09:41] e0i commented on #8035
@SwiftOnSecurity

With the help of your feedback, the content has been updated with relevant changes accordingly via PR #8182. Thank you.

[2020-09-04 09:41] #8035 closed

[2020-09-04 11:27] riedel opened #8223 "No documentation about strange behaviour of Windows blocking HID Access to FIDO2 Devices"
The Windows Fido2 documentation is terrible compared to the original  FIDO2 documentation. Instead of providing access to a better API and compete on quality, there is enforcement to use this underdocumented API. Unfortunately the MS api does not seem to be a one to one translation.

At least it would be fair that microsoft explains that they block unelevated access to the CTAP API of the Hardware

[2020-09-04 13:39] asqararslonov2008 opened #8225 "How to link searchbox to db."
I have a xampp and I create database in phpmyadmin.but I know me need to work with php in this code.

[2020-09-04 18:32] dieterschmied opened #8228 "???"
what is this
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10f9c1c1-7832-8a0a-7158-0202140ee328
* Version Independent ID: b6d2d78b-b376-867a-b242-03e3a8f4681f
* Content: [Group Policy Management of Windows Firewall with Advanced Security (Windows 10) - Windows security](https://docs.microsoft.com

[2020-09-04 18:36] denisebmsft commented on #8100
Hello @brettaweston and thanks again for the feedback. We have updated the article and the changes will be live later today.

[2020-09-04 18:36] #8100 closed

[2020-09-04 19:14] illfated commented on #8228
You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repository.

Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub.

The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request

[2020-09-05 13:05] mtwelve opened #8231 "Can you add an example on how to use this?"
Can you add an example on how to use this?

Most other CSP reference pages have at least one example.

Nothing on the internet about how to use this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53820d20-c512-286d-d5ce-c2f208d3eedd
* Version Independent ID: 19d56d9d-4ddf-b4ff-3f0a-f57766b42bc7
* Content: [Registry CS

[2020-09-05 13:19] SteBeSec opened #8232 "Windows 2004 default VErsion is missing"
Unter the part [Platform version included with Windows 10 releases](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-antivirus/manage-updates-baselines-microsoft-defender-antivirus?ocid=cx-kb-mocamp#platform-version-included-with-windows-10-releases) the Windows Version 2004 is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-09-05 19:48] #8228 closed

[2020-09-05 20:02] e0i commented on #8025
@RowdyChildren

With the help of your feedback, the issue has been reviewed and an update to the documentation has been published via PR #8203. Thanks for your feedback.

[2020-09-05 20:02] #8025 closed

[2020-09-05 21:27] e0i commented on #7153
@Dansimp Would you be able to clarify whether the MMAT tool is still under maintenance? Thank you.

[2020-09-06 12:22] illfated commented on #8232
I wonder if this can be deduced from the fact that the release date of Version 2004 is May 27, 2020 and pick the matching version information from the pivot chart https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-antivirus/manage-updates-baselines-microsoft-defender-antivirus?ocid=cx-kb-mocamp#monthly-platform-and-engine-versions :

May-2020 (Platform: 4.18.200

[2020-09-06 23:35] jackvdbuk opened #8233 "editing applocker rules"
Step 5 states to edit the GPO which has applocker present in it however it states this here:
Caution:  You should never edit an AppLocker rule collection while it is being enforced in Group Policy. Because AppLocker controls what files are allowed run, making changes to a live policy can create unexpected behavior. For info about testing policies, see Test and update an AppLocker policy.   Note:

[2020-09-07 11:31] joinimran commented on #6611
@icelava - Thank you for your feedback. Upon reviewing the document all of the settings are mentioned and those are not dependent on Edge version but Windows 10 version. Most of the settings are supported with Windows 10 version 1607 and later.

Thanks
Imran.

[2020-09-07 16:34] RAJU2529 commented on #8233
Instead of using an application locker, we can use the Software Restriction Policy  directly in GPO

[2020-09-07 18:21] denisebmsft commented on #8225
Hello @asqararslonov2008 and thank you for posting your question here. Can you please tell us to which article(s) your question applies? This information will help us route the issue correctly. Thanks!

[2020-09-08 11:04] rashidkeezhal opened #8237 "Allow Download folder in Assigned access mode Windows 10 is not working"
I cannot allow downloads folder in multi app kiosk mode (Assigned access) in Windows 10 64X (2004).

This is the code I am trying to enable downloads folder and getting error.

            <rs5:FileExplorerNamespaceRestrictions>
                <rs5:AllowedNamespace Name="Downloads"/>
            </rs5:FileExplorerNamespaceRestrictions>

Full XML code attached
[Code.txt](https://github.com/Microso

[2020-09-08 12:01] lightupdifire opened #8238 "Limitations while using WIP"
Hello,

Seems found another limitation, if connecting to the Windows Virtual Desktop (msrdc.exe) where the info of this App added using Publisher info in Protected Apps in WIP policy + Cloud resources added: .wvd.microsoft.com to the WIP policy, data copied from WVD to the Intune+WIP+AADJ PC not encrypted.

In short setup:
1. Windows 10 client PC -> Intune+WIP+AADJoin+AADuser
2. WVD joined to the

[2020-09-08 12:21] joinimran commented on #6887
Hello @SergGu - Thank you for your query. Remote Credential Guard is supported in the Azure AD joined machine. Please see https://docs.microsoft.com/en-us/windows/security/identity-protection/remote-credential-guard#considerations-when-using-windows-defender-remote-credential-guard

This current document is already linked with the Remote Credential Guard document and I feel there is no further inp

[2020-09-08 12:57] joinimran commented on #7152
Hello @dryphi - Thank you for asking this question. Please note that clearing TPM can result in many issues if you don't own the backup key or if you don't own the machine it can result in many issues. Please see https://docs.microsoft.com/en-us/windows/security/information-protection/tpm/initialize-and-configure-ownership-of-the-tpm#precautions-to-take-before-clearing-the-tpm for more details.

T

[2020-09-08 13:08] clamb123 opened #8239 "Get-DeliveryOptimizationPerfSnap has a new option -PeerInfo"
The doc says:
Starting in Windows 10, version 2004, Get-DeliveryOptimizationPerfSnap has a new option -PeerInfo which returns a real-time list of the connected peers.

No it doesn't! See attachment.

![PeerInfo](https://user-images.githubusercontent.com/66670497/92480384-ba5d5780-f1dc-11ea-8b28-8beaf06831aa.png)

(admin edit, fixing doc details for latest)

---
#### Document Details

⚠ *Do not edi

[2020-09-08 15:45] jaimeo commented on #8239
@narkissit can you advise?

[2020-09-08 18:16] ManikaDhiman commented on #7049
Per inputs from the product team, added a section for ."/Vendor/MSFT" in the [DMClient CSP doc](https://docs.microsoft.com/en-us/windows/client-management/mdm/dmclient-csp). The DDF updates are being tracked by the product team internally. The [DMClient DDF file doc](https://docs.microsoft.com/en-us/windows/client-management/mdm/dmclient-ddf-file) will be updated when the updates are available in

[2020-09-08 19:18] illfated commented on #7049
Thank you for the update. That looks like good news to me. I am glad to see that the information was useful enough to keep this ticket alive a bit longer.

[2020-09-08 20:39] andy2002a opened #8241 "Remote host allows delegation of non-exportable credentials"
The guide currently says "Must allow delegation of non-exportable credentials", but it does not specify the GPO required to do so.

Setting the GPO "Remote host allows delegation of non-exportable credentials" to "Enabled" should be added to the guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c826587d-2e65-083f-2

[2020-09-08 22:12] RAJU2529 commented on #8237
@rashidkeezhal . which article are you referring ?
I don't have knowledge about kiosk mode.

instead of writing simply downloads, write the full path of the downloads folder.

[2020-09-08 22:29] RAJU2529 commented on #8241
@andy2002a . thanks for pointing out. I am checking

[2020-09-08 22:30] RAJU2529 commented on #8239
I am  checking

[2020-09-08 23:32] RAJU2529 commented on #8241
@andy2002a . After checking on windows 10 v2004, i conformed, your assumption is correct.

[2020-09-09 03:46] kuacci opened #8242 "404 error for Network Monitor download link"
The link for Network Monitor download link returns 404 response like below:
![image](https://user-images.githubusercontent.com/5857515/92551987-1b933280-f292-11ea-89df-c7b229116d23.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8823127-9a9b-141c-6096-e8d40ff6e22c
* Version Independent ID: 02332337-0981-36af-424e-

[2020-09-09 06:43] PawanGupta01 opened #8243 "Compatible browser for Network protection"
Once this feature is switch ON in blocked mode, does it have the capability to work in all the browsers apart from IE and Edge?

[2020-09-09 07:26] RAJU2529 commented on #8242
@kuacci . Network monitor is  depreciated or retired from project.

[2020-09-09 08:06] illfated commented on #8242
Well, if Network Monitor is fully deprecated and the page is mostly about Network Monitor, the whole page should be retired (either removed completely from any links leading to the page, or demoted to the archives).

I am not entirely sure what the preferred method of removal is here, so I will wait for feedback from the MS Docs team members.

[2020-09-09 09:35] donnyatmsft opened #8246 "Wrong hyperlink of "Security Recommendation" in the table"
it points to "Remediation" and should point to https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/tvm-security-recommendation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d1b587-1f0b-4922-63fc-3d732ca6a739
* Version Independent ID: 8a6787b7-9a54-d27b-6fe4-a7012c115ca9
* Conte

[2020-09-09 14:56] write4joy opened #8248 "Wrong info about Linux in Public preview"
In the prereqs for Linux the page says that Linux is in public preview. I am quite certain that this is wrong and that Linux is GA in MDATP.

Thanks,

Predrag

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8aca66a-5a8b-64d2-7201-a7b915c5d309
* Version Independent ID: c3cc0543-db20-a8f2-288c-d1dea5ea479f
* Content: [Mi

[2020-09-09 16:14] EagleChops opened #8251 "Operating system deployment did not complete successfully"
The above is the title of my Deployment Summary after the task sequence fails. Expanding the Details it starts with:
FAILURE ( 5616 ): 15299 Verify BCDBootEx  and then there are several lines which can't be copied and don't have time stamps.

I'm hoping for some assistance here and thought GitHub was the place to seek it. I can provide logs and what ever other pertinent info may be of use.

Also,

[2020-09-09 16:20] marckerr opened #8252 "PPPC Identifier wrong"
In this documentation for “New configuration profiles for macOS Catalina and newer versions of macOS” there appear to be some errors. It notes using com.microsoft.wdav.epsext for the identifier in PPPC however that is not working. If you use com.microsoft.wdav, also changing that in the Code Requirements, it does work. Also the graphic for the System Extension shows an Approved Kernel Extension be

[2020-09-09 17:43] #8119 closed

[2020-09-09 18:49] AdamGrossTX opened #8254 "Needs Updated Screenhots"
Many of the screenshots in this doc are out of date. Can you update them please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39ae2ccd-9f3f-dcb5-3a20-46b1b4fd3d53
* Version Independent ID: b381c208-94b1-2d22-ef16-a57c138a7d72
* Content: [MDM enrollment of Windows 10-based devices - Windows Client Management](https://

[2020-09-09 19:26] mavhc commented on #4245
I've just got the same error after enabling hybrid join. Currently in AAD Devices page I have machines with join type "Azure AD registered", from computers where users have logged into O365

[2020-09-09 19:36] vboyev-MSFT opened #8255 "Can we explicitly state that MDAV should not be disabled and must be in passive mode as a pre-req?"
[Enter feedback here]
It seems that we don't explicitly state that you cannot have MDAV disabled in order for this to work (or will it still work if you completely disable MDAV?  I have doubts but do not know for sure).

Many customers with 3rd party AV explicitly disable MDAV despite the fact that there is passive mode in W10.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-09-09 20:04] levinec commented on #8246
Good catch, thank you! Updating now, and it will be fixed later this afternoon.

[2020-09-09 20:04] #8246 closed

[2020-09-09 21:21] levinec commented on #8212
Hi @DanielWahlgren. Yes we are currently in public preview. That is the legal text we use to say that the product has not been fully released.

All browsers and 3rd party applications are supported (though not native integration) through the network protection stack. The sites in WCF should be blocked in Opera, Firefox and Chrome. We just tested Opera and don’t see any issues (screen shot below).

[2020-09-09 21:22] #8212 closed

[2020-09-09 21:55] levinec commented on #8026
Thanks @jim-liu, adding a note to the documentation now!

[2020-09-09 22:02] levinec commented on #8125
Hi @benpaul4u. When a change is made on a device, it typically takes two hours for the data to be reflected in the Microsoft Defender Security Center. However, it may sometimes take longer.

[2020-09-09 22:02] #8125 closed

[2020-09-09 22:30] yoichi opened #8256 "typo in PIN がパスワードより安全な理由"
I found following typos:

* 誤: PIN はハードウェアによってサポートされいます。→ 正: PIN はハードウェアによってサポートされ**て**います。
* 誤: トラステッド プラットフォーム モジュール (TPM) チップによりサポーとされています。→ 正: トラステッド プラットフォーム モジュール (TPM) チップによりサポー**ト**されています。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: c34dbafa-df3c-a5a5-32d5-2ce152893534
* Version Independent ID: cebdd9a6-45d7-6306-373c-7d31121f9e16
* Conten

[2020-09-10 00:26] ykore52 opened #8257 "Mistranslation"
I found following mistranslation in Japanese.

* AD ( Active Directory )  -> 広告 ( advertisement )

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ad012591-5c74-f1cd-d3a2-443768e8ceee
* Version Independent ID: 918ea4bc-0849-3745-5d9d-a21a973bcd3b
* Content: [グループ ポリシーを使用した Windows 10 デバイスの自動登録 - Windows Client Management](https://docs.microsoft.com/ja-

[2020-09-10 01:28] illfated commented on #8257
@ykore52 : Thank you for reporting that mistranslation. I notice that the kanji combination 広告 appears 8 times on the referenced page. Is the mistranslation present in all 8 places, or only in some of them?

@TinaMcN : This looks like a free-text translation issue not related to code or command-line examples, so it will not be practical to enclose the phrase "Active Directory" in MarkDown backtick

[2020-09-10 02:27] ykore52 commented on #8257
@illfated Yes. "広告" appears in all 8 places.

[2020-09-10 05:32] c0f opened #8258 "NoAutoRebootWithLoggedOnUsers does not work"
Hi, Setting NoAutoRebootWithLoggedOnUsers via the Registry or GP does not work.  Windows Update will continue to automatically reboot even with logged in users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0184809a-63ff-ecc2-ab67-9c9f4df900f8
* Version Independent ID: ac25ee6c-4c57-58b3-1313-e4a53f53c5a1
* Content: [

[2020-09-10 06:38] gonz-kelv opened #8259 "unclear example"
In the Wildcard section for the Question mark, the first example says this

`C:\MyData\my would include C:\MyData\my1.zip`

Should it be?

`C:\MyData\my? would include C:\MyData\my1.zip`

To reflect the wildcard counting the zip file since it matches it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33c0eddd-98ca-1e7a

[2020-09-10 14:10] ghost opened #8263 "Feedback regarding https://docs.microsoft.com/en-us/windows/security/threat-protection/auditing/event-4769 and https://docs.microsoft.com/en-us/windows/security/threat-protection/auditing/event-4768"
Hi,
after clarifying internally, I learned that these events seem to not list the TicketFlags (https://tools.ietf.org/html/rfc4120#section-5.3), but rather list the KDCOptions (https://tools.ietf.org/html/rfc4120#section-5.4.1)). I recommend correcting the docs here and also adding the description for bit 14 of KDCOptions (https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-sfu/17b9af8

[2020-09-10 15:04] marckerr commented on #8252
My issue with com.microsoft.wdav.epsext vs com.microsoft.wdav appears to be resolved. It's still unclear from the new document if it is intended to replace the other documentation "JAMF-based deployment for Microsoft Defender ATP for Mac"

[2020-09-10 15:07] marckerr opened #8264 "update information for Catalina and newer related to Extensions being used instead of KEXT"
This page needs to incorporate the information found at https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/mac-sysext-policies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f067243-d029-ec35-cb1d-cc271b00d0a1
* Version Independent ID: 121d2480-5bbc-9a8e-68a6-17f708dc21d4
* Con

[2020-09-10 15:11] Mytre commented on #6876
I am sorry it has been ldifficult, the issue is that now the reports are showing a lot less data on its exports. This question is mostly about the report exports from ATP.

[2020-09-10 15:32] Mytre opened #8265 "Machine Reports columns changes and where to get that data"
Hello,  before April using the machine inventory, we were able to export the following columns in a report:

Machine Id
Machine Name
Domain
First Seen
Last Seen
OS Platform
OS Build
Windows 10 Version
Tags
Group
Is AAD Joined
Machine IPs
Risk Level
Health Status
Well configured
EDR - Sensor off
EDR - No sensor data
EDR - Impaired communications
Windows Defender AV - Not reporting
Windows Defender

[2020-09-10 15:48] jaimeo commented on #8258
@arcarley can you advise?

[2020-09-10 16:11] arcarley commented on #8258
@c0f you likely have configured other policies that take precedence over "NoAutoRebootWithLoggedOnUsers". Typically, I would not recommend using this policy and instead utilize Active Hours in order to prevent updates during active hours until the deadline. This will also prevent automatic reboots when the user is using the device until the deadline is reached.

[2020-09-10 17:35] arcarley opened #8266 "Example Feedback"
AU options by default (2) will respect Active Hours but in the text it does not say so. Please add this information to AU Options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ca58bd-f279-7739-0140-c4bd56784768
* Version Independent ID: 1d2ecc90-58a3-6bcd-84ae-ef04d7a3b7b4
* Content: [Policy CSP - Update - Windows

[2020-09-10 17:36] arcarley commented on #8266
@arcarley review + edit.

[2020-09-10 17:36] #8266 closed

[2020-09-10 19:43] zeiche opened #8269 "Windows Troubleshooter"
[Enter feedback here]
Any chance of not recommending running Troubleshooting? In all of the years that application has been available, it has never once fixed a single issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 349d337e-ca0f-a40a-a522-bd1ae71c7d1e
* Version Independent ID: 50f0c3b0-eaad-89c0-eb3c-878e7564d6f

[2020-09-11 03:15] RAJU2529 commented on #8259
@gonz-kelv , use this

**C:\MyData\*.zip**

above command will  exclude all  .zip files located in C:\MyData\

[2020-09-11 03:34] gonz-kelv commented on #8259
Im referring to the ? wildcard options and auditing if the doc is correctly representing how Microsoft Defender will interpret ? wildcard exclusions. Im not trying to find a method to exclude all files in folder. Thanks @RAJU2529

[2020-09-11 03:41] illfated commented on #8257
The machine translation has likely had an issue with uppercase/lowercase indifference, reading "AD" as "ad" instead of initials. Hoping it can be solved.

[2020-09-11 06:09] kuacci commented on #8242
Agree with @illfated , we should make an announcement or remove the link which link to a deprecated product. Based on my understanding, the 404 response not a good approach for people who reading Microsoft Docs.

[2020-09-11 08:14] AngelusGi opened #8273 "Bluetooth, not such a good idea in the Windows' way"
Please update the bluetooth module on Windows 10. Is a little bit embarrassing using a Bluetooth device on windows such as an headset. Please consider to rewrite and modernize this module. Windows is the only operating system in which is nearly impossible to use a device

https://aka.ms/AA9l8gc

[2020-09-11 13:45] kiranprakash912 commented on #2219
Could you exlpain what network issue you had? I am facing the same issue

[2020-09-11 13:47] kiranprakash912 commented on #2219
@e-aldo  Could you exlpain what network issue you had? I am facing the same issue

[2020-09-11 14:28] RAJU2529 commented on #8269
i have used builtin windows troubleshooters this diagnostic tool fixed many issues.
But few issues are  not controlled by builtin troubleshooters.

[2020-09-11 15:12] rashidkeezhal commented on #8237
@RAJU2529 This is for windows 10 AssignedAccess (KIOSK Mode). And only downloads folder allowed using mentioned command. (C:\Users\*username*\downloads)

[2020-09-11 16:52] e0i commented on #8019
Closing via #8136

[2020-09-11 16:52] #8019 closed

[2020-09-11 16:52] e0i commented on #8098
Closing via #8180.

[2020-09-11 16:52] #8098 closed

[2020-09-11 16:58] #8071 closed

[2020-09-11 16:59] #6904 closed

[2020-09-12 12:24] RAJU2529 commented on #8251
@EagleChops , could you tell me which instructions did you followed, and which operating system did you tried to installing?
did the motherboard and all related parts to compatible with each other,

[2020-09-12 13:55] Bartolomeus-649 opened #8279 "Memory integrity: Not enough detailed information"
No info on prerequisites or other dependencies.

This is the page you arrive on when you click the "Learn more" link under "Memory integrity" for "Core isolation" in the "Device security" section of the "Windows security" settings in Windows. And the reason 90% of the people there click the "Learn more" link is because they are experiencing some issue or problem related to "Memory integrity", for

[2020-09-12 18:57] RAJU2529 commented on #8279
memory integriry needs compatible processors with windows 10 1909 or later professional or enterprise os

[2020-09-14 02:59] mattsmacblog opened #8280 "MFA Issue more detailed info"
Can you elaborate on this MFA Issue?  Does this "Fix now" process have to be done once per device?  Every time a user logs in?  Has it been addressed in 1903, 1909 or 2004 so that it's no longer a problem?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd18b4c7-1c71-916d-cb5c-8322903e8ed5
* Version Independent ID: 7b4c

[2020-09-14 05:29] MaratMussabekov commented on #8128
Hello @adamgourd ,
It states "Companies that image their own computers using Microsoft System Center 2012 Configuration Manager SP1 (SCCM) **or later** can use an existing task sequence to pre-provision BitLocker"
Doesn't  "or later" means support of Current Branch?
Thank you

[2020-09-14 05:51] BigIve opened #8282 "Invalid Download link"
[Enter feedback here]

Hi, the link on the page to download the network monitor tool takes you to a page that says it is no longer available.  Can this please be fixed?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8823127-9a9b-141c-6096-e8d40ff6e22c
* Version Independent ID: 02332337-0981-36af-424e-9378487dd4d8
* Con

[2020-09-14 10:26] RAJU2529 commented on #8282
@BigIve < download link will be removed shortly ,  i already request to article author

[2020-09-14 12:23] MaratMussabekov commented on #8152
Hello, checked and confirmed

[2020-09-14 13:33] #7964 closed

[2020-09-14 16:15] greg-lindsay commented on #8280
Hi,

The content says "Later versions of Windows 10 automatically include this patch." So you don't need to download the patch, but the user still needs to enter MFA credentials.  This is a security precaution. AFAIK this is by design so although it is referred to as 'fixing' something it really is just a normal MFA requirement.

[2020-09-14 17:35] CHDAFNI-MSFT opened #8284 "Intune - custom intune profile - no longer needed"
No need to create a custom configuration in intune anymore as mentioned in current documentation. The capability to enable pin reset is now native to intune's Account Protection (preview) profile
![image](https://user-images.githubusercontent.com/28310425/93118906-f84ff500-f68e-11ea-89b2-0cc84a3be884.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-09-14 17:46] greg-lindsay commented on #8280
I'm checking to see if the behavior is expected, or if there has been a change.  I'll post back here what I find out.

[2020-09-14 18:46] DanEhrlich opened #8285 "Is there a way to retrive more than 10000?"
Is there a way to retrieve more that 10000 machines from the 'List Machines API'?  I could not find a way to do this.

Thank you,
Dan Ehrlich

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa8feaf-4173-4c3e-e4bb-e43ff05445d0
* Version Independent ID: fcf8ffb0-ddb4-23bc-7f5d-a94970ab0d6d
* Content: [Supported Microsoft

[2020-09-14 19:45] denisebmsft commented on #8273
Hello @AngelusGi, and thank you for the feedback. Can you please tell us to which article this feedback applies? This information will help us route the issue to the correct writer/team.

[2020-09-14 19:50] denisebmsft commented on #8256
@TinaMcN can you take a look?

[2020-09-14 22:42] denisebmsft commented on #8243
Hello @PawanGupta01 and thank you for the feedback. Can you please tell us to which article(s) this applies? It'll help us route this issue correctly. Thanks!

[2020-09-14 22:58] TinaMcN commented on #8256
@yoichi この問題を報告していただきありがとうございます。機械翻訳ツールの問題のようです。  私は人間の翻訳のために記事を送った。
(Thank you for reporting this issue. It appears to be a problem with our machine translation tool. I sent the article to be human translated.)
@officeglobal, please let us know when the updated article is published.

[2020-09-14 23:02] illfated commented on #8256
Took me a couple of tries before I realised that the first kanji is not part of the page text.

https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-why-pin-is-better-than-password#pin-はハードウェアによってサポートされいますpin-is-backed-by-hardware
誤: PIN はハードウェアによってサポートされいます。(Wrong: "PIN is supported by hardware.")
 正: PIN はハードウェアによってサポートされています。(Correct: "PIN is supported

[2020-09-15 00:46] illfated commented on #8095
Ref. PR #8127

[2020-09-15 07:06] MaratMussabekov commented on #8194
Hello,
**Everyone is a well-know SID, but is not a group.** - special identities are usually referred as groups in Microsoft docs
**Mentions it is possible to change Everyone but does not link to an explanation.** - good point, I created a PR to add more details.

Thank you

[2020-09-15 08:23] vinixwu opened #8289 "MI can not be enabled on most DIY PCs, but no info about it"
MI can not be enabled on most DIY PCs. However, there is no topic about this. People can only see an option that can never turn on, with no help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f784502-84dc-1122-eab4-1eeeb08da046
* Version Independent ID: 21f210a7-4c38-8f62-0226-121562617fef
* Content: [Memory integrit

[2020-09-15 16:21] greg-lindsay commented on #8280
I received a response back and no, there's no change to the behavior. This is the expected thing to see if MFA is enabled, because it's needed to secure the device.

[2020-09-15 16:21] #8280 closed

[2020-09-15 17:44] e0i commented on #8237
Hello, @rashidkeezhal  thank you for providing feedback.

The issues section of this repository is intended for documentation feedback.

Please consider opening a support ticket via the following link for your question so that it gets answered quickly:

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Feel free to re-open this ticket if you feel tha

[2020-09-15 17:44] #8237 closed

[2020-09-15 17:51] e0i commented on #8251
@EagleChops

The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

The issues section of this repository is being used to track problems

[2020-09-15 17:51] #8251 closed

[2020-09-15 18:33] RAJU2529 commented on #8289
@vinixwu . Memory integrity needs compatible processors with recommended features as given by windows hardware.
Device guard might be enabled before MI.
I have enabled MI on Intel i5 7200u with compatible digitally signed device driver's

[2020-09-15 19:34] e0i commented on #8258
Hello @c0f

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2020-09-15 19:34] #8258 closed

[2020-09-15 21:48] #8171 closed

[2020-09-15 21:59] e0i commented on #7981
Closing via merged PR #7997 that addresses this issue. Thank you.

[2020-09-15 21:59] #7981 closed

[2020-09-16 01:43] mattsmacblog commented on #8280
OK thanks.  Could you clarify the text perhaps so it says 1809 version with the patch and newer versions require the following MFA process?  It reads like you're doing a Fix after a Patch but it's how it is.

Is the MFA request obvious to the User?  Microsoft Windows licensing activation is requesting approval etc... (a screenshot perhaps)

I'm trying to read the documentation as a business wantin

[2020-09-16 03:25] sveinungre opened #8292 "Adding Azure AD groups using SID works but not using name"
The documentation say that we can add Azure AD groups to local groups using Azure AD group name, however I can only get this working when using the Azure AD group SID. Incorrect documentation I assume?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0c28c15-f0be-d732-4d9e-cf5df5e64e8b
* Version Independent ID: 17eba45f

[2020-09-16 10:51] MaratMussabekov commented on #6732
Hello @quickclix75 ,
agree, current wording is pretty confusing.
The note means that Azure AD certificates used for establishing VPN connections, but not to providing access to on-premises resources. For users to be able to access these resources, certificates issued by on-premises CA must be deployed to the Windows profiles of the users, and their VPNv2 profiles must contain the <SSO> section.
Th

[2020-09-16 10:59] PawanGupta01 commented on #8243
https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/network-protection

About Network Protection feature of Windows Defender Security Center

[2020-09-16 13:04] Cyberchipz commented on #8232
I ran across a **potential exploit** on my system using iexplorer & mshta.exe earlier this month; first I've seen something like this potential "fileless malware" in action.  I began researching mitigation via an article "Out of sight but not invisible: Defeating fileless malware with behavior monitoring, AMSI, and next-gen AV" and the path led me to the article "Microsoft recommended block rules"

[2020-09-16 13:14] Cyberchipz commented on #8279
I understand that 'Bartolomeus-649' may have been looking for a list of compatible processors; perhaps for future equipment selection?  I would agree that simply observing and acknowledging that it requires "compatible processors" isn't sufficient information.  And, I guess that since it's not an issue for me ATM; I haven't been curious enough to research this and determine if the information is a

[2020-09-16 15:22] beerisgood commented on #8279
And Ryzen 5-2600 support memory integrity (HVCI). All above too.

So yeah a minimum CPU should be listed for both AMD and Intel.

[2020-09-16 15:37] RAJU2529 commented on #8279
@beerisgood . Is your processor is fully supported to Memory interity. .Then show the screenshot..
I will add AMD processors list in this article.
Also Intel i5 7200U  2.75Ghz  Kabylake is also supported.

[2020-09-16 15:42] RAJU2529 commented on #8279
@e0i . I suggest to add all  supported processors models from  INTEL and AMD Inc.
What's  is your opinion? reply here.

[2020-09-16 16:06] beerisgood commented on #8279
<img width="651" alt="HVCI" src="https://user-images.githubusercontent.com/9625159/93363262-4ad41180-f847-11ea-8f76-e8362a81ebca.png">
<img width="673" alt="DG Readiness" src="https://user-images.githubusercontent.com/9625159/93363268-4dcf0200-f847-11ea-9725-427c1279e5d9.png">

[2020-09-16 16:17] ManikaDhiman commented on #7049
Closing this issue as the required updates have been added to the doc.

[2020-09-16 16:17] #7049 closed

[2020-09-16 16:24] mimeeker opened #8294 "Broken link - What's new in Windows 10, version 1909 - Windows Insiders"
Customer has noted that the link at the bottom of this page under See Also for:

"What's new in Windows 10, version 1909 - Windows Insiders" points to  https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home-1909

https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home-1909 is a broken link. They include this page in their internal documentation and ar

[2020-09-16 16:51] RAJU2529 commented on #8279
@beerisgood . Thanks for the proof.
I noted amd model processor.
I create PR once I get at least 10 processors list

[2020-09-16 16:52] RAJU2529 commented on #8294
@mimeeker . Which article are you referring?

[2020-09-16 16:57] mimeeker commented on #8294
@RAJU2529  - the link is on this page: https://docs.microsoft.com/en-us/windows/whats-new/whats-new-windows-10-version-1909

[2020-09-16 17:22] RAJU2529 commented on #8294
@mimeeker . Thanks , I check the link

[2020-09-16 17:28] e0i commented on #8046
With the help of your feedback, the issue has been reviewed and an update to the documentation has been published via PR #8181. Thanks for your feedback.

[2020-09-16 17:28] #8046 closed

[2020-09-16 17:28] e0i commented on #8152
With the help of your feedback, the content has been updated with relevant changes accordingly. Thanks.

[2020-09-16 17:28] #8152 closed

[2020-09-16 17:29] e0i commented on #8056
Closing via #8140

[2020-09-16 17:29] #8056 closed

[2020-09-16 17:29] e0i commented on #6968
Closing via merged PR #7166

[2020-09-16 17:29] #6968 closed

[2020-09-16 17:31] e0i commented on #6771
Closing via #8117

[2020-09-16 17:31] #6771 closed

[2020-09-16 17:31] e0i commented on #8193
Fixed via #8195

[2020-09-16 17:31] #8193 closed

[2020-09-16 17:40] EagleChops commented on #8251
Thanks e0i I'll do that.

[2020-09-16 18:45] illfated commented on #8232
@Cyberchipz : Thank you for the informative post and quite interesting read. I hope the current feedback will be able to highlight the need for accurate and up-to-date information, especially when it comes to security software. I can only advice patience with the procedures to have the documentation updated.

Please note / disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams

[2020-09-16 19:04] greggcyrus opened #8297 "Outdated Images / Instructions"
Although the date stamp for the page show 9/3/20, the images are from Intune which, at least for me, has been replaced by Endpoint Manager so instructions are unclear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad012591-5c74-f1cd-d3a2-443768e8ceee
* Version Independent ID: 918ea4bc-0849-3745-5d9d-a21a973bcd3b
* Con

[2020-09-16 19:08] #8297 closed

[2020-09-16 21:01] denisebmsft commented on #8243
Thanks @PawanGupta01

[2020-09-16 22:09] e0i commented on #8095
Closing via #8127

[2020-09-16 22:09] #8095 closed

[2020-09-16 22:13] #7152 closed

[2020-09-16 22:14] #6887 closed

[2020-09-16 22:14] e0i commented on #8225
We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.

Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.

Thank you for providing feedback.

[2020-09-16 22:14] #8225 closed

[2020-09-16 22:15] e0i commented on #6611
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation.

Thanks.

[2020-09-16 22:15] #6611 closed

[2020-09-16 22:21] #7180 closed

[2020-09-17 06:30] lightupdifire opened #8298 "Certificate"
Hello,
Discovered that after "WIP profiles" or "Azure portal" was updated by Microsoft, our WIP profile lost the EFS DRA certificate in profile. We have documentation of the initial setup we did, and the certificate was present in the WIP profile and in the computer registry. By working with MS Support, they inform that cannot find the reason.

Question for the following situation, maybe someone c

[2020-09-17 07:33] SeanXuMSFT commented on #8221
hi Onur, is there any update about this request?

[2020-09-17 07:34] SeanXuMSFT commented on #8221
hi @e0i , is there any update about this request?

[2020-09-17 07:35] SeanXuMSFT commented on #8222
hi @e0i , is there any update about this request?

[2020-09-17 11:42] e0i commented on #8221
Hello, @SeanXuMSFT The issue is being reviewed by an independent contributor for investigation. Thank you for following up.

[2020-09-17 11:42] e0i commented on #8222
Hello, @SeanXuMSFT The issue is being reviewed by an independent contributor for investigation.

[2020-09-17 14:12] josuvil opened #8301 "Standalone licensing?"
Hello, I'm seeing that there is now a standalone Microsoft Defender Advanced Threat Protection (MDATP) license offering through EA. I wondering if we should include that licensing option here. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8aca66a-5a8b-64d2-7201-a7b915c5d309
* Version Independent ID: c3cc05

[2020-09-17 17:04] GabeSJones opened #8302 "Description of DMA Remapping property values may be wrong"
Does the _DMA remapping policy_ value in Device Manager correspond to the values specified in the INF files?  If so, there is a conflict between what is written [here](https://docs.microsoft.com/en-us/windows/security/information-protection/kernel-dma-protection-for-thunderbolt#how-can-i-check-if-a-certain-driver-supports-dma-remapping):

"A value of 0 or 1 means that the device driver does not su

[2020-09-17 17:08] GabeSJones commented on #8302
Never mind. This third page explains it.  It is correct (though very confusing) as written.  https://docs.microsoft.com/en-us/windows-hardware/drivers/install/devpkey-device-dmaremappingpolicy

[2020-09-17 17:08] #8302 closed

[2020-09-17 18:23] dryphi commented on #7152
Hi, thanks for the response.
Yes I do own the machine and hence the backup key.
Please clarify what you mean. Thanks

[2020-09-17 18:23] pinguon opened #8304 "Windows Defender new field AllowNetworkProtectionOnWinServer"
hi, is there this new field: AllowNetworkProtectionOnWinServer

I can't find any informations about it...

[2020-09-17 18:30] RAJU2529 commented on #8304
@pinguon . search in Group policy editor.
in windows 10 client we can enable network protection

[2020-09-17 19:32] illfated commented on #7152
You will want to have a full backup on hand, as well as a ready-to-use restore plan, in case anything goes wrong after clearing the TPM (as stated in the linked document page). Clearing a TPM without a backup and restore plan is not recommended and can cause data loss unless you are 100% successful in restoring the TPM key to its original value afterwards.

[2020-09-18 03:07] #8242 closed

[2020-09-18 08:14] pinguon commented on #8304
jes but thats EnableNetworkProtection not AllowNetworkProtectionOnWinServer

[2020-09-18 09:32] DLKirchmer opened #8307 "Missing Content: Checksum values for the downloaded file (MSERT.exe) are not provided or available"
ISSUE:
After clicking the link to download the Microsoft Safety Scanner, a best (and my standard) practice is to perform a Checksum calculation on the file for comparison with the vendor provided value for that file.

The information required to perform a comparison against is not available on the download page.

MISSING CONTENT:
Name: MSERT.exe
Size: 121043888 bytes (115 MiB)
SHA256: D4C8D0F2FD43

[2020-09-18 09:47] illfated commented on #8242
https://www.microsoft.com/en-us/download/details.aspx?id=4865

![image](https://user-images.githubusercontent.com/38162891/93583805-ad8eef80-f9a4-11ea-807a-aac31b1f76f0.png)

[2020-09-18 09:51] illfated commented on #8242
# Collect data using Network Monitor

In this topic, you will learn how to use Microsoft Network Monitor 3.4, which is a tool for capturing network traffic.

To get started, [download and run NM34_x64.exe](https://www.microsoft.com/download/details.aspx?id=4865). When you install Network Monitor, it installs its driver and hooks it to all the network adapters installed on the device. You can see t

[2020-09-18 10:04] e0i commented on #8051
Closing via #8137

[2020-09-18 10:04] #8051 closed

[2020-09-18 10:05] e0i commented on #8094
With the help of your feedback, the issue has been reviewed and an update to the documentation has been published with the PR #8199. Thank you.

[2020-09-18 10:05] #8094 closed

[2020-09-18 12:15] MaratMussabekov commented on #8122
Hello, checked in the test environment.
In case password was changed successfully, following events are appears:
1. 4768 A Kerberos authentication ticket (TGT) was requested.
2. 4738 A user account was changed.
3. 4723 An attempt was made to change an account's password.
4. 4364 An account was logged off.

In case new password fails to meet the password policy:
1. 4768 A Kerberos authentication ti

[2020-09-18 16:39] e0i commented on #7952
Hello, @davida1992  thank you for providing feedback.

The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2020-09-18 16:39] #7952 closed

[2020-09-18 16:44] e0i commented on #7967
Hello @Avi1689

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered. Thanks.

[2020-09-18 23:55] milesgratz opened #8309 "GCC High specific URLs for Defender ATP API to be added"
There are a handful of docs that would benefit from including the GCC High specific URLs for Defender ATP API.

|Service category|Service name|Azure Public|Azure Government GCC High|Notes|
|-----------|-----------|-------|----------|----------------------|
|Windows Defender ATP|Integration, Response, Entities, and Streaming APIs|api.securitycenter.windows.com|api-gov.securitycenter.microsoft.us||

[2020-09-18 23:58] milesgratz opened #8310 "GCC High specific URLs for Defender ATP API to be added"
There are a handful of docs that would benefit from including the GCC High specific URLs for Defender ATP API.

|Service category|Service name|Azure Public|Azure Government GCC High|Notes|
|-----------|-----------|-------|----------|----------------------|
|Windows Defender ATP|Integration, Response, Entities, and Streaming APIs|api.securitycenter.windows.com|api-gov.securitycenter.microsoft.us||

[2020-09-18 23:59] milesgratz opened #8311 "GCC High specific URLs for Defender ATP API to be added"
There are a handful of docs that would benefit from including the GCC High specific URLs for Defender ATP API.

|Service category|Service name|Azure Public|Azure Government GCC High|Notes|
|-----------|-----------|-------|----------|----------------------|
|Windows Defender ATP|Integration, Response, Entities, and Streaming APIs|api.securitycenter.windows.com|api-gov.securitycenter.microsoft.us||

[2020-09-19 05:48] joinimran commented on #7941
Hello @Arijit746255 - Thank you for your feedback. I have checked and I was not able to find the mentioned event numbers from any reliable sources. If you have details regarding these event numbers, please do share with me so that I can add up the missing information. As of now, everything looks good.

Thanks.

[2020-09-19 06:01] joinimran commented on #7947
Hello @rugbycubsf - Thank you for your query. Can you please confirm what macOS you are talking about? For profiles, you can modify the current profiles. I would suggest creating a new profile and confirm that it is working fine. All of the settings are supported by the current version. Please see jamf documentation at https://www.jamf.com/jamf-nation/articles/649/creating-a-signing-certificate-us

[2020-09-19 06:15] joinimran commented on #7993
Hello @pctsltd - Thank you for your query. Please note that you can use Live Response regardless of location using a remote shell. Visit https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/live-response for more details on how you can get a benefit of using Live Response.

Thanks.
Imran.

[2020-09-19 06:35] joinimran commented on #6184
Hello @robdwhitehead - Thank you for your feedback here. Please note that it is not possible to make this information available on this document. This document presents the bigger picture of the CSP applications. These CPS are introduced and made available in different editions and versions of Windows. As new versions released, new CSPs are introduced and some are even deprecated. Providing all th

[2020-09-19 06:48] joinimran commented on #7173
Hello @SteffanH - Thank you for your query. As of now, there is no requested information can be added as this policy is not available in intune but is requested via the UserVoice channel. Please vote for this so that it can be available. Once it will be available, that policy section will be updated.

Thanks.
Imran.

[2020-09-19 08:49] joinimran commented on #7157
Hello @David263 - Thank you for your feedback here. I have gone through the submitted details. There are a few things involved here. The system folders are protected from the permissions side as well as registry entries to ensure that those folders safe and secure for Windows. Normally, the Administrator account is disabled by default to ensure that no unauthorized access can take place and the ne

[2020-09-19 09:13] joinimran commented on #7979
Hello @rugabunda - Thank you for sharing your feedback. Can you please confirm which XML code in the document is not working as expected. Can you please share the code in a proper format so that I can add this to the document.

The code you have shared runs successfully in Windows 10 v 1909

![image](https://user-images.githubusercontent.com/47118050/93663522-14cea180-fa82-11ea-8f46-0e7fd20968ff.p

[2020-09-19 11:07] David263 commented on #7157
Thank you, Imran, for the information and the link. The linked file gives much confusing information, possibly because of the use of undefined terms and possibly because of the ambiguity in meaning of "administrative account", which can mean the built-in Administrator account OR a user account with Administrators rights. I still have only vague ideas about who can change file permissions and how i

[2020-09-19 15:03] MaratMussabekov commented on #8107
Hello,
**The only thing it shows is that the scan status (completed). It does NOT show the results of the scan.** - confirmed, I believe the Intune section should be removed from the article at all (I have just created a PR)
**Where does one find the results of the scan in Intune, and in Microsoft Defender Security Center?** - tried to find it, but didn't succeed, Action Center in Microsoft Defend

[2020-09-21 03:40] dcaddick opened #8316 "Proxy Service URL's"
The inclusion of a spreadsheet here with details is very much appreciated.
Having said that - it could possibly be improved with indicating the direction of the traffic flow for each component?

We have two customers looking at deploying at scale with Proxy/Traffic arrangements in restricted areas.
We will have outbound comms enabled - but not inbound
It would be extremely useful to understand whi

[2020-09-21 04:11] nhanla commented on #8298
Hello fellow,

I'm having an issue about WIP DRA too:
1. I've created DRA and upload to Intune => great
2. On Azure AD Joined client, using cipher /c I can see the work data can restore with Recovery Certificates I just uploaded => great
3. On Hybrid Azure AD Joined client, it show Administrator/domainlocal Recovery Certificate instead of my DRA certificate, why?

Here is my record, you can view f

[2020-09-21 04:15] nhanla opened #8317 "Intune - WIP - DRA certificate for Hybrid Azure AD Joined"
Hello fellow,

I'm having an issue about WIP DRA:

1. I've created DRA and upload to Intune => great
2. On Azure AD Joined client, using cipher /c I can see the work data can restore with Recovery Certificates I just uploaded => great
3. On Hybrid Azure AD Joined client, it show Administrator/domainlocal Recovery Certificate instead of my DRA certificate, why?

Thank you guys.

[2020-09-21 07:57] VLG17 commented on #7182
@alexlushsevernunival Looking at the article it's stated that the Intune and Config. Manager name of this rule is not yet available.

![image](https://user-images.githubusercontent.com/41186174/93743671-1bcbf000-fbf9-11ea-8b92-1352c8bdd041.png)

The rule only applies to Windows Server and 10 starting with build 1903 for now.

[2020-09-21 08:21] alexlushsevernunival commented on #7182
@VLG17 - Appreciate its not yet available, but if that's the case then MSATP shouldn't be spitting out recommendations to enable something that's not available! Does anyone have an ETA on when this will be available? Specifically for Intune in our case.

[2020-09-21 14:13] felizondojr opened #8320 "Feature Updates"
[Enter feedback here]
I would remove "...around March and September" from the Feature Update section and replace with H1 and H2 or first half and second half of each calendar year.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7945e873-514b-d650-91be-4524567486cb
* Version Independent ID: 31b8f828-3e70-7ddb-ea23-4b912

[2020-09-21 16:50] #7039 closed

[2020-09-21 16:51] D-Jeffrey opened #8321 "Hidden page"
This page is not in the TOC index and not does show up in search engines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aabc84a-d3b3-f64e-a7cf-71f54d230845
* Version Independent ID: 3e1ec83f-0f7d-a4cc-ad80-a8efd125c8fc
* Content: [Troubleshoot exploit protection mitigations - Windows security](https://docs.microsoft.

[2020-09-21 18:33] illfated commented on #8321
Fair enough, it looks like the page should be part of the TOC index on the left hand side of the page.

When you say "not does show up in search engines" (does not show up in search engines), what did you search for when looking for the page?

Searching for the page title makes it the first result in both bing.com and google.com, so I presume you are referring to if you only search for some of the

[2020-09-21 20:52] mimeeker commented on #8294
All - just checking in on behalf of the customer to see if there's been any progress on this?

[2020-09-22 02:39] RAJU2529 commented on #8316
@dcaddick . From my point of view , all are considered as both outbound with inbound.
client computers send requests (outbound) to Microsoftserver computers and then receivees information From that server sends the output towards the client computers ( Inbound)

[2020-09-22 08:47] joinimran commented on #7157
@David263 - Actually there is a difference between the administrator and Admin account. The administrator has full access and full permissions to do anything with OS. On the other hand, the Admin account has a limitation or the user added in the Admin Group has much access but still not as powerful as the administrator. You can say the user added in the admin group can is a sub-admin. That user st

[2020-09-22 11:34] David263 commented on #7157
Imran, I find your comment very unclear. Again, you use language very imprecisely and make sweeping claims without any references or evidence. I can't believe anything you say, unfortunately. I would say, honestly, that you either don't know much about Windows security or you don't know how to communicate well. I can't tell which is the case.

[2020-09-22 12:25] Karr commented on #7965
All good points that need to be addressed sooner than later.  I am surprised this even passed quality inspection.  Can we say this entire page = "Soup Sandwich".  Completely worthless in so many ways and the only way people find a way to connect is with some butchery of the RDP connection file and lowering security.  Format to login was AzureAD\UPN btw.  Unreal... Microscrap should be ashamed of w

[2020-09-22 16:12] anandta opened #8324 "How are Spotlight for Enterprises in Azure configured?"
GPO "Configure Windows spotlight on lockscreen"description says "Additionally, if you check the "Include content from Enterprise spotlight" checkbox and your organization has setup an Enterprise spotlight content service in Azure, the lock screen will display internal messages and communications configured in that service, when available. If your organization does not have an Enterprise spotlight

[2020-09-22 17:32] VLG17 commented on #8186
@MarzelLaning42 According to [this article](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/add-application-portal) the required permission to create an app in Azure Active Directory (AAD) is one of the following roles: Global Administrator, Cloud Application Administrator, Application Administrator, or owner of the service principal.

I'll create a PR to include this.

[2020-09-22 17:45] VLG17 commented on #8027
@cscherb Could you share such an event? It's strange that looking at the [article about event 4768](https://docs.microsoft.com/en-us/windows/security/threat-protection/auditing/event-4768) it's clearly stated that

`This event doesn't generate for Result Codes: 0x10, 0x17 and 0x18. Event “4771: Kerberos pre-authentication failed.” generates instead.`

[2020-09-22 18:53] levinec commented on #8307
Hi @DLKirchmer, thank you for your feedback. Since this is more of a product issue than a documentation issue, please send feedback about the checksums using the feedback hub: https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app

[2020-09-22 18:53] #8307 closed

[2020-09-22 19:07] MarzelLaning42 commented on #8186
Hi. Whilst the roles you mention are correct. The context is for SIEM connectors where one also needs Security Administrator.
"Prerequisites:
The user who activates the setting must have permissions to create an app in Azure Active Directory (AAD). This is typically someone with a Global administrator role."

"Prerequisites:
The user who activates the setting must have permissions to create an app

[2020-09-22 19:18] illfated commented on #8307
@levinec : if what you say is the recommended route of reporting, may I suggest changing the link on the referenced page to point to the download page, instead of using the direct download link? By reporting the issue here, it is (as of now) a fairly reasonable reporting instance, based on the fact that the referenced MS Docs page contains direct download links.

[2020-09-23 05:47] MaratMussabekov commented on #7020
Hello @KoenBekaert ,
the [documentation](https://docs.microsoft.com/en-us/mem/autopilot/licensing-requirements) is correct, both F1 and F3 are supported (as both contain Azure AD Premium P1 and Microsoft Intune)
The [pricing page](https://www.microsoft.com/en-us/microsoft-365/enterprise/firstline?rtc=1) looks outdated as it shows that only F3 supports Autopilot.
Thank you

[2020-09-23 06:13] MaratMussabekov commented on #7013
Related to https://github.com/MicrosoftDocs/windows-itpro-docs/pull/5922
I will create a PR to add it in this article
Thank you

[2020-09-23 06:15] Ben-Montgomery opened #8328 "Bluetooth Pairing link is broken"
The link for Bluetooth Pairing is broken ("Improving your Bluetooth pairing experience").

[2020-09-23 12:18] MaratMussabekov commented on #6973
Hello @BLTTEST, correct syntax is with commas.
The value section was fixed already, however it is still incorrect (it misses one comma at the end), I just created a PR to fix that.
Thank you

[2020-09-23 12:28] MaratMussabekov commented on #6960
Hello @SteveBurkettNZ ,
no, * cannot be used to replace partial folder name, it could only replace the full name, so in your case it would be  C:\WindowsAzure\*\WaAppAgent.exe or just C:\WindowsAzure\*\
Thank you

[2020-09-23 13:25] e0i commented on #8309
Duplicate of #8311

[2020-09-23 13:25] #8309 closed

[2020-09-23 13:25] e0i commented on #8310
Duplicate of #8311

[2020-09-23 13:25] #8310 closed

[2020-09-23 13:39] baardhermansen opened #8330 "Missing words"
Under heading Update WinRE, you find the sentence

In stead of a "proper" word, there's only the letter **s**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7734ca5-0770-5bbd-7da5-dda4c1cf5ae0
* Version Independent ID: cb98ef23-d0c6-e62e-b72b-9b5f5d724e8e
* Content: [Update Windows 10 media with Dynamic Update - Wind

[2020-09-23 13:43] baardhermansen commented on #8330
I just noticed that this repeats itself in the Note field below too.

[2020-09-23 14:01] e0i commented on #8328
The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2020-09-23 14:01] #8328 closed

[2020-09-23 14:08] e0i commented on #8317
The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2020-09-23 14:08] #8317 closed

[2020-09-23 14:17] e0i commented on #8304
@pinguon Can you provide a link to the which documentation article that this problem stems from? The issue tracker of this repository is used to track documentation feedback. Thank you.

[2020-09-23 15:39] DeanGross opened #8332 "Types of Groups"
[Enter feedback here]
Step 5 states that we need to use an AAD Security Group, does that mean that we cannot use an M365 Group, or is this an oversight that needs to be corrected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b246db4-2ef2-fc54-8db1-7a75a4974304
* Version Independent ID: 57290170-ba72-9f26-5a9c-311f69

[2020-09-23 15:42] SteveDiAcetis commented on #8330
Thanks Baard, I’ll take a look and get it fixed shortly - Steve

From: Baard Hermansen <notifications@github.com>
Sent: Wednesday, September 23, 2020 6:44 AM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Steve DiAcetis <stevedia@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Missing words (#8330)

I just notic

[2020-09-23 15:59] e0i commented on #8108
Closing via #8312.

[2020-09-23 15:59] #8108 closed

[2020-09-23 16:05] e0i commented on #8186
@MarzelLaning42

With the help of your feedback, the content has been updated with relevant changes accordingly with the PR #8325. Thanks.

[2020-09-23 16:05] #8186 closed

[2020-09-23 16:06] e0i commented on #8049
Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2020-09-23 16:06] #8049 closed

[2020-09-23 16:07] e0i commented on #5318
Closing via #8058.

[2020-09-23 16:07] #5318 closed

[2020-09-23 18:05] jmmowrer opened #8336 "Need more clarification on "install the repository configuration" step"
Under "Ubuntu and Debian Systems" section, on the part "Install the repository configuration:", it should be noted that the "[channel]" should be changed to the desired channel such as "insiders-fast", etc.  Copying the command as-is leads to unsuccessful install.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2197cba

[2020-09-23 19:04] e0i commented on #7979
Hello, @rugabunda

The issue is being closed since your question seems to be answered.

Thanks.

[2020-09-23 19:04] #7979 closed

[2020-09-23 19:06] #7173 closed

[2020-09-23 19:08] #6184 closed

[2020-09-23 19:08] e0i commented on #7993
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2020-09-23 19:08] #7993 closed

[2020-09-23 19:09] #7947 closed

[2020-09-23 19:10] #7941 closed

[2020-09-23 19:34] e0i commented on #5595
Hello, @PeteHaigh-MSFT The content for Server 2019 has not been published and we have been informed by Sean Wheeler that the content is under development.

[2020-09-23 19:34] #5595 closed

[2020-09-23 19:46] denisebmsft commented on #8324
Hello @anandta! Thank you for posting your question. Can you please tell us to which article this applies? It will help us route the issue to the correct writer/team. Thanks!

[2020-09-23 19:48] e0i commented on #5540
It seems that the question has been answered by the community,  and thus the issue is being marked as resolved.

Please note that the issues section of the repository is intended for corrections in technical documentation.

Should you need to ask a similar question again, consider asking the question via the [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windo

[2020-09-23 19:48] #5540 closed

[2020-09-23 19:49] robdwhitehead commented on #6184
Thanks folks for looking at this for me.  Appreciate your efforts in this.

[2020-09-23 20:08] #7187 closed

[2020-09-23 22:36] illfated commented on #8330
Compare with the latest update 4 months ago, in May, commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/533be11c0ab3b2807c5a7e82f8bf163aad3c8b28 (Fixed missing word) where the word "updates" was inserted.

[2020-09-23 22:55] kingfr0z opened #8338 "ok"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfc0921d-e59b-5186-0dec-7c2facb66f1c
* Version Independent ID: 1fc0f7ba-f8cd-d071-75de-dc5a1af868c0
* Content: [Onboard devices to the Microsoft Defender ATP service - Windows security](https://docs.microsoft.com/en-us/windows/security/threat-protecti

[2020-09-24 00:35] illfated commented on #8338
@kingfr0z : Would you like to add anything else to your post, or is this just a test of the reporting feature in the documentation?

If this is just a test, please close the ticket when able.

[2020-09-24 06:11] VLG17 commented on #8099
@lightupdifire According to [this thread](https://techcommunity.microsoft.com/t5/windows-virtual-desktop/remote-desktop-client-on-windows-10-doesn-t-appear-to-support/m-p/1372916) it works but it's quite tricky to configure it right. More details [here](https://blog.ciaops.com/2020/05/09/remote-desktop-app-for-wvd-doesnt-work-with-wip/).

Looking at the WVD Roadmap and the [latest announcements](h

[2020-09-24 06:35] VLG17 commented on #8112
@ryancampfire As the referenced article points out, this happens because of the real time protection features of Windows Defender Antivirus. As stated in the article, you don't need to do something. Everything happens in the background and if indeed a malitious file is found it will be blocked and you'll be notified.

If it's a corporate machine you could contact your Administrator and ask for hel

[2020-09-24 06:57] lightupdifire commented on #8099
@VLG17
From our side, we don't see any errors, like cannot update feed or start Remote Desktop.
I do see the app as "enlightened", issue is that data copied from the Remote Desktop to my PC not encrypting.
Then maybe good to add a FAQ for WIP for WVD support?

[2020-09-24 13:59] anandta commented on #8324
Thanks @denisebmsft . But Doc does not say about Azure. If its available, is there any public document explains about "setup an Enterprise spotlight content service in Azure"
https://docs.microsoft.com/en-us/windows/configuration/windows-spotlight

[2020-09-24 14:09] nam31 commented on #6976
issue already fixed by
 https://github.com/MicrosoftDocs/windows-itpro-docs/commit/43d5d43ad2b6edc086ac8dfbf018e0e570fcfd96#diff-c645063130d930e77bb92babd75ddeea

[2020-09-24 14:09] #6976 closed

[2020-09-24 14:12] #7017 closed

[2020-09-24 14:26] #7020 closed

[2020-09-24 14:27] illfated commented on #6976
BTW, the commit is https://github.com/MicrosoftDocs/windows-itpro-docs/commit/9f5807247596e8271076a6b4dffa1ad448662727 (just f.y.i.)

[2020-09-24 14:31] illfated commented on #6976
@nam31 : Happy to see a new member on the MS Docs team. Welcome.

[2020-09-24 14:40] RAJU2529 commented on #6976
@illfated . Who is new member?

[2020-09-24 15:31] illfated commented on #6976
Looks like @nam31 has been given a similar position to the one @mypil and @jvsam used to have. I do not have any written evidence, but she closed this ticket as any MS Docs team ticket handler would do.

[2020-09-24 15:32] RAJU2529 commented on #6976
@illfated . Ok thanks.

[2020-09-24 16:04] e0i commented on #7956
The issue has been addressed via commit, https://github.com/MicrosoftDocs/windows-itpro-docs/commit/65855ad8a0651c79e61a2401c9422860e696777e#diff-8096ac7650aed97a21993aa371a255dc

Thank you.

[2020-09-24 16:04] #7956 closed

[2020-09-24 16:14] tc-mivh commented on #6522
In the contrary to @yogeshasalkar, we find that when the Firewall is disabled through GPO and Intune is set to Enable the firewall (domain profile), that even with MDMWinsOverGP=1 the firewall remains disabled, therefore reinforcing the documentation...

So, what's the verdict on this one? Should it work, or is what I describe expected behavior?

[2020-09-24 16:22] #8338 closed

[2020-09-24 17:43] deavisdude opened #8344 "Files missing"
[Enter feedback here]
I am trying to repair my frequently crashing windows pc using DISM. Unfortunately the component store has been corrupted so I was directed here to attempt to fix the problem.
My issues when following this guide:
    Step 3: file not found
    Step 4: files not found
    Step 5: about 40% of the files are missing
    Finally: after a reboot dism still cannot fix my PC
Any idea

[2020-09-24 17:48] greg-lindsay commented on #7020
I believe that F3 used to be required, but later F1 was added.  Now you can have either.

[2020-09-24 18:22] greg-lindsay commented on #5540
I've added a link to the networking requirements section pertinent to white glove and self-deploying mode into the articles for these scenarios. Hopefully this will help.

[2020-09-24 18:30] illfated commented on #8344
@deavisdude : Missing files or folders do not necessarily mean that failing to get a result from deleting or renaming should cause the procedure to fail completely. There can be other reasons why Windows Update does not work for you. When comparing with a working Windows Update, some files do not exist on my system:

[code]

From your comment: Step 5: about 40% of the files are missing

As far as

[2020-09-24 20:47] rahulkj30 opened #8346 "Can I use an external camera with windows hello for business and how reliable it is?"
No. Windows 10 currently only supports one Windows Hello for Business camera and does not fluidly switch to an external camera when the computer is docked with the lid closed. The product group is aware of this and is investigating this topic further.

[2020-09-24 23:13] RowdyChildren opened #8347 "Microsoft Defender for Endpoint (Linux) will not start if /opt is a symlink"
If /opt is a symlink MSDE for Linux will not start. This is for security reasons and the solution is to create a bind mount for /opt/microsoft. This was confirmed directly with the PG

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09c6c11b-345f-a930-7466-fcb5d35794bc
* Version Independent ID: 358b1d57-15e6-a943-b9e2-3e

[2020-09-25 06:28] RAJU2529 commented on #8344
use offline sfc Scannow using install.wim
or use dism  restore health
search dism online command

[2020-09-25 06:58] Borkason opened #8351 "Link to "Windows 10 release information" in section Servicing Channels is broken."
Link to "Windows 10 release information" in section Servicing Channels is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6957383-3bd9-eef9-6410-9c42f8a0b172
* Version Independent ID: a2090374-0fd1-8d67-66de-30c4cf2835f7
* Content: [Overview of Windows as a service (Windows 10) - Windows Deployment](https://doc

[2020-09-25 08:02] bakad01 opened #8353 "File not found"
The wdavkext.kext file is not in the suggested directory so the fix failed

Any more suggestions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72abfa66-ddf0-4fd6-152d-b66ebad98525
* Version Independent ID: c72a3ba7-cd9e-3b40-1bd6-dea45c5f690e
* Content: [Troubleshoot kernel extension issues in Microsoft Defender ATP

[2020-09-25 08:26] lindspea commented on #6975
@ssccaavvookk thank you for reaching out and helping improve MS Docs. Are you suggesting adding a note to this article and have you checked to see that it does in fact apply to Teams and Yammer?

[2020-09-25 08:30] lindspea commented on #6951
@skeeler thank you for reaching out and helping improve MS Docs. Please see this tip regarding your request -
"Tip - When you connect to the remote PC, enter your account name in this format: AzureAD UPN. The local PC must either be domain-joined or Azure AD-joined. The local PC and remote PC must be in the same Azure AD tenant." Let me know if you need further assistance.

[2020-09-25 08:36] lindspea commented on #7018
@technion thank you for pointing this out. Please clarify if the note should be added to this article or if you are referring to another article (security) please forward me the link to the actual document and I'll add the note in a PR.

[2020-09-25 08:58] VLG17 commented on #8142
@ivandretvic According to [this article](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension-vpn) :

[2020-09-25 10:12] MaratMussabekov commented on #7019
Hello @Rohit-MITAб
"There may be up to 2 hours of latency (usually less) between the time the action is taken and the URL and IP being blocked" means that it could take up to two hours to the URL/IP to be blocked, after the indicator is configured. When user tries to access blocked URL/IP, the connection is blocked without any delay.
Thank you

[2020-09-25 12:52] td47 opened #8354 "Guide for stop errors/blue screen errors is out of date"
The guide seems rather out of date. Although it was updated August 2020, there is NO mention of updates history links for 1909 and 2004 based systems.

There is mention of Driver Verifier, but this is not needed as the functionality is already included in the later windows 10 levels (it is actually mentioned in the linked article).

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-09-25 13:11] lindspea commented on #7012
@sveinungre thank you for reaching out and helping improve MS Docs. This article was updated this week with new information. Please have a look and let me know if you have any further questions.

[2020-09-25 13:13] RAJU2529 commented on #8347
@RowdyChildren . Your query will be answered by linux experienced users.

[2020-09-25 13:13] lindspea commented on #6945
@Sumitdhiman thank you for reaching out. Please confirm if this issue has been resolved or are you needing any more assistance.

[2020-09-25 13:16] RAJU2529 commented on #8351
@Borkason . Thanks for pointing out. I am fixing the link now.

[2020-09-25 13:16] RowdyChildren commented on #8347
@RAJU2529 I am not asking a question I am making a statement. This is a known situation that needs to be addressed by a doc writer.

[2020-09-25 13:18] lindspea commented on #6944
@jecarlsen thank you for reaching out. Please have a look at this link and let me know if it helps at all - https://docs.microsoft.com/windows/security/information-protection/bitlocker/bitlocker-group-policy-settings#a-href-idbkmk-rec1achoose-how-bitlocker-protected-operating-system-drives-can-be-recovered

[2020-09-25 13:23] RAJU2529 commented on #8347
@RowdyChildren. I am not familiar with linux , so that's why I said this article editied by author or by contributor. so wait for few days'.
@e0i assign user to look in this issue #8347.

[2020-09-25 13:23] lindspea commented on #6901
@cmcapellan thank you for reaching out and helping improve MS Docs. Just for clarification are you suggesting adding the link you provided to this article?

[2020-09-25 13:29] lindspea commented on #6896
@linque1 can you help with this one please?

[2020-09-25 13:38] bigben386 commented on #6878
Hi All. I see this is closed but the referenced page still does not show any wmi query or reg value that indicates whether kernel dma protection is enabled or disabled. Since kernel dma protection is preferred over the other bitlocker countermeasures, how are we supposed to programatically determine if kernel dma protection is not available and therefore enable the other bitlocker workarounds?

[2020-09-25 13:40] lindspea commented on #6877
@Dansimp could you please assist here?

[2020-09-25 14:42] cmcapellan commented on #6901
Generally speaking, I understand you are writing these docs to be MDM vendor agnostic.  But, I have to think a majority of the people looking at this are using Intune as their MDM, therefore, wherever possible directly providing or linking to the correct Intune setting will save people a lot of time.

Here, you can't implement these instructions without knowing what to use for `ProviderID`. The co

[2020-09-25 14:43] desbest opened #8357 "The scripts mentioned on this page are hosted at Technet Gallery which is closing down"
The scripts mentioned on this page are hosted at Technet Gallery which is closing down
Someone should move the scripts somewhere else to the article still works.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Independent ID: 599aea76-47e4-dccc-799c-2d8acf549546
* Content:

[2020-09-25 15:25] #7021 closed

[2020-09-25 15:28] VLG17 commented on #8093
@carlreinke My recommendation is to use [UserVoice](https://windowsserver.uservoice.com/forums/295047-general-feedback) for submitting this feedback. This is the official feedback channel monitored by engineering.

I think there is more that needs to be understood behing the desire to allow just certain services and not all services that use svchost.exe. I don't think there is a defined list of se

[2020-09-25 15:48] VLG17 commented on #8191
@hasan-hasanov You can find [in this article](https://techcommunity.microsoft.com/t5/windows-kernel-internals/windows-sandbox-config-files/ba-p/354902) 2 examples. Hope it helps.

Regarding your question, it's stated in the article you linked that only one command can be invoked, not multiple.

I recommend [involving support](https://support.microsoft.com/en-my/contactus/) in order for a support e

[2020-09-25 15:58] VLG17 commented on #8192
@alexverboon I recommend using the [dedicated UserVoice for Configuration Manager](https://configurationmanager.uservoice.com/forums/300492-ideas) to submit this feedback and get the option added to CM.

As soon as it's added we can update the article to reflect the change.

[2020-09-25 16:03] greg-lindsay commented on #6988
@iloving yes those are the locations you should see with those links.

[2020-09-25 16:05] #6988 closed

[2020-09-25 16:08] VLG17 commented on #6940
@Conan1989 Thank you for providing this feedback. The broken link was fixed with the help of @RAJU2529

[2020-09-25 16:10] nam31 commented on #6976
Hi @RAJU2529  and @illfated  Yes, I am the new member :)
Yes, above solution shared by a Freelancer. Please let me know if there is any conflict with that?

[2020-09-25 16:24] linque1 commented on #6896
Let me work through the feasibility of this and get back to this in 2 weeks. I missed this while I was temporarily handing over this page. Thanks @lindspea

[2020-09-25 17:12] RAJU2529 commented on #6976
@nam31 . No conflict. From the next query onwards, i tag your name for  further PR or issues to look

[2020-09-25 21:04] illfated commented on #6940
#please-close

[2020-09-25 21:08] illfated commented on #8344
@deavisdude : if possible, I recommend running some of the repair wizards, just to make sure that any trivial issues get corrected by the OS itself.

[2020-09-25 21:35] illfated commented on #7018
Document referenced by this ticket:
- https://docs.microsoft.com/windows/security/threat-protection/security-policy-settings/account-lockout-policy

Suggested page (>the /account-lockout-threshold page<) for the suggested note blob:
- https://docs.microsoft.com/windows/security/threat-protection/security-policy-settings/account-lockout-threshold

These 2 pages can easily be located in the same TOC

[2020-09-25 21:38] illfated commented on #7018
Also, thank you for making me realize that I had forgotten that I was pondering if I should create a PR or wait for more MS Docs team feedback. 😉

[2020-09-26 01:39] RAJU2529 commented on #8351
@jaimeo . Please look in to this PR #8355. .

[2020-09-26 07:01] alexey-zhel opened #8359 "AD FS on Windows Server 2019 require 'ugs' scope to be added to make DRS service to work."
Following PowerShell must be executed on WS 2019 ADFS:

Add-AdfsScopeDescription -Name ugs

$id = (Get-AdfsApplicationPermission -ServerRoleIdentifiers 'http://schemas.microsoft.com/ws/2009/12/identityserver/selfscope' | ?{ $_.ClientRoleIdentifier -eq '38aa3b87-a06d-4817-b275-7a316988d93b' }).ObjectIdentifier

Set-AdfsApplicationPermission -TargetIdentifier $id -AddScope 'ugs'

---
#### Document D

[2020-09-26 09:31] Sumitdhiman commented on #6945
Hi lindspea,
I have some specific 2004 failure files but cannot figure out what the exact cause is, the error code is namely 1900101-40017. I have tried the steps given in the documentation but do not have success to find what exactly is the issue.

Panther logs are here:

https://1drv.ms/u/s!AjF425jZa3VggxhPKi1AqGrdbqPr?e=kVkmiW

From \UnattendGC

https://1drv.ms/u/s!AjF425jZa3Vggx14K8_fXOB1Cs-C?

[2020-09-26 18:01] MaratMussabekov commented on #6999
Hello, yes, Intune deployment is supported by Enterprise and Education editions.
**Could anybody confirm whether we can deploy WDAG using Intune to Windows 10 Education edition, version 1909. I tried but getting the error 'Not applicable' in Intune** - have you tried to apply the same configuration profile on PC running Enterprise edition? Does result differ?

Thank you

[2020-09-26 21:22] CLEVELAND2024 opened #8361 "TYPO ON MICROSOFT DOCS WEBSITE"
Just a small typo, but still an error.  Am I only able to submit feedback for Microsoft through GitHub?

-Jennifer Cleveland

![MicrosoftDocs_TYPO](https://user-images.githubusercontent.com/71947128/94350487-9d5dbc80-0003-11eb-9f02-3770bd68ff46.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5862cc7-3f36-5f2e-9ade

[2020-09-26 21:40] illfated commented on #8361
Thank you for pointing out the typo. That one should be easy to correct.

Also: Please, PLEASE don't use CAPS when writing a title. It comes across as shouting to others.
This is not media front page news (Donald Trump) we are talking about, nor international politics.

If you are able to edit the title line and make use of regular text instead of all uppercase, it would be appreciated.

[2020-09-26 21:42] illfated commented on #8361
I notice that your user name is all caps too, is this because you keep your Caps Lock key stuck in the ON position a lot of the time?

[2020-09-26 21:57] illfated commented on #8361
There you go. Pull Request #8362 is ready for review. The PR will also automatically close this ticket when merged.

Regarding your question:

Welcome to the Windows Server documentation repository. You are number #8361 in this section alone, so probably hundreds of thousands of people have posted in the combined issue ticket repositories before you dropped in. You are a new tourist in a well-esta

[2020-09-27 05:47] SokoloffMaxim opened #8363 "Documentation update required - WVD WIN 10 multisession support"
Please update documentation to expain wther it is supported to use wufbto update WVD WIN 10 multisession, and also provide the detailed process on how to do that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2056993d-a700-fba6-8982-e645b182eeea
* Version Independent ID: fb38a86a-cdf6-6fc2-8eb6-fd54f1599f55
* Content:

[2020-09-27 06:31] sveinungre commented on #7012
Hello
I'm sorry but I cannot see any changes. I would expect the article to list exactly which settings that are not recommended for VMs. I am guessing the BitLocker encryption method and maybe device guard settings. Did I miss something in the new article content? Thanks.

[2020-09-27 16:12] illfated commented on #8357
I notice you have created a PR to suggest adding a backup link on this page, (#8358 **Technet Gallery is shutting down**).

The motivation and idea is good, although I think Microsoft Docs will need to store the backup on a page owned by the organization.

[2020-09-27 16:59] VLG17 commented on #7042
@Rippsy The recommendation is to use the official channel, meaning [User Voice](https://office365.uservoice.com/). It's the best way to send feedback to the product group, have it voted by other people who have the same issue and get it to the top of the list, thus giving it a better chance of being implemented faster.

[2020-09-27 19:09] VLG17 commented on #7022
@Keagnn Could you please pass this feedback forward with the help of [User Voice](https://office365.uservoice.com/)?

When it gets implemented we can add it to the response presented as an example in the docs.

[2020-09-27 19:33] VLG17 commented on #6850
@uowdaniel Could you please also share the article that contains the broken link which you referenced above?

[2020-09-27 19:36] VLG17 commented on #6841
@markstan A detailed description has been added to the article:

[2020-09-27 21:34] illfated commented on #8357
See also issue ticket #6841 (**Unclear wording**) where this topic has been discussed from a different angle (descriptive text interpretation).

Notice in particular that this script already has a GitHub page:

[2020-09-27 21:36] illfated commented on #6841
(ref. #8357 & #8358 )

[2020-09-27 23:53] desbest commented on #8357
The script hosted on Technet Gallery is not on the github links provided.

[2020-09-28 03:20] fbifido opened #8368 "So no .exe file allowed ????"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcc63299-cc1c-e031-deb7-915914b8f94e
* Version Independent ID: 356eaba5-16b0-952f-fc19-c8d5be5feb5f
* Content: [Demonstrate Autopilot deployment - Windows Deployment](https://docs.microsoft.com/en-us/windows/deployment/windows-autopilot/demonstrate-de

[2020-09-28 03:43] MaratMussabekov commented on #8301
Hello @josuvil,
Standalone licenses could be only purchased through CSP, and it is already mentioned in the note in the article: "Microsoft Defender Advanced Threat Protection is also available for purchase from a Cloud Solution Provider (CSP). When purchased via a CSP, it does not require Microsoft Volume Licensing offers listed."
So I believe no further information is required in the article. Wh

[2020-09-28 07:10] illfated commented on #8357
Fair enough. I have not checked the contents, so there is that. I guess I just thought it was the same, seeing that the other ticket was created from the exact same page.

I see now that there are 2 separate scripts on the page:
- Reset Windows Update Client settings script - https://gallery.technet.microsoft.com/scriptcenter/Reset-WindowsUpdateps1-e0c5eb78 by Ryan Nemeth
- Reset Windows Update Ag

[2020-09-28 07:19] lindspea commented on #7018
@illfated thanks as always for your help. I'll create a PR now @technion

[2020-09-28 07:27] andrePKI opened #8370 "Missing text"
"Configure the **** policy setting " just below the heading Countermeasures looks like a placeholder. I assume the **** shoul be replaced by the actual name?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bcaf30b-7304-6874-ba5d-791cc4d435d2
* Version Independent ID: 961def9f-094a-3d1e-82a4-bb152c2e5a1e
* Content: [Min

[2020-09-28 07:29] lindspea commented on #6945
@greg-lindsay please could you assist here?

[2020-09-28 07:42] lindspea commented on #7012
@lomayor please can you assist here?

[2020-09-28 08:42] RAJU2529 commented on #8370
@andrePKI , thanks for reporting, I am fixing now .

[2020-09-28 08:46] VLG17 commented on #8214
@alex-456 One can edit the "Members" tab of Account and Server Operators, but not the "Member of" tab.

My understanding is that the second sentence talks about the "Members" tab which can be edited.

![image](https://user-images.githubusercontent.com/41186174/94410501-1a15a580-0180-11eb-8ea4-b79cf2d5d5dc.png)

![image](https://user-images.githubusercontent.com/41186174/94410545-27329480-0180-11eb

[2020-09-28 08:47] RAJU2529 commented on #8370
@e0i, @nam31,  assign user to verify this PR #8372

[2020-09-28 09:00] VLG17 commented on #6804
@danchar4 I see that Studio 2 is not listed anymore, so it's fixed now.

[2020-09-28 09:30] VLG17 commented on #6734
@itguysocal I guess @RAJU2529 answered your question. Can we help with anything else? Do you think we need to add something to the article to make this more clear?

[2020-09-28 09:31] uowdaniel commented on #6850
Sorry – it was almost four months ago, and I don’t seem to have a record of the article. I’d imagine it was somewhere in the WIP documentation, given that the heading was "How WIP works with sensitivity labels". Most likely I’d have reported it from the actual page, hasn’t that come through?

Googling for "How WIP works with sensitivity labels”, there are Microsoft pages amongst the hits but they

[2020-09-28 09:34] dyd1947 opened #8374 "Microsoft safety scanner"
[Enter feedback here]
Look at the scan result: unknown malware was detected but not deleted. I am a genuine Win10 Home Edition computer, We hope to delete the unknown malware detected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5bb1ce3-9128-5385-4417-d22eb5f8cb77
* Version Independent ID: cb6ba731-a2c2-e9b9-7c3e-d

[2020-09-28 09:51] BLTTEST commented on #6973
Hi @MaratMussabekov
It's nice to see it‘s under correcting process and thank you very much for your help!
Best Regards

[2020-09-28 11:21] illfated commented on #6850
Searching for the exact match for the page title "How WIP works with sensitivity labels" only returns page content for this page (by 2 different views). I have tried looking for a change to this page, where this could have changed, but it does not return any useful information of page changes which could explain the origin of this ticket. I can only assume that there has been so much change that e

[2020-09-28 11:25] illfated commented on #6850
Unfortunately, neither this GitHub ticket page nor the referenced page https://docs.microsoft.com/en-us/windows/security/information-protection/windows-information-protection/how-wip-works-with-labels exists in the backups on https://web.archive.org/ ("No URL has been captured for this domain.")

[2020-09-28 12:13] palslav opened #8376 "Query regarding MDM Unenrollment initiated by the User."
Hi,

 We are facing one Issue regarding MDM Unrenrollment process initiated by User,
In which when MDM server is receiving Unenrollment the request, it does not contain Meta value for Alert(**1226**) in the SyncBody.
Please find following logs for the same behavior :

[Windows MDM Sync request for device guid <> <SyncML xmlns="SYNCML:SYNCML1.2">

[code]

Earlier, Under this Alert tag we had a Meta

[2020-09-28 12:32] illfated commented on #6734
There are some unanswered questions out there whether those settings were created for future use, or maybe no longer used (deprecated) and should therefore not be changed, because they might be removed in the future. Such questions appear mostly in connection with more general questions about regular scheduled scans, which used to be a more common policy for legacy protection software.

Maybe a no

[2020-09-28 12:35] illfated commented on #8368
@fbifido : Could you add more details to your question, so we may better understand what you want to know, and maybe understand if there is a need for more detailed description in the documentation?

[2020-09-28 12:58] lindspea commented on #6873
@EckeD thank you for reaching out. I'm busy researching this, but in the meantime please have a look at this article and let me know if this helps at all - https://docs.microsoft.com/windows-server/storage/file-server/troubleshoot/detect-enable-and-disable-smbv1-v2-v3

[2020-09-28 13:03] lindspea commented on #6855
@russrimm thank you for reaching out. Have you got a VPN available to you? There are different VPN apps that you can install.

[2020-09-28 13:10] lindspea commented on #6909
@ssccaavvookk thank you for reaching out. Please have a look at this link and let me know if it helps. I can add it to the article in question if you think it will help other users - https://docs.microsoft.com/windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create

[2020-09-28 14:49] ssccaavvookk commented on #6909
@lindspea It is helpful that it contains the list of types of supported rules, for Level and Fallback purposes, but not how to add a particular hash or publisher to the policy.  [New-CIPolicyRule](https://docs.microsoft.com/en-us/powershell/module/configci/new-cipolicyrule?view=win10-ps) powershell cmdlet has the -FilePathRule parameter that is used in this example document, and based on the langu

[2020-09-28 15:11] ssccaavvookk commented on #6975
I suggest adding it, as of 3 months ago it did apply to Teams and Yammer, but I have taken down my WIP policies to switch to EndPoint DLP (which suffers from the same issue but isn't applicable here). I doubt it has changed, it's a bit of a fundamental implementation problem, but I can no longer verify.

[2020-09-28 15:34] VLG17 commented on #6850
@illfated Thank you for looking into it. It confirms my findings.

@uowdaniel No worries, i understand it's been a long time since you found this. Since we cannot find the original article that contains the incorrect link, i'll just say that it was fixed (until proven wrong) in the meantime.

If we manage to identify it again, we will fix it.

[2020-09-28 15:38] VLG17 commented on #6946
@bledMS82 Keeping in mind the note at the top of the article, i think it's best to follow the new steps described [here](https://techcommunity.microsoft.com/t5/microsoft-endpoint-manager-blog/microsoft-endpoint-manager-simplifies-deployment-of-microsoft/ba-p/1322995)

![image](https://user-images.githubusercontent.com/41186174/94453731-b3ad7900-01b9-11eb-9244-a970a315de85.png)

[2020-09-28 16:14] jaimeo commented on #8363
@arcarley

[2020-09-28 17:30] denisebmsft commented on #8346
Hello @rahulkj30 and thanks for posting feedback. This does not appear to be a documentation issue and it looks like it's resolved, so I am going to close this for now.

[2020-09-28 17:30] #8346 closed

[2020-09-28 17:33] #8361 closed

[2020-09-28 17:52] RAJU2529 commented on #8374
@dyd1947, Zip all the detected malware files  and sumbit  to micrsosoft antivirus  analysis lab server .
Sign in with microsoft account on below site ,send the samples
**https://www.microsoft.com/en-us/wdsi/filesubmission/**

For better security purposes and Real time protection , use builtin microsoft defender antivirus  , enable it enable windows firwall, with enable controlled folder access, en

[2020-09-28 17:56] illfated commented on #6806
@icelava : Do you find the latest page update from PR #8367 sufficient, or do you have further suggestions?

[2020-09-28 18:27] #6806 closed

[2020-09-28 18:38] #6946 closed

[2020-09-28 19:21] #8374 closed

[2020-09-28 19:56] illfated commented on #6851
Resolved by PR #8364 - ticket can be closed.

[2020-09-29 01:32] dyd1947 opened #8378 "safety scanner remove malware"
[Enter feedback here]
Look at the scan result: unknown malware was detected but not deleted. I am a genuine Win10 home version computer, and the computer motherboard has a key, which is activated with the digital license associated with the account. I always feel that there is an invisible hand holding me, unable to work. You can detect malware. I want to delete the unknown malware detected.

---

[2020-09-29 05:12] RAJU2529 commented on #8378
@dyd1947 .a after completion of scanning, find the path of the malware files.notedown on notepad.
now boot the windows into safe mode.
go the location of the malware file , delete it manually.

[2020-09-29 06:22] DatGoodArt opened #8379 "MICROSOFT"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0080ea96-3ae5-49ee-d621-eb8ffbd14a4f
* Version Independent ID: d17b7412-6993-4347-174c-9f20d045af00
* Content: [Policy CSP - ApplicationDefaults - Windows Client Management](https://docs.microsoft.com/en-us/windows/client-management/mdm/policy-csp-app

[2020-09-29 09:30] illfated commented on #8379
This ticket does not appear to have any useful content. Unless we get any updates from the OP (Original Poster), it appears to be ready for closing.

[2020-09-29 09:54] lindspea commented on #6909
@jsuther1974 please can you assist here.

[2020-09-29 09:56] lindspea commented on #6975
@DulceMontemayor please can you confirm if this is still applicable and I'll do the PR for the article.

[2020-09-29 11:23] #6851 closed

[2020-09-29 11:29] #5406 closed

[2020-09-29 12:00] #6960 closed

[2020-09-29 12:43] e0i commented on #8112
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2020-09-29 12:43] #8112 closed

[2020-09-29 12:44] Reeced40 commented on #6847
@metathinker thank you for helping improve MS Docs. This article has recently been updated. Please let me know if you still need assistance or if anything else needs to be changed in the document.

[2020-09-29 12:47] Reeced40 commented on #6803
@louisgohl thank you for reaching out and helping improve MS Docs. Just for clarity, are you suggesting removing the 6 x licenses as per your message above and adding the product offer details? I see this article has been updated recently so please have another look and let me know if you still recommend changes to this article.

[2020-09-29 12:49] RAJU2529 commented on #8112
@e0i  I have pending PR, so verify all

[2020-09-29 12:51] Reeced40 commented on #6769
@Anoni-Mouse please see @illfated comments above regarding the screenshots and confirm all in order with this issue and it can be closed?

[2020-09-29 12:53] Reeced40 commented on #6764
@Dansimp please can you help with this issue? Are these scripts going to be updated?

[2020-09-29 12:57] Reeced40 commented on #6693
@Mr-nUUb thank you for reaching out and helping improve MS Docs. It seems this issue was resolved in a related issue - please see https://github.com/MicrosoftDocs/windows-itpro-docs/issues/5988

[2020-09-29 12:59] Reeced40 commented on #6647
@ManikaDhiman please can you confirm if @illfated suggestion is correct?

[2020-09-29 13:01] Reeced40 commented on #6642
@frfriel thank you for reaching out and helping improve MS Docs. Please have a look at the article and see if the updated version has fixed your query. Otherwise please let me know what you suggest having changed. Thanks.

[2020-09-29 13:04] Reeced40 commented on #6637
@mapalko please can you confirm if this should be added to the article and I'll do the PR.

[2020-09-29 13:06] Reeced40 commented on #6620
@bledMS82 thank you for pointing this out. It looks like the article has been updated in the interim. Please check and let me know if you think anything else should be added.

[2020-09-29 13:16] illfated commented on #6647
Thank you for asking, @Reeced40 . My guesstimate is picked from the same page, from this section:

- https://docs.microsoft.com/en-us/windows/client-management/mdm/healthattestation-csp#csp-diagram-and-node-descriptions

***

![image](https://user-images.githubusercontent.com/38162891/94562437-a057e780-0265-11eb-8864-6e1934c3ea3e.png)

***

The reported duplicate description can be found in the li

[2020-09-29 13:24] Reeced40 commented on #6596
@SergGu thank you for helping improve MS Docs. Just for clarity please can you advise under which section of this article you recommend this being added to.

[2020-09-29 13:26] Reeced40 commented on #6579
@OfficeGlobal

[2020-09-29 13:27] illfated commented on #6769
@Reeced40 : Thank you for noticing and commenting on this ticket. I tried looking into the issue again, but I did find that this is exactly one of those Catch-22 scenarios of "damned if you do, damned if you don't". I tried to imagine how to add just one single image from the Windows Defender Firewall user interface, but this quickly led me to the decision-making tree of splitting paths where each

[2020-09-29 13:34] illfated commented on #8112
@RAJU2529 : Do you have a link to your PR?

By the way, when you say "so verify all", could you rephrase or provide more details?

[2020-09-29 13:36] RAJU2529 commented on #8112
@illfated . https://github.com/MicrosoftDocs/windows-itpro-docs/pull/8356

[2020-09-29 13:44] illfated commented on #8112
Thank you for the links. If I may give you some advice about posting, I recommend refraining from posting in tickets unrelated to the ones you have questions about.

If you want to request attention to your Pull Requests or tickets, please post such requests in the same ticket or PR as the one where the attention is wanted.

[2020-09-29 18:04] mapalko commented on #6637
@PaulTown my understanding is that the ugs scope isn't needed for device registration and it is only an issue for certificate enrollment. We already have a note in the section for configuring adfs and pki: https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-hybrid-cert-whfb-settings-adfs

[2020-09-29 18:15] e0i commented on #8320
Closing via #8350

[2020-09-29 18:15] #8320 closed

[2020-09-29 18:15] e0i commented on #8351
Closing via #8355.

[2020-09-29 18:15] #8351 closed

[2020-09-29 18:17] e0i commented on #8107
Closing via the answer above and the merged PR #8313.

[2020-09-29 18:17] #8107 closed

[2020-09-29 18:20] metathinker commented on #6847
@Reeced40 In the latest version of this page, the text I quoted above is still unchanged, and it still does not match the actual Windows UI. In fact, the difference is even greater now.

Below is how the Windows Update Advanced Options page looks in Windows v. 20H1 build 19041.508. Now, there is nothing about deferring "Feature Updates" and "Quality Updates" separately, there is just one option to

[2020-09-29 18:23] arcarley commented on #6847
@metathinker I just made edits to the document that haven't been merged into master. This change removes aspects of using the Settings UX.

Best,
Aria

[2020-09-29 20:38] #8379 closed

[2020-09-30 06:11] KimRechnagel opened #8382 "No ScanScheduleQuickTime option"
Hi,

There is no ScanScheduleQuickTime option for the Set-MpPreference cmdlet as stated in this article. I'm pretty sure the correct option you are referring to is called ScanScheduleQuickScanTime instead.

Kim

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2aeeaa89-e3b9-7dd5-81f2-7cb1f37d925d
*

[2020-09-30 09:41] RAJU2529 commented on #8382
@KimRechnagel . from my testing on windows 10 v2004  both options are available and valid.

[2020-09-30 10:06] KimRechnagel commented on #8382
Yes that is true but find this section on the source page:
![image](https://user-images.githubusercontent.com/21287647/94672204-39920700-0315-11eb-80f5-b0b4a4551ed1.png)

Then you see that the page says ScanScheduleQuickTime and not ScanScheduleQuickScanTime

[2020-09-30 10:07] KimRechnagel commented on #8382
Ah, nevermind, you already figured it out yourself. Thanks.

[2020-09-30 14:23] weiss-gal opened #8385 "Which windows server versions support cloud delivered protection"
[Enter feedback here]
although windows client versions are mentioned, I could not find anywhere a clear statement saying which windows server versions support cloud delivered protection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f249ddfc-a83d-e53f-5c95-3e9cb0294929
* Version Independent ID: 5a8cf2bc-e2b4-2f63-8425-

[2020-09-30 17:00] nam31 commented on #6493
@BartJocque

The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)

The issues section of this repository is being used to track problems related

[2020-09-30 17:00] #6493 closed

[2020-09-30 17:11] nam31 commented on #5629
@cas77

As of September 2020 This page will no longer be updated. To find the Group Polices that ship in each version of Windows, refer to the Group Policy Settings Reference Spreadsheet. You can always locate the most recent version of the Spreadsheet by searching the Internet for "Windows Version + Group Policy Settings Reference".

For example, searching for "Windows 2004" + "Group Policy Setti

[2020-09-30 17:11] #5629 closed

[2020-09-30 17:13] #8382 closed

[2020-09-30 18:14] nam31 commented on #6899
It was fixed by https://github.com/MicrosoftDocs/windows-itpro-docs/commit/596578fa97fe9b562ee7c0e979a4e3283fdc064a#diff-6701b7a2e1253d31a8b2d4eae1e26628, and I think that the issue could be closed

[2020-09-30 18:14] #6899 closed

[2020-09-30 18:28] nam31 commented on #6871
Thank you for providing feedback.

Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub.](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app) You might find others have made a similar

[2020-09-30 18:28] #6871 closed

[2020-09-30 18:34] nam31 commented on #6550
It was fixed by https://github.com/MicrosoftDocs/windows-itpro-docs/commit/83d9c2cc178f3fe7031e74bcc83e009f19e57109#diff-3adddcf5d18f65ff717f780a424f2435,

[2020-09-30 18:34] #6550 closed

[2020-09-30 18:40] nam31 commented on #6543
Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)

Thank you.

[2020-09-30 18:40] #6543 closed

[2020-09-30 18:41] nam31 commented on #6540
Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)

Thank you.

[2020-09-30 18:45] #5636 closed

[2020-09-30 18:56] #6785 closed

[2020-09-30 18:57] #6901 closed

[2020-09-30 19:04] adamenger opened #8387 "FileSystem CSP examples"
Hi there! Trying to deploy a FileSystem CSP but I don't see any examples on this page. Could we get some examples of how the FileSystem CSP can be used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c76d6513-e6ba-dedf-46f7-8da348adb2c1
* Version Independent ID: 050be118-822f-20e6-7b47-fe5c867e8ea8
* Content: [FileSyst

[2020-09-30 20:52] zeb777 opened #8389 "Best practice for password changes"
Best practice for password changes has been updated and this article needs to be updated as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6aaa595-efab-ccfa-0c51-28673b499055
* Version Independent ID: 9a4746cc-aaed-32ca-5609-fc50fa03cfbf
* Content: [Enforce password history (Windows 10) - Windows security](https

[2020-10-01 07:28] SeanXuMSFT commented on #8221
@e0i , may i know if there is any progess?

[2020-10-01 07:29] SeanXuMSFT commented on #8222
hi @e0i ,may i know if there is any progess?

[2020-10-01 07:29] MaratMussabekov commented on #6898
Hello @kimoppalfens ,
could you please clarify why it is not a good way?
Onboarding using configuration manager is supported since Windows 10 1607, so you can create a collection which includes all versions starting with 14393 (which is 1607), as it is described in the article.
Seems pretty good way for me.
Thank you

[2020-10-01 08:27] kimoppalfens commented on #6898
IIRC, back when I wrote my remark the page said to create a collection for the build version to be equal to 14393, not greater than. As a result now uptodate devices would enroll.

[2020-10-01 08:31] Reeced40 commented on #6647
@ManikaDhiman @Dansimp please could you assist?

[2020-10-01 08:32] Reeced40 commented on #6769
Thanks @illfated, I agree, let me check with the team to confirm. @Dansimp please confirm if article will stay as is?

[2020-10-01 08:49] illfated commented on #6647
If so desired, I could easily open a Pull Request to suggest the necessary change to that document section (Description text for error code 3).

[2020-10-01 08:51] MaratMussabekov commented on #6756
Hello @grkoop ,
Windows Hello for Business is available since 1511. However, some deployment scenarios may require newer client versions. For more details please see [Planning a Windows Hello for Business Deployment](https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-planning-guide)
Thank you

[2020-10-01 13:26] tecxx commented on #4025
based on my experience, Windows 10 PRO DOES NOT support credential guard, to the contrary of some of the things people wrote in this thread - we have tested this 2 years ago, and today again.

just checking the output of msinfo32 or regedit is not enough, yes it's correct it shows that CG is running. but you need to actually test the functionality of CG with hacking tools like mimikatz. here is th

[2020-10-01 13:57] RAJU2529 commented on #4025
@tecxx . Which command did you entered  in mimikartz for getting Above screen shot result

[2020-10-01 14:00] tecxx commented on #4025
# gain debug rights
privilege::debug
# read credentials
sekurlsa::logonpasswords

in case you run other protections like PPL as well additional steps might be necessary, but that's the very basic command to extract your secrets.

[2020-10-01 14:19] beerisgood commented on #4025
So Windows itself display the result wrong.
This should be fixed too!

Thanks for a real test @tecxx

[2020-10-01 14:27] VLG17 commented on #6734
@illfated My understanding is that the settings exist and can be used but there is no article created to describe them in detail. I think it would be best to hear the author's opinion here.

@nam31 could you help with reaching out to the author for a confirmation regarding what "not used" means in this context?

[2020-10-01 14:40] RAJU2529 commented on #4025
@tecxx . @beerisgood . Even in my windows 10 os , even mimikatz cannot retrieve my logon passwords  . so my credentials are safe

[2020-10-01 14:47] tecxx commented on #4025
can you post a screenshot of this? are you connected to a domain?

[2020-10-01 14:51] RAJU2529 commented on #4025
@Tecxx . IAM eating food

[2020-10-01 15:13] beerisgood commented on #4025
Why ?

[2020-10-01 15:18] RAJU2529 commented on #4025
Because i  have certain settings by using group policy editor and by registry key.

[2020-10-01 15:21] tecxx commented on #4025
@RAJU2529  is your computer connected to a domain?

[2020-10-01 15:22] RAJU2529 commented on #4025
@tecxx. @beerisgood , My windows 10 laptop does not connected to the domain, it's a  standard alone computer.
below are the screenshots of the mimikatz

![add01](https://user-images.githubusercontent.com/3296790/94829309-01c7b400-0428-11eb-9045-dc55f537fa52.JPG)
![add02](https://user-images.githubusercontent.com/3296790/94829340-08eec200-0428-11eb-914a-55c15563f2f5.JPG)
![add03](https://user-image

[2020-10-01 15:24] tecxx commented on #4025
you have abviously no idea what you are talking about.
credential guard protects DOMAIN CREDENTIALS only and has no effect on local credentials.
the screenshot error you posted is the error message when mimikatz can not open the lsass memory space, which can either be because you are not running mimikatz as admin, you have an AV/EDR blocking it, or you are running PPL protection, which, as i menti

[2020-10-01 15:37] ManikaDhiman commented on #6647
@Harmyder thanks for pointing out this doc issue.
@illfated as always, thank you for your valuable inputs.

After confirming with the product team, I've updated the description of the HEALTHATTESTATION_CERT_RETRIEVAL_COMPLETE error code and also updated the mentions of CERT_RETRI to CERT_RETIEVAL. These updates will be live shortly. Thanks!

[2020-10-01 15:53] tecxx commented on #4025
@RAJU2529 alright, good we could clarify this, but again, with a standalone system making any statement about CG is pointless, as it only protects domain credentials ([see limitations](https://docs.microsoft.com/en-us/windows/security/identity-protection/credential-guard/credential-guard-protection-limits)). thanks for following through though.

[2020-10-01 16:07] jaimeo commented on #7971
@cinglis-msft , can you address this?

[2020-10-01 16:40] linque1 commented on #6896
Just a note that we're still looking at the feasibility of this @MVDB1984

[2020-10-01 20:32] macmillernz opened #8394 "Unclear whether we need both kernel and system extensions"
[Enter feedback here]
I have deployed these new profiles to my test machine using Jamf and removed the kernel extension policy and it appears to get blocked now.
Do we need both in the interim?
<img width="427" alt="Screen Shot 2020-10-02 at 9 17 00 AM" src="https://user-images.githubusercontent.com/47721519/94860147-1e003b00-0492-11eb-8dde-9da656034641.png">

---
#### Document Details

⚠ *Do not

[2020-10-01 20:52] macmillernz opened #8395 "Add instructions for the system extension and network extension policy."
[Enter feedback here]
I love how comprehensive these instructions are, but would be good to see the system and network extension policy instructions here too

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f791dc07-b2c6-3003-a829-cd1ec03a2918
* Version Independent ID: 2c53adbc-600f-60b2-e8b2-b907335f4862
* Content: [Set

[2020-10-01 23:37] alexshin0523 commented on #5509
@RAJU2529 @ChayimEliazer  I was wondering if one of you could clarify this instruction.
Do you mean that I need to edit the DeviceGuard.admx file? or am I understanding this all wrong? what directory

Note: I have Windows version 2004 right now

[2020-10-02 02:07] RAJU2529 commented on #5509
@alexshin0523 , in windows 10 professional edition, you can use  gpedit.msc , in home edition gpedit.msc does not  exist.
Do you install a professional edition?

[2020-10-02 03:23] alexshin0523 commented on #5509
@RAJU2529 I tried to run gpedit.msc with administrative rights on cmd, but DeviceGuard is still not showing up.
I have the home version. I downloaded the gpedit.msc from an installer I found online and have been trying to add and disable the DeviceGuard.admx to enable KVM. I downloaded the 2004 policy templates in the default folder and copied over all files to C:/Windows/PolicyDefinitions. I was

[2020-10-02 04:33] RAJU2529 commented on #5509
@alexshin0523 ,

[Add Ownership  Context Menu.zip](https://github.com/MicrosoftDocs/windows-itpro-docs/files/5315989/Add.Ownership.Context.Menu.zip)

unzip file, merge it , then go to  C:/Windows/PolicyDefinitions   ,  rightclick , click take ownership of thr folder , then copy the  policies

 i attached  full   policy definitions from my windows os , unzip the file, copy  appropriate files to cor

[2020-10-02 05:22] #6973 closed

[2020-10-02 08:19] illfated commented on #5509
@alexshin0523 : Please note, as long as you are using Windows 10 Home edition, Microsoft does not expect your Windows version to be covered by the Microsoft IT Pro documentation, unless the document is talking about Windows 10 Home edition explicitly. Everything else should be considered available AS IS, meaning that "if it works, it works, but we are not saying that we guarantee that it will work

[2020-10-02 13:48] bledMS82 opened #8398 "TLS requirement and enable cloud-delivered protection"
TLS requirements not listed for Defender ATP communications to azure  . No mention of enable cloud protection requirement for TVM full functionality example reporting AV enabled .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8aca66a-5a8b-64d2-7201-a7b915c5d309
* Version Independent ID: c3cc0543-db20-a8f2-288c-d1dea5

[2020-10-02 13:59] #6962 closed

[2020-10-02 14:22] #6872 closed

[2020-10-02 16:05] win2000b opened #8400 "Intune Link"
Please can someone review the Intune link for this article. THe one detailed is
https://docs.microsoft.com/en-us/mem/intune/configuration/device-restrictions-configure

This doesn't allow you to schedule scans. Is there a better link?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2aeeaa89-e3b9-7dd5-81f2-7cb1f37d925d
*

[2020-10-02 17:07] alexshin0523 commented on #5509
@RAJU2529 Sorry for the late reply, I was working on this for like 8 hours straight and needed a break lol

Im a little confused about your instructions. what do you mean by merge the Add Ownership Context Menu? Do I merge it with C:/Windows/PolicyDefinitions?

Do you mean I have to copy-paste the Ownership Context Menu into my C:/Windows/PolicyDefinitions. And also do the same for PolicyDefinitio

[2020-10-02 17:17] RAJU2529 commented on #5509
@alexshin0523 . right click of .reg file click merge. thats it
if you get error while copying files to  en-us  folder,
right click on en-us folder, click take ownership

[2020-10-02 17:25] alexshin0523 commented on #5509
@RAJU2529 For some reason it is still not working even after I merged the .reg file and copied everything over successfully

Here is a video of what I did: https://youtu.be/NMDum_JgpG0

Also after the video, I merged the .reg file inside it, but it is still not showing me Device Guard.

[2020-10-02 17:32] RAJU2529 commented on #5509
@alexshin0523 . you did wrong   . you not understood what I said.

[2020-10-02 17:38] illfated commented on #5509
After adding something to Registry, it is often required to reboot the computer (restart Windows).

[2020-10-02 17:40] alexshin0523 commented on #5509
@RAJU2529 Im so sorry about that, could you elaborate on what I did wrong?

Also, I really appreciate your help, all this is very new to me and am still learning.

[2020-10-02 17:40] alexshin0523 commented on #5509
@illfated Thanks I will try that

[2020-10-02 17:42] jjchaos commented on #8209
Any update?

[2020-10-02 17:52] alexshin0523 commented on #5509
@illfated The restart was not the problem. It is still showing the same list as before.

@RAJU2529 I deleted the copy of .reg file in C:/WIndows/PolicyDefinitions and merged it from the original folder. Is there something else I did wrong?

[2020-10-02 18:03] RAJU2529 commented on #5509
@alexshin0523 , Will you upgrade to professional edition from home edition .

[2020-10-02 18:04] illfated commented on #5509
@alexshin0523 : Very well, thank you for confirming that a reboot was not the issue.
1. To add a .reg file to the registry, it does not need to be in any particular folder, as long as it is on the OS system drive. "My Documents" or "Downloads" are OK too.
2. You may want to take this discussion to a forum page instead, like

- TechNet forums: https://social.technet.microsoft.com/Forums/en-US/home

[2020-10-02 18:11] alexshin0523 commented on #5509
@RAJU2529 If I buy the professional edition, will I be able to access Device Guard as soon as it is done downloading?

@illfated would you recommend this too? Or should I keep trying to make this work?

[2020-10-02 18:16] RAJU2529 commented on #5509
@alexshin0523 . Device guard features depends upon the processor enabled supported features,  TPM , and the windows 10 pro or enterprise os .

give me one or two days time,  I myself I install windows home edition and I try to enable Device guard, if it works, then  no need to buy professional edition

[2020-10-02 18:18] Tdiwestyguy opened #8402 "Need help with https://docs.microsoft.com/en-us/windows/client-management/mdm/policy-csp-timelanguagesettings#timelanguagesettings-configuretimezone"
[Enter feedback here]
Hello, Can someone help me with deployment values on, TimeLanguageSettings/ConfigureTimeZone

On review, the article does not provide the DATA TYPE or supported Policy configuration Values required to push an "MDM" URI based policy to the Device.

It says:
Specifies the time zone to be applied to the device.
-->This is the standard Windows name for the target time zone.

I tr

[2020-10-02 18:18] alexshin0523 commented on #5509
@RAJU2529 Thank you so much, I appreciate all your help! I look forward to hearing from you!

[2020-10-02 18:23] RAJU2529 commented on #5509
at last  try this  step.
[Install Group Policy Editor.zip](https://github.com/MicrosoftDocs/windows-itpro-docs/files/5319642/Install.Group.Policy.Editor.zip)

unzip the file ,   right click on " Install Group Policy Editor.bat"   run as administrator .

then see if device guard is visible or not

[2020-10-02 18:31] alexshin0523 commented on #5509
@RAJU2529 The .bat you sent me ran successfully, but when I opened gpedit.msc on cmd with administrative rights, the list was still the same and does not include device guard

[2020-10-03 03:47] MaratMussabekov commented on #6974
Hello @yapweiquan ,
yes, you can execute DoWipeProtected on a computer where WinRE is disabled, but there is a risk that the device will become unbootable.
thank you

[2020-10-03 03:49] MaratMussabekov commented on #6898
oh, ok, I see now)
Dear @nam31 , I believe the issue could be closed.
Thank you

[2020-10-03 03:50] yapweiquan commented on #6974
Hi,

May I know how do I do it? Because when I try to execute dowipeprotected
without WinRe, I encounter an error. I verified it by enabling WinRe and it
works.

On Sat, 3 Oct 2020, 11:47 MaratMussabekov, <notifications@github.com> wrote:

[2020-10-03 04:57] MaratMussabekov commented on #6974
Dear @yapweiquan ,
Which error do you receive?
EventID 400, as described [here](https://docs.microsoft.com/en-us/troubleshoot/mem/intune/remotewipe-fails-sending-dowipe-command)? or something different?
Thank you

[2020-10-03 05:04] yapweiquan commented on #6974
Yes correct and this error.

On Sat, 3 Oct 2020, 12:57 MaratMussabekov, <notifications@github.com> wrote:

[2020-10-03 17:21] e0i commented on #8222
Hello, The issue is still in the backlog of an independent contributor. Thank you for your patience with the process.

[2020-10-04 02:22] MaratMussabekov commented on #6540
Hello @harveywargo2 ,
could you please provide more details?
**the AlertTime isn't mapped to deviceReciept time in the jsonParser properties file, LastProcessedTime is** - is it possible to share this file?
I do not have experience with ArcSight, but LastProcessedTime usually take place later than AlertTime, so it looks more logically to map AlertTime  with DeviceRecieptTime
Thank you

[2020-10-04 02:34] MaratMussabekov commented on #6974
Hello @yapweiquan,
It seems that I was wrong and the scenario with disabled WinRE is not supported (for any type of reset - Wipe, WipeProtected, Autopilot Reset, etc.). The only possible scenario would be to keep both WinRe and Bitlocker enabled.
Thank you

[2020-10-04 06:42] MaratMussabekov commented on #6230
Hello @Eiffelsturm ,
Unfortunately template used in the CSP-related articles doesn't include table of content. Please see the comment from Microsoft representative in #8397.
Thank you

[2020-10-04 09:25] illfated commented on #6230
Thank you for your effort & work on the PR, @MaratMussabekov.

@Eiffelsturm : I can (sort of) see why. In an ideal world, there would be enough people employed to make something as fancy as link mapping from the images. I would imagine that the TOC list will be quite long for the CSP pages, so that could in theory be seen as an argument for postponing the change (as well as knowing that it is nece

[2020-10-04 21:43] #8294 closed

[2020-10-04 21:43] #8292 closed

[2020-10-04 21:43] #8194 closed

[2020-10-04 21:47] illfated commented on #8292
Nice work, good control over these issue tickets. Only a few more than 300, compared to WindowsServerDocs 1.9K -- I wish the ServerDocs team was as big and effective as the Windows IT-Pro Docs team.

[2020-10-05 10:27] fnifni opened #8408 "Step 11: Deploy Microsoft Defender ATP for macOSにて、マニフェストファイルは必要ありません 他"
# Step 11: Deploy Microsoft Defender ATP for macOS

- 4. Navigate to Advanced Computer Searches.

実際には、コンピュータを選択し、歯車アイコンを選択することで、次のステップを行うことができます

- 8. Select Open. Set the Display Name to Microsoft Defender Advanced Threat Protection and Microsoft Defender Antivirus.
  - Manifest File: Select Upload Manifest File.

マニフェストファイルについて作成する記述がありません
実際にマニフェストファイルなしで構成してもMDATPは動作します

---
#### ドキュメントの詳細

⚠

[2020-10-05 10:43] ChrisAtMAF opened #8409 "Does not include SmartScreen policy settings for Chromium-based Edge (version 77 and later)"
This article covers configuring SmartScreen for the old, non-Chromium based version of Edge (version 45 and earlier).

It does not cover the new settings for new Chromium edge, (version 77 and later), which are documented here: https://docs.microsoft.com/en-us/deployedge/microsoft-edge-policies#smartscreen-settings-policies

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-10-05 16:13] RAJU2529 commented on #8409
@ChrisAtMAF   **https://docs.microsoft.com/en-us/deployedge/microsoft-edge-policies#smartscreen-settings-policies**
in the above site page, all  SmartScreen settings in ms edge policies are added.

The following sub policiees for smartscreen settings are  clearly explained
1.PreventSmartScreenPromptOverride
2.PreventSmartScreenPromptOverrideForFiles
3.SmartScreenAllowListDomains
4.SmartScreenEnabl

[2020-10-05 18:33] tecxx commented on #4025
on friday i opened a case with microsoft, here is their response from today:

![image](https://user-images.githubusercontent.com/4305825/95117923-a2c8ae80-0749-11eb-88ec-06a59660a27e.png)

[2020-10-05 19:09] beerisgood commented on #4025
But even if Pro would be supported, it wouldn't work on non-domain PC right? @tecxx
So normal users like us can't benefit from that anyway.

[2020-10-05 19:12] SquirrelAssassin opened #8410 "More Information"
How long after you update wdapt does the client pull it down?
How do you manually sync that information?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6d1d825-ab12-2f37-b692-5266487ef16f
* Version Independent ID: fef750ac-311b-28b4-1661-16385997815b
* Content: [Web content filtering - Windows s

[2020-10-05 19:24] #7960 closed

[2020-10-05 19:57] tecxx commented on #4025
@beerisgood correct ([link](https://docs.microsoft.com/en-us/windows/security/identity-protection/credential-guard/credential-guard-protection-limits)) currently it's a feature designed to [protect domain credentials](https://docs.microsoft.com/en-us/windows/security/identity-protection/credential-guard/credential-guard).

[2020-10-05 20:55] illfated commented on #8408
Machine Translation from Japanese, along with the original document text in English:

I assume there is potential for looking into the correctness of the documentation here.

Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub. I don't know the topic well enough to give any feedback on the topic.

I can only recommend to be aware of the fact that this reposito

[2020-10-05 23:41] greg-lindsay commented on #6265
Thanks for all the hints, I will get these into the document. Sorry it has taken so long to get to this. I didn't see the issue and it wasn't assigned to me. I have assigned it now.

[2020-10-05 23:42] greg-lindsay commented on #6945
Can you please try using the SetupDiag tool?  I will try to use it to analyze these logs myself also.

[2020-10-05 23:45] greg-lindsay commented on #6263
That scenario is here: https://docs.microsoft.com/en-us/windows/deployment/windows-10-enterprise-e3-overview

[2020-10-05 23:45] #6263 closed

[2020-10-05 23:48] greg-lindsay commented on #8368
Please provide a more descriptive feedback, I don't know what the issue is with the doc.

[2020-10-05 23:48] #8368 closed

[2020-10-05 23:49] greg-lindsay commented on #7185
I will do another run through and update this as soon as I can. I'll leave the issue open until I can get this completed.

[2020-10-05 23:59] greg-lindsay commented on #6063
Hi, I'm getting clarification now about this comment. You're right it doesn't make sense.

[2020-10-06 05:16] sufuruka opened #8414 "Please Add details about supported enrollment device type with Conditional access and defender ATP compliance policy"
Could you please add or modify Docs Information?
In currently Docs confuse which enrolled devices type are supported or not.

[Current Information]
Before you begin
[!WARNING]
It's important to note that Azure AD registered devices is not supported in this scenario.</br>
Only Intune enrolled devices are supported.

[Request to add information]
Azure AD registered + Intune enrollment device does no

[2020-10-06 07:25] SRE93 commented on #5139
Hey, there is a new dedicated add-on license available through EA or CSP just to enable the Defender ATP function. Could you add it here as well?

[2020-10-06 09:49] ChrisAtMAF commented on #8409
Hi,

Yes, those are the settings I am referring to. However, please note at the top of the page you referenced:

And regarding the settings on this page:

https://docs.microsoft.com/en-us/microsoft-edge/deploy/group-policies/security-privacy-management-gp

This is because there are two different sets of Microsoft Defender SmartScreen policies, depending on whether Edge <45 or Edge >77 is targeted.

[2020-10-06 10:59] VLG17 commented on #5837
@pstakuu Did you get to find a suitable value for Max Cache Age?

Regarding your initial ask, i don't think we're comparing the same thing. One article refers to Microsoft CSEO (Core Services Engineering and Operations) and the other one refers to Microsoft IT. In my understanding they are not one and the same entity, hence the differences that you spotted in terms of bandwidth utilization.

[2020-10-06 11:07] tecxx opened #8416 "where to apply this setting"
this page does not clearly describe whether this setting should be applied to DCs only (where the tickets are created) or also on member servers and clients.
based on our tests we did not see any difference in kerberos ticket encryption when we modify this setting on clients/servers. however, modifying this setting on the DC immediately restricts the tickets to the types specified in the setting.

[2020-10-06 14:33] RAJU2529 opened #8417 "This article needs to be update again , i am going to edit very soon"
I found certain policy paths are  changed in windows v2004, like configure  Microsoft Defender SmartScreen is  located in different path say

**Administrative Templates\Microsoft Edge\SmartScreen settings\Configure Microsoft Defender SmartScreen**

and few other policy paths is also changed, so i am going to edit this article very soon.

![msedge](https://user-images.githubusercontent.com/3296790/

[2020-10-06 16:21] RAJU2529 commented on #8417
@Dansimp ,  I  found three different locations for policy setting  **Configure Windows Defender SmartScreen**

1. **Administrative Templates\Windows Components\File Explorer\Configure Windows Defender SmartScreen**
2. **Administrative Templates\Windows Components\Windows Defender SmartScreen\Explorer\Configure Windows Defender SmartScreen**
3. **Administrative Templates\Windows Components\Windows

[2020-10-06 16:23] RAJU2529 commented on #8417
@e0i   @nam31,  @illfated  . three members  look into this issue #8417 .

[2020-10-06 16:26] RAJU2529 commented on #8409
@ChrisAtMAF . Now i understood the real issues, so this article author  need to be update because there is no edit option

[2020-10-06 16:58] #7019 closed

[2020-10-06 17:01] #6756 closed

[2020-10-06 17:02] #6898 closed

[2020-10-06 17:42] #7042 closed

[2020-10-06 17:45] #7022 closed

[2020-10-06 18:04] #7013 closed

[2020-10-06 18:08] illfated commented on #8417
Thank you for mentioning me, but I must admit I am not an expert on this topic.
Please allow for MS Docs team members or technical writers to confirm.

[2020-10-06 18:10] #6969 closed

[2020-10-06 18:44] #7018 closed

[2020-10-06 19:30] e0i commented on #8417
@RAJU2529 You don't really need to tag us as we are already going through the issues regularly. Thank you.

[2020-10-06 21:13] jgudmundson-RETSD opened #8418 "Registry key error?"
[Enter feedback here]
It looks as though the registry key documented here is wrong.  When I configure the CSP in MEM as enabled it appears to write to this key.
HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Policy Manager
DWORD - EnableNetworkProtection
Value - 1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-10-06 23:34] e0i commented on #6732
@quickclix75  Upon your feedback, We have updated the content with relevant changes accordingly via PR #8293.

[2020-10-06 23:34] #6732 closed

[2020-10-06 23:35] e0i commented on #8061
With the help of your feedback, the issue has been reviewed and an update to the documentation has been published via PR #8135. Thanks for your feedback.

[2020-10-06 23:35] #8061 closed

[2020-10-06 23:35] e0i commented on #8055
Closing via #8141.

[2020-10-06 23:35] #8055 closed

[2020-10-07 08:26] ayfukumo opened #8421 "Live response - advanced feature"
[Enter feedback here]
According to docs, if the customer selected role as Live response - Advanced, the customer can "Upload a file to the remote device".
But we tried to this feature, when we set only "Live response - Advanced", MDATP's GUI "Upload file to library" is disabled.
So we cannot upload local file to remote device.

Then we added "Managed security settings in Security Center" role, "Up

[2020-10-07 11:58] illfated commented on #8418
Thank you for providing feedback.

Just to make sure that this is not based on a misunderstanding: the Registry key `HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Policy Manager\` (EnableNetworkProtection = 1) is the correct key for making sure that network protection has been enabled on a local device, as documented on top of the page:
- https://docs.microsoft.com/en-us/windows/

[2020-10-07 12:29] #7182 closed

[2020-10-07 12:30] #8142 closed

[2020-10-07 12:30] #8192 closed

[2020-10-07 12:30] #8214 closed

[2020-10-07 12:30] #8093 closed

[2020-10-07 12:30] #8191 closed

[2020-10-07 13:31] #6940 closed

[2020-10-07 13:47] RAJU2529 commented on #8418
i have found one  registry setting is incorrect  **SOFTWARE > Policies > Microsoft > Windows Defender > Policy Manager**
above is wrong,

correct path is
**SOFTWARE\Policies\Microsoft\Windows Defender\Windows Defender Exploit Guard\Network Protection**
so i am editing this article

[2020-10-07 14:14] RAJU2529 commented on #8418
i created new PR #8422
https://github.com/MicrosoftDocs/windows-itpro-docs/pull/8422

[2020-10-07 14:31] #6841 closed

[2020-10-07 15:28] greg-lindsay commented on #6063
The original author of the comment is no longer with the company and nobody understand what is being conveyed here so I'm removing the statement.  I've read about the reset option being greyed out, but only when the OS version is not sufficient, and there is a note about that already.

[2020-10-07 15:28] #6063 closed

[2020-10-07 16:19] greg-lindsay commented on #6945
I ran setupdiag on your logs and it wasn't able to match a rule.  However, we have a solution for this error code in the article which says it is a driver issue. Have you tried disabling encryption and antivirus, and performing a clean boot?

[2020-10-07 16:24] Sumitdhiman commented on #6945
Sorry for the delay. In most of the cases I remember working with, none of those applied. Clean boot is my first recommendation for the people and it did not help. The bigger picture is, none of the logs give a trace where the update fails. Happy to share you other logs as well, if you need.

Thanks Greg for looking into this matter and sticking with me on this 👍

[2020-10-07 16:58] nam31 commented on #5686
@javierlarota  Please look into these links which might help you:
https://docs.microsoft.com/en-us/troubleshoot/mem/configmgr/troubleshoot-issues-with-wsus-client-agents
https://docs.microsoft.com/en-us/windows-server/administration/windows-server-update-services/deploy/2-configure-wsus

If you still think documentation is completely missing. Please share your feedback here

Please consider openin

[2020-10-07 16:58] #5686 closed

[2020-10-07 16:59] greg-lindsay commented on #6945
You're welcome!  I contacted an expert here and he says that the rollback setupact.log (from %systemdrive%\$Windows.~bt\Sources\Panther\Rollback) is needed to diagnose this, but the first thing to try is to find any unsigned drivers and remove or update them.  He provided the following link, but said we don't recommend 3rd party tools, so watch out for these: https://www.blogsdna.com/27914/how-to-

[2020-10-07 16:59] nam31 commented on #5738
@annerajb Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)

Thank you.

[2020-10-07 16:59] #5738 closed

[2020-10-07 17:02] #5681 closed

[2020-10-07 17:04] nam31 commented on #5622
@RPanick  Please let us know if you still have any question regarding the issue you have raised initially.

[2020-10-07 17:04] #5622 closed

[2020-10-07 17:14] nam31 commented on #5620
@CharlesBaldridge-MS  Can you please check this updated documentation and let me know if all good now :  https://docs.microsoft.com/en-us/windows/deployment/update/waas-delivery-optimization-setup#feedback

[2020-10-07 17:14] #5620 closed

[2020-10-07 17:17] nam31 commented on #5567
@SwiftOnSecurity
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)

Thank you.

[2020-10-07 17:17] #5567 closed

[2020-10-07 17:19] greg-lindsay commented on #6945
I'm going to follow up by adding information to the resolution procedures on how to locate unsigned drivers. At this point, I don't think I can do much more than that, so I'm closing the issue.  I appreciate bringing the issue up so that I can add more  depth to the resolution procedures.

[2020-10-07 18:35] levinec commented on #8418
PR has merged, closing this issue. Thank you everyone!

[2020-10-07 18:35] #8418 closed

[2020-10-07 19:47] rawIce opened #8423 "Whfb Remote Desktop - requirements do not mention Cloud deployment model"
In both "Requirements" sections of the article it says
`Hybrid and On-premises Windows Hello for Business deployments`

According to the [Windows Hello for Business Deployment Guide](https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-deployment-guide#deployment-and-trust-models) there are three major different deployment models: _Cloud, hybrid,_ and _on-

[2020-10-07 22:44] greg-lindsay commented on #6945
I'm in the middle of writing this now.  The tools you should check out, if you haven't already tried them, are sigverif, sigcheck and driverquery.

[2020-10-07 23:51] RAJU2529 commented on #8421
@ayfukumo . Please record video and upload in online storage, paste the link.  So  That MDATP advanced experienced users can give solution.
I am not an expert in this case.

[2020-10-08 05:24] kennethvs opened #8425 "Support for Windows Home edition yes/no?"
This page mentions the following: https://docs.microsoft.com/en-us/windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure

When looking at the following page though: https://www.microsoft.com/en-us/windowsforbusiness/compare, we see no support mentioned for Home edition?

So my questions would be:
a) Is Home edition supported or not supported fo

[2020-10-08 06:09] Sumitdhiman commented on #6945
Many thanks, I look forward to it. A set of Rollback Logs from a customer I am working on this morning is here:

https://1drv.ms/u/s!AmzJ4dYDN4IW2TdCLguM7rs1hXSR?e=aM4FPn

[2020-10-08 06:44] #6951 closed

[2020-10-08 06:54] #6850 closed

[2020-10-08 06:55] #6847 closed

[2020-10-08 06:59] #6804 closed

[2020-10-08 07:06] #6647 closed

[2020-10-08 08:06] #6943 closed

[2020-10-08 08:09] ayfukumo commented on #8421
Hi,

I will prepare recoded videos regarding this issue.

Cheers,
Ayumi

From: VARADHARAJAN K <notifications@github.com>
Sent: Thursday, October 8, 2020 8:51 AM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Ayumi Fukumoto <Ayumi.Fukumoto@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Live response - advanced f

[2020-10-08 08:27] zerqent opened #8427 "Specify IKEv2 Certificate Requirements for DHGroup"
This page should address the Certificate Requirements of changing the DHGroup.

E.g. from my testing if you need to use an RSA-group you need an RSA Certificate (with a specific key length?). If you need an ECP-group you need an ECP-certificate etc.

And must the client and server match?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-10-08 09:49] greg-lindsay commented on #6945
I see error 1900101-40017 on line 15668. I ran setupdiag again but it didn't find a match. However, the 1900101-40017 error is almost always associated with a driver problem. Can you run sigverif to see if there are any unsigned drivers on the system?

If unsigned drivers are present, it there could be a corrupt or missing catalog file.  I do see some problems with cab files in Windows\System32\sp

[2020-10-08 12:23] DarrenBennett commented on #7053
You can simply use a custom Configuration Profile in Intune with the CSP GUID for the ASR rule.

OMA-URI: ./Vendor/MSFT/Policy/Config/Defender/AttackSurfaceReductionRules
Data type: String
Value: {e6db77e5-3df2-4cf1-b95a-636979351e5b}=1

[2020-10-08 12:37] Sumitdhiman commented on #6945
Sure. I am working with the user and continue to report as per the outcomes. Setupdiag from his machine indicates an unnamed service issue. I can ask for the additional logs if required. Right now working with sigverif.

`<?xml version="1.0" encoding="utf-16"?>
<SetupDiag xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://docs.microsof

[2020-10-08 12:40] CharlesBaldridge-MS commented on #5620
Looks good now thank you!

Charles Baldridge

Customer Engineer

MICROSOFT

Office: 813-868-8107

Charles.Baldridge@microsoft.com<mailto:Charles.Baldridge@microsoft.com>

[Twitter]<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftwitter.com%2FMicrosoft&data=02%7C01%7Cchbaldri%40microsoft.com%7Cbdc2cdd073604a6d280608d79b55f0ce%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637148665

[2020-10-08 13:33] brink668 opened #8428 "Windows ATP - dependency?"
Does the Allow Telemetry GPO setting affect the Windows ATP now known as Windows Defender for Endpoint?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 893c364e-fcf4-8667-17d7-f9a3ec71e1a9
* Version Independent ID: f98f8870-d594-f5df-f6b6-44c9806db7d8
* Content: [Configure Windows diagnostic data in your organization (W

[2020-10-08 13:41] josuvil opened #8429 "Device Inventory"
Hello, just to let you know that this document refers to a Device List, but the navigation and page now shows Device Inventory. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18da4497-3712-ac71-4643-5e49b531716a
* Version Independent ID: e46cd2be-d129-2255-4be1-4567911a3d12
* Content: [View and organize the

[2020-10-08 13:47] illfated commented on #5620
- Document history: https://github.com/MicrosoftDocs/windows-itpro-docs/commits/public/windows/deployment/update/waas-delivery-optimization-setup.md
- Most recent commit as of now: https://github.com/MicrosoftDocs/windows-itpro-docs/commit/b0e6671ccc3b523ce436b631830e781f70645ec5 (Pull Request #8281)
- Specific commit resolving this issue ticket: https://github.com/MicrosoftDocs/windows-itpro-docs

[2020-10-08 14:10] nam31 commented on #4118
@codaamok Seems like details related to 1903 has already been updated here: https://docs.microsoft.com/en-us/windows/application-management/apps-in-windows-10#feedback

Please check and feel free to contact if you will still have any question.

[2020-10-08 14:10] #4118 closed

[2020-10-08 14:18] nam31 commented on #4025
I guess as per last conversations we are good to close this issue now. Correct @tecxx @beerisgood

[2020-10-08 14:20] nam31 commented on #1894
As per last conversations, it seems like we are good to close this issue.  @ManikaDhiman  Thank you!

[2020-10-08 14:20] #1894 closed

[2020-10-08 14:55] beerisgood commented on #4025
Yeah everything is written, also thanks for the great help.
Now this research should be used in DG_Readiness_Tool too

[2020-10-08 15:18] poortom1004 opened #8431 "Incorrect information for Server Operators"
https://docs.microsoft.com/en-us/windows/security/identity-protection/access-control/active-directory-security-groups#server-operators
The first sentence is not correct. "Members in the Server Operators group can administer domain servers."  It should state domain controllers instead of domain servers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-10-08 16:07] RobG-MSFT opened #8432 "Seem to be missing audit events"
Hey guys,

So I have a customer asking about event ID 5379; which apparently is a new audit event starting with Windows Server 2019, and does not show up on the site.

We are looking for information about this audit event.  Things like the actual event and what it shows for in the event.  How do you go about enabling this audit event with Advanced Audit Policy.  Like what needs to be configured fo

[2020-10-08 16:29] nam31 commented on #4025
Thank you

[2020-10-08 16:29] #4025 closed

[2020-10-08 16:37] tecxx commented on #4025
not sure i understand - the documentation still does not mention Enterprise SKU as a requirement (https://docs.microsoft.com/en-us/windows/security/identity-protection/credential-guard/credential-guard-requirements) ?

[2020-10-08 16:39] tecxx commented on #4025
and this documentation still is unclear as well:
https://docs.microsoft.com/en-us/windows/security/identity-protection/credential-guard/credential-guard-manage
![image](https://user-images.githubusercontent.com/4305825/95488157-7d2fe500-0995-11eb-85b3-22f9944d9cb2.png)

"Windows 10 >=1909" suggests any SKU works, which is not correct.

[2020-10-08 16:46] tecxx commented on #4025
@nam31 don't get me wrong but why all this effort to test, and open tickets with MSRC, and stuff - when then the documentation is not updated accordingly. can you please reopen and have this changed for good?

[2020-10-08 18:40] Wartz opened #8433 "Automatic MDM enrollment guide no longer accurate. Settings have been moved to the Intune portal"
This document is no longer applicable since the Intune app has moved to its own portal. For example, configuring the MDM user scope is now done in the Intune Portal instead of the Azure portal.

https://endpoint.microsoft.com/#blade/Microsoft_Intune_DeviceSettings/DevicesEnrollmentMenu/windowsEnrollment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-10-08 23:30] greg-lindsay commented on #6945
Re-opening issue until we can get the root cause figured out and documented.

[2020-10-09 04:50] MaratMussabekov commented on #6860
Hello @icelava ,
the admx file will be changed, please see the response from Microsoft representative in #8406.
Thank you

[2020-10-09 08:32] Sumitdhiman commented on #6945
Sigverify results:
https://drive.google.com/file/d/19b5qDb25IA6_a7HwmTuOOL78JKfPSKrh/view

Text file:
https://drive.google.com/file/d/1pOdP78eFikECPsL075HjX_2TuEd-YZ27/view?usp=sharing

[2020-10-09 08:51] greg-lindsay commented on #6945
You need to check the status of C:\WINDOWS\system32\CatRoot\{F750E6C3-38EE-11D1-85E5-00C04FC295EE}\Microsoft-Windows-Client-Desktop-Required-Package01~31bf3856ad364e35~amd64~~10.0.19041.508.cat

See below.  This driver should be signed.

C:\Sigcheck> .\sigcheck -i c:\windows\system32\drivers\umdf\rdpidd.dll

Sigcheck v2.80 - File version and signature viewer
Copyright (C) 2004-2020 Mark Russinovic

[2020-10-09 09:06] BigIve opened #8434 "Incorrect error code"
HI, I was just trying the test malware file on this page.  It was successfully blocked by defender, however, the event ID didn't match the documentation.

The event logs showed an Event ID of **1116**, **NOT 2050** as indicated on the page.  Infact the 2050 code isn't even mentioned on the page that the link takes you to.

Just thought you'd like to know.
---
#### Document Details

⚠ *Do not edit

[2020-10-09 09:10] greg-lindsay commented on #6945
Looks like your catalog might have a slightly different version number than mine

`2020-09-23 18:58:54, Info                  MIG    Excluding OS catalog based on name match: C:\Windows\System32\CatRoot\{F750E6C3-38EE-11D1-85E5-00C04FC295EE}\Microsoft-Windows-Client-Desktop-Required-Package01~31bf3856ad364e35~amd64~it-IT~10.0.18362.1016.cat
2020-09-23 18:58:54, Info                  MIG    Excludi

[2020-10-09 09:12] greg-lindsay commented on #6945
If possible, examine a system that is running the same version of Windows 10 and see what the name of that catalog is.  Use the  .\sigcheck -i c:\windows\system32\drivers\umdf\rdpidd.dll command shown above.

[2020-10-09 09:30] lindspea commented on #6909
@ssccaavvookk I found another link - please let me know what you think - https://docs.microsoft.com/powershell/module/applocker/new-applockerpolicy?view=win10-ps

[2020-10-09 09:33] lindspea commented on #6877
@denisebmsft @Dansimp please could you assist.

[2020-10-09 09:45] Sumitdhiman commented on #6945
The catalog name is as follows from my 1909 VM, essentially what OP is using:

 C:\Windows\system32\CatRoot\{F750E6C3-38EE-11D1-85E5-00C04FC295EE}\Microsoft-Windows-Client-Desktop-Required-Package01~31bf3856ad364e35~x86~~10.0.18362.900.cat

It is possible that some program may have replaced it with an unsigned version, right?

The problem is I can't supply my file as mine is an X86 architecture OS

[2020-10-09 13:17] illfated commented on #4025
Thank you for doing all the work to prove that only Enterprise & Education is covered by Credential Guard. I will open a Pull Request to have that text changed accordingly.

Please suggest additional changes or additional sections in need of this detail, besides the "Applies to" section.

[2020-10-09 13:43] illfated commented on #4025
Feel free to comment & add suggestions for further improvements in my pull requests #8435 & #8436 .

[2020-10-09 14:33] #6860 closed

[2020-10-09 15:20] nam31 commented on #5445
@amirsc3 Please let us know if you still have any question regarding the issue you have raised initially.

[2020-10-09 15:20] #5445 closed

[2020-10-09 15:21] nam31 commented on #5508
@MVDB1984 Please let us know if you still have any question regarding the issue you have raised initially.

[2020-10-09 15:21] #5508 closed

[2020-10-09 15:25] nam31 commented on #1631
@JeffreyWFox Please let us know if you still have any question regarding the issue you have raised initially.

[2020-10-09 15:25] #1631 closed

[2020-10-09 15:28] nam31 commented on #1629
@ericyew Please let us know if you still have any question regarding the issue you have raised initially.

[2020-10-09 15:28] #1629 closed

[2020-10-09 15:31] nam31 commented on #1605
@onefanfare The article [https://docs.microsoft.com/en-us/windows/configuration/guidelines-for-assigned-access-app#guidelines-for-web-browsers](url) has been updated with a note
"Kiosk Browser supports a single tab. If a website has links that open a new tab, those links will not work with Kiosk Browser. Kiosk Browser does not support .pdfs."
Please let us know if you still have any question regar

[2020-10-09 15:32] #1605 closed

[2020-10-09 15:39] nam31 commented on #1338
@joaovitoriasilva  Please let us know if you still have any question regarding the issue you have raised initially.

[2020-10-09 15:39] #1338 closed

[2020-10-09 15:41] nam31 commented on #1299
@terencengan Please let us know if you still have any question regarding the issue you have raised initially.

[2020-10-09 15:41] #1299 closed

[2020-10-09 15:43] nam31 commented on #1193
@FormulaAT Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)

Thank you.

[2020-10-09 15:46] nam31 commented on #896
@j4v4g33k Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)

Thank you.

[2020-10-09 15:46] #896 closed

[2020-10-09 15:49] greg-lindsay commented on #6945
Thanks, please let me know how it turns out.  FYI, I edited your comment above slightly. It turns out that some special characters in the file name don't display quite right on this page unless you use 'code' quotes.

[2020-10-09 15:51] nam31 commented on #875
@domcote the article has been updated. Please let us know if you still have any question regarding the issue you have raised initially.

[2020-10-09 15:51] #875 closed

[2020-10-09 15:54] nam31 commented on #843
@Tdiwestyguy the article has been updated. Please let us know if you still have any question regarding the issue you have raised initially.

[2020-10-09 15:54] #843 closed

[2020-10-09 16:53] nam31 commented on #6944
@jecarlsen We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.

Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.

Thank you for providing feedback.

[2020-10-09 16:53] #6944 closed

[2020-10-09 16:55] illfated commented on #5445
(As referenced above, see PR #6207 , commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/4c7c6dc8adb4432fd984ebaba44c8b63d20ef100 , for details on the correction.)

[2020-10-09 17:32] greg-lindsay commented on #6945
I was hopeful that this would be our issue, but after looking at this DLL on one of my own VMs the results are confusing.  Sigverif says that the DLL is unsigned, but sigcheck says it is signed.  I think that it is really signed, and sigverif is reporting incorrect results. If I look at DXDIAG, I see "WHQL Logo'd: Yes" which means it is signed.

I think we are going to have to look somewhere else

[2020-10-09 17:52] Crab0n opened #8437 "Inaccurate Info in Defender Network Protection Audit Mode Description"
[Enter feedback here]
I believe there is a typo in the description of Network Protection Audit Mode:
"Audit Mode - If a user visits a malicious IP address or domain, an event **won't** be recorded in the Windows event log."

Think it should say will

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71868539-63d8-b250-f9d4

[2020-10-09 19:11] nam31 commented on #6693
@Mr-nUUb   Please look into this Document :  https://docs.microsoft.com/en-us/windows/security/information-protection/kernel-dma-protection-for-thunderbolt#frequently-asked-questions

Please let us know if you still have any question regarding the issue you have raised initially.

[2020-10-09 19:11] #6693 closed

[2020-10-09 22:10] illfated commented on #6620
@Reeced40 : if you look at the file history or blame view, you will notice that only 2 updates were made to this document since the ticket got opened:
- `[!INCLUDE Microsoft 365 Defender rebranding]` (the 'important' light blue note blob before "Applies to" at the top of the page)
- `machine -> device` / `Machine -> Device` (2 words changed in an unrelated sentence)

File history & blame view sour

[2020-10-09 22:34] kagillig opened #8438 "Security/RequireDeviceEncryption is not supported on HoloLens 2"
The following page lists that Security/RequireDeviceEncryption is supported on HoloLens 2 devices but it is not so it should be removed from the list: https://docs.microsoft.com/en-us/windows/client-management/mdm/policies-in-policy-csp-supported-by-hololens2. Thanks!

[2020-10-10 01:17] stevenoneill opened #8439 "EDR is unavailable for Linux, please advise."
EDR is unavailable for Linux, please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0cd332f-6f82-3ea4-c12e-b6e5cb5a1f42
* Version Independent ID: 45e9d876-3d16-7698-620c-5af21e24dc32
* Content: [Migrate from Symantec to Microsoft Defender for Endpoint - Windows security](https://docs.microsoft.com/en-us/window

[2020-10-10 01:19] stevenoneill commented on #6723
Yes, because even with setting this to true, EDR does not appear to be enabled on Linux.  ATP is generally available, but does not appear to have all features available on all platforms just yet.  This needs to be made more clear.

[2020-10-10 13:02] RAJU2529 commented on #8434
@BigIve . Will you post the screenshot , so that the experts will analyze the issue.

[2020-10-10 13:03] RAJU2529 commented on #8439
@stevenoneill . if possible will you post the screenshot, so that experts I'll analyze the issue

[2020-10-10 13:06] RAJU2529 commented on #8429
@josuvil .I checked article now, no  changes.
If possible , post screenshots mark error as yellow.

[2020-10-10 13:09] RAJU2529 commented on #8425
@kennethvs . I think Professional , education and enterprise editions are supported

[2020-10-10 14:29] josuvil commented on #8429
Sure. On the document, you show “Devices List” on the navigation page. You also show “Devices list” snippet. However, the product shows “Devices Inventory” now.

From document:

[cid:image001.png@01D69EF0.0CB5A9A0]

From the product: https://securitycenter.windows.com/machines

[cid:image002.png@01D69EF0.0CB5A9A0]

From: VARADHARAJAN K <notifications@github.com>
Sent: Saturday, October 10, 2020 9:

[2020-10-10 14:59] RAJU2529 commented on #8429
@josuvil . There is no screenshot.

[2020-10-10 15:03] josuvil commented on #8429
![document snippet](https://user-images.githubusercontent.com/28968872/95658407-271f8680-0ae8-11eb-8600-919fd5e78a2c.png)
![portal-snippet](https://user-images.githubusercontent.com/28968872/95658413-2edf2b00-0ae8-11eb-9866-07be42f7e77b.png)

[2020-10-10 15:45] stevenoneill commented on #8439
Thanks for the reply @RAJU2529.  Here is a screenshot showing that the app_version is 101.10.34 from the InsiderFast relaese ring, edr early preview is enabled, but there is NO edr_configuration_version.

![image](https://user-images.githubusercontent.com/15053495/95659072-ad3dcc00-0aec-11eb-814d-3137dbb4048a.png)

Additionally, by what I am seeing in /var/log/microsoft/mdatp log files, all indica

[2020-10-10 17:34] RAJU2529 commented on #8439
@stevenoneill , Sorry i am not an expert in this case, because I have no idea in LINUX OS, so wait for few days. Linux expert users will give solutions

[2020-10-10 20:51] illfated commented on #8425
@kennethvs : https://www.microsoft.com/en-us/windowsforbusiness/compare is correct, Windows 10 Home is not supported.

Which part of the referenced MS Docs page causes confusion in this regard? The "**Applies to:**" section?

Please note that unless specified, the Microsoft Docs pages for Windows 10 are specifically targeting IT Pros, as showcased here:
- https://docs.microsoft.com/en-us/windows/w

[2020-10-10 20:53] illfated commented on #8425
Please also note that the majority of the pages are intended for Enterprise use, so there are cases where not even Windows 10 Pro is supported.

[2020-10-10 23:52] ringoz commented on #3997
Hey, nice config!
What motherboard have you installed?

[2020-10-11 01:54] sylveon commented on #3997
Getting offtopic but https://ca.pcpartpicker.com/user/sylve0n/saved/WWHqkL

[2020-10-11 09:03] Mr-nUUb commented on #6693
@nam31 This does not answer my question at all. My question was: everywhere you mention Intel, what about AMD? AMD does support similar virtualization technologies, so what's the status there? Do you plan on supporting AMD-Vi like you support Intel VT-d? The document you mentioned was not reworked to include this information. You know, Thunderbolt is now supported on AMD, too...

[2020-10-11 09:06] Mr-nUUb opened #8444 "Status of kernel DMA protection on AMD platforms"
My question #6693 was not answered at all.
Everywhere you mention Intel, what about AMD? AMD does support similar virtualization technologies, so what's the status there? Do you plan on supporting AMD-Vi like you support Intel VT-d? The document you mentioned was not reworked to include this information. You know, Thunderbolt is now supported on AMD, too...

---
#### Document Details

⚠ *Do not ed

[2020-10-11 11:51] dltmurphy opened #8445 "Comparison PDF Link Broken"
The link for the Comparison PDF under licensing leads to https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RE2PBG7 which gives the below error:

`{"Code":"DocumentGone","Message":"StorageDocumentNotFoundException : Document with id 'RE2PBG7', tenant 'am' is now gone (i.e. the document probably expired and thus no longer available).","Resource":null}`

---
#### Document Details

⚠ *Do not e

[2020-10-11 14:48] joinimran commented on #7922
Hello @SwiftOnSecurity - Thank you for your feedback here. Please note that are just examples that Microsoft shared. These are not recommended and you can use based on your company's internal policy.

Thanks.
Imran.

[2020-10-11 15:44] joinimran commented on #7906
Hello @breakpoint7 - Thank you for your query. Please note this functionality is not available but you can ask for this by raising your voice using Microsoft User Voice Channel for Windows 10.

Thanks
Imran.

[2020-10-11 18:15] illfated commented on #7906
@e0i : Do you have any useful links to the User Voice page for the ticket author in this case?

[2020-10-12 01:00] RAJU2529 commented on #8445
@dltmurphy . Thanks for reporting here . I will fix today .

[2020-10-12 04:22] Sumitdhiman commented on #6945
Unfortunately, disabling the generic PNP monitor did not help, so we are back to square one. After disabling it, there are no unsigned drivers listed. The same error code 1900101-40017 is reported. I wouldn't have bothered with the case but as there are many users hitting the same error, it would be a great help if we can identify the root cause.

New logs:

[https://drive.google.com/file/d/1rO4f3

[2020-10-12 05:26] RAJU2529 commented on #8445
@dltmurphy here t
[Windows10_CommercialEdition_Comparison.zip](https://github.com/MicrosoftDocs/windows-itpro-docs/files/5363063/Windows10_CommercialEdition_Comparison.zip)
he comparison table

[2020-10-12 07:34] VLG17 commented on #6429
@CXMelga Although not an official MS article, [this blog](https://www.harmj0y.net/blog/redteaming/kerberoasting-revisited/) describes the behaviour quite well.

According to MS-KILE 3.1.1.5 the default value for this field is 0x1C (RC4_HMAC_MD5 | AES128_CTS_HMAC_SHA1_96 | AES256_CTS_HMAC_SHA1_96 = 28) for Windows 7+ and Server 2008R2+. **This is why service tickets for machines nearly always use A

[2020-10-12 07:53] VLG17 commented on #6564
@j3atuhan The prerequisite for using the entire feature-set of attack surface reduction rules is a valid Windows 10 Enterprise license. Not E3 or E5.

E5 will give you on top of that advanced management capabilities, which you don't get with E3 (although you can still use Event Viewer to review attack surface reduction rule events).

So you being able to enable rules with an E3 licese in perfectly

[2020-10-12 08:29] VLG17 commented on #6545
@holoholo808 Could you help with a few details so i understand this issue better?

What UAC message? Could you share a printscreen?

What does it mean that it worked? You did not get the UAC pop-up when changing the network location from public to private?

What do you mean with it doesn't work? Althoug you set the network location via policy, it does not stick, or what?

Thanks in advance for pro

[2020-10-12 12:47] lindspea commented on #6073
@apizz Thank you for reaching out. I've been assigned this issue and will be looking into it. On a quick glace I see the article has been updated at the end of September. Please let me know if the information is still missing and if you still need assistance.

[2020-10-12 12:56] lindspea commented on #5868
@rohitgaikwad09 thank you for reaching out. Please have a look at this article I found regarding - https://docs.microsoft.com/windows/security/threat-protection/security-policy-settings/domain-controller-ldap-server-signing-requirements

[2020-10-12 13:06] lindspea commented on #5131
@MikhailCompo thank you for reaching out. Please have a look at this link and let me know if you think I should add it to the article to help other users as well - https://docs.microsoft.com/microsoft-desktop-optimization-pack/dart-v10/

[2020-10-12 13:29] #8027 closed

[2020-10-12 13:47] e0i commented on #7181
@mjcaparas Would you be able to help us identify the rest of the missing event IDs? We’d like to come up with revisions accordingly. Thank you.

[2020-10-12 13:51] e0i commented on #8030
@ManikaDhiman Can we confirm whether the above configuration paths are no longer reserved for future use? We’d like to revise the article accordingly. Thank you.

[2020-10-12 14:21] apizz commented on #6073
@lindspea it's just not totally clear what the possible values are.  The Intune example profile does lead in the right direction, but I'd like to see this documentation be more in line with the Edge enterprise docs where each listed preference has it's own example XML portion rather than having to a single big example at the bottom for admins to parse through.

[code]

[2020-10-12 14:30] apizz commented on #6073
It's also not clear if there were more than one item how this should be formatted, as there's only 1 example.  Should it be something like:

[code]

OR

[code]

Either, I don't understand the design logic behind having separate key/value pairs for defining the key and value in separate keys.  It would be a lot simpler to have something like:

[code]

[2020-10-12 14:32] rustymyers commented on #6073
I don't think multiple tags are supported at this time, but that the later format with an array would be my preference for groups.

[2020-10-12 14:36] apizz commented on #6073
And if it is the latter format with keys and values within a dictionary, why is the `tags` key an array?  An dictionary within an array as it is now would assume that you would specify multiple dictionaries for different items.  But again, if the formatting is simplified to just use the below for separate items, then the need to have this be an array goes away:

So this:
[code]

Could become this:

[2020-10-12 14:42] e0i commented on #7906
Hello, Feedback can be provided via the following channel,

[Send feedback to Microsoft with the Feedback Hub app](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub)

Thank you.

[2020-10-12 14:42] #7906 closed

[2020-10-12 15:15] RAJU2529 commented on #8444
@Mr-nUUb . We must verify detailedly before editing this article for support of AMD processors.
Also in AMD official website , there is no detailed technical specifications of each processors. But intel have seperate website to read all specifications from available data sheets.

[2020-10-12 15:24] joinimran commented on #8238
Hello @lightupdifire , Thank you for your feedback but it looks like that this is not available in WIP. I would recommend you to add your request using User Voice Channel.

@e0i - Please guide the user to add a request using the User Voice Channel.

Thanks.
Imran.

[2020-10-12 15:36] nam31 commented on #6966
@ITOpsReborn Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)

Thank you.

[2020-10-12 15:36] #6966 closed

[2020-10-12 16:02] nam31 commented on #7006
@RAJU2529  Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have made

[2020-10-12 16:02] #7006 closed

[2020-10-12 16:17] nam31 commented on #6734
@denisebmsft can you please help here?

[2020-10-12 16:21] nam31 commented on #6672
@jaimeo can you please help?

[2020-10-12 16:28] nam31 commented on #6635
@AntoineJo Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have made

[2020-10-12 16:28] #6635 closed

[2020-10-12 16:34] jaimeo commented on #6672
I'll work with @arcarley (a colleague) directly on this.

[2020-10-12 17:00] nam31 commented on #5965
@DeanGross The article has been updated.
The issue is being closed since your question seems to be answered. Feel free reach out again if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2020-10-12 17:00] #5965 closed

[2020-10-12 17:26] greg-lindsay commented on #6945
Any update?

[2020-10-12 17:29] greg-lindsay commented on #6945
The links above seem to be bad.  They don't match the text. I'll try copying the text instead of using the link.

[2020-10-12 18:00] joinimran commented on #8248
Hello @write4joy - Can you please confirm which document you are talking about. The current document doesn't says that Linux is in public preview.

Thanks.
Imran.

[2020-10-12 18:04] joinimran commented on #8284
@CHDAFNI-MSFT - Thank you for your feedback. Can you please confirm which portion of the document needs to be removed or updated or a note should be added.

Thanks.
Imran.

[2020-10-12 18:07] joinimran commented on #8285
Hello @DanEhrlich - Thank you for your query. Please note that it is not possible to get more than 10000 machines on a page. See List machine API limits and other details at https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/get-machines

Thanks.
Imran.

[2020-10-12 18:15] greg-lindsay commented on #6945
These both look to be the same log file (from panther).  Can you upload setupact.log from panther and rollback?

[2020-10-12 18:16] DanEhrlich commented on #8285
Imran,

I understand that the page size is 10000.  It also implies I should be able to retrieve subsequent pages.  My question is how to get pages after the first one.

Thanks,
Dan

[2020-10-12 18:25] #5726 closed

[2020-10-12 18:43] bradrush opened #8451 "Intune section is out of date"
Hi there, the section that suggests how to instigate a scan from Intune is out of date since the Intune portal has now become Endpoint Protection manager. I am quite keen to know how to do the same from the new portal so await the update.

Thanks very much

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f555df5-133e-94

[2020-10-12 18:43] MikhailCompo commented on #5131
It's been a year, I have no idea what this is about any longer. Please
resend the link to the article I was querying.

On Mon, 12 Oct 2020, 2:06 pm Lindsay, <notifications@github.com> wrote:

[2020-10-12 20:08] illfated commented on #8445
Ref. commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/4a8312bab19419e5f6c59fbbbba1c0b8317ecc1b . This ticket is now resolved and can be closed.

[2020-10-12 20:33] e0i commented on #8238
Hello, @lightupdifire

In an independent contributor’s investigation, it has been found that the features that you have mentioned are not available.

Please consider sending your input via the Feedback Hub so that it gets addressed via the proper channels:

[Send feedback to Microsoft with the Feedback Hub app](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-

[2020-10-12 20:33] #8238 closed

[2020-10-12 20:44] e0i commented on #8330
@baardhermansen The content has been updated by **SteveDiAcetis** via the commits from https://github.com/MicrosoftDocs/windows-itpro-docs/commit/97f7c1fe51e07772d2e3a3d1f714e6d10a042892#diff-1370a21e394a60ac9da84dac81124271 onward. Thank you, as always for your feedback.

[2020-10-12 20:44] #8330 closed

[2020-10-12 20:49] e0i commented on #8301
Closing as it has been found that no revisions need to be provided to the documentation. Thank you.

[2020-10-12 20:49] #8301 closed

[2020-10-12 21:02] e0i commented on #8209
Hello, This issue has been assigned to an independent contributor and in progress. Thank you for following up.

[2020-10-12 21:06] e0i commented on #8370
This issue has been addressed via merged PR #8372 by a community contributor, Thank you @andrePKI , and @RAJU2529 .

[2020-10-12 21:06] #8370 closed

[2020-10-12 21:07] e0i commented on #8354
Closing via merged PR #8356. Thank you.

[2020-10-12 21:07] #8354 closed

[2020-10-12 21:16] e0i commented on #8445
The broken link has been replaced via PR #8446. Thank you.

[2020-10-12 21:16] #8445 closed

[2020-10-12 21:32] CHDAFNI-MSFT commented on #8284
@joinimran - I believe this section [https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-feature-pin-reset#configure-windows-devices-to-use-pin-reset-using-microsoft-intune](url) can be removed or altered. It states to create a 'custom device policy' in order to utilize the PIN reset (recovery) feature, however according to the screenshot - this is now po

[2020-10-13 06:28] lindspea commented on #5131
@MikhailCompo https://github.com/MicrosoftDocs/windows-itpro-docs/issues/5131

[2020-10-13 06:29] andrePKI opened #8452 "Confusing text"
This text “ You can configure the password policy settings in the following location by using the Group Policy Management Console:
Computer Configuration\Windows Settings\Security Settings\Account Policies\Password Policy
If individual groups require distinct password policies, these groups should be separated into another domain or forest, based on additional requirements.” is confusing, because

[2020-10-13 06:37] andrePKI opened #8453 "Do not expore passwords?"
According to this (summary, item 3): https://www.microsoft.com/en-us/research/wp-content/uploads/2016/06/Microsoft_Password_Guidance-1.pdf
Microsoft recommends since 2016(!) to not expire password.
Best practice as decribed here is in contradiction to that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed5f0d1b-bfbb-c

[2020-10-13 07:56] fnifni commented on #8408
I'm providing feedback based on the results of a successful operation so that people using this document are not confused.
If my feedback is different from the purpose of this Github repository, then please close this ticket.
I will keep these bad knowns to share internally.

[2020-10-13 09:45] e0i commented on #8344
Hello @deavisdude

The issue is being closed since your question seems to be answered by the community.

Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2020-10-13 09:45] #8344 closed

[2020-10-13 09:48] e0i commented on #8347
Hello, @RowdyChildren Thank you for the heads up and going through PG for confirmation. An independent contributor is going to revise the article accordingly based on your suggestion.

[2020-10-13 09:58] e0i commented on #8357
The author of this article group, **jaimeo** has checked with the SME to find out whether the scripts are to be hosted at Script Center or the Powershell Gallery. He has mentioned that,

https://github.com/MicrosoftDocs/windows-itpro-docs/pull/8358#issuecomment-700869107

Closing the issue based on the author’s response above.

Thank you for the discussion.

[2020-10-13 09:58] #8357 closed

[2020-10-13 12:44] MilanKrocek opened #8454 "Wrong (old one) term of channel"
Hello, I see term "LTSB" it should be "LTSC" am I right?

Thanks.

MK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad58ab5a-035d-569f-5849-f29ee7eaf72b
* Version Independent ID: 74c7578e-fb9e-76f0-bfa7-81d51dfbebfb
* Content: [Prepare servicing strategy for Windows 10 updates (Windows 10) - Windows Deployment](https:

[2020-10-13 15:41] lindspea commented on #6073
@Dansimp please could you assist here.

[2020-10-13 16:14] greg-lindsay commented on #6945
Ping

[2020-10-13 16:20] RAJU2529 commented on #8454
@MilanKrocek . Yes . What you said is  correct. Thanks for pointing out .
I am fixing the error.

[2020-10-13 16:51] joinimran commented on #8285
@mjcaparas - Do you have any info that can help to answer @DanEhrlich query. I couldn't find it anywhere on the docs or on the web.

Imran.

[2020-10-13 16:53] joinimran commented on #8252
@marckerr - Can you please confirm what resolved the issues? What changes should be made in the document to reflecting the correct information?

Thanks
Imran.

[2020-10-13 17:01] illfated commented on #8408
Fair enough, thank you for providing a clarification.

Are there any obvious mistakes in the Japanese translation, so we can point out any errors to the translation team?

I don't know, I do not know how to read kanji, so it will be helpful if you can point out any errors in the machine translated document.

[2020-10-13 17:04] stevenoneill-jmfamily opened #8458 "Conflict of advice?"
The advice regarding passive mode on this page appears to directly conflict with the advice on a linked page here:
https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-antivirus/microsoft-defender-antivirus-compatibility#fn1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8aca66a-5a8b-

[2020-10-13 17:04] joinimran commented on #8255
@vboyev-MSFT - I think we have covered this part in document Q&A section here at https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/edr-in-block-mode#will-edr-in-block-mode-have-any-impact-on-a-users-antivirus-protection

So the statement "No. EDR in block mode does not affect third-party antivirus protection running on users' devices. EDR in block mode kick

[2020-10-13 18:50] mjcaparas commented on #8285
@DanEhrlich

I checked with our team and here's the response:

API supports OData queries.
You can skip 10k results to get the 2nd page, skip 20k results to get the 3rd page, etc..
The skip syntax work like that: {base url}/api/machines?$skip=10000

[2020-10-13 18:50] #8285 closed

[2020-10-13 20:45] illfated commented on #8454
See PR #8456 for the initialism correction.

[2020-10-14 02:12] BigIve commented on #8434
Sure,
![image](https://user-images.githubusercontent.com/22046653/95935379-d331dc00-0e1e-11eb-9553-0309fb894ea1.png)
This is what showed up in my event log.

[2020-10-14 05:15] joinimran commented on #8259
Hello @gonz-kelv - You are right. I have updated the example and created a PR. This will be reflected soon in the document.

Thanks.
Imran.

[2020-10-14 05:27] Eddddeee opened #8460 "Wrong section"
![image](https://user-images.githubusercontent.com/56706640/95947139-8ea74000-0e20-11eb-8e23-76702a8ebf47.png)

The highlight words is not only for "Choose how BitLocker-protected removable drives can be recovered" but for above 3 policies. These words should be in an new line. For example,

![image](https://user-images.githubusercontent.com/56706640/95947327-eba2f600-0e20-11eb-81d2-b9032ed30dd8.p

[2020-10-14 13:57] VLG17 commented on #6074
@goxia Could you please share exactly what your script is doing? Installing and configuring a certai Windows app?

I think @MaratMussabekov already provided the answer, meaning that it may be extended past the OOBE and procesed in the background, meaning what you saw, that it did not hit the 30 minutes provisioning process timeout.

[2020-10-14 15:50] greg-lindsay commented on #6945
@Sumitdhiman are you there?

[2020-10-14 16:10] MilanKrocek opened #8461 "WMIDiag?"
Hello,

I have found WMIDiag (even download link doesn't exist) is no longer supported. Which Powershell script should be used to get more information?

Thanks.

MK

[2020-10-14 17:42] ayfukumo commented on #8421
Hi,

My colleague Kei makes record video regarding this issue.
Could you check video from below URL?
[​mp4 icon] https://microsoftapc.sharepoint.com/:v:/t/nagano/Edtho16_6oFCnIPjqY2sJ2kBLUdDb4TdPUayUpux5Bq0Sw?e=wyn5xh

Please let me know if you have any concerns or questions.

Cheers,
Ayumi

From: VARADHARAJAN K <notifications@github.com>
Sent: Thursday, October 8, 2020 8:51 AM
To: MicrosoftDocs/w

[2020-10-14 20:07] illfated commented on #8460
Fair point. Thank you for reporting that issue. I will post a Pull Request to have that text formatted properly.

[2020-10-14 20:39] illfated commented on #8460
There you go. Pull Request #8462 is ready for review.

[2020-10-15 00:57] andrewgiese opened #8463 "Group Policy tree has the wrong folder name for Security Intelligence Updates"
In the section regarding the Group Policy configurations for controlling Microsoft Defender updates, step 4 states that the policies are under **Windows components > Microsoft Defender Antivirus > Signature Updates**. However, when referring to this documentation in helping a customer, I discovered that the Signature Updates folder does not exist and instead it should refer to Security Intelligenc

[2020-10-15 02:34] RAJU2529 commented on #8463
@andrewgiese , thanks for pointing out. I am fixing now

[2020-10-15 02:44] RAJU2529 commented on #8461
@MilanKrocek  here is the tool
[WMIDiag.zip](https://github.com/MicrosoftDocs/windows-itpro-docs/files/5382128/WMIDiag.zip)

[2020-10-15 02:52] Sumitdhiman commented on #6945
Sorry for the delayed response Greg. The OP replied yesterday that he ended up doing a reinstall. While I was closing this, I have another case of 40017.

[https://www.dropbox.com/s/sjx1dcjh6qayukt/logs_1.zip?dl=0](url)

Interesting in this case: OP attached a KernelAct.log which indicates some read errors of Windows folder. Setupdiag as usual, reports service suspended issue like before.

`Error:

[2020-10-15 04:02] goxia commented on #6074
Yes, I install applications at this stage, such as antivirus software, Windows Update patches. The actual installation time was more than 30 minutes without any timeout or abnormal interruption.

[2020-10-15 04:39] ayfukumo commented on #8421
Hi,

Could you tell me where is data store for our recorded video?
I tried to compressed but it exceeded to GitHub's limitation.

Cheers,
Ayumi

[2020-10-15 05:18] RAJU2529 commented on #8421
@ayfukumo . upload the recorded video  to Google drive or one drive and share the link, then paste the link here.
or else upload in YouTube, paste the link

[2020-10-15 05:29] ayfukumo commented on #8421
https://1drv.ms/u/s!AgFD4Gly0bpLgbBsnPbhySt6RovwZw?e=J28bvt

Could you download video from above link?

[2020-10-15 07:40] VLG17 commented on #6074
@goxia

So you found yourself in **the scenario** identified by @MaratMussabekov, correct? In that case it's normal that you don't see the timeout.

[2020-10-15 08:09] pinguon commented on #8304
hi

https://docs.microsoft.com/de-de/windows/security/threat-protection/microsoft-defender-atp/enable-network-protection
is nothing about this new? feature: AllowNetworkProtectionOnWinServer

[2020-10-15 08:13] MilanKrocek commented on #8461
Thank you.

MK

[2020-10-15 08:13] #8461 closed

[2020-10-15 08:52] Sumitdhiman commented on #6945
FBH link below:

[](https://aka.ms/AA9ykt5)

[2020-10-15 08:56] Reeced40 commented on #6693
@Mr-nUUb thank you for clearing this up. Please see this article where it confirms AMD support.  https://docs.microsoft.com/windows-hardware/design/device-experiences/oem-kernel-dma-protection

[2020-10-15 16:10] nam31 commented on #6376
Closing via merged PR #8415 . Thank you.

[2020-10-15 16:10] #6376 closed

[2020-10-15 16:15] nam31 commented on #5345
Closing via merged PR #8447.  Thank you.

[2020-10-15 16:15] #5345 closed

[2020-10-15 17:03] joinimran commented on #8263
Hello @ghost - Thank you for your feedback. As I have reviewed the document and found that TicketsFlasgs related information is already available in the document.

![image](https://user-images.githubusercontent.com/47118050/96162679-424c2500-0f32-11eb-823a-87c97a25cc27.png)

Thanks.
Imran.

[2020-10-15 17:06] wbxshiori opened #8467 "On this zh-tw page, a sentense misused a zh-cn character"
The zh-tw variant of the page contains a "于" in sentence "僅適用于下列裝置：", where it should be "於". "于" here is the way zh-cn uses.  In zh-tw, "于" is barely used except in surnames.

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 5b42e708-e334-d434-bcc9-e1860ebb36b3
* Version Independent ID: 92e251c5-8613-ce97-9569-02404c9a466a
* Content: [建立及管理裝置標記 - Windows security](htt

[2020-10-15 19:38] greg-lindsay commented on #6945
The first step to fix this error code is to perform a clean boot. Have they tried that? Also remove 3rd party antivirus or encryption if it is being used.  This is also a common code when Citrix VDA is used - is that the case here?

[2020-10-15 20:06] illfated commented on #7896
Possibly https://docs.microsoft.com/powershell/module/msonline/connect-msolservice?view=azureadps-1.0

Other search results: https://www.bing.com/search?q=Connect-MsolService+site%3Amicrosoft.com

Any specific preferences to follow here, when choosing a replacement?

[2020-10-15 20:15] jeffreymcclain opened #8471 "Microsoft Intune hyperlink is broken"
In the [Deployment and Provisioning](https://docs.microsoft.com/en-us/windows/client-management/manage-windows-10-in-your-organization-modern-management#deployment-and-provisioning) section, the [Microsoft Intune](https://docs.microsoft.com/en-us/intune/understand-explore/introduction-to-microsoft-intune) hyperlink at the end of the first bullet point is broken.

It should probably be changed to a

[2020-10-15 20:17] RABurnettMCSE opened #8472 "Why Insider for a Generally Available product?"
So why enroll in Insider when mdtap edr is GA for MAC OSX?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c91a5cfb-d32d-3864-c1d5-aec39558f66f
* Version Independent ID: dbd2647e-88a6-ff22-4eab-ef628ac2e605
* Content: [Enable Microsoft Defender ATP Insider Device - Windows security](https://docs.microsoft.com/en-us/wind

[2020-10-15 20:49] zafodB opened #8473 "Broken link"
Link on top of page doesn't work (anymore?). Link underneath the title at the beginning of the article doesn't work. The link text is as follows:

`Microsoft Defender Advanced Threat Protection (Microsoft Defender ATP) `

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbabaf85-a345-a91e-f4e2-09c2b7871375
* Version Indep

[2020-10-15 21:09] greg-lindsay commented on #6945
I'm told that kernelact.log warnings are not fatal and won't cause a rollback.  However, you should check the System event logs. 40017 can occur due to a number of reasons so it's not extremely easy to troubleshoot.

[2020-10-16 00:43] ChizuruOkamoto opened #8474 "Wrong supported value for "Update/AutomaticMaintenanceWakeUp""
Wrong supported value for "Update/AutomaticMaintenanceWakeUp"

The supported value is True or False, but isn't it a mistake of 0 or 1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ca58bd-f279-7739-0140-c4bd56784768
* Version Independent ID: 1d2ecc90-58a3-6bcd-84ae-ef04d7a3b7b4
* Content: [Policy CSP - Update - Wind

[2020-10-16 03:22] RAJU2529 commented on #8473
@zafodB . Thanks for point out. I am fixing it now.

[2020-10-16 03:56] RAJU2529 commented on #8474
@ChizuruOkamoto , Wrong values are entered,  what you said is correct. i am fixing it now.

[2020-10-16 04:30] RAJU2529 commented on #8474
proof
![Uploading Capture.JPG…]()

[2020-10-16 05:29] joinimran commented on #8279
@levinec - Can you please coordinate with internal teams to see what content should be added in the document or internally Microsoft has any supported CPU related information that can be added in the document.

Thanks.
Imran.

[2020-10-16 06:18] joinimran commented on #8233
Hello @jackvdbuk - Thank you for your query. Please note that the document https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-application-control/applocker/test-and-update-an-applocker-policy can only be used when you are planning to deploy the App locker policy for the 1st time.

When you are editing or modify the policy, there are a few precautions that need to

[2020-10-16 06:25] RAJU2529 commented on #8279
@joinimran . we need form a team consists of  AMD based windows users and INTEL based windows users . And should coordinate with document team.  to tackle with all issues related for document

[2020-10-16 06:35] joinimran commented on #8279
I understand this @RAJU2529 - At Microsoft the internal development team may have all this info while releasing the product/feature. Keeping this in mind I have engaged the doc author to check with the dev team.

Thanks
Imran.

[2020-10-16 12:03] Sumitdhiman commented on #6945
Thanks. Yes, definitely not easy to troubleshoot 👍
I have asked for unsigned drivers report and System Event logs. Clean boot didn't help and Citrix VDA isn't applicable.

[2020-10-16 12:54] nam31 commented on #6548
@yogeshasalkar Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have

[2020-10-16 12:54] #6548 closed

[2020-10-16 14:33] felizondojr opened #8478 "Servicing Stack updates"
[Enter feedback here]
Can you add this blog: https://techcommunity.microsoft.com/t5/windows-it-pro-blog/simplifying-on-premises-deployment-of-servicing-stack-updates/ba-p/1646039

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b706f0af-d504-a8ca-7c38-b8bb9283bfad
* Version Independent ID: 14f31acf-9f47-59a6-269f-62ab249

[2020-10-16 14:56] felizondojr opened #8479 "Windows IT Pro Blog attach"
Can we add https://techcommunity.microsoft.com/t5/windows-it-pro-blog/bg-p/Windows10Blog to the reference section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcc8a7ec-75d7-894c-9499-cbb4c3807ea7
* Version Independent ID: a4c97095-7c09-1bff-690d-90c8cdeee6c2
* Content: [Get started with Windows Update - Windows Depl

[2020-10-16 16:43] dismembered3po opened #8480 "MDATP Evaluation Lab permissions"
Hello,

I'm the lead trainer for an MSSP, and I've been working to provide training to my teams.  As part of that, I would like to be able to leverage the built-in Evaluation Lab abs Simulations/Tutorials to get folks some hands-on experience with the platform.

According to the documentation ([https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/evaluation-la

[2020-10-16 16:59] mtwelve opened #8481 "Is there an intention to support macOS devices with Defender ATP installed?"
Is there an intention to support macOS devices with Defender ATP installed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 162e0510-f05e-14fb-486a-32173e3f8c8c
* Version Independent ID: ead06fb0-e149-32c9-99f2-78f3e51537ea
* Content: [Web protection - Windows security](https://docs.microsoft.com/en-us/windows/security/