[2020-04-16 17:39] #6512 closed

[2020-04-16 17:40] #6513 closed

[2020-04-16 18:05] illfated commented on #6453
While I don't know the specific answer to your question, since I am not a Microsoft employee and not familiar with all the details of Microsoft Defender ATP, I would still like to question your scenario if you expose a Windows Server 2016 or 2019 to the plethora of threats from personal browser usage on a server computer. Based on my general understanding of the server role, I would assume that th

[2020-04-16 18:30] DeanGross opened #6518 "What is meant by Work Protection"
Please provide a technical description of the type of protection that is meant by the phrase "the device enforces work protection for any file with the label". Is this encryption or something else? What happens when a General label is applied that does not require protection? Please provide additional details about what WIP does for the various Sensitivity Label settings.

---
#### Document Detail

[2020-04-16 18:30] ahmadgeo opened #6519 "Individual User login limit"
Please advice the status for Cached login attempts for individual user.

What I understand from the article is that a user can use his cached credentials to login as long as Domain Controller isn't available even for infinite count!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef720207-c5e6-182e-8a34-361244c45641
* V

[2020-04-16 18:42] #6486 closed

[2020-04-16 20:34] #6441 closed

[2020-04-16 23:41] azsec commented on #6283
@JakKAaj could you share what kind of test did you run? Note that MDATP for Linux is just under public preview and so far it only supports preventative capability for AV. It doesn't support an end-to-end EDR.

[2020-04-16 23:43] azsec commented on #6283
What a non-relevant answer and why was the issue closed? This question is about Linux test while you talked about Windows 10 product?

@denisebmsft  @mypil

[2020-04-16 23:51] #6488 closed

[2020-04-17 00:44] illfated commented on #6283
@JakKAaj @azsec : https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/minimum-requirements#other-supported-operating-systems

### Other supported operating systems
- macOSX
- Linux (currently, Microsoft Defender ATP is only available in the Public Preview Edition for Linux)

[2020-04-17 00:46] illfated commented on #6283
You may want to open a new issue ticket for each page where you are reasonably sure that it is important to have this Linux-related information replicated.

[2020-04-17 00:49] illfated commented on #6283
See also ticket #6430 (**Linux support is in preview**) and PR #6477 (**MDATP/Requirements: add Linux Public Preview notes**)

[2020-04-17 02:27] trevorl3124 commented on #6514
Thanks I’ll take care of it

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Trond B. Krokli <notifications@github.com>
Sent: Thursday, April 16, 2020 11:14 AM
To: MicrosoftDocs/windows-itpro-docs
Cc: trevorl3124; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] page file (#6514)

@trevorl3124<https://github.com/trevorl3124> : Unless you have a specific re

[2020-04-17 02:28] #6514 closed

[2020-04-17 04:01] bradrush opened #6521 "Is broken defender able to report in to ATP?"
In the case of defender being in an inoperable state due to scanning a file with two dots in the name or anything of that nature (https://www.techradar.com/news/microsoft-has-just-broken-windows-10s-antivirus-protection-apply-this-fix-straight-away) how would ATP be informed of the broken status since defender appears to be the communication mechanism? Does it have any other methods to report as a

[2020-04-17 04:34] yogeshasalkar opened #6522 "IMPORTANT: Can anybody confirm whether MDMWinsOverGP applies to setting which are not in Policy CSP"
This document mentions that MDMWinsOverGP is applicable to only settings in Policy CSP. So I have tried Firewall CSP settings as follows:
GPO -&gt; Firewall = Disabled
Intune -&gt; Firewall = Enabled
MDMWinsOverGP = 1
Result: Firewall gets enabled. which is Intune value
But as per the Documentation, MDMWinsOverGP should not work for non Policy CSP settings, but in my analysis, it is working.

---

[2020-04-17 05:48] azsec commented on #6283
@illfated  the question is about missing user logged from the profile that may not be supported and that should have been addressed by PG team. There is nothing related to your issue. Yours are feedback on the content while this question is technical related.

@JakKAaj as far as I know the current MDATP for Linux is only offering preventative capability for Antivirus. It basically means if could h

[2020-04-17 07:52] illfated commented on #6283
Very well. Thank you for your detailed reply and informative feedback. 👍

[2020-04-17 12:36] mikaaho commented on #6273
Im experiencing the same error with Ubuntu 18.04 while provisioning Ubuntu inside Docker container. When trying to install manually: dpkg --debug=3773 -i mdatp_100.87.66-insiderfast.amd64.deb i get errors:

D000001: ensure_diversions: new, (re)loading
D000001: ensure_statoverrides: new, (re)loading
D000010: path_remove_tree '/var/lib/dpkg/tmp.ci'
Selecting previously unselected package mdatp.
(Rea

[2020-04-17 13:50] sringler opened #6523 "Configure and update System Center Endpoint Protection clients"
The important note in the section section #configure-and-update-system-center-endpoint-protection-clients points out:

"This step is required only if your organization uses System Center Endpoint Protection (SCEP) and you're onboarding Windows Server 2012 R2."

But the required steps mentioned in these section also applies for Windows Server 2008 R2.

---
#### Document Details

⚠ *Do not edit this

[2020-04-17 17:39] fmike7 opened #6526 "Message Table for Windows Update Error Codes"
Is there a message table for Windows Update error codes? FormatMessage(FORMAT_MESSAGE_FROM_SYSTEM) does not format Windows Update error codes and ::GetErrorInfo returns nothing when WU interfaces return failed HRESULT codes. Would be helpful to display user-friendly messages instead of error codes.

[2020-04-17 18:19] jcbendernh opened #6527 "Is it possible to modify the schema of the events in the Storage account?"
I have a customer interested in having one consolidated blob container with a folder created for each event type instead of the default blob container each event type.  Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d7c9a2b-c6a2-0c0b-3718-a9c0d2cbbf05
* Version Independent ID: 86974870-2d23-e7e0-e7fb

[2020-04-17 22:21] mypil commented on #6526
@fmike7 - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-04-17 22:26] SteveBurkettNZ commented on #6453
@illfated;  How about RDS/terminal servers.

[2020-04-17 22:38] illfated commented on #6453
OK, fair enough. I have not worked in that kind of scenario, so my mind did not go there.
Maybe we could ask the current author where to look for some practical answers.
@e0i : Would you be so kind as to forward the question to someone who could point us in the right direction?

[2020-04-17 23:54] spirrochet opened #6528 "ReadyForWindows Service Moved"
The link to http://www.readyforwindows.com, redirects to Desktop Analytics: https://docs.microsoft.com/en-us/configmgr/desktop-analytics/ready-for-windows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6957383-3bd9-eef9-6410-9c42f8a0b172
* Version Independent ID: a2090374-0fd1-8d67-66de-30c4cf2835f7
* Content: [Overv

[2020-04-18 14:22] beerisgood commented on #6486
Same also for "Behavior monitoring" which redirect to:
"https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-antivirus/configure-real-time-protection-windows-defender-antivirus.md"

and for "Cloud-based protection" which redirect to:
"https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-antivirus/enable-cloud-protection-windows-defend

[2020-04-18 15:48] illfated commented on #6486
Oh. Right. I see. Exactly the same type of GitHub link conversion failure as the previous one. `.md` is not supposed to follow along to the links on the docs.microsoft.com pages.

[2020-04-18 16:59] e0i commented on #6381
The issues section of this repository is for article defects.

Please ask this question via the [Microsoft with the Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app).

Thank you.

[2020-04-18 16:59] #6381 closed

[2020-04-18 20:58] mypil commented on #6462
@tobrz - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/8bd6171cb52d2735975394db77c58f9e644414d6.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-18 20:58] #6462 closed

[2020-04-18 21:23] mypil commented on #6466
@NRL-LEastham - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/3c781945b8e8bc024d4f9f6276cfa18fc8d8652e.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-18 21:23] #6466 closed

[2020-04-18 21:50] mypil commented on #6424
@EnviableOne - Thank you for submitting feedback.

From our understanding, the issue you raised have been answered by @MaratMussabekov & @illfated so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-18 21:50] #6424 closed

[2020-04-18 22:52] e0i commented on #5482
Closing via #5885

[2020-04-18 22:52] #5482 closed

[2020-04-18 23:24] markdepalma commented on #6458
This functionality should be in preview in the coming months (per Microsoft), but unfortunately is not out yet. I am working on a method to make this work at the moment. I have it working, but haven't locked it down to be 100% consistent. I will reply here once I have something to report.

[2020-04-18 23:41] #6214 closed

[2020-04-18 23:41] #6216 closed

[2020-04-18 23:42] #6202 closed

[2020-04-19 00:58] fmike7 commented on #6526
This was actually in reference to this online article: https://docs.microsoft.com/en-us/windows/deployment/update/windows-update-error-reference

It lists WU error codes and descriptions, but it's not clear how to obtain these error descriptions programmatically by those who utilize Windows Update Agent APIs. I was wondering if there is a documented way of loading error description form system mes

[2020-04-19 02:04] robertmizani commented on #3383
Without magistrate one can simply use GDP (Good Documentation Practices) for audit purposes with print-ed documents and sign-ed change controls. Please have a good day. Thank you.

[2020-04-19 10:01] GiantCrocodile commented on #6216
Hi @e0i! Why did you close this? There's still two questions left as per my comment https://github.com/MicrosoftDocs/windows-itpro-docs/issues/6216#issuecomment-603352168

[2020-04-19 10:09] beerisgood opened #6531 "Redirect Exploit protection "Evaluation Package" link directly to right site"
The link on top "Evaluation Package" redirect to [Windows Defender Testground](https://demo.wd.microsoft.com/?ocid=cx-wddocs-testground) but it should directly redirect to [Exploit Protection](https://demo.wd.microsoft.com/Page/EP)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b6713d1-d4da-6e3b-88b7-89879f0140f8
* Ve

[2020-04-19 10:16] illfated commented on #6216
@GiantCrocodile : Maybe @brianlic-msft would be able to answer that as a closing comment.

[2020-04-19 10:50] ITCTarunchhabra commented on #6458
Thank you Mark. I will look forward to your feedback.

Best Regards,
Tarun

On Sun, 19 Apr 2020 at 04:54, Mark DePalma <notifications@github.com> wrote:

[2020-04-19 13:32] markdepalma commented on #6458
I nailed down the experience and configuration last night. I was able to reproduce consistently with new autopilot enrollments I am writing a blog article in the next day or two and will post it here when it is finished.

[2020-04-19 14:17] RAJU2529 commented on #6518
@DeanGross . I think restricting certain users for accessing files and folders
applying policies to the machine and to users  by using the group policy editor
configuring security policies through secpol.msc.

[2020-04-19 17:35] mypil commented on #6301
@TinaMcN @officeglobal - Do you have any updates on this?

thank you.

[2020-04-19 18:16] illfated commented on #6531
That is a fair point, we would not want users to get sidetracked to visit other pages and maybe forget why they went to the currently linked page. I agree with your conclusion.

The XML file name on the page in question (https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/import-export-exploit-protection-emet-xml) seems to be incorrectly referenced, I think I

[2020-04-19 18:30] beerisgood commented on #6531
I also wonder if the "ProcessMitigation.xml" is up2date (new Chromium-Edge for example)

[2020-04-19 18:45] illfated commented on #6531
No idea. I only find time enough to follow up on these issue ticket pages and their reported pages. I am uncertain, because looking at the end-of-life date for EMET (July 31, 2018) and the up-to-date information regarding Microsoft Defender ATP, it is difficult to keep track so long as my daytime job does not offer much need for upscaled IT work. I only hope the page author may find time to shed s

[2020-04-19 19:29] illfated commented on #6531
To sum up: There were 6 separate issues to resolve in that page:
1. https://aka.ms/mp7z2w `=>` https://demo.wd.microsoft.com/Page/EP
2. https://go.microsoft.com/fwlink/p/?linkid=2069559 `=>` `microsoft-defender-advanced-threat-protection.md` ("Applies to" text link, previously pointed to Windows 10 editions comparison PDF)
3. `ProcessMitigation-Selfhost-v4.xml` `=>` `ProcessMitigation.xml` (Selfho

[2020-04-19 20:02] illfated commented on #3383
@e0i : Looks like @officedocsbot did not obey your command above. 😞

[2020-04-19 23:11] Blacksuit07 opened #6533 "Configure the Registration Authority Error"
When running the command to register, I get an error.

Command:
Set-AdfsCertificateAuthority -EnrollmentAgent -EnrollmentAgentCertificateTemplate WHFBEnrollmentAgent -WindowsHelloCertificateTemplate WHFBAuthentication -WindowsHelloCertificateProxyEnabled $true

Error:
WARNING: PS0343: Issuing Windows Hello certificates requires enabling a permitted strong authentication provider, but
no usable pro

[2020-04-20 01:59] JoeMullarkey commented on #5478
@e0i, it does appear that Teams is reporting as not enlightened and the documentation does not reflect that. Are you having a bad day?

[2020-04-20 05:46] #3383 closed

[2020-04-20 06:07] yogeshasalkar commented on #6522
Any updates on this?

[2020-04-20 07:59] konstruktoid commented on #6273
@mikaaho, since docker is a special environment and the Ansible installation was successfully installed an actual server, have you tried testing using a Vagrant environment?

[2020-04-20 08:28] illfated commented on #5478
Would be nice to hear either from the author or project manager what we can add or modify on the page, to get it updated and factually correct.

[2020-04-20 08:51] mikaaho commented on #6273
Yes, will try that option also. Thanks.

[2020-04-20 10:13] icelava commented on #6515
Tested this with VM.

- After 4 attempts - passphrase challenge
- After 5 attempts - require OS restart
- After 9 attempts - passphrase challenge after 30 secs
- After 10 attempts - require OS restart
- After 14 attempts - passphrase challenge after 1 min
- After 15 attempts - require OS restart
- After 19 attempts - passphrase challenge after 2 mins
- After 20 attempts - require OS restart
- Afte

[2020-04-20 10:13] #6515 closed

[2020-04-20 11:25] ruairidhlc commented on #6522
This is an interesting one.  If you go to the Firewall CSP docs.microsoft.com page and look at '/EnableFirewall', it reads:

"The merge law for this option is to let the value of the GroupPolicyRSoPStore win if it is configured; otherwise, the local store value is used.  Default value is true."

As you have a GPO to disable it and the policy looks at the resultant GPO policy and respects that, you

[2020-04-20 13:06] HenkPoley opened #6534 "Seems like a few 'logon types' are missing"
I see at least 0 on my own Windows 10 Pro system as well.

But there are also 12 & 13 listed here: https://markparris.co.uk/2009/11/08/windows-logon-types/

Edit: which got it from: https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-logonsession

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aefbbdcc-606

[2020-04-20 14:35] weyCC81 opened #6535 "Move between Tenant"
Is it possible to move clients between tenants as it is not recommended, to on-board and off-board at the same time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90534181-66c6-388c-4b09-2f358e864c78
* Version Independent ID: 927e8fa6-72c9-ff10-bd6b-ec044593da18
* Content: [Onboard Windows 10 machines using a local sc

[2020-04-20 14:44] tbross319 opened #6536 "Documentation on SEMM enroll is incomplete"
We should amend the final section of the documentation to walk through SEMM enrollment.  Once you boot to UEFI (screenshot) Navigate to Management Tab (screenshot) Click on Install from USB (screenshot) and then [Unsure if middle step] and then enter the thumbprint (screenshot).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-20 14:51] yvesrosius opened #6537 "No explanation about why we cannot target devices with LOB and Win32 apps"
White glove preparation:
https://docs.microsoft.com/en-us/windows/deployment/windows-autopilot/white-glove#preparation

Additionally, any apps (Win32 or LOB) that are configured to install in the device context and targeted to the user that has been pre-assigned to the Autopilot device will also be installed. Please make sure not to target both win32 and LOB apps to the same device.

Can you pleas

[2020-04-20 15:51] DrTeej commented on #6102
Bump?

[2020-04-20 16:24] ntw2 opened #6538 "TPM, not TMP"
"Backing up TMP to Active Directory was supported only on Windows 10 version 1507 and 1511."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c3977f-3b78-1d8e-ad8f-50538ad1934f
* Version Independent ID: 46b9ab6d-7a30-4dab-70fa-e1c97cc3ec3e
* Content: [Set up MDT for BitLocker (Windows 10) - Windows Deployment](https://

[2020-04-20 16:25] e0i commented on #6518
@DeanGross Passing this to an independent contributor for investigation. Thank you.

[2020-04-20 16:35] jaimeo commented on #6528
Yes--that doesn't seem like a problem? What change are you suggesting?

[2020-04-20 16:45] brianlic-msft commented on #6216
@GiantCrocodile this event is used to monitor the health of the Connected User Experience and Telemetry component. It sends back data to ensure the service is still running. Windows diagnostic data is used to keep Windows up to date. Hope this helps.

[2020-04-20 16:54] e0i commented on #5478
Apologies, The issue has been buried in my notes because it has been re-opened. Passing it over to an independent contributor for investigation. Thank you for following up.

[2020-04-20 18:51] illfated commented on #6538
Funny typo. Thank you for pointing it out. 👍

[2020-04-20 21:08] #6538 closed

[2020-04-20 22:02] spirrochet commented on #6528
The redirection replaced the old website "readyforwindows.com" so there is no reason to link to the old site, when that resource has been retired.

So either don't included that link, or discuss what replaced the "readyforwindows.com" listing, such as [Desktop Analytics](https://docs.microsoft.com/en-us/configmgr/desktop-analytics/overview), or just directly link to the page: "https://docs.microso

[2020-04-20 22:03] harveywargo2 opened #6540 "ArcSight CEF Mappings"
the AlertTime isn't mapped to deviceReciept time in the jsonParser properties file, LastProcessedTime is

from the properties file
event.deviceReceiptTime=__createOptionalTimeStampFromString(LastProcessedTimeUtc,"YYYY-MM-DDThh:mm:ss.SSSX")

For ArcSight you need add the following to the JSON Parser Properties file to map all the tokenized json fields to CEF

event.endTime=__createOptionalTimeStamp

[2020-04-20 22:14] #6531 closed

[2020-04-20 22:22] IlyaTeplitski commented on #2840
Same problem. "Login.windows.net" is in IE trusted sites.

[2020-04-20 23:54] mypil commented on #6417
@anthonws - Thank you for submitting feedback and for creating the PR to resolve your issue.

PR #6511 has been merged by the author so we will close this issue now.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-20 23:54] #6417 closed

[2020-04-21 05:03] tieronebanter commented on #6458
Can't wait!

[2020-04-21 09:18] OfficeGlobal commented on #6301
@mypil sorry for a delay, the article will be updated within a day.
Could you please assign the upcoming issues to us instead of a comment only?

[2020-04-21 11:27] Sculpin90 commented on #6458
What kind of VPN markdepalma? Always On VPN? Split-tunnel or Device-Tunnel? Or a third party?
If this functionality still only is in preview, what kind of VPNs are supported?

[2020-04-21 14:36] adamderuwe commented on #6506
This script doesn't work.  I have the same issue has @zerrikan

[2020-04-21 16:49] harveywargo2 opened #6541 "lastUpdateTime"
lastUpdateTime has the same description as firstEventTime....I don't believe this is correct

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46b14e18-d381-9085-8f1e-1b320ddb03d7
* Version Independent ID: c4551e26-d4ef-078c-28b1-7dc774ad2378
* Content: [Get alerts API - Windows security](https://docs.microsoft.com/en-us/

[2020-04-21 17:25] illfated commented on #6541
Good point. I agree. Seeing that the description for `lastUpdateTime` is _identical_ to `firstEventTime`, it is obvious that this must be a copy-paste mistake.

Checking the JSON output example below, I notice that the date & timestamp for `lastUpdateTime` happens even after `lastEventTime`, which means that it should probably have a description saying something about a more recent and later check

[2020-04-21 17:28] illfated commented on #6541
Maybe it could be something quite simple, like for example
- The date and time (in UTC) the alert was last updated.

Oh well. I will give it a shot to see if the suggestion above will be acceptable.
At least it should attract the attention of the page author or manager.

[2020-04-21 17:35] harveywargo2 commented on #6541
From what I have been seeing in the data, I have retrieved about 5K alert events from our subscription.

It looks like lastUpdateTime is most likely tied to a MDATP azure Processing Time Stamp.  This is just a guess and would need verification from the MDATP team.

For Example firstEvent & lastEvent is data on the endpoint/device.  When that data makes it to azure it gets a different timestamp las

[2020-04-21 17:42] illfated commented on #6541
Fair enough, thank you very much for the feedback. You are welcome to visit the PR I am opening to suggest modifications.

[2020-04-21 17:48] illfated commented on #6541
OK, I will digest your feedback for a while and see if I can come up with an even more relevant description. It would surely help a lot if either the page author or a topic expert could provide an accurate and precise description to insert there. We will just have to wait and see.

[2020-04-21 17:54] HBogart26 opened #6543 "Server 2016 Servicing Stacks and Creating a Image"
I am in the process of creating a new Image for Server 2016 and quite frankly, this model of patching does not work at all the way it is supposed to.  I am using the Server 2016 DVD Media to create a Image with all the latest patches in it and yet every time I do this (every couple months), the process fails to work the same way as it did in previous months.  I find myself in a situation where it'

[2020-04-21 17:59] jaimeo commented on #6543
I'm sorry this process isn't working well for you and will refer the owner of the feature to this issue.

[2020-04-21 18:52] robmacf opened #6544 ""Microsoft is actively investigating ways to reduce the synchronization latency and delays.""
Is Microsoft really "actively investigating ways to reduce the synchronization latency and delays?" This article was last revised nearly two years ago. It seems like maybe this is never going to change?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49d45db5-5172-45cb-2c4d-d73a9e15d699
* Version Independent ID: fa08e81

[2020-04-21 19:08] mjcaparas commented on #6541
Thank you for your feedback. I have verified with the team.
The description should be: "The time the alert was last updated"

[2020-04-21 19:37] harveywargo2 commented on #6541
Thank you for the update

[2020-04-21 19:57] holoholo808 opened #6545 "Windows 10 1909"
- Windows 10 1909
- All Networks - Network location - User can change location

When I change the network location from public to private, the UAC message appears. Bug or is there another setting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f27f2e95-068a-6568-113d-66b378a2f6fe
* Version Independent ID: 6c13ead4-d350

[2020-04-21 20:14] illfated commented on #6541
Thank you for replying here in the issue ticket. As you can see in my PR, I have suggested the following main change to the document:
[code]
My suggestion was based on the JSON output, showing that it is the most recent event, as well as the other description line saying
[code]

[2020-04-21 20:58] #6541 closed

[2020-04-21 23:11] levinec commented on #6453
Hi @VAnjan12. The short answer is yes, Web Content Filtering will work in Windows Server operating systems, but only through the Microsoft Edge browser, **not** through third-party browsers such as Firefox or Chrome.

Web Content Filtering uses the Network Protection client to perform blocks for third-party browsers like Firefox and Chrome. The Network Protection client doesn’t support blocking in

[2020-04-21 23:11] #6453 closed

[2020-04-21 23:12] mypil commented on #6491
@sreemanshanker - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2020-04-21 23:12] #6491 closed

[2020-04-21 23:16] TinaMcN commented on #5842
Quick update on this issue: after much investigation the root cause has been found a fix is ready.  We are starting to machine translate all of the Russian content again to correct the issue.  @emil-ufa @shivtorov thank you very much for highlighting it!

[2020-04-22 01:07] illfated commented on #6545
Depending on the computer Windows 10 edition and your existing user access level, I would not in general consider it to be a bug, unless your user account belongs to a computer administrator group. Notice that changing the network location to Private means that you are considering your local network to be safer than a public network connection and are therefore willing to set Windows Firewall to u

[2020-04-22 03:36] 29039 opened #6547 "Can you please also depreciate XPS Printer/Fax Printer/IE11 as being installed by default?"
XPS Printer - confusing to users, not needed in favour of PDF, so I remove it from "Turn Windows features on or off" in Programs and Features.

Fax Printer - Same, and nobody even has a 56k modem anymore to even make use of it

IE11 - Security bugs are taking longer to get fixed and it's not even needed for 99% of users. I'm not saying get rid of it completely (compatibility and all that), just ta

[2020-04-22 03:38] 29039 commented on #6547
This comment was in reference to this: https://docs.microsoft.com/en-us/windows/deployment/planning/windows-10-deprecated-features

[2020-04-22 03:41] 29039 commented on #6547
Also it's crazy that XPS Viewer has been removed from being installed by default but the XPS Document Writer has not.

[2020-04-22 04:54] holoholo808 commented on #6545
Sure, it's Windows 10 1909 Enterprise. The Users are Domain integrated users, not members of the administrators local group.

I understand what happens we configured the firewall through group policies. We set a firewall setting we don't really like to enable in the public profile, private could be ok. I thought, sounds nice, then when the user need it he can change it by himself with the network

[2020-04-22 09:22] yogeshasalkar commented on #6522
I have used this GPO path in the above example  Computer config -> Windows setting -> Security setting -> Windows defender firewall with advanced security.
And conflict might not happen, so the system took the intune value.
can anybody clarify this?

[2020-04-22 09:25] yogeshasalkar opened #6548 "IMPORTANT: Equivalent GP path, GP name, GP Element is missing for every setting in this document"
We should add the equivalent GP information for every setting, just like settings in PolicyCSP have equivalent GP information. It will help to find the respective intune setting for GP.

We should add both the GP path for the setting
Computer config -> Windows setting -> Security setting -> Windows firewall with advanced security
Computer config -> Administrative templates -> Network -> Network co

[2020-04-22 09:53] mtwelve opened #6549 "Is it possible to use this without also subscribing to Cyren?"
Hello,

The article doesn't make it clear if there is a native list of web filtering categories or if it is a requirement that we utilise the services of Cyren.

Can you clarify if this can be utilised without also subscribing to Cyren?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6d1d825-ab12-2f37-b692-5266487ef16f

[2020-04-22 11:44] scerazy commented on #3904
Being education I have KMS, abundance of MAK keys, O365 A3/A5 subscriptions. But existing Dell Latitude 7400 do come oddly with W10 Home key firmware embedded. All devices are on 1909 Education KMS activated. No matter what, I cannot get Subscription to show up in Activation (it is only KMS via your organization). I do login with A5 enabled user (could it be that my test user account exceeded the

[2020-04-22 12:59] agressiv opened #6550 "powershell.exe.config permissions"
RunConfig.bat is attempting to overrwrite powershell.exe.config in C:\Windows\System32\WindowsPowerShell\v1.0.  Even LocalSystem does not have rights to overwrite this file, nor should we be overwriting it.

Consider another means of getting your "useLegacyV2RuntimeActivationPolicy" setting into the runtime, or fix the DLL so that it doesn't need it.

---
#### Document Details

⚠ *Do not edit this

[2020-04-22 13:46] illfated commented on #6545
OK, very well. We may want to ask one of the technical writers for more specific feedback or reference pointers to relevant documentation where this is described in detail.

For the moment being, I suggest that you may consider this UAC message to be just the way Windows 10 reacts to change. Unless this message is considered a problem and that you have previously had a working solution where this

[2020-04-22 16:35] #6470 closed

[2020-04-22 17:08] jaimeo commented on #6550
Thanks for pointing this out. @cinglis-msft can look into this issue? Seems to be a script issue, not a doc issue.

[2020-04-22 17:11] Typhoon87 commented on #5384
Just wanted to check in again on this one. Are we close to getting this document update out there?

[2020-04-22 17:16] cinglis-msft commented on #6550
Thanks @agressiv will look into this

[2020-04-22 18:38] GiantCrocodile commented on #6216
Thank you for your help @illfated and @brianlic-msft! Your explanation makes sense and is understandable.

Sorry for keeping you busy @brianlic-msft: Can you tell me if and where I can find more details about the previously mentioned collection pipeline? I tried to find documentation with this term to get an overview of all of this but I wasn't able to find helpful documents.

I really appreciate

[2020-04-22 19:23] brianlic-msft commented on #6216
@GiantCrocodile we don't have any specific documentation around the data collection pipeline. We talk about it here though [https://docs.microsoft.com/en-us/windows/privacy/configure-windows-diagnostic-data-in-your-organization#how-microsoft-handles-diagnostic-data](https://docs.microsoft.com/en-us/windows/privacy/configure-windows-diagnostic-data-in-your-organization#how-microsoft-handles-diagnos

[2020-04-22 20:24] emartin133 opened #6553 "Feedback on page for the surface pro X App"
The original title of the X app was sufficient from it original description yet when I tapped on more info none of what was on that next page was any different than it's original information. Also it gave me none of what I was looking for such a GB TB Ghtz. So why bother placing something for me to view if it tell me no more than you already gave from first glance. A waste of my time which means y

[2020-04-22 22:10] levinec commented on #6549
Hi @mtwelve, currently one of the requirements is a partner license, and the only available partner right now is Cyren.

[2020-04-22 22:10] #6549 closed

[2020-04-23 13:59] GITTER126 commented on #5216
@officedocsbot assign GITTER126

[2020-04-23 15:02] klishb opened #6556 "Traffic filter sentence incomplete"
On this page https://docs.microsoft.com/en-us/windows/security/identity-protection/vpn/vpn-security-features#traffic-filters

This sentence is incomplete:

"Network admins to effectively add interface specific firewall rules on the VPN Interface"

It should probably read:

"Traffic filters allow network admins to effectively add interface specific firewall rules on the VPN Interface"

[2020-04-23 15:03] klishb commented on #6556
There is also a missing space after the sentence.

[2020-04-23 15:53] KarbonX1 opened #6557 "Autopilot User Driven - Login to AAD page"
The AAD sign in page now includes an option that says "Not a XXXX company device?" and if you choose that, it will allow you to completely bypass the autopilot process. When was this added and how to turn that option off?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2434dfb6-ac9a-4ba1-a681-88786c87010a
* Version Inde

[2020-04-23 16:02] m-xen opened #6558 "Cost"
It seems very difficult, or impossible in my experience, to find out the cost after the 60 day trial presumably without signing up for the trial. Cyren don't even make mention of ATP on their site, this all seems very beta, is that the case? Will there be more partners for URL filtering in future?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-04-23 16:26] jrjenk opened #6560 "Embedded Video is broken"
The embedded overview video appears to be leading a page that no longer available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fa7a534-0c88-a3b6-5b27-81d735779fad
* Version Independent ID: cf641b62-a2b2-54fb-d885-15c5d7200215
* Content: [Access the Microsoft Defender Advanced Threat Protection APIs - Windows securi

[2020-04-23 17:05] Martony78 commented on #5296
So ask me to apply a workaround provided by an end user instead of fixing the issue? This is a workaround, not a resolution, you shouldn't have closed the ticket until this problem is really fixed.

[2020-04-23 17:41] illfated commented on #6556
Nice, well spotted. Thank you for the suggestion also.
Maybe there is an alternate way to form the sentence, making the beginning and end stay the same, for example:

[2020-04-23 17:59] klishb commented on #6556
That works too.

[2020-04-23 20:43] joseluiscc opened #6563 "Does "Deploy Windows Defender Application Control" applies to EFI Systems?"
Hi,

In EFI systems the file SIPolicy.p7b should be located in EFI System partition/Microsoft/Boot.

Does "Deploy Windows Defender Application Control" applies to EFI Systems?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d01189f-01b4-d959-4490-3b65c13bf7a1
* Version Independent ID: e9f06ae5-7f63-ce99-64a0-0

[2020-04-23 20:48] illfated commented on #6556
There you go. Feel free to comment in the PR if you find more material to improve in that document.

[2020-04-23 21:09] illfated commented on #6560
Hmm, that is odd. I have no problem at all playing that video. Could your issue be caused by one of your browser addons or a firewall issue at your end?
- https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/apis-intro

https://www.microsoft.com/en-us/videoplayer/embed/RE4d73M

[![Microsoft Defender ATP APIs](https://github.com/MicrosoftDocs/windows-itpro-docs

[2020-04-23 22:15] j3atuhan opened #6564 "Wrong information"
The fact that limited subset is available is wrong or the above list is incomplete. We enabled at least 2 rules in audit mode that are not listed above with E3 license and they created log entries.

It is true that you do not get reporting, monitoring and analytics benefits from MS Defender ATP.

Also it conflicts with:
https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-

[2020-04-24 04:00] HaoHoo opened #6565 "Could you please add few sample xml code for this CSP?"
Is that possible to add some sample xml code as reference? Just like Office CSP page displayed provide 1 more sample code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2db74c5-16f9-22d3-07e8-043d393fdcc4
* Version Independent ID: 4bdccadf-7f33-ee14-7ada-aca012866794
* Content: [WiredNetwork CSP - Windows Client Mana

[2020-04-24 07:41] DecimalZero commented on #6399
I'm having the same issue. What was the fix?

[2020-04-24 07:41] DecimalZero commented on #5692
I'm having the same issue. What was the fix?

[2020-04-24 08:05] illfated commented on #5692
@DecimalZero : I believe @schenardie will be the only one who knows the answer to your question here, as there were no troubleshooting performed in this ticket. Any luck checking issue ticket #6399 ?

[2020-04-24 08:06] illfated commented on #6399
From ticket #5692 :

[2020-04-24 08:23] HolgerRadecke commented on #5296
hi @Martony78  - do you still have the same issue with the currently available Office-365-ProPlus-1810-allowed.xml and Recommended-Denied-Office-365-ProPlus-1810.xml ?
Are your devices enrolled or do you use MAM policies?

[2020-04-24 08:57] benrfinn commented on #5692
Hi, I had to open a ticket with Microsoft. I don't want to be rude but they are wasting time and proving useless so far. Ticket is being worked on for two weeks.

[2020-04-24 08:59] benrfinn commented on #6399
Hi @illfated thank you for the link but it is not relevant in the case of this ticket (at least for me). @DecimalZero I opened a ticket with MS and so far they haven't done much. They seem confused so they are using delay tactics at the moment. I'll update this ticket if anything happens. Sorry for the bad news.

[2020-04-24 09:03] schenardie commented on #5692
In my case when copying the tenant id to the offline file i Missed the last character. Double check everything would be my advice.

[2020-04-24 13:02] MaratMussabekov commented on #6482
Hello, @yogeshasalkar,
by default (i.e. when MDMWinsOverGP is not presented), GPO has a precedence (source: https://docs.microsoft.com/en-us/mem/intune/fundamentals/resolve-gpo-and-microsoft-intune-policy-conflicts)
Thank you

[2020-04-24 13:07] yogeshasalkar commented on #6482
Hi @MaratMussabekov , thanks for the answer.

[2020-04-24 13:13] #6473 closed

[2020-04-24 13:27] yogeshasalkar commented on #6482
Could anyone from Microsoft could confirm who wins? Intune or GPO?

[2020-04-24 13:53] BugMeNot114514 opened #6566 "SubmitSamplesConsent should be SendSafeSamples or SendAllSamples"
In the Use PowerShell section says let it set to AlwaysPrompt.
However in the Use Intune section and in the Use Group Policy says,

This is a contradiction. Use Powershell tells us to reduce safety.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f8ccc01-1b04-e443-ef75-6ffe6c866dd5
* Version Independent ID: fa2eaa0f-db

[2020-04-24 15:05] denisebmsft commented on #6566
Thank you, @BugMeNot114514, for raising this issue. I'll look into it.

[2020-04-24 15:27] i3v commented on #6338
Just-in-case:
After all, I've updated my BIOS. Nothing changed - `TPM.msc` still fails with `TPM Console Error 0x8007007A`. Clearing TPM changes nothing.

I've created a separate thread for the possible further discussion of the possible fixes/workaround for my specific case [here](https://answers.microsoft.com/en-us/windows/forum/windows_10-security/tpm-console-error-0x8007007a/2291201f-d1b8-4b61

[2020-04-24 17:24] illfated commented on #6399
When @schenardie found a solution to their problem in the other ticket, I can only guess that it was some kind of user error. Otherwise, it would be quite useful to hear about it.

[2020-04-24 17:33] illfated commented on #6338
Thank you for the update. Your ticket on answers.microsoft.com looks quite appropriate.

[2020-04-24 20:11] aggerritsen opened #6570 "Machine tags"
Is there a method for setting machine tags for MDATP at linux machines, like for Windows this is done using registry keys?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbd62860-4e23-8fe8-d23a-51893c1ccf2a
* Version Independent ID: d487bc8c-4ad8-0ffe-07cf-4c1cee4fd3be
* Content: [Microsoft Defender ATP for Linux resou

[2020-04-24 23:22] schenardie commented on #6399
@illfated Is correct in my case it was an error when i was importing the offline profile for autopilot.
Are you too using offline profile or its just a clean install without anything???
I'd make sure the device is not already registered to another company.  also right before login do the shift f10 and check the following keys to see if they have any information and if its correct
HKEY_LOCAL_MACHIN

[2020-04-24 23:39] levinec commented on #6558
Hi @m-xen , this feature is currently being tested and is not yet commercially released (see disclaimer on top of the page). Your comments on confusion surrounding cost and partnerships will be taken into account, thank you!

[2020-04-24 23:39] #6558 closed

[2020-04-25 02:45] illfated commented on #6399
@benrfinn , @DecimalZero : Any help to be found in the comment above?

[2020-04-25 07:37] MaratMussabekov commented on #6502
Bonjour
Malheureusement, le blocage du nom de domaine à l'aide du fichier Hosts est hors de portée de ce document.
Cependant, vous pouvez le faire de la manière suivante:
1. allez dans C:\WINDOWS\system32\drivers\etc
2. ouvrez le fichier Hosts
3. allez sur la nouvelle ligne, entrez l'IP localhost (127.0.0.1) puis ajoutez de l'espace puis entrez le nom de domaine que vous souhaitez bloquer (comme s

[2020-04-25 07:41] MaratMussabekov commented on #6523
Hello @sringler ,
totally agree,
also, I think that this "Important" section could be removed at all as this requirement for Windows Server 2008 R2 and Windows Server 2012 R2 is already mentioned in the article, above, where the actions are listed.

Thank you

[2020-04-25 07:46] MaratMussabekov commented on #6482
Dear @Dansimp , could you please confirm?
I'm pretty sure for the versions prior to 1803 GPO always wins, and since 1803 - GPO wins unless the MDMWinsOverGP is set to 1.

Thank you

[2020-04-25 12:57] RvdHout commented on #5972
The CheckOSArchitecture function still doesn't work on a Dutch Windows 10 Installation... detection function can be adjusted using regex, like:

[code]

[2020-04-25 14:32] illfated commented on #5972
Thanks, that looks like something I could make a PR to request changes to the 3.7 version page. There is also an already existing typo in there (don't know how long it has been there, maybe several years) which I would like to see gone, rather sooner than later.

[2020-04-25 14:45] illfated commented on #5690
- https://docs.microsoft.com/en-us/windows/security/identity-protection/credential-guard/dg-readiness-tool

***

I am going to open a PR to make a couple of improvement changes to that page. Also note that the discussion is still going on in the closed issue ticket https://github.com/MicrosoftDocs/windows-itpro-docs/issues/5972

[2020-04-25 15:32] MrKragh opened #6573 "Calling this API return 404 as not found"
Calling this API currently returns 404 (not found).
My URL and request are correct, if I for instance change the last part of the endpoint to "/alerts" I get the alerts for the correct machine.
I know that there is software installed that are listable (as they're presented in the software list on the webportal).
Any guess on how this could be?

---
#### Document Details

⚠ *Do not edit this sectio

[2020-04-25 16:38] illfated opened #6574 "WDDG & WDCG hardware readiness tool: typo & locale issues"
As discussed in ticket #5972 (even if that ticket is closed), the script on this page stops working in localized versions of Windows (Dutch mentioned in ticket #5972 specifically). This is caused by the difference in how the strings `64-bit` and `32-bit` occur in non-English localized versions of Windows.

The suggestion in ticket #5972 is to add some regex functionality inside `function CheckOSAr

[2020-04-25 16:45] illfated commented on #5190
Link updated:
- https://docs.microsoft.com/en-us/windows/security/identity-protection/credential-guard/dg-readiness-tool

[2020-04-25 16:48] illfated commented on #6574
May as well just mention related issues from the other page, since they are all related to the **Windows Defender Device Guard and Windows Defender Credential Guard hardware readiness tool** :
#5690 #5723 #6054 #6055 (open issues)

The main issue reported here (and described in the closed ticket #5972 ) is possibly related to an unresolved question in the closed ticket #4679 .

[2020-04-25 22:39] mypil commented on #6489
@toddjohnson39 - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @Matt-C22 so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-25 22:39] #6489 closed

[2020-04-25 22:47] mypil commented on #6301
@OfficeGlobal - This is noted. Assigning issue to you. Please let us know once this has been fixed.

Thank you.

[2020-04-25 23:32] eddypuck opened #6576 "View Windows 10 Devices Associated with Windows 10 Subscription License"
Is there a Powershell command or other way to see the Windows 10 devices that are associated with a user?  I know they can have 5 devices licensed to unlock Enterprise features, so I would like to see the devices associated with the user.

[2020-04-26 15:00] Martony78 opened #6577 "Configure WIP policies within MEMCM without Azure AD and Intune?"
Everything is In the title. Can we create WIP policies in SCCM without having configured Azure AD and Intune?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f140d60-97d3-8ac3-4d77-a4fb2acbb102
* Version Independent ID: 49560e13-d315-dcc8-8590-b0fbc1128da7
* Content: [Create and deploy a Windows Information Protection

[2020-04-26 15:27] mypil commented on #6482
@ManikaDhiman - Can you please share your insights on this issue?

Thank you.

cc: @kenwith

[2020-04-26 17:53] Ochichka commented on #6291
@e0i, thank you for the information. Since it's been a month, I would like to ask if there are any updates? Thank you.

[2020-04-26 20:42] benrfinn commented on #6399
@schenardie You are a brilliant beautiful person. Thank you so much! I was able to find the tenant it belongs to and hopefully we can get it removed. This was the key that can fix a lot of things. Thank you so much!
@illfated yes lol

[2020-04-26 20:46] illfated commented on #6399
Very good indeed. So, before we move on to closing the ticket, have we learned anything which should be part of the documentation somewhere, to help avoid the same issue happening to other admins?

[2020-04-26 20:51] benrfinn commented on #6399
I think in relation to that error, which does not have an error code, but does show up in the specific circumstance:
When you are trying to connect a computer with Intune Autopilot and it states "That username looks like it belongs to another organization. Try signing in again or start over with a different account" then you should check the registry at HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Provis

[2020-04-26 20:58] illfated commented on #6399
Thank you for the detailed reply. I hope we can find somewhere to add that as part of troubleshooting this topic in the documentation.

@e0i : Maybe someone in the tech writing team could read through this information and see if it can be added to any troubleshooting part of the documentation.

[2020-04-26 22:05] schenardie commented on #6399
Glad i could help Ben.

I see this being a real issue in the future as people start getting refurbished devices and companies sell older devices to other people or companies. Had some chats with Program Managers and they said the process of getting Microsoft to remove the information from an older tenant is ugly as the person needs to proof they actually own the device and sometimes when you buy a

[2020-04-26 22:37] benrfinn commented on #6399
That's exactly what happened to me. I am located in Myanmar and we were lucky we had the receipt but it didn't have the SSN on it so the receipt was rejected.

The biggest problem was I gave them a list of domains we owned including testkoekoetech.onmicrosoft.com. I had tested some laptops in a that domain and it was supposed to have been spun down after. It wasn't, but all my access was revoked s

[2020-04-27 03:46] Margaretgo commented on #6323
True

[2020-04-27 05:21] RAJU2529 commented on #6563
@joseluiscc . That file is configured as baae policy which allows to boot signed and unsigned files.
But you can create new WDAC policy and then convert into .bin file, and then deploy in gpo , after wards policy will converted in  .p7b. . Then you copy the file to EFI partition.

Note. don't try to use in current system. Try to test on reference computer

[2020-04-27 05:26] RAJU2529 commented on #6574
Great sir. Author plesse accept his PR

[2020-04-27 06:01] joseluiscc commented on #6563
Thanks..!

[2020-04-27 06:01] #6563 closed

[2020-04-27 07:57] Eiffelsturm opened #6579 "Connect to WPA2 Enterprise wireless network automatically"
Background: The Surface Hub 2S is configured to use a wireless network with WPA2 Enterprise security. After a device restart, the Surface is not connected to the wireless network anymore. Now, if someone wants to use the Surface Hub, he had to configure the wireless setting again. Without permission not possible. What is Best practices to avoid this scenario?

---
#### Dokumentdetails

⚠ *Bearbeit

[2020-04-27 10:19] icelava opened #6580 "Explorer vs Edge"
Just how different are the two settings?
Windows Components/Windows Defender SmartScreen/Explorer/Configure Windows Defender SmartScreen

Windows Components/Windows Defender SmartScreen/Microsoft Edge/Configure Windows Defender SmartScreen

I have enabled SmartScreen for Edge via Administrative Templates in Intune, and although my Edge settings are now enforced, I do not see the local group policy

[2020-04-27 10:27] beerisgood commented on #6580
As the name say, one is for windows explorer and one for Microsoft Edge.

Both do the same but you can config it differently. I guess you get confused with the word "Explorer" and old "Internet Explorer" which is now called Edge.

[2020-04-27 11:15] icelava commented on #6580
No, I'm not confusing it with Internet Explorer. Rather, I'm confused over the various avenues of configuration through Administrative Templates, Endpoint Protection, Device restrictions configuration profiles that seem to have overlapping boundaries of responsibilities and jurisdiction over the SmartScreen settings. It's very murky regarding the effects/consequences of enabling/disabling one over

[2020-04-27 14:07] Petitohead opened #6583 "References to Scripts"
There are references to scripts in the document.  Can someone please contact me around these references?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08d16473-db61-23bd-7201-f5d7d6a56cc8
* Version Independent ID: 468238c8-8fb4-3dff-3485-07daab0c7833
* Content: [Onboard to the Microsoft Defender ATP service - Windows

[2020-04-27 14:34] Nicholas-Steel commented on #6323
As an update to this topic, I was able to install KB4541335 after a reboot of my computer (not sure why I needed to reboot for the install to work). This implies I either had the latest Servicing Stack Update and I unknowingly needed to reboot the PC to complete its installation or something... else... was causing the update to fail.

[2020-04-27 15:46] RAJU2529 commented on #6580
@icelava .   @beerisgood  is said is correct.  It's for windows explorer and not internet explorer.
There is separate amdx fils is there for internet explorer.  Check the group policy again.

[2020-04-27 15:57] #6556 closed

[2020-04-27 16:57] MaratMussabekov commented on #6522
Hello @yogeshasalkar,
yes, the note could be outdated (it was added by [this](https://github.com/MicrosoftDocs/windows-itpro-docs/commit/fda1edfe9433308414e206f9144c01c2f1184531#diff-20fdd14115e62673aa8d2eb80ceb057e) PR two years ago), and it looks like MDMWinsOverGP works not only for Policy CSP
According to [MMAT Policy Mapping documentation](https://github.com/WindowsDeviceManagement/MMAT/blob/

[2020-04-27 17:25] imlukedewitt opened #6584 "Misnamed Group Policy in "Configure access to the Microsoft Store (Windows 10)""
In the article [Configure access to the Microsoft Store (Windows 10)](https://docs.microsoft.com/en-us/windows/configuration/stop-employees-from-using-microsoft-store), the policy for disabling the Windows Store is labeled as "Turn off Store application". The correct name is "Turn off **the** Store application"

This distinction is important for people searching for applied policies. I don't mean

[2020-04-27 17:43] MSFTEfeedback opened #6585 "MSERT (x64) download files-- blocked by Windows Defender"
Microsoft is blocking Microsoft. What is the world coming to? Says that the file is not signed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5bb1ce3-9128-5385-4417-d22eb5f8cb77
* Version Independent ID: cb6ba731-a2c2-e9b9-7c3e-db781b1b5222
* Content: [Microsoft Safety Scanner Download - Windows security](https://doc

[2020-04-27 18:48] illfated commented on #6574
Please note that the author of the script modification is @RvdHout (Ruud van den Hout).

[2020-04-28 06:31] icelava commented on #6580
Like I mentioned, I know Explorer refers to Windows Explorer and don't care about Internet Explorer since nobody in the company uses that; the default browser is Microsoft Edge.

However, there are _three_ separate avenues in Intune to configure SmartScreen settings and it's pretty confusing which of them overlap or control different things.

[2020-04-28 08:28] icelava commented on #5964
I am confused how [On Access Protection] relates to [Real-time monitoring] ? Isn't the act of accessing a file (and protecting against it) part of real-time monitoring work Windows Defender must perform?

[2020-04-28 10:11] icelava commented on #6580
Also, when looking at the source referring document https://docs.microsoft.com/en-us/mem/intune/protect/endpoint-protection-windows-10#microsoft-defender-smartscreen-settings

It states "Microsoft Edge must be installed on the device." but these CSP parameters seem to apply to Windows per se and not concern itself with Edge settings? These documentations are incredibly muddy on what they will or w

[2020-04-28 10:58] icelava commented on #6367
I'm not inclined to believe VMs have anything special that makes them "unwilling" to grant standard users the privilege to change system clock. There are others who are trying this in their own environments/hardware and it appears Windows does not return a proper response after the custom OMA-URI policy is applied, and Intune interprets that as failure. But they can't grant standard users the said

[2020-04-28 14:58] joergkarl opened #6588 "Bad translation"
Some words are still in Englisch (1) or very bad translated into German (2). Example: usingmedical (1), visor (1), wischen (2)...
And why do you advise to use a antibiotic soap?
And what is SRG?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: c9b9efc6-78cd-1f1e-bcd5-3e02130b7bd9
* Versio

[2020-04-28 16:25] denisebmsft commented on #6576
Hello @eddypuck. Can you tell us to which article(s) your question pertains, so that we can route it to the correct writer/team? Thanks!

[2020-04-28 16:55] HartD92 opened #6590 "Syntax for IP range is wrong"
Syntax for IP ranges in Intune doesn't allow spaces between the IP addresses, but the documentation shows it with spaces:

"An IPv4 address range in the format of "start address - end address" with no spaces included.
An IPv6 address range in the format of "start address - end address" with no spaces included."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-04-28 18:28] illfated commented on #6367
Regretfully, I must admit that I don't know what should be done to attempt to solve your issue. I can only recommend asking the developers in the Technet forum pages:
- https://social.technet.microsoft.com/Forums/en-US/home

[2020-04-28 18:35] e0i commented on #5384
@Typhoon87 Thank you for following up. Maybe one of the community contributors is able to help with your question in the meantime the document authors get back with an answer. Passing your request accordingly. Stay healthy.

[2020-04-28 22:50] SergGu opened #6594 ""Web & Network Protection" section renamed to "Browser" - please update wording and screenshot"
The screenshot after "During profile creation, you can review and adjust specific settings on the baseline" is not right. In my "Microsoft Defender ATP baseline" ( Version 3 | Microsoft Defender ATP baseline as recommended by Microsoft | 1 | 03/02/20) there is _NO_ "Web & Network Protection" section. Instead, it is located under "Browser" section.

---
#### Document Details

⚠ *Do not edit this se

[2020-04-28 23:15] IVANSEMKOV opened #6595 "Mr."
[Въведете обратна връзка тук]

---
#### Подробни данни за документите

⚠ *Не редактирайте този раздел. Задължително е за docs.microsoft.com ➟ връзка към проблем в GitHub.*

* ID: 7c2156ca-1a17-1024-d1e5-76345970ac2f
* Version Independent ID: 56523413-8547-4e97-3eec-9062b9735c11
* Content: [Policy CSP - Wifi - Windows Client Management](https://docs.microsoft.com/bg-bg/windows/client-management/mdm

[2020-04-28 23:47] SergGu opened #6596 "Suggest adding section - review ASR alerts and rules in "Microsoft 365 security" reports"
Please add section about ASR reports in Microsoft 365 security center at https://security.microsoft.com/asr
The "Reports &gt; Attack surface reduction rules" section provides simple way to see all rule hits. Lastly that page already links back to current page using following aliases: https://aka.ms/ASRPrerequisites and https://aka.ms/ASRRuleExplanations

---
#### Document Details

⚠ *Do not edit t

[2020-04-29 00:01] mypil commented on #6595
@IVANSEMKOV - Благодаря, че изпратихте отзиви.

Можете ли да споделите какъв конкретен проблем имате с този документ? Наистина ще се радваме, ако можете да помогнете, като предоставите повече подробности относно това, което трябва да бъде редактирано.

[Thank you for submitting your feedback.

Can you share what specific issue you have with this document? We would really appreciate it if you can h

[2020-04-29 00:04] mypil commented on #6588
@joergkarl - Thank you for pointing this out.

I will get this issue over to the Win10 ITPro translation/localization writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2020-04-29 00:05] mypil commented on #6588
@tinamcN @officeglobal - Can you please assist with this Translation/Localization issue?

Thank you.

[2020-04-29 00:10] mypil commented on #6523
@sringler - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/c564fde252d5abb91e35c486d4793302fc9f3e7b.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-29 00:10] #6523 closed

[2020-04-29 02:52] TinaMcN commented on #6588
@joergkarl thank you for reporting this and the examples are very helpful.   I sent the article to be human translated which will take a few days..   The issue with "usingmedical" is caused by the machine translation tool which seems to have joined 2 English words which it could then obviously not translate to German.   I think the German word for "visor" is "Visier" but somehow the MT tool did no

[2020-04-29 06:51] yannisle opened #6597 ""D365 Layout should be removed since it's not pre-installed in the factory image any longer""
"D365 Layout should be removed since it's not pre-installed in the factory image any longer"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 701c58ac-56b3-7578-ce96-c876e133e232
* Version Independent ID: 8a66df2a-4fe7-e889-34d3-c69347b71f16
* Content: [HoloLens 2 hardware](https://docs.microsoft.com/en-us/hololens/holol

[2020-04-29 08:00] icelava opened #6598 "Next generation protection"
Behavior monitoring, Cloud-based protection links are 404.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbabaf85-a345-a91e-f4e2-09c2b7871375
* Version Independent ID: bab57f2f-249a-0fe9-4f4a-93d62ce71670
* Content: [Threat Protection (Windows 10) - Windows security](https://docs.microsoft.com/en-gb/windows/security/t

[2020-04-29 08:29] icelava opened #6599 "diagnostic data service"
Surely you can't be expecting administrators to physically sign into each and every computer in the organisation to manually configure the service properties. There should be some avenue via SCCM or Intune.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8aca66a-5a8b-64d2-7201-a7b915c5d309
* Version Independent ID: c3c

[2020-04-29 08:46] DecimalZero commented on #6399
This is good information, unfortunately, I am using a new laptop that was joined to our dev environment to test the Microsoft Endpoint Manager Autopilot. Dev was successful. Microsoft blew the dev environment away, my 90 days is up. I have no way to remove the laptop from the dev environment so I can have it joined to our production environment. I am going to need someone from Microsoft to help me

[2020-04-29 09:42] carloreggiani opened #6600 "No way to download anything from the Store with WSUS configuration"
It is still not clear the correlation between WSUS configuration and the ability for clients to download application from our Microsoft Business Store (https://businessstore.microsoft.com): users are still getting error message: "This install is prevented by policy. Ask your admin to enable Windows Update.". Could you add in documentation any clarification about WSUS and Windows Store correlation

[2020-04-29 09:44] icelava commented on #6580
To my disappointment, but not unsurprisingly, when I take a direct look at local Group Policy editor, the Windows Defender SmartScreen/Explorer node only shows up
SmartScreen/EnableAppInstallControl
SmartScreen/EnableSmartScreenInShell

In Intune's case,
SmartScreen/EnableSmartScreenInShell
SmartScreen/PreventOverrideForFilesInShell

In Windows Security > App & browser control UI case,
SmartScreen

[2020-04-29 11:01] yogeshasalkar opened #6601 "System/AllowExperimentation"
The equivalent Group policy for this setting is 'Windows Components/Data Collection and Preview Builds/Disable pre-release features or settings'. This is not mentioned in this documentation. We should mention ADMX info for the setting System/AllowExperimentation

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c

[2020-04-29 11:14] yogeshasalkar opened #6602 "Turn off Windows Location Provider"
'Windows Components/Location and Sensors/Windows Location Provider/Turn off Windows Location Provider'  this Group policy can be configured using the OMA-URI './Device/Vendor/MSFT/Policy/Config/Location/EnableLocation'. This documentation is missing the 'Location' settings. We should add a document about 'Location'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-04-29 14:14] jrjenk commented on #6560
Well, it seems it works for me now, so maybe it was a temporary issue.  What was odd was I was seeing a Microsoft generated 'Page not found' error, not a normal browser error like the URL was bad.  I was using Google Chrome at the time so perhaps there was a missing update or something and it has since been patched.  Thanks for taking a look.

[2020-04-29 14:14] #6560 closed

[2020-04-29 14:30] MauRiEEZZZ opened #6603 "Exports of machine lists"
Hi,

We use the exports of the machines list to keep track of our project progress in offboarding third-party AV products. Since last monday our export contained much less collumns.

The main goal is to monitor current status of Windows Defender AV realtime protection.
We did have the collumn: Windows Defender AV   - Real-time protection off
That did make sense to use.

Where can we find this info

[2020-04-29 15:05] pavelrozenberg opened #6604 "Missing "RegisterDNS" entry in the ProfileXML file"
Hello,

Recently you had added an entry in the XML to allow the VPN connection to register the client's IP address in the company's DNS.
Example:
&lt;VPNProfile&gt;
	...
	&lt;AlwaysOn&gt;true&lt;/AlwaysOn&gt;
	&lt;RegisterDNS&gt;true&lt;/RegisterDNS&gt;
&lt;/VPNProfile&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-04-29 16:20] #6385 closed

[2020-04-29 20:04] mkuenzie opened #6606 "KioskBrowser/BlockedUrlExceptions URL Format"
Please provide further details on how to format multiple URLs for the BlockedUrlExceptions CSP.   It is not intuitive for use in something like a Custom Intune configuration profile.

[2020-04-29 20:04] computeronix commented on #3256
To further surface this; I noticed this page: https://docs.microsoft.com/en-us/windows/privacy/manage-windows-1903-endpoints

Which lists the following URLs for Microsoft Store
*.wns.windows.com
	storecatalogrevocation.storequality.microsoft.com
	img-prod-cms-rt-microsoft-com*
	store-images.microsoft.com
	.md.mp.microsoft.com
	*displaycatalog.mp.microsoft.com
	pti.store.microsoft.com
	storeedgefd.

[2020-04-29 21:21] mkuenzie commented on #6606
I believe I found that I needed to use the literal  instead of the `&#xF000;`

[2020-04-29 22:54] GambitC90 opened #6609 "Differences between Docs and Interface Help"
Just wanted some clarification on two items on this page...:

https://docs.microsoft.com/en-us/windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure#cloud-resources

https://docs.microsoft.com/en-us/windows/security/information-protection/windows-information-protection/create-wip-policy-using-intune-azure#protected-domains

********************

[2020-04-29 23:22] denisebmsft commented on #6598
@icelava thank you very much for letting us know about this. Apologies for the inconvenience. The links are fixed and the changes will be live soon.

[2020-04-30 01:50] yannisle opened #6610 "Can we change the title of this page to Poilcy "CSPs" supported by HoloLens 2? It makes it clear because the word Policy alone confuses customers"
Can we change the title of this page to Poilcy "CSPs" supported by HoloLens 2? It makes it clear because the word Policy alone confuses customers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e0d075-794c-6033-fb13-41727ee2e0fd
* Version Independent ID: cd9c8d26-a91a-95a2-c837-af6b3a32d537
* Content: [Policies suppor

[2020-04-30 08:01] icelava opened #6611 "InternetExplorer CSP only?"
Why doesn't this page mention the Browser CSP (although apparently for Edge ver 45 and earlier), the administrative template settings for Edge ver 77 and beyond, and the SmartScreen CSP?

All these silos of documentation can't seem to explain a proper differntiation between browser (Edge) level SmartScreen vs OS (Windows Explorer) level SmartScreen.

---
#### Document Details

⚠ *Do not edit this

[2020-04-30 13:58] Doberman0 opened #6613 "Black background not appearing in Mixed reality capture (MRTK)"
Having created an application in Unity for the Hololens 1 and setting the skybox to be visible in the Skybox settings, I am able to now see the sky (including the night sky - a black background with white dots representing stars) when using the application. However, when recording a mixed reality video (as per the instructions here at https://docs.microsoft.com/en-us/hololens/holographic-photos-an

[2020-04-30 16:49] e0i commented on #6323
@Nicholas-Steel

The issues section of this repository is intended for documentation and content-related issues.

Would you please discuss the matter via the link below so that that your question gets answered quickly?

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2020-04-30 16:49] #6323 closed

[2020-04-30 16:50] e0i commented on #6297
@joshrpg

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2020-04-30 17:07] e0i commented on #6090
@thedrum808 Hello, Would you be able to share the problem that you are experiencing through the
[Microsoft Feedback Hub app](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub)?

This channel is used for addressing the content problems within the documentation.

Thank you.

[2020-04-30 17:07] #6090 closed

[2020-04-30 18:10] evmill commented on #6613
First off I think you should file a bug via Feedback Hub which directly goes to the HoloLens devs.
Second, you might get some clearer answers either from the [MRTK ](https://github.com/Microsoft/MixedRealityToolkit-Unity/issues)section or perhaps [unity forums](https://forum.unity.com/forums/windows-mixed-reality.102/). Providing the repro project to Unity will be helpful.
Also if you're looking f

[2020-04-30 20:14] holoholo808 commented on #6545
I have also tested it on the Windows 10 1709 build, there it worked as a domain user without policy.

With Windows 10 1909 it doesn't work with or without policy anymore. So this policy doesn't really make sense. If I have to be an administrator for this change I don't need this policy. I have already the right for this change.

[2020-04-30 20:26] #6598 closed

[2020-04-30 21:02] illfated commented on #6545
Fair enough, I see your point. Since I don't have access to any Enterprise licensed computers, I would recommend asking for feedback from someone in the know of this specific policy in the Enterprise scenario, in case that would be helpful to your question(s).

@mypil or @denisebmsft : Would you be able to forward the questions above to anyone in the team, or do you know of any specific forum for

[2020-04-30 23:25] TinaMcN commented on #6588
@joergkarl the article is now human translated and the translation issues should be fixed.  @Teresa-Motiv can you review the issues regarding antibiotic soap and SRG?

[2020-05-01 00:33] Teresa-Motiv commented on #6588
I've forwarded the questions to the original doc author Saira.

[2020-05-01 14:10] luciousnickel28 opened #6617 "this"
i cant do it for my school

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb904674-d586-0a38-0e7c-7ac3e06cbcd9
* Version Independent ID: 549fbb52-6234-2a79-8604-85498e622f98
* Content: [Enable hardware-based isolation for Microsoft Edge (Windows 10) - Windows security](https://docs.microsoft.com/en-us/windows/security/

[2020-05-01 17:09] RAJU2529 commented on #6580
@icelava.  Sir do this open the corresponding admx file in policy definitions folder under windows,. Find the which registry key is configured  by the author.

[2020-05-01 17:33] mahybabu opened #6618 "Add and manage machine tags using the portal"
New Tag option is not showing under Manage Tags option, It's just showing a search box.
Is that step number 3 under the section 'Add and manage machine tags using the portal' right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b42e708-e334-d434-bcc9-e1860ebb36b3
* Version Independent ID: 92e251c5-8613-ce97-9569-0240

[2020-05-01 22:08] bledMS82 opened #6620 "Recommend adding trouble shooting/verification steps to verify data connection"
Need to add additional section that describes how user can verify data is being sent to event hub , one possible option would be to link to this tool with description of viewing events using https://github.com/paolosalvatori/ServiceBusExplorer or other similar tool. Or other quick method to check events are reaching event hub.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-05-02 00:28] illfated commented on #6610
Sounds reasonable. Just note that there are 3 pages linked into 1 by the button selector; they may be edited separately:
- https://docs.microsoft.com/en-us/windows/client-management/mdm/policies-supported-by-hololens2
- https://docs.microsoft.com/en-us/windows/client-management/mdm/policies-supported-by-hololens-1st-gen-commercial-suite
- https://docs.microsoft.com/en-us/windows/client-management/

[2020-05-02 00:31] illfated commented on #6610
The corresponding GitHub page links are as follows:
- https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/windows/client-management/mdm/policies-supported-by-hololens2.md
- https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/windows/client-management/mdm/policies-supported-by-hololens-1st-gen-commercial-suite.md
- https://github.com/MicrosoftDocs/windows-itpro-docs/blob/pub

[2020-05-02 05:50] ferdnyc opened #6622 "Confusing "Note" box regarding path entries on UEFI systems"
The "Note" box at list item 2 of the "Verify the integrity..." section reads:

Ignoring the fact that "entries" is misspelled as "entires", that statement isn't even CLOSE to accurate. In fact, it's actively confusing.

Something like the following would seem to be a more correct expression of the point the note is intending to make:

To make it even clearer, an example from a typical install migh

[2020-05-02 08:22] RAJU2529 commented on #6584
@denisebmsft . please look in to this issue

[2020-05-02 08:23] RAJU2529 commented on #6585
@MSFTEfeedback . wil you give me the link , so that I try to download In my laptop

[2020-05-02 08:35] beerisgood commented on #6585
He already post the link:

look at top in this site:
Download Microsoft Safety Scanner (32-bit)
Download Microsoft Safety Scanner (64-bit)

[2020-05-02 08:47] RAJU2529 commented on #6600
@carloreggiani . Please check the group policy, there is might SRP as setted to disallowed or
 Policy is modified to run only specific apps..
Check the all registry key under khlm\ software \policies\ machine   hive

[2020-05-02 08:54] ChineseWelshman opened #6623 "Enlightened, unenlightened or WIP friendly status of Microsoft Publisher unclear"
This page mentions that Office Professional Plus (now Microsoft 365 apps for Enterprise) is enlightened (Word, Excel, PowerPoint, OneNote, and Outlook) except for a specific note that states Access, Project and Visio as exceptions. The page is totally silent on the status of Microsoft Publisher. Also, the O365 Plus xml files for Allow and Exempt fail to mention Microsoft Publisher at all. what is

[2020-05-02 09:08] illfated commented on #6595
@mypil : Nice of you to ask if the user wants to contribute. Seeing that the comment text only says [Vŭvedete obratna vrŭzka tuk] ( [Enter feedback here] ), being the default text from the doc page, I would suggest that this ticket can be seen as a mishap or functionality test by the user, not intended as a problem report or doc improvement suggestion.

(Виждайки, че в текста на коментара се казва

[2020-05-02 16:35] mypil commented on #6617
@luciousnickel28 - Can you please share what specific issue you have with this doc? Or are you having some technical issues which requires technical support?

If you have some issues with this doc, we would really appreciate if you are able to help by providing more details as to what should be edited and/or included. Thank you!

[2020-05-02 18:12] RAJU2529 commented on #6585
I have downloaded successfully without problems, keeping windows defender is running with advanced configuration.
here are the screenshots

![Capture5](https://user-images.githubusercontent.com/3296790/80872171-ea946700-8ccd-11ea-8e33-69beb3bd7929.JPG)
![Capture6](https://user-images.githubusercontent.com/3296790/80872173-ed8f5780-8ccd-11ea-8034-d54944845c29.JPG)
![Capture7](https://user-images.gi

[2020-05-02 21:03] illfated commented on #6617
To me, that looks more like an implementation issue than a suggestion for what should be done to improve the existing document.

But you are right, it would be useful to know more about the details, to be able to determine exactly what the issue is about.

[2020-05-02 23:27] mypil commented on #6197
@OfficeGlobal - Do you have any updates on this?

Thank you.

[2020-05-03 00:11] mypil commented on #6547
@29039 - Thank you for providing feedback.

Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the **[Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub)**. You might find others have made a simi

[2020-05-03 00:11] #6547 closed

[2020-05-03 08:22] RAJU2529 commented on #6622
bootmgfw.efi is located in EFI partition
winload.efi is located in Windows partition

[2020-05-03 09:51] illfated commented on #6197
The reported section seems to be correct now: https://docs.microsoft.com/de-de/windows/security/threat-protection/security-policy-settings/create-symbolic-links#befehlszeilentoolscommand-line-tools

Unless there is anything else to be addressed here, closing this ticket should be in order.

[2020-05-03 11:32] mypil commented on #6566
@BugMeNot114514 - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/72274729032c9cc923d67cc25413c7c702b0dead.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-03 11:32] #6566 closed

[2020-05-03 12:26] illfated commented on #6610
A relevant question now is whether we should rename the page titles and files for the following pages, to follow the same pattern:
- [**Policies supported by Windows 10 IoT Enterprise**](https://docs.microsoft.com/en-us/windows/client-management/mdm/policies-supported-by-iot-enterprise) (linked with the page below)
- [**Policies supported by Windows 10 IoT Core**](https://docs.microsoft.com/en-us/

[2020-05-03 12:46] mypil commented on #6197
@schnadoslin - Vielen Dank für die Einreichung von Feedback.

Nach unserem Verständnis ist das Problem gelöst, so dass wir dieses Problem schließen werden.

Vielen Dank für Ihren Beitrag, um die Dokumente besser zu machen! Sehr geschätzt!

[Thank you for submitting feedback. From our understanding, the issue has been resolved so we will close this issue.  Thank you for your contribution to make th

[2020-05-03 12:46] #6197 closed

[2020-05-03 13:04] KeithQuestion opened #6626 "Memory Integrity"
I keep getting a message "Memory integrity can't be started.  There may be an incompatibility on you device"

How do I correct this?

Regards
Keith

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f784502-84dc-1122-eab4-1eeeb08da046
* Version Independent ID: 21f210a7-4c38-8f62-0226-121562617fef
* Content: [Memory integr

[2020-05-03 15:04] alexverboon opened #6629 "Limit of indicators is now 15000"
The current documentation mentions:

There is a limit of **5,000** active indicators per tenant.

however this was recently changed to 15'000

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19096ba2-ed3a-36bb-1b23-37da87d73892
* Version Independent ID: fd1ceb0f-9f76-45a8-7ed2-86857fab6ca4
* Content: [Submit or Update In

[2020-05-03 17:00] mypil commented on #6595
@IVANSEMKOV - Оценяваме всяка обратна връзка, която подобрява съдържанието в документите на Microsoft, но ние не сме имали отговор от вас, така че ние ще бъде затворена този проблем.

Ако има определена област от документите, които можем да подобрим, моля, не се колебайте да отворите нов проблем, като кликнете върху секцията Обратна връзка на конкретния документ на Microsoft, който се намира в дол

[2020-05-03 17:00] #6595 closed

[2020-05-03 17:05] yannisle commented on #6610
I think that’s fair :)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Trond B. Krokli <notifications@github.com>
Sent: Sunday, May 3, 2020 5:26:25 AM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Yannis Lempidakis <Yannis.Lempidakis@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-itpro-doc

[2020-05-03 19:02] Dugnychon opened #6630 "Windows Education feature"
In the prerequisites, Windows Education is missing even though the feature is supported on this version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c06f3ef-5946-862a-ae14-f897fdb518ca
* Version Independent ID: cd6a8b99-b1e9-dff5-f174-a15840b304f0
* Content: [Windows Sandbox - Windows security](https://docs.microso

[2020-05-03 19:26] resistor420 commented on #6626
what

[2020-05-03 20:05] illfated commented on #6610
Very good. Thank you. Do you mean also those 6 other pages, or just as it is now?

[2020-05-03 21:22] MilSak opened #6631 "Enroll in device management"
I am kind of bit confused. I am trying to create a provisioning package to enroll a SH in device management to benefit from MDM policies.. The Surface is joined to local AD.  I am not sure of the service account and password to use to do the authorization.
Is it this a local Ad account or AAD account.
Any feedback will be much appreciated.
Thanks

---
#### Document Details

⚠ *Do not edit this sec

[2020-05-03 22:13] eshutah commented on #6626
Same problem for me.  Dell XPS 8700, Windows 10 Version 10.0.18363 Build 18363.  I only tried the setting for the first time today.

[2020-05-04 04:23] RAJU2529 commented on #6626
@eshutah . @KeithQuestion   There are two ways to set this. One is by group policy and another manually adding registry key.
 Processor must be supported with bios compatible firmware is needed.
I have intel i5 7200u . I enabled memory integrity.

[2020-05-04 05:24] RAJU2529 commented on #6630
@Dugnychon . Thanks for reporting, After verification from the author, he might update the content

[2020-05-04 05:27] RAJU2529 commented on #6631
@MilSak. Your query will be answered by windows domain user experts. Keep waiting for the reply.

[2020-05-04 06:32] yannisle commented on #6610
Sorry I wasn’t clear enough - I recommend changing all pages to include the “CSP” word in the title.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Trond B. Krokli <notifications@github.com>
Sent: Sunday, May 3, 2020 1:05:13 PM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Yannis Lempidakis <Yannis.Lempidakis@microsoft.com>; Au

[2020-05-04 07:57] RAJU2529 opened #6632 "Thanks"
I configured my own system for testing, Working as i expected. Thanks to the author

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1311b0a-9022-b1db-ddd5-d5c57a4fde22
* Version Independent ID: e0dcb960-8145-2590-de7a-3a75118c3c5f
* Content: [Device security in the Windows Security app - Windows security](https://docs.

[2020-05-04 09:58] CodeChief opened #6633 "Wrong policy name in Countermeasure section."
In the "Countermeasure" section it currently says "Configure the Network security: LDAP server signing requirements setting..." however that does not exist. Possible values are either "Domain controller: LDAP server signing requirements" or "Network security: LDAP client signing requirements". Actually both must be set accordingly to implement the countermeasure without breaking client access as d

[2020-05-04 10:36] icelava opened #6634 "Reputation-based protection"
There's no such page as "Reputation-based protection" anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9190369-d270-4f74-629b-8f7b4bdf5f94
* Version Independent ID: fd574d3f-58d3-6e04-ed36-b62d6bbbebd0
* Content: [Set up and use Microsoft Defender SmartScreen on individual devices (Windows 10) - Windows securit

[2020-05-04 13:36] AntoineJo opened #6635 "SCEP update policies"
Hi, it would be great to add a step-by-step for SCEP updates configuration with SCCM as well :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08d16473-db61-23bd-7201-f5d7d6a56cc8
* Version Independent ID: 468238c8-8fb4-3dff-3485-07daab0c7833
* Content: [Onboard to the Microsoft Defender ATP service - Windows security]

[2020-05-04 17:03] RAJU2529 commented on #6634
@icelava . Yes, I too conformed on windows 10 1909  **Reputation-based protection ** is not there..
The SCreenshot is showing outdated. The current article is updated in the year 2017,.
The Author of the needs to be update.

[2020-05-04 17:33] denisebmsft commented on #6632
@RAJU2529 thank you for the positive feedback! Glad to know it's working as expected!

[2020-05-04 17:33] #6632 closed

[2020-05-04 17:43] PaulTown opened #6637 "Additional Step needed for ADFS 2019"
There is additional steps needed for ADFS 2019 that need to be added to this document.
To get the Enterprise PRT for 2019 you need to run these commands on each 2019 ADFS server.

Add-AdfsScopeDescription -Name ugs
$id = (Get-AdfsApplicationPermission -ServerRoleIdentifiers "http://schemas.microsoft.com/ws/2009/12/identityserver/selfscope" | ?{ $_.ClientRoleIdentifier -eq "38aa3b87-a06d-4817-b275-

[2020-05-04 18:15] #6585 closed

[2020-05-04 18:27] dcsoft4 opened #6638 "Submission ignored"
I submitted https://www.microsoft.com/en-us/wdsi/submission/8ccaceaa-1ad9-4831-ab7e-509636eec032 about 3 weeks ago and there still no analyst comment, and any further communication about it requires us to wait for the analyst's outcome.  Where do we inquire about expected time to response?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-05-04 18:53] illfated commented on #6344
(Ref. merged PR #6636 )

[2020-05-04 19:03] illfated commented on #6585
Download working for me as well. Tested both links, the 32-bit version will not run on my computer (wrong OS architecture).
@MSFTEfeedback : Your download might have been a cached (outdated) version. Clear all your browser cache and try again.

[2020-05-04 19:03] ferdnyc commented on #6622
@RAJU2529 Agreed, and that's exactly my concern. Those are _filenames_ (well, the filename parts of file paths), and only one of them is even in `{default}`.

The statement "the bootmgr and winload entries under {default}" is confusing because it appears to be referring to things that don't actually exist, at least not in that form.

[2020-05-04 20:16] VLG17 commented on #6458
@ITCTarunchhabra This functionality is in private preview, with public preview expected this month - https://oofhours.com/2020/03/18/podcast-episode-1-windows-autopilot-hybrid-azure-ad-join/

according to Michael Niehaus, Program Manager:

[2020-05-04 20:42] VLG17 commented on #6505
@nivdolgin I've created a PR and added a new line about this error under the section Errors with unknown mitigation:

**0x801c004d - Unable to enroll a device to use a PIN for login**

For a possible solution, you could check this identical issue: https://github.com/MicrosoftDocs/windows-itpro-docs/issues/2900

[2020-05-04 22:16] TinaMcN commented on #5932
@milbrandt @illfated Wir danken Ihnen für die Mitteilung und zusätzlichen Erläuterungen. Das Problem, bei dem das „&“ durch das „#a0“ ersetzt wurde, ist ein bekannter Fehler in unserem maschinellen Übersetzung-Tool, der sich auf mehrere deutsche Artikel ausgewirkt hat. Das MT-Tool-Team hat einen Fix für den Fehler gefunden und wir hoffen, ihn bald in den deutschen Artikeln zu korrigieren.
Das MT-T

[2020-05-04 22:28] mypil commented on #6344
@GitHubSachin - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/bfb3dd398d69a8282d512eaec04fe102a6da5f00.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-04 22:28] #6344 closed

[2020-05-04 23:20] mypil commented on #6503
@SteveBurkettNZ - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/f033ac3.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-04 23:20] #6503 closed

[2020-05-04 23:35] mypil commented on #6502
@dexter74 - Merci d’avoir soumis des commentaires.

D’après ce que nous avons compris, la question que vous avez soulevée a été répondue par @MaratMussabekov, nous allons clore cette question.

Merci pour votre contribution pour améliorer les docs! Très apprécié!

[2020-05-04 23:35] #6502 closed

[2020-05-04 23:58] azsec opened #6640 "Please add version history"
Hi PG team,

Could you please add version history and what changes in each of version? That would help for tracking. Thank you very much.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca25ead-3b5d-4434-1865-0d4fef57ebdf
* Version Independent ID: 8d146609-15b5-b8a0-62bf-108f29248991
* Content: [What's new in Microsoft

[2020-05-05 00:48] adamderuwe commented on #6506
@denisebmsft @mypil - any chance we can get an update as to if this will be addressed or not?  Thanks!

[2020-05-05 02:25] aikensam opened #6641 "StartTime or StartDate?"
PauseQualityUpdatesStartDate and PauseFeatureUpdatesStartDate repeat multiple times here but they are StartTime intead of StartDate in "Group Policy Settings Reference Spreadsheet Windows 1809".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1684b30a-3187-85ce-0cf7-10d1b8298b7f
* Version Independent ID: 9b7170fc-2b39-8

[2020-05-05 03:24] frfriel opened #6642 "MDM reliable party"
The portion on "Make the MDM a reliable party of Azure AD" needs to be updated. You cannot configure MDM as a reliable party in the manner documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b66f06aa-8465-821f-6ad8-9c04f9be5291
* Version Independent ID: 0f2f73e7-8154-4f7f-a24b-841785c05dd6
* Content: [Azure Acti

[2020-05-05 05:15] illfated commented on #6610
PR #6627 is now updated as requested and should be complete. Oddly enough, only 1 out of all 9 files showed up as a combined file rename & diff view.

[2020-05-05 07:32] RAJU2529 commented on #6638
@dcsoft4 . I think it's not ignored, sample might be analysed already , updated antivirus files are updated via server to windows 10 os.

[2020-05-05 07:43] VLG17 commented on #6521
@bradrush In that situation (which was fixed shortly after) you would be able to see these "inactive" machines in the [Security Operations Dashboard](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/security-operations-dashboard#sensor-health)

[2020-05-05 09:11] VLG17 commented on #6526
@fmike7 I'm no developer, but maybe you could leverage this programmatically:

https://docs.microsoft.com/en-us/windows/win32/debug/system-error-codes

https://docs.microsoft.com/en-us/windows/win32/debug/system-error-code-lookup-tool

[2020-05-05 11:36] VLG17 commented on #6527
@jcbendernh I think you can leverage streaming ATP Advanced Hunting events to Azure Storage as described here: https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/raw-data-export

Although not an official Microsoft source, you can also look at this blog to see a real flow: https://emptydc.com/2019/07/23/microsoft-defender-atp-streaming-api/

[2020-05-05 15:05] laughingman42 opened #6644 "Ambiguous timeframe - "upto 30 days""
This line is ambiguous: "Advanced hunting is a query-based threat-hunting tool that lets you explore up to 30 days of raw data." This would mean that we can run queries on data for any 30-day timeperiod (within data retention period selected). Eg: For 180 day data retention, we can run queries on a events between 60 to 90 days ago.
Current behaviour (at least in my instance) seems to indicate the

[2020-05-05 15:47] bledMS82 opened #6645 "Add list of "common system folders""
In the line "The protected folders include common system folders" there is no explanation of what folders these are , please include link or list in doc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76a78241-106e-4b06-8c19-998d67617456
* Version Independent ID: bc47935a-7d45-120d-3c1e-dd0e1431ab7c
* Content: [Prevent

[2020-05-05 16:47] Harmyder opened #6647 "Wrong description for HEALTHATTESTATION_CERT_RETRIEVAL_COMPLETE"
Description for HEALTHATTESTATION_CERT_RETRIEVAL_COMPLETE (3) is the same as for HEALTHATTESTATION_CERT_RETRIEVAL_FAILED (2). And from Step 3 I infer that it probably should be some kind of success. Even if it is a failure it deserves its own description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b523bfc-d44c-c8d

[2020-05-05 16:57] denisebmsft commented on #6640
Hello @azsec! Thank you for the feedback. Version history is built into GitHub (which is one of the nice things about using GitHub to publish documentation). If you click Edit in the upper right corner, and sign in, you'll see a History button. Click that to view all the versions of the article. I hope this helps!

[2020-05-05 17:10] #6640 closed

[2020-05-05 17:37] illfated commented on #6647
Should be manageable to find what the actual description should be, although there does not seem to be an exact description on this page. Maybe it could be found by combining the conclusion in one of the previous sections and some other page document related to this topic. This is what I found in the main CSP diagram description:

***

**Status** (Required)

Provides the current status of the devi

[2020-05-05 17:50] illfated commented on #6647
BTW, thank you @Harmyder, for pointing out the issue, it looks like a copy-paste mistake by the original author. Although I cannot promise exactly when, I would like to create a PR to have that text corrected. Just need some research first to find out if this is something which could be found somewhere on the internet, or if it needs to be provided by someone internally in Microsoft.

[2020-05-05 18:12] martyav commented on #6440
Hi, @hedegaardDK

I started working with a PM on this issue.

They wanted more context on the ask. They understood it to mean, creating a scheduled task that runs a PowerShell script that downloads updates with a GPO. In their opinion, they wouldn't create the task with a GPO, but would rather distribute a PowerShell script with GPO to create and maintain the task.

I'll be opening a PR soon based

[2020-05-05 19:14] markdepalma commented on #6458
I am using device tunnel and user tunnel (MS Always On) to make it all work. I had to write my own script (injected via Intune) to manage the EKU filter on the device tunnel and also had to let device tunnel use the Intune MDM device cert to authenticate to RRAS because it takes a little bit for the device certificate Intune profile to come down. I've been testing on multiple devices and just been

[2020-05-05 19:16] markdepalma commented on #6458
Even if you use the network skip option (which I see references too in the autopilot logs) you'd still need certs to come down to authenticate to VPN. I'm wondering how they are making that all work immediately. I see significant delays in my cert and PowerShell profile delivery times compared to when I finish enrollment.

[2020-05-05 20:39] jonwbstr opened #6648 "Qualified multitenant hoster link is broken"
the link for "qualified multitenant hoster." says, "page cannot be found" also I believe multi-tenant is a hyphenated word.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd18b4c7-1c71-916d-cb5c-8322903e8ed5
* Version Independent ID: 7b4c1663-1b1a-2952-7bf8-b0cb724013af
* Content: [Windows 10 Subscription Activation -

[2020-05-05 20:57] illfated commented on #6648
Thank you for reporting that broken link, which turns out to be another exception from the general rule of using localizable links, instead of having /en-us/ as part of the link. The usual suspects are the Windows Server OS download pages and some non-localized software pages. As a note to myself, the actual link is this one:
- https://www.microsoft.com/en-us/CloudandHosting/licensing_sca.aspx

Pa

[2020-05-05 21:31] illfated commented on #6648
Hmm, looks like I won't be making any suggested change to the word "multitenant", seeing that the www.microsoft.com page does not split the word by hyphen or space (although the page does use the QMTH initials as if it was referring to a "Multi Tenant" or "Multi-Tenant"). Oh well.

[2020-05-05 21:49] illfated commented on #6648
There you go, PR #6649 is now ready for review. Feel free to comment or suggest further improvements.

[2020-05-05 22:03] jonwbstr commented on #6648
Yeah I saw that after opening the ticket as well. Curious but it is what it
is. Thanks!

On Tue, May 5, 2020, 5:32 PM Trond B. Krokli <notifications@github.com>
wrote:

[2020-05-05 22:21] levinec commented on #6638
Hi @dcsoft4, if you have questions about submissions please contact Microsoft support. This git issues channel is for documentation changes only.

[2020-05-05 22:21] #6638 closed

[2020-05-05 22:24] #6648 closed

[2020-05-06 03:30] MaratMussabekov commented on #6557
Hello @KarbonX1,
you can turn it off by configuring the "Automatically setup for work or school" option in autopilot profile.
Source: https://docs.microsoft.com/windows/deployment/windows-autopilot/profiles
Thank you

[2020-05-06 03:54] MaratMussabekov commented on #6408
Hello @pmkochie,
correct, MFA Server [is no longer available](https://docs.microsoft.com/azure/active-directory/authentication/howto-mfaserver-windows)
**How can I make my domain-joined Windows 10 Enterprise x64 1903 and newer MFA at Windows login?** - To secure Windows login, you now need to use Windows Hello for Business.
**when you try to install it in azure you need a premium azure account** -

[2020-05-06 05:22] MaratMussabekov commented on #6471
hello, @LPonten,
you could do it by performing following steps:
1. go to the policy where you removed "Window Manager\Window Manager Group" from
2. go to **computer configuration>windows** settings, right click on **security settings** and select **export policy**
![image](https://user-images.githubusercontent.com/48041687/81140440-c4e3b800-8f82-11ea-98f2-91e5db69ab7a.png)
3. save the file, open i

[2020-05-06 06:38] hedegaardDK commented on #6440
Hi @martyav

I meant, add to the article how to also add a schedule task in Group Policy – Preference, under schedule task, how to add the PowerShell to run from there.
It was just a suggestion to also give the customer help to solve it like this.

And my main problem with this setup was, that I didn’t wanted to have a network share with the definition file, but rather wanted to have it lying loca

[2020-05-06 06:38] #6440 closed

[2020-05-06 07:12] MaratMussabekov commented on #6570
Hello @aggerritsen ,
for linux machines, you can only set tags using portal (like described [here](https://docs.microsoft.com/windows/security/threat-protection/microsoft-defender-atp/machine-tags))
You can set tags on OS level only for Windows machines (via registry keys)
Thank you

[2020-05-06 07:41] aggerritsen commented on #6570
Hi Marat,

Thanks for your answer. Is this a roadmap item that may be available in the near future?

Kind regards, Arjen

[2020-05-06 09:46] yogeshasalkar opened #6651 "NetworkSecurity_MinimumSessionSecurityForNTLMSSPBasedClients not available"
NetworkSecurity_MinimumSessionSecurityForNTLMSSPBasedClients  GP -&gt; Network Security: Minimum session security for NTLM SSP based (including secure RPC) clients  is not given in documentation but it is configurable via Intune. I Have tested this setting. Please update it in documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-05-06 11:06] mardahl commented on #5543
They removed the note that said "Device credential group policy setting is not supported for enrolling into Microsoft Intune".
Why do I ask? Why?!
The issue has not been fixed. please avoid using Device Credentials. you are asking for a world of pain.
It will seem to work if you have the Intune Connector installed, but in reality, it's just falling back to User Credentials.

[2020-05-06 11:38] MaratMussabekov commented on #6583
Hello @Petitohead ,
files that must be edited are InstallMMA.cmd and ConfiguerOMSAgent.vbs, which are considered to be used during the installation of Microsoft Monitoring Agent
However, the agent installation file I took from the link from [this article](https://docs.microsoft.com/windows/security/threat-protection/microsoft-defender-atp/onboard-downlevel) doesn't have these scripts, it only has

[2020-05-06 11:40] 1600 opened #6652 "precedence of UAC component "CreateProcess"'s three checking conditions is unclear"
from the documentation:

we can see there are 3 things that can trigger UAC prompt:
1. App compatibility settings
2. Fusion,  the application manifest
3. Installer Detection Technology

a. is there different priority levels to process 3 settings above?
b. if the application manifest overrides other settings, Why is an executable ran from standard user requesting for Elevation prompt when its manif

[2020-05-06 12:55] MaratMussabekov commented on #6584
Hello @imlukedewitt ,
yes, you are correct:
![image](https://user-images.githubusercontent.com/48041687/81179111-a69dac80-8fc2-11ea-9d4e-f8975798d890.png)
I will create a PR to fix it in the article.
Thank you

[2020-05-06 13:31] yonathanluiz opened #6654 "Why i can save bitlocker key only in usb?"
![bitlocker](https://user-images.githubusercontent.com/64906019/81182606-63bce400-8f84-11ea-8cf8-e46a14b6af8c.png)

I cleared the TPM and still the problem remains what to do? is there a way to fix without using the BIOS?

[2020-05-06 13:33] beerisgood commented on #6654
Saving to USB works.
Looks like your key doesn't had a drive letter / don't get recognized at all. Check that first

[2020-05-06 13:55] RAJU2529 commented on #6654
@yonathanluiz . Bitlocker key can be saved in Microsoft account when device is connected to the internet  by enabling BitLocker.
It gives options to take a printout, save key to usb device  and  to Microsoft account

[2020-05-06 14:00] yonathanluiz commented on #6654
The problem is when I run the option to turn the bitlocker on it automatically tries to generate the key via usb without letting me choose how I want to generate it, and there is not even the option to go back as you can see in the print.

[2020-05-06 14:03] RAJU2529 commented on #6651
@yogeshasalkar . Good, you already tested via intune. Will you share the results of the tested?

[2020-05-06 14:10] RAJU2529 commented on #6645
@bledMS82 . Recently i executing some files which are in continued in system32 folder.
i accessed below files, but controlled folder access is blocked to access
1. Chkdsk.exe
2. Systeminfo.exe
3. Msconfig.exe

[2020-05-06 14:14] Torxsmind opened #6655 "Azure Autiomation Examples"
Need information on how to configure this settings via a Azure Automation account.  Do we add registry items via State Configuration (DSC) or Update management.  This is being rolled up to Azure Security Center as a vulnerability AZ-WIN-00152, with no discernable remediation plan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-05-06 14:23] RAJU2529 commented on #6633
@Dansimp .after reading  @CodeChief  his comment, i checked on windows 10 1909 with updated admx files,
i found  **Network security: LDAP server signing requirements**   does not exist.
Only  **Network security: LDAP client signing requirements** is exist

So please look into this issue sir

[2020-05-06 14:47] RAJU2529 commented on #6654
@yonathanluiz . It will gives  the options afterwards , because i enabled once  , saved key in usb device , taken printout and key is also saved in microsoft account .

which version of Windows 10, you using, i am using 1909 64bit 18363.815
https://support.microsoft.com/en-us/help/4026181/windows-10-find-my-bitlocker-recovery-key

[2020-05-06 14:53] e0i commented on #5928
It seems that the question has already been answered by the community and thus the is being marked as resolved.

Feel free to re-open the issue if you feel it hasn't been resolved.

Thank you for providing feedback.

[2020-05-06 14:53] #5928 closed

[2020-05-06 14:56] e0i commented on #5904
An independent contributor will publish a PR for the dead link. Thank you.

[2020-05-06 14:56] e0i commented on #5902
Hello, @- thank you for providing feedback.

The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2020-05-06 14:56] #5902 closed

[2020-05-06 15:07] e0i commented on #2295
This question can be best answered via [Windows 10 Support channels.](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

The issues section of this repository is intended for product documentation issues only.

Thank you.

[2020-05-06 15:13] e0i commented on #6386
The issues section of this repository is intended for documentation and content related issues.

Please open a support ticket via the link below so that that your question gets answered quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2020-05-06 15:13] #6386 closed

[2020-05-06 15:16] e0i commented on #6369
The issues section of this repository is intended for documentation and content-related issues.

Please open a support ticket via the link below so that that your question gets answered quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2020-05-06 15:16] #6369 closed

[2020-05-06 15:19] beerisgood commented on #6645
Is this expected behaviour? In my opinion windows internal processes should be whitelisted

[2020-05-06 15:23] e0i commented on #6355
It seems that the question has been answered by the community,  and thus the issue is being marked as resolved.

Please note that the issues section of the repository is intended for corrections in technical documentation.

Should you need to ask a similar question again, consider asking the question via the [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windo

[2020-05-06 15:23] #6355 closed

[2020-05-06 15:36] RAJU2529 commented on #6645
@beerisgood . It was blocked the accessing the files. .
Really i want to execute those flles, soi allowed in controlled folder access

[2020-05-06 15:39] dominique97 opened #6656 "Unclear what [channel] should be set to"
Documents tell users which [distro] and [version] to use, but there is not information on what the channel should be, which channels are available, and what the differences are

[2020-05-06 15:50] #6273 closed

[2020-05-06 16:00] denisebmsft commented on #6656
Hello @dominique97. Can you please tell us to which article(s) your feedback applies? This will help us route this issue to the right team/writer.

[2020-05-06 16:03] denisebmsft commented on #6652
Hello @1600 and thank you for the feedback. It's this article, yes? https://docs.microsoft.com/en-us/windows/security/identity-protection/user-account-control/how-user-account-control-works

[2020-05-06 16:07] evmill commented on #6597
With the merge of the PR above that mentions this Issue, the Layout app is not longer present on that HL2 hardware page.
https://docs.microsoft.com/en-us/hololens/hololens2-hardware#pre-installed-software
Closing.

[2020-05-06 16:07] #6597 closed

[2020-05-06 16:11] dominique97 commented on #6656
Sorry bout that!  https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/linux-install-manually

[2020-05-06 16:50] CodeChief commented on #6633
Yes I guess the author originally intended it to read "Domain controller: LDAP server signing requirements".

It would also make sense to list all three requirements to remediate the risk (as I understand):
1) The domain controller/LDAP server setting.
2) The LDAP client setting (includes member servers as "clients").
3) The security fix to all clients and servers before activating any of the poli

[2020-05-06 16:52] RAJU2529 commented on #6654
@yonathanluiz . When i was tested it does not ask Pendrive to connect while unlocking BitLocker from booting, instead, i typed key every time, the computer starts.
I don't know the way to remove the dependency

[2020-05-06 16:54] leniwiec16 opened #6657 "Simultaneously block domain for some users but allow for others"
Is it possible to make an exception for certain users to allow traffic for otherwise blocked domain? In other words does the action "allow" have a precedence before "block"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f2be10-41a0-67ae-222b-1b073bef537b
* Version Independent ID: 3f186b13-aad0-4ba4-e239-d9bb24ff2ebe

[2020-05-06 16:56] RAJU2529 commented on #6633
@CodeChief. Keep  wait, let experts will reply to this article.

[2020-05-06 17:49] Pickell opened #6658 "Enable Prevent installation of devices that match these device setup classes."
The example of the proper usage of "Enable Prevent installation of devices that match these device setup classes" is missing from the subsection "Prevent installation and usage of USB drives and other peripherals".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f395d314-f7cd-6d89-b392-b0af0e527d36
* Version Independent

[2020-05-06 17:57] ClaudioRifo commented on #2295
Please read the case.
I already got a response from Microsoft support. And it states that your documentation is Wrong.

[2020-05-06 21:35] apizz commented on #6073
Any updates here?

[2020-05-06 23:08] #6610 closed

[2020-05-06 23:46] greg-lindsay commented on #5346
Hi, sorry to have let this issue languish so long. I have gotten some additional information recently and I will update the article.  Activation only requires that you are able to access the KMS host in your region. https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/troubleshoot-activation-problems

[2020-05-07 00:11] DulceMontemayor commented on #5179
Dani Halfin already asked SME Garrett Burk to respond....let's hear it from him....

[2020-05-07 02:52] annerajb opened #6661 "configure wdav channel with just configuration profile (not command line?)"
Is there a way to configure just the wdav update channel on the profile without having to run a command line / shell command?
Or in the same profile to specify the different update channels for wdav vs everything else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5f86d88-a696-926e-cecf-75e114667005
* Version Indepen

[2020-05-07 03:46] 1600 commented on #6652
exactly this article.

[2020-05-07 08:19] shaun-lee-uk commented on #5179
Folks, in the 7 months it's taken you to get this far, someone's already resolved it.

I'll just point out that when you had a dedicated security evaluations mailbox - this would have been fixed in a couple of weeks max.  Poor service if I can rely on a third party's website (OK, it's the US govt, but the principle ...) more than the vendor's own.

[2020-05-07 08:19] #5179 closed

[2020-05-07 08:39] scerazy commented on #857
Is it even possible? Anf if not, then WHY NOT?

[2020-05-07 11:19] alfa-batsi commented on #6626
I have the same error on Microsoft Surface Laptop 3.

[2020-05-07 11:25] RAJU2529 commented on #6626
@alfa-batsi . Did you enabled VBS virtualization-based security before enabling  memory integrity

[2020-05-07 11:29] peterhuerlimann opened #6662 "Microsoft Management Agent Fast Deployment Guide?"
Hi,

Where can I find the "Microsoft Management Agent Fast Deployment Guide" mentioned above?

Kind regards,
Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2748359b-273d-7faa-6a63-7a6ebea450d2
* Version Independent ID: f4885da5-9a83-13aa-789e-1751db586404
* Content: [Set up Microsoft Defender ATP deployment - Win

[2020-05-07 11:30] alfa-batsi commented on #6626
I do not think so. Prior trying to enable memory integrity, I turned on core isolation first. Where do i turn the VBS virtualization from?

[2020-05-07 11:33] RAJU2529 commented on #6626
@alfa-batsi type the following in cmd with admin rights and press enetr

**Reg.exe add "HKLM\SYSTEM\CurrentControlSet\Control\DeviceGuard" /v EnableVirtualizationBasedSecurity /t REG_DWORD /d 1 /f**

[2020-05-07 11:40] alfa-batsi commented on #6626
I did as you suggested, restarted computer, but still get same error

[2020-05-07 11:42] RAJU2529 commented on #6626
@alfa-batsi. give me the screenshot , what's the hardware configurations are there in your laptop

[2020-05-07 11:45] RAJU2529 commented on #6626
@alfa-batsi
here is my laptop configuartions
![Capture1](https://user-images.githubusercontent.com/3296790/81290833-5d169580-9086-11ea-9da9-1bbdf9506d33.JPG)
![Capture2](https://user-images.githubusercontent.com/3296790/81290848-60aa1c80-9086-11ea-9a92-c8a508ccc0a7.JPG)
![Capture3](https://user-images.githubusercontent.com/3296790/81290851-6273e000-9086-11ea-862d-45cde65e5ebf.JPG)

[2020-05-07 11:50] alfa-batsi commented on #6626
![image](https://user-images.githubusercontent.com/1078022/81291150-56822100-907a-11ea-9607-7d29373d4d52.png)

[2020-05-07 11:52] alfa-batsi commented on #6626
![image](https://user-images.githubusercontent.com/1078022/81291401-bc6ea880-907a-11ea-9be0-2d5ad8600f5b.png)

[2020-05-07 11:53] RAJU2529 commented on #6626
@alfa-batsi .  memory integrity is already turned on

[2020-05-07 11:56] alfa-batsi commented on #6626
The last screenshot is when i try to turn it on and the error pops up. Then it goes back to off

![image](https://user-images.githubusercontent.com/1078022/81291646-3a32b400-907b-11ea-9097-4779e09a093f.png)

[2020-05-07 12:00] RAJU2529 commented on #6626
@alfa-batsi . what about device security page

[2020-05-07 12:08] alfa-batsi commented on #6626
I do not think there is anything usefull there, nut anyway:

![image](https://user-images.githubusercontent.com/1078022/81292620-f80a7200-907c-11ea-8892-5ead04f1d111.png)

[2020-05-07 12:12] RAJU2529 commented on #6626
@alfa-batsi , You using windows 10 home, not pro version,  so you cant  configured through group policy editor.

did you enabled all advanced security features related to INTEL  processor

[2020-05-07 12:19] alfa-batsi commented on #6626
I just looked through bios settings. There is everything enabled related to security

[2020-05-07 12:20] alfa-batsi commented on #6626
may be this feature is not support for win 10 home. I will look through microsoft docs. Thanks for your time.

[2020-05-07 12:26] RAJU2529 commented on #6626
@alfa-batsi At last try, i give  device guard registry key, merge it
[Deviceguard.zip](https://github.com/MicrosoftDocs/windows-itpro-docs/files/4592891/Deviceguard.zip)

[2020-05-07 12:36] alfa-batsi commented on #6626
I went with "Enable DeviceGuard.reg" file, restarted the computer, but still no luck.

[2020-05-07 12:39] RAJU2529 commented on #6626
@alfa-batsi , sorry then no more ideas

[2020-05-07 12:40] alfa-batsi commented on #6626
Thanks a lot.

[2020-05-07 12:56] yonathanluiz opened #6663 "How to remove pre-boot PIN and usb key from bitlocker?"
![5fb90a8e-86e1-42f3-b5ad-094bf65a47f1](https://user-images.githubusercontent.com/64906019/81296933-0179e700-9049-11ea-9e43-c3c22aabbce0.jpg)

I need to remove this dependency from the pre-startup, users cannot access the bitlocker keys for security reasons, and I can't disable the bitlocker, does anyone know how to help me?

[2020-05-07 13:26] beerisgood commented on #6663
What? Why the user can't access the recovery keys? It doesn't make sense to say "because of security reasons".

So you can't login to windows now?

[2020-05-07 14:37] yonathanluiz commented on #6663
It is a company security procedure, they cannot access security keys, many of them delete files when they are fired

[2020-05-07 15:21] denisebmsft commented on #6663
Hello @yonathanluiz. This doesn't appear to be a documentation issue. Please correct me if I am wrong. And if documentation does need to be updated, can you tell us which article(s)?

[2020-05-07 15:58] yonathanluiz commented on #6663
It's a BITLOCKER problem!

[2020-05-07 16:45] RAJU2529 commented on #6663
@yonathanluiz . Its possible  before restarted the BitLocker  drive, You should have enabled some configurations via  group policy editor
Conputer configuartion\Administrative templates\Bitlocker Drive Encryption\Operating system drives\Require additional authentication at startup

![Capture4](https://user-images.githubusercontent.com/3296790/81321404-30777380-90b0-11ea-8dcf-116682dfc3d3.JPG)

[2020-05-07 16:46] eshutah commented on #6626
I'm going to file this setting under "Unfinished/Bug riddled" for now.  If you have to edit the registry and/or run the group policy editor in hopes of making it work, Microsoft has more work to do.

[2020-05-07 16:52] RAJU2529 commented on #6626
@eshutah . Is your issues is  solved  or not

[2020-05-07 16:54] alfa-batsi commented on #6626
no, did not have time to dig deeper. maybe some time later. i will post update.

[2020-05-07 17:08] eshutah commented on #6626
The issue is not resolved for me.  I'm going to consider the setting unusable for now.  Or, you could argue that it is resolved for me since I have chosen not to pursue the sorts of fixes you are suggesting.  I will probably try it again after the next update.

[2020-05-07 18:05] e0i commented on #6081
Hello,

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10) would be a more appropriate channel for this question.

The issues section of this repository is used for article corrections.

Thank you.

[2020-05-07 18:05] #6081 closed

[2020-05-07 18:07] e0i commented on #6064
@Wes777

Somehow your issue has been opened without being associated with a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2020-05-07 18:09] e0i commented on #6061
It seems that the question has been answered by the community,  and thus the issue is being marked as resolved.

Please note that the issues section of the repository is intended for corrections in technical documentation.

Should you need to ask a similar question again, consider asking the question via the [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windo

[2020-05-07 18:09] #6061 closed

[2020-05-07 18:39] Sadlic commented on #6626
Hi, I had the same issues with memory integrity and found this thread with same "no result". But I found the following and finally did it:

https://www.tenforums.com/tutorials/104025-turn-off-core-isolation-memory-integrity-windows-10-a.html

1. In my msinfo32 (System Information) the item  "Visualization-based security Services Running" had an empty value. The rest was like it is shown in the pic

[2020-05-07 18:55] aarondmarr opened #6666 "Table 4. Surface Book 3 with Quadro RTX 3000 SKUs"
Will there be a SKU with 2 TB of storage? I have a ThinkPad P71 w/ P5000 I'd like to replace with a Quadro Surface Book, but I need 2 TB of storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d978d59-5616-b09e-103a-711379a814c2
* Version Independent ID: c4685ca4-2eda-3834-3ddf-a613c4b2d789
* Content: [Surface Book

[2020-05-07 19:18] TinaMcN commented on #5849
@d-Rickyy-b thanks for reporting this.  The spacing problem is a bug in our machine translation tool which the tool owners are actively investigating.   The article has been human translated since you reported the issue so it's fixed in this article now.  I hope we'll have a fix soon to correct the issue in other articles that have the same problem.

[2020-05-07 20:01] illfated commented on #5849
Looks good to me, from what I can see by comparing the reported spacing issues to the current page.

[2020-05-07 20:03] #5901 closed

[2020-05-07 20:08] thlac commented on #6081
Ok, thanks anyways.

[2020-05-07 20:38] Bullaa commented on #2387
use of office365 office installed version ,particularly when Outlook or words is started ,causes initiation of Microsoft warning, covering the whole PC screen showing no signs of minimizing,(-) or (x) enabling minimizing or closing the page. Only recourse is use of Ctrl+Alt+Sel to generate options to initiate options to start the screen showing shut down, Task Manager where opting for task Manager

[2020-05-07 20:43] e0i commented on #6238
@OfficeGlobal Any updates on this?

[2020-05-07 20:48] e0i commented on #6387
Closing via *arcarley*'s commit, [[3ca714c ] Update waas-manage-updates-wufb.md ](https://github.com/MicrosoftDocs/windows-itpro-docs/commit/3ca714c8c65fdcec4afd3c2f8fb0b735b0b77202#diff-8c2d55a36926f46a51d9b40832ba0086)

[2020-05-07 20:48] #6387 closed

[2020-05-07 20:53] e0i commented on #6338
A revision attempt is going to be published for this feedback. Thank you for the discussion.

[2020-05-07 20:59] e0i commented on #6291
@Ochichka Apologies for the delay as I have been struggling with a growing backlog lately. The issue has been assigned to an independent contributor. Expect a PR within the coming few days. Thank you for following up.

[2020-05-07 21:56] beerisgood commented on #2387
@Justinha any news?

[2020-05-07 22:47] e0i commented on #6399
A PR is underway to incorporate this information in the article. Thank you everyone for productive discussion. Much appreciated.

[2020-05-07 23:14] mypil commented on #6584
@imlukedewitt - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/4878044ecceb386bc067e6da0ee697e3281e0029.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-07 23:14] #6584 closed

[2020-05-08 00:02] illfated commented on #6387
(comment copy edited for future readers to assist in previewing the link information directly on this page + linking directly to the repository file)

(only 1 file is present in the commit, so I see no practical use for the #diff link to highlight that single file)

[2020-05-08 01:46] Tafkae opened #6668 "Markdown oddities under Windows 10 Family section"
Under the Family section, some of the endpoint URLs appear to have been fully or partly italicized at points where it seems like asterisks may have been intended.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 611b03b8-c215-0f34-c739-7f4bc7fcf51e
* Version Independent ID: 695ca891-bf89-82df-a9a8-90e598512c96
* Content:

[2020-05-08 05:16] mica opened #6669 "There is no longer a "See full history" option."
On version 1909. Please update this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de416fda-04fb-6780-6675-020fdc2426ba
* Version Independent ID: ede7f3c1-ba3a-e331-80d8-c992b3d7f9a4
* Content: [Restore quarantined files in Windows Defender AV - Windows security](https://docs.microsoft.com/en-us/windows/security/threa

[2020-05-08 06:46] JasonHershey commented on #5690
I'm a bit confused.  Is the script at https://docs.microsoft.com/en-us/windows/security/identity-protection/credential-guard/dg-readiness-tool the 3.7.1  version?  Should we use that or the 3.6 one -- or go to the ticket above to pick up the 3.7 version.

[2020-05-08 08:28] HenkPoley commented on #5690
There is a 3.7.2 version with 'proposed' patches: https://github.com/illfated/windows-itpro-docs/commit/e25231e6ffc23ef6109b9a9bd5e791902c95f6d6

'the file' is in here: https://github.com/illfated/windows-itpro-docs/blob/e25231e6ffc23ef6109b9a9bd5e791902c95f6d6/windows/security/identity-protection/credential-guard/dg-readiness-tool.md

[2020-05-08 08:39] HenkPoley commented on #5690
There is still a link called "hardware readiness tool" to the old v3.6 at the top of: https://docs.microsoft.com/en-us/windows/security/identity-protection/credential-guard/credential-guard-manage

[2020-05-08 09:56] alexverboon commented on #4660
The content of this page is definitely outdated and should be updated, especially since recently configmgr updated it's built-in Windows ATP policy wizards.

[2020-05-08 10:10] beerisgood commented on #5690
We should provide the latest version to end user without the need to search at GitHub.

And not again with too much time, as even this issue here is open long enough.
Can't this be build automatic?

[2020-05-08 11:09] HenkPoley commented on #5690
It also should just be a file to download, not this weird copy pasting from a website stuff like it's PHP from the '90s.

[2020-05-08 12:22] asampson68 opened #6670 "Conflict?"
In the content above it states "Devices running Windows 10 Mobile and Windows 10 IoT Mobile receive updates from the Semi-annual Channel" Note that it says Windows 10 Mobile ONLY, not Windows 10 Mobile *Enterprise*. But in the table immediately below this statement it indicates that Windows 10 Mobile is NOT supported on the semi-annual channel. To simplify... you basically state "Windows 10 Mobile

[2020-05-08 13:40] #5849 closed

[2020-05-08 15:26] TinaMcN commented on #6141
@migatt the software localization team let me know that the bug is now fixed.  Thanks again for reporting it, we appreciate it!

[2020-05-08 15:37] migatt commented on #6141
You're welcome, I have also noticed that the bug has been fixed!

[2020-05-08 15:47] jaimeo commented on #6670
@arcarley can you help us clarify this?

[2020-05-08 15:54] e0i commented on #5312
It seems that the question has been answered by the community,  and thus the issue is being marked as resolved.

Please note that the issues section of the repository is intended for corrections in technical documentation.

Should you need to ask a similar question again, consider asking the question via the [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windo

[2020-05-08 15:54] #5312 closed

[2020-05-08 17:53] TinaMcN commented on #6141
@migatt thank you for confirming you can also see the fix.  If possible can you close this issue (I don't have access to do that)?

[2020-05-08 18:04] e0i commented on #6107
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2020-05-08 18:04] #6107 closed

[2020-05-08 18:17] e0i commented on #5716
It seems that your question has been answered by the community and thus we are marking this issue as resolved.

Please note that the issues section of this repository is intended for documentation feedback.

Should you have any further issues similar to this one, please consider opening a product support ticket here:

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-hel

[2020-05-08 18:17] #5716 closed

[2020-05-08 18:55] arcarley commented on #6670
Hello @asampson68, that is a great callout! I apologize for the confusion contained in the documentation. As of December 10, 2019, Mobile is no longer receiving new updates (see https://support.microsoft.com/en-us/help/4485197/windows-10-mobile-end-of-support-faq) - therefore, the Windows Update for Business policy to get Semi-Annual Channel updates is no longer relevant for mobile devices. I will

[2020-05-08 18:59] arcarley opened #6672 "Add note to show this page is about a produt that has reached EOS"
We should add a note stating that Windows 10 Mobile has reached End of Support as of December 10th, 2019. "Windows 10 Mobile device should continue to work after December 10, 2019, but there will be no updates after that date (including security updates) and device backup functionality and other backend services will be phased out as described above." https://support.microsoft.com/en-us/help/44851

[2020-05-08 19:42] wsmelton opened #6673 "Applies to 2019 Update needed"
Please update this article to note whether the it also applies to Window Server 2019...

The assumption would be it is since it affects Windows 10, but it helps to specify it being that it is a Server OS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef8b6967-0e45-bcdd-6d70-54759d9f7ec8
* Version Independent ID: 6651e

[2020-05-08 19:46] #6141 closed

[2020-05-08 20:04] wsmelton commented on #6673
Disregard...figured out this actually does not apply to Window Server 2019

[2020-05-08 20:38] wsmelton commented on #6673
Attempting to make a remote call for a non-administrator account does show that remote access to the SAM database on Windows Server 2019 is affected...

I receive this message in the System log when an attempt is made, for non-administrator:

[code]

[2020-05-09 00:37] mypil commented on #6557
@KarbonX1 - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @MaratMussabekov so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-09 00:37] #6557 closed

[2020-05-09 00:40] mypil commented on #6471
@LPonten  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @MaratMussabekov so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-09 00:40] #6471 closed

[2020-05-09 00:45] mypil commented on #6527
@jcbendernh - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @VLG17  so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-09 00:45] #6527 closed

[2020-05-09 01:35] mypil commented on #6583
@mjcaparas - Can you please share your insights on this issue?

Thank you.

cc: @kenwith

[2020-05-09 04:47] verdy-p commented on #5216
You still did not provide any solution for users that have internal Intel GPU that CANNOT be changed and that DO NOT have any DCH driver (introduced years after Windows 10 release). These GPU are still highly used today. They were used in PC sold with a Windows 10 certifdication label from Microsoft MHQL. Their supported kernel driver (WDM based) were working flawlessly in Windows 10 until May 201

[2020-05-09 07:19] MaratMussabekov commented on #6483
Hello @yogeshasalkar ,
**This page doesn't have a respective Group Policy setting names.** - I created a PR to add the references to GPO
**Also which csp does application guard use? this or APPHVSI?** - this one
Thank you

[2020-05-09 08:05] illfated commented on #6668
Good point. Looks like the **Windows 10 Family** table is inconsistent when it comes to escaping asterisks intended to be displayed as asterisks.
I will open a PR to have those asterisks displayed instead of being read as italic formatting characters.

[2020-05-09 10:12] yogeshasalkar commented on #6483
Thanks @MaratMussabekov

[2020-05-09 10:18] ajp999 opened #6675 "Windows 10 Mobile"
Should the Windows 10 Mobile and Windows 10 Mobile Enterprise editions be removed from the table at the beginning of this page showing the available servicing channels for each Windows 10 edition as these editions are now out of support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5400f8b-2ed0-7960-4e3d-2f3444be7e6

[2020-05-09 14:48] #2395 closed

[2020-05-09 17:10] RAJU2529 opened #6676 "Broken links"
**Consumer applications for S mode** link does not exist.
**S mode devices** link does not exist
so please update new link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 693c3223-df7f-9fbb-ce68-d3fb1ec04d53
* Version Independent ID: 2e2a1281-750a-63f6-f412-c466f44d03c9
* Content: [Windows 10 Pro in S mode - Windows Dep

[2020-05-09 17:28] jimbo1969 opened #6677 "Unenlightened app managed by MAM"
According to [this](https://docs.microsoft.com/en-us/windows/security/information-protection/windows-information-protection/limitations-with-wip) document,

Elaborated as:

Yet, I am looking at a device that has MAM-WE applied to it, and I see "unenlightened" MS Teams running on it in the corporate enterprise environment (Task Manager > Details > Enterprise context column says [mycompany].com (Une

[2020-05-09 20:15] e0i commented on #5776
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2020-05-09 20:15] #5776 closed

[2020-05-09 20:18] e0i commented on #5719
It seems that the question has been answered by the community,  and thus the issue is being marked as resolved.

Please note that the issues section of the repository is intended for corrections in technical documentation.

Should you need to ask a similar question again, consider asking the question via the [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windo

[2020-05-09 20:18] #5719 closed

[2020-05-09 20:22] #5500 closed

[2020-05-09 20:32] e0i commented on #6360
Another contributor is going to follow-up with this issue. Thank you for the discussion.

[2020-05-09 21:50] e0i commented on #6272
Manually confirmed to be fixed. Thank you, all.

[2020-05-09 21:50] #6272 closed

[2020-05-09 22:13] illfated commented on #6272
Sure, the specific issue is fixed, **secpol.msc** . I presume you need new tickets for the remaining spacing issues.

[2020-05-09 22:14] mypil commented on #6617
@luciousnickel28 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2020-05-09 22:14] #6617 closed

[2020-05-09 22:24] greg-lindsay commented on #6676
Both these links work fine.

[2020-05-09 22:24] #6676 closed

[2020-05-09 22:37] illfated commented on #6676
Please note: The link [Consumer applications for S mode](https://www.microsoft.com/windows/s-mode) seems to work as intended (I have not tested other languages than Norwegian and English) ...

... but the link **S mode devices** (https://www.microsoft.com/windows/view-all-devices) only works in EN-US environments, not in other languages. I believe this link needs to get its EN-US locale specific d

[2020-05-09 22:42] illfated commented on #6676
Yeah, it is evident in the file history: https://github.com/MicrosoftDocs/windows-itpro-docs/commit/5bde60c9d7091f610fd0c95f036e7a1cffcb3cb2 removed too many /en-us/ directory pointers.
- (https://github.com/MicrosoftDocs/windows-itpro-docs/commit/5bde60c9d7091f610fd0c95f036e7a1cffcb3cb2#diff-dffbd7542ee3841047935906e688331c)

(The commit page is showing 236 changed files, so be warned before scro

[2020-05-10 00:48] illfated commented on #6668
(Ref. PR #6678 - feel free to comment & review the content)

[2020-05-10 01:27] illfated commented on #6676
(ref. #6679 )

[2020-05-10 03:30] jgaury opened #6680 "duplication PATH que ce passe t"il si on est user administrateur"
Pour windows 10 dans panneau de configuration systeme  la variable d'environnement PATH appariait à 2 endroit
panneau de configuration systeme  parametres systeme avancé variables environnement variables envronnement user et variables environnement systeme

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

*

[2020-05-10 04:43] Kaldek commented on #6626
Sadlic is correct - I had the same issue on a device that was running Memory integrity and I turned it off to check something, then it refused to re-activate.  Editing the registry key solved the issue and forced it back on.

[2020-05-10 09:40] illfated commented on #6680
Puis-je demander plus de détails, si vous pourriez être plus précis sur la partie du document à laquelle vous faites référence?
*
(May I ask for more details, if you could be more specific about which part of the document you are referencing?)

[2020-05-10 10:35] fowl2 opened #6681 "Windows 10 Deprecated Features - IPv6/Teredo"
Teredo is an IPv6 transition technology that was disabled by default at the same time as the others in 1803. It would be great if it could be added to this page for ease of searching/clarity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89b6fda3-06b5-15be-9021-c8126f721c9b
* Version Independent ID: 5a8ff7c5-ed5f-6c18

[2020-05-10 12:00] RAJU2529 commented on #6626
@Kaldek . I don't have that registry key, but still memory integrity is ON.

[2020-05-10 13:25] joinimran commented on #6478
@SLeuthold - Thank you for your feedback. As per my understanding, MDM policy only takeover if that policy is available in CSP so there is no change required in the document.

If there is please do let me know so that I can look into that and make necessary changes.

Thanks
Imran.

[2020-05-10 13:32] e0i commented on #6005
Closing based on the author's response. Thank you.

[2020-05-10 13:32] #6005 closed

[2020-05-10 13:47] e0i commented on #5994
This feedback seems to be better suitable for [Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub) platform.

The issues section of this repository is intended for content fixes.

Please [send the feedback to Microsoft with the Feedback Hub app](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft

[2020-05-10 13:47] #5994 closed

[2020-05-10 14:05] beerisgood commented on #6005
@e0i where is that response?

@mradders

[2020-05-10 14:15] e0i commented on #5897
Closing via Greg's commit,

[[324c994 ] editing ProPlus info ](https://github.com/MicrosoftDocs/windows-itpro-docs/commit/324c994b186f87cf074265f7b95148c375d2bcd8#diff-e0369febe6cb2cb3a7754bbdbdc76994)

Thank you.

[2020-05-10 14:15] #5897 closed

[2020-05-10 14:17] e0i commented on #5879
The issue is being closed since your question seems to be answered by the article author.

Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2020-05-10 14:17] #5879 closed

[2020-05-10 14:42] e0i commented on #5605
Closing as there hasn't been a response from your side regarding the specific article where the issue stems from.

Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.

Thank you for providing feedback.

[2020-05-10 14:42] #5605 closed

[2020-05-10 14:55] mypil commented on #6654
@yonathanluiz - May we know which Microsoft document link you used in reference to this issue? Or are you having some technical issues which requires technical support?

If you have some issues with a particular doc, we would really appreciate it if you are able to help by providing more details as to what should be edited and/or included. Thank you!

[2020-05-10 15:49] e0i commented on #5997
Hello,

Looks like this question can best be answered via relevant [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10) channels.

Please consider checking with [Microsoft Community](https://answers.microsoft.com/en-us/windows/forum/windows_10) or [contacting support](https://support.microsoft.com/contactus) for your problem; The issues section of this r

[2020-05-10 15:49] #5997 closed

[2020-05-10 16:44] e0i commented on #5668
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2020-05-10 16:44] #5668 closed

[2020-05-10 16:58] e0i commented on #5542
Hello,

Looks like this question can best be answered via relevant [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10) channels.

Please consider checking with [Microsoft Community](https://answers.microsoft.com/en-us/windows/forum/windows_10) or [contacting support](https://support.microsoft.com/contactus) for your problem; The issues section of this r

[2020-05-10 16:58] #5542 closed

[2020-05-10 17:05] e0i commented on #5435
Hello,

Looks like this question can best be answered via relevant [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10) channels.

Please consider checking with [Microsoft Community](https://answers.microsoft.com/en-us/windows/forum/windows_10) or [contacting support](https://support.microsoft.com/contactus) for your problem; The issues section of this r

[2020-05-10 17:05] #5435 closed

[2020-05-10 17:06] #5426 closed

[2020-05-10 17:30] slw07g commented on #5435
The question has nothing to do with Windows 10.

[2020-05-10 19:05] e0i commented on #2295
@ClaudioRifo An independent contributor is going to follow-up with a PR based on your suggestion. Thank you for the clarification.

[2020-05-10 19:09] e0i commented on #6652
The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2020-05-10 19:11] e0i commented on #857
@chanderjeet Thank you for following up. The issue is being passed to an independent contributor for investigation.

[2020-05-10 20:08] e0i commented on #6626
Closing the issue based on @Sadlic's response. Thank you all for the productive discussion.

[2020-05-10 20:08] #6626 closed

[2020-05-10 20:31] e0i commented on #5435
The appropriate discussion channel would then be the ["Security & Privacy" section](https://answers.microsoft.com/en-us/windows/forum/windows_10-security?sort=LastReplyDate&dir=Desc&tab=All&status=all&mod=&modAge=&advFil=&postedAfter=&postedBefore=&threadType=all&isFilterExpanded=false&page=1) under the community discussion channel, where Windows Defender topics are also being discussed.

[2020-05-10 21:44] illfated commented on #6672
Sounds good. Have you planned a PR to add that note already, or would you like a PR provided by us contributors, i.e. myself or one of the other regular contributors?

[2020-05-10 21:53] illfated commented on #6675
Partially related to the following ticket:
- **Add note to show this page is about a product that has reached EOS** **#6672**

[2020-05-10 21:54] illfated commented on #6672
(Maybe you could offer a comment in the related & linked issue ticket #6675 ?)

[2020-05-11 02:03] jgaury commented on #6680
que se asse t'il si on est user administrateur laquelle le système prendt'il

[2020-05-11 02:03] #6680 closed

[2020-05-11 07:08] e0i commented on #6307
Closing because the question is about https://support.microsoft.com/en-us/help/4028457/windows-10-reset-your-local-account-password, which is out of our scope.

Thank you for your ongoing engagement.

[2020-05-11 07:08] #6307 closed

[2020-05-11 09:14] illfated commented on #6680
Je pense que vous aviez l'intention d'écrire ce qui suit: "que se passe-t-il si vous êtes un utilisateur administrateur, quel système faut-il"
*
(I believe you intended to write the following: "what happens if you are an administrator user, which system does it take")

[2020-05-11 09:15] illfated commented on #6680
Translated text from the original comment (https://github.com/MicrosoftDocs/windows-itpro-docs/issues/6680#issue-615307768)

"For windows 10 in system control panel the PATH environment variable matched in 2 places
control panel system parameters advanced system environment variables user environment variables and system environment variables"

[2020-05-11 09:20] illfated commented on #6680
My mistake. I should have checked more than 1 translating engine. The actual text says (from https://www.bing.com/Translator) :
*
que se asse t'il si on est user administrateur laquelle le système prendt'il
(what if you're using administrator which system takes it)
*
Je suis désolé, il semble que je manque le point ici. Vous pouvez contacter votre locataire Microsoft Support le plus proche.

(I am

[2020-05-11 14:21] illfated commented on #6676
@RAJU2529 : As you can see, my PR change has been committed to the public branch and should be available on the public page in a few days' time.

PR: #6679 // commit: https://github.com/MicrosoftDocs/windows-itpro-docs/commit/9538f5c5de6226d9b3cf40e228625350be33d617

[2020-05-11 14:36] smit5334 opened #6689 "Microsoft Teams lies"
Microsoft Teams runs like crap on any Win10 ARM64 device and they refuse to release an ARM64 version of it.  It if runs so "great" on the Surface Pro X, when did the have to put out a firmware update just to keep it from crashing continually.  Take the lies about Microsoft Teams running great off the site so no Enterprise companies are fooled into thinking ARM64 is well supported.  Until MS decide

[2020-05-11 14:53] arcarley commented on #6672
Hello Trond,

Actually, after looking at this page – I think all still relevant information is captured in the other Windows as a Service deployment docs – including the linked Windows Update for Business documentation. Perhaps we can just remove this page completely? I am not sure how many regular views it is getting.. but I do not believe it is currently aiding in management of devices. Thoughts

[2020-05-11 15:56] jaimeo commented on #6675
Yep; we're working on a massive overhaul of all these articles this month.

[2020-05-11 16:05] ManikaDhiman commented on #6184
Hi @Dansimp, could you advise if independent contributors can handle the updates for this issue?

Thanks!

[2020-05-11 16:19] ManikaDhiman commented on #6522
Hi @mypil, the product team is currently reviewing this issue. I will update the doc as soon as I get any update. Thanks!

[2020-05-11 16:50] #6668 closed

[2020-05-11 17:11] scooley commented on #3608
+ @evmill

Thanks for pointing this out, @adrianimajion, we have some work planned to revamp the device portal docs in the near(ish) future.  Your feedback helps us prioritize the work.

Stay tuned!

[2020-05-11 17:21] evmill commented on #3608
@scooley While this issue is over a year old now it's still relevant in a way. These links now exist in the "Manage custom apps for HoloLens" page. Those links DO work correctly on that page. However that page is a little stale. It's on our radar for updating.
https://docs.microsoft.com/hololens/holographic-custom-apps

[2020-05-11 17:24] denisebmsft commented on #6333
Thank you @ADWolfe-LoyNO for posting your question. And thank you @RAJU2529 for your help! It looks like this is resolved so I am going to close this issue out.

[2020-05-11 17:24] #6333 closed

[2020-05-11 17:54] Mr-nUUb opened #6693 "Windows Kernel DMA Protection on AMD systems"
Hi!

What is the current state? The documentation mentions only Windows 10 version 1803 and 1809.
Will Windows Kernel DMA Protection support AMD-Vi, AMD IOMMU or SR-IOV in the future?

This is an interesting topic, now that Intel released Thunderbolt to everyone.
ASRock even provides AMD X570 mainboards with the possibility to use Thunderbolt add-in cards and even AMD X570 mainboards with integrat

[2020-05-11 17:59] illfated commented on #6672
Thank you for sharing your thoughts on this matter. I wish I were involved enough in this topic to be able to answer your question in a helpful fashion. Being a humble computer support worker and only contributing here with Microsoft Docs in my spare time, I don't get enough exposure to this topic to have the required knowledge. I recommend asking internally (maybe @denisebmsft may know which grou

[2020-05-11 18:09] beerisgood commented on #6693
Related:
https://github.com/MicrosoftDocs/windows-itpro-docs/issues/3997

[2020-05-11 18:28] e0i commented on #5673
The recent version of the article shows the path of PIN complexity for both old and new versions of Windows 10. Thank you.

[2020-05-11 18:28] #5673 closed

[2020-05-11 18:34] TinaMcN commented on #6272
@OfficeGlobal can you please check again this French article.   There are 3 instances of this text segment where I believe there should be a space between "utilisateur" and "ou".   Please check the whole article for any missing or extra spaces.
![image](https://user-images.githubusercontent.com/53281468/81597905-4a001000-937b-11ea-879f-df00d8416f88.png)

[2020-05-11 18:53] arcarley commented on #6672
Thanks Trond, I will help review internally and ensure that is an okay action before proceeding with removing that docs page. Thanks and all the best! 😊

From: Trond B. Krokli <notifications@github.com>
Sent: Monday, May 11, 2020 11:00 AM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Aria Carley <Arianna.Carley@microsoft.com>; Author <author@noreply.github.com>
S

[2020-05-11 19:05] e0i commented on #5431
Closing via #6687

[2020-05-11 19:05] #5431 closed

[2020-05-11 19:23] e0i commented on #6675
@jaimeo Shall we suspend assignment to this issue?

[2020-05-11 19:28] e0i commented on #6184
@ManikaDhiman We are going to give it a try, then :)

[2020-05-11 20:41] mjcaparas commented on #6583
Checking with team. Will respond once I get more details.

[2020-05-11 20:56] rioux602 opened #6695 "Key Trust section, but mentions Certificate trust?"
Many mentions of certificates in this page, link seems off : Follow the Windows Hello for Business on premises certificate trust deployment guide

I'm following the "Key Trust" Deployment Guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77ab668a-e750-0503-7c17-093d0ea43644
* Version Independent ID: 37e38b31-4599-3

[2020-05-11 20:57] outofsight opened #6696 "bcdedit /store c:\BCD /set {GUID1} path \windows\system32\winload.exe"
With this line, go in reboot-loop, without works

[2020-05-11 21:53] mypil commented on #6693
@Mr-nUUb - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-05-11 21:53] mypil commented on #6696
@outofsight - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-05-11 22:26] outofsight commented on #6696
@mypil just experiment

[2020-05-11 23:14] ManikaDhiman commented on #1291
Hi @e0i, I've reached out to the product team to provide inputs. I will update the doc as soon as I receive their inputs. Thanks!

[2020-05-12 03:16] MaratMussabekov commented on #5606
Hello @drunkrhin0 ,
it is one single checkbox:
![image](https://user-images.githubusercontent.com/48041687/81634629-c8ff5200-9428-11ea-8189-a2d9eff96be2.png)
Thank you

[2020-05-12 04:25] gswish810 opened #6700 "Duplicated path"
In "The AD DS transaction log files" section, "%windir%\Ntds\EDB*.log" is listed twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c9b6379-e575-9819-eca1-a0952f66b655
* Version Independent ID: 34d81602-ffa2-5be6-67ef-b42b3b6f17ee
* Content: [Configure Windows Defender Antivirus exclusions on Windows Server 2016 or

[2020-05-12 08:04] thomashesse opened #6703 "Upgrade not possible (by manually entering a product key)"
We try to upgrade some systems from Pro to Enterprise by manually entering the key. But only the Pro Edition is activated instead of the Enterprise Edition.
After checking in the VLSC, i noticed that the same KMS key is stored for the Pro and the Enterprise Edition!? Is this a bug in the VLSC or how can the problem be solved?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er

[2020-05-12 14:22] RAJU2529 commented on #6666
@aarondmarr .  yes you can get,  but you must configure hardware items before purchasing . 2TB storage is available only 15inch only in USA.
for more information visit below site
**https://www.microsoft.com/en-us/store/configure/Surface-Book-3/8XBW9G3Z71F1?crosssellid=fbt-p2c&selectedColor=&preview=&previewModes=**

[2020-05-12 14:26] RAJU2529 commented on #6669
@mica . This article only;y applies to **Microsoft Defender Advanced Threat Protection (Microsoft Defender ATP)**  not for windows defender  consumer editions

[2020-05-12 14:48] RAJU2529 commented on #6658
@Pickell. The issue is conformed, I can edit the article, but I don't know how to add screenshots. So i  stopped.

[2020-05-12 14:51] RAJU2529 commented on #6703
@thomashesse . Did you installed the business of Windows 10  edition?  which contains professional , enterprise, education, etc.

[2020-05-12 16:37] Mr-nUUb commented on #6693
Of course, it is this one:
https://docs.microsoft.com/en-us/windows/security/information-protection/kernel-dma-protection-for-thunderbolt

[2020-05-12 16:38] pkaufman628 commented on #6522
@yogeshasalkar, can you provide a dump of hklm\software\microsoft\MDMWinsOverGP?

You gave us the high level steps that set the GPO value but could you be more specific with details.
Could you supply the Firewall CSP syncml you used?

[2020-05-12 16:39] RAJU2529 commented on #6696
@outofsight
 **bcdedit /set {GUID} path  \windows\system32\winload.exe**

[2020-05-12 17:20] pkaufman628 commented on #6522
@yogeshasalkar, do you see the following behavior even if you don't set MDMWinsOverGP to 1?

GPO -> Firewall = Disabled
Intune -> Firewall = Enabled
MDMWinsOverGP = 1
Result: Firewall gets enabled. which is Intune value

[2020-05-12 18:09] aarondmarr commented on #6666
Hello!
        Thank you, but I don't see where I can configure a Surface Book 3
with the Quadro RTX 3000 graphics card with 2TB of storage. Could you
point me in the right direction?

Best regards -
Aaron Marr

On Tue, May 12, 2020 at 10:22 AM VARADHARAJAN K <notifications@github.com>
wrote:

[2020-05-12 18:25] RAJU2529 commented on #6666
@aarondmarr  go to below site
**https://www.microsoft.com/en-us/p/surface-book-3/8xbw9g3z71f1?activetab=pivot:techspecstab**

with Nvidia 1660Ti, not  RTX 3000  series, so before purchasing verify all technical specifications

[2020-05-12 19:06] denisebmsft commented on #6700
Thank you @RAJU2529 and @gswish810. RAJU2529 fixed the things GSWISH810 caught. Changes will render live by this afternoon sometime.

[2020-05-12 19:06] #6700 closed

[2020-05-12 19:07] denisebmsft commented on #6696
Are we okay to close this issue?

[2020-05-12 19:13] RAJU2529 commented on #6696
@denisebmsft . Let we wait for his or her @outofsight  reply to this issue.

[2020-05-12 20:46] outofsight commented on #6696
I noticed that with the step 2.3 mentioned [here](https://docs.microsoft.com/it-it/windows/deployment/configure-a-pxe-server-to-load-windows-pe) the machine go in an infinite loop reboot.

In the past, I followed a similar procedure without the sub-step
`bcdedit /store c:\BCD /set {GUID1} path \windows\system32\winload.exe`
and this  old procedure, apparently works.

[2020-05-12 22:05] mypil commented on #6506
@adamderuwe - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/3e6aa2959120e9cdddc6bb8ed217284d007c3ced.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-12 22:05] #6506 closed

[2020-05-12 22:26] mypil commented on #6590
@HartD92 - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/afa320da351fed0e9f7329daa68969b257cb422a.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-12 22:26] #6590 closed

[2020-05-12 22:29] mypil commented on #6594
@SergGu - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/6f361604294734e2a9277f2ab07ab3b566bea30e.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-12 22:29] #6594 closed

[2020-05-13 04:28] RAJU2529 commented on #6696
@outofsight . Are you working in organization and are you trying to configure PXE Boot in Seperate server computer.

[2020-05-13 06:27] exchameed opened #6712 "User & Machine activity"
Will it possible to pull user/machine level web activity for the certain range of period once the feature is enabled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17ef5983-b696-87da-5bb5-337454ab3b3a
* Version Independent ID: 54e202f2-ea8f-b7db-a38e-24b05c724fdd
* Content: [Monitoring web browsing security in Microsof

[2020-05-13 06:31] MaratMussabekov commented on #6623
Hello @ChineseWelshman ,
**The page is totally silent on the status of Microsoft Publisher** - it is unenlightened, I will create a PR to add this information to the article
**the O365 Plus xml files for Allow and Exempt fail to mention Microsoft Publisher at all** - because this file contains enlightened apps only.

Thank you

[2020-05-13 06:52] cventour opened #6714 "The feature name has been renamed to "Allow or block file" ."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8da58e5-9cd8-8ccf-75a9-327c14ebaa76
* Version Independent ID: 24a29218-59e1-7a1d-c8c7-e61424b5f9ee
* Content: [Endpoint detection and response in block mode - Windows security](https://docs.microsoft.com/en-us/windows/security/threat-protection/micro

[2020-05-13 07:41] icelava opened #6715 ""Policy CSPs supported by Group Policy" vs "ADMX-backed policy CSPs""
What's the fine line differentiating these categories? Isn't ADMX-backed policies simply Policy CSPs that expose the underlying GP ATs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebc25b0a-f874-466c-cd89-9b87761cccdd
* Version Independent ID: 30929e17-4818-c0ba-30ad-4599305e6a3a
* Content: [Policy CSP - Windows Clie

[2020-05-13 07:50] RAJU2529 commented on #6714
@cventour . If possible Create PR

[2020-05-13 08:06] thomashesse commented on #6703
@RAJU2529 We usually install the Enterprise Edition with OS Deployment. However, we have some special PCs in use, such as Industrial PCs. These systems are always installed / supplied with the Pro Edition. I have defined this as a prerequisite for use, since from a license perspective it is otherwise not a qualified OS, for an enterprise upgrade via an EA.

[2020-05-13 08:34] illfated commented on #6715
Good question, we may need to hear from the document author about this. I thought it was about the 2 separate file types used to manage the GPOs, but I could be mistaken.

[2020-05-13 08:39] AlphaSeb opened #6716 "Please state if enviroment variables and wildcards are supported for Exclusions"
You state that exclusions are supported for "Protect additional folders" but not if they are supported for "Allow specific apps to make changes to controlled folders" - I can not find this info anywhere. According to my tests it seems that wildcards and enviroment variables are not supported. But I'd love to hear a 100% feedback from MS on this.

---
#### Document Details

⚠ *Do not edit this sect

[2020-05-13 08:41] AlphaSeb commented on #6716
If the answer is no: How am I supposed to allow an application inside the users profile?

[2020-05-13 08:53] RAJU2529 commented on #6703
@thomashesse IF system preinstalled Pro edition comes from the factory, then upgrade to Enterprise i think not possible because the factory might be installed consumer edition.
To find the system with pro edition can be upgradable or not,
type below command in cmd run with admin rights
**Dism.exe /Online  /Get-TargetEditions**

and post the result of the screenshot

[2020-05-13 08:59] RAJU2529 opened #6717 "Enabled and Worked"
I already  setted this settings via  GPO without seeing this article, But the setting is working fine as indicated in the article.
This article also applies to windows 10 edition with Windows Defender Antivirus.
From my testing, I conformed Antivirus  Windows Defender Antivirus without ATP is working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-05-13 09:04] RAJU2529 commented on #6715
I think CSP  policies are configured in Windows 10 Mobile smartphones, ADMX with ADML based policies are configured in Windows 10 desktop editions

[2020-05-13 09:09] RAJU2529 commented on #6716
@AlphaSeb . add the apps in the exclusion list

[2020-05-13 10:21] slx-io opened #6719 "Inconsistent Supported Devices"
At the top of this page, Surface Pro X is not included in the list of supported devices. However Surface Pro X is mentioned elsewhere throughout this page suggesting it is supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be36e174-5760-651b-f97a-b8466d4f877d
* Version Independent ID: 28d210d7-0d47-dd88-edd7-717

[2020-05-13 10:44] thomashesse commented on #6703
@RAJU2529 I did a sample on 3 systems. All 3 systems show "Enterpise" as possible target edition.
![grafik](https://user-images.githubusercontent.com/13416705/81803047-66d14a80-9517-11ea-8289-0a8bafc140da.png)
![grafik](https://user-images.githubusercontent.com/13416705/81803072-705ab280-9517-11ea-8249-9b4ac227f2d8.png)
![grafik](https://user-images.githubusercontent.com/13416705/81803095-7781c080

[2020-05-13 11:52] illfated commented on #6715
Fair enough, well replied. I guess that is why it is called Mobile Device Management (MDM).

[2020-05-13 12:30] RAJU2529 commented on #6703
@thomashesse . That means currently running as business edition.
So you can upgrade. Then I suspect that entered license key is original enterprise key or not. Cross check twice

[2020-05-13 12:33] RAJU2529 commented on #6719
@slx-io . This question will be answered only by @CoveMiner

[2020-05-13 12:35] VLG17 commented on #6518
@DeanGross I could not find the mentioned sentence "the device enforces work protection for any file with the label" in the article you linked. I think that certain article might have been taken down in the meantime, because i cannot find any reference to it online.

Anyway, keeping in mind we are talking about Sensitivity Labels, i would say that work protection = encryption, content marking and

[2020-05-13 15:35] e0i commented on #5656
Closing via #5922. Note that it might take a while for changes to be published online. Thank you for the feedback.

[2020-05-13 15:35] #5656 closed

[2020-05-13 15:38] e0i commented on #6054
#6299 Has been merged. Thank you.

[2020-05-13 15:38] #6054 closed

[2020-05-13 15:39] e0i commented on #6019
Closing via #6415. ]

[2020-05-13 15:39] #6019 closed

[2020-05-13 16:22] illfated commented on #6651
#please-close

[2020-05-13 16:31] #6651 closed

[2020-05-13 16:37] VLG17 commented on #6362
@scyto Thank you for pursuing this further and finding the answer on your own. I don't think we should add when the flows apply, because in my opinion there is no way to cover each scenario that might come up.

I think anyone looking into this should be able to understand in what scenario they are based on the WHfB authentication method described in the article.

[2020-05-13 16:45] VLG17 commented on #5904
@illfated @RAJU2529 i don't see any issue with adding the link you found as replacement. It's on a official Microsoft domain, written by a Microsoft employee and it addresses the issue. I'll create a PR and ad it.

[2020-05-13 17:04] RAJU2529 commented on #5904
@VLG17 . I wll be waiting for the result. If the new link is merged means, if I create on coming PR , I will consider techcommunity also.

[2020-05-13 18:20] annerajb opened #6723 "What is the preference key Value for the edrEarlyPreviewEnabled?"
right now the edrEarlyPreviewEnabled can be configured from the command line using
`sudo mdatp --edr --earlyPreview true` can this flag be set on the json file too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44a290d4-3386-7f63-0324-4e6219b5dd24
* Version Independent ID: 286954a7-372e-314f-ad9f-d12f5f55b79e
* Conten

[2020-05-13 18:30] illfated commented on #5904
(Ref. PR #6722 )

[2020-05-13 19:15] rcmpgi commented on #6154
I just had this too. The GUI design is not exactly very intuitive because the dropdown list option on the onboarding page says "**Linux, macOS, iOS and Android**. So then you click the button to download the onboarding package and completely miss that the section is titled _Onboard MacOS devices..._
So that is the root of the problems - it gives you an option that looks like you're getting some ki

[2020-05-13 19:26] mslsac opened #6725 "Machine is not in use issue"
As it currently stands if a computer is locked without any user activity for 7 days it will stop reporting to ATP. So if the computer get compromised by a lateral movement on the network or otherwise without a logged on user, it would not report to the ATP console. I have ran the detection script remotely (without directly logging into the device) on computers that were not reporting to the client

[2020-05-13 23:28] mypil commented on #6696
@outofsight - Thank you for submitting feedback.

I think the best way forward is if you can contact support and open a **[service ticket](https://support.microsoft.com/hub/4338813/windows-help?os=windows-10)** for Windows 10 products  so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on

[2020-05-13 23:28] #6696 closed

[2020-05-14 00:20] starchysock opened #6727 "Two hubs"
What about using two Hubs in a video conference room with a third party PTZ camera, one Hub for the far end and the other for content? Is there a template for this type of operation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2476291-f855-fcfb-ae73-ab19b9065ee3
* Version Independent ID: 91fc4f9c-15a5-911b-1475-506

[2020-05-14 07:50] 768kb opened #6728 ""DHCP Administrators" missing"
The Active Directory Group "DHCP Administrators" is not mentioned here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44e911d3-219e-19b8-4870-07514d9a94a1
* Version Independent ID: 960a7388-560b-90eb-e0ff-d8d2bb6f9a7a
* Content: [Active Directory Security Groups - Windows security](https://docs.microsoft.com/en-us/win

[2020-05-14 08:15] thomashesse commented on #6703
@RAJU2529 The Key is correct. After calling with the MSFT Activation Center, she say: all is perfekt and it should be correct that it is the same key for Pro and Enterprise Edition.
But she also said that an Enterprise ISO must be used. However, this statement is wrong. Back to the same key again. How should a distinction be made during activation (pro and enterprise) if the key is identical? Isn'

[2020-05-14 08:18] thomashesse commented on #6703
@RAJU2529 The Key is correct. After calling with the MSFT Activation Center, she say: all is perfekt and it should be correct that it is the same key for Pro and Enterprise Edition.
But she also said that an Enterprise ISO must be used. However, this statement is wrong. Back to the same key again. How should a distinction be made during activation (pro and enterprise) if the key is identical? Isn'

[2020-05-14 09:03] thomashesse opened #6730 "Conversion/Replacement from slmgr to VAMT"
So far we have only managed the keys with slmgr. Are all existing keys automatically taken over by the installation of the VAMT (on the same system) or can at least be imported? Or are the keys lost or does the changeover lead to downtimes?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID:

[2020-05-14 09:04] outofsight commented on #6696
@mypil I'm not in contact with support, no planning to open any ticket. For me the issue is solved.

[2020-05-14 09:19] RAJU2529 commented on #6703
@thomashesse . Enterprise iso will work only enterprise key. if the entered key is correct, then why it's not activated.

[2020-05-14 09:22] RAJU2529 commented on #6728
@janmadera . Which article are you referring

[2020-05-14 09:35] thomashesse commented on #6703
@RAJU2529 Good to know. But our issue is a upgrade (Pro -> Ent) not a downgrade (Ent->Pro).

[2020-05-14 10:46] TechTrooper opened #6731 "Replacement solution for Update Compliance Defender AV reports? Please update article."
How can we monitor Defender AV now that you have removed it from Update Compliance?

The link in this article is directing us to old legacy silverlight portal instructions...
https://docs.microsoft.com/en-us/mem/intune/fundamentals/help-secure-windows-pcs-with-endpoint-protection-for-microsoft-intune

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-05-14 12:58] quickclix75 opened #6732 "Clarification around this note... please..."
Please can you clarify this Note as I am wrking with a client using the VPN Short lived cert issued from Azure AD to access on prem resource. thanks

Note
Currently, it is required that certificates be issued from an on-premises CA, and that SSO be enabled in the user’s VPN profile. This will enable the user to obtain Kerberos tickets in order to access resources on-premises. Kerberos currently do

[2020-05-14 13:35] rioux602 commented on #6695
I tried and followed the whole documentation, sub documentation, and everything I could find related to WHFB for on-prem and couldn't get it to work. I built a PKI infrastructure working, built ADFS server etc. Still can't get my device to "join" ADFS or enroll in Windows Hello. How can I get assistance from Microsoft for my setup?

Thanks!

[2020-05-14 15:00] e0i commented on #5904
Closing via #6722. Thank you.

[2020-05-14 15:00] #5904 closed

[2020-05-14 15:05] e0i commented on #6402
Closing via #6720

[2020-05-14 15:05] #6402 closed

[2020-05-14 15:09] jaimeo commented on #6731
@chinglis can you help with this?

[2020-05-14 15:16] chinglis commented on #6731
+ @David Mebane<mailto:davidmeb@microsoft.com>, @Shweta Jha<mailto:Shweta.Jha@microsoft.com>, @Thomas Trombley<mailto:thtrombl@microsoft.com>

Shweta,

The articles linked are for classic Intune, and customer is asking for an updated location of where endpoint protection docs are. Can you help me find the right documentation to point customers to for all the alternatives (MEM, security center, ATP

[2020-05-14 15:21] chinglis commented on #6731
@Mahyar Ghadiali<mailto:mghadial@microsoft.com> – now that you work on Intune Security, maybe you can help here. ☺

We deprecated Windows Defender AV reporting and based on guidance from @Shweta Jha<mailto:Shweta.Jha@microsoft.com> our understanding is that MEM has various options available to customers today as a replacement. Most customers using the Defender AV report were E3, so this should be

[2020-05-14 15:23] chinglis commented on #6731
David Mebane would like to recall the message, "[MicrosoftDocs/windows-itpro-docs] Replacement solution for Update Compliance Defender AV reports? Please update article. (#6731)".

[2020-05-14 16:43] e0i commented on #6519
@ahmadgeo It seems that a possible value of from 0 to 50 has already been included in the article under the following section,

https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/interactive-logon-number-of-previous-logons-to-cache-in-case-domain-controller-is-not-available#possible-values

Please let me know whether this clarifies your question.

[2020-05-14 16:45] e0i commented on #6533
The issues section of this repository is intended for documentation feedback.

Please consider opening a support ticket via the following link for your question so that it gets answered quickly:

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Feel free to re-open this ticket if you feel that the article also needs to be updated.

Thank you, and st

[2020-05-14 16:45] #6533 closed

[2020-05-14 16:47] e0i commented on #6535
The issues section of this repository is intended for documentation and content-related issues.

Please open a support ticket via the link below so that that your question gets answered quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2020-05-14 16:47] #6535 closed

[2020-05-14 16:52] e0i commented on #6613
Closing via [Evan's](https://github.com/evmill) [comment](https://github.com/MicrosoftDocs/windows-itpro-docs/issues/6613#issuecomment-622015789).

[2020-05-14 16:52] #6613 closed

[2020-05-14 17:08] itguysocal opened #6734 "What does "Not Used" mean?"
Trying to help answer a question from this Tech Community Forum post, what does "Not Used" mean in the table above?
https://techcommunity.microsoft.com/t5/microsoft-defender-atp/scheduled-scans-with-defender-av-with-atp/m-p/1387560#M465

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a67d9ad-6858-0503-8020-b874b70fb336

[2020-05-14 17:27] weyCC81 commented on #6535
Does Microsoft Support have a Solution?
No, they like to close Tickets (not related to this request)

Do I have a Solution?
Yes

-----

1. Create a GPO for ATP
2. Add the ATP Onboarding (Tenant A) & ATP Offboarding (Tenant B) Scheduled Tasks (not recommended in this documentation)
3. Add a Filter (Item-level targeting: Registry Match) on ATP Onboarding

type MATCHVALUE
hive HKEY_LOCAL_MACHINE
key

[2020-05-14 18:36] #6474 closed

[2020-05-14 21:35] TJ2215 commented on #6432
Hi , Yes this is in effect from 1809 onwards.

[2020-05-14 23:29] mypil commented on #6565
@HaoHoo - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/b4fbb889fe528ceeac8b9224430c066db6434ec4.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-14 23:29] #6565 closed

[2020-05-15 06:09] gene0486 opened #6735 "Grammatical error"
Under "Deployment" section... the statement "... Device Management Admin Console are now are Microsoft Endpoint Manager" is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16a7f713-d59f-01cf-bd6b-d41e8889cfc8
* Version Independent ID: dc8641da-26b5-1657-cc25-d5dd00ae84d7
* Content: [What's new in Windows 10,

[2020-05-15 10:00] AlphaSeb commented on #6716
To add an app to the exclusion list, I have to specify the full path to the .exe file. How am I supposed to do that when the .exe file is in %USERPROFILE% and enviroment variables don't seem to work?

[2020-05-15 10:32] VLG17 commented on #6298
@Ghostmokey582 i see there was [another issue](https://github.com/MicrosoftDocs/windows-itpro-docs/issues/4115) with the exact same question.

I have to say that the answer remains the same, meaning that this site is intended to help improve the quality of the technical documentation of Microsoft Docs through user contributions and feedback. If you have suggestions related to this documentation, p

[2020-05-15 10:45] AmadorM commented on #4775
I have encountered the same problem comparing the Spanish version of the article with the English version. In the event table for script execution.
![E](https://user-images.githubusercontent.com/51479071/82042284-eb53d280-96a9-11ea-8bd3-0ea3d5a3953a.png)
![S](https://user-images.githubusercontent.com/51479071/82042293-edb62c80-96a9-11ea-9967-590bc301acbf.png)

[2020-05-15 11:21] janmadera commented on #6728
Article URL:
https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/windows/security/identity-protection/access-control/active-directory-security-groups.md

[2020-05-15 13:01] RAJU2529 commented on #6716
@AlphaSeb , use  this   way, RAJU is my username
**C:\Users\RAJU\myapp.exe**
type the following command in Powershell with admin rights

**Add-MpPreference -ExclusionPath "C:\Users\RAJU\myapp.exe"**

[2020-05-15 13:03] RAJU2529 commented on #6728
@janmadera .  This issue will be answered by the  Active Directory expert users.
i am not an expert, so keep waiting for the reply.

[2020-05-15 13:08] RAJU2529 commented on #6735
@gene0486.  **Device Management Admin Console is renamed to Microsoft Endpoint Manager**

will you accept the above statement?

[2020-05-15 13:18] RAJU2529 commented on #6734
@itguysocal. That means, the specified article is not yet created.

[2020-05-15 13:19] thommck opened #6737 "Can enhanced startup PIN be enabled via Intune?"
I can see how to do it via GPO but we want to use Intune only for AzureAD-joined devices

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb93192-b78b-a16b-c174-f83e024aa4c4
* Version Independent ID: d7dd6ccd-f984-48d0-49ff-2f5383001fd9
* Content: [BitLocker Key Management FAQ (Windows 10) - Microsoft 365 Security](http

[2020-05-15 13:24] thommck opened #6738 "Intune MDM equivalents"
Can you point out where the equivalent way of applying these settings via Intune are, rather than Group Policy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5476099c-9d70-97df-8ee6-bc442605cfbd
* Version Independent ID: 49ca0628-bd88-e05b-b705-3b361b57512d
* Content: [BitLocker Group Policy settings (Windows 10) - Mic

[2020-05-15 13:25] jozefizso commented on #6528
The www.readyforwindows.com website does not exists anymore.

[code]

[2020-05-15 13:29] thommck opened #6739 "Enhanced PIN support"
My client is used to using Enhanced startup PINs in Windows 7. Now they are upgrading to Autopilot/Intune managed AAD-joined devices I can't find a setting to enable Enhanced/alpahnumeric PINs. Is thi spossible or on the roadmap? If not it would be good to clarify that in the docs

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-05-15 13:53] mdwaseem05 opened #6740 "Surface Go2"
Hello,

Surface Go 2  SKU info not listed here

System Model   Surface Go 2
System Type      x64-based PC
System SKU        Surface_Go_2_1927

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8de75f7d-a749-ec5f-435b-62bc163a2b72
* Version Independent ID: 8d221f64-7c6b-d604-3dfa-51d8b9163a3f
* Content: [Surface System SKU

[2020-05-15 13:58] illfated opened #6741 "ID de evento incorrecto o reemplazado por palabras"
From issue ticket #4775 (**Error Event ID is invalid**) by @AmadorM :

@TinaMcN : May we have a human translation inspection for the Spanish version also?

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 13006cbf-ad22-e75a-bf3a-2a6d0b92f088
* Version Independent ID: c9a7a12f-2ef5-b5fa-b515-41ecce5fecd1
* Co

[2020-05-15 14:08] illfated commented on #6741
@AmadorM : Por favor, siga este ticket para obtener actualizaciones con respecto a los problemas de la tabla.

Please follow this ticket to get updates regarding the table issues.

[2020-05-15 14:16] AlphaSeb commented on #6716
@RAJU2529  I'm deploying this to several 100 computers, and I don't know the username...That's why we need enviroment variables.

[2020-05-15 15:20] nisaev opened #6742 "Broken link(WMR for LTSC 1809)"
https://software-download.microsoft.com/download/pr/microsoft-windows-holographic-desktop-fod-package31bf3856ad364e35amd64_1.cab
This link is broken. Got 403 error.
https://docs.microsoft.com/en-us/windows/application-management/manage-windows-mixed-reality#enable-windows-mixed-reality-in-wsus

[2020-05-15 15:27] greg-lindsay commented on #6735
There's no need to change it very much. There is just a single word ("are") that is repeated and needs to be deleted.

[2020-05-15 15:36] greg-lindsay commented on #6735
Closing this as I am correcting  it in the private repo.

[2020-05-15 15:36] #6735 closed

[2020-05-15 17:50] RAJU2529 commented on #6716
@AlphaSeb, after reading your reply, I tested on my windows laptop, Environment variables are supported.

i entered the following commands,

**Add-MpPreference -ExclusionPath "%userprofile%\adwcleaner.exe"
Add-MpPreference -ExclusionPath "%localappdata%\adwcleaner.exe"
Add-MpPreference -ExclusionPath "%appdata\adwcleaner.exe"**

[2020-05-15 17:52] jaimeo commented on #6528
Fixed. https://github.com/MicrosoftDocs/windows-docs-pr/pull/2778

[2020-05-15 17:53] #6528 closed

[2020-05-15 17:55] RAJU2529 commented on #6716
@AlphaSeb. the first command excludes the file
**C:\Users\RAJU\adwcleaner.exe**

the second command excludes the file
**C:\Users\RAJU\AppData\LocalLow\adwcleaner.exe**

the third  command excludes the file
**C:\Users\RAJU\AppData\Roaming\dwcleaner.exe**

i would recommend you before deploying to user computers , test these commands in  reference computer

[2020-05-15 18:00] Keagnn opened #6743 "Getting 401 error after following docs"
This was very well written and I've followed all the steps on this page, but, I am getting a 401 unauthorized error even though I'm authenticating with an Oauth2.0 token.

Steps I took:
- Gave my app the SecurityRecommendation.Read.All permission
- Generated Bearer token via Oauth2.0
- Tested this endpoint in postman with Bearer token and received the 401 error.

---
#### Document Details

⚠ *Do n

[2020-05-15 18:04] e0i commented on #6362
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation.

Thank you, and stay healthy.

[2020-05-15 18:04] #6362 closed

[2020-05-15 22:12] e0i commented on #6716
Passing the issue to an independent contributor for investigation. Thank you for the discussion so far.

[2020-05-16 01:23] schenardie commented on #6384
&#61440; is the decimal representation of the HTML character encoding while &#xf000; is the hex.

They should both work.
https://www.fileformat.info/info/unicode/char/f000/index.htm

I found that if you decode the string via https://coderstoolbox.net/string/#!encoding=xml&action=decode&charset=us_ascii and paste into the custom policy it works without the CDATA
just as in

Administrators&#61440;(d

[2020-05-16 05:32] Neckross opened #6745 "What a headache! Hours wasted just cuz Microsoft likes to makes things more complicated..."
Windows 10 Administrative Templates for Windows 10 November 2019 Update 1909
Windows 10 Administrative Templates for Windows 10 May 2019 Update 1903
Windows 10 Administrative Templates for Windows 10 October 2018 Update 1809
Windows 10 Administrative Templates for Windows 10 April 2018 Update 1803

Device credential or User credential options? why? why? why?
This has worked so well in the past sin

[2020-05-16 05:59] RAJU2529 commented on #6742
@nisaev . Which article are you referring?

[2020-05-16 06:21] joinimran commented on #6382
Hello @RAJU2529 - Thank you for your feedback. As per my investigation, this is not necessary to add words like what, is, a, and any more other like these in the URL. The content is same and full SEO optimized so we are good with this. There are thousands of other pages having same pattren.

@e0i FYI please.

[2020-05-16 06:36] joinimran commented on #6388
@ruairidhlc - Thank you for your query, Please note that these XML files applies to Office365 ProPlus and Office2019 application suites. Please go through the Readme file included in the downloaded Zip file for details.

Thanks
Imran

@e0i FYI Please.

[2020-05-16 06:55] RAJU2529 commented on #6382
@joinimran. Thanks for your reply. I keep waiting for  others users feedback also

[2020-05-16 07:06] joinimran commented on #6121
@goxia - Thank you for your query. Please note that when there is a conflict, the provisioning are decided based on owner value and the rank number. Owner value has highest priority and then the rank value is considered. For packages with the same owner type, the package rank level determines the package from which the setting values get provisioned on the device.

Thanks.
Imran

@e0i FYI Please.

[2020-05-16 07:21] joinimran commented on #6399
Interestingly the discussed registry path is already mentioned in the troubleshooting document. Please see https://docs.microsoft.com/en-us/windows/deployment/windows-autopilot/troubleshooting#windows-10-version-1709-and-above

What I am going to do is to add this specific error information in known issues https://docs.microsoft.com/en-us/windows/deployment/windows-autopilot/known-issues and point

[2020-05-16 07:32] joinimran commented on #6295
@Spartan-196 - Can you please confirm if these settings are applicable for Surface 1, 2, or 3 or for all.

[2020-05-16 10:43] umair-mirza commented on #5988
You can also go to the System Information and check if the **Kernel DMA Protection** is ON or OFF.
![Kernel-DMA-Protection](https://user-images.githubusercontent.com/42217546/82117752-d8193380-978b-11ea-8966-1c9baaff2940.png)
[Here's](https://www.helpmegeek.com/check-if-windows-supports-kernel-dma-protection/) a quick step-by-step guide on how to check it and how to enable it if it's OFF.

[2020-05-16 13:06] #2522 closed

[2020-05-16 13:21] e0i commented on #5427
Please consider opening a support ticket via the following link for your question so that it gets answered quickly:

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

The issues section of this repository is intended for documentation feedback.

Feel free to re-open this ticket if you feel that documentation also needs to be updated.

[2020-05-16 13:21] #5427 closed

[2020-05-16 14:34] mypil commented on #6654
@yonathanluiz - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.  If you're experiencing a technical issue, please contact support and open a **[service ticket](https://support.microsoft.com/hub/4338813/windows-help?os=windows-10)** for Windows 10 products  so this can get resolved ASAP.

If the

[2020-05-16 14:34] #6654 closed

[2020-05-16 14:39] teojaimes opened #6747 "Antivirus Exclusions for WDAG"
Where can I get Microsoft's suggested AV exclusions specifically for devices that have WDAG installed/enabled?  Adding this info to this Q&A section would be very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8927df09-e9aa-8c40-290d-0ca7d86ec4e2
* Version Independent ID: ca67bcfc-6120-d6ca-290b-1a7822494c73
*

[2020-05-16 15:36] RAJU2529 commented on #6747
@teojaimes . Here is the document.
**https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-antivirus/configure-server-exclusions-windows-defender-antivirus**

[2020-05-16 15:54] MaratMussabekov commented on #6570
Hello, unfortunately I do not have such information, you can see the planned changes on the [roadmap portal](https://www.microsoft.com/en-us/microsoft-365/roadmap)
Thank you

[2020-05-16 15:58] mypil commented on #6458
@ITCTarunchhabra - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @markdepalma & @VLG17 so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-16 15:58] #6458 closed

[2020-05-16 16:02] mypil commented on #6521
@bradrush - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @VLG17 so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-16 16:02] #6521 closed

[2020-05-16 16:06] mypil commented on #6526
@fmike7 - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @VLG17 so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-16 16:06] #6526 closed

[2020-05-16 16:24] Spartan-196 commented on #6295
I’ll have to see what devices I have available.
I was exclusively working with the surface laptop 3 at the time to enable part of a remote workforce.

[2020-05-16 16:57] e0i commented on #5899
Closing via #6418

[2020-05-16 16:57] #5899 closed

[2020-05-16 17:03] e0i commented on #5746
Manually verified to be fixed. Thanks.

[2020-05-16 17:03] #5746 closed

[2020-05-16 17:13] e0i commented on #5887
The issues section of this repository is intended for documentation and content-related problems and fixes.

[Windows Community](https://answers.microsoft.com/en-us/windows/forum/windows_10-security?sort=LastReplyDate&dir=Desc&tab=All&status=all&mod=&modAge=&advFil=&postedAfter=&postedBefore=&threadType=all&isFilterExpanded=false&page=1) would be a better channel to seek answers to your query.

Th

[2020-05-16 17:13] #5887 closed

[2020-05-16 17:36] e0i commented on #6450
The issues section of this repository is intended for documentation and content-related issues.

Please open a support ticket via the link below so that that your question gets answered quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2020-05-16 17:36] #6450 closed

[2020-05-16 17:43] #6455 closed

[2020-05-16 17:46] e0i commented on #6475
It seems that your question has been answered by the community and the issue is being marked as resolved.

Please note that the issues section of this repository is intended for documentation feedback.

Should you have any further issues similar to this one, please consider opening a ticket here:

[Send feedback to Microsoft with the Feedback Hub app](https://support.microsoft.com/en-us/help/40215

[2020-05-16 17:46] #6475 closed

[2020-05-16 17:49] e0i commented on #6573
The issues section of this repository is intended for documentation and content-related issues.

Please consider sending your input via the Feedback Hub so that it gets addressed via the proper channels:

[Send feedback to Microsoft with the Feedback Hub app](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub)

Thank you.

[2020-05-16 17:49] #6573 closed

[2020-05-16 18:02] Lucent opened #6748 "Works on Surface Laptop 3?"
With Surface UEFI Manager installed and loading the assembly with
[System.Reflection.Assembly]::LoadFile("C:\ProgramData\Microsoft\Surface\Devices\SurfaceUefiManager.dll")
I can read settings with Microsoft.Surface.UefiManager, but any attempt to use Microsoft.Surface.FirmwareOption methods like Find result in errors like:
"Exception calling "Find" with "1" argument(s): "Object reference not set t

[2020-05-16 18:05] e0i commented on #6576
Your issue has been opened without being associated to a documentation topic.

The issue is being closed as there hasn't been a response from your side regarding the specific article where the issue stems from.

Note that the issues section of this repository is intended for documentation and content feedback. For any similar questions, please visit, [Windows 10 Support](https://support.microsoft.

[2020-05-16 18:05] #6576 closed

[2020-05-16 18:08] e0i commented on #6599
Please consider sending your input via the Feedback Hub so that it gets addressed via the proper channels:

[Send feedback to Microsoft with the Feedback Hub app](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub)

The issues section of this repository is intended for documentation and content-related issues.

Thank you.

[2020-05-16 18:08] #6599 closed

[2020-05-16 18:15] e0i commented on #6606
@mkuenzie

Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thank you.

[2020-05-16 18:25] teojaimes commented on #6747
Thanks for the reply. I am familiar with that document and does provide some Hyper-v exclusion recommendations but nothing specific to WDAG. Any WDAG specific and MS official recommendations would be very helpful.

[2020-05-16 18:34] e0i commented on #6657
The issues section of this repository is intended for documentation and content-related issues.

Please consider asking your question via [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10) channels.

Feel free to re-open this issue if you feel that further revisions needed for the article itself.

Thank you, and stay healthy.

[2020-05-16 18:34] #6657 closed

[2020-05-16 18:57] archeon1004 opened #6749 "Window Defender Exploit Guard links issue"
Howdy! All links under the Windows Defender Exploit Guard description for Windows 10 version 1709 are resulting in http 404 error.

---
#### Szczegóły dokumentu

⚠ *Nie edytuj tej sekcji. Jest ona wymagana dla docs.microsoft.com ➟ Dołączanie problemu w usłudze GitHub.*

* ID: 5aaec57b-10cb-3954-8230-1fef012f26bb
* Version Independent ID: 205bce72-9a4b-cbc5-8d3f-5971b85ab1f9
* Content: [What's new

[2020-05-16 20:12] illfated commented on #6382
@RAJU2529 : I presume that the comment from Imran Habib is meant to tell us that many, many pages use the same pattern as this page, that there is a difference between the page title and the tab title ("website address"), which should be OK in the MS Docs pages. The conclusion I draw from his comment is that this is not an issue we need to do anything about, unless the Microsoft Documentation team

[2020-05-16 23:00] pl6306 opened #6750 "How to disable Kernel DMA Protection"
I have an external gpu enclosure running on thunderbolt. Please let me know how to disable or uninstall Kernel DMA Protection. This keeps crashing my windows! I have checked my BIOS there is no option. This isn't a hardware issue because I dual boot ubuntu and it is rock solid!

![msinfo](https://user-images.githubusercontent.com/173334/82131816-43bcca00-97a7-11ea-83ab-822151ff6154.png)

![1588997

[2020-05-17 02:52] RAJU2529 commented on #6382
@illfated . @joinimran . Thanks for the feedback. I am closing this issue