[2021-01-23 15:38] RAJU2529 commented on #9006
@illfated , Thanks for replying, in that article, the wrong command is  written, so i want to chnage it

[2021-01-23 17:32] joinimran commented on #8988
Hello @Scyto, thank you for your query. And yes it is necessary to use application proxy as its Azure AD feature that enables users to access on-premises web applications from a remote client.

I have also created a PR to link this to the more information page at MS Docs.

Thanks.
Imran.

[2021-01-23 17:41] joinimran commented on #8989
Hello BLTTEST, thank you for posting your query. Please note that there is a difference in both and that is reflected in the description of Proxy Server and Internal Proxy Server. If there is any suggestion, please feel free to let me know.

Thanks.
Imran.

[2021-01-23 22:34] illfated commented on #9006
I understand that you would want to contribute with corrections to the page, if there is a wrong command there.

I can only suggest using the feature "**Is this page helpful?**" on the right hand side by clicking the thumbs down (👎🏻) icon and fill in the information you want to send to the maintainers of that page.

[2021-01-24 12:08] joinimran commented on #8842
Hello @wmehilos - Thank you for your feedback. Can you please confirm in step 4, where we can place this code? The current notif.mobileconfig file from Github will be replaced by this code?

Thanks
Imran

[2021-01-24 12:12] alexaguilar89 opened #9011 "Cumulative updates January 2021 that you are following in Microsoft Community."
u cant fix thah my pc my red and dispositivos don `t  have the control , u have a problem ing social ya no se que hacer plesase help me

[2021-01-24 12:35] illfated commented on #9011
You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repository.

Disclaimer: I am not affiliated with Microsoft or the Microsoft Docs teams here on GitHub.

The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request

[2021-01-24 12:35] illfated commented on #9011
#please-close

[2021-01-24 18:38] nhoj01 commented on #8907
I believe those updates should address my concerns.

[2021-01-24 18:38] #8907 closed

[2021-01-24 20:27] e0i commented on #9003
Closing as missing feedback.

[2021-01-24 20:27] #9003 closed

[2021-01-24 23:46] illfated commented on #9003
Yes, this looks like just a misplaced test sample. Good call to close it.

[2021-01-25 03:27] BLTTEST commented on #8989
Hi @joinimran

I read it again. "Proxy servers" and "Internal proxy servers" are both used to indicate enterprise resources, but "proxy server" traffic won't be protected by WIP. Do I understand this correctly？

Another thing is Intune "Cloud resources" denied value format "contoso.sharepoint.com,|contoso.visualstudio.com,". Intune tips say you should use "contoso.sharepoint.com|contoso.visualstud

[2021-01-25 07:19] VLG17 commented on #8884
Correct -> https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/attack-surface-reduction-faq#does-asr-support-third-party-security-solutions

**ASR uses Microsoft Defender Antivirus to block applications**. It is not possible to configure ASR to use another security solution for blocking at this time.

[2021-01-25 07:55] VLG17 commented on #8671
@swellhunter Why do you want to go with "Allow on device" for the file detected as Trojan:JS/Sillyexpl? This is a valid thread, more details [here](https://www.microsoft.com/en-us/wdsi/threats/malware-encyclopedia-description?Name=Trojan:JS/Sillyexpl).

Or the problem is that this threat was already identified and remediated in the past, but it still comes up although it's not there anymore?

In t

[2021-01-25 08:16] VLG17 commented on #8617
@bakerm00 Have you looked into the now generally available endpoint detection and response (EDR) capabilities in Microsoft Defender for Endpoint on Linux server?

You can use the [custom detections](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/custom-detection-rules) feature and filter after DeviceID.

[2021-01-25 09:25] VLG17 commented on #8573
You can use the [Defender for Endpoint API](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/add-or-remove-machine-tags) to achieve that goal.

[2021-01-25 09:48] bakerm00 commented on #8617
doesn't look to fit with our existing divisional delegation model and segregated teams.  TAGS work

[2021-01-25 12:22] nam31 commented on #9011
The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.

[2021-01-25 12:22] #9011 closed

[2021-01-25 12:24] nam31 commented on #9006
@RAJU2529  Thank you for submitting this feedback.
I will assign this to our team for investigation. Thank you for your contribution to making the docs better. Much appreciated.

[2021-01-25 15:49] MaratMussabekov commented on #8992
Hello,
checked on several different builds of Windows 10.
Some of them doesn't have HotPlugSecureOpen registry key at all, and removable storage audit works without any additional actions.
Other builds have HotPlugSecureOpen set to 0. On these computers, removable storage audit started logging the events only after setting the key to 1, or after removing of it.

I believe it worth to add some note

[2021-01-25 16:19] RAJU2529 commented on #8992
@Dansimp . after reading feedback from @MaratMussabekov , I agree with his point.

[2021-01-25 18:45] andrePKI commented on #8573
Thanks, looks great and I will try that ASAP!

[2021-01-25 20:14] illfated commented on #9006
@RAJU2529 : Based on the feedback from @nam31, you can also contribute by posting more details about what is wrong on that page (https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/dism-driver-servicing-command-line-options-s14) here in this ticket, and what should be written there instead.

Would this be a reasonable suggestion for what can be done to correct that page?

[2021-01-26 00:16] swellhunter commented on #8671
@VLG17 The file concerned exists in multiplke places and also about 20 times in a very large zip file. I do not (did not) want the file corrupted. Nor do I want the zip file changed. I don't want to whitelist the threat, just the file. It is a validly archived file. It is not a trojan.  My issue is that every time I take a new Windows update, it needs to be manually dealt with again and this is te

[2021-01-26 04:47] RAJU2529 commented on #9006
@illfated .thanks for replying. this  : is missing

[2021-01-26 07:42] juhap commented on #8974
For reference, here's a comment from 30/12/2020 stating that M1 support is coming, but not yet there:
https://techcommunity.microsoft.com/t5/microsoft-defender-for-endpoint/microsoft-defender-atp-for-mac-is-moving-to-system-extensions/bc-p/2023952/highlight/true#M1048

[2021-01-26 12:49] MaratMussabekov commented on #8984
Hello @hidemaruki ,
It works following way:
1. Windows 10 pro and Windows Server do not support entire feature set of ASR ([Source](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/attack-surface-reduction-faq#do-i-need-to-have-an-enterprise-license-to-run-asr-rules))
2. Windows 10 Enterprise and Windows 10 Enterprise E3 support all features, but doesn't s

[2021-01-26 14:27] wUEZRs opened #9019 "Error Malformed line 1 in source list /etc/apt/sources.list.d/microsoft-prod.list (type)"
Same problem as
https://github.com/MicrosoftDocs/azure-docs/issues/59910

Running Ubuntu 20.4 LTS and trying to follow the guide. It's not possible to follow along with the guide as one gets

:~$ sudo apt-get install gpg
E: Malformed line 1 in source list /etc/apt/sources.list.d/microsoft-prod.list (type)
E: The list of sources could not be read.
E: Malformed line 1 in source list /etc/apt/sources

[2021-01-26 14:41] wUEZRs opened #9020 "Package mdatp not found"
:~$ curl -o microsoft.list https://packages.microsoft.com/config/ubuntu/20.04/prod.list
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    89  100    89    0     0    383      0 --:--:-- --:--:-- --:--:--   383
~$ sudo mv ./microsoft.list /etc/apt/sources.list.d/microsoft-prod.list
~$

[2021-01-26 14:45] #9020 closed

[2021-01-26 20:21] illfated commented on #9006
OK, fair enough. But could you add the full context, maybe the whole sentence (or code block, if it is a command) so we get which part of the document this is for?

[2021-01-26 20:34] denisebmsft commented on #9000
@TinaMcN can you please take a look at this issue?

[2021-01-26 22:44] illfated commented on #9019
@konstruktoid : Maybe you would like to take a look at this issue?

[2021-01-26 22:53] mildsauce opened #9024 "More detail needed on firewall rules needed to resolve ERR_NAME_NOT_RESOLVED"
The section: "Why am I getting the error message "ERR_NAME_NOT_RESOLVED" after not being able to reach PAC file" recommends creating two firewall rules to allow traffic.
1. Please add details on if both of these these rules are inbound or outbound rules. If they are inbound, can we restrict the remote IP addresses it can accept connections from so this is not exposed on the network when deployed i

[2021-01-27 00:12] konstruktoid commented on #9019
Can't reproduce.
But that page is getting a rewrite: https://github.com/MicrosoftDocs/windows-itpro-docs/pull/8960?

[code]

[2021-01-27 00:40] illfated commented on #9019
Very good. We can have more feedback or consider closing this ticket when the PR is merged and the page is updated.

[2021-01-27 00:59] illfated commented on #8321
(ref. PR #9013 )

[2021-01-27 01:35] TinaMcN commented on #9000
@Alaladdin thank you very much for reporting this.  It appears to be a problem with our machine translation tool.  I have reported it to our MT tool team and hope to have it fixed soon.

[2021-01-27 04:39] yffengdong opened #9025 "Windows Sandbox rail mode not in docs"
In the video, I see that they use Admin Center, deploy a package with rail mode wsb file(24:59), and open start menu and run like remoteapp(26:48) in Windows Sandbox.
It's not in docs and I do not know how to deploy rail mode wsb file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c06f3ef-5946-862a-ae14-f897fdb518ca

[2021-01-27 04:42] yffengdong commented on #9025
<img width="460" alt="chrome_Pjr0MkIzsd" src="https://user-images.githubusercontent.com/20380669/105943689-bb642800-609c-11eb-9e41-cd3b9cad7ce9.png">
Windows Sandbox deply package with admin center requirement

<img width="479" alt="chrome_oimiEcDQ4x" src="https://user-images.githubusercontent.com/20380669/105943787-00885a00-609d-11eb-9dbc-6cb5394780e7.png">
Rail mode in start menu

[2021-01-27 04:42] yffengdong commented on #9025
#8941

[2021-01-27 10:07] sarahbj82 opened #9026 "Miracast not enabled on LTSC 2019, the UWP Project to this screen removed"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c696c9ed-b095-68ff-d50d-df345daf8a4a
* Version Independent ID: 50ad3b26-8e9b-6a56-7b3c-56c1374c4747
* Content: [What's new in Windows 10 Enterprise LTSC 2019 - What's new in Windows](https://docs.microsoft.com/en-us/windows/whats-new/ltsc/whats-new-wi

[2021-01-27 11:19] hidemaruki commented on #8984
Hello, @MaratMussabekov ,
Thank you for reply.

You mean "Attack Surface Reduction" need "Windows 10 Enterprise" lisence only.

So I think I can apply Attack surface reduction to "Windows 10 Pro" without upgrading actual OS to "Windows 10 Enterprise E3 or E5" if only I have "Windows 10 Enterprise E3 or E5" license.
I think I can apply Attack surface reduction to "Windows Server 2019" if only I hav

[2021-01-27 13:29] jessy-manc opened #9027 "Translation mistake"
Hello,

There is an error in the french version of this page :
The environment variables 'TEMP' and 'TMP' must not be translated into french, and must be kept as its original version.

Actually they are respectively written as 'TEMPORAIRE' and 'TECHNOLOGIQUE'.

[environment variables](https://docs.microsoft.com/fr-fr/windows/deployment/usmt/usmt-recognized-environment-variables#9916e-353)

Best re

[2021-01-27 14:48] jordi-j opened #9028 "Typo: "Welcome to Microsoft Defender for Endpoint, the new name for Microsoft Defender for Endpoint.""
At the top of the document there's a phrase that says "Welcome to Microsoft Defender for Endpoint, the new name for **Microsoft Defender for Endpoint**.". It should say "... the new name for **Microsoft Defender Advanced Threat Protection**" or something to that effect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a

[2021-01-27 16:14] denisebmsft commented on #9027
@TinaMcN, can you take a look? Thanks!

[2021-01-27 17:10] illfated commented on #9000
We may want to keep this ticket open to track the status of the Machine Translation issue. Otherwise, it would feel like no need to check back for a status.

[2021-01-28 02:59] RAJU2529 commented on #9028
@e0i , I took  example  name from below article
**https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-advanced-threat-protection**

[2021-01-28 03:06] RAJU2529 commented on #9027
@denisebmsft ,  I checked the french article, and i found  symbol  **:**  is  missing  in many places

[2021-01-28 03:10] RAJU2529 commented on #9027
there is  a gap between  C  and SIDL  in french article

C SIDL_DEFAULT_LOCAL_APPDATA

[2021-01-28 03:18] TinaMcN commented on #9027
Hi @jessy-manc thanks for reporting it.  It appears to be a machine-translation problem.  I sent the article for human translation which should be complete in approx 3 days.

[2021-01-28 03:35] alexaguilar89 opened #9034 "help please i don have control withn my pc"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f784502-84dc-1122-eab4-1eeeb08da046
* Version Independent ID: 21f210a7-4c38-8f62-0226-121562617fef
* Content: [Memory integrity - Windows security](https://docs.microsoft.com/en-us/windows/security/threat-protection/device-guard/memory-integrity)
* C

[2021-01-28 04:42] RAJU2529 commented on #9034
@alexaguilar89 .
   The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.

you can get all help from answers.microsoft.com

[2021-01-28 04:44] illfated commented on #9034
#please-close

[2021-01-28 06:27] illfated commented on #9028
(ref. #9032 )

[2021-01-28 08:40] adirdidi commented on #9028
I'm closing the PR mentioned, as I'm already taking care of that.
Thank you.

[2021-01-28 10:40] MaratMussabekov commented on #8694
Dear @ambarishrh ,
could you please clarify, what's incorrect with the documentation in your opinion?

Thank you

[2021-01-28 12:40] pinguon opened #9035 "ASR Rule process exclude"
Hi,

it's never written how a process can be excluded from the ASR rules ...

e.g. from different USB Sticks

so means different "drive" and different "folder" the EXE File is always the same.

DriveA/folder1/setup.exe
DriveB/folder2/setup.exe

can I solve that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b801a8e-c

[2021-01-28 15:36] yvesrosius opened #9036 "Please change footnotes to extra column in table"
Please change footnotes to extra column in table. Suggested headers:
Windows Edition, Supported?, Since Windows Version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c80b4305-2983-15b5-8c94-2ea9e3addb48
* Version Independent ID: 538aa3f8-c819-6d9a-9499-32b3eff0fd90
* Content: [Policy CSP - Storage - Windows Client Man

[2021-01-28 15:49] #9034 closed

[2021-01-28 16:46] atz opened #9037 "JSON examples incorrect"
The examples (auth token response, for example) have quoted integer strings instead of integers like `"559"`.  In testing, it appears actual JSON numbers are returned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b835bf35-1614-2d8d-13ab-176c6d839047
* Version Independent ID: ed4653f3-e393-dd42-5960-87888c08ba40
* Con

[2021-01-28 18:46] alexa872 opened #9038 "Is there an example / documentation ?!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99a93860-0460-2f14-dce9-e485d3735371
* Version Independent ID: bf7bec96-f6aa-cc76-4779-5245fcd14323
* Content: [Supported Microsoft Defender Advanced Threat Protection response APIs - Windows security](https://docs.microsoft.com/en-us/windows/security

[2021-01-28 18:48] illfated commented on #9028
OK, fair enough. Thank you for the update.

[2021-01-28 18:51] illfated commented on #9028
By the way, will the correction commit be added as a standalone update, possibly reference this ticket and close it with the text "Closes #9028" on a single line, 2 lines below the commit message title?

[2021-01-28 19:35] Kilo1977 commented on #599
This is not true at all. In fact, I do not see what purpose exclusion routes would even have in a split tunnel setup.
True you can define routes so that you ensure they go THROUGH the tunnel, but that would in all logic make them Inclusion routes.

Exclusion routes are determined when using Force Tunnel and you explicitly want traffic NOT to go through the (forced) tunnel.

https://docs.microsoft.

[2021-01-28 19:37] Kilo1977 commented on #599
https://docs.microsoft.com/en-gb/windows/security/identity-protection/vpn/vpn-office-365-optimization

[2021-01-28 19:40] #8629 closed

[2021-01-28 20:01] illfated commented on #8629
… and in case you return to this ticket, feel free to learn about MarkDown / GitHub Flavored MarkDown and its practical application in GitHub ticket comments:

[code]
(example of MarkDown code block fence with syntax highlighting)

[2021-01-28 20:33] wdiggleCANCOM opened #9040 "Welcome to Microsoft Defender for Endpoint."
In the important section should this not read "Welcome to Microsoft Defender for Endpoint, the new name for Microsoft Defender Advanced Thread Protection (Defender ATP)"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6aa63fbe-c611-fe9c-7f86-bd33e27bd788
* Version Independent ID: 74f63ac9-7436-b6f4-51f9-35c7efe6f77a
*

[2021-01-28 20:41] illfated commented on #9040
Duplicate of #9028

[2021-01-28 20:41] denisebmsft commented on #9040
Hello @wdiggleCANCOM. Yikes! Thank you for letting us know about this. We've fixed it, and the updates will render live later today.

[2021-01-28 20:41] illfated commented on #9040
Also, see comment https://github.com/MicrosoftDocs/windows-itpro-docs/issues/9028#issuecomment-768893445 about this already being taken care of internally.

[2021-01-28 20:42] #9028 closed

[2021-01-28 20:54] illfated commented on #9027
There are also spaces around the % % signs, which should be next to their keywords and without spacing.
- currently: Fait référence au dossier AppData dans% DEFAULTUSERPROFILE %.
- should be: Fait référence au dossier AppData dans `%DEFAULTUSERPROFILE%`.

[2021-01-28 20:56] illfated commented on #9027
@RAJU2529 : you have recently made a PR to a page like this one in the /en-us/ repository, right?

[2021-01-29 02:30] RAJU2529 commented on #9027
@yea   it's in English version

[2021-01-29 05:35] illfated commented on #9027
Very well, then I presume the issue of the separated C character from `SIDL_DEFAULT_LOCAL_APPDATA` will be resolved in the source document.

[2021-01-29 07:26] ambarishrh commented on #8694
Dear Marat

Thank you for your reply, probably not the documentation part that is
incorrect. On Defender portal, as a recommendation, it says the ASR rule
needs to be created, and points out to this documentation. If it is not
available, may be the portal should say that this is only available using
GPO.

Thanks again for your help

On Thu, 28 Jan 2021 at 14:41, MaratMussabekov <notifications@gith

[2021-01-29 07:30] yoshiband opened #9041 "Revision request and proposal for keep pre-translated terms"
[フィードバックをこちらに入力してください]
Hello, whom it may concern

I found some mistakes in the Japanese version of this page.
The modification points are listed below, so please review them.

And I have another proposal, that is, how about keeping original words which is used in actual menu like the following example?
For example, the "Status" column of the table in the "Automated investigation status" section,

[2021-01-29 08:58] VLG17 commented on #8725
@jgossvmware I did not tag you previously. Could you have a look please and share your thoughts?

[2021-01-29 09:05] Reeced40 commented on #8802
@D-Jeffrey thank you for reaching out. Please confirm if your original query has been solved. I also found an article https://answers.microsoft.com/insider/forum/insider_wintp-insider_security-insiderplat_pc/diagnostic-data-viewer-missing-if-data-viewing-is/16e9fb6b-5a55-4181-aff6-d89f20df5784and related issue - https://github.com/MicrosoftDocs/windows-itpro-docs/issues/1687  for you to have a loo

[2021-01-29 09:10] Reeced40 commented on #8898
@Sumitdhiman thank you for pointing this out and helping improve MS Docs. This is not a Microsoft Document so I cannot add it to the article, but would it help if I linked this article in the document to help other users?  https://answers.microsoft.com/windows/forum/all/update-problem-error-code-8007007e/a04549b2-a04c-4183-b386-df229e7c0669

[2021-01-29 09:15] Reeced40 commented on #8932
@arcastaneda thank you for pointing this out. Would you recommend I add a note to the article stipulating that the filter does not work properly when using it on the "severity" property?

[2021-01-29 09:16] Reeced40 commented on #8940
@scyto thank you for reaching out. Please confirm if you saw the above comment from @RAJU2529 and if you still need further assistance.

[2021-01-29 09:18] Reeced40 commented on #8987
@scyto thank you for reaching out and helping improve MS Docs. It is necessary to use application proxy as its Azure AD feature that enables users to access on-premises web applications from a remote client.

[2021-01-29 09:37] Sumitdhiman commented on #8898
Thanks, Reeced40. I am getting a page not found on that Answers link. Can you please check the same?

[2021-01-29 09:55] Reeced40 commented on #8898
@Sumitdhiman apologies, try this one https://answers.microsoft.com/en-us/windows/forum/all/update-problem-error-code-8007007e/a04549b2-a04c-4183-b386-df229e7c0669

[2021-01-29 12:59] Sumitdhiman commented on #8898
Thank you. Actually, the error code is 800707E7, running the error lookup tool says the following.

[code]

You may consider these(my experience says both answers are right)

[Win 7 to Win 10 upgrade error (0x800707E7 - 0x3000D)
](https://answers.microsoft.com/en-us/windows/forum/all/win-7-to-win-10-upgrade-error-0x800707e7-0x3000d/1273bc1e-8a04-44d4-a6b2-808c9feeb020
)

[Win 10 upgrade error: Use

[2021-01-29 15:03] sakaldeepyadav opened #9043 "The video on this page is not relevant anymore"
The video on this page is not relevant anymore like ATP does not exist.  please change the video.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bdb99e4-289a-c09a-c35c-2774fc52a402
* Version Independent ID: 4d325389-c9b8-2601-0ff4-c7b6bf5a6c28
* Content: [Microsoft Defender for Endpoint - Windows

[2021-01-29 15:10] #8984 closed

[2021-01-29 15:11] #8983 closed

[2021-01-29 16:51] MaratMussabekov commented on #8956
Hello @jmmowrer ,
it is already mentioned in relevant articles - for [Attack Surface Reduction Rules](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/attack-surface-reduction#requirements-for-warn-mode-to-work) and for [Network Protection](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/network-protection#require

[2021-01-29 17:03] KieryBUK opened #9045 "Clarity on MDE for Linux alongside MMA"
Please can we add clarity into the two cautions on this page to explicitly state that MDE on Linux can run alongside the MMA on Linux. We have customers asking this and under the impression this is not supported (which it is) due to the wording in the Caution.

Explicitly stating "Microsoft Defender for Endpoint can run alongside the Microsoft Monitoring Agent" in bot the caution blocks would solv

[2021-01-29 17:15] illfated commented on #9045
Sounds useful to me, thank you for commenting and suggesting.

CC: @konstruktoid - Would you be able to comment on this, in case you can point out any useful details for us Windows-heads?

[2021-01-29 18:11] adirdidi commented on #9037
Resolved, thank you.

[2021-01-29 18:11] #9037 closed

[2021-01-29 18:45] nam31 commented on #6252
Closing via #6310

[2021-01-29 18:45] #6252 closed

[2021-01-29 18:47] nam31 commented on #6933
@Lumute Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-01-29 18:47] #6933 closed

[2021-01-29 18:48] nam31 commented on #7026
@yjhgdipgfj Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-01-29 18:48] #7026 closed

[2021-01-29 20:34] 89z opened #9046 "Common folder variables page"
I used to visit this page:

https://web.archive.org/web/20180606140951/microsoft.com/en-us/wdsi/help/folder-variables

To reference Common folder variables. However since 2018, the page now redirects
here:

https://microsoft.com/wdsi

Is it possible to restore this page, or is a similar page available?

[2021-01-29 21:15] scyto commented on #8987
Thanks, my point is I think there are other ways to do that too - like exposing  the device enrollment endpoint directly to the internet via say an Ngix reverse proxy.

I am not saying one has to document how to do that, rather a) confirm that the requirement is that device enrollment endpoint is required to be accessible from the internet and b)it is ok for customers do that in other ways c)that

[2021-01-29 21:27] illfated commented on #9046
"Common folder variables" is not considered a specific part of the Security field of operations, but rather a part of understanding the Operating System itself. See if the page linked below can be just as useful to you, as well as searching for the variables in other Windows 10 pages where this should be part of the reference material.

- https://docs.microsoft.com/windows/deployment/usmt/usmt-rec

[2021-01-29 21:36] scyto commented on #8940
I was using windows insider winpe and ADK and I assure you the paths were fundamentally different with no reagent in any subdir (maybe this is why I never managed to make a working winpe disk either..

i just downloaded and installed the latest insider version and everything looks ok maybe there was a broken build, (wish i had taken screenshot) to prove it.

In terms of making this documentation b

[2021-01-29 21:44] scyto commented on #8940
oh on uninstalling the ADK and winpe, i think i see the issue,

I assumed "C:\Program Files (x86)\Windows Kits\10\Assessment and Deployment Kit\Windows Setup\amd64\sources" was part of winpe - it isn't it is part of the ADK, when I installed i chose these options first time around (because an article I found telling me how to make a winpe image told me that's all i needed to get winpe working)

![

[2021-01-29 21:48] #8942 closed

[2021-01-29 22:47] mjcaparas commented on #8458
The guidance on the minimum requirements page is provided generic, while details are provided on the link "For more information, see Microsoft Defender Antivirus compatibility".

I can understand though that this might be confusing. I'll update the statement to state depending on the server version, Microsoft Defender Antivirus will need to be configured accordingly.

[2021-01-30 01:07] StoneyD1612 opened #9048 "Smart Screen"
I'm furious,  I want to install Signal Now App, and Defender blocks it! I try the 'it's OK
--- option and it keeps blocking it
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4edaae97-455b-d25a-9228-5309e24b4aa3
* Version Independent ID: d38e56a7-d553-e519-95a9-dc93e2cdc771
* Content: [Microsoft Defender SmartScreen overview

[2021-01-30 02:45] StoneyD1612 commented on #9048
It's an install program, why would I take a picture of it?

[2021-01-30 04:21] illfated commented on #9048
Wish I could help, but this repository is not intended for regular support issues, support requests or support questions.

Please use a real support instance like Microsoft Support or Microsoft Forums. This repository is intended for documentation improvement only.

You may want to look elsewhere for answers, unless you have suggestions for improving one or more specific pages in the MS Docs repos

[2021-01-30 13:00] illfated commented on #9043
Fair point, the branding "Microsoft Defender Advanced Threat Protection" is outdated, so it needs to be replaced (or maybe removed until an updated video becomes available).

https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-advanced-threat-protection.md#L28-L34

[code]

If there is a new video available, it

[2021-01-30 19:43] thepackbot opened #9050 "Simple typo"
The part that reads  "Desktop Analytics s a cloud-based..." is missing an 'i', and should be " Desktop Analytics is a cloud-based..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6957383-3bd9-eef9-6410-9c42f8a0b172
* Version Independent ID: a2090374-0fd1-8d67-66de-30c4cf2835f7
* Content: [Overview of Windows as a se

[2021-01-30 21:07] konstruktoid commented on #9045
Sorry, I don't have any information or experience regarding running multiple fanotify-based security solution side by side.

[2021-01-30 23:47] #8972 closed

[2021-01-31 08:20] kaneorotar opened #9051 "English -> Chinese Translation Error"
"手表 Dana Huang 解释为什么 Windows Hello 企业版 PIN 比密码更安全。" should be "观看 Dana Huang 解释为什么 Windows Hello 企业版 PIN 比密码更安全。"

"Watch" was incorrectly translated to "手表" which means the time-telling device. It should be "观看" which means view/observe.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: c34dbafa-df3c-a5a5-32d5-2ce152893534
* Version Independent ID: cebdd9a6-45d7-6306-

[2021-01-31 11:05] illfated commented on #9050
Nice. That is one of the smallest typos I have seen, except for punctuation typos. Will fix.

[2021-01-31 14:46] illfated commented on #9051
Thank you. Feels a little bit like "Windows Nín hǎo" now that you point out that machine translation error. 😄

@TinaMcN : Would you be so kind as to inform the translator managers to have a look at that issue?

***

**手表** Dana Huang 解释为什么 Windows Hello 企业版 PIN 比密码更安全。

PIN 绑定到设备

***

https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/windows/security/identity-protection/hello-for-bu

[2021-01-31 22:55] adirdidi commented on #9038
The page you refer to is obsolete and I'll remove it.
The samples for the APIs mentioned in this doc are available at: https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/machineaction and https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/files.

[2021-01-31 22:55] #9038 closed

[2021-01-31 23:45] adirdidi commented on #8911
Addressed, you should see the change during noon PST tomorrow.

[2021-01-31 23:45] #8911 closed

[2021-02-01 12:44] jozefizso opened #9055 "Collect diagnostic data for file submissions command does not work."
The command `cd c:\program files\windows defender` on the page does not work on Windows 10 Enterprise 2019 LTSC.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34df903a-7faf-bff1-802c-cf5081ce258e
* Version Independent ID: ac1f1b04-d27a-5fdb-292e-32998d10b35f
* Content: [Troubleshoot problems with attack surfac

[2021-02-01 12:46] jozefizso opened #9056 "Collect diagnostic data for file submissions command does not work."
The command `mpcmdrun -getfiles` does not work on Windows 10 Enterprise 2019 LTSC.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34df903a-7faf-bff1-802c-cf5081ce258e
* Version Independent ID: ac1f1b04-d27a-5fdb-292e-32998d10b35f
* Content: [Troubleshoot problems with attack surface reduction rules - Windows se

[2021-02-01 12:48] jozefizso opened #9057 "Use audit mode to measure impact command does not work"
The command `Set-MpPreference -AttackSurfaceReductionRules_Actions AuditMode` does not work on Windows 10 Enterprise 2019 LTSC.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 751781d9-0e3b-85ea-21c7-2714a39041f5
* Version Independent ID: b14c1d00-5f56-d3c6-0847-8d2967740680
* Content: [Evaluate attack surface r

[2021-02-01 13:02] jozefizso opened #9058 "404 - Page not found: /threat-protection/windows-defender-exploit-guard/troubleshoot-asr"
Address: https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-exploit-guard/troubleshoot-asr

This page is opened when user clicks on the notification about blocked application from Windows Defender.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 751781d9-0e3b-85ea-21c7-2714a39041f5
* Ve

[2021-02-01 13:50] #5594 closed

[2021-02-01 13:52] #5364 closed

[2021-02-01 14:07] beerisgood commented on #9055
Paths with spaces must be marked with **"** at the front and at the back

[2021-02-01 14:13] nam31 commented on #9046
@89z Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have made a sim

[2021-02-01 14:13] #9046 closed

[2021-02-01 14:40] MaxPower2005 opened #9059 "WinPE PXE boot for an UEFI system"
I was able to successfully setup whole WinPE PXE infrastructure and boot a target using "legacy" mode, but it failed for the same target when using UEFI mode.
The symptom is that after loading the "boot.wim" file, the system seems to freeze (black screen, no reaction to keyboard).

Is there something else which needs to be changed/adapted besides replacing "PXEboot.n12" with its UEFI equivalent?

[2021-02-01 15:42] nam31 commented on #9041
@TinaMcN Can you please assist with this translation/localization issue?

[2021-02-01 15:42] nam31 commented on #9051
@TinaMcN Can you please assist with this translation/localization issue?

[2021-02-01 17:07] adirdidi commented on #9055
Fixed, thank you.

[2021-02-01 17:07] #9055 closed

[2021-02-01 18:15] adirdidi commented on #9058
@jozefizso Can you please share a screenshot of the notification you refer to so I can check internally?
Thanks.

[2021-02-01 19:04] RAJU2529 commented on #9056
@jozefizso   . you have entered wrong command in wrong place.

[2021-02-01 19:05] RAJU2529 commented on #9057
@jozefizso . you not mentioned asr rules in command. so its wrong

[2021-02-01 19:50] adirdidi commented on #9058
We are going to add a redirection from https://docs.microsoft.com/windows/security/threat-protection/windows-defender-exploit-guard/troubleshoot-asr to https://docs.microsoft.com/windows/security/threat-protection/microsoft-defender-atp/troubleshoot-asr but we still would like to trace the location that is using the previous link.

[2021-02-01 22:03] #9048 closed

[2021-02-01 22:40] yanezrj opened #9062 "The title of this page is misspelled..."
Just FYI
"Configure Windows diagnostic data in your organisation" - should be "organization"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 893c364e-fcf4-8667-17d7-f9a3ec71e1a9
* Version Independent ID: f98f8870-d594-f5df-f6b6-44c9806db7d8
* Content: [Configure Windows diagnostic data in your orga

[2021-02-01 23:23] illfated commented on #9062
I think you need to check your browser. The page title adapts to your browser language and version of English.

[2021-02-01 23:25] illfated commented on #9062
https://docs.microsoft.com/en-us/windows/privacy/configure-windows-diagnostic-data-in-your-organization
## Configure Windows diagnostic data in your organization

https://docs.microsoft.com/en-gb/windows/privacy/configure-windows-diagnostic-data-in-your-organization
## Configure Windows diagnostic data in your organisation

[2021-02-01 23:26] illfated commented on #9062
By the way, the GitHub page title is the /en-us/ version, so I had a little trouble figuring out where to look for the translation issue.

[2021-02-01 23:55] SergGu opened #9063 "Dead download link on the page"
Hello, There is dead download link on the page.

The link is https://www.microsoft.com/download/details.aspx?id=54795
It is under "The guide is available in PDF format for offline viewing: Download the guide in PDF format" section.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b674bf82-b910-2b06-86f4-f454dc74

[2021-02-02 00:18] adirdidi commented on #9056
@jozefizso The error format indicate that you've tried to run the command from a PowerShell session, and not from an elevated command prompt as the documentation instructs.
I've just tested the command on a Windows 10 Ent 2019 LTSC machine and it does work:
![image](https://user-images.githubusercontent.com/68847945/106534512-ee734500-64fc-11eb-9a48-ab9ab7569ec9.png)

Closing the issue.

[2021-02-02 00:18] #9056 closed

[2021-02-02 00:26] adirdidi commented on #9058
The redirection is live. Will keep the issue open for a few more days to try and get a screenshot of the issue.

[2021-02-02 00:44] schenardie opened #9064 "More information on SetEduPolicies"
Its not clear what are the implications of setting up SetEduPolicies on Windows Pro or if they break any license agreement.

In theory Education institutions should own a educational license (which by default works with LockScreenImageUrl) So more information is needed if is a breach to set a non eductional device running windows 10 pro with the SetEduPolicies and what changes are implemented on t

[2021-02-02 02:54] RAJU2529 commented on #9057
@jozefizso , you need to use  PowerShell  command  to  enter the commands

**Add-MpPreference -AttackSurfaceReductionRules_Ids 7674BA52-37EB-4A4F-A9A1-F0F9A1619A2C -AttackSurfaceReductionRules_Actions AuditMode**

![Capture](https://user-images.githubusercontent.com/3296790/106545838-1b8d1b00-6530-11eb-84a5-b53b796a241e.JPG)

[2021-02-02 02:55] RAJU2529 commented on #9057
@jozefizso , to know  all  ASR ids, visit below page
**https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/attack-surface-reduction**

[2021-02-02 03:01] RAJU2529 commented on #9063
@SergGu . Thanks for reporting to us. Issue is conformed from my side too.

[2021-02-02 05:49] TinaMcN commented on #9041
@yoshiband thank for your detailed feedback.  The article was machine translation and it appears to have many issues.  I have sent the article to be human translated, this will take approx. 2-3 days.  Hopefully most of the issues will then be fixed.
Even though it is a good suggestion unfortunately we are not able to translate terms leaving both English and Japanese e.g.
Running -> Running (実行中)
T

[2021-02-02 06:09] TinaMcN commented on #9051
@kaneorotar thank you for reporting this.  The article is machine translated and it incorrectly understood the meaning of "watch" in this context.   I passed on to the MT tool team so they can investigate to see if they can fix it in the tool.  If not I'll get the article human translated.

[2021-02-02 06:10] StoneyD1612 commented on #9048
I didn't choose to come to this **no-help** forum, this is where it sent me. I guess I shouldn't be surprised by the response.

[2021-02-02 12:29] adirdidi commented on #9063
Please check again, it's working on my end.

[2021-02-02 12:43] RAJU2529 commented on #9063
specified link is working today

[2021-02-02 14:04] DeanGross opened #9065 "Broken Link"
The link to download the upload baseline is broken
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1447d5c3-2847-6a77-4f02-9e15333a709e
* Version Independent ID: 4eabe8ac-4289-66b8-1a7d-15e2c9adaf91
* Content: [Update Baseline - Windows Deployment](https://docs.microsoft.com/en-us/windows/deployment/update/update-baselin

[2021-02-02 15:49] joinimran commented on #8994
Hello @waydaws - Thank you for your feedback. Can you please explain in a little more detail what parameters are required to be added in the document so that I can look into this?

Thanks
Imran.

[2021-02-02 16:44] waydaws commented on #8994
@jonimran.  Yes, for example the Signer Distinguished Name, as they're sometimes specified in IOCs (and sometimes better than hashes for controlling what's allowed or not).

[2021-02-02 16:59] joinimran commented on #8994
Thanks for your reply @waydaws - I am sorry I didn't get your point. Can you please let me know which part of the document needs to change/updated with what information?

[2021-02-02 17:21] waydaws commented on #8994
Ah, I see.  It's not the document.  I was trying to comment on product itself.

[2021-02-02 18:20] jozefizso commented on #9058
I don't have screenshot for the notification, but it is an standard notification users get when Windows Defender blocks an application for running.

[2021-02-02 18:22] adirdidi commented on #9063
@SergGu Please check again and confirm closing this issue.

[2021-02-02 18:32] SergGu commented on #9063
The file is available for download. Thank you very much for quick response.

[2021-02-02 19:07] adirdidi commented on #9063
Thank you for reporting and confirming.

[2021-02-02 19:07] #9063 closed

[2021-02-02 20:30] jonwbstr opened #9067 "Setup Intune + Autopilot two articles, unclear how to do both?"
There appear to be multiple sections for endpoint management articles and I'm starting to wonder if we have intune and autopilot setup correctly.

This article talks about just enrolling devices into intune using GPO

Docs > Windows > Client management > Mobile Device Management has this article
https://docs.microsoft.com/en-us/windows/client-management/mdm/enroll-a-windows-10-device-automatically

[2021-02-02 22:17] illfated commented on #9048
Sorry that your software sent you here. The developers need to hear about this obvious inconvenience.

Could you post the problem via the built-in Windows Feedback App, to post it where the devs read the tickets?

[2021-02-02 22:21] amoraa246 opened #9068 "Applies To is missing Operating System versions"
The Applies To states Windows 10 and Windows Server 2016. However, if you go into the Event IDs listed, they mention that they are supported by as back as Windows Server 2008. Furthermore, there's an older article with similar information which does state it's supported by as old as 2008/Win7: https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/dn31906

[2021-02-02 22:42] illfated commented on #9065
Hmm, OK. You mean that the download itself is broken, not the link to the download page?

Working links:
- https://docs.microsoft.com/en-us/windows/deployment/update/update-baseline#policies-included-in-the-update-baseline
- https://www.microsoft.com/en-us/download/details.aspx?id=101056
- https://www.microsoft.com/en-us/download/confirmation.aspx?id=101056

[2021-02-02 22:43] illfated commented on #9065
Alternative download link:
- https://www.microsoft.com/en-us/download/confirmation.aspx?id=101056&6B49FDFB-8E5B-4B07-BC31-15695C5A2143=1

[2021-02-03 00:08] bjeans opened #9069 "Some images hard to read with page background in dark mode"
Many of the images on this page do not display well when viewed with dark theme.  As an example (https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-sandbox/images/2-dynamic-working.png) the labels appear to be in black and the image background is transparent therefore making the text appear as dark on dark.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-02-03 05:54] RAJU2529 commented on #9069
@bjeans . thanks for pointing out
 I wil to try to fix.

[2021-02-03 10:22] karandiwan opened #9070 "Need clarity on the Intune v/s GPO processing"
Hi,
    I need more clarity in context of Intune v/s Windows 10 ADMX (GPO) policies and the statement under the NOTE section: "MDMWinsOverGP only applies to policies in Policy CSP. It does not apply to other MDM settings with equivalent GP settings that are defined on other configuration service providers":

1. As I understand, ADMX are for Group Policy settings which have been built for AD (and n

[2021-02-03 14:46] #8784 closed

[2021-02-03 15:18] nam31 commented on #8994
Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have made a similar

[2021-02-03 15:18] #8994 closed

[2021-02-03 15:51] joinimran commented on #9070
Hello @karandiwan - Thank you for posting your query here. I am going to look into this and will get back to you.

Thanks
Imran.

[2021-02-03 15:52] joinimran commented on #9069
Hello @bjeans bjeans - Thank you for posting your query. I am going to look into this and will get back to you.

Thanks
Imran.

[2021-02-03 16:05] MaratMussabekov commented on #8963
Yes, it allows to run script in a full language mode. Are you sure you whitelisted the publisher correctly?
For example, try to whitelist the rule using filepath rule instead of publisher rule - is it still blocked?
Thank you

[2021-02-03 17:28] denisebmsft commented on #9067
Hello @jonwbstr and thank you for raising this question. Is your feedback primarily for this particular article: https://docs.microsoft.com/en-us/windows/client-management/mdm/enroll-a-windows-10-device-automatically-using-group-policy

[2021-02-03 20:17] DeanGross commented on #9065
weird, its working now thanks

[2021-02-03 20:17] #9065 closed

[2021-02-03 22:27] sandytsang opened #9072 "Intune support for LTSC 2019 Update for business"
Hello, in this doc, it said "Microsoft Intune supports Windows 10 Enterprise LTSC 2019 and later. This includes support for features such as Windows Autopilot. However, note that Windows Update for Business (WUfB) does not currently support any LTSC releases, therefore you should use WSUS or Configuration Manager for patching.".

I think this is incorrect. I asked in tech community from Iot produc

[2021-02-04 02:18] jonwbstr commented on #9067
1) there are two areas in docs for intune articles. That's confusing.
2) there are 3 scenarios. Intune, autopilot, both. I found articles for 2
of 3 scenarios. Would be nice to have the 3rd scenario covered somewhere.

The feedback is not on the article specifically, it's that the article
doesn't acknowledge there are 3 scenarios, or have a link to the other
article which is related to deploying i

[2021-02-04 10:38] VLG17 commented on #8671
@swellhunter Thank you for coming back with more details. If there is anything you feel that we should add/change related to the linked artice, please let us know.

If installing a new Windows update changes your current configuration, i still think it's worth reaching out to support (link provided in previous reply) to have them look into this and at least confirm if it's normal or not, and if th

[2021-02-04 10:39] VLG17 commented on #8573
@andrePKI Have you tested this? Did it work?

[2021-02-04 10:57] VLG17 commented on #8617
@bakerm00 Understood. I see there is this option available, don't know if it helps in your scenario:

https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/linux-resources

![image](https://user-images.githubusercontent.com/41186174/106882983-0c50cd80-66e8-11eb-9a33-6b25720674f3.png)

Also, please keep in mind that our goal here is to update the documentation,

[2021-02-04 11:34] VLG17 commented on #8616
@bakerm00 More details about premium connectors licencing [here](https://docs.microsoft.com/en-us/power-automate/triggers-introduction#licensing-for-premium-connectors).

Do you feel we should add a note about this to the [referenced article](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/api-microsoft-flow)?

[2021-02-04 12:22] VLG17 commented on #8811
@jmmowrer @illfated In my opinion, these 3 options "Blocked, prevented, detected" do not cover the full spectrum of actions that Defender for Endpoint does.

An automated EDR investigation can yield 3 verdicts: Malicious, Suspicious, or No threats found
and can results in one or more of the following remediation actions:

- Quarantine a file
- Remove a registry key
- Kill a process
- Stop a servic

[2021-02-04 12:50] VLG17 commented on #8625
@injosef The article has been updated to reflect these changes.

[2021-02-04 12:54] #8625 closed

[2021-02-04 13:07] bakerm00 commented on #8616
yes - exposing the licensing Costs is integral to adoption and something like this stops things in track of adoption - because it was a hidden cost.

[2021-02-04 15:38] denisebmsft commented on #9072
Hello @sandytsang. Thanks for posting your question here. Can you please tell us to which article your question applies? This information will help us route the issue correctly.

[2021-02-04 15:48] sandytsang commented on #9072
@denisebmsft Hello, this is the article. Thanks for responding 🙏

https://docs.microsoft.com/en-us/windows/whats-new/ltsc/whats-new-windows-10-2019#microsoft-intune

[2021-02-04 18:30] jonwbstr commented on #9067
I realized I may have been mixing up my terminology. Microsoft Endpoint Manager Admin Center encompasses both Intune and Autopilot. Autopilot and Intune seem to be joined at the hip. The current layout for documentation having intune and autopilot in completely separate areas is confusing given the admin center is trying to put them under the same umbrealla.

Feel free to close this issue whenever

[2021-02-04 19:51] illfated commented on #8811
Good & fair point. Thank you for weighing in with your views. I agree. There are several important semantic choices to make.

[2021-02-04 21:24] Susko3 opened #9075 "Reset Windows update components says to run CMD, but not in Admin mode"
The first step says to open `cmd`, but doesn't specify it should be opened as an administrator. Most, if not all of the commands on that page require running as an administrator. This can be done by pressing Ctrl+Shift+Enter on the Run prompt, or in the Win+X menu (PowerShell Admin).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2021-02-04 21:44] gunterda opened #9077 "Supported Windows Server versions"
This page states that Windows Server 2012 R2 is a supported version. Is it also the case for Windows Server 2012? In the remainder documentation it often only states Windows Server 2016 and Server 2019 as supported Server Version, e.g. when talking about Microsoft Defender Antivirus. So to me it's quick unclear which Server Version are now really supported in MDEP.
Thanks,
Gunter
[Enter feedback h

[2021-02-05 03:39] SergGu opened #9079 "WDATP Network Protection - registry and exceptions"
Hello Microsoft Documentation Team,
there are several problems with this page,
**1. Issue with missing registry:**
The page referring to "HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Windows Defender Exploit Guard\Network Protection" key for Network Protection settings. However i checked on two test machines, running 1909 and 20H2 Windows 10 and there is no such location in the

[2021-02-05 10:51] MaratMussabekov commented on #9072
Hello @sandytsang ,
I will try to reproduce this scenario to check.
Thank you

[2021-02-05 11:09] MaratMussabekov commented on #9072
Hello @sandytsang ,
Just tried to configure updates using Intune, and still unable to set it for LTSC devices.
Thank you

[2021-02-05 11:15] sandytsang commented on #9072
@MaratMussabekov  I tested this with LTSC 2019, and I am able to configure updates using Intune. and I blogged about it few months ago. https://sandyzeng.com/manage-windows-iot-enterprise-with-microsoft-endpoint-manager-intune/

[2021-02-05 13:08] dongearhart opened #9081 ""throttling is enhanced" link is dead"
The link in the Delivery Optimization section to information about enterprise throttling (https://docs.microsoft.com/en-us/windows-insider/at-work-pro/wip-4-biz-whats-new#new-download-throttling-options-for-delivery-optimization-build-18917) goes to a 404 not found page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d

[2021-02-05 15:29] LingTjal opened #9084 "Policy is rejected by licensing"
Doesn't seem to work with a Microsoft 365 Business Premium license:

MDM PolicyManager: Policy is rejected by licensing, Policy: (Configure), Area: (LocalUsersAndGroups), Result:(0x82B00006) Unknown Win32 Error code: 0x82b00006.

It's working in a different tenant with EMS E3, but not with Microsoft 365 Business Premium.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-02-05 17:57] jgeurten commented on #8999
Hi @David Trejo<mailto:datrejo@microsoft.com>,

Following up on this ask. The xml has been added to the \Windows\schemas\CodeIntegrity\ path a few months ago. We will not backport the changes because its just not worth it. However, the xml will be accessible on the next production build of Windows as well as the last several months worth + new flighting builds for Windows Insiders.

Thanks,
Jordan

[2021-02-05 20:33] nam31 commented on #8721
Closing via #8797

[2021-02-05 20:33] #8721 closed

[2021-02-06 01:02] Kateyanne commented on #8490
@illfated are we able to close this now?

[2021-02-06 04:12] illfated commented on #8490
Yes, I think we are good to close this ticket. Would have liked to link the related PR to this ticket, but given that it might be one of the internal PRs, it may be out of reach for the general public. As long as the page is updated accordingly, it should be just fine.

[2021-02-06 04:12] illfated commented on #8490
#please-close

[2021-02-06 06:33] MaratMussabekov commented on #9072
Hello @sandytsang ,
I tried to create device profile to manage updates, and LTSC is missing from the available channels:
![изображение](https://user-images.githubusercontent.com/48041687/107111091-f3beef80-686e-11eb-996f-82d0ed5b8e68.png)
I meant that by saying I wasn't able to set updates from LTSC devices.
Thank you

[2021-02-06 10:41] sandytsang commented on #9072
@MaratMussabekov Intune UI "Update Ring" is not the only way to configure update settings. Can use Policy CSP to configure Windows update settings for LTSC https://docs.microsoft.com/en-us/windows/client-management/mdm/policy-csp-update

That's why, the statement of "Intune cannot manage update to LTSC 2019, need use WSUS or ConfigMgr is not correct, and misleading people not use Intune to manage

[2021-02-06 11:38] illfated commented on #9081
Only to simplify the link address, in case it helps troubleshooting the issue:
- https://docs.microsoft.com/windows-insider/at-work-pro/wip-4-biz-whats-new => 404 - Page not found

(Note the /windows-insider/ part, could be useful to dig within that directory or nearby directories.)

[2021-02-06 11:51] illfated commented on #9081
Old archive content that the link used to point to:
- http://web.archive.org/web/20200324204759/https://docs.microsoft.com/en-us/windows-insider/at-work-pro/wip-4-biz-whats-new#new-download-throttling-options-for-delivery-optimization-build-18917

[2021-02-06 11:56] illfated commented on #9081
Found it. The content has been moved to the archives of the Windows insider subdirectory:
- https://docs.microsoft.com/en-us/windows-insider/archive/new-for-business#new-download-throttling-options-for-delivery-optimization-build-18917

[2021-02-07 08:07] scyto commented on #8988
Pretty certain the requirement is to access the app. There are many ways to do that, AAD proxy is but one.

[2021-02-07 08:07] #8988 closed

[2021-02-07 17:47] SLeuthold opened #9093 "These pages need to include some additional details about the setting"
It's great that we can see what setting will be enabled. But what does the setting actually do? What is the end user impact or expected outcome of enabling specific settings? A link to the relevant docs article for each setting would be very helpful, especially since many organization are now interested in moving from GPO to MDM policy settings management via MEM.

---
#### Document Details

⚠ *Do

[2021-02-07 20:44] DcPSDcPS opened #9094 "What must be changed, if you have the newest Version W10 20H2 x64 (AMD)?"
[Hier Feedback eingeben]

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: c12e9c4a-af05-9ecd-a791-ac89aa43787c
* Version Independent ID: 76517523-a960-c5fb-ce76-2c3efe642f37
* Content: [Windows Defender von Device Guard und Windows Defender Credential Guard - Microsoft 365 Security](https

[2021-02-07 20:51] DcPSDcPS commented on #9094
Page https://docs.microsoft.com/de-de/windows/security/identity-protection/credential-guard/dg-readiness-tool
Script

If I tested my version (with an active DG/CG), there was printed a reference to "DG_Readiness.ps1 -Disable"
Where ist a real reference to this routine?
Goal: Using Bluestack with hardware-virtualiser is only possible without windows hyper-v (deaktivatet feature, but it seems to wor

[2021-02-08 06:59] #8490 closed

[2021-02-08 10:37] SRE93 opened #9095 "Input not valid when adding network boundary"
[Enter feedback here]
The article describes the following syntax:
URL <,proxy>|URL <,proxy>|/*AppCompat*/

When I add this like mentioned I receive the following error:
![image](https://user-images.githubusercontent.com/39616319/107208444-dff7c280-6a01-11eb-9f5f-7a0acf27b03b.png)

Could you please update this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-02-08 12:34] #8811 closed

[2021-02-08 12:46] Reeced40 commented on #8987
@scyto thank you for pointing this out. We are continuously improving the doc set here, but for now we will leave the documentation as is and the team will update when necessary. Thanks again.

[2021-02-08 12:48] Reeced40 commented on #8940
@scyto thanks again for pointing that out. I'll let the team have a look at it and update accordingly if necessary @greg-lindsay

[2021-02-08 12:52] Reeced40 commented on #9025
@yffengdong thank you for reaching out. I work on the writing/editing side of the docs. Is there a change you recommend to the article to help other users? Let me know if this article is helpful - https://docs.microsoft.com/windows/security/threat-protection/windows-sandbox/windows-sandbox-configure-using-wsb-file

[2021-02-08 12:58] Reeced40 commented on #9026
@sarahbj82 thank you for reaching out.  Just for clarity, please can you elaborate on what is missing from this article and I will investigate further. I work on the writing/editing side of Docs and would like to add anything that would be helpful to other users as well.

[2021-02-08 13:09] andrePKI commented on #8573
I tried, but it is not what I am looking for. The tag is not attached to any machine, but nevertheless present in the Defender Security Center, e.g. at the Device Inventory blade, in the filter list. Over time, this will clutter the list with unused tag values.

So, if anybody knows another way to remove the tag value from the tenant....

[2021-02-08 13:22] #9050 closed

[2021-02-08 13:36] e0i commented on #9068
@amoraa246 Under review. Thank you for the valuable feedback.

[2021-02-08 13:39] e0i commented on #9067
@jonwbstr Thank you for coming up with further clarifications about the nature of the issue. Closing based on your suggestion.

[2021-02-08 13:39] #9067 closed

[2021-02-08 14:26] #8888 closed

[2021-02-08 15:56] joinimran commented on #7932
Hello @iamacarpet - Thank you very much for sharing the details. I would suggest you open up a support case with Microsoft to better help you. I don't feel anything that can be modified in the document as of now. If there would be anything that needs a modification in the document or if there will be any bug in WMI, that will be routed properly to the internal team at Microsoft.

Thanks.

@e0i  FY

[2021-02-08 16:00] joinimran commented on #7942
Hello @martikardos - Thank you for sharing your findings. Can you please suggest if there are any changes required in the document. What I have presumed that the document worked as expected and all the instruction are cleared as required. If there is anything that needs to be added in the document, please feel free to let me know. I will be happy to add in the document.

Thanks.
Imran.

[2021-02-08 16:18] MaratMussabekov commented on #9094
Hello @DcPSDcPS ,
Have you seen [this](https://docs.microsoft.com/en-us/windows/security/identity-protection/credential-guard/credential-guard-manage) article?

Thank you

[2021-02-08 16:18] treestryder opened #9098 "Please mention Containers-DisposableClientVM for those using Enable-WindowsOptionalFeature."
Please mention the name "Containers-DisposableClientVM" for those using the Powershell command Enable-WindowsOptionalFeature. The name is not super discoverable, when searching for "Sandbox".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c06f3ef-5946-862a-ae14-f897fdb518ca
* Version Independent ID: cd6a8b99-b1e9-dff5

[2021-02-08 16:26] joinimran commented on #6813
Hello @ssccaavvookk - Thank you for your query. Specific to App Locker event-related information, please see https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-application-control/applocker/plan-for-applocker-policy-management
In the document, Microsoft has provided a lot of information related to App locker events related details and where events are stored.

If

[2021-02-08 16:40] joinimran commented on #8209
Hello @jjchaos - Can you please confirm what error you are getting while using the sample XMLs? The sample XMLs looks good to me and the schema URLs are not only used here but in many other CSPs and they are working as expected.

Thanks.
Imran.

[2021-02-08 17:42] KieryBUK commented on #9045
I agree but customers get confused. I've fielded multiple questions from customers now asking if this warning applies to the MMA. They see the MMA as a security solution as they want to use it for Azure Defender and Azure Sentinel - both which are seen as "security solutions". A short note to explicitly qualify it out seems sensible, and would easily remove this customer confusion.

From: MaratMus

[2021-02-08 17:45] illfated commented on #8811
@e0i : Did you close this ticket based on any recent changes or other work being pushed recently by any of the MS Docs team members?

[2021-02-08 18:02] jjchaos commented on #8209
Imran - the provisioning package simply fails to apply. We are trying this on Win 10 1904. Can you provide an known working XML file for multi-app kiosk mode for this version? We have tried every sample XML we've come across and all fail, even across multiple computers / models.

[2021-02-08 20:03] illfated commented on #9057
PR #9099 is now merged. The changes should be live on docs.microsoft.com in a day or less time than that.

[2021-02-08 20:51] amosjeff opened #9103 "Clarification on Task Sequence Variable: DriverGroup001"
On Step 6: **Create the deployment task sequence**, when setting the Task Sequence Variable, **%Make%**  is not a recognized  Property (When I run the command  **wmic computersystem get /?** , **Make** is NOT one of the properties) I think the correct property that corresponds to Dell Inc. (For a Dell computer) is **%Manufacturer%**.

I submit that it should be `Value: Windows 10 x64\%Manufacturer

[2021-02-08 21:00] #9081 closed

[2021-02-08 21:26] denisebmsft commented on #8671
Thank you @swellhunter for the feedback, and @VLG17 for your help. I am going to close this issue for now; however, please let us know if there are any other issues or questions pertaining to the documentation. A lot of updates have been done over the past month, and I think we've addressed the changes that needed to be made. But do let us know if we missed something.

[2021-02-08 21:26] #8671 closed

[2021-02-08 21:35] Shwaffle opened #9104 "Windows Update - Dead links"
Under _How do I reset Windows Update components?_

The script links are dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Independent ID: 599aea76-47e4-dccc-799c-2d8acf549546
* Content: [Windows Update - Additional resources - Windows Deployment](https://docs.microsoft.

[2021-02-08 22:36] cac0ns3c opened #9105 "No Documentation regarding creating direct links in MDATP/DFE"
Hi,

I'm looking to create direct links to MDATP queries same as [Link](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/advanced-hunting-shared-queries#create-a-direct-link-to-a-query)

For example: https://securitycenter.windows.com/hunting?query=H4sIAAAAAAAEAHNhSGUoY8hkSAbSbkA6B0i7AkVSGfIYShiKGRQYuBhqgGQ5QwZQrAiIFeDq_BgSGXLBIskM-WD1iUCZPLAuJSAvFcgqAbIAQ

[2021-02-09 00:58] illfated commented on #9104
From https://docs.microsoft.com/windows/deployment/update/windows-update-resources#how-do-i-reset-windows-update-components

## How do I reset Windows Update components?

[Reset Windows Update Client settings script](https://gallery.technet.microsoft.com/scriptcenter/Reset-WindowsUpdateps1-e0c5eb78) will completely reset the Windows Update client settings. It has been tested on Windows 7, 8, 10, a

[2021-02-09 01:04] illfated commented on #9104
From the WayBack Machine / Web Archives:
1. https://web.archive.org/web/20201204152233/https://gallery.technet.microsoft.com/scriptcenter/Reset-Windows-Update-Agent-d824badc (Reset Windows Update Client settings script)
2. https://web.archive.org/web/20210122003227/https://gallery.technet.microsoft.com/scriptcenter/Reset-WindowsUpdateps1-e0c5eb78 (Reset Windows Update Agent script)

[2021-02-09 01:47] beaucoup1980 opened #9106 "Broken link https://support.microsoft.com/en-us/office/a34a400a-51d5-f2a1-c8c0-7a6c9c49cb78"
Link: https://support.microsoft.com/en-us/office/a34a400a-51d5-f2a1-c8c0-7a6c9c49cb78 Guidelines for enabling smart card logon with third-party certification authorities.

is broken, goes to an Error - Office.com page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f64c6e7-4002-fe69-b8a0-aa3539949ee6
* Version Independ

[2021-02-09 03:06] D-Jeffrey commented on #8802
Answers pages is gone.  "Page Not Found
We are sorry we weren't able to find what you are looking for."

As for it fixing the problem.  Well I upgrade my computer for the first time in 8 years so... assuming I'm ok to test a new computer.  It works on the new computer (which is an Insider as well).

it is a pretty cool app.  a whole lot easier than using EventVwer.  Let's call it working.  Close.

[2021-02-09 03:06] #8802 closed

[2021-02-09 03:08] D-Jeffrey commented on #8321
Orginally it did not appear in the Microsoft search as in ...
https://docs.microsoft.com/en-us/search/?scope=Windows%2010&terms=exploit%20protection%20mitigations

It works now. Great.  thanks for the adjustment.

[2021-02-09 03:08] #8321 closed

[2021-02-09 08:37] VLG17 commented on #8573
@andrePKI I suggest [reaching out to support](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/contact-support) in order to get an answer.

Our goal here is to update the documentation if needed, so when you find an answer let us know what it is and we can add that information to the article you linked, so others can reference it in the future.

[2021-02-09 14:16] Corben78 commented on #5054
Having the same issue, this is was did the trick for me:
Checking the event log (run: eventvwr), below Windows Protocols: not Application but **System** and not entering SurfaceDockFwUpdate but **selecting** it from the drop down.
(https://docs.microsoft.com/en-us/surface/surface-dock-firmware-update describes to filter below Applications and to enter SurfaceDockFwUpdate)
After reconnecting the do

[2021-02-09 14:41] xenolf opened #9109 "Create and manage device groups - API"
Hello!

I would like to enquire about the link to [Get list of tenant device groups using Graph API](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/get-machinegroups-collection) in the related topics section.

This link does not seem to lead anywhere and device group creation / querying is not mentioned anywhere else in the docs. Is this removed or previ

[2021-02-09 14:51] nam31 commented on #9105
@cac0ns3c, Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.
[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)
Thank you.

[2021-02-09 14:51] #9105 closed

[2021-02-09 17:09] e0i commented on #8999
Closing based on the Jordan's comment above

[2021-02-09 17:09] #8999 closed

[2021-02-09 17:12] e0i commented on #8209
@jjchaos

Based on the contributors assessment, it seems that XML files are in order.

It looks like this is a support question that can best be answered via relevant [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10) channels.

Please consider checking with [Microsoft Community](https://answers.microsoft.com/en-us/windows/forum/windows_10) or [contact

[2021-02-09 17:12] #8209 closed

[2021-02-09 17:13] #8884 closed

[2021-02-09 17:15] #8617 closed

[2021-02-09 17:15] #8573 closed

[2021-02-09 17:35] e0i commented on #8963
Closing as the requested information already exists in the article.

[2021-02-09 17:35] #8963 closed

[2021-02-09 17:42] illfated commented on #8963
Thanks for the closing comment. Appreciated.

[2021-02-09 17:46] e0i commented on #7181
@adirdidi There is an independent contributor who is assigned to take care of this issue who can come up with a PR once the essential information has been obtained. That's why help had been wanted. Please let me know if you intend to pick the issue up from here. Thanks.

[2021-02-09 17:49] #8956 closed

[2021-02-09 17:55] adirdidi commented on #7181
I didn't removed the help tag.
Regardless, I don't see how someone not from the product group can handle this ask.
And yes - I'm working on it.

[2021-02-09 17:56] e0i commented on #7932
Hello,

Looks like this question can best be answered via relevant [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10) channels.

Please consider checking with [Microsoft Community](https://answers.microsoft.com/en-us/windows/forum/windows_10) or [contacting support](https://support.microsoft.com/contactus) for your problem; The issues section of this r

[2021-02-09 17:56] #7932 closed

[2021-02-09 17:56] #6813 closed

[2021-02-09 18:01] nam31 commented on #9057
Closing via #9099
Thanks

[2021-02-09 18:01] #9057 closed

[2021-02-09 19:04] e0i commented on #7181
Noted, Thank you!

[2021-02-09 20:39] maskedmustelid opened #9111 "Incomplete step listed explaining how to reach exclusions in virus & threat protection settings"
In https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-antivirus/microsoft-defender-security-center-antivirus under 'Add exclusions for Microsoft Defender Antivirus in the Windows Security app'

Step three is incompletely listed and just a bit too vague, easily leading to a failure to find the exclusion settings due to the instructions not being specific enough.

[2021-02-09 21:47] anvascon commented on #8921
Will submit PR. This Issue can be close.

[2021-02-09 21:47] #8921 closed

[2021-02-10 04:17] datesy12 commented on #8932
Is there any update on this???

[2021-02-10 04:57] takondo opened #9114 "Missing line breaks in "Saved Windows Credentials Protected""
I think there should be line breaks for each hyphen in the later half of "Saved Windows Credentials Protected". Here's what we have now:

============
The following considerations apply to the Windows Defender Credential Guard protections for Credential Manager: - Windows credentials saved by Remote Desktop Client cannot be sent to a remote host. Attempts to use saved Windows credentials fail, dis

[2021-02-10 13:36] yoshiband commented on #9041
Thank you for your comment.
And I understand the reason that you are not able to write both English and Japanese concurrently.

Thank you very much for updating.

[2021-02-10 14:14] Erziram opened #9115 "Plist isn't in the content no more that you download from MS"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f791dc07-b2c6-3003-a829-cd1ec03a2918
* Version Independent ID: 2c53adbc-600f-60b2-e8b2-b907335f4862
* Content: [Set up the Microsoft Defender ATP for macOS policies in Jamf Pro - Windows security](https://docs.microsoft.com/en-us/windows/security/thre

[2021-02-10 14:14] Erziram commented on #9115
Plist isn't in the content no more that you download from MS, instead, there is a Python script which is now not explained in these steps

[2021-02-10 14:17] Gyomb opened #9116 "Is minimum age password really a good practice?"
Hello,

Imho, it is not.
It seems highly counterproductive to me: have you thought of the use case of the user cases where **has** to change his password twice in the same day? (because he discovers he already use this password on another platform, because it was somewhat compromised, because he discovers that on some devices he cannot correctly type the new password...)

If I'm not mistaken, your

[2021-02-10 14:50] #8880 closed

[2021-02-10 16:07] beeeeswax opened #9117 "Add instructions or download/tool for getting file hashes"
It would be nice if some guidance were given on how to get the hashes for files that need to be added to the allow list.  Or better yet the ability to browse for a file from the ATP console to obtain a hash, although I accept that's probably out of scope for reports on this git.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-02-10 18:44] djatw0rk123 commented on #856
I entered the boilerplate MSFT recommendation:

<SyncBody>
    <Replace>
      <CmdID>2</CmdID>
      <Item>
        <Meta>
          <Format>chr</Format>
          <Type>text/plain</Type>
        </Meta>
        <Target>
          <LocURI>./Device/Vendor/MSFT/Policy/Config/UserRights/BackupFilesAndDirectories</LocURI>
        </Target>
        <Data>Authenticated Users&#xF000;Administrators</Data

[2021-02-10 23:01] denisebmsft commented on #8697
Thanks all for your help! I got a little help from a PM and have updated the article. Changes will render live later today (at around 4 p.m. Pacific Time). Please let me know if there are any other issues with the article. Thanks again!

[2021-02-10 23:01] #8697 closed

[2021-02-10 23:06] denisebmsft commented on #7929
Thank you all for the feedback and for your help! The article has been updated, and here's the procedure to confirm Antivirus is running in passive mode: (1) On a Windows device, open Windows PowerShell as an administrator; (2) Run the Get-MpComputerStatus cmdlet; and (3) In the list of results, look for either AMRunningMode: Passive Mode or AMRunningMode: SxS Passive Mode.

[2021-02-10 23:06] #7929 closed

[2021-02-11 01:14] TinaMcN commented on #9041
@yoshiband the article has now been translated by a human.  Can you please check if it is ok now and you can close this issue if it looks ok to you now.  Thanks for your understanding about the limits of not being able to write both English and Japanese.

[2021-02-11 08:34] RAJU2529 commented on #9117
@beeeeswax . I think you can use third party application,vto get file hash value.

[2021-02-11 08:39] RAJU2529 commented on #9106
@beaucoup1980 .   Thanks for pointing out. I will fix

[2021-02-11 11:42] dbona75 opened #9123 "Please explain what scenarios is adviced to use RCG"
Please explain what scenarios is adviced to use RCG

the document says to not use in the helpdesk scenario but doesnt tell what is the case scenario (server administration ? )
please clarify

Daniele Bona
Microsoft Premier Field Engineer

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c826587d-2e6

[2021-02-11 11:51] RAJU2529 commented on #9111
@maskedmustelid . Thanks for pointing out, I am fixing now .

[2021-02-11 12:21] RAJU2529 commented on #9103
@amosjeff . i  executed  below command in windows 10  client machine
**wmic computersystem get /?**

i received  model and  manufacturer  output
similarly, i  executed  both  below commands and worked fine
**wmic computersystem get manufacturer**
**wmic computersystem get model**

![Capture02](https://user-images.githubusercontent.com/3296790/107635816-cbc9f480-6c91-11eb-9941-c78373428532.JPG)

[2021-02-11 14:45] Castermeek opened #9127 "About Multi-factor authentication issue"
[Enter feedback here]
It says as issue has been identified with HAADJ and MFA.
I have tried on 1703, 1903 and 2004.
I did not see any issue that user with MFA enabled and logon to HAADJ devices.

Could anyone explain what the issue is?

Thank you.
-chiyao-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd18b4c7-1c71-91

[2021-02-11 17:03] vultureman opened #9128 "Suggestion for item to add to "Potential Impact" - bitlocker breaks"
One known "Potential Impact" to add: Forcing this setting to "blank" by GPO instead of the default "Administrators" results in systems being unable to be BitLockered.

https://social.technet.microsoft.com/Forums/en-US/ac4ec5e1-db90-4b7a-a4af-303391b4c0ae/bitlocker-cannot-start?forum=win10itprosecurity

I'm the 3rd person to confirm this - 2 are in the link above.

---
#### Document Details

⚠ *Do

[2021-02-11 18:57] adirdidi commented on #9043
Thank you for your report. Our marketing team is already working on updating the videos, and for now - the current videos will remain in the page.

[2021-02-11 18:57] #9043 closed

[2021-02-11 20:06] amosjeff commented on #9103
@RAJU2529 , Thanks for the correction. I think the screenshot and some text should also be updated. See images below.

![ms2](https://user-images.githubusercontent.com/10274724/107692327-da9cb100-6c69-11eb-813d-51a06e59c640.JPG)

![ms](https://user-images.githubusercontent.com/10274724/107692341-e1c3bf00-6c69-11eb-9e5b-d62667cc3e05.JPG)

[2021-02-11 20:17] #8654 closed

[2021-02-11 20:28] e0i commented on #9111
Thank you for your ongoing contributions, @RAJU2529  Much appreciated.

[2021-02-11 20:28] #9111 closed

[2021-02-11 21:15] jaimeo commented on #6672
@arcarley where are we with this? Did we decide to just retire this page?

[2021-02-11 23:07] markstan opened #9129 "Script link not working"
Is there an alternative download site for the script?  Gallery was recently decommissioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Independent ID: 599aea76-47e4-dccc-799c-2d8acf549546
* Content: [Windows Update - Additional resources - Windows Deployment](https://d

[2021-02-11 23:11] jaimeo commented on #9129
Working on it. We'll put them on PowerShell Gallery or in a particular GitHub repo for that purpose, as appropriate.

[2021-02-11 23:38] greg-lindsay commented on #6265
This content was rewritten in August of 2020 I forgot to close this bug. I am also adding a note about SLShare if you are using an offline setup.

[2021-02-11 23:38] #6265 closed

[2021-02-11 23:57] greg-lindsay commented on #5346
I'm updating the note in this article today to say that you need to point to a KMS server in Azure.

[2021-02-11 23:57] #5346 closed

[2021-02-12 04:46] RAJU2529 opened #9132 "Invalid link group policy tech center."
Just now I checked link of group policy tech center, which is entirely different and description about group policy tech center  is not needed  because , group policy tech center hosted by technet is removed.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5413195-c0e2-99e4-5d82-6bffdcbbddb9
* Version Independent ID: b8

[2021-02-12 04:49] RAJU2529 commented on #9129
@jaimeo . I am waiting to see new links .

[2021-02-12 12:23] sumtnk opened #9133 "Windows Education E3 & Shared Device Activation"
Hi,

According to terms of use institutions with Windows Education A3/A5 assigned to all Education Qualified Users are licensed to run Windows 10 Education or Windows 10 Enterprise on any shared device with a qualifying operating system within the organisation

It is not clear how Activation works on Shared Devices. Does it activate against the first user that logs in and if so, does this take up

[2021-02-12 14:44] e0i commented on #9127
Hello,

Looks like this question can best be answered via relevant [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10) channels.

Please consider checking with [Microsoft Community](https://answers.microsoft.com/en-us/windows/forum/windows_10) or [contacting support](https://support.microsoft.com/contactus) for your problem; The issues section of this r

[2021-02-12 14:44] #9127 closed

[2021-02-12 16:24] jaimeo commented on #9129
@RAJU2529 you don't need to worry about it. I'll update the article when we get the scripts set up.

[2021-02-12 16:30] illfated commented on #9129
See also ticket #9129 regarding the same issue.

[2021-02-12 16:31] illfated commented on #9104
See also ticket #9129 regarding the same issue.

[2021-02-12 16:32] darolt1 opened #9135 "Typo in article https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/configure-machines-security-baseline"
There is a typo with this:
365 Microsoft 365 Defender

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2246e9c-193b-a110-ca52-2110a6e63631
* Version Independent ID: 7328d4a4-1944-c199-db72-a7e3cd350ae9
* Content: [Increase compliance to the Microsoft Defender ATP security baseline - Windows security](https://docs.micros

[2021-02-12 16:33] jaimeo commented on #9104
We are working on new hosting locations right now and will update the article once they're in place.

[2021-02-12 17:38] RAJU2529 commented on #9135
@darolt1 . Thanks for pointing out. I am fixing  now.

[2021-02-12 18:00] RAJU2529 commented on #9135
@e0i . I could not able to edit in content source site,  but I editted in other site . , luckily I was successfully editted.

[2021-02-12 18:24] darolt1 commented on #9135
Thanks!

From: VARADHARAJAN K <notifications@github.com>
Sent: Friday, February 12, 2021 1:01 PM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Darol Timberlake <darolt@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Typo in article https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-de

[2021-02-12 22:02] denisebmsft commented on #9135
This is fixed, and the updates will show up on the live site later today. Thank you so much for letting us know about this!

[2021-02-12 22:02] #9135 closed

[2021-02-12 22:18] darolt1 commented on #9135
Great - thanks!

From: Denise Vangel-MSFT <notifications@github.com>
Sent: Friday, February 12, 2021 5:03 PM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Darol Timberlake <darolt@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Typo in article https://docs.microsoft.com/en-us/windows/security/threat-protection/

[2021-02-12 23:22] jordanclic opened #9140 "Memory integrity"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f784502-84dc-1122-eab4-1eeeb08da046
* Version Independent ID: 21f210a7-4c38-8f62-0226-121562617fef
* Content: [Memory integrity - Windows security](https://docs.microsoft.com/en-us/windows/security/threat-protection/device-guard/memory-integrity?sour

[2021-02-13 05:03] RAJU2529 commented on #9140
@jordanclic . No description of the issue.

[2021-02-13 22:56] DeanGross opened #9142 "old product name - Azure ATP"
Azure ATP is now called Defender for Identity, please update the text on this page.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05d99de0-789d-3c71-4bd9-f45e62f82a7b
* Version Independent ID: d56d09f0-1f9a-563e-fee0-142bda27a99b
* Content: [Configure advanced features in Microsoft Defender ATP - Windows security](http

[2021-02-14 01:52] illfated commented on #9142
Should be fairly easy, only 3 visible uses on that page. Any other changes you would recommend at the same time?

[2021-02-14 02:41] illfated commented on #9142
PR #9143 is now ready for review, comments & suggestions. Feel free to leave a comment or suggestions for further improvements.

[2021-02-14 23:12] td47 opened #9144 "Update troubleshooting Resolution Proceedures missing 0xCA codes"
[Enter feedback here]
Windows 10 Insiders (and others) might see 0xCA errors codes (e.g. 0xCA00A005) and have no information to know how to proceed. Please update the referenced document, to help Insiders, and others who are testing updates for you, and to better support the technical and support community.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-02-14 23:36] tbrownaw opened #9145 ""Inaccessible Boot Device" from gaps in GPT entries"
One cause of "Inaccessible Boot Device" which I do not see listed here is that it will occur on GPT disks if there is a blank GPT entry before the entry for the boot partition. Which I found after using non-Windows tools to rearrange partitions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 388514ac-6488-384c-fb86-e8d

[2021-02-15 14:43] derekharkin opened #9147 "Missing settings in policy?"
Some settings that are not in the current Windows versions (20H2).
There appears to be no settings around dump or diagnostic log collection under
Group Policy: Computer Configuration > Administrative Templates > Windows Components > Data Collection and Preview Builds >
No settings for:
- Limit Dump Collection
- Limit Diagnostic Log Collection

![1](https://user-images.githubusercontent.com/4546689

[2021-02-15 14:59] nam31 commented on #9140
Hi @jordanclic, can you please describe the issue that you are facing with the document. Please note that the issues section of the repository is intended for corrections in technical documentation.

[2021-02-15 15:30] Clickbaitcake opened #9148 "This document needs clarification"
It has not been made clear here that the methods described in this page also apply to Server 2019. It should be made obvious that the Windows 10 deployment methods are the same on Server 2019.

The guide is confusing because there is another section titled "Onboard Windows servers" people will gravitate there when looking for Server 2019 onboarding instructions.

---
#### Document Details

⚠ *Do n

[2021-02-15 16:23] derekharkin commented on #9147
Also neither setting seems to be documented in the CSP

https://docs.microsoft.com/en-us/windows/client-management/mdm/policy-csp-system

[2021-02-15 16:36] adirdidi commented on #9148
I will clarify the reference on the servers page, to indicate that users should follow the same Windows 10 instructions.

[2021-02-15 16:43] Clickbaitcake opened #9149 "Applicability is wrong"
This document says this:

This information is incorrect. The steps outlined in this document do not apply to `Windows Server 2019 and later Windows Server 2019 core edition`  The steps outlined here are for 2019:  https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/configure-endpoints

Please can the document be changed to focus only on earlier versions of Wi

[2021-02-15 16:56] adirdidi commented on #9148
The change will go live around 11 AM PST tomorrow.

[2021-02-15 16:56] #9148 closed

[2021-02-15 18:44] nam31 commented on #8725
@jgossvmware We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-02-15 18:44] #8725 closed

[2021-02-15 22:00] illfated commented on #9148
Thank you for the quick update & closing comment. 👍🏻

[2021-02-15 22:35] Clickbaitcake commented on #9148
A similar issue is present in:
https://github.com/MicrosoftDocs/windows-itpro-docs/issues/9149

[2021-02-15 23:13] adirdidi commented on #9149
Resolved as part of the other issue.

[2021-02-15 23:13] #9149 closed

[2021-02-16 10:16] Clickbaitcake opened #9150 "Are any exclusions required for Defender to live happily?"
If another antivirus software is installed like CarbonBlack or CrowdStrike, do the Defender files and paths need to be excluded from in these other products? For example: CarbonBlack could tamper, touch and break Defender files in C:\SYSTEM\DEFENDER (Not the correct path, just an assumption for examples sake)

If Defender does in-fact require exclusion from other products, please can these exclusi

[2021-02-16 11:30] beerisgood commented on #9150
This isn't Defender fault then. Third party tools need handle this correctly.

Or stay with Defender and live without such nonsense problems.

[2021-02-16 11:33] Clickbaitcake commented on #9150
Its not a fault at all, but if Defender requires other products do not touch its files then it must be documented. All other vendors do this.

Thats great in practice but some folks have a mandate to run certain anti-virus solutions, its silly and yes maybe nonsense but a real use case none the less. Again, if Defender needs exclusions to work correctly with other vendors, it needs to be documente

[2021-02-16 11:37] dev-nawa opened #9151 "適用対象no"
適用対象の OS が異なるため以下の通り変更が必要です
【変更前】
*****************************************************************************
適用対象
•	Windows 10
•	Windows 10 Mobile
•	Microsoft Edge
*****************************************************************************
【変更後】
*****************************************************************************
適用対象
•	Windows 10
•	Windows 10 Mobile
•	Microsoft Edge
•	Windows Server

[2021-02-16 11:40] dev-nawa opened #9152 "ネットワーク保護の対象 OS について"
ネットワーク保護の対象 OS が異なるため、以下の変更が必要です

【変更前】
*****************************************************************************
ネットワーク保護には、Windows 10 Pro または Enterprise と Microsoft Defender ウイルス対策のリアルタイム保護が必要です。

【変更後】
*****************************************************************************
ネットワーク保護には、Windows 10 Pro または Enterprise、Windows Server 2016以降と Microsoft Defender ウイルス対策のリアルタイム保護が必要です。

---
###

[2021-02-16 13:34] RAJU2529 commented on #9147
@derekharkin. Thanks for pointing out, I sorted out this issue. Just now i  got updated admx templates which available in the release preview.

[2021-02-16 14:27] rothschild86 opened #9153 "Two links to the automation scripts at the top of the document are broken"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Independent ID: 599aea76-47e4-dccc-799c-2d8acf549546
* Content: [Windows Update - Additional resources - Windows Deployment](https://docs.microsoft.com/en-us/windows/deployment/update/windows-update-resou

[2021-02-16 14:47] illfated commented on #9151
Translated via online MT (Bing/Google):

*******************

Applies to no

Changes are required as follows because the applicable OS is different

【Before change】

Applies to
• Windows 10
• Windows 10 Mobile
• Microsoft Edge

【After change】

Applies to
• Windows 10
• Windows 10 Mobile
• Microsoft Edge
• Windows Server 8.1 or later
• Windows Server 2012 or later

********

Applicable target no

S

[2021-02-16 14:54] illfated commented on #9151
As far as I know, "Windows Server 8.1" does not exist.

Microsoft Windows 8.1 is a version of Microsoft Windows for Desktop/Laptop/Notepad use, just like Windows 10.

Other than that, it looks like you are asking for the addition of **Windows Server 2012 or later** to be added to the page. This probably needs to be added in the EN-US version of the page first, because that page is the main source

[2021-02-16 14:59] illfated commented on #9151
Direct Link to open a New issue Ticket for the /en-us/ page (US English):
- https://github.com/MicrosoftDocs/windows-itpro-docs/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23%23%23%23%20Document%20Details%0A%0A%E2%9A%A0%20*Do%20not%20edit%20this%20section.%20It%20is%20required%20for%20docs.microsoft.com%20%E2%9E%9F%20GitHub%20issue%20linking.*%0A%0A*%20ID%3A%204edaae9

[2021-02-16 15:00] illfated commented on #9151
Never mind. The repositories are not different, the only difference is the source pages taking us users here to GitHub when the ticket is opened.

[2021-02-16 15:03] illfated commented on #9151
I guess the main point here is to check if the source page needs to be updated regarding which OS versions (Server/Desktop, 2012/8.1/10 and so on).

[2021-02-16 15:05] illfated commented on #9152
**About network-protected operating system**

The following changes are required because the operating system is protected differently:

【Before change】

Network protection requires real-time protection for Windows 10 Pro or Enterprise and Microsoft Defender antivirus.

【After change】

Network protection requires real-time protection for Windows 10 Pro or Enterprise, Windows Server 2016 and later,

[2021-02-17 09:50] andrePKI opened #9155 "Key-trust or certificate-trust?"
This page confuses me. Too many ifs and whens. At the top it states "applies to key-trust".
Next is written "The key-trust model needs Windows Server 2016 domain controllers, which configure the key registration permissions **automatically**; however, the certificate-trust model does not and requires you to add the permissions manually."

We have only Server2016 DCs. So I skip the section "Configu

[2021-02-17 13:59] JeremyTBradshaw commented on #857
@patlewis-MSFT Is there any guidance on how to properly include the local Administrator account?  Do we just do it like this:
`<member name = "Administrator" />`

[2021-02-17 15:15] RAJU2529 commented on #9153
@rothschild86 . Same issue has been already esculated by other user with report #9104
This article already replied, he is working for new
hosting location to update scripts.
so please close this again.

[2021-02-17 16:04] mvthul commented on #2219
we having it too any solution

[2021-02-17 16:05] mvthul commented on #2219
what is the issue? how did u resolve

[2021-02-17 17:19] MaratMussabekov commented on #9084
Hello @LingTjal ,
Are you sure pc is running Windows 10 20H2?
Are you sure Microsoft 365 Business Premium license is properly assigned?
Thank you

[2021-02-17 17:22] MaratMussabekov commented on #9045
Hello, I believe adding such note will cause a bigger confusion.
Dear @dansimp, could you please advise?
Thank you

[2021-02-17 17:34] MaratMussabekov commented on #9103
Hello @amosjeff ,
I believe it shouldn't be changed.
%make% is a built-in MDT variable that matches the "manufacturer" parameter value of **wmic computersystem**.
Dear @greg-lindsay, could you please confirm?

Thank you

[2021-02-17 17:35] mjcaparas commented on #9045
Checking with the team.

[2021-02-17 19:37] ChrisVanY opened #9161 "Would like clarification on this doc"
If an admin misses assigning a license to a mac user and deploys the agent silently to that user with Intune or Jamf does the end user get a prompt after/during install regarding the lack of license?  What about if they open the app?  It appears to say that the end user will only get this prompt only if the agent is installed manually and no license is found for the user.  Would be helpful to clar

[2021-02-17 21:29] e0i commented on #9027
Manually verified to be fixed. Thanks.

[2021-02-17 21:29] #9027 closed

[2021-02-17 22:27] #8890 closed

[2021-02-17 22:28] #8788 closed

[2021-02-18 00:52] amirsoofi opened #9167 "You will need to stop the Cryptographic Service before you can delete or rename the Catroot2 folder."
In section 2 add:
net stop cryptsvc

So that in section 4a, this line succeeds:
ren %systemroot%\System32\Catroot2 Catroot2.bak

Otherwise you will see "access denied".

Reference:
https://answers.microsoft.com/en-us/windows/forum/all/access-denied-on-open-commands/2d31ce25-46a7-4ba0-838d-5b842e9991fa

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-02-18 02:29] RAJU2529 commented on #9167
@amirsoofi . Thanks for pointing out. I checked  some  commands also, there are some mistakes in lines, i will fix  it very soon.
Thanking you

[2021-02-18 05:34] #9142 closed

[2021-02-18 08:10] ita-tomi opened #9169 "Availability on education plans"
Hi

Will this feature be available on education licenses like Windows 10 Education and Microsoft 365 Education A5?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6d1d825-ab12-2f37-b692-5266487ef16f
* Version Independent ID: fef750ac-311b-28b4-1661-16385997815b
* Content: [Web content filtering - Windows security](http

[2021-02-18 09:11] nvovka1 opened #9170 "Autopilot enrollment stop working after build 2004"
We are 3-d party MDM vendor and use on-premise application.
Before build 2004 enrollment was working for more then 2 years. But with same environment same device same Azure tenant and application only different build version. It dosn't work starting from 2004.
Profile is installed on device, device added to tenant but on profile overview it show Sync could not be initiated  0x80072f0c

Any ideas i

[2021-02-18 10:43] andrePKI opened #9174 "Layout issue"
The note after step 4 extends into the text including step 5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9dae9da-eaf0-c209-7c65-be8d2c1ada12
* Version Independent ID: 28b6788d-7982-23c2-5f19-f80690ebc0ce
* Content: [Pin Reset - Microsoft 365 Security](https://docs.microsoft.com/en-us/windows/security/identity-prote

[2021-02-18 11:22] nam31 commented on #9114
Closing via #9120
Thanks

[2021-02-18 11:22] #9114 closed

[2021-02-18 11:42] nam31 commented on #8918
Closing via #8977
Thanks

[2021-02-18 11:42] #8918 closed

[2021-02-18 12:40] RAJU2529 commented on #9170
@nvovka1   Which article are you referring to?

[2021-02-18 12:45] nvovka1 commented on #9170
@RAJU2529
https://docs.microsoft.com/en-us/windows/client-management/mdm/azure-active-directory-integration-with-mdm

[2021-02-18 12:55] RAJU2529 commented on #9174
@andrePKI . Thanks for pointing out. I  am trying to fix it now. Thanking you.

[2021-02-18 12:58] RAJU2529 commented on #9170
@nvovka1 , Sorry, i don't have knowledge about Autopilot, so wait for few days, Autopilot expert users will answer your queries.

[2021-02-18 16:22] nvovka1 commented on #9170
@RAJU2529
I am not sure that it is only Autopilot could be issue
I try to google error 0x80072f0c and in next article it say some issue with certificate
https://docs.microsoft.com/en-us/windows/win32/api/bits2_5/nf-bits2_5-ibackgroundcopyjobhttpoptions-setclientcertificatebyname

On our discovery svc we use next article to enroll device
https://docs.microsoft.com/en-us/windows/client-management/md

[2021-02-18 17:24] #8883 closed

[2021-02-18 17:30] #8881 closed

[2021-02-18 17:45] jsyfib opened #9176 "Include settings for Warn mode in enabling ASR settings"
Please add the new Warn Mode ASR option to the setting page.  It's unclear to me whether Warn Mode would be setting option 3 when enabled via GPO or what the setting would be when configured via PoSH.

Warn Mode: https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/attack-surface-reduction#warn-mode-for-users

Thanks!
---
#### Document Details

⚠ *Do not edit

[2021-02-18 18:57] mjcaparas commented on #9045
Team concurs with comment made by @MaratMussabekov re:
Monitoring Agent neither third-party nor protection product.
Monitoring Agent is not a security solution.

[2021-02-18 18:57] #9045 closed

[2021-02-18 22:39] eturnersumi opened #9177 "Deployment for Linux Windows defender is too complicated [copied from #8757]"
Customers struggle with following along this documentation to deploy Windows Defender for Linux. Are there plans to simplify the deployment steps?

Ex. An Admin that's not an expert with Linux devices may not know to turn on/allow updates in order to download ATP when receiving the below error message. A comprehensive end to end experience for what is required would ease some of the difficulty fac

[2021-02-18 23:10] illfated commented on #9167
PR #9168 is now merged. This issue ticket should be ready for closing.

#please-close

[2021-02-19 09:40] MaratMussabekov commented on #9133
Hello,
**Does it activate against the first user that logs in** - no, the computer must be activated using Windows 10 Pro Education. Then, when users with assigned A3/A5 license logs in, they can use A3/A5 features.
Thank you

[2021-02-19 16:18] amosjeff commented on #9103
@MaratMussabekov ,

You are right coz now not all my drivers are being loaded after changing it to %Manufacturer%.

[2021-02-19 19:06] anatomicunderground opened #9181 "Error list is not (or no longer) comprehensive"
The list of error messages in this document is no longer comprehensive. We are seeing the following error codes in our environment, which are not documented here.

Is there another comprehensive list of WU error messages? Or possible an API where error information could be retrieved automatically? We are using event log collection to trigger alerts and automated fixes. Having a comprehensive list

[2021-02-19 19:35] jaimeo commented on #6672
We've retired this article, so this should be sorted now.

[2021-02-19 19:36] jaimeo commented on #9104
Working on alternate hosting solution for these.

[2021-02-19 19:37] jaimeo commented on #9181
@arcarley can you help out here?

[2021-02-19 19:57] dacarguy commented on #934
We are experiencing the exact issue with users of Windows 10 computers who are unable to reliably use a Microsoft Access database via a shared drive.  Within a few minutes to an hour of using the database, they receive a "1SQLSTATE: 42S02 Message: [Microsoft][ODBC Microsoft Access Driver] The Microsoft Jet database engine cannot find the input table or query '<name of table>'.

 Unfortunately, the

[2021-02-19 21:17] git14 opened #9182 "Does the cache expire?"
Does the logon cache expire? Can the cached credentials be used indefinitely if the computer cannot reach a domain controller?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef720207-c5e6-182e-8a34-361244c45641
* Version Independent ID: 4591df7c-e474-9b85-7c09-ce572a66a0a3
* Content: [Interactive logon Number of previo

[2021-02-19 21:56] illfated commented on #9132
PR #9178 is ready for final review & merge.

[2021-02-19 22:11] #8760 closed

[2021-02-19 22:21] illfated commented on #9174
PR #9175 is ready for final review & merge.

[2021-02-19 23:04] YongRhee-MSFT commented on #8760
Thx for the help, looks good team.

[2021-02-19 23:10] konstruktoid commented on #9177
Hi @eturnersumi, which deployment steps are you referring to and can you include a more comprehensive log?

[2021-02-20 08:55] KevinMeers commented on #934
Check out https://docs.microsoft.com/en-us/office/troubleshoot/access/your-network-access-was-interrupted-error#symptoms

[2021-02-20 17:03] dacarguy commented on #934
Thanks for the tip - testing now.  That makes a lot of sense.

[2021-02-20 19:02] e0i commented on #9170
@nvovka1

It seems that your question has been answered by the community.

The issues section of this GitHub repository is used for documentation feedback.

Should you have any further issues similar to this one, please consider opening a product support ticket here:

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Feel free to re-open this issue i

[2021-02-20 19:02] #9170 closed

[2021-02-20 19:04] e0i commented on #9169
Hello, @ita-tomi

Looks like this question can best be answered via relevant [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10) channels.

Please consider checking with [Microsoft Community](https://answers.microsoft.com/en-us/windows/forum/windows_10) or [contacting support](https://support.microsoft.com/contactus) for your problem; The issues section

[2021-02-20 19:04] #9169 closed

[2021-02-20 19:05] #9167 closed

[2021-02-20 19:22] #8395 closed

[2021-02-20 19:23] #8616 closed

[2021-02-21 02:08] GATWE opened #9184 "Nasa Explore"

[2021-02-21 03:22] RAJU2529 commented on #9184
@e0i . this post is inappropriate, so close this issue

[2021-02-21 08:25] nvovka1 commented on #9170
@e0i
1. It was not answered
2. I was in discussing this issue with Microsoft support since October 2020 and at the end they advice to post it here maybe developer can help me.

[2021-02-21 09:08] illfated commented on #9170
@e0i : Would you be able to recommend the best way to get in touch with the developers regarding this case, which seems not to have been resolved by contacting Microsoft Support?

[2021-02-21 10:12] illfated commented on #9184
#please-close

[2021-02-21 21:12] illfated commented on #9153
Duplicate of #9104

#please-close

[2021-02-21 21:16] illfated commented on #9129
Duplicate of #9104

#please-close

[2021-02-22 09:55] mMDG0Oowa-3TPkpg7JOmdx4ff4IfPvyCGSAHbnh opened #9186 "Hibernate mode not visible from start-menu using these policies"
SCENARIO
1.    Please describe the user scenario(s) in elaborate detail
Users working on Windows 10 devices with the Microsoft Security Baseline enabled (this will disable Sleep State 1-3, but not enable 4). Thus we have tried to enable sleep state 4, but this is not possible through powercfg /h or the following CSP-policies:
•	Power/TurnOffHybridSleepOnBattery -> 1 (Hybrid Sleep)
•	Power/TurnOffH

[2021-02-22 15:33] hbudach opened #9188 "Set-OUPermissions.ps1 script?"
I'm not seeing this script via the link provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c66f2a3-5be3-e3cf-b90f-c9ce2f6ecf9d
* Version Independent ID: c9ed7f55-3770-73a4-5ee4-deee16eb7600
* Content: [Deploy a Windows 10 image using MDT (Windows 10) - Windows Deployment](https://docs.microsoft.com/en-us/windows

[2021-02-22 19:53] LuigiBruno opened #9189 "Error code 0x80070422"
Missing error code 0x80070422 and related description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cb9f2a2-76ad-8301-7d80-e33a7bb80a1b
* Version Independent ID: dd070c32-53d5-53d6-7ba2-a4361b5263bb
* Content: [Windows Update common errors and mitigation - Windows Deployment](https://docs.microsoft.com/en-us/windows

[2021-02-22 19:54] LuigiBruno opened #9190 "Error code 0x80070422"
Missing error code 0x80070422 and related description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f76d96ac-5343-20e2-9d99-9c1cea7ccc2e
* Version Independent ID: a95c9b39-4a66-d726-4404-de5af60ac982
* Content: [Windows Update error code list by component - Windows Deployment](https://docs.microsoft.com/en-us/windows

[2021-02-22 20:13] #9174 closed

[2021-02-22 20:14] illfated commented on #9174
PR #9175 is now merged and the content change should be live within the next day or so, unless there is any issues publishing the updated content.

[2021-02-22 20:15] #9153 closed

[2021-02-22 20:17] #9129 closed

[2021-02-22 20:19] illfated commented on #9190
Document links:
- https://docs.microsoft.com/en-us/windows/deployment/update/windows-update-error-reference
- https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/windows/deployment/update/windows-update-error-reference.md

Different page from issue ticket #9189 (**Error code 0x80070422**), but the content issue is the same.

[2021-02-22 20:20] illfated commented on #9189
Document links:
- https://docs.microsoft.com/en-us/windows/deployment/update/windows-update-errors
- https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/windows/deployment/update/windows-update-errors.md

Different page from issue ticket #9190 (**Error code 0x80070422**), but the content issue is the same (hence the ticket title).

[2021-02-22 23:08] greg-lindsay commented on #9144
I am checking the depth of information we have about this type of error.

[2021-02-23 00:25] K3rat005 commented on #9188
Same problem.  working to setup MDT and can't find the script.

[2021-02-23 01:26] fookie opened #9192 "Any plan to fix FOD package download link or replace the file on server with correct one?"
There's no feedback portal on the docs page so I have to manually add the relevant links here.

The FOD.cab download link on this page for Windows 10, version 2004 is the wrong one. I have submitted the details under [this update](https://github.com/MicrosoftDocs/windows-itpro-docs/commit/71b3d5e0a37363ae00149d8ffc6267cb5dcf9b16) a month ago but it haven't been fixed yet.

Please fix that ASAP. I

[2021-02-23 01:38] RAJU2529 commented on #9190
@e0i , please close this issue , because  same  issue has been reported  in #9189

[2021-02-23 01:42] RAJU2529 commented on #9188
@hbudach  @K3rat005 , You can download from  here .
**https://github.com/DeploymentArtist/SWP1/tree/master/Scripts**

[2021-02-23 01:43] RAJU2529 commented on #9188
@e0i, may I add the below link in this  article
**https://github.com/DeploymentArtist/SWP1/tree/master/Scripts**

[2021-02-23 01:57] RAJU2529 commented on #9186
@mMDG0Oowa-3TPkpg7JOmdx4ff4IfPvyCGSAHbnh   This article does not stated about  start menu,  instead of it deals with only advanced configuration settings for power configuration.

[2021-02-23 02:08] RAJU2529 commented on #9192
@fookie,  This issue has been reported , under processing ,
So  @e0i, so please close this issue

[2021-02-23 05:43] joinimran commented on #8735
Hello @vboyev-MSFT - Thank you for your feedback on this. I have checked to get information that can be added to see what policies are supported merging. But looks like it's very difficult to go through all of the policies and that can create many complications.
While going through https://docs.microsoft.com/en-us/mem/intune/protect/endpoint-security-antivirus-policy#policy-merge-for-settings I fo

[2021-02-23 06:17] joinimran commented on #8649
Hello @brianajensen1 - Thank you for your feedback on this document. I have gone through the document and found that as of now the documentation looks good. Actually, Microsoft Defender for Office365 covers all the aspects of Outlook and MS Teams management. You can see more details on how Microsoft Defender for Office365 covers the Outlook and MS Teams communication at https://docs.microsoft.com/

[2021-02-23 10:06] munrobasher opened #9195 "Broken link"
The link to "Reset Windows Update Client settings script" is broken.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Independent ID: 599aea76-47e4-dccc-799c-2d8acf549546
* Content: [Windows Update - Additional resources - Windows Deployment](https://docs.microsoft.com/en-gb

[2021-02-23 11:09] nam31 commented on #8694
@ambarishrh, Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://s

[2021-02-23 11:09] #8694 closed

[2021-02-23 11:30] nam31 commented on #8769
@igor-safonov, Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-02-23 11:30] #8769 closed

[2021-02-23 11:36] nam31 commented on #8776
@erottier Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-02-23 11:36] #8776 closed

[2021-02-23 13:28] #9184 closed

[2021-02-23 13:41] RAJU2529 commented on #9195
@munrobasher . This issue has been already esculated by other user , Microsoft team looking to hosting new location.
 Team is already working , so please close this issue now.
@e0i . please close this issue

[2021-02-23 14:22] RAJU2529 commented on #9188
@nam31 . I am going to edit this article, but I will not add a script link.
I make  some words to **BOLD** and  updating the adobe reader link and version number

[2021-02-23 14:58] #8402 closed

[2021-02-23 16:03] brianajensen1 commented on #8649
Hi, thank you for the comment, however this issue with documentation is referring to Microsoft Defender for Endpoint, not Defender for Office 365.  The link to the specific section is https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/threat-protection-integration#skype-for-business

[2021-02-23 16:48] nam31 commented on #9190
Closing this as it's a duplicate of [9189](https://github.com/MicrosoftDocs/windows-itpro-docs/issues/9189)

[2021-02-23 16:54] nam31 commented on #9059
@MaxPower2005, Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.
[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)
Thank you.

[2021-02-23 16:54] #9059 closed

[2021-02-24 06:49] jbrucker opened #9198 "Suggested change: multi-factor auth for developers, not just admins"
In the section titled "For software venders and developers" it recommands:

Why not require multi-factor auth for everyone?  A vector of attack is to break into a
developer's account on Github and push an update containing malicious code, which
may then be automatically built and distributed (such as a Ruby gem or Python module
that other apps use).
Multi-factor auth would help prevent this, of co

[2021-02-24 11:23] dev-nawa opened #9199 "Update of target OS"
【Change before】
****************************************************** ***************************
Applicable target
• Windows 10
• Windows 10 Mobile
• Microsoft Edge
****************************************************** ***************************
[After change]
****************************************************** ***************************
Applicable target
• Windows 10
• Windows 10 Mobile
•

[2021-02-24 11:27] dev-nawa opened #9200 "Update of target OS"
【Change before】
****************************************************** ***************************
Requirements
Windows 10 version 1709 or later | Microsoft Defender AV real-time protection and cloud-delivered protection must be enabled

****************************************************** ***************************

[After change]
****************************************************** ********

[2021-02-24 13:09] illfated commented on #9190
@LuigiBruno : I apologize on behalf of  @RAJU2529 and @nam31 , they usually don't have time to go into details.

Maybe we should just move the content from this ticket into the other ticket, to make sure that the other ticket deals with multiple pages.

[2021-02-24 13:11] illfated commented on #9189
From issue ticket #9190:

## PLEASE NOTE: THIS IS ABOUT A DIFFERENT PAGE THAN THE POST ABOVE

(@RAJU2529 : PLEASE LEAVE THIS ONE UNCHANGED, WE ARE TALKING ABOUT 2 SEPARATE PAGES HERE.)

[2021-02-24 13:20] RAJU2529 commented on #9189
@illfated . I will not touch this page.

[2021-02-24 13:24] illfated commented on #9189
Fair enough. Keep in mind that the closing of the other ticket means that this ticket will now have to manage 2 separate pages.

[2021-02-24 16:25] jaimeo commented on #9181
@cinglis-msft can you help us get these error codes up to date?

[2021-02-24 17:11] illfated commented on #9181
Thank you for following up on this question. There seems to be quite a few more tickets regarding those error codes, so I am really looking forward to have those lists updated in accordance with what the developers have been working on during the last year or so.

[2021-02-24 17:16] jaimeo commented on #9181
@illfated do you have dev contacts I could connect with on this?

[2021-02-24 17:18] illfated commented on #9181
Oooh, wish I had. I am merely an external user, but my willing attitude is often mistaken for much more direct involvement in Microsoft than what is real. Sorry about that.

[2021-02-24 17:46] nam31 commented on #9198
@jbrucker, thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have made

[2021-02-24 17:46] #9198 closed

[2021-02-24 17:47] greg-lindsay commented on #9188
The forward link was set to https://gallery.technet.microsoft.com/Configure-permissions-in-2326651a but this no longer exists. I am editing the forward link, which should fix the problem almost immediately.

[2021-02-24 17:49] greg-lindsay commented on #9188
This is working now.

[2021-02-24 17:49] #9188 closed

[2021-02-24 17:50] RAJU2529 commented on #9188
@greg-lindsay . please look into this PR #9196

[2021-02-24 20:04] greg-lindsay commented on #9144
0xCA00A005 means DPX_E_CONTAINER_UNSUPPORTED_TYPE
I believe that DPX stands for Delta Package Expander.
I'm still looking for more information.

[2021-02-24 20:53] e0i commented on #9036
The changes proposed doesn't fit the CSP articles' template. Thank you for the suggestion.

[2021-02-24 20:53] #9036 closed

[2021-02-24 21:05] e0i commented on #9195
This issue is going to be addressed in #9104

Thanks

[2021-02-24 21:05] #9195 closed

[2021-02-24 21:10] e0i commented on #9192
@RAJU2529 I appreciate you taking the time to help deal with the issues in this repository but this issue seems to have no duplicate as you've suggested. Plus we don't close issues without addressing the raised concerns first.

[2021-02-24 21:10] e0i commented on #9192
@fookie Under investigation. Thank you.

[2021-02-24 21:32] sumtnk commented on #9133
Hi,

Okay so the computer activates using Win 10 Pro Edu, but then when a user assigned with A3/A5 logs in it also does an edition upgrade to Win 10 Edu and therefore takes one of five device assignments they have for this? I can't see how this would work in an environment where there are shared devices like a lab?

Thank you,

[2021-02-24 21:58] archeon1004 opened #9202 "Key Admins and Enterprise Key admins are protected with AdminSDHolder"
Hi,

In the text there is description of groups Key Admins and Enterprise Key admins and in the table the field protected with ADMINSDHOLDER is set to NO, while it's not true.

To confirm that I've created a new user account. Checked admincount attribute value and added then to the Key Admins group.
After sdpropagator task went through the admincount attribute was set to 1.

Could you please verif

[2021-02-25 12:56] nam31 commented on #9103
@amosjeff The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-02-25 12:56] #9103 closed

[2021-02-26 05:06] MaratMussabekov commented on #9199
Hello,
I will check the applicable targets and create a PR
Thank you

[2021-02-26 05:06] MaratMussabekov commented on #9200
Hello,
I will check the requirements and create a PR
Thank you

[2021-02-26 05:07] MaratMussabekov commented on #9202
Hello,
I will try to reproduce it and will let you know
Thank you

[2021-02-26 09:29] ami857 opened #9208 "Configuring IPv4 address it is not optional it is mandatory when setting a WIP policy. Please correct ASAP"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1ad3f92-24de-5eb5-8454-c72d85737183
* Version Independent ID: 900125eb-31ea-faf3-ac30-7c3d7b30f611
* Content: [Create a Windows Information Protection (WIP) policy with MDM using the Azure portal for Microsoft Intune (Windows 10) - Microsoft 365 Secu

[2021-02-26 10:47] VLG17 commented on #9095
@SRE93 Is this a test environment where you use Contoso as your domain? I assume it is, otherwise you need to replace Contoso with the domain name that you are using.

[2021-02-26 11:05] davwheat opened #9209 "Citation for legal precedent - Interactive Logon Message text"
Are there any citations available for this claim? I feel like putting this in documentation without any real proof isn't a great idea.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8897b50b-10e9-5d0b-6150-c1834a296a20
* Version Independent ID: bed1c6d9-91c3-02f2-12c9-58229886118a
* Content: [Interactive Logon Message

[2021-02-26 11:23] VLG17 commented on #9024
@mildsauce Thank you for bringing this up. My comments below:

1. Both rules are inbound. Restricting the IP range could lead to this error again, so the recommendation is to leave it unrestricted. If you do need to restrict it, test it before.
2. Port 67 is the local port
3. Good observation, I will create a chage request for this. It should be port 68.

[2021-02-26 11:33] SRE93 commented on #9095
No, it isn't. Contoso is just a placeholder, I used the correct domain of us ;)

[2021-02-26 14:51] MaratMussabekov commented on #9199
Hello,
The article s about features provided by smartscreen to protect Edge on Windows 10. It is not applicable for Windows Server or Windows 8.1.
Also applicable for https://github.com/MicrosoftDocs/windows-itpro-docs/issues/9151

Thank you

[2021-02-26 16:13] yllekz opened #9212 "Server 2012 (non-R2) documentation missing"
Hello, we have non-R2 Server 2012 systems we need to onboard to Defender for Endpoint. Presently, the documentation seems to omit this OS entirely, and it really needs to be in there, considering 2008 R2 (an older OS) is supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f4ed2b3-0390-4d53-2450-14995ee8b0b0
* Ve

[2021-02-26 20:41] kerbos opened #9213 "Windows activation for GCC High"
We need a statement that mentions that this is not available for GCC High and DoD at this time. And be kept updated when/if it becomes available. Are the authors aware of this limitation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd18b4c7-1c71-916d-cb5c-8322903e8ed5
* Version Independent ID: 7b4c1663-1b1a-2952-7bf

[2021-02-27 00:07] greg-lindsay commented on #9144
The error usually means the header of a file is corrupted. Supported containers for DPX are CAB and PSF files. One of these files is likely corrupt. Searching the logs should reveal which file is the problem.

[2021-02-27 00:09] greg-lindsay commented on #9144
Would it be possible to obtain the log file? Either setuperr or setupact should have the line with the 0xCA00A005 code.

[2021-02-27 01:28] adirdidi commented on #9212
2012 non R2 is not supported, this is not a documentation issue.

[2021-02-27 01:28] #9212 closed

[2021-02-27 02:53] RAJU2529 commented on #9209
@davwheat . I configured college  desktop  , when authorized users trying to login in the desktop, they get messages  regaring
covid 19  preventing steps.

[2021-02-27 08:24] whiplash696 opened #9215 "try"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 001a64c5-bdea-ae9f-578e-a785bca20d23
* Version Independent ID: b521d32a-cf9f-8b6a-0411-fd77537673e1
* Content: [Overview of endpoint detection and response capabilities - Windows security](https://docs.microsoft.com/en-us/windows/security/threat-prote

[2021-02-27 17:04] MaratMussabekov commented on #9200
Hello @dev-nawa ,
Were you able to implement network protection on Windows Server 2016?
According to
https://techcommunity.microsoft.com/t5/microsoft-defender-for-endpoint/protecting-windows-server-with-windows-defender-atp/ba-p/267114#M128, network protection is only supported since Windows Server 1803.

Thank you

[2021-02-27 17:11] illfated commented on #9215
Looks like a test comment, no real issue content here.

#please-close

[2021-02-27 17:39] MaratMussabekov commented on #9150
Hello @Clickbaitcake ,
**If another antivirus software is installed like CarbonBlack or CrowdStrike, do the Defender files and paths need to be excluded from in these other products?** - no, they don't. Microsoft Defender Antivirus files are considered as system files and are not touched by third-party antiviruses.
However, you should remember that Windows Server 2016 doesn't support passive mode,

[2021-02-27 21:18] #8735 closed

[2021-02-27 22:16] #9215 closed

[2021-02-28 03:49] klishb opened #9216 "Broken links to scripts"
[Enter feedback here]
Both of the links to the reset scripts do not work any more:

https://gallery.technet.microsoft.com/scriptcenter/Reset-WindowsUpdateps1-e0c5eb78
and
https://gallery.technet.microsoft.com/scriptcenter/Reset-Windows-Update-Agent-d824badc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 886426b5-8548-1

[2021-02-28 06:01] nam31 commented on #9062
@yanezrj, it seems that the question has been answered by the community, and thus the issue is being marked as resolved.
Thank you

[2021-02-28 06:01] #9062 closed

[2021-02-28 06:06] nam31 commented on #9140
@jordanclic We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-02-28 06:06] #9140 closed

[2021-02-28 08:51] illfated commented on #9216
Thank you for reporting the issue, but it has already been reported several times and will be managed in the other ticket page (#9104).

Duplicate of the following issue tickets:
- #9104 ([**Windows Update - Dead links**](https://github.com/MicrosoftDocs/windows-itpro-docs/issues/9104)) (open)
- #9129 ([**Script link not working**](https://github.com/MicrosoftDocs/windows-itpro-docs/issues/9129))

[2021-02-28 08:53] illfated commented on #9216
For your information (FYI): the MS Docs team will handle the issue by creating new pages for those retired TechNet Gallery pages.

[2021-02-28 09:19] nam31 commented on #9116
@gyomb, Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have made a

[2021-02-28 09:19] #9116 closed

[2021-02-28 09:21] nam31 commented on #9117
@beeeeswax, Thank you for providing feedback.
The issues section of this repository is intended for product documentation issues only.
Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.
[Windows 10 Support](https://support.microsoft.com/en-gb/windows?ui=en-US&rs=en-GB&ad=GB)
Thank you.

[2021-02-28 09:21] #9117 closed

[2021-02-28 09:24] nam31 commented on #9209
@davwheat, Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have made

[2021-02-28 10:09] davwheat commented on #9209
@nam31 Your suggesting that I send feedback via the Windows 10 feedback hub about documentation that says to open an issue on GitHub to leave feedback.

Fantastic stuff. 😂

[2021-02-28 12:18] illfated commented on #9209
@e0i : Would you be know if any of the MS Docs team members knows enough about the legal implications and legal matters in the documentation, to ask them if this is something we should reply to here?

[2021-02-28 12:21] illfated commented on #9117
@beeeeswax : I would also suggest using the Feedback Hub (OS client or web page) to post that issue to make the developers more aware of this request.

[2021-02-28 12:36] illfated commented on #9106
The correct link (https://docs.microsoft.com/troubleshoot/windows-server/windows-security/enabling-smart-card-logon-third-party-certification-authorities) is available in the document (https://docs.microsoft.com/windows/security/identity-protection/hello-for-business/hello-deployment-issues) and it works as expected & intended.

[2021-02-28 12:36] illfated commented on #9106
#please-close

[2021-02-28 13:01] archeon1004 commented on #9202
Thank you!
By the way, would it be possible to add more detailed description of what those groups are? The description of Enterprise Key Admins group is "Members of this group can perform administrative actions on key objects within the forest.". Would it be possible to add at least link to other documentation pointing to the key object?

[2021-02-28 16:30] joinimran commented on #8649
@brianajensen1 - Maybe I was not able to define my comment correctly. As you have mentioned in the issues that "This setting is labeled Skype for Business Integration, but also talks about Outlook communication and now shouldn't this also control Teams communication?"

I have answered that Outlook and MS teams come under the umbrella of Office365 and they are covered/protected by Microsoft Defende

[2021-02-28 16:48] MaratMussabekov commented on #9202
Hello,
Yes, you are right, the group is protected by ADMINSDHOLDER.
**Would it be possible to add at least link to other documentation pointing to the key object?** - as far as google shows, there is no such article in Microsoft Docs.

Thank you

[2021-02-28 17:04] brianajensen1 commented on #8649
Sorry, I thought by referencing the documentation that it would be clear.

Microsoft Defender for Endpoint has, under Advanced Features, Skype for business integration (Enables 1-click communication with users (https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/advanced-features#skype-for-business-integration), however does this control Teams communications

[2021-02-28 17:07] joinimran commented on #9079
Hello @SergGu - Thank you for your feedback. Can you please confirm what happened when you click on Unblock?

Please note that the registry path is correct.

![image](https://user-images.githubusercontent.com/47118050/109426833-5f7d1e00-7a11-11eb-91c6-cc0e1a73055a.png)

[2021-02-28 17:49] joinimran commented on #8649
Thank you for sharing this document and this clears everything. Please note that it only applies to Outlook as a communication medium. As of now, this is not available for Teams. If you wanted to see MS Teams there, I would suggest you to rise your voice using User Voice Channel. This will help Microsoft to add this in the future.

@e0i - Please guide the user how to open a request in User Voice C

[2021-02-28 18:25] joinimran commented on #9147
@RAJU2529 - Can you please share with me the link for this ADMX template?

[2021-02-28 19:59] archeon1004 commented on #9202
@MaratMussabekov  MS uses google to search? 😄
I done additional deep dive on this and found that this groups gives full privileges on ms-DS-Key-Credential-Link. Would it be possible for you to confirm this and perhaps add this to this doc?

[2021-02-28 21:12] illfated commented on #9199
Looks like the issue has been answered by the MS Docs community.

#please-close

[2021-03-01 03:35] MaratMussabekov commented on #9202
Hello @archeon1004 ,
**MS uses google to search?** - no, MS uses Bing. I am not working in Microsoft, so I am free to use Google )
**this groups gives full privileges on ms-DS-Key-Credential-Link. Would it be possible for you to confirm this** - yes, confirmed. For example, it is mentioned here - https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-hybrid-

[2021-03-01 04:01] RAJU2529 commented on #9147
@joinimran , Microsoft does not released updated admx files , but I got data collection files from windows insider preview  21313  iso file.

if  copy this  **datacollection.admx**   and  **datacollection.adml**  to  windows 10  20h2  OS  ,  you will get  the following  errror when you run **SFC /SCANNOW** with admin rights.

[DataCollection.zip](https://github.com/MicrosoftDocs/windows-itpro-docs

[2021-03-01 07:48] joinimran commented on #9147
@RAJU2529 This means this will be available in 21H1 or 21H2 version of Windows?

[2021-03-01 07:56] RAJU2529 commented on #9147
@joinimran . windows insider preview  21313  iso.
it might will come in either 21H1 or 21H2

[2021-03-01 08:12] nam31 commented on #9209
@davwheat, Please note that the issues section of the repository is intended for corrections in technical documentation.
For your original query, we can involve the author for the guidance.
@Dansimp, can you help?

[2021-03-01 09:34] mMDG0Oowa-3TPkpg7JOmdx4ff4IfPvyCGSAHbnh commented on #9186
@RAJU2529 in Microsoft Support case 121012225001620 the issue is confirmed by the Product Group.

If you don't want to document it in this article, could you please link in this documentation to the documentation about the flyoutmenu? It seems documented nowhere (at least I couldn't find it being documented).

[2021-03-01 16:30] baardhermansen opened #9222 "Link to article not valid"
There are references to URL https://www.microsoft.com/CloudandHosting/licensing_sca.aspx, which is no longer valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3ecbc1-9c02-5681-7214-356be22ac7e8
* Version Independent ID: 73af82f6-079b-6c37-55c4-cb59e921457a
* Content: [Deploy Windows 10 Enterprise licenses - Windo

[2021-03-01 17:56] evmill opened #9223 "HoloLens supported CSPs Page not shown in TOC"
Hello,

The page https://docs.microsoft.com/windows/client-management/mdm/policies-in-policy-csp-supported-by-hololens2 is not shown in the table of contents. I am not that familiar with your docs structure but I believe that this should be listed somewhere.

Thanks,
-Evan   /   https://docs.microsoft.com/hololens/docs person

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-03-01 23:19] illfated commented on #9222
The sentence in question is the following one:

## Virtual Desktop Access (VDA)

Subscriptions to Windows 10 Enterprise are also available for virtualized clients. Windows 10 Enterprise E3 and E5 are available for Virtual Desktop Access (VDA) in Windows Azure or in another [qualified multitenant hoster](https://www.microsoft.com/CloudandHosting/licensing_sca.aspx).

[2021-03-02 04:06] Frediloc opened #9224 "sidtype command syntax"
In the body of the text

It appears that this:
`sc sidtype <Type> <ServiceName>`

Should be changed to this:
`sc sidtype <ServiceName> <Type>`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df1d6ca4-d733-03f6-7c5a-d0bd584fb805
* Version Independent ID: 4d3a7607-cdbf-72d8-0cf0-d3b173eca352
* Content: [Create an Inbound

[2021-03-02 05:58] dev-nawa opened #9227 "I think you should also include "go.microsoft.com" in the Security intelligence updates Alternate Download Location (ADL) section."
I think you should also include "go.microsoft.com" in the Security intelligence updates Alternate Download Location (ADL) section.
When I check MpCmdRun-System.log, the connection destination is recorded as "https://go.microsoft.com/***".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f86b0db3-f979-bd1f-78a4-4124751072

[2021-03-02 08:42] VLG17 commented on #9095
@SRE93 Could you test it without the comma after URL? (I know the documentation says to use it)

For me it works without comma. Also every example I found online did not use a comma, when not using a proxy:

[2021-03-02 09:01] SRE93 commented on #9095
Without comma it is working, I just mentioned this to update the documentation :)

[2021-03-02 10:38] Reeced40 commented on #9006
@RAJU2529 @illfated thank you for pointing this out. I don't have access to the content source so if you locate it please can you send me the link and I'll do the PR. Please also indicate where in the doc the : is missing.

[2021-03-02 11:53] RAJU2529 commented on #9006
@Reeced40, Sorry  content source  is not available to edit.

[2021-03-02 12:48] nam31 commented on #9024
Closing via #9211
Thanks

[2021-03-02 12:48] #9024 closed

[2021-03-02 13:00] nam31 commented on #8995
Closing via #8997
Thank you

[2021-03-02 13:00] #8995 closed

[2021-03-02 13:01] MaratMussabekov commented on #9133
Hello,
I suppose the question is, will the limit of allowed computers run out in a scenario when students use computers randomly? - no, it will not. The limit of five devices doesn't mean that student can log in to five devices only, it means they cannot be logged in to more that five computers at the same time.

These licenses are user-based, not device-based. For example, you have 10 shared devi

[2021-03-02 13:19] illfated commented on #9006
Maybe we could ask someone in the Windows Driver Developer Doc Team (@windows-driver-content) team if they could look into this issue?

[2021-03-02 16:33] RAJU2529 commented on #9224
@Frediloc . Thanks for pointing out. I am fixing that error.

[2021-03-02 18:13] illfated commented on #9224
The suggested correction is available for review, comments and suggestions in the PR #9232 .

[2021-03-02 19:27] ManikaDhiman commented on #9223
Hi @evmill, Thanks for pointing this out. TOC is now updated with the correct filenames to display the [Hololens 2 topic](https://docs.microsoft.com/en-us/windows/client-management/mdm/policies-in-policy-csp-supported-by-hololens2) and other policies in Policy CSP topics. Thanks again for your valuable feedback!

[2021-03-02 21:06] obhayes opened #9235 "Clarification"
Hi, this article was last updated 3 years ago and wanted some clarification of the text in the "notes" section at the top of the page is still correct.  Q. Are you 100% saying it is not possible \ supported to set the DSCP tags in a **hybrid Azure AD joined** machine via intune? This either has to be done via a GPO or some PowerShell script maybe triggered via intune?

It is this sentence
"Current

[2021-03-02 21:06] t473503 opened #9236 "غازي الشمري"
![tmp_1614716178552](https://user-images.githubusercontent.com/76402341/109715079-3f399480-7bb4-11eb-9bd1-23684dfc14cd.jpg)

[2021-03-02 21:57] illfated commented on #9236
invalid issue ticket content.

#please-close

[2021-03-02 23:22] MooreSys opened #9237 "Reset Windows Update Client settings script link broke"
Reset Windows Update Client settings script link broke.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Independent ID: 599aea76-47e4-dccc-799c-2d8acf549546
* Content: [Windows Update - Additional resources - Windows Deployment](https://docs.microsoft.com/en-us/windows/depl

[2021-03-02 23:47] jaimeo commented on #9237
We are aware of the issue and are working on a replacement.

[2021-03-03 10:06] #9236 closed

[2021-03-03 10:20] VLG17 commented on #8974
@juhap We will be able to add that information as soon as it's released. Currently waiting for it to be released according the the comments you've shared.

[2021-03-03 10:27] VLG17 commented on #9035
@pinguon When defining the ASR exclusion, you need to specify the path. In you case, you have different paths, although the process is the same - setup.exe

More details [here](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/enable-attack-surface-reduction#powershell)

[2021-03-03 12:30] VLG17 commented on #9064
@schenardie You can find [here](https://docs.microsoft.com/en-us/education/windows/configure-windows-for-education) the Windows 10 configuration recommendations for EDU customers. We can see that:

![image](https://user-images.githubusercontent.com/41186174/109805120-bb22f380-7c2b-11eb-9f0d-7a8abb106a13.png)

From [this article](https://docs.microsoft.com/en-us/windows/configuration/set-up-shared-

[2021-03-03 12:54] #9106 closed

[2021-03-03 12:57] #8649 closed

[2021-03-03 13:01] #9035 closed

[2021-03-03 13:35] VLG17 commented on #9068
@amoraa246 Do you think it makes sense to add a note pointing to the "old" article in regards to older OSs it applies to? If we start adding older OSs to the Applies to: list, we need to always update them as soon as they reach end of support (like Windows 7,8, 2008 R2).

[2021-03-03 15:37] MaratMussabekov commented on #9155
Hello @andrePKI ,
**At the top it states "applies to key-trust"**. - it is incorrect. Article applies to Certificate Trust deployments

**Now, do I need to add the AAD Connect service account to KeyAdmins or KeyCredential Admins (we only have the first one in our Users container and it is spelled Key Admins), or is that not necessary?** - yes it is necessary.

As it is stated in note: "If you alre

[2021-03-03 16:10] CoMMyCZ opened #9241 "Broken link"
The link is broken:

**Reset this PC**
The 'reset this PC' recovery function now includes a *cloud download option*.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d651de3c-b8eb-e8d9-8138-1eadb758bf2e
* Version Independent ID: a19a8b65-0f4a-efd5-7f83-56bd07cc8c3b
* Content: [What's new in Windows 10, version 2004 - Wha

[2021-03-03 18:43] dbona75 opened #9242 "Key Trust or Cert Trust"
Hello , please specify if the feature is available for WHFB in Key Trust or Cert Trust architecture.

It seems it works only in the Cert Trust WHFB model .

Thanks in advance

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f50a8599-301a-5993-1a86-e722f66ffcf2
* Version Independent ID: fffd0fc9-97f

[2021-03-03 19:12] #9064 closed

[2021-03-03 19:52] eturnersumi commented on #9177
@jesspent can you chime in here?

[2021-03-03 19:54] illfated commented on #9241
Ah, yes. Seen this before, it usually happens to all the links containing `wip-4-biz-whats-new`. Feel free to create new tickets for any page linking to the page `wip-4-biz-whats-new`.

This is outdated Insider Preview material and has been moved to the Archives. Thank you for pointing this out. I will make a PR to resolve the linking issue.

[2021-03-03 20:24] illfated commented on #9241
Also, BTW, I have decided to replace 8 outdated links on the same page, so once my soon-to-be-available Pull Request gets merged, it should not take long before we can move on to looking for outdated links elsewhere.

[2021-03-03 20:27] illfated commented on #9241
(For reference: The outdated link reported in this ticket (to be replaced) is this one:
- https://docs.microsoft.com/windows-insider/at-work-pro/wip-4-biz-whats-new#new-reset-this-pc-option-cloud-download-build-18970

The offending part of the link (no longer existing directory and page name) is this: `/at-work-pro/wip-4-biz-whats-new`

[2021-03-03 20:43] illfated commented on #9241
There you go. PR #9244 is ready for review, comments & suggestions. Feel free to comment or suggest further improvements.

[2021-03-03 21:07] schenardie commented on #9064
I understand all the requirements of the feature but my question remain unanswered. I want to know if its ilegal from the point of view of licensing for me to setup non educational windows with the setedupolicy so i can implement the lockscreenimageurl csp. If not i believe the documentation could be changed to clarify this. If it is indeed a breach o license then the note should be changed. To st

[2021-03-03 22:27] sumtnk commented on #9133
Thank you, that's very helpful and provides much more clarity.

The article says "Up to five devices can be upgraded for each user license." which led to the confusion, it should state "Up to five devices can be upgraded for each user license at the same time.".

[2021-03-04 09:25] VLG17 commented on #9077
@gunterda Looking as [this blog post](https://techcommunity.microsoft.com/t5/microsoft-defender-for-endpoint/protecting-windows-server-with-windows-defender-atp/ba-p/267114) from 2018 about Protecting Windows Server with Windows Defender ATP (former name of Microsoft Defender for Endpoint), we can see that Windows Server 2012 was also supported.

Also it's stated that:

In my opinion I don't thin

[2021-03-04 12:33] Pootch opened #9247 "Windows Server 2016, disable automatic Reboot outside of active hours"
For me the "active hours" is the most stupid feature for a server OS ever.
We do not want to automatically reboot our server if we have installed OS updates via windows update OUTSIDE of active hours.
There is no way to control this via GPO. Please get rid of this stupid feature or implement a GPO to **disable reboots outside of active hours.**

[2021-03-04 15:19] VLG17 commented on #9109
@xenolf It should point to [this article](https://docs.microsoft.com/en-us/graph/api/device-list-memberof?view=graph-rest-1.0&tabs=http). I'll create a change request for this.

[2021-03-05 00:17] kerbos opened #9250 "Add note for GCC High and DoD"
Windows 10 Subscription Activation is not available for GCC High/DoD. And the guidance to customers is to use MAK or KMS keys. Can you add a blue or purple box be added with this note? Please validate with the product owners.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd18b4c7-1c71-916d-cb5c-8322903e8ed5
* Version

[2021-03-05 00:44] illfated commented on #9247
@Pootch : Your reasoning is fair, although this is not a practical arena to get your message across to the developers.

Please use either the Windows 10 Feedback Hub (desktop app) or the web equivalent (sorry for not remembering the URL) to share your idea with the developers.

Please note that this repository and this issue ticket system is intended for improvement suggestions and documentation p

[2021-03-05 01:19] illfated commented on #9227
Hmm. I wonder, is it needed, though? https://go.microsoft.com/ is just a jump pointer to other URL addresses in the microsoft.com universe.

[2021-03-05 14:36] pinguon commented on #9035
hi, thanks for your answer,
but that means I can't fix my problem with different paths?

DriveA/folder1/setup.exe
DriveB/folder2/setup.exe

folder is a variable with 8 digits of the date...

[2021-03-05 14:53] JelmerBarhorst opened #9252 "Microsoft Defender for Endpoint licensing for RDSH"
It is unclear if a Remote Desktop Session host (e.g. Windows Server 2019 multi user) is regarded as a per-user deployment as is with WVD and Windows 10 Multi-user or that it requires a server license.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8aca66a-5a8b-64d2-7201-a7b915c5d309
* Version In

[2021-03-05 15:30] ces3dev opened #9253 "Link Broken"
[Enter feedback here]
Hi,

The link that is supposed to lead me to how to setup Defender with Microsoft Cloud App Security (MCAS), where it says "See Microsoft Defender for Endpoint integration with Microsoft Cloud App Security for detailed...", is broken. It says "404 - Page not found - Hmm, we couldn't find this link, but here are some related search results that may be helpful" when I clicked o

[2021-03-05 15:34] ces3dev commented on #9253
I believe this might be the new link?

https://docs.microsoft.com/en-us/cloud-app-security/mde-integration

[2021-03-05 15:44] illfated commented on #9035
If you use variables to name folders, you are constantly generating potential new attack vectors for Microsoft Defender to analyze. If you really need to generate a new path every day, you should also invest the same amount of time to add that path to the exclusion list manually or via some kind of macro you might be able to create on your side.

[2021-03-05 17:38] Ladmo007 opened #9254 "VAMT. Permissions minimum for Database"
What are the minimum permissions to install and operate VAMT on a full SQL Server instance?  The company's IT department manages the DB instances and only gives the minimum required permissions to work with the applications.

[2021-03-05 17:43] adirdidi commented on #9253
Thank you for reporting, the link was fixed (the updated page will go live later today).

[2021-03-05 17:43] #9253 closed

[2021-03-05 17:56] denisebmsft commented on #9254
Hello @Ladmo007. Can you please tell us to which article your question applies? This information will help us route this issue correctly.

[2021-03-05 17:57] #9247 closed

[2021-03-05 18:14] #8966 closed

[2021-03-05 19:58] Ladmo007 commented on #9254
Hi.

I mean this article:

https://docs.microsoft.com/es-es/windows/deployment/volume-activation/install-vamt

Regards

El El vie, 5 de marzo de 2021 a la(s) 11:56, Denise Vangel-MSFT <
notifications@github.com> escribió:

--

Luis Arturo Díaz Montes de Oca

[2021-03-05 21:37] #9109 closed

[2021-03-05 21:37] #9075 closed

[2021-03-06 00:02] illfated commented on #9077
I concur. In general, Windows Server 2012 is not supported, because (among other reasons) upgrading to Windows Server 2012 R2 is fairly manageable for most scenarios. Also, as VLG17 indicated, 2012 R2 is better security-wise.

[2021-03-06 00:52] sokoloffmaks opened #9256 "Update documentation to provide a quick guide which option to choose when enroll WVD multisession devices"
Hi, can you please update documentation to provide a quick guide which option to choose when enroll specifically WVD multisession devices?
It is not clear , what exactly required to be selected in GPO MDM settings , device or users credentials when it comes to multisession windows 10 VMs
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-03-07 02:09] GATWE opened #9257 "Organization ONU r Solucionar Problems..."

[2021-03-07 02:13] GATWE opened #9258 "Premio Nobel da Pax ONU..."

[2021-03-07 02:36] mrowell opened #9259 "Code Requirement for missing star characters for JAMF"
Under [Step 6: Grant full disk access to Microsoft Defender for Endpoint](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/mac-jamfpro-policies#step-6-grant-full-disk-access-to-microsoft-defender-for-endpoint) in point 9 for the com.microsoft.wdav.epsext PPPC Profile the **Code Requirement** is missing some star characters (probably not escaped properly)

[2021-03-07 02:41] mrowell opened #9260 "Code Requirement for missing star characters for Other MDM instructions"
Under [Full disk access policy](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/mac-install-with-other-mdm#full-disk-access-policy) for the com.microsoft.wdav.epsext PPPC Profile the **Code Requirement** is missing two star characters (probably not escaped properly)

Currently:
`Code Requirement: identifier "com.microsoft.wdav.epsext" and anchor apple gen

[2021-03-07 09:17] illfated commented on #9258
invalid issue content.

#please-close

[2021-03-07 09:33] illfated commented on #9257
invalid content.

#please-close

[2021-03-07 12:55] MaratMussabekov commented on #9250
Hello, there is already a note about GCC\GCC High tenants.
As for DoD, this type of licensing is currently in preview.
Thank you

[2021-03-07 15:05] #9257 closed

[2021-03-07 15:05] #9258 closed

[2021-03-07 16:21] joinimran commented on #9186
@mMDG0Oowa-3TPkpg7JOmdx4ff4IfPvyCGSAHbnh - Can you please share the support thread here so that I can review and make necessary changes to the document

Thanks
Imran.

[2021-03-07 16:24] #9077 closed

[2021-03-07 16:40] joinimran commented on #9069
Hello @bjeans - I have checked and found that these images look normal in dark mode.

![image](https://user-images.githubusercontent.com/47118050/110247352-ac22a500-7f8d-11eb-8d47-5bf8a22a9ce0.png)

@nam31 - FYI & A Please.

[2021-03-07 16:51] joinimran commented on #8913
Hello @churos78 - Thank you for your query here, but this is not possible for MDATP for Linux. This is something that can be done using Windows. (https://docs.microsoft.com/powershell/module/defender/update-mpsignature?view=win10-ps) but you can request this feature using the User Voice Channel.

@e0i - FYI & A Please.

[2021-03-07 16:53] illfated commented on #9213
(ref. #9264 )

[2021-03-07 17:00] joinimran commented on #8912
@UTTAM7395 - Thank you for posting your feedback here. Can you please share the updated screenshots if possible?

[2021-03-07 17:06] joinimran commented on #8739
Hello @NagaCSC - You can deprovision WHFB using the following document https://support.microsoft.com/en-us/topic/using-whfbtools-powershell-module-for-cleaning-up-orphaned-windows-hello-for-business-keys-779d1f3f-bb2d-c495-0f6b-9aeb940eeafb - Did you get a chance to try this?

Thanks
Imran.

[2021-03-07 18:16] ConstantinLorenz opened #9265 "Wrong preference domain for Notifications in the documentation for JAMF"
Under  [Step 4: Configure notifications settings](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/mac-jamfpro-policies#step-4-configure-notifications-settings) In point 7 in the screenshot the wrong preference domain is entered. The preference domain for notifications in macOS is com.apple.notificationsettings, and not com.microsoft.wdav.

![image](https:

[2021-03-07 18:46] illfated commented on #9265
Looks like a reasonable assertion, but do you know if that needs to be changed for the 8 text occurrences as well, in addition to the 3 images containing the current text?

[2021-03-07 21:03] maximvelichko commented on #9265
@illfated , in my opinion the best way to fix it is to use specific JAMF Notifications payload content, as JAMF now supports notifications natively (it did not when the documentation was created)

The original intent of notif.mobileconfig (that one downloads first in Step 4) was to simply import it into JAMF using the Upload button as on the screenshot:
![image](https://user-images.githubuserconte

[2021-03-07 21:22] illfated commented on #9265
Interesting. Would that be something we should add to the page in addition to the existing content?

Does it replace the need for any mention of the `com.apple.notificationsettings` value?

[2021-03-07 21:38] ConstantinLorenz commented on #9265
The notification feature should replace the previous manual upload. It is much easier for the user to understand what is set in for the notifications.

![image](https://user-images.githubusercontent.com/62985896/110255656-1b4fc780-7f95-11eb-8279-28dc8eac1e0b.png)
![image](https://user-images.githubusercontent.com/62985896/110255788-cc566200-7f95-11eb-9cbd-89095156cc2c.png)

[2021-03-07 23:09] illfated commented on #9265
Sounds like a useful solution. Are the images above (sorry for not knowing the details of this topic well enough) the ones we should use, or could you provide images of what it should look like, in case they are from the document page?

[2021-03-08 00:11] toggenation opened #9266 "MaxInactivityTimeDeviceLock Documentation incorrectly specifies seconds instead of minutes"
Hi Trying to use

./Device/Vendor/MSFT/Policy/Config/DeviceLock/MaxInactivityTimeDeviceLock

The documentation says time in seconds but I think it should be minutes.

![image](https://user-images.githubusercontent.com/4483692/110260027-afa24480-7ffe-11eb-8292-407cbd64ee7b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-03-08 04:22] DASCert opened #9268 "MS Safety Scanner shoots first, asks questions later"
Dear Microsoft.

If I wanted to be treated like an incompetent idiot, I'd buy iOS devices.  I don't ... and I don't.

I ran Microsoft Safety Scanner v1.0.3001.0 today and it identified some files which it thought I shouldn't have.  But it didn't ask me, before removing them, and it didn't give me the opportunity to investigate them.  For example, I would have liked to have known the date/time stam

[2021-03-08 06:45] illfated commented on #9268
As much as I have sympathy for that kind of issue happening to you, it is still a support issue or some form of complaint to the developers. Although I am not a Microsoft employee or part of the MS Docs team of technical writers, I still find your description to be less useful here in a documentation repository, intended for documentation improvement based on the current state of Windows and its a

[2021-03-08 06:51] maximvelichko commented on #9265
@ConstantinLorenz 's screenshots look great. I would use them as is.

As a full disclosure, I haven't tested this configuration end to end myself.

[2021-03-08 06:58] illfated commented on #9265
Fair enough. I believe there is at least 1 PR targeting this page for a different issue, so there is still some time to do some research, before creating a PR where it is less likely to end up with a file conflict.

[2021-03-08 07:35] nam31 commented on #9268
@DASCert
Thank you for providing feedback.
Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience, you could add your feedback via the [Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). You might find others have made a

[2021-03-08 07:35] #9268 closed

[2021-03-08 08:23] DASCert commented on #9268
Hello again.

The Microsoft Web Site  (docs.microsoft.com), which contains a page relating to the Microsoft Safety Scanner, had two links at the bottom of the page which appears to be an attempt to address the situation when a user wishes to "Submit and view feedback for "this product" and "this page".

Both links resolved to this site.

If this is not the correct place to post the solicited feedb

[2021-03-08 08:43] ConstantinLorenz commented on #9265
Hi, I have made better screenshots. I have translated the content of the notif.mobileconfig into the Jamf Notifications Feature.  You can use them now.

![image](https://user-images.githubusercontent.com/62985896/110295689-afe81300-7ff1-11eb-9be6-e4f8ac68ec2b.png)

![image](https://user-images.githubusercontent.com/62985896/110296183-503e3780-7ff2-11eb-9e37-65f14b877305.png)

[2021-03-08 09:20] trudolf-msft opened #9269 "Add SHA256 hash"
Please add SHA256 hashes to this page.
Security aware customer need this to fulfil national requirements (clean source principal).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5bb1ce3-9128-5385-4417-d22eb5f8cb77
* Version Independent ID: cb6ba731-a2c2-e9b9-7c3e-db781b1b5222
* Content: [Microsoft Safety Scanner Downl

[2021-03-08 11:44] MikeParker365 opened #9270 "Typo in the URL"
Disable spelt incorrectly in the URL please update :-)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e70a68f-210c-b27a-3224-2cfd80028e60
* Version Independent ID: c6a94ff0-9ab2-cd09-c053-e09304d0d16a
* Content: [Policy CSP - Connectivity - Windows Client Management](https://docs.microsoft.com/en-gb/windows/client-man

[2021-03-08 14:14] ramesamer opened #9271 "ramesamer"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b706f0af-d504-a8ca-7c38-b8bb9283bfad
* Version Independent ID: 14f31acf-9f47-59a6-269f-62ab249fe560
* Content: [Servicing stack updates (Windows 10) - Windows Deployment](https://docs.microsoft.com/en-us/windows/deployment/update/servicing-stack-updat

[2021-03-08 14:27] RAJU2529 commented on #9266
Just now i verified in group poicy editor, and i  conformed  time is in seconds only.

Policy setting: Interactive logon: Machine inactivity limit

Location in the Local Security Policy snap-in:

Computer Configuration/Windows Settings/Security Settings/Local Policies/Security Options/

[2021-03-08 14:36] RAJU2529 commented on #9270
@MikeParker365 , Thanks for pointing out, at first i fix  the word  disble  in this article, afterwards, Microsoft documentation team will  fix in url.

[2021-03-08 14:54] RAJU2529 commented on #9271
@e0i  look in this issue #9271  , this must be colsed

[2021-03-08 17:10] joinimran commented on #9266
@toggenation - Can you please share any screenshot showing that this input is required in Mins instead of seconds.

[2021-03-08 18:35] illfated commented on #9268
Very well, fair enough. That is your privilege. Thanks for the feedback. I can always wish that there would be better solutions in place everywhere, working optimally, but, alas, we don't live in an ideal world and therefore often find ourselves at a loss. Thank you for sharing your perspective of the issues.

[2021-03-08 19:32] illfated commented on #9270
(ref. #9272 )

[2021-03-08 19:56] illfated commented on #9271
invalid ticket content.

#please-close

[2021-03-08 21:23] toggenation commented on #9266
From here => https://docs.microsoft.com/en-us/windows/client-management/mdm/devicelock-csp it specifies minutes
![image](https://user-images.githubusercontent.com/4483692/110382257-c011f800-80ae-11eb-9616-e9e0da820a39.png)

But here => https://docs.microsoft.com/en-us/windows/client-management/mdm/policy-csp-devicelock#devicelock-maxinactivitytimedevicelock it specifies seconds.

![image](https://

[2021-03-08 22:20] #8531 closed

[2021-03-08 22:22] levinec commented on #8531
I closed this issue because it seemed resolved. @Felix-B1 please comment here if you think this issue still needs work.

[2021-03-08 22:24] levinec commented on #9058
This issue seems to be resolved with the redirect, so I'm closing the issue.

[2021-03-08 22:24] #9058 closed

[2021-03-08 23:08] levinec commented on #9176
Hi @jsyfib, thanks for pointing this out! I'll work on getting the doc updated.

[2021-03-08 23:46] levinec commented on #9079
@SergGu
For #1, it looks like you went to "Microsoft\Windows Defender Advanced Threat Protection" instead of "Microsoft\Windows Defender". Windows Defender is one folder below.

For #2, this seems to be connected to the new attack surface reduction ["Warn" mode](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/attack-surface-reduction#warn-mode-for-users)

[2021-03-09 05:26] #9271 closed

[2021-03-09 17:10] chiners68 opened #9278 "Steps order"
Hi,
I have just been through this guide, when I got to step 3, setting up DLP policies, I then got stuck. When setting the polices based on the templates, you have to set a number of indicators. but you cannot set these in the policy unless you have configured them in step 4 Configure Insider Settings. So DLP needs to be after section 4, not before.

---
#### Document Details

⚠ *Do not edit this

[2021-03-09 17:12] #9278 closed

[2021-03-09 17:35] import-au opened #9279 "Sparse File Documentation links to 404"
The link for Sparse Files in the getfile note is a 404.

Current Redirects to:
https://docs.microsoft.com/en-us/windows/desktop/fileio/sparse-files/

Probably should go to maybe?
https://docs.microsoft.com/en-us/windows/win32/fileio/sparse-files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8c6bee9-e792-395d-0b9c-b46

[2021-03-09 18:17] RAJU2529 commented on #9279
@import-au , Thanks for pointing out.

[2021-03-09 18:23] illfated commented on #9279
(ref. #9280 )

[2021-03-09 22:05] nickandre10x opened #9281 "Broken windows update script links"
Your two links to `Reset Windows Update Client settings` script and `Reset Windows Update Agent` script are both broken nor are the resources readily searchable. Would be nice to have those.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Independent ID: 599aea76-47e4-dccc-

[2021-03-10 00:05] secdev-01 opened #9282 "Correction / Clarification on Scripting Host."
`This does no apply to scripting engines, including Powershell`

Should likely read

`This does _not_ apply to scripting engines, including Powershell`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 054326d9-bae7-e73f-c250-735f3863c32a
* Version Independent ID: f4b3c1fc-695b-2ba5-d5fe-747a9414441c
* Content: [Customize

[2021-03-10 00:33] null1984 opened #9283 "Insecure login option..."
[I hope this reaches the correct page and displays properly. Potentially serious problem here. I like this article alot, you certainly are speaking my language, not that anything new was learned, but nice to see someone who sees things as I do. I especially like the part where you advocated use of a device specific PIN, rather than an account-wide password, which I consider to be extremely insecur

[2021-03-10 02:14] RAJU2529 commented on #9281
@nickandre10x . This issue is already esculated by other user and Microsoft team is working on new host location. so please close this issue.

[2021-03-10 02:19] RAJU2529 commented on #9282
@secdev-01 . Thanks for pointing out.

[2021-03-10 02:28] RAJU2529 commented on #9283
@null1984 . If your device comes with finger print reader or fingerprint scanner, then Windows will ask the users to setup fingerprint reader to set-up finger print and then it will ask to setup PIN..
my laptop does not came fingerprint reader, so I bought usb finger print reader it just like scandisk ultra pendrive size only.
and I completed setup fingerprint and PIN .

[2021-03-10 10:23] VLG17 commented on #9115
Details about the script are referenced in the Defender Security Center Page. I think adding a note about that in the article could help, what do you think?

![image](https://user-images.githubusercontent.com/41186174/110614755-53c0f280-819b-11eb-8134-2ea9385aa3bb.png)

[2021-03-10 10:57] phillhocking opened #9287 "Links to scripts referenced in this article are broken and go to a search"
Hello, I came upon some Windows update issues and noticed that the links referencing specific scripts are not found and redirect to a [Browse Code Samples](https://docs.microsoft.com/en-us/samples/browse/?redirectedfrom=TechNet-Gallery) page that does not have these scripts as hits.

![image](https://user-images.githubusercontent.com/4030898/110619045-3284e580-814c-11eb-8186-044921be767f.png)

---

[2021-03-10 11:13] desinnic opened #9288 "Additional Points on Licensing"
[Hello I am an SEE working at Microsoft and often work with Customers on SA cases. I was looking to request some information added to make a specific point for customers. We often see the customers misunderstanding the licensing prerequisites for Subscription Activation. We often see customers failing to license Windows 10 Pro or assuming that you only need an SA license to fully license Windows.

[2021-03-10 14:02] #9152 closed

[2021-03-10 17:19] #8874 closed

[2021-03-10 17:23] JeremyTBradshaw commented on #6522
I wish @tc-mivh 's question had been answered.  I also wish this docs page was physical paper so I could tear it up.  It is hard not to get frustrated when you see the documentation be left unclarified and uncertain even within Microsoft.  Might as well not even have this Policy CSP setting since nobody knows for certain how it's supposed to work, or how it actually does work.

[2021-03-10 17:33] JeremyTBradshaw commented on #9070
@karandiwan / @joinimran @nam31 @denisebmsft Can I please add the question to this issue - has this other MS Docs page been archived in error?: https://github.com/MicrosoftDocs/IntuneDocs/blob/master/intune/fundamentals/resolve-gpo-and-microsoft-intune-policy-conflicts.md

It has been referenced in #6482 but no longer can the docs.microsfot.com version of the link be accessed.  It seems like that

[2021-03-10 18:08] msft-jaiverma opened #9292 "DC Discovery process for Windows Hello for Business"
[Enter feedback here]

In a large enterprises, DCs are not located in single site. It appears that DC Discovery process is different for WHfB clients and it does not use DCLocator process. it is useful if DC Discovery process is defined in greater details, so that we can plan domain controller placement site wise.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-03-10 21:21] illfated commented on #9281
Duplicate of issues #4930, #9104, #9216, #9237, and #9287 .

[2021-03-10 21:21] denisebmsft commented on #9282
Thank you @secdev-01 for catching these typos. They are fixed, and you will see the revisions live later today. Thank you for helping us to improve our documentation!

[2021-03-10 21:21] #9282 closed

[2021-03-10 21:22] illfated commented on #9237
Duplicate of issues #4930, #9104, #9216, #9281, and #9287 .

[2021-03-10 21:26] illfated commented on #9287
Duplicate of issue tickets #4930, #9104, #9216, #9237, and #9281 .

[2021-03-11 12:10] #8913 closed

[2021-03-11 13:23] e0i commented on #8928
Fixed in https://github.com/MicrosoftDocs/windows-itpro-docs/commit/0a45c0a88462083eaaee98f8dc5a429dda727933

[2021-03-11 13:23] #8928 closed

[2021-03-11 13:50] #9224 closed

[2021-03-11 13:57] Typhoon87 commented on #5384
Checking for any other updates in this one? Has such a doc been released yet?

[2021-03-11 14:19] #9150 closed

[2021-03-11 19:34] GreggRevak opened #9295 "Broken link"
There is a broken link in the text:
For Azure AD enrollment to work for an Active Directory Federated Services (AD FS) backed Azure AD account, you must enable password authentication for the intranet on the ADFS service as described in solution #2 in this article.  The link referenced by the text "this article" (https://go.microsoft.com/fwlink/?LinkId=690246) is not found.

---
#### Document Deta

[2021-03-11 20:57] illfated commented on #9295
- https://go.microsoft.com/fwlink/?LinkId=690246

The page can not be found, even when logged in on a Microsoft account, so we may as well just consider removing that reference with the link in it.

[2021-03-11 20:59] illfated commented on #9295
https://docs.microsoft.com/windows/client-management/mdm/azure-active-directory-integration-with-mdm#integrated-mdm-enrollment-and-ux
https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/windows/client-management/mdm/azure-active-directory-integration-with-mdm.md#integrated-mdm-enrollment-and-ux

For Azure AD enrollment to work for an Active Directory Federated Services (AD FS) backed A

[2021-03-11 21:29] GreggRevak commented on #9295
The content in the link is important and must be found as it is an integral part of the configuration process being detailed in the document. I suggest finding the reference, not just removing it.

[2021-03-12 02:05] kahosoka opened #9297 "Regarding the "Configure removal of items from Quarantine folder" Value "Default setting""
[Enter feedback here]
Hello Team,

We would like you to revise the "Configure removal of items from Quarantine folder" value for "Default setting".
At present, it is described as "Never removed", but actually "90" is set when it is confirmed from the get-MpPreference command.
This should indicate that the default value is "Delete after 90 days".

Get-MpPreference Result:
PS C:\WINDOWS\system32> Ge

[2021-03-12 04:12] nam31 commented on #8989
Closing via #9042
Thank you

[2021-03-12 04:12] #8989 closed

[2021-03-12 04:14] nam31 commented on #9132
Closing via #9178
Thank you

[2021-03-12 04:14] #9132 closed

[2021-03-12 04:15] nam31 commented on #9155
Closing via #9240
Thank you

[2021-03-12 04:15] #9155 closed

[2021-03-12 10:47] RAJU2529 commented on #9297
@kahosoka . Thanks for pointing out. I will investigate soon and I willl change in article if necessary.

[2021-03-12 11:02] RAJU2529 commented on #9297
@kahosoka, what you said is correct, i checked through the group policy editor, the default setting is 0, but when I checked through PowerShell default is  90.

again i configured to 30 days in GPO and then checked through PowerShell it shows 30 days.

[2021-03-12 12:47] YulelogPagoda opened #9300 "Section of what data is collected by MDE"
I'm sitting on the phone with a bank that wants to use this product and we've had four or five calls talking about data handling.... they want to have this data in very clear terms.

_"file data (such as file names, sizes, and hashes)"?_
does that mean the files will be collected?
_"process data (running processes, hashes)"_
does this mean the process memory?

This kind of stuff has to be very spe

[2021-03-12 13:02] #7942 closed

[2021-03-12 13:40] e0i commented on #9151
Closing via https://github.com/MicrosoftDocs/windows-itpro-docs/issues/9199#issuecomment-786694081

[2021-03-12 13:53] #8924 closed

[2021-03-12 20:03] denisebmsft commented on #9300
Hello @YulelogPagoda! Can you please tell us to which article(s) your feedback applies?

[2021-03-12 21:08] YulelogPagoda commented on #9300
https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/data-storage-privacy

[2021-03-12 21:41] denisebmsft commented on #9300
@YulelogPagoda thank you!

[2021-03-13 07:50] illfated commented on #9295
(ref. #9299 )

[2021-03-13 08:37] #6360 closed

[2021-03-13 08:39] #8974 closed

[2021-03-13 08:41] #8971 closed

[2021-03-13 09:29] #8703 closed

[2021-03-13 10:59] #6677 closed

[2021-03-13 11:00] #8739 closed

[2021-03-13 11:03] #8075 closed

[2021-03-13 15:30] donguish opened #9302 "LogonCommand Directive is not updating Microsoft Edge when container is initialized"
The [Windows Sandbox Config page](https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-sandbox/windows-sandbox-configure-using-wsb-file) explains at [Logon command](https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-sandbox/windows-sandbox-configure-using-wsb-file#logon-command) how to specify the directive to execute a script inside the container af

[2021-03-14 18:31] e0i commented on #9302
Hello,

Looks like this question can best be answered via relevant [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10) channels.

Please consider checking with [Microsoft Community](https://answers.microsoft.com/en-us/windows/forum/windows_10) or [contacting support](https://support.microsoft.com/contactus) for your problem; The issues section of this r

[2021-03-14 18:31] #9302 closed

[2021-03-15 03:17] shubhamjain1704 opened #9304 "Broken Links on the page"
[Enter feedback here]
Reset Windows Update Client settings script and Reset Windows Update Agent script have broken links to technet website which redirects to https://docs.microsoft.com/en-in/samples/browse/?redirectedfrom=TechNet-Gallery.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549

[2021-03-15 06:38] RAJU2529 commented on #9304
@shubhamjain1704 . all broken links in this article are already been esculated by other users. Microsoft documentation team working for new hosting site to upload

[2021-03-15 06:42] RAJU2529 commented on #9304
@e0i .  I am going to add note in this article, about Microsoft documentation team is working on new hosting site to upload files.

[2021-03-15 12:04] VLG17 commented on #9269
@trudolf-msft Is the note in the article not enough? Would you like to add more details about SHA-256?

![image](https://user-images.githubusercontent.com/41186174/111150926-65d5d300-8597-11eb-883b-efa559fb4e7e.png)

[2021-03-15 12:06] trudolf-msft commented on #9269
Hi,

My customer is looking for the exact SHA256 hash of the downloaded files to verify authencity.

Kind regards,
Thomas
________________________________
From: VLG17 ***@***.***>
Sent: Monday, March 15, 2021 13:05
To: MicrosoftDocs/windows-itpro-docs ***@***.***>
Cc: Thomas Rudolf ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Add SHA256 hash (#9269)

@trudolf-

[2021-03-15 13:05] RAJU2529 commented on #9304
@nam31 . I already created PR for this issue #9305 . so please look into this PR

[2021-03-15 13:43] angelo-b-sys opened #9307 "unable to see the warn mode option for attack surface reduction rules"
[I'm unable to see the warn mode option for attack surface reduction rules. I'm using Microsoft endpoint manager admin center service release 2102
https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/attack-surface-reduction#warn-mode-for-users]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-03-15 17:41] #9281 closed

[2021-03-15 19:22] Treah opened #9309 "Defender ATP on OSX 11.2"
Hey all I am sure you are aware of this but the information about fixing this issue says to run the below command.
`sudo kextutil /Library/Extensions/wdavkext.kext`

on my system at least the above wdavkext.kext does not exist on the system to be able to run. Not sure if this is the version of the OS or the version of ATP that we are using.

---
#### Document Details

⚠ *Do not edit this section.

[2021-03-15 20:03] illfated commented on #9287
#please-close

[2021-03-16 00:38] kahosoka commented on #9297
@RAJU2529 Thank you for your response!
When I checked the GPO, it was surely "0".
Checked the "MPSupportFiles.cab" contained in "MPRegistry.txt".
As a result, in the default state, "90" was registered in PurgeItemsAfterDelay of effective policy.
Therefore, we understand that the default value is not "Never removed" but "90".

[2021-03-16 00:40] illfated commented on #9269
I presume most of us could use an online tool (I used https://emn178.github.io/online-tools/sha256_checksum.html) or installed app to verify the checksum(s) of our downloaded file(s), but for that to be secure, I also presume we would need the uploading personnel to have produced the checksums on files before uploading, as well as posting the verified checksums to the same page as the uploads.

Ex

[2021-03-16 01:09] beerisgood commented on #9269
Or use https://www.virustotal.com/gui/home/upload
which display MD5, SHA1, SHA256 under details tab

[2021-03-16 06:57] trudolf-msft commented on #9269
Hi,

Thanks.
It's not about how to calculate or check the hash but to publish on this website.
Like we do it for Security Updates on the corresponding download page.

Kind regards,
Thomas
________________________________
From: Trond B. Krokli ***@***.***>
Sent: Tuesday, March 16, 2021 1:40:57 AM
To: MicrosoftDocs/windows-itpro-docs ***@***.***>
Cc: Thomas Rudolf ***@***.***>; Mention ***@***.***>

[2021-03-16 10:43] hyoshioka0128 opened #9312 "Typo "[プロパティ]****"→"**\[プロパティ]**""
Typo "[プロパティ]****"→"**\[プロパティ]**"

ja-jp: "https://docs.microsoft.com/ja-jp/windows/security/threat-protection/auditing/apply-a-basic-audit-policy-on-a-file-or-folder"
![apply-a-basic-audit-policy-on-a-file-or-folder_j](https://user-images.githubusercontent.com/40815708/111296372-c0525a80-868f-11eb-9067-b25b8aebd54b.png)

en-us: "https://docs.microsoft.com/en-us/windows/security/threat-protection/

[2021-03-16 13:22] lindspea commented on #9252
@JelmerBarhorst thank you for reaching out. I found this old article regarding RDSH - https://techcommunity.microsoft.com/t5/ask-the-performance-team/remote-desktop-services-rds-2012-session-deployment-scenarios/ba-p/375596. I'm still doing some more research but please let me know if it helps at all.

[2021-03-16 13:25] lindspea commented on #9254
@Ladmo007 thank you for reaching out. Please have a look at this article and let me know if it helps - https://docs.microsoft.com/sql/relational-databases/security/permissions-database-engine?view=sql-server-ver15

[2021-03-16 16:36] JelmerBarhorst commented on #9252
@lindspea Thanks for the article, but I can't see any references to Defender for Endpoint (or it's previous name) in that article.

[2021-03-16 17:57] denisebmsft commented on #9312
@TinaMcN can you please take a look at this?

[2021-03-16 18:13] TinaMcN commented on #9312
@hyoshioka0128 thanks for reporting it.  It is a known issue with the Machine Translation tool that *'s incorrectly appear in some content.  I hope we'll have a fix for this issue soon but in the meantime I sent this article to be human translated and it should be complete in approx. 3 days.

[2021-03-16 19:30] illfated commented on #9269
Yes, that is more or less one of my points in my previous comment, but I guess it was not obvious enough. It would be wise to publish SHA checksums for any file download, not just the security software.

[2021-03-16 19:55] illfated commented on #9252
I know it may seem difficult to tell, but the main thing to be aware of is clearly pointed out in one of the Note blobs:

Customers may acquire server licenses (one per covered server Operating System Environment (OSE)) for Microsoft Defender for Endpoint for Servers if they have **a combined minimum of 50 licenses** for one or more of the following user licenses:

- Microsoft Defender for Endpoin

[2021-03-16 20:32] illfated commented on #9309
Maybe you have not approved the extension, thereby making it denied by the OS?

[2021-03-16 20:33] illfated commented on #9309
(See also https://github.com/MicrosoftDocs/windows-itpro-docs/issues/8353#issuecomment-732388278)

[2021-03-16 21:03] TrevorWesterdahl opened #9315 "Script links go nowhere"
The script links go nowhere. Please provide valid links.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 886426b5-8548-1cfc-ccd2-fd03e549c967
* Version Independent ID: 599aea76-47e4-dccc-799c-2d8acf549546
* Content: [Windows Update - Additional resources - Windows Deployment](https://docs.microsoft.com/en-us/windows/dep

[2021-03-16 21:23] illfated commented on #9315
Duplicate of issue ticket #4930, #9104, #9216, #9237, #9287, and #9304.

The resolution of this issue is currently a work in progress, and has been so for a while.

Please visit the other linked tickets to look for the progress status.

#please-close

[2021-03-16 21:25] illfated commented on #4930
(ref. #9104, #9216, #9237, #9287, #9304, #9315)

[2021-03-16 21:27] illfated commented on #9104
(ref. #4930, #9195, #9216, #9237, #9218, #9287, #9304, #9315)

[2021-03-16 21:59] jaimeo commented on #9315
I finally got some needed info from SMEs--hope to redo this article tomorrow.

[2021-03-17 00:00] mschwarz85018 opened #9316 "Regarding "options""
Why does this page state this:
"if you have selected the option to automatically download updates" and
"When the option to automatically install updates is configured"?
I have never found that setting these options has any effect.  Microsoft seems to force the updates on people, regardless of how they set these.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-03-17 08:48] hyoshioka0128 opened #9317 "[LOC]Fixed inappropriate japanese "マルウェアと他の&について"→"マルウェアとその他の脅威について""
[LOC]Fixed inappropriate japanese "マルウェアと他の&について"→"マルウェアとその他の脅威について"

ja-jp: "https://docs.microsoft.com/ja-jp/windows/security/threat-protection/intelligence/understanding-malware"
![understanding-malware_j](https://user-images.githubusercontent.com/40815708/111439632-e8ea5b00-8748-11eb-9b7f-262a828770ce.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

[2021-03-17 09:51] hyoshioka0128 opened #9318 "Broken "Left pane""
Broken "Left pane"

ja-jp: "https://docs.microsoft.com/ja-jp/windows/security/threat-protection/auditing/event-4670"
![event-4670](https://user-images.githubusercontent.com/40815708/111448441-c14bc080-8751-11eb-8b4e-8e2246c094a6.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: e5862cc7-3f36-5f2e-9ade-f7441f99f818
* Version Independent ID: b8bd1985

[2021-03-17 12:05] ste7677 commented on #9281
This is CRITICAL - Please provide the scripts SOMEWHERE!

All our Windows 2016 servers broken due to windows update errors. Active directory and exchange server down.

[2021-03-17 13:00] AndyODFO commented on #6750
This is still a problem and the regedit above does not solve it. It does not turn off DMA kernel protection, which is causing our Thunderbolt devices to disconnect. (Sonnet Echo chassis with a Blackmagic Design Decklink Quad 2 inside)
We also have a Lenovo laptop, a Legion 7. Lenovo has removed the option to disable Kernel DMA protection from the UEFI bios and removed the possibility of accessing

[2021-03-17 15:58] natedogith1 opened #9320 "zip file doesn't contain file instructions expect"
The instructions state that the downloaded zip will contain mdatp_onboarding.json, but after downloading I find it contains MicrosoftDefenderATPOnboardingLinuxServer.py which seems to create the json file when run.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 623e0469-826c-5cdf-6dc4-67c80e232d0f
* Version Independent

[2021-03-17 16:09] jaimeo commented on #9316
@arcarley can you advise? It seems this person is experiencing different behavior than the settings are supposed to provide.

[2021-03-17 16:35] jaimeo commented on #9281
@ste7677 the SMEs I've been working with will be contacting you to investigate your issue.

[2021-03-17 16:39] joinimran commented on #8912
Hello @UTTAM7395 - Is it possible for you to share the updated screenshots?

[2021-03-17 16:47] #8551 closed

[2021-03-17 16:48] #8408 closed

[2021-03-17 16:48] #8929 closed

[2021-03-17 17:00] ixtlanian commented on #8551
I would like to check that this was closed correctly.
**Obtain an impersonation token for another user in the same session** was indeed added to the list of User Rights.
However, the hyperlink on that item leads to the article on **Impersonate a client after authentication**, which is a different User Right.

[2021-03-17 17:47] kgold2 opened #9322 "Is this 1.2 or 2.0"
I wonder if this page is for TPM 1.2.  I have TPM 2.0 and I don't see a way to change the owner password.  BTW, it's not a random number.  It's empty.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c91ae55-29b0-a5e1-b715-a72ac4270050
* Version Independent ID: a102db60-b94c-573a-6ba9-9970d9ac5b44
* Content: [Change the

[2021-03-17 18:08] illfated commented on #9318
EN-US page: https://docs.microsoft.com/en-us/windows/security/threat-protection/auditing/event-4670

Ja-JP page: https://docs.microsoft.com/ja-jp/windows/security/threat-protection/auditing/event-4670

The Japanese page definitely shows an overlay issue from the left side pane into the rest of the page, making it close to impossible to report from the exact page in question.

The manual text box "

[2021-03-17 18:20] illfated commented on #9318
The page seems to be so badly broken, that even when using the \<Tab\> key to skip between linked parts of the main document on the page, there does not appear to be any Tab index entry for the button shown as
![image](https://user-images.githubusercontent.com/38162891/111517738-b09d4980-8755-11eb-97f4-35a3532e0c50.png)
at the bottom of the page https://docs.microsoft.com/ja-jp/windows/security/th

[2021-03-17 18:22] illfated commented on #9318
@TinaMcN : Could you ask the Machine Translation team check if it would be possible to restore the default functionality in this Japanese page?

[2021-03-17 19:26] illfated commented on #9209
Just as a comparison, if that text had been placed in an article page on Wikipedia, it would automatically be tagged as [Citation needed] as a request to add a valid reference.

[2021-03-17 19:46] TinaMcN commented on #9318
@hyoshioka0128 thank you for reporting this issue.  It is happening not just for Japanese but the other languages too.  @illfated I have seen this kind of issue before and it's most likely caused by an invalid html bold tags in the English content, probably left over from when this content was migrated from .html to .md format.
![image](https://user-images.githubusercontent.com/53281468/111528654-

[2021-03-17 23:31] mailinglists35 opened #9325 "Explain why did Microsoft changed defaults"
Please explain in detail the reasoning of changing default behaviour (NT/2000 workstations required ctrl alt del, xp and up no longer required ctrl-alt-del)

I never understood why did Microsoft made this flip of defaults. It would make a very interesting read if you could explain how you all sat down and decided that you would no longer show "press ctrl-alt-del to logon" on login screen.

Was it

[2021-03-18 06:36] lindspea commented on #9252
Thanks @illfated. @JelmerBarhorst please let me know if this helped answer your question.

[2021-03-18 07:37] JelmerBarhorst commented on #9252
@illfated thanks, but how to license servers in general was not the question, that is clearly explained. However, the question was regarding RDSH. It's not logical to license both users and the underlying VM. With Win10 multi-user it is also not required to license the VM, only the users are required to have a license which makes sense.

One could argue that a) RDSH vm's do not require a separate

[2021-03-18 08:40] NicklasHalme opened #9326 "Use Microsoft Endpoint Manager to turn on cloud-delivered protection steps are totally wrong"
The title and steps for turn on cloud-delivered protection in Microsoft Endpoint Configuration Manager is totally wrong.
Should be something like this:

TITLE: Use Microsoft Endpoint Configuration Manager to turn on cloud-delivered protection
STEPS:
Open the Microsoft Endpoint Configuration Manager console.
Navigate to \Assets and Compliance\Overview\Endpoint Protection\Antimalware Policies.
Selec

[2021-03-18 09:55] adirdidi commented on #8932
The issue with the filter was fixed.

[2021-03-18 09:55] #8932 closed

[2021-03-18 10:54] nam31 commented on #9270
Closing via #9272
Thanks

[2021-03-18 10:54] #9270 closed

[2021-03-18 10:54] archeon1004 commented on #9202
@denisebmsft Any news when to expect the update? 😄

[2021-03-18 11:02] nam31 commented on #9297
Closing via #9314
Thanks

[2021-03-18 11:02] #9297 closed

[2021-03-18 12:32] davwheat commented on #9209
I'd personally interpret an unsubstantiated claim as an error that should be backed up in some form or removed.

[2021-03-18 13:17] angelo-b-sys commented on #9307
Hi
I found the setting. I assumed it was under the endpoint protection, configuration profile. It was in fact under Endpoint protection, policy.

[2021-03-18 13:17] #9307 closed

[2021-03-18 17:48] illfated commented on #9318
Thank you very much, that is an excellent point. Sure thing, I can make a PR to suggest a removal of the invalid tags.

[2021-03-18 18:54] illfated commented on #9318
There you go. PR #9328 is ready for review, comments, and suggestions.

[2021-03-18 19:25] ritz301 commented on #9281
We would need WU logs to investigate the issues your machines are facing. I would recommend filing logs via feedback hub under _Install and Update > Downloading, installing, and configuring Windows Update_.

[2021-03-18 20:10] Treah commented on #9309
Looked at that and the user never got back to you. Oddly mine kinda worked it self out without me having to do anything as defender went to a good status no longer complaining about a missing extension. So I think when the OS updates which they have been doing a lot recently it breaks the kernel extension or something and then gets reloaded down the line. I will check my good running system to see

[2021-03-18 21:49] e0i commented on #5384
Hello, @Typhoon87

According to the internal sources, there are planned changes coming up this Summer that are going to be documented and hence the current article is already going to be depreciated.

Thank you for your feedback and following up on this.

[2021-03-18 21:49] #5384 closed

[2021-03-18 22:18] SergGu opened #9329 "customer_tenant_id switch support for the new Microsoft 365 security portal"
Security Center https://securitycenter.windows.com?tid=customer_tenant_id is working fine as documented. But we can not find a similar option for a new https://security.microsoft.com/ portal. Is there an option for the new Microsoft 365 security portal?
Please document if available or note down that this feature does not exist today.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edi

[2021-03-18 23:14] SergGu commented on #9329
After some testing i found [https://security.microsoft.com?tid=customer_tenant_id](https://security.microsoft.com?tid=customer_tenant_id) working for a new Microsoft 365 security portal, but not every time. The browser need to be freshly opened and "clean" of previous login sessions.

[2021-03-19 04:04] obaidanwarshaikh opened #9331 "missing update sources"
The excel sheet containing update sources/URLs is missing a few critical update sources:

Windows Defender (MpCmdRun.exe)
definitionupdates.microsoft.com
go.microsoft.com

Reference: https://docs.microsoft.com/en-us/windows/privacy/manage-windows-1803-endpoints#windows-defender

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-03-19 04:06] obaidanwarshaikh commented on #9331
this is the document that needs updating: https://download.microsoft.com/download/8/a/5/8a51eee5-cd02-431c-9d78-a58b7f77c070/mde-urls.xlsx

[2021-03-19 05:11] RAJU2529 commented on #9322
@kgold2 . TPM v1.2

[2021-03-19 07:36] RAJU2529 opened #9333 "i am going to edit"
after reading this article, I want to afd links , making bold sentences.
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f25443de-57f4-c8f2-fecb-f58714467894
* Version Independent ID: 1d783d00-ae0d-3eea-9a32-b42dd32e73c2
* Content: [Use the command line to manage Microsoft Defender Antivirus - Windows security](https://docs.

[2021-03-19 08:35] Ladmo007 commented on #9254
No, i am not referring to general sql server permissions usage.

What I need is to know what minimum permissions at the database level are
required to install and operate the Microsoft VAMT (Volume Activation
Management Tool) tool?

Regards

El El mar, 16 de marzo de 2021 a la(s) 7:25, Lindsay <
***@***.***> escribió:

--

Luis Arturo Díaz Montes de Oca