[2022-09-02 13:47] roaima opened #10822 "YouTube video inaccessible"
The video in the section "Autopilot registration using MSfB" is marked as private and unavailable to view.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcc63299-cc1c-e031-deb7-915914b8f94e
* Version Independent ID: 356eaba5-16b0-952f-fc19-c8d5be5feb5f
* Content: [Demonstrate Autopilot deployment - Windows Deployment]

[2022-09-02 15:49] baardhermansen opened #10823 "Incorrect statement regarding subscription activation?"
Hi

In the table towards the top of the page, subscription activation is listed as a dynamic deployment.
However, further down the page, under the heading _Windows 10 Subscription Activation_ it states

The statement seems to be incorrect, or at least to use an unfortunate wording which could lead to confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-09-04 05:31] hereCOMESlappy commented on #577
Did this ever happen? Also I can't find any docunetation whatsoever that shows how to enable managed installers using AppLocker CSP.

[2022-09-05 08:48] markoshea1212 opened #10825 "MCC for Enterprise and Education errors and suggestions"
Hi

A couple of suggestions for this page.

In the "Enterprise requirements for MCC" and "If you're installing MCC on a local virtual machine:" sections - it would be good to have a section here specifying the OS versions/features required  for the VM host. Even though there are links to the articles to enable Hyper-V on Windows 10 and Windows Server, it would be good to see the recommended versio

[2022-09-06 00:23] Marphh opened #10830 "doont wokr"
[Enter feedback here]
did absolutely nothing bruh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6df748e4-5411-9c17-ad97-0a4fc43dc481
* Version Independent ID: 714fb464-896f-6c5b-edbf-573c0bff13a4
* Content: [Breaking out of a BitLocker recovery loop - Windows security](https://docs.microsoft.com/en-us/windows/security

[2022-09-06 16:35] pcamh opened #10831 "ADMX_WindowsExplorer/EnableSmartScreen is incorrectly not applying due to a licensing rejection under Windows 11 Business"
ADMX_WindowsExplorer/EnableSmartScreen is incorrectly not applying due to a licensing rejection under Windows 11 Business:

MDM PolicyManager: Policy is rejected by licensing, Policy: (EnableSmartScreen), Area: (ADMX_WindowsExplorer), Result:(0x82B00006) Unknown Win32 Error code: 0x82b00006.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-09-06 16:38] pcamh opened #10832 "ADMX_NetworkConnections/NC_ShowSharedAccessUI is incorrectly not applying due to a licensing rejection under Windows 11 Business"
ADMX_NetworkConnections/NC_ShowSharedAccessUI is incorrectly not applying due to a licensing rejection under Windows 11 Business:

MDM PolicyManager: Policy is rejected by licensing, Policy: (NC_ShowSharedAccessUI), Area: (ADMX_NetworkConnections), Result:(0x82B00006) Unknown Win32 Error code: 0x82b00006.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-09-06 16:40] pcamh opened #10833 "ADMX_Power/PW_PromptPasswordOnResume is incorrectly not applying due to a licensing rejection under Windows 11 Business"
ADMX_Power/PW_PromptPasswordOnResume is incorrectly not applying due to a licensing rejection under Windows 11 Business:

MDM PolicyManager: Policy is rejected by licensing, Policy: (PW_PromptPasswordOnResume), Area: (ADMX_Power), Result:(0x82B00006) Unknown Win32 Error code: 0x82b00006.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-09-06 16:42] pcamh opened #10834 "ADMX_NetworkConnections/NC_StdDomainUserSetLocation is incorrectly not applying due to a licensing rejection under Windows 11 Business"
ADMX_NetworkConnections/NC_StdDomainUserSetLocation is incorrectly not applying due to a licensing rejection under Windows 11 Business:

MDM PolicyManager: Policy is rejected by licensing, Policy: (NC_StdDomainUserSetLocation), Area: (ADMX_NetworkConnections), Result:(0x82B00006) Unknown Win32 Error code: 0x82b00006.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.

[2022-09-06 16:44] pcamh opened #10835 "ADMX_TerminalServer/TS_USER_AUTHENTICATION_POLICY is incorrectly not applying due to a licensing rejection under Windows 11 Business"
ADMX_TerminalServer/TS_USER_AUTHENTICATION_POLICY is incorrectly not applying due to a licensing rejection under Windows 11 Business:

MDM PolicyManager: Policy is rejected by licensing, Policy: (TS_USER_AUTHENTICATION_POLICY), Area: (ADMX_TerminalServer), Result:(0x82B00006) Unknown Win32 Error code: 0x82b00006.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.micr

[2022-09-06 17:25] aczechowski commented on #10822
Thanks @roaima for the feedback, a number of videos were retired recently, I'll remove this one.

[2022-09-06 17:27] aczechowski commented on #10830
Thanks @Marphh for taking the time to share this with the Windows documentation team. I’m sorry that you’re having problems, and I want to make sure it gets to the right people that can help. There are a couple of options available to provide the best level of support for this issue:

- Post to [Windows on Q&A](https://docs.microsoft.com/answers/products/windows). These are moderated by community

[2022-09-06 17:27] #10830 closed

[2022-09-06 17:56] #10822 closed

[2022-09-06 18:04] aliokfi opened #10836 "*"
*

__Originally posted by @aliokfi in https://github.com/openid/AppAuth-iOS/issues/708#issuecomment-1144086652__

[2022-09-07 13:03] L0yy opened #10837 "The hash in the rule is the part of the file that is calculated？"
I can't match the vuln-driven file hash to any format hash in the rule, but it's definitely the same file. So I want to know where the hash value in the rule comes from and how it is calculated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e8740b8-c1f2-4b88-3d4d-66cdbf20215f
* Version Independent ID: 7986a684-b35d-0

[2022-09-07 15:29] aczechowski commented on #10836
I'm assuming this is test or spam, so closing

[2022-09-07 15:29] #10836 closed

[2022-09-07 20:08] jgeurten commented on #10837
Hi @L0yy, the hashes in the rules are PE/Authenticode hash rules. More info on these hashes are found here: https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create#more-information-about-hashes

[2022-09-07 20:43] laurentdelosieresfactorial opened #10838 "CSP for "Update/TargetReleaseVersion""
Hello,

We want to prevent the upgrade from Windows 10 to Windows 11 via CSP. We found the policy "Update/TargetReleaseVersion"; but we did not manage to make it work.

In the WindowsUpdate.admx, they refer to the parameters "ProductVersionId" and "TargetReleaseVersionId". However, in the [Microsoft documentation](https://docs.microsoft.com/en-us/windows/client-management/mdm/policy-csp-update), i

[2022-09-09 00:11] StephendillonMS opened #10840 "Please remove reference to IT as a service as Autopatch doesn't provide this even though it can assist. Thanks."
[Enter feedback here]
Please remove reference to IT as a service as Autopatch doesn't provide this even though it can assist. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cb51c14-5d12-80e0-1c6a-0e02760ef6a3
* Version Independent ID: 3cb51c14-5d12-80e0-1c6a-0e02760ef6a3
* Content: [Privacy - Windows Deploymen

[2022-09-09 15:26] laurentdelosieresfactorial opened #10842 "Connectivity/HardenedUNCPaths's documentation not clear"
Hello Team,

The [documentation of the "Connectivity/HardenedUNCPaths"](https://docs.microsoft.com/en-us/windows/client-management/mdm/policy-csp-connectivity#connectivity-hardeneduncpaths) is not clear to us. It is specified that:

`If you enable this policy, Windows only allows access to the specified UNC paths after fulfilling other security requirements.`

What do they mean by "other security

[2022-09-09 15:52] bitching commented on #9637
@Fei1Yang
I found [a clue here at page 211/212](https://www.manfredhelber.de/wp-content/uploads/Pr%C3%A4sentation-WBSC-Ignite-2019-final.pdf).
It seemd ``Rail Mode`` is an unimplemented feature when announcing, maybe the demo in the video is just a **video**.

@vinaypamnani-msft
It's been half a month, any progress?
If ``Rail Mode`` is still in developing``(although it has been announced for 3 yea

[2022-09-09 17:42] JaLOLOL opened #10843 "feedback"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4edaae97-455b-d25a-9228-5309e24b4aa3
* Version Independent ID: d38e56a7-d553-e519-95a9-dc93e2cdc771
* Content: [Microsoft Defender SmartScreen overview - Windows security](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-d

[2022-09-09 18:02] JaLOLOL opened #10844 "feedback"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4edaae97-455b-d25a-9228-5309e24b4aa3
* Version Independent ID: d38e56a7-d553-e519-95a9-dc93e2cdc771
* Content: [Microsoft Defender SmartScreen overview - Windows security](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-d

[2022-09-09 18:06] JaLOLOL opened #10845 "feedback"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4edaae97-455b-d25a-9228-5309e24b4aa3
* Version Independent ID: d38e56a7-d553-e519-95a9-dc93e2cdc771
* Content: [Microsoft Defender SmartScreen overview - Windows security](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-d

[2022-09-09 18:09] JaLOLOL opened #10846 "feedback"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4edaae97-455b-d25a-9228-5309e24b4aa3
* Version Independent ID: d38e56a7-d553-e519-95a9-dc93e2cdc771
* Content: [Microsoft Defender SmartScreen overview - Windows security](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-d

[2022-09-09 18:11] JaLOLOL opened #10847 "ccccccc"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4edaae97-455b-d25a-9228-5309e24b4aa3
* Version Independent ID: d38e56a7-d553-e519-95a9-dc93e2cdc771
* Content: [Microsoft Defender SmartScreen overview - Windows security](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-d

[2022-09-09 21:52] jerryabo opened #10848 "Define/link to acronyms/components in use for the first time: WAP, MMS, NabSync"
"WAP messages received by the device to internal OS components that process them further: MMS, NabSync, SI/SL. This service doesn't send telemetry."

What's a WAP message? This is an acronym that appears to be undefined. Same for MMS, NabSync.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19461768-ab73-b97c-f754-24e5c

[2022-09-09 22:06] aczechowski commented on #10843
Closing as spam

[2022-09-09 22:06] #10843 closed

[2022-09-09 22:07] aczechowski commented on #10844
Closing as spam

[2022-09-09 22:07] #10844 closed

[2022-09-09 22:07] aczechowski commented on #10845
Closing as spam

[2022-09-09 22:07] #10845 closed

[2022-09-09 22:07] aczechowski commented on #10846
Closing as spam

[2022-09-09 22:07] #10846 closed

[2022-09-09 22:07] aczechowski commented on #10847
Closing as spam

[2022-09-09 22:07] #10847 closed

[2022-09-10 01:09] tiaraquan commented on #10840
@StephendillonMS

Thank you for your feedback. I conferred with the team and we've updated the article accordingly.

[2022-09-10 01:09] #10840 closed

[2022-09-10 01:13] aczechowski commented on #7146
It looks like this issue is fixed at some point along the way. Please reopen if not the case.

[2022-09-10 01:13] #7146 closed

[2022-09-10 12:12] CybernetIL opened #10849 "A problem with apps sector on 'Set up School PC's' app"
Hello,
i recently tried to work with this app but something really weird happened.
When i add my (Global admin) account information,
the 'add apps' sector is just dissapearing.
note that in microsoft education store my account is set as an global admin.
what should i do? the all reason was to set up all the computers with microsoft applications at a glance.
Thank you!

[2022-09-10 17:45] djmahoney99 opened #10850 "Approved Version does NOT exist"
LightSpeed System is NOT even up to version 2.6.2!   Their latest version is 2.2.3.  What was the approved version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76d112f8-f653-f5f5-0fb5-7cd936865b3e
* Version Independent ID: 76d112f8-f653-f5f5-0fb5-7cd936865b3e
* Content: [What is Windows 11 SE](https://docs.microsoft

[2022-09-11 08:32] tuckstarrydell opened #10851 "https://docs.microsoft.com/en-us/education/windows/windows-11-se-overview#add-your-own-apps"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2ca5807-f011-cdd1-eb80-c74655aa4738
* Version Independent ID: fe016307-69a4-ec63-4979-eac841d13c3c
* Content: [Use Set up School PCs app](https://docs.microsoft.com/en-us/education/windows/use-set-up-school-pcs-app#settings)
* Content Source: [educat

[2022-09-11 08:32] tuckstarrydell commented on #10851
#10850

[2022-09-12 12:59] paolomatarazzo commented on #10186
Closing the issue. After talking to the feature PMs, there are no immediate plans to add this level of details to the documentation. It will be considered in the future.

[2022-09-12 12:59] #10186 closed

[2022-09-12 12:59] paolomatarazzo commented on #10189
Closing the issue. After talking to the feature PMs, there are no immediate plans to add this level of details to the documentation. It will be considered in the future.

[2022-09-12 12:59] #10189 closed

[2022-09-12 13:35] paolomatarazzo commented on #10850
Thank you for the feedback @djmahoney99, I made the change, and it will be reflected soon.

[2022-09-12 13:35] #10850 closed

[2022-09-12 13:50] paolomatarazzo commented on #10851
addressed as part of 10850

[2022-09-12 13:50] #10851 closed

[2022-09-12 14:19] vinaypamnani-msft opened #10853 "Incorrect SKU applicability for policy-csp-admx-windowsstore.md"
From https://github.com/MicrosoftDocs/windows-itpro-docs/pull/10852:

RemoveWindowsStore registry key which is set by this CSP (and by the equivalent GPO) does not work on Win 10 Pro SKU (1809 and later) or Win 11 Pro SKU (any release). Tested multiple times, Pro device allows the user to download and install apps but as soon as you uplift the device to Enterprise SKU and restart, the store become

[2022-09-12 16:11] #9637 closed

[2022-09-12 16:12] vinaypamnani-msft commented on #9637
@Fei1Yang @bitching RAIL mode was not released publicly, and as such I've removed the link to the video from the official docs to avoid confusion. The change should be live later today.

[2022-09-12 17:50] aczechowski commented on #10849
Thanks @CybernetIL for taking the time to share this with the Windows documentation team. I’m sorry that you’re having problems, and I want to make sure it gets to the right people that can help. There are a couple of options available to provide the best level of support for this issue:

- Post to [Windows on Q&A](https://docs.microsoft.com/answers/products/windows). These are moderated by commun

[2022-09-12 17:50] #10849 closed

[2022-09-14 08:31] GenerAhl opened #10856 "References to 1903 and earlier"
Windows 10 1903 went out of support in Dec 2020 and all versions before it are also EoS. Is it really necessary to keep calling out that 1903 or newer is required for certain functionality, and even have examples for how to configure WDAC prior to 1903?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44b2ee4a-d0c3-3812-

[2022-09-14 21:19] libbro2006 opened #10857 "Unclear unspported scenario"
Could you please clarify what is meant by "Scenarios that require a certificate for authentication" in the Unsupported scenarios section? I'm an Identity PM, and even I am confused by what was intended by this bullet point.

I've also raised the question with Sayali Kale, the PM for the feature, so I hope this can be resolved soon, I've had customers ask about this as well.

---
#### Document Deta

[2022-09-15 06:35] aguthrie19 opened #10859 "provision package individual windows 11 home?"
Awesome info! Simple question (for maintainers @lizgt2000, @aczechowski?): does this work for an individual using windows 11 home edition?

I like to reset my home computer once a quarter or so to keep my development environments from conflicting. I don't want my old user or system environment, but I do want some apps to stick around. I've used imaging, but I want a bit more control over my system

[2022-09-15 18:52] aczechowski commented on #10859
Thanks @aguthrie19 for taking the time to share this with the Windows documentation team. I’m sorry that you’re having problems, and I want to make sure it gets to the right people that can help. There are a couple of options available to provide the best level of support for this issue:

- Post to [Windows on Q&A](https://docs.microsoft.com/answers/products/windows). These are moderated by commun

[2022-09-15 18:52] #10859 closed

[2022-09-15 22:57] sadfriend opened #10860 "typo mistake"
[Enter feedback here]
there is a typo mistake this document: https://docs.microsoft.com/en-us/windows/security/information-protection/encrypted-hard-drive
`In the event that the DEK needs to be changed or erased, the data on the drive doesn't need to be re-encrypted. A new Authentication Key needs to be created and it will re-encrypt the DEK. Once completed, the DEK can now be unlocked using the n

[2022-09-16 08:49] lby912 opened #10861 "Traduction"
Bonjour,

Il y a un problème de traduction sur la note de mise en garde sur les attaque physique.
La phare suivante serait beaucoup plus compréhensible :
Cela ne protège pas contre les attaques physiques où un attaquant ouvre le boîtier et attaque le matériel.
au lieu de :
Cela ne protège pas contre les attaques physiques lorsqu’un attaquant ouvre le cas et attaque le matériel.

Cordialement,

---

[2022-09-16 08:59] teamneroblanco opened #10862 "loadstate example user mapping incorrect"
At the bottom there is a loadstate example, but it is mapping source user1 to destination user2, instead of what it says the intent is which is to migrate user1 and user2 from contoso to fabrikam, not migrate user1 to user2

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89c5c9e7-3e5e-b448-e3ce-f4

[2022-09-16 15:50] gharatm opened #10866 "Missing ">" (Greater than sign) at the end of the XML code"
Dism default association export command example is missing the **">"** (Greater than sign) at the end of the XML code and hence the Base64 encoded result syntax provided on this page is also incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0080ea96-3ae5-49ee-d621-eb8ffbd14a4f
* Version Independent ID: d17b7412

[2022-09-16 17:43] aczechowski commented on #10861
Thank you @lby912 for sharing this feedback, and my apologies for responding in English. I've filed a translation bug with our global team (229139), who will address the issue.

[2022-09-16 17:43] #10861 closed

[2022-09-16 21:23] MangeshDugad commented on #10518
Got this resolved by using the Settings catalog in MEM.

[2022-09-16 21:24] #10518 closed

[2022-09-18 18:56] someguyinbaltimore opened #10870 "This page is missing description for error 0xC8000710 -939522288 hrDiskFull"
This page is missing description for error 0xC8000710 -939522288 hrDiskFull

I had a user having this issue and it turns out they didn't have enough space to complete the update. I found this information on this page: http://inetexplorer.mvps.org/answers/63.html .

Thanks for checking and thank you in advance for updating it.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-09-19 09:12] StegemannDominik opened #10871 "DSS Policy"
[Enter feedback here]
https://learn.microsoft.com/en-us/windows/deployment/windows-autopatch/operate/windows-autopatch-wqu-unsupported-policies#feature-updates-for-windows-10-and-later
These policies control the minimum target version of Windows which a device is meant to accept. Throughout the rest of the article, you will see these policies referred to as **DSS** policies.

What does DSS stand f

[2022-09-19 20:41] felizondojr opened #10872 "Script"
Discussed with Ranjith Vantakala and appears the script isn't necessary if using Intune because the config profile does the same, but this page still suggests that the script is required with MEM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f8d7dde-9471-7db2-e188-6d40fe66e5ce
* Version Independent ID: 8f8d7dde-9471

[2022-09-19 22:05] mestew commented on #10872
@felizondojr  Hey Fernando, Yikes. Oh yeah. That should definitely be do either a config profile OR script. The V1 article needs to change as well since this article is basically a copy/paste of the previous version. Thanks for noticing and reporting this. I'll get it fixed up shortly.

[2022-09-20 04:32] bemaru opened #10875 "There is a typo in update-terminology.png."
https://github.com/MicrosoftDocs/windows-itpro-docs/blob/public/windows/deployment/update/images/update-terminology.png

orchestator -> orchestrator
It needs to be corrected in this way.

I found it on the page below.
https://learn.microsoft.com/en-us/windows/deployment/update/windows-update-overview?source=docs

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.micr

[2022-09-20 06:25] RobbieNelson commented on #1616
Technological side of this issue is quite necessary to learn for everyone who is involved there.

By the way, I want to say that for a long time I had small bunch of knowledge in the sphere of SynchMl as it seemed really difficult to me to comprehend it better. Nevertheless, a couple of days ago I found this resource https://termsdepot.com/synchml/  where there was information about what is SynchM

[2022-09-20 14:34] tylermontneyacc opened #10876 "Developer Mode Dynamic Code Trust"
https://github.com/MicrosoftDocs/windows-itpro-docs/issues/10077

This was closed without comment, and there is still no explanation to what **Developer Mode Dynamic Code** Trust is.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 74ef7917-edec-5597-4689-1ffbf6735918
* Version Independent ID: 41f7ceb2-ad16-812c-3766-b9

[2022-09-20 17:49] petrozio commented on #2713
Our 180 bulk token period has now expired. We still need to migrate more clients. Can the token validity date be extended, or is it better to create a new package with a new token?

[2022-09-21 12:32] neminat opened #10878 "Broken Links"
The links to the smart app control are broken on this page.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9db96ae7-52a1-83df-3913-35765fc62972
* Version Independent ID: 9db96ae7-52a1-83df-3913-35765fc62972
* Content: [What's new in Windows 11, version 22H2 for IT pros - What's new in Windows](ht

[2022-09-21 13:10] laurentdelosieresfactorial commented on #10838
The Microsoft documentation was correct. Adding a single string (e.g. 1903) worked perfectly.

OMA-URI: ./Device/Vendor/MSFT/Policy/Config/Update/TargetReleaseVersion
Value: 1903

[2022-09-21 13:38] #10838 closed

[2022-09-21 15:29] mestew commented on #10878
@neminat thanks for reporting this. I will get the link fixed shortly.

[2022-09-21 16:20] mestew commented on #10872
Poked at this a bit. Updated both v1 & v2 docs to make it clear that the script is optional but useful for troubleshooting due to the logs it generates. The bit about it being optional was buried in the script section.  Suspect the article should be updated within the next day or so.

[2022-09-21 17:16] #10872 closed

[2022-09-22 18:42] danwitkowski opened #10879 "Misleading documentation and tooltip information"
Regarding the policy item [DeviceLock/MaxDevicePasswordFailedAttempts CSP](https://learn.microsoft.com/en-us/windows/client-management/mdm/policy-csp-devicelock#devicelock-maxdevicepasswordfailedattempts):

The documentation for this reads as if it were written by Douglas Adams:

This policy item is titled as `Device Lock` but one sentence later in the documentation it is describing wiping the dev

[2022-09-23 06:06] AWeber78 opened #10883 "retention missing in Privacy Statement"
Our retention of personal data in the [Microsoft Privacy Statement](https://privacy.microsoft.com/en-US/privacystatement)

The Privacy Statement does not include retention anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 893c364e-fcf4-8667-17d7-f9a3ec71e1a9
* Version Independent ID: f98f8870-d594-f5df-f6b6-44c98

[2022-09-23 21:05] #10857 closed

[2022-09-24 15:06] garttyman opened #10885 "[FIPS 140-2] validated certs have expired"
What certs is Microsoft using to be compliant with the Federal FIPS requirements.  In addition, I see no Windows Server 2022 as well.
for example:
https://csrc.nist.gov/projects/cryptographic-module-validation-program/certificate/3197

I see several modules in process and review can the publics get a preview of what is being tested:
https://csrc.nist.gov/Projects/cryptographic-module-validation-pr

[2022-09-26 15:26] DRUON opened #10889 "Bonjour"
[Tapez vos commentaires ici]

---
#### Détails du document

⚠ *Ne pas modifier cette section. Elle est requise pour learn.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 6e8740b8-c1f2-4b88-3d4d-66cdbf20215f
* Version Independent ID: 7986a684-b35d-06bd-be30-dfca9923cb9c
* Content: [Règles de bloc de pilotes recommandées par Microsoft (Windows) - Windows security](https://learn.microsoft.com/f

[2022-09-26 15:27] DRUON opened #10890 "données sur cette page sont incompréhensibles, à moins d'être un informaticien de haut niveau !"

[2022-09-26 15:29] DRUON commented on #10890
Les informations données sur cette page sont incompréhensibles, à moins d'être un informaticien de haut niveau ! Microsoft ne sait pas parler français ?
Dommage...

[2022-09-26 16:11] taikuli opened #10891 "Wrong supported values for Search/AllowSearchHighlights"
Regarding Search/AllowSearchHighlights the document mentions enabled / disabled as supported values.
However, using disabled or enabled results in an error.
Only using 1 for enabled and 0 for disabled produces the desired result.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 12404d25-d284-8578-6eb5-4cf3b2373781
* Ver

[2022-09-26 17:33] jgeurten commented on #10889
There is no content/il n'y a aucun commentaires.

[2022-09-26 20:20] #10891 closed

[2022-09-26 20:22] vinaypamnani-msft commented on #10891
@taikuli Thanks for reporting this. Changes should be live later today.

[2022-09-26 20:25] WebTiger89 opened #10892 "Inconsistent information regarding updating WinRE image"
Hi,
I might have found some inconsistent information. In chapter _Update WinRE_ in the comments of the script is stated:

This is where you'd add the prerequisite SSU, before applying the latest combined cumulative update.

While the comment implies it is necessary to add SSU + CU the script only adds SSU actually.

Could you please have a look and maybe update the docs. Also could you tell what i

[2022-09-26 21:35] SteveDiAcetis commented on #10892
I'll try to explain, glad to discuss via a Teams call if needed as I believe you are a MS employee.

The general pattern, shown in the table of steps, is SSU first, other steps, then finish with Safe OS update. However, for some RTM builds, we stopped publishing to Catalog the SSU and Cumulative Update as _separate_ updates. Instead, it is a combined cumulative update. So, in this case, depending

[2022-09-26 21:37] SteveDiAcetis commented on #10892
Actually, I thought the comment was from aaroncz, but I believe it is from WebTiger89. Anyways, glad to discuss via Teams either way, if talking may help to clarify. - Steve

[2022-09-27 01:04] MRusbridge opened #10893 "WUDOStatus"
Will delivery optimization be brought over from WUDOStatus, or do we need to keep using the v1 schema for that?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5e9c4ac3-5a1b-1e7c-6062-30656a54f44f
* Version Independent ID: 5e9c4ac3-5a1b-1e7c-6062-30656a54f44f
* Content: [Update Compliance (preview) data schema - Window

[2022-09-27 02:19] mattsmacblog opened #10894 "Linebreak for the "Supported" and "Not Supported" OS lists"
Could you consider putting in a Linebreak for the "Supported" and "Not Supported" OS lists in the table?

i.e.

AES256_HMAC_SHA1	Advanced Encryption Standard in 256-bit cipher block with Hashed Message Authentication Code using the Secure Hash Algorithm (1).
Not supported in Windows 2000 Server, Windows XP, or Windows Server 2003. Supported in Windows Vista, Windows Server 2008, Windows 7, Windows

[2022-09-27 08:40] WebTiger89 commented on #10892
Thanks for your explanation Steve.

The comment is taken from the powershell script shown on the docs page under the chapter _Update WinRE_.

Actually I understand the process but isn't there a difference if you apply only the SSU vs. the combined cumulative update? I mean in the latter case you also apply the whole CU to the image. Wouldn't it be better to adjust the docs page with an advise to e

[2022-09-27 16:24] eldrift opened #10895 "[Windows Defender Credential Guard] How to disable it?"
[Enter feedback here]

Versjon	Windows 11 Pro
Versjon	22H2
Installert den	‎23.‎09.‎2022
Operativsystembygg	22621.521
Opplevelse	Windows Feature Experience Pack 1000.22634.1000.0

I need to disable Windows Defender Credentional Guard, but the was no information here for my configuration how to disable it.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.co

[2022-09-27 16:36] WebTiger89 commented on #10892
I mean this comment states exactly that one should apply SSU and then the combined one, i.e. CU:

I can imagine that this comment was copy/pasted from the powrrshell example for **WinPE**, where - according to the table - the SSU + CU has to be applied.

[2022-09-27 18:59] zm1868179 commented on #10497
I wanted to commit on this According to the Docs Azure AAD devices should support Azure AD Groups assigned to Remote desktop Users Group using the Intune LocalUsersAndGroups CSP however in practice this does not work and results in a message stating the User does not have Authorization to access this PC. when trying to access the PC by Group membership.

so I'm not sure if this is an error in the

[2022-09-27 20:15] Get-SomeCofee opened #10896 "Needs additional Information."
This page needs instruction on how to properly remove kiosk mode once installed.  Sadly I don't have time to research this so I will reimaged the device in question.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7f536979-dfd7-317d-2da7-c40935d85c7f
* Version Independent ID: c23737a1-c71e-3d9c-3915-c6929a23602e
* Cont

[2022-09-27 23:21] WebTiger89 commented on #10892
Thanks for the insights Steven. I guess I could follow.
I think for someone who does not has those informations it is hard to grasp what is meant with the comment.

It would be more obvious if the code of the script would reflect what is stated in the comment:

Currently:
`Add-WindowsPackage -Path $WINPE_MOUNT -PackagePath $SSU_PATH | Out-Null`

While this operation reflects the "This is where you

[2022-09-27 23:31] SteveDiAcetis commented on #10892
OK - I will propose some changes. I don't believe I can edit this section of the docs, so I need to work through one of our writers. Then, hopefully through the writer can include you on a review, and we can tweak as needed. Hopefully won't take too long.

[2022-09-27 23:56] WebTiger89 commented on #10892
Thanks Steve, much appreciated <3

[2022-09-28 02:30] StephendillonMS opened #10898 "Doesn't mention Feature Updates in some portions"
At this point it explains what QUs do but not FUs: "What does Windows Autopatch do to ensure updates are done successfully?"
https://learn.microsoft.com/en-us/windows/deployment/windows-autopatch/overview/windows-autopatch-faq#what-does-windows-autopatch-do-to-ensure-updates-are-done-successfully

[2022-09-28 10:57] BR77BE opened #10899 "Do SSUs and LCUs really still "ship separately"?"
"Servicing stack updates must ship separately from the cumulative updates because they modify the component that installs Windows updates."

Is that true in view of:

[https://techcommunity.microsoft.com/t5/windows-it-pro-blog/deploy-windows-ssus-and-lcus-together-with-one-cumulative-update/ba-p/1967887](https://techcommunity.microsoft.com/t5/windows-it-pro-blog/deploy-windows-ssus-and-lcus-togeth

[2022-09-28 11:35] paolomatarazzo commented on #10895
Hello @eldrift and thank you for your feedback.
There is a section in this article that describes how to disable Credential Guard. Can you please clarify?
windows/security/identity-protection/credential-guard/credential-guard-manage#disable-windows-defender-credential-guard

[2022-09-28 14:38] Kuermel opened #10900 "Double negation"
I assume that there is one "not" too many here.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6ef7538d-4d35-7932-cd40-83c525857170
* Version Independent ID: 2ca07b12-f44a-d7cc-ae3b-6bfb2e356f3f
* Content: [4616(S) The system time was changed. (Windows 10) - Windows security](https://learn.microsoft.com/en-us/windows/

[2022-09-29 05:09] AlexHuang-TERAOKA opened #10901 "翻譯錯誤"
英文：However, note that even though local passwords are also local to the device, they are still less secure than a PIN, as described in the next section.
錯誤翻譯：不過，請注意，即使本機密碼也是裝置的本機密碼，它們仍然比 PIN 更安全，如下一節所述。
建議修正：不過，請注意，即使本機密碼侷限於裝置本機，它們仍然比 PIN 更不安全，如下一節所述。

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 learn.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: c34dbafa-df3c-a5a5-32d5-2ce152893534
* Version Independent ID: cebdd

[2022-09-29 12:02] paolomatarazzo commented on #10901
Hello @AlexHuang-TERAOKA and thank you for your contribution. Could you please describe the issue in English, as I have difficulties understanding it when using a translator. Thank you!

[2022-09-29 20:15] joshuaalm opened #10903 "No object returned for Get-CimInstance command in PowerShell code example."
`$sharedPC = Get-CimInstance -Namespace "root\cimv2\mdm\dmmap" -ClassName "MDM_SharedPC"` seems to return an object with no CimInstance properties.  Running the `Get-CimInstance` command alone also gives no text output.

Tab completion on `$sharedPC.` gives me the following options:

Equals(
GetHashCode(
GetType(
ToString(

This seems to indicate that an object is being created, but with no proper

[2022-09-29 20:46] joshuaalm commented on #10903
Thanks to this gallery script, I realize the process must need to be done under the SYSTEM account: https://www.powershellgallery.com/packages/PSWinGlue/0.5/Content/Scripts%5CSet-SharedPCMode.ps1

[2022-09-29 20:46] #10903 closed

[2022-09-30 01:03] AlexHuang-TERAOKA commented on #10901
Sorry it's my first time to report via github.

Original English：However, note that even though local passwords are also local to the device, they are still less secure than a PIN, as described in the next section.
Wrong translation：不過，請注意，即使本機密碼也是裝置的本機密碼，它們仍然比 PIN 更安全，如下一節所述。("比 PIN 更安全" means "more secure than a PIN")
Suggestion：不過，請注意，即使本機密碼侷限於裝置本機，它們仍然比 PIN 更不安全，如下一節所述。("比 PIN 更不安全" means "les

[2022-09-30 13:59] npherson opened #10905 "Applies to section doesn't list Server"
Servicing Stack Updates are required for doing updates on recent versions of Windows Server, as well. Either add them to the applies to list or link to an article targeting Server OS.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b706f0af-d504-a8ca-7c38-b8bb9283bfad
* Version Independent ID: 14f31acf-9f47-59a6-269f-6

[2022-09-30 16:03] paolomatarazzo commented on #10901
Thank you @AlexHuang-TERAOKA, I'm sending this issue to our localization team to review and address bug ID 231574. I'm closing this issue, as the other team will take it from here.

[2022-09-30 16:03] #10901 closed

[2022-09-30 16:54] ld0614 opened #10907 "Proxy ExceptionPrefix is missing from Schema"
After configuring a VPN Proxy using the following command
[code]
The XML Profile retrieved will include the following section
[code]
This ExceptionPrefix tag appears to be entirely undocumented however it appears that if you use this syntax and create a new profile with proxy exclusions it will work as expected.

Is there a reason why this is undocumented and/or is it safe to use?

---
#### Docume

[2022-09-30 17:06] colemank1 opened #10908 "Alternate method"
The article states that the only way to edit the custom support card is to go through the Windows Group Policy Management Editor. This is not the case.
The card can also be configured from Endpoint Manager.
The path is: Endpoint security>Antivirus>Create Policy>Windows Security Experience>Windows Defender Security Center. From there, the user can set the company name and add contact information to

[2022-09-30 18:38] eppsilon opened #10910 "Incorrect setting names in table of contents"
These setting names in the table of contents are incorrect:

- SetPolicyDrivenUpdateSourceForDriver
- SetPolicyDrivenUpdateSourceForFeature
- SetPolicyDrivenUpdateSourceForOther
- SetPolicyDrivenUpdateSourceForQuality

They should be:

- SetPolicyDrivenUpdateSourceForDriverUpdates
- SetPolicyDrivenUpdateSourceForFeatureUpdates
- SetPolicyDrivenUpdateSourceForOtherUpdates
- SetPolicyDrivenUpdateSou

[2022-10-01 18:36] fieropheonix6 opened #10911 "W-itpro-doc"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e3af4445-51a2-cca9-492b-458921a6f1d7
* Version Independent ID: ec35f3f6-1ba8-61c1-8f32-749ad741dcac
* Content: [Enable hardware-based isolation for Microsoft Edge (Windows) - Windows security](https://learn.microsoft.com/en-us/windows/security/threat

[2022-10-03 10:26] Meld-O-Mat opened #10912 "How to remove UEFI lock regarding HVCI?"
This manual lacks information on how to remove the UEFI lock regarding HVCI. As described here, regarding Windows Defender Credential Guard:
https://learn.microsoft.com/en-us/windows/security/identity-protection/credential-guard/credential-guard-manage#disable-windows-defender-credential-guard

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub

[2022-10-03 14:47] BiggsSkeedR opened #10913 "MEM Firewall Rules Configuration"
I am trying to replicate our firewall rules from Group Policy into Intune, however, I can't see how to configure firewall rules with the following local ports, as configured in Group Policy;
* RPC Dynamic Ports
* RPC Endpoint Mapper

Would be great to have an update on the page detailing whether these are on the backlog, and if so whether they're coming soon or not.

Also, the Edge Traversal secti

[2022-10-03 16:03] panos415 opened #10914 "[Credential Guard] Pro SKU enablement"
This "Credential Guard" isn't activated by default just on Windows 11 Enterprise as you say.  It's activated on Windows 11 Pro as well.  As of yesterday all of sudden I have all these new pop-ups to the dozens of servers I connect to.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 41c2cb44-269d-3334-019a-726eb5432f1c

[2022-10-03 16:42] paolomatarazzo commented on #10914
Hello @panos415 thank you for your feedback. I am awaiting confirmation from the feature owners on the expected behavior. We will update the documentation once we have more information

[2022-10-03 17:39] adamcrosby commented on #6353
@mypil This confusing/incorrect wording about 'BMPString' was fixed in that merged commit, but that merged commit is for a different file.  The https://learn.microsoft.com/en-US/troubleshoot/windows-server/windows-security/requirements-domain-controller URL still says 'Basic Metabolic Panel', which is obviously incorrect.

[2022-10-03 20:41] Lionz01 opened #10915 "Thanks for your pull request! It looks like this may be your first contribution to a Google open source project. Before we can look at your pull request, you'll need to sign a Contributor License Agreement (CLA)."
Thanks for your pull request! It looks like this may be your first contribution to a Google open source project. Before we can look at your pull request, you'll need to sign a Contributor License Agreement (CLA).

View this [failed invocation](https://github.com/google/libphonenumber/pull/2791/checks?check_run_id=7352317573) of the CLA check for more information.

For the most up to date status, v

[2022-10-03 21:42] jirenugo commented on #10895
Do you have `IsolatedCredentialsRootSecret` under `Computer\HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Lsa\MSV1_0`

[2022-10-03 22:06] paolomatarazzo commented on #10914
@panos415  did your machine upgraded automatically to Enterprise edition by any chance? That would happen if you have an E3/E5 license, for example

[2022-10-03 23:51] extesy commented on #10895
Yes, a binary value with `NtlmRootSecret` in the middle of it. Is this how Credential Guard detects Enterprise edition of Windows?

[2022-10-04 08:23] #10889 closed

[2022-10-04 08:24] #10890 closed

[2022-10-04 08:54] #10911 closed

[2022-10-04 12:40] panos415 commented on #10914
I updated two Win11 Pro machines and they're both exhibiting the same behavior regarding the "Credential Guard."  These are both Windows 11 Pro machines with OEM PKs that say "Windows 11 Pro" in the settings (see below).  The personal account that I log in with is tied to my MSDN/VS subscription and a work account that is connected to the system has an E3/E5 license but none of that should be rela

[2022-10-04 15:30] jirenugo commented on #10895
That means that you had credential guard running at some point before because your device was an enterprise device. We will be updating the documentation to reflect this.

[2022-10-04 17:17] vinaypamnani-msft commented on #10915
@Lionz01 I'm not sure I understand how this issue is related to the windows-itpro-docs repo. Can you explain more?

[2022-10-04 19:52] jirenugo commented on #10895
Was it AAD joined at any point?

[2022-10-05 01:33] extesy commented on #10895
No, it wasn't. I explicitly keep my home PC separate from my work stuff. Never joined any domains, never installed any corporate software. I think there should be more reliable ways of detecting Enterprise edition (like by actually checking the license key) before enabling Credential Guard.

[2022-10-05 05:53] jirenugo commented on #10895
It says `LsaCfg` as opposed to `LsaCfgFlags`. You also need a reboot after setting it to 0.

[2022-10-05 11:04] #10798 closed

[2022-10-05 15:23] eldrift opened #10919 "It is unclear how to turn turn Windows Defender Credential Guard off in Windows 11 latest version, Pro version."
Hi

It is unclear how to turn turn Windows Defender Credential Guard off in Windows 11 latest version, Pro version.

It is not possible to follow the instruction. I have a non english version of Windows.

Terje

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 41c2cb44-269d-3334-019a-726eb5432f1c
* Version Independent ID

[2022-10-05 15:25] eldrift commented on #10919
Example of my problem:

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Install the latest PowerShell for new features and improvements! https://aka.ms/PSWindows

PS C:\WINDOWS\system32> DG_Readiness_Tool_v3.6.ps1 -Disable -AutoReboot
DG_Readiness_Tool_v3.6.ps1 : The term 'DG_Readiness_Tool_v3.6.ps1' is not recognized as the name of a cmdlet, function,
 script file, o

[2022-10-05 15:36] paolomatarazzo commented on #10919
Hello @eldrift , if you keep reading there's an explanation for non-English OS:

When running the HVCI and Windows Defender Credential Guard hardware readiness tool on a non-English operating system, within the script, change *$OSArch = $(gwmi win32_operatingsystem).OSArchitecture to be $OSArch = $((gwmi win32_operatingsystem).OSArchitecture).tolower() instead, in order for the tool to work.

This

[2022-10-05 15:36] #10919 closed

[2022-10-05 21:11] WebTiger89 opened #10920 "DISM API asynchron?"
I haven't found any information about this. Does the DISM API support concurrency, i.e. parallel calls to mount images, add packages etc.?
Maybe the documentation page can be updated accordingly.

[2022-10-06 09:24] ld0614 commented on #10907
My Apologies, I was getting mixed up between the internal VPN Configuration XML and the external CSP XML

[2022-10-06 10:41] Martony78 opened #10921 "Office update with WUfB unclear"
In the **Quality updates** section you declare:
_Windows Update for Business also treats non-Windows updates (such as updates for **Microsoft Office** or Visual Studio) **as quality updates.**_

But in the **Microsoft product updates** section you declare:
_Updates for other Microsoft products, such as versions of **Office** that are installed by using Windows Installer (MSI). **Versions of Office

[2022-10-06 14:51] ChadSimmons commented on #10764
Thank you @cmknox for the explanations regarding DOCacheHost and DODownload mode.  That is helpful.

Regarding DORestrictPeerSelectionBy, unfortunately I no longer have access to the environment where this was being tested and causing confusion/concern.  However, your explanation that peering and DOCacheHost are effectively handled distinct from each other is helpful.

Can these comments / clarifi

[2022-10-06 15:40] Dirk-Manderin opened #10922 "Whitelisting sites"
Is there a way to whitelist sites so this prompt doesn't display?  A good example would be the Microsoft Remote Desktop web client at https://client.wvd.microsoft.com/arm/webclient/index.html.    Entering your corporate credentials here is a perfectly valid thing to do, and users shouldn't be annoyed by the pop-up warning every time they login.

---
#### Document Details

⚠ *Do not edit this secti

[2022-10-06 16:06] #10914 closed

[2022-10-06 16:06] #10895 closed

[2022-10-07 19:09] pamcdo opened #10923 "Bump minimum requirement to Server 2012r2"
On this page we note the minimum requirement for domain controllers is 2008r2. This is no longer in support and hasn't been for a couple years. Should the minimum DC version be bumped to 2012r2 to reflect the current state of supported deployments?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 02eda72c-ccd2-e8d8-4f7e

[2022-10-08 10:06] RAJU2529 commented on #10761
@elang-bmrn , At first you need to adjust the font and style writing in windows settings and then apply your text in GPO.

[2022-10-08 10:15] RAJU2529 commented on #10762
@CHfish-ch , yes possible, if you signed in with your local account on windows.

[2022-10-08 10:27] CHfish-ch commented on #10762
Thank you @RAJU2529
I'm currently looking for a matrix / table of the different options with local, domain and Azure Account, especially if (how) one can could enforce MFA-Authentication to Windows with Hello for Business (in other words preventing a login with password only).
Do you have any information on that?

[2022-10-08 10:29] RAJU2529 commented on #10762
@CHfish-ch . No other information sorry

[2022-10-10 13:36] SkipToTheEndpoint commented on #10745
I've noted that #10893 has been raised. It would be good to know if to get a full set of data currently you have to configure both v1 and v2 versions of the Update Compliance (i.e. deploy a setting specifically to push the CommercialID as well as the AllowCommercialDataPipeline setting)

[2022-10-10 19:11] SteveDiAcetis commented on #10892
Hi WebTiger89. There is a new version of the page live today. The internal process didn't allow me to add externals to the review. However, glad for you to take a look to see if this update provides more clarity. Most of the changes were in the comments, explaining the options depending on the OS release one was using. If you have any suggested changes, I'll review and can make revisions as needed

[2022-10-11 06:58] Thuyaaung939 commented on #10305
***@***.***

On Wed, Mar 23, 2022, 23:27 sivan-koren ***@***.***> wrote:

[2022-10-11 08:28] aexlz commented on #9079
Hello, I want to catch up with this conversation.
We are facing the exact same problem like @SergGu.
Users are able to unblock with 3rd-Party-Browsers.
NetworkProtection is enabled and the Toast-Notifcation appears.

I do not think, that this is related to the Warn-Capabilitiy.
ASR-Rules and NetworkProtection are two different functionalities within ExploitGuard.
Apart from that there is no ASR-Ru

[2022-10-11 09:24] paulsmason commented on #10671
To get rid of the "This setting is managed by you administrator" message, I have had to do a clean re-install of Windows 11 Pro. I then ran Windows Update. This is the current state of my PC:
The registry contains the following entries:

    HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\DeviceGuard
        (Default)    REG_SZ        (value not set)
        CachedDrtmAuthIndex        REG_DWOR

[2022-10-11 10:51] RandomUser1215R commented on #10771
Hello,
any news on this ?

[2022-10-11 11:57] RAJU2529 commented on #10671
@paulsmason, Eligibility Windows OS is  **Windows 10  Enterprise or Education editions only.
Windows 11 Enterprise or Education editions only**

But you may try on windows 11 pro  by adding  registry key using command prompt

fix 1
**reg add HKLM\SYSTEM\CurrentControlSet\Control\DeviceGuard\Scenarios\SystemGuard /v Enabled /t REG_DWORD /d 1**

fix 2

**reg add HKLM\SYSTEM\CurrentControlSet\Control

[2022-10-11 19:47] tpl2488 opened #10927 "Device Registration GPO"
[There is a second GPO setting that should be used for AutoEnrolling into Intune. It should follow (or be included with) step 7 in the section "Verify auto-enrollment requirements and settings".
https://admx.help/?Category=Windows_10_2016&Policy=Microsoft.Policies.WorkplaceJoin%3A%3AWJ_AutoJoin
Set that GPO setting to Enable.
]

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-10-12 11:02] goxia opened #10928 "The documentation description is not clear and cannot be properly configured with reference to the document content."
The documentation description is not clear and cannot be properly configured with reference to the document content.
After defining DeployDesktopImage, DesktopImageUrl does not explicitly state the path format.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d33fd080-bfff-6469-de8e-d19d8ce96ebc
* Version Independent ID

[2022-10-13 18:08] Hideforpeace opened #10932 "This article is not completely accurate."
[Enter feedback here]
I did not see a prompt on step 6 to disable Windows Defender Credential Guard

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 41c2cb44-269d-3334-019a-726eb5432f1c
* Version Independent ID: 251024cc-b818-18c6-a112-4ac0276cb4b1
* Content: [Manage Windows Defender Credential Guard (Windows) - Windows

[2022-10-13 18:28] paolomatarazzo commented on #10932
Hello @Hideforpeace thank you for the feedback. Can you please copy/paste the exact sentence you are referring to? I don't see a "step 6"

[2022-10-13 20:41] 9072997 opened #10933 "Long strings which need to be typed into a GPO only exist as images"
In Appendix C there is a photo containing 6 sets of "program/script" and "arguments" that need to by typed into a GPO. I would really appreciate these being copy-able. It is very easy to mix up the double and triple semi-colons or get one of the numbers wrong.
![image](https://user-images.githubusercontent.com/1310772/195700427-fc37fde9-d1a8-4ed1-bfa2-66adafcf726e.png)

---
#### Document Details

[2022-10-14 15:41] rabbanisyed opened #10935 "I have not found the error code"
I was desperately look for all windows update error but found most of them
But missing error code 0x80070020

[2022-10-14 15:42] durrante opened #10936 "Windows 11 SE Printing Options"
Would you be able to define what printing options are available for the Windows 11 SE devices? Namely:

- Is Universal Print supported?
- Can students add their own printers if located at home?
- Will PaperCut, a common application within Education be added to the supported apps at all?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ Git

[2022-10-14 16:53] paolomatarazzo commented on #10936
Hello Alex (@durrante), thank you for the feedback. I was talking to Anson a few minutes ago about this. We're trying to determine if we should document it here or in the Universal Print documentation. As far as PaperCut support goes, did you submit it as an app to be approved for Windows SE? https://aka.ms/eduapprequest

[2022-10-14 18:02] WebTiger89 opened #10937 "Different versions of media files prevents Windows setup routine"
There seems to be some discrepancy with the "Update Windows installation media" table stating to update "New Media" with Setup Dynamic Update (DU) while actually this does not work because the media files in boot.wim and the main media files differ.

I have observed following while working through the steps stated in the table:
Step 26: Initially the media files are of version 22621.1. I apply KB5

[2022-10-14 18:44] durrante commented on #10936
Hi Paolo,

Great, I've spoken to Anson before 😃. Hmmm, I would guess it would be best on the Windows 11 SE page itself and maybe an additional os listed on the Universal Print documentation to state that it also supports Windows 11 SE for completeness.

I guess by your reply that Univeral Print is indeed supported?

My client will soon create a request for the PaperCut app.

Outside of the above t

[2022-10-14 19:55] paolomatarazzo commented on #10936
If we start documenting what works, it will be a very long task. We tend to call out if something does not work.
Having said that yes, universal print is supported as it's a built in driver. Any driver that you can push via the Intune client (packaged win32) should work as well, but you need to do proper testing. there may be scenario where it doesn't work (e.g. a driver automatically installs a d

[2022-10-14 19:55] #10936 closed

[2022-10-15 10:53] Masonta1976 opened #10940 "fthyy333#"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e41c70e9-2889-a930-9f1b-1dfbffe0830f
* Version Independent ID: ae228f28-6128-b670-7aeb-2e8384237dc5
* Content: [Microsoft Defender Application Guard Extension - Windows security](https://learn.microsoft.com/en-us/windows/security/threat-protection/mi

[2022-10-15 23:06] #10940 closed

[2022-10-17 12:50] RAJU2529 commented on #10899
@BR77BE , From windows 11, SSU is embedded in CL  updates, when you extract the .msu file , you will get SSU file separately.

[2022-10-17 13:13] RAJU2529 commented on #10866
@gharatm < thanks for point out

[2022-10-17 13:30] RAJU2529 commented on #10894
@mattsmacblog , thanks for pointing out i added line break

[2022-10-17 13:48] RAJU2529 commented on #10910
@eppsilon < thanks for pointing out, i have added **updates** to this article

[2022-10-17 15:15] #10602 closed

[2022-10-17 16:08] middletonk commented on #10653
Confirming - this is still a live issue in the latest ADMX templates for Windows 10 (21H2 as of this comment). The value in the XML structure of the ADMX file should be "EnableDynamicContentInWSB" and does not appear in my own download, nor the OP's, but does appear in Windows 11. This is a clear mismatch with the Docs article stating it's supported in Windows 10.

We could of course make a group

[2022-10-18 02:46] mattsmacblog commented on #10894
OK, I don't see it yet.... Maybe it takes a while to come through?

[2022-10-18 03:12] RAJU2529 commented on #10894
@mattsmacblog . Once author is approved this request, after merging, changes will be published

[2022-10-18 12:38] BR77BE commented on #10899
My comment/question was about the accuracy of the statement in this document that SSU must SHIP SEPARATELY from CU.

The link I provided (about Windows 10+, not just 11) says they DO NOT ship separately.

Please delete the inaccurate statement in this document "... must ship separately ..." and provide proper guidance in the next paragraph.

P.S. What's a CL update?

[2022-10-18 12:42] RAJU2529 commented on #10899
@BR77BE . CL means cumulative updates in the form of .msu

[2022-10-18 13:44] #10866 closed

[2022-10-18 14:17] #10915 closed

[2022-10-19 06:41] BagginsLongshot opened #10947 "CMD.exe will run if opened as an administrator"
The command prompt can be opened if run as an administrator by a user with the appropriate permissions. This is contrary to the documentation that says CMD cannot be run.

[2022-10-19 06:44] BagginsLongshot commented on #10947
To be clear, this is referring to Windows 11 SE and the Administrative Tools section

[2022-10-19 13:31] nezaras2000 opened #10948 "Is there any way to activate Windows 10/11 from Windows Server 2022 or 2019 with KMS?"
After upgrading WS2012R2 to WS2022, I discover that there is noway to activate our clients computers "Windows 10" from that server or any other server has WS2016 or newer version.

Is there any way I can reactivate my client computers after that upgrade?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8ccd4e3f-7889-030

[2022-10-19 13:35] #10932 closed

[2022-10-19 13:59] middletonk commented on #10653
FYI, this was fixed in the Windows 10 22H2 ADMX templates and should be closed as an issue.

https://www.prajwaldesai.com/download-windows-11-22h2-group-policy-settings-admx/

https://techcommunity.microsoft.com/t5/windows-it-pro-blog/it-tools-to-support-windows-10-version-22h2/ba-p/3655750

[2022-10-22 13:10] fwf02 opened #10951 "info on Power Dependency Coordinator Driver"
where i can found more info on Power Dependency Coordinator Driver disable pdc clear my power issues i wonder what is hooking

[2022-10-23 06:56] ThouSandThorChang opened #10954 "4688 Audit Failed"
[在此处输入反馈]
Last update to Windows 11，only set Audit Process Creation success，couldn‘t get 4688 log

---
#### 文档详细信息

⚠ *请勿编辑此部分。 learn.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 5eca37ef-510b-52ec-ed07-2fb4a2d307dc
* Version Independent ID: c4977b85-a93a-119d-3010-b6148c3421f0
* Content: [4688(S) 已新建进程。 (Windows 10) - Windows security](https://learn.microsoft.com/zh-cn/windows/security/threat-prot

[2022-10-23 10:01] ErrorRaffyline0 opened #10955 "Audit Process Creation feature not supported on Windows 11"
The documentation on this page fails to mention that it this auditing feature currently does not work on Windows 11.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5eca37ef-510b-52ec-ed07-2fb4a2d307dc
* Version Independent ID: c4977b85-a93a-119d-3010-b6148c3421f0
* Content: [4688(S) A new process has been created. (Wi

[2022-10-23 10:03] ErrorRaffyline0 commented on #10955
Never mind, the latest version of the github documentation has (Windows 10) in the title. Please merge this with the website branch.

[2022-10-23 10:10] ErrorRaffyline0 commented on #10954
I back this up, I couldn't get this to work.
"Include command line in process creation events" is missing under Administrative templates - System - Audit Process Creation in the group policy editor.
Even when migrating Win10 to Win11 (which allows the group policy to remain (albeit in a reset state)), enabling this policy will not enable the auditing of process creation events.

[2022-10-23 10:12] ErrorRaffyline0 commented on #10955
I'm reopening this because it was always in the github title but never visible in the article. Please update the article to show that the latest Win 11 version does not support this feature or at least does not properly work.

[2022-10-23 10:43] ErrorRaffyline0 opened #10956 "Audit/DetailedTracking_AuditProcessCreation Not working on latest Win 11 builds"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: dabca3f2-2b25-dc4d-9486-57ddfed187f8
* Version Independent ID: 561d395b-ef2d-589f-7bb3-c72e6862ca53
* Content: [Policy CSP - Audit - Windows Client Management](https://learn.microsoft.com/en-us/windows/client-management/mdm/policy-csp-audit)
* Conten

[2022-10-23 10:54] RobMulder commented on #10954
Same here!
https://learn.microsoft.com/en-us/answers/questions/1046836/no-more-events-4688-in-eventlog-anymore.html

[2022-10-24 00:59] AshishSukhija1 opened #10957 "Extended Stable Channel support"
For Edge updates via Autopatch, can we manage the customer choice of extended stable channel (8-week instead of 4-week), if so, can we update this DOCS article please ?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 06d983d1-8644-39b2-c3cf-00c182d65228
* Version Independent ID: 06d983d1-8644-39b2-c3cf-00c182d65228
* C

[2022-10-24 06:18] ThouSandThorChang commented on #10954
Without the newest Win11 version，you could set the reg value to get the cmdline in 4688 log。

RegOpenKeyEx(HKEY_LOCAL_MACHINE, GPO_INCLUDE_CMDLINE_KEY, NULL, KEY_ALL_ACCESS, &hKey);
key：Software\\Microsoft\\Windows\\CurrentVersion\\Policies\\System\\Audit
value：ProcessCreationIncludeCmdLine_Enabled   （DWORD）1

[2022-10-24 06:22] ThouSandThorChang commented on #10954
sometimes，only set gpedit in win11，could not success，you should set the reg value directly

[2022-10-24 06:23] ThouSandThorChang commented on #10954
sometimes，only set gpedit in win11，could not success，you should set the reg value directly

[2022-10-24 06:24] ThouSandThorChang commented on #10954
Thank U very much！Hope resolve as soon.

[2022-10-24 09:21] msconfig87 commented on #10954
this is urgent. Our devs in the company complain oh high CPU use about 10% because event 1108 now appears instead of 4688 in some loop 4 times a second. We have auditing turned on as a company policy.
Event 1108 is: "The event logging service encountered an error while processing an incoming event published from Microsoft-Windows-Security-Auditing."
Google tells me event 1108 indicates a defective

[2022-10-24 18:05] tiaraquan commented on #10957
Hi @AshishSukhija1,

Thank you for reaching out!

At this time, Windows Autopatch only supports the Stable and Beta channel (Test devices) for Microsoft Edge updates.

[2022-10-25 17:00] jgeurten commented on #10077
Hi folks, its documented in the table here: https://learn.microsoft.com/en-us/windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create#table-1-windows-defender-application-control-policy---policy-rule-options, but the description could use some work. On systems with Developer Mode turned on, any binaries deployed using F5 deploy will be allowed to run

[2022-10-25 18:38] ErrorRaffyline0 commented on #10954
Interesting, Microsoft support told me my event 1108 errors were due to an incorrect configuration of Windows Hello (which I had never set up). Then again that's probably because event 1108 is logged in many different scenarios, and the support agent probably just found that one case.

It also lines up because I only started getting  1108 event errors after event 4688 stopped being logged.

[2022-10-25 21:14] KrypticChewie opened #10959 "Already provisioned a user before enabling dual enrollment"
If you have already provisioned a user before enabling dual enrollment what can be done?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f50a8599-301a-5993-1a86-e722f66ffcf2
* Version Independent ID: fffd0fc9-97f6-cfa9-70fb-7f1308804de0
* Content: [Dual Enrollment - Windows security](https://learn.microsoft.com/en-us/w

[2022-10-26 07:03] ThouSandThorChang opened #10960 "A new data insert 4624 log after update win11"
[在此处输入反馈]
Last update to Windows 11，something different in 4624 log
between data "RestrictedAdminMode" and data "TargetOutboundUserName",insert a data named "RemoteCredentialGuard".
so why insert a data instead of put it at the bottom?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 learn.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: aefbbdcc-606c-276c-47ee-fe2b2cb65c61
* Version Independent ID: e0979867-e6bc-7fb9-12

[2022-10-26 07:31] hbogit commented on #9400
Please don't remove this from the link below

[2022-10-26 17:54] RAJU2529 opened #10961 "Standard hardware security not supported in Windows 11 version22H2"
A few users are complaint  regarding showing **Standard hardware security not supported in Windows 11 version22H2**  even though, their computers have high-end windows 11 supported processors, enabled TPM 2.0, booted in secure  mode, enabled UEFI mode,
Also those users are updated windows and updated bios firmware and updated latest drivers provided by System manufacturers, But still, they are fac

[2022-10-28 16:02] maxbaldt opened #10962 "Clarification for VPN detection needed"
[A connection will be treated as a VPN if the adapter description contains certain keywords, such as "VPN" or "secure."]
Can we please clarify what exactly these keywords are? I read VPN or secure - but is there more to it?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 971ae051-5d39-19d3-072e-fb098c82943b
* Version I

[2022-10-30 23:20] GitVoch opened #10963 "Typo"
In the otherwise v. helpful Help Page at url: https://learn.microsoft.com/en-us/windows/deployment/windows-10-missing-fonts

The text "In Settings, select Time & language, and then select Region & language."
Should read: In Settings, select Time & language, and then select Language & Region."
This is how it appears in the Time & Language Settings Page on Windows 11.
---
#### Document Details

⚠ *D

[2022-10-31 04:48] AshishSukhija1 opened #10964 "Change in the details on this page"
(https://docs.microsoft.com/en-us/windows/deployment/windows-autopatch/overview/windows-autopatch-faq#what-systems-does-windows-autopatch-update)
Microsoft Edge: We need to mention that BETA channel of Edge will be deployed to the TEST ring and updated accordingly.
This is very important! "Microsoft Edge: Windows Autopatch configures eligible devices to benefit from Microsoft Edge's progressive ro

[2022-10-31 13:09] tiaraquan commented on #10964
This is covered in this section https://learn.microsoft.com/en-us/windows/deployment/windows-autopatch/operate/windows-autopatch-edge#update-release-schedule

[2022-11-01 14:04] AdultOnsies opened #10966 "Defender EDR Block Mode"
Looking for a quick answer.

I've noticed EDR Block mode appears as a toggle on or off for an entire tenant. In my case, I have hundreds of customer subs within my tenant. I need the ability to disable EDR per subscription, not across the entire tenant.

Is this possible?

[2022-11-01 15:31] #10957 closed

[2022-11-01 17:00] oalieno commented on #6797
Just googling this `MpDlpCmd.exe` and found this issue.
After my quick reversing the executable, I found that there are three parameters.

- `-h / -?`: print usage
- `-ShowDlpDetailsDialog`
- `-TestDlpDetailsDialog`

But I'm still not sure what this executable does.

![image](https://user-images.githubusercontent.com/18167730/199291328-280c4178-5b3b-4a3f-a581-603801410e08.png)

[2022-11-01 19:16] paolomatarazzo commented on #10390
@DenkertM thank you for your contribution. Can you please elaborate how the article is not reflecting the NIST guidelines?
I just updated the article with "Set Minimum password length to at least a value of 8". I'm not sure if you were referring to that sentence.

✅ "Verifiers SHALL require subscriber-chosen memorized secrets to be at least 8 characters in length"

Windows also allows passwords lo

[2022-11-02 00:23] PiKappZ746 opened #10969 "Update Endpoint Manager to Intune"
Endpoint Manager branding should no longer be used.  That should be changed to Intune on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5508bf53-3aa5-7ce1-de3b-7da45b4b495b
* Version Independent ID: 86918067-b0b6-f0f3-a0a8-ece6c8f13c94
* Content: [Add or remove pinned apps on the Start menu in Windows 11 -

[2022-11-02 03:43] arroselli opened #10970 "AA"

[2022-11-02 10:16] #10970 closed

[2022-11-02 10:21] yogkumgit commented on #10966
@AdultOnsies  Considering the nature of the issue, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that

[2022-11-02 10:21] #10966 closed

[2022-11-02 10:24] yogkumgit commented on #10920
@WebTiger89 Can you please tell us to which article(s) your question applies? This will help us route this issue to the correct writer/team. Thanks

[2022-11-02 10:27] yogkumgit commented on #10935
@rabbanisyed Can you please tell us to which article(s) your question applies? This will help us route this issue to the correct writer/team.

[2022-11-02 10:28] yogkumgit commented on #10947
@BagginsLongshot Can you please tell us to which article(s) your question applies? This will help us route this issue to the correct writer/team. Thanks

[2022-11-02 10:30] yogkumgit commented on #10951
@fwf02 Can you please tell us to which article(s) your question applies? This will help us route this issue to the correct writer/team.

[2022-11-02 10:37] yogkumgit commented on #10837
@jgeurten Thank you very much for sharing this explanation. @L0yy Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-02 10:37] #10837 closed

[2022-11-02 10:42] yogkumgit commented on #10856
@aczechowski Thank you very much for sharing this explanation. @GenerAhl Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-02 10:42] #10856 closed

[2022-11-02 10:43] yogkumgit commented on #10910
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @eppsilon Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-02 10:44] #10910 closed

[2022-11-02 12:17] #10951 closed

[2022-11-02 13:47] nighrv opened #10971 "Would like more details when a Safeguard Hold is indicated"
It would be nice to see what specifically is blocking an upgrade to Windows 11 from Windows 10 Pro.  If it's something as simple as removing a printer or uninstalling an application that uses VirtualBox, I can do that and reinstall those things later after the upgrade.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5c

[2022-11-02 19:24] paolomatarazzo commented on #10959
Hello @KrypticChewie, the enumeration should still happen after the policy is enabled.

[2022-11-02 19:40] #10390 closed

[2022-11-02 19:49] paolomatarazzo commented on #10923
Thank you for your contribution @pamcdo . I updated the documentation and should be live soon.

[2022-11-02 19:49] #10923 closed

[2022-11-02 19:54] Summit-T opened #10972 "MFA requirements - must exclude windows store"
you need to update this with information about MFA requirements for the Windows Store.

https://learn.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-policy-compliant-device

_Subscription activation
Organizations that use the [Subscription Activation](https://learn.microsoft.com/en-us/windows/deployment/windows-10-subscription-activation) feature to enable u

[2022-11-03 10:38] #10959 closed

[2022-11-03 18:24] aczechowski commented on #10969
Thanks @PiKappZ746 for the feedback! Mandi is working on fixing these terms across the content, and this particular article was revised yesterday.

(Internal reference https://github.com/MicrosoftDocs/windows-docs-pr/pull/7419)

[2022-11-03 18:24] #10969 closed

[2022-11-03 18:43] KrypticChewie commented on #10959
Thanks for the info guys.

[2022-11-03 20:14] ericcox opened #10973 ""Deployment scenarios affected" table"
In the table just under "Deployment scenarios affected", it's not clear what the horizontal and vertical axes are.   For instance, second column, first line: does that mean deploying Windows 10 from Windows Server 2016, or deploying Windows Server 2016 server from Windows 10?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

*

[2022-11-04 17:04] shutrshock opened #10974 "99,999 minutes divided by 60 is 1,666.65 hours. 1,666.65 divided by 24 is 69.44375 days."
[Enter feedback here]
Possible values
A user-defined number of minutes from 0 through 99,999

For this policy setting, a value of 0 means to disconnect an idle session as quickly as is reasonably possible. The maximum value is 99999, which is 208 days. In effect, this value disables the policy.

99,999 minutes divided by 60 is 1,666.65 hours. 1,666.65 divided by 24 is 69.44375 days. The excerpt ab

[2022-11-05 22:32] Masonta1976 opened #10975 "NTaphy789"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e41c70e9-2889-a930-9f1b-1dfbffe0830f
* Version Independent ID: ae228f28-6128-b670-7aeb-2e8384237dc5
* Content: [Microsoft Defender Application Guard Extension - Windows security](https://learn.microsoft.com/en-us/windows/security/threat-protection/mi

[2022-11-07 09:40] Skorfulose commented on #10962
Chiming in, can you please clarify on all keywords? Our Citrix VPN is using network adapter name "Citrix Virtual Adapter", so would it be correctly recognized as a VPN, or not?

[2022-11-07 12:30] yogkumgit commented on #10595
No feedback, Closing.

[2022-11-07 12:34] yogkumgit commented on #10657
@pwilliv Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-07 12:53] eidze1 opened #10978 "To be case-sensitive or not?"
"Both checks aren't case-sensitive." So, which one is and which one is not?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b5128d9a-e02a-df9b-24cc-32711ad37b54
* Version Independent ID: fecafb19-6b37-1f2e-ba3d-5e0bf0d49d09
* Content: [Password must meet complexity requirements (Windows 10) - Windows security](https://

[2022-11-07 13:03] yogkumgit commented on #10964
@AshishSukhija1 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-07 13:03] #10964 closed

[2022-11-07 13:32] #10595 closed

[2022-11-07 15:36] vinaypamnani-msft commented on #10978
@eidze1 Not sure I understand the concern here. "Both checks aren't case-sensitive" means neither of the checks are case-sensitive.

[2022-11-07 18:34] dariomws commented on #10948
Hi @nezaras2000, thank you for your feedback.

I think the following link has the information you are looking for:
https://learn.microsoft.com/windows-server/get-started/kms-create-host

[2022-11-07 18:53] ErrorRaffyline0 commented on #10956
For clarity, this issue is the cause of issue #10954 and issue #10955 refers to this issue in particular concerning the omission of documentation about this problem.

[2022-11-07 18:55] ErrorRaffyline0 commented on #10954
For clarity, this issue is caused by #10956. #10955 discusses the omission of documentation about this problem.

[2022-11-07 18:57] ErrorRaffyline0 commented on #10955
See the references above for the problem that the documentation needs to cover.

[2022-11-07 19:01] ErrorRaffyline0 commented on #10955
I would like to point out that a support agent told me that in their internal documentation, it was stated that this feature would only receive support up to Windows 10. Is this true? Was this a mistake on the agent's end or is the documentation wrong? @msbemba could you explain?

[2022-11-07 19:30] msbemba commented on #10820
@JohnMoor Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/10980

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-07 23:26] DoubNAT commented on #10921
I also would like clarity on this. And if Click-to-Run isn't included via WUfB, will there be plans to implement this in the future?

[2022-11-07 23:39] #10820 closed

[2022-11-08 05:55] eidze1 commented on #10978
So you're saying that
"Both checks aren't case-sensitive."
means
"Neither of the checks are case-sensitive."

Does it? Say we have two people, one works for MS and the other one does not. We could say that "both persons are not MS employees", couldn't we? How about other quantifiers? We could say "All of [smth] are not part of [smth else]" meaning "not all of them".

You might want to look the gra

[2022-11-08 07:48] dariomws commented on #10921
Hi @Martony78 and @DoubNAT, thank you for your feedback.

@aczechowski, I need your help/input here. I think we should remove this sentence from Quality updates. Could you confirm?

@DoubNAT, I don't think that C2R updates will be included in WUfB.

[2022-11-08 07:48] yogkumgit commented on #10963
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @GitVoch Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-08 07:48] #10963 closed

[2022-11-08 08:05] yogkumgit commented on #10948
@dariomws Thank you very much for the contribution and sharing this explanation. @nezaras2000 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-08 08:05] #10948 closed

[2022-11-08 14:06] msbemba commented on #10606
@ken-chy Thank you for your feedback. The document does state the correct GP information now.

![image](https://user-images.githubusercontent.com/45987684/200585553-2f7bd41a-2639-4d93-a46a-f040a3c9571e.png)

Hope this helps!

@yogkumgit  There are no changes needed in the document as of now.

Thanks
Sri

[2022-11-08 14:19] msbemba commented on #10656
@Smith-Rick Thank you for your feedback. The script has been archived and as mentioned by @RAJU2529  it is available in third party website - https://web.archive.org/web/20170327052710/https://gallery.technet.microsoft.com/scriptcenter/Reset-Windows-Update-Agent-d824badc/file/162417/1/ResetWUEng.zip

Hope this helps!

@yogkumgit There are no changes needed on this document as of now.

Thanks
Sri

[2022-11-08 14:32] msbemba commented on #10823
@baardhermansen Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/10986

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-08 14:36] msbemba commented on #10860
@sadfriend Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/10987

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-08 14:44] CoolDadTx opened #10988 "Steps do not work for Windows 11 after update 22H2"
Somewhere around 22H2 Device Guard was changed such that attempting to use remote desktop with a saved credential no longer works. All the online docs say to disable Device Guard and eventually link to this page. However following the steps given here to disable the policy via Group Policy doesn't actually work. After the reboot the problem persists.

Given that all online resources seem to be ref

[2022-11-08 14:48] msbemba commented on #10875
@bemaru Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/10989

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-08 14:57] msbemba commented on #10905
@npherson Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/10990

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-08 16:36] msbemba commented on #10971
@nighrv Thank you for your feedback. Since this is product feedback, we recommend you post this in our main feedback portal ( https://feedbackportal.microsoft.com/) so that our Dev/product engineer can review and respond.

Hope this helps!

Thanks
Sri

[2022-11-08 16:41] msbemba commented on #10972
@Summit-T Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/10991

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-08 17:00] msbemba commented on #10973
@ericcox Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/10992

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-08 17:04] msbemba commented on #10974
@shutrshock Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/10993

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-08 18:13] paolomatarazzo commented on #10988
Thank you for the feedback @CoolDadTx . I'll follow up with the feature owner and update the article accordingly.

[2022-11-09 02:46] ken-chy commented on #10606
@msbemba Sorry I wasn't clear enough. The GP path should be _Windows Components/Internet Explorer/Main_ instead.

Regards,
Ken

[2022-11-09 05:59] Elangamban opened #10994 "What is the supported version of Office for VAMT?"
In the Page its mentioned VAMT will work for supported versions of Windows, Windows server, Office.

But it didn't mentioned what are all the supported versions

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: db3d4459-a57d-a227-a9ee-47a9d25fd8e1
* Version Independent ID: 43374c7a-f5d7-8168-6a0d-285f8fb29693
* Content:

[2022-11-09 09:37] yogkumgit commented on #10656
@msbemba Thank you very much for the contribution and sharing this explanation. @Smith-Rick Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-09 09:37] #10656 closed

[2022-11-09 09:57] yogkumgit commented on #10971
Thanks @nighrv  for taking the time to provide feedback on Windows! This idea is an interesting feature, and I want to make sure it gets directly into the hands of the engineering team. Fortunately, we've got dedicated channels for that very purpose. :)

For more info, see [Send feedback to Microsoft with the Feedback Hub app] https://support.microsoft.com/en-us/windows/send-feedback-to-microsoft-

[2022-11-09 09:57] #10971 closed

[2022-11-09 13:52] hilde-msft opened #10996 "In one of the notes on this page, there is a reference made to the 'domain profile' and then a reference for an "Azure Active Directory DC" - which isn't valid."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 88e8e24b-481e-babb-a4e7-c5639f2492a2
* Version Independent ID: f61e0165-fd95-0fc4-a52c-0b4c40735ea3
* Content: [Best practices for configuring Windows Defender Firewall - Windows security](https://learn.microsoft.com/en-us/windows/security/threat-pro

[2022-11-09 14:49] msbemba commented on #10606
@ken-chy Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/10997

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-09 19:11] paolomatarazzo commented on #10996
Thank you Michael, I'll fix it.

[2022-11-09 20:05] paolomatarazzo commented on #10988
@CoolDadTx did you check the entire article, including the UEFI lock piece? https://learn.microsoft.com/en-us/windows/security/identity-protection/credential-guard/credential-guard-manage#disabling-windows-defender-credential-guard-with-uefi-lock
Can you please confirm if you have UEFI lock enabled?

[2022-11-09 21:13] #10996 closed

[2022-11-09 21:24] Embrik opened #10998 "DeviceGuard WMI class is available in Win10 Pro"
This statement-
"The Win32_DeviceGuard WMI class is only available on the Enterprise edition of Windows 10 and Windows 11."

is inaccurate.  That WMI class appears to be present in Windows 10 Professional Edition.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1d4b8d75-5d09-e0d6-1a90-45175fd1043d
* Version Independent

[2022-11-09 21:24] CoolDadTx commented on #10988
@paolomatarazzo AFAIK I am not using UEFI lock?

![image](https://user-images.githubusercontent.com/3778674/200944794-b5dba895-303d-4689-a708-91c4b3119336.png)

I also checked the 2 mentioned registry entries and both values are already 0.

[2022-11-09 21:43] paolomatarazzo commented on #10988
**If** the device you are testing from has have UEFI lock, you must also follow step#3: "Delete the Windows Defender Credential Guard EFI variables by using bcdedit. From an elevated command prompt, type the following commands:". Did you do that, by any chance?

[2022-11-09 22:00] CoolDadTx commented on #10988
@paolomatarazzo AFAIK this machine has never used any of that. It was literally working on Win 11 until the latest update and then suddenly remote desktop doesn't like saved credentials anymore. So how can I tell if this was every enabled before without having to run a command that modifies my system to remove something that probably wasn't there to begin with?

[2022-11-10 03:06] kp101090 commented on #10535
Same issue with me. Documentation steps do not work for me to remote login from Windows 11 Enterprise to Windows 11 Enterprise. Can someone please suggest alternate steps?

[2022-11-10 11:24] diojwodjwiodj commented on #10535
Read my issue, the solution is in there.

[2022-11-10 13:27] PaulieShore opened #10999 "Migrating from Active Directory Based Activation to Windows Subscription Activation"
There doesn't appear to be any guidance on migrating from Active Directory Based Activation (ADBA) to Windows Subscription Activation. This article should be updated to include this scenario. For example, how do Windows clients prioritize what Activation method they choose (KMS, ADBA, Subscription)? Does this information exist anywhere? Are there ways to control this behavior? For example, what if

[2022-11-10 13:42] sukesh-ak opened #11000 "SandboxFolder tag is missing in VSCode.wsb snippet"
[Enter feedback here]
SandboxFolder tag is missing in VSCode.wsb snippet.

I created a working sample here
https://github.com/sukesh-ak/Windows-Sandbox-with-VSCODE
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2efc9d32-0f98-0804-78a4-4caccdfac010
* Version Independent ID: 797bb0d3-bade-98f6-fe85-508764571f37
* Content

[2022-11-10 14:25] msbemba commented on #10750
@thons-dnb Thank you for your feedback. From the feedback from the product team, Hyper-V is supported on Autopilot and the steps in the document should ideally help. If you continue to face issues, I'd recommend you create a support ticket with Microsoft, so that a support engineer can assist you in fixing the issue.

Hope this helps!

Thanks
Sri

[2022-11-10 14:29] msbemba commented on #10955
@ErrorRaffyline0 Thank you for your feedback. This is supported only on windows 10 and the document has been updated via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/11001

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-10 16:06] msbemba commented on #10962
@maxbaldt Thank you for your feedback. You are right, the Keywords are only VPN or Secure.

@Skorfulose  Delivery optimization tries to find out whether a computer is connected via VPN by checking the type of network adapter and whether its description contains certain keywords, such as "VPN" or "secure" and not the name.

Hope this helps!

Thanks
Sri

[2022-11-10 16:11] msbemba commented on #10615
@JasonNMS Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/11002

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-10 21:11] dariomws commented on #10908
Hi @colemank1, thank you for your feedback.

I'm adding the following information to the article:

"To enable the customized notifications and add the contact information in Intune, see [Manage device security with endpoint security policies in Microsoft Intune](/mem/intune/protect/endpoint-security-policy) and [Settings for the Windows Security experience profile in Microsoft Intune](/mem/intune/

[2022-11-10 21:36] paolomatarazzo commented on #10988
@CoolDadTx I'm checking with the devs

[2022-11-10 21:43] dariomws commented on #10912
Hi @Meld-O-Mat, thank you for your feedback.

In order to disable the feature, you must set the Group Policy to "Disabled" as well as remove the security functionality from each computer, with a physically present user, in order to clear configuration persisted in UEFI.

[2022-11-11 00:17] aczechowski commented on #10657
@yogkumgit there is a change to be made here (and actually in a couple of articles). There is a reference to "see table 13" that's not linked, and there's no "table 13" in this article. I searched and found it in another article: https://learn.microsoft.com/en-us/windows/security/threat-protection/auditing/event-5145#table-of-file-access-codes

As I hinted, there are multiple such references, so i

[2022-11-11 00:21] aczechowski commented on #10921
I'm checking with the PM to confirm.

Regarding question from @DoubNAT I'll set expectations that we won't make any statements regarding potential future functionality. 😁

[2022-11-11 00:26] #10823 closed

[2022-11-11 16:21] RAJU2529 commented on #10998
@Embrik , I will check it again.

[2022-11-11 16:56] dariomws commented on #10922
Hi @Dirk-Manderin, thank you for your feedback.

I'm not aware of an option to whitelist sites. I know the product teams are always looking for user feedback and how to make Microsoft products better. They keep a close tab on user feedback and it would be awesome if you could add your voice to the Microsoft Feedback Portal: https://feedbackportal.microsoft.com/feedback/.

You might find others hav

[2022-11-11 17:09] CoolDadTx commented on #10988
@RAJU2529 this machine isn't on a domain and therefore the change was applied to the local GP. I've never heard the need for forcing a GP update for a local change. Irrelevant the machine has been rebooted multiple times since the change was made.

[2022-11-11 17:14] RAJU2529 commented on #10988
@CoolDadTx . That applying force parameter is necessary even in standardalone computers

[2022-11-11 17:20] CoolDadTx commented on #10988
@RAJU2529 Please provide the documentation that states this. My post here was to get the docs updated related to Win11 and if this is needed in the docs then that is sort of the point of this report. As I mentioned, I have been changing local policies for years on a variety of system issues and htis is the first time I've ever heard a local policy change not taking effect after reboot without usin

[2022-11-11 17:28] RAJU2529 commented on #10988
@CoolDadTx

**https://learn.microsoft.com/en-us/windows/security/threat-protection/device-guard/enable-virtualization-based-protection-of-code-integrity**

**To apply the new policy on a domain-joined computer, either restart or run gpupdate /force in an elevated command prompt.**

[2022-11-11 17:43] CoolDadTx commented on #10988
@RAJU2529 as I mentioned this is Not a domain joined machine and I have rebooted many times since then. Is the docs wrong?

[2022-11-11 17:51] RAJU2529 commented on #10988
@CoolDadTx . I cannot comment on docs. But I  am using standard alone computer, use gpupdate force parameter, after modifying group policy

[2022-11-11 19:20] paolomatarazzo commented on #10988
@CoolDadTx if you already rebooted, then the local GPO has already applied. I don't have any indications that the article is wrong as I don't have any evidence of others reporting issues after we updated the doc. Since you are not sure if your machine has UEFI lock and, understandably, don't want to make the suggested changes unless needed, I'd ask you to wait until I hear back from the devs if th

[2022-11-11 20:13] paolomatarazzo commented on #10988
@CoolDadTx to check if Credential Guard has been enabled with UEFI Lock, you can look in the System log:
Source: Wininit
Event ID: 14

Which value do you see?

[2022-11-11 21:20] Phenix51 opened #11007 "How to add a folder of icons in the start menu layout"
Since we're able to create folders on the start menu for Windows 11, it would be nice to see an example of how to modify the pinnedlist to have certain icons within said folder.
It would also be good to see more examples of the different types of icons you could have listed such as the desktopapplink.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟

[2022-11-11 22:22] dariomws commented on #10927
Hi @tpl2488, thank you for your feedback.

The verification of the registration of the device to Azure AD is the step 4. I understand that there is no need for that GPO setting.

[2022-11-11 22:41] dariomws commented on #10928
Hi @goxia, thank you for your feedback.

It's a HTTP or HTTP URL. No special format. For example, https://mysite/picture.jpg.

[2022-11-12 02:52] davidsalajan commented on #10398
As of today, vmdrv.sys is still incorrectly appearing on the blocked list when attempting to install: Windows 11, version 22H2.

<img width="310" alt="image" src="https://user-images.githubusercontent.com/26533908/201453196-98fff1f3-e562-4d0b-beb7-0e551a21b96d.png">

[2022-11-12 03:26] AnT1nG82 opened #11008 "Windows-Docs"
[Microsoft](https://github.com/AnT1nG82)(https://g.dev/AnT1nG)
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 54254070-539b-6cf2-f988-c80ad685c5fa
* Version Independent ID: 5bbe5140-eee5-abc3-1a26-1c0d13eab358
* Content: [Diagnostic Data Viewer Overview (Windows 10 and Windows 11) - Windows Priva

[2022-11-12 04:25] rpierceneu opened #11009 "Terrible. you have to be kidding."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 789566d4-463a-4c64-bf89-fb963ac29f80
* Version Independent ID: 02946732-bb29-d8e6-cedd-7f5e508f8798
* Content: [Manage Windows Hello in your organization (Windows) - Windows security](https://learn.microsoft.com/en-us/windows/security/identity-protec

[2022-11-12 07:56] RAJU2529 commented on #11008
@yogkumgit there is no proper feedback so close this issue #11008

[2022-11-12 16:07] goxia commented on #10928
When the reference documentation is configured, it does not take effect as expected.
After consulting a lot of documentation, seeking support from Microsoft CSS, I learned that the configuration described in this document is not valid for all Windows SKUs, and I think the documentation lacks clear prerequisites or limitations.

[2022-11-14 11:36] voicemod commented on #10398
Hi @davidsalajan,

Yes, our driver version 10.0.10011.16384 was rightly added to this list finally, we have followed Microsoft’s recommendations to make the driver more safer for our users.

We encourage you to get the last version of our software/driver in the official channel [[voicemod.net](http://voicemod.net/)](https://www.voicemod.net/)

Regards

[2022-11-14 13:11] #10750 closed

[2022-11-14 13:15] yogkumgit commented on #10962
@msbemba Thank you very much for the contribution and sharing this explanation. @maxbaldt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-14 13:16] #10962 closed

[2022-11-14 13:37] yogkumgit commented on #10912
@dariomws Thank you very much for the contribution and sharing this explanation. @Meld-O-Mat Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-14 13:37] #10912 closed

[2022-11-14 13:42] yogkumgit commented on #10657
@aczechowski noted, will fix it. Thanks

[2022-11-14 13:46] paolomatarazzo commented on #11009
Hello @rpierceneu and thank you for the invaluable feedback! Can you please clarify what is "Terrible." so that we can improve the documentation?

[2022-11-14 13:49] yogkumgit commented on #10922
Thanks @Dirk-Manderin  for taking the time to provide feedback on Windows! This idea is an interesting feature, and I want to make sure it gets directly into the hands of the engineering team. Fortunately, we've got dedicated channels for that very purpose. :)
For more info, see [Send feedback to Microsoft with the Feedback Hub app] https://support.microsoft.com/en-us/windows/send-feedback-to-micr

[2022-11-14 13:49] #10922 closed

[2022-11-14 13:51] yogkumgit commented on #10927
@dariomws Thank you very much for the contribution and sharing this explanation. @tpl2488 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-14 13:51] #10927 closed

[2022-11-14 13:52] yogkumgit commented on #10928
@dariomws

[2022-11-14 16:23] CoolDadTx commented on #10988
@paolomatarazzo

Registry Configuration 0x2
Test Configuration 0
Auto Enablement 1

[2022-11-14 16:33] dariomws commented on #10928
@goxia, are you requesting an entire refresh of the article or only to the DesktopImageUrl description?

[2022-11-14 16:49] rpierceneu commented on #11009
Hello – Please give me a little more context.  I cannot find an outbound email re: the subject u are referring to.
Thank you

Robert
Robert Pierce Ph.D.  |  Senior Solution Architect
Neudesic<http://www.neudesic.com/>, an IBM Company | The Trusted Technology Partner in Business Innovation
M: 214-405-6547  |  LinkedIn<http://www.linkedin.com/in/robertpiercephd>
[A picture containing text, sign, blu

[2022-11-14 19:02] paolomatarazzo commented on #11009
@rpierceneu you provided the GitHub feedback: "Terrible. you have to be kidding. #11009" in the ralation to the content: https://learn.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-manage-in-organization
Asking for clarity.

[2022-11-14 19:04] paolomatarazzo commented on #10988
Thank you @CoolDadTx, 0x2 is Enabled without UEFI Lock. I'll ask our developers to take a closer look at your case and to chime into this discussion. Thank you.

[2022-11-14 19:06] paolomatarazzo commented on #10988
@CoolDadTx : in the meantime, can you please share the following screenshots:
Even viewer of the event above
HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Lsa\LsaCfgFlags
HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\DeviceGuard\LsaCfgFlags

[2022-11-14 19:39] jirenugo commented on #10988
Your device most likely does not explicitly disable Credential Guard. Autoenablement tells us that it was auto-enabled and the configuration value tells us that it was enabled without UEFI lock. As paolo has indicated, sharing those reg keys will be the next step. My guess is that you don't have LsaCfgFlags under HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Lsa. Setting that value to 0 will

[2022-11-14 20:07] rpierceneu commented on #11009
Ah Yes. Now I remember. I have a Surface Book Pro 2 and did a bare metal wipe and reinit a weekend ago. The machine is domain joined. I installed a regular Win10Pro 22H2 installer (not the Surface installer – couldn’t figure that one out). After I installed Win10 and started setting things up and joined the domain I noticed that Windows Hello Face did not work even though it worked perfectly befor

[2022-11-14 20:25] CoolDadTx commented on #10988
Screenshots

![image](https://user-images.githubusercontent.com/3778674/201758239-9a45c1b3-67e4-40f7-a372-e5b9a5d250ca.png)

![image](https://user-images.githubusercontent.com/3778674/201758369-2014175e-4cfa-44a3-8137-c68c41e71eea.png)

![image](https://user-images.githubusercontent.com/3778674/201758598-5b3f6b32-330a-4a72-8b6e-cc5665e18b62.png)

[2022-11-14 20:52] paolomatarazzo commented on #10988
@CoolDadTx as @jirenugo guessed, you are missing the LsaCfgFlags under HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Lsa . Please let us know if that fixes the problem

[2022-11-14 21:04] #11009 closed

[2022-11-14 22:35] mdoyleeire opened #11012 "Typo in article"
[Enter feedback here]

Typo on template creation step 16,

Article specifies below

certutil -dstemplate \<TemplateName\> \> \<TemplateName\>.txt

this is incorrect as it should be

certutil -dstemplate <TemplateName> > <TemplateName>.txt

Might save someone the hassle of figuring out why the original commmand doesnt work and doesnt create the txt file

Thanks,
Mark

---
#### Document Details

⚠ *

[2022-11-15 09:21] msbemba commented on #11012
@mdoyleeire Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/11013

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-15 11:36] msbemba commented on #11000
@sukesh-ak Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/11014

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-15 12:40] yogkumgit commented on #10937
Thanks @WebTiger89  for taking the time to share this with the Windows documentation team. I’m sorry that you’re having problems, and I want to make sure it gets to the right people that can help. There are a couple of options available to provide the best level of support for this issue:
- Post to [Windows on Q&A](https://docs.microsoft.com/answers/products/windows). These are moderated by commun

[2022-11-15 12:47] WebTiger89 commented on #10937
I have no problems. I clearly pointed out that the documentation is wrong

[2022-11-15 12:51] WebTiger89 commented on #10937
@yogkumgit It is fine if this is too complex for you but stop closing issues if you have no clue what is going on. Again, the documentation is wrong. And that a original image of windows does not follow the steps stated in the documentation confirms that the documentation is wrong.

[2022-11-15 13:53] msbemba commented on #10994
@Elangamban Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/11015

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-15 13:56] msbemba commented on #10975
@Masonta1976 Thank you for your feedback. I'm not sure if I understand the feedback here, Are you referring to any policy name?

Thanks
Sri

[2022-11-15 14:00] msbemba commented on #10961
@RAJU2529 Thank you for your feedback. From the Blog and support documents, we see that the product group is aware of this and an update will be released soon. More information on that will only be available with the support team, so request you contact technical support directly.

Hope this helps!

Thanks
Sri

[2022-11-15 14:07] msbemba commented on #10900
@Kuermel Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/11016

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-15 14:09] msbemba commented on #10894
@yogkumgit The changes are made. This can be closed.

Thanks
Sri

[2022-11-15 14:24] msbemba commented on #10770
@cthwallis Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/11017

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-15 14:31] msbemba commented on #10757
@Ramnay Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/11018

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-15 14:42] msbemba commented on #10734
@MarineBDCoru Thank you for your feedback. Yes, the requirement is accurate and it works if the VMs are joined to Active Directory or Azure Active Directory (Azure AD).

If this is still an issue, I'd suggest opening up a Microsoft support ticket so that our support engineers will be able to investigate, troubleshoot and resolve the issue.

Hope this helps!

Thanks
Sri

[2022-11-15 15:15] msbemba commented on #10707
@cliffzhu Thank you for your feedback. I will test this and update the document if need be.

Thanks
Sri

[2022-11-15 15:19] msbemba commented on #10677
@SpitFire-666 Thank you for your feedback. We will update a screenshot shortly.

Thanks
Sri

[2022-11-15 15:29] davideverall opened #11019 "CI Tools for Windows 10"
Hi

The citool-commands docs page mentions that the "CI Tool is currently included in Windows 11, version 22H2", however there is no mention of Windows 10.

Is the tool supported on Windows 10 and, if so, is there a standalone package for download?

Regards

David

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 20079bf

[2022-11-15 19:58] paolomatarazzo commented on #10988
Closing this issue, @CoolDadTx let us know if you still have issues

[2022-11-15 20:10] CoolDadTx commented on #10988
@paolomatarazzo  I have not been able to verify the fix yet. However I still believe the docs need work. The entry you're asking me to add isn't configured by default on any Win10/11 machine I've checked. So even without doing anything on my machine, the latest Windows Update breaks stored Windows credentials. I don't see how anyone without inside knowledge of how this works would be able to figur

[2022-11-15 20:24] paolomatarazzo commented on #11012
hello @mdoyleeire and thank you for your feedback. The process described in the article is correct and doesn't require any updates. Please verify the steps, you must export the template to a text by specifying a name. If you don't it will export all templates to the text file.

[2022-11-15 20:24] #11012 closed

[2022-11-15 22:53] aczechowski commented on #10921
@dariomws I confirmed with PM that Office 2016 updates in this way, but all later versions with C2R don't currently update with WUfB. Thanks for asking

[2022-11-15 23:47] KNCNS opened #11020 "Document configuration validity check request"
[Enter feedback here]
Hello,

In this document, it is noted that NLA should be turned on, however, even using AzureAD\username@domain.com (even if its a local  admin on a PC) does not succeed as NLA authentication fails.  The only way to use RDP is to turn off NLA and use AzureAD\username@domain.com on the Desktop login prompt without NLA.  We've tested this with Win 10 Pro 21H2, and the latest Wi

[2022-11-16 03:24] CoolDadTx commented on #10988
@paolomatarazzo @jirenugo the registry entry did not work. When I use `mstsc` to connect to a VM running on the same machine (as I always have been before the Windows update) then it rejects the saved credentials and requires me to enter them again.

![image](https://user-images.githubusercontent.com/3778674/202075927-cd5893f4-42e6-480e-acfa-d4a8a3202851.png)

[2022-11-16 07:46] dariomws commented on #10921
@aczechowski, thanks!

Should we remove the mention to Office from Quality updates section?
"Windows Update for Business also treats non-Windows updates (such as updates for **Microsoft Office** or Visual Studio) as quality updates."

[2022-11-16 12:19] paolomatarazzo commented on #10988
@CoolDadTx thank you for the feedback, we will update the documentation as need to make it clearer. @jirenugo to take a closer look

[2022-11-16 13:58] msbemba commented on #10616
@jdb5 Thank you for your feedback. I have tested it in a  hybrid joined device and it shows up in the MSP field. If this continues to be a problem, we recommend you contact Microsoft support so that a support engineer can assist in fixing the issue.

Hope this helps!

Thanks
Sri

[2022-11-16 13:59] msbemba commented on #10645
@javoger Thank you for your feedback. Ideally, the MS value should either be 16 or 18, it is unusual to have a value of 1. I'd recommend you contact Microsoft support so that a support engineer can assist you in identifying and fixing the issue.

Hope this helps!

Thanks
Sri

[2022-11-16 14:11] msbemba commented on #10677
@SpitFire-666 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/11021

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-16 14:45] msbemba commented on #10459
@Bosjvd Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/11022

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-16 15:09] CoolDadTx commented on #10988
@paolomatarazzo @jirenugo FYI the behavior is inconsistent. Perhaps the issue is just with mstsc. The machine I'm trying to connect to is a Hyper-V VM. I have a PS script that starts Hyper-V and the VM if they are not already running and connects via the standard Hyper-V client. The credentials work here and I can get into the VM. However my script then connects using mstsc and that is when it say

[2022-11-16 17:46] aczechowski commented on #10921
At a minimum, yes. I'm not sure about Visual Studio, though. It's possible it's in the same situation as Office - it was at one time but no longer. It's been a while since I've used full VS, but I think it has its own update mechanism. So maybe let's just remove the entire example inside of the parentheses.
thanks!

[2022-11-16 18:25] msbemba commented on #10266
@mapalko Thank you for your feedback. Olympia Corp, a virtual corporation was set up to reflect the IT infrastructure of real world businesses and Olympia has been formally retired on October 31, 2022.

Hope this helps!

@yogkumgit This can be closed.

Thanks
Sri

[2022-11-16 18:31] msbemba commented on #9832
@RAJU2529 Thank you for your feedback. Sorry about the delay in answering this issue.

While the link presented is very useful, it can only be linked to a document if it is entirely related to the topic discussed. I'd not recommend linking this for now.

Hope this helps!

Thanks
Sri

[2022-11-17 08:41] dariomws commented on #10937
@SteveDiAcetis, I cannot confirm this information to update the article and it's the first time we´ve receive this request. Could you help here?

[2022-11-17 12:05] RAJU2529 commented on #11019
@davideverall , might be supported try unzipping the folder
[CITools.zip](https://github.com/MicrosoftDocs/windows-itpro-docs/files/10031291/CITools.zip)

[2022-11-17 12:40] davideverall commented on #11019
Thanks!

This does seem to work on Windows 10 (tested on 22H2)

[2022-11-17 14:26] yogkumgit commented on #10645
Thanks @javoger  for taking the time to share this with the Windows documentation team. I’m sorry that you’re having problems, and I want to make sure it gets to the right people that can help. There are a couple of options available to provide the best level of support for this issue:
- Post to [Windows on Q&A](https://docs.microsoft.com/answers/products/windows). These are moderated by community

[2022-11-17 14:26] #10645 closed

[2022-11-17 14:27] skenigma opened #11025 "Bad email address"
I tried to send an email to the pwdless@microsoft.com linked in this article.  and got it bounced back.

My MS Advisor was able to send a message to that address from his MS account, with no problem, but not from his External email account.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6ca080bd-ed37-60a8-ec22-b192916

[2022-11-17 14:30] yogkumgit commented on #10528
Thanks @tom-tackett  for taking the time to provide feedback on Windows! This idea is an interesting feature, and I want to make sure it gets directly into the hands of the engineering team. Fortunately, we've got dedicated channels for that very purpose. :)
For more info, see [Send feedback to Microsoft with the Feedback Hub app] https://support.microsoft.com/en-us/windows/send-feedback-to-micros

[2022-11-17 14:30] #10528 closed

[2022-11-17 14:34] yogkumgit commented on #10449
Thanks @Elis150 for taking the time to share this with the Windows documentation team. I’m sorry that you’re having problems, and I want to make sure it gets to the right people that can help. There are a couple of options available to provide the best level of support for this issue:
- Post to [Windows on Q&A](https://docs.microsoft.com/answers/products/windows). These are moderated by community

[2022-11-17 14:35] #10449 closed

[2022-11-17 14:36] yogkumgit commented on #10431
@msbemba Thank you very much for the contribution and sharing this explanation. @alevere Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-17 14:36] #10431 closed

[2022-11-17 14:41] tom-tackett commented on #10528
Sounds good, thanks

R. Tom Tackett | IT Infrastructure Manager | PCC Aerostructures
Phone: 1+ (425) 957-6925 | E-Mail: ***@***.***<https://owa.pccaero.com/owa/redir.aspx?C=lF-PxWrx8E6M1h9tLLNUTszNuASi5M8IG0HaAk56zJONGgE4Lrawb0zEIJFtjaMCCTllem0HX-Q.&URL=mailto%3aRTTackett%40pccaero.com> | Time Zone: Central (GMT -6)
From: Yogesh Kumar ***@***.***>
Sent: Thursday, November 17, 2022 8:31 AM
To: Micr

[2022-11-17 14:49] yogkumgit commented on #10266
@msbemba Thank you very much for the contribution and sharing this explanation. @mapalko Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-17 14:49] #10266 closed

[2022-11-17 14:51] yogkumgit commented on #9832
@msbemba Thank you very much for the contribution and sharing this explanation. @RAJU2529 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-17 14:51] #9832 closed

[2022-11-17 14:57] #11019 closed

[2022-11-17 15:04] yogkumgit commented on #10975
@Masonta1976 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some tim

[2022-11-17 15:05] #10975 closed

[2022-11-17 15:07] yogkumgit commented on #10961
@msbemba Thank you very much for the contribution and sharing this explanation. @RAJU2529 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-17 15:07] #10961 closed

[2022-11-17 15:17] yogkumgit commented on #10734
Thanks @MarineBDCoru  for taking the time to share this with the Windows documentation team. I’m sorry that you’re having problems, and I want to make sure it gets to the right people that can help. There are a couple of options available to provide the best level of support for this issue:
- Post to [Windows on Q&A](https://docs.microsoft.com/answers/products/windows). These are moderated by comm

[2022-11-17 15:17] #10734 closed

[2022-11-17 15:36] paolomatarazzo commented on #11025
Thank you for your feedback, @skenigma! I verified, and you are correct. The DL doesn't accept external senders. I'm checking with the DL members and I will update the article accordingly.
In the meantime, is there any feedback you'd like to share?

[2022-11-17 15:38] yogkumgit commented on #10616
Thanks @jdb5  for taking the time to share this with the Windows documentation team. I’m sorry that you’re having problems, and I want to make sure it gets to the right people that can help. There are a couple of options available to provide the best level of support for this issue:
- Post to [Windows on Q&A](https://docs.microsoft.com/answers/products/windows). These are moderated by community me

[2022-11-17 15:38] #10616 closed

[2022-11-17 15:41] yogkumgit commented on #10571
@msbemba Thank you very much for the contribution and sharing this explanation. @hodders73 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-17 15:41] #10571 closed

[2022-11-17 16:46] #10875 closed

[2022-11-17 17:24] aczechowski commented on #10709
This article was migrated to the Windows troubleshooting content library, which is owned by another team in support. I've shared this issue with them if they want to take action on it. I'm closing this issue as there's nothing actionable for my team since this content no longer exists in this repository.

[2022-11-17 17:24] #10709 closed

[2022-11-17 17:41] aczechowski commented on #10870
This article was migrated to the Windows troubleshooting content library, which is owned by another team in support. I've shared this issue with them if they want to take action on it. I'm closing this issue as there's nothing actionable for my team since this content no longer exists in this repository.

[2022-11-17 17:41] #10870 closed

[2022-11-17 17:41] aczechowski commented on #10664
This article was migrated to the Windows troubleshooting content library, which is owned by another team in support. I've shared this issue with them if they want to take action on it. I'm closing this issue as there's nothing actionable for my team since this content no longer exists in this repository.

[2022-11-17 17:41] #10664 closed

[2022-11-17 17:42] aczechowski commented on #10400
This article was migrated to the Windows troubleshooting content library, which is owned by another team in support. I've shared this issue with them if they want to take action on it. I'm closing this issue as there's nothing actionable for my team since this content no longer exists in this repository.

[2022-11-17 17:42] #10400 closed

[2022-11-17 17:45] aczechowski commented on #9181
This article was migrated to the Windows troubleshooting content library, which is owned by another team in support. I've shared this issue with them if they want to take action on it. I'm closing this issue as there's nothing actionable for my team since this content no longer exists in this repository.

[2022-11-17 17:45] #9181 closed

[2022-11-17 17:46] aczechowski commented on #10696
This article was migrated to the Windows troubleshooting content library, which is owned by another team in support. I've shared this issue with them if they want to take action on it. I'm closing this issue as there's nothing actionable for my team since this content no longer exists in this repository.

[2022-11-17 17:46] #10696 closed

[2022-11-17 17:47] aczechowski commented on #10277
This article was migrated to the Windows troubleshooting content library, which is owned by another team in support. I've shared this issue with them if they want to take action on it. I'm closing this issue as there's nothing actionable for my team since this content no longer exists in this repository.

[2022-11-17 17:47] #10277 closed

[2022-11-17 17:49] aczechowski commented on #9785
This article was migrated to the Windows troubleshooting content library, which is owned by another team in support. I've shared this issue with them if they want to take action on it. I'm closing this issue as there's nothing actionable for my team since this content no longer exists in this repository.

[2022-11-17 17:49] #9785 closed

[2022-11-17 17:52] SteveDiAcetis commented on #10937
@dariomws Sorry for the late reply. Yes, this is indeed an issue. Has to do with how this file is serviced. I'm investigating better solutions, but until then, a workaround is needed. @WebTiger89 thanks for raising this.

[2022-11-17 17:52] aczechowski commented on #10358
This article was migrated to the Windows troubleshooting content library, which is owned by another team in support. I've shared this issue with them if they want to take action on it. I'm closing this issue as there's nothing actionable for my team since this content no longer exists in this repository.

[2022-11-17 17:52] #10358 closed

[2022-11-17 17:53] aczechowski commented on #10313
This article was migrated to the Windows troubleshooting content library, which is owned by another team in support. I've shared this issue with them if they want to take action on it. I'm closing this issue as there's nothing actionable for my team since this content no longer exists in this repository.

[2022-11-17 17:53] #10313 closed

[2022-11-17 17:55] aczechowski commented on #9821
This article was migrated to the Windows troubleshooting content library, which is owned by another team in support. I've shared this issue with them if they want to take action on it. I'm closing this issue as there's nothing actionable for my team since this content no longer exists in this repository.

[2022-11-17 17:55] #9821 closed

[2022-11-17 17:57] aczechowski commented on #10370
This article was migrated to the Windows troubleshooting content library, which is owned by another team in support. I've shared this issue with them if they want to take action on it. I'm closing this issue as there's nothing actionable for my team since this content no longer exists in this repository.

[2022-11-17 17:57] #10370 closed

[2022-11-17 18:10] aczechowski commented on #10928
Let me check with someone about this - we've talked about potentially automating this reference content in the future, but I don't know yet if we have a source of truth for things like applicability. If we do, then we can make a tactical update to this article with that additional information as to which editions it applies to.

[2022-11-17 18:14] #10459 closed

[2022-11-17 18:15] #10921 closed

[2022-11-17 18:31] ErrorRaffyline0 opened #11026 "Many "(Windows 10)" document titles unmatched with page headers in Security Docs"
In a large chunk of the security documentation (maybe even outside that scope), the document title will contain a mention of the supported Windows version for that feature (often "(Windows 10)"). However, this document title is not shown while viewing the page, instead the header title is written seperately. Many of the written headers omit the "(Windows 10)" from the title, which makes the person

[2022-11-17 19:30] ErrorRaffyline0 opened #11027 ""Applies to" tag should be implemented (consistently) across Security documentation"
Docs such as [copy-a-gpo-to-create-a-new-gpo.md](https://github.com/MicrosoftDocs/windows-itpro-docs/blob/2ddba849403dbb7929327415e98df35359237973/windows/security/threat-protection/windows-firewall/copy-a-gpo-to-create-a-new-gpo.md) contain a tag that verifies to which Windows versions the feature applies.
![image](https://user-images.githubusercontent.com/48763181/202537181-3f0ac208-4d64-41e3-bd

[2022-11-17 19:37] ErrorRaffyline0 commented on #10955
It's definitely a good to include "(Windows 10)" in the header as well, but due to length constraints this omits older versions like Vista, which can be confusing since the page also shows that the minimum OS version for this feature is Windows Server 2008 and Vista, which means those are also supported along with any version in between. That section should also include a maximum OS version. In my

[2022-11-17 19:49] ErrorRaffyline0 opened #11028 "Misleading FAQ info about OS version support"
This FAQ fails to mention that many advanced audit policy configuration features are unsupported in Windows 11.
An example of one of these deprecations is in #11001.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5752fb34-9d01-a788-e397-2c17933257ee
* Version Independent ID: 8d01032c-c393-2add-deaf-837bfe219ca2
* Cont

[2022-11-17 22:31] WebTiger89 commented on #10920
https://learn.microsoft.com/en-us/windows-hardware/manufacture/desktop/dism/dism-api-reference?view=windows-11

It would be great if this page covers a section about asynchronous capabilities. I have written a powershell script which can mount and install packages to an wim image file in parallel but this works only if both use a different scratch directory. So it seems there is support for parall

[2022-11-17 22:33] WebTiger89 commented on #10937
@SteveDiAcetis Steve, you are my man ;)
Always a pleasure to help

[2022-11-17 23:36] DeanGross opened #11029 "Server 2022"
Is there a reason Server 2022 is not listed? please add it if appropriate

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2a149789-67c1-e126-129b-6e77e831086d
* Version Independent ID: dd04d845-c098-46e5-fedf-92ba8fc64615
* Content: [Trusted Platform Module Technology Overview (Windows) - Windows security](https://lear

[2022-11-18 09:03] yogkumgit commented on #11000
@msbemba

[2022-11-19 07:51] msbemba commented on #10900
@yogkumgit This can be closed

[2022-11-21 05:11] #10900 closed

[2022-11-21 13:26] mikebeaton commented on #10370
@aczechowski - Is there a link to a new public issue on a repo tracking this somewhere?

[2022-11-21 16:27] vinaypamnani-msft commented on #11027
Appreciate the feedback @ErrorRaffyline0. Some work is already being done on the Applies To tag, so expect to see some improvements gradually.

[2022-11-21 16:32] UdiShoshan opened #11045 "Your solutions for Manage Windows Defender Credential Guard, just does not work as expected"
On my Win11 Pro 22H2  OS Build : 22621.819
Whenever I try to connect to VPN or RDP, Windows security ask me for Credentials
It is VERY annoying.

How to avoid this "feature" ?

Thx,
Udi Shoshan

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 41c2cb44-269d-3334-019a-726eb5432f1c
* Version Independent ID: 251024cc-b818-1

[2022-11-21 17:17] paolomatarazzo commented on #11045
Hello @UdiShoshan and thank you for reaching out. Which part of the article did you try to resolve your issue?
If the steps described do not work for you, please clarify what you tried so that I can update the documentation.

[2022-11-21 17:19] paolomatarazzo commented on #10988
@CoolDadTx I would suggest opening a support case to troubleshoot your specific issue. I don't think this is the best place to troubleshoot.

[2022-11-21 17:19] #10988 closed

[2022-11-21 20:20] vinaypamnani-msft commented on #10978
I've made the statement less confusing, and am closing this issue. The change should be live later today.

[2022-11-21 20:20] #10978 closed

[2022-11-21 21:58] paolomatarazzo commented on #10913
Thank you for the feedback @BiggsSkeedR, we have the firewall rule doc enhancement in our backlog. Closing this request.

[2022-11-21 21:58] #10913 closed

[2022-11-22 08:00] UdiShoshan commented on #11045
Hello, I'm just trying, like all the other persons, to launch RDP and/or VPN connection. I expected that Win11 Pro will keep the credentials, and will use it, but I get: as example. As for your article, I tried every "option" - but , the problem persist. Thanks, Udi Shoshan www.xpertbilling.com (http://www.xpertbilling.com/) GSM:+32 496 524 769 On 2022-11-21 18:18, Paolo Matarazzo ***@***.***> wro

[2022-11-22 12:07] yogkumgit commented on #11000
@msbemba Thank you very much for the contribution and updating the documentation with PR. @sukesh-ak Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-22 12:07] #11000 closed

[2022-11-22 12:10] yogkumgit commented on #10955
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ErrorRaffyline0 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-22 12:20] yogkumgit commented on #10974
@msbemba Thank you very much for the contribution and updating the documentation with PR. @shutrshock Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-22 12:20] #10974 closed

[2022-11-22 12:23] yogkumgit commented on #10615
@msbemba Thank you very much for the contribution and updating the documentation with PR. @JasonNMS Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-22 12:23] #10615 closed

[2022-11-22 12:25] yogkumgit commented on #10606
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ken-chy Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-22 12:25] #10606 closed

[2022-11-22 17:22] paolomatarazzo commented on #11045
Hello @UdiShoshan, I understand your frustration but without more information I cannot make any updates to the documentation. I would suggest opening a support request to have the issue investigated. Once we determine that all the steps in the article have been followed and the issue is not resolved, then we can figure out how to update the article.

[2022-11-22 17:22] #11045 closed

[2022-11-22 19:06] UdiShoshan commented on #11045
Why issue closed? Problem isn't solved Udi Shoshan www.xpertbilling.com (http://www.xpertbilling.com/) GSM:+32 496 524 769 On 11/22/2022, 18:22:42, Paolo Matarazzo ***@***.***> wrote: > > > Closed #11045 (https://github.com/MicrosoftDocs/windows-itpro-docs/issues/11045) as completed. > > > > — > Reply to this email directly, view it on GitHub (https://github.com/MicrosoftDocs/windows-itpro-docs/is

[2022-11-22 19:08] myxxmikeyxx opened #11050 "Broken Link"
[windows-itpro-docs](https://github.com/MicrosoftDocs/windows-itpro-docs)/[windows](https://github.com/MicrosoftDocs/windows-itpro-docs/tree/public/windows)/[configuration](https://github.com/MicrosoftDocs/windows-itpro-docs/tree/public/windows/configuration)/[provisioning-packages](https://github.com/MicrosoftDocs/windows-itpro-docs/tree/public/windows/configuration/provisioning-packages)/how-it-

[2022-11-22 19:10] UdiShoshan commented on #11045
Hi, That's the point, I have done all the options in the article, but the problem persist. I saw other users who had the same problem and followed up the options in the article, but problem is still there. Thx Udi Shoshan www.xpertbilling.com (http://www.xpertbilling.com/) GSM:+32 496 524 769 On 11/22/2022, 18:22:28, Paolo Matarazzo ***@***.***> wrote: > > > Hello @UdiShoshan (https://github.com/U

[2022-11-22 19:32] paolomatarazzo commented on #11045
@UdiShoshan I closed this because it may not be an issue related to the documentation. As explained above, I suggest to open a support request so that Support can investigate further. Once we determine the root cause, then we can update the documentation accordingly. Keeping this open wouldn't help resolving the issue, as this is not a technical support channel.

[2022-11-22 20:10] msbemba commented on #11050
@myxxmikeyxx Thank you for your feedback. That is correct, the document has been moved here -https://learn.microsoft.com/en-us/windows/configuration/provisioning-packages/how-it-pros-can-use-configuration-service-providers

Hope this helps!

Thanks
Sri

[2022-11-22 20:16] msbemba commented on #10542
@alex47 Thank you for your feedback. That is correct, the system drive refers to the C: Drive in the documentation. Also, if the data drive was configured for automatic unlock only, it will need to be unlocked by using the recovery key. This has been updated in the document.

 Hope this helps!

Thanks
Sri

[2022-11-22 20:24] msbemba commented on #10707
@cliffzhu Thank you for your feedback. I was able to find pKIDefaultCSPs during testing. If this continues to be a problem, I'd recommend reaching out to Microsoft support to troubleshoot the issue.

Hope this helps!

Thanks
Sri

[2022-11-22 20:28] msbemba commented on #10998
@Embrik and @RAJU2529 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/11051

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-22 23:22] ErrorRaffyline0 commented on #10954
Addressed in [Windows 11 Build 22621.898 (KB5020044)](https://blogs.windows.com/windows-insider/2022/11/17/releasing-windows-11-build-22621-898-to-the-release-preview-channel/).
Weird that the writers and support people said that the feature is no longer supported if they're actively fixing it...

[2022-11-22 23:26] ErrorRaffyline0 commented on #10955
@yogkumgit I know it's annoying since you already closed this issue, but it seems this feature has been fixed on [Windows 11 Build 22621.898 (KB5020044)](https://blogs.windows.com/windows-insider/2022/11/17/releasing-windows-11-build-22621-898-to-the-release-preview-channel/).
Could you explain to me why so many security features are marked as (Windows 10) even though they work perfectly fine and

[2022-11-23 08:46] Riinmo opened #11053 "Typo Subject Alternative Name SCEP policy Intune"
There is a typo in the section to create a policy voor the scep certificate for Intune.
In the Subject Alternative name it should be only the value of the userprincipalname in stead of CN={{UserPrincipalname}}.
The value CN={{Userprincipalname}} is an invalid upn value that is used for authentication. So, it should only be {{UserPrincipalName}}.

---
#### Document Details

⚠ *Do not edit this sect

[2022-11-23 10:44] alex47 commented on #10542
@msbemba Unfortunately this did not answer my question.
The question was about system drive, not data drive, and not related to automatic unlocking.

[2022-11-23 11:31] msbemba commented on #11053
@Riinmo Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/windows-itpro-docs/pull/11055

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-23 12:06] msbemba commented on #10578
@mneitzke Thank you for your feedback. This sounds more like a technical issue and I'd recommend you contact Microsoft our support team will be able to assist you with this issue.

Hope this helps!

Thanks
Sri

[2022-11-23 12:21] di6parn opened #11056 "Since 22H2, user pinned apps are removed"
After updating to 22H2, the ConfigureStartPins CSP removes any apps that the user pins on start. The user can pin apps, but they are removed at restart. If this is expected, it should be clarified in the docs.

[2022-11-23 12:54] #10707 closed

[2022-11-23 13:15] yogkumgit commented on #10578
Thanks @mneitzke  for taking the time to share this with the Windows documentation team. I’m sorry that you’re having problems, and I want to make sure it gets to the right people that can help. There are a couple of options available to provide the best level of support for this issue:
- Post to [Windows on Q&A](https://docs.microsoft.com/answers/products/windows). These are moderated by communit

[2022-11-23 13:26] yogkumgit commented on #11050
@msbemba Thank you very much for the contribution and sharing this explanation. @myxxmikeyxx Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-23 14:01] Sergiortc opened #11057 "Title does not match content"
The article has the title "What's new in Windows 10, version 22H2" but has no information on what is new in this version.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 26b9d6c3-b5bc-129c-e985-ca03b43b3235
* Version Independent ID: 26b9d6c3-b5bc-129c-e985-ca03b43b3235
* Content: [What's new in Windows 10, version 22H2

[2022-11-23 15:08] paolomatarazzo commented on #11053
Thank you for catching it, @msbemba . The change is approved and merged

[2022-11-23 15:08] #11053 closed

[2022-11-23 15:59] #6652 closed

[2022-11-24 07:39] mtengmo opened #11058 "Intune scep policy incorrect"
In the scep profile in Intune, the predefined values for the extended key usages have three options: Any purpose, Client Auth and Secure email. The smartcard option doesn´t exists that the documentation ask for.

![image](https://user-images.githubusercontent.com/17195619/203721849-61d40fe2-8c72-4736-8937-fc41c46a97a2.png)

GPO: is it possible to enroll with autoenroll through GPOs?

---
#### Docu

[2022-11-24 08:02] MrGittyPerson opened #11059 "Kudos"
Nice stuff microsoft!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9db96ae7-52a1-83df-3913-35765fc62972
* Version Independent ID: 9db96ae7-52a1-83df-3913-35765fc62972
* Content: [What's new in Windows 11, version 22H2 for IT pros - What's new in Windows](https://learn.microsoft.com/en-us/windows/whats-new/whats-new-

[2022-11-24 11:06] yogkumgit commented on #11056
@di6parn Kindly indicate which document you are referring to. Thanks

[2022-11-24 11:09] #11059 closed

[2022-11-24 11:23] yogkumgit commented on #10998
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Embrik Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-24 11:55] di6parn commented on #11056
Oh, sorry, I thought it would be automatically linked.
I'm referring to [Customize the Start menu layout on Windows 11](https://learn.microsoft.com/en-us/windows/configuration/customize-start-menu-layout-windows-11)

[2022-11-24 12:00] yogkumgit commented on #11008
@AnT1nG82 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time t

[2022-11-24 12:00] #11008 closed

[2022-11-24 12:05] yogkumgit commented on #10947
@BagginsLongshot We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some

[2022-11-24 12:05] #10947 closed

[2022-11-24 12:06] yogkumgit commented on #10935
@rabbanisyed We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some tim

[2022-11-24 12:06] #10935 closed

[2022-11-24 12:13] yogkumgit commented on #10545
@andreamerico We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some ti

[2022-11-24 12:25] #10892 closed

[2022-11-24 12:37] yogkumgit commented on #8833
@russrimm Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-24 12:37] #8833 closed

[2022-11-24 12:54] #9729 closed

[2022-11-24 13:00] #9733 closed

[2022-11-24 13:02] yogkumgit commented on #9749
@guymerdm Please suggest your feedback to improve the documentation. Thanks

[2022-11-24 13:04] #9751 closed

[2022-11-24 13:17] #10226 closed

[2022-11-24 13:48] yogkumgit commented on #10677
@msbemba Thank you very much for the contribution and updating the documentation with PR. @SpitFire-666 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-24 13:48] #10677 closed

[2022-11-25 06:25] microsoft-github-policy-service[bot] opened #11061 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-27 16:15] aronreisx commented on #10689
Still looking for an answer on this question. I have a Samsung G9 and always need to rescale the windows size manually.

[2022-11-27 21:12] mattsmacblog opened #11063 "Remove PIN information"
This all worked well for a PIN Reset, could you add what's required to light up the "Remove Pin" button on Windows 10 Clients when you've got Windows 10 Hello for Business all setup?  (Hybrid Cloud Trust, Reset Service and Client in Azure setup, Change PIN all works but Remove PIN is still greyed out)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟

[2022-11-28 00:36] mattsmacblog opened #11064 "[WHFB] Cloud Kerberos trust migration"
Enabled, seems to equal, "Once enabled don't allow it to be turned off ever again". The Remove option becomes greyed out, perhaps this could be documented better?  Is it by design?

For me the only way to then disable it, is to create a Hello for Business - Disabled policy, let it sync, the whole pin option is then Managed by my Org and greyed out, then run a certutil /deletehellocontainer and reb

[2022-11-28 07:50] AHMEDHAMDOUN01000 commented on #11064
في الاثنين، ٢٨ نوفمبر ٢٠٢٢, ٢:٣٧ ص mattsmacblog ***@***.***>
كتب:

[2022-11-28 09:37] Zwen89x commented on #10497
Hi Guys, i stuck with the same problem.
i found this articel:

https://learn.microsoft.com/en-us/azure/active-directory/devices/assign-local-admin#manage-administrator-privileges-using-azure-ad-groups-preview

**Azure AD groups deployed to a device with this policy don't apply to remote desktop connections. To control remote desktop permissions for Azure AD joined devices, you need to add the indi

[2022-11-28 14:29] paolomatarazzo commented on #11064
Hello @AHMEDHAMDOUN01000 and thank you for the feedback. Let me make sure I fully understand your suggestion.
The steps to migrate should be:

1. Disable the certificate trust policy
2. Enable cloud Kerberos trust via Group Policy or Intune
3. Remove the certificate trust credential using the command certutil -deletehellocontainer from the user context
4. Sign out and sign back in
5. Provision Win

[2022-11-28 14:45] paolomatarazzo commented on #11063
Hello @mattsmacblog you cannot remove a PIN, why would you want to do that?

[2022-11-28 15:34] paolomatarazzo commented on #11058
@mtengmo thank you for the feedback. I'm updating the article accordingly. You can leave the *predefined value* as *not configured* and fill out the other two fields.
Regarding your questions: yes, you can use autoenroll through GPOs. as a matter of fact, that's how you want to do it at scale :)

[2022-11-28 15:34] #11058 closed

[2022-11-28 16:08] #11027 closed

[2022-11-28 16:40] mapalko commented on #10336
I am no longer the area owner for this docs section.

[2022-11-28 16:40] mapalko commented on #9443
I am no longer the area owner for this docs section.

[2022-11-28 16:40] mapalko commented on #5545
I am no longer the area owner for this docs section.

[2022-11-28 16:40] mapalko commented on #9506
I am no longer the area owner for this docs section.

[2022-11-28 17:28] ErrorRaffyline0 commented on #11027
Are you sure this should be closed? The issue is also regarding replacing certain titles containing version names with appliesto tags in the text.

[2022-11-28 17:59] aczechowski commented on #10928
Vinay is following up with the PM

[2022-11-28 18:57] paolomatarazzo commented on #11027
@ErrorRaffyline0 there's a broader effort to standardize AppliesTo across all articles in the Windows repo. This will be done in stages and it's already undergoing. I'm closing this to avoid unnecessary tracking. The articles that you read may be already updated or may get updated within the next couple of months.

[2022-11-28 19:29] vultureman opened #11065 "Affects some windows updates"
We adjusted this to only the built-in Administrators group for our kiosks. What we've seen on our kiosks is that, even though the service account that auto-logins into this PC is in the administrators group (required per the Inteset kiosk software), sometimes restarts for updates do not work. If the kiosk is moved to a different OU where this shutdown permission is not adjusted and defaults are re

[2022-11-28 19:40] AdmiralTolwyn opened #11066 "More roles can be used for read access"
In addition to the Global Reader roles (see docs excerpt below), you can use the following roles:

- Intune Administrator
- Intune Policy and Profile Manager
- Windows Update Deployment Administrator

This is the documentation section I am referring to:

_To display the workbook and view the Windows tab in the Software Updates page [Microsoft 365 admin center](https://admin.microsoft.com/) use the

[2022-11-28 20:40] paulsmason commented on #10671
Sorry it's taken me so long to get back to you.
Does this mean that Secure Launch / Firmware protection is available ONLY on Enterprise and Education editions?
If so, how do you know that? Is it in the Microsoft on-line documentation? I can't find it anywhere.
Many, many thanks - Paul Mason

    On Tuesday, October 11, 2022 at 07:57:30 AM EDT, VARADHARAJAN K ***@***.***> wrote:

@paulsmason, Eligi

[2022-11-29 07:41] AdmiralTolwyn commented on #11066
You might also want to mention that Intune Policy and Profile Manager and Windows Update Deployment Administrator roles are much more scoped and would be recommended for accessing the WUfB Reports.

[2022-11-29 11:36] yogkumgit commented on #10336
@paolomatarazzo can you please help here, or please let me know who is the right person to approach for this. Thanks

[2022-11-29 11:38] yogkumgit commented on #9443
@paolomatarazzo

[2022-11-29 11:39] yogkumgit commented on #9506
@paolomatarazzo

[2022-11-29 12:34] yogkumgit commented on #11061
@tiburd Your kind action. Thanks

[2022-11-29 14:36] #11061 closed

[2022-11-29 18:17] vinaypamnani-msft commented on #10553
@CMDRMgram This is indeed confusing, I looked into the setting more. DisableCatchupFullScan by default has a value of 1 (True/Yes), which indeed means the catch up scans are disabled by default. To turn catch up scans on, you need to Enable the setting which is done by setting it to 0 (No/False), which does contradict the Intune settings catalog. I believe the Intune Settings Catalog is flipping t

[2022-11-29 19:53] #10879 closed

[2022-11-29 22:53] #10708 closed

[2022-11-29 23:02] vinaypamnani-msft commented on #10835
Hey @pcamh, we're in the process of updating the CSP docs using a new format which will make this issue obsolete as the new format doesn't include Business applicability. As we continue, we'll work further on including the Business edition applicability appropriately for all CSPs, so I'm closing this issue for the time being.

[2022-11-29 23:02] #10835 closed

[2022-11-29 23:02] vinaypamnani-msft commented on #10834
Hey @pcamh, we're in the process of updating the CSP docs using a new format which will make this issue obsolete as the new format doesn't include Business applicability. As we continue, we'll work further on including the Business edition applicability appropriately for all CSPs, so I'm closing this issue for the time being.

[2022-11-29 23:02] vinaypamnani-msft commented on #10833
Hey @pcamh, we're in the process of updating the CSP docs using a new format which will make this issue obsolete as the new format doesn't include Business applicability. As we continue, we'll work further on including the Business edition applicability appropriately for all CSPs, so I'm closing this issue for the time being.

[2022-11-29 23:02] #10833 closed

[2022-11-29 23:03] vinaypamnani-msft commented on #10832
Hey @pcamh, we're in the process of updating the CSP docs using a new format which will make this issue obsolete as the new format doesn't include Business applicability. As we continue, we'll work further on including the Business edition applicability appropriately for all CSPs, so I'm closing this issue for the time being.

[2022-11-29 23:03] #10832 closed

[2022-11-29 23:03] vinaypamnani-msft commented on #10831
Hey @pcamh, we're in the process of updating the CSP docs using a new format which will make this issue obsolete as the new format doesn't include Business applicability. As we continue, we'll work further on including the Business edition applicability appropriately for all CSPs, so I'm closing this issue for the time being.

[2022-11-29 23:03] #10831 closed

[2022-11-29 23:26] vinaypamnani-msft commented on #10848
@jerryabo I've updated the docs, which should be live later today.

[2022-11-29 23:26] #10848 closed

[2022-11-29 23:28] vinaypamnani-msft commented on #10708
@D-Jeffrey I've updated the doc in question to hopefully make it clearer. The change should be live later today.

[2022-11-29 23:52] AHMEDHAMDOUN01000 commented on #10708
في الأربعاء، ٣٠ نوفمبر ٢٠٢٢, ١٢:٥٣ ص Jeff Borsecnik <
***@***.***> كتب:

[2022-11-30 15:45] #10763 closed

[2022-11-30 16:30] msbemba commented on #8070
@rishtech Thank you for your feedback. This works only with win10 and 11 and does not connect to the password in AD or AAD which works with M365/outlook and other Microsoft apps.

Hope this helps!

Thanks
Sri

[2022-11-30 16:40] msbemba commented on #9568
@Anoni-Mouse Thank you for your feedback. The setting mentioned here - https://learn.microsoft.com/en-us/windows/deployment/windows-10-subscription-activation#how-it-works is through admin.microsoft.com

Hope this helps!

Thanks
Sri

[2022-11-30 16:42] msbemba commented on #9576
@Minkus32 Thank you for your feedback. This document talks about both configurations and once the Windows store for business is deprecated in Feb 2023, it will be updated only with the intune information.

Hope this helps!

Thanks
Sri

[2022-11-30 16:48] msbemba commented on #9749
@guymerdm Thank you for your feedback. We are extremely sorry about the delay in getting back to you. Looks like there have been multiple updates and reviews done on the document in the past 2 years and it is up to date.

Hope this helps!

Thanks
Sri