[2019-05-10 15:35] mypil commented on #1147
@officedocsbot assign @mypil

[2019-05-10 15:36] mypil commented on #1168
@officedocsbot assign @mypil

[2019-05-10 15:37] mypil commented on #1151
@officedocsbot assign @mypil

[2019-05-10 15:40] mypil commented on #1275
@officedocsbot assign @mypil

[2019-05-10 15:41] mypil commented on #1293
@officedocsbot assign @mypil

[2019-05-10 15:42] mypil commented on #1295
@officedocsbot assign @mypil

[2019-05-10 15:42] mypil commented on #1296
@officedocsbot assign @mypil

[2019-05-10 15:44] mypil commented on #1313
@officedocsbot assign @mypil

[2019-05-10 15:46] mypil commented on #3167
@officedocsbot assign @mypil

[2019-05-10 15:56] mypil commented on #1923
@officedocsbot assign @mypil

[2019-05-10 15:58] mypil commented on #1923
@amrik2309 - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-05-10 16:24] Air-Git opened #3614 "Clarifications"
The AppLocker "ManagedInstaller" rule is an example for SCCM. I assume that, for a different installer (e.g. Intune) it is necessary only to identify the signed Product Name or Binary Name.
For the Rule Collection Extensions, for services, the example given is a dummy Deny rule in an Audit Only rule collection. If we already have real rules in an Enforced rule collection, can I assume we just add

[2019-05-10 16:56] mypil commented on #1490
@officedocsbot assign @mypil

[2019-05-10 16:56] mypil commented on #1576
@officedocsbot assign @mypil

[2019-05-10 16:56] mypil commented on #1603
@officedocsbot assign @mypil

[2019-05-10 16:56] mypil commented on #1742
@officedocsbot assign @mypil

[2019-05-10 16:58] mypil commented on #1323
@officedocsbot assign @mypil

[2019-05-10 17:06] mypil commented on #3246
@MaratMussabekov - for the other article, we will have to discuss that further in another forum. Thank you for pointing it out.

[2019-05-10 17:06] mypil commented on #3246
@ralish  - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-10 17:42] e0i commented on #1619
@officedocsbot assign @e0i

[2019-05-10 17:48] e0i commented on #1619
@anthony-fontanez

This issue has already been addressed with the following commit and content has been updated according to your feedback.

[[c5695fd ] added link to SSUs](https://github.com/MicrosoftDocs/windows-itpro-docs/commit/c5695fda60f7c5a333099551e1f3e15a7591496c#diff-3ee0f2a2b6a1f9657ef38d13036c9d65)

We are thus closing this issue since it seems to be resolved.

Thank you for taking the

[2019-05-10 17:48] e0i commented on #1619
@officedocsbot close

[2019-05-10 17:48] #1619 closed

[2019-05-10 18:20] ojrb commented on #3248
Hi @mypil the PR #3616 solved this issue ! Please review and Merge !

[2019-05-10 18:40] Air-Git opened #3617 "Missing"
I appreciate it is hard to keep up with the pace of change. But the WDAC documentation refers to two items in the AppLocker CSP that are not documented here:
- the ManagedInstaller rule collection
- the Rule Collection Extensions for Services and System Apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6aa7dd86-8bcc

[2019-05-10 18:42] e0i commented on #3513
@DaniHalfin

Would you be able to advice how to approach this issue? We would like to follow-up with a PR. Thanks.

[2019-05-10 18:49] e0i commented on #3518
@Air-Git

The issues section of this repository is intended for documentation and content related issues.

Please open a support ticket via the link below so that that your question gets answered quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-10 18:52] e0i commented on #3520
Hello, @Air-Git

Would you be able to clarify what needs to be updated in the documentation? Is the document misleading?

We would like to follow-up with content updates accordingly.

Thank you for providing this thoughtful feedback.

[2019-05-10 18:55] e0i commented on #3540
Hello, @SEYiWeng

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback.

[2019-05-10 19:01] RPanick commented on #2506
I’ve been through the page a couple of times and I can’t find where I had found a difference.  Please close the comment.

Bob Panick
734-925-1523

From: Lindsay <notifications@github.com>
Sent: Friday, May 10, 2019 5:18 AM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: RPanick <rpanick@msn.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/wind

[2019-05-10 19:06] e0i commented on #3549
@satish860

Your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Also note that the issues section of this repository is intended for documentation and content feedback.

For your  _support_ related questions or feedback, please visit, [Windows 10 Support](https://support.microsoft.com/en

[2019-05-10 19:12] e0i commented on #3550
@kennethvs

Your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Also note that the issues section of this repository is intended for documentation and content feedback.

For your  _support_ related questions or feedback, please visit, [Windows 10 Support](https://support.microsoft.com/en

[2019-05-10 19:13] e0i commented on #3551
@kennethvs

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback.

[2019-05-10 19:14] e0i commented on #3553
@mariopenterman

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-10 19:19] hoskinsm commented on #2779
@lizap
Hello again, is an update to this document in the works for Windows 10 Enterprise 1903?
Thank you

[2019-05-10 19:40] blouwagie commented on #3508
Hi Lindsay,
The link you included talks about a fragment,  exploit guard,  actually
something I had not heard about. So it feels like the right tone but not
the complete picture or high level enough.
Does that make sense?
Bart

On Fri, May 10, 2019, 5:27 AM Lindsay <notifications@github.com> wrote:

[2019-05-10 19:56] Air-Git commented on #3518
I did not raise the question to obtain support. My question was intended to highlight a potential lack of clarity in the documentation viz. the default Intune policy will in fact block essential Microsoft updates. It is not clear what the user is supposed to do of these are blocked.

[2019-05-10 20:06] Air-Git commented on #3520
I think what is not clear is the impact of implementing this policy. The implication (and documentation) is that you can implement this policy and the computer will function with a) all Windows services, b) all Microsoft Store apps, and c) all apps of good reputation (through ISG). In my testing, Windows Defender definition updates were blocked., so this would be unusable. I am happy to be correct

[2019-05-10 20:41] Softgrider commented on #2442
Hi,
since App-V 5.1 there are only 4 file extensions blocked by CoW.

Only .exe .com .dll and .ocx files can’t be changed (blocked) by CoW.
All other file extensions can be deleted.

Regards from Germany
Frank

Von: Lindsay <notifications@github.com>
Gesendet: Freitag, 10. Mai 2019 11:16
An: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Frank Fette <frank@fette.name>

[2019-05-10 20:46] e0i commented on #3558
@msm-fc

The issues section of this repository is intended for documentation and content related issues.

Please open a support ticket via the link below so that that your question gets answered quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Any feedback regarding the documentation itself is welcome.

Thank you.

[2019-05-10 20:48] e0i commented on #3565
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-10 20:48] e0i commented on #3565
@dongmicro Would you be able to follow-up with this Japanese translation issue most likely stemming from automated translation?

Thank you.

[2019-05-10 20:49] e0i commented on #3566
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-10 20:49] e0i commented on #3566
See: #3565

[2019-05-10 20:51] e0i commented on #3585
@Cubercoding

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-10 20:53] e0i commented on #3587
@nenonix @JohanFreelancer9 Would you be able to create a PR to address a typo for this issue? Thanks.

[2019-05-10 20:55] e0i commented on #3591
Hello, @tommy1520  thank you for providing feedback.

The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-10 20:56] e0i commented on #3593
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-10 20:57] e0i commented on #3593
See: #3435

[2019-05-10 20:58] e0i commented on #3594
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-10 21:00] e0i commented on #3594
@dongmicro Would you be able to review this issue regarding Japanese localization? Thank you.

[2019-05-10 21:03] e0i commented on #3595
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-10 21:07] e0i commented on #3595
@dongmicro Looks like a message handle corresponding to an error ID that is not supposed to be translated has been translated. Would you review and advise in resolution of this issue? Thanks.

[2019-05-10 21:08] e0i commented on #3597
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-10 21:09] e0i commented on #3597
See: #3595

[2019-05-10 21:21] e0i commented on #3600
@officedocsbot assign @e0i

[2019-05-10 21:22] e0i commented on #3596
@officedocsbot assign @e0i

[2019-05-10 21:23] e0i commented on #3600
@emchj

The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your question so that it gets answered quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-10 21:24] e0i commented on #3601
@officedocsbot assign @e0i

[2019-05-10 21:25] e0i commented on #3601
@nenonix @JohanFreelancer9 Would you kindly create a PR for the grammar error described? Thank you.

[2019-05-10 21:26] iadgovuser1 opened #3618 "Add example query for ATP section of WDEG CFA page"
The **Review controlled folder access events in the Windows Defender ATP Security Center** section would benefit from having an actual example query.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eb0bc4d-5e40-b5a8-6fdf-6b030b784a39
* Version Independent ID: f6f38644-0d62-52c6-7513-2702b7036f41
* Content: [Help

[2019-05-10 21:27] e0i commented on #3602
@officedocsbot assign @e0i

[2019-05-10 21:27] iadgovuser1 opened #3619 "Add example query for ATP section of WDEG NP page"
The **Review network protection events in the Windows Defender ATP Security Center** section would benefit from having an actual example query.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89a3e05b-445d-30b2-bdcf-5479a3c9713c
* Version Independent ID: 49c3c29a-f816-778c-f92c-f6ca0311a2aa
* Content: [Use networ

[2019-05-10 21:27] e0i commented on #3602
@robmacf

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-10 21:29] e0i commented on #3604
@joordan

The issues section of this repository is intended for documentation and content related issues.

Please open a support ticket via the link below so that that your question gets answered quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-10 21:30] illfated commented on #3601
This is a small typo correction. I volunteer to create the PR for this small change.

[2019-05-10 21:35] e0i commented on #3605
@officedocsbot assign @e0i

[2019-05-10 21:40] iadgovuser1 opened #3620 "Add a review ATP section above the review events section on the WDEG ASR page"
The Controlled Folder Access and Network Protection pages have sections about ATP. Added a similar section to the Attack Surface Reduction page. Proposed wording below is the same text as on the other pages with a find/replace on the feature name. Also related are #3618 and #3619 about adding examples queries. Assuming those are accepted, then the snippet below also has an example query.

---
####

[2019-05-10 21:50] e0i commented on #3608
@officedocsbot assign @e0i

[2019-05-10 21:51] iadgovuser1 opened #3622 "Add a review ATP section above the review events section on the WDEG EP page"
Similar to #3620 but for WDEG Exploit Protection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b65b5b4c-f974-c32f-0f56-3e06ff99469f
* Version Independent ID: 7173dc31-bfed-7c00-43a3-ba0406f29410
* Content: [Apply mitigations to help prevent attacks through vulnerabilities](https://docs.microsoft.com/en-us/windows/sec

[2019-05-10 21:52] illfated commented on #3290
@Tdiwestyguy : Could you provide a small sample of what you suggest, just so I know where to start if I want to create a PR for this change? Or do you want to open a PR yourself (if yes, feel free to do so) for this change?

[2019-05-10 22:00] effleurager opened #3623 "SetupDiag – Dates are not localised"
The output format of dates does not match the localisation settings of the machine it's run on.
[code]
```05/10/2019``` would be considered to be in the future outside of US territories. Dates should be localised according to system settings or standardised to ISO 8601, as done in the log files output.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-05-10 22:14] illfated commented on #3234
@RichardRanft : You may want to revisit the page from time to time and see what changes are made to it.

The list of added changes can be found here:
- https://github.com/MicrosoftDocs/windows-itpro-docs/commits/master/windows/security/identity-protection/credential-guard/credential-guard-manage.md

[2019-05-10 22:24] jdanderson54 opened #3625 "No FAQ?"
I guess there are no Frequently Asked Questions...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae820097-c400-ff49-f28e-b784adfbf86a
* Version Independent ID: 5a5cf946-28ce-6ccd-a5cf-31c4fd09585f
* Content: [BitLocker To Go FAQ (Windows 10)](https://docs.microsoft.com/en-us/windows/security/information-protection/bit

[2019-05-10 22:25] botmoto commented on #1776
This could be because you either have multiple EFI partitions or no EFI partition. Can you please output a list of your partitions.

[2019-05-10 22:27] botmoto commented on #1924
Those commands are meant to be run in "An Elevated Command Prompt" (cmd) not Powershell. If anyone else has these issues please use cmd.

[2019-05-10 22:35] botmoto commented on #3234
@RichardRanft: This issue commonly occurs when you do not have a UEFI system or there is no UEFI partition for the mountvol to find. Could you please output your partition list.

@illfated @e0i: I was thinking of adding a Powershell script as well in addition to the one for cmd. Do you think this would help people in the future or make things more confusing?

[2019-05-10 23:39] RichardRanft commented on #3234
Disk 5 is optical.

Disk ###  Status         Size     Free     Dyn  Gpt
--------  -------------  -------  -------  ---  ---
Disk 0    Online          931 GB      0 B   *    *
Disk 1    Online          931 GB      0 B
Disk 2    Online         3726 GB  2048 KB        *
Disk 3    Online          931 GB   464 MB   *
Disk 4    Online         3725 GB      0 B        *
Disk 5    No Media           0 B

[2019-05-11 04:08] hyoshioka0128 commented on #3594
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-security-configuration-framework/windows-security-compliance
![windows-security-compliance](https://user-images.githubusercontent.com/40815708/57564834-e9e43000-73ed-11e9-9300-49b77005bbd7.png)

[2019-05-11 04:17] hyoshioka0128 commented on #3595
https://docs.microsoft.com/ja-jp/windows/deployment/update/windows-update-errors
![windows-update-errors](https://user-images.githubusercontent.com/40815708/57564920-22d0d480-73ef-11e9-8751-a52cb00a3599.png)

[2019-05-11 12:13] JLMontignie commented on #2834
CSetupDiag.FindParseLatestSetupLogs().
1:36:31 - SetupDiag: Main() failed with an unhandled exception:
La valeur ne peut pas être null.
Nom du paramètre : name
Exception System.ArgumentNullException: La valeur ne peut pas être null.
Nom du paramètre : name
Source: mscorlib
Stack:    à System.Environment.ExpandEnvironmentVariables(String name)
   à Microsoft.Internal.Deployment.SetupDiag.CSetupDiag

[2019-05-11 16:05] lindspea commented on #3509
@amirsc3 Thank you for reaching out.  I'll look into this with the team and revert soonest.

[2019-05-11 16:32] illfated commented on #1924
@cacodemon9000 : Please take note of what botmoto has commented above.

@e0i : Looks like this issue can be closed (unless you know of a reason to keep it open).

[2019-05-11 21:04] Kaydelon commented on #1924
Please update the commands above to reflect the correct syntax and switches.  (i.e. mountvol’s depreciated /s)

From: Trond B. Krokli <notifications@github.com>
Sent: Saturday, May 11, 2019 12:32
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: G.M.C. <GMClark@Gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-itpro-docs] DOES NOTHI

[2019-05-11 21:32] illfated commented on #1924
I presume you mean _deprecated_ -- but which version(s) are affected? I tested it on an updated Windows Server 2016 a couple of weeks ago and it seemed to work OK then.

[2019-05-11 22:04] illfated commented on #3234
I would like to see a PowerShell script added to the documentation, because there seems to be some confusion floating out there already (like in issue #1924 "DOES NOTHING").

[2019-05-11 22:13] illfated commented on #1924
Please have a look at issue ticket #3234 for a closely related discussion on this topic.

[2019-05-11 23:15] illfated commented on #3623
I could be mistaken, but I presume the date format is hardcoded into the SetupDiag application. Therefore I also presume a new or updated version release is needed to support localized date formats.

You may want to contact the developers via the forum pages or Windows Feedback to call attention to your issue. This issue tracker is dedicated to working on improving the documentation pages on https

[2019-05-11 23:27] illfated commented on #1776
Please note that the /S parameter works as intended on Windows Server (2016).
Also note: `mountvol` on Windows Server OS versus Windows 10 / Windows 8.x has different parameters.

Related open issue tickets: #1556, #1776, #1915, #1924, #1984, #2216, #3234

Closed tickets: #2327, #2569, #2612, #2663, #2705, #2880, #2971, #3006, #3108, #3300

[2019-05-12 06:28] amrik2309 commented on #1923
First response roughly after 6 months after opening the bug, I feel so blessed. No offenses to anyone, but this actually concludes that either Microsoft is least bothered or they are slammed with issues so much that they dont have time to look at other problems or low priority issues. Regardless, there is a long way for Microsoft to improve on documentation on many aspects. I am sure I must have p

[2019-05-12 09:32] kennethvs commented on #3550
Hi @e0i,

I'm referring to the documentation on this page: https://docs.microsoft.com/en-us/windows/deployment/update/windows-analytics-get-started

[2019-05-12 09:37] j0rt3g4 commented on #880
#Solving issue on PR #3628

[2019-05-12 12:50] PrinceMarkieD commented on #1919
This document needs to be updated. Use of this Proxy CSP may cause insecure configurations of endpoints. Does the NOTE imply that the per-user proxy settings should not be used because they do not work? or does it imply they no longer work on older versions of Windows 10? Maybe it is stating that they are unstable, and therefore not supported, but otherwise work? Is there a way to make a user base

[2019-05-12 20:56] fightingsibuyas opened #3630 "Cryptographic Service Provider"
Twice in this article that CSP was defined as Credential Service Providers which I think is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01db3c4c-a866-d367-72fb-86866a9ff2c6
* Version Independent ID: 5bc85899-f203-fd08-e6d8-deb9736fb17e
* Content: [Smart Card Architecture (Windows 10)](https://docs.microsoft.c

[2019-05-12 21:38] tommy1520 commented on #3591
oh ok, sorry my bad

[2019-05-13 02:43] AdamGrossTX opened #3631 "Out-Of-Date"
This content is completely out of date, please update it to show the current supported process for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a3b18ac-f556-8986-e13b-22cdcda3e31f
* Version Independent ID: d8f9e0d0-a162-0e0a-abe7-8e878510995f
* Content: [Sign up for Microsoft Store for Business or Microsoft St

[2019-05-13 03:38] lindspea commented on #2419
@jeffstokes72 Thanks Jeff.  I'm working with the team to have the changes made and approved soonest.

[2019-05-13 03:46] lindspea commented on #2896
@npherson Thank you for clearing that up.  I'll have the team look into having the relevant information added soonest.

[2019-05-13 04:01] hyoshioka0128 opened #3632 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-aadj-sso

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 7aeacc06-dbfc-07d8-d181-41d08d89e04b
* Version Independent ID: 6f16be7a-f5b1-fbad-15a2-18a2bc1a0716
* Content: [Azure AD 参加によるシングル サインオン展開ガイド](https://docs.microsoft.com/ja-jp/windows/security/i

[2019-05-13 04:06] hyoshioka0128 opened #3633 "[LOC] "Windows こんにちは" needs to be replaced with "Windows Hello""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-hybrid-cert-new-install

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 2c2db23f-22e0-de33-fb4a-31e33c75f7d0
* Version Independent ID: dc31a7da-9496-a0dd-0304-ec48e56e8557
* Content: [Windows Hello for Business の信頼の新しいインストール (Windows Hello for Business)](htt

[2019-05-13 04:06] lindspea commented on #2548
@Field5555 Thank you for the information.  I'm sending your suggestions over to the team and will revert soonest.  In the meantime would do you recommend this as the correct link to replace the Application Compatibility Toolkit - https://docs.microsoft.com/windows/deployment/update/windows-analytics-overview ?

[2019-05-13 04:09] hyoshioka0128 opened #3634 "[LOC] "Windows こんにちは" needs to be replaced with "Windows Hello""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/webauthnapis

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b9884247-29d3-eacb-25cb-60c712fa561c
* Version Independent ID: 020c8ae8-dd46-4ef2-9e11-5aea3059f0ed
* Content: [WebAuthn Api](https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-f

[2019-05-13 04:23] lindspea commented on #3508
Okay, thanks @blouwagie, I understand. Could you perhaps suggest a link if possible, otherwise I'm guessing you would prefer a writer to add a more thorough summary to the article?

[2019-05-13 04:29] MaratMussabekov commented on #887
Dear @treysis,
in the article it doesn't says that it is "disabled in 1803", instead, it says: "We are no longer actively developing these features and may remove them from a future update"
as to disabled, it says about previous versions, not 1803 (in the "Instead you can use" column)
so I think, the article shouldn't be updated, what do you think?
Thank you

[2019-05-13 04:34] treysis commented on #887
Dear @MaratMussabekov
thank you for your reply. v6v4tunnel was simply broken in 1803 because they changed how it is working. It has been fixed with the new method in 1809 and is working fine again. So, whatever they mean by "disabled", this was simply a bug that got fixed after all.

[2019-05-13 04:44] MaratMussabekov commented on #929
Dear @alexverboon ,
Vmsp.exe is still not excluded automatically. You can exclude it manually as it is described [here](http://scug.be/wim/2019/01/09/hyper-v-2019-configure-antivirus-exclusions-in-windows-defender-antivirus/) (the article is for Windows Server 2019, but for the 2016 actions will be the same)
Thank you

[2019-05-13 07:10] MaratMussabekov commented on #1087
Dear @Peter-TG ,
for MDM, deployment is usually made via CSP. If you need to run PowerShell Script you need Microsoft Intune Management Extension to be installed
Thank you

[2019-05-13 07:20] MaratMussabekov commented on #1144
Dear @mypil,
it looks like the issue is a duplicate of issue #1075 (the same question was asked in the comments)
i think you can close it as #1075 is already closed
Thank you

[2019-05-13 08:17] mtwelve commented on #1275
Any updates on this...?

[2019-05-13 09:30] nenonix commented on #1188
@dgnuff Thank you, we really appreciate feedback that improves the content. I will do some more research and post back here when I have made changes.

[2019-05-13 10:25] MaratMussabekov commented on #1147
Dear @JeremyTBradshaw ,
yes, you are correct, the "Targeted" nomenclature is now officially gone from Windows 10 servicing channels. This term is now used only within the scope of Windows Update for Business product and is not related to Windows 10 update releases.. As it is described in [this article](https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/Windows-10-and-the-disappearing-SAC-T

[2019-05-13 10:34] jamestmace opened #3637 "Release Date"
When will this be available in Tenants to use? As you can understand without this feature being available we can't control the firewall rules at present which is very frustrating so we are having to stick with GPO instead of Intune at present.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b84a77a5-54c7-22c7-b699-c1414

[2019-05-13 11:15] mypil commented on #1504
@officedocsbot assign @mypil

[2019-05-13 11:30] JeremyTBradshaw commented on #1147
Thanks and closed.  The documentation and products themselves are seeming to be getting better and better, and any confusion is now cleared up.

[2019-05-13 11:30] #1147 closed

[2019-05-13 11:49] MaratMussabekov commented on #1275
Dear @mtwelve ,
**Is there any guidance on transitioning from Windows 10 Enterprise KMS/MAK installations to Windows 10 E3 CSP?** - please check [this article](https://docs.microsoft.com/windows/deployment/windows-10-enterprise-subscription-activation)

**We can check whether there is an embedded firmware key but if the device is already running Windows 10 Enterprise would it even check/activate w

[2019-05-13 12:34] mypil commented on #3289
@Tdiwestyguy - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-13 13:23] mypil commented on #3379
@officedocsbot close

[2019-05-13 13:23] #3379 closed

[2019-05-13 13:24] mypil commented on #3399
@officedocsbot close

[2019-05-13 13:24] #3399 closed

[2019-05-13 13:24] mypil commented on #781
@officedocsbot close

[2019-05-13 13:24] #781 closed

[2019-05-13 13:27] mypil commented on #1004
@officedocsbot close

[2019-05-13 13:27] #1004 closed

[2019-05-13 13:27] mypil commented on #1236
@officedocsbot close

[2019-05-13 13:27] #1236 closed

[2019-05-13 13:28] mypil commented on #1128
@officedocsbot close

[2019-05-13 13:28] #1128 closed

[2019-05-13 13:28] mypil commented on #1167
@officedocsbot close

[2019-05-13 13:28] #1167 closed

[2019-05-13 13:28] mypil commented on #1169
@officedocsbot close

[2019-05-13 13:28] #1169 closed

[2019-05-13 13:31] mypil commented on #3257
@xNiklasJern - We would like to follow up on this. Thank you.

[2019-05-13 13:57] kierenj commented on #1297
@jdeckerms please?

[2019-05-13 14:01] lightupdifire commented on #2376
Hello,
Same here, I couldn't make "Reporting CSP" working, would be great to have more details about this setup.

But I could make it work as follow:
1. I do have Log Workspace integrated for Device Health, Azure Audit etc.
2. Using this or can create new Log Workspace, go to Advanced Settings, download Microsoft Monitoring Agent: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent

[2019-05-13 14:33] mypil commented on #1144
@officedocsbot close

[2019-05-13 14:33] #1144 closed

[2019-05-13 14:48] mypil commented on #1515
@officedocsbot assign @mypil

[2019-05-13 14:49] jaimeo commented on #1923
@zdvorak please advise.

[2019-05-13 14:53] jaimeo commented on #3550
@zdvorak, can you advise here?

[2019-05-13 16:02] e0i commented on #2506
@RPanick Marking the issue as resolved via your suggestion. Thank you for following up.

@officedocsbot close

[2019-05-13 16:02] #2506 closed

[2019-05-13 18:01] gsterk opened #3641 "Note that Basic Purchaser Role is only for Microsoft Store for Education"
I believe this page used to include a note that the Basic Purchaser role only applied to the Store for Education and NOT for the Store for Business. This note is still included on the Overview (https://docs.microsoft.com/en-us/microsoft-store/microsoft-store-for-business-overview), however when the Store permissions page indicated a change and linked directly to here and the note was not here, so

[2019-05-13 18:34] tewchen commented on #3637
this feature is current in private preview, and will be release in public review/GA very soon. If you want to try the feature before public review, you can join the private preview. We may need some information from you. You can contact me offline or contact Microsoft field.

[2019-05-13 19:21] kennethvs commented on #3550
So, to give some more context based on my experiences so far. I'm deploying Windows Analytics for AzureAD joined machines managed by Intune. In order to do this I've enabled a Log Analytics workspace in the free plan, added the Update and Upgrade Readiness solutions. Deployed the commercial id and other settings to the devices using custom device settings in Intune. Used the following article as a

[2019-05-13 19:50] Air-Git opened #3642 "Ambiguity"
"Beginning with the March 2019 quality update, each version of Windows requires blocking a specific version of the following files:"
Does this mean that (for example) on Windows 1803, I only block the files commented as &lt;! -- RS4 Windows 1803 --&gt;? In that case, what do I do if I need a policy that works on both Windows 1803 and 1809? The implication is that I need two policies. But why not j

[2019-05-13 20:47] Justinha commented on #2376
@lightupdifire thanks for sharing these steps and suggestions for where to improve! We'll follow up with engineering for validation and review. In the meantime, would you be kind enough to submit the steps as a pull request so you can be listed as a contributor?

[2019-05-14 03:12] hyoshioka0128 opened #3644 "[LOC] "更新 & セキュリティ" needs to be replaced with "更新とセキュリティ""
https://docs.microsoft.com/ja-jp/hololens/hololens-insider

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dafbb989-d1f4-0411-81ce-f761e83bdeba
* Version Independent ID: e8fdf590-c7f0-6b07-9407-33bdf2ca7453
* Content: [Microsoft HoloLens (HoloLens) の insider preview](https://docs.microsoft.com/ja-jp/hololens/hololens-insider)
* Content Source: [device

[2019-05-14 03:14] hyoshioka0128 opened #3645 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-antivirus/microsoft-defender-atp-mac

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: d7a3b63b-afc5-1b25-3a30-e75c788f4a93
* Version Independent ID: 85498c85-fe13-fead-3bac-44db5614db0d
* Content: [Mac の Microsoft Defender ATP](https://docs.microsoft.com/ja-jp/windows/

[2019-05-14 03:57] illfated commented on #3645
See also issue ticket #3405

[2019-05-14 06:00] MaratMussabekov commented on #1296
Dear @mypil , this issue was fixed in PR https://github.com/MicrosoftDocs/windows-itpro-docs/pull/1329
please check.

[2019-05-14 07:12] mypil commented on #1125
@officedocsbot assign @mypil

[2019-05-14 07:13] mypil commented on #1094
@officedocsbot assign @mypil

[2019-05-14 07:15] mypil commented on #1125
@officedocsbot assign @mypil

[2019-05-14 07:19] MaratMussabekov commented on #3167
Dear @jcs23576 ,
could you please provide more details? I just have tested it in windows 10 (1709 and 1809), and it doesn't skip last names 3 characters long...
Thank you

[2019-05-14 07:47] joinimran commented on #1094
Hello @Tdiwestyguy , Thank you for your feedback on the doc. Please note that Autopilot self-deployment is available at https://docs.microsoft.com/en-us/windows/deployment/windows-autopilot/self-deploying

Thanks.

[2019-05-14 07:50] joinimran commented on #1233
Hello @MrM40 , Thank you for your feedback on the document. Please note that setting up XML format is mentioned in the document (Export or Import Default Application Associations) which has all the necessary details at link https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-8.1-and-8/hh825038(v=win.10)

Thanks.

[2019-05-14 08:01] xNiklasJern commented on #3257
@mypil - Hi ,
For me, the confusing part is that the matrix devides it into Windows 10 E3 and E5, and not takin in account any other SKUs that provides the E5 functionality.

For example, this SKU was introduced earlier this year.  https://www.microsoft.com/en-us/microsoft-365/blog/2019/01/02/introducing-new-advanced-security-and-compliance-offerings-for-microsoft-365/
It supporse to include WDATP

[2019-05-14 08:33] lightupdifire commented on #2376
@Justinha, never did that before :) but I will try, as soon as have some time.

[2019-05-14 08:34] hyoshioka0128 opened #3648 "Document(ja-jp) is not translated."
ja-jp:https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-antivirus/windows-defender-security-center-antivirus
![windows-defender-security-center-antivirus_ja](https://user-images.githubusercontent.com/40815708/57683357-6e44e600-766e-11e9-9ace-af39112e62c3.png)

en-us:https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-antivirus/win

[2019-05-14 08:42] hyoshioka0128 opened #3649 "[LOC] "ウイルス & 脅威の保護の更新" needs to be replaced with "ウイルスと脅威の防止の更新""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-antivirus/windows-defender-security-center-antivirus

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 8141d691-eee8-8861-4d04-24a78c7636b0
* Version Independent ID: 47c49eef-0812-2224-e8c4-fa4385df0789
* Content: [Windows Defender ウイルス対策、Windows セキュリティ センター アプリ](https:

[2019-05-14 08:44] hyoshioka0128 opened #3650 "[LOC] "ウイルス & 脅威の防止" needs to be replaced with "ウイルスと脅威の防止""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-antivirus/limited-periodic-scanning-windows-defender-antivirus

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 90370eb8-bdb8-3706-4e75-1caf2a233568
* Version Independent ID: 311df3cb-2916-2152-b9a6-82f722b4270c
* Content: [制限付き定期的な Windows Defender ウイルス対策のスキャン機能を有効にしま

[2019-05-14 08:45] mypil commented on #3246
@officedocsbot close

[2019-05-14 08:45] #3246 closed

[2019-05-14 08:46] hyoshioka0128 opened #3651 "[LOC] "ウイルス & 脅威防止" needs to be replaced with "ウイルスと脅威の防止""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-antivirus/prevent-end-user-interaction-windows-defender-antivirus

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 117e0cad-123d-5b77-3879-1b4e08271b1c
* Version Independent ID: 13bca309-67d1-5fa4-628d-2ef6f84a70d0
* Content: [Windows Defender ウイルス対策のインターフェイスを非表示にする](h

[2019-05-14 08:49] hyoshioka0128 opened #3653 "[LOC] "ウイルス & 脅威の保護" needs to be replaced with "ウイルスと脅威の防止""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-antivirus/restore-quarantined-files-windows-defender-antivirus

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: de416fda-04fb-6780-6675-020fdc2426ba
* Version Independent ID: ede7f3c1-ba3a-e331-80d8-c992b3d7f9a4
* Content: [Windows Defender AV で検疫されたファイルを復元します。](https:

[2019-05-14 08:55] mypil commented on #2376
@Justinha - I can help assign someone to create a PR on the suggested steps that @lightupdifire provided. Would you want this right now or should we wait until there's more information from the engineering team?

[2019-05-14 09:04] hyoshioka0128 opened #3654 "[LOC] "ウイルス & 脅威の防止" needs to be replaced with "ウイルスと脅威の防止""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-exploit-guard/customize-controlled-folders-exploit-guard

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dde885fb-7fdd-34ed-ba3b-e73ba65fabfd
* Version Independent ID: 18d4ff67-fd74-c189-1da2-15f9ea9e780c
* Content: [フォルダーとアプリ保護を追加します。](https://docs.microsoft.com/ja-j

[2019-05-14 09:05] hyoshioka0128 opened #3655 "[LOC] "ウイルス & 脅威の防止" needs to be replaced with "ウイルスと脅威の防止""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-antivirus/configure-block-at-first-sight-windows-defender-antivirus

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9bd0fe29-5db5-b752-5bcf-5ac2581baa9a
* Version Independent ID: 52b8d4ca-54ea-7345-12b0-df4fdf633083
* Content: [事前ブロック機能を有効にして数秒以内にマルウェアを検出する](https://d

[2019-05-14 09:06] hyoshioka0128 opened #3656 "[LOC] "ウイルス & 脅威の防止" needs to be replaced with "ウイルスと脅威の防止""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-exploit-guard/enable-controlled-folders-exploit-guard

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 8746dd40-7ee5-ee09-0924-d56e18f8e2b8
* Version Independent ID: 14fc90f5-5168-4354-d792-7ec6d79e9a50
* Content: [Windows 10 で保護されているフォルダー機能を有効にする](https://docs.microso

[2019-05-14 09:18] hyoshioka0128 opened #3657 "[LOC] "アプリ & ブラウザー コントロール" needs to be replaced with "アプリとブラウザー コントロール""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-exploit-guard/evaluate-exploit-protection

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 00cee114-b948-5896-fe9e-8aef56281345
* Version Independent ID: dffaa17d-04ca-aef2-0a9e-5af81cbdb3b9
* Content: [デモで exploit protection のしくみを参照してください。](https://docs.microsoft.com/

[2019-05-14 09:19] hyoshioka0128 opened #3658 "[LOC] "アプリ & ブラウザー コントロール" needs to be replaced with "アプリとブラウザー コントロール""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-exploit-guard/customize-exploit-protection

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: bf41fbdb-a39d-2d1f-3f53-2247fdce7735
* Version Independent ID: d22d4808-1260-5f77-0fbf-8c4bf60d39b7
* Content: [Exploit Protection で使用される具体的な軽減策を有効または無効にする](https://docs.microso

[2019-05-14 09:20] hyoshioka0128 opened #3659 "[LOC] "アプリ & ブラウザー コントロール" needs to be replaced with "アプリとブラウザー コントロール""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-exploit-guard/enable-exploit-protection

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9e8131c6-a1f3-f711-a6b5-8f511c39c48e
* Version Independent ID: 0ba84263-f188-b0d4-c3d1-0870fcae236b
* Content: [攻撃に対する軽減するために、exploit protection を有効にします。](https://docs.microsoft.co

[2019-05-14 09:22] hyoshioka0128 opened #3660 "[LOC] "ウイルス & 脅威の防止" needs to be replaced with "ウイルスと脅威の防止""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-antivirus/enable-cloud-protection-windows-defender-antivirus

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 5f8ccc01-1b04-e443-ef75-6ffe6c866dd5
* Version Independent ID: fa2eaa0f-db04-785a-3894-8244947b9cd5
* Content: [Windows Defender ウイルス対策のクラウドによる保護の有効化](https://

[2019-05-14 09:26] hyoshioka0128 opened #3661 "[LOC] "アプリ & ブラウザー コントロール" needs to be replaced with "アプリとブラウザー コントロール""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-smartscreen/windows-defender-smartscreen-set-individual-device
---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: bf8c7d37-cdf5-e892-dd6b-03fcb0413e77
* Version Independent ID: 62d3dd5b-4c8b-4e14-c659-01c8d8248e6f
* Content: [個々のデバイスで Windows Defender SmartScreen を設定および使用

[2019-05-14 09:28] hyoshioka0128 opened #3662 "[LOC]Showing "**警告: **", "**ブロック: **", "**オフ: **" (extra asterisks appears)"
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-smartscreen/windows-defender-smartscreen-set-individual-device

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: bf8c7d37-cdf5-e892-dd6b-03fcb0413e77
* Version Independent ID: 62d3dd5b-4c8b-4e14-c659-01c8d8248e6f
* Content: [個々のデバイスで Windows Defender SmartScreen を設定および使

[2019-05-14 09:30] hyoshioka0128 opened #3663 "[LOC]Showing "** 2.**" (extra asterisks appears)"
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-exploit-guard/enable-virtualization-based-protection-of-code-integrity

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 1526c4cb-4584-7fc6-e633-a48e13dad7e8
* Version Independent ID: 13a88ed8-f43d-f658-cbe4-d148d5ffaa12
* Content: [コード整合性に対する仮想化ベースの保護を有効にする](https://do

[2019-05-14 09:33] hyoshioka0128 opened #3664 "[LOC] "_gt" needs to be replaced with ">""
related issue: #3405

https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-security-center/wdsc-account-protection

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 364424dd-fedb-f58d-187b-2495efbe95a5
* Version Independent ID: 7c178f88-b815-734e-8262-3d05f423e0aa
* Content: [Windows セキュリティ センター アプリでアカウント保護](https://docs.

[2019-05-14 09:36] hyoshioka0128 opened #3665 "[LOC]Showing "**フィッシング詐欺対策およびマルウェア対策のサポート: **" (extra asterisks appears)"
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-smartscreen/windows-defender-smartscreen-overview

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: fb097945-c324-9797-b3a7-9d41b05bec66
* Version Independent ID: f67b7c1b-1d59-3869-b380-44f695356839
* Content: [Windows Defender SmartScreen の概要 (Windows 10)](https://doc

[2019-05-14 09:37] hyoshioka0128 opened #3666 "[LOC] "_gt" needs to be replaced with ">""
related issue: #3405

https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-security-center/wdsc-device-performance-health

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: a635d28e-7024-2922-0858-09d9f19d94cc
* Version Independent ID: f82052dd-15b9-9b8d-b220-c5e75c50c050
* Content: [Windows セキュリティ センター アプリでデバイス & パフォーマンスの

[2019-05-14 09:38] hyoshioka0128 opened #3667 "[LOC] "_gt" needs to be replaced with ">""
related issue: #3405

https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-security-center/wdsc-family-options

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b5470b81-f99b-d7d7-39fc-b18d2e845c9b
* Version Independent ID: a15e5508-fcfb-7a76-2c18-50e4d65268bc
* Content: [Windows セキュリティ センター アプリのファミリー オプション](https://docs.

[2019-05-14 09:39] hyoshioka0128 opened #3668 "[LOC] "_gt" needs to be replaced with ">""
related issue: #3405

https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-security-center/wdsc-device-security

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: e1311b0a-9022-b1db-ddd5-d5c57a4fde22
* Version Independent ID: e0dcb960-8145-2590-de7a-3a75118c3c5f
* Content: [Windows セキュリティ センター アプリでデバイスのセキュリティ](https://docs

[2019-05-14 09:41] hyoshioka0128 opened #3669 "[LOC] "_gt" needs to be replaced with ">""
related issue: #3405

https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-security-center/wdsc-app-browser-control

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 0b3bebae-13ff-e03d-4354-2109f08060e4
* Version Independent ID: ff6fd6dd-f6a2-40dc-d6d7-1b597d205a4c
* Content: [Windows セキュリティ センター アプリでアプリ & ブラウザー コントロール](h

[2019-05-14 09:41] hyoshioka0128 opened #3670 "[LOC] "_gt" needs to be replaced with ">""
related issue: #3405

https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-security-center/wdsc-firewall-network-protection

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b4c88cdf-2bf7-8abe-de14-6dba6a8daf07
* Version Independent ID: cda1e59c-ef42-f140-6c37-51e23dec8631
* Content: [Windows セキュリティ アプリのファイアウォールとネットワーク保護]

[2019-05-14 09:42] hyoshioka0128 opened #3671 "[LOC] "_gt" needs to be replaced with ">""
related issue: #3405

https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-security-center/wdsc-hide-notifications

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 65d57fa8-9c9b-63cc-7248-175242963432
* Version Independent ID: 9cd96c93-8f46-64db-a162-02da1e1f63cc
* Content: [Windows セキュリティ センター アプリからの通知を非表示にします。](https:/

[2019-05-14 10:04] mypil commented on #3281
@officedocsbot assign @mypil

[2019-05-14 10:06] mypil commented on #3281
@fredenocs - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by illfated. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-14 10:23] mypil commented on #3296
@arourke - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-14 10:23] mypil commented on #3296
@officedocsbot close

[2019-05-14 10:23] #3296 closed

[2019-05-14 10:30] carcova commented on #648
Good morning;

I cant run dowipe in Powershell.

I need a script to format system disk and the option dowipe can help me.

Can you help me?

How I include library DMWmiBridgeProv.dll?

I test with:

Add-type -path "C:\Windows\System32\DMWmiBridgeProv.dll"

This shows me error.

Thank you very much.

[2019-05-14 11:10] nenonix commented on #1283
@dkbriley Thanks for the feedback. Your point is valid and I will do my best to amend the content to make it more clear,

[2019-05-14 11:12] nenonix commented on #1282
@dkbriley Point taken, thanks for helping to improve the documentation. I will post back here when we have finished making changes.

[2019-05-14 11:16] nenonix commented on #1323
@thedrum808 Thanks for the helpful feedback. I will research this and make necessary changes,

[2019-05-14 11:20] nenonix commented on #1490
@PKGeorgiev Thank you for helping to improve the content, I will work on this and post back here when changes are made.

[2019-05-14 11:26] nenonix commented on #1576
@ilantz Thank you for the helpful feedback. I have submitted the added link for review.

[2019-05-14 12:14] mypil commented on #1446
@officedocsbot assign @mypil

[2019-05-14 12:14] mypil commented on #1457
@officedocsbot assign @mypil

[2019-05-14 12:14] mypil commented on #1486
@officedocsbot assign @mypil

[2019-05-14 12:14] mypil commented on #1518
@officedocsbot assign @mypil

[2019-05-14 12:15] mypil commented on #2465
@officedocsbot assign @mypil

[2019-05-14 12:15] mypil commented on #2414
@officedocsbot assign @mypil

[2019-05-14 12:39] mypil commented on #1296
@alphanimal - Thank you for submitting this feedback.

From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-14 12:39] mypil commented on #1296
@officedocsbot close

[2019-05-14 12:39] #1296 closed

[2019-05-14 13:04] amirsc3 opened #3673 "MDATP onboard servers doc leading to customer confusion"
The statement In the document below is causing some confusion:
“To onboard Windows Server, version 1803 or Windows Server 2019, use the same method used when onboarding Windows 10 machines.”

The supported list of SCCM versions for server 2019 goes up to 1602, but Win10 supports more recent versions.

https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-atp/configur

[2019-05-14 14:41] Mike-Crowley opened #3674 "ATP available as a stand-alone sku?"
This page states ATP is available as part of the E5 licensing levels only, yet there is an option to trial ATP by itself. Am I to understand that while it is available in a trial, its not available for purchase outside of E5?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8aca66a-5a8b-64d2-7201-a7b915c5d309
* Version

[2019-05-14 14:47] anthony-yates commented on #3614
Last point (AppLocker filter driver autostart) is clarified in the section on ISG: https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-application-control/use-windows-defender-application-control-with-intelligent-security-graph. "For WDAC policies deployed over MDM using the AppLocker CSP this step is not required as the CSP will enable the necessary components."

[2019-05-14 14:51] anthony-yates commented on #3614
The Managed Installer rule collection is not documented in the AppLocker CSP.  Does that mean it is not supported over OMA-URI, or just not documented?

[2019-05-14 15:13] #1576 closed

[2019-05-14 16:15] KjetilEVRY opened #3677 "Other Microsoft products?"
What about other MS products? For instance you can create a new VM in Azure with both Win2016 and SQL 2017 Server, which comes preinstalled in the VM (and gives other benefits like automated patching and backup). I assume you have to manually setup exclusions for SQL server after you onboard a VM like this with Azure Security Center.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-05-14 16:24] ojrb commented on #3375
Hi @mypil  the PR #3676 solved this issue ! Please review and Merge !

[2019-05-14 16:38] hyoshioka0128 opened #3678 "[LOC] "ウイルス & Threat Protection" needs to be replaced with "ウイルスと脅威の防止""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-antivirus/configure-block-at-first-sight-windows-defender-antivirus

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9bd0fe29-5db5-b752-5bcf-5ac2581baa9a
* Version Independent ID: 52b8d4ca-54ea-7345-12b0-df4fdf633083
* Content: [事前ブロック機能を有効にして数秒以内にマルウェアを検出する](https://d

[2019-05-14 18:48] Justinha commented on #2376
@mypil No rush, it's fine for @lightupdifire to get to it whenever is convenient.

[2019-05-14 20:57] J1mbo opened #3680 "Windows 10 Enterprise LTSC 2019 not listed"
Windows 10 Enterprise LTSC 2019 "What's new" page states that Windows Defender ATP is included:

https://docs.microsoft.com/en-us/windows/whats-new/ltsc/whats-new-windows-10-2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8aca66a-5a8b-64d2-7201-a7b915c5d309
* Version Independent ID: c3cc0543-db20-a8f2-288c-d1dea5e

[2019-05-14 21:03] iadgovuser1 opened #3681 "Odd character in section heading for "Add machine tags by setting a registry key value" heading"
The **Add machine tags by setting a registry key value** has an odd character between **tags** and **by** that is rendering as a diamond/question mark.

Add machine tags�by setting a registry key value

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b42e708-e334-d434-bcc9-e1860ebb36b3
* Version Independent ID: 92e251c5

[2019-05-14 21:19] J1mbo opened #3683 "Does LTSC license actually include Defender ATP?"
Text is fairly ambiguous,

"In this version of Windows, Windows Defender ATP includes powerful analytics, security stack integration, and centralized management for better detection, prevention, investigation, response, and management."

Is this the full version of ATP? In which case does perpetual license also include Windows Defender ATP Portal access?

---
#### Document Details

⚠ *Do not edit

[2019-05-14 21:21] J1mbo opened #3684 "Application Guard and Office 365 Ransomware Detection Surely Not Compatible"
LTSC specifically does not support either Edge or Office 365 apps, therefore surely cannot include Application Guard (controls for Edge) or the Office 365 Ransonware Detection (since it's can't run Office 365 apps).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c696c9ed-b095-68ff-d50d-df345daf8a4a
* Version Independen

[2019-05-14 21:29] computeronix commented on #3683
LTSC does not include the license for Windows Defender ATP.  LTSC however supports WDATP if you have a license.

The What's New document is showing what is new with Windows Defender ATP in Windows 10 Enterprise LTSC 2019 but it doesn't mention the license needed which is Windows E5 to use it.

[2019-05-14 21:31] J1mbo commented on #3683
Thank you. Can LTSC be deployed with a Windows 10 Enterprise E3 license (e.g. via CSP)?

[2019-05-14 21:35] computeronix commented on #3680
WDATP is built-in to Windows 10.  However, to activate it you need a separate license (Windows E5).  The page is stating what are the new capabilities in WDATP that are built-in to Windows 10.

As the threat landscape changes, new ATP capabilities are rolled out within newer releases of Windows 10.  The What's New pages show what are the new capabilities of ATP that are built-in with Windows 10 an

[2019-05-14 21:39] computeronix commented on #3683
There is no E5 version of Windows (as far as a special edition). What happens is when you purchase a Windows E5 license you assign it to a user in Azure AD.  From there you get access to the Windows Security Center portal which allows you to download the package needed to activate ATP inside the OS.  Here is the article for how to on-board a Windows 10 device to Windows Defender ATP: https://docs.

[2019-05-14 21:42] J1mbo commented on #3683
Thank you so much. So my only question is how to license LTSC.

Machines have Win10-Pro OEM of course. Then we add Win1-Ent-E5 per-user in CSP, re-image from the LTSC image, and activate WDATP?

In other words, there is no need to buy the VL SKU LTSC itself (WINENTLTSC 2019 Sngl Upgrade OLP)?

[2019-05-14 21:45] computeronix commented on #3683
Licensing is outside my expertise area but you should be able to get with your LAR/VAR to discuss your licensing concerns and they should be able to assist with getting the right license to fit what you are needing

[2019-05-14 21:46] J1mbo commented on #3683
I'm here because nobody knows unfortunately. Thanks again for your help.

[2019-05-14 22:07] fatherofinvention commented on #1689
Thanks @jdeckerms. Does that mean we have to explicitly whitelist every executable? This can be very difficult for software with a lot external dependencies and the rule set can get unwieldy very fast.

[2019-05-14 22:52] zfdang opened #3686 "it's a stupid idea to have pin / password"
why make things so complicated? why stop people from using windows?

[2019-05-14 22:54] zfdang commented on #2736
can't agree more! stupid idea from PM, and simple brings confusions to customers.

[2019-05-14 23:15] hyoshioka0128 opened #3687 "[LOC] "_gt" needs to be replaced with ">""
related issue: #3405

https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-antivirus/configure-block-at-first-sight-windows-defender-antivirus

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9bd0fe29-5db5-b752-5bcf-5ac2581baa9a
* Version Independent ID: 52b8d4ca-54ea-7345-12b0-df4fdf633083
* Content: [事前ブロック機能を有効にして数秒以内

[2019-05-14 23:55] PrinceMarkieD opened #3689 "AutoPilot SDP"
During the SDP the company logo that is displayed does not appear correctly. it is stretched, and not sized properly. this does not happen in other scenarios outside of SDP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6867cc8c-868d-d472-8aa5-1ed5b94ced2c
* Version Independent ID: 6822e12d-7474-9e49-1e8b-88f7eec3b22c

[2019-05-15 01:46] obrienstat commented on #2112
Ahh thanks a lot. Took me two weeks to find this answer

[2019-05-15 03:01] hyoshioka0128 opened #3691 "[LOC]Showing "**** adfssvc ユーザー" (extra asterisks appears)"
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/hello-cert-trust-adfs

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b063e00b-84e5-9da7-2229-e0e24da3b877
* Version Independent ID: da9f4867-2aa3-aefa-1603-ddb2ab1ed624
* Content: [Windows Server 2016 の Active Directory フェデレーション サービス (AD FS) の準備と展開 (Windows Hello

[2019-05-15 03:02] hyoshioka0128 opened #3692 "[LOC] "困難な脅威を削除します。" needs to be replaced with "マルウェアの検出と削除に関する問題のトラブルシューティング""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/intelligence/safety-scanner-download

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f5bb1ce3-9128-5385-4417-d22eb5f8cb77
* Version Independent ID: cb6ba731-a2c2-e9b9-7c3e-db781b1b5222
* Content: [Microsoft Safety Scanner のダウンロード](https://docs.microsoft.com/ja-jp/windows/security/thre

[2019-05-15 07:38] VLG17 commented on #3279
@PiKappZ746 Credential guard does not store any credentials itself, it uses VBS (Virtualization based security) to protect and isolate the LSASS secrets (password hashes and Kerberos TGTs) into a separate container.

So by reverting back to Windows 10 Pro and turning off Credential Guard, you will no longer be protected, and the LSASS secrets can be dumped again very easy.

I recommend this articl

[2019-05-15 08:04] mypil commented on #3625
@officedocsbot assign @mypil

[2019-05-15 08:04] mypil commented on #3625
@jdanderson54 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-15 08:46] VLG17 commented on #3356
@yamauchikazu One of the prerequisites for WDAG is Edge, and Windows 10 Enterprise 2019 LTSC does not have Edge installed, as you correctly observed.

WDAG was not designed for a version of windows that remains the same for 10 years such as LTSC (it won't be able to keep up with the modern security needs).

Even if you would get it to work, you won't be in a supported scenario, meaning if somethin

[2019-05-15 08:55] VLG17 commented on #3357
@lightupdifire running the "Upgrade Readiness deployment script" on a few devices manually is the recommended approach, but it's not a must.

Were you able to see data being populated in Windows Analytics?

[2019-05-15 09:00] yamauchikazu commented on #3356
It is quite strange that an unsupported usage scenario is introduced in What's new 2019 LTSC.

[2019-05-15 09:29] VLG17 commented on #3356
@yamauchikazu I understand what you mean and will try to get the article to reflect this.

[2019-05-15 09:36] mypil commented on #2651
@trophywtf - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-15 09:36] mypil commented on #2651
@officedocsbot close

[2019-05-15 09:36] #2651 closed

[2019-05-15 09:40] mypil commented on #3263
@bally-singh - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-15 09:40] mypil commented on #3263
@officedocsbot close

[2019-05-15 09:40] #3263 closed

[2019-05-15 09:43] VLG17 commented on #3384
@ohadschn Please see my comments for each of the points you raised:

1. Windows Defender System Guard is the name given for a family of security features, amongst which we find "Secure Lauch" and "Firmware Protection", two independent security features.

2. Although not very intuitive, the first sentence "This topic explains how to configure [System Guard Secure Launch and System Management Mode (

[2019-05-15 09:43] mypil commented on #1688
@rkemna - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-15 09:43] mypil commented on #1688
@officedocsbot close

[2019-05-15 09:43] #1688 closed

[2019-05-15 09:45] mypil commented on #886
@EDTIVA - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-15 09:45] mypil commented on #886
@officedocsbot close

[2019-05-15 09:45] #886 closed

[2019-05-15 09:48] mypil commented on #1313
@nclinch - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-15 09:48] mypil commented on #1313
@officedocsbot close

[2019-05-15 09:48] #1313 closed

[2019-05-15 09:50] mypil commented on #880
@larsjuhlandersen - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-15 09:50] mypil commented on #880
@officedocsbot close

[2019-05-15 09:50] #880 closed

[2019-05-15 09:55] mypil commented on #3351
@robmacf - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-15 09:55] mypil commented on #3351
@officedocsbot close

[2019-05-15 09:56] #3351 closed

[2019-05-15 09:56] mypil commented on #1724
@rstamp - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-15 09:56] mypil commented on #1724
@officedocsbot close

[2019-05-15 09:56] #1724 closed

[2019-05-15 10:02] mypil commented on #3328
@gitmarecki - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-15 10:02] mypil commented on #3328
@officedocsbot close

[2019-05-15 10:02] #3328 closed

[2019-05-15 10:12] chiners68 opened #3696 "Security Baseline Computer Policy Blocks the Rest PIN and Resset Password(SSPR) pages from loading."
We have the RS4 Computer policy applied to devices via GPO, The reset PIN for Sign in options the HTML or what ever the page is does not load unless we remove this GPO. This is also the same for the reset Password option on the lock screen for SSPR. If you click on it starts to load then bombs out and returns to the lock screen. Remove this GPO and the reset password option works without issue.

T

[2019-05-15 11:45] Reeced40 commented on #1446
@stusims Thanks for reaching out and helping improve MS Doc. I'm working to find the solution to question 2. Thank you for solving question 1, I'll be sure to add it to the article soonest.

[2019-05-15 11:51] Reeced40 commented on #1457
@Shachar2like Thanks for reaching out, I will get an answer for you as soon as possible.

[2019-05-15 11:59] Reeced40 commented on #1486
@pedrr Thanks for reaching out, I'll have an answer for you shortly.

[2019-05-15 12:11] Reeced40 commented on #1518
@csando @archmiguel Thank you for pointing this out, is there anything you can suggest to add to the article or should I have the team look into this?

[2019-05-15 12:17] MaratMussabekov commented on #1033
Dear @dfconroy ,
**Is it possible to have the data returned via the /Export be .xml rather than export to evtx? -** DiagnosticLog CSP doesn't allow to change output file format.

**Every time I download the data and save the evtx file I get "The event log file is corrupt".** - are you sure all the parameters under ./Vendor/MSFT/DiagnosticLog/EtwLog/Collectors are correct? Do you experience the sam

[2019-05-15 12:18] mypil commented on #2660
@officedocsbot assign @mypil

[2019-05-15 12:20] mypil commented on #2297
@officedocsbot assign @mypil

[2019-05-15 12:26] Reeced40 commented on #2465
@cronq @fate0521 Thank you for the information, I will have the article updated soonest.

[2019-05-15 12:38] mypil commented on #2499
@officedocsbot assign @mypil

[2019-05-15 12:47] Reeced40 commented on #2414
@kexijano Thanks for reaching out, has @Tdiwestyguy answered your questions? Please let me know if you need any more information.

[2019-05-15 14:32] NeoBeum opened #3699 "ADK - 19H1 - Known Issues Section (ADK 10.0.18362.1 + KB4497936 18362.113)"
The Deployment Section for IT Pro Docs may require a detailed Release Info page, and have Known Issues expanded.

https://docs.microsoft.com/en-us/windows-hardware/get-started/adk-install

https://docs.microsoft.com/en-us/windows-hardware/get-started/what-s-new-in-kits-and-tools

ADK is currently failing installing the 14/MAY/2019 LCU KB4497936 on the Windows Recovery Image.
**It is also operating

[2019-05-15 14:36] mypil commented on #3356
looping in @greg-lindsay on this issue to get his insights.

[2019-05-15 14:49] mypil commented on #1233
@MrM40 - From our understanding, the issue you raised has been answered by joinimran. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-15 14:51] mypil commented on #887
@treysis -  Thank you for submitting this feedback.

From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-15 14:53] mypil commented on #929
@alexverboon - From our understanding, the issue you raised has been answered by MaratMussabekov. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-15 14:54] mypil commented on #1094
@Tdiwestyguy -  From our understanding, the issue you raised has been answered by joinimran. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-15 14:56] mypil commented on #1275
@mtwelve - Thank you for submitting this feedback.

From our understanding, the issue you raised has been answered by MaratMussabekov. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-15 14:58] lightupdifire commented on #3357
@VLG17, yes, but I did deploy at the end a script.

So you want to say, that we can skip running script?

Only below:

1. Create resource & Log Workspace;
2. Use Commercial ID and deploy to all devices using OMA-URI via Intune;
3. Via Intune use Devices restriction profile and set: Reporting and Telemetry to basic/full

[2019-05-15 15:41] joejony opened #3701 "Broken link"
Here, in this text, is a broken link: see Protect your enterprise data using Windows Information Protection (WIP). It is missing a /

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca51bc21-babf-9810-e26a-360e53cfbac2
* Version Independent ID: c24d6198-d249-3331-5460-5472bcbfe31e
* Content: [Configure information protec

[2019-05-15 15:44] Justinha commented on #3696
@chiners68 Thanks for the post. I don't know these specific options, but I can try to get info. Are you asking why these settings do not work when the baseline is applied?

[2019-05-15 15:48] ohadschn commented on #3384
@VLG17 thank you for clarifying here, but ideally these would also be clear in the actual doc text.

[2019-05-15 15:56] chiners68 commented on #3696
Really I need a fix but as these are Microsoft facilities that are being pushed in azure , should these be blocked by the baseline? I don’t think they should be, so a fix is essential.

Sent from my iPhone

On 15 May 2019, at 16:44, Justin Hall <notifications@github.com<mailto:notifications@github.com>> wrote:

@chiners68<https://github.com/chiners68> Thanks for the post. I don't know these specif

[2019-05-15 16:23] j0rt3g4 commented on #909
#Resolved in #3702

[2019-05-15 16:59] j0rt3g4 commented on #915
You'd need to do the device enrolled into Intune 1st as the article explains it.

[2019-05-15 17:13] illfated commented on #3686
Ref. **A PIN *is* a password** #2736 (closed)

- Content: [Why a PIN is better than a password (Windows 10)](https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-why-pin-is-better-than-password)
- Content Source: [windows/security/identity-protection/hello-for-business/hello-why-pin-is-better-than-password.md](https://github.com/MicrosoftDocs/windows-itpro

[2019-05-15 17:19] e0i commented on #2629
Hello @XEASACJ1  ,

We are closing this issue since your support question seems to be answered. Feel free to re-open this issue if you still experience problems.

Thanks.

[2019-05-15 17:20] e0i commented on #2629
@officedocsbot close

[2019-05-15 17:20] #2629 closed

[2019-05-15 19:33] MrM40 commented on #1233
Well, is the issues fixed or not? That's all that matters?
I reported this back in Jul. 3 2018 and it seem no real effort  has been made to actually solve the software bug or wrong information in the current document!
I critisable that your business customers cannot control the default browser through GPO.
It's rather irrelevant if there are other documentation in other places (or whatever), it do

[2019-05-15 19:48] illfated commented on #3692
Translation by web tool: "Deleting difficult threats." needs to be replaced with "Troubleshooting Malware Detection and Removal Issues"

[2019-05-15 19:58] illfated commented on #3701
This is the text & link from the page:

- https://docs.microsoft.com/windows/security/information-protection/windows-information-protection/protect-enterprise-data-using-wip

The link works just fine for me, I don't see the problem.
According to you, where is the "missing" slash ( `/` ) needed?

[2019-05-15 20:08] martyav commented on #3681
I just went in and made a quick edit to the header.

[2019-05-15 20:08] #3681 closed

[2019-05-15 20:16] illfated commented on #3691
This is the offending line in English (en-us):

`11. Click the **adfssvc** from the **Group or users names** list. In the **Permissions for adfssvc** section, In the **Permissions for adfssvc** section, select the **Allow** check box for the **Enroll** permission. Excluding the **adfssvc** user, clear the **Allow** check box for the **Enroll** and **Autoenroll** permissions for all other items in

[2019-05-15 20:31] Justinha commented on #3696
@chiners68 can you confirm the names of the baseline settings you are asking about?

[2019-05-15 20:47] iadgovuser1 commented on #3696
Might want to bring this to the attention of @AaronMargosis who maintains the baselines.

[2019-05-15 21:00] Marctwain-Marcellos commented on #1514
Same issue using Store version of WICD 2019.314.0.0

[2019-05-15 21:50] #3587 closed

[2019-05-15 21:52] #3601 closed

[2019-05-15 22:01] #2388 closed

[2019-05-15 22:34] j0rt3g4 commented on #874
Correction "do a system reboot" changed by "Restart the PC".
PR #3706 as requested.

[2019-05-16 00:47] illfated commented on #3405
Looking back at the originating document to see where the unwanted "_gt" character combination stems from, it looks like the "arrow marker" `->` (hyphen + Greater Than) is the originating character combination:

`The settings are available under Device Configuration -> Profiles -> Create profile -> Platform = Windows 10 and later, Profile type = Endpoint protection -> Configure -> Windows Encrypti

[2019-05-16 01:06] illfated commented on #3295
@mypil (or maybe @e0i ) -- please assign this issue ticket to the proper person (or if needed, request a ticket posted on the docs.microsoft.com page).
Please also note my PR linked above.

[2019-05-16 03:47] hyoshioka0128 commented on #3692
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/intelligence/safety-scanner-download
![safety-scanner-download](https://user-images.githubusercontent.com/40815708/57825114-7882f380-77d8-11e9-8530-815c45bd5a8e.png)

https://support.microsoft.com/ja-jp/help/4466982/windows-10-troubleshoot-problems-with-detecting-and-removing-malware
![windows-10-troubleshoot-problems-with-detecti

[2019-05-16 05:41] MaratMussabekov commented on #1151
Dear @jordanmills ,
could you please provide more details?
 which version of Windows 10 do you use? please also check this [blog article](https://msitproblog.com/2016/09/19/app-v-sequencer-missing-adk-10-v1607/)
Thank you

[2019-05-16 06:26] j0rt3g4 commented on #915
#3710 substitute #3709 because this last one was mixed up with another issue.

[2019-05-16 07:34] MaratMussabekov commented on #3347
Dear @juanand ,
**and this article does not notice the warning above** - as you can see in the article, in the "Deploy the compatibility update and related updates" section: "We also recommend installing the latest Windows Monthly Rollup on Windows 7 and Windows 8.1 devices.", so the organizations that use only security updates should deploy monthly updates before deploying Windows Analytics. The

[2019-05-16 08:05] mypil commented on #2465
@cronq  - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-16 08:05] mypil commented on #2465
@officedocsbot close

[2019-05-16 09:40] hyoshioka0128 opened #3711 "[LOC] "ウイルス & 脅威の防止" needs to be replaced with "ウイルスと脅威の防止""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-security-center/wdsc-windows-10-in-s-mode

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: c1e28fa6-37e9-efa5-1cb6-a2177ce336b2
* Version Independent ID: 0b23ab1c-bc6d-e2c0-f6ff-fb3defaf6245
* Content: [S モードでの Windows 10 での Windows セキュリティの管理します。](https://docs.microsof

[2019-05-16 09:48] LeThijs commented on #1753
Beware with this approach, the password is logged in plaintext (https://oliverkieselbach.com/2018/02/12/part-2-deep-dive-microsoft-intune-management-extension-powershell-scripts/#sensitive-data)

I would not use a script for this

Is there any update for this problem? Getting this error on all my devices

[2019-05-16 10:06] hyoshioka0128 opened #3712 "[LOC] "& セキュリティを更新" needs to be replaced with "更新とセキュリティ""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-exploit-guard/enable-virtualization-based-protection-of-code-integrity
![enable-virtualization-based-protection-of-code-integrity](https://user-images.githubusercontent.com/40815708/57845825-c0703d80-780d-11e9-96e2-fa143cdcd37b.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題の

[2019-05-16 10:58] mypil commented on #3478
@NeoBeum - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-16 11:41] lightupdifire commented on #2376
@Justinha, I try deploy first this Microsoft Monitoring Agent using Intune, to make sure we have full steps,

I have a feeling that authors of Microsoft Monitoring Agent try reject use of Microsoft Monitoring Agent via Intune:
https://github.com/MicrosoftDocs/azure-docs/issues/31097

If Microsoft Monitoring Agent not supported to be run on any Windows 10 device / not supported to be used as a prod

[2019-05-16 11:41] vandreytrindade commented on #743
Ok Microsoft, so this is the last changes?

[2019-05-16 13:04] fate0521 commented on #2465
Thanks!

[2019-05-16 13:11] kennethvs opened #3713 "Some confusion about reasoning to enable Device Writeback"
Hope I can ask a question on functionality and some confusion from my part after reading the documentation here:

The document above states: "Hybrid certificate trust deployments need the device write back feature. Authentication to the Windows Server 2016 Active Directory Federation Services needs both the user and the computer to authenticate. Typically the users are synchronized, but not device

[2019-05-16 13:19] lightupdifire opened #3714 "Testing steps | Adjust WIP protection policy"
Hello,
Seems using Microsoft Monitoring Agent we can retrieve event log: "Microsoft-Windows-EDP-Application-Learning/Admin",
From AAD joined or ADD registered + MDM Enrolled devices, some discussion in: https://github.com/MicrosoftDocs/azure-docs/issues/31097

Maybe could be added here as alternative solution like: "Use Microsoft Monitoring Agent and Intune to adjust WIP protection policy".

Durin

[2019-05-16 13:38] mypil commented on #909
@GreggHales - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-16 13:49] mypil commented on #3167
@jcs23576  - We would like to follow up. Can you please respond to the query of MaratMussabekov?

Thank you.

[2019-05-16 13:50] mypil commented on #3279
@PiKappZ746 - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-16 13:53] mypil commented on #2652
@danjpadgett - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-16 13:55] mypil commented on #1293
@mjfusa - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-16 13:57] mypil commented on #3276
@robmacf - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-16 14:11] mypil commented on #3386
@officedocsbot close

[2019-05-16 14:11] #3386 closed

[2019-05-16 14:35] jaimeo commented on #3347
I've looked up the owner of the FWlink and let them know. @zdvorak did you have any input on the other question?

[2019-05-16 14:58] nenonix commented on #3701
Link works for me too

[2019-05-16 15:59] e0i commented on #2450
@nickbrower

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-16 15:59] e0i commented on #2450
@officedocsbot close

[2019-05-16 15:59] #2450 closed

[2019-05-16 16:22] rstgermain opened #3718 "MS 365 E3 With E5 Security Add-on"
For licensing requirements couldn't you also have Microsoft 365 E3 with the E5 security add-on? This would help me convince our licensing people.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8aca66a-5a8b-64d2-7201-a7b915c5d309
* Version Independent ID: c3cc0543-db20-a8f2-288c-d1dea5ea479f
* Content: [Minimum require

[2019-05-16 17:04] joestern opened #3720 "GP setting "Prevent enterprise websites from loading non-enterprise content..." in 1809 does not match docs"
The documentation above mentions a setting named "Block enterprise websites to load non-enterprise content in IE and Edge" that also seems to have an "Allowed Apps" list. The setting that comes with the 1809 ADMX/ADML has a different name (beginning with "Prevent" instead of "Block") and it does not have an allowed apps list. There is no obvious way to add sites to an enterprise list.

---
#### Do

[2019-05-16 17:04] e0i commented on #3610
@officedocsbot assign @e0i

[2019-05-16 17:05] e0i commented on #3612
@officedocsbot assign @e0i

[2019-05-16 17:05] e0i commented on #3613
@officedocsbot assign @e0i

[2019-05-16 17:05] e0i commented on #3614
@officedocsbot assign @e0i

[2019-05-16 17:05] e0i commented on #3617
@officedocsbot assign @e0i

[2019-05-16 17:05] e0i commented on #3618
@officedocsbot assign @e0i

[2019-05-16 17:06] e0i commented on #3619
@officedocsbot assign @e0i

[2019-05-16 17:06] e0i commented on #3620
@officedocsbot assign @e0i

[2019-05-16 17:06] e0i commented on #3622
@officedocsbot assign @e0i

[2019-05-16 17:06] e0i commented on #3623
@officedocsbot assign @e0i

[2019-05-16 17:07] e0i commented on #3630
@officedocsbot assign @e0i

[2019-05-16 17:07] e0i commented on #3631
@officedocsbot assign @e0i

[2019-05-16 17:07] e0i commented on #3637
@officedocsbot assign @e0i

[2019-05-16 17:08] e0i commented on #3641
@officedocsbot assign @e0i

[2019-05-16 17:08] e0i commented on #3642
@officedocsbot assign @e0i

[2019-05-16 17:14] e0i commented on #3632
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-16 17:14] e0i commented on #3632
See: #3435

[2019-05-16 17:15] e0i commented on #3633
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-16 17:15] e0i commented on #3633
See: #3435

[2019-05-16 17:15] e0i commented on #3634
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-16 17:15] e0i commented on #3634
See: #3435

[2019-05-16 17:17] e0i commented on #3645
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-16 17:22] e0i commented on #3664
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-16 17:22] e0i commented on #3664
See: #3405

[2019-05-16 17:23] e0i commented on #3666
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-16 17:23] e0i commented on #3666
See: #3405

[2019-05-16 17:28] e0i commented on #3667
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-16 17:28] e0i commented on #3668
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-16 17:28] e0i commented on #3669
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-16 17:28] e0i commented on #3670
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-16 17:28] e0i commented on #3669
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-16 17:28] e0i commented on #3670
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-16 17:28] e0i commented on #3687
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-16 17:28] e0i commented on #3671
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-16 18:25] e0i commented on #3085
@billgatesfan

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-16 18:25] e0i commented on #3085
@officedocsbot close

[2019-05-16 18:25] #3085 closed

[2019-05-16 18:54] e0i commented on #2442
@Softgrider

With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thanks for your feedback.

[2019-05-16 18:54] e0i commented on #2442
@officedocsbot close

[2019-05-16 18:54] #2442 closed

[2019-05-16 19:19] Malind19 commented on #1027
@mypil I cannot find such section in the content article. Can you kindly check.

[2019-05-16 19:46] joinimran commented on #1233
@MrM40 Thank you for your valuable feedback. We are committed to providing the best possible and updated documentation. I can understand your situation here. We value your input here to make the current doc better. If there are suggestions from your side to make this doc better, please do let us know. We will surely update accordingly.

For your point related to a software bug, that issue can be r

[2019-05-16 19:50] tunnelofsludge opened #3724 "ConsentPromptBehaviorUser"
On Windows 10 1809 Pro, this setting is set to 1 instead of 3 if the slider in the UAC Control Panel applet is set at the Default level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38066882-5022-1f08-3565-c13041b10921
* Version Independent ID: 30a904f6-64ce-2d03-f9b1-721f75b8a106
* Content: [User Account Control Gro

[2019-05-16 19:56] rstgermain opened #3725 "Automate custom detection's"
Are there plans to let you set these to automatically run at certain intervals. For example if I make a custom detection for known malicious activity, I would want it to always run. Not have it be a one-off thing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93d8d7cc-6b88-b07f-ad25-6439cc0292b1
* Version Independent

[2019-05-16 20:09] AdamGrossTX commented on #3631
FYI @e0i I have a blog about this with the updated process.

https://www.asquaredozen.com/2019/05/12/deploying-microsoft-store-for-business-apps-from-configmgr/

[2019-05-16 20:11] MrM40 commented on #1233
If any of my customers told me about a bug in my software, I would not tell him do a lot of "my" work to fix it/do furter testing . I would recieve the information he had, make a judement if it really is a bug, if so, the rest is my problem, not the customer.
This clearly is a bug or wrong documentation as I'm not the only one.
BUG: YOU should contact your responsible MS department!
Wrong document

[2019-05-16 21:46] e0i commented on #3600
@officedocsbot close

[2019-05-16 21:47] #3600 closed

[2019-05-16 21:51] e0i commented on #3604
@officedocsbot assign @e0i

[2019-05-16 21:51] e0i commented on #3604
@officedocsbot close

[2019-05-16 21:51] #3604 closed

[2019-05-16 21:51] e0i commented on #3591
@officedocsbot assign @e0i

[2019-05-16 21:51] e0i commented on #3591
@officedocsbot close

[2019-05-16 21:51] #3591 closed

[2019-05-16 21:53] e0i commented on #3558
@officedocsbot close

[2019-05-16 21:55] e0i commented on #3510
@officedocsbot close

[2019-05-16 21:55] #3510 closed

[2019-05-16 21:56] e0i commented on #3507
Hello, @Aijaz-Qureshi

It seems that your question has already been answered by the community and thus we are marking this issue as resolved.

Feel free to re-open the issue if you feel it hasn't been resolved.

Thank you for providing feedback.

[2019-05-16 21:56] e0i commented on #3507
@officedocsbot close

[2019-05-16 21:56] #3507 closed

[2019-05-16 21:57] e0i commented on #3475
@zdvorak Any updates on this?

[2019-05-16 21:59] e0i commented on #3472
@peteadshead Thank you for following-up with clarification.

The issue has been noted and the document will be revised in the light of your feedback.

[2019-05-16 22:03] e0i commented on #3518
@Air-Git Thank you for following-up with clarification.

The issue has been noted and the document will be revised in the light of your feedback.

[2019-05-16 22:03] e0i commented on #3520
@Air-Git Thank you again for following-up with clarification.

The issue has been noted and the document will be revised in the light of your feedback.

[2019-05-16 22:08] e0i commented on #2712
Hello @comet52a  ,

We are closing this issue since your support question seems to be answered. Feel free to re-open this issue if you still experience problems.

Thanks.

[2019-05-16 22:08] e0i commented on #2712
@officedocsbot close

[2019-05-16 22:08] #2712 closed

[2019-05-16 22:09] e0i commented on #2395
@jamiejdt Any updates with this question?

[2019-05-16 22:15] e0i commented on #1674
@TrudyHa Any updates with this issue? Thanks.

[2019-05-16 22:16] e0i commented on #1347
@zdvorak Any updates with this issue?

[2019-05-16 22:51] #1950 closed

[2019-05-16 23:37] e0i commented on #3549
@satish860

We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.

Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.

Thank you for providing feedback.

[2019-05-16 23:37] e0i commented on #3549
@officedocsbot close

[2019-05-16 23:37] #3549 closed

[2019-05-16 23:43] e0i commented on #3256
@TrudyHa Could you kindly advise which sub-domains in specific would be listed for the proxy configuration in the article?

We'd like to follow-up with content updates if necessary.

Thanks.

[2019-05-16 23:54] msm-fc commented on #3558
@e0i , I am afraid I need to open this back up because it was too quickly judged as a request for help but actually it is feedback regarding the documentation.  Note the lack of a question mark anywhere.  I'm trying to help improve the documentation.

To summarize,

Please add this information to the article:

The "interactive logon : Require Smartcard" security policy is not shipped with windows

[2019-05-17 00:32] PrinceMarkieD opened #3727 "Firewall or proxy?"
Should this be used instead of the proxy with exceptions to control web traffic and network access?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfea4e59-ec8c-cbdf-a039-23612c2266a5
* Version Independent ID: 7058544b-7ef2-a398-366a-cf71520aa9d8
* Content: [Firewall CSP](https://docs.microsoft.com/en-us/windows/client

[2019-05-17 02:26] aamer-s commented on #3433
The URL to "Implementing Windows Hello For Business" leads to https://www.microsoft.com/en-us/itshowcase which is incorrect.
THe URL itself is: https://www.microsoft.com/itshowcase/Article/Content/830/Implementing-Windows-Hello-for-Business-at-Microsoft but it doesn't seemt o find the relevcant article and ends up at https://www.microsoft.com/en-us/itshowcase

[2019-05-17 02:28] aamer-s opened #3728 "Incorrect URL Redirection"
The URL to "Implementing Windows Hello For Business" leads to https://www.microsoft.com/en-us/itshowcase which is incorrect.
THe URL itself is: https://www.microsoft.com/itshowcase/Article/Content/830/Implementing-Windows-Hello-for-Business-at-Microsoft but it doesn't seemt o find the relevcant article and ends up at https://www.microsoft.com/en-us/itshowcase

---
#### Document Details

⚠ *Do not

[2019-05-17 06:19] j0rt3g4 commented on #946
PR #3708

[2019-05-17 06:42] j0rt3g4 commented on #969
PR #3729

[2019-05-17 06:48] j0rt3g4 commented on #3365
All you can do in here is try to set up on the IPv4 and filter them by MAC
https://www.dell.com/support/article/mx/es/mxdhs1/sln288870/how-to-allow-or-deny-dhcp-server-leases-by-mac-address?lang=en

The point is that you won't have control over the devices when they left the branch, and DHCP is a promiscuous protocol, it will be continually asking for an IP it won't just "be aware" if the device i

[2019-05-17 06:51] j0rt3g4 commented on #2586
What would be the group policy **article** that does not talk about unlimited?

You always need to make sure that you're using the correspondent ADMx version for all your devices inside your enterprise. (1809 --> https://www.microsoft.com/en-us/download/confirmation.aspx?id=57576)

[2019-05-17 07:56] illfated commented on #3507
@Aijaz-Qureshi : if you still get that PS error about `Resolve-DnsName` you may want to read the content on https://docs.microsoft.com/powershell/module/dnsclient/resolve-dnsname to see if there is something else missing in your setup. If you still cannot resolve your issue, you may want to contact your local Microsoft Support instance or maybe even open a new issue from the resolve-dnsname page,

[2019-05-17 08:18] VLG17 commented on #3357
@lightupdifire i'm saying that the "Upgrade Readiness deployment script" is optional. I don't know which script you ran.

[2019-05-17 08:21] mypil commented on #3356
@yamauchikazu - Thank you for submitting feedback.

The content has been updated to reflect the changes that you requested for. From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-17 08:24] mypil commented on #3384
@ohadschn - Could you please assist us by suggesting how this content could be edited to incorporate your feedback? If you could suggest what the appropriate text and where it should be placed, I could assign one of our team members to create a Pull Request to get it added or you may also create a Pull Request to add in your suggestion and just link this issue so I can have the doc owner review an

[2019-05-17 08:27] mypil commented on #3385
@NoName76 - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-17 08:30] mypil commented on #3398
@DaniHalfin @BRecords @jaimeo @Justinha @mjcaparas @greg-lindsay - Can you please share your insights on this issue?

Thank you.

[2019-05-17 08:41] chiners68 commented on #3696
The baseline GPO causing the issue is

MSFT Windows 10 RS4 - Computer

Regards

Mark
Sent from my iPhone

On 15 May 2019, at 21:31, Justin Hall <notifications@github.com<mailto:notifications@github.com>> wrote:

@chiners68<https://github.com/chiners68> can you confirm the names of the baseline settings you are asking about?

—
You are receiving this because you were mentioned.
Reply to this email

[2019-05-17 08:43] lightupdifire opened #3730 "Testing Steps"
Hello,
If we deploy Upgrade Readiness, does it block any current Windows Updates process?
As example now updates set on Windows 10 PC's to run automatically, used Intune Delivery Optimization profile & Software Update rings,
If we will deploy Upgrade Readiness, does all updates stop work until we follow steps and go to "Step 3 Deploy updates"?
Or all current Windows Updates will be continue workin

[2019-05-17 08:46] lightupdifire commented on #3357
@VLG17,
I did run "Upgrade Readiness deployment script".
My question was if we can skip running run "Upgrade Readiness deployment script" in order to be able Enroll devices in Windows Analytics.
As you say it is "optional", so then this answer to my question, then I will try setup new PC, but without running script and keep it running for a while...

[2019-05-17 08:49] mypil commented on #884
@coreyp-at-msft @DaniHalfin @Justinha @mjcaparas @greg-lindsay @jaimeo - Can you please share your insights on this issue?

Thank you.

[2019-05-17 08:50] mypil commented on #1664
@officedocsbot assign @mypil

[2019-05-17 08:56] mypil commented on #1803
@officedocsbot assign @mypil

[2019-05-17 08:56] mypil commented on #1967
@officedocsbot assign @mypil

[2019-05-17 08:57] mypil commented on #1967
@joegasper - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-17 08:58] mypil commented on #1803
@BigIve - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-17 08:58] mypil commented on #1664
@MSFTJerryAb - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-17 09:17] illfated commented on #3623
@effleurager : As a Scandinavian citizen, I completely agree with your assessment that the date format of the output from an application should comply with the localisation settings of the machine it runs on. My favourite date format is (for example) 2019-05-17 for use in file & folder names, making it easier to avoid date & time sorting issues for files & folders, because copy/save/update changes

[2019-05-17 09:29] effleurager commented on #3623
As far as I'm aware these issues are mirrored internally at Microsoft, which might be why @e0i is assigned but nothing has been said from anyone representing Microsoft. Since there's no specific feedback tool available to me, I can only try Feedback Hub or Microsoft's forums.

Can anyone from Microsoft respond about this? Unless you are and I've just missed something, @illfated.

[2019-05-17 09:30] mypil commented on #1233
@MrM40 - Sorry to hear that you are having issues. Please understand that this site is a product documentation site and not a support nor a feature request site.

As such, the feedback section here is intended for feedback that improves the content in the Microsoft documentation and not intended for user feedback on product features nor troubleshooting.

For user feedback on product feature reques

[2019-05-17 09:39] mypil commented on #1027
@Justinha - I checked on the article but could not find the "Note section" indicated on this issue.

Is it possible that it was already removed? Can you please advise @Malind19 on which portion to edit in the article so he can create a PR for this?

Thank you.

[2019-05-17 09:47] illfated commented on #3623
You have not missed anything, I am not affiliated with Microsoft. I am merely an avid Microsoft software user since 1991.
I also used to be a Microsoft Certified Product Specialist on Windows 3.1 + MS Office 4.2 (1995-1998).
These days, I am mostly a day-to-day computer support specialist, as well as a former IT repair technician.
I would merely like to point out that these pages are purely about

[2019-05-17 09:56] MrM40 commented on #1233
Fair enough ;-)
I'll make a ticket as it seems to be a bug.
Thanks for guidance.

[2019-05-17 09:56] #1233 closed

[2019-05-17 10:11] mypil commented on #3295
@officedocsbot assign @mypil

[2019-05-17 10:18] mypil commented on #3295
@illfated - Thank you for proactively helping to create the PR for this issue.

I have tagged the other doc owners in this repo to help check and merge the content for PR #3306.

[2019-05-17 10:23] mypil commented on #1033
@dfconroy - We would like to follow up. Can you please respond to the query of MaratMussabekov?

[2019-05-17 10:28] mypil commented on #1830
@officedocsbot assign @mypil

[2019-05-17 10:29] illfated commented on #3558
Fair enough. I tried to look up more information about the ADMX templates to see where on the page your suggested paragraph fits best, before opening a Pull Request for that change. One of the hits from my web search is an interesting discussion on reddit: https://www.reddit.com/r/sysadmin/comments/9lciys/admx_templates_for_windows_10_1809/

I particularly found the line

to be intriguing, particu

[2019-05-17 11:09] joejony commented on #3701
The defective link is:

Your tenant needs to be onboarded to Azure Information Protection analytics, for more information see, Configure a Log Analytics workspace for the reports

https://docs.microsoft.comazure/information-protection/reports-aip#configure-a-log-analytics-workspace-for-the-reports

The correct should be:
https://docs.microsoft.com/azure/information-protection/reports-aip#configure

[2019-05-17 11:19] illfated commented on #3701
Thank you, that is a different link (and it is indeed broken).

[2019-05-17 11:58] illfated commented on #1830
This issue has been resolved already, right?
Latest OMS removal in commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/a7223d7a54edd7e046ef5c21aab324df5c73c285
(from what I can tell).

[2019-05-17 12:07] illfated commented on #3549
@satish860 : if you had published your comment in the feedback section of the related page, it would have been easier to follow up on your question, based on authors of the page.

Based on a web search, I presume this is about the page
- https://docs.microsoft.com/en-us/windows/client-management/mdm/office-ddf
- https://github.com/MicrosoftDocs/windows-itpro-docs/blob/master/windows/client-managem

[2019-05-17 12:30] mypil commented on #1285
@officedocsbot assign @mypil

[2019-05-17 12:34] mypil commented on #1448
@officedocsbot assign @mypil

[2019-05-17 12:34] mypil commented on #1451
@officedocsbot assign @mypil

[2019-05-17 12:35] mypil commented on #1549
@officedocsbot assign @mypil

[2019-05-17 12:35] mypil commented on #1565
@officedocsbot assign @mypil

[2019-05-17 12:35] mypil commented on #1741
@officedocsbot assign @mypil

[2019-05-17 12:36] mypil commented on #1285
@mtwelve -  Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by okieselbach. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-17 12:39] mypil commented on #1830
@davisdre -  Thank you for submitting this feedback.

From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-17 12:41] mypil commented on #1448
@stusims - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-17 12:42] mypil commented on #1549
@CCDFischer - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-17 12:42] mypil commented on #1565
@git-hub-user - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-17 12:42] mypil commented on #1741
@RAJU2529 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-17 13:37] AaronMargosis commented on #3696
Understood. Can you identify which setting or settings within the GPO are causing the issue you're seeing? Thanks.

[2019-05-17 15:05] #1033 closed

[2019-05-17 15:15] msm-fc commented on #3558
If I’m not mistaken that local location would be where policy definitions
are kept once they are installed into a Windows device. And really to use
the policy at the domain level via group policy objects the Central Store
needs to be updated too. I didn’t think about that earlier. Maybe it would
suffice to mention that this is a newer policy definition than what is
shipped in Windows and be sure t

[2019-05-17 15:26] chiners68 commented on #3696
Hi Aaron,
  If I knew the setting it’s unlikely I would of logged the issue. There are so many settings I haven’t got an idea where to start in that policy.
 From today I will not be onsite with a device to test for a Couple of weeks.

Would appreciate if someone can identify or give a rough indication so I can test when I’m next in the customers site.

Regards

Mark

Sent from my iPhone

On 17 Ma

[2019-05-17 15:33] e0i commented on #3042
Hello, @bmwilson1978  thank you for providing feedback.

The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-17 15:45] e0i commented on #2709
Hello, @dfter thank you for providing feedback.

The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-17 15:45] e0i commented on #2709
@officedocsbot close

[2019-05-17 15:45] #2709 closed

[2019-05-17 15:47] AaronMargosis commented on #3696
OK. Can you describe the symptoms more precisely? What exactly isn't working the way you believe it should? Please be detailed. Thanks.

[2019-05-17 15:53] e0i commented on #2502
@Malibu7012

The issues section of this repository is intended for product documentation issues only.

Please consider opening a support ticket by the following link below for your question so that it gets answered quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-17 15:53] e0i commented on #2502
@officedocsbot assign @e0i

[2019-05-17 15:54] e0i commented on #2502
@officedocsbot close

[2019-05-17 15:54] #2502 closed

[2019-05-17 16:25] chiners68 commented on #3696
Hi Aaron,
  Here is a one drive link with two small videos. Link expires tomorrow.

https://marath0nps-my.sharepoint.com/:f:/g/personal/mark_chinery_marathon-ps_com/EvFeN7-30kpJttsnhvuSl_gBp5RpVZ01pQrLKeSLbX6Veg?e=GXykZy

The Malaysian mounting screen is the customer device with Baseline applied. You can see I press the Reset Password Link, it starts to process to the rest page but returns to the

[2019-05-17 16:37] mapalko commented on #3433
@DaniHalfin do you know which page in the WHFB documentation used to be linked to for Implementing-Windows-Hello-for-Business-at-Microsoft?

[2019-05-17 17:34] illfated commented on #3558
@e0i : I recommend re-opening this issue for review and to make a decision on how to update the page [Interactive logon Require smart card - security policy setting (Windows 10)](https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/interactive-logon-require-smart-card) with the reviewed material.

[2019-05-17 17:46] Justinha commented on #3558
Agreed, and thanks for the suggestion @msm-fc. This could be placed in a few different spots: right after the intro, at the nd of the Reference section or in Policy considerations. It could also be added to https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/security-options

[2019-05-17 18:04] Justinha commented on #1027
@mypil yes I did, sorry. @vgrsec thanks for the feedback and sorry for delay.

fyi you can check topic history, here for example: https://github.com/MicrosoftDocs/windows-itpro-docs/commit/7ebd39f45254da85432b45ae1d1bdba0861f2817#diff-921fa7bd4471960cd90002c8fa5c0ef6

[2019-05-17 18:05] #1027 closed

[2019-05-17 18:12] illfated commented on #1027
Commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/7ebd39f45254da85432b45ae1d1bdba0861f2817 is sufficient reference for the change.
I presume it can be a lot to remember or look up
if you want to reference or close issues in all commits.
(Thank you for the follow-up, however delayed.)

[2019-05-17 18:18] illfated commented on #3728
Looks like the URL target page has been removed or renamed:
- https://www.microsoft.com/en-us/itshowcase/implementing-windows-hello-for-business-at-microsoft
(https://www.microsoft.com/itshowcase/Article/Content/830/Implementing-Windows-Hello-for-Business-at-Microsoft)

Can you confirm if the page I found looks like the correct new target for the "broken" link, so we can open a PR to repair it?

[2019-05-17 18:29] e0i commented on #2483
@ericcsinger

The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-17 18:29] e0i commented on #2483
@officedocsbot close

[2019-05-17 18:29] #2483 closed

[2019-05-17 18:33] illfated commented on #3433
@mapalko : see also https://github.com/MicrosoftDocs/windows-itpro-docs/issues/3728#issuecomment-493550428
(https://www.microsoft.com/en-us/itshowcase/implementing-windows-hello-for-business-at-microsoft)

[2019-05-17 19:00] e0i commented on #2539
@danielharkerdp

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-17 19:00] e0i commented on #2539
@officedocsbot assign @e0i

[2019-05-17 22:57] AaronMargosis commented on #3696
My email address isn’t recognized in your sharepoint apparently

— Aaron
Sent from mobile device. Probably overly trusting voice to text.
________________________________
From: chiners68 <notifications@github.com>
Sent: Friday, May 17, 2019 12:25:20 PM
To: MicrosoftDocs/windows-itpro-docs
Cc: Aaron Margosis; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Security Baseline Computer Policy

[2019-05-17 23:02] AaronMargosis commented on #3696
Got it this time

— Aaron
Sent from mobile device. Probably overly trusting voice to text.
________________________________
From: Aaron Margosis
Sent: Friday, May 17, 2019 6:57:36 PM
To: MicrosoftDocs/windows-itpro-docs; MicrosoftDocs/windows-itpro-docs
Cc: Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Security Baseline Computer Policy Blocks the Rest PIN and Resset Password(SSPR) pages

[2019-05-17 23:45] iadgovuser1 commented on #3696
@AaronMargosis Here are some potential policies settings that could interfere: https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-sspr-windows#limitations

[2019-05-18 00:07] iadgovuser1 commented on #3696
I'm not able to test this so these are just guesses because they deal with lock screen and PIN.

Control Panel > Personalization
* Prevent enabling lock screen camera - Enabled
* Prevent enabling lock screen slide show - Enabled

System > Logon >
* Turn on convenience PIN sign-in  - Disabled

[2019-05-18 04:40] illfated commented on #3612
Comparing the Japanese page with the English (US) page, the affected paragraph does not exist on the English page:
https://docs.microsoft.com/en-us/windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services#6-font-streaming

https://docs.microsoft.com/ja-jp/windows/privacy/manage-connections-from-windows-operating-system-components-to-microsoft-services#6-%E3

[2019-05-18 07:01] chiners68 commented on #3696
I checked those settings before reporting the problem. They are not set.

Sent from my iPhone

On 18 May 2019, at 00:45, D76C6399A0F334216B3A58BE07C3C3137D5E14542BC13CA38EB0800D9FFC1FE6 <notifications@github.com<mailto:notifications@github.com>> wrote:

@AaronMargosis<https://github.com/AaronMargosis> Here are some potential policies settings that could interfere: https://docs.microsoft.com/en-us/

[2019-05-18 07:08] ScottHendrix-MSFT commented on #3623
SetupDiag is not localized, it is en-US only at this time.  Further, SetupDiag pulls the date/timestamps directly from the setup logs which are also not localized.  SetupDiag does not attempt to convert the date/timestamps of the log entries it parses.

You can always use the Feedback Hub to report feedback for SetupDiag, just be sure to mention it in the title of the Feedback and use the Windows

[2019-05-18 08:36] chiners68 commented on #3696
Won’t be the top and bottom one as we are using Windows hello on the surface. Requires camera and pin. I’ll check the middle one.

Sent from my iPhone

On 18 May 2019, at 01:07, D76C6399A0F334216B3A58BE07C3C3137D5E14542BC13CA38EB0800D9FFC1FE6 <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm not able to test this so these are just guesses because they deal with lock screen an

[2019-05-18 10:11] AndrewEmmett opened #3738 "Secure Score Update Frequency"
It would be useful to know what the expected update schedule of Secure Score is. It seems to sometimes be 1 day, but on other occasions up to 3 days. When I comes to updates, the currency of this information would be really helpful. Guidance for admins would be helpful...

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-05-18 18:50] e0i commented on #3557
Hello, @craigblake  thank you for providing feedback.

The issues section of this repository is intended for product documentation issues only.

Please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you.

[2019-05-18 18:51] e0i commented on #3673
@officedocsbot assign @e0i

[2019-05-18 18:52] e0i commented on #3673
@amirsc3

Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-05-18 18:52] e0i commented on #3665
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-18 18:53] e0i commented on #3665
See: #3159

[2019-05-18 18:54] e0i commented on #3663
@officedocsbot assign @e0i

[2019-05-18 18:54] e0i commented on #3663
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-18 18:54] e0i commented on #3663
See #3159

[2019-05-18 18:55] e0i commented on #3662
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-18 18:55] e0i commented on #3662
See: #3159

[2019-05-18 18:56] e0i commented on #3661
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-18 19:00] e0i commented on #3661
@dongmicro Would you be able to help with this Japanese localization issue? Thanks.

[2019-05-18 19:04] e0i commented on #3660
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-18 19:04] e0i commented on #3660
@dongmicro Would you be able to assist with this Japanese localization issue? Thanks.

[2019-05-18 19:05] amirsc3 commented on #3673
Hi,
I provided the link to the documentation in the comment:
https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/configure-server-endpoints#windows-server-version-1803-and-windows-server-2019

From feedback I've received this is misleading:
"use the same method used when onboarding Windows 10 machines" - as not all supported version of SCCM which work for Win

[2019-05-18 19:06] e0i commented on #3659
@dongmicro Would you be able to assist with this Japanese localization issue? Thanks.

[2019-05-18 19:06] e0i commented on #3657
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-18 19:06] e0i commented on #3657
@dongmicro Would you be able to assist with this Japanese localization issue? Thanks.

[2019-05-18 19:07] e0i commented on #3656
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-18 19:08] e0i commented on #3656
@dongmicro Would you be able to assist with this Japanese localization issue? Thanks.

[2019-05-18 19:13] e0i commented on #3701
@mjcaparas Would you be able to merge this PR that contains a minor URL fix that is contributed by community? Thanks.

[2019-05-18 19:14] e0i commented on #3701
@illfated As always, Thank you for your generous contributions Trond. Much appreciated.

[2019-05-18 19:18] e0i commented on #3699
@officedocsbot assign @e0i

[2019-05-18 19:23] e0i commented on #3699
@NeoBeum Thank you for providing details about the problem that you are experiencing.

Could you clarify the subject of your request regarding associated documentation?

The issues section of this repository is intended for documentation and content related issues and any documentation feedback is welcome.

[2019-05-18 19:24] e0i commented on #3691
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-18 19:28] DoublleW commented on #1915
Solved!
As @ludwigschreier wrote, check the BIOS and turn on the VT.
In my case, I have disabled the option (yes, turn it off).
I started Windows and tried to start the VM or view the status in msinfo32.exe, closed everything and rebooted.
In BIOS enable VT and launched Windows.
VMWare works and does not issue a warning when creating x64 OS.

[2019-05-18 19:28] e0i commented on #3691
See: #3159

[2019-05-18 19:29] e0i commented on #3692
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-18 19:30] e0i commented on #3692
@dongmicro Would you be able to assist with this Japanese localization issue? Thanks.

[2019-05-18 19:34] e0i commented on #3696
@officedocsbot assign @e0i

[2019-05-18 19:35] e0i commented on #3689
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-18 19:36] e0i commented on #3689
@officedocsbot unassign @dongmicro
@officedocsbot remove label localization

[2019-05-18 19:38] e0i commented on #3689
@PrinceMarkieD

The issues section of this repository is intended for documentation issues only.

Please consider opening a product feedback ticket for any of your suggestions or feature requests to help Microsoft improve your experience. Find the link to Feedback Hub below:

[Microsoft Windows 10 Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-

[2019-05-18 19:39] e0i commented on #3684
@officedocsbot assign @e0i

[2019-05-18 19:40] e0i commented on #3738
@officedocsbot assign @e0i

[2019-05-18 19:40] e0i commented on #3728
@officedocsbot assign @e0i

[2019-05-18 19:41] e0i commented on #3727
@officedocsbot assign @e0i

[2019-05-18 19:41] e0i commented on #3730
@officedocsbot assign @e0i

[2019-05-18 19:41] e0i commented on #3725
@officedocsbot assign @e0i

[2019-05-18 19:41] e0i commented on #3724
@officedocsbot assign @e0i

[2019-05-18 19:41] e0i commented on #3720
@officedocsbot assign @e0i

[2019-05-18 19:41] e0i commented on #3713
@officedocsbot assign @e0i

[2019-05-18 19:41] e0i commented on #3718
@officedocsbot assign @e0i

[2019-05-18 19:42] e0i commented on #3714
@officedocsbot assign @e0i

[2019-05-18 19:42] e0i commented on #3711
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-18 19:42] e0i commented on #3712
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-18 19:43] e0i commented on #3683
@officedocsbot assign @e0i

[2019-05-18 19:43] e0i commented on #3686
@officedocsbot assign @e0i

[2019-05-18 20:52] illfated commented on #3701
Please note that the **Github link** in the [first issue comment](https://github.com/MicrosoftDocs/windows-itpro-docs/issues/3701#issue-444511286) is wrong, it is based on the old name "Windows Defender ATP" which has been renamed to Microsoft Defender ATP:
- https://github.com/MicrosoftDocs/windows-itpro-docs/blob/master/windows/security/threat-protection/windows-defender-atp/information-protecti

[2019-05-18 20:55] illfated commented on #1915
Thank you for the feedback. Based on your experience,
 would you say that the documentation needs improvements
 for other users to avoid the same issue?
 If yes, what do you recommend changing?

[2019-05-18 21:24] illfated commented on #3663
Affected section on the Japanese page: https://docs.microsoft.com/ja-jp/windows/security/threat-protection/windows-defender-exploit-guard/enable-virtualization-based-protection-of-code-integrity#requiredsecurityproperties

Weird issue. Looks like the translation script has singled out the ordinal 2. to add 1 space before it, making it the only place where the **bold** text formatting breaks.

This

[2019-05-18 21:38] NeoBeum commented on #3699
@e0i

The ADK Documents would benefit from having a release information section, similar to the OS Release Info pages: https://docs.microsoft.com/en-au/windows/release-information/

This will give a better overview of issues for the ADK.
From memory, ADK 1703 had an update after the initial release, however it wasn't mentioned at the download pages at the time, and also hidden away in a dev post o

[2019-05-19 08:00] rwx-mrx opened #3739 "Step 1: Create an application in Azure Active Directory (Azure AD) - needs rewriting due to portal makeover"
This step does not reflect current UI in AAD portal anymore. I tried to figure out the right steps myself but subsequent steps fail and now i'm not sure if i've done anything wrong :)

https://docs.microsoft.com/nl-nl/windows/security/threat-protection/microsoft-defender-atp/configure-mssp-support#step-1-create-an-application-in-azure-active-directory-azure-ad

---
#### Documentdetails

⚠ *Dit ged

[2019-05-19 12:14] #3623 closed

[2019-05-19 12:27] Moustique82 opened #3740 "Microsoft Edge mode Kiosk"
Hello,
I tried to create a package with ICD for provisionning Win 10 to edge mode kiosk.
I test to configure the application with :
1) Classic Windows App
a. C:\Windows\SystemApps\Microsoft.MicrosoftEdge_8wekyb3d8bbwe\MicrosoftEdge.exe
b. %windir%\explorer microsoft-edge
c. Appsfolder\Microsoft.MicrosoftEdge_8wekyb3d8bbwe!MicrosoftEdge
2)Universal Windows App
AUMID : Microsoft.MicrosoftEdge_8wekyb

[2019-05-19 17:58] iadgovuser1 commented on #3696
@chiners68

One more guess.

Windows Components > Biometrics > Facial Features
* Configure enhanced anti-spoofing

[2019-05-19 18:20] chiners68 commented on #3696
That setting is enabled. I will get someone to check to see if that is the issue, I’m not onsite now for a while.

Sent from my iPhone

On 19 May 2019, at 18:58, D76C6399A0F334216B3A58BE07C3C3137D5E14542BC13CA38EB0800D9FFC1FE6 <notifications@github.com<mailto:notifications@github.com>> wrote:

@chiners68<https://github.com/chiners68>

One more guess.

Windows Components > Biometrics > Facial Featu

[2019-05-20 06:11] MaratMussabekov commented on #1451
Dear @mertongroup ,
**We have group policy deploying the DownloadMode setting, but the statement on the document implies there is a way of manually setting a particular download to be  1 (Lan)?** - yes, there is a way to set downloadmode using registry keys, more details in [this article](https://www.ghacks.net/2016/08/17/windows-10-update-delivery-optimization/)
Thank you

[2019-05-20 06:42] j0rt3g4 commented on #2015
Hi there I am unable to confirm this, I have always seen the logs overwritten with new data over the years. So based on my experience if you require assistance please contact a partner or support.

[2019-05-20 06:49] lindspea commented on #3509
@amirsc3 Wild cards can be used, but there are some limitations as mentioned here: https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-antivirus/configure-extension-file-exclusions-windows-defender-antivirus

[2019-05-20 06:50] j0rt3g4 commented on #2062
Added a comment #3743

[2019-05-20 06:56] amirsc3 commented on #3509
@lindspea > the doc you shared is regarding Windows Defender AV itself.
The doc I mentioned which needs correcting is regarding "Microsoft Defender Advanced Threat Protection" - a different product which was told does not support wildcard at this time.
The doc below needs to be fixed:
https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/manage-automation-folde

[2019-05-20 07:11] lindspea commented on #3509
@amirsc3 Would it help if I added an important note to the article with this link about wild cards? https://docs.microsoft.com/windows/security/threat-protection/windows-defender-antivirus/configure-extension-file-exclusions-windows-defender-antivirus#use-wildcards-in-the-file-name-and-folder-path-or-extension-exclusion-lists

[2019-05-20 07:13] MaratMussabekov commented on #1565
Dear @git-hub-user , @mypil
the issue was already resolved by https://github.com/MicrosoftDocs/windows-itpro-docs/commit/7b96a237eb0948611ea6399f9e6fc2e5da0d5f96#diff-5880b60d195f11eb084e4e2876425baa

Thank you

[2019-05-20 07:28] amirsc3 commented on #3509
@lindspea > sorry but that would not help. The article you mention already has the note below:
"Windows Defender Advanced Threat Protection  does not adhere to Windows Defender Antivirus exclusion settings. This means that any Windows Defender exclusions, no matter how you created them, are not applied by Windows Defender ATP."
From: https://docs.microsoft.com/en-us/windows/security/threat-protect

[2019-05-20 07:37] lindspea commented on #3509
@amirsc3 Okay, thank you, I understand now.  Perhaps I should remove that sentence about wild cards?

[2019-05-20 08:35] amirsc3 commented on #3509
Removing the above text might work, but perhaps a mention that it is not (yet?) supported is better to avoid customer confusion.

[2019-05-20 08:46] mypil commented on #3289
@officedocsbot close

[2019-05-20 08:46] #3289 closed

[2019-05-20 08:47] Reeced40 commented on #1486
@pedrr Yes, it needs to be registered in Azure AD, because when you set the MAM policy scope, you need to select AzureAD Users. It might also work externally, but the user needs to exist in AzureAD to apply the MAM policy. Please let me know if you need anymore help.

[2019-05-20 08:49] mypil commented on #2586
@agressiv - We would like to follow up. Can you please respond to the query of j0rt3g4?

Thank you.

[2019-05-20 08:51] mypil commented on #3365
@Artfoul - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by j0rt3g4. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-20 08:52] mypil commented on #887
@officedocsbot close

[2019-05-20 08:52] #887 closed

[2019-05-20 08:53] mypil commented on #1923
@jaimeo @zdvorak  - We would like to follow up. Do you have any updates on this?

[2019-05-20 08:54] mypil commented on #3281
@officedocsbot close

[2019-05-20 08:54] #3281 closed

[2019-05-20 09:12] mypil commented on #2414
@kexijano - From our understanding, the issue has been answered by Tdiwestyguy. If you feel it hasn't been resolved please re-open this issue.

Thank you for engaging with the community here for the docs.

[2019-05-20 09:12] mypil commented on #2414
@officedocsbot close

[2019-05-20 09:12] #2414 closed

[2019-05-20 09:14] mypil commented on #2652
@officedocsbot close

[2019-05-20 09:14] #2652 closed

[2019-05-20 09:15] mypil commented on #3279
@officedocsbot close

[2019-05-20 09:15] #3279 closed

[2019-05-20 09:15] mypil commented on #3356
@officedocsbot close

[2019-05-20 09:15] #3356 closed

[2019-05-20 09:16] mypil commented on #3387
@Justinha - We would like to follow up on this. Do you have any updates?

Thank you.

[2019-05-20 09:19] mypil commented on #3388
@jaimeo - We would like to follow up on this. Do you have any updates?

Thank you.

[2019-05-20 09:21] mypil commented on #3385
@officedocsbot close

[2019-05-20 09:21] #3385 closed

[2019-05-20 09:23] mypil commented on #3276
@officedocsbot close

[2019-05-20 09:23] #3276 closed

[2019-05-20 09:27] mypil commented on #3478
@officedocsbot close

[2019-05-20 09:27] #3478 closed

[2019-05-20 09:28] mypil commented on #909
@officedocsbot close

[2019-05-20 09:28] #909 closed

[2019-05-20 09:30] mypil commented on #929
@officedocsbot close

[2019-05-20 09:30] #929 closed

[2019-05-20 11:22] MaratMussabekov commented on #1741
Dear @RAJU2529 ,
yes, it will, according to [this article](https://blogs.windows.com/windowsexperience/2018/05/16/announcing-windows-10-insider-preview-build-17672/)
Dear @SusanBradley , it was fixed in commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/a79f88000ef735a643cae9c4c8d787aab346e410#diff-a9ee0a47fba86a9999f1da444bbff8e3
Dear @rswgnu ,
there is no such fix in the list of c

[2019-05-20 11:48] czrik opened #3746 "Cmdlets contain undefined variables"
Set-Mailbox $acctUpn -Type Regular
Set-CASMailbox $acctUpn -ActiveSyncMailboxPolicy $easPolicy
Set-Mailbox $acctUpn -Type Room
Set-Mailbox $credNewAccount.UserName -RoomMailboxPassword $credNewAccount.Password -EnableRoomMailboxAccount $true

These variables have been copied from the script: https://docs.microsoft.com/en-us/surface-hub/appendix-a-powershell-scripts-for-surface-hub#create-on-premis

[2019-05-20 12:45] RAJU2529 commented on #1741
Thanks sir, now I understood real reason after reading the article mentioned in your reply.
Thanks for clearing my doubt. Thanks a lot sir. You can close this issue

[2019-05-20 12:46] agressiv commented on #2586
1809 Templates are the same, and they are hard coded not to accept anything below 1.

Help Message:
"Specifies the minimum content file size in MB enabled to use Peer Caching.   Recommended values: 1 MB to 100000 MB."

Error Message when I put in 0:
"The number in this field was smaller than the minimum value of 1.  The number has been reset from 0 to the minimum value."

[2019-05-20 14:26] lightupdifire opened #3747 "WIP and OWA"
Hello,
I guess need add ".office.net" / "attachments.office.net" into Enterprise Cloud Resources.
If we deploy Exchange Conditional Access policy, then on Compliant device, if try save file from OWA, file will be saved from "attachments.office.net", then no WIP applied.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25

[2019-05-20 14:36] SirJewDanielBerg opened #3748 "Block inheritance"
Hi.

What this article doesn't clarify is whether setting "Block inheritance" on a OU will then block any other GPOs outside that OU, for example, a user logon script GPO applied to a user in a completely different parent OU that logs into a machine located in an OU that has block inheritance turned on. I would think that every other GPO would be blocked from that OU going up, and even any other G

[2019-05-20 14:39] mypil commented on #1151
@jordanmills - We would like to follow up. Can you please respond to the query of MaratMussabekov?

[2019-05-20 14:40] mypil commented on #2376
@Justinha - Any updates on this?

[2019-05-20 14:41] mypil commented on #3365
@Artfoul - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by <freelancer>. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-20 14:44] mypil commented on #3357
@lightupdifire - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by VLG17. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-20 14:52] lightupdifire commented on #2376
@mypil @Justinha
Please proceed with your own resources for pull request etc. I have too many projects and limited time, so I would better skip "pull request" from my side.
But I do confirm that by deploying Microsoft Monitoring Agent with steps shared above, I can see in Azure logs now for:

1. WIP Log analyze
2. WIP App Learning (possibly no need to deploy Device Health for this)

[2019-05-20 15:02] mypil commented on #2276
@officedocsbot assign @mypil

[2019-05-20 15:04] mypil commented on #2276
@NJArcher - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 15:06] mypil commented on #2301
@officedocsbot assign @mypil

[2019-05-20 15:06] mypil commented on #2301
@td47 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 15:07] mypil commented on #2306
@officedocsbot assign @mypil

[2019-05-20 15:08] mypil commented on #2306
@officedocsbot assign @mypil

[2019-05-20 15:08] mypil commented on #2306
@schenardie - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 15:09] mypil commented on #2318
@officedocsbot assign @mypil

[2019-05-20 15:10] mypil commented on #2318
@gprosch - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 15:15] mypil commented on #2335
@officedocsbot assign @mypil

[2019-05-20 15:15] mypil commented on #2335
@lexios - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 15:18] mypil commented on #2340
@officedocsbot assign @mypil

[2019-05-20 15:18] mypil commented on #2340
@working4free  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 15:19] mypil commented on #2346
@officedocsbot assign @mypil

[2019-05-20 15:21] mypil commented on #2346
@Tdiwestyguy - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 15:22] mypil commented on #2347
@officedocsbot assign @mypil

[2019-05-20 15:28] mypil commented on #2347
@reduakm - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 15:30] mypil commented on #2344
@officedocsbot assign @mypil

[2019-05-20 15:30] mypil commented on #2344
@AaronMargosis  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 15:31] mypil commented on #2343
@officedocsbot assign @mypil

[2019-05-20 15:32] mypil commented on #2343
@HughR - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 15:32] mypil commented on #2352
@officedocsbot assign @mypil

[2019-05-20 15:33] mypil commented on #2355
@officedocsbot assign @mypil

[2019-05-20 15:34] mypil commented on #2355
@TheRobinCM  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 15:36] mypil commented on #2359
@officedocsbot assign @mypil

[2019-05-20 15:36] mypil commented on #2359
@thedrum808  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 15:37] mypil commented on #2358
@officedocsbot assign @mypil

[2019-05-20 15:38] mypil commented on #2358
@RAJU2529  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 15:38] mypil commented on #2353
@officedocsbot assign @mypil

[2019-05-20 15:39] mypil commented on #2353
@am11 - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-05-20 15:40] mypil commented on #2369
@officedocsbot assign @mypil

[2019-05-20 15:40] mypil commented on #2369
@ricofox959  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 15:41] mypil commented on #2371
@officedocsbot assign @mypil

[2019-05-20 15:43] mypil commented on #2384
@officedocsbot assign @mypil

[2019-05-20 15:45] mypil commented on #2384
@TimTCM - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by egallagh. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-20 15:47] e0i commented on #3746
@officedocsbot assign @e0i

[2019-05-20 15:47] e0i commented on #3740
@officedocsbot assign @e0i

[2019-05-20 15:47] e0i commented on #3739
@officedocsbot assign @e0i

[2019-05-20 15:47] e0i commented on #3658
@officedocsbot assign @e0i

[2019-05-20 15:47] e0i commented on #3653
@officedocsbot assign @e0i

[2019-05-20 15:47] e0i commented on #3654
@officedocsbot assign @e0i

[2019-05-20 15:48] e0i commented on #3658
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-20 15:48] e0i commented on #3653
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-20 15:48] e0i commented on #3654
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-20 15:48] e0i commented on #3655
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-20 15:48] e0i commented on #3651
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-20 15:49] e0i commented on #3650
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-20 15:49] e0i commented on #3648
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-20 15:49] e0i commented on #3649
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-20 15:49] e0i commented on #3644
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-20 15:49] e0i commented on #3677
@officedocsbot assign @e0i

[2019-05-20 15:49] mypil commented on #2392
@officedocsbot assign @mypil

[2019-05-20 15:49] e0i commented on #3678
@officedocsbot assign @e0i
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-20 15:50] e0i commented on #3674
@officedocsbot assign @e0i

[2019-05-20 15:50] e0i commented on #3680
@officedocsbot assign @e0i

[2019-05-20 15:50] mypil commented on #2392
@Crazyphil  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 15:51] mypil commented on #2396
@officedocsbot assign @mypil

[2019-05-20 15:51] mypil commented on #2396
@boivinx7 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 15:53] mypil commented on #2402
@officedocsbot assign @mypil

[2019-05-20 15:54] mypil commented on #2402
@PGrad - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind please k

[2019-05-20 15:59] mypil commented on #2405
@officedocsbot assign @mypil

[2019-05-20 15:59] mypil commented on #2405
@pretzelic  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:00] mypil commented on #2403
@officedocsbot assign @mypil

[2019-05-20 16:01] mypil commented on #2403
@ArunPandian1411 - Thank you for submitting this feedback.

From our understanding, the issue you raised has been answered by mapalko. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-20 16:03] mypil commented on #2411
@officedocsbot assign @mypil

[2019-05-20 16:04] mypil commented on #2411
@rbsec  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:05] mypil commented on #2417
@officedocsbot assign @mypil

[2019-05-20 16:06] mypil commented on #2431
@officedocsbot assign @mypil

[2019-05-20 16:07] mypil commented on #2431
@Niglb  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:07] mypil commented on #2440
@officedocsbot assign @mypil

[2019-05-20 16:08] mypil commented on #2440
@mariuszo-at-microsoft-com  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:09] mypil commented on #2462
@officedocsbot assign @mypil

[2019-05-20 16:10] mypil commented on #2462
@chiners68  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:10] mypil commented on #2473
@officedocsbot assign @mypil

[2019-05-20 16:11] mypil commented on #2473
@SwiftOnSecurity - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:13] mypil commented on #2481
@officedocsbot assign @mypil

[2019-05-20 16:14] Niglb commented on #2431
Thank you very much! Self Deploying support would be ideal.

[2019-05-20 16:14] mypil commented on #2484
@officedocsbot assign @mypil

[2019-05-20 16:18] mypil commented on #2488
@officedocsbot assign @mypil

[2019-05-20 16:19] mypil commented on #2488
@Tdiwestyguy - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:25] RAJU2529 commented on #2358
Thanks madam. I keep waiting for reply from

[2019-05-20 16:29] mypil commented on #2490
@officedocsbot assign @mypil

[2019-05-20 16:29] mypil commented on #2490
@archer1977 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:30] mypil commented on #2493
@officedocsbot assign @mypil

[2019-05-20 16:31] mypil commented on #2493
@JBines  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:31] mypil commented on #2492
@officedocsbot assign @mypil

[2019-05-20 16:32] mypil commented on #2492
@jaimeo - Do you have any updates on this?

[2019-05-20 16:33] mypil commented on #2491
@officedocsbot assign @mypil

[2019-05-20 16:33] mypil commented on #2491
@GoldenHashtag  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:36] mypil commented on #2509
@officedocsbot assign @mypil

[2019-05-20 16:36] mypil commented on #2509
@emrekanlikilicer  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:37] mypil commented on #2511
@officedocsbot assign @mypil

[2019-05-20 16:37] mypil commented on #2511
@adrianwells  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:38] mypil commented on #2536
@officedocsbot assign @mypil

[2019-05-20 16:38] mypil commented on #2549
@officedocsbot assign @mypil

[2019-05-20 16:39] mypil commented on #2549
@Tdiwestyguy  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:41] mypil commented on #2557
@officedocsbot assign @mypil

[2019-05-20 16:41] mypil commented on #2557
@cheetah2k  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:41] mypil commented on #2564
@officedocsbot assign @mypil

[2019-05-20 16:42] mypil commented on #2564
@zemblack  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:43] mypil commented on #2570
@officedocsbot assign @mypil

[2019-05-20 16:44] mypil commented on #2570
@rickgode - Can you please respond to the query of jdeckerms?

[2019-05-20 16:45] mypil commented on #2568
@officedocsbot assign @mypil

[2019-05-20 16:46] mypil commented on #2579
@officedocsbot assign @mypil

[2019-05-20 16:47] mypil commented on #2589
@officedocsbot assign @mypil

[2019-05-20 16:47] mypil commented on #2589
@jimmylindo  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:48] mypil commented on #2589
@greg-lindsay - Can you please share your insights on this issue?

Thank you.

[2019-05-20 16:48] mypil commented on #2588
@officedocsbot assign @mypil

[2019-05-20 16:49] mypil commented on #2588
@NotYourName - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-20 16:55] j0rt3g4 commented on #2586
@agressiv the "unlimited" cache goes for attributes:
* DOAbsoluteMaxCacheSize
* DOMaxCacheAge
* DOMaxUploadBandwidth
* DOMonthlyUploadDataCap

There is no possible value 0 for any "min" value, they are 0 for "Max" properties.

[2019-05-20 17:02] #3701 closed

[2019-05-20 17:18] euphoric85 opened #3750 "Set-CimInstance fails"
Doing exactly as described here on a Win10 Pro 1809 machine results in error:

Set-CimInstance : A general error occurred that is not covered by a more specific error code.
At ******
+ Set-CimInstance -CimInstance $obj
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (MDM_AssignedAcc..../Vendor/MSFT"):CimInstance) [Set-CimInstance], CimException
    + FullyQualifiedE

[2019-05-20 17:33] Tdiwestyguy commented on #2549
Thanks!

________________________________
From: Joyce Y. <notifications@github.com>
Sent: Monday, May 20, 2019 9:39 AM
To: MicrosoftDocs/windows-itpro-docs
Cc: Alex; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Defender status (#2549)

@Tdiwestyguy<https://github.com/Tdiwestyguy> - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investi

[2019-05-20 17:57] joinimran commented on #1069
Hello @mikemartin1090  We are sorry that you have to face this issue. It should load all of your devices. Can you please confirm which browser you are using. I would recommend using Microsoft Edge or Internet Explorer and then try again.
If it still doesn't work, you can contact Microsoft support team to open up a support ticket to help you further.

@mypil Please guide the user how can he open a

[2019-05-20 18:29] joinimran commented on #1515
Hello @RSCobb8142 , Thank you for your query, please note you need to ensure that package is same bit by bit that means if you are creating a package for the 64bit app, it should be created on 64bit OS and should be deployed on 64bit OS. You can see other support shell extensions features at https://docs.microsoft.com/en-us/windows/application-management/app-v/appv-creating-and-managing-virtualize

[2019-05-20 19:02] agressiv commented on #2586
Correct, at the time (5 months ago), 0 was a choice for DoMinFileSizeToCache.  Guessing someone fixed it.

[2019-05-20 19:04] j0rt3g4 commented on #2586
Yeah, I review it carefully :)
Thank you for your inputs @agressiv
Can we proceed to close this one?

[2019-05-20 19:04] agressiv commented on #2586
Sure thing!

[2019-05-20 19:04] #2586 closed

[2019-05-20 19:05] j0rt3g4 commented on #2586
Thank you very much, if you require any other change please let us know we will be pleased to fix it (now it's a bigger team so we shouldn't take long) 👍

[2019-05-20 19:21] joinimran commented on #1260
Hello @deanwiles Thank you for your feedback. Can you please share more details related to the error codes are mentioning above so that we can update the document accordingly.

Thanks.

[2019-05-20 20:21] j0rt3g4 opened #3751 "Formating the whole Article Issue #2693 related"
This issue is related to the format of this file, removing HTML and adding back using GitHub markdown.

https://github.com/MicrosoftDocs/windows-itpro-docs/blob/master/windows/security/identity-protection/access-control/special-identities.md
Related to #2693

[2019-05-20 20:31] vsk2005 commented on #3398
We have around 1000 docks and looking for solution as well

[2019-05-20 20:34] DaniHalfin commented on #3398
@robmazz might be able to take a look at this.

[2019-05-20 21:10] robmazz commented on #3398
@CoveMiner  - John Kaiser, can you help with this? Or do you have a contact that can help?

[2019-05-20 21:16] e0i commented on #2419
@jeffstokes72

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-20 21:16] e0i commented on #2419
@officedocsbot close

[2019-05-20 21:16] #2419 closed

[2019-05-20 22:02] e0i commented on #3658
See: #3487

[2019-05-20 22:04] e0i commented on #3653
See: #3487

[2019-05-20 22:04] e0i commented on #3654
See: #3487

[2019-05-20 22:05] e0i commented on #3655
See: #3487

[2019-05-20 22:06] e0i commented on #3651
See: #3487

[2019-05-20 22:06] e0i commented on #3650
See: #3487

[2019-05-20 22:06] e0i commented on #3649
See: #3487

[2019-05-20 22:07] e0i commented on #3644
See: #3487

[2019-05-20 22:07] e0i commented on #3678
See: #3487

[2019-05-20 22:09] e0i commented on #3648
@dongmicro The referenced document is not translated. Would you be able to review this issue?

[2019-05-20 22:40] e0i commented on #3500
@Justinha Any updates from the engineering?

[2019-05-20 23:02] e0i commented on #3674
@mjcaparas Would you kindly advise how to proceed with this issue? We would like to follow-up with content updates if necessary. Thanks.

[2019-05-20 23:04] e0i commented on #3680
Hello @J1mbo,

We are closing this issue since your support question seems to be answered. Feel free to re-open this issue if you still feel that the content needs to be updated.

Thanks.

[2019-05-20 23:04] e0i commented on #3680
@officedocsbot close

[2019-05-20 23:04] #3680 closed

[2019-05-20 23:07] e0i commented on #3637
Hello, @jamestmace

It seems that your question has already been answered and thus we are marking this issue as resolved.

Feel free to re-open the issue if you feel it hasn't been resolved.

Thank you for providing feedback.

[2019-05-20 23:07] e0i commented on #3637
@officedocsbot close

[2019-05-20 23:07] #3637 closed

[2019-05-20 23:14] e0i commented on #3631
Hello, @AdamGrossTX

Thank you for following-up with your write-up to improve this document.

The issue has been noted and the document will be revised in the light of your feedback.

Note that public contributions are welcome and thus you may also create a PR to address any defects that you have found in a documentation.

[2019-05-20 23:17] e0i commented on #3642
@Justinha Would you kindly advise how to move forward with this issue? We would like to follow-up with PRs if necessary. Thanks.

[2019-05-20 23:19] e0i commented on #3641
Hello, @gsterk

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback.

[2019-05-20 23:20] e0i commented on #3630
Hello, @fightingsibuyas

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback.

[2019-05-20 23:28] illfated commented on #3631
As much as I would like to offer assistance in the form of opening a PR for the needed changes, I prefer that someone more familiar with the topic posts the actual changes. I am still available for technical support regarding the pull request, though.

[2019-05-20 23:38] e0i commented on #3622
@iadgovuser1

The issue has been noted along with the similar issue #3620 and the document will be revised in the light of your feedback.

Thank you.

[2019-05-20 23:39] e0i commented on #3620
@iadgovuser1

The issue, along with the similar issue #3622 has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-20 23:40] e0i commented on #3619
Hello, @iadgovuser1

The issue, along with the similar issue #3618 is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-05-20 23:41] e0i commented on #3618
Hello, @iadgovuser1

The issue, along with the similar issue #3619 is under investigation and you will be notified with any changes on the way. Thank you for providing feedback.

[2019-05-20 23:42] e0i commented on #3612
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-20 23:43] e0i commented on #3612
See: #3519

[2019-05-20 23:43] e0i commented on #3613
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-20 23:46] mjcaparas commented on #3674
Yes. Only available for purchase on E5.

[2019-05-20 23:46] #3674 closed

[2019-05-20 23:47] e0i commented on #3613
See: #3481

[2019-05-21 02:24] nenonix commented on #3631
@illfated I will happily try but may need some help from you (and @e0i may have assigned this already) 😄

[2019-05-21 02:26] j0rt3g4 commented on #3751
PR #3754

[2019-05-21 03:12] hyoshioka0128 commented on #3612
related: #3159

[2019-05-21 03:14] hyoshioka0128 commented on #3612
related issue: #3159

[2019-05-21 03:52] hyoshioka0128 opened #3755 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/deployment/update/wufb-basics

related issue: #3405

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 1cb39a84-dacb-180e-a2a8-858d75b4a410
* Version Independent ID: 2fde670c-e133-01e4-0c60-0c8aea32237c
* Content: [Windows Update for Business の基本的なグループ ポリシーを構成します。](https://docs.microsoft.com/ja-jp/windows/deployme

[2019-05-21 03:59] hyoshioka0128 opened #3756 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/deployment/windows-autopilot/troubleshooting

related issue: #3405
---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: adcfcc02-d931-66e3-6f4f-c14b936358e6
* Version Independent ID: 8972647b-ba21-b68f-b698-5fb6e9e9f1fd
* Content: [Windows Autopilot のトラブルシューティング](https://docs.microsoft.com/ja-jp/windows/deployment/wi

[2019-05-21 04:43] j0rt3g4 commented on #3493
Solving this Issue on PR #3757

[2019-05-21 04:51] j0rt3g4 commented on #3421
Solving Issue by PR #3758

[2019-05-21 08:41] am11 commented on #2353
Here is the MS document link: https://docs.microsoft.com/en-us/windows/release-information/ and the corresponding markdown file was moved (from `windows/hub/release-information.md` to) https://github.com/MicrosoftDocs/windows-itpro-docs/blob/30ab9bb02e/windows/release-information/index.md.
Thank you! :)

[2019-05-21 09:04] mypil commented on #1446
@stusims - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by Reeced40. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-21 09:05] mypil commented on #1457
@Shachar2like  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by Reeced40. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-21 09:07] mypil commented on #1446
@officedocsbot close

[2019-05-21 09:07] #1446 closed

[2019-05-21 09:07] mypil commented on #1457
@officedocsbot close

[2019-05-21 09:08] #1457 closed

[2019-05-21 10:52] mypil commented on #946
@officedocsbot close

[2019-05-21 10:52] #946 closed

[2019-05-21 11:25] e0i commented on #2062
@rido-min

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-21 11:25] e0i commented on #2062
@officedocsbot close

[2019-05-21 11:25] #2062 closed

[2019-05-21 11:26] e0i commented on #3509
@amirsc3

With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thanks for your feedback.

[2019-05-21 11:26] e0i commented on #3509
@officedocsbot close

[2019-05-21 11:26] #3509 closed

[2019-05-21 11:42] DrewNizzle opened #3761 "problems writing to temp folder"
this is my latest log tring to imsgall

=== Verbose logging started: 5/21/2019  7:08:47  Build type: SHIP UNICODE 5.00.10011.00  Calling process: C:\Users\mech4\Downloads\intel-sw-tools-installation-bundle-win-win (2)\system_studio_2019.3.063_windows_target_web_configurator_online\install.exe ===
MSI (c) (A4:A4) [07:08:47:059]: Resetting cached policy values
MSI (c) (A4:A4) [07:08:47:059]: Machine

[2019-05-21 11:45] mypil commented on #1275
@officedocsbot close

[2019-05-21 11:45] #1275 closed

[2019-05-21 11:45] mypil commented on #1293
@officedocsbot close

[2019-05-21 11:45] #1293 closed

[2019-05-21 11:47] mypil commented on #1094
@officedocsbot close

[2019-05-21 11:47] #1094 closed

[2019-05-21 11:48] mypil commented on #1830
@officedocsbot close

[2019-05-21 11:48] #1830 closed

[2019-05-21 11:48] mypil commented on #1285
@officedocsbot close

[2019-05-21 11:48] #1285 closed

[2019-05-21 11:48] DrewNizzle commented on #3696
HELPHELPHELP=== Verbose logging started: 5/21/2019  7:08:47  Build type: SHIP UNICODE 5.00.10011.00  Calling process: C:\Users\mech4\Downloads\intel-sw-tools-installation-bundle-win-win (2)\system_studio_2019.3.063_windows_target_web_configurator_online\install.exe ===
MSI (c) (A4:A4) [07:08:47:059]: Resetting cached policy values
MSI (c) (A4:A4) [07:08:47:059]: Machine policy value 'Debug' is 0
M

[2019-05-21 12:18] mypil commented on #1664
@MSFTJerryAb - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-21 12:19] mypil commented on #1664
@officedocsbot close

[2019-05-21 12:19] #1664 closed

[2019-05-21 12:22] joebartlett94 opened #3762 "Cloud Protection Intune Setting Contradiction"
To enable cloud-delivered protection in Intune, the article here states that we should:

However, the [Intune documentation](https://github.com/MicrosoftDocs/IntuneDocs/blob/master/intune/device-restrictions-windows-10.md) states:

Please can you confirm which is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-05-21 12:31] mypil commented on #3391
@tigeraaditya - From our understanding, the issue you raised has been answered by Malind19. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-21 12:32] mypil commented on #3391
@officedocsbot close

[2019-05-21 12:32] #3391 closed

[2019-05-21 13:55] e0i commented on #2015
@mjenove Would you confirm with @j0rt3g4 's comments regarding the issue? We would like to follow-up. Thanks.

[2019-05-21 14:15] mypil commented on #969
@gabelong - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-21 14:21] StanislavMarimorich opened #3763 "License type misprint"
Please note that not "Office 365 Enterprise E3 and Office 365 Enterprise E5 include a Windows 10 Enterprise license", but Microsoft 365 E3 and Microsoft 365 E5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3ecbc1-9c02-5681-7214-356be22ac7e8
* Version Independent ID: 73af82f6-079b-6c37-55c4-cb59e921457a
* Content: [

[2019-05-21 14:25] mypil commented on #1069
@mikemartin1090 - Thank you for submitting feedback.

To get a resolution to your issue, you can open a service ticket. Based on outcome let us know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

[2019-05-21 14:33] mypil commented on #1741
@officedocsbot close

[2019-05-21 14:33] #1741 closed

[2019-05-21 14:36] mypil commented on #1486
@pedrr - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by Reeced40. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-21 14:39] mypil commented on #1565
@git-hub-user - From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-21 14:47] mypil commented on #1451
@mertongroup - Thank you for submitting this feedback.

From our understanding, the issue you raised has been answered by MaratMussabekov. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-21 15:07] mypil commented on #2417
@tank2008 - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind pleas

[2019-05-21 15:10] mypil commented on #2352
@namlongtvmedia - We would like to get some details from you so we can investigate. Can you please share what specific issue you have with this article?

Thank you.

[2019-05-21 15:10] TrudyHa commented on #3641
Basic purchaser is available for both Microsoft Store for Business and Microsoft Store for Education.

[2019-05-21 15:11] mypil commented on #2318
@gprosch - I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind please keep us posted here on the resoluti

[2019-05-21 15:18] gsterk commented on #3641
Based on https://docs.microsoft.com/en-us/microsoft-store/microsoft-store-for-business-overview and the support ticket I just closed it’s not really. The role exists for Store for Business, but it does not enable the ability to purchase apps, at least not for us.

From: Trudy Hakala <notifications@github.com>
Sent: Tuesday, May 21, 2019 10:11 AM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-

[2019-05-21 15:29] #3295 closed

[2019-05-21 15:56] mypil commented on #915
@NigelbrownIBM - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-21 15:57] mypil commented on #1448
@stusims - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-21 16:49] illfated commented on #2352
To be honest, the issue post from @namlongtvmedia does not appear to be a reasonable attempt to report anything at all, it looks a lot more like self-promoting spam to "leave his mark" on these pages on Github. There is not even an attempt to write something in Vietnamese or other localized language. Any other project would close this issue ticket and label it [invalid input] or [spam report] or s

[2019-05-21 17:34] cronq commented on #2465
It's been 6 days and I don't see the update. Should I keep waiting?

![image](https://user-images.githubusercontent.com/36086463/58117724-350bf900-7bcd-11e9-971e-6bb30b0ddbf2.png)

[2019-05-21 17:46] illfated commented on #2465
Thank you for pointing that out. It is somewhat unusual to see the change not migrating to the public Docs page within 6 days after the merge, but in this case, we have to give it an extra day to see if the docs.microsoft.com page will update tomorrow or later today.

[2019-05-21 17:56] illfated commented on #3763
Good point. There has been some naming changes in the products during the last year.
- https://www.microsoft.com/en-us/microsoft-365/enterprise
- https://products.office.com/en-us/business/office-365-enterprise-e3-business-software#KEY_FEATURES

[2019-05-21 19:13] j0rt3g4 commented on #884
Adding a link to a spreadsheed where all the changes into policies by versión can be filtered and obtained.
PR #3766

![image](https://user-images.githubusercontent.com/5489996/58123927-91254c00-7bd2-11e9-91f6-df0d431d387f.png)

[2019-05-21 19:19] Typhoon87 commented on #3398
I don't know if it has to be totally silent but it would need to take into account non admin users if pushed by SCCM or similar system administration tool. If not totally silent needs user education tools first.

[2019-05-21 19:34] git-hub-user commented on #1565
Thanks. It has indeed been resolved, in the meantime. I submitted the issue quite some time ago.

[2019-05-21 19:35] #1565 closed

[2019-05-21 19:45] 0xSeanG opened #3767 "Default Value Table"
update: I'm dumb - didn't read the full page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2399c220-7936-1908-ef71-3debdc5283c5
* Version Independent ID: 2c169077-058b-ea2b-20be-aa6def6dbe07
* Content: [Domain member Require strong (Windows 2000 or later) session key (Windows 10)](https://docs.microsoft.com/en-us/win

[2019-05-21 19:46] #3767 closed

[2019-05-21 20:01] joinimran commented on #1125
@BillerDude The current version of USMT can transfer Edge favorites. For sticky notes, you can migrate StickyNotes.snt placed under %appdata%\Microsoft\Sticky Notes. For this purpose, you can use custom XML.

@mypil Please guide the user how he can request for this feature.

Thanks.

[2019-05-21 21:11] iadgovuser1 opened #3769 "Increase sub list indents for RBAC live response role lists"
It would help readability to increase the list levels below the Basic and Advanced live response lists so the indent is increased. Example below.

[code]

- **Live response capabilities** - Users can take basic or advanced live response commands.
    - Basic commands allow users to:
        - Start a live response session
        - Run read only live response commands on a remote machine
    - Adv

[2019-05-22 00:01] StereoOxide commented on #2938
Restore to a different location:
mpcmdrun -Restore -All -path %appdata%

See example below
-------
C:\Program Files\Windows Defender>mpcmdrun -Restore -All -path %appdata%
Restoring the following quarantined items to C:\Users\Admin\AppData\Roaming:

ThreatName = HackTool:Win32/Keygen
   file:\\FileSHARE\Laptop backup\Downloads\keygen.exe quarantined at ?5/?21/?2019 11:17:18 PM (UTC) was restored

[2019-05-22 02:32] j0rt3g4 commented on #874
@lizap Could you please check this PR :) Thank you in advance

[2019-05-22 07:16] m4t7h3w opened #3770 "[Feedback & Questions] BitLocker: How to enable Network Unlock (https://docs.microsoft.com/en-us/windows/security/information-protection/bitlocker/bitlocker-how-to-enable-network-unlock)"
Hello Bitlocker Experts,

I'm new to Bitlocker and I wanna have a deeper understanding on how the "Network Unlock" work.

Made reference to the:

    1) BitLocker: How to enable Network Unlock
    2) [MS-NKPU]: Network Key Protector Unlock Protocol

and draw a very simple diagram to try to get a more clear understanding:

![Bitlocker Network Unlock v0 1](https://user-images.githubusercontent.com/5

[2019-05-22 10:24] mypil commented on #1518
@csando @archmiguel - We would like to follow up. Can you please assist to respond to the query of Reeced40?

[2019-05-22 10:29] mypil commented on #3365
@officedocsbot close

[2019-05-22 10:29] #3365 closed

[2019-05-22 10:30] mypil commented on #3751
@j0rt3g4- Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-22 10:31] mypil commented on #2693
@jinop - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-22 10:31] mypil commented on #3751
@officedocsbot close

[2019-05-22 10:31] #3751 closed

[2019-05-22 10:44] juanand opened #3771 "Endpoints with SSL errors"
The endpoints https://www.msftconnecttest.com and https://www.msftncsi.com have issues with SSL certificates (ERR_CERT_COMMON_NAME_INVALID).
Are actual connections performed over SSL?
Don't certificates need to be fixed then?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4273a259-c3c7-dca7-6353-954068d740a7
*

[2019-05-22 10:46] juanand commented on #3271
Awesome, thanks!

[2019-05-22 11:40] mypil commented on #884
@cas77 - Thank you for submitting feedback.

From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-22 12:35] MCPWiz commented on #1193
As far as I can understand the text above, there are 3 times when a restart can still happen dispite No restart with logged on user:

1 No auto-restart with logged on users for scheduled automatic updates installations prevents automatic restart when a user is signed in. If a user schedules the restart in the update notification, the device will restart at the time the user specifies even if a use

[2019-05-22 12:36] MCPWiz commented on #2756
As far as I can understand the text above, there are 3 times when a restart can still happen dispite No restart with logged on user:

1 No auto-restart with logged on users for scheduled automatic updates installations prevents automatic restart when a user is signed in. If a user schedules the restart in the update notification, the device will restart at the time the user specifies even if a use

[2019-05-22 12:42] MaratMussabekov commented on #2488
Dear @Tdiwestyguy ,
GUID should be entered without quotes.
Are you sure you have entered the correct GUID? The one that is returned by (Get-AzureAccount).ActiveDirectories.ActiveDirectoryTenantID ?

Thank you

[2019-05-22 12:59] MaratMussabekov commented on #2473
Dear @SwiftOnSecurity ,
the requirements for the deployment are more likely to be described  in overview section
![image](https://user-images.githubusercontent.com/48041687/58176071-f3597c00-7cba-11e9-9f77-a8071dc5e46a.png)
more than in "configure" section, where the original article is located.

Also, as the requirements are already presented in "Overview" section of the same document, and we wil

[2019-05-22 13:52] inbay opened #3772 "WTF does 'Confirm you authored Group Policy settings using the latest ADMX/ADML files (from the Windows 10 Creators Editions)' mean?"
'Confirm you authored Group Policy settings using the latest ADMX/ADML files (from the Windows 10 Creators Editions)'
~ How exactly?
This page does not describe the use of ADMX/ADML files, nor does it specify what they are, nor how to use them.
I suspect this comes from a precursor page, which SHOULD have that step attached to it, NOT here.
~At the least please provide a description for this step,

[2019-05-22 13:59] inbay commented on #3772
For instance;
The second paragraph begins with 'Alternatively, you can create copy the .ADMX and .ADML files from a Windows 10, version 1703 to their respective language folder' which lead me to believe that this was a secondary approach, not a necessary one, and I used the primary one;
'Install the Remote Server Administration Tools for Windows 10 on a computer running Windows 10, version 1703.'

[2019-05-22 14:26] mypil commented on #3041
@schenardie - We will proceed to close this issue since we did not get any response from you. Please create a new issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-05-22 14:27] mypil commented on #3041
@officedocsbot close

[2019-05-22 14:29] mypil commented on #3357
@officedocsbot close

[2019-05-22 14:29] #3357 closed

[2019-05-22 14:32] mypil commented on #2570
@rickgode - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to open a new issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-05-22 14:32] mypil commented on #2570
@officedocsbot close

[2019-05-22 14:32] #2570 closed

[2019-05-22 14:33] mypil commented on #2403
@officedocsbot close

[2019-05-22 14:33] #2403 closed

[2019-05-22 14:33] mypil commented on #2402
@officedocsbot close

[2019-05-22 14:33] #2402 closed

[2019-05-22 14:35] mypil commented on #2384
@officedocsbot close

[2019-05-22 14:35] #2384 closed

[2019-05-22 14:46] inbay opened #3773 "'CertificateServices-Lifecycles-System'(s) is not pluralized in production."
'CertificateServices-Lifecycles-Systems' is not pluralized; 'CertificateServices-Lifecycles-System' in my delivery on MS Server 2012R2 as of 05/22/19 full updates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0e839ae-7beb-07fe-f0ea-560079f1f858
* Version Independent ID: af8e8903-fd5c-7210-768d-e0b5de67fe88
* Content

[2019-05-22 14:50] inbay opened #3774 "Certificate Template Console is pluralized"
'Certificate Template Console' should be 'Certificate Template(s) Console'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0e839ae-7beb-07fe-f0ea-560079f1f858
* Version Independent ID: af8e8903-fd5c-7210-768d-e0b5de67fe88
* Content: [Validate Public Key Infrastructure (Windows Hello for Business)](https://docs.microsof

[2019-05-22 14:52] inbay commented on #3773
Apologies, the typo is inside the quote;
'CertificateServices-Lifecycle(s)-System' is 'CertificateServicesClient-Lifecycle-System' in production (without the pluralization on Lifecycle).

[2019-05-22 15:01] inbay opened #3775 "The following line does not flow with the following lines, as the 'Add' button should be pressed, not the OK (which closes the the properties window)."
The line; 'From the Add Superseded Template dialog, select the Domain Controller Authentication certificate template and click OK.' should be prefixed with 'Add' not 'OK'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0e839ae-7beb-07fe-f0ea-560079f1f858
* Version Independent ID: af8e8903-fd5c-7210-768d-e0b5de67fe88
*

[2019-05-22 15:04] inbay commented on #3775
#7 just below this has the same error, as the descriptive text still describes completion/observation of the 'Domain Controller Authentication (Kerberos) Properties' window, and this window is not closed until the configuration is completed in step 9 which DESCRIBES clicking the OK button verbosely.

[2019-05-22 15:42] mypil commented on #1125
@BillerDude - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better.
They keep a close tab on user feedback and it would be awesome if you could add your voice in
User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**

You might fin

[2019-05-22 15:47] mypil commented on #2352
@illfated - Thanks for your inputs.

@namlongtvmedia - We will proceed to close this issue since it lacks details and we did not get any response from you.  Please feel free to open a new issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-05-22 15:47] mypil commented on #2352
@officedocsbot close

[2019-05-22 15:47] #2352 closed

[2019-05-22 16:19] BR77BE opened #3777 "Why no reference to the Your Phone app?"
"Due to this change, you will only be able to access messages from the device that received the message."
But the Your Phone app JUST acquired the ability to sync text messages over mobile data AND MMS support with 1903.
It's as if the left hand doesn't know what the right hand is doing!
https://twitter.com/bojorchess/status/1129537505584340992
https://twitter.com/bojorchess/status/113068061101685

[2019-05-22 16:57] illfated commented on #2938
Slightly modified, in terms of text formatting (using MarkDown to add code block fences):

[code]

[code]

[2019-05-22 18:25] dongmicro commented on #3728
Is this about the localization or about URL? I contacted the Showcase people, the URL I got is https://www.microsoft.com/en-us/itshowcase/implementing-windows-hello-for-business-at-microsoft, and I was told that they don't have localization for the pages for Showcase.

[2019-05-22 18:54] illfated commented on #3728
Thank you for the useful feedback, that cleared up my doubts about what seems to be only a wrong URL for the Showcase page. Would it be approvable if I create a PR for using the en-us page only ([**Implementing Windows Hello for Business at Microsoft**](https://www.microsoft.com/en-us/itshowcase/implementing-windows-hello-for-business-at-microsoft) / https://www.microsoft.com/en-us/itshowcase/impl

[2019-05-22 19:02] dongmicro commented on #3728
I am not sure since I am not the member for itshowcase. You can give it a try, I think.

[2019-05-22 19:17] Tdiwestyguy commented on #2488
Hi,

Thanks!

Customers should be clear how to obtain that.

Please place the value dependency (Format) and process to get that output for customers Tenant ID on the article, it would be very useful to many.

Thanks,
Alex

________________________________
From: MaratMussabekov <notifications@github.com>
Sent: Wednesday, May 22, 2019 5:42 AM
To: MicrosoftDocs/windows-itpro-docs
Cc: Alex; Mention
Su

[2019-05-22 19:18] Tdiwestyguy commented on #2488
It would be good to provide the article, https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure/get-azureaccount?view=azuresmps-4.0.0 and link it to the TenantID syntax command definition as Example, to obtain the ID, go here:
[https://docs.microsoft.com/en-us/media/logos/logo-ms-social.png]<https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure/get-azureacc

[2019-05-22 20:16] chjone opened #3779 "The 'Customize the Windows Security app for your organization' does not resolve"
There's a '.md' at the end of the link that should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e969038-e7ce-a781-584b-7e932c283552
* Version Independent ID: 09656f88-ab71-c431-bc72-9468c589e92e
* Content: [Configure Windows Defender Antivirus notifications](https://docs.microsoft.com/en-us/windows/secur

[2019-05-22 20:57] joinimran commented on #2344
Hello @AaronMargosis As suggested, i have checked and confirmed that you have instructed in the doc to assign SeDebugPrivilege to Administrators. Please see attached screenshot.

![image](https://user-images.githubusercontent.com/47118050/58208376-0b062400-7cfe-11e9-9054-c00cb1140fd5.png)

If there is any further suggestion, please feel free to let me know. I will be happy to add that up.

Thanks.

[2019-05-22 21:53] joinimran commented on #2347
Hello @reduakm , This policy works on all operating systems from 1709 onwards. Please ensure that you need to log off and login back or you need to run gpupdate /force command once you have applied the settings in group policy.

Thanks.

[2019-05-22 21:58] joinimran commented on #2346
Hello @Tdiwestyguy Thank you for you feedback on the document. I have checked and confirmed that all of the URI paths are mentioned in the doc.

If there is any additional feedback regarding doc improvement, please feel free to share.

Thanks.

[2019-05-22 23:57] jinop commented on #2693
Thanks for your prompt response

[2019-05-22 23:57] #2693 closed

[2019-05-23 01:43] schenardie commented on #3041
Custom CSP
Name: UpgradeEditionWithProductKey
Description: Not Configured
OMA-URI:./Device/Vendor/MSFT/WindowsLicensing/UpgradeEditionWithProductKey
Data Type: String
Value: `<SyncML xmlns="SYNCML:SYNCML1.2">
  <SyncBody>
    <Exec>
    <CmdID>1</CmdID>
    <Item>
      <Target>
		<LocURI>./Device/Vendor/MSFT/WindowsLicensing/UpgradeEditionWithProductKey</LocURI>
      </Target>
      <Meta>

[2019-05-23 02:17] Niglb opened #3784 "OEM App and group"
I am working on a project with Autopilot kiosks - Lenovo adds an OEM start group and app into the start. My kiosk account, despite it being assigned access and have a custom start layout xml, still shows the Lenovo group / app in the start menu. How can we remove this?

[2019-05-23 02:46] jordanmills commented on #1151
I use several versions of windows 10.  But I experienced this issue on staging servers, i believe running windows server 2019.

[2019-05-23 03:59] hyoshioka0128 opened #3786 "[LOC] "Windows こんにちは" needs to be replaced with "Windows Hello""
https://docs.microsoft.com/ja-jp/windows/security/identity-protection/hello-for-business/feature-multifactor-unlock

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 38f8c2ce-8edb-60d3-ebf9-bdb625bf66dc
* Version Independent ID: ee1ed0a8-b05c-c499-6504-40b5b298c53b
* Content: [多要素のロック解除](https://docs.microsoft.com/ja-jp/windows/security/identity-protect

[2019-05-23 04:13] MaratMussabekov commented on #2440
Dear @mariuszo-at-microsoft-com , @mypil ,
the issue was resolved by commit https://github.com/MicrosoftDocs/windows-itpro-docs/commit/74701833b55995a52407c9a1f04acc4ecee7e855#diff-7d69df47d0443ddc8c8acf0d06db012c (it removes not only this reference to OMS, but also all the others within the article)
I think it could be closed now
Thank you

[2019-05-23 05:08] #3728 closed

[2019-05-23 06:46] MaratMussabekov commented on #1151
Dear @jordanmills ,
tried on WS2019 today (used the last ADK version), and saw following:
![image](https://user-images.githubusercontent.com/48041687/58231356-3ade1780-7d50-11e9-9e43-77f9462afb6d.png)
For sure, the list of available options differs from the one in the article, however, app-v sequencer presents. Do you have option to check it on some other installation?
Thank you

[2019-05-23 07:28] MaratMussabekov commented on #2396
Dear @boivinx7 ,
blocking URL is out of the scope of Windows Firewall, it could block IP addresses
if you need to allow only certain websites, use kiosk built-in functionality - https://docs.microsoft.com/intune/kiosk-settings-windows
if you need to block several sites, use hosts file
if you need more functionality - you need to use third-party solutions

Thank you

[2019-05-23 08:57] fijojosep opened #3788 "Is this DevID will change if we format device"
Where this devID is stored? If device is formatted then this value will be changed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b771bd46-01fc-7a0f-d58a-93758645f697
* Version Independent ID: 248d6831-0c01-fd2c-34f8-56175e6d9f2b
* Content: [DevInfo CSP](https://docs.microsoft.com/en-us/windows/client-management/mdm/d

[2019-05-23 09:35] mypil commented on #2405
@pretzelic - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-23 09:38] mypil commented on #3384
@ohadschn - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to open a new issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-05-23 09:38] mypil commented on #3384
@officedocsbot close

[2019-05-23 09:38] #3384 closed

[2019-05-23 11:05] boivinx7 commented on #2396
So your original doc lied...
And it took 5 months to simply say thst you have nothing.....
thanks il do it with chrome
You should think about making it work thst same way it works on ios and android with intune and edge

[2019-05-23 11:05] #2396 closed

[2019-05-23 11:52] mypil commented on #2564
@zemblack - I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind please keep us posted here on the resolut

[2019-05-23 12:02] mypil commented on #2376
@joinimran - as discussed, please create the PR for this issue. Thank you.

[2019-05-23 12:07] mypil commented on #2589
@jimmylindo - I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind please keep us posted here on the resol

[2019-05-23 12:28] cronq commented on #2465
Well, it's been another couple days and no update is posted...

[2019-05-23 13:29] mypil commented on #2465
@cronq - The document content has been updated based on the changes added in the merged [PR](https://github.com/MicrosoftDocs/windows-itpro-docs/pull/3697/files) .

You can see the Note added under the Detailed Tracking section of the article.

[2019-05-23 13:51] mypil commented on #1260
@deanwiles - We would like to follow up. Can you please respond to the query of joinimran?

Thank you.

[2019-05-23 13:54] mypil commented on #1515
@RSCobb8142 - Thank you for submitting feedback.

From our understanding, the issue has been answered by joinimran. If you feel it hasn't been resolved please re-open this issue.

Thank you for engaging with the community here for the docs.

[2019-05-23 16:24] mypil commented on #2318
@officedocsbot close

[2019-05-23 16:25] #2318 closed

[2019-05-23 16:31] mypil commented on #915
@officedocsbot close

[2019-05-23 16:31] #915 closed

[2019-05-23 16:32] mypil commented on #969
@officedocsbot close

[2019-05-23 16:32] #969 closed

[2019-05-23 16:32] mypil commented on #1069
@officedocsbot close

[2019-05-23 16:32] #1069 closed

[2019-05-23 16:33] mypil commented on #1486
@officedocsbot close

[2019-05-23 16:33] #1486 closed

[2019-05-23 16:33] mypil commented on #1125
@officedocsbot close

[2019-05-23 16:33] #1125 closed

[2019-05-23 16:39] mypil commented on #2473
@SwiftOnSecurity - From our understanding, the issue you raised has been answered by MaratMussabekov. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-23 16:41] mypil commented on #3398
@robmazz @CoveMiner - Do you have any updates on this?

[2019-05-23 16:43] mypil commented on #3387
@Justinha -  Do you have any updates?

[2019-05-23 16:44] mypil commented on #3388
@jaimeo - Do you have any updates on this?

[2019-05-23 16:52] cronq commented on #2465
I see. The reason I wasn't seeing it was because my request was for a linked page. **Literally** every other advanced audit policy has a separate page describing what it is, the event volume, audit recommendations for 'general' and 'stronger', and a list of event IDs (ok, some don't have all the details, but that all have at least a page to themselves). My 2 cents is create the linked page so the

[2019-05-23 16:56] phgray opened #3790 "Step 4 missing instruction"
Step 4 should have at the beginning to open Group Policy Management console and navigate to the 'Change Control' folder beneath your domain

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04053f4b-5eb8-6146-6256-14205459a503
* Version Independent ID: 8ca210bf-e27f-a8ce-f296-585f28a50a39
* Content: [Step-by-Step Guide fo

[2019-05-23 18:31] PrinceMarkieD commented on #760
I am interested in installing apps for Assigned Access or Shell-Replace during OOBE, with all the lockdowns. the PPKG works if launched after landing on the desktop. It hangs at "Installing Provisioning packages" if launched automatically during OOBE.

[2019-05-23 18:52] SwooshyCueb commented on #3390
It looks like the link is dead again. ADV990001 is completely blank.

[2019-05-23 19:03] jaimeo commented on #3390
Thanks for letting us know--I've alerted the contact that helped us last time.

[2019-05-23 19:18] SquirrelAssassin opened #3792 "Creating an Enrollment Agent certificate for typical Service Acconts"
Under Creating an Enrollment Agent certificate for typical Service Acconts, you have "In the Certificate Template console, right-click the Exchange Enrollment Agent template in the details pane and click Duplicate Template."  I don't have a certificate template called "Exchange Enrollment Agent" I do have one called "Exchange Enrollment Agent (offline request)".  Should I have a template called "E