[2019-02-27 21:23] TechTrooper opened #2795 "Autopilot Bitlocker doesn't work on some models with supported hardware"
We are having issues enabling Bitlocker on some Lenovo ThinkPad devices with the method described in this article.

This seems to be purely Intune / Autopilot issue as the devices can be encrypted normally with SCCM task sequences.

Some models tested:
ThinkPad T480s (20L8S11A00) Windows Autopilot Bitlocker doesn't start at all.
ThinkPad T460s will encrypt automatically.

It's not a good experienc

[2019-02-27 21:27] illfated commented on #2633
Do you mean only the list of supported devices, like this?

## **Supported devices**

The following devices are supported for WOL:

- Surface Book 2
- Surface Pro with LTE Advanced (Model 1807)
- Surface Pro (Model 1796)
- Surface Laptop 2
- Surface Laptop
- Surface Book
- Surface Pro 6
- Surface Pro 4
- Surface 3
- Surface Pro 3
- Surface Go
- Surface Ethernet adapter
- Surface Dock
- Surface Doc

[2019-02-27 21:47] Scottmca commented on #2633
Yep.  Made some changes to the list to get the product names in sync with how we refer to them.  I have verified with the product team that is supported list.  Let’s go with this order

Surface Ethernet adapter
Surface USB-C to Ethernet and USB Adapter
Surface Dock
Surface Docking Station for Surface Pro 3
Surface 3
Surface Pro 3
Surface Pro 4
Surface Pro (5th Gen)
Surface Pro (5th Gen) with LTE A

[2019-02-27 22:17] illfated commented on #2739
@mypil : would you like a PR submitted for the change, or do you prefer to wait for feedback from the team regarding what should be changed?

[2019-02-27 22:21] Jcoetsee commented on #2739
@illfated I have already created the PR for the change

[2019-02-27 22:22] illfated commented on #2739
Thanks, good job. I need to go to bed soon anyway. ;-)

[2019-02-27 23:05] Justinha commented on #2141
I'm not fully sure why Credential Guard was not disabled in this case, but it is unnecessary to disable Application Guard in order to disable Credential Guard. They don't have any dependency on each other.

[2019-02-27 23:05] #2141 closed

[2019-02-27 23:10] Justinha commented on #2612
Thanks for the feedback. I'm checking with our engineering team.

[2019-02-27 23:33] hadeernd commented on #2612
I have listed the recommendations I am aware of.

On Wed, Feb 27, 2019 at 1:15 PM Trond B. Krokli <notifications@github.com>
wrote:

[2019-02-28 00:25] Justinha commented on #1230
@mypil sorry Joyce, no progress on this. I'm removing the blank placeholder topic until we can get this written. Applocker docs in general are lower priority than Windows Defender Application Control. That's where most new app control related content will go.

[2019-02-28 00:25] #1230 closed

[2019-02-28 06:04] joinimran commented on #2708
@fumantsu To retrieve a refresh token, invoke the tool with the token command:
**arcsight restutil yourtoken <-proxy >**
For example: **arcsight restutil boxtoken -proxy proxy.location.hp.com:8080**

For your concern regarding point c, when you will enter the command it will launch the web browser for you to login to the portal using your admin account.

[2019-02-28 07:46] SnakeMind opened #2804 "Unlisted: 0x80070490"
Windows 10 Enterprise 1809, build 17763.316
After updates to this build, the PIN stopped working and gives error 0x80070490 when trying to set it.
Machine is not connected to a domain, but after clicking "skip" another error appears stating the PIN will not work with sources in my organisation, even though it isn't connected to an organisation.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewer

[2019-02-28 08:41] DaniHalfin commented on #2804
Hi @SnakeMind and thanks for reaching out.
If your code isn't currently likely, it is most likely that the error is transient (which means we'll need more information to figure out what's going wrong).
Please file a problem through the [feedback hub app](feedback-hub:?contextid=3&tabid=2&newFeedback=true&feedbackType=2), which will allow you to send us the appropriate diagnostic logs (automaticall

[2019-02-28 08:41] #2804 closed

[2019-02-28 08:43] SnakeMind commented on #2804
Sure, thanks, I'll do that now :)

[2019-02-28 08:55] Jcoetsee commented on #2739
@greg-lindsay Please review the PR when you have a moment, it relates to the unrestricted mode for the powershell command to be per session instead of changing the entire policy to run that one powershell command to get the hashID information

[2019-02-28 12:48] monkeyskullfire commented on #2782
Hi illfated,
It sounds like you're referring to refreshing the data that machines put into Azure - which is not what I'm talking about.  I'm talking about refreshing the data that I update in Azure - when it says "User changes pending".  For example, when I go assign importance to applications I don't want to have to wait 24 hours before I can do more filtering and/or get updated results based on

[2019-02-28 14:28] Justinha commented on #2614
@KB4284848 Thanks for adding this, and I recently learned of a similar problem with another topic and a different language. I've shared this feedback with our localization team. Ideally, we would provide a solution where everyone can contribute using their preferred language.

[2019-02-28 15:59] mypil commented on #2205
@shaman1307 - спасибо за взаимодействие с сообществом здесь для документов.

Я знаю, что команды разработчиков всегда ищут отзывы пользователей о том, как сделать Windows 10 лучше. Они закрывают вкладку на отзывы пользователей, и было бы здорово, если бы вы могли добавить свой голос в User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-

[2019-02-28 16:00] mypil commented on #2205
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-28 16:03] cyblue9 commented on #1369
Thank you.

[2019-02-28 16:26] TonyBird1981 opened #2806 "Seems like a poorly planned idea"
We like many companies block access to Microsoft updates as we need to test aspects of them with programs that we're running and by removing the ability to use WSUS or SCCM to access these features it makes them inaccessible to us and I'm curious as to the reasoning behind this move?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-02-28 18:59] mypil commented on #2719
@Nick-Shortal - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**
You might fi

[2019-02-28 19:07] mypil commented on #2724
@AndreaBarr - please assign this issue to me. Thanks.

[2019-02-28 19:12] mypil commented on #2721
@AndreaBarr - please assign this issue to me. Thanks.

[2019-02-28 19:12] mypil commented on #2746
@AndreaBarr - please assign this issue to me. Thanks.

[2019-02-28 20:34] nenonix commented on #2723
@illfated Thank you. We really appreciate helpful feedback that improves clarity and assists us to make accurate changes.

[2019-02-28 20:41] #2362 closed

[2019-02-28 20:41] #2759 closed

[2019-02-28 21:06] #2205 closed

[2019-03-01 03:27] Sherd21 opened #2813 "404 - Page not found for "Windows Defender System Guard link""
"Windows Defender System Guard" link is broken. Not sure where it should lead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f9f33e1-4a3d-0754-f8f7-ba9c9ef06170
* Version Independent ID: 9151513b-d9fa-6e1e-3a8c-7a02775ddb83
* Content: [Hardware-based isolation (Windows 10)](https://docs.microsoft.com/en-us/windows/se

[2019-03-01 03:28] Sherd21 commented on #2813
Actually, i think i found a correct link: https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-system-guard/how-hardware-based-root-of-trust-helps-protect-windows

[2019-03-01 08:37] illfated commented on #2813
Good job finding it. I tried searching for "Windows Defender System Guard", but I almost exclusively got search results for "Windows Defender Application Guard" and "Windows Defender Credential Guard".

[2019-03-01 08:39] illfated commented on #2813
BTW, I am planning a Pull Request to add this link correction later, something like 10-12 hours from now.

[2019-03-01 10:26] JelleBro commented on #1037
This issue does not seem to occur when using a less complex password. I reduced password length from 24 to 10 chars and removed the special character. The account now no longer gets a 'change-at-next-logon'-flag.

[2019-03-01 16:43] mypil commented on #2746
@JonesMikael -  Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-01 16:43] mypil commented on #2721
@GeoSimos -  Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-01 16:43] mypil commented on #2724
@lightupdifire -  Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-01 16:48] mypil commented on #2719
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-01 16:53] #2719 closed

[2019-03-01 17:28] mypil commented on #2788
@AndreaBarr - please assign this issue to me. Thank you.

[2019-03-01 17:38] c016smith commented on #2772
Pinging on this question again, is someone at Microsoft actively developing this Team "shell" and is it something that will be made available to OEMs or individual IT departments to provide this kiosk-level experience for non-SurfaceHub devices?

[2019-03-01 17:58] mypil commented on #2788
@sasanmcp - Thank you for this inquiry.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-01 18:23] mypil commented on #2749
@bob-lockwood - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**
You might fi

[2019-03-01 18:23] mypil commented on #2749
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-01 18:35] #2749 closed

[2019-03-01 20:56] illfated commented on #2813
By the way, just to point out how the link does not work: the file named in the link
https://github.com/MicrosoftDocs/windows-itpro-docs/blob/master/windows/security/threat-protection/windows-defender-atp/how-hardware-based-containers-help-protect-windows.md
does not exist (so the 404 page is entirely correct).
The link indicates that the file `how-hardware-based-containers-help-protect-windows.md

[2019-03-01 21:24] illfated commented on #2813
Just a final comparison before pushing the PR changes to Github:
1. Path to the page containing the broken link:
[code]
2. Path to the non-existing page:
[code]
3. Path to the suggested (and most likely) existing page to be used as the link target:
[code]

[2019-03-01 21:53] Justinha commented on #2813
@illfated Thanks Trond. I want to improve the discoverability of this topic too, so it comes up better in search results. To that end, I've added keywords "system guard" to the topic description and I changed the file name to system-guard-how-hardware-based-root-of-trust-helps-protect-windows.md in the path you suggested:

../threat-protection/windows-defender-system-guard/system-guard-how-hardwar

[2019-03-01 21:54] Justinha commented on #2813
@illfated I meant to add, my pull request was internal, I can't link to it from here.

[2019-03-01 21:55] illfated commented on #2813
Oh, OK, I see. I was preparing to amend my PR with your new information.

[2019-03-01 21:56] Justinha commented on #2813
You can, and we will merge it. There should be no conflict now that you know what I changed on my side. And you will be added as a contributor, which we want.

[2019-03-01 22:07] illfated commented on #2813
Very well. I notice that the page has not yet changed its name here on Github, but I presume it will do so, soon enough.
So the new file name is going to be `system-guard-how-hardware-based-root-of-trust-helps-protect-windows.md` in the same folder.

[2019-03-01 22:15] Justinha commented on #2813
you got it. ETA is about 2 hours,

[2019-03-01 22:45] #2813 closed

[2019-03-02 12:20] sasanmcp commented on #2787
No I don’t think so. SSTP is native to Windows. It should have been mentioned here.

From: Trond B. Krokli <notifications@github.com>
Sent: Wednesday, February 27, 2019 9:00 AM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Sassan Hajrasooliha <Sasan_hj@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-itpro-docs] perhaps "SSTP"

[2019-03-02 12:36] illfated commented on #2787
Very well, I bow to your knowledge. If someone could suggest a fitting description to be inserted into the documentation, I would be happy to open a Pull Request to have that part of the documentation improved.

[2019-03-02 15:01] e0i commented on #2624
@AndreaBarr The issue can now be closed as PR has been merged. Thanks.

[2019-03-02 22:02] robcmc commented on #2251
Review the Passwordless strategy documentation. You get to the point where you disable passwords until then the password is the fall back. You should enable Multifactor Unlock as well.
https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/passwordless-strategy

[2019-03-03 05:35] amanjee opened #2820 "Microsoft PIN Reset Service Integration website Throws error"
Microsoft PIN Reset Service Integration website throws the error "You do not have permission to view this directory or page." after providing AAD Authorization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a146880-235b-a69c-3e9d-a3fa56a25389
* Version Independent ID: c2c226b4-17ef-8888-9e1b-e20cf3273c3a
* Content: [

[2019-03-03 18:50] ITYIPMan commented on #934
Just a follow-up for Spring 2019...  It appears that newer Windows 10 feature updates (1809 and soon 1903) are being pushed out from Microsoft.  With this in mind, it is unknown if these SMB settings will be reverted to their original settings.  Attached is a "Check SMB Settings" batch script that can be run on each pc or from a network server to **check** the status of the applied registry settin

[2019-03-04 01:03] KeiroKamioka0000 opened #2822 "Dead Link for JPN translation document"
The URL assigned in [Azure PowerShell コマンドレットを使用して、Virtual Machines および Cloud Services 向けの Microsoft マルウェア対策] is in Dead Link.
Please fix URL if possible.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ea8a5770-37e4-d118-4178-1bbc9f94550d
* Version Independent ID: 214c6852-b2cc-d0d5-c07a-9e662707aa23
* Content: [Windows Defender ウイルス対策の展開、管理、レポート](ht

[2019-03-04 09:27] LiBraga commented on #2791
Syncing between Security Center and MDM (Intune) started working correctly for the duplicated systems this weekend.  No changes performd ourside... presume something happened MS side in the background.

[2019-03-04 09:28] #2791 closed

[2019-03-04 12:36] biren1234 commented on #2545
my one user got locked when check with event there we found below Event
actually user is roaming user and with old Password he tying to login but with Map drive we uses new password
so how can we sync password

Log Name:      Security
Source:        Microsoft-Windows-Security-Auditing
Date:          25/01/2019 15:31:36
Event ID:      4692
Task Category: DPAPI Activity
Level:         Information
Ke

[2019-03-04 13:54] mypil commented on #2822
@OfficeGlobal

[2019-03-04 13:56] biren1234 commented on #2545
@Justinha see blow
Often, users start complaining about locking their domain accounts after changing their password. This suggests that the old (incorrect) password is saved in a certain program, script, or service that periodically tries to authenticate on a DC with a bad password. Consider the most common locations in which the user could save the old password:

[2019-03-04 14:08] #2723 closed

[2019-03-04 14:10] #2633 closed

[2019-03-04 14:50] mypil commented on #2788
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-04 14:51] mypil commented on #2788
@sasanmcp - From our understanding the issue you raised has been answered. If you feel it hasn't been answered please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-04 14:52] mypil commented on #2788
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-04 15:41] OfficeGlobal commented on #2822
@mypil It's the source issue, the link "Microsoft Antimalware for Virtual Machines and Cloud Services with Azure PowerShell cmdlets" is not available in source article https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-antivirus/deploy-manage-report-windows-defender-antivirus#fn3

[2019-03-04 15:53] mypil commented on #2776
@AndreaBarr - please assign this issue to me. thank you.

[2019-03-04 15:55] e0i commented on #2708
@mjcaparas Please review the fix is available for this issue via PR #2824 Thanks.

[2019-03-04 15:57] mypil commented on #2769
@AndreaBarr - please assign this issue to me. thank you.

[2019-03-04 16:29] mypil commented on #2769
@Aurakal - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-04 16:29] mypil commented on #2776
@yamauchikazu - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-04 17:12] mypil commented on #2822
@andreabichsel - the URL for the source article (https://github.com/MicrosoftDocs/windows-itpro-docs/blob/live/windows/security/threat-protection/windows-defender-antivirus/deploy-manage-report-windows-defender-antivirus.md) is getting a 404 error. Can you please advise on how this can be fixed?

cc: @kenwith @AndreaBarr

[2019-03-04 17:28] hashtag2949 commented on #2820
API blocked by Panda security

[2019-03-04 18:11] Justinha commented on #2545
@biren1234 certainly you may be correct. This issue requires troubleshooting to confirm the cause and best resolution. Contact Microsoft Support or Customer Forums at https://social.microsoft.com/Forums/en-US/home.

[2019-03-04 18:11] #2545 closed

[2019-03-04 18:33] #2624 closed

[2019-03-04 18:50] #2788 closed

[2019-03-04 18:59] mypil commented on #2748
@Sumitdhiman- thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind ple

[2019-03-04 19:03] mypil commented on #2795
@TechTrooper - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10

If you don't mind pleas

[2019-03-04 19:07] mypil commented on #2764
@Bormon007 - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind plea

[2019-03-04 19:09] mypil commented on #2744
@AndreaBarr - please assign this issue to me. Thank you.

[2019-03-04 19:12] mypil commented on #2785
@Martony78 - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind plea

[2019-03-04 19:14] mypil commented on #2760
@dzejzipl - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind pleas

[2019-03-04 19:20] mypil commented on #2790
@AndreaBarr - please assign this issue to me. Thank you,

[2019-03-04 19:24] mypil commented on #2784
@AndreaBarr - please assign this issue to me. Thank you.

[2019-03-04 19:32] Tdiwestyguy commented on #1940
I still need help, have not received a response to my questions.

@HeidiLohr can someone help me with this?

[2019-03-04 19:36] mypil commented on #2790
@skarai - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-04 19:37] mypil commented on #2744
@alexverboon  - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-04 20:49] iadgovuser1 opened #2826 "Incorrect value for "Set sourcetype""
The value for **Set sourcetype** is listed as **From list** in the documentation. The actual downloaded file has it set to **Manual** so the page should be updated to Manual as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce7d6f5f-8a56-d5de-8105-637f19b2de6f
* Version Independent ID: 27e10f91-9cff-e044-a474-ce5

[2019-03-04 21:21] brink668 opened #2827 "Developer Specifications"
Do you have a link to the developer specifications for RSAM for programming/developers? I am unable to find it unless this is all I need to send to our team.  Thx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef8b6967-0e45-bcdd-6d70-54759d9f7ec8
* Version Independent ID: 6651ebc1-04f0-421f-891b-6957ca37da7c
* Content:

[2019-03-04 22:01] Justinha commented on #2827
@brink668 Unfortunately we have no other docs for this setting. You can start with this topic but the complexity of this setting requires expert help. I strongly recommend speaking with Microsoft support for this setting.

[2019-03-05 07:48] Martony78 commented on #2785
Ticket created on 02/27, waiting for a resolution, I’ll post it here

[2019-03-05 12:36] MaratMussabekov commented on #2724
hello, @lightupdifire
as you can see in the other paragraph (the one above the paragraph you mentioned), there is a sentence "This setting tells WIP to encrypt files copied to **removable drives** with Azure Rights Management, so they can be shared amongst your employees..."
Doesn't it point to the same idea you are talking about?
Thank you

[2019-03-05 15:04] kumaarrahul commented on #2186
Subscription Activation-enabled user is any Azure AD/Office 365 user who has been assigned Windows 10 E3/E5 or Microsoft 365 E3/E5 license since these subscriptions provide the Windows 10 Enterprise upgrade benefits.

[2019-03-05 15:10] kumaarrahul commented on #2197
Hi,

Yes the same is available as Microsoft 365 Education offering. Please refer to links below.

https://www.microsoft.com/en-us/education/buy-license/microsoft365/default.aspx

https://blogs.technet.microsoft.com/educloud/2017/10/20/microsoft-365-education/

https://docs.microsoft.com/en-us/education/

https://www.microsoft.com/en-us/education/how-to-buy

[2019-03-05 15:19] mypil commented on #2785
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-05 15:42] MaratMussabekov commented on #2790
Dear @skarai ,
**this section deserves more explanation on how this works** - there is an article above the one you are talking about that provides more details - [Device Guard](https://docs.microsoft.com/windows/security/threat-protection/device-guard/introduction-to-device-guard-virtualization-based-security-and-windows-defender-application-control)
**what the interested user should pay attentio

[2019-03-05 16:13] lightupdifire commented on #2724
@MaratMussabekov
Yes, so this makes it point to that if file is copied to USB,
But then the next line says:
"Optionally, if you don’t want everyone in your organization to be able to share your enterprise data, you can set the RMSTemplateIDForEDP MDM setting to the TemplateID"

So "Optionally", is it still for "copy file to USB stick", or if we select solution in "Optionally" sentence, this will g

[2019-03-05 16:52] mypil commented on #2748
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-05 16:53] mypil commented on #2795
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-05 16:53] mypil commented on #2764
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-05 16:53] mypil commented on #2760
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-05 18:15] g4m3c4ck opened #2834 "Version 1.4.0"
Fails to run and throws exception below:

1:12:58 - SetupDiag: Main() failed with an unhandled exception:
Value cannot be null.
Parameter name: name
Exception System.ArgumentNullException: Value cannot be null.
Parameter name: name
Source: mscorlib
Stack:    at System.Environment.ExpandEnvironmentVariables(String name)
   at Microsoft.Internal.Deployment.SetupDiag.CSetupDiag.FindParseLatestSetupLo

[2019-03-05 18:44] e0i commented on #1843
@shortpatti Any updates on this issue, we would like to follow up. Thanks.

[2019-03-05 18:46] e0i commented on #1630
@jdeckerms Any updates on this isse? We would like to follow up. Thanks.

[2019-03-05 18:55] e0i commented on #1497
@melon2 From our understanding the issue has been resolved. Feel free to re-open the issue if you feel if it hasn't been resolved. Thanks.

@AndreaBarr The issue can be closed. Thanks.

[2019-03-05 18:56] mypil commented on #2736
@bertfw - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in
User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**

You might find ot

[2019-03-05 18:57] RUSDGUS commented on #1630
I think this is one of those Microsoft apps that gets demoed when they try to sell you a bill of goods, then after you buy it you realize it is not a finished product. With more states testing digitally it boggles my mind that this is not more of a priority. It would be nice to deploy this via group policy or via PowerShell but I don't think this will ever work unless Google steps up and builds a

[2019-03-05 19:01] mypil commented on #2726
@Absoblogginlutely - From our understanding the issue you raised has been answered. If you feel it hasn't been answered please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-05 19:01] mypil commented on #2726
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-05 19:02] e0i commented on #1291
@MariciaAlforque Can you suggest a way to move forward? We would like to follow up with this issue. Thanks.

[2019-03-05 19:06] Absoblogginlutely commented on #2726
I agree - thanks to @egallagh for pointing out that the pdf can be opened in Word - I had totally forgotten that.
@Illfated - the document is only 1 page long - it was the worksheet referenced in the deployment, not the entire Docs site for Hello.

@mypil - yes we can complete this issue and I have done so. Thanks for the input everyone.

[2019-03-05 19:06] #2726 closed

[2019-03-05 19:30] mypil commented on #2753
@AndreaBarr - please assign this issue to me. Thanks.

[2019-03-05 19:32] Geckojas commented on #2790
I can't turn this on for a Surface Pro 6, I'm not sure what is stopping it.

[2019-03-05 19:35] Geckojas opened #2836 "Unable to deploy from Intune"
Hi, I'm trying to install this via configuration profile from intune, and it says that although the application guard policy has applied, none of the other parts have. When I look on the machine (a Surface Pro 6), application guard does not install, despite several reboots. Even when I install it manually, none of the settings from Intune are taking. Please could we have a bit more information on

[2019-03-05 19:36] mypil commented on #2753
@MaggiePucciEvans - There is an Error: 404 -"This UserVoice instance is no longer available" when accessing the link for [User Experience Virtualization feedback site](http://uev.uservoice.com/forums/280428-microsoft-user-experience-virtualization).
Can you please advise on how this can be fixed?

Thank you.

[2019-03-05 19:50] e0i commented on #1722
Hello, @kelemvor33 Thank you for providing feedback.

Note that the feedback section below documentation is intended for product documentation issues only.

Thus, please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

You might

[2019-03-05 19:51] e0i commented on #1669
Hello, @Niglb  Thank you for providing feedback.

Note that the feedback section below documentation is intended for product documentation issues only.

Thus, please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

You might also

[2019-03-05 20:04] e0i commented on #1634
@mgrizenko Thank you for your feedback. From our understanding this issue has already been resolved (see: #1801)

@illfated Thank you a dozen for your contribution across the repository :)

@AndreaBarr This issue has had already been resolved and can be closed. Thanks.

[2019-03-05 20:05] e0i commented on #1674
@TrudyHa Any updates regarding this issue? We would like to follow-up. Thanks.

[2019-03-05 20:12] e0i commented on #2068
@Argon0 Thank you for providing valuable feedback.

The changes you have suggested have been merged into the documentation.

[Link to commit](https://github.com/MicrosoftDocs/windows-itpro-docs/commit/0fb93168e1242ac2a24142cf764d15796209b85d#diff-e1faf4d562cb1b3981113db7d3eecad6)

@AndreaBarr This issue can be closed as it has been resolved.

[2019-03-05 20:22] e0i commented on #1037
Hello, @SandiP538 thank you for providing feedback.

Note that the feedback section below documentation is intended for product documentation issues only.

Thus, please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

You might a

[2019-03-05 20:27] e0i commented on #1497
@AndreaBarr The issue can be closed. Thanks.

[2019-03-05 20:28] e0i commented on #1669
@Andrea - Recommended closure.

[2019-03-05 20:28] e0i commented on #1037
@AndreaBarr Recommended closure

[2019-03-05 21:18] iadgovuser1 opened #2837 "Add event log events for WDEG ASR"
3 of the 4 WDEG features have sections on their pages that outline which event log events you should capture when in audit and enforcement mode.

- EP: https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-exploit-guard/exploit-protection-exploit-guard#review-exploit-protection-events-in-windows-event-viewer
- NP: https://docs.microsoft.com/en-us/windows/security/thr

[2019-03-05 21:27] iadgovuser1 opened #2838 "Update WDAV event log events for newer releases of Windows 10"
It seems like this page hasn't been updated for newer releases of Windows 10. For example, WDEG ASR events appear to show up under WDAV as event ID 1121 and 1122 (ref: https://github.com/palantir/windows-event-forwarding/blob/master/wef-subscriptions/Exploit-Guard-ASR.xml ) but this page doesn't mention them. There are probably other events that should be added too. This is related to #2837 as wel

[2019-03-05 21:36] Jakub-Urban commented on #1753
Hi, I have similar issue - setting the local user account password sets the flag for "change password on next logon".

[2019-03-05 21:59] #2785 closed

[2019-03-05 22:01] #2748 closed

[2019-03-05 22:02] #2795 closed

[2019-03-05 22:02] #2764 closed

[2019-03-05 22:02] #2760 closed

[2019-03-05 22:05] #1497 closed

[2019-03-05 22:06] #1634 closed

[2019-03-05 22:06] #2068 closed

[2019-03-05 22:07] #1037 closed

[2019-03-05 22:25] mi1stormilst opened #2839 "Unable to exit kiosk mode"
I am able to ctrl + alt + del to sign in as an admin, but all I get is a cmd window with no desktop. I need to be able to uninstall some software and make some configuration changes to the kiosk. Also due to security restrictions on our domain the designer did not create the accounts and I had to perform this task manually.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-03-05 22:43] JonBrekhus commented on #2747
Stupid!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2019-03-05 22:43] JonBrekhus commented on #2747
How the do i delete my post then?

[2019-03-05 22:43] JonBrekhus commented on #2747
This sucks!

[2019-03-05 22:44] JonBrekhus opened #2840 "Documentation is wrong and does not work get this error"
Any information would be helpful in solving these errors.

Event ID 7211 - The Secondary Account Primary Refresh Token prerequisite check failed.

Followed by
Event ID 7206 - Windows Hello for Business failed to locate a certificate registration authority.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49d45db5-5172-45

[2019-03-05 23:51] Tdiwestyguy commented on #2536
Hi, Surface HUB OS is known as a teams device. This is an operating system, I test it. :)

Specifically users and admins cannot sign into the core OS. They sign into "Services" via Azure.

[2019-03-05 23:52] Tdiwestyguy commented on #2536
From, https://docs.microsoft.com/en-us/surface-hub/differences-between-surface-hub-and-windows-10-enterprise  This provides clarity on the OS being called Teams.

The Surface Hub operating system, Windows 10 Team, is based on Windows 10 Enterprise, providing rich support for enterprise management, security, and other features. However, there are important differences between them. While the Enterp

[2019-03-06 01:24] egallagh commented on #2747
Hi Jon.
No need to delete.
This issue was closed and will slide into a different bucket.
Best of luck with your troubleshooting!

[2019-03-06 02:06] jianggaocheng opened #2843 "How to auth device when using certificate authentication?"
I have some question about certificate authentication:
1. Does certificate authentication only support enroll with ppkg file?
2. How to auth device? using 2-way ssl?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e4195fd-1278-2250-3645-bfb9f9d1cf82
* Version Independent ID: a1cb9c2f-1bec-1c45-94cb-788efe7202f0
* Conte

[2019-03-06 04:07] MaratMussabekov commented on #2724
hello @lightupdifire,
what do you think about the pull request above? would it make the situation more clear from your opinion?
Thank you

[2019-03-06 06:22] BFreddyLee opened #2845 "OneDrive turned unavailable on Setup School PC provisioned devices"
One of my customer reported they provisioned school PCs with this tool and enabled One Drive initially. Device was managed by Intune. After getting windows updates they found OneDrive was disabled. They enabled it manually. However it got disabled again after another update. Is this a known issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-03-06 07:40] lightupdifire commented on #2724
@MaratMussabekov,
Looks great & approved! Thanks!

[2019-03-06 07:40] #2724 closed

[2019-03-06 07:41] GeoSimos commented on #2721
Thank you, I will be checking periodically for the content's update :)

[2019-03-06 08:41] DomiOder commented on #1843
@e0i as always Microsoft (@shortpatti)  is just ignoring this. No updates, no solution...
So disappointing and bad customer service!

[2019-03-06 10:08] eldos-dl opened #2847 "How to connect to a VPN with Conditional Access from Command line"
Using `rasdial` is raising Remote Access error 798 - A certificate could not be found that can be used with this Extensible Authentication Protocol. But I was able to connect to this VPN through Network Connections Pane

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b6faee7-5e59-c367-075d-5517d3af4f75
* Version Indepe

[2019-03-06 12:34] jigargandhi opened #2848 "What is "the URL encoding standard" for LocURI"
If you are referring to specific RFC, please give RFC number

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8de30f8b-0039-3cb5-0b38-8064d8fb2a3a
* Version Independent ID: f2968413-2951-5c42-dd5a-2a0b974338ca
* Content: [OMA DM protocol support](https://docs.microsoft.com/en-us/windows/client-management/mdm/oma-dm-proto

[2019-03-06 13:51] cronq commented on #2465
Any update on this?

[2019-03-06 15:32] peterboba opened #2849 "Missing letter 'a' in the text: "3: automatically download and notify for instllation of updates""
Solution: turn 'instllation' into 'installation'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0184809a-63ff-ecc2-ab67-9c9f4df900f8
* Version Independent ID: ac25ee6c-4c57-58b3-1313-e4a53f53c5a1
* Content: [Manage device restarts after updates (Windows 10)](https://docs.microsoft.com/en-us/windows/deployment/update/wa

[2019-03-06 15:35] peterboba commented on #2849
Fixed in 068dc9b0cbc82506a06e48dc11b2b68e21c46688

[2019-03-06 15:35] #2849 closed

[2019-03-06 17:30] jambirk opened #2850 "Licensing is out of date"
"Lync Online (Plan 2)" is out of date, there is no longer any such plan by that name.  https://docs.microsoft.com/en-us/SkypeForBusiness/skype-for-business-and-microsoft-teams-add-on-licensing/license-options-based-on-your-plan/skype-room-systems-v2 has a more up to date listing showing plan names and the features available for each plan in Skype for Business Online or Teams. I would generally ass

[2019-03-06 17:33] jambirk commented on #2850
"LyncOnlineConnector" is also out of date as a module name.  see  https://docs.microsoft.com/en-us/skypeforbusiness/set-up-your-computer-for-windows-powershell/download-and-install-the-skype-for-business-online-connector

[2019-03-06 17:33] guitarfreak58 opened #2851 "Site to Zone Assignment List"
Is it possible for the SiteToZoneAssignmentList policy to accept generic entries without https or http? I realize www is the one option, but what about internal websites (int.site.com)? I'm also curious if there's any way to include wildcards as well - *.site.com makes the policy fail but http(s)://*.site.com allows it to push... but is the wildcard is really working there and is it only for the s

[2019-03-06 17:35] guitarfreak58 commented on #2851
Sorry I guess the asterisks got removed, should have been [ASTERISK].site.com and http(s)://[ASTERISK].site.com in my examples.

[2019-03-06 18:32] nkwolf opened #2852 "The recommended Pin Reset flow is broken (Pin Reset Service/Needs Admin Approval)"
![pin_fail](https://user-images.githubusercontent.com/992432/53904469-05e8e100-3ffb-11e9-8f1c-47496614a6f5.png)

[2019-03-06 18:53] greg-lindsay commented on #2739
Hi, I agree this is a best practice so we should accept the change.  Just understand that the device here is getting prepped to have the OS overwritten anyway so it's not a huge risk to leave it in this state. Thanks though for the comment, I think that in general we overuse the unrestricted setting and leave a lot of computers like this.

[2019-03-06 18:56] greg-lindsay commented on #2739
The merge is complete. You should see the content updated in the next day.

[2019-03-06 18:56] #2739 closed

[2019-03-06 19:12] mypil commented on #2736
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-06 19:20] mypil commented on #2822
@andreabichsel - I would like to follow up on this issue. Do you happen to know the correct URL for the source article? Please advise so we can create a PR to get this fixed. Thank you.

[2019-03-06 19:21] mypil commented on #2753
@MaggiePucciEvans - I would like to follow up on this issue. Do you happen to know the correct URL for the source article? Please advise so we can create a PR to get this fixed. Thank you.

[2019-03-06 19:28] #2736 closed

[2019-03-06 19:43] andreabichsel commented on #2822
I believe this PDF has the info: http://download.microsoft.com/download/F/A/E/FAE6F5D7-051D-49EF-A46D-1FAFAEFBB3F3/Microsoft%20Antimalware%20For%20Azure%20Cloud%20Services%20and%20Virtual%20Machines%20v2%20-%2010282014.pdf

[2019-03-06 20:23] chjone commented on #2675
You can use PowerShell to create an ISO file of your provisioning package directory.

Grab the New-ISOFile function from the TechNet Gallery: https://gallery.technet.microsoft.com/scriptcenter/New-ISOFile-function-a8deeffd

Once you've loaded the function, run the following from an elevated PowerShell window: <path to provisioning package> | New-IsoFile -Path <full path file name.iso>

Example: C:

[2019-03-06 22:09] FC-EricWeller commented on #2675
Okay - so that sounds to me like the section needs to be updated to remove the "Network folder or Sharepoint site" part?

[2019-03-07 05:04] illfated commented on #2822
The **https** version of that link should be just as valid (just in case https is preferred to http):
https://download.microsoft.com/download/F/A/E/FAE6F5D7-051D-49EF-A46D-1FAFAEFBB3F3/Microsoft%20Antimalware%20For%20Azure%20Cloud%20Services%20and%20Virtual%20Machines%20v2%20-%2010282014.pdf

[2019-03-07 05:21] illfated commented on #2822
By the way, @mypil - is there a branch named `live` in addition to `master` available to Microsoft employees, but hidden from other users? I am referring to your question about the link
- https://github.com/MicrosoftDocs/windows-itpro-docs/blob/live/windows/security/threat-protection/windows-defender-antivirus/deploy-manage-report-windows-defender-antivirus.md

as opposed to the visible master bra

[2019-03-07 06:40] illfated commented on #2536
Very well. So maybe it should be listed as a sub-module to Windows 10 Enterprise?

[2019-03-07 07:58] e0i commented on #869
@MariciaAlforque Any further clarifications or updates regarding this issue? We would like to follow up. Thanks.

[2019-03-07 08:09] e0i commented on #2126
@ahcash It seems that your question has been answered by the community.

Note that the feedback section is intended for product documentation issues only.

Thus, should you have any further issues similar to this one, please consider opening a *product support* ticket here: [Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

Thank you for feedback.

[2019-03-07 08:09] e0i commented on #2126
@AndreaBarr _Recommended closure_

[2019-03-07 08:56] e0i commented on #2102
@jamiejdt Could you clarify whether MS SQL versions above 2014 supported? We would like to follow-up with this issue and patch the document with relevant changes if necessary. Thanks.

[2019-03-07 08:59] e0i commented on #2703
Hello, @the123blackjack  thank you for providing feedback.

Note that the feedback section below documentation is intended for product documentation issues only.

Thus, please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

You

[2019-03-07 08:59] e0i commented on #2703
@AndreaBarr _Recommended closure_

[2019-03-07 09:01] e0i commented on #2139
Hello, @atfernando thank you for providing feedback.

Note that the feedback section below documentation is intended for product documentation issues only.

Thus, please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

You might

[2019-03-07 09:01] e0i commented on #2139
@AndreaBarr _Recommended closure_

[2019-03-07 09:03] e0i commented on #2712
@comet52a Can you confirm that your question has been answered? We would like to follow up. Thanks.

[2019-03-07 14:21] mypil commented on #477
@optomux -  May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-03-07 14:23] mypil commented on #535
@TimMangan - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-03-07 14:27] mypil commented on #578
@koeneijken - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in
User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**
You might find

[2019-03-07 14:32] mypil commented on #599
@pcs504 - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind please

[2019-03-07 14:41] mypil commented on #690
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-07 14:44] mypil commented on #731
@jaimeo - We would like to follow up on this. Do you have any updates? Thanks.

[2019-03-07 15:03] TimMangan commented on #535
I think it was this one: https://github.com/MicrosoftDocs/windows-itpro-docs/blob/master/mdop/appv-v5/creating-and-managing-app-v-51-virtualized-applications.md

I see there is a 50 version of it also.

[2019-03-07 15:23] mypil commented on #2743
@AndreaBarr - please assign this issue to me. Thank you.

[2019-03-07 15:24] mypil commented on #2743
@alexverboon - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-07 15:34] mypil commented on #1869
@gutjahr - Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-07 15:34] mypil commented on #1869
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-07 15:45] mypil commented on #1517
@NeighborGeek - From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-07 15:45] mypil commented on #1517
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-07 15:49] mypil commented on #1886
@PhillyUrbs - From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

Thank you for reporting and making the docs better. Much appreciated.

[2019-03-07 15:49] mypil commented on #1886
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-07 16:05] mypil commented on #1825
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-07 16:39] mypil commented on #2836
@Geckojas - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind pleas

[2019-03-07 16:40] mypil commented on #2839
@mi1stormilst - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind p

[2019-03-07 16:41] #2126 closed

[2019-03-07 16:41] #2703 closed

[2019-03-07 16:41] #2139 closed

[2019-03-07 16:43] mypil commented on #2845
@BFreddyLee - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind ple

[2019-03-07 16:44] jaimeo commented on #731
I have freshly brought this to the attention of relevant senior PMs.

[2019-03-07 16:45] mypil commented on #2826
@AndreaBarr - please assign this issue to me. Thank you.

[2019-03-07 16:45] #690 closed

[2019-03-07 16:46] mypil commented on #2826
@iadgovuser1 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-07 16:47] #1869 closed

[2019-03-07 16:47] #1517 closed

[2019-03-07 16:48] #1886 closed

[2019-03-07 16:49] #1825 closed

[2019-03-07 16:53] mypil commented on #2822
@illfated - I'm not sure about that. Perhaps, @andreabichsel or @kenwith have some information.

[2019-03-07 17:00] mypil commented on #2852
@nkwolf - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind please

[2019-03-07 17:05] mypil commented on #2735
@AndreaBarr - please assign this issue to me. Thank you.

[2019-03-07 17:06] mypil commented on #2735
@JeffStong - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-07 17:12] mypil commented on #2765
@danchar4 - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in
User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**
You might find o

[2019-03-07 17:21] mypil commented on #2725
@AndreaBarr - please assign this issue to me. Thank you.

[2019-03-07 17:22] mypil commented on #2725
@lightupdifire - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-07 17:55] nenonix commented on #2826
@iadgovuser1  Thanks for the feedback. Just to be clear, the value for "set sourcetype" should be "Manual" and not "From list"?

[2019-03-07 18:21] iadgovuser1 commented on #2826
Correct. Here's a snippet from the file that gets downloaded from WDSC:

`"Response Type":"Json","Response Handler":"JSONArrayHandler","Polling Interval":60,"Set sourcetype":"Manual","Source type":"_json"}`

[2019-03-07 18:35] mypil commented on #2779
@AndreaBarr - please assign this issue to me. Thank you.

[2019-03-07 18:35] mypil commented on #2779
@hoskinsm - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-07 18:46] andreabichsel commented on #957
Hopefully the clarification I added helps: This rule is incompatible with management through System Center Configuration Manager because this rule blocks WMI commands the SCCM client uses to function correctly.

[2019-03-07 18:46] #957 closed

[2019-03-07 18:51] andreabichsel commented on #2822
My guess is that the link with "/live/" in it might be for localized content. I don't use that branch at all.

[2019-03-07 18:54] andreabichsel commented on #986
ASR rules are only supported on Enterprise E3 and E5.

[2019-03-07 18:54] #986 closed

[2019-03-07 18:54] #1053 closed

[2019-03-07 18:55] #1105 closed

[2019-03-07 18:56] andreabichsel commented on #1164
ASR rules are supported on E3 and E5. The documentation now reflects that. Thank you!

[2019-03-07 18:56] #1164 closed

[2019-03-07 18:56] illfated commented on #2822
Fair enough, not a big deal, except for the conundrum of why the Japanese page used the `/live/` branch link
in the opening issue comment, instead of the `/master/` branch link.

From my point of view, the focus needs to be on where the correct documentation is located.
Maybe in one of the other repositories, like Azure or PowerShell?

https://github.com/MicrosoftDocs/azure-docs-powershell/blob/ma

[2019-03-07 18:57] #1200 closed

[2019-03-07 19:54] andreabichsel commented on #1201
Fixed link.

[2019-03-07 19:54] #1201 closed

[2019-03-07 19:55] Justinha commented on #2465
@cronq sorry for delay and thanks for the suggestion. I'm searching for a SME who can help. Our auditing docs were contributed by a SME who can no longer contribute. Can you share what problem you are trying to solve? I'll pass along what I find.

[2019-03-07 20:00] #2826 closed

[2019-03-07 20:03] andreabichsel commented on #1284
This information is being moved to https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-exploit-guard/enable-controlled-folders-exploit-guard. It has been updated there. Thank you!

[2019-03-07 20:03] #1284 closed

[2019-03-07 20:05] #1358 closed

[2019-03-07 20:10] andreabichsel commented on #1641
ASR rules are supported on E3 and E5. While they might work on other editions, they are not supported. Thank you!

[2019-03-07 20:10] #1641 closed

[2019-03-07 20:43] andreabichsel commented on #2325
Thank you for the feedback! Added GUIDs to the descriptions.

[2019-03-07 20:43] #2325 closed

[2019-03-07 20:52] #2512 closed

[2019-03-07 20:54] andreabichsel commented on #2691
Intune is a device configuration and management app for admins: https://docs.microsoft.com/en-us/intune/what-is-intune.

[2019-03-07 20:54] #2691 closed

[2019-03-07 21:00] andreabichsel commented on #2621
Changed link to https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-antivirus/configure-extension-file-exclusions-windows-defender-antivirus#use-wildcards-in-the-file-name-and-folder-path-or-extension-exclusion-lists.

[2019-03-07 21:00] #2621 closed

[2019-03-07 21:06] #2407 closed

[2019-03-07 21:07] riebling opened #2861 "Impossible to sign on"
Certain default settings are making it impossible to set up my HoloLens. There seems to be a timeout preventing me from entering the WiFi password, after numerous attempts, it just deletes the fields I typed before completion.
Because of this, setup cannot proceed, namely the next step: granting authorization to Microsoft... because that requires network as well.
Is there no possible way to enable

[2019-03-07 21:27] riebling commented on #1438
it's quite easy to get the FirstExperience so wrong that you cannot use your HoloLens. If you give a wrong WiFi and select "automatically connect", it will automatically fail every time when it gets to the stage of verifying Windows 10 license. There really needs to be a way to get out of this mode, else you're just plain stuck, unable to do a darn thing with HoloLens.

[2019-03-08 00:20] iadgovuser1 opened #2865 "Many BitLocker pages are rendering page metadata"
Many of the BitLocker pages have the article metadata displayed as one text blob at the top of them. For example, the title, description, ms.assetid, ms.prod, etc. There are quite a few pages that have this problem under the BitLocker topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29116f85-264f-d031-be7b-e32a181

[2019-03-08 04:25] BR77BE opened #2867 "Deploy updates using Windows Update for Business"
says it was updated yesterday. How? (no change history)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ac5717f-e911-ac81-445d-6fbeb371b334
* Version Independent ID: 5e8e7627-d30e-d3ea-f673-c0093486cc99
* Content: [Change history for Update Windows 10 (Windows 10)](https://docs.microsoft.com/en-us/windows/deployment/up

[2019-03-08 08:27] marypcbuk commented on #2737
this new technology replaces both LCU and express packages; perhaps incorporate this helpful explanation from Mike Benson on techcommunity in the white paper?

the LCU (latest cumulative update) is still cumulative and contains both security and non-security updates.  There are no changes in the update payload within the cumulative update.  Only change was to how it is stored.
 
I'll try my best t

[2019-03-08 09:39] e-aldo commented on #2219
Hi all,
Update about this topic, hoping it helps.

Maybe the error code "0x80192ee2" can hide others block point but in our case, it was a network issue.

Thanks

[2019-03-08 09:42] #2219 closed

[2019-03-08 11:09] rbsec opened #2868 "Broken formatting on BitLocker Network Unlock page"
The formatting of the [BitLocker Network Unlock](https://docs.microsoft.com/en-gb/windows/security/information-protection/bitlocker/bitlocker-how-to-enable-network-unlock) page is broken at the top, and has a load of document metadata rather than the proper title:

![image](https://user-images.githubusercontent.com/3534212/54025428-65c5c000-4192-11e9-8b5d-093a0dded878.png)

The same issue appears

[2019-03-08 11:42] rbsec commented on #2868
Dupe of #2865, my bad.
/close

[2019-03-08 11:42] #2868 closed

[2019-03-08 12:24] mypil commented on #2851
@AndreaBarr - please assign this issue to me. Thank you.

[2019-03-08 12:30] mypil commented on #2851
@guitarfreak58 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-08 12:58] zlDev opened #2869 "Dead link"
Hi Team

it looks like the link is dead for: "Support Tip: Ingesting Office ADMX-backed policies using Microsoft Intune" https://techcommunity.microsoft.com/t5/Intune-Customer-Success/Support-Tip-Ingesting-Office-ADMX-Backed-policies-using/ba-p/354824

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14d97fd9-b060

[2019-03-08 13:12] Justinha commented on #2865
@iadgovuser1 @rbsec thanks for reporting this. I submitted a fix that will appear with next publishing cycle about six hours from now.

[2019-03-08 13:53] cronq commented on #2465
I guess mostly I'm trying to determine if it's appropriate to turn the auditing on in my environment. The level of detail on these pages is great including written description, recommendations for server vs workstation, and all the event IDs that are created when this auditing is turned on. Just looking for this missing part of the documentation to be added.

[2019-03-08 15:03] mypil commented on #2843
@AndreaBarr - please assign this issue to me. Thank you.

[2019-03-08 15:10] mypil commented on #2745
@AndreaBarr - please assign this issue to me. Thank you.

[2019-03-08 15:39] pertaminidigital opened #2870 "Microsoft Safety Scanner"
i,ll try this software

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5bb1ce3-9128-5385-4417-d22eb5f8cb77
* Version Independent ID: cb6ba731-a2c2-e9b9-7c3e-db781b1b5222
* Content: [Microsoft Safety Scanner Download](https://docs.microsoft.com/en-us/windows/security/threat-protection/intelligence/safety-scanner-downloa

[2019-03-08 16:21] jaimeo commented on #731
I've heard back from internal SMEs, who state that LTSC is not the preferred solution for VDI--it's made for things like medical and engineering devices where things need to be up all the time and rarely change. See https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/LTSC-What-is-it-and-when-should-it-be-used/ba-p/293181 and https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/Changes

[2019-03-08 16:48] kumaarrahul opened #2871 "Correction required"
Hi,

In free trial account it is mentioned as free EMS 90 day trial. EMS only provides Intune related features. Ideally, it should be Microsoft 365 E3/E5 trial.

Extract from the article above:

"Obtain a free EMS 90-day trial by visiting the following link. Provide your email address and answer a few simple questions."

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-03-08 16:50] jdeckerms commented on #1763
@JasonSCarter Are you using Edge for kiosk?

[2019-03-08 16:51] JasonSCarter commented on #1763
@jdeckerms no.  Kiosk Browser from Windows Store.  (It's built on Edge I believe).  I have a Premier case open on the issue.

[2019-03-08 16:54] mypil commented on #578
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-08 16:54] jeffstokes72 commented on #2419
Been two months, any thoughts?

[2019-03-08 17:10] levinec commented on #2870
Great, thanks for the feedback!

[2019-03-08 17:10] #2870 closed

[2019-03-08 17:14] jdeckerms commented on #1763
@ppejovic I don't have any new information for the documentation at this time, sorry. @JasonSCarter I'm sure Premier support will help you work out your issue.

[2019-03-08 17:21] #578 closed

[2019-03-08 17:50] e0i commented on #2395
@jamiejdt Could we get clarification on end of life for Microsoft BitLocker Administration and Monitoring product? We would like to follow up with this issue and commit necessary document changes if necessary. Thanks.

[2019-03-08 17:52] e0i commented on #2277
@AndreaBarr The issue can be closed as it has no description and the submitter hasn't provided details.  Thanks.

[2019-03-08 17:54] #2277 closed

[2019-03-08 17:58] e0i commented on #2134
@AndreaBarr The issue can be closed as mentioned links are not broken. Thanks.

[2019-03-08 17:59] chjone commented on #2675
Not necessarily. Those methods are still applicable. The problem comes in when you use the Settings app to add the package (like in the image under the "After setup, from a USB drive, network folder, or SharePoint site" step), that step will only allow you to install a provisioning package via removable media such as a USB drive or from a mounted ISO file/DVD, etc. It doesn't offer a way to naviga

[2019-03-08 17:59] #2134 closed

[2019-03-08 18:00] e0i commented on #2079
@AndreaBarr _Recommended closure._

[2019-03-08 18:01] #2079 closed

[2019-03-08 18:02] e0i commented on #1977
@AndreaBarr _Recommended closure._

[2019-03-08 18:11] #1977 closed

[2019-03-08 18:13] #1115 closed

[2019-03-08 18:14] FC-EricWeller commented on #2675
Alright - but the if we want the heading to say "...from a network share or SharePoint site" we need to have instructions here for applying from a network share or a SharePoint site.  The only instruction provided is using the Settings app, which doesn't do either of those things apparently.

[2019-03-08 18:40] JasonSCarter commented on #1763
@jdeckerms been a few weeks, case is still open.  Last I heard it was a networking issue and case was routed to networking team.  Haven't gotten an update since then.

[2019-03-08 18:58] mypil commented on #2790
@skarai - did the answer of @MaratMussabekov address your issue?

[2019-03-08 19:04] mypil commented on #2843
@jianggaocheng - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind

[2019-03-08 19:06] mypil commented on #2851
@guitarfreak58 - I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:
**https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind please keep us posted here on the re

[2019-03-08 19:12] chjone opened #2873 "typo"
'Folder' is misspelled in the following sentence: For a provisioning package stored on a network forlder or on a SharePoint site, navigate to the provisioning package and double-click it to begin installation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6c9cfe6-6edc-36cf-8917-ffd9a9636a31
* Version Independent ID:

[2019-03-08 19:15] jdeckerms commented on #2873
Thanks @chjone I'll get that fixed.

[2019-03-08 19:15] #2873 closed

[2019-03-08 19:16] chjone commented on #2675
[This site](https://docs.microsoft.com/en-us/windows/configuration/provisioning-packages/provisioning-apply-package#desktop-editions) has the following line added which would address it: _For a provisioning package stored on a network folder or on a SharePoint site, navigate to the provisioning package and double-click it to begin installation._  PowerShell method is available [here](https://docs.

[2019-03-08 20:21] nenonix commented on #2735
@JeffStong We appreciate your efforts to clarify the docs. Could you please assist me by suggesting how this content could be edited to incorporate your feedback? (I have noted all the other issues you have raised regarding this article and would like to work with you to improve the documentation.) What do you suggest is the best way to fix this?

[2019-03-08 22:01] illfated commented on #2869
The link https://techcommunity.microsoft.com/t5/Intune-Customer-Success/Support-Tip-Ingesting-Office-ADMX-Backed-policies-using/ba-p/354824 works OK for me, I don't see the problem.
Are you sure the problem is not only for your browser, computer or firewall?
Anyone else able to confirm if there is a problem to view that page?

[2019-03-08 22:58] egallagh commented on #2871
Hi kumaarrahul.
Microsoft does not currently offer a Microsoft 365 E3/E5 trial.
The free trial for EMS mentioned allows someone that already has Windows and Office 365 (or is running an Office 365 trial) to explore what EMS, as a part of Microsoft 365, offers.
I hope that helps.
Recommend closure.

[2019-03-09 00:54] seanyen-msft commented on #1866
@fdebout Hi, can you elaborate more the use case in details steps? That would help understand the pain points.

[2019-03-09 01:40] dyuvaraaj opened #2876 "Yuva Feedback"
Yuva Feedback - To validate my feedback related to documents has been captured by MS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7b0bed0-d344-9e32-f789-ddebb0309ecf
* Version Independent ID: 6c821f59-d507-df49-19c7-9a98dd162bf0
* Content: [Windows 10, version 1709 and newer diagnostic data for the Full level (Windo

[2019-03-09 02:00] DaniHalfin commented on #2876
Hi @dyuvaraaj, is there an issue you want to address ?

[2019-03-09 10:18] illfated commented on #2387
Even if I rarely see checksums for Microsoft downloads (if at all), I agree with your suggestion. Safety / security software should have checksums provided for their downloads for us to be able to verify that the downloaded software is authentic and not compromised in any way.

[2019-03-09 14:49] verdy-p opened #2877 "BitLocker does not work, can't handle my TPM module"
BitLocker does not work at all. It can't detect and handle my TPM 2.0 module and the "required" encryption is simply IMPOSSIBLE to do!

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: cde8beb2-6800-cf3c-c927-91ed2827eb6c
* Version Independent ID: 7264f37a-e40a-3cd8-d28c-5b2b772eff15
* Content: [BitLoc

[2019-03-09 15:06] dyuvaraaj commented on #2876
Hello Dani,

I don’t have issues with MS docs.

Thanks,
Yuvaraj

On Fri, Mar 8, 2019 at 6:07 PM Dani Halfin <notifications@github.com> wrote:

[2019-03-09 15:14] illfated commented on #1763
@JasonSCarter / @ppejovic / @markedtiger : Have you found any of the documentation in https://docs.microsoft.com/ (https://github.com/MicrosoftDocs/windows-itpro-docs) directly related to this and if it needs to be updated or corrected as part of this issue you and the others have got with the Kiosk Browser problems? (Just asking because this site is primarily about improving the documentation pag

[2019-03-09 16:20] illfated commented on #2876
Feedback can also be given by using the Feedback Hub in Windows (Windows-Key + F) or via UserVoice for Office applications: https://blogs.technet.microsoft.com/o365guy/2018/01/02/submit-product-feedback-or-feature-requests-to-microsofts-virtual-suggestion-boxes/ .

Other than that, it looks like this issue ticket can be closed.

[2019-03-09 19:36] jurajgh opened #2879 "link in Benefits section doesn't work"
the link in Benefits section in Store for Education doesn't work for our institution. clicking the link does nothing. tried various browsers/guest/incognito windows.. nothing helped.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87760a66-0877-5a64-0b63-52495c3717ca
* Version Independent ID: c6d2091f-5ae6-1546-f0ed-6e5

[2019-03-10 14:28] jamilsaif opened #2880 "DG_Readiness_Tool_v3.5.ps1 -Enable -AutoReboot"
This command is not running, followed all instructions, and it gives the error:

PS C:\WINDOWS\system32&gt; DG_Readiness_Tool_v3.5.ps1 -Enable -AutoReboot
DG_Readiness_Tool_v3.5.ps1 : The term 'DG_Readiness_Tool_v3.5.ps1' is not recognized as the name of a cmdlet,
function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that
the path is correct

[2019-03-10 19:44] bally-singh commented on #2820
Same error for me - Global Admin. Sign-ins log:

Status: Interrupted
Sign-in error code:  65001
Failure reason: Application X doesn't have permission to access application Y or the permission has been revoked. Or The user or administrator has not consented to use the application with ID X. Send an interactive authorization request for this user and resource. Or The user or administrator has not co

[2019-03-10 20:24] bally-singh opened #2881 "Optional opt-in to WHfB"
Hi,

We are deploying Windows 10 devices via Microsoft AutoPilot.

When setting the option via:
Dashboard > Microsoft Intune > Device enrollment - Windows enrollment > Windows Hello for Business - Properties > Settings

It appears that if WHfB is set to either "not configured" or "enabled", the user will be prompted to setup every time they sign-in. Is this correct?

Not configured will honour con

[2019-03-10 20:42] IulianOriflame opened #2882 "Update Problem"
Hi,when i try to update my windows manually i need to try many times until it's works,why? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4e47c9-b470-be67-acc3-6a763746b854
* Version Independent ID: fdfb6514-3340-54a2-7743-9ce46b91c5e3
* Content: [Windows 10 and Windows 10 Mobile (Windows 10)](https://docs.mic

[2019-03-10 21:02] illfated commented on #2882
A bit difficult to say for certain. There can be several factors affecting the way Windows Update works, not to mention the computer itself and its network connection.
From my point of view, this needs ordinary troubleshooting from support, unless there is something specific you are testing related to Azure or Mobile devices.
Without a full description of the scenario, it is too difficult to find

[2019-03-10 21:42] illfated commented on #2879
Sounds more like a firewall/routing/DNS issue than the link itself in the documentation.
BTW, do you mean the link https://educationstore.microsoft.com/ or something else?

[2019-03-10 22:25] jurajgh commented on #2879
it *used to* work some time before, that's why i am surprised. there are no relevant firewall/DNS rules that would affect browsing to that particular link.
and no, I mean this one: https://cl.ly/548d1de5995a
clicking on the link (as mentioned in the article I put feedback on) does nothing. it should allow me to opt-in for free Windows 10 Pro Education upgrade for my organization. but the section j

[2019-03-11 01:16] kumaarrahul commented on #2871
Hello egallagh,

I beg to differ on this one.

As per this article: https://docs.microsoft.com/en-us/office365/admin/try-or-buy-microsoft-365?view=o365-worldwide

"The following Microsoft 365 subscriptions are available in the admin center for you to try or buy now:

Microsoft 365 Business

Microsoft 365 Enterprise E3

(Coming soon!) Microsoft 365 Enterprise E5"

I agree there is no direct page/li

[2019-03-11 01:18] redog opened #2883 "This is not working on 1809"
Using 1809 17763.316 Business Edition

Neither method of using the CSP Custom policy or Device Restriction Start Menu file option work. The menu will revert to system default instead of applying any customizations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79fccecd-5484-0304-d82b-9425f1889a22
* Version Independent

[2019-03-11 07:10] joinimran commented on #2708
Is there any update on this PR?

Regards
*Muhammad Imran Habib*

On Mon, Mar 4, 2019 at 8:55 PM Onur <notifications@github.com> wrote:

[2019-03-11 12:41] jdeckerms commented on #2883
@redog "Business Edition" is Microsoft 365, this documentation is for Windows 10 Pro, Enterprise, and Education. Please contact Microsoft Support for assistance.

[2019-03-11 12:41] #2883 closed

[2019-03-11 14:02] pedrr opened #2885 "'Hybrid Azure AD Joined provisioning in a Key Trust deployment in a Federated' environment is missing"
'Hybrid Azure AD Joined provisioning in a Key Trust deployment in a Federated' environment is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f170bfe-711d-f875-8d5f-a49d3d5113b2
* Version Independent ID: a75c9aa8-b47b-51dd-9b84-c63bb5c6b782
* Content: [How Windows Hello for Business works - Provisioning](https:

[2019-03-11 14:31] hammonjr commented on #2493
Did you ever test this or find out an answer on this? I have the same question. Thanks!

[2019-03-11 15:14] mypil commented on #2745
@JonesMikael - Thank you for pointing this out.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-11 15:45] AndySanchezVM opened #2887 "How many Win10 Enterprise Activations per user?"
Hi, I would like to know how many devices per user can have the Win10 Enterprise upgrade? Is it like ProPlus, where you can have up to 5 devices per user?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d34316d0-bb07-27a0-046b-a2534115a176
* Version Independent ID: 7d358473-9967-2d62-10f2-ce761cc674b1
* Content

[2019-03-11 16:51] mypil commented on #2876
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-11 17:29] IulianOriflame commented on #2882
If it's making again like that for next update when i will have it,i will come back with some photos or video with the problem! Thank you for your help @illfated

[2019-03-11 17:29] mypil commented on #2790
@skarai - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-11 17:29] mypil commented on #2790
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-11 17:38] mypil commented on #2725
@lightupdifire - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in
User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**
You might f

[2019-03-11 17:39] mypil commented on #2836
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-11 17:40] mypil commented on #2839
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-11 17:40] mypil commented on #2845
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-11 17:40] mypil commented on #2852
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-11 17:40] mypil commented on #2765
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-11 17:41] mypil commented on #2851
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-11 17:41] mypil commented on #2843
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-11 17:46] nenonix commented on #2784
@phillym I have added a note. I hope that resolves the issue. Thank you for your helpful contribution.

[2019-03-11 17:48] mypil commented on #2869
@zlDev @illfated  - The link also works for me.

[2019-03-11 17:51] mypil commented on #2847
@eldos-dl - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind plea

[2019-03-11 17:53] #2876 closed

[2019-03-11 17:53] #2790 closed

[2019-03-11 17:53] #2836 closed

[2019-03-11 17:53] #2839 closed

[2019-03-11 17:53] #2845 closed

[2019-03-11 17:54] #2852 closed

[2019-03-11 17:54] #2765 closed

[2019-03-11 17:54] #2851 closed

[2019-03-11 17:54] mypil commented on #2877
@verdy-p - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind pleas

[2019-03-11 17:55] #2843 closed

[2019-03-11 17:57] mypil commented on #2758
@russbearl - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind ple

[2019-03-11 18:09] mypil commented on #2789
@danjpadgett - can you please check and respond to the answer/suggestion made by illfated? Thank you.

[2019-03-11 18:13] mjcaparas commented on #2708
Approved and merged.

[2019-03-11 18:13] #2708 closed

[2019-03-11 18:22] mypil commented on #2834
@g4m3c4ck - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind plea

[2019-03-11 18:28] mypil commented on #2867
@BR77BE - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind please

[2019-03-11 18:30] mypil commented on #2861
@riebling - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind plea

[2019-03-11 18:33] mypil commented on #2879
@jurajgh - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind pleas

[2019-03-11 18:34] mypil commented on #2882
@IulianOriflame - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't min

[2019-03-11 18:48] rathanga opened #2891 "Table format need to be fixed"
Operating system requirement table format is lost. Need to be fixed or realigned for readability

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f02c58f-4575-3991-8bee-ccea6c3b3d34
* Version Independent ID: 6b3f5a69-1425-8b36-9e7a-b965fc70a164
* Content: [Requirements to use AppLocker (Windows 10)](https://docs.microso

[2019-03-11 18:56] npherson opened #2892 "Dead link to MITRE analysis"
Under the MITRE section (https://docs.microsoft.com/en-us/windows/security/threat-protection/intelligence/top-scoring-industry-antivirus-tests?WT.mc_id=twitter#mitre-industry-leading-optics-and-detection-capabilities) there is a link to Analysis which is dead:
https://cloudblogs.microsoft.com/microsoftsecure/2018/12/03/insights-from-the-mitre-attack-based-evaluation-of-windows-defender-atp/

---
#

[2019-03-11 19:31] IulianOriflame commented on #2882
Yes, I will write at the support you gave it to me if the problem persists! Thank you @mypil

[2019-03-11 19:38] BR77BE commented on #2867
My question was about the documentation, not Windows 10 itself. The date was changed on the page mentioned in the title, but I can't see what else was changed because you seem to have given up maintaining the change history for the documentation.

[2019-03-11 19:49] mypil commented on #2847
 @officedocsbot assign @mypil

[2019-03-11 20:03] jngibert opened #2893 "Authenticated Users group must have Read access"
Probably need to update this article, because after the application of MS16-072 we need to have Read permissions (but not apply) for Authenticated Users on user policies - because the computer account is used to read the policies from the domain controller.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f75240ad-db64-8

[2019-03-11 20:30] e0i commented on #2305
@AndreaBarr _Recommended closure._

[2019-03-11 21:34] npherson opened #2896 "Using the 'footnote' for needed Windows version is difficult"
It is really difficult to use this documentation to determine what is/is not supported on a particular version of Windows 10, or to see what was added in the latest update. Using search in the document for a "5" to find things added in 1809 doesn't work so hot. The footnote is not a good way to handle this. Maybe just include the "Added in Windows 10, version XYZA" verbiage in the template for eac

[2019-03-11 21:36] npherson commented on #2896
Some of the other parts of MDM documentation already include the version info in each setting section, like here: https://docs.microsoft.com/en-us/windows/client-management/mdm/policy-csp-education

That works much better for searching for things like "1809" on the page. Or being able to look at a setting and know what version is required without scrolling to the bottom of a very long page.

[2019-03-11 22:31] levinec commented on #2892
Hi @npherson we had a temporary issue with links, it should be working now. Try again and let me know if it still doesn't work.

[2019-03-11 22:31] #2892 closed

[2019-03-11 23:00] Justinha commented on #2891
@rathanga Thanks for reporting. The publishing error is fixed now.

[2019-03-11 23:00] #2891 closed

[2019-03-11 23:11] fdebout commented on #1866
@seanyen Hi, We are using a multi app kiosk profile on new PoS devices.
In this use case the staff using the PoS device occasionally has to download product brochures/tech specs from supplier's website (mostly pdf documents).
They can email this from Outlook web access as an attachment, opening a dialog box and browsing to the download location.
They cannot however access the document directly fro

[2019-03-11 23:49] #2305 closed

[2019-03-11 23:50] Justinha commented on #2387
@barricade823 @illfated Thanks for the suggestion and sorry for the delayed response. I'm not sure why we don't provide this for downloads but we've shared this suggestion with our engineering partners.

[2019-03-11 23:50] #2387 closed

[2019-03-12 02:10] vcabbage opened #2899 "Surface Hub PC Replacement Mode Drivers"
Hi,

I'm unclear whether this is the correct venue for this question, but perhaps you can point me in the right direction.

I setup a PC and installed the currently available `SurfaceHubReplacementPCDrivers.1.1.003.msi` drivers. All the devices appeared to work correctly except the touch screen and pen. I went as far as to reinstalled Windows entirely in an attempt to rule out any driver conflicts

[2019-03-12 04:17] SelectFromT commented on #2569
I have a secondary hard drive so this worked for me.

copy %WINDIR%\System32\SecConfig.efi E:\EFI\Microsoft\Boot\SecConfig.efi /Y
bcdedit /create {0cb3b571-2f2e-4343-a879-d86a476d7215} /d "DebugTool" /application osloader
bcdedit /set {0cb3b571-2f2e-4343-a879-d86a476d7215} path "\EFI\Microsoft\Boot\SecConfig.efi"
bcdedit /set {bootmgr} bootsequence {0cb3b571-2f2e-4343-a879-d86a476d7215}
bcdedit /s

[2019-03-12 07:16] seanyen commented on #1866
@fdebout Would it be useful to pin a shortcut (`.lnk` file) to Downloads folder in [StartLayout](https://docs.microsoft.com/en-us/windows/configuration/lock-down-windows-10-to-specific-apps#startlayout) in multi-app kiosk profile?

[2019-03-12 09:38] GenericUser321 opened #2900 "0x801c004d Not Listed"
This error code is not listed.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b4f9133-887f-17a6-95fc-3712de8a3fa1
* Version Independent ID: 09d34ce8-1590-8202-3e70-e6299dadbb65
* Content: [Windows Hello errors during PIN creation (Windows 10)](https://docs.microsoft.com/en-au/windows/security/identity-protection/hello

[2019-03-12 12:57] jdeckerms commented on #2899
@vcabbage You should contact Microsoft Support for assistance troubleshooting the problem you're having.

[2019-03-12 12:57] #2899 closed

[2019-03-12 14:37] Justinha commented on #2893
@jngibert Thanks for the suggestion. Can you share any more about the change you suggest? Is the change specifically related Windows Firewall or more generally related to Group Policy?

[2019-03-12 15:33] barricade823 commented on #2387
Appreciate the support @illfated and thanks for the update @Justinha ! Later rather than never is good enough for me 😄

[2019-03-12 15:51] RescueWhale commented on #1866
Hi,

Have your team given any update on this? Or is it possible to add it via OMA URI reference in the interim?

Many thanks

[2019-03-12 16:35] iadgovuser1 opened #2902 "Step 5 under enterprise mode has more options"
Step 5 (Click Enabled and click OK.) under the enterprise mode section has a screenshot that is out of date and the text makes no mention of the currently available options. There are a number of options to choose from now in Group Policy:

0. Disable Windows Defender Application Guard
1. Enable Windows Defender Application Guard for Microsoft Edge ONLY
2. Enable Windows Defender Application Guard

[2019-03-12 16:40] mypil commented on #731
@adamgourd - From our understanding the issue you raised has been answered. If you feel it hasn't been answered please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-12 16:40] mypil commented on #731
@officedocsbot close

[2019-03-12 16:41] mypil commented on #731
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-12 16:46] mypil commented on #477
@optomux - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-12 16:46] mypil commented on #477
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-12 16:52] mypil commented on #1516
-checked and found that the link has been updated to point to the correct KB3080149.

[2019-03-12 16:56] mypil commented on #1516
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-12 17:16] #731 closed

[2019-03-12 17:17] #477 closed

[2019-03-12 17:17] #1516 closed

[2019-03-12 18:20] mypil commented on #2725
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-12 18:21] #2725 closed

[2019-03-12 18:24] mypil commented on #2882
@AndreaBarr - This issue can be closed. Thank you.

[2019-03-12 18:25] #2882 closed

[2019-03-12 18:28] mypil commented on #2879
@officedocsbot assign @mypil

[2019-03-12 18:28] mypil commented on #2879
@officedocsbot close

[2019-03-12 18:30] dstrome commented on #2879
@mypil - please try invoking the bot again

[2019-03-12 18:32] mypil commented on #2879
@officedocsbot assign @mypil

[2019-03-12 18:33] mypil commented on #2879
@officedocsbot close

[2019-03-12 18:33] #2879 closed

[2019-03-12 18:41] mypil commented on #2847
@officedocsbot assign @mypil

[2019-03-12 18:41] mypil commented on #2847
@officedocsbot close

[2019-03-12 18:41] #2847 closed

[2019-03-12 18:42] mypil commented on #2877
@officedocsbot assign @mypil

[2019-03-12 18:42] mypil commented on #2877
@officedocsbot close

[2019-03-12 18:42] #2877 closed

[2019-03-12 18:42] mypil commented on #2758
@officedocsbot assign @mypil

[2019-03-12 18:42] mypil commented on #2758
@officedocsbot close

[2019-03-12 18:42] #2758 closed

[2019-03-12 18:43] mypil commented on #2834
@officedocsbot assign @mypil

[2019-03-12 18:43] mypil commented on #2834
@officedocsbot close

[2019-03-12 18:43] #2834 closed

[2019-03-12 18:45] mypil commented on #2861
@officedocsbot assign @mypil

[2019-03-12 18:45] mypil commented on #2861
@officedocsbot close

[2019-03-12 18:45] #2861 closed

[2019-03-12 19:08] mypil commented on #2850
@officedocsbot assign @mypil

[2019-03-12 19:26] mypil commented on #2782
@officedocsbot assign @mypil

[2019-03-12 19:27] mypil commented on #2782
@monkeyskullfire - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mi

[2019-03-12 19:28] mypil commented on #2880
@officedocsbot assign @mypil

[2019-03-12 19:28] mypil commented on #2880
@jamilsaif - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind ple

[2019-03-12 19:30] illfated commented on #2782
Nice. I like seeing the use of **officedocsbot** to save a bit of admin time. 👍

[2019-03-12 21:01] illfated commented on #2887
You need an Enterprise licence for each machine. Costs approx. $300 per machine.
https://www.reddit.com/r/sysadmin/comments/8ujw8k/windows_10_enterprise_licensing_of_course/

[2019-03-12 21:13] AndySanchezVM commented on #2887
What about with the Enterprise license you get with Microsoft 365 E3/5? It is only 1 per machine/user?

[2019-03-12 21:28] illfated commented on #2887
According to the pages I found, it looks like it depends on if you choose license subscription per machine or per user.
Myself, I don't have any experience in this matter, so I would prefer if someone like @egallagh could chip in here.

[2019-03-12 22:18] egallagh commented on #2887
Hi there!
It is my understanding from previous conversations with Microsoft that each system where a user is the "primary user" of the PC, up to the 5 systems linked to that user via the Microsoft 365 subscription license, gets the enterprise upgrade. This does not mean that you can get 5 Microsoft 365 licenses and have 25 users on 25 machines. But is that user has a desktop PC, a laptop, a surfac

[2019-03-12 22:22] egallagh commented on #2871
You are 100 percent correct, sir! New since last time I looked!
Thanks for the info. I will enter a correction.

[2019-03-12 22:31] dbeinder opened #2906 "Logging, Debugging of CertPropSvc"
Does this service have the ability to generate logs or debug information? I have an issue (https://answers.microsoft.com/en-us/windows/forum/windows_10-performance/certificate-propagation-service-crashes-after/97379527-a081-40ef-a015-11a41a42c0b0?tm=1552400317694) where CertPropSvc crashes after seeing a particular smartcard.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-03-13 00:07] fdebout commented on #1866
@seanyen I did try to add a shortcut to the download folder in the start menu but nothing happens when you click on the link.
I believe Explorer is blocked by default in the Kiosk AssignedAccess config. I also tried adding explorer to the authorised applications list which did not help either.

[2019-03-13 01:46] illfated opened #2909 "Deployment/images: uppercase PNG file extension names on Github"
This is only about internal Github files, the public doc image files are already stored in lowercase .png
and do not need changing (images are named and linked correctly).

- https://github.com/MicrosoftDocs/windows-itpro-docs/blob/master/windows/deployment/deploy-m365.md

**Current behaviour:**
Images with UPPERCASE extension names like .PNG are not shown in the Github version of the page.
This i

[2019-03-13 07:13] verdy-p commented on #2877
closed without ANY solution from Microsoft and from manufacturer!

[2019-03-13 07:15] verdy-p commented on #2877
In summary this just confirms what I said: BitLocker does NOT work, it has never been seriously tested, there's no support at all. Why do you require it then ?

[2019-03-13 10:08] lindspea commented on #2743
@alexverboon Please have a look at this article - https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/security/tls-and-mtls. If you need further information please let me know soonest.

[2019-03-13 11:24] jonconwayuk opened #2912 "Windows Hypervisor Requirement"
One of the Hardware and software requirements listed in this article states that "Windows Hypervisor" is required. This is confusing as it seems that this is not required to be able to use Device/Credential Guard. Can this be clarified to avoid confusion? As it currently reads, it looks like you need to install the "Hyper-V" Windows Feature - in my testing this has not been required.

---
#### Doc

[2019-03-13 11:42] mypil commented on #2850
@officedocsbot assign @MaratMussabekov

[2019-03-13 11:43] mariuszo-at-microsoft-com opened #2913 "Add information about Delivery Optiomization "scope" beyon Windows 10 updates"
It would be good if that article mentioned that Delivery Optimization works not only with Windows 10 updates, but also with Office 365 ProPlus updates, Microsoft Store apps, etc. etc.  The perception from this article could be that it works only for Windows 10 updates, while that is not true.
It's kind of hard to find that information anywhere, except on some scattered blogs as well as here:
https

[2019-03-13 11:45] mypil commented on #2746
@JonesMikael - From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-13 11:45] mypil commented on #2746
@officedocsbot close

[2019-03-13 11:45] #2746 closed

[2019-03-13 11:51] mypil commented on #2743
@alexverboon - I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind please keep us posted here on the res

[2019-03-13 11:56] mypil commented on #2743
@officedocsbot close

[2019-03-13 11:56] #2743 closed

[2019-03-13 12:35] danieldhudson commented on #2622
Now 1.14.137.0

[2019-03-13 12:42] philip-g commented on #2613
@HartD92 I run solely on Azure AD, without any on-premises environment. I still have the Autopilot option greyed out.

[2019-03-13 13:28] Jcoetsee commented on #2779
@lizap Can you possibly elaborate on this and confirm what the pre-installed apps are under update 1809 as I can see that field is not populated with 1809 and don't want to assume that it's the same as previous update. based on a quick review it does appear to be somewhat different.

[2019-03-13 13:50] AndySanchezVM commented on #2887
Thank you both for your answers. This most definitely helps and would greatly appreciate if you could confirm that while you are there.

[2019-03-13 14:35] eldos-dl commented on #2847
@mypil I have contacted support at the link provided. They were of no help. I have raised a Support Request in Azure Portal. I will update here if get a solution.

[2019-03-13 15:57] andrewwillett opened #2914 "XSD Errors"
Please validate your XSD! There are many errors.

Missing a space between attributes: name="CryptographySuite"minOccurs="0"
q1:EapHostConfig cannot be resolved to an element declaration component

As tFable has raised, maxOccurs="unbounded" looks incorrect on xs:element name="CryptographySuite"

This will validate your revised XSD: https://www.liquid-technologies.com/online-xsd-validator

---
####

[2019-03-13 16:01] jaimeo commented on #2913
Good point! I have an overhaul of these topics in the pipeline right now (hopefully live later today in fact), including a table of all types of downloads that DO can manage. However, O365 ProPlus isn't currently in that table, so I'll double-check with the PM on that.

[2019-03-13 16:15] mypil commented on #2822
@officedocsbot assign @mypil

[2019-03-13 16:16] mypil commented on #408
@officedocsbot assign @mypil

[2019-03-13 16:19] mypil commented on #535
@officedocsbot assign @mypil

[2019-03-13 16:20] mypil commented on #599
@officedocsbot close

[2019-03-13 16:20] #599 closed

[2019-03-13 16:36] mypil commented on #409
@officedocsbot assign @mypil

[2019-03-13 17:19] mypil commented on #2869
@zlDev - It appears that the link is working. If you are having problems with accessing the link in your computer, I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.mi

[2019-03-13 17:21] zlDev commented on #2869
Hi. It does now. Thanks.
________________________________
From: Joyce Y. <notifications@github.com>
Sent: Wednesday, March 13, 2019 5:19:58 PM
To: MicrosoftDocs/windows-itpro-docs
Cc: Dmitrijs Izotovs; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Dead link (#2869)

@zlDev<https://github.com/zlDev> - It appears that the link is working. If you are having problems with accessing the link

[2019-03-13 17:26] nenonix commented on #2822
@illfated you are right, there is a private branch that no-one works in (most people don't even know it is there) -the  public and private repos are automatically synced but the repo admins have to merge from master to live through this extra layer because it was set up that way .(as I understand it)) About the links, I  will get back to you after doing some research. :smile:

[2019-03-13 17:30] mypil commented on #2869
@officedocsbot close

[2019-03-13 17:30] #2869 closed

[2019-03-13 17:36] dfconroy opened #2916 "Example Request SyncML for Disabling Control Panel"
I'm able to disable specific 'pages' in the Settings screen of a Windows 10 machine - however, I can't seem to disable either specific sections or the entire Control Panel (old style). So users can still access the control panel.

Is this even possible using SyncML vs Group Policy Editor?

Here is the Request SyncML I'm currently using.

[code]

[2019-03-13 17:42] mypil commented on #614
@officedocsbot assign @mypil

[2019-03-13 17:42] mypil commented on #1016
@officedocsbot assign @mypil

[2019-03-13 17:50] mypil commented on #688
@officedocsbot assign @mypil

[2019-03-13 17:50] mypil commented on #673
@officedocsbot assign @mypil

[2019-03-13 18:10] mypil commented on #817
@officedocsbot assign @mypil

[2019-03-13 18:27] mypil commented on #927
@officedocsbot assign @mypil

[2019-03-13 18:28] mypil commented on #927
@Joewen101 - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in
User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**
You might find

[2019-03-13 18:29] mypil commented on #927
@officedocsbot close

[2019-03-13 18:29] #927 closed

[2019-03-13 18:41] mypil commented on #2877
@verdy-p - Sorry to hear that you are having issues. Please understand that this site is a product documentation site and not a support nor a feature request site.

As such, the feedback section here is intended for feedback that improves the content in the Microsoft documentation and not intended for user feedback on product features nor troubleshooting.

For user feedback on product feature requ

[2019-03-13 18:51] mypil commented on #952
@officedocsbot assign @mypil

[2019-03-13 18:52] mypil commented on #952
@cking22001 - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in
User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**
You might find

[2019-03-13 18:52] mypil commented on #952
@officedocsbot close

[2019-03-13 18:52] #952 closed

[2019-03-13 18:53] mypil commented on #2782
@officedocsbot close

[2019-03-13 18:53] #2782 closed

[2019-03-13 18:55] mypil commented on #2880
@officedocsbot close

[2019-03-13 18:55] #2880 closed

[2019-03-13 18:57] mypil commented on #2867
@BR77BE - Sorry to hear that you are having issues. Please understand that this site is a product documentation site and not a support nor a feature request site.

As such, the feedback section here is intended for feedback that improves the content in the Microsoft documentation and not intended for user feedback on product features nor troubleshooting.

For user feedback on product feature reque

[2019-03-13 18:57] mypil commented on #2867
@officedocsbot close

[2019-03-13 18:57] #2867 closed

[2019-03-13 19:01] #817 closed

[2019-03-13 19:09] asilverman commented on #409
Is anyone ever going to provide the resolution for this? It’s been open for over a year and I still would like to know how to do it

[2019-03-13 19:44] BR77BE commented on #2867
"the feedback section here is intended for feedback that improves the content in the Microsoft documentation"
That's what I'm trying to do!
Please read the title and the text.

[2019-03-13 20:35] illfated commented on #2867
Sorry to see that your feedback may have been misunderstood.
I am thinking maybe we need to see image snippets from the page where you say the information is wrong or misleading.
Do you think you could add a comment with image cut-outs and links to where the incorrect information is located?

[2019-03-13 20:36] Banthaf0dder opened #2918 "KioskModeApp with a Win32 desktop application"
This documentation only outlines how to use KioskModeApp with a UWP app using AppUserModelId. Can DesktopAppPath be used instead to use a Win32 desktop application with KioskModeApp?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78038d67-04a1-f4ae-6a69-98e157688a31
* Version Independent ID: c86b4460-e8be-8537-a6c8-3cb

[2019-03-13 21:11] illfated commented on #2880
@jamilsaif : Did you check to see if the cmdlet `DG_Readiness_Tool_v3.5.ps1` works if it is written with a dot + backslash in front (if it is located in the same directory as the command is inserted)?

[code]

If the cmdlet is stored somewhere else, you probably need to include the full path to where the cmdlet is stored, like
[code]

[2019-03-13 21:21] jngibert commented on #2893
@Justinha

The change is specific to the suggestion in the document to remove all permissions for "Authenticated Users" from a group policy.

If the group policy contains User settings, and the "Authenticated Users" group is removed, and new security filtering is added using a security group that only contains user accounts - this will break application of the group policy now that computer accoun

[2019-03-13 21:26] PrinceMarkieD commented on #1233
Does not work in 1803

[2019-03-13 22:17] jdeckerms commented on #2918
@Banthaf0dder As you can see in the XML reference (https://docs.microsoft.com/en-us/windows/configuration/kiosk-xml#xsd-for-assignedaccess-configuration-xml), kioskmodeapp only accepts AUMID.

You can see the options for running a single-app kiosk using a Win32 application here: https://docs.microsoft.com/en-us/windows/configuration/kiosk-methods#methods-for-a-single-app-kiosk-running-a-windows-de

[2019-03-13 22:17] #2918 closed

[2019-03-13 22:22] pyoungberg opened #2919 "Export Alerts"
I need to pull a list of incidents and/or alerts from Windows Defender ATP for our auditor, but I don't see a way of doing this from the GUI. Is it possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c75a124-58bc-96ae-d4c0-b8819831aa75
* Version Independent ID: aad84586-8394-973c-16b0-2507907a0f23
* Content: [Vie

[2019-03-14 00:55] kumaarrahul commented on #2887
The license info is mentioned in this article.

https://docs.microsoft.com/en-us/windows/deployment/windows-10-enterprise-subscription-activation

It is 5 devices/user. Also, to add, Microsoft 365 E3/E5 or Windows 10 E3/E5 only provides with Windows 10 Enterprise upgrade benefits & not activation rights.

Extract from the article:

"Licenses
The following policies apply to acquisition and renewal

[2019-03-14 02:46] egallagh commented on #2887
@kumaarrahul Good find. This is exactly what I remember from my earlier talks with Microsoft staff. Thanks!

[2019-03-14 02:57] mapalko commented on #2820
@amanjee and @bally-singh we are currently investigating this issue. Can you confirm that you are still blocked from enabling the service?

[2019-03-14 06:11] lyemeeki opened #2921 "Confusion is this Windows Autopilot can run on Win 10 IoT Core?"

[2019-03-14 06:20] Dmarch28 commented on #2902
[An angel with a rainbow over his head and the colors of it was liken with power.docx](https://github.com/MicrosoftDocs/windows-itpro-docs/files/2964933/An.angel.with.a.rainbow.over.his.head.and.the.colors.of.it.was.liken.with.power.docx)
[Angel one Os latter part.pdf](https://github.com/MicrosoftDocs/windows-itpro-docs/files/2964936/Angel.one.Os.latter.part.pdf)
#GodwithUs24-e_use@hotmail.com

[2019-03-14 06:24] Dmarch28 opened #2922 "Godwithuse@"
kc.rr.com\ .net/ Godwithuse24
Godwithuse@/ OdentheGray.listing.org
.edu

[2019-03-14 10:49] dbeinder commented on #2906
I was able to resolve my issue by attaching WinDbg to svchost, the CertPropSvc then writes fairly extensive logs to the debugger. In my case, the cause was a faulty minidriver.

[2019-03-14 10:49] #2906 closed

[2019-03-14 11:43] mypil commented on #409
@asilverman - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-14 11:54] xeongold commented on #2711
Hi mister Hero defender of MS, can you whisper me which "production" version should we/i use to avoid "3rd" party guests using my 1Gb fiber and CPU's(more expensive then its weight in gold ??)  will s2016 be ok for that? before i buy i want to know, cuz i need MS but i don't trust with that cash.
p.s. since i got 2 3ms ping with google there are a lot of "rats" running in and out the pipe, that th

[2019-03-14 12:10] alexverboon commented on #2743
Why would I need to open a ticket to clarify unclear documentation?  If you expect people to help improve documentation don’t ask them to open a ticket please

[2019-03-14 12:16] sccmfan opened #2924 "provisioning package during first-run"
could you clarify which configurations are applicable during the first-run setup with the current image version for Surface HUB? can we for example apply Azure AD configuration?

thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bf0f0af-2ca4-8705-fa1a-4fa34fff0d99
* Version Independent ID: 75dd473c-f64d-bb3c-67

[2019-03-14 13:20] mypil commented on #2434
@officedocsbot assign @mypil

[2019-03-14 13:38] rzecchino opened #2925 "IF you CHANGE a PRODUCT then YOU need to CHANGE the Documentation and step by steps"
PLEASE CREATE A STEP BY STEP THAT REFLECTS THE NEW METHOD.  We CANNOT wing it infront of customers and clients!  POST A STEP BY STEP ON SETTING UP UPGRADE READINESS FROM STEP 1 set up azure portal all the way through to ANALYZING the results!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24771310-237e-adf7-be33-59355a

[2019-03-14 13:41] mypil commented on #1471
@officedocsbot assign @mypil

[2019-03-14 13:42] rzecchino opened #2926 "POST USEFUL DOCUMENTATION PLEASE!"
Where is the STEP by STEP to show how to get to this information with the new Azure Portal.   Your current documentation is useless even to those of us that have done Windows Analytics Upgrade Readiness for dozens of customers. POST A REAL STEP BY STEP SOME WHERE!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cba076c

[2019-03-14 13:43] mypil commented on #1471
@AnthonyBe - From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-14 13:45] mypil commented on #1471
@officedocsbot close

[2019-03-14 13:45] #1471 closed

[2019-03-14 13:48] mypil commented on #1686
@officedocsbot close

[2019-03-14 13:48] #1686 closed

[2019-03-14 13:59] jdenicola67 commented on #2900
Same here, just got that.

[2019-03-14 14:38] rewt1 opened #2928 "Event Collector stops processing"
Dear All,
The documentation regarding advanced WEF usage is critically missing...
The only document that provides deeper information is:

https://community.softwaregrp.com/dcvta86296/attachments/dcvta86296/arcsight-discussions/24729/1/Protect2015-WindowsEventForwarding.pdf  (the author is now working @Microsoft :)

Multiple questions here and not treated in the documentation:
- What is the recomme

[2019-03-14 16:14] mypil commented on #2744
@alexverboon - From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-14 16:14] mypil commented on #2744
@officedocsbot close

[2019-03-14 16:14] #2744 closed

[2019-03-14 16:56] mypil commented on #2434
@dgcuff @illfated @tusharchandwani - From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-14 16:56] mypil commented on #2434
@officedocsbot close

[2019-03-14 16:56] #2434 closed

[2019-03-14 17:22] mypil commented on #1938
@officedocsbot assign @mypil

[2019-03-14 17:24] mypil commented on #1938
@rbreneman - Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-14 17:24] mypil commented on #1938
@officedocsbot close

[2019-03-14 17:24] #1938 closed

[2019-03-14 17:26] #2784 closed

[2019-03-14 17:45] mypil commented on #2602
@officedocsbot assign @mypil

[2019-03-14 17:45] #2922 closed

[2019-03-14 17:45] mypil commented on #2601
@officedocsbot assign @mypil

[2019-03-14 17:48] mypil commented on #2601
@JeffStong - thank you for submitting feedback.

In reference to the other issues #2602 & #2735 you opened for this article, Could you please help us by suggesting how this content could be edited to incorporate your feedback?  What do you suggest is the best way to fix this?

[2019-03-14 17:48] mypil commented on #2602
@JeffStong - thank you for submitting feedback.

In reference to the other issues #2601 & #2735 you opened for this article, Could you please help us by suggesting how this content could be edited to incorporate your feedback?  What do you suggest is the best way to fix this?

[2019-03-14 18:39] dfconroy commented on #1416
In case you still needed this.
`
<Exec>
	<CmdID>ece3d0c2-04fb-43de-bd3f-ed0a0fb6befd|InstallApp</CmdID>
	<Item>
		<Target>
			<LocURI>./Device/Vendor/MSFT/EnterpriseDesktopAppManagement/MSI/RunitApp/DownloadInstall</LocURI>
		</Target>
		<Meta>
			<Format xmlns="syncml:metinf">xml</Format>
		</Meta>
		<Data>
			<MsiInstallJob id="{D36D6AF5-9AFB-4CAE-80DE-2A48F5587954}">
				<Product Version="1.0.0

[2019-03-14 20:47] e0i commented on #2324
Hello, @WatsonNet  thank you for providing feedback.

Note that the feedback section below documentation is intended for product documentation issues only.

Thus, please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10 Support](https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10)

You might

[2019-03-14 20:47] e0i commented on #2324
@officedocsbot close

[2019-03-14 20:47] #2324 closed

[2019-03-14 20:49] e0i commented on #2337
Hello, @zakgodwin The content you have mentioned has been removed. Thank you for your feedback.

[2019-03-14 20:49] e0i commented on #2337
@officedocsbot close

[2019-03-14 20:49] #2337 closed

[2019-03-14 21:38] e0i commented on #2239
@eross-msft There is a new PR #2923 available for this issue. Please review. Thanks.

[2019-03-14 21:47] sadjadbp opened #2936 "Tip Question"
Where you mentioned `AzureADName\YourAccountName` do you mean something like 'contoso.com\username' or `username@contoso.com`

Since neither one is working for me and I have to use what's explained here

https://morgansimonsen.com/2015/11/06/connecting-to-an-azure-ad-joined-machine-with-remote-desktop/

and AzureAD\UPN and use a special rdp file that has `enablecredsspsupport:i:0` with NTLM off on

[2019-03-14 21:52] eross-msft commented on #2239
@e01  I am no longer part of this team. Please re-assign this to @lizap

[2019-03-15 00:00] illfated commented on #2239
@officebot Assign @lizap

[2019-03-15 00:08] illfated commented on #2239
@officedocsbot assign @lizap

[2019-03-15 06:52] RAJU2529 commented on #2012
Your solution gives, If the  employer resigns or retired or fired from the organization. Then his smartpHone must be  unjoined  from the corporate network.
Is It

[2019-03-15 06:53] RAJU2529 commented on #2011
Thanks for the answer

[2019-03-15 08:14] vrdse opened #2938 "PowerShell"
Who would you do it from PowerShell or Cmdline?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: de416fda-04fb-6780-6675-020fdc2426ba
* Version Independent ID: ede7f3c1-ba3a-e331-80d8-c992b3d7f9a4
* Content: [Wiederherstellen von unter Quarantäne gestellten Dateien im Windows Defender AV]

[2019-03-15 09:03] beerisgood opened #2939 "Exploit Guard Evaluation Package"
The link to the Exploit Guard Evaluation Package (https://aka.ms/mp7z2w) is dead

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 89a3e05b-445d-30b2-bdcf-5479a3c9713c
* Version Independent ID: 49c3c29a-f816-778c-f92c-f6ca0311a2aa
* Content: [Verwenden des Netzwerkschutzes, Verbindungen mi

[2019-03-15 09:40] bally-singh commented on #2820
Hi mapalko,

Still an issue for me:

Once clicking on "Accept to give consent for the PIN reset service to access your account", I get the error message:
"You do not have permission to view this directory or page."

[2019-03-15 12:38] jdeckerms commented on #2239
see PR #2923

[2019-03-15 12:38] #2239 closed

[2019-03-15 13:25] jonnydcakes opened #2941 "0x801c0451 not listed"
0x801c0451 not listed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b4f9133-887f-17a6-95fc-3712de8a3fa1
* Version Independent ID: 09d34ce8-1590-8202-3e70-e6299dadbb65
* Content: [Windows Hello errors during PIN creation (Windows 10)](https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-busi

[2019-03-15 13:43] mypil commented on #2743
Looping in the article owner @mjcaparas as she may have some information that she can share regarding your issue.

[2019-03-15 14:39] mypil commented on #2779
@lizap - We would like to follow up on this issue. Can you please share your insights? Thanks.

[2019-03-15 14:47] egallagh commented on #2011
You are welcome.
I hope that helped.
Recommend closure.

[2019-03-15 14:48] mypil commented on #2243
@officedocsbot assign @mypil

[2019-03-15 14:51] egallagh commented on #2012
Performing a remote reset of the device will unjoin it from AAD in addition to wiping the corporate data.

[2019-03-15 15:12] jdeckerms commented on #2924
@sccmfan Good question, the topic isn't very clear on that, is it?

Under "Apply a provisioning package during first run", there's an "important" note that says "Only use provisioning packages to install certificates during first run. Use the Settings app to install apps and apply other settings."

What that means (and I'll be rewriting the note to be clearer), is that a provisioning package that

[2019-03-15 15:12] #2924 closed

[2019-03-15 15:38] j0rt3g4 commented on #2721
Hello  @GeoSimos, I was not able to find any conflict, I've added a note if you change the default path of the NTDS and SYSVOL, it can be manually added to the exclusions since it's not the default path of the role.
The PR is #2942

[2019-03-15 15:52] mypil commented on #2850
@jambirk - From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-15 15:52] mypil commented on #2850
@officedocsbot close

[2019-03-15 16:11] jambirk commented on #2850
The change has not yet gone live.

[2019-03-15 16:47] npherson opened #2943 "Note says Win 10 only - What about Server 2019?"
Are current versions of Server 2019 or the Server semi-annual channel supported for response actions? If not, it would be better to explicitly say so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ad120c9-3c66-475a-4bc4-ee69ec11b581
* Version Independent ID: 943de88c-0152-9aba-8415-d9c8b5709c13
* Content: [Take respo

[2019-03-15 16:49] kenwith commented on #2779
@Jcoetsee - can you research and come up with a Pull Request?

[2019-03-15 17:23] mapalko commented on #2820
Can you confirm under the Azure Enterprise Applications dashboard that Microsoft PIN Reset Service Production does not show up under the status Enabled services. If they are not showing up can you attempt to add them through the portal instead of the link in the documentation. See: https://blogs.technet.microsoft.com/matt_hinsons_manageability_blog/2017/07/26/intune-passcode-reset-microsoft-pin-re

[2019-03-15 17:36] npherson opened #2945 "Minimum requirements for WD ATP on servers?"
This only lists Windows 10 requirements.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8aca66a-5a8b-64d2-7201-a7b915c5d309
* Version Independent ID: c3cc0543-db20-a8f2-288c-d1dea5ea479f
* Content: [Minimum requirements for Windows Defender ATP](https://docs.microsoft.com/en-us/windows/security/threat-protection/windo

[2019-03-15 18:00] illfated commented on #2938
Oh, you mean "How to Restore quarantined files in Windows Defender AV" by using PowerShell or command line (cmd).

I don't have a preference yet, but I would start by searching for what other people have done and what other pages recommend:: https://www.bing.com/search?q=Restore+quarantined+files+in+Windows+Defender+AV+from+command+line+or+PowerShell&qs=n&form=QBLH&sp=-1&pq=restore+quarantined+fil

[2019-03-15 18:03] vrdse commented on #2938
Yeah right, I know how to restore quarantine files, I just felt like this should be part of the documentation.  ;)

[2019-03-15 18:11] illfated commented on #2938
If you or anyone else have got a good idea of the material needed to expand this documentation page, we could open a Pull Request to ask for it to be added. 💻 📂 📝

[2019-03-15 18:33] mypil commented on #2827
@officedocsbot close

[2019-03-15 18:33] #2827 closed

[2019-03-15 18:47] mypil commented on #2865
@iadgovuser1 - From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-15 18:47] mypil commented on #2865
@officedocsbot close

[2019-03-15 18:47] #2865 closed

[2019-03-15 19:04] amp64 opened #2947 "Link missing, editor's note left in"
It says "(add link to OEM documentation)" - suggest replacing this with an actual link to OEM documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9b83e95-63de-87c5-929c-d5f25e33d124
* Version Independent ID: 743ead3f-b4a5-1589-6577-e1d12aaa1b92
* Content: [Kernel DMA Protection for Thunderbolt™ 3 (Windows 10

[2019-03-15 19:11] mypil commented on #2902
@officedocsbot assign @mypil

[2019-03-15 19:11] mypil commented on #2838
@officedocsbot assign @mypil

[2019-03-15 19:11] mypil commented on #2837
@officedocsbot assign @mypil

[2019-03-15 19:17] mypil commented on #2902
@iadgovuser1 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-15 19:17] mypil commented on #2838
@iadgovuser1 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-15 19:17] mypil commented on #2837
@iadgovuser1 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-15 19:39] mypil commented on #1297
@jdeckerms - Do you have any updates on this. Thanks.

[2019-03-15 19:50] mypil commented on #2351
@officedocsbot assign @mypil

[2019-03-15 19:51] mypil commented on #2936
@officedocsbot assign @mypil

[2019-03-15 19:54] Justinha commented on #2902
Thanks folks! I submitted  a new screenshot and it should appear later today.

[2019-03-16 00:09] mjcaparas commented on #2743
Hi alexverboon,

The Skype for Business integration can be better understood in the context of machine isolation:

https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-atp/respond-machine-alerts-windows-defender-advanced-threat-protection#isolate-machines-from-the-network

When a machine is being isolated from the network, there's a pop-up (as seen on step 3 in the

[2019-03-16 00:15] Justinha commented on #2902
@iadgovuser1 @mypil I added the new image but it's a little too large. I resized it and submitted again. ETA is Monday.

Thanks again for the correction!

[2019-03-16 08:32] alexverboon commented on #2743
Hello mjcaparas,

Many thanks, that clarifies my question and that is what I assumed. So this setting applies to Skype and outlook communication when machines are in isolation mode.

Can I suggest to make that reference in the documentation?

Many thanks
Alex

[2019-03-16 19:11] PrinceMarkieD opened #2951 "Effectively Zero Options"
The 'Manual registration' workflow is the only viable workflow from the way this article reads. I have been struggling with consistency in AutoPilot for months now, and I am to understand that the device must not be currently on the internet when registered? The device must not have EVER been on the internet when registered? It is not clear. What this article describes is a scenario where a device

[2019-03-17 09:50] MaratMussabekov commented on #2838
events 1121-1128 are missed, according to https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-exploit-guard/event-views-exploit-guard

[2019-03-17 14:07] xNiklasJern opened #2952 "Prereq"
".... Update Compliance only provides data for the standard Desktop Windows 10 version and is not currently compatible with Windows Server, Surface Hub, IoT, etc."

What is not compatible, is this information update to date? If yes, any ETA when it might be available ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e55

[2019-03-17 23:30] anwarmahmood1 opened #2953 "typo in "Install Windows ADK for Windows 10" - should be 'User State Migration Tool (USMT)'"
see title

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ab08370-69ab-d025-cea2-c41c3aa4b908
* Version Independent ID: 9f5603f8-10e6-2651-3120-6d5627217cc9
* Content: [Prepare for deployment with MDT (Windows 10)](https://docs.microsoft.com/en-us/windows/deployment/deploy-windows-mdt/prepare-for-windows-deployment-wit

[2019-03-17 23:34] anwarmahmood1 opened #2954 "Since Windows 10 V1809, Windows PE is now a separate download"
Please update

https://docs.microsoft.com/en-us/windows/deployment/deploy-windows-mdt/prepare-for-windows-deployment-with-mdt#a-href-idsec02ainstall-windows-adk-for-windows-10

Referring readers to...

https://docs.microsoft.com/en-us/windows-hardware/get-started/adk-install

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-03-18 03:10] bigbadstevo opened #2955 "You can't do a feature update if you've already done the feature update"
"You're now ready to update your computer. After the update..." After *what* update? The feature update has already been done, as stated previously in the article:
"When you update a computer running Windows 10, version 1703 or 1709, you might see provisioned apps that you previously removed return post-update." To see the problem stated, you must have *already* have done the feature update. Windo

[2019-03-18 06:18] mattwak opened #2956 "Education SKU"
Is Application Guard supported on the education SKU as most other fearures of the enterprise SKU are? Please clarify in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f43df7b-6ead-de5a-2e41-4d49978ab485
* Version Independent ID: 5497d300-cb21-55f3-7e80-98bc3592635c
* Content: [System requirements fo

[2019-03-18 09:55] alschneiter commented on #2025
Or use a dynamic group to assign devices to the profile: https://docs.microsoft.com/en-us/intune/enrollment-autopilot#create-an-autopilot-device-group

[2019-03-18 12:26] mypil commented on #650
@officedocsbot assign @mypil

[2019-03-18 12:29] mypil commented on #650
@domcote - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind pleas

[2019-03-18 12:35] mypil commented on #656
@danjpadgett - the link shared by xstaindx contains the latest Servicing Release. From our understanding the issue you raised has been answered. If you feel it hasn't been answered please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-18 12:35] mypil commented on #656
@officedocsbot assign @mypil

[2019-03-18 12:35] mypil commented on #656
@officedocsbot close

[2019-03-18 12:35] #656 closed

[2019-03-18 12:39] mypil commented on #655
@officedocsbot assign @mypil

[2019-03-18 12:45] mypil commented on #655
@matifali - are you still having this issue? Which caption & figure are you referring to?

I tested it in my end and it works well in dark mode, I am able to read the caption on all figures.

[2019-03-18 12:49] mypil commented on #693
@officedocsbot assign @mypil

[2019-03-18 12:50] danjpadgett commented on #2789
The anchor links work in IE, not in Chrome or Edge. Given the size and complexity of this article all of these links should work.

[2019-03-18 12:55] mypil commented on #701
@officedocsbot assign @mypil

[2019-03-18 12:56] mypil commented on #701
@SteffanH - thank you for submitting feedback.

From our understanding the issue has been answered by kumaarrahul. If you feel it hasn't been resolved please re-open this issue.

Thank you for engaging with the community here for the docs.

[2019-03-18 12:57] mypil commented on #701
@officedocsbot close

[2019-03-18 12:57] #701 closed

[2019-03-18 13:18] mypil commented on #744
@officedocsbot assign @mypil

[2019-03-18 13:21] mypil commented on #744
@dudus999 - thank you for submitting feedback.

From our understanding the issue has been answered by ermacia91. If you feel it hasn't been resolved please re-open this issue.

Thank you for engaging with the community here for the docs.

[2019-03-18 13:22] mypil commented on #744
@officedocsbot close

[2019-03-18 13:22] #744 closed

[2019-03-18 13:27] mypil commented on #853
@officedocsbot assign @mypil

[2019-03-18 13:39] mypil commented on #962
@officedocsbot assign @mypil

[2019-03-18 13:41] mypil commented on #970
@officedocsbot assign @mypil

[2019-03-18 15:24] jdeckerms commented on #2953
@anwarmahmood1 Good catch and thanks for bringing that to our attention! I'll get it fixed.

[2019-03-18 15:24] #2953 closed

[2019-03-18 15:29] jdeckerms commented on #2954
@anwarmahmood1 Thanks, I'll that link and a brief explanation

[2019-03-18 15:29] #2954 closed

[2019-03-18 15:36] jdeckerms commented on #2916
@dfconroy When you entered your comments, they didn't get associated with a specific topic, not sure why. Could you please link to the topic your feedback is about? Thanks.

[2019-03-18 15:44] jdeckerms commented on #2789
@illfated Thanks for figuring out what was causing the problem. I'm fixing the links, should be published by end of day.

[2019-03-18 15:44] #2789 closed

[2019-03-18 15:53] jdeckerms commented on #2772
@c016smith Sorry, I can't answer questions about possible future developments or releases. Windows 10 Team is currently available on Surface Hub only.

[2019-03-18 15:53] #2772 closed

[2019-03-18 15:57] jdeckerms commented on #2751
@zburtondbrs The version in the mdop library is for Windows 10, version 1607 and earlier, plus all earlier editions of Windows. It's older documentation that is retained for customers who haven't upgraded yet. The version in the Windows library is the newer content. Thanks for pointing out that it's very hard to figure that out by just looking at the docs. I'll figure out a way to make that cleare

[2019-03-18 15:57] #2751 closed

[2019-03-18 16:05] mypil commented on #882
@officedocsbot assign @mypil

[2019-03-18 16:07] jdeckerms commented on #2753
I'm removing the broken uservoice link.

[2019-03-18 16:08] jdeckerms commented on #2695
@KurtRoosbeek This is important feedback for the app developers, could you please submit it using the Feedback Hub? Thanks!

[2019-03-18 16:08] #2695 closed

[2019-03-18 16:11] jdeckerms commented on #2713
@jenyalex80 The capability to extend the bulk token expiration will be added in the next major release of Windows Configuration Designer to correspond with the next feature update to Windows 10.  The documentation will be updated at the same time, thanks!

[2019-03-18 16:11] #2713 closed

[2019-03-18 16:14] jdeckerms commented on #2707
@longgiangp Sorry, there aren't enough details in your comment for me to know what the problem might be. You should contact Microsoft Support (https://support.microsoft.com/en-us/contactus/).

[2019-03-18 16:14] #2707 closed

[2019-03-18 16:19] jdeckerms commented on #2689
@egitdept Sorry, the documentation applies to Windows 10, version 1703 which is still in support through October 2019 (https://support.microsoft.com/en-us/help/13853/windows-lifecycle-fact-sheet). We won't remove it while it's still supported.

[2019-03-18 16:19] #2689 closed

[2019-03-18 16:24] cinglis-msft commented on #2952
Hey Niklas, Windows 10 Professional, Enterprise, Education for Desktop (laptop/desktop) are supported. There are not currently plans to include the other SKUs in Update Compliance, but we hear the feedback that such analytics would be valuable.

[2019-03-18 16:26] stevep4 commented on #599
Hi @pcs504 I wondered if you ever opened a support ticket on this and had any further advice from MS you could share? We're in the same boat, we would like all traffic to go over VPN, except for 365 things.

@mypil this seems to be a valid question from at least 3 of us, it's disappointing the thread has been closed with no answers or documentation updates. Can the product group respond outside of

[2019-03-18 16:33] jdeckerms commented on #2675
@FC-EricWeller Thanks for pointing out the problem, I'll update the topic by end of day.

[2019-03-18 16:33] #2675 closed

[2019-03-18 16:34] jdeckerms commented on #2661
@strecz Thanks, we appreciate the feedback!

[2019-03-18 16:34] #2661 closed

[2019-03-18 16:39] jdeckerms commented on #2622
@czrik I checked the download site and the file is still SurfaceHub_Recovery_v1.14.137.0.msi. Where are you finding a download for v1.12.137.0? Thanks!

[2019-03-18 16:43] nimojg-microsoft opened #2958 "What does No Internet refer to?"
Before introducing the table we write "The following table describes the Set up School PCs app features and lists each type of Intune subscription. An X indicates that the feature is available with the specific subscription."..... Can you clarify what "No Internet" refers to in this case? I think this needs to be rewritten entirely as it makes NO sense.

---
#### Document Details

⚠ *Do not edit t

[2019-03-18 16:46] nimojg-microsoft opened #2959 "App uninstall"
Is this enabled by default - or is this only enabled when someone chooses the Uninstall OEM apps in the Setup School PCs flow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46b1d03f-ac88-46ca-0b93-d695d97f6974
* Version Independent ID: d76084ab-4129-d77a-a68d-40f9fa3b471f
* Content: [What's in Set up School PCs provis

[2019-03-18 16:51] czrik commented on #2622
I had the old version installed (1.12 ). Still, it's 1.14 not 1.4

To start the download, click Download, choose SurfaceHub_Recovery_v1.4.137.0.msi from the list, and click Next. From the pop-up, choose one of the following:

[2019-03-18 17:00] jdeckerms commented on #2959
@nimojg-microsoft When you use the Setup School PCs app, the resulting package uninstalls the apps listed here: https://docs.microsoft.com/en-us/education/windows/set-up-school-pcs-provisioning-package#apps-uninstalled-from-windows-10-devices

The option to uninstall OEM/device manufacturer apps in the Setup School PC app is its own option, on top of the apps that are automatically uninstalled.

[2019-03-18 17:00] #2959 closed

[2019-03-18 17:01] jdeckerms commented on #2958
@nimojg-microsoft "No internet" means features that are available when there is no internet connection.

[2019-03-18 17:01] #2958 closed

[2019-03-18 17:02] mypil commented on #2887
@officedocsbot assign @mypil

[2019-03-18 17:03] nimojg-microsoft commented on #2959
Great - any plans to clarify this in the documentation?

[2019-03-18 17:04] mypil commented on #2887
@AndySanchezVM - Thank you for submitting this feedback.

From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-18 17:04] mypil commented on #2887
@officedocsbot close

[2019-03-18 17:04] #2887 closed

[2019-03-18 17:20] mypil commented on #2127
@officedocsbot assign @mypil

[2019-03-18 17:23] mypil commented on #2127
@visions - thank you for submitting feedback.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in
User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**
You might find others have made a similar r

[2019-03-18 17:23] mypil commented on #2127
@officedocsbot close

[2019-03-18 17:23] #2127 closed

[2019-03-18 17:24] jdeckerms commented on #2622
@czrik Ack, I overlooked the difference between 1.4 and 1.14 -- so sorry! @egallagh has updated the topic, it should be fixed by end of day. Thanks for pointing it out!

[2019-03-18 17:24] #2622 closed

[2019-03-18 17:29] jdeckerms commented on #2645
@alexanderbhenry Sorry for the delay in responding, I was a jury duty for a very long trial. Now that I'm back, I've contacted the product team to get their input on whether the experience you're trying to configure is possible. I'll let you know as soon as I get an answer.

[2019-03-18 17:34] jdeckerms commented on #2600
@mortinious and @tlange-tech2go  I've checked with the product team, and this issue has been fixed in the next feature update to Windows 10. I don't know if they'll push the fix to current and earlier versions of Windows 10 and when that might be, if I get additional info I'll let you know.

[2019-03-18 17:34] #2600 closed

[2019-03-18 17:38] mypil commented on #2184
@officedocsbot assign @mypil

[2019-03-18 17:39] mypil commented on #2184
@xXxOlivierxXx - Thank you for submitting feedback.

From our understanding, the issue has been answered by veryslothysloth. If you feel it hasn't been answered, please re-open this issue.

Thank you for engaging with the community here for the docs.

[2019-03-18 17:39] mypil commented on #2184
@officedocsbot close

[2019-03-18 17:39] #2184 closed

[2019-03-18 17:48] iadgovuser1 commented on #2902
Thanks!

[2019-03-18 17:50] mypil commented on #1536
@DaniHalfin - Do you have any updates on this? Has this issue been fixed? Please advise. Thank you.

[2019-03-18 17:56] mypil commented on #1824
@officedocsbot assign @mypil

[2019-03-18 17:57] mypil commented on #1824
@RAJU2529 - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in
User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**
You might find o

[2019-03-18 17:58] mypil commented on #1824
@officedocsbot close

[2019-03-18 17:58] #1824 closed

[2019-03-18 18:43] mypil commented on #1935
@officedocsbot assign @mypil

[2019-03-18 18:43] mypil commented on #1936
@officedocsbot assign @mypil

[2019-03-18 18:48] illfated commented on #655
It is not the caption, but the individual unit names in this image:

![](https://docs.microsoft.com/en-gb/windows/deployment/images/upgrademdt-fig1-machines.png)

Figure 1. The machines used in this topic.
***
The background in the image is transparent, making the names **DC01** / **MDT01** / **PC001** melt into the black background.

[2019-03-18 19:07] Jcoetsee commented on #2779
The content on the page has been updated.

[2019-03-18 19:12] mypil commented on #2779
@hoskinsm - the content has been updated to add the information that you requested for. Kindly check and let us know if your issue has been resolved. Thank you.

[2019-03-18 19:18] hoskinsm commented on #2779
Thank you for the update.

Should there also be reference to which Windows 10 sku's (Enterprise, Pro, Education, etc)  this article applies.

It is our understanding that depending  on which sku you are deploying, there are at least differences with regard to the Installed Windows Apps?  We only use Enterprise but there may be others viewing this article which deploy Professional or Education.

Fo

[2019-03-18 19:28] lizap commented on #2779
@hoskinsm - the article addresses the Windows 10 Enterprise SKU, which is called out here: "The following tables list the system apps, installed Windows apps, and provisioned Windows apps in a standard Windows 10 Enterprise installation."  Thanks!

[2019-03-18 19:28] #2779 closed

[2019-03-18 19:30] lizap commented on #950
Some apps moved from provisioned to installed - that's why they show up in multiple tables. When that happens, we try to note it in the footnotes for the table. Thanks!

[2019-03-18 19:30] #950 closed

[2019-03-18 19:31] lizap commented on #2508
Thanks for your feedback. We're not able to add a required column at this time. Thanks, Liza

[2019-03-18 19:31] #2508 closed

[2019-03-18 19:32] hoskinsm commented on #2779
@lizap - my apologies, you are correct, I did not catch that line... have gotten so use to seeing the "Applies To: " section at the bottom of KB articles over the years, I was looking at the end of the article rather than within the body of article.  Thank you!

[2019-03-18 19:45] iadgovuser1 commented on #2837
Thanks!

[2019-03-18 19:51] SuHwak commented on #2508
Yet another sign that Microsoft is not listening to their enterprise customers.

[2019-03-18 20:01] #2681 closed

[2019-03-18 20:05] lizap commented on #2659
Thanks for raising this issue. The link is very dead, so I've removed it. You'll see the fix live on 3/18 by end of day. Thanks!

[2019-03-18 20:05] #2659 closed

[2019-03-18 20:08] #2580 closed

[2019-03-18 20:12] #2537 closed

[2019-03-18 20:16] DaniHalfin commented on #2429
Hi @veechee, Key Trust deployment support for RDP has no ETA currently.
(cc: @mapalko )

[2019-03-18 20:17] DaniHalfin commented on #2429
Hi @micahcastorina,
WHfB Key Trust deployments aren't supported for WHfB RDP functionallity as of right now.

[2019-03-18 20:17] #2429 closed

[2019-03-18 20:22] DaniHalfin commented on #1536
Hi again @adamgourd ,
We are planning on refreshing this content later this year, so the content surfaced here might change, and we'll take your comment into consideration. However, currently, IEDataOptIn is indeed out considered out of scope for this topic.

Issue can be closed.

[2019-03-18 20:23] lizap commented on #2449
I've changed the note formatting. Just testing and then will get published.

[2019-03-18 21:52] nenonix commented on #688
@astzum I have looked into this issue and the content in question refers specifically to in-place upgrades from Windows 7 and Windows 8.1 to Windows 10. The documentation on MBR2GPT states  that "Windows 7, 8, or 8.1 are not officially supported. The recommended method to convert these disks is to upgrade the operating system to Windows 10 first, then perform the MBR to GPT conversion." I hope you

[2019-03-18 22:08] sneakernuts opened #2965 "WPAD required?"
We have been told by a PFE that WPAD has to be enabled in order for WDAG to work. We were also recommended by our security auditors to turn off WPAD for security reasons. Can we get some more clarification within the documentation? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f43df7b-6ead-de5a-2e41-4d49978ab

[2019-03-18 22:13] nenonix commented on #535
@TimMangan  We appreciate the feedback. It appears to me you are referring to https://github.com/MicrosoftDocs/windows-itpro-docs/blob/master/windows/application-management/app-v/appv-getting-started.md  (and possibly https://docs.microsoft.com/en-us/microsoft-desktop-optimization-pack/appv-v5/getting-started-with-app-v-50--rtm) but I do not understand how you would like the content to be changed.

[2019-03-18 23:36] fcsbraveheart commented on #2348
@fergo99 I have the exact same issue - did you ever get to the bottom of this one?

[2019-03-19 04:30] MaratMussabekov commented on #1789
Hello @GauravLad12 , according to this article, only classes that end in "CryptoServiceProvider" or "Cng" are allowed by FIPS and FIPS-2, so yes, it is complaint.

[2019-03-19 05:25] lindspea commented on #693
@theboymango Thank you for reaching out.  I'll have a look and get it fixed soonest.

[2019-03-19 05:25] Spefx commented on #1866
This is a huge pain point for me aswell.

Have many use cases where File Explorer is required on a kiosk be it for media playback or as a printing station.

FileExplorerNamespaceRestrictions seems to be the way to go but this is limited due to the fact it cannot be accessed directly by File Explorer

[2019-03-19 05:26] lindspea commented on #853
@gruppenrichtlinien Thank you for reaching out and helping improve MS docs.  Please can you clarify if there is something that needs to be amended in the document?

[2019-03-19 05:27] lindspea commented on #962
@theznerd thank you for reaching out and helping improve MS docs.  I'll investigate and let you know.

[2019-03-19 05:28] lindspea commented on #970
@Powerhelmsman thank you for reaching out and helping improve MS docs.  I'll investigate and have it fixed soonest.

[2019-03-19 06:32] Still34 opened #2967 "Clarfication for Account Deletion"
In the docs, it is noted that...

[code]

In the first sentence, it notes that the accounts are cached, then the latter sentences mention how guest accounts are deleted upon sign out. Does that mean by default the guest accounts are cached or not? And isn't the default deletion policy "delete immediately"? This seems contradicting, or at the very least, unclear.

Additionally, after I've deployed

[2019-03-19 07:33] xNiklasJern commented on #2952
@cinglis-msft thanks for the quick reply. I'll be looking forward for the new features

[2019-03-19 07:33] #2952 closed

[2019-03-19 10:00] wech71 opened #2968 "Fehler in deutscher Übersetzung: mf * eine* statt mf *a*"
Fehler in deutscher Übersetzung:

    der primäre MFA verwendet den Namen `mf * eine*` oder

Im Original ist von

    the primary MFA uses the name  `mf *a*` or

die Rede, hier mit "a" also nicht "eine" sondern eine alphabetische Numerierung, nämlich **mfa** gemeint.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Ar

[2019-03-19 11:44] nenonix commented on #408
@asilverman Does this article help answer your question? https://msdn.microsoft.com/library/ms703934(v=vs.85).aspx

[2019-03-19 11:45] mypil commented on #1841
@officedocsbot assign @mypil

[2019-03-19 11:54] mypil commented on #1887
@officedocsbot assign @mypil

[2019-03-19 12:01] mypil commented on #1887
@toddjohnson39 - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-19 12:01] mypil commented on #1841
@illfated - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-19 12:05] Fixlix opened #2971 "Как быть с Windows 10 home?"
У меня windows 10 home.
Начну с того что тут по умолчанию вообще нет настройки групповой политики.
Получается я ни одной виртуальной машины что ли теперь не могу запустить?

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 41c2cb44-269d-3334-019a-726eb5432f1c
* Version Independent ID: 25

[2019-03-19 12:05] mypil commented on #2187
@officedocsbot assign @mypil

[2019-03-19 12:08] mypil commented on #1240
@officedocsbot assign @mypil

[2019-03-19 12:08] mypil commented on #1966
@officedocsbot assign @mypil

[2019-03-19 12:08] mypil commented on #2182
@officedocsbot assign @mypil

[2019-03-19 12:09] mypil commented on #2182
@xXxOlivierxXx - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-19 12:10] mypil commented on #1240
@MichaelFirsov - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-19 12:11] mypil commented on #1966
@itguysocal - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-19 12:20] jdeckerms commented on #2967
@Still34 I'll need to get clarification from the product group, I'll get back to you when I have more information, thanks!

[2019-03-19 13:15] micahcastorina commented on #2429
That is really dumb. They only pushed the benefits of Key trust and didn't mention any of the negatives.

[2019-03-19 13:33] jdeckerms commented on #2558
@RAJU2529 In the next feature update to Windows 10, specific power settings will be added to the **Policies** node in Windows Configuration Designer. You'll be able to use advanced provisioning to configure those settings. (The instructions for advanced provisioning are at https://docs.microsoft.com/en-us/windows/configuration/provisioning-packages/provisioning-create-package#configure-settings)

[2019-03-19 13:36] jdeckerms commented on #2578
@PetervdZande I think you might get better results by posting on the [IT Pro forum](https://social.technet.microsoft.com/forums/en-us/home?category=windows10itpro) (this isn't a forum or discussion board). If that doesn't help, you can contact [Microsoft Support](https://support.microsoft.com/en-us/contactus/) for assistance.

[2019-03-19 13:36] #2578 closed

[2019-03-19 13:47] jdeckerms commented on #2571
@scrubbles It's just an alternate method, as the second paragraph explains.

[2019-03-19 13:49] jdeckerms commented on #2570
@rickgode Are you using the UWP (Microsoft Store) OneNote app or the desktop (Win32) app? Also, what method are you using to configure kiosk mode?

[2019-03-19 14:00] asilverman commented on #408
Unfortunately it doesn’t

Regards,
Ariel Silverman

[2019-03-19 14:05] RAJU2529 commented on #2558
Thanks for the information madam.  I am waiting for next future update.
 Thanks to earlier information.

[2019-03-19 14:11] RAJU2529 commented on #1824
Sorry sir,   I am unable use feedback hub on windows 10. From last onwards  I configured settings such that windows should not use diagnostics datas and feedback hub in group policy editor and in registry also.
But I am unable to use feedback hub, because I forgot those settings thats my problems.
Any way thanks for your information

[2019-03-19 14:32] nenonix commented on #408
@asilverman I don't know that this is something we can address with changes or edits to content. I think that perhaps your query can best be answered if you pose it in a technet forum:  https://social.technet.microsoft.com/Forums/home. Perhaps when you have clarified the meaning for yourself you could let us know where or how the docs content could be edited for greater accuracy?

[2019-03-19 14:51] nenonix commented on #673
@GethinMorris I am researching your query and although I can see issues of grammar that could be cleaned up, I am not sure if I can address this by way of a content edit. It has been some time since you submitted this issue, have you perhaps found answers elsewhere or can you assist me with suggestions of how the content could be edited or improved?

[2019-03-19 15:21] asilverman commented on #408
I am looking for an example of the use of externally transaction es csp noses, unfortunately there is no document to be found that defines and shows examples on how to use this construct. Since this document mentions it, I would ask that it would be addressed in the document.

Regards,
Ariel Silverman

[2019-03-19 17:04] #2902 closed

[2019-03-19 17:15] mypil commented on #2850
@jambirk - I believe the content has been updated to add the changes that you requested for. Kindly check and let us know if your issue has been resolved. Thanks.

[2019-03-19 17:19] mypil commented on #882
@PishPoshery -  Thank you for submitting feedback.

The content has been updated with the changes that you requested for. However, it may take a few days for the content changes to reflect in the article. Thanks.

[2019-03-19 17:39] mkesler80 opened #2972 "Table 1 should be updated to reflect Windows 10 SAC-T changes"
Table 1 shows that the Targeted deployment ring should use the Semi-Annual Channel(Targeted) Servicing Channel.  [With SAC-T being retired](https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/Windows-Update-for-Business-and-the-retirement-of-SAC-T/ba-p/339523) this table should be updated to reflect that.

[2019-03-19 18:04] jambirk commented on #2850
Looks good to me.

[2019-03-19 18:11] mypil commented on #2850
Great to know! I will proceed to close this issue then.

We appreciate your valuable feedback in helping us improve the docs.

[2019-03-19 18:11] mypil commented on #2850
@officedocsbot close

[2019-03-19 18:11] #2850 closed

[2019-03-19 18:59] markwoMSFT opened #2974 "Add details on new suppression rule capabilities"
It would be good to add documenation or the file name, hash and file path suppression rules that were added to the portal.
It's covered inthis blog post:
https://techcommunity.microsoft.com/t5/Windows-Defender-ATP/What-s-new-in-the-WDATP-Portal-June-6th-2017/ba-p/104099

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57

[2019-03-19 19:11] #2449 closed

[2019-03-19 20:20] Justinha commented on #2582
@marypcbuk sorry for delay here. You're right, that reference to VBS is removed.

[2019-03-19 20:20] #2582 closed

[2019-03-19 21:26] illfated commented on #2449
Looks very nice and defined now. Should not be possible to mistake the notes in this type of format. Good job.

[2019-03-19 23:28] illfated commented on #2971
As far as I know, Windows 10 Home does not have native support for Virtual Machines because it does not support or include Microsoft Hyper-V.
For some, upgrading from Home to Pro may not include Microsoft Hyper-V as well.
https://answers.microsoft.com/en-us/windows/forum/all/virtual-machine-in-windows-10-home/593d2c19-fae2-4091-92c9-6abb30f071db

in Russian, via Google Translate:
Насколько я знаю,

[2019-03-20 00:17] illfated commented on #2968
Funny translation bug. Original text in the `de-de` version of the page:
- https://docs.microsoft.com/de-de/windows/security/identity-protection/hello-for-business/hello-cert-trust-deploy-mfa#voraussetzungen

Recommended translation:

See also the US English page for reference:
- https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-cert-trust-deploy-mfa#pr

[2019-03-20 00:51] illfated commented on #2972
Thank you for referencing the Microsoft source for your statement. Which page & table are you referring to?
- https://docs.microsoft.com/en-us/windows/deployment/update/wufb-onboard
- https://docs.microsoft.com/en-us/windows/deployment/update/wufb-autoupdate
- https://docs.microsoft.com/en-us/windows/deployment/update/wufb-manageupdate
- https://docs.microsoft.com/en-us/windows/deployment/update/w

[2019-03-20 01:02] lXbalanque opened #2981 "Commercial ID Key?"
The article has some old screenshots and mentions a Commercial ID key but it doesn't exist anywhere. It seems like it needs to be updated to the new terminology that's being used in the Azure portal. This is a recurring problem across all of MS documentation.

[2019-03-20 01:09] illfated commented on #2981
Looks like your post did not get linked to any particular docs.microsoft.com page.
Could you link the page(s) your are making a reference to?

[2019-03-20 01:12] sasanmcp opened #2982 "formatting issue"
Step 1-&gt;bullet point 3:
the word "syntax" should not become part of the PowerShell command. I can see that in other instances it is correctly the title of the frame but here it is actually leaked to the body of the frame.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c66f2a3-5be3-e3cf-b90f-c9ce2f6ecf9d
* Version I

[2019-03-20 01:12] lXbalanque commented on #2981
Oh, oops! That would be helpful. Here's the link: https://docs.microsoft.com/en-us/windows/deployment/update/update-compliance-get-started#feedback

I'm attempting to pull log information about Windows 10 updates in my environments using Windows Intune and Log Analytics. I **think** this is what I should be doing but if there's another path I should be going down, I'm all ears. I just need to repo

[2019-03-20 01:33] illfated commented on #2981
Thanks. To sum up, the article is:

Docs / Windows / Deployment : Get started with Update Compliance
- https://docs.microsoft.com/en-us/windows/deployment/update/update-compliance-get-started

Github page to improve / update:
- https://github.com/MicrosoftDocs/windows-itpro-docs/blob/master/windows/deployment/update/update-compliance-get-started.md

[2019-03-20 01:58] illfated commented on #2982
Good catch, thanks for locating the cause of that issue.
HTML source snippet from https://docs.microsoft.com/en-us/windows/deployment/deploy-windows-mdt/deploy-a-windows-10-image-using-mdt
[code]
Github Flavored Markdown snippet from https://github.com/MicrosoftDocs/windows-itpro-docs/blob/master/windows/deployment/deploy-windows-mdt/deploy-a-windows-10-image-using-mdt.md
[code]
[code]

[2019-03-20 02:07] illfated commented on #2982
BTW, I could be wrong, but it looks like the last 2 lines in the PS script belong to the same line.
[code]

[2019-03-20 06:33] SwiftOnSecurity opened #2986 "Conflict in text"
There is a conflict in the document. You say:
"We do not recommend enabling this Group Policy setting because of the high number of events recorded."

In the settings table, you then recommend every computer in the domain have this policy enabled.
Additionally, your Windows 10 1809 baseline document recommends enabling this policy.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-03-20 06:43] biren1234 opened #2987 "delivery optimization windows update MPLS traffic gets chocked"
we have our Two site which connected through the MPLS connection
both site have two different WSUS Server for update client take update for their respective server

now issue is client taking update peer to peer which is called (delivery optimization windows update), client PC taking update different site client PC due to this our MPLS traffic gets chocked due to this user having problem HO connec

[2019-03-20 06:58] haydnbyrne opened #2988 "Error in PreventInstallationOfDevicesNotDescribedByOtherPolicySettings Example"
Under the PreventInstallationOfDevicesNotDescribedByOtherPolicySettings section, the Example SyncML and the screenshot of the example Intune Custom policy both have an error. The LOCURI and OMA-URI are set to "./Device/Vendor/MSFT/Policy/Config/PreventInstallationOfDevicesNotDescribedByOtherPolicySettings" but should be "./Device/Vendor/MSFT/Policy/Config/DeviceInstallation/PreventInstallationOfDe

[2019-03-20 07:08] illfated commented on #2986
I think you may have misread the text, although it is very easy to do so. Let me quote the paragraph:

There are 2 privileges mentioned at the start,
- Back up files and directories
- Restore files and directories

The next part tells us that that they "generate events only if the
- “[Audit: Audit the use of Backup and Restore privilege](https://technet.microsoft.com/library/jj852206.aspx)” Group

[2019-03-20 07:17] Fixlix commented on #2971
Мне не нужен hyper-v. Допустим даже если я хочу запустить обычную виртуальную машину, без поддержки hyper-v, то все равно получаю эту ошибку. Это не правильно! Получается я не могу ни одно машины запустить...

[2019-03-20 07:45] SwiftOnSecurity commented on #2986
@illfated you're totally right, sorry it's 2AM here and didn't have my thinking cap on. Please close this ticket. Appreciate your time.

[2019-03-20 12:40] #2982 closed

[2019-03-20 13:00] mikerodrick opened #2991 "MIssing section header"
The last policy setting is missing a section header...
"User Account Control: Virtualize file and registry write failures to per-user locations"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c137da7-0dee-f7cd-d7af-39df9b7c7d50
* Version Independent ID: 06e5ff89-9392-d259-e431-da13e6134be0
* Content: [User Account Con

[2019-03-20 13:03] #2558 closed

[2019-03-20 13:04] Jet-Mont commented on #2403
I have the same question from a client. Followup on this, Microsoft product group had mentioned that it's in the road map for next version.

[2019-03-20 13:12] mkesler80 commented on #2972
Apologies, the link to view on Github took me to issues filtered by this id a5c45e00-23cc-8f0d-334d-45d8796e5220

I assumed that I was linked to the file and not just the root of the docs site.  I'll leave feedback on the article.

[2019-03-20 13:12] #2972 closed

[2019-03-20 13:12] mkesler80 opened #2992 "Table 1 should be updated to reflect Windows 10 SAC-T changes"
Table 1 shows that the Targeted deployment ring should use the Semi-Annual Channel(Targeted) Servicing Channel. With SAC-T being retired ( https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/Windows-Update-for-Business-and-the-retirement-of-SAC-T/ba-p/339523 ) this table should be updated to reflect that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-03-20 13:26] mypil commented on #940
@officedocsbot assign @mypil

[2019-03-20 13:26] mypil commented on #1880
@officedocsbot assign @mypil

[2019-03-20 13:27] mypil commented on #2179
@officedocsbot assign @mypil

[2019-03-20 13:44] micheltenhove commented on #1866
@Spefx @fdebout , I've been able to make this work. I've added a Shortcut of the downloads folder that links to the Kiosk account, after that I've added the shortcut to start menu. Note that I managed to get this working on a Kiosk machine that automatically logs in.

[2019-03-20 14:28] ml58158 opened #2993 "Multiple OU"
Is there a way to support multiple OUs ?

[2019-03-20 14:52] mypil commented on #650
@officedocsbot close

[2019-03-20 14:52] #650 closed

[2019-03-20 14:55] mypil commented on #655
@illfated - Thanks for pointing this out. Let me see if I can get a PR created to resolve this issue.

[2019-03-20 15:06] kbaker827 commented on #2170
I also would love to know the answer to this one?

[2019-03-20 15:34] mypil commented on #2753
@zburtondbrs - Thank you for submitting this feedback.

From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-20 15:34] mypil commented on #2753
@officedocsbot close

[2019-03-20 15:34] #2753 closed

[2019-03-20 16:08] KennyLogin opened #2995 "The 'H' is missing from 'whether' on SkipDeviceStatusPage and SkipUserStatusPage"
As the title suggests, just a slight typo for those 2 settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 613a93fe-ef09-40aa-f088-a476c4de4214
* Version Independent ID: a9efe92b-dd9a-e4a3-9e99-cb16f5a1af11
* Content: [DMClient CSP](https://docs.microsoft.com/en-us/windows/client-management/mdm/dmclient-csp#feedbac

[2019-03-20 16:32] #2822 closed

[2019-03-20 16:55] Justinha commented on #2965
@sneakernuts I'm not familiar with WPAD. Is It Web Proxy Auto Discovery?

[2019-03-20 17:12] jdeckerms commented on #2995
@KennyLogin Thanks for catching that, I'll get it fixed.

[2019-03-20 17:12] #2995 closed

[2019-03-20 17:39] mypil commented on #2721
@GeoSimos - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-20 17:39] mypil commented on #2721
@officedocsbot close

[2019-03-20 17:39] #2721 closed

[2019-03-20 17:47] mypil commented on #2968
@officedocsbot assign @OfficeGlobal

[2019-03-20 18:41] mypil commented on #926
@jaimeo - Do you have any updates on the progress of this?

[2019-03-20 18:42] jdeckerms commented on #2993
@ml58158 What topic are you referring to? Could you provide a link? Thanks.

[2019-03-20 18:45] CJRicard opened #2999 "Incorrect information regarding SSU categorizations"
This statement is incorrect as SSUs were recategorized as security updates and should be available for synchronization in WSUS/SCCM:  The following link https://docs.microsoft.com/en-us/windows/deployment/update/waas-servicing-differences
indicates that the Windows 10 SSU are not synchronized with WSUS:
“Servicing Stack Updates (SSU) are available for download from the Update Catalog and can be im

[2019-03-20 18:47] mypil commented on #2643
@officedocsbot close

[2019-03-20 18:54] mypil commented on #2640
@officedocsbot close

[2019-03-20 18:54] #2640 closed

[2019-03-20 18:55] jaimeo commented on #926
Look for further updates soon in conjunction with the next release of Windows 10.

[2019-03-20 18:56] mypil commented on #2737
@BaconSmoke - thank you for submitting feedback.

From our understanding, the issue has been answered by marypcbuk. If you feel it hasn't been resolved please re-open this issue.

Thank you for engaging with the community here for the docs.

[2019-03-20 18:57] mypil commented on #2737
@officedocsbot close

[2019-03-20 18:57] #2737 closed

[2019-03-20 18:58] mypil commented on #2986
@officedocsbot close

[2019-03-20 18:58] #2986 closed

[2019-03-20 19:01] jaimeo commented on #1841
Looks good; I've requested it be merged (I do not have the perms to merge it myself.)

[2019-03-20 19:10] mypil commented on #2794
@officedocsbot assign @mypil

[2019-03-20 19:12] Neckross opened #3001 "BULK unenrollment"
is that on roadmap?
not currently available for ADJ or HDJ.
For tenant to tenant Intune migrations, we see this becomes a manual individual disconnect/connect process for the device.
Any news on that topic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3d8375f-a60e-dbad-453b-80c933249b1b
* Version Independent ID: 2b2

[2019-03-20 19:15] mypil commented on #2775
@officedocsbot assign @mypil

[2019-03-20 19:15] mypil commented on #2775
@anujgoyal - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind ple

[2019-03-20 19:17] mypil commented on #2641
@officedocsbot assign @mypil

[2019-03-20 19:17] mypil commented on #2641
@JMTS92 - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind please

[2019-03-20 19:20] mypil commented on #2919
@pyoungberg - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind pl

[2019-03-20 19:22] Xmas13 commented on #1297
@jdeckerms Do you have any update on this? Thanks.

[2019-03-20 19:24] Martony78 commented on #2643
The original question has nothing to do with dbznico one, he just sneaked in this question to ask his. The original question is from lightupdifire and it is HUGE security issue. How can we trust WIP if we only have to ZIP or PDF corporate files to unprotect them? At least you need to provide us all the URLs to add in our Cloud Resource boundary. this issue should not be closed until you give the o

[2019-03-20 19:24] mypil commented on #2912
@officedocsbot assign @mypil

[2019-03-20 19:25] mypil commented on #2974
@officedocsbot assign @mypil

[2019-03-20 19:27] mypil commented on #2987
@officedocsbot assign @mypil

[2019-03-20 19:28] mypil commented on #2987
@biren1234 - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows 10 products:  **https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10**

If you don't mind ple

[2019-03-20 19:30] jaimeo commented on #2992
Updates coming soon.

[2019-03-20 19:37] illfated commented on #2971
Sorry that I cannot help you with this. I have not done any labs or work on Virtual Machines yet.
Unless you have got suggestions to change some of the documentation, I recommend that you report your problem to your local Microsoft Support or use the Microsoft Forum pages to get more help.
***
Извините, что я не могу помочь вам с этим. Я еще не проводил никаких лабораторных работ или работ на вирт

[2019-03-20 19:43] illfated commented on #1841
Thank you for your time and for following up on this. 👍
I agree and accept the solution, so this issue is solved & closed.

[2019-03-20 19:43] #1841 closed

[2019-03-20 19:50] DaniHalfin commented on #2912
Hi @jonconwayuk , installing Hyper-V isn't required, however, these security features operate through the Hypervisor layer, meaning Windows will occupy that layer, similar to when you install Hyper-V is a feature.
The implication here is that if you want to use any other solution that needs to occupy that layer, aside for the built-in Windows features that rely on it (such as Hyper-V), you won't b

[2019-03-20 20:03] mr-fujnz commented on #2295
Can anyone from the product group confirm this doesn't work?

[2019-03-20 20:06] illfated commented on #2992
@mkesler80 : Thanks for posting again in the correct page. 👍
That makes it a lot easier to see the page you refer to for all of us.

[2019-03-20 20:09] jonconwayuk commented on #2912
I just feel that clarification on the Hyper-V Feature not being required would help make this more obvious as a statement from Microsoft.

There are many 3rd party articles around on forums and blogs which describe the Hyper-V Feature as being a prerequisite for using Device/Credential Guard which adds to the confusion.

Is it possible to amend the documentation to the following or something simil

[2019-03-20 21:02] Justinha commented on #2643
@

[2019-03-20 21:15] jtorres3 commented on #1866
Has anybody ever done with a shared computer,  version 1809?  I have the built in kiosk profile with a standard exported start layout .xml applied.  I then created another profile with custom uri ./Device/Vendor/MSFT/AssignedAccess/Configuration applied.  I also had a default filenamespace restriction .xml.  When I apply both at the same time I get a device conflict.

Can anybody possibly share th

[2019-03-20 21:16] jtorres3 commented on #1866
I forgot to mention I used this url successfully for just a normal kiosk.
https://www.robinhobo.com/how-to-configure-windows-10-in-multi-app-kiosk-mode-with-microsoft-intune/

[2019-03-20 21:25] sneakernuts commented on #2965
@Justinha that's correct.

[2019-03-20 21:29] Justinha commented on #2965
@sneakernuts App Guard does not have any dependency on WPAD. Correct me if i'm missing this but whether to turn on or off WPAD for security seems like an issue to cover in WPAD docs. Let me know what you want to see added with respect t WDAG system requirements.

[2019-03-20 22:03] Justinha commented on #2643
@lightupdifire @Martony78 sorry to miss. I might need to follow up here again after I confirm with engineering but I think this is by design because the URLs are not listed in the cloud resources. The URLS do change so I'm trying to understand if there is a second level domain to add or something like that.

[2019-03-20 22:09] Justinha commented on #2643
@Martony78 I wanted raise one more related point we recently added to https://docs.microsoft.com/en-us/windows/security/information-protection/windows-information-protection/protect-enterprise-data-using-wip

While WIP can stop accidental data leaks from honest employees, it is not intended to stop malicious insiders from removing enterprise data.

[2019-03-20 22:17] Martony78 commented on #2643
I agree with your statement but in this case even honest employees can inadvertently leak enterprise data. If it is by design I suggest to update the documentation to warn people about this and declare this issue as a bug which needs to be resolved ASAP

[2019-03-20 22:47] sneakernuts commented on #2965
What's what we thought. Until we disabled it. WDAG stops working until we re-enable WPAD. According to our PFE from our support call it needs WPAD. Here's what they said verbatim:

"The WinHTTP Web Proxy Auto-Discovery Service is required for the functionality of WDAG and other inbox services.  As such, stopping or disabling this service is not supported."

[2019-03-20 23:50] Justinha commented on #2965
Ok thanks Otto. I wasn't aware but I've asked engineering to comment.

[2019-03-21 00:07] dwiller11 opened #3004 "SCCM App Deploy *AFTER* Setting Multi-App Kiosk Mode?"
Hello, in the process of deploying Win10 multi-app kiosk mode, I am finding that SCCM is unable to deploy applications *after* kiosk mode is set.

If UWP apps are deployed in advance of multi-app kiosk mode being set everything works as expected. If kiosk mode is configured before apps are deployed via SCCM, they never show up. AppEnforce.log for SCCM shows no activity as if the processes to push

[2019-03-21 06:08] infosecrk opened #3006 "Does Cred guard and device guard supported in Azure PAAS and VMSS"
It would be great if we can have details regarding support for PAAS and VMSS servers.
Is it possible to enable secure boot in Azure IAAS VMs as it is requirement for cred guard and device guard.
Does Azure VM Support UEFI booting ?
It would be great if we have deployment mechanisms for in Azure, like DSC or Policies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-03-21 09:53] JoelDiller opened #3007 "Set custom limit"
It would be really nice if I could set the limit to whatever I want, rather than 50% being the only option.  I would love to set mine to 80% or 85% to increase battery lifespan, but also have plenty of juice left when I'm not around an outlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a767ea0-4095-7a35-3828-4b3a1

[2019-03-21 10:20] rkemna commented on #2881
There is now the option to disable WH4B for everyone (see: device enrollment\windows enrollment\Windows Hello for business) and then to make a special profile for WH4B, attach a group to this profile and place the users in it. See an article of Per Larsen, How to start a pilot on Windows Hello with Intune.
https://osddeployment.dk/2018/09/02/how-to-start-a-pilot-on-windows-hello-with-intune/

[2019-03-21 10:30] PaFkaCZE commented on #2643
I verified this and fully agree. We understand that malicious behaviour can prevent WIP from protecting content (e.g. if a user intentionally changes file extension on a corporate fileshare to *.exe or *.sys and then copies the data it bypasses WIP too...(not that that excluded extensions are document anywhere?…)). Bur for God’s sake - downloading a copy of a file from SharePoint Online??? This is

[2019-03-21 12:18] bangiebindy opened #3009 "Does not work"
This SyncML does not work.  Looking at the PolicyManager registry keys on my 1809 device, WindowsSecurityAuditing does not appear in the defaults.  I understand that it may not be designed to show up there (similar to Firewall and AppLocker) but generally speaking, the defaults not showing up in the PolicyManager registry keys means that the policy is not supported on the OS version.  This article

[2019-03-21 12:35] rlawrimore opened #3010 "Autopilot Reset Question"
To use Autopilot Reset, do the devices have to be enrolled in Autopilot Devices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98a662f1-c2aa-33ad-0e71-d0cbb288d053
* Version Independent ID: 196f1c8d-3179-c173-194f-08bf3a6f82ca
* Content: [Reset devices with remote Autopilot Reset (Preview)](https://docs.microsoft.com/

[2019-03-21 12:36] mypil commented on #726
@officedocsbot assign @mypil

[2019-03-21 12:42] mypil commented on #674
@officedocsbot assign @mypil

[2019-03-21 12:56] msbemba commented on #674
@Aaron-  Thank you for the feedback. Specifying MultiSubnetFailover=True when utilizing SQL Always on is supported. However, when connecting to something other than an availability group listener or SQL Server 2012 Failover Cluster Instance may result in a negative performance impact, and is not supported.  More information on Sqlclient support for High availability can be found in the below docum

[2019-03-21 13:04] alexverboon opened #3011 "Clarification needed on auto esclusions"
The article mentions the following

However in this article , we clarified a while ago that the automatic exclusions only apply to Windows Server 2016.
https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-antivirus/configure-extension-file-exclusions-windows-defender-antivirus

Unless something has changed and Windows 10 now also supports automatic exclusions, it wo

[2019-03-21 13:07] alrosado opened #3012 "How to identify which TPM 2.0 PCR Bank is being used"
On https://docs.microsoft.com/en-us/windows/security/information-protection/tpm/switch-pcr-banks-on-tpm-2-0-devices, there is no documented way to identify which PCR Bank is being used. For example, if you have a TPM 2.0 machine with SHA-1 and SHA-256 PCR Banks, it would be good to document how you can identify which one is being used.

Example text:

### How can I identify which PCR bank is being

[2019-03-21 13:45] sneakernuts commented on #2965
Thanks for looking into this!

[2019-03-21 13:50] mypil commented on #726
@ESLAVANADE - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-03-21 13:59] mypil commented on #2921
@lyemeeki - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-03-21 14:05] mypil commented on #2928
@officedocsbot assign @mypil

[2019-03-21 14:06] mypil commented on #2921
@officedocsbot assign @mypil

[2019-03-21 15:30] mypil commented on #2943
@officedocsbot assign @mypil

[2019-03-21 15:30] mypil commented on #2951
@officedocsbot assign @mypil

[2019-03-21 15:30] mypil commented on #2945
@officedocsbot assign @mypil

[2019-03-21 15:30] mypil commented on #2955
@officedocsbot assign @mypil

[2019-03-21 15:30] mypil commented on #2956
@officedocsbot assign @mypil

[2019-03-21 15:31] mypil commented on #2943
@npherson - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-21 15:31] mypil commented on #2951
@PrinceMarkieD - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-21 15:31] mypil commented on #2945
@npherson - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-21 15:31] mypil commented on #2955
@bigbadstevo - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-21 15:31] mypil commented on #2956
@mattwak - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-21 15:40] lightupdifire opened #3013 "BitLocker CSP"
Hello,
Is it possible to integrate "OSEnablePrebootInputProtectorsOnSlates" ?
Surface Pro devices cannot be encrypted if this option is off in Group Policy, because display keyboard cannot be loaded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a05802f-9d0f-9aeb-3c8e-8b92f1284202
* Version Independent ID: 1fd9efc2-8

[2019-03-21 15:43] deucalion commented on #731
@adamgourd As I'm in a similar situation (having to oversee a larger academic VDI project) - MSFT thankfully published this today: https://techcommunity.microsoft.com/t5/Core-Infrastructure-and-Security/Windows-10-Build-1803-VDI-Optimization-Script-Primer/ba-p/377613

I was originally planning to use LTSC, but if it's not a supported approach, I can only hope MSFT publishes more guidance like this

[2019-03-21 15:44] mypil commented on #3004
@dwiller11  - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-03-21 15:45] mypil commented on #3004
@officedocsbot assign @mypil

[2019-03-21 15:56] mypil commented on #1277
@officedocsbot assign @mypil

[2019-03-21 15:57] mypil commented on #1277
@thedrum808 - From our understanding, the issue has been resolved by DanielNTX. If you feel it hasn't been resolved please re-open this issue.

Thank you for engaging with the community here for the docs.

[2019-03-21 15:57] mypil commented on #1277
@officedocsbot close

[2019-03-21 15:57] #1277 closed

[2019-03-21 16:25] mypil commented on #1495
@officedocsbot assign @OfficeGlobal

[2019-03-21 16:32] Fixlix commented on #2971
Спасибо за попытку помочь! Дальше я и правда попробую задать вопрос на форумах

[2019-03-21 16:40] NJArcher commented on #2186
Thanks.

[2019-03-21 16:41] dwiller11 commented on #3004
@mypil - thank you. I was referring to this document on multi-app kiosk mode:
https://docs.microsoft.com/en-us/windows/configuration/lock-down-windows-10-to-specific-apps

[2019-03-21 17:01] mypil commented on #2999
@officedocsbot assign @mypil

[2019-03-21 17:01] mypil commented on #3001
@officedocsbot assign @mypil

[2019-03-21 17:03] mypil commented on #3006
@officedocsbot assign @mypil

[2019-03-21 17:05] mypil commented on #2947
@officedocsbot assign @mypil

[2019-03-21 17:05] mypil commented on #2939
@officedocsbot assign @mypil

[2019-03-21 17:07] mypil commented on #2991
@officedocsbot assign @mypil

[2019-03-21 17:08] mypil commented on #2941
@officedocsbot assign @mypil

[2019-03-21 17:08] mypil commented on #2925
@officedocsbot assign @mypil

[2019-03-21 17:15] Justinha commented on #2643
OK, thanks for the feedback @PaFkaCZE  and thanks to everyone for standing by on this. Here's what I've learned so far:

- Office Online is distinct from other services. You could use SharePoint Online without using Office Online, you just wouldn't be able to view/edit docs in the browser. So if you want to view/edit docs in the browser from any of the O365 services that support it (SPO, ExcelOnli

[2019-03-21 17:21] mypil commented on #3001
@Neckross - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make Windows 10 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice **https://support.microsoft.com/en-za/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub**
You might find o

[2019-03-21 17:30] PaFkaCZE commented on #2643
@Justinha Unfortunately, such a workaround is not possible. You cannot put a wildcard subdomain into WIP rules so the list of endpoints is useless for this. Please have a look at the first post and see that the domains of the Office Web App servers differ based on location. The only real solution is for you to admit it to be a bug and route the files through <tenant>.sharepoint.com when downloaded

[2019-03-21 17:30] illfated commented on #2971
You are very welcome, especially if you come across typos or factual errors. 😃
@mypil : Please close this issue, the problem will be resolved in a different forum.
***
Добро пожаловать, особенно если вы сталкиваетесь с опечатками или фактическими ошибками. 😃
@mypil: Пожалуйста, закройте эту проблему, проблема будет решена на другом форуме.

[2019-03-21 18:21] Justinha commented on #2643
@PaFkaCZE I think you can wildcard subdomains by using just the dot. Can you add .svc.ms?

[2019-03-21 18:22] mypil commented on #2971
@officedocsbot assign @mypil

[2019-03-21 18:23] mypil commented on #2971
@illfated - this is noted. I will proceed to close this then. Thank you for your assistance with this.

[2019-03-21 18:23] mypil commented on #2971
@officedocsbot close

[2019-03-21 18:23] #2971 closed

[2019-03-21 18:26] ermacia91 commented on #2965
I would also like to know an answer to this. Currently working on this feature with a customer and this might be a blocker in their deployment.

[2019-03-21 18:26] mypil commented on #2974
@markwoMSFT - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-21 18:37] Kofl opened #3015 "Windows Analytics uninstallation"
Hello,

how can the Windows Analytics client be uninstalled or disabled on the clients?

[2019-03-21 19:01] mypil commented on #1259
@officedocsbot assign @mypil

[2019-03-21 19:02] mypil commented on #1259
@deanwiles - Thank you for submitting feedback.

I will get this issue over to the Win10 ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-21 19:22] illfated commented on #655
Looks like it may take a few more hours before the PR change migrates to the docs.microsoft.com page.
The [updated (new) file](https://raw.githubusercontent.com/MicrosoftDocs/windows-itpro-docs/master/windows/deployment/images/upgrademdt-fig1-machines.png) looks fine with black background now:
(https://raw.githubusercontent.com/MicrosoftDocs/windows-itpro-docs/master/windows/deployment/images/upgr

[2019-03-21 19:33] redog commented on #2883
Same exact thing in enterprise edition. Broken the taskbar changes apply but the Start menu reverts.

[2019-03-21 19:35] vall3yv commented on #1233
Appears to be working via UNC share on Win 10 1809 upon user login defaults are changed.

[2019-03-21 19:43] PaFkaCZE commented on #2643
@Justinha My appologies, I was too hasty - it's all just single level subdomains so .svs.ms + .officeapps.live.com seems to do the trick. Good enough for me (I'm concered the .officeapps.live.com is targeting some personal OneDrive stuff too but thats not any issue in my environment). Thanks!

[2019-03-21 19:49] mypil commented on #2775
@officedocsbot close

[2019-03-21 19:49] #2775 closed

[2019-03-21 19:50] mypil commented on #2641
@officedocsbot close

[2019-03-21 19:50] #2641 closed

[2019-03-21 19:50] mypil commented on #2919
@officedocsbot close

[2019-03-21 19:50] #2919 closed

[2019-03-21 19:50] mypil commented on #2987
@officedocsbot close

[2019-03-21 19:50] #2987 closed

[2019-03-21 19:53] m4ngo commented on #2452
: )

[2019-03-21 19:53] #2452 closed

[2019-03-21 19:55] Justinha commented on #2643
@PaFkaCZE I'm super grateful to hear this thanks! @lightupdifire @Martony78 Does this answer your questions? I will be adding everything to the docs.

[2019-03-21 19:57] mypil commented on #882
@officedocsbot close

[2019-03-21 19:57] #882 closed

[2019-03-21 21:08] mapalko commented on #2820
@bally-singh and @amanjee have you been able to test the steps in the documentation listed in my previous comment?

[2019-03-21 23:30] Justinha commented on #2965
@sneakernuts @ermacia91 here is what I learned:

The actual service itself cannot be disabled. If you disable the service a lot of things will break.
However, you can disable WDAP without disabling the service at Settings > Network & Internet > Proxy > Automatically detect settings (turn it off).

This registry key  work to disable system accounts on devices running Windows 10 version 1809 or late

[2019-03-21 23:37] sneakernuts commented on #2965
This is great. Thanks @JustinHa

[2019-03-22 03:03] sneakernuts commented on #2965
Have one more question. What’s the solution for disabling WPAD on machines that are Windows 10 1709 & 1803?

[2019-03-22 06:21] joinimran commented on #2941
@jonnydcakes Thank you for your feedback. Can you please share more details about the error code you have received.

[2019-03-22 06:59] MaratMussabekov commented on #2838
@iadgovuser1 , according to reply of the article's author, events 1121-1128 are not related to windows defender antivirus, they are for windows defender exploit guard, so the are out of the scope of the article

[2019-03-22 08:22] Martony78 commented on #2643
Great news! It should do the trick, let me try and I will get back here.
The only last concern is officeapps.live.com also stores personal data but if the doc mention it I think it is acceptable for now

[2019-03-22 09:17] lightupdifire commented on #2643
@Justinha,

We have to run tests.
Waiting then for this document to be updated :)

[2019-03-22 09:33] alexverboon opened #3026 "Recommendation still valid?"
The article states the following:

This seems to be outdated, since Microsoft has moved to 64 bit as the default. https://support.office.com/en-us/article/choose-between-the-64-bit-or-32-bit-version-of-office-2dee7807-8f95-4d0c-b5fe-6c6f49b8d261?ui=en-US&rs=en-US&ad=US#32or64Bit=Newer_Versions

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-03-22 11:41] sympleconfigmgr opened #3027 "Broken Hyperlinks"
In the Secure Boot section, both Microsoft hyperlinks appear to be broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c795c8ef-7caf-b8a7-4118-b00b1899eef8
* Version Independent ID: cd85b6b4-d160-0c44-15ea-4b7c02fbe0eb
* Content: [Secure the Windows 10 boot process](https://docs.microsoft.com/en-us/windows/security/

[2019-03-22 12:56] mypil commented on #2769
@Aurakal - Thank you for submitting this feedback.

From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-22 12:56] mypil commented on #2769
@officedocsbot close

[2019-03-22 12:56] #2769 closed

[2019-03-22 13:11] dotps1 commented on #2914
any chance this is going to get fixed so I can validate my xml config and actually use the always on vpn product?

[2019-03-22 13:47] lightupdifire opened #3028 "Use default recovery message and URL."
Hello,
When setting up "1 = Use default recovery message and URL."
If go for this option, what should be set then in:
yy= & zz= ? Can use 0?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a05802f-9d0f-9aeb-3c8e-8b92f1284202
* Version Independent ID: 1fd9efc2-8946-75e4-27f3-95ac43a9d987
* Content: [BitLocker CSP](https