[2016-08-17 08:52] sejool opened #2 "Error in code"
There is a error in the XML  code under "Remove default apps and add your own". The path is incorrect:

%APPDATA%Microsoft\Windows\Start Menu\Programs\Accessories\Internet Explorer.lnk

Should be:
%APPDATA%\Microsoft\Windows\Start Menu\Programs\Accessories\Internet Explorer.lnk"

[2016-08-17 17:03] brianlic-msft commented on #2
@sejool Thanks for reporting this!  Which markdown file is this in?

[2016-08-17 17:38] sejool commented on #2
It's in configure-windows-10-taskbar.md

[2016-08-18 18:06] brianlic-msft commented on #2
This is now fixed.  Thanks again for reporting this!

[2016-08-18 18:06] #2 closed

[2016-09-01 18:31] gautamsi opened #13 "Code improvement for Hybrid deployment"
I see that you suggest provisioning Remote Mailbox from Exchange on-prem, but the code is saying "Enable-Mailbox" it should be "Enable-RemoteMailbox"

this is in windows-itpro-docs / devices / surface-hub / hybrid-deployment-surface-hub-device-accounts.md  step 3 under Exchange on-prem

[2016-09-02 13:01] chrber opened #15 "Broken Link: Download the complete set of Administrative Template (.admx) files for Windows 10."
Download the complete set of Administrative Template (.admx) files for Windows 10.

Link is broken

[2016-09-02 13:02] chrber opened #16 "Broken Link: Group Policy Settings Reference for Windows and Windows Server"
Group Policy Settings Reference for Windows and Windows Server

Link is broken

[2016-09-02 16:02] brianlic-msft commented on #15
@chrber The link in new-policies-for-windows-10.md seems to be working fine.  Is the file with the broken link?

[2016-09-02 17:10] brianlic-msft commented on #16
@chrber This has been fixed.  Thanks for reporting!

[2016-09-02 17:10] #16 closed

[2016-09-06 17:15] brianlic-msft commented on #13
This has been fixed.  Thanks for reporting!

[2016-09-06 17:15] #13 closed

[2016-09-06 23:14] brianlic-msft commented on #15
@chrber The broken link appears to be fixed.  If it happens again, please reopen this issue.  Thanks!

[2016-09-06 23:14] #15 closed

[2016-09-08 13:47] jaegerschnitzel opened #22 "Windows Hello deactivated in v1607"
https://technet.microsoft.com/en-us/itpro/windows/keep-secure/implement-microsoft-passport-in-your-organization

"The Group Policy setting Turn on PIN sign-in does not apply to Windows Hello for Business. It still prevents or enables the creation of a convenience PIN for Windows 10. Use Windows Hello for Business policy settings to manage PINs."

This is not true! There is an error in v1607 and al

[2016-09-14 02:25] Kazzan opened #27 "Backup BitLocker Recovery Keys from TPM to AD missing in 1607"
Hello, based on recet technical problems with TPM activation after upgrade to 1607 issue about not working backup of BitLocker recovery keys to AD is not working in 1607, because GPO is missing in new templates. Based on threads TechNet [Forums like Turn on TPM Backup to Active Directory Domain Services](https://social.technet.microsoft.com/Forums/windowsserver/en-US/c8ad5825-ecc7-4873-a2c0-d6b517

[2016-09-16 08:20] imfgmbh opened #37 "Show private store only on windows 10 mobile devices - description incomplete"
On TechNet articles like [https://technet.microsoft.com/de-de/itpro/windows/manage/manage-access-to-private-store](https://technet.microsoft.com/de-de/itpro/windows/manage/manage-access-to-private-store) you'll find steps to show private store only in the Windows 10 app store. In contrast to description, the steps provided only apply to Windows 10 (not mobile). Please add information regarding the

[2016-09-18 21:15] jaegerschnitzel commented on #27
That's the third big issue with v1607 group policies. And Microsoft still doesn't comment...
It seems as if the right hand doesn't know what the left hand is doing.

[2016-09-19 04:13] Kazzan commented on #27
I found [this article](https://blogs.technet.microsoft.com/supportingwindows/2016/09/15/group-policy-templates-admx-removed-in-windows-10-and-windows-server-2016/) that talking about this change and that it is not related. But all previous guides to set it up, talking about this GPO.

[2016-09-19 18:08] brianlic-msft commented on #22
The documentation has been updated.  Thanks!

[2016-09-19 18:08] #22 closed

[2016-09-19 18:14] brianlic-msft commented on #27
This GPO was removed in Windows 10, version 1607, but it doesn't affect BitLocker recovery keys.  @Kazzan, thanks for sharing that link!  It lists the policies that were removed in Windows 10, version 1607 and some notes on why it was done.

[2016-09-19 18:14] #27 closed

[2016-09-23 07:07] mschilt opened #40 "Applocker / Publisher Rules / Evaluation & Trust unclear"
The explanation of publisher rules at
windows-itpro-docs/windows/keep-secure/understanding-applocker-rule-condition-types.md
and https://technet.microsoft.com/itpro/windows/keep-secure/understanding-the-publisher-rule-condition-in-applocker
is a bit unclear:

* Does the .exe file have to be 'trusted' of just be 'signed'?
* The applocker xml policy just contains strings of certificate properties (n

[2016-09-28 20:34] jdravet opened #44 "bad commands for creating logs share"
Currently the document has
Create and share the E:\Logs folder by running the following commands in an elevated Windows PowerShell prompt: syntax New-Item -Path E:\Logs -ItemType directory New-SmbShare ?Name Logs$ ?Path E:\Logs -ChangeAccess EVERYONE icacls E:\Logs /grant '"MDT_BA":(OI)(CI)(M)'

It should read:
Create and share the E:\Logs folder by running the following commands in an elevated Wi

[2016-09-28 20:40] brianlic-msft commented on #44
@jdravet Which document is this?

[2016-09-28 20:42] jdravet commented on #44
https://technet.microsoft.com/en-us/itpro/windows/deploy/prepare-for-windows-deployment-with-mdt-2013

[2016-09-29 17:20] brianlic-msft commented on #44
Thanks for reporting this!  It was a formatting error in the source and is now fixed.

[2016-09-29 17:20] #44 closed

[2016-10-03 20:35] TrudyHa commented on #37
@imfgmbh  ... Thanks for the feedback. We're looking at making updates to clarify the experience on Windows 10 vs Windows 10 Mobile.

[2016-10-05 09:35] Borkason opened #46 "Will this documentation be implemented into docs.microsoft.com?"
It seems very odd that Microsoft presents docs.microsoft.com and then actively builds a new repository for Windows 10 IT professionals.

I'd like to ask if this repository will be incorporated into docs.microsoft.com any time in the future? If this would not be the case would there a specific reason? Just asking out of curiousity.

Thank you.

[2016-10-05 16:35] brianlic-msft commented on #46
@Borkason Thanks for the feedback!  docs.microsoft.com and the Windows 10 repo were built around the same time so the schedules didn't align. We are looking into a migration to docs.microsoft.com in the future though.

[2016-10-05 16:35] #46 closed

[2016-10-08 15:58] alexverboon opened #48 "Collect data using Enterprise Site Discovery - Windows 10 script missing"
The "C:\temp\iesite\Enterprise Site Discovery v2.1.zip" only contains scripts for Windows 7 and Windows 8, but the article mentions (IETelemetrySetUp.ps1 which does not exist.

What script must be used to turn on IE11 site discovery on Windows 10 clients?

Reference article: Collect data using Enterprise Site Discovery
library
https://technet.microsoft.com/en-us/itpro/internet-explorer/ie11-deploy

[2016-10-10 13:45] pjahn opened #49 "Please explain - "The Group Policy setting Enterprise Spotlight does not work in Windows 10, version 1607""
It would be nice to know when this feature will be supported.

[2016-10-10 16:40] brianlic-msft commented on #49
@pjahn Thank you for your suggestion. We can't comment on the release of future features, but the topic will be updated when this policy setting is available.

[2016-10-10 16:40] #49 closed

[2016-10-13 08:34] alexverboon opened #50 "URL https://settings-win.data.microsoft.com/settings missing?"
Based on our network traces, it looks like https://settings-win.data.microsoft.com/settings i also used, however this URL isn't listed in the article.

[2016-10-13 16:49] brianlic-msft commented on #50
@alexverboon Do you mean [this](https://technet.microsoft.com/en-us/itpro/windows/manage/configure-windows-telemetry-in-your-organization) article? If not, can you list the file?

[2016-10-13 18:04] alexverboon commented on #50
Hi Brian, no https://technet.microsoft.com/en-us/itpro/windows/deploy/upgrade-analytics-get-started this one, but I see it's listed there, not sure if it was before, if so my apologies, we must haver overlooked it. However I have another question,  without manually configuring winhttp via netsh the checking connection would not work, i.e. we had to hardcode the proxy for the script to succeed. Can

[2016-10-13 23:35] brianlic-msft commented on #50
@alexverboon We released a KB on 10/11 that might help.  Have a look at: https://support.microsoft.com/en-us/kb/3192441

[2016-10-13 23:35] #50 closed

[2016-10-18 17:12] eross-msft commented on #48
I've looked into this a bit, but I don't yet have a definitive response as it keeps getting passed around for more detailed info. The current thinking by the software engineer is this:
IETElemetrySetUp-Win7.ps1 and IETElemetrySetUp-Win8.ps1 are one and the same, except that Win7 needed SHA1 signing and Win8 (and above?) needed SHA2. I just downloaded the .zip and confirmed using Windiff tool that

[2016-10-20 17:38] brianlic-msft commented on #40
@mschilt Here are some answers to your questions.  Thanks!

- Publisher rules only apply to digitally signed files.
- We ensure that the signature is valid and that the certificate is trusted in the trusted root store.
- For UWP apps, we rely on the App ID information that is signed as part of the signature.
- Publisher rules apply to all that file types that are supported by AppLocker in its rule

[2016-10-20 17:38] #40 closed

[2016-10-21 06:37] mschilt commented on #40
Thanks Brian. Exactly what I was looking for.

[2016-10-27 11:35] mikesmithwsu opened #57 "Drivers for Windows 10 Reference Image"
You briefly talk about drivers for the reference image.  But, when you're talking about the drivers, you're only talking about how you don't have to worry about them because you're building the image in Hyper-V.  (And that all makes sense).

I'm trying to figure out how and where drivers are supposed to be when my Windows 10 reference image is turning on post sysprep.
I am building an HP EliteBook

[2016-10-27 16:35] andrewbettany opened #58 "URL Link is incorrect"
In the main article, you mention: Free upgrade: The Windows 10 free upgrade offer expired on July 29, 2016. For more information, see Free upgrade paths.

The link to "Free upgrade paths"redirects to this page and does not provide the reader with any new information.

I suggest it is redirected to the "Upgrade to Windows 10: FAQ" page here: https://support.microsoft.com/en-us/help/12435/windows-10

[2016-10-27 16:37] brianlic-msft commented on #57
@mikesmithwsu You'll probably have better luck posting this in the [Installation, Setup, and Deployment](https://social.technet.microsoft.com/forums/en-us/home?forum=win10itprosetup) support forum.

[2016-10-27 16:37] #57 closed

[2016-10-27 16:38] brianlic-msft commented on #58
@andrewbettany Thanks for reporting this!  Do you have a link to the main article?  When an issue is opened, it doesn't tell us which page.

[2016-10-27 18:35] andrewbettany commented on #58
Sure:
https://technet.microsoft.com/en-us/itpro/windows/deploy/windows-10-upgrade-paths#Free-upgrade-paths

[2016-10-27 19:27] greg-lindsay commented on #58
The link brings you to a section on the same page, at the bottom where you can read about the free upgrade offering if you are curious about what was offered.  The FAQ link you suggested is also there. I think there is new information provided, so I don't see a problem with the link.

[2016-10-27 19:52] #58 closed

[2016-10-28 14:51] adamsampson opened #60 "Typo on live site"
https://technet.microsoft.com/en-us/itpro/windows/deploy/activate-using-active-directory-based-activation-client

The bottom of the page references  "slmrg.vbs /dlv" instead of  "slmgr.vbs /dlv".  The version here on github appears correct.

[2016-10-28 17:36] greg-lindsay commented on #60
Thanks for catching this. I've fixed it in the repository and it will go live when the next push happens.

[2016-10-28 19:43] #60 closed

[2016-11-03 12:48] imfgmbh commented on #37
Still no update, very unclear for o365 Business users, whether you need extra tools or not (e.g. EMs or intune)

[2016-11-07 10:52] stefanfritsch opened #66 "Adding AAD users doesn't work"
Hi,

the following

    Enter Authenticated Users, then click Check Names. If the Name Not Found window opens, click Locations and select this PC.

doesn't work. Not even my own user appears in the list, never mind anyone else from Azure AD. I tried email, AzureAD\UserName and just UserName. They also don't appear in the list of objects (which is less surprising).

Could you please expand your gui

[2016-11-07 21:49] brianlic-msft commented on #66
@stefanfritsch In which file did you see this?  Thanks!

[2016-11-09 14:22] stefanfritsch commented on #66
In
https://github.com/Microsoft/windows-itpro-docs/blob/master/windows/manage/connect-to-remote-aadj-pc.md

Sorry, didn't realize the repo contained all the documentation

[2016-11-09 14:41] PixelRobots opened #69 "activate-using-active-directory-based-activation-client"
Screenshots 14 and 15 are the wrong way around for https://technet.microsoft.com/en-gb/itpro/windows/deploy/activate-using-active-directory-based-activation-client

[2016-11-09 17:41] brianlic-msft commented on #66
@jdeckerMS can you take a look?

[2016-11-09 17:43] jdeckerMS commented on #66
hi Stefan, to make this work, you add the local group "Authenticated Users" (step 4). You can't specify specific Azure AD accounts.

[2016-11-09 18:21] #66 closed

[2016-11-09 18:46] greg-lindsay commented on #69
Thanks for catching this. It is fixed in the repository and will publish the next time we push an update.

[2016-11-09 18:47] #69 closed

[2016-11-10 14:35] poseidon250 opened #74 "Misleading text"
The test "Your employees can change this setting by changing the Internet Explorer default value from the Set Default Programs area of the Control Panel." is correct, but apply only to the next logon.  Please add information on how to set the default browser at first logon, and then the user can change it permanent.

[2016-11-10 16:39] brianlic-msft commented on #74
@poseidon250 Thanks for the feedback!  In which topic did you see this?

[2016-11-11 18:14] #48 closed

[2016-11-13 10:27] poseidon250 commented on #74
In the bottom of this article:  https://technet.microsoft.com/en-us/itpro/internet-explorer/ie11-deploy-guide/set-the-default-browser-using-group-policy

[2016-11-14 17:04] eross-msft commented on #74
Thank you for your help to make this topic better, we appreciate you taking the time to contribute!
At this time, we're reviewing your contribution and will get back to you within the week.

[2016-11-15 14:39] stefanfritsch commented on #66
Actually, you can.

The user has to log in locally first to get the SID on the Computer, then use

    net localgroup "Remote Desktop Users" /add "AzureAD\FirstnameLastname"

It would be nice if you could add that to the guide.

[2016-11-16 19:12] eross-msft commented on #74
I'm tracking down more info about this and hope to have something for you next week.

[2016-11-16 20:44] jdeckerMS commented on #66
Thanks, Stefan, I've added that to my task list to investigate.

[2016-11-16 22:23] TrudyHa commented on #37
@imfgmbh ... To address your questions ...
- MDM is supported for Windows 10 and Windows 10 Mobile
- Group Policy support is only for Windows 10 (and Server 2016 - for this GPO listed in the topic)
- O365 MDM -- This program is aimed at managing access to Excahnge accounts, and doesn't support the RequirePrivateStoreOnly attribute: https://msdn.microsoft.com/en-us/library/windows/hardware/dn904962

[2016-11-23 18:28] puneet-msft commented on #74
@poseidon250 Thanks for your feedback. To be sure I understand it right: Is the feedback to elaborate the steps required to change the default browser at login through program access and defaults given that you saw that after configuring this setting, it did not enable IE as the default browser until the next logon.

[2016-11-23 20:31] poseidon250 commented on #74
The article tells the user that "Your employees can change this setting by changing the Internet Explorer default value from the Set Default Programs area of the Control Panel."  That is correct, but you need to explain that this setting is reset after next logon.

[2016-11-28 21:22] randytho opened #81 "WMIC and Setting the MDT Driver Path"
Regarding the portion of the article:

Prior to update 2, I have used the command `wmic computersystem get model` and manufacturer to build the MDT folders in out of box drivers. With the latest PE litetouch I am not getting the same result back from WMIC and therefore my driver injection is failing.  I have verified the difference in output by booting from an old boot media created prior to updat

[2016-12-09 18:12] randytho commented on #81
This is the issue: https://social.technet.microsoft.com/Forums/en-US/9a9cc1ba-d6f2-4e20-841d-c8b809647b66/windows-mdt-2013-update-1-injecting-driver-problems?forum=mdt&prof=required

[2016-12-13 07:57] mschilt opened #86 "Windows Event Forwarding / Missing information"
windows-itpro-docs/windows/keep-secure/use-windows-event-forwarding-to-assist-in-instrusion-detection.md

I really like the content and structure of that article. Its the best source for Windows Event Forwarding I could find. I would like to share what I found when tuning a Server to receive events from around 50k Clients.
* all transactions (wsman and receiving logs) are based on the http.sys web

[2016-12-13 18:07] tedhardyMSFT commented on #86
Hi! Those are some good additions. I'll make some changes using them.

Some In my experience having a WEC server with over 10k leads to a potentially unstable system, event with tuning leads to network exhaustion or registry contention for updating all of the client bookmarks. The 10k by 10k box is for a maximally stable system that can be set up and leave headroom for surges but also not require

[2016-12-15 15:20] mfahadjalil opened #88 "Device Account info can't be found. Make sure the device account is setup (0x80FF009)"
Hello Guys,
Please help me solve the following error while configuring Microsoft Surface Hub.

**Device Account info can't be found. Make sure the device account is setup (0x80FF0009)**

Thanks!!

![img_20161214_155435](https://cloud.githubusercontent.com/assets/24590162/21229575/aa52bcda-c2a7-11e6-9404-90543613329e.jpg)

[2016-12-15 15:21] mfahadjalil commented on #88
Sorry for type, Error Code is 0x80FF0009

[2016-12-16 12:36] alexverboon opened #90 "WMI filters for Windows 10"
The article says:

•Windows 10
•Windows Server 2016

But the article doesn't contain any examples for Windows 10 nor Server 2016, can this be added please?

[2016-12-16 18:01] brianlic-msft commented on #90
@alexverboon Can you list the file where you're seeing this?

[2016-12-16 21:50] alexverboon commented on #90
Hi, here's the link
https://technet.microsoft.com/en-us/itpro/windows/keep-secure/create-wmi-filters-for-the-gpo

It only shows Windows 8 and server 2012 examples

Cheers
Alex

[2016-12-20 08:00] JerodPowell opened #92 "Is this actually real?"
Microsoft is targeting Windows 10 Enterprise E3 for small biz and in some places says for as little as one user but then recommends 50.  My issue is a user must have windows 10 pro anniversary update before they can even leverage he Windows 10 Enterprise E3 license?  I have combed the web and Microsoft site for a different answer and this was all I could find that definitely said, Azure AD joined

[2016-12-20 23:21] DLAtWork opened #93 "Start Menu Customization Documentation Updates for Win10 1607"
We've found an issue with the Export-StartLayout commandlet in 1607 when you have .URL files pinned to the Start menu as tiles that should be addressed or documented.

In 1511 if you pinned a .URL shortcut from "All Apps" to the Start menu, then exported the layout via Export-StartLayout the resulting XML file would contain an entry like this:

`<start:DesktopApplicationTile Size="2x2" Column="0"

[2016-12-22 19:05] Justinha commented on #90
Thanks for the suggestion Alex. I changed the examples to Windows 10 and Windows Server 2016.

[2017-01-03 18:54] jdeckerMS commented on #88
Hello mfahadjalil, the best way to get help configuring your Surface Hub is by contacting Surface Hub support. Start at this page: [Microsoft Surface Hub](https://www.microsoft.com/surface/en-us/support/surface-hub).

[2017-01-03 18:59] #90 closed

[2017-01-03 19:01] #37 closed

[2017-01-04 16:46] jdeckerMS commented on #93
Thanks for bringing this to our attention. I've forwarded your comments to the engineering team to review and determine what changes need to be made to the documentation.

[2017-01-05 21:03] gautamsi opened #96 "Import-Topic? should not this be Import-Module?"
See section `Connect to the deployment share using Windows PowerShell` in /windows/deploy/create-a-windows-10-reference-image.md

I don't think Import-Topic is even a cmdlet on Windows 10? It is used as importing module.

[2017-01-06 12:25] mohanse opened #99 "In Exchange on-prem setup issue"
In Exchange on-prem setup from (https://technet.microsoft.com/en-us/itpro/surface-hub/hybrid-deployment-surface-hub-device-accounts)

Unable to enable RoommailboxAccount in EXO for the federated account

Set-Mailbox 'HUB01@contoso.com' -RoomMailboxPassword $credNewAccount.Password -EnableRoomMailboxAccount $true

![capture](https://cloud.githubusercontent.com/assets/24958307/21717782/28d00b20-d40b

[2017-01-06 12:33] mohanse opened #100 "SHAccountValidate.ps1 issues when validating Hybrid accounts"
$strAlias and $strLyncIdentity  variables are used to validate PasswordNeverExpires and Skype for Business account. The value is assigned from $mailbox.Alias. The alias is not a UPN , therefore the validation fails although the account is configured correctly.

I suggest we get the value (assign the value) from

$mailbox.UserPrincipalName to validate PasswordNeverExpires settings

$mailbox.UserPri

[2017-01-06 18:50] brianlic-msft commented on #96
@gautamsi Thanks for reporting this!  It has been fixed.

[2017-01-06 18:50] #96 closed

[2017-01-10 15:14] jdeckerMS commented on #93
A bug has been opened and the engineering team is investigating. I don't have a time estimate of when they'll complete this action.

[2017-01-10 15:31] #88 closed

[2017-01-10 16:23] DLAtWork commented on #93
Thanks Jeanie, your work is much appreciated.

In working further on customizing our Win10 1607 Start menu XML layout for kiosk use we've also found... oddities in how Win10 handles redirected Start menu shortcuts and pinned tiles. Briefly a LNK shortcut has to exist in both the local ALLUSERSPROFILE Start menu directory structure AND in the redirected Start menu directory for the pinned tile to a

[2017-01-10 16:28] jdeckerMS commented on #93
I've added your additional information to the bug for the engineering team, thank you! I'll get in touch here if they ask for more details. :)

[2017-01-10 17:46] #86 closed

[2017-01-10 20:50] jdeckerMS commented on #99
Thanks for providing this information. I'll pass it on to the engineering team to investigate if changes to the topic are needed. Sorry that I can't provide an estimate for when any changes will be made.

[2017-01-10 20:51] jdeckerMS commented on #100
Thanks for providing this information. I'll pass it on to the engineering team to investigate if changes to the topic are needed. Sorry that I can't provide an estimate for when any changes will be made.

[2017-01-11 13:00] sub2d opened #104 "Issue setting up SurfaceHub with Exchange on O365-D"
Environment has one unique SIP and multiple SMTP domain. UPNs match SMTP domain. Everything was setup as described in guide only part that was not working was Exchange. After [checking connectivity](https://testconnectivity.microsoft.com/) for Exchange ActiveSync Autodiscover we found following URI.
"https://exchange.contoso.com/Microsoft-Server-ActiveSync".

After adding this part exchange was se

[2017-01-11 16:15] jdeckerMS commented on #104
Thanks for providing this information. I'll pass it on to the engineering team to investigate if changes to the topic are needed. Sorry that I can't provide an estimate for when any changes will be made.

[2017-01-19 11:44] NJArcher opened #105 "Can't remove start menu customisation"
Hi,
When you setup a policy to apply a custom start menu layout then it should be documented how to go back to the default. I've found that once you apply a custom start menu layout then this persists even after the policy has been disabled removing the value  HKCU\Software\Policies\Microsoft\Windows\Explorer!StartLayoutFile.
The only way I can return to the default start menu layout is to delete

[2017-01-19 15:32] jdeckerMS commented on #105
Thanks for bringing this to our attention. I'll contact the engineering team to discuss adding guidance for this situation to the documentation.

[2017-01-21 17:46] loosus456 opened #109 "Automated method of setting default Start and taskbar layout for images?"
I don't see a completely automated method in the documentation for setting the default Start layout and default taskbar layout for new users in an automated fashion.

**Group Policy**: does not set a simple default layout; instead, it locks the layout so that the user cannot make persistent changes.

**ICD**: sets a default layout but requires manual intervention from the IT professional.  The las

[2017-01-23 16:49] jdeckerMS commented on #109
Admins can use either Group Policy or MDM to deploy a partial Start layout which permits users to add their own tile groups.

Import-StartLayout applies the XML to a mounted image, and is referenced in this topic: https://technet.microsoft.com/en-us/itpro/windows/manage/customize-windows-10-start-screens-by-using-group-policy#bkmk-howstartscreencontrolworks

I will open a request for adding instru

[2017-01-23 21:02] loosus456 commented on #109
That cmdlet can be used with both mounted images and the online image (i.e., the image you're currently using). That's why I felt that it belongs in the existing documentation because it accomplishes a default layout just like ICD does, just without manual intervention from the IT professional.

In any case, thanks for looking.

[2017-01-24 04:46] loosus456 opened #111 "Significant difference in behavior for "Force a specific default lock screen image" between 1511 and 1607"
The Windows Spotlight documentation (https://technet.microsoft.com/en-us/itpro/windows/manage/windows-spotlight) states the following:

In 1511, this Group Policy worked exactly as stated above: it replaced the inbox default lock screen image.  Users could still choose their own lock screen image.

There is a separate policy, **Prevent changing lock screen image**, that can additionally and option

[2017-01-24 15:42] jdeckerMS commented on #111
I'm checking with the engineering team and will let you know what I learn from them.

[2017-01-25 19:19] fluggo opened #113 "Seen 4774(F) in the wild"
I don't have any authoritative information to add, but I can say with certainty that I have seen an event 4774(F) in the wild. The [documentation](https://technet.microsoft.com/en-us/itpro/windows/keep-secure/event-4774) only mentions a success event, and pretty much says it never happens.

Details on the event in the while can be found [here](http://forum.ultimatewindowssecurity.com/Topic7313-282

[2017-01-27 22:17] jdeckerMS commented on #111
Sorry for the delay! I've confirmed that the behavior you're seeing in 1607 is a bug. "Force a specific default lock screen" is not supposed to prevent the user from changing it. This will be fixed in the next feature update.

[2017-01-27 22:42] #111 closed

[2017-01-30 22:04] Justinha commented on #113
@fluggo thanks for sharing this. I added it to the topic.

[2017-01-30 22:14] #113 closed

[2017-02-02 17:18] toadlife opened #118 "Windows Easy Transfer in Windows 10"
In the docs for the user state migration tool, it says that for a small number of computers the Windows Easy Transfer wizard can be used, but the WETW is not available for Windows 10.

[2017-02-02 23:43] greg-lindsay commented on #118
Thanks for catching this! I've updated the topic to indicate that PCmover Express should be used intead, per https://support.microsoft.com/en-us/instantanswers/d4872cf1-5854-a363-2e14-2497f56f1505/windows-easy-transfer-is-not-available-in-windows-10

The changes will be live tomorrow, 2/3/2017

[2017-02-03 00:48] toadlife commented on #118
Thanks. I actually ended up using the User State Migration feature of our SCCM 2012 R2 system. It worked perfectly. I wish I had looked into that feature years ago!

[2017-02-03 18:11] #118 closed

[2017-02-03 19:58] #109 closed

[2017-02-03 19:59] #93 closed

[2017-02-06 08:33] VyacheslavKokorin opened #121 "Remote Desktop"
I can not connect to Azure AD-joined PC. But It says what it's passable in this article https://technet.microsoft.com/en-us/itpro/windows/manage/connect-to-remote-aadj-pc.
The author is Jeanie Decker. I need to ask her about this. Help me please.

[2017-02-06 18:12] jdeckerMS commented on #121
Hi, do you have questions or feedback about the topic?

[2017-02-08 07:28] VyacheslavKokorin commented on #121
Hello! Yes, I want to say what it doesn't work. I make all settings as you say. Are you sure that it works exactly as you say?

[2017-02-08 14:47] jdeckerMS commented on #121
It should work as documented. You can check with your Azure Active Directory administrator to make sure remote connections aren't blocked by any policies, and contact https://support.microsoft.com for support.

[2017-02-08 19:26] VyacheslavKokorin commented on #121
It should, but it doesn't not. :(

[2017-02-08 19:28] jdeckerMS commented on #121
Please contact https://support.microsoft.com for support.

[2017-02-14 15:22] #121 closed

[2017-02-15 07:18] michaellaunch opened #124 "Win 10 Pro start menu customization issues feedback"
Hi jdeckerMS,
Re: article: https://technet.microsoft.com/en-au/itpro/windows/manage/customize-windows-10-start-screens-by-using-group-policy

The problem is that us IT Admins trying to administer 500+ staff on Win 10 pro and not having all the options to preset layout for new user and then allow  them to freely rearrange is not currently possible. I would like Microsoft to add group policy setting

[2017-02-15 07:19] michaellaunch commented on #124
@jdeckerMS
Thought I check with you.

[2017-02-15 15:11] jdeckerMS commented on #124
Hi Michael, this would be a good suggestion to submit using the Feedback Hub in Windows 10. That's the best avenue for feedback on the product.

[2017-02-22 19:51] loosus456 opened #129 "Taskbar configuration in Enterprise and Education"
I have read, tested, and verified the Windows 10 1607 taskbar configuration using an XML layout file, as documented at https://technet.microsoft.com/en-us/itpro/windows/manage/configure-windows-10-taskbar.

The documentation notes the following:

Everything above is technically true.  However, by setting the configuration using Group Policy (and thus setting a taskbar configuration that _does_ all

[2017-02-23 09:29] Steltek commented on #99
Same problem here. You can't set those in EXO, and you can't set the on-prem either as Set-RemoteMailbox does not have the -RoomMailboxPassword and -EnableRoomMailboxAccount parameters.

[2017-02-23 18:34] jdeckerMS commented on #129
Please correct me if I'm misreading you -- it sounds like you're applying an XML layout file that only configures the taskbar, and then applying it using Group Policy -- is that correct? If so, you're seeing the expected behavior. "•In Group Policy, you use the Start Layout settings for the Start Menu and Taskbar administrative template to set a Start and taskbar layout from an .xml file when the

[2017-02-23 18:44] loosus456 commented on #129
Not exactly.

The documentation I listed above states that, when you set the Group Policy, the default taskbar configuration is applied only once when the user first logs in.  Then, the user can make changes to the taskbar that persist.  This is expected.

However, whether you apply a Start layout in that same XML file is irrelevant; in either case, the Start layout is locked and cannot be changed

[2017-02-23 19:04] jdeckerMS commented on #129
The only option for setting a default Start layout and allowing users to make changes to Start (except to the tile group applied in the Start layout) is to use a partial Start layout: https://technet.microsoft.com/en-us/itpro/windows/manage/customize-and-export-start-layout#configure-a-partial-start-layout

[2017-02-23 20:05] loosus456 commented on #129
If that's the case, then there is no way to achieve the above scenario, which is what I think most people reading the documentation are trying to achieve.

That's why I think there should be a warning in the documentation indicating that setting the Group Policy for the taskbar configuration will inadvertently lock the user from making changes to the Start layout.  The taskbar-configuration docume

[2017-02-23 20:08] loosus456 commented on #129
Also: the following isn't true:

You can set a default Start layout **and** allow users to make any and all changes to Start by using (a) CopyProfile or (b) importing the Start layout via PowerShell.  Both of these methods are Microsoft-supported and Microsoft-official methods of setting the layout of the Start menu without prohibiting users from making permanent changes to the Start layout.

What

[2017-02-24 14:48] jdeckerMS commented on #99
The engineering team has verified the steps work generally, but as mentioned in the topic, there are many variations possible in a specific environment/topology. For assistance, please contact Microsoft Support (https://www.microsoft.com/surface/en-us/support/contact-us-business-surface-hub).

[2017-02-24 15:22] jdeckerMS commented on #129
My comment was in the context of the topic -- the only option [when using the layout XML]. Sorry for the confusion.

The Important note on the taskbar topic has been expanded to include the impacts of using Group Policy. It should go live later today. Thanks for your feedback!

[2017-02-24 16:16] #129 closed

[2017-02-24 16:17] #99 closed

[2017-02-28 22:42] KevinKennedy opened #131 "In the "sideloading apps in windows 10" page, the steps for importing security certificates seem switched between the managed and unmanaged devices."
In: windows-itpro-docs/windows/deploy/sideload-apps-in-windows-10.md

The content for these sections seems switched:

To import the security certificate for managed devices
    Open the security certificate for the appx package, and select Install Certificate.
    On the Certificate Import Wizard, select Local Machine.
    Import the certificate to the Trusted Root Certification Authorities folder

[2017-03-01 17:35] Diagg opened #133 "Missing reference for Windows store App in the taskbar"
Hi jdeckerMS,

Ref: https://github.com/Microsoft/windows-itpro-docs/blob/master/windows/manage/configure-windows-10-taskbar.md

I just want to stress that an exemple with the Store app pinned to the taskbar is requiered ! If i want to get AUMID of the store app using Export-Startlayout, the AUMID is Microsoft.WindowsStore_8wekyb3d8bbwe!App .

This AUMID works fine for the start menu but not for th

[2017-03-07 18:50] 1RedOne opened #136 "This page references 'anti-TPM hammering' but doesn't give figures"
Specifically in this quote

No further information is igiven.

What should be displayed:

* examples of the anti-hammering capabiilties
* default and recommended thresholds for these capabilities

[2017-03-08 14:27] Donny247 opened #137 "Typographic error in UE-V section"
There is a typographic error in the UEV section.

Consider replacing this
With the release of Windows 10, version 1607, UE-V is included with the Windows 10 for Enterprise edition. If you are new to Windows 10 and **EU-V**

With this
With the release of Windows 10, version 1607, UE-V is included with the Windows 10 for Enterprise edition. If you are new to Windows 10 and **UE-V**

[2017-03-09 22:37] DaniHalfin commented on #136
Thanks for the feedback. I've looked into it and it seems like we reference this in 3 different ways - "anti-hammering", "brute-force attack resistance", "dictionary attack logic behavior".
We'll be looking to change all the references to be more consistent. Appreciate you pointing it out to us!

[2017-03-10 13:13] Kazzan opened #138 "Start layout XML and Custom LogoURI"
There is not statement if Square150x150LogoUri and Wide310x150LogoUri can be set some other file path different from ms-appdata:/// and ms-appx:///.

These are generated by Edge when Site is Pinned, but we want to set different picture.

Also site http://www.buildmypinnedsite.com/ state another size of Tile which can not be set by XML.

And in Arguments are more elements like -formatVersion 0x0000

[2017-03-10 20:47] jdeckerMS commented on #138
Thanks for your feedback. I'll review your suggestions with the engineering team to see about making changes to the documentation. (www.buildmypinnedsite.com is not a Microsoft property)

[2017-03-10 21:47] Kazzan commented on #138
Thanks for reply. It will be nice to make this clear.

And, based on WHOIS records of this domain, it looks like as very Microsoft property of Edge Dev Team.

[2017-03-11 00:16] emphasismemorandum commented on #138
Unfortunately energy power outage, unable to overview tech issues. 

Sent from Yahoo Mail on Android

  On Fri, Mar 10, 2017 at 3:47 PM, Jeanie Decker<notifications@github.com> wrote:
Thanks for your feedback. I'll review your suggestions with the engineering team to see about making changes to the documentation. (www.buildmypinnedsite.com is not a Microsoft property)

—
You are receiving this bec

[2017-03-13 14:22] jdeckerMS commented on #138
Kassan, you're right, I must have looked up the domain ownership incorrectly.

[2017-03-15 14:26] eduardooropeza opened #142 "Loading the SchoolSharedPcs app to Windows ICD"
Has anyone been able to load the SharedPc app to windows ICD without getting errors to add or modify settings/policy's?

[2017-03-15 16:29] #138 closed

[2017-03-15 21:35] eduardooropeza commented on #142
Yes sorry I meant the Set up School Pcs App. I am trying to load that Microsoft provision package to Windows ICD to modify certain policy's in it that are disabled such as Biometrics, or Windows Hello, without loosing the policy's already in place or the other customizations such as background and start tiles, or the removal of non educational apps.

[2017-03-15 21:56] CelesteDG commented on #142
Are you trying to modify a .ppkg that was created using the Set up School PCs app? When you did this, did you start WICD and then import the .ppkg as a starting point? If you have the raw XML file that was used to generate the .ppkg, you can also just modify the .xml directly (add the settings you do want, remove any that you don't, etc) and use the command-line to generate a new .ppkg out of that

[2017-03-16 08:20] Kazzan commented on #138
Elizabeth Ross: Hi, how exactly was my question handled? I do not see any relevant change at https://msdn.microsoft.com/en-us/library/windows/hardware/mt171092(v=vs.85).aspx.

[2017-03-16 13:44] jdeckerMS commented on #138
We got your feedback and it's in the work queue, but I can't estimate when a change will be made to the online documentation.

[2017-03-16 20:10] eross-msft commented on #74
@puneet-msft  Bringing this back to the top to finish discussion and determine action.

[2017-03-24 21:53] eross-msft commented on #137
Merging the change from exchange12rocks. Closing this issue.

[2017-03-24 21:53] #137 closed

[2017-03-27 23:37] DaniHalfin commented on #136
Hi again, after some consideration, we feel like all 3 term have a place in our content. We would be looking to make changes to position anti-hammering as the protection mechanism against brute-force attacks, with dictionary attacks being an elaborate form of a brute-force attack.

Let me know if you have any thoughts or feedback, while we work to edit this into our content.
Again, we appreciate y

[2017-04-06 11:15] buena44 opened #151 "Chassis Types Range Error"
On document : basic-level-windows-diagnostic-events-and-fields.md

"ChassisType Represents the type of device chassis, such as desktop or low profile desktop. The possible values can range between 1 - 24."

But it should be 1 - 36

Source : https://www.dmtf.org/standards/smbios
Doc: DSP0134	3.1.1

[2017-04-07 16:42] brianlic-msft commented on #151
@buena44 This has been fixed.  Thank you for the feedback!

[2017-04-07 16:42] #151 closed

[2017-04-12 12:39] AronParker opened #156 "Correct registry key location"
https://technet.microsoft.com/itpro/windows/configure/manage-connections-from-windows-operating-system-components-to-microsoft-services#certificate-trust-lists

In section "3. Date & Time" it says regarding the registry path:
HKEY_LOCAL_MACHINE\Policies\Microsoft\W32time\TimeProviders\NtpClient!Enabled

However I believe it should be:
HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\W32time\TimeProv

[2017-04-12 14:55] jason4tw opened #157 "Page is horribly wrong and mis-leading"
re: https://technet.microsoft.com/en-us/itpro/windows/update/waas-manage-updates-configuration-manager

All references to setting a GPO for update/upgrade deferral are completely incorrect and need to be removed as this will break Software Updates in ConfigMgr and enable dual-scan: https://blogs.technet.microsoft.com/windowsserver/2017/01/09/why-wsus-and-sccm-managed-clients-are-reaching-out-to-mi

[2017-04-12 18:44] Justinha commented on #156
@AronParker Thanks for the correction. It is published now.

[2017-04-13 18:26] AronParker commented on #156
Thanks for the quick fix!

[2017-04-13 18:26] #156 closed

[2017-04-13 18:27] AronParker opened #160 "Correct invalid registry keys from 1. to 17.1"
Source: https://technet.microsoft.com/itpro/windows/configure/manage-connections-from-windows-operating-system-components-to-microsoft-services

[code]

I verified all my findings using Process Monitor and modifying the appropriate group policy.

[2017-04-13 19:32] eross-msft commented on #160
Can you provide the URL for the topic this came out of? I want to make sure the proper author receives your comments. Thank you!

[2017-04-13 19:35] DaniHalfin commented on #157
Hi,
We've discussed this both internally and with MVPs. It will be fixed ASAP.

[2017-04-13 20:02] #157 closed

[2017-04-13 20:27] AronParker commented on #160
Oh sorry! It came from here: https://technet.microsoft.com/itpro/windows/configure/manage-connections-from-windows-operating-system-components-to-microsoft-services#bkmk-onedrive

[2017-04-17 17:22] brianlic-msft commented on #160
@AronParker Thanks for the feedback.  These have been fixed.

[2017-04-17 17:22] #160 closed

[2017-04-18 20:00] kcmotmac76 opened #166 "Provisioning failure"
Hello Jeanie,

When I go to install the provisioning package on the PC I get a provision failure error.  I have tried like a thousand times and just can't get it to go.  Could you assist or point me in the right direction?  Thank you!  Error is attached.
![20170418_145427](https://cloud.githubusercontent.com/assets/27741140/25150480/aa65dade-2447-11e7-9ba6-8df4d939f792.jpg)

[2017-04-21 19:30] xiaobinkong opened #167 "Bitlocker CSP SyncML response is always 406(Optional feature not supported)"
Hi expert,

Since Windows 10 1703 announced to support Bitlocker CSP, I tried to verify it on my surface pro on which TPM is 2.0.

Before testing the Bitlocker CSP, I have upgraded Surface to 1703 build 15063.138, and set the Bitlocker to on for my OS drive.

Following the CSP specification, I send the Query, Add or Replace SyncML to my system, but all items return 406(Optional feature not support

[2017-04-25 23:28] DaniHalfin commented on #136
We have the changes lined up and ready to go.
A link was added for the anti-hammering term that redirects to the TPM fundamentals page, which contains an explanation about it.
Thanks again for your feedback and don't hesitate to let us know when you feel like our content is lacking. This one required some thinking, but I hope that in the end we got it right.
You should see the change in a day (or

[2017-04-26 13:49] #136 closed

[2017-04-26 17:41] rjbt opened #172 "Typo's"
In step 4 of the prerequisites you say you are installing SQL 2012 when in fact you are installing SQL 2014

[2017-04-26 20:55] eross-msft commented on #172
Which topic are you referencing?

[2017-04-26 21:13] rjbt commented on #172
[cid:image002.jpg@01D2BE97.43CCF390]

Robert Tichelman
Microsoft Canada | Premier Field Engineer (PFE) – System Center Configuration Manager | Vancouver, BC
robtich@microsoft.com<mailto:robtich@microsoft.com> | Cell: 778.387.2646 VoIP: 604.693.7926

From: Elizabeth Ross [mailto:notifications@github.com]
Sent: Wednesday, April 26, 2017 1:55 PM
To: Microsoft/windows-itpro-docs <windows-itpro-docs@no

[2017-04-27 15:56] eross-msft commented on #172
@rjbt
I'm not seeing an actual image, just text. Can you just include the URL to the page? Or even just the topic title?

[2017-04-27 16:39] jdeckerms commented on #166
Hi kcmotmac76! I'm sorry but I can't provide troubleshooting support. Your best approach is to contact Microsoft Support (https://support.microsoft.com/en-us) or post your issue in the IT Pro forum (https://social.technet.microsoft.com/Forums/en-US/home?forum=win10itprosetup).

[2017-04-27 16:43] eross-msft commented on #167
Hi @xiaobinkong,
This area is for help and questions specifically about the documentation. The best way to get help with the BitLocker functionality would be to contact support (https://support.microsoft.com/en-us/products/windows?os=windows-10). I'd also suggest reading the BitLocker content (https://docs.microsoft.com/en-us/windows/device-security/bitlocker/bitlocker-overview), if you haven't al

[2017-04-27 16:43] #167 closed

[2017-04-27 16:44] #166 closed

[2017-05-03 14:15] eross-msft commented on #172
Is there any update on the image or URL? Without more info I'm going to have to close this issue.

[2017-05-04 14:16] eross-msft commented on #172
@rjbt
I'm going to close this issue for now, but if you can give me more info, we can reopen this and address it.

[2017-05-04 14:23] rjbt commented on #172
I did reply to you showing the different versions of SQL being referenced. Did you not get the images?

Sent from my Windows 10 phone

From: Elizabeth Ross<mailto:notifications@github.com>
Sent: Thursday, May 4, 2017 10:16 AM
To: Microsoft/windows-itpro-docs<mailto:windows-itpro-docs@noreply.github.com>
Cc: Robert Tichelman<mailto:robtich@microsoft.com>; Mention<mailto:mention@noreply.github.com>

[2017-05-04 14:32] eross-msft commented on #74
Closing issue due to inactivity by contributors.

[2017-05-04 14:32] #74 closed

[2017-05-04 14:41] eross-msft commented on #172
No. Unfortunately, all I see in here is this txt: [cid:image002.jpg@01D2BE97.43CCF390]
If you want to try to resend the images, or even just tell me the topic name with the wrong SQL reference, we can get it updated.

[2017-05-04 14:47] jdeckerms commented on #133
Hi Diagg, according to the product team, you have the correct AUMID for Store. They said that any app icon will have a background like that if the app is not installed yet, and that clicking the icon will put the app on the top of the installation queue.

[2017-05-04 14:56] #133 closed

[2017-05-04 14:57] #124 closed

[2017-05-04 15:00] jdeckerms commented on #105
I'm still working on getting a resolution for this issue.

[2017-05-04 15:00] jdeckerms commented on #104
I'm still working on getting a resolution for this issue.

[2017-05-04 15:01] jdeckerms commented on #100
I'm still working on getting a resolution for this issue.

[2017-05-04 15:45] eross-msft commented on #92
You are correct, Windows 10 Pro version 1607 is a prerequisite. For more information, see https://docs.microsoft.com/en-us/windows/deployment/windows-10-enterprise-e3-overview.

[2017-05-04 15:45] #92 closed

[2017-05-04 16:41] CelesteDG commented on #142
No response. Please close for now. There is an updated "Use Set up School PCs app" topic that might be of help for now: https://docs.microsoft.com/en-us/education/windows/use-set-up-school-pcs-app

[2017-05-04 16:46] #142 closed

[2017-05-04 18:28] apantek commented on #172
Last sentence in "What if someone steals..." section. 'enablng' should say 'enabling'
![capture](https://cloud.githubusercontent.com/assets/28404821/25718969/8f7521de-30cd-11e7-896d-7000ffcd9326.PNG)

[2017-05-04 19:25] eross-msft commented on #172
@rjbt, the issue by @apantek isn't the same issue you're talking about, correct?
We can fix the "enabling" typo now, but I still need to know where to make the SQL reference fix.

[2017-05-04 20:03] DaniHalfin commented on #172
@apantek thanks for catching that one. Probably not the same issue as @rjbt found.
We've fixed that and you'll see it soon™.

[2017-05-04 20:04] eross-msft commented on #172
Thanks for doing that!

From: Dani Halfin [mailto:notifications@github.com]
Sent: Thursday, May 4, 2017 1:03 PM
To: Microsoft/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Elizabeth Ross <lizross@microsoft.com>; State change <state_change@noreply.github.com>
Subject: Re: [Microsoft/windows-itpro-docs] Typo's (#172)

@apantek<https://na01.safelinks.protection.outlook.com/?url=https

[2017-05-04 21:04] TrudyHa commented on #131
Thanks for the feedback. I'll verify and update the topic.

[2017-05-04 21:12] rjbt commented on #172
The problem is the version of SQL referenced in the steps 2 – 6 changes from SQL 2014 to SQL 2012 and then back to SQL 2014
[cid:image002.jpg@01D2C4F9.979F0E50]
Robert Tichelman
Microsoft Canada | Premier Field Engineer (PFE) – System Center Configuration Manager | Vancouver, BC
robtich@microsoft.com<mailto:robtich@microsoft.com> | Cell: 778.387.2646 VoIP: 604.693.7926

From: Elizabeth Ross [mailt

[2017-05-04 21:15] eross-msft commented on #172
@rjbt
I'm still just seeing text instead of images. I'm not sure how you're trying to attach the images, but it doesn't seem to be working for some reason. Now that I understand the problem is switching back and forth between the 2 SQL versions, I can do a search of our content and try to figure it out.

[2017-05-04 21:30] eross-msft commented on #172
I believe I found where you are talking about. It's in the Install prerequisites section of the https://docs.microsoft.com/en-us/windows/deployment/windows-10-poc-sc-config-mgr topic. Correct? Assuming this is the issue, I'll get the writer to review the text and update it for the changes. Thank you!!

[2017-05-04 21:31] rjbt commented on #172
Yes that is it.

Robert Tichelman
Microsoft Canada | Premier Field Engineer (PFE) – System Center Configuration Manager | Vancouver, BC
robtich@microsoft.com<mailto:robtich@microsoft.com> | Cell: 778.387.2646 VoIP: 604.693.7926

From: Elizabeth Ross [mailto:notifications@github.com]
Sent: Thursday, May 4, 2017 5:30 PM
To: Microsoft/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Rob

[2017-05-04 21:32] eross-msft commented on #172
Awesome, thank you! We'll get that addressed in the topic and republished.

[2017-05-04 21:32] #172 closed

[2017-05-12 13:37] sklynsma opened #197 "Continued use of MS-CHAPv2 while Cred Guard enabled?"
In the video on the [Microsoft Virtual Academy website Lesson #5 – Credential Guard Deployment ](https://mva.microsoft.com/en-us/training-courses/deep-dive-into-credential-guard-16651?l=sRcyvLJyC_3304300474) at about 4:45 of the video, the speaker (Seth) states “…if you want to use MS-CHAPv2, the credentials must be supplied by the user or stored in Credential Manager”.

How is this done exactly?

[2017-05-15 17:51] brianlic-msft commented on #197
The VPN client should provide a way to remember credentials.

[2017-05-15 18:32] sklynsma commented on #197
Brian,
This is an 802.1x issue…layer 2.   VPNs have not yet been established….in fact client hasn’t even been granted access to the network yet.

From: Brian Lich [mailto:notifications@github.com]
Sent: Monday, May 15, 2017 1:51 PM
To: Microsoft/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Klynsma, Steve <sklynsma@mitre.org>; Author <author@noreply.github.com>
Subject: Re: [Micro

[2017-05-15 18:42] brianlic-msft commented on #197
@gitmichiko can you help here?

[2017-05-15 21:12] GITMichiko commented on #197
The VPN client application should provide the way to "remember credentials". When a user checks a box or whatever UI is used, then the application should save the credential as a domain type specific to the VPN server targetname so it is protected when Credential Guard is enabled. Or they can simply prompt the user for credentials.

[2017-05-16 11:53] stoinov commented on #27
I came across [this answer](https://superuser.com/questions/1104810/clearing-tpm-does-not-ask-for-new-password-but-change-owner-password-asks-for), that might shed some light why this was removed.
And [here is](https://docs.microsoft.com/en-us/windows/device-security/tpm/change-the-tpm-owner-password) the detailed explanation by Microsoft on this change.

[2017-05-16 12:03] sklynsma commented on #197
But VPNs have not yet been established at the moment the supplicant system is plugged into the network.  You are running EAPoL and exchanging device (**not user**) credentials with the nearest network device (which in turn forwards those **device credentials** to a RADIUS policy server/Active Directory service for confirmation that device should be allowed on network).   Only after approval of tho

[2017-05-16 19:08] jdeckerms commented on #104
The Surface Hub documentation will be updated in the near future for the Windows 10, version 1703 release. Please let us know if the new docs don't address the issue adequately.

[2017-05-16 19:11] #104 closed

[2017-05-19 19:40] 1RedOne commented on #136
Thank you, that's a reasonable fix.

[2017-05-24 12:58] Kazzan opened #200 "Change in BitLocker PIN Length"
Hi, it seems that BitLocker default and minimum length get updated from 4 numbers to 6 numbers. You do not mention that in "What’s new for IT pros in the Windows 10 Creators Update" article. I mean that this is really big change primary for end user experience.

[2017-05-24 15:30] Justinha commented on #200
@Kazzan Thanks for the feedback. This was recently added to our docs, see https://docs.microsoft.com/en-us/windows/device-security/change-history-for-device-security

I'll forward your feedback to the blog owner for What’s new for IT pros in the Windows 10 Creators Update.

[2017-05-24 17:07] #200 closed

[2017-05-31 21:06] brianlic-msft commented on #197
@sklynsma If you still have questions, you should contact Microsoft Support.  Thanks!

[2017-05-31 21:06] #197 closed

[2017-05-31 21:08] brianlic-msft commented on #81
@randytho If you are still having problems, you should contact Microsoft Support.  Thanks!

[2017-05-31 21:08] #81 closed

[2017-06-14 16:12] jdeckerms commented on #105
NJArcher, there isn't a simpler method to revert a Start layout to default. I'm not adding the method that you found to the topic at this time as there is still an open question as to whether this is a recommended method that we support. But the product team is aware now of the scenario of an admin wanting to return to default and is exploring it. We appreciate you bringing this to our attention!

[2017-06-14 16:32] #105 closed

[2017-06-24 23:17] Antonlovesdnb opened #218 "Sample Device Guard Policy seems to break Powershell & Server Manager"
The following rule in the sample device guard bypass mitigation policy breaks Powershell & Server Manager on Windows Server 2016 build 14393

    _<Deny  ID="ID_DENY_SMA"           FriendlyName="System.Management.Automation.dll" FileName="System.Management.Automation.dll" MinimumFileVersion = "10.0.16215.999" />_

[2017-06-28 23:08] Justinha commented on #218
@Antonlovesdnb Thanks for reporting this issue. The engineering team believes that applying the quality update that was released this week will resolve this issue. Let us know if you still experience the issue after applying the quality update.

Thanks,
Justin [MSFT]

[2017-06-28 23:22] eross-msft commented on #218
Closing this issue. @Antonlovesdnb, if this doesn't address your issue, please feel free to reactivate. Or, you can create a pull request with the text changes you'd like to see online.

[2017-06-28 23:22] #218 closed

[2017-06-29 21:57] Antonlovesdnb commented on #218
dll version after the latest update is 10.0.14393.1378 which is still below the version in the sample configuration posted. Not a huge issue just a general heads up if someone wants to use the configuration file shown here. Thank you for looking into the issue.

[2017-07-18 23:07] computeronix opened #241 "Bad Link"
https://github.com/MicrosoftDocs/windows-itpro-docs/blob/master/windows/access-protection/access-control/access-control.md

The User Rights Assessment link is bad and issues a 404 error

I am still digging for the right link to do a PR

[2017-07-18 23:39] computeronix opened #246 "Change History for Deploy Windows 10 - md links"
https://docs.microsoft.com/en-us/windows/deployment/change-history-for-deploy-windows-10

md links are not being adjusted properly on the production site (.md is supposed to be removed).  I think putting a ./ fixes it but I could be wrong as I am pretty new to this

as a result 14 links on this page return 404

[2017-07-18 23:42] computeronix commented on #241
found: https://github.com/MicrosoftDocs/windows-itpro-docs/pull/247

[2017-07-18 23:42] #241 closed

[2017-07-19 17:51] greg-lindsay commented on #246
Someone added .md in the links. This needs to be removed. Thanks for noticing the error!

[2017-07-19 17:51] #246 closed

[2017-08-08 23:37] DaniHalfin opened #259 "Notification testing"
Are notifications working for Issues?

[2017-08-08 23:39] eross-msft commented on #259
Woo hoo!

[2017-08-08 23:40] #259 closed

[2017-08-16 00:31] jacobsweany opened #265 "Section about provisioning package is no longer accurate"
Within this document:

In this section:

WICD is mentioned as the method to import the start and taskbar layout configuration.
This is no longer accurate as this capability was taken out of WICD after Windows 10 1703.
See MSDN article about this change [here](https://msdn.microsoft.com/library/windows/hardware/dn898375?f=255&MSPPError=-2147217396).

This documentation should be updated to reflect

[2017-08-16 13:46] jdeckerms commented on #265
Hi jacobsweany -- yes, the **imaging** component of Windows Imaging and Configuration Designer was removed in 1703, and the MSDN article is explaining that you can't use WICD to create OS images anymore. However, Start/taskbar layout can be applied as a **runtime** setting in a provisioning package, applied during OOBE or after OOBE is complete.

[2017-08-16 13:53] #265 closed

[2017-08-16 15:50] jdeckerms commented on #100
Thanks for your patience - the engineering team is focused on updates to the product, so it was a bit of a challenge to get their validation. I finally got their go-ahead to make your suggested changes, and the topic should be updated today. Thank you for your feedback!

[2017-08-16 15:50] jacobsweany commented on #265
So I understand that it needs to be applied at runtime, but my point is that you cannot even create that package anymore in Windows Imaging and Configuration Designer.

This specific setting:

is not available in the current build of WICD, regardless if you select "All Windows editions".

[2017-08-16 15:52] #100 closed

[2017-08-16 15:53] jdeckerms commented on #265
That setting is there is you select "All Windows desktop editions".

[2017-08-16 18:53] jacobsweany commented on #265
Thanks! Apparently I didn't see "All Windows **desktop** editions".

[2017-08-16 18:57] jdeckerms commented on #265
Not a problem and glad we could figure it out. I appreciate you letting us know when you find issues in the docs -- thie one didn't need a fix, but others that you find might, so thank you!

[2017-09-02 01:43] zjalexander opened #277 "customer issue: script is incorrect"
I recieved customer feedback on the following:

$ShellLauncherClass.SetCustomShell($shell_SID, "C:\Program Files (x86)\...\xxx.exe”) ($null), ($null), ($Restart_shell)
the $restart shell is just a variable with a value of 0. for some reason the line does not like the parens with the null. the script fails at this point unless I remove the nulls.

The code is in the section for setting up the shell

[2017-09-07 21:41] jdeckerms commented on #277
I'm not a PowerShell expert, I'm just comparing the sample script to what you have. In the sample, there's a comma after the .exe, and no paren before $Restart_shell.

[2017-09-13 14:41] #277 closed

[2017-09-19 07:05] Borkason opened #285 "Link to "roaming user profile guidelines" is broken"
Link to "roaming user profile guidelines" is broken: https://github.com/MicrosoftDocs/windows-itpro-docs/blame/master/browsers/internet-explorer/ie11-deploy-guide/browser-cache-changes-and-roaming-profiles.md#L17

[2017-09-28 21:14] vpopescu opened #298 "IConfigServiceProvider2 - removed from Windows SDK?"
It appears the header file containing the definition for IConfigServiceProvider2 (cmgrcsp.h) has been removed from the Windows SDK. Does that indicate it will be contained in a separate SDK, deprecated, or... ?

[2017-10-03 15:31] eross-msft commented on #285
Thank you for pointing this out. Do you have a recommendation for a replacement link?

[2017-10-06 15:10] Skatterbrainz opened #303 "PowerShell example clarification"
Under "PowerShell example" section, the script line beginning with PsExec.exe contains an unmatched single quote near the end of my_powershell_script.ps1.  Is this a mistake?

PsExec.exe -accepteula -i -s cmd.exe /c powershell.exe my_powershell_script.ps1' >> %LOGFILE%

[2017-10-10 11:43] Borkason commented on #285
No, sorry. I don't know what exact guideline the author is referring to.

[2017-10-23 10:14] zeonos opened #317 "Cant access subfolders on phone."
We use the Set up school PCs without intunes and use Azure only to login to 365 accounts.

We set it up so we allow USB keys, and they seem to work perfectly, but if you insert a phone you wont be able to access subfolders on that phone, it will just say its blocked.

How can we remove that single block and allow it?

We have tested with both android and apple, and its the same on both, we need to

[2017-10-23 14:35] eross-msft commented on #303
Thank you for taking the time to add this issue; however, I need to know the article in which it was found so I can route it to the proper person. Thank you!!

[2017-10-23 14:36] eross-msft commented on #285
Thank you again for responding. I'll do a bit of digging and see if I can figure it out.

[2017-10-23 18:46] nickbrower commented on #298
This appears to be an issue with the Windows SDK, and not directly related to documentation.  Please report your issue with the [Feedback Hub](https://www.microsoft.com/en-us/store/p/feedback-hub/9nblggh4r32n) under the "Developer Platform" category for further assistance.

[2017-10-23 19:02] #298 closed

[2017-10-23 23:57] Skatterbrainz commented on #303
I used the comment box at the bottom of the document.  I submit quite a few comments each week on different documents.  I assumed it was passing along the document references with the comments.  I have no way to know which document this was related to unless I search my browser history from October 6. :(  I will try.

[2017-10-31 05:35] CelesteDG commented on #317
Hello. Thank you for your question. Can you please provide more info as to what kind of external storage the devices are reporting themselves as?

You can use the RestrictLocalStorage policy in the SharedPC CSP (https://docs.microsoft.com/en-us/windows/client-management/mdm/sharedpc-csp) to unblock all storage options. This will unblock you right away. We'd like to investigate a bit further so if

[2017-10-31 13:33] Darsstar opened #323 "Enterprise Mode scheme v2 seems to work on IE 11 running on Win 7 too"
In the following files can be read that IE 11 on Windows 7 can not handle Enterprise Mode scheme v2, or only Windows 10 is mentioned.
* browsers/internet-explorer/ie11-deploy-guide/what-is-enterprise-mode.md
* browsers/internet-explorer/ie11-deploy-guide/use-the-enterprise-mode-site-list-manager.md
* browsers/internet-explorer/ie11-deploy-guide/enterprise-mode-schema-version-2-guidance.md

However

[2017-11-06 20:58] csharmath opened #330 "Would be nice to document what is the Security Compliance Toolkit and how to use it with example scenarios"
I was looking at the various blog posts, docs links and can't find a single high level overview of how to use these security baselines or the security compliance toolkit.
There is this doc
https://docs.microsoft.com/en-us/windows/device-security/security-compliance-toolkit-10#what-is-the-security-compliance-toolkit-sct

But it simply fails to explain what is the toolkit really for and how to use i

[2017-11-17 03:17] fadingflower opened #344 "wrong zh-cn translation in https://docs.microsoft.com/zh-cn/windows/configuration/wcd/wcd-policies"
the Description of
"Do not allow update deferral policies to cause scans against Windows Update."
should be
"不允许更新延期策略对 Windows 更新执行扫描"
the doc in docs.microsoft.com translated to
"不允许更新延迟策略对 Windows 更新执行扫描。"

[2017-11-28 05:46] go4matthias opened #351 "MDM_AssignedAccess | MultiAppKiosk"
Hi,

refering to the following article
https://docs.microsoft.com/en-us/windows/configuration/lock-down-windows-10-to-specific-apps

When running the Powershell script, I'm missing the "configuration" of Namespace "MDM_AssignedAccess" even in Window10 Version 1709

Test (Get-CimClass -Namespace "MDM_AssignedAccess") reflect just the propertiess   {InstanceID, KioskModeApp, ParentID}

Tested with s

[2017-11-28 15:43] eross-msft commented on #323
Hi @Darsstar
You are correct, v2 is supported on Windows 10, Windows 8.1, and Windows 7. I only see the text missing from the browsers/internet-explorer/ie11-deploy-guide/use-the-enterprise-mode-site-list-manager.md topic, but please go ahead and make the changes in a pull request so that you get credit. Thanks!!

[2017-11-28 17:51] Justinha commented on #330
@csharmath thanks for this feedback. Sorry for my delayed reply here. What you suggest makes perfect sense. There is some related info in the parent topic at
https://docs.microsoft.com/en-us/windows/device-security/windows-security-baselines
 and that topic has a link to a related Ch 9 video at https://channel9.msdn.com/Shows/Defrag-Tools/Defrag-Tools-174-Security-Baseline-Policy-Analyzer-and-LGPO

[2017-11-28 20:29] csharmath commented on #330
Thanks for pointing out the channel9 video, it's definitely related and useful although the link text of Defrag Tools is a bit misleading for the naive reader, hence I didn't even click...
Also the video touches on some of the history and some intro, but it would be still better to have some docs with walk throughs.

So yes, I still feel that it would benefit the community if there is a reference

[2017-11-29 06:24] CelesteDG commented on #317
Hello. Please let us know if you have additional information so we can help with any issues. If we don't hear back by Dec 1st, we'll close the issue. Thank you.

[2017-11-29 16:20] eross-msft commented on #323
Closing this issue since there's now a pull request in place.

[2017-11-29 16:20] #323 closed

[2017-11-29 16:27] eross-msft commented on #344
Hi @fadingflower, thank you for pointing this out. I've created a bug for our localization team to address this problem.

[2017-11-30 04:40] computeronix opened #356 "Broken Link - Join Windows 10 Mobile to Azure Active Directory"
Azure AD Join on Windows 10 devices link points to https://go​.microsoft​.com/fwlin​k/p/?LinkI​D=616791 which then redirects to https://cloudblogs.microsoft.com/enterprisemobility/archive/2015/05/28/azure-ad-join-on-windows-10-devices.aspx which is not valid

Proposed new link for it to redirect you to: https://cloudblogs.microsoft.com/enterprisemobility/2015/05/28/azure-ad-join-on-windows-10-devi

[2017-11-30 15:45] jdatms commented on #351
Hi Matthias,

Which script isn't working for you? I'm not a PowerShell expert so I'll have to pass this on to our product team for assistance, but none of the PowerShell examples in the topic use Get-CimClass so I'm not sure which one has the problem.

thanks,
Jeanie

[2017-12-04 09:42] Crypt32 opened #360 "Requirements to use AppLocker"
The table has a number of issues in regards to Windows 8/8.1 family:
1) Windows 8 Pro **can be used to configure policies**, but not to enforce. First column must be set to **YES**.
2) Only Windows 8.1 Pro and Enterprise editions can be used to configure policies.
3) Only Windows 8.1 Enterprise can be used to enforce policies

2-3 -- Windows 8.1 and Windows 10 family must be split in two separate

[2017-12-04 13:25] go4matthias commented on #351
Hi Jeanie,

we wanna configure an Windows10 MultiApp Kiosk, as described in the URLs below.

https://docs.microsoft.com/en-us/windows/configuration/multi-app-kiosk-xml
https://docs.microsoft.com/en-us/windows/client-management/mdm/assignedaccess-csp

Single App Kiosk is working with AssignedAccess, but can not configure new varable «configuration»

[cid:image001.png@01D36D0B.7FE4DF50]
Please assis

[2017-12-05 01:41] Justinha commented on #330
I shared this issue with the engineering team that publishes the security baselines. They really appreciated the feedback and will look to add examples for the next Windows 10 release. They mentioned for GP version control, there are third-party GP add-ons.

Thanks,
Justin

[2017-12-05 01:47] #330 closed

[2017-12-05 14:34] jdatms commented on #351
Hi Matthias, it looks like you included a screenshot ([cid:image001.png@01D36D0B.7FE4DF50]) but it didn't come through. Could you paste the script that you're trying to run?

[2017-12-06 12:35] go4matthias commented on #351
Hi,

want to run the script from this side, referred to the picture with"configuration"

https://docs.microsoft.com/en-us/windows/client-management/mdm/assignedaccess-csp

When running an WMI explorer, can not find the property "configuration"

Beste Grüße
Matthias Mader

-------- Originalnachricht --------
Betreff: Re: [MicrosoftDocs/windows-itpro-docs] MDM_AssignedAccess | MultiAppKiosk (#351)
V

[2017-12-07 17:22] jdatms commented on #351
Hi Matthias,

There are several scripts in that topic. Please paste the script that you are using here. Thanks.

[2017-12-08 10:08] mattiasborg82 opened #368 "recommendation in: planning-settings-for-a-basic-firewall-policy"
Section:
Apply local firewall rules:
MS recommendation:
Yes. We recommend that you allow users to create and use local firewall rules. If you set this to No, then when a user clicks Allow on the notification message to allow traffic for a new program, Windows does not create a new firewall rule and the traffic remains blocked.
If you and the IT staff can create and maintain the list of firewall ru

[2017-12-11 06:01] go4matthias commented on #351
Hello,

we want to configure ./Device/Vendor/MSFT/AssignedAccess/Configuration

when searching in WMI Explorer, the property is not displayed even with Windows 10 Version 1709

Thats why the code attached fails

===========CODE===============
<?xml version="1.0" encoding="utf-8" ?>
<AssignedAccessConfiguration xmlns="http://schemas.microsoft.com/AssignedAccess/2017/config">
  <Profiles>
    <Profi

[2017-12-11 18:20] tidoel opened #372 "Update needed for Automatic Redeployment wording"
https://docs.microsoft.com/en-us/education/windows/windows-automatic-redeployment

OMA-URI: ./Vendor/MSFT/Policy/Config/CredentialProviders/DisableAutomaticReDeploymentCredentials
Data type: Boolean
Value: 1

Needs to be updated so that "Data type: Integer" & "Value: 0"

It does not currently work with the Boolean values.

[2017-12-11 18:44] CelesteDG commented on #372
Reviewed Tim's comments. Thank you for the feedback, Tim.

[2017-12-11 18:47] CelesteDG commented on #372
Hi Tim - I don't see a PR from you so I'll go ahead and make this change on our end.

[2017-12-12 21:21] jdatms commented on #351
Thanks, Matthias, the engineering team is looking into this. It may take some time before I have an answer for you.

[2017-12-14 17:19] #317 closed

[2017-12-14 17:20] brianlic-msft commented on #131
@TrudyHa Was the topic updated? Can I close this issue?

[2017-12-14 17:21] brianlic-msft commented on #285
@JasonGerend Can you recommend a new target for roaming user profile guidance?

[2017-12-14 17:22] brianlic-msft commented on #303
@Skatterbrainz Unfortunately, it doesn't pass through the file name. Were you able to track this down?

[2017-12-14 17:22] jdatms commented on #356
Thanks for pointing that out. I've fixed the fwlink, it may take a little while for the change to be live.

[2017-12-14 17:23] brianlic-msft commented on #372
@CelesteDG Let me know when the change is live and I'll close this issue.

[2017-12-14 17:23] #356 closed

[2017-12-14 18:25] JasonGerend commented on #285
Looks like this points to an old Windows Server 2003 topic that’s been archived. I’ll look into it a little.

From: Brian Lich [mailto:notifications@github.com]
Sent: Thursday, December 14, 2017 9:21 AM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Jason Gerend <jgerend@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-itpro

[2017-12-14 18:31] JasonGerend commented on #285
I couldn’t really figure out - the current link is owned by Liz, but points to Windows Server 2003 archived content. I looked around in that pdf but couldn't find an obvious target. Here is the latest guidance that I provide for roaming user profiles: https://technet.microsoft.com/library/jj649079(v=ws.11).aspx

[2017-12-14 18:34] brianlic-msft commented on #285
@eross-msft Can you update the FWLink link to point to the link above?

[2017-12-14 21:05] brianlic-msft commented on #372
@tidoel This should be fixed now. Thanks!

[2017-12-14 21:05] #372 closed

[2017-12-14 21:12] brianlic-msft commented on #360
@Justinha Can you take a look?

[2017-12-14 21:12] brianlic-msft commented on #368
@Justinha Can you take a look?

[2017-12-14 21:36] Justinha commented on #368
@mattiasborg82 thanks for the suggestion. This has been shared with the engineering team for consideration.

[2017-12-14 21:42] mattiasborg82 commented on #368
Thanks for the quick response! Let me know if you need anything else   Best regards Mattias Borg Sent from E-post for Windows 10 Från: Justin HallSkickat: den 14 december 2017 22:36Till: MicrosoftDocs/windows-itpro-docsKopia: Mattias Borg; MentionÄmne: Re: [MicrosoftDocs/windows-itpro-docs] recommendation in: planning-settings-for-a-basic-firewall-policy (#368) @mattiasborg82 thanks for the sugges

[2017-12-15 00:13] Justinha commented on #360
@Crypt32 Thanks for the corrections. We confirmed with our engineering team and the table has been updated. They indicated AppLocker can be enforced on workgroup machines; there has been no change in that respect.

[2017-12-15 17:02] #360 closed

[2017-12-15 17:37] Crypt32 commented on #360
unfortunately, it is incorrect statement, or additional information is missing. Reference: https://docs.microsoft.com/en-us/windows/device-security/applocker/configure-the-application-identity-service

Applocker relies on Application Identity service and you can't change its start type via services.msc on a standalone machine. If you start the service, Applocker rules won't apply until the server

[2017-12-15 17:41] Crypt32 opened #381 "Requirements to use AppLocker: workgroup environment"
Based on this issue: https://github.com/MicrosoftDocs/windows-itpro-docs/issues/360

Original quote:

unfortunately, it is incorrect statement, or additional information is missing. Reference: https://docs.microsoft.com/en-us/windows/device-security/applocker/configure-the-application-identity-service

Applocker relies on Application Identity service and you can't change its start type via service

[2017-12-15 17:49] Justinha commented on #360
@Crypt32 Thanks for explaining. I shared with engineering again and will follow up.

[2017-12-18 05:43] go4matthias commented on #351
Hi,

is there any way to assit,
or may I talk to an engenner/devloper.

Thanks in advance
Matthias

Video: Unterwegs einfach und sicher auf Firmendokumente zugreifen<http://bit.ly/2A4Maa6>

[Beschreibung: Mailfuss_Reto_neu]

                     Matthias Mader

                     Senior Mobile Consultant
                     Stauffacherstrasse 72
                     3014 Bern

[2018-01-01 20:44] Crypt32 opened #398 "Requirements to use AppLocker: Windows 10"
Reference article: https://docs.microsoft.com/en-us/windows/device-security/applocker/requirements-to-use-applocker

The table is incorrect in regards to Windows 10. Table says that Applocker can be configured and enforced on Windows 10. It is partially correct. Applocker can be **enforced** only on **Windows 10 Enterprise** SKU. It **cannot** be enforced on **Windows 10 Pro** or Home SKUs.

[2018-01-02 18:35] #285 closed

[2018-01-02 20:01] barlanmsft opened #399 "Updates for hololens-upgrade-enterprise.md"
Hi @jdeckerms - the Intune content in windows-itpro-docs/devices/hololens/hololens-upgrade-enterprise.md under **Edition upgrade using MDM** refers to the process in the Intune Classic portal. These steps have been relocated to Intune on Azure.

[2018-01-02 20:09] jdatms commented on #399
Thanks, Barry, I've opened a task to update the procedure. I can't give an estimate of when it will happen - it will depend on the priority of other work items.

[2018-01-02 20:10] #399 closed

[2018-01-04 21:19] RR13000 opened #405 "Auto-enroll Windows 10 devices without GPO"
Hi,
Can we auto-enroll Windows 10 devices without GPO? Apparently, with windows 10 1709 & AD Connect, it’s possible.. Do you know something about that?

Thanks you

[2018-01-05 18:14] asilverman opened #408 "The meaning of "...Externally transactioned nodes..." in the context of the node operation for a given ICSPNode is not clear"
Document - [Design a custom configuration service provider](https://github.com/MicrosoftDocs/windows-itpro-docs/blob/master/windows/client-management/mdm/design-a-custom-windows-csp.md)

In the section "Determine node operations", it is unclear what the definition and meaning for "...Externally transactioned nodes..." is missing. As a consequence it is impossible to understand the appropriate use

[2018-01-05 18:21] asilverman opened #409 "Missing example"
Document - [Design a custom configuration service provider](https://github.com/MicrosoftDocs/windows-itpro-docs/blob/master/windows/client-management/mdm/design-a-custom-windows-csp.md)

Issue: Missing examples for internode dependencies
-----
Section "Shape the configuration service provider's subtree" reads:

I would like to understand  through an example and further detail how to shape the conf

[2018-01-15 08:54] go4matthias commented on #351
Hello,

best wishes for 2018.

Are there any news about MDM_AssignedAccess

Best Regards
Matthias

Video: Unterwegs einfach und sicher auf Firmendokumente zugreifen<http://bit.ly/2A4Maa6>

[Beschreibung: Mailfuss_Reto_neu]

                     Matthias Mader

                     Senior Mobile Consultant
                     Stauffacherstrasse 72
                     3014 Bern

[2018-01-16 18:03] #303 closed

[2018-01-22 10:26] go4matthias commented on #351
Hi,

could you provide some update about this feature,
otherwise please forward to a responsible contact.

Regards
Matthias

Von: Matthias Mader
Gesendet: Mittwoch, 6. Dezember 2017 13:35
An: MicrosoftDocs/windows-itpro-docs <reply@reply.github.com>
Betreff: AW:[MicrosoftDocs/windows-itpro-docs] MDM_AssignedAccess | MultiAppKiosk (#351)

Hi,

want to run the script from this side, referred to the

[2018-01-22 18:16] jdeckerms commented on #351
That's your version -- could you check the build number ("OS Build")?

[2018-01-22 19:34] go4matthias commented on #351
I'm available to check a my client in a websession, maybe language related (swiss german)

Regards
Besten Gruß
Matthias Mader

-------- Originalnachricht --------
Betreff: Re: [MicrosoftDocs/windows-itpro-docs] MDM_AssignedAccess | MultiAppKiosk (#351)
Von: Jeanie Decker
An: MicrosoftDocs/windows-itpro-docs
Cc: Matthias Mader ,Author

They have not been able to replicate this, so they want the bui

[2018-01-30 21:15] jagadishmurugan commented on #351
Mathias,
This is the dev working on the issue. I was not able to replicate the issue on 1709 (i always see the Configuration node). Could you provide additional details about your system?
=> Is it a fresh install of 1709? or an upgrade from a previous OS? In case of upgrade, can you please provide the base version? I will follow up over email...

Thanks,
Jagadish

[2018-01-30 21:27] go4matthias commented on #351
Hi,

checked all windows in our office, no configuration, your available to check this remote tomorrow 9am CET?

regards
Matthias

Send from GMail, secured with Android Enterprise

Am 30.01.2018 22:16 schrieb Jagadish Murugan <notifications@github.com>:

Mathias,
This is the dev working on the issue. I was not able to replicate the issue on 1709 (i always see the Configuration node). Could you pro

[2018-01-31 00:43] jagadishmurugan commented on #351
Mathias,
I have a solid repro (update from 1703 to 1709) of the issue (no need to remote debug). Will get back as soon as i have some update on the issue.

Regards,
Jagadish

[2018-01-31 07:29] go4matthias commented on #351
Ah, probably that we all updated
Good that you could find it, looking forward to test the feature.
Thanks for your effort

Besten Gruß
Matthias Mader

-------- Originalnachricht --------
Betreff: Re: [MicrosoftDocs/windows-itpro-docs] MDM_AssignedAccess | MultiAppKiosk (#351)
Von: Jagadish Murugan
An: MicrosoftDocs/windows-itpro-docs
Cc: Matthias Mader ,Author

Mathias,
I have a solid repro (updat

[2018-02-01 23:53] jagadishmurugan commented on #351
Mathias,
Can you try the following workaround and see if it fixes the issue:
In admini prompt,
1) cd c:\windows\system32\wbem
2) mofcomp.exe DMWMIBridgeProv.mof

Thanks,
Jagadish

[2018-02-08 09:23] go4matthias commented on #351
HI,

that seams to be worked so far.
[cid:image002.jpg@01D39F17.22D401E0]

Is there a easy way to list the CSP Features, check if it worked - btw test the kiosk config locally ?

Thanks in advance
Matthias

Von: Jagadish Murugan [mailto:notifications@github.com]
Gesendet: Freitag, 2. Februar 2018 00:53
An: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Matthias Mader

[2018-02-08 12:16] optomux opened #477 "Connectivity Policy CSP"
There seems to be a bug in Windows 10 Enterprise N 1709 regarding Connectivity Policy CSP.
It says clearly "Added in Windows 10, version 1703." So it should work well it doesn't.
Does someone at Microsoft actually test this?

Yet it works on the latest Preview builds 17083 etc.

[code]

It will not restrict the Shared Experiences page in System.
![shared](https://user-images.githubusercontent.com/

[2018-02-08 23:48] happybear88 opened #480 "Protect your network with Windows Defender Exploit Guard - Windows 10 Editions are not specified"
Reference article https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-exploit-guard/network-protection-exploit-guard as well its children

**Issue**
No Windows edition specified, and therefore one might think it's applicable to Windows 10 Pro. However, the feature does not work in Windows 10 Pro. It works in Windows 10 Education, so it's probably only for the Enter

[2018-02-09 19:50] jagadishmurugan commented on #351
Hi Mathias,
Not sure I understand your request. Here's an attempt:
=> You can query/apply the AssignedAccess CSP features using:
        1) WMIBridge
        2) Deploy through MDM server (not sure you have this setup. if you already have this might be easier since u don't need to care about launching psexec..).
=> To test it, after applying the config, login as MultiAppKioskUser (or the user accou

[2018-03-08 18:54] TimMangan opened #535 "Education and Server versions of Windows"
on "Getting Started with App-V for Windows 10". The opening descriptions on this topic (and possibly title) need to be expanded to cover additional versions of the operating system.  To be honest I not even sure if the right terms would be editions or skus, but this should get worked in to clarify where the client components exist.  Also use on the server (RDS/RDMI) operating system should be incl

[2018-03-08 19:42] jason4tw opened #536 "MBAM group description needs clarification"
For https://docs.microsoft.com/en-us/microsoft-desktop-optimization-pack/mbam-v25/planning-for-mbam-25-groups-and-accounts:

The description for the "Reports read-only domain access group" and the "MBAM Report Users access group" is nearly identical above; both say "whose members have read-only access to the reports in the ... Administration and Monitoring Website." If you are going to have two gr

[2018-03-11 22:31] anthonypants opened #544 "policy-csp-search.md refers to nonexistent footnote"
The policies `AllowCortanaInAAD` and `DoNotUseWebResults` on this page refer to a secret, mysterious fourth footnote, of which only three exist. Should these policies refer to one of the existing footnotes? Does someone need to write a fourth footnote?

[2018-03-14 20:10] vukelich opened #550 "Missing Microsoft Download Center links for some Surface models"
Some of the older devices have links directly to the download center. It's missing for Surface Pro, Pro with LTE, Laptop, and Book 2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 586d1246-6e18-b33c-2382-52a53bb392f5
* Version Independent ID: 0ec4aa1e-aac0-98dd-0a47-83e93d854086
* Content: [Download the latest firmwar

[2018-03-15 19:11] stayrosmpampis opened #556 "lsuzex7"
ευχαριστω

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f5ed380-12c6-ad56-3f3b-1a0fe190acc9
* Version Independent ID: ecdc3e8c-21e4-0a4c-6208-67905a4e57d4
* Content: [Win32 and Desktop Bridge app policy configuration | Microsoft Docs](https://docs.microsoft.com/en-us/windows/client-management/mdm/win32-and-centennial

[2018-03-15 20:08] suzywager opened #557 "Local Group Policy vs GPME"
"Data Collection and Preview Builds" in GPME, does not list "Configure the Commercial ID"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5549abd-da28-5d11-49c6-e66ecf5cd0b6
* Version Independent ID: 0ad6a1a2-5c75-baeb-00de-a6649592ec69
* Content: [Get started with Update Compliance (Windows 10) | Microsoft Docs](https

[2018-03-16 05:08] harishankar-gopalan opened #558 "AutomaticRedeployment errors out with 405 - Not Allowed"
I am trying the Automatic Redeployment exec node for checking the behavior of the new remote wipe option. I am trying it on a surface pro device running Windows 10 Pro 1803 (17115.1) in the fast ring preview 17115.rs4_release.180302-1642.
My request and response sync ml is shown below:
`<SyncML xmlns="SYNCML:SYNCML1.2">
  <SyncHdr>
    <Target>
      <LocURI>4A065FD4D8B96D4C944134A5C88B3A7A</LocUR

[2018-03-16 06:06] technion opened #559 "Conflicting security advice"
In 2016, Microsoft released this whitepaper: https://www.microsoft.com/en-us/research/publication/password-guidance/
in which the position given is "Password expiration policies do more harm than good".

Microsoft also provides this recommendation guide for Office 365:
https://support.office.com/en-us/article/Password-policy-recommendations-for-Office-365-9fa2539a-2211-41fd-85a0-bc37b9619ca4
Which

[2018-03-16 06:23] wesk-ms opened #560 "Incorrect definition for CSVLK"
@kaushika-msft, in the KMS section., CSVLK is defined as "Customer Support Volume License Key".  This is incorrect.  It should read "Customer Specific Volume License Key".

Thanks!
Wesk

[2018-03-16 08:23] zublifier opened #562 "Usage Scenario in Branch"
Insightful article, thanks. Couple of considerations and questions:

In branch scenario where Windows 10 Hello for Business is on entry level desktops, PINS may be the only option as these device dont have any embedded bio readers etc...

In the event of the desktops being shared by multiple users, what mechanisms can we put in place to prevent guessing of pins and sharing of pins. Note that some

[2018-03-19 05:02] ABNOTECHGuy opened #566 "More Information Required"
I find this article to be lacking detail. I have attempted to implement this and the EXE and DLL event log keep producing would be blocked entries in audit mode and blocked entries in enforced mode. Is this the expected behaviour?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fdf27b-1ead-1b6e-c793-a2ad259a4f6a
* Ver

[2018-03-19 05:32] lucasititeam opened #567 "Should clarify"
I think it would be good idea to specifically point out User Portal Installation. In the above document, you are using mfa.corp.contoso.com as MFA server, MFAweb as SAN on MFA server. A configuration where in both MFA server and Portal will be installed on same server. But  then in user portal configuration  you are referring the same portal as https://mfaportal.corp.contoso.com/mfa.

---
#### Doc

[2018-03-19 05:33] harishankar-gopalan commented on #558
Team is there any update on the above query ?

[2018-03-19 05:36] lucasititeam commented on #567
Test AD FS with the Multifactor Authentication connector - is incorrect named. This is connectivity between MFA and users. ADFS Adapter connectivity with MFA must be explicitly mentioned. It is as this precise step I'm stuck.

[2018-03-19 10:17] santoshseth opened #568 "Build a Web Farm with IIS Servers hyperlink is not working"
In prerequisites section, Build a Web Farm with IIS Servers hyperlink is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42a0d794-1057-a599-1696-036207b2ce39
* Version Independent ID: 3e6535d2-b8af-4583-ca28-937aeb7f4520
* Content: [Planning for MBAM 2.5 High Availability](https://docs.microsoft.com/en-us/m

[2018-03-19 15:29] alouko opened #569 "completly wrong"
how people write docs here?
aoslotly wron, no gpo tab since 2012
no windows defender firewall in Network Connections

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68262173-057b-e0ec-03a4-54045e7a8bb8
* Version Independent ID: a0bb0dbb-e9e1-0e0c-cbac-0f6718c59ece
* Content: [Open the Group Policy Management Console to

[2018-03-19 17:31] clconlin opened #570 "Versions of Configuration Manager that MBAM supports"
I noticed on the MBAM Supported Configurations page it states that it supports Configuration Manager 1610 but no mention of higher versions. Should we be requesting this be updated to state “version 1610 and later”?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bd86f5e-6388-d226-2460-997fc24945d9
* Version Independen

[2018-03-19 21:52] thedrum808 opened #571 "Maybe a "not" in there?"
The following section from https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-hybrid-key-new-install#public-key-infrastructure:

"Configure a Production Public Key Infrastructure
If you do have an existing public key infrastructure, please review Certification Authority Guidance from Microsoft TechNet to properly design your infrastructure. Then, consult

[2018-03-20 01:50] ABNOTECHGuy commented on #566
Can the documentation from here: https://cloudblogs.microsoft.com/enterprisemobility/2016/06/20/configmgr-as-a-managed-installer-with-win10/
be linked/included/referenced somehow. It is a missing piece of important information in getting this to work

[2018-03-20 13:03] ingconti opened #573 "defender and windows server 2016: writing files"
performance with defender ON is bad.
if You perform MANY open/write/close, the only way to get a decent response  is to disable it **completely**.
Even adding exclusions, it sucks.

I have performed exhaustive tests using C++/visual studio, and performance are 20 times slower with defender on.

(see my post on stack overflow:
https://stackoverflow.com/questions/26095160/why-are-stdfstreams-so-slow

[2018-03-20 13:46] MikeStephens-MS commented on #567
Sorry, I cannot follow what you are asking her.  In a production environment, the user portal would NOT be installed on the MFA server.  It would be an highly-available web application that would be load balanced accordingly.

Good call on the title, we'll update the title to reflect testing MFA.  To test the adapter, complete the remaining portion of the deployment and user provisioning will be y

[2018-03-20 13:55] MikeStephens-MS commented on #562
You can deploy the Use Hardware Windows Hello for Business policy that requires the enrollment to use the computer's TPM.  The TPM provides anti-hammering as described in the PIN is backed by hardware section of the page.  For remote locations, you can use their desk phones combined with a user PIN for out-of-band approvals.

[2018-03-20 22:54] josephArtefactual opened #576 "cipher /d /s:C:\"
The command:   cipher /d /s:C:\
Removes encryption and the corporate data flag from files.
Doesn't even require elevation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d016c711-b1f4-668e-adbc-ff6911965851
* Version Independent ID: 64b2a1a4-1efe-35da-721e-7cbb0b1c684e
* Content: [Protect your enterprise data using Win

[2018-03-20 23:41] #556 closed

[2018-03-21 02:44] SergioCalderonR opened #577 "WDAC and AppLocker deep example"
There is not a doc that shows how to configure WDAC and AppLocker side-by-side, and that's a really nice scenario. Please share some content about it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19c8d2d2-3d96-c635-76da-c3b43afc1b45
* Version Independent ID: d7d79add-eadc-2e11-4bf7-eac48e4975d8
* Content: [Introducti

[2018-03-21 12:53] koeneijken opened #578 "Grouping devices in AutoPilot deployment groups"
We have multiple logical groups of Corporate owned devices, I want to assign specific policies and content to a an azure dynamic group of devices that was enrolled using a specific AutoPilot deployment profile. A Dynamic group in Azure only allows to query the deployment profile that works for Apple Devices, please make it work for Windows devices as well.

---
#### Document Details

⚠ *Do not edi

[2018-03-21 16:40] Justinha commented on #576
@josephArtefactual thanks for opening this. I'm able to run it without elevation too. We can remove those references to opening up an elevated command prompt before running cipher.exe. Let us know if you are suggesting a different change.

[2018-03-21 18:38] sbowl-msft commented on #558
Have you queried ./Device/Vendor/MSFT/RemoteWipe/AutomaticRedeployment/LastError value? It may tell you the underlying Windows error that caused the failure. One common source of errors is when the device already has a reboot pending when you attempt the doAutomaticRedeployment command.

[2018-03-21 18:42] sbowl-msft commented on #558
Also, make sure your Windows Recovery Environment (WinRE) is properly configured. See "Troubleshoot..." section in  https://docs.microsoft.com/en-us/education/windows/windows-automatic-redeployment.

[2018-03-21 19:48] jpawlowski opened #582 "Register domain link broken"
The description says:

"To register a domain, follow these steps: [...], administrators can simply [register their domain](https://insider.windows.com/for-business-organization-admin/) and control settings centrally."

However, the link is not working as it would always redirect to the front page of the Insider Program.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-03-21 20:19] jaimeo commented on #582
The link is correct—that is the correct page. There is a section and link on that target page that says “register your organization account.” PM confirms this is right.
vv
J.O.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Julian Pawlowski <notifications@github.com>
Sent: Wednesday, March 21, 2018 12:48:28 PM
To: MicrosoftDoc

[2018-03-21 20:20] jaimeo commented on #582
The link is correct—that is the correct page. There is a section and link on that target page that says “register your organization account.” PM confirms this is right.

[2018-03-21 20:35] jpawlowski commented on #582
Thanks, Jaimeo. I saw the link on the page and it would do the same thing, even though I explicitly logged in with my global administrator before. Going directly to that link always redirects me to the front page after asking me to login (which it also does a couple of times in a raw).

What I did to finally get  to that page:

- login with global admin account
- go to https://insider.windows.com/

[2018-03-21 21:11] Vectrexer opened #583 "PCmover Express is an invalid solution"
PCmover Express is an invalid solution.  The utility is no longer offered for free by Laplink.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cde8580a-bd82-ebd2-3767-f3ee662a904e
* Version Independent ID: 94323219-e4ed-8761-723e-06be33c3b9cc
* Content: [User State Migration Tool (USMT) Overview (Windows 10)](https://do

[2018-03-22 16:25] prashanthmiryala opened #585 "MBAM troubleshooting"
we have scenario where TPM PIN is not accepting even we enter correct one, after several attempts TPM is getting locked, we are unable to get the TPM owner password from the web console neither from DB.
there are no clear documents how MBAM works and which log needs to be checked and how to troubleshoot the issues in above scenario.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-03-22 22:32] MIHSssweeny opened #588 "Directions for use"
You link to this page to use it to validate my xml but you don't give instructions on how to do so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7479ec95-228f-8f08-4b24-0a7b7a5314ec
* Version Independent ID: f4d42c2f-17a2-52b2-6daa-cc7cecacfdc7
* Content: [Multi-app kiosk XML reference (Windows 10)](https://docs.micr

[2018-03-22 22:54] dcaddick opened #590 "New and changed functionality"
From my understanding, two of the new functions are: Managed Installer + ISG?
I have found the details on the Managed Installer at:
[https://docs.microsoft.com/en-us/windows/security/threat-protection/device-guard/deploy-managed-installer-for-device-guard](url)
But so far none on the ISG side - or is this just a case where it ONLY comes into play when the Policy is deployed via SCCM or Intune? It

[2018-03-22 23:03] jsuther1974 commented on #590
We are working on a major revision to WDAC content and that will include a new topic on ISG.

[2018-03-23 11:56] prashanthmiryala commented on #585
we are not able to find the TPM owner password, how can we get that..

[2018-03-23 12:01] subsequent2 commented on #558
What value should I apply when I assign this in a custom profile with intune?

[2018-03-23 13:06] jdeckerms commented on #588
There are a number of ways and tools that you can use to validate XML against XSD. Here is one method: https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-hpc-server-2008/dd430099(v=ws.10)

From: MIHSssweeny <notifications@github.com>
Sent: Thursday, March 22, 2018 3:33 PM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Jeanie Decker <jdecker@

[2018-03-23 16:39] harishankar-gopalan commented on #558
I am checking on the same.  Will update the error code returned by Monday. Can you also help me with any specific event viewer logs that can be checked ?

[2018-03-23 21:30] Justinha commented on #576
@josephArtefactual I ran this by our engineering team. We are not sure if running cipher.exe without elevation will always work in every environment (that is, on every supported version and edition of Windows) and we are not in position to thoroughly re-test that. As a result, and since it's not really a blocking issue, we think it's safest to run cipher.exe with elevation.

[2018-03-23 21:30] #576 closed

[2018-03-23 22:06] Justinha commented on #559
@technion Thanks for opening this issue. Other readers have also commented about this research. I've reached out to the author of the whitepaper to help reconcile the guidance. In the meantime, we can add a link to the whitepaper along with other additions you proposed. But I don't want to remove the existing guidance in this topic before our engineering team has the chance to reconcile it with th

[2018-03-23 22:06] #559 closed

[2018-03-23 22:26] #590 closed

[2018-03-23 22:32] Justinha commented on #585
Please see MBAM docs at https://docs.microsoft.com/en-us/microsoft-desktop-optimization-pack/mbam-v25/

[2018-03-23 22:32] #585 closed

[2018-03-23 22:36] Justinha commented on #577
@SergioCalderonR Thanks for the suggestion. We are working on doc revisions for WDAC now and will ask our engineering partners to help with prioritizing this.

[2018-03-23 22:36] #577 closed

[2018-03-23 22:41] technion commented on #559
@Justinha  Thanks for this response.

I just want to note it's not one Microsoft whitepaper with a contradicting view. You can see a listing of references here:

https://gist.github.com/technion/65c652194fb1427e6828ea23ff46d280

[2018-03-26 09:04] GMelford commented on #583
Yes. They did that in a short time to market their products. We have given up on Laplink as they do not handle the issues we have, even as a paying customer. USMTGUI use USMT and allow us to use our own XMLs.
With their latest version they also supply a range of customized XMLs AND they found a way to migrate WIN10 App settings and data.

And no their products are not free but who works for free?

[2018-03-26 10:22] grex86 opened #598 "ADFS typo"
Under "Device Registration" Active Directory Federation Services should be shortned ADFS and not AFFS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5739fab2-c6db-a7a9-b0e7-2bf4b85912a7
* Version Independent ID: 82c58053-c1d7-d938-1b0f-f3f7f70ada3b
* Content: [Planning a Windows Hello for Business Deployment](https://d

[2018-03-26 11:34] harishankar-gopalan commented on #558
sbowl-msft : I have tested it again and the error code obtained is as below: -2046820335. This is the value obtained when querying ./Device/Vendor/MSFT/RemoteWipe/AutomaticRedeployment/LastError value. Any help on the above will be of great use.

[2018-03-26 14:08] pcs504 opened #599 "Exclusion Route Woes"
Having a very difficult time getting the Exclusion Routes to work as there is very little documentation on this feature.  We want to do 1 of 2 things:

1) Utilize Forced Tunnel and do an Exclusion Route to ensure traffic to certain IP addresses go over the open internet, OR
2) Utilize Split Tunnel and specifying widely scoped routes that force traffic internally + utilizing an exclusion route to f

[2018-03-26 20:01] MikeStephens-MS commented on #598
Fixed-- thanks for the call out. Should publish soon

[2018-03-26 20:16] MikeStephens-MS commented on #571
Fixed-- Thanks for the feedback. Should be published soon.

[2018-03-27 07:55] SocialBrothersDEV opened #605 "Possibilities on HoloLens Developer Edition"
Hi There! Is it possible to do this on the HoloLens Developer Edition? We are in a corporate environment where we want to use the Business Store but do not know how to do this.

I hope you can help me,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 108c471e-f724-8220-43a4-c3d3627f18b4
* Version Independent ID: 28d82e61

[2018-03-27 09:59] tjcdw commented on #330
Windows 10’s Spring Creators update is coming soon. Will there be any examples available?

Kind regards,
Thomas

[2018-03-27 13:09] jdeckerms commented on #605
HoloLens Developer Edition can install apps through Microsoft Store or the Windows Device Portal (https://docs.microsoft.com/en-us/windows/mixed-reality/using-the-windows-device-portal#setting_up_hololens_to_use_windows_device_portal). Windows Holographic for Business can install apps from Microsoft Store for Business.  Your Microsoft Store for Business admin can obtain apps for offline licensing

[2018-03-27 21:44] mrolle45 opened #610 "Missing settings group"
This product now has a Power settings group, which is not documented currently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03e7b1f-7262-a90e-9832-a22827f1ae56
* Version Independent ID: e8de256d-1181-cc4a-e57a-a6bb197b1bf1
* Content: [Windows Configuration Designer provisioning settings (Windows 10)](https://docs.m

[2018-03-27 23:12] jdeckerms commented on #610
The power settings node is not to be used, and will not be included in future versions of the tool.

From: mrolle45<mailto:notifications@github.com>
Sent: Tuesday, March 27, 2018 2:44 PM
To: MicrosoftDocs/windows-itpro-docs<mailto:windows-itpro-docs@noreply.github.com>
Cc: Jeanie Decker<mailto:jdecker@microsoft.com>; Mention<mailto:mention@noreply.github.com>
Subject: [MicrosoftDocs/windows-itpro-

[2018-03-28 05:08] prashanthmiryala commented on #585
HI Justin,

thank you, i could not find it over there.

please help me with the specific document.

________________________________
From: Justin Hall <notifications@github.com>
Sent: Saturday, March 24, 2018 4:02:52 AM
To: MicrosoftDocs/windows-itpro-docs
Cc: prashanthmiryala; Author
Subject: Re: [MicrosoftDocs/windows-itpro-docs] MBAM troubleshooting (#585)

Please see MBAM docs at https://docs.

[2018-03-28 09:08] harishankar-gopalan commented on #558
sbowl-msft : I find that the AutomaticRedeployment nodes are suddenly removed from the documentation. Is there any known issue with that part in the current releases of 1803 Windows 10 OS release ?

[2018-03-28 15:05] shortpatti commented on #599
@pcs504 I will investigate more and work on refreshing the content 👍

[2018-03-28 15:08] #598 closed

[2018-03-28 15:08] pcs504 commented on #599
Let me know... If you saw what my routing tables looked like to make the entire public internet go through the VPN except 5 /32's, you'd understand :)

[2018-03-28 15:13] shortpatti commented on #578
@TrudyHa -- Can you take a look at this issue?

[2018-03-28 15:19] #571 closed

[2018-03-28 15:24] shortpatti commented on #570
@jamiejdt -- Can you take a look at this issue?

[2018-03-28 15:26] shortpatti commented on #569
@alouko -- I will take a look at this issue and provide clearer details in the content.

[2018-03-28 15:27] shortpatti commented on #568
@jamiejdt -- Can you take a look at this issue?

[2018-03-28 15:34] shortpatti commented on #560
@kaushika-msft -- Can you take a look at this issue?

[2018-03-28 15:37] shortpatti commented on #550
@jdeckerms -- Can you take a look at this issue?

[2018-03-28 15:39] jdeckerms commented on #550
@BRecords for Surface issues

[2018-03-28 15:46] jdeckerms commented on #550
@vukelich The links will be added and published later today, thanks for pointing it out!

[2018-03-28 15:47] shortpatti commented on #544
@nickbrower -- Can you take a look at this issue?

[2018-03-28 15:59] shortpatti commented on #536
@jason4tw -- I've reached out the someone for clarification 👍

[2018-03-28 16:12] shortpatti commented on #535
@nickbrower  -- Can you take a look at this issue?

[2018-03-28 16:14] shortpatti commented on #480
@Justinha -- Can you take a look at this issue?

[2018-03-28 16:20] shortpatti commented on #409
@MariciaAlforque  -- Can you take a look at this issue?

[2018-03-28 16:21] shortpatti commented on #408
@MariciaAlforque  -- Can you take a look at this issue?

[2018-03-28 16:30] shortpatti commented on #405
@RR13000 -- I apologize for the delay in responding.  I will take a look at this further and find out if you can or not.

[2018-03-28 16:44] nickbrower commented on #544
This has been fixed.

[2018-03-28 16:56] #544 closed

[2018-03-28 16:59] shortpatti commented on #557
@jaimeo -- Has this issue been addressed?

[2018-03-28 17:10] jaimeo commented on #557
No--it's unclear to me what actual the issue is. Can you clarify? What is GPME?

[2018-03-28 17:13] suzywager commented on #557
GPME is the Group Policy Management Editor. I'm trying to set up a GPO to deploy to the entire domain. I can only find the Configure Commercial ID under the Local Group Policy

[2018-03-28 17:32] domcote opened #614 "DynamicManagement CSP: Please include some more detailed documentation"
Thanks for the XML examples, but they aren't helping me. Please provide: accepted values, syntax and description for each node. But specifically: ContextID, SignalDefinition, SettingsPack and Altitude. Most of the other CSPs are much better documented...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 482379e4-551a-fa09

[2018-03-28 17:58] #368 closed

[2018-03-28 18:39] wolskyr opened #616 "Unclear"
It is not completely clear if this is four separate scenarios or if all are applicable from the top down.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb62871d-73d9-76d1-7afe-b580f0aa517c
* Version Independent ID: d2dd9496-47e0-4ed2-f3f0-2e01a3b4f6dd
* Content: [Hybrid deployment (Surface Hub)](https://docs.microsoft

[2018-03-28 18:44] Justinha commented on #585
@prashanthmiryala unfortunately we are no longer adding new content for MBAM. This blog post may help you troubleshoot TPM owner password, and explains where it is stored: https://blogs.technet.microsoft.com/dubaisec/2017/02/28/tpm-owner-password/

You can also search the Microsoft Knowledge base or open a case with Customer Support.

[2018-03-28 18:44] #344 closed

[2018-03-28 19:52] jdeckerms commented on #616
There are two major divisions: Exchange on-premises and Exchange online. For each of those environments, there are instructions for the three types of Skype for Business: online, on-premises, or hybrid.

[2018-03-28 19:55] jeffstokes72 opened #617 "Applocker requires win10 ENT or EDU, not just "Windows 10""
Please fix in the doc when you can.

Thanks,
jeff

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f02c58f-4575-3991-8bee-ccea6c3b3d34
* Version Independent ID: 6b3f5a69-1425-8b36-9e7a-b965fc70a164
* Content: [Requirements to use AppLocker (Windows 10)](https://docs.microsoft.com/en-us/windows/security/threat-protection

[2018-03-28 21:43] wolskyr commented on #616
And for Exchange hybrid ... unclear. Easy enough to work out, but still
unclear.

On Wed, Mar 28, 2018, 3:52 PM Jeanie Decker <notifications@github.com>
wrote:

[2018-03-28 22:58] SergioCalderonR opened #619 "Broken link for New-CIPolicy cmdlet"
All the New-CIPolicy cmdlet links are broken. It should points to: https://docs.microsoft.com/en-us/powershell/module/configci/new-cipolicy?view=win10-ps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d4ecadb-c54e-5da1-03ae-1301a35ef64a
* Version Independent ID: 69d28732-f557-9ae1-cec4-594a2ec097a2
* Content: [Deploy

[2018-03-29 00:05] toanyonebutyou opened #620 "Unique ID"
What exactly is required in the [Unique ID] field?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba73a4d0-cfe2-e988-58ba-ead197ea2e30
* Version Independent ID: 3070acc3-ea72-f425-3179-b4d26baf7027
* Content: [ClientCertificateInstall CSP](https://docs.microsoft.com/en-us/windows/client-management/mdm/clientcertificate

[2018-03-29 05:22] infinitedreams9586 opened #621 "How to apply license"
How to apply Office License using this CSP ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f86aba37-9069-3d7c-28ec-45116320c0b9
* Version Independent ID: 613681db-84f0-6eed-4826-fa11be9ceb49
* Content: [Office CSP](https://docs.microsoft.com/en-us/windows/client-management/mdm/office-csp)
* Content Source: [windows/c

[2018-03-29 12:08] untilted-document opened #623 "Bug in this documentation?"
"Possible values" section says: "If th Account lockout duration is set to 0, the account will remain locked until an administrator unlocks it manually.
It is advisable to set Account lockout duration to approximately 30 minutes. To specify that the account will never be locked out, set the value to 0"

So which is it? Setting 0 means it's locked forever, or never locked? These are very different t

[2018-03-29 12:55] jdeckerms commented on #616
If you have any suggestions for making it clearer, I'd be glad to hear them. :)

[2018-03-29 20:48] sureshnam opened #628 "Telemetry Sample code"
How can i collect telemetry data from my laptop to analyze for my self? Is there an sample code to try

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e44683-a56a-680b-b5d3-37db2f481494
* Version Independent ID: 870d7125-d56e-c309-9823-851f9a15b26f
* Content: [Windows 10 diagnostic data for the Full diagnostic data le

[2018-03-29 20:50] blackchr opened #629 "Typos in graphic"
Under "Policies" in the graphic at the top of this page, there is an entry for "Rembember Crednetials".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5fc2964-2d5a-320c-77b9-948377ca1d62
* Version Independent ID: 6dc6fd2a-2754-0f6c-c8f0-af01f8bf9afd
* Content: [VPN CSP](https://docs.microsoft.com/en-us/windows/client-

[2018-03-29 23:44] pedroalpha opened #631 "I can't download the uninstall script after trial is over - ERROR"
- Windows 10 enterprise
- Build 17.127
- Trial expired

I can't uninstall the client look at the error: " Failed to create download package
Http failure response for https://winatpmanagement-us.securitycenter.windows.com/DownloadOffboardingPackage?mgmtTool=2: 403 Forbidden"

p.s: I have the Enterprise Mobility + Security E5 package - Shouldn't I have access to ATP?

---
#### Document Details

⚠ *D

[2018-03-30 07:08] grex86 opened #632 "What are the requirements and costs for Windows Analytics solutions?"
in Device Health under column number 3 "Diagnostic data requirements" should be written "enhanced" and not "windows 10"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f20e3377-fdbc-ac87-239e-7184db24a685
* Version Independent ID: 0464da82-efa4-b147-bba9-d6802cf9d273
* Content: [Frequently asked questions and troublesho

[2018-03-30 14:32] shortpatti commented on #623
@Justinha -- Can you take a look at this issue?

[2018-03-30 14:33] shortpatti commented on #621
@MariciaAlforque -- Can you take a look at this issue?

[2018-03-30 14:34] shortpatti commented on #620
@MariciaAlforque -- Can you take a look at this issue?

[2018-03-30 14:35] shortpatti commented on #619
@Justinha -- Can you take a look at this issue?

[2018-03-30 14:35] ryeguy637 opened #633 "missing helpful information for Windows 7"
The information in this URL I'm adding was critical to making pre-provisioning work with Windows 7 and a WinPE 10 environment.  It should be incorporated into this article somehow.   Otherwise a black screen (for Windows 7) occurs at restart (after Install phase concludes) indicating that the drive cannot be unlocked.

https://blogs.technet.microsoft.com/system_center_configuration_manager_operati

[2018-03-30 14:35] shortpatti commented on #617
@Justinha -- Can you take a look at this issue?

[2018-03-30 14:37] shortpatti commented on #614
Hi @MariciaAlforque, can you take a look at this doc issue?

[2018-03-30 14:39] jeffstokes72 commented on #617
Hi @justinha how you doing? The official doc for this that I found https://www.microsoft.com/en-us/WindowsForBusiness/Compare is clear, but all the docs.microsoft.com never specify this. Hope that helps.

[2018-03-30 18:03] Justinha commented on #617
Hi @jeffstokes72 I am well, thanks. Hope you are too! Thanks for opening this issue too. I confirmed with engineering Win10 Pro is supported when managed via MDM. The Notes column for Windows 10 row is correct. I'll submit a request to add a check to Po column in compare editions topic, with footnote regarding management via MDM. Does that work?

[2018-03-30 18:04] jeffstokes72 commented on #617
Ah interesting, so Pro with MDM is good, but not the traditional GPO? Yeah
that's a good call out if that's the case.

On Fri, Mar 30, 2018 at 2:03 PM, Justin Hall <notifications@github.com>
wrote:

[2018-03-30 18:09] jeffstokes72 commented on #617
Doing well by the way, thanks for asking :)

[2018-03-30 22:14] SergioCalderonR commented on #619
I also sent a commit when I updated this link and other details and it is waiting for approval.

—Sergio
________________________________
From: Patti Short <notifications@github.com>
Sent: Friday, March 30, 2018 9:35:21 AM
To: MicrosoftDocs/windows-itpro-docs
Cc: SergioCalderonR; Author
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Broken link for New-CIPolicy cmdlet (#619)

@Justinha<https://gi

[2018-03-30 22:17] Justinha commented on #619
@SergioCalderonR  Thanks for the commit and for opening this issue. I've submitted a fix to our private repo, just waiting for it to go live this afternoon. I'll reply back with that.

[2018-03-30 22:36] Justinha commented on #623
@untilted-document thanks for opening this. That should say set Account Lockout Threshold to 0 if you don't want any account to get locked out. Also, our security baselines recommend 15 mins for the duration. I submitted both corrections. They should appear on 04/02/18.

[2018-03-31 14:32] reklov79 opened #635 "Error code 0x80070781 should be added"
What helped with error code 0x80070781 was:
open cmd prompt with administrator rights
enter `takeown /f C:\Windows\ServiceProfiles\LocalService\AppData\Local\Microsoft\NGC /R`
if it asks you to get full access to that file, accept with "Yes"
delete the file C:\Windows\ServiceProfiles\LocalService\AppData\Local\Microsoft\NGC
restart computer and set up new PIN code

See also https://answers.microso

[2018-04-01 13:17] deanellerby opened #636 "Typo: Prerequisites"
1. Overview
2. Prerequistes (You are here) <-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c47de28c-e44b-ca73-efde-fae303e0d3f8
* Version Independent ID: 71202a24-5b2f-844a-acce-d48c46873f2b
* Content: [Hybrid Key trust Windows Hello for Business Prerequistes (Windows Hello for Business)](https://docs.microsoft.com/e

[2018-04-02 06:15] Maniano925 opened #637 "Diskpart CMD"
Followed the steps but when trying clean or clear disk partition I receive a error message

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4e47c9-b470-be67-acc3-6a763746b854
* Version Independent ID: fdfb6514-3340-54a2-7743-9ce46b91c5e3
* Content: [Windows 10 and Windows 10 Mobile (Windows 10)](https://docs.microsoft.

[2018-04-02 16:31] jaimeo commented on #632
This is fixed.

[2018-04-02 16:40] heschelpop opened #639 "Hi, this is 2018 and I use AAD and Windows 10 on prem clients"
how about documentation written specifically for this use case - not updated from context that is not updatable to this use case

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 744990d3-6fb4-a085-de18-b0894c2dbda5
* Version Independent ID: f774568c-506c-cc5f-f6b2-2452cb408667
* Content: [Network security LAN Manager aut

[2018-04-02 16:40] Justinha commented on #398
@Crypt32 Sorry for delay. I confirmed with engineering Windows Pro can be managed via MDM.

[2018-04-02 16:40] #398 closed

[2018-04-02 16:53] Justinha commented on #636
@deanellerby Thanks for reporting this. The corrections should appear later today.

[2018-04-02 16:55] Crypt32 commented on #398
Any relevant link on how to do that with MDM?

[2018-04-02 17:02] Justinha commented on #639
@heschelpop Thanks for the feedback. Can you provide any more detail about what you want to see documented? Any specific questions you want answered?

[2018-04-02 17:09] Justinha commented on #635
@reklov79 Thanks for the suggestion. We shared this with the engineering team.

[2018-04-02 17:49] Justinha commented on #398
I'll confirm with engineering but I think any MDM that can use the AppLocker CSP: https://docs.microsoft.com/en-us/windows/client-management/mdm/applocker-csp
Also here is a third-party blog I found: https://www.petervanderwoude.nl/post/managing-applocker-on-windows-10-via-oma-dm/

[2018-04-02 17:57] Crypt32 commented on #398
Ok, this makes more sense. This means that it is impossible to use Applocker in workgroup without MDM.

[2018-04-02 17:59] Justinha commented on #398
Can you use local security policy (SecPol.msc) for workgroup?

[2018-04-02 18:05] Justinha commented on #569
@alouko Thanks for the feedback. I corrected how to open the GPO. I confirmed location for Windows Defender Firewall under Network Connections.

[2018-04-02 18:05] #569 closed

[2018-04-02 18:24] Justinha commented on #637
@Maniano925 Sorry you having trouble. Which topic were you following? You might also search on https://support.microsoft.com for troubleshooting info.

[2018-04-02 19:03] Justinha commented on #398
@Crypt32 I'm relaying a reply from Aaron Margosis, a security expert here at Microsoft:

There is something weird about trying to change the configuration of appidsvc, at least using the Services.msc snap-in. Try one of these methods:

1. From an elevated Cmd or PowerShell:
sc.exe config appidsvc start= auto
2. Create a security template that configures appidsvc to be automatic start, and apply it

[2018-04-02 19:55] #632 closed

[2018-04-02 20:56] Justinha commented on #381
@Crypt32 Sorry for delay here. As I posted for https://github.com/MicrosoftDocs/windows-itpro-docs/issues/398, I'm relaying the same reply from Aaron Margosis here too:

There is something weird about trying to change the configuration of appidsvc, at least using the Services.msc snap-in. Try one of these methods:

1) From an elevated Cmd or PowerShell:
sc.exe config appidsvc start= auto
2) Create

[2018-04-02 20:57] Crypt32 commented on #381
Then this information should be documented somewhere in more official manner.

[2018-04-02 22:25] schittli opened #645 "Finally, after almost 1/4 Century. But it's just the start, isn't it?"
Good evening
Windows was - and still is - a nightmare for every security aspect, just because there was no complete list of each executable, service, etc. which 'must' have connection to unknown web servers. And it got worse every day, because Windows Servers started to use applications and services, which must not be part of a Server OS. Anyway, we're replacing them just because of such annoying

[2018-04-02 23:49] Justinha commented on #381
@Crypt32 added here: https://docs.microsoft.com/en-us/windows/security/threat-protection/applocker/configure-the-application-identity-service

[2018-04-02 23:49] #381 closed

[2018-04-02 23:59] Justinha commented on #645
@schittli Thanks for the feedback. The list of connections is complete. It's tested by our engineering team and the topic is updated with each Windows release.

[2018-04-02 23:59] #645 closed

[2018-04-03 00:13] Justinha commented on #636
This is fixed at https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-hybrid-cert-trust-prereqs

[2018-04-03 00:13] #636 closed

[2018-04-03 00:14] Justinha commented on #633
This is live now: https://docs.microsoft.com/en-us/microsoft-desktop-optimization-pack/mbam-v25/how-to-enable-bitlocker-by-using-mbam-as-part-of-a-windows-deploymentmbam-25

[2018-04-03 00:14] #633 closed

[2018-04-03 03:50] heschelpop commented on #639
Justin,

Here is the thing I figured out after much soul crushing and looking through discussion threads on tech net that went no where, or as I like to call them, Microsoft road kill.  And I say this with much love – I am a Microsoft fan and super user since Windows 286 and I generally think office365 is revolutionary – and Power BI is also an amazing advance that I like a lot.

So, here is the d

[2018-04-03 09:43] ThiloL opened #646 "Rollback"
How to detect (automatically, mass option) which clients had made a rollback.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd88f752-60aa-95df-a7b3-ce3056e64a20
* Version Independent ID: aaf24bdd-548e-8049-8bbb-4911c23999a7
* Content: [Resolve Windows 10 upgrade errors - Windows IT Pro](https://docs.microsoft.com/en-u

[2018-04-03 15:27] konrag opened #647 "Caveat"
I was unfamiliar with setting up DFSR so this guide was a big help. However, I was having lots of weird issues with the read-only site afterward. I kept thinking that my Bootstrap and CustomSettings were incorrect, but it was actually because DFSR wasn't replicating some files. That turned out to be because deduplication was enabled on that drive and was reparsing files and DFSR was ignoring them.

[2018-04-03 16:24] Justinha commented on #639
@heschelpop thanks for sharing this, I wasn't aware if it. Good news it looks like a fix is planned: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/12980892-machine-rename-azure-ad
I'll see where we can we publish this info in the interim.

[2018-04-03 17:06] heschelpop commented on #639
Ok March 2016 was the comment date. Maybe the team needs reminding?
________________________________
From: Justin Hall <notifications@github.com>
Sent: Tuesday, April 3, 2018 12:24:27 PM
To: MicrosoftDocs/windows-itpro-docs
Cc: brett.spector; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Hi, this is 2018 and I use AAD and Windows 10 on prem clients (#639)

@heschelpop<https://github.com/

[2018-04-03 17:28] heschelpop commented on #639
Gotcha
________________________________
From: Justin Hall <notifications@github.com>
Sent: Tuesday, April 3, 2018 1:10:21 PM
To: MicrosoftDocs/windows-itpro-docs
Cc: brett.spector; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Hi, this is 2018 and I use AAD and Windows 10 on prem clients (#639)

You can see the Azure AD team reply from Mar 1, 2018.

—
You are receiving this because you w

[2018-04-03 18:04] Niglb opened #648 "doWipePersistProvisionedData Method"
Is there a way to invoke the doWipePersistProvisionedData method? I do not see it exposed via WMI, only doWipe. Is doWipePersistProvisionedData a parameter on doWipe?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bce891c-a489-48af-74cb-258713a7bcbd
* Version Independent ID: 6ce5a361-3207-2c5f-9595-4f77cf397d73
* Cont

[2018-04-03 21:42] Justinha commented on #629
@blackchr thanks for reporting this. It's getting fixed.

[2018-04-03 22:21] domcote opened #650 "Does this also control / remove Windows inbox apps?"
Will a clean also remove Windows inbox apps such as Solitaire or Duolingo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f38c1219-3096-f435-13ae-1c325f9d2b82
* Version Independent ID: 8f0002e6-00e0-eb00-b6b9-dcd16034c949
* Content: [CleanPC CSP](https://docs.microsoft.com/en-us/windows/client-management/mdm/cleanpc-cs

[2018-04-04 00:34] jjpepper opened #652 "My error code 0xc0090030 wasn't listed"
The title says it all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b4f9133-887f-17a6-95fc-3712de8a3fa1
* Version Independent ID: 09d34ce8-1590-8202-3e70-e6299dadbb65
* Content: [Windows Hello errors during PIN creation (Windows 10)](https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-bus

[2018-04-04 09:57] JacekScislawski opened #653 "Wrong code example"
IS: reagent
SHOULD: reagentc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 687baa4b-2e3b-e632-403f-546f7e1bbaf3
* Version Independent ID: eabccfdc-45ec-339d-a4c2-537f1387608d
* Content: [Reset devices with Windows Automatic Redeployment](https://docs.microsoft.com/en-us/education/windows/windows-automatic-redeployment

[2018-04-04 11:06] dardie opened #654 "Misleading / ambiguous sentences"
The sentence 'This command ensures that the user’s current settings become the current state on the Settings Storage Location' in plain reading seems to mean the opposite of what I think you're trying to convey. It would be better rewritten something like 'This command causes the user’s settings to be downloaded from the Settings Storage Location.'

I've found other parts of the UE-V documentation

[2018-04-04 13:18] matifali opened #655 "Problem in dark mode"
Can't read tha caption of the figure in dark mode.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 042d10ec-8f56-909c-9f66-f4c1363373b9
* Version Independent ID: 3b72e026-16ea-e9bf-a48b-abb42382ddab
* Content: [Perform an in-place upgrade to Windows 10 with MDT (Windows 10)](https://docs.microsoft.com/en-gb/windows/depl

[2018-04-04 15:25] danjpadgett opened #656 "Reference Service Releases"
The documentation makes no mention of the MDOP servicing releases. Furthermore this page explicitly lists support for Microsoft SQL Server 2016 SP1, this support is only possible with the March 2017 servicing release.
https://support.microsoft.com/en-ie/help/4014009/march-2017-servicing-release-for-microsoft-desktop-optimization-pack

The entire MDOP section should make better mention of servicing

[2018-04-04 18:26] thedrum808 opened #657 "Add Cert in certificate Authority"
One thought on this page is to add the actual steps for publishing a certificate. I'm fairly certain there should be a step that involves right clicking "Certificate Templates" in the Certification Authority window -> New -> Certificate Template to Issue -> Domain Controller Authentication (Kerberos).

I would also suggest altering the title for this page and this one (https://docs.microsoft.com/e

[2018-04-04 18:28] lcaseybsa commented on #650
This tool has crashed almost every one of my clients surface pro 4 and surface pro 5 devices using the cleanPC option.  This tool has not been fully tested and should be used with extreme caution as it really has so many bugs Its pretty useless at the moment .

[2018-04-04 18:54] Justinha commented on #657
@thedrum808 Thanks for the feedback. Did you have a suggestion for the title?

[2018-04-04 20:14] DaniHalfin commented on #652
Thanks for the feedback Jesse (@jjpepper). Looking into it, and hopefully will have something to follow up with soon.

[2018-04-04 20:15] DaniHalfin commented on #652
tagging @MikeStephens-MS FYI

[2018-04-04 20:44] Justinha commented on #623
This is fixed

[2018-04-04 20:44] #623 closed

[2018-04-04 21:04] #653 closed

[2018-04-04 23:01] #610 closed

[2018-04-04 23:01] #605 closed

[2018-04-04 23:02] #588 closed

[2018-04-05 06:24] DuyYuei commented on #576
@ Justinha ;
I send you a xml code when i exported from AppsBlocker

<AppLockerPolicy Version="1">
  <RuleCollection Type="Appx" EnforcementMode="NotConfigured" />
  <RuleCollection Type="Dll" EnforcementMode="NotConfigured" />
  <RuleCollection Type="Exe" EnforcementMode="NotConfigured">
    <FilePublisherRule Id="eb7342e6-cf2d-4cc7-8058-9b9ab45b6129" Name="EXCEL.EXE, in MICROSOFT OFFICE 2010, fr

[2018-04-05 06:24] DuyYuei commented on #576
<AppLockerPolicy Version="1">
  <RuleCollection Type="Appx" EnforcementMode="NotConfigured" />
  <RuleCollection Type="Dll" EnforcementMode="NotConfigured" />
  <RuleCollection Type="Exe" EnforcementMode="NotConfigured">
    <FilePublisherRule Id="eb7342e6-cf2d-4cc7-8058-9b9ab45b6129" Name="EXCEL.EXE, in MICROSOFT OFFICE 2010, from O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" Descriptio

[2018-04-05 06:27] DuyYuei commented on #576
<AppLockerPolicy Version="1">
  <RuleCollection Type="Appx" EnforcementMode="NotConfigured" />
  <RuleCollection Type="Dll" EnforcementMode="NotConfigured" />
  <RuleCollection Type="Exe" EnforcementMode="NotConfigured">
    <FilePathRule Id="921cc481-6e17-4653-8f75-050b80acca20" Name="(Default Rule) All files located in the Program Files folder" Description="Allows members of the Everyone group t

[2018-04-05 06:42] DuyYuei commented on #576
{ <AppLockerPolicy Version="1">
  <RuleCollection Type="Appx" EnforcementMode="NotConfigured" />
  <RuleCollection Type="Dll" EnforcementMode="NotConfigured" />
  <RuleCollection Type="Exe" EnforcementMode="NotConfigured">
    <FilePathRule Id="921cc481-6e17-4653-8f75-050b80acca20" Name="(Default Rule) All files located in the Program Files folder" Description="Allows members of the Everyone group

[2018-04-05 06:44] DuyYuei commented on #576
{ <AppLockerPolicy Version="1">
  RuleCollection Type="Appx" EnforcementMode="NotConfigured" />
  RuleCollection Type="Dll" EnforcementMode="NotConfigured" />
  RuleCollection Type="Exe" EnforcementMode="NotConfigured">
    FilePathRule Id="921cc481-6e17-4653-8f75-050b80acca20" Name="(Default Rule) All files located in the Program Files folder" Description="Allows members of the Everyone group to

[2018-04-05 07:15] DuyYuei opened #662 "Define Enlightened apps on WIP"
Hi team,
I have a problem , when i define enlightened apps : Office 2016 (word, excel, powerpoint..) and deploy Windows Information Protection. It is not work. Office 2016 apps still status **Personal**

Here is a code when i try use applocker and export file xml

{ AppLockerPolicy Version="1"
  RuleCollection Type="Appx" EnforcementMode="NotConfigured" />
  RuleCollection Type="Dll" EnforcementMo

[2018-04-05 11:57] santoshseth opened #663 "Do not run the script at each sign-on. It is recommended to run the script once every 30 days."
How to change this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f029a728-1f53-4576-a6ca-8a19a92626e6
* Version Independent ID: 85f27ad5-84e2-0787-082f-59d2d66c99b5
* Content: [Upgrade Readiness deployment script (Windows 10)](https://docs.microsoft.com/en-us/windows/deployment/upgrade/upgrade-readiness-deployment-sc

[2018-04-05 14:12] Justinha commented on #576
@DuyYuei Sorry you are having trouble. For troubleshooting help, please post your question to the TechNet forum at https://social.technet.microsoft.com/Forums/en-US/home?category=Windows10ITPro

[2018-04-05 16:53] andreabichsel commented on #351
Is it ok to mark this issue as closed?

[2018-04-05 16:55] jdeckerms commented on #351
Yes, let's close it.

[2018-04-05 20:12] DaniHalfin commented on #663
Hi @santoshseth, this script does not run automatically. The referenced line is meant to remind you that if you choose to automate this script and deploy it at scale, you shouldn't run it at each sign-on, but rather once every 30 days.
Automating this script can be done in several different ways, with System Center Configuration Manager (referenced in the topic) being one of the options.

[2018-04-05 20:29] DaniHalfin commented on #662
Hi @DuyYuei, there are a couple reason why that might happen. In general, as mentioned [here](https://docs.microsoft.com/en-us/windows/security/information-protection/windows-information-protection/wip-app-enterprise-context#review-the-enterprise-context), Enlightened apps can change between Work and Personal, depending on the data being touched.
There are also multiple other things that need to h

[2018-04-05 20:30] DaniHalfin commented on #662
tagging @Justinha as FYI.

[2018-04-05 20:48] DaniHalfin commented on #647
Hi @konrag, thanks for bringing this to our attention. We're now looking at possible ways to highlight DFS-R use cases in more detail for this topic.
We'll update when we have something to share.

[2018-04-05 21:10] Justinha commented on #662
@DaniHalfin Thanks for your reply!

[2018-04-05 21:12] DaniHalfin commented on #648
Hi @Niglb, this is currently a gap we're aware of. The feature team is considering adding this in future releases. We'll try to update back, but I would advise to follow future releases announcements to find information about this and other improvements.

[2018-04-05 21:47] Niglb commented on #648
Thank you very much for this follow up - we manage a very large environment and have gone to a Microsoft image with a provision package. We were looking to script a remote Reset PC while maintaining the provision package.

[2018-04-05 23:21] wesk-ms opened #666 "Feature update deferal content should mention the dependency on telemetry."
Change request for page:
https://github.com/MicrosoftDocs/windows-itpro-docs/blob/master/windows/deployment/update/waas-configure-wufb.md

At the end of the 'Pause Feature Updates' section, we should add a note that states telemetry must be enabled in order to defer feature updates.  This is documented in the GPO:  "Select when Feature Updates are received".

From the GPO help text for _"Computer

[2018-04-06 00:40] nedpyle commented on #647
Hi. DFSR supports replicating with (Windows Server) deduplicated files - https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2003/cc773238(v%3dws.10). Can you explain a bit more about what you are seeing and where it intersects with DFSR.

I am going to warn you know that troubleshooting this is likely to need a support case, so I will answer as far as I can, but if we

[2018-04-06 06:07] fowl2 opened #667 "Credential Gaurd- Wi-fi and VPN Considerations"
This section is inaccurate- MSCHAPv2 still works but with a password prompt instead of SSO.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b1f3ae7-79ed-fc75-4f36-ad5537d5f928
* Version Independent ID: bdd1e434-0825-7220-9e97-ee4cdd10b897
* Content: [Considerations when using Windows Defender Credential Guard (Windows

[2018-04-06 09:05] DuyYuei commented on #662
Hi **@DaniHalfin** i will try define by DESKTOP APPS but it not work. How i can define office 2016 Enlightened apps
Thank you

[2018-04-06 09:05] #662 closed

[2018-04-06 14:47] neildotwilliams opened #668 "Language and a link"
I cannot understand this sentence, but it might just be me:
"Additionally, suppress statements which filter out specific events, only apply within that query statement and are not to the entire subscription."

Also a link states "For more info, see Appendix F – Annotated Baseline Subscription Event Query." but Appendix F is the suspect not the baseline.

Great document though!

---
#### Document D

[2018-04-06 18:01] nedpyle commented on #647
No worries. I’ll chat with some MDT folks here and see if they have seen anything similar. If you run into this again in the meantime don’t hesitate to let me know.

NP | PM

From: konrag <notifications@github.com>
Sent: Friday, April 6, 2018 9:23 AM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Ned Pyle <nedpyle@microsoft.com>; Comment <comment@noreply.github.co

[2018-04-07 16:16] chenjiawei-19881015 opened #671 "Have a suggestion for App-V?"
Add or vote on suggestions on the Application Virtualization feedback site.
For App-V issues, use the App-V TechNet Forum.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0490acd-e1d3-5cbe-bf08-192103197c98
* Version Independent ID: 04173e0a-9cbf-f249-b0ee-a6b4c79897c9
* Content: [Application Virtualization (App-V) (Wi

[2018-04-07 17:53] Jackaerts commented on #652
I have the same issue, no idea how to solve..

[2018-04-08 08:30] steve6375 opened #672 "Create a bootable USB stick"
What type of bootable USB stick does it make? MBR-bootable and UEFI-bootable?
If UEFI, doesn't it need to be FAT32?
If FAT32, maximum size of any file is 4GB - what if install.esd is >4GB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c66f2a3-5be3-e3cf-b90f-c9ce2f6ecf9d
* Version Independent ID: c9ed7f55-3770-73a4-5e

[2018-04-08 13:00] egallagh commented on #672
Only the EFI partition on a UEFI device needs to be FAT32.
Check this out:
https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/configure-uefigpt-based-hard-drive-partitions

Hope it helps.
Ed Gallagher

From: Steve Si <notifications@github.com>
Sent: Sunday, April 8, 2018 3:31 AM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Subscribed <subscrib

[2018-04-08 13:07] steve6375 commented on #672
I know the UEFI spec. That was not my question however. So it doesn't help.
The doc does not mention if the USB drive that is made is UEFI-bootable.
I want to know if it is as I have seen posts that it is not UEFI-bootable. The posts further go on to say that you should create an ISO and then make a USB drive from the contents of the ISO if you want UEFI booting.
Can someone clarify?

[2018-04-08 13:14] egallagh commented on #672
Sorry, I was answering the question that you asked in the previous email: “If FAT32, maximum size of any file is 4GB - what if install.esd is >4GB?”
Install.esd would not be stored on the EFI partition that is required to be FAT32.

Ed

From: Steve Si <notifications@github.com>
Sent: Sunday, April 8, 2018 8:08 AM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Ed G

[2018-04-08 13:35] egallagh commented on #672
So I took a look at the article.

If we are talking about the same section: “Create a bootable USB stick”, step 1 is insert the USB stick and step 2 is copy the MDTOfflineMedia\Content folder to the USB stick.
Therefor the USB stick must already be partitioned and formatted as either a MBR of UEFI/GPT disk.

At least that is my understanding of it.

Ed

From: Steve Si <notifications@github.com>
Se

[2018-04-09 14:01] GethinMorris opened #673 "User targeted vs. Device targeted configuration - Issues and Clarification"
The below sentence does not read properly and is confusing please could it be clarified:
"For CSPs and policies that supports per user configuration, MDM server could send user targeted setting values to the device the user that enrolled MDM is actively logged in"

Also could you provide more information on what 'others – another user login but that user does not have an MDM account.' means.
When

[2018-04-09 14:01] MikeStephens-MS commented on #652
We need a little more context.  Can you describe what actions are taken from the beginning up to the point to where you get the error.  Also, some general details about the environment.  For example, are you using convenience PIN or have you deployed all the needed components.

[2018-04-09 15:00] Aaron- opened #674 "MultiSubnetFailover?"
Github documentation states you may change the MANAGEMENT_SQL_CONNECTION_STRING to add a failover partner in case of SQL mirroring. Is it a supported scenario as well to add 'MultiSubnetFailover=True' when utilizing SQL Always on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a31de562-fa30-ba13-c087-042b2fac2ebd
* Ver

[2018-04-09 15:04] jjpepper commented on #652
I try to login with my fingerprint and it it says "your PIN is required"
but the PIN I set up doesn't work and I can't set a new PIN.  It's when
setting a new PIN that I get the error I think.  Note that the main thing I
want is my fingerprint login to work again.

On 9 April 2018 at 22:01, Mike Stephens <notifications@github.com> wrote:

[2018-04-09 15:28] Jackaerts commented on #652
I solved the issue this weekend. TPM was not working. Finally with changes in BIOS and reinstalling windows everything works fine again. I do think that changes in BIOS are enough to solve the issue.

[2018-04-09 19:37] #648 closed

[2018-04-09 19:38] #663 closed

[2018-04-09 19:45] DaniHalfin commented on #671
@chenjiawei-19881015 - anything specific you wanted to note here?

[2018-04-09 19:49] DaniHalfin commented on #666
Hi @wesk-ms , at the very top of the topic, there's an IMPORTANT tag that states exactly that (as WUfB will not work with telemetry leve of 1 or higher, and not just this specific setting) -

Did you notice that? If so, do you feel like there's added benefit to noting that again per-setting?

[2018-04-10 07:29] tarikshaikh opened #678 "Is there any cmd command to export these settings to a file?"
Like we have "secedit.exe \export \cfg <path>" to export other Local Security Policy settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f27f2e95-068a-6568-113d-66b378a2f6fe
* Version Independent ID: 6c13ead4-d350-d64c-7d29-3a7e4358d9ea
* Content: [Network List Manager policies (Windows 10)](https://docs.microsoft

[2018-04-10 08:45] ITPirate opened #679 "Typo"
Ensure that the storage path ends with %username% to ensure that eah (!) user gets a unique folder.

Ensure that the storage path ends with %username% to ensure that each user gets a unique folder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f735c74e-f4aa-9839-81fe-050782e09e22
* Version Independent ID: 94ceabf5-70e

[2018-04-10 11:56] jjpepper commented on #652
What did you do in the BIOS?

On 9 April 2018 at 23:28, Jackaerts <notifications@github.com> wrote:

[2018-04-10 12:04] Jackaerts commented on #652
I cleared TPM 2.0.

https://docs.microsoft.com/en-us/windows/security/hardware-protection/tpm/initialize-and-configure-ownership-of-the-tpm

[http://kbimg.dell.com/library/KB/DELL_ORGANIZATIONAL_GROUPS/DELL_GLOBAL/Content%20Team/TPM%20BIOS%20settings.jpg]

Van: Jesse Pepper <notifications@github.com>
Verzonden: dinsdag 10 april 2018 13:57
Aan: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@n

[2018-04-10 12:49] thomasbinder opened #681 "Confusion for Skype for Business customers"
We have seen several customers asking questions about ports for Surface Hub when using Skype for Business. I recommend to change the section "Depending on your environment, access to additional ports may be needed:" to the following:

If you are using Surface Hub with Skype for Business, you will need to open additional ports. Please follow the guidance below:
-If you use Skype for Business Online

[2018-04-10 15:36] lcaseybsa opened #682 "Why dont you provide links to the download?"
All of you smart Harvard educated 6 figure salary idiots never include the dam download link to the software!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6206d15-c29d-0949-9f60-66ba6b845c9e
* Version Independent ID: 166ff693-5e6c-5b82-e362-7d7867fa1d04
* Content: [Diagnostics and Recovery Toolset 10](https://docs.m

[2018-04-10 16:52] #351 closed

[2018-04-10 17:01] #557 closed

[2018-04-10 17:04] #562 closed

[2018-04-10 17:10] #567 closed

[2018-04-10 17:14] andreabichsel commented on #568
Issue appears to be resolved, link is working.

[2018-04-10 17:14] #568 closed

[2018-04-10 17:29] #616 closed

[2018-04-10 17:33] #550 closed

[2018-04-10 17:41] andreabichsel commented on #629
Issue fixed.

[2018-04-10 17:41] #629 closed

[2018-04-10 17:44] andreabichsel commented on #637
Closing for now, appears to be a support issue.

[2018-04-10 17:44] #637 closed

[2018-04-10 18:04] andreabichsel commented on #671
Informational only, closing issue.

[2018-04-10 18:04] #671 closed

[2018-04-10 18:06] eross-msft commented on #628
This currently isn't something that we cover in this article as it's intended to just be a reference piece. However, I'm including @DaniHalfin since he's the owner of the article and can determine if it's something we might cover in a future version.

[2018-04-10 18:33] #682 closed

[2018-04-10 18:35] andreabichsel commented on #679
Closing issue as fixed.

[2018-04-10 18:35] #679 closed

[2018-04-10 23:57] astzum opened #688 "Documentation needs updating"
Need to update document "In-place upgrades do not support migrations from BIOS to UEFI " This can be done now using MBR2GPT.
https://docs.microsoft.com/en-us/windows/deployment/mbr-to-gpt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7ce50b9-cb28-a5ba-58f9-010e69f4fde5
* Version Independent ID: a161fed8-151a-1eca-866

[2018-04-11 00:48] Justinha commented on #668
@tedhardyMSFT can you clarify the sentence?
@neildotwilliams thanks for the comment and for correcting the link text. I submitted a fix that should appear tomorrow. If you see similar edits, please click Edit in upper right and you can submit the change. We'll pull in that change and you'll be listed as a contributor.

[2018-04-11 01:32] Justinha commented on #678
@tarikshaikh this should help: https://docs.microsoft.com/en-us/microsoft-desktop-optimization-pack/agpm/export-a-gpo-to-a-file

[2018-04-11 01:32] #678 closed

[2018-04-11 09:24] mdlister commented on #616
The documentation isn't clear on the last part of the hybrid process. From what I've understood, you can't move a csmeetingroom and only csusers can be moved to Skype Online and you need to use the moveCSUser cmdlet.
But it doesn't mention if you need to change it back to a CSMeetingRoom once it is in Skype Online as it states in the same paragraph that "The Surface Hub requires skype account of t

[2018-04-11 12:54] AndyH16 opened #689 "Outdated updates"
How often are these MSI files being updated? I'm trying to make it easier for our users to update their Surface devices via System Center.

In particular the Surface Pro (Model 1796), this has a few recent updates posted for February and March yet the MSI file date remains from January 2018 and I think the drivers/firmware contained within the download are actually from an October 2017 release.

-

[2018-04-11 12:56] wolskyr commented on #616
Yes, the documentation mentions all but an Exchange Hybrid scenario, which is probably the most common! We found that we had to provision both Lync and Exchange on-prem and then migrate both services to the cloud in order to get everything working. This is not mentioned in the docs at all.

[2018-04-11 13:29] JeremyTBradshaw opened #690 "SCCM / BranchCache / Windows 10 Pro vs Enterprise"
Hello,
Can you please confirm if SCCM's use of BranchCache requires Windows 10 clients to be running Enterprise, or if Pro will suffice.  I'm particularly referring to the comparison table for Windows 10 Pro|Enterprise|Education where BranchCache is shown to not be included for Pro - http://wincom.blob.core.windows.net/documents/Win10CompareTable_FY17.pdf

Thanks in advance.

---
#### Document Det

[2018-04-11 14:11] okieselbach commented on #690
Hi,
BranchCache is available for Windows 10 Pro as a client component but provides only BranchCache Bits functionality. Windows 10 Enterprise does provide the full functional set of HTTP, SMB and BITS functionality.
See section "Operating systems for BranchCache client computer functionality" here:
https://docs.microsoft.com/en-us/windows-server/networking/branchcache/branchcache

[2018-04-11 16:01] jaimeo commented on #688
@greg-lindsay I think this is in your area.

[2018-04-11 16:45] jrochet commented on #690
Thank you.  If you could please confirm, it would be great - does this paragraph (from the page you linked) confirm that SCCM uses BranchCache BITS functionality?:
"Application servers
Supported application servers include computers that are running Windows Server 2016, Windows Server 2012 R2, Windows Server 2012, or Windows Server 2008 R2 with Background Intelligent Transfer Service (BITS) instal

[2018-04-11 18:13] Justinha commented on #678
@tarikshaikh sorry, I was reading too fast. I couldn't find any native cmd for this. I found a PowerShell example at https://www.linkedin.com/pulse/export-all-gpo-settings-html-using-powershell-james-sargent

[2018-04-11 18:25] theboymango opened #693 "MDT links do not mention Win 10 support"
The links about referring to MDT refer to a version of MDT which, apparently, doesn't support Windows 10 in the What's new and release information sections of the linked resource.
https://docs.microsoft.com/en-us/sccm/mdt/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c72fef0-0e1e-b3b1-2ca2-27df7e2c7f1f
* Version Ind

[2018-04-11 21:54] artisticcheese opened #696 "List of supported OSes is incorrect"
It's supported started with Vista, current documentation lists only Windows 10

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5752fb34-9d01-a788-e397-2c17933257ee
* Version Independent ID: 8d01032c-c393-2add-deaf-837bfe219ca2
* Content: [Which editions of Windows support advanced audit policy configuration (Windows 10)

[2018-04-12 05:00] JanineMarchese opened #698 "USMT Add-on for Windows 10 modern apps, Sticky Notes , Edge etc."
Hi
We have just had success with using a free MDT/SCCM USMT add-on, "USMTGUI afterburner", that can handle migration of modern apps like Edge favorites and Sticky Notes.
http://sccmdeploy.dk/?p=731
This is an annoying Windows 8/10 USMT issue handled really clever.
Gina Melford over at Berkeley told me that EhlerTech helped them customizing for other app settings aswell.
JM

---
#### Document Detai

[2018-04-12 08:53] ericLH opened #699 "Possible data leakage when no hibernated state is used (Windows to Go)?"
When using a Windows 8 host system with hibernated state disabled and a Windows To Go also with a Windows 8 operating system, is there still the recommandation to use the **SAN policy "4" NoDefaultDriveLetter**?

[https://docs.microsoft.com/en-us/windows/deployment/planning/security-and-data-protection-considerations-for-windows-to-go#disk-discovery-and-data-leakage](url)

Is there still a possibi

[2018-04-12 09:13] JanineMarchese opened #700 "Why do MS promote PC Mover Express?"
PC mover Express does not use USMT and not even a Microsoft supported migration method?
None of the Modern UI app settings were migrated and none of the migrated accounts Office Modern Authentication/ADAL worked afterwards.
We tried also moving over the Adobe CC suite with "PC Mover Professional" and NOTHING worked afterwards. Not even Bridge?

---
#### Document Details

⚠ *Do not edit this sectio

[2018-04-12 12:07] SteffanH opened #701 "Guidance on timeframe for Win 10 E5 license to be available after assignment ?"
I have assigned a W10 E5 license to a user running version 1803, but even after a reboot and logging in again the existing Pro installation is not upgraded to Enterprise.
Is there a way to force windows to check for an available subscription, or additional troubleshooting guidance ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-04-12 12:21] wpretorius opened #702 "Assistance"
Thank you for the excellent explanation. My only issue is, I have built the package and installed same, however I do not see my custom created APN settings anywhere in Window 10, in order to verify and test. Please could you assist on how I will actually confirm my new APN created is available. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-04-12 15:29] jizzjazz opened #703 "Support for Inspiron 660"
Service Tag: 4Z4YD2S  Express Service Code: 10831767220

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ab1d555-4c62-ec55-4fb6-d233cddd0654
* Version Independent ID: c0dad820-d199-c3cc-4d98-53d331e6aa17
* Content: [Configure Windows 10 (Windows 10)](https://docs.microsoft.com/en-us/windows/configuration/index)
* Conten

[2018-04-12 15:30] jizzjazz opened #704 "Support for Inspiron 660"
Service Tag: 4Z4YD2S Express Service Code: 10831767220

[2018-04-12 15:30] jdeckerms commented on #703
Please contact Microsoft Support for assistance: https://support.microsoft.com/en-us

[2018-04-12 16:07] jdeckerms commented on #702
You should see the APN configuration for the SIM inserted in the device. To find this setting, select the Start  button, then select Settings  > Network & Internet  > Cellular  > Advanced options.

[2018-04-12 16:33] jdeckerms commented on #616
Thanks for the suggestions! I checked with the engineering team and found that Move-CsMeetingRoom is now supported, so the topic will be updated today with that information as well as some guidance they provided for Exchange Hybrid.

[2018-04-12 16:39] mdlister commented on #616
That's great, I'll try that in the office tomorrow.

[2018-04-12 16:55] b900cool opened #706 "Export not Working on latest update"
Hi,

As of today (4/12/2018) I have not been able to export a start layout using this cmdlet. Last time I successfully made one was 3/3/2018. Here is hte output from powershell.

PS C:\windows\system32> Export-StartLayout -Path "C:\hcsstart.xml"
Export-StartLayout : Element not found.
Thrown exception in StartTileData.dll
At line:1 char:1
+ Export-StartLayout -Path "C:\hcsstart.xml"
+ ~~~~~~~~~~~~

[2018-04-12 17:11] jdeckerms commented on #706
Could you submit this using the Feedback Hub? That way the issue can be raised with the product team.

[2018-04-12 17:13] jrochet opened #707 "Licensing question / clarification"
Is it possible to purchase a minimal number of WDATP licenses, to enable WDATP in the tenant, but then not assign end-users a license and just focus on machines rather than users?

It's not clear why users need to be assigned a WDATP license, and since Windows 10 Pro, Windows 7 & 8.1 are supported, it seems like there is a lot of machine-specific functionality that is available without bothering t

[2018-04-12 17:25] #702 closed

[2018-04-12 17:35] andreabichsel commented on #666
Closing issue for now, please notify if changes are needed.

[2018-04-12 17:35] #666 closed

[2018-04-12 17:42] andreabichsel commented on #656
@justinha Please assign to correct owner.

[2018-04-12 17:43] andreabichsel commented on #654
@justinha Please assign to correct owner

[2018-04-12 17:48] jdeckerms commented on #689
The MSI files are typically released at the same time or shortly following the release of driver and firmware updates to Windows Update, however there are exceptions. The drivers released February 13th to Windows Update were released to Windows Update only and were not made available via MSI. The drivers released March 15th will be made available via MSI, including the improvements made in the Feb

[2018-04-12 18:22] Arno2m opened #710 "Windows 10 x64 updates failing systematically for 4 months already"
List of cumulative updates failing one after another, both through update functionality, and when downloaded from Microsoft portal and launched independantly:
2018-04 KB4093112: failure 0x80092004
2018-03 KB40088776: failure 0x80092004
2018-02 KB4074588: failure 0x80073715
2018-01 KB4058258: failure 0x8007315
I tried Microsoft helpdesk online.... but after several attempts, they did not solve it,

[2018-04-12 18:26] mjcaparas commented on #631
Please contact your Windows Defender ATP contact for help on offboarding after a trial expires.

[2018-04-12 18:59] rellington71 opened #711 "Group Policy Management"
Is there a way to modify the "Configure Allowed Applications" GPO for applications in %APPDATA%? For example Microsoft Teams is blocked from updating itself and the update resides in "c:\users\username\AppData\Microsoft\Teams\Update.exe". In order to allow this application to access controlled folders I would have to add an entry for each user in our organization.

---
#### Document Details

⚠ *Do

[2018-04-12 20:41] jdubyaeber opened #712 "typos in powershell"
the powershell example for the setting of EV is borked.  there needs to be a space between '-LineURI' and 'tel'  and I am relatively sure you cannot nest the set-csmeetingroom and/or double up on dc's.  And LineURI really needs opening quote marks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dda01aa0-b7f1-6cdb-44c8-

[2018-04-12 23:31] mjcaparas commented on #707
Hello jrochet,

Do you mind further clarifying your question as there's no possibility to assign licenses to users for WDATP?

Also, for information on licensing requirements please see: [Minimum requirements](https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-atp/minimum-requirements-windows-defender-advanced-threat-protection).

[2018-04-13 00:58] jrochet commented on #707
Hello @mjcaparas ,

In Office (365) Admin Center, under Users -> Active Users, Windows Defender Advanced Threat Protection licenses can indeed be assigned to users.  I will include a screenshot:
https://i.imgur.com/A1oEKJp.png

The minimum requirements are indeed what I referred to already.  The licensing requirements state:
"Licensing requirements
Windows Defender Advanced Threat Protection requi

[2018-04-13 06:48] wpretorius commented on #702
Thank you for your response Jeanie, just a last question based on your response. Does one need to set the APN settings per SIM inserted? The only settings I set was the following, is this correct?

[cid:image001.png@01D3D304.31E41F00]

Thanks Wikus

Wikus Pretorius
technical support team leader

tel: +27 11 269 7600
mobile: +27 82 310 4239
email: wpretorius@ENSafrica.com
offices: ENSafrica Locatio

[2018-04-13 09:48] JDWNL opened #714 "Authentication Key vs. Protector Key"
I think there is a mistake in the following paragraph:

"When the user has completed this process, Windows Hello generates a new public–private key pair on the device. The TPM generates and protects this private key; if the device doesn’t have a TPM, the private key is encrypted and stored in software. This initial key is referred to as the protector key. It’s associated only with a single gesture

[2018-04-13 12:54] jdeckerms commented on #702
I've just learned from the engineering team that an APN set by a provisioning package won't be showing in the Settings UI. They said you can confirm the setting by opening a command prompt as administrator to run the following commands:

This command will list the profiles. Using the "Name" for the listed mobile broadband profile, run:

This command will list details for that profile, including Ac

[2018-04-13 13:06] wpretorius commented on #702
Thank you very much for your response, I can now see my APN settings have applied to the device and listed.

If one is not able to see in under settings UI, how would you actually then force the connection to use the created APN? Is one able to set is as Default somehow?

Wikus Pretorius
technical support team leader

tel: +27 11 269 7600
mobile: +27 82 310 4239
email: wpretorius@ENSafrica.com
off

[2018-04-13 15:31] ShortOrderCookie opened #715 "Incorrect reg path for policy"
On Enterprise Win10, setting this policy (AllowTelemetry), Computer Configuration > Administrative Templates > Windows Components > Data Collection and Preview Builds.
sets the registry value "AllowTelemetry" in this location:
   HKLM\Software\Policies\Microsoft\Windows\DataCollection
Not at this path:
   HKLM\Software\Microsoft\Windows\CurrentVersion\Policies\DataCollection

So is the policy real

[2018-04-13 16:53] DaniHalfin commented on #715
Hi @ShortOrderCookie , I believe you are correct, however, I'd like to double check with the feature team, as this information was initially populated with their collaboration.
The ADMX definitely suggests that the path used is the one you're suggesting.

[2018-04-13 17:57] mjcaparas commented on #707
Hi jrochet,

Thank you for further explaining. To answer your question - yes, the number of licenses required need to match the number of endpoints that are onboarded to the service.

With regards to the screenshot, although users appear to be capable of being assigned a license, it doesn't have a correlation to the machine being monitored.

I hope that helps.

[2018-04-13 18:17] Justinha commented on #654
@dardie Thanks for the feedback. We revised the topic to make this point more clear.

[2018-04-13 18:17] #654 closed

[2018-04-13 22:31] pjchacong opened #718 "The default Diagnostic Level for Windows 10 Pro is not mentioned in this article. What's the default level for Windows 10 Pro?"
What's the default Diagnostics Level for Windows 10 Pro? Only Enterprise and Education versions are mentioned in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd4517a5-256d-8e67-5153-1f6d9ef737ba
* Version Independent ID: a656e3b9-f1f6-2dff-26c0-38ed670293b6
* Content: [Configure Windows diagnostic data

[2018-04-13 22:44] Justinha commented on #617
You're right, any edition supported by MDM. I'll add that to the table. Reference Windows 10 Pro was to the AppLocker row here: https://www.microsoft.com/en-us/WindowsForBusiness/Compare. It should have a check mark with a footnote that says Win10 Pro is supported when managed via MDM. I'm told that https://www.microsoft.com/en-us/WindowsForBusiness/Compare will soon be updated (or more likely rep

[2018-04-14 10:35] ThomasDommerholt opened #721 "Can't setup PIN in order to setup Fingerprint 0x80090016"
I can change my PIN, but it gives an error beneath the 'I forgot my PIN' line with: 'Sorry - this PIN isn't working for your organization's recourses. Tap or click here to fix it.'. When I tap this it opens a window to setup my PIN, but when I hit the 'Set up PIN' button it says 'Something went wrong. We weren't able to set up your PIN. Sometimes it helps to try again, or you can skip for now and

[2018-04-15 15:31] zhmbd opened #722 "processflow"
to have intimated on innovative real on time in time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93349abc-4222-9185-29e4-1a62b9d3071b
* Version Independent ID: cf46b086-ee87-a57c-36b1-72fdfa5ea139
* Content: [Microsoft Store for Business and Education (Windows 10)](https://docs.microsoft.com/en-us/microsoft-store/)

[2018-04-15 16:49] rezwansarker opened #724 "My Work My Way"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18f4e162-df37-fe9a-85df-7b78a7d91912
* Version Independent ID: c1142f24-8cd3-cbf4-9713-36834841246a
* Content: [Policy CSP - WindowsDefenderSecurityCenter](https://docs.microsoft.com/en-us/windows/client-management/mdm/policy-csp-windowsdefendersecuri

[2018-04-15 20:41] samohtrelhe commented on #698
Hi
(Thankyou, Janine for the nice words on the Afterburner)
We have just added a bunch of XML files for USMT, handling Firefox and Chrome, Excluding system folders and other drives than C:\ with a guide to implement on SCCM and MDT.
AND updated the documentation for using the USMT Afterburner with a SCCM/MDT implementation guide :-)
http://ehlertech.com/customxmls/

/Sam

[2018-04-16 08:02] Tulkku commented on #621
How do I use this with Microsoft Intune?

[2018-04-16 08:52] slunat opened #725 "Multi-App Kiosk Provisioning Error"
I have followed the tutorial exactly and validated my XML against the XSD. It all verified correctly so my formatting must be correct. However, the provisioning package always fails to add properly. I am trying to add the package to the same machine I created the XML on and it still wont work. The error message I get is "Error during package installation". When clicking on details the only extra e

[2018-04-16 09:11] ESLAVANADE opened #726 "upgrade readiness script"
Why it is mandatory to run the script every 30 days ?

[2018-04-16 10:01] GMelford opened #728 "Copy paste errors"
Hi
It is a long time ago usmt did only migrate office 2010.. 🙄

Also, to get more comprehensive xml files for USMT, also handling current Firefox and Chrome editions (plus avoiding backing up tonnes of redundant stuff) I highly Ehlertechs "XML reference collection" at
http://ehlertech.com/customxmls/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-04-16 10:26] AndyH16 commented on #689
Thanks for the response, I can now see an update has been posted on 13th.

[2018-04-16 10:26] #689 closed

[2018-04-16 12:55] jdeckerms commented on #725
Kiosk mode (assigned access) is only supported for Windows 10 Pro, Enterprise, and Education. I'll update the topic to make that clear. https://www.microsoft.com/en-us/windows/compare

[2018-04-16 17:59] Justinha commented on #714
@JDWNL Thanks for asking. The way I read it, protector key seems right in that context. This sentence from the excerpt seems consistent with your comment:
The protector key securely wraps the authentication key.

Is the problem with the word "initial"?

[2018-04-16 18:07] andreabichsel commented on #721
You can get help from https://support.microsoft.com/en-us, which also includes information on contacting Microsoft Support.

[2018-04-16 18:10] #721 closed

[2018-04-16 18:13] andreabichsel commented on #722
Closing this issue for now. If you have doc feedback, please let us know!

[2018-04-16 18:13] #722 closed

[2018-04-16 18:13] andreabichsel commented on #724
Closing this for now. If you have any doc feedback, please let us know!

[2018-04-16 18:13] #724 closed

[2018-04-16 18:14] domcote opened #730 "How do I troubleshoot?"
Followed this to the letter - but AutoPilot still won't run... anymore! I used these exact steps for months now, but it stopped working about two weeks ago. Are there any logs etc. I can use to debug and troubleshoot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4be98430-23fb-04b9-e8ab-57d55093a07e
* Version Independ

[2018-04-16 18:14] #725 closed

[2018-04-16 18:56] adamgourd opened #731 "LTCS for VDI Guidance"
It would be nice to have some guidance with regard to the use of LTSC for VDI. In general, I would argue that VDI scenarios fall more into the "general-purpose user" category versus the "special-purpose devices" described in relation to LTSC. It seems as if some VDI solution vendors are recommending LTSC for VDI, but I am concerned that customer's will run into issues down the road (e.g. MS Office

[2018-04-16 19:05] #617 closed

[2018-04-16 19:06] #631 closed

[2018-04-16 19:06] #635 closed

[2018-04-16 19:07] jdeckerms commented on #560
That will be updated later today. Thanks for your feedback.

[2018-04-16 19:42] JDWNL commented on #714
Hi @Justinha, I see what you mean now. But I still think (and that might be because I'm not a native speaker) that there is a (admittedly small) problem with the sentence Indeed, the problem is with the word "initial" because it is the 'first' key that is the authenticator key, the user then generates a gesture which get's translated into the protector key. Also, I think (from my sentence) the fir

[2018-04-16 21:42] Justinha commented on #714
@JDWNL no problem at all. We want it to be clear. But I think your revision is saying the TPM creates the authentication key, which is not right. It creates the protector key. How about this?
"When the user has completed this process, Windows Hello generates a new public–private key pair on the device, The TPM generates and protects the private key, which is called the protector key; if the device

[2018-04-17 00:02] #707 closed

[2018-04-17 00:09] Justinha commented on #696
@artisticcheese thanks for the comment. I added this point to the opening sentence. The Applies to value at the top only lists Windows 10 because the library is intended for the current release only (although many topics do equally apply to previous versions).

[2018-04-17 00:09] #696 closed

[2018-04-17 00:13] Justinha commented on #667
@fowl2 Thanks for the correction. The Credential Guard engineering team helped us publish a revision to make this more clear.

[2018-04-17 00:13] #667 closed

[2018-04-17 01:00] pushkin- opened #733 "Confused about how to turn on "Only elevate executables that are signed and validated" setting"
I'm looking at [this](https://github.com/MicrosoftDocs/windows-itpro-docs/blob/master/windows/security/threat-protection/security-policy-settings/user-account-control-only-elevate-executables-that-are-signed-and-validated.md) page entitled:

And I have no idea how to set this up. I have Windows 10 Home and want to make sure that Windows doesn't run executables that aren't signed. Is it on by defau

[2018-04-17 01:50] blackchr opened #734 "PluginProfile/ServerUrlList - comma or semi-colon separated list?"
This document states:
VPNv2/ProfileName/PluginProfile/ServerUrlList
Required for plug-in profiles. Comma separated list of servers in URL, hostname, or IP format.

However, two Microsoft examples show semi-colon separated lists:
https://docs.microsoft.com/en-us/windows/client-management/mdm/vpnv2-profile-xsd
https://docs.microsoft.com/en-us/windows/security/identity-protection/vpn/vpn-profile-opti

[2018-04-17 06:32] DuyYuei opened #735 "Network shared with Windows Information Protection"
Hi guys,
I have a problem I shared file on network (network shared) but after i deploy WIP all file on path network shared encrypted although i change personal .
Please let me know : On network shared all data will be encrypted, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b991121b-6fe0-d3db-033a-2bc968ef4490

[2018-04-17 11:14] jrochet commented on #707
Thanks for the answer!

[2018-04-17 14:31] Scottmca opened #736 "Dead "microsoft" link"
Under Supported Devices and drivers the link for "Microsoft" is dead.  It should link to https://support.microsoft.com/en-us/help/4094045/surface-devices-that-work-with-windows-10-s

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ce6147b-57c3-b40d-2d1e-3aa04a3d5606
* Version Independent ID: c453ea14-6842-4af7-42c0-6ef8

[2018-04-17 16:36] Justinha commented on #711
@rellington71 Good question. I've forwarded this to our engineering team for comment.

[2018-04-17 19:11] #712 closed

[2018-04-17 19:11] #681 closed

[2018-04-17 19:11] #560 closed

[2018-04-17 19:17] CelesteDG commented on #736
@Scottmca - Thank you very much for the feedback. I've made this change today and pushed the PR. Hopefully the change goes live this afternoon.

[2018-04-17 19:36] thedrum808 opened #737 "formatting error"
There is a section appearing as code in this documentation that I believe was meant to be formatted as normal text... It can be viewed on a web browser as such.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f93ed48c-b6c8-bbb9-9533-58c5e8e59a73
* Version Independent ID: 0d396e6a-e616-94ca-ab2c-8a19a5df031d
* Content: [

[2018-04-17 19:52] thedrum808 opened #738 "appearing as code"
"Got a suggestion for MBAM?" appears as code on the website, not as normal text. Pretty sure this issue persists throughout the documentation on MBAM.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b542fc76-4120-3f11-f297-c0e1af49e8c3
* Version Independent ID: 1c796ee2-7982-2df1-c82c-3cd231867acf
* Content: [H

[2018-04-17 20:05] brianlic-msft commented on #733
I think this should go to @Justinha instead.

[2018-04-17 21:03] pushkin- commented on #733
I posted on [superuser](https://superuser.com/questions/1314839/how-to-turn-on-only-elevate-executables-that-are-signed-and-validated-setting), and it looks like I can just set the reg key `HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System\ValidateAdminCodeSignatures` to 1.

So I got the problem solved, but I'll keep this open for now. If you think the instructions are c

[2018-04-17 21:04] Justinha commented on #735
@DuyYuei Personal data should not get encrypted. Can you just check if it's encrypted? Here are steps, from the docs:

Make sure the file is encrypted by right-clicking the file again, clicking Advanced from the General tab, and then clicking Details from the Compress or Encrypt attributes area. The file should show up under the heading, This enterprise domain can remove or revoke access: <your_en

[2018-04-18 00:06] Justinha commented on #733
@pushkin Thanks for the feedback. Glad to hear you got it working. Another way is to open any of these security settings is to open secpol.msc (type that in the Run dialog for example) and then that policy path will make more sense. I think this is something that Enterprise admins know, so I won't add it at this time. But if more readers express similar confusion, we can revisit this.

[2018-04-18 00:06] #733 closed

[2018-04-18 00:11] pushkin- commented on #733
@Justinha I'm on Windows 10 Home and can't find that file. Is that by chance only available to Windows 10 Pro users?

[2018-04-18 00:14] Justinha commented on #733
I'm not on Home edition but I'm pretty sure it's there. Click Start > type Run and press Enter,  then type secpol.msc in the Run dialog and OK. Does that work?

[2018-04-18 00:15] Justinha commented on #733
@pushkin- I'm not on Home edition but I'm pretty sure it's there. Click Start > type Run and press Enter, then type secpol.msc in the Run dialog and OK. Does that work?

[2018-04-18 01:31] DuyYuei commented on #735
![capture](https://user-images.githubusercontent.com/38095144/38906760-ab4a280a-42e2-11e8-9ae6-84785ac54ae6.PNG)
Please see this image. When user copy data ( Personal data) to fileserver ( Shared on network) all data show info like this image.

[2018-04-18 04:46] naminakao opened #741 "Unable to apply a mobile device mailbox policy to a resouce mailbox"
The following page describes how to create a device account for Microsoft Surface Hub with Office 365 UI and Exchange Admin Center.

Page : Create a device account using UI (Surface Hub)
URL： https://docs.microsoft.com/en-us/surface-hub/create-a-device-account-using-office-365

However when I follow the instruction in "[1. Create the account in the Office 365 Admin Center](https://docs.microsoft.c

[2018-04-18 10:40] forumer opened #743 "v1709 updates"
This doc references v1607 but v1709 was released right around the 10/13/2017 date of this doc. It would be good to have this doc updated to fully reflect the current Win 10 release and to make sure it's further updated when v1803 is released. For example, v1709 added the Remove People Bar GPO, per https://partnersupport.microsoft.com/en-us/par_clientsol/forum/par_win/disable-show-people-option-gro

[2018-04-18 13:26] dudus999 opened #744 "Enroll HybridJoin device - user assingment"
Hi,
 I use autoenrolment scenario for domain joined computer. Intune is set up to standalone. My device is joined to ad azure (connect type Hybrid Join) with success, device is enrolled to Intune but without user assigment. When I open company portal I see "This device hasn't been set up for corparate use yet...." . When I try assign I see message that "device is already beging managed by an organ

[2018-04-18 14:43] pushkin- opened #746 "Confusion about two security settings. Should I enable both of them?"
I'm looking at two security settings:

1. [UAC: Only elevate executables that are signed and validated](https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/user-account-control-only-elevate-executables-that-are-signed-and-validated)
2. [System settings: Use certificate rules on Windows executables for Software Restriction Policies](https://docs.microsoft.co

[2018-04-18 16:06] Justinha commented on #735
Thanks for the info. From what I see in the overview topic, this is expected on a WIP protected device. See https://docs.microsoft.com/en-us/windows/security/information-protection/windows-information-protection/protect-enterprise-data-using-wip#why-use-wip

"**Copying or downloading enterprise data.** When an employee or an app downloads content from a location like SharePoint, a network share, o

[2018-04-18 19:54] giterdn opened #748 "Device Requirements"
I suggest more content on the constraints of the existing "device requirements", as it relates to a single computer sharing 2 Hello-capable cameras, is added.  Case in point, Dell makes a 24" display that is Skype-certified and Hello-compatible.  In their documentation, Dell advise that a Hello-equipped laptop (e.g. Surface Pro) connected or docked to the display can only allow the 24" display's H

[2018-04-18 20:33] Justinha commented on #746
@pushkin- For the first Q, yes, they control different actions. The first setting does as you describe, but it requires a Public Key Infrastructure (PKI) for your organization. The second setting requires [Software Restriction Policies](https://docs.microsoft.com/windows-server/identity/software-restriction-policies/software-restriction-policies).

If you want to lock down a PC running Windows 10

[2018-04-19 05:02] JanineMarchese commented on #700
To use USMT st.alone an easy way is to use USMTGUI. It has been available for 10 years

[2018-04-19 12:41] DouglasDunphy opened #753 "AppInsights .net error"
Windows 8.1 with all available updates and .Net 4.7.1 installed.  If AppInsights is set to "true", it throws an error at the start of the script.

2018-04-19T08:38:59 : Info : ConfigureAppInsights failed with unexpected exception. Data will not be sent to AppInsights. This is optional and does not affect the onboarding process. The script will continue. Exception: Exception calling "LoadFile" with

[2018-04-19 13:58] StarkCaptain opened #755 "SCCM and WDAC"
It is not clear in the documentation, if you use SCCM to managed WDAC policies, does this conflict with using this method to roll out WDAC policies or are they separate from one another? Will SCCM overwrite the SiPolicy.p7b file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fdf27b-1ead-1b6e-c793-a2ad259a4f6a
* Vers

[2018-04-19 14:25] tarikshaikh commented on #678
Not sure whether this is helpful or not as I am unable to run the above cmdlets on my machine. But this gave a different angle to think. Thanks.

[2018-04-19 16:18] shortpatti commented on #738
@thedrum808,  Thank you for your feedback.  I will take care of the formatting.

[2018-04-19 17:12] #738 closed

[2018-04-19 17:14] shortpatti commented on #737
the formatting issue has been resolved in issue #758.

[2018-04-19 17:14] #737 closed

[2018-04-19 22:14] wm-marting commented on #725
I ahve also gone thru the tutorial and double/triple-verified all steps and am also seeing "A provisioning failure has occurred" after I add the package.  I tried to follow the steps in "Troubleshooting provisioning issues", which pointed me at a specific part of the event log, but there was no additional information about my problem there.  I have tried on both Windows 10 Pro and Windows 10 Enter

[2018-04-19 22:35] mdsakibMSFT commented on #755
Currently you can only have one active SiPolicy.p7b file on a system. The last management authority to write the policy wins. If there was already a policy deployed over GP and then SCCM targeted the same device the SCCM policy would over-write what was there previously.

[2018-04-20 13:10] jdeckerms commented on #725
@wm-marting Please contact Microsoft Support for assistance (https://support.microsoft.com/en-us/contactus/).

[2018-04-20 17:07] danbu opened #759 "Import Start Layout"
I just found this documentation and these pages are must better than older versions and makes Windows 10 configuration must clearer.  The only thing I see missing here is use of the Import-StartLayout PowerShell commandlet (https://docs.microsoft.com/en-us/powershell/module/startlayout/import-startlayout?view=win10-ps).  We use this rather than group policy as it just sets a default configuration

[2018-04-20 17:13] jdeckerms commented on #759
Thanks for the feedback, @danbu!

[2018-04-20 17:56] tFable opened #760 ""Device provisioning during OOBE" section may be out of date"
Hello,

Can you please clarify which version of Windows 10 this article (or any article for that matter) applies to? Especially in the modern provisioning space, there are moving parts from one version of Windows 10 to the next.

As an example, we (or the Premier support engineers we've engaged with) are not able to verify by testing on Win10 1709 (various build #) the following statements in this

[2018-04-20 18:04] jdeckerms commented on #760
This was written for the first version of Windows 10. I'll check with the engineering team on whether there have been changes.

[2018-04-20 18:31] jdeckerms commented on #718
@pjchacong The default level for Windows 10 Pro is FULL.

[2018-04-20 21:45] RalphMalph2 opened #761 "Need more info...."
There are many on/off options relating to the Start Menu such as "Show more tiles in start", "Show most used apps", or "Chose which folders appear in Start" and more. EVERY ONE OF THOSE OPTIONS needs to be discussed in this article in order to be complete. If those options can be set/controlled via the .xml file show example for each one, if it is in the registry, show where and so on and so forth

[2018-04-21 08:01] samohtrelhe opened #764 "Guide to common USMT errors and solutions"
Hi
Nice to see the whole documentation got a big brush-up!
For a guide to common USMT errors, please see the FAQ over at EhlerTech. http://ehlertech.com/#FAQs
There's also customized and updated XML files (2018!) for USMT10, free to download.
They include a lot more file types in the scans, excludes a lot of redundant stuff, and solve the issues with Firefox and Chrome favorites (provided Firefox

[2018-04-21 16:42] crkinard opened #765 "Secure Boot issues."
Following these instructions when trying to load a Surface gives a "Secure Boot Violation" error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6a95648-e93d-fdd5-b52f-afca6e49a139
* Version Independent ID: 607d9bc8-de81-eb28-5326-434e1cf6a696
* Content: [Configure a PXE server to load Windows PE (Windows 10)](https:/

[2018-04-23 00:35] trigga4ever opened #766 "GUI for extracting USMT.MIG files: CNB MIG Extractor"
Or use this PowerShell script that I wrote which is a full GUI for extracting encrypted USMT.MIG files. We use it for USMTs created from SCCM, but it will work with any encrypted USMT.MIG file, providing you know the Recovery Key.

<#
    * This script cannot be run from within the PowerShell ISE because USMT (usmtutils.exe) must be run as Administrator.
    * To workaround this I have created a .

[2018-04-23 03:54] zhaijintao1qwe opened #767 "How to self-register"
[Enter feedback here]

How to self-register equipment in MDM, what needs to be done on the server? Thank you
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b95868d3-c141-0038-69b2-7a6a84d817d8
* Version Independent ID: b68e29a4-fe87-3c20-4abc-06ab815f33ee
* Content: [Azure AD and Microsoft Intune - Automatic MDM enrollm

[2018-04-23 08:54] samohtrelhe commented on #764
Annoying to have to login just to comment in here?.
But Wow, Thank you Sam for the GUI for USMT. Saved me days of work, understanding the syntax, just seeing what the GUI does.
Respect, Rafael

[2018-04-23 09:57] rafaelvanderville opened #768 "Best guide I've saw on syntax. thanks"
I do think though, that when I dived into the Scanstate/loadstate syntax it became unclear what to do when I want to migrate user profiles from one domain to another: https://docs.microsoft.com/en-us/windows/deployment/usmt/usmt-scanstate-syntax
It turned out to be rater complex > /MU:"Domain1\Test user1":"Domain2\test user2" /ue:*\* /ui:"Domain1\Test user1"
NOT very user friendly.
Recommended:
I

[2018-04-23 10:29] gutjahr opened #769 "Link not working"
The 'Give product feedback' link on this page does not work. Getting a 'Bad Request - Request Too Long'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bffe4a4-5840-c6dc-7e5d-850850478f8e
* Version Independent ID: 522eb808-1848-84de-79a8-51a54bddb8ee
* Content: [Windows Security Baselines](https://docs.microsoft.com/e

[2018-04-23 10:42] gutjahr commented on #769
False alarm, clearing the browser cache sees to have fixed the problem.

[2018-04-23 10:42] #769 closed

[2018-04-23 12:48] Aenea42 commented on #647
Hello all,

I stumbled into this post after a lot of searching to solve my own DFS issues (that are exactly the same as konrag explained above).
Considering that he is unable to troubleshoot this issue further, maybe I can provide the needed troubleshooting information. If you are still interested in troubleshooting this issue of course?

I have 2 file servers (2012R2) in different sites (with ded

[2018-04-23 13:20] RefleCs opened #771 "Posibility to have multiple Management Tools"
It is possible to have multiple Management tools. Just tested this with SCCM and Intune as Management tools. STfB is now syncing with both tools.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35591c95-f30d-db89-1d46-10ac8605e393
* Version Independent ID: d8db65bc-8448-2236-2880-2cf4eee17a2f
* Content: [Distribute apps

[2018-04-23 17:07] andreabichsel commented on #753
Please see https://support.microsoft.com/en-us for help with this issue.

[2018-04-23 17:07] #753 closed

[2018-04-23 17:10] #759 closed

[2018-04-23 17:12] #764 closed

[2018-04-23 17:13] andreabichsel commented on #765
Please see https://support.microsoft.com/en-us for help with this issue.

[2018-04-23 17:13] #765 closed

[2018-04-23 17:14] #766 closed

[2018-04-23 20:18] jschlackman opened #774 "Section omits details of the hidden C:\$GetCurrent\Logs"
This section on log examination does not mention the log files located in the hidden C:\$GetCurrent\Logs location. When I eventually found this location using Procmon.exe, the log file it contained was invaluable in identifying an issue that was blocking he Windows Upgrade Assistant at 0% installation (after the download completed and was verified).

---
#### Document Details

⚠ *Do not edit this

[2018-04-23 21:10] gcatalfo opened #775 "Missing ZIP files"
I see that the ZIP files are missing for multiple devices. I have a stack of Surface Book 2's that I need to image and deploy with MDT/WDS that I can't without the driver and firmware package.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 586d1246-6e18-b33c-2382-52a53bb392f5
* Version Independent ID: 0ec4aa1e-aac0-98d

[2018-04-23 21:15] tFable commented on #760
Hello,

Thanks for your reply.

I see that the issue was closed by "andreabichsel". I don't believe the query in the original request was answered.

Can you update us on what the engineering team's feedback was, please?

[2018-04-23 21:15] BRecords commented on #775
ZIP files are no longer produced for Surface driver and firmware packs as their contents are redundant with the contents of the MSI. Use **msiexec /a**, the administrative install function, to extract the contents of the MSI just like you would with a ZIP. You can then import just the same as you would with the ZIP into your MDT deployment share.
There are specific instructions provided in the blo

[2018-04-23 21:25] gcatalfo commented on #775
Got it. Thanks!

[2018-04-23 22:07] Justinha commented on #711
@rellington71 sorry for delay. The engineering team indicated they are aware of this feedback and are working on a solution.

[2018-04-23 22:59] andreabichsel commented on #760
Sorry, reopening until answered.

[2018-04-24 02:31] tFable commented on #650
My experience with CleanPC has also been mixed. I think better documentation is needed to understand exactly what it is doing when triggered. By observation I believe it is going through a "Restore PC" routine but I can't find any documentation to back that claim.

[2018-04-24 09:47] czrik opened #776 "Broken link"
Configure Multi-Factor Authentication returns a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19ddbb85-f5df-b124-2783-0330d9da2e06
* Version Independent ID: aff516a2-3bb0-843d-5652-e25f90bab00f
* Content: [Sign in to Surface Hub with Microsoft Authenticator](https://docs.microsoft.com/en-us/surface-hub/surface-hub

[2018-04-24 11:17] alexverboon opened #777 "Create and manage machine groups in Windows Defender ATP"
on the docs page: https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-atp/machine-groups-windows-defender-advanced-threat-protection

The following remediation levels are described.

- Remediation level for automated investigations
- No remediation
- Require approval (all folders)
- Require approval (non-temp folders)
- Require approval (core folders)
- Fully autom

[2018-04-24 12:53] jdeckerms commented on #776
Thanks for letting us know. The link will be fixed today.

[2018-04-24 16:03] jdeckerms commented on #761
I compared the Start options in Settings to the topic, and I see that "Show more tiles on Start" is not mentioned in the documentation. I'll contact the engineering team to see if there is a Group Policy or MDM setting that you can use to manage it.

All of the other Start options in Settings are covered in the policy table for "Start options".  For example, if you look at the "local setting" colu

[2018-04-24 16:37] jdeckerms commented on #761
I found out that "Show more tiles" allows 4 columns of medium-sized tiles rather than the default 3. I'm adding a note to the topic to explain that you turn on that setting before you export your Start layout (if you want that size of layout).

[2018-04-24 20:00] StarScreamV2x opened #778 "Adding the taskbar portion"
If I import the StartLayout without the taskbar customizations, it works.  If I add the taskbar customizations I get the following:
PS C:\windows\system32> Import-StartLayout -LayoutPath c:\windows\temp\layout.bin -MountPath c:\
PS C:\windows\system32> Import-StartLayout -LayoutPath c:\windows\temp\layout.bin -MountPath c:\
Import-StartLayout : The file C:\windows\temp\layout.bin is not a valid la

[2018-04-24 20:05] jdeckerms commented on #778
@StarScreamV2x I'm sorry you're having issues with your Start and taskbar layout but I can't troubleshoot it for you. The best way to get help would be to contact Microsoft Support (https://support.microsoft.com/en-us/contactus/), or you can post in the Forum (https://social.technet.microsoft.com/Forums/windows/en-US/home?forum=win10itprogeneral).

[2018-04-24 22:13] Bartolomeus-649 opened #779 "Is this a joke?"
So this is everything that can be configured in Windows nowadays?
Where is the documentation on networking, printers, the registry, console commands, startup options, disk config and so on???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ab1d555-4c62-ec55-4fb6-d233cddd0654
* Version Independent ID: c0dad820-d199-c3cc

[2018-04-25 02:11] jeff-bb opened #781 "No auto-restart description"
No auto-restart with logged on users for scheduled automatic updates installations appears to only apply to locally / console logged on users (locked or unlocked is fine). It appears to not apply to disconnected RDP sessions. The documentation does not reflect this and implies that it will work for all instances of users logged on.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-04-25 02:13] DaniHalfin commented on #730
Hi @domcote, there are 2 great blog posts by a Principal PM on the AutoPilot team about troubleshooting :
- https://blogs.technet.microsoft.com/mniehaus/2017/12/13/troubleshooting-windows-autopilot-level-100200/
- https://blogs.technet.microsoft.com/mniehaus/2017/12/13/troubleshooting-windows-autopilot-level-300400/

[2018-04-25 02:33] DaniHalfin commented on #748
I'm going to go with the infamous @MikeStephens-MS tag

[2018-04-25 02:38] lesca opened #782 "“Precedence for provisioning packages” section"
*System Integrator* and *OEM*, which one's rank level is 3? The example says *System Integrator* is 3, the order list says it is 4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f207b491-f262-43cf-1002-8f3fb2a052c6
* Version Independent ID: 5358ed30-928c-e397-04e7-7f4c602777e2
* Content: [How provisioning works in Win

[2018-04-25 09:09] SuHwak opened #783 "included SQL Server Express edition version"
Is VAMT still installing SQL Server 2012 Express edition if you select the option to let VAMT install SQL server Express Edition?
Seeing that SQL 2012 SP4 is out of mainstream support, and company policy dictates that I must not install software that is out of mainstream support, I wonder if its still SQL 2012 that is being installed as part of VAMT?

---
#### Document Details

⚠ *Do not edit this

[2018-04-25 13:01] jdeckerms commented on #782
@lesca I'll remove the example because I can see how it makes it confusing.

The precedence is the numbered list. The rank is any value between 0 and 99 that the builder enters.

The precedence order is applied first. If there are multiple packages with the same precedence (like two OEM packages), then the rank is applied.