[2018-09-18 14:44] MikeStephens-MS commented on #990
FIXED!!
This should be fixed in today's update

[2018-09-18 15:30] esanumIT commented on #1645
Oops, that was my bad, indeed. but yea, to have that same set of policies for the bitlocker PIN would be good. I'll try to remember to submit that FR tomorrow.

[2018-09-18 15:51] somehowadev opened #1653 "Is ComputerAccount used for just adding the Computer to the domain?"
Was just wondering if the account specified for adding the computer to the domain is also used for installation of programs/edition upgrade etc or does it still carry on using whatever account OOBE uses?

Since I've found UAC prompts pop up on what I believe is the edition upgrade setting, after the computer is joined to the domain. The computer account it uses to join the domain isn't part of the

[2018-09-18 16:07] TecumsehSamp commented on #1653
I suspect it's due to `HideOOBE` not being set to `True`.

[2018-09-18 18:12] Justinha commented on #1645
@esanumIT perfect, thank you.

[2018-09-18 18:12] #1645 closed

[2018-09-18 19:25] Kazzan opened #1656 "Azure AD Login Format"
Hi, the "AzureAD\FirstnameLastname" can be incorrect. It is local path of user profile in C:\Users\ which is created based on DisplayName attribute from Azure AD. So it can be a really different name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72e1cc18-3fc2-d7fa-7ff3-20fc9a3596d4
* Version Independent ID: 8ed24664-

[2018-09-18 20:53] #1643 closed

[2018-09-18 20:59] xXxOlivierxXx commented on #1644
So the only reason for running Initialize-ADDeviceRegistration is to create the DRS AD containers? Would enabling enterprise DRS in ADFS cause any problems with Windows Hello, or it doesn't matter because at the end of the day, the SCP will route users to Azure DRS?

[2018-09-19 11:24] TecumsehSamp opened #1660 "Does ComputerName validate with DNS servers?"
Computer name validates with [the DNSValidateName](https://docs.microsoft.com/en-us/windows/desktop/api/windns/nf-windns-dnsvalidatename) function, though does it also check to see if the name has already been used? What happens if there is a computername conflict during the AD join? Will it pick another random int till success (if you decided to append a random integer)?

A suggestion would be (i

[2018-09-19 19:09] DirkMCar opened #1661 "AssignedAccessConfiguration support scripts"
The CSP examples state how to allow a modern app or a legacy x86 app, but there is no mention of scripts. Since the Configuration node makes use of AppLocker, is there any way to allow for a link to points to a script that fires off a legacy app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8301897-dfa3-ef3b-744f-9e

[2018-09-19 19:13] slaet opened #1662 "On this Site are the "OLD" Silverlight screenshots"
Can you please update this Site with the new Azure Portal screenshots. This site is linked from the WDATP Portal and it makes no sense to show the people the old Portal stuff that is no more in use.
thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bc98378-18c5-81bf-769e-d76d26852c91
* Version Independent ID: d

[2018-09-19 20:18] jdeckerms commented on #1661
@DirkMCar I'm checking on this, I'll let you know what I learn.

[2018-09-19 20:40] mcolozzo commented on #1583
MSI does not appear to have the storage driver. Trying to install our custom Win10, we can't load a disk. Anyone run into this?

[2018-09-19 21:41] mlrankin opened #1663 "Issues with BiLocker Network Unlock"
Hello there,
I am working on enabling the network unlock for our domain systems.  However I am using a virtual server running Windows Server 2016 that is not the domain controller (or the DHCP).  I setup a DHCP and separate WDS server on this virtual server but how do I get to issue the certificates for LAN connected devices that get is IP address from the domain controller?

---
#### Document Det

[2018-09-19 22:37] MSFTJerryAb opened #1664 "Recommend linking to the SCCM MSfB integration/troubleshooting reference"
https://support.microsoft.com/be-by/help/4010214/understand-and-troubleshoot-microsoft-store-for-business-integration-w

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 806bafee-0358-4654-08cf-f9a0bf3ea208
* Version Independent ID: 3223ab26-fe54-6eec-6f3c-9e75c0fdfd19
* Content: [Troubleshoot Microsoft Store for Business

[2018-09-19 22:59] Justinha commented on #1663
@mlrankin One thing about your setup, can you confirm the DHCP server and WDS server are running on separate virtual machines?

[2018-09-19 23:27] mlrankin commented on #1663
Yes

Powered by Cricket Wireless

-------- Original Message --------
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Issues with BiLocker Network Unlock (#1663)
From: Justin Hall
To: MicrosoftDocs/windows-itpro-docs
CC: Maurice Rankin ,Mention

@mlrankin<https://github.com/mlrankin> One thing about your setup, can you confirm the DHCP server and WDS server are running on separate virtual machines?

[2018-09-19 23:40] sasanmcp opened #1665 "NativeProtocolType supported values"
so, NativeProtocolType does not support SSTP? is that what it means? SSTP is also a protocol among IKEv2,PPTP,L2TP and it does not make sense for it not to be in this list.

also, is this a multi-value configuration node? let's say I want the profile to try just IKEv2 and PPTP but not L2TP or SSTP. can I do that if I simply put:
&lt;NativeProtocolType&gt;IKEv2,PPTP&lt;/NativeProtocolType&gt; in my

[2018-09-20 00:04] xXxOlivierxXx commented on #1644
I had to deploy DRS today and just to be on the safe side, I tried to run Enable-ADFSDeviceRegistration after running Initialize-ADDeviceRegistration and got the following warning:

![capture](https://user-images.githubusercontent.com/21185516/45788081-ab6aec80-bc35-11e8-8178-ff2c04c4b9f3.JPG)

This tells me that while enabling DRS is needed, you no longer need to run this command manually because

[2018-09-20 01:15] JeremyTBradshaw opened #1666 "Calculator?"
This guide seems almost insane when you compare it with the ADFS sizing calulators or the Exchange sizing calculators.   Couldn't Microsoft just come up with some rough baseline numbers for users+devices and 2016 DC's and state them?  This upgrade your DC's one by one, then monitor your event logs, then do calculations, rinse and repeat, etc., is fairly indirect guidance, in my opinion.

Deploying

[2018-09-20 03:52] schenardie commented on #856
So you saying this will only work with 1809??  Its working on 1803 currently but only one group added as a String (example Administrators)  but if 2 groups are needed on the same Settings it doesn't work.  Already tried with "name1;name2" "name1; name2" "name1,name2" "name1, name2" "<Data>Name1&#xF000;Name2</Data>" "Name1&#xF000;Name2"  can someone provide more info on how to get the these setting

[2018-09-20 13:09] joker32 opened #1667 "defender power bi"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c94f17bc-9075-8816-0087-a58388c94266
* Version Independent ID: c024d528-b4bf-b069-c54f-764a04f27aa5
* Content: [Create and build Power BI reports using Windows Defender ATP data](https://docs.microsoft.com/en-us/windows/security/threat-protection/wind

[2018-09-20 13:10] #1667 closed

[2018-09-20 13:38] id1010 commented on #1583
This is exactly what happened to me also.
See my question I raised here.
https://forums.windowscentral.com/windows-10/478995-why-cant-i-install-fresh-installation-surface-go.html

If someone has a slution please share.
Thanks

[2018-09-20 13:39] jdeckerms commented on #1661
@DirkMCar Scripts aren't supported. In the upcoming update, we're adding the ability to set an app to launch automatically, maybe that will work for your situation.

[2018-09-20 16:06] mlrankin commented on #1663
I just updated the BIOS on my test laptop.  I am using a Dell Latitude 3570.  I see one of the requirements is for the UEFI-based and is on firmware version is 2.3.1.  I am hoping updating to the latest firmware gets me closer to resolving this issue.  Will post back results.

[2018-09-20 17:02] mlrankin commented on #1663
Still no go.  Even with laptop connected to the LAN it wants the PIN.  Now it wants the bilocker recovery key and giving message about "boot configuration has changed" so I have to put in PIN and recovery key to get the proper boot.  I have checked the DHCP and WDS settings several times.  Has this process been tested in Windows Server 2016 with Windows 10 Machines?

[2018-09-20 17:42] dgrose opened #1668 "Oxcaa80000 error not listed"
Trying to set up a PIN on a new company laptop and it thinks it's not connected to the internet (but it is)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b4f9133-887f-17a6-95fc-3712de8a3fa1
* Version Independent ID: 09d34ce8-1590-8202-3e70-e6299dadbb65
* Content: [Windows Hello errors during PIN creation (Windows 10)

[2018-09-20 17:43] dgrose commented on #1668
I meant 0xcaa80000 of course. :)

[2018-09-20 18:40] Justinha commented on #1663
Does the laptop get an address from DHCP? You mentioned initially it gets an IP address from the domain controller but I don't understand that.

[2018-09-20 18:45] mlrankin commented on #1663
Yes. I tested it in NIC/PXE mode and I see the DHCP IP and the MAC and my workstation IP. But I can't tell if my laptop is sending the request to the WDS server.

Powered by Cricket Wireless

-------- Original Message --------
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Issues with BiLocker Network Unlock (#1663)
From: Justin Hall
To: MicrosoftDocs/windows-itpro-docs
CC: Maurice Rankin ,Mentio

[2018-09-20 18:59] Justinha commented on #1663
You might need to use Network Monitor for that. Were you able to enable WDS debug logging? You might need to review that and the BitLocker event log to troubleshoot.

[2018-09-20 19:06] mlrankin commented on #1663
Ok, I am looking at the event log.  It did process a request form my client machine but says there is no boot images installed for this architecture.  I see x64uefi so I am assuming I need to add that image to there sever correct?  Do I need to add it to the WDS server or my DHCP server?

[2018-09-20 19:10] Justinha commented on #1663
Image file muse be for WDS.

[2018-09-20 19:12] Justinha commented on #1663
But I'm not sure how the image file is related.

[2018-09-20 19:32] mlrankin commented on #1663
Not that I got the debugger working I should be able to narrow this down.  Let me test more and will let you know how it turns out. Thanks for the help so far.

[2018-09-20 21:13] BRecords commented on #1583
The MSI does contain the Surface NVM Express Controller, which should be injected into your WinPE and Windows images. If you continue to encounter difficulty using the MSI, please contact Surface support:
https://support.microsoft.com/en-us/products/surface-devices/surface-business

[2018-09-20 22:03] mlrankin commented on #1663
In the BIOS what should my boot sequence be?  I have Windows Boot Manager, UEFI:Toshiba Partition 1, Onboard NIC(IPTV4) and OnBoard(IPTV6).  From the phase graph it should be Windows Boot Manager (I assume) to send the request to the WDS.

[2018-09-20 22:14] Justinha commented on #1663
I think the onboard nic needs to be first for WDS to work.

[2018-09-20 22:16] mlrankin commented on #1663
Yes, were getting somewhere now.  It seeing the DHCP and retrieving and IP address.  Let me check my WDS server properties to make sure its set properly.

[2018-09-20 22:29] Niglb opened #1669 "Windows 1803 Reset PC"
Hi there - we use a provisioning package and are now attempting to deploy 1803. Reset PC now does not work when you Reset, keeping the provision package. The PC is unusable and very unstable, failing to re-join our domain. This is the same package from our 1709 deployment. Any ideas on settings now that are not supported ?

[2018-09-21 08:18] georgioup opened #1670 "Kiosk browser cache"
Is there a way to clear all browser history after the end of a session?
Thanks

[2018-09-21 08:22] georgioup opened #1671 "Kiosk browser cache"
Is there a way to clear all browser history after the end of a session?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd2d1007-2cbb-94a6-18aa-a0b879262ab1
* Version Independent ID: 625d9906-0cb0-23eb-3a56-a84ad774d291
* Content: [Guidelines for choosing an app for assigned access (Windows 10)](https://docs.micr

[2018-09-21 11:02] dfter opened #1672 "Version"
How can u verify what version of the SSU is installed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b706f0af-d504-a8ca-7c38-b8bb9283bfad
* Version Independent ID: 14f31acf-9f47-59a6-269f-62ab249fe560
* Content: [Servicing stack updates (Windows 10)](https://docs.microsoft.com/en-us/windows/deployment/update/servicing

[2018-09-21 11:39] shortpatti commented on #1670
Closing. Duplicate of #1671

[2018-09-21 11:39] #1670 closed

[2018-09-21 12:52] jdarre commented on #1339
Hi.
I have the same problem. Error in the console, but the user is created and working on the client. We use Autopilot and users sign in as Standard users, and we thus need this to set a local administrator.

[2018-09-21 13:00] jdeckerms commented on #1669
@Niglb Please report this through the Feedback Hub so the engineering team can investigate, thanks!

[2018-09-21 16:34] mlrankin commented on #1663
MY WDSServer is listening on port 10.144.80.30.  If my clients are getting its IP address from the DHCP with address of different ranges how do I get the WDSServer to see the clients request?

[2018-09-21 18:09] marypcbuk opened #1673 "no mention of 'block suspicious behaviors' option added in build 17704"
according to https://blogs.windows.com/windowsexperience/2018/06/27/announcing-windows-10-insider-preview-build-17704/#oXBMFRkVdBLoFcE4.97 "a new protection setting, Block suspicious behaviors, brings our Windows Defender Exploit Guard attack surface reduction technology to all users"; would be helpful to see documentation for how this works and can be managed.

---
#### Document Details

⚠ *Do no

[2018-09-21 18:28] hopetobethefinal commented on #1669
I apologize, however, I don't know how to report through the feedback. I am very overwhelmed, I have close to 150 emails regarding this issue.

Sincerely,
Kari McBee
5414305892

--------------------------------------------
On Fri, 9/21/18, Jeanie Decker <notifications@github.com> wrote:

 Subject: Re: [MicrosoftDocs/windows-itpro-docs] Windows 1803 Reset PC (#1669)
 To: "MicrosoftDocs/windows-itpr

[2018-09-21 18:39] jdeckerms commented on #1669
@hopetobethefinal Feedback Hub is part of Windows 10. On a Windows 10 device, in the Start menu list of apps, select "Feedback Hub".

[2018-09-21 19:13] Justinha commented on #1663
The Network Unlock provider on the WDS server recognizes the vendor-specific DHCP request that gets broadcasted by Windows Boot Manager. The request contains the network key and a session key for the reply. See the section titled "Network Unlock Sequence".

[2018-09-21 19:54] jdeckerms commented on #1605
@onefanfare I apologize that it took me so long to reply. You're correct, PDFs aren't supported in Kiosk Browser. I'm updating  https://docs.microsoft.com/en-us/windows/configuration/guidelines-for-assigned-access-app#guidelines-for-web-browsers to mention that.

[2018-09-21 20:45] presleymark opened #1674 "Offline downloads sometimes only has a GUID for the file name and no extension"
The download is very confusing and useless for most people since it has no file extension it cannot be installed.

[2018-09-21 23:50] tFable commented on #781
Hello,

Could you please update this post with your findings? I'm also interested in this.

Thanks!
t

[2018-09-24 13:09] officeninja415 commented on #1630
Just seeing if there has been any updates on this.

[2018-09-24 13:14] jdeckerms commented on #1630
@officeninja415 I don't have an answer yet, sorry.

[2018-09-24 14:19] jdeckerms commented on #1656
@Kazzan Thanks for your suggestion, I'll add that information to the topic.

[2018-09-24 14:33] jeff-bb commented on #781
From my side, the support incident has been closed by MS as "not a bug". They claim that a disconnected RDP session is not a logged in user, so the device reboots are valid. We have to warn our users that if they work from home or after hours that they will get rebooted. I was also told that the documentation would not be updated to reflect this information.

[2018-09-25 01:33] iadgovuser1 opened #1678 "Was Census.Security removed from 1703?"
On August (14) Census.Security was part of the 1703 Basic level documentation. When I checked today it is missing. Is that correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58804632-6711-f8c2-4af8-6d34b0bfb913
* Version Independent ID: 48b4ba5b-d580-11e4-dbbc-caacd3483be7
* Content: [Windows 10, version 1703 basi

[2018-09-25 01:37] iadgovuser1 commented on #1641
Related to #1164

[2018-09-25 03:27] tFable commented on #781
Hey @jeff-bb : I know it may not make much of a difference at this point but I'd like to respectfully disagree what the statements of MS. A disconnected session is still a _logged on_ session. As an example of this, disconnected RDP sessions still cause user authentication attempts against AD. This is why when a user account has it password changed, if a disconnection RDP session exists that had b

[2018-09-25 05:41] IanDoesIT opened #1679 "Enterprise Solution for Surface Dock firmware updating"
Hi,
This firmware updater is very easy to use however it is problematic in an enterprise environment. The organisation I work for made the decision to change its entire computer fleet to Surface Books and all desks have surface docks all up about 300.
This surface book firmware updater process does not cater to scaling out to many docks since you have to follow the prompts connect, check if up to

[2018-09-25 12:00] summone opened #1680 "Great but where is a copy of a sample completed Config.xml file for the start menu with comments suggested what is required and what is optional?"
Sample config file would be useful instead of bit feeding us with, you can add this and that what about a completed sample with comments to help us out here!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78038d67-04a1-f4ae-6a69-98e157688a31
* Version Independent ID: c86b4460-e8be-8537-a6c8-3cb094ef14a3
* Content: [Set

[2018-09-25 12:04] anwarmahmood1 commented on #1671
me too
I'm trying to use this for an online public access catalogue (OPAC), a great use case for a Windows 10 kiosk computer. Colleges, Universities and Libraries will benefit from this.

In our case - probably *every* case - the OPAC system can enable kiosk users to logon to reserver a book, etc.  I can get this working, and have set a 5 minute timeout.  However, when the 5 minutes are up, Kiosk

[2018-09-25 12:45] jdeckerms commented on #1680
@summone We provide a full XML sample for reference here: https://docs.microsoft.com/en-us/windows/configuration/kiosk-xml

[2018-09-25 12:59] jdeckerms commented on #1679
@IanDoesIT This is really important information, could you submit it through the Feedback Hub so it gets directly to the engineering team?

[2018-09-25 13:01] summone commented on #1680
Yes that was exactly what I was looking for where is the link for this on
the page though?

On Tue, 25 Sep 2018, 1:46 pm Jeanie Decker, <notifications@github.com>
wrote:

[2018-09-25 13:15] jdeckerms commented on #1680
@summone We'll add a link.

[2018-09-25 13:42] jdeckerms commented on #1671
@georgioup There's a bug for cache clearing that is fixed in the next major update. @anwarmahmood1 I've passed the details of your scenario on to the product team, it will help them prioritize getting the bug fix pushed to earlier OS versions.

[2018-09-25 14:18] jeff-bb commented on #781
Of course I (and the company I work for) disagree. This behavior is different from the previous OS and is undesirable in all aspects. When the restart orchestrator runs, it only ignores wtsEnum'd sessions that are wtsDisconnected. So the logging shows, "no user logged in, skipping NoAutoRestartCheck" and falls back to the newer style of Windows 10 restart behavior (restart, engagedRestart, etc). T

[2018-09-25 15:16] milesgratz opened #1681 "Formatting corrections"
1. Header for Certificate templates is misspelled: https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-hybrid-cert-whfb-settings-pki#certifcate-templates

2. Header for Publish Templates is inside the Note block, so it is not hyperlinked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-09-25 15:19] milesgratz commented on #1681
Also, forgot this one.

3. Misspelling on navigation links for guide on this md file [Prerequistes](hello-hybrid-cert-trust-prereqs.md)

[2018-09-25 15:44] shortpatti commented on #1678
@Justinha, I don't think this is you but I'm not sure.  If not, let me know and I'll assign it to the correct author.

[2018-09-25 15:45] shortpatti commented on #1674
@presleymark,  Can you tell me what topic this is referring to so that I can help you better?

[2018-09-25 15:47] #1680 closed

[2018-09-25 15:49] summone commented on #1680
Perfect thanks for the help.

Please note some pages logic do not make sense also.

For instance I have been asked to lock down win 10 tabs for a group of
councillors. I have now followed the instructions made the start Config
file. Added it to intune created a profile.

Added the start file the apps it should access.

Registered the device on the network.

But its not configing the start menu as

[2018-09-25 15:54] #1679 closed

[2018-09-25 16:02] jdeckerms commented on #1680
@summone If you're following the procedure for configuring a multi-app kiosk in Intune and not getting the results that you should, you'll need to contact Microsoft Support for assistance. (https://support.microsoft.com/en-us/contactus/)

[2018-09-25 16:20] presleymark commented on #1674
Hi Patti,

I was trying to report bugs on the business store specifically in regard to
offline downloads.

I clicked a link that was supposed to be for providing feedback on the
business store and it to me to this GitHub page so I entered the issue.
Then after I entered it I noticed it didn't seem like the right spot.  I
even went back and clicked on the link again and it took me to the same
place

[2018-09-25 18:51] Ankit198 commented on #1663
I am stuck at
Choose the certificate template created for Network Unlock on the Domain controller and select Enroll. When prompted for more information, add the following attribute to the certificate:

Select the Subject Name pane and provide a friendly name value. It is suggested that this friendly name include information for the domain or organizational unit for the certificate. For example "Bi

[2018-09-25 19:28] Curtmcgirt opened #1682 "\\server\profile"
I've had \\server\profile in place for certain users for about a decade and a half. we just upgraded RDS servers from 2008 R2 to 2016 servers, and the roaming profile path \\server\profile is being ignored by the 2016 servers. users are getting a local profile only. where is this documented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-09-25 19:31] jdeckerms commented on #1682
@Curtmcgirt Information about roaming user profiles on Server is here: https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/jj649079(v=ws.11)

[2018-09-25 19:31] Dopebiz6Dime opened #1683 "Provisions"
Great way to "classify" .. So far I like the changes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06428902-fcd2-fc71-37b8-c15087aa6849
* Version Independent ID: 725a666d-2fb9-591a-ef18-e19c964fecbe
* Content: [Provisioning CSP](https://docs.microsoft.com/en-us/windows/client-management/mdm/provisioning-csp)
* Content

[2018-09-25 19:34] Curtmcgirt commented on #1682
@jdeckerms that article includes approximately zero information about server 2016.

[2018-09-25 19:44] jdeckerms commented on #1682
https://docs.microsoft.com/en-us/windows-server/storage/folder-redirection/deploy-roaming-user-profiles

[2018-09-25 21:42] DaniHalfin commented on #1681
Hi @milesgratz, thanks for reaching out.
While we work to fix the formatting issues, I'd like to suggest the "Edit" option, to actually send us a pull request with the changes. You can use this for this instance or for any future instances where you find formatting issues (or typos :) ).

[2018-09-25 21:52] DaniHalfin commented on #1666
Hi @JeremyTBradshaw , thanks for reaching out.
There really isn't even a rough number we can point to. It really depends on too many variables, such as - What kind of servers are you using? How many requests are DCs receiving and at what frequency? Are there any other services running? What type of security software are you using? (and so on..)
That is only further complicated by the # of users an

[2018-09-25 21:55] DaniHalfin commented on #1636
@pkuntal thanks for your questions -
1. Do Windows Hello TPM entries get restored or re-created following a reboot?
2. Do Windows Hello TPM entries get restored by the Passport container service?

Adding @MikeStephens-MS for comments.

[2018-09-25 21:56] DaniHalfin commented on #1556
@DuggerConsulting this issue is now marked as solved in the title. Does this mean that you consider the issue solved?
Thanks.

[2018-09-25 21:59] DaniHalfin commented on #1540
Hi everyone,
Please reach out to support to collect event logs and help resolve this issue.
We'll work to include additional error codes in future revisions of this topic.

Thanks.

[2018-09-25 22:05] DaniHalfin commented on #1536
Hi @adamgourd and thanks for reaching out.
Seemingly the IEDataOptIn is specific to WA data collection, and so not in scope of this topic. I will make sure of that and will reply back.

[2018-09-25 22:09] DaniHalfin commented on #1483
@shortpatti - please close this issue.
If there are any updates to the original feedback, please reply back. Thanks!

[2018-09-25 22:09] DaniHalfin commented on #1412
@shortpatti - please close this issue.
If there are any updates to the original feedback, please reply back. Thanks!

[2018-09-25 22:13] JeremyTBradshaw commented on #1666
Fair enough.  Thanks for the response.  I suppose even at minimum, the DC's should be scaled according to whatever other dependencies there are then these counters could be monitored during this implementation..

Calculators are nice, but I do get it that DC's are up against more variables.

Thanks again.

[2018-09-25 22:13] #1666 closed

[2018-09-25 22:19] DaniHalfin commented on #1666
Still thanks for the call out. We definitely have areas where we can simplify, unfortunately authentication is one area that is very hard to simplify.

[2018-09-25 23:44] iadgovuser1 commented on #1678
OK, thanks for the info.

[2018-09-25 23:44] #1678 closed

[2018-09-25 23:57] IanDoesIT commented on #1679
Thank you @jdeckerms if you are referring to the Windows 10 feedback hub app in windows we have that disabled by group policy. Is there any other alternatives?

[2018-09-26 02:04] jdeckerms commented on #1679
@IanDoesIT I can pass it on, but it's more likely to get attention coming from customers through the app.

[2018-09-26 04:42] MumpekPumpa commented on #1483
@DaniHalfin, my apologies for not answering, I didn't see a reply was posted. Our RDS deployment was configured with:
`reg add HKLM\SYSTEM\CurrentControlSet\Control\Lsa /v DisableRestrictedAdmin /d 0 /t REG_DWORD`

So using mstsc /remoteguard should have worked for regular users as well, but it didn't. This was only the case for our RDS server, it worked without issue on all other servers.

As suc

[2018-09-26 06:28] peternorlander opened #1684 "0xc0090030 error not listed"
Getting this error when trying to setup pin

---
#### Dokumentinformation

⚠ *Redigera inte det här avsnittet. Det krävs för docs.microsoft.com ➟ länkning till GitHub-problem.*

* ID: 6b4f9133-887f-17a6-95fc-3712de8a3fa1
* Version Independent ID: 09d34ce8-1590-8202-3e70-e6299dadbb65
* Content: [Windows Hello errors during PIN creation (Windows 10)](https://docs.microsoft.com/sv-se/windows/security

[2018-09-26 10:31] MoonGem commented on #1342
A time limited URL huh?

[2018-09-26 10:36] MoonGem opened #1685 "So."
So what you're saying is basically copypasta something, then uninstall windows to get rid of candy crush saga.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b48c394-863e-9a54-6d5b-5f31ff07849f
* Version Independent ID: f5ddf9f4-c449-360c-107e-582f7d9df7fd
* Content: [Windows 10 connection endpoints](https://docs.micr

[2018-09-26 10:38] ghost opened #1686 "So what you're saying is basically copypasta something, then uninstall windows to get rid of candy crush saga."
So what you're saying is basically copypasta something, then uninstall windows to get rid of candy crush saga.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b48c394-863e-9a54-6d5b-5f31ff07849f
* Version Independent ID: f5ddf9f4-c449-360c-107e-582f7d9df7fd
* Content: [Windows 10 connection endpoints](https://docs.micr

[2018-09-26 10:40] MoonGem commented on #1342
He's probably looking for them because footprint.com isnt *.microsoft.com

[2018-09-26 11:09] mcp111 opened #1687 "Diagnostic data viewer shows no data"
[Enter feedback here]
Even when diagnostic data has been enabled for several months, why is the diagnostic data viewer showing nothing???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54254070-539b-6cf2-f988-c80ad685c5fa
* Version Independent ID: 5bbe5140-eee5-abc3-1a26-1c0d13eab358
* Content: [Diagnostic Data Viewer

[2018-09-26 12:27] #1412 closed

[2018-09-26 12:36] MumpekPumpa commented on #1483
@DaniHalfin @shortpatti Could you please reopen this until we get a proper answer. The issue was probably closed because of a lack of response from my side, as mentioned, I missed the comment on 22nd of August from @DaniHalfin .

[2018-09-26 13:09] rkemna opened #1688 "Planningsheet has on 4. Active Directory 4a Windows server 2016?"
If I go for the hybrid with certificate trust (no 2016 DC's) there is no change for 4b. ? Do I need then the windows server 2016 schema? (It was already filled in)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5739fab2-c6db-a7a9-b0e7-2bf4b85912a7
* Version Independent ID: 82c58053-c1d7-d938-1b0f-f3f7f70ada3b
* Content

[2018-09-26 13:34] groupwhere commented on #1663
Can anyone answer which policy settings are actually required for BNU to work.  Specifically, is Allow network unlock at startup required. What else is required?  I am simply wondering if the missing policy settings are causing the machines to not make DHCP requests prior to showing the PIN dialog at boot.

[2018-09-26 14:34] Ankit198 commented on #1663
![enrollment pending](https://user-images.githubusercontent.com/43585473/46087161-fb324200-c166-11e8-8479-0bad6d42f61d.PNG)

[2018-09-26 14:35] Ankit198 commented on #1663
what should I do now?
no clue .....

[2018-09-26 16:43] DirkMCar commented on #1661
Many apps are build to call a .bat file initially to launch that provides parameters as well as performs initialization steps. Are you aware of any workaround that would allow an app like this to run while using AssignedAccessConfiguration?

[2018-09-26 16:55] jdeckerms commented on #1661
@DirkMCar I don't know of any work-arounds, sorry.

[2018-09-26 16:56] DirkMCar opened #1689 "AssignedAccessConfiguration AllowedApps support for wildcards"
Is there a way to create an AllowedApps reference that targets all EXEs in a subfolder? I used the example below and it does not function. The reason why this is needed is that an app I am trying to add to my kiosk creates a randomized folder in the user temp folder and inside that folder there is an EXE that needs to run. The app is a old app and there is no consistent AMUID I can use.

Also, if

[2018-09-26 17:44] jdeckerms commented on #1689
@DirkMCar I checked with the engineering team and there isn't a way to do that with Assigned Access.

[2018-09-26 17:47] jdeckerms commented on #1679
@IanDoesIT The Surface engineering team has received your feedback so it can be considered in their future product plans.

[2018-09-26 18:07] DaniHalfin commented on #1687
Hi @mcp111 , thanks for reaching out. This sounds like a problem with DDV. Please use feedback hub (Win+F) when you have DDV open to report the issue.
Thanks.

[2018-09-26 18:11] DaniHalfin commented on #1686
Hi @MoonGem , thanks for reaching out. In order to remove Candy Crush Sage you'd need to uninstall the game.
Feel free to reach out to us through any of our support channels if you need guidance on how to do that.

[2018-09-26 18:19] DaniHalfin commented on #1685
Duplicate of https://github.com/MicrosoftDocs/windows-itpro-docs/issues/1686.
@shortpatti please close as dup. Thanks!

[2018-09-26 18:20] DaniHalfin commented on #1684
Hi @peternorlander , thanks for reaching out.
Please reach out to support or report this problem though the Feedback Hub app (Win+F).
We will work on adding additional error codes to the current topic.
Thanks!

[2018-09-26 18:57] #1685 closed

[2018-09-26 22:41] DaniHalfin commented on #690
@shortpatti can you please reassign to @jaimeo and @greg-lindsay ?

[2018-09-26 22:42] DaniHalfin commented on #828
@shortpatti please close this. Thanks!

[2018-09-26 22:43] DaniHalfin commented on #874
@shortpatti please re-assign to @greg-lindsay for follow-up

[2018-09-26 22:43] #828 closed

[2018-09-26 22:44] DaniHalfin commented on #926
@shortpatti could you please reassign to @jaimeo ? Thanks.

[2018-09-26 22:47] DaniHalfin commented on #1193
@shortpatti - can this be reassigned to @jaimeo to confirm closure?
I believe this isn't expected behavior, and so should be looked at with the help of MS support.

[2018-09-26 22:47] DaniHalfin commented on #1169
@shortpatti please reassign to @jaimeo . Thanks!

[2018-09-26 23:28] egallagh commented on #1169
I forgot to add that this is covered in some ways in the previous topic: Prepare Servicing Strategy for Windows 10 Updates.

[2018-09-26 23:34] IanDoesIT commented on #1679
@jdeckerms Thank you for submitting on my behalf. If they would like any further information I'm happy to provide and communicate with them to help.

[2018-09-27 01:17] havealoha commented on #731
I would like to see a response from Microsoft regarding this.

[2018-09-27 06:46] aurelschwitter commented on #1169
Dear @egallagh

I fully understand your explanation, and yes, this has already been covered and explained pretty well on the docs page.
If I understand you correctly, the long deferral time was intended and not a mistake.

While a period this long may be necessary for critical applications, I think you are giving out a wrong message to it-pro's wanting to implement windows update for business.
Whe

[2018-09-27 07:52] PaoloBodini opened #1690 "Autopilot and intune DEVICE cal"
Ciao,

It is clear to me that AAD P1/P2 is required but what about PC in kiosk mode? I have thousand PC in kiosk mode all around the world and I would like to start to manage all these with intune and autopilot. I was thinking to buy intune device Cal but reading how autopilot works I think i cannot use it just with intune device Cal. My goal is simple: deploy these kiosks with autopilot and regis

[2018-09-27 10:02] nick-blair opened #1691 "Deploying Windows Analytics"
If the "HKLM\Software\Microsoft\Windows\CurrentVersion\Policies\DataCollection" setting is configured with an AllowTelemetry value of "0" (Security) and Configuration Manager has client setting under "Windows Analytics" setting of "Yes" and Windows 10 Telemetry of "Full", which setting overwrites the order?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-09-27 10:28] JeremyTBradshaw commented on #690
In case you guys would like to close this instead, I'm onboard for that.  I think my own interest is more in the delivery optimization features than BITS capabilities for the purpose of SCCM management/deployment.  Thanks for the original answer and no worries about the rest.

[2018-09-27 11:06] xonaecom commented on #1339
Same scenario here. Only difference is that users sign in as admins and not standard users.

[2018-09-27 12:56] shortpatti commented on #731
@jaimeo, can you take a look at this issue?

[2018-09-27 14:20] jrshoare opened #1692 "Technique has limited applicability"
If you only want to allow users access to a single application then this technique has limited applicability. Although at first it would appear that the user has access to only the application assigned to the custom shell, pressing Ctrl+Alt+Del allows them to access the Task Manager from where they can run many simultaneous tasks including Explorer.exe which brings up the whole desktop experience.

[2018-09-27 15:15] egallagh commented on #1169
Hi @aurelschwitter
I understand your point, but I do disagree.
IMHO when Microsoft releases to the semi annual channel the OS is considered to be stable for business use, but that does not mean it is compatible with all the software you are using within your organization. You may have narrow market vertical apps or in house developed software that would be impossible for Microsoft to test against.

[2018-09-27 16:28] jaimeo commented on #731
Yes, I will get hold of some PMs in this area and direct them to this query.

[2018-09-27 16:37] jaimeo commented on #1691
I believe Configuration Manager settings always override local registry settings, but I'll grab a PM to confirm.

[2018-09-27 18:14] jdtugit opened #1694 "Windows Server and WCF Features"
Please update the "Windows Server Features" section to more accurately represent present day Windows Server instances, which do not feature "Non-HTTP Activation" beneath the .NET 4.x node.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28a072bd-02f8-bc2e-a69c-46cd1c30897d
* Version Independent ID: 8e64ed63-1905-fffd-c3

[2018-09-27 19:16] ChrisAtFCPS opened #1695 "This is kind of a meaningless page, don't you think?"
Shouldn't the individual parameters and their respective settings be displayed such as -autoload 0 / 1 -enablepackagescripts 0 / 1 etc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54f396fd-7bd1-2f95-5ceb-19ace5981727
* Version Independent ID: b4b31211-5479-32f5-04f8-cc28cbaf83a4
* Content: [How to Modify Client Conf

[2018-09-27 23:04] Michael-Sampson opened #1698 "Fourth topic title"
The fourth topic should be "Automated investigation and remediation" not "Automated investigation and investigation".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6d6aa1-68e3-30de-c914-ace241422aae
* Version Independent ID: 2d9a29f3-b9b2-4c31-f8ee-1f0c6e3a630d
* Content: [Overview of Windows Defender ATP](https://d

[2018-09-28 15:38] mathieudesjardins opened #1700 "Strange View in ICD after applying windows 10 baseline."
Hi, we are in a domain environment and after applying Microsoft Baseline Policies for Windows 10, the template available in ICD (Package for Surface Hub as an exemple) is displayed the wrong way and pictures are not clickable.
It must be due to certain restriction to Internet Explorer (execution of script or something like this). Is there a way to have an input on what is used by ICD (Java, VBS th

[2018-09-28 15:46] jdeckerms commented on #1700
@mathieudesjardins "How provisioning works" (https://docs.microsoft.com/en-us/windows/configuration/provisioning-packages/provisioning-how-it-works) contains the information I have on what is used by Windows Configuration Designer.

For help with your issue, you can contact Microsoft Support: https://support.microsoft.com/en-us/contactus/

[2018-09-28 16:19] mathieudesjardins commented on #1700
The part explaining the settings required for a server SKU is missing something:
In order to enable the simplified authoring jscripts to work on a server SKU running Windows Configuration Designer, you need to explicitly enable Allow websites to prompt for information using scripted windows. Do this by opening Internet Explorer and then navigating to Settings > Internet Options > Security -> Custo

[2018-09-28 20:38] quarkyuk opened #1705 "Dynamic Provisioning and Windows 10 builds"
Are there any considerations around DP packages and builds? So if I build a DP package in WICD 10.0.17134.1, how do I know if it will work with Windows 1803, 1709, 1702, 1609, etc?

Some guidance in the article around that would be great (as there are changes to OOBE, I guess there are DP changes to reflect that?) if applicable?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-09-29 13:28] Niglb opened #1710 "Windows pro"
This document states all features are available for Enterprise, while only some are for Pro. What limitations will we hit with a OEM Pro license? Are we able to assign a cloud Win10 Ent license to a Kiosk device only if required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0bcdb8c-3424-6f65-ff3a-e47baaf25931
* Vers

[2018-09-29 13:31] Niglb opened #1711 "Office or office like apps"
Our public MultiApp Kiosk project has a requirement for office or office like product. What are the recommendations for this in a Kiosk device that is cloud only (read no KMS server).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd2d1007-2cbb-94a6-18aa-a0b879262ab1
* Version Independent ID: 625d9906-0cb0-23eb-3a56-a8

[2018-09-30 23:05] egallagh commented on #1695
Hi ChrisAtFCPS. I believe this page presents a specific use example and is not intended to list all the command variants nor the syntax of those commands.

[2018-10-01 00:07] zimbonz commented on #1412
I may have not been clear - let me try again.
Is this page, providing detail for setting up a single tier, PKI setup - necessary for "testing" Wh4B?

If so, then the  The section above with the following text, should be separated out with the additional descriptor, for example:
If you want to perform this in a production environment, according to best practices, then please follow these links inst

[2018-10-01 00:38] DaniHalfin commented on #1412
Hi @zimbonz - we state the prerequisites [right here](https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-identity-verification#on-premises-deployments).
The quoted part of the guide is meant to provide general guidance. As stated, it is advisable to read the CA design guidance first and consult the test lab guide second to configure your PKI setup. We pr

[2018-10-01 01:27] egallagh commented on #1692
Good point. I'll suggest some changes.

[2018-10-01 04:14] SteveBurkettNZ opened #1715 "Licensing requirements for Windows Server?"
Lists the licensing for the client OS, but what about for Windows Server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8aca66a-5a8b-64d2-7201-a7b915c5d309
* Version Independent ID: c3cc0543-db20-a8f2-288c-d1dea5ea479f
* Content: [Minimum requirements for Windows Defender ATP](https://docs.microsoft.com/en-us/windows

[2018-10-01 04:35] egallagh commented on #1715
Hi @SteveBurkettNZ
This section of docs - docs.microsoft.com/windows documents Windows (desktop, etc.), not Windows server. The Windows server documentation is within docs.microsoft.com/windows-server

[2018-10-01 10:28] ChrisAtFCPS commented on #1695
I didn’t see a page where the additional commands would be located or a link to that page.  I’m only pointing out that it seems the generic page title doesn’t match the content.

jcl

Sent from my iPhone

On Sep 30, 2018, at 7:05 PM, Ed Gallagher <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi ChrisAtFCPS. I believe this page presents a specific use example and is not intend

[2018-10-01 12:13] officeninja415 commented on #1630
Ok.  Thank you for the update.

[2018-10-01 12:57] jdeckerms commented on #1710
@Niglb The difference between Pro and Ent in this scenario is the method you can use to configure a single-app kiosk running a Win32 desktop app.

As far as I know, there are no conditional upgrade licenses.

[2018-10-01 13:03] jdeckerms commented on #1711
@Niglb Office apps are available from Microsoft Store or you can set up Microsoft Store for Business for your organization and obtain and distribute the Office apps that way: https://docs.microsoft.com/en-us/microsoft-store/

[2018-10-01 13:09] jdeckerms commented on #1700
@mathieudesjardins Could you attach a screenshot of what you're seeing when you run Windows Configuration Designer? Also, which version of WCD are you using? (Version should display in bottom left corner of the tool)

[2018-10-01 15:30] iadgovuser1 opened #1717 "DisableAntiSpyware is repeated"
"For example, in Group Policy there should be no entries such as the following values:" DisableAntiSpyware is repeated twice. I think the other value needs to be DisableAntiVirus.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13006cbf-ad22-e75a-bf3a-2a6d0b92f088
* Version Independent ID: c9a7a12f-2ef5-b5fa-b515-41ecce

[2018-10-01 16:19] mathieudesjardins commented on #1700
Here is the screen shot:
![image](https://user-images.githubusercontent.com/41486657/46301332-0674db80-c574-11e8-8502-2689cc2dbf0e.png)

The release number is 10.0.17134.1.

I am running an insider preview of windows but it was the same behavior on any version of Windows I am trying it. The only part remaining the same is the GPOs applied.

[2018-10-01 16:34] jdeckerms commented on #1700
@mathieudesjardins Would you be willing to run GPRESULT.EXE ("grpresult /h currentpolicy.html") and send us the result? (Email it to jdecker at Microsoft.com rather than attach it in GitHub if you have any privacy concerns)

[2018-10-01 17:15] mjcaparas commented on #1717
Thank you for your feedback! Will fix it right away.

[2018-10-01 17:45] mathieudesjardins commented on #1700
Email sent!

[2018-10-01 17:45] mathieudesjardins commented on #1700
Here are the result of the GPResult.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Jeanie Decker <notifications@github.com>
Sent: Monday, October 1, 2018 9:09:12 AM
To: MicrosoftDocs/windows-itpro-docs
Cc: mathieudesjardins; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Strange View in ICD after applying windows 10

[2018-10-01 17:47] jdeckerms commented on #1700
@mathieudesjardins I didn't get an attachment. You might have to change the file extension to .txt (I'll rename it to html on receipt) so it doesn't get blocked by our filters.

[2018-10-01 17:48] jdeckerms commented on #1700
@mathieudesjardins Got it this time, thanks!

[2018-10-01 18:19] arshadkazmi42 commented on #1681
@DaniHalfin I would like to work on this.

[2018-10-01 18:23] pyoungberg opened #1720 "You uh.. published it"
Ooops? Looking forward to seeing this feature launch though!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12823601-7426-a768-e72f-866b150baccd
* Version Independent ID: c1f993e3-a405-6860-8ab1-7b3d387b4631
* Content: [Hybrid AAD Join](https://docs.microsoft.com/en-us/windows/deployment/windows-autopilot/user-driven-h

[2018-10-01 19:14] #1681 closed

[2018-10-01 19:55] kelemvor33 opened #1722 "How to force a reboot immediately after installing?"
Is there a way to have all computers (including Win10/Server2016) automatically reboot as soon as they are done installing?  I don't want a 15 minutes timer or anything else.  I want them to install and then reboot regardless of what time it is or if someone is logged in or not because we control the time they install and everyone knows to not be logged in at that time.

---
#### Document Details

[2018-10-01 20:41] arekfurt opened #1723 "Kinda need to know: What exactly does "This option is not currently supported." mean?"
Four of the 16 policy configuration "options" currently have this statement where the descriptions of what they do would otherwise be.  Does that statement mean that the functionality might/will be included in future versions of Windows but isn't now?  Does it mean the functionality is sort-of there, but not ready for reliable production use?  Does it mean the functionality is there but Microsoft

[2018-10-01 20:42] rstamp opened #1724 "MFA licensing update"
New customers may no longer purchase Azure Multi-Factor Authentication as a standalone offering effective September 1st, 2018. Multi-factor authentication will continue to be an available feature in Azure AD Premium licenses.
See: https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-howitworks

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-10-02 10:13] Mark-Broadhurst commented on #1684
Yep same here.

[2018-10-02 10:42] Jonathan0Doe opened #1726 "Event Type information would be great."
This is a really nice overview of events associated with ipsec. It would be great, if the event type (like success or failure) information would be added to the event ids.

Best Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9cd4539-eb4d-9d25-47fa-9f93b2584836
* Version Independent ID: 3a63fc40-b2ee-a73b-fe9b-

[2018-10-02 10:47] Jonathan0Doe opened #1727 "Event Type information would be great"
This is a really nice overview of events associated with ipsec. It would be great, if the event type (like success or failure) information would be added to the event ids.

Best Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50638434-1963-d8ea-5fad-0dcfbe67946d
* Version Independent ID: 8aefb55f-e95e-e80f-3a66-

[2018-10-02 10:48] Jonathan0Doe opened #1728 "Event Type information would be great"
This is a really nice overview of events associated with ipsec. It would be great, if the event type (like success or failure) information would be added to the event ids.

Best Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c4bff2b-72b1-930d-565d-48404424baf5
* Version Independent ID: a1b1eddb-96e4-f212-b6f5-

[2018-10-02 10:58] jeandamascenetuyizere opened #1729 "IT"
IM A STUDENT I NEED YOUR HERP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 442b38a6-3431-6210-3a94-0b83efecd1e1
* Version Independent ID: 405676fe-d67e-3376-89ab-39a178076d97
* Content: [Top support solutions for Windows 10](https://docs.microsoft.com/en-us/windows/client-management/windows-10-support-solutions#solut

[2018-10-02 12:13] compie67 opened #1730 "onedrive ondemand"
Hi all, we have a few shared devices(max 2 persons on a device) and i am trying to get the onedrive on demand desktop tool to work.

These devices are Azure domain Joined.

Nothing wil work only the cloud Onedrive. It is importand that teacher can save a document from RDP to the OneDrive but for now this is not visible.

Is there a way to setup this with Windows Configurator designer?

with regard

[2018-10-02 13:56] CCDFischer opened #1731 "Update for current versions of Office"
This seems to indicate that Office 2016 and 2019 are not supported as App-V packages, though the article as not been updated since August 2016. Can we get clarification on modern supported versions for App-V deployment and coexistence?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5519c29a-61b3-fa01-cdd7-c27608e28bd2

[2018-10-02 15:09] shortpatti commented on #1729
Closing. No detail provided.

[2018-10-02 15:09] #1729 closed

[2018-10-02 15:11] shortpatti commented on #1727
closing. duplicate of [1728](https://github.com/MicrosoftDocs/windows-itpro-docs/issues/1728)

[2018-10-02 15:11] #1727 closed

[2018-10-02 15:12] shortpatti commented on #1726
Closing. Duplicate of [1728](https://github.com/MicrosoftDocs/windows-itpro-docs/issues/1728)

[2018-10-02 15:12] #1726 closed

[2018-10-02 15:15] shortpatti commented on #1723
@synopsis19, can you tell me which topic?

[2018-10-02 15:38] alexverboon opened #1732 "CloudApp Security OS requirement"
The documentation mentiones that Windows 10 1809 is required, will we see this for lower versions as well in the near future? I.e. 1803? I am concerned that it will take a while until we see corporate adopt 1809 and it would be sad to not use this awesome capability

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05d99d

[2018-10-02 15:55] DFLiddle opened #1733 "Registry details for exemptions seem incomplete"
The section "Guidance for accounts on shared PCs" indicates that accounts may be exempted from deletion if their SID is added to the registry, either manually or through a PowerShell command. The manual method does not specify the format for the entry in the registry key. How should it be entered? (I have been unsuccessful with my attempts to use the PowerShell command.) Thank you for your help!

[2018-10-02 16:00] jdeckerms commented on #1730
@compie67 I'm not clear on your question.

You said "Nothing wil work only the cloud Onedrive. It is importand that teacher can save a document from RDP to the OneDrive but for now this is not visible." Could you explain more? What have you done to get it working? What does Remote Desktop have to do with this?

[2018-10-02 16:09] jdeckerms commented on #1733
@DFLiddle Good question! I'll find the answer, reply to you here, and then update the topic.

[2018-10-02 16:57] synopsis19 commented on #1723
For my own work, I'm primarily currently interested in "Disabled: Script Enforcement" and "Enabled: Inherit Default Policy". Although I'm sure everyone working with WDAC would appreciate any explanation that can be provided about the implementation statuses of "Enabled: Boot Menu Protection" and "Allowed: Debug Policy Augmented" as well.

[2018-10-02 16:58] shortpatti commented on #1723
@synopsis19, please provide the link to the topic so that I can assign it to the correct author for triaging.

[2018-10-02 17:00] synopsis19 commented on #1723
Wait... if you're referring to what page is involved it's this one: https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-application-control/select-types-of-rules-to-create
(I assumed GitHub would have linked these comments to that page when I clicked "Leave feedback directly on GitHub there.)

[2018-10-02 17:01] synopsis19 commented on #1723
Apologies. I should have realized this was the overall page for doc issues, not specifically dedicated to that topic.

[2018-10-02 17:07] shortpatti commented on #1723
@Justinha, can you take a look at this issue?

[2018-10-02 17:32] greg-lindsay commented on #1720
The topic is blank, so it's not really a problem. I think the person who said "do not publish" meant that if there were content on the page, don't publish it yet.  It does look odd though, so I'll fix it this week when I publish some new content.

[2018-10-02 17:58] gmshebib opened #1734 "Package Accelerator on Windows 10"
Under the package accelerators section it says that Microsoft  provides accelerators for Windows 10, 8, and 7. Then it links to the accelerators for 7 and 8. Where is the Windows 10 package accelerator?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2315db43-4209-3daa-6865-9c4b952aaed5
* Version Independent ID: f7799da

[2018-10-02 18:45] compie67 commented on #1730
Hi, offcourse wil try to explain.
We at school have to work with the Remote desktop connection for the LMS, the report generated must be saved localy and we want this in the OneDrive. Now thats the problem. From the RDP this is not visible. i am talking about the native Windows 10 onedrive app. When i want to install the onedrive for business program this wont work on the shared device. I hope thi

[2018-10-02 19:08] reckstein opened #1735 "Missing links?"
Perhaps finish the lines that say "For more information, see"  ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9960b9e-e9e3-84b1-6171-37e5239a86aa
* Version Independent ID: 09ffca13-27be-b5d2-24a0-04161f62eb87
* Content: [Software developer resources](https://docs.microsoft.com/en-us/windows/security/threat-protectio

[2018-10-02 19:09] jdeckerms commented on #1730
@compie67 It looks like there's an issue using RDP and OneDrive: https://techcommunity.microsoft.com/t5/OneDrive-for-Business/using-onedrive-from-Remote-Desktop-connection/td-p/212784

You can add your information to that post, to see if anyone has found a solution, or you can contact Microsoft Support (https://support.microsoft.com/en-us/contactus/) for assistance.

[2018-10-02 19:13] compie67 commented on #1730
I think it would be the last one. The first link was also my post ;-)
Thank you for responding.
Eric

[2018-10-02 20:08] nick-blair commented on #1691
Hi Jaimeo,

Is there is a confirmation for this? Thanks.

[2018-10-02 20:49] jaimeo commented on #1691
@dudeso : can you help with this question?

[2018-10-02 21:36] dudeso commented on #1691
Happy to help- the registry path above **is** the same path that we use to apply settings specified in our Windows Analytics client settings which means that yes, the registry value would be overwritten by SCCM. However, if the diagnostic data settings are specified via group policy then they are applied at a different registry path and in that case Group Policy configuration takes precedence over

[2018-10-02 22:09] Justinha commented on #1649
@ajgolia Thanks for reporting this. Our engineering team is working on a fix and the docs will be updated accordingly.

[2018-10-02 22:12] Justinha commented on #1651
@simoncrelling Thanks for raising this. I revised that sentence to make it more clear. Feel free to re-open if you think it should be improved further.

[2018-10-02 22:12] #1651 closed

[2018-10-02 22:48] nick-blair commented on #1691
Hi Dudeso,

Can you please provide/confirm the registry path that gets set if the telemetry is configured via group policy? These are two registry paths I am aware of:

GPO registry setting
-----------------------
**HKEY_LOCAL_MACHINE\Software\Policies\Microsoft\Windows\DataCollection**
Allow Telemetry ==> 0x00000000(0) | Security

SCCM registry setting
-------------------------
**HKEY_LOCAL_MACHI

[2018-10-02 23:20] nimojg-microsoft opened #1736 "Clarify EDU pricing"
For example, does Windows Intune Education and/or Microsoft 365 Academic SKUs qualify for use with Windows Intune?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62fdc73a-2b65-bac9-907c-ac21e8653449
* Version Independent ID: 0929b1d6-d3f6-77cc-81dc-1183fb1c293b
* Content: [Windows Autopilot licensing requirements](http

[2018-10-03 08:46] Martony78 opened #1740 "MDM enrollment fails on the mobile device when traffic is going through proxy"
MDM enrollment fails on the mobile device when traffic is going through proxy: does this issue also applies to Windows 10 Desktop computers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19461768-ab73-b97c-f754-24e5c75e261f
* Version Independent ID: 58c7b616-f5c7-c503-a689-4fadde8ee061
* Content: [What's new in MDM en

[2018-10-03 10:20] RAJU2529 commented on #1722
put zero inplace of  15 minutes

[2018-10-03 10:33] RAJU2529 opened #1741 "need clarification"
if i modify registry key like
HKLM\SOFTWARE\Microsoft\Security Center\Feature DisableAvCheck (DWORD) = 1
windows security stops checking of third party antivirus also ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3d6356b-87ff-8c3a-56ef-1270a823d3ab
* Version Independent ID: 4d6ae878-66cf-0e10-bdf3-bdd6054cbc9d
* Co

[2018-10-03 10:47] RAJU2529 opened #1742 "out of date screenshot"
one of the screenshot  is  outdated under  virus and protection , date is  6/26/2018

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3d6356b-87ff-8c3a-56ef-1270a823d3ab
* Version Independent ID: 4d6ae878-66cf-0e10-bdf3-bdd6054cbc9d
* Content: [What's new in Windows 10, version 1809](https://docs.microsoft.com/en-us/win

[2018-10-03 10:50] RAJU2529 opened #1743 "application guard control"
Can i use  WDAG control  with third-party antivirus product, I disabled windows defender by group policy  &lt; or  is it compatible  with third party products

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3d6356b-87ff-8c3a-56ef-1270a823d3ab
* Version Independent ID: 4d6ae878-66cf-0e10-bdf3-bdd6054cbc9d
* Content: [Wh

[2018-10-03 10:57] RAJU2529 opened #1744 "enable cloud protection"
only works with windows defender

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f8ccc01-1b04-e443-ef75-6ffe6c866dd5
* Version Independent ID: fa2eaa0f-db04-785a-3894-8244947b9cd5
* Content: [Enable cloud-delivered protection in Windows Defender Antivirus](https://docs.microsoft.com/en-us/windows/security/threat-protec

[2018-10-03 12:51] zerocarbthirty commented on #567
In Enroll for Server Authentication step 6 says choose the 'Internal Web Server' certificate template but that doesn't appear to be published, furthermore it's not listed in the template store. Where do you discuss the creation of that template?

[2018-10-03 13:28] jdeckerms commented on #1733
@DFLiddle The engineering team would like to know what results you get when you use the PowerShell command. Does the PowerShell script itself throw an exception or present some similar type of overt failure? Or does the script succeed but then the expected behavior fails to arise?

[2018-10-03 14:06] DFLiddle commented on #1733
I’m not a regular user of PowerShell, nor a very informed one, so please take everything I report with a grain of salt. That’s my first caveat.

My second caveat is that I don’t know what assumptions about accounts apply to this statement in the instructions: “The account management service supports accounts that are exempt from deletion."

When I apply the script, with my limited knowledge, I rec

[2018-10-03 14:15] kelemvor33 commented on #1722
In Group Policy, you can't change the number.  15 is the lowest you can set it.  Otherwise I'd have to do it directly in the registry but don't know if it would accept a lower value in there.

[2018-10-03 15:34] ITDude1984 commented on #1460
The solution you have written up does not work.
Either adding via add remove option features (there is nothing listed) or via the DISM command.
Have tried on both Pro and Education versions of Win10, same results.

Does anyone know if MS are aware of this or have a work around? I have a team which still use this and are now on 1803, as it stands the only option I have is to down grade them which i

[2018-10-03 15:58] RAJU2529 commented on #1722
i  got  success editing  ,  i inserted  0  instead of 15, by modifying the small value in the WindowsUpdate.admx file

[2018-10-03 17:56] mjcaparas commented on #1732
Hi alexverboon,

Thank you for your feedback. At the moment, I'm not sure if this capability will be available for lower versions.

[2018-10-03 18:33] kelemvor33 commented on #1722
And when you did that, your servers now install updates and reboot
immediately?  That's all I'm trying to accomplish is to force all servers
(regardless of OS and regardless of if anyone is logged on or not) to
reboot immediately after installing their updates.

Thanks.

On Wed, Oct 3, 2018 at 10:58 AM VARADHARAJAN K <notifications@github.com>
wrote:

[2018-10-03 19:00] monishknair opened #1746 "200"
EnterpriseDesktopAppManagement CSP returns 200 status code when sending the below XML but the app doesn't get installed on the device.

[code]

[2018-10-03 19:57] rcooley77 opened #1747 "Windows Hello Error 0x80070490"
Error Code: 0x80070490
No idea why this matches the Update Error Code, but... I got it trying to set up my PIN.

[2018-10-03 19:59] rcooley77 opened #1748 "Error Code: 0x80070490"
No it's not a Windows Update error! What's this one mean? Just updated to 1809, my PIN disappeared and now I get this error when trying to fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b4f9133-887f-17a6-95fc-3712de8a3fa1
* Version Independent ID: 09d34ce8-1590-8202-3e70-e6299dadbb65
* Content: [Windows Hello

[2018-10-03 20:58] shortpatti commented on #1746
@monishknair, I've reformatted the code block so that it's correct:

[code]

[2018-10-03 20:58] #1746 closed

[2018-10-03 21:51] eponerine commented on #1619
Is there an update to this request?

[2018-10-03 21:57] jaimeo commented on #1619
Per the PM I spoke to: SSU updates come down with the cumulative updates in one bundle if you use Windows Update. A list of SSUs would get stale very quickly. Windows Update will automatically offer the latest SSU, and those updates are cumulative.

[2018-10-03 22:08] jaimeo commented on #1619
Yes, I understand that. The SME's position is that if you are up to date with WU, you have the current SSU version. I will see if I can connect him directly with you for better engagement.

[2018-10-03 22:12] eponerine commented on #1619
@jaimeo being up to date with Windows Update's latest CU only _exposes_ the SSU upon next update scan. They're not bound together. You still need to install a second update.

[2018-10-03 22:14] eponerine commented on #1619
"A list of SSUs would get stale very quickly" - is that true, though? The last SSU for Server 2016 was 2018-05. The last SSU for 1803 was 2018-09 (I think?).

They don't seem to be released constantly. But again, without a list, how would we know :P

[2018-10-03 23:16] Niglb commented on #1711
Thanks -  but will that cover a license for a public use kiosk?

[2018-10-03 23:30] Tdiwestyguy opened #1750 "Article needs to be streamlined and checked for content"
I am testing CSPs and going through this article.

The style guides are off, and the content is jumbled.. look to:
Update/IgnoreMOUpdateDownloadLimit

To validate, the text appears to be broken up in two places??

Some state Data type, like Integer, etc.. some do not.. A Style guide for each CSP is ideal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-10-03 23:30] anthony-fontanez commented on #1619
My intent with this request was for IT professionals to have one page documenting the most recent SSU's for the purpose of offline servicing WIMs used via imaging deployments such as via ConfigMgr. I rebuild my base image each month and it's sometimes a challenge to confirm easily if there is a new SSU.

[2018-10-04 06:55] mike-yam opened #1751 "Group policy template for Windows 10 1809 (ADMX)"
Is there any way to download the ADMX templates for Windows 10 1809?

[2018-10-04 07:13] coreyp-at-msft commented on #1751
Hi @mike-yam, The ADMX templates are compiled from the final 1809 build files and so they are released as soon after general availability as possible. You should see them posted sometime in the next two weeks.

Thanks,
Corey

[2018-10-04 10:16] neilfairall commented on #1748
Same here. Pin and fingerprint are no longer options for signing in although when I swipe my finger I get a "not recognized" error. I'm able to create a PIN but receive the error "Sorry, this PIN isn't working for your organization's resources. Tap or click here to fix it."

Clicking as requested results in a dialog noting that "Your organization requires Windows Hello" and prompting me to set up

[2018-10-04 11:21] dphuk commented on #1338
Exactly the same issue on the same windows version, same renaming policy had been working perfection prior. Looking to deploy a new build on 1809 just now and will post the results back here.

[2018-10-04 12:50] jdeckerms commented on #1700
@mathieudesjardins The engineering team is trying to figure out the problem. They need to know exactly which security baseline you applied -- just the name is fine. Thanks!

[2018-10-04 12:56] jdeckerms commented on #1733
@DFLiddle Thanks for the details! I'm waiting for validation from the engineering team on your registry key solution and will let you know as soon as I get an answer.

[2018-10-04 13:16] shortpatti commented on #1750
@Heidilohr / @jdeckerms, it looks like that there are too many quotes or the quotes are not in the correct order in the command.

[2018-10-04 14:34] xonaecom commented on #1338
Hello @dphuk ! I've doing some tests with 1809 build and I can confirm that it worked fine and as expected.

[2018-10-04 14:36] xonaecom commented on #1339
Windows 10 1809 it also happens.

[2018-10-04 14:44] xonaecom opened #1753 "Domain/ComputerName -2016281112 (Remediation failed)"
After applying this MDM policy to change the workstations name, the process is completed successfully (checked and the machine name is changed), but I get the "-2016281112 (Remediation failed)" error.

Using Windows 10 1803 and Windows 10 1809.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 309bae29-c769-5051-6c3f-aebe

[2018-10-04 17:16] monishknair commented on #1746
@shortpatti  Still not working. 500 SynML error code;  Parameter is incorrect logged in Event viewer.

[2018-10-04 17:55] levinec commented on #1735
Fixed!

[2018-10-04 17:55] #1735 closed

[2018-10-04 18:55] ShortOrderCookie commented on #1460
ITDude,

I'm running the above script on my 1803 Enterprise to create a number of images.  No failures to download the XPS Writer yet.
Some thoughts on things to looks for that might be interfering.

At the time that you run the DISM command, can your system get out to the internet?   The DISM command will download the XPS writer from Microsoft.   My network is set up with a direct connection to t

[2018-10-04 18:59] shareonline commented on #1720
Any word on when Autopilot will support hybrid joined devices?

[2018-10-04 19:16] NigelbrownIBM opened #1756 "HideOobe for desktop"
In Win 10 1803 we are finding when HideOobe for desktop is setup in our provision package, Reset PC will render the device unusable. The document here states a user account must be created - we already have a local Support, and domain users at this point in Reset PC. Removing HideOobe for desktop in the provision package, and adding some hide Oobe nodes in the unattend does provide a workaround, b

[2018-10-04 19:17] ShortOrderCookie commented on #1460
ITDude,
I kept referring to XPS writer...I meant XPS viewer.

[2018-10-04 20:38] Justinha commented on #1728
@Jonathan0Doe Thanks for the suggestion. I added S and F to IPSec events

[2018-10-04 20:38] #1728 closed

[2018-10-04 20:44] Justinha commented on #1723
@arekfurt @shortpatti I've asked our engineering partners to share more details. I'll add that as it comes in.

[2018-10-04 21:02] Justinha commented on #1723
@arekfurt Sorry there's just not much more to share. Some don't function and never have, some are reserved for future use. But the only point we want to convey is they are not supported. If you try to use them, they may do nothing or they may cause a problem.

[2018-10-04 21:02] #1723 closed

[2018-10-05 01:00] arekfurt commented on #1723
Appreciate you taking the time to look into the matter. Thanks.

Also, just maybe pass along that if we're not supposed to be using it putting the "Enabled: Inherit Default Policy" option in the starter policies that come with Windows is... confusing.  And leaves me wondering a bit about whether I'm supposed to keep it or remove it from my customizations.

But, as I said, thanks.

[2018-10-05 06:11] monishknair commented on #1416
@dfconroy Is there a working example. I am not able to figure a way to make the app install.

[2018-10-05 06:54] Vamork opened #1759 "Conflicting Themes"
Had an initial problem with the searchbar in file explorer still being light themed when dark theme is active. It was changed when i reset my theme to default from my old pre-insider build theme.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3d6356b-87ff-8c3a-56ef-1270a823d3ab
* Version Independent ID: 4d6ae878-66cf-

[2018-10-05 09:37] rajeshkhanikar opened #1760 "What is the difference between Autopilot profile under inTune blade and Microsoft store for business?"
The Autopilot profile we create under inTune blade don't appear under the Microsoft store for business portal and vice versa. What are they related? Which one should we use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc947476-4fc3-cbb1-26c2-1e7dedb7892f
* Version Independent ID: 16bf5a1f-00d8-ad55-f66f-a9a38f115bb6

[2018-10-05 13:05] jdeckerms commented on #1759
@Vamork That would be useful information for the product team, could you submit it in the Feedback Hub? Thanks!

[2018-10-05 13:08] Vamork commented on #1759
Will’ do

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Jeanie Decker <notifications@github.com>
Sent: Friday, October 5, 2018 3:05:29 PM
To: MicrosoftDocs/windows-itpro-docs
Cc: Vamork; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Conflicting Themes (#1759)

@Vamork<https://github.com/Vamork> That would be useful i

[2018-10-05 13:16] sbala66 commented on #1583
My new Surface KeyBoard for Surface Go has a p7eculiar p7roblem... numbers 7 8 9  0 and letter p and a few other keys gives p7 [8 ]9 \0 p7 etc.  I am unable to up7date the surface typ7e cover filter as it does not show up7 in Device Manager.  Any help7 would be greatly ap7p7reciated.  Very frustrating

[2018-10-05 13:52] jdeckerms commented on #1583
@sbala66 Troubleshooting tips are here: https://support.microsoft.com/en-us/help/4023516 If none of the steps help, you'll need to contact Microsoft Support: https://support.microsoft.com/en-us/contactus/

[2018-10-05 13:58] mathieudesjardins commented on #1700
Hi, we did used that one.
[Windows 10 Version 1709 Security Baseline.zip](https://github.com/MicrosoftDocs/windows-itpro-docs/files/2450567/Windows.10.Version.1709.Security.Baseline.zip)

We probably had some custom as well. When I remove myself from the OU where the internet Explorer GPOs are applied, the wizard seem to work.

[2018-10-05 14:34] markedtiger opened #1763 "Local Webpage"
I'm trying to use Kiosk Browser to view internally hosted webpage but only get the message that it can't be found; this is the same if I try to load a html file that's saved to the same machine. Do I need to change some settings to be able to view them or is this something Kiosk Browser doesn't support?

[2018-10-05 14:51] jdeckerms commented on #1763
@markedtiger This issue has been reported to the engineering team.

When you receive the Windows 10, version 1809 update, you'll be able to use Edge in a kiosk configuration.

[2018-10-05 15:10] jdeckerms commented on #1700
@mathieudesjardins Thank you, I'll pass that on.

[2018-10-05 15:54] Justinha commented on #1723
@arekfurt thanks for pointing that out. The engineering team said that is intentional. It's a reserved option that doesn't do anything today but they have a goal to do something with it.

[2018-10-05 17:11] arekfurt commented on #1723
Good to know. Since it's intentionally in the starter policies and as long as it doesn't have any disruptive consequences today I'll leave it in my customized policies then. Thanks.

[2018-10-05 17:11] Niglb commented on #1669
Removing the 'hide oobe desktop' in the provisioning package resolved the issue with reset pc. We set our hide oobe options in our unattend file for reset pc.

[2018-10-05 18:10] nimojg-microsoft opened #1767 "Windows Autopilot - Self Deploying Mode"
Wondering why Windows Autopilot, in particular Self Deploying Mode it is not mentioned here as an option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e0c4be4-5e7b-5433-e1f6-58869677e176
* Version Independent ID: 2e7c086b-cb48-e086-4ac9-b43f13f09591
* Content: [Set up Windows devices for education](https://docs.micr

[2018-10-05 21:08] mattybrown1985 opened #1772 "Modern DECICE Management?"
There's a typo in the BitLocker section.
"Through a Modern Decice Management (MDM) policy..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3d6356b-87ff-8c3a-56ef-1270a823d3ab
* Version Independent ID: 4d6ae878-66cf-0e10-bdf3-bdd6054cbc9d
* Content: [What's new in Windows 10, version 1809](https://docs.microsoft.com/

[2018-10-05 21:12] shortpatti commented on #1772
Closing. No typo found.

[2018-10-05 21:12] #1772 closed

[2018-10-05 21:13] mattybrown1985 commented on #1772
I've never heard of a decise, I think you mean device.  How is this not a typo??

[2018-10-05 21:18] shortpatti commented on #1772
Thanks for giving feedback.  I'm sorry but I did not find the typo you indicated.  It looks like it's been fixed.  Try refreshing your browser and try again. Let us know if you still see it.

[2018-10-06 00:36] Tdiwestyguy opened #1774 "Update/PauseFeatureUpdatesStartTime"
Update/PauseFeatureUpdatesStartTime

This says String, but does not offer supported String syntax.

Please input syntax examples on all policies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ca58bd-f279-7739-0140-c4bd56784768
* Version Independent ID: 1d2ecc90-58a3-6bcd-84ae-ef04d7a3b7b4
* Content: [Policy CSP - Up

[2018-10-06 00:49] Tdiwestyguy opened #1775 "Update/PauseQualityUpdatesStartTime"
Need an example on String TIME entry.  Previous request is how to enter Date as string format. No examples provided.  Also from policy to policy in this list for updates, it appears each has a different format. (needs streamlining/format review)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ca58bd-f279-7739-0140-c4b

[2018-10-06 01:51] sbala66 commented on #1583
Thanks, but I couldn't find Surface Go related in that link...

[2018-10-06 10:12] damian123 opened #1776 "The parameter is incorrect."
In Windows 10 v. 1809 I get an error
&gt;mountvol X: /s
The parameter is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41c2cb44-269d-3334-019a-726eb5432f1c
* Version Independent ID: 251024cc-b818-18c6-a112-4ac0276cb4b1
* Content: [Manage Windows Defender Credential Guard (Windows 10)](https://docs.microsoft

[2018-10-06 10:20] patgerber opened #1777 "Actualization please"
Can you please provide App Lists for 1803 and 1809 Builds?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9c3129d-3c8d-b508-f298-3333499bb180
* Version Independent ID: 97b70720-82d8-60a4-3958-00ceed34aa1b
* Content: [How to keep apps removed from Windows 10 from returning during an update](https://docs.microsoft.com/e

[2018-10-06 17:17] RAJU2529 opened #1778 "Thanks"
Thanks for the information, just I configured on group policy, just now i have enabled 8 new policies , in earlier v1803 , some policies are  already configured

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f21c3fcb-61b2-42e1-f6ff-cd1f88f6142f
* Version Independent ID: 418002b6-7714-3bb2-394b-1d7bb9bc0539
* Content: [

[2018-10-06 23:08] RickNordmeyer opened #1779 "Minor doc error. doc says 4, i count 3."
Proof-of-concept environment

For the purposes of this topic, we will use four machines: DC01, CM01, and PC0003.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b219752-5b81-09d4-80fc-3001bbb94ce8
* Version Independent ID: 8353d70e-3f35-bf29-a266-6d50c4648b50
* Content: [Perform an in-place upgrade to Windows 10 using

[2018-10-07 17:39] RAJU2529 opened #1780 "good explanation"
thanks great explanation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b77c5ee5-a3fa-229a-e41a-65d9c1824c0e
* Version Independent ID: c201973e-7588-3588-a60f-1e6eda2a68b3
* Content: [Microsoft Edge - Security and privacy group policies](https://docs.microsoft.com/en-us/microsoft-edge/deploy/group-policies/security-pri

[2018-10-07 17:44] RAJU2529 opened #1781 "this is the new feature"
Thanks to Microsoft for  added this  features to modify via  policy amd thanks to the author for  giving configuration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e25cdec-6b2f-2e44-6512-83b13d13ff51
* Version Independent ID: f97436ae-01fc-a3bb-d0e8-2b20265ebc56
* Content: [Microsoft Edge - Prelaunch and tab preload

[2018-10-07 17:56] RAJU2529 opened #1782 "missing settingsync.admx and settingsync.adml"
i could not able to find those files inside C:\windows\policydefinations\

please upload those files via one drive and  share the link here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4bd9c2b-6605-02c2-7eaf-f6bf4aecc6f4
* Version Independent ID: 701e94e8-b8c7-7397-7041-631ec972ff5e
* Content: [Microsoft Edge - Sync

[2018-10-07 18:00] RAJU2529 opened #1783 "thanks"
thanks a lot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 085b8631-b59e-cfc7-faef-de9068cddadf
* Version Independent ID: b37a709b-7ed6-8e6d-8f03-9f5c2230e0dc
* Content: [Microsoft Edge - Extensions group policies](https://docs.microsoft.com/en-us/microsoft-edge/deploy/group-policies/extensions-management-gp)
* Conten

[2018-10-07 18:17] shortpatti commented on #1781
@RAJU2529, thank you for the feedback.  I'll pass this on to the rest of the Microsoft Edge team :)

[2018-10-07 19:19] shortpatti commented on #1782
@RAJU2529, I'll reach out to the team to find out where the files are located or if they are missing in error.

[2018-10-08 02:59] RAJU2529 commented on #1782
thanks , i solved my self , i downloaded and  updated latest templates  to C:\windows\policydefinitions\
and the  searched  settingsync.admx and  settingssync.adml , both files are validated ,

[2018-10-08 03:42] RAJU2529 opened #1784 "Its amazing"
Microsoft Edge does not send ‘Do Not Track’ requests to websites asking for tracking information, but users can choose to send tracking information to sites they visit. With this policy, you can configure Microsoft Edge to send or never send tracking information . with this clear explanation ,  all doubts about do not track is  solved . thanks a lot for the explanation . I think authors are  maste

[2018-10-08 03:48] RAJU2529 opened #1785 "whats the difference between "ProvisionedHomePages" and "ConfigureHomeButtonURL""
i have edited  new  url  https://www.google.co.in/?gws_rd=ssl/
under the registry
[HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\MicrosoftEdge\Internet Settings]
"ProvisionedHomePages"="https://www.google.co.in/?gws_rd=ssl/"
"ConfigureHomeButtonURL"="https://www.google.co.in/?gws_rd=ssl/"

did i configured correctly or not , if wrong means , please tell me the  correct line

---
#### Document Det

[2018-10-08 03:54] RAJU2529 opened #1786 "Need new feature"
when the user  reading content in english , but he wants to read in other language , in this case if he is  able to choose other language within site means , he will be happy .
Allow the user to choose different language under settings.

Thanking you ,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aa5c0a6-acd2-4ec3-2

[2018-10-08 04:02] RAJU2529 opened #1787 "Which team is designed microsoft edge browser"
OS  development team or  this article published team ,  I  remembering  at firsr release of this  browser without extensions ,it was really fast at time . Nowadays  more extensions  are  added in the  microosft store for thisbrowser , i feel little bit slow . From 1803 edition onwards i never installed chrome browser , i love to use  microosft browsers inluding  internet explorer 11.

Thanks a lot

[2018-10-08 06:14] mclabman opened #1788 "Where can i get a list of xml elements in <EventData>?"
[Введите отзыв здесь]

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 08809caa-9634-e969-6d48-3427570c0200
* Version Independent ID: fc29de97-b4e5-4b43-1696-ccb8695cefc1
* Content: [4675 (S) идентификаторы безопасности были отфильтрованы. (Windows 10)](https://docs.microsoft.com/ru-ru/

[2018-10-08 12:03] GauravLad12 opened #1789 "Is RNGCryptoServiceProvider is FIPS 140-2 complaint?"
Is RNGCryptoServiceProvider is FIPS 140-2 complaint? Please Kindly provide feedback for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e93f07bf-c0dd-dd83-d7bf-8562e7f197c3
* Version Independent ID: a6c44187-8ff1-6519-5291-146b4c1bf46c
* Content: [FIPS 140 Validation](https://docs.microsoft.com/en-us/windows/secur

[2018-10-08 12:58] jdeckerms commented on #1700
@mathieudesjardins The team wants to know whether you applied all of the GPOs in the security baseline or just specific ones?

[2018-10-08 13:12] mathieudesjardins commented on #1700
I think that the desktop team applied all the GPOs that where in the baseline.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jeanie Decker <notifications@github.com>
Sent: Monday, October 8, 2018 9:02:31 AM
To: MicrosoftDocs/windows-itpro-docs
Cc: mathieudesjardins; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Strange View in ICD after applying windo

[2018-10-08 13:57] shortpatti commented on #1785
Hi @RAJU2529, let me check with the engineering team to make sure this is correct and may provide more details in the content :)

[2018-10-08 14:01] shortpatti commented on #1786
Thank you, @RAJU2529, for your feedback.   I'll pass this on to the Microsoft Edge team.

[2018-10-08 14:13] RAJU2529 opened #1790 "Good Knowledge"
Well trained  authours , Thanks for  FAQ, Keep it up

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfa8383d-f50f-28ac-3b24-8bf6836ebfe9
* Version Independent ID: 015be277-4f02-bf04-9956-0dea83372e57
* Content: [Microsoft Edge - Frequently Asked Questions (FAQs) for IT Pros](https://docs.microsoft.com/en-us/microsoft-e

[2018-10-08 14:14] RAJU2529 opened #1791 "add new feature"
Allow the users to change FONTS with in the settings of  edge browser

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f21c3fcb-61b2-42e1-f6ff-cd1f88f6142f
* Version Independent ID: 418002b6-7714-3bb2-394b-1d7bb9bc0539
* Content: [Change history for Microsoft Edge (Microsoft Edge for IT Pros)](https://docs.microsoft.com/

[2018-10-08 14:19] RAJU2529 opened #1792 "So many languages"
I really  wonder , how  the edge browser is  designed because it supported more than 20 langauges.
I knew only 3 langauges.  Thanks for the authors  to made to know these specifications

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0892b344-8fa6-2832-d513-749b4196f129
* Version Independent ID: 8c2bb059-195a-011d-6d28-

[2018-10-08 14:21] RAJU2529 opened #1793 "Thanks"
Thanks for the information , i have already enabled those  settings in group policy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edd1dcc8-8831-13d7-fb23-afcf28291827
* Version Independent ID: 95caf0a9-357a-af0d-f1de-f8394dd5c0b6
* Content: [Microsoft Edge - Interoperability and enterprise mode guidance](https://docs.

[2018-10-08 14:50] tmurfet opened #1794 "Grammar and format of this document is that of a child"
This document was not checked for grammatical, or formatting errors before being published. I found it annoying and disturbing to read this as an official Microsoft document. Whoever published this needs managerial oversight, or at least the common sense to ask an associate to proof their work! And why not state the author? So at least I could be sure this message is delivered to the offender.
Wit

[2018-10-08 15:14] MikeStephens-MS commented on #1794
!FIXED

Hi Anthony,
Your comment went directly to the author-- me.  In fact,  I am the author of most of the WHFB content-- so your feedback is heard.  I would very much like to incorporate your feedback to improve the documentation, however, aside from a good proofreading, your comments lack anything specific and actionable regarding to the content's format being that of a child.  You can however

[2018-10-08 15:51] egallagh commented on #1661
@DirkMCar IMHO using a batch file to launch an application is a very outdated approach. The kind of stuff done in the script that launches an application is usually better accomplished through other methodology. I would take a look at the problem from that direction.
Hope that helps

[2018-10-08 16:26] damigs opened #1796 "AutoPilot Reset (preview) endless loop.??"
I attempted to try this on one of my 1809 devices that is fully enrolled and registered.  Only to now be stuck in a endless reset loop problem.   Thoughts..??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98a662f1-c2aa-33ad-0e71-d0cbb288d053
* Version Independent ID: 196f1c8d-3179-c173-194f-08bf3a6f82ca
* Content: [Re

[2018-10-09 11:03] Dev88Fab9 opened #1801 "Error Code: 0x80070520"
Everything`s working when setting up authentication with fingerprint in Windows 10,  just in the final part -  I don`t get why - it asks me to authenticate using an O365 account  and there MFA fails (it goes in loop and when you give up you receive this error).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b4f9133-88

[2018-10-09 12:48] ghost opened #1802 "Deployment status = Completed"
Hello,

On each report I have a lot of 'Update Completed' status which is normal but I have also some 'Completed' ones which makes no sense since it apparently does not exist.

Would you kindly illuminate on this issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f79b9a28-784d-dd79-d438-4dac6c5f21c9
* Version Indepe

[2018-10-09 13:00] BigIve opened #1803 "Data formatting"
Hi,
I would love to see some data formatting examples for the policy "Printers/PointAndPrintRestrictions".  As trying to translate the ADMX values into the required formatting is a real nightmare.
Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db383394-fa70-dba2-1a62-00a246a74ca9
* Version Independen

[2018-10-09 13:15] petergeier commented on #1748
Exactly same scenario here.

[2018-10-09 13:53] andrewbettany opened #1804 "Incorrect link"
Link to the Encrypted Hard Drive redirects to BitLocker.  It should redirect to the Encrypted Hard Drive resource page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1bdee57-c525-2768-971c-235aa42658d5
* Version Independent ID: a8d801ed-f573-b9bf-84c4-57777c60fa95
* Content: [Information protection (Windows 10)](http

[2018-10-09 14:38] shortpatti commented on #1786
Hi @RAJU2529, you can try the [Microsoft Translator extension](https://www.microsoft.com/en-us/p/translator-for-microsoft-edge/9nblggh4n4n3) in the Store.

[2018-10-09 14:44] ghost opened #1805 "Status definition"
Hello,

We use 1607, 1703, 1709, 1803 and we have different states returned which aren't all evident:

Deployment Status: Unknown, In Progress, Progress Stalled, Failed, Update Completed, Completed, Deferred and Canceled.

Detailed Status: Download started, Download succeeded, Download hand off, Install hand off, Reboot pending, Service Stack Downloaded, Update offered, Update detected.

Would it

[2018-10-09 16:42] cinglis-msft commented on #1805
The top states are in the documentation: https://docs.microsoft.com/en-us/windows/deployment/update/update-compliance-need-attention#update-issues

The bottom states are lower level “simplifications” of the actual state devices are in. There are many events in the download process, and we condense it to a simpler level while still giving more detailed deployment information than the above sets of

[2018-10-09 21:14] DaniHalfin commented on #1801
Hi @Dev88Fab9, thanks for reaching out. This sounds a bit more complicated than something we should be discussing on GH. I'd recommend you reach out through our support channels to get this issue resolved. Thanks :)

[2018-10-09 21:45] IWouldLikeToKnow commented on #1805
@cinglis-msft My request is to know exactly what which state at it's lowest level means and the combinations between deployment and detailed status.

[2018-10-09 22:15] Richard1959 opened #1807 "Windows 1709 and up??"
After installing full ADK onto Win 10 Pro 1803 We cannot find the MultiAppAssignedAccessSettings option in  Windows Configuration Designer. It seems we have to downgrade Windows to 1709, effectively a clean install.

We want a tool to configure a multi app kiosk across multiple Win 10 versions and do not want to downgrade this install to 1709 to design the tool, can you advise if its possible plea

[2018-10-09 22:35] Billwzw opened #1810 "User"
Documentation would be improved if you indicate clearly that this software is portable and does not install as is typical for Microsoft.  Consequently it does not show up in the start menu under the proper name, nor does it show up as a desktop icon.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5bb1ce3-9128-5385-441

[2018-10-10 01:26] schenardie opened #1813 "policy-csp-eventlogservice.md"
Can someone fix the event log CSP so we can change the event log control behaviour of all event log types (application, security, system and setup) instead of only the application as its setup on the CSP EventLogService/ControlEventLogBehavior

[https://docs.microsoft.com/en-us/windows/client-management/mdm/policy-csp-eventlogservice](url)

[2018-10-10 01:37] schenardie commented on #856
Anyone following this issue?

[2018-10-10 10:19] AntoinetteSp opened #1823 "Help Accessibility settings blocked"
I work in a special needs classroom.   Our IT department blocks important accessibility settings.   How can I pursuade them to let my students have these helpful tools!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fd15a17-8d9e-88a2-c003-490f9883a418
* Version Independent ID: 4f3a0aae-a8a3-0057-3434-ae8a267e1809
* Co

[2018-10-10 10:47] RAJU2529 opened #1824 "Good and great Explanation"
Thanks for the information about these policies, its really useful, just now i applied some of the policies.
Thanks for the authors and keep it up

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9abd3113-b803-87b6-ef7f-6893bcc5ceb5
* Version Independent ID: 6f7ca1ee-d19c-42bb-7db5-6158fc160e32
* Content: [Manage connect

[2018-10-10 11:29] Shachar2like opened #1825 "link doesn't work"
link on the top of the article "Looking for consumer information? See Customize the Start menu" doesn't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 061157dc-8fc8-3f9d-c01f-37f22fbdf1c7
* Version Independent ID: 0b0b6797-9367-eb7c-22ef-5f2b8bbfe592
* Content: [Start layout XML for desktop editions of Windows 10

[2018-10-10 12:07] deshpandeguy opened #1827 "Need more clarity on usage in Intune Azure portal"
Thanks for this article. Some feedback
The videos shows demo on the Intune classic portal, which is not existing anymore.
Could you update the videos for showing demo in Azure portal?
Azure portal do not have the option of String XML direct editing/adding the value.
It has either string or string (XML File). If I choose XML file, do I need to create an XML and upload it? or just adding the data va

[2018-10-10 12:32] jdeckerms commented on #1825
@Shachar2like Thanks for letting us know, I'll get the link fixed today.

[2018-10-10 12:43] jdeckerms commented on #1807
@Richard1959 MultiAppAssignedAccessSettings is available in Windows Configuration Designer for 1709, 1803, and 1809. When you start the provisioning project, make sure you're selecting "For all Windows **desktop** editions". If you select "All Windows editions", only settings that are common to desktop, mobile, Surface Hub, and HoloLens are shown.

[2018-10-10 13:55] jdeckerms commented on #1827
@deshpandeguy Thanks for the feedback, I'll use it to plan future improvements to this topic.

[2018-10-10 15:34] joe-oli opened #1828 "RDP Access"
It is not clear whether this section applies to attempts to login using RDP or how does it relate to the registry entry.
HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\RemoteAccess\Parameters\AccountLockout

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3974da73-1577-dbaf-00ec-f6fb6eee35df
* Version Independent I

[2018-10-10 16:44] siewjb opened #1829 "Reporting Network Protection Links for further analysis"
We've had Network Protection enabled for some time now, but lately we've started to see an increase in the number of network connections blocked and I am not convinced that all the blocks are appropriate.  I'd like to be able to submit links for further analysis however the Windows Defender Security Intelligence web-based submission form only allows me to submit files for analysis.  Is there anywh

[2018-10-10 16:47] davisdre opened #1830 "OMS is depreciated"
Can you upgrade step 1 to reflect the Azure portal now since OMS is/will be depreciated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4273a259-c3c7-dca7-6353-954068d740a7
* Version Independent ID: 1084ea77-95c4-4e4a-da6c-f4d8668f9ebf
* Content: [Enrolling devices in Windows Analytics (Windows 10)](https://docs.micros

[2018-10-10 17:10] Treid31 opened #1831 "mr"
dfbndtn tdg

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6f32730-a0ff-23c2-6a28-0333f570ff9d
* Version Independent ID: 440262ae-500e-899b-2583-a82ac02ac354
* Content: [Coordinated Malware Eradication](https://docs.microsoft.com/en-us/windows/security/threat-protection/intelligence/coordinated-malware-eradication)
*

[2018-10-10 17:13] Treid31 opened #1832 "tuy6"
sermm6ejynjhdrt.lk,p0i9{}?rdex.,m s5 46yun

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6f32730-a0ff-23c2-6a28-0333f570ff9d
* Version Independent ID: 440262ae-500e-899b-2583-a82ac02ac354
* Content: [Coordinated Malware Eradication](https://docs.microsoft.com/en-us/windows/security/threat-protection/intelligence/coor

[2018-10-10 18:35] ygoe opened #1834 "Nonsense and way behind"
Sorry but this feature is nonsense and way behind competitors. Samsung has this limit at 80% (in a product of 2012) which makes it practical for everyday use. Lenovo even lets you specify custom charge capping and threshold levels, defaulting to 80% and 75% (in a current product). All of this can be switched on the fly with simple GUI vendor tools. 50% effectively makes this feature unusable for d

[2018-10-10 18:48] jdeckerms commented on #1700
@mathieudesjardins Thanks for being so patient. The team thinks they've identified the setting in the baseline that is causing problems running WCD, and now we're contacting the security team to see what the ramifications of reversing the policy setting is, before we recommend that customers change it.

[2018-10-10 18:54] jdeckerms commented on #1834
@ygoe Thanks for your feedback, but it is more about the product design than the documentation. If you'd like to get your feedback heard by the product team who can consider it when planning for future releases, you should submit it using the Feedback Hub.

[2018-10-10 18:56] mathieudesjardins commented on #1700
Awesome, you guys are really quick!!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jeanie Decker <notifications@github.com>
Sent: Wednesday, October 10, 2018 2:48:24 PM
To: MicrosoftDocs/windows-itpro-docs
Cc: mathieudesjardins; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Strange View in ICD after applying windows 10 baseline. (#1700)

@mathieudesja

[2018-10-10 19:05] ygoe commented on #1834
Done that but it usually doesn't improve the situation unless it gets thousands of upvotes.

[2018-10-10 19:13] jdeckerms commented on #1834
@ygoe I understand that it feels that way, but it's still the most direct route of registering your opinion. The product teams really do pay attention to what they're hearing from customers in the Feedback Hub.

[2018-10-10 19:15] Justinha commented on #1828
@joe-oli They are managed separately. See https://support.microsoft.com/en-us/help/816118/how-to-configure-remote-access-client-account-lockout-in-windows-serve

[2018-10-10 19:39] shortpatti commented on #1791
@RAJU2529, you can use the **Feedback Hub** to request this functionality.

[2018-10-10 19:39] #1791 closed

[2018-10-10 19:41] Justinha commented on #1788
Do these links help?
https://docs.microsoft.com/en-us/windows/desktop/wes/eventschema-elements
https://docs.microsoft.com/en-us/windows/desktop/wes/eventschema-eventtype-complextype

[2018-10-10 22:17] #1786 closed

[2018-10-11 01:41] BR77BE commented on #1834
"The product teams really do pay attention to what they're hearing from customers in the Feedback Hub."
As evidenced by the many complaints about deleted files for months before the Windows 10 version 1809 fiasco?

[2018-10-11 05:18] lonelyhermit opened #1838 "Uninstalling"
I would like to uninstall this spyware from my phone people got a hold of my phone and installed it with out me knowing
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f647b3de-4694-58d5-62a1-5f77331da653
* Version Independent ID: 21cc9e12-df71-5871-94e0-206fd4c53095
* Content: [Troubleshoot Window

[2018-10-11 05:38] joe-oli commented on #1828
@Justinha yes i thought that may be the case, only because i also stumbled upon the article which you referred to (which incorrectly states applies to Win Server 2003, no mention of Win 10). In any case both docs need updating.

[2018-10-11 06:07] mclabman commented on #1788
No.
There data type description. The my question is What kind of data in EventData element? What I have to expect in attribute "name" in Data elements for security events?
For example for event 4624 the same property named "TargetUserName" in xml view and "Account Name" in text view.

[2018-10-11 08:41] danieldhudson opened #1839 "Edge Tile Variables"
The variables for the Edge tile are incomplete/incorrect. When extracting the XML from the start menu (as per Yoav's guide) I get the following:

Square150x150LogoUri="ms-appx:///Assets/MicrosoftEdgeSquare150x150.png" Wide310x150LogoUri="ms-appx:///" ShowNameOnSquare150x150Logo="true" ShowNameOnWide310x150Logo="false"

Note that the Edge tile asset is different, and the ShowNameOnWide variable is

[2018-10-11 11:33] KwintenB opened #1840 "Error code 61"
About 10% of my pc's are reporting error code 61. This error is not mentioned in the docs. Please update the table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f029a728-1f53-4576-a6ca-8a19a92626e6
* Version Independent ID: 85f27ad5-84e2-0787-082f-59d2d66c99b5
* Content: [Upgrade Readiness deployment script (Windows

[2018-10-11 12:54] illfated opened #1841 "Description for AUOptions = 2 partially in conflict with other Microsoft sources"
This page states that AUOptions = 2 means the following:
&gt; notify for download and automatically install updates

Other sources I have found, both Microsoft Technet & non-Microsoft, say that it means:
&gt; Notify for download and notify for install

That is a 50% difference in description, but because we are talking about system behaviour it becomes 100% different in effect.

---
#### Document

[2018-10-11 14:03] A-Everson opened #1843 "Citrix in Kiosk Edge"
Hello I am working on delivering applications to end users via Citrix through Edge. In normal mode this runs smoothly, I would like to leverage the security advantage of kiosk in 1809. however in Kiosk mode I receive a .ica file error. Is there a way to allow the Edge Kiosk to load the .ica files?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-10-11 14:42] shortpatti commented on #1843
Hi @A-Everson, I'll reach out to the engineering team about your question.

[2018-10-11 15:59] FormulaAT commented on #1193
Here's a [TechNet thread](https://social.technet.microsoft.com/Forums/en-US/31574929-70b8-4c08-a150-88a81a43ee99/windows-10-ignores-wsus-gpo-no-autorestart-with-logged-on-users-for-scheduled-automatic-updates
) with others reporting the issue. What's the correct way to engage support on this?

[2018-10-11 16:12] Justinha commented on #1649
@ajgolia This issue has been fixed. I updated the product names in the table and the download has been updated also. I think official communications have also been sent to Intune customers who may have been affected.

[2018-10-11 16:12] #1649 closed

[2018-10-11 16:16] Justinha commented on #1804
@andrewbettany Thanks for reporting the link error. It's been fixed.

[2018-10-11 16:16] #1804 closed

[2018-10-11 16:18] Justinha commented on #1633
@brink668 Thanks for correcting the registry path. The topic has been updated.

[2018-10-11 16:18] #1633 closed

[2018-10-11 16:43] Justinha commented on #1558
@TonyLongsonFJ sorry for delay. The registry path is listed in this section: https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/network-security-lan-manager-authentication-level#registry-location

[2018-10-11 16:43] #1558 closed

[2018-10-11 16:58] jdeckerms commented on #1839
@danieldhudson Thanks for the feedback. I'm checking with the product team on whether the image export results might have changed since the topic was written.

[2018-10-11 16:59] jaimeo commented on #1193
I've brought this thread to the attention of relevant PMs, but the way to engage support is to visit support.microsoft.com.

[2018-10-11 17:19] Justinha commented on #1788
@mclabman Unfortunately the original author is no longer with Microsoft so I'm not sure I can get this info. I can forward this question to a general security discussion group here internally, but it might help to provide them with some more context. Can you share any more about what you are trying to achieve?

[2018-10-11 17:52] GeoSimos commented on #1146
Yes it is fixed, I'm closing the issue, thank you greg-lindsay for noting it.

[2018-10-11 17:52] #1146 closed

[2018-10-11 19:55] OftKilted commented on #1843
@A-Everson Doesn't the .ICA file call the installation of the Citrix client? It's leveraging either ActiveX or a Plugin to use Citrix.

Here's a discussion directly referencing the issue:
https://discussions.citrix.com/topic/383915-windows-10-edge-browser-prompts-for-opening-ica-file/

Back in 2015 Citrix had a blog post talking about issues with Edge in Citrix and the article mentions that the wo

[2018-10-11 20:13] A-Everson commented on #1843
You are correct, these options can fix the issue I am seeing however, how can they be applied to the Kiosk login? without the Kiosk enabled in Edge I am able to use Citrix seamlessly, but when using Kiosk Edge through Assigned Access I get this error. There must be some way to enable the plugins under Assigned Access

[2018-10-11 20:48] shortpatti commented on #1843
Are you trying single-app or multi-app?

[2018-10-11 21:31] illfated commented on #1841
Thank you for the issue edit.
I did not see the github environment when I commented on the doc page.

[2018-10-11 23:11] Justinha commented on #1828
@joe-oli Thanks for the suggestion. I added a Note with a link to the support topic. The support topic itself has to be updated by another team, so I submitted a request for that.

[2018-10-11 23:11] #1828 closed

[2018-10-12 02:40] jeremyhagan commented on #969
I created a central GPO store and copied in PolicyDefinitions folder from Windows 10 1709 and the option was present.

[2018-10-12 02:44] jeremyhagan opened #1848 "Scheduled task doesn't exist."
I've implemented this on Hybrid Domain Joined W10 1709 and 1803 and the scheduled task shown in this document doesn't exist. There is a GUID subfolder under EnterpriseMgmt, but it still doesn't have a scheduled task with the listed name. However my device shows up in InTune as compliant. So I guess it is enrolled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-10-12 03:26] SusanBradley opened #1849 "Block suspicious behaviors documentaiton"
"You can enable a new protection setting, Block suspicious behaviors, "  This appears to have been removed from 1809.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3d6356b-87ff-8c3a-56ef-1270a823d3ab
* Version Independent ID: 4d6ae878-66cf-0e10-bdf3-bdd6054cbc9d
* Content: [What's new in Windows 10, version 1809](htt

[2018-10-12 12:05] A-Everson commented on #1843
Both

[2018-10-12 13:39] jdeckerms commented on #1839
@danieldhudson Per the product team, Microsoft Edge tile logos won't appear on secondary tiles because they aren't stored in Surface Hub, so the path doesn't matter. However, I'm changing the example to avoid confusion. I'm also adding a note to explain that the default value of ForegroundText is light, so you don't need to include it in the XML unless you're changing the value.

[2018-10-12 14:34] mm1nIPOVdDsu opened #1850 "Upgrade Readiness blog url points to old URL"
A link in the article [Getting Started with Upgrade Readiness](https://docs.microsoft.com/en-us/windows/deployment/upgrade/upgrade-readiness-get-started#data-collection-and-privacy) for [blog entry at the current address](https://blogs.technet.microsoft.com/upgradeanalytics/2018/07/10/this-blog-has-moved/) details that the location of the blog has changed to https://aka.ms/blog/WindowsAnalytics (o

[2018-10-12 15:01] shortpatti commented on #1843
@A-Everson, I'll pass this on to the engineering team for assistance :)

[2018-10-12 15:04] jaimeo commented on #1840
PM tells me that 61 means "CleanupOneSettings failed with an exception," if that's any help in the meantime. We're working together to flesh this out into the topic and also see if other exit codes (and explanations) are missing.

[2018-10-12 15:43] shortpatti commented on #1843
Hi @A-Everson,

Single app as the name suggests only allows a single app to run. Citrix Receiver is a second app, hence not possible. This is by design.

It should work in multi-app. Can you give me specific details about what doesn't work with multi-app?

[2018-10-12 16:35] ermacia91 commented on #1848
The task disappears and gets replaced after device is MDM enrolled. So, if you enabled it and it succeeded enrollment, the task will not show up.

[2018-10-12 18:36] Dansimp commented on #1810
Fixed. Added note to intro

[2018-10-12 18:36] #1810 closed

[2018-10-12 18:40] Justinha commented on #1788
@mclabman Here is a reply from an expert:

Since the Security log uses a manifest, you can get all of the event schema from the workstation.

Run this from an elevated powershell prompt:

$secEvents = get-winevent -listprovider "microsoft-windows-security-auditing"

The .events property is a collection of all of the events listed in the manifest on the local machine.
For each event there is a .Tem

[2018-10-12 20:00] #1849 closed

[2018-10-12 20:01] shortpatti commented on #1849
Removed section.

[2018-10-12 20:51] arpan3t commented on #1733
In case anyone is reading this thread having the above issue, here is the manual solution.  First note that I am running the latest version of Windows 10 Pro 17134, and I didn't have the exemptions key in my registry to begin with.  I used the ICD and created the provisioning package to deploy, so I am not sure why that key wasn't there.

Regardless, I created the Exemptions key under `HKLM\SOFTWA

[2018-10-12 21:09] #1838 closed

[2018-10-12 21:45] RolandDeschain17 opened #1854 "English MDOP ADMX Template download is broken..."
As of 10/12/18, the MDOP Group Policy Templates link gives you a working download location, but it's filled with ADML files for tons of languages - and they all just have numbers after them, with no corresponding way to determine language (such as EN-US for United States English), and that identifier isn't in the ADML files themselves. There are several that look like EN-US files with different nu

[2018-10-12 21:48] wesinator opened #1855 ""Fast User Switching" link is broken"
The `Fast User Switching` link goes to a 404 page https://www.microsoft.com/resources/documentation/windows/xp/all/proddocs/en-us/fast_user_switching.mspx?mfr=true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152b37ee-6df1-10c6-d58c-7542cd2f9326
* Version Independent ID: 5a7a32d6-3c42-beaa-00d0-6deb7ad6bfbd
* Content

[2018-10-13 02:47] wesinator opened #1857 "Typo in 4782 event name ?"
Should this say "The password hash **of** an account was accessed." ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd057ae3-0850-ffad-4fd5-7c930a5eb7cf
* Version Independent ID: 36e94666-3087-80f5-c516-d87a2c52a7c9
* Content: [4782(S) The password hash an account was accessed. (Windows 10)](https://docs.microsoft.com

[2018-10-13 15:28] NickMo1 opened #1860 "Support for SP levels?"
Are all different versions/feature updates of Windows 10 enterprise (e.g. 1511, 1703, 1809 etc) supported with all versions of the MBAM client (e.g. 2.0, 2.5, 2.5 sp1, etc)
We want to ensure we stay within Microsoft supported configurations, and take support applications like MBAM into account when planning feature updates.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-10-14 17:58] Vahhab opened #1862 "Missing parts for VMWARE and HAXM users"
A very important part is missing which lead problems for me to launch VMWARE on my windows 10 pro due to presence of Credential Guard.
It was this part:
HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\DeviceGuard\Scenarios\HypervisorEnforcedCodeIntegrity
Should set to:
Enabled = 0

Thanks to  Ulises2k for his/her answer at https://social.technet.microsoft.com/Forums/windows/en-US/8004c3bd-7d57

[2018-10-14 17:59] Vahhab commented on #1776
I had the same problem. It is not clear where X: is referring to.

[2018-10-14 17:59] Vahhab commented on #1862
This was the case for Disabling device guard/credential guard

[2018-10-14 19:27] dzejzipl commented on #1753
Yep, i have this same issue. I'm using this to create new user account, set password and add to local admin groups.

[2018-10-14 23:09] jeremyhagan opened #1864 "Mobile Apps is now Client Apps"
In the Intune portal the tile is now labelled Client Apps. Please update the doco

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43e35d03-23d6-e006-b083-582bd33d4ae4
* Version Independent ID: 7ab70933-c45e-c601-548b-07ad0c89cd59
* Content: [| Microsoft Docs](https://docs.microsoft.com/en-us/windows/security/information

[2018-10-15 05:51] SmithPlatts commented on #1583
So, is someone from Microsoft going to update the required Surface Driver pages to include the Surface Go MSI package?

[2018-10-15 13:29] jdeckerms commented on #1583
@SmithPlatts Thanks, we'll add a link to that download.

[2018-10-15 13:42] blooodorange commented on #1646
+1

[2018-10-15 13:45] rem-87 commented on #744
I have a question about the requirements:
Does "Enterprise has MDM service already configured " mean MDM User Scope is enabled in AAD?

[2018-10-15 17:32] Niglb opened #1866 "FileExplorerNamespaceRestrictions"
Is this supported in InTune \ CSP or only via provision xml currently?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78038d67-04a1-f4ae-6a69-98e157688a31
* Version Independent ID: c86b4460-e8be-8537-a6c8-3cb094ef14a3
* Content: [Set up a multi-app kiosk  (Windows 10)](https://docs.microsoft.com/en-us/windows/configura

[2018-10-15 17:58] jdeckerms commented on #1866
@Niglb The first part of the topic explains how to configure it in Intune: https://docs.microsoft.com/en-us/windows/configuration/lock-down-windows-10-to-specific-apps#configure-a-kiosk-in-microsoft-intune

[2018-10-15 18:20] Niglb commented on #1866
Sure - just looking for the FileExplorerNamespaceRestrictions "Downloads" option - I could configure with a custom xml via intune. I assume FileExplorerNamespaceRestrictions will come to the portal interface.

[2018-10-15 18:32] Justinha commented on #1788
@mclabman We published a topic to explain this: https://docs.microsoft.com/windows/security/threat-protection/auditing/how-to-list-xml-elements-in-eventdata

[2018-10-15 18:36] Justinha commented on #1864
@jeremyhagan Thanks for the heads up. Those steps have been updated.

[2018-10-15 18:36] #1864 closed

[2018-10-15 22:47] fizzle7 commented on #1834
Standard Microsoft response really. Not that it's their fault, they are just one person in a huge corporation. But considering the feedback hub doesn't even work and constantly crashes, let alone being heard in the throng, it deserves to be spammed everywhere. I'm just gonna complain wherever I can until you fix your garbage, Microsoft, so why not here? I mean, can you even imagine, $3000 machine

[2018-10-16 08:08] danieldhudson commented on #1839
Hi @jdeckerms. Ran some testing on this and the product team have this wrong; the Edge tile logos are stored on Surface Hub and will show when using the correct variable.

If you leave the Square and Wide variables as "ms-appx:///" then they will appear blank. Completing them as per my example does show the Edge logo.

See here for proof: https://imgur.com/a/vzQeARC (Please excuse the potato quali

[2018-10-16 09:14] gutjahr opened #1869 "Link 404"
The link to "User Experience Virtualization feedback site" does not work (404)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdce558d-f9d0-87d9-ca4f-c9f20ffc64a4
* Version Independent ID: 4ee887ad-12e1-f9b6-fb26-3fb7af74c087
* Content: [User Experience Virtualization for Windows 10, version 1607](https://docs.microsof

[2018-10-16 12:57] A-Everson commented on #1843
In both single and multi-app modes I receive the error:
![image](https://user-images.githubusercontent.com/44062296/47017554-8d9f8300-d120-11e8-9e96-99273570ecad.png)

I can click "Detect"

![image](https://user-images.githubusercontent.com/44062296/47017718-f850be80-d120-11e8-89db-785cb7f0efdd.png)

Then click "already installed" and it will load the storefront screen as usual

when attempting to

[2018-10-16 15:13] RAJU2529 opened #1870 "should i keep ?"
i have enabled  the process migitations for  certain builtin APPS
set-ProcessMitigation -System -enable DEP
set-ProcessMitigation -System -enable Bottomup
set-ProcessMitigation -System -enable ForceRelocateImages
set-ProcessMitigation -System -enable CFG
set-ProcessMitigation -System -enable EnableExportAddressFilterPlus
set-ProcessMitigation -System -enable EnableExportAddressFilter
set-ProcessMi

[2018-10-16 16:49] #1857 closed

[2018-10-16 17:10] shortpatti commented on #620
A certificate has a unique ID, which is the *\[UniqueID\]* for this configuration, and each client certificate must have different UniqueIDs for the SCEP enrollment request.

[2018-10-16 17:10] #620 closed

[2018-10-16 17:15] jdeckerms commented on #1869
@gutjahr Thanks for letting us know, we'll remove the link.

[2018-10-16 17:36] Justinha commented on #1862
@Vahhab Thanks for sharing and sorry to hear you had trouble. As mentioned in the forum thread, the issue you are raising is not related to Credential Guard. Possibly you could look to add this somewhere in Hyper-V docs.

[2018-10-16 17:36] #1862 closed

[2018-10-16 17:54] wesinator commented on #1855
@Justinha It was just updated in #1863

[2018-10-16 17:54] Heidilohr commented on #1753
@xonaecom and @dzejzipl Please show me the logs from **Settings** > **Accounts** > **Work or school account** > **Export your management logs** and the syncml you sent to the device. I can use that information to set up a bug report for the dev team so they can address this issue as soon as possible.

[2018-10-16 18:06] jdeckerms commented on #1630
@officeninja415 The team found that the script will only work if the account already exists (so the script is configuring an existing account to be a tester account, it isn't creating a tester account). I'll update the topic with that info.

[2018-10-16 18:33] damigs commented on #1720
Really looking forward to this.   Eagerly waiting.

[2018-10-16 18:43] saimaddali commented on #1720
Hi any idea when this will be available?

[2018-10-16 19:06] iadgovuser1 commented on #1349
+1 for having them all upper or all lower

[2018-10-16 19:08] iadgovuser1 commented on #1164
https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-exploit-guard/troubleshoot-asr#confirm-pre-requisites also lists E5

[2018-10-16 19:11] iadgovuser1 commented on #1164
https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-exploit-guard/windows-defender-exploit-guard#requirements also lists ASR as E5

[2018-10-16 23:12] Heidilohr commented on #1753
@xonaecom @dzejzipl I'm currently consulting the team regarding how best to address this, as this is the first time this issue has come up. I will let you know when they reply.

[2018-10-17 03:52] arekfurt commented on #1641
At least some at these will work on Windows 10 Home and Windows 10 Pro if (a) you have Windows Defender operating as your "primary" AV, and (b) you use Powershell to enable them. (How many work, and do they work with the same effectiveness? I'm just starting to explore myself. But at least some work.)

[2018-10-17 04:55] arekfurt opened #1880 "Can Powershell be used to configure the properties "Block executable files from running unless they meet a prevalence, age, or trusted list criteria."?"
This document gives us the GUID to enable "Block executable files from running unless they meet a prevalence, age, or trusted list criteria.", and another document gives us an (exceedingly brief) description of what that means.  But *how* can we configure the necessary properties of this rule?
 More specifically and immediately (for my own use), can we use Powershell to do so? The text of this doc

[2018-10-17 08:42] xonaecom commented on #1753
Hello @Heidilohr ,
Because both tickets were merged, I'm gonna put both settings in here.
How can I share with you the exported logs? The logs have client info that I don't want to put here in the wild. :)

**Computer Name change settings:**
**OMA-URI used:** ./Device/Vendor/MSFT/Accounts/Domain/ComputerName
**Data Type:** String
**Value:** OS-%SERIAL%

**User as admin settings:**
**OMA-URI used:*

[2018-10-17 13:12] mclabman commented on #1788
Thank You. 
It almost is what I expected.

Now I have to match " TargetUserName " and one of the properties described in docs for this event.

A security-enabled local group was deleted.
Subject:
   Security ID:  WIN-R9H529RIO4Y\Administrator
   Account Name:  Administrator
   Account Domain:  WIN-R9H529RIO4Y
   Logon ID:  0x1fd23
Group:
   Security ID:  S-1-5-21-3108364787-189202583-342365621-100

[2018-10-17 14:29] shortpatti commented on #1843
@A-Everson, try creating the kiosk user account and log into the account to install Citrix Receiver before setting up assigned access.

[2018-10-17 16:17] Heidilohr commented on #1753
Hi @xonaecom,

Please refrain from sending any log information for now. The team is still figuring out how to solve your problem. It may have something to do with Intune, but I will let you know once I get more information.

Thanks,
Heidi

[2018-10-17 18:28] chjone opened #1885 "PowerShell script link returns a 404 error."
Looks like the link should point to: 'https://www.powershellgallery.com/packages/WindowsDefender_InternalEvaluationSettings/1.2/Content/WindowsDefender_InternalEvaluationSettings.ps1'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b674bf82-b910-2b06-86f4-f454dc74026f
* Version Independent ID: 7c8d5db0-107a-ced6-106e-ef

[2018-10-17 18:30] Justinha commented on #1250
@TechsUK sorry for delay here. I don't see how to redirect your comment, so you might submit this feedback at the SCCM topic too: https://docs.microsoft.com/en-us/sccm/protect/deploy-use/create-deploy-application-guard-policy

If you are still having trouble, here are other options:
- Post on [Configuration Manager forums](https://social.technet.microsoft.com/Forums/en-US/home?category=ConfigMgrCB

[2018-10-17 18:30] #1250 closed

[2018-10-17 18:32] Vahhab commented on #1862
Thanks for your notice and attention

[2018-10-17 19:30] illfated commented on #1885
Good point, thanks for pointing it out. From the "Evaluate Windows Defender Antivirus" page:

https://www.powershellgallery.com/packages/WindowsDefender_InternalEvaluationSettings/1.2/DisplayScript

[2018-10-17 20:08] PhillyUrbs opened #1886 "Misspelled Word"
Windows 10 includes the compatibility update, so you will automatically have the latest compatibility update so long as you continue to keep your Windows 10 devices up-to-date with cummulative updates.    Cumulative is spelled incorrectly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4273a259-c3c7-dca7-6353-954068d74

[2018-10-17 21:15] toddjohnson39 opened #1887 "in-box provisioning experience"
Please explain/define what "in-box provisioning experience" means. It's referred to but never clearly defined.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5739fab2-c6db-a7a9-b0e7-2bf4b85912a7
* Version Independent ID: 82c58053-c1d7-d938-1b0f-f3f7f70ada3b
* Content: [Planning a Windows Hello for Business Deployment](

[2018-10-17 22:52] iadgovuser1 commented on #1717
This was fixed and can be closed.

[2018-10-17 22:52] #1717 closed

[2018-10-17 23:01] #1855 closed

[2018-10-18 17:20] gabrielluizbh opened #1890 "Remote Desktop with Biometrics"
Is Remote Desktop with Biometrics only available on Windows 10 Enterprise?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3d6356b-87ff-8c3a-56ef-1270a823d3ab
* Version Independent ID: 4d6ae878-66cf-0e10-bdf3-bdd6054cbc9d
* Content: [What's new in Windows 10, version 1809](https://docs.microsoft.com/en-us/windows/whats

[2018-10-18 17:42] adamgourd opened #1893 "Need more info on recommended telemetry settings for Windows 7"
Under the heading "Recommended diagnostic data level settings" the article includes specific settings recommendations for various Windows 10 builds, presumably based on GDPR-compliance. However, the statement regarding Windows 7 reads simply, "For Windows 7, Microsoft recommends configuring enterprise devices for Windows Analytics to facilitate upgrade planning to Windows 10." There are no recomme

[2018-10-18 18:02] Justinha commented on #1788
@mclabman great question. Ted has written up the answer and I will add it to the topic.

[2018-10-18 20:59] Tdiwestyguy opened #1894 "Deployment values???"
When publishing OMAURI/CSP values, Each "policy" must have have a name, description, values, explanation of what the policy does.

and.. specifically Data type, as well as a supported Configuration value so an Admin may deploy with SCCM or Intune, or other MDM. (no secret there)

Why are there no Data values on most of these CSPS?

All policy pages also seem to be different and do not follow a wri

[2018-10-18 22:05] Justinha commented on #1002
@theplaz currently Intune only allows selecting trust for Window components+WHQL+Microsoft Store apps or Window components+WHQL+Microsoft Store apps+Intelligent Security Graph.

If additional LOB apps need to be allowed then the current solution is relying on Intune’s custom URI capability to define identifiers (signers, hashes) for the LOB apps and include them in a CUSTOM WDAC policy that is pus

[2018-10-18 22:08] Justinha commented on #1002
@Rutikhal Sorry to miss your question. You can use a catalog file to allow lob apps, or just stand up a reference device that runs all of the apps you need and create a code integrity policy there. Here are some links: https://docs.microsoft.com/windows/security/threat-protection/windows-defender-application-control/deploy-catalog-files-to-support-windows-defender-application-control or https://do

[2018-10-19 02:39] bmwilson1978 opened #1897 "Common PIN algorithm - constant delta query."
Can someone explain why 0864 is classed as a common PIN, yet 8640 is not.   0864 = +8, -2, -2 and 8640 (-2, -2, -4), both don't have a constant delta or am I misunderstanding something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82ecd7ea-0ecb-cf7b-a1ab-9cda97e5cc0a
* Version Independent ID: 81acb0ad-2d46-bd0b-abb5-

[2018-10-19 03:02] illfated commented on #1897
Speculation on my part: it could have something to do with hand/finger movement direction on a numeric keypad.

[2018-10-19 03:14] bmwilson1978 commented on #1897
Yeah true, if so then it’d be ideal to have those  defined patterns/movements documented along with the algorithms.

[2018-10-19 06:58] chris-han opened #1898 "Step5 in Use the Windows Device Portal to install apps on HoloLens needs update"
In Install app, select an app package from a folder on your computer or network. If the app package requires additional software such as dependency frameworks, check the 'I want to specify framework packages'. (click Add dependency is for earlier windows device portal)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 108

[2018-10-19 13:53] shortpatti commented on #1793
@RAJU2529, thank you for the great feedback.  Please let us know how we can do better.

[2018-10-19 13:53] #1793 closed

[2018-10-19 13:54] shortpatti commented on #1792
@RAJU2529, thank you for the great feedback.  Please let us know how we can do better.

[2018-10-19 13:54] #1792 closed

[2018-10-19 13:54] shortpatti commented on #1790
@RAJU2529, thank you for the great feedback.  Please let us know how we can do better.

[2018-10-19 13:54] #1790 closed

[2018-10-19 13:54] shortpatti commented on #1787
@RAJU2529, thank you for the great feedback.  Please let us know how we can do better.

[2018-10-19 13:54] #1787 closed

[2018-10-19 13:55] shortpatti commented on #1784
@RAJU2529, thank you for the great feedback.  Please let us know how we can do better.

[2018-10-19 13:55] #1784 closed

[2018-10-19 13:55] shortpatti commented on #1783
@RAJU2529, thank you for the great feedback.  Please let us know how we can do better.

[2018-10-19 13:55] #1783 closed

[2018-10-19 13:55] shortpatti commented on #1781
@RAJU2529, thank you for the great feedback.  Please let us know how we can do better.

[2018-10-19 13:55] #1781 closed

[2018-10-19 13:56] shortpatti commented on #1780
@RAJU2529, thank you for the great feedback.  Please let us know how we can do better.

[2018-10-19 13:56] #1780 closed

[2018-10-19 13:56] shortpatti commented on #1778
@RAJU2529, thank you for the great feedback.  Please let us know how we can do better.

[2018-10-19 13:56] #1778 closed

[2018-10-19 14:03] shortpatti commented on #1843
@A-Everson, the engineering team is aware of this issue and they are working to resolve it.

[2018-10-19 14:17] RAJU2529 commented on #1824
i downloaded the policies explanation in pdf format ,

[2018-10-19 14:28] shortpatti commented on #1785
@RAJU2529, I will reach out to the engineering team.

[2018-10-19 14:38] #1782 closed

[2018-10-19 14:41] RAJU2529 opened #1899 "Release Offline documention"
Please offline documentation in .pdf format for the all the users in different languages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aa5c0a6-acd2-4ec3-275d-3a684b3faaf4
* Version Independent ID: 6b475925-ca66-d47f-e180-92988683b37a
* Content: [Group Policy and Mobile Device Management settings for Microsoft Edge (M

[2018-10-19 14:44] shortpatti commented on #1899
That is great feedback.  I'll see what I can do to make this happen :)

[2018-10-19 14:45] RAJU2529 opened #1900 "Release offline Edge browser offline installer"
Why microsoft does not release offline edge browser for the offline  installation , Make compatible with MAC users and if possible release  for the  windows 7 , 8.0 . 8.1  and 10  operating systems.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aa5c0a6-acd2-4ec3-275d-3a684b3faaf4
* Version Independent ID: 6b475925-ca

[2018-10-19 14:53] Rutikhal commented on #1002
Is there any links to documentation about mentioned "CUSTOM WDAC policy that is pushed out through the AppLocker CSP"? Our company now uses AppLocker via Intune but we have a lot of problems with that. I just hope maybe custom WDAC works better?

[2018-10-19 14:53] RAJU2529 commented on #1870
[exploitsettings.zip](https://github.com/MicrosoftDocs/windows-itpro-docs/files/2496309/exploitsettings.zip)

[2018-10-19 15:07] RAJU2529 opened #1901 "Good Explanation"
Great authors for  wonderfull  given information about fAQ, it  answered most of my questions
Thanks to the authors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b40dabb9-4e11-e204-a821-1643c53fad53
* Version Independent ID: 2444ab62-5c01-2afa-6051-1349acc92e06
* Content: [Internet Explorer 11 - FAQ for IT Pros (Inter

[2018-10-19 15:17] RAJU2529 opened #1902 "not compatible"
Thanks for the given direct downloading link IEAK11, and  just now downloaded ieak 11 , then install3d on windows 10  1803.17134.345 64bit enterprise.I tried to create configuration for windows 10 os , target platform does not windows 10 OS .Its  drawback for windows  10 Users .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-10-19 15:19] RAJU2529 opened #1903 "Add target platform"
Add  new  target platform to windows 10 x86 and x64  architectures , which is  really for  windows 10 enterprise customers. Thanking you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec8e958d-60a7-ef70-4d61-d8962982007d
* Version Independent ID: f6024c93-22d8-8ab6-1c69-469f93f3d3cc
* Content: [Internet Explorer Admini

[2018-10-19 15:24] RAJU2529 opened #1904 "Unable to create windows 10 configuration for IEAK11"
but i could  not able  create configuration for windows 10

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6406ca95-5d88-9036-7d09-7514c880fe9d
* Version Independent ID: cd7588d6-125f-4292-c171-705556267aeb
* Content: [Hardware and software requirements for Internet Explorer 11 and the IEAK 11 (Internet Explorer Adminis

[2018-10-19 15:25] RAJU2529 opened #1905 "Thanks authors"
Last month, I already download these tips and documentation.pdf format

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89ceb32f-5dfc-c12f-2646-628690794f9e
* Version Independent ID: 164ab367-1ef5-9b36-3fd5-10ca45ca2333
* Content: [Internet Explorer Administration Kit 11 (IEAK 11) - Administrator's Guide (Internet Explor

[2018-10-19 16:58] Justinha commented on #1870
@RAJU2529 Can you clarify your question? Are you asking if you should keep mitigations enabled?

[2018-10-19 17:11] RAJU2529 commented on #1870
yes sir.  moreover I attached settings.xml  in  zip

[2018-10-19 17:16] RAJU2529 commented on #1870
please download.xml file and verify the settings I have enabled sir.
If I made any mistake in enabling settings, please correct and inform to me sir.

[2018-10-19 17:22] hnewmanca commented on #1299
Confirmed. This XML code worked on 1703, sort of works on 1803 but Edge gets left behind. Any ideas?
    <CustomTaskbarLayoutCollection PinListPlacement="Replace">
      <defaultlayout:TaskbarLayout>
        <taskbar:TaskbarPinList>
        <taskbar:DesktopApp DesktopApplicationLinkPath="#leaveempty"/>
		</taskbar:TaskbarPinList>
      </defaultlayout:TaskbarLayout>
    </CustomTaskbarLayoutCollec

[2018-10-19 17:28] RAJU2529 commented on #1870
sir, did you seen my attachment,  exploitsettings.zip

[2018-10-19 17:31] Justinha commented on #1870
yes

[2018-10-19 17:33] RAJU2529 commented on #1870
that.xml file is settings I have enabled only after reading your article.
Thanks a lot

[2018-10-19 17:36] Justinha commented on #1870
OK. As long you the setrtings don't cause any trouble with your apps you shoukd keep them enabled. You might also look at configuring these setting using The Windows Security app, it's a more user-friendly interface.

[2018-10-19 17:36] #1870 closed

[2018-10-19 17:53] Justinha commented on #1002
Yes, see the AppLocker CSP docs: https://docs.microsoft.com/en-us/windows/client-management/mdm/applocker-csp

[2018-10-19 19:27] shortpatti commented on #1564
@MVDB1984, sorry for the delay.  I'm gathering the information and will update it soon.  Thank you for your patience.

[2018-10-19 20:37] cathyethoca opened #1907 "Missing how to add ProPlus"
The older version had steps on how to add ProPlus manually to the deployment

Just below this link:
https://docs.microsoft.com/en-us/windows/deployment/deploy-windows-mdt/create-a-windows-10-reference-image#add-the-microsoft-office-professional-plus-2013-x86-installation-files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-10-20 02:09] illfated commented on #1904
Maybe it would be useful to alter the issue title to say "**Unable to create  windows 10 configuration for IEAK11**".

[2018-10-20 04:35] RAJU2529 opened #1910 "I have idea"
create windows 10 base image and install to test computer and then install all-time requested and essential applications with all the customized settings, once finished, using syspres cmd,  generalize the image, afterwards shutdown the pc, boot with windows 10 Pe captured image with fast compression.
 afterwards using MDT proceed as you like

---
#### Document Details

⚠ *Do not edit this section.

[2018-10-20 05:59] illfated commented on #1904
Very well. I don't have edit rights to do so, but I presume one of the team members will.

[2018-10-20 11:11] RAJU2529 opened #1911 "Add video demonstration"
Add the demonstration videos , for the users to get firsthand experience

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 773913b9-e98d-11cd-fd78-4a836fcb8bdf
* Version Independent ID: c221264e-926c-9414-1737-8a85085804ea
* Content: [Use Setup information (.inf) files to uninstall custom components (Internet Explorer Adm

[2018-10-20 13:54] rolstead commented on #1240
"Remote Credential Guard supports "Signed on credentials only""
is this true or not?  Windows 10 1803 does not seem to allow credentials other than signed on user.  I don't want to sign on to my Tier 2 laptop with my Tier 1 credentials just to use RCG.  If I use a smart card to provide alternate credentials to laptop, would this still be a circle of trust violation?

[2018-10-21 18:41] shuurajou opened #1912 "It'd be good to see an update to this"
It's been quite a while since this has been updated, and with things like windows defender application guard around now, it'd be nice if this was refreshed as a one-stop page for folks to find out how to take full advantage of Windows 10's security stack.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 981c9ad4-d618-de2

[2018-10-22 04:41] pkuntal commented on #1636
Hi @DaniHalfin
1-Do Windows Hello TPM entries get restored or re-created following a reboot?

2-Do Windows Hello TPM entries get restored by the Passport container service?

We need to confirm this with Microsoft.

[2018-10-22 07:20] balait01 opened #1913 "Logs, event id and registry settings regards to Upgrade Readiness Mgmt Solution after running script"
Please advice about the logs, events & registry settings that need to be checked after enabling Upgrade Readiness Management Solution? How to confirm the windows machine is reporting to the solution after running the script

Tried generating the report from Upgrade Readiness Management Solution from Setting... But it doesn't show any invented windows machine info.

---
#### Document Details

⚠ *Do

[2018-10-22 13:37] shortpatti commented on #1903
Target OS has been added and it will show later today.

[2018-10-22 13:37] #1903 closed

[2018-10-22 14:22] #536 closed

[2018-10-22 14:28] 2IRG-FB opened #1915 "-SOLVED- It doesn't work for me"
I followed all of the hints:

1 - The Policy is not configured
2 - I don't see the Keys
3 - I see "Incorrect parameter"

So it seems that I don't have this configuration, but I have this error from VMware Player after the installation of Docker...!
Can someone help me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41c

[2018-10-22 14:53] shortpatti commented on #599
@MihaiSP, is this something you can answer?

[2018-10-22 15:01] shortpatti commented on #1629
@MihaiSP, can you take a look at this issue around VPN on the client?

[2018-10-22 15:20] shortpatti commented on #1902
@RAJU2529, thank you for your feedback.  I'll look into the compatibility issues.

[2018-10-22 15:22] shortpatti commented on #1903
duplicate of #[1902](https://github.com/MicrosoftDocs/windows-itpro-docs/issues/1902)

[2018-10-22 18:38] Justinha commented on #1912
@shuurajou thanks for the suggestion. New features like Windows Defender Application Guard will be added here: https://docs.microsoft.com/en-gb/windows/security/threat-protection/index and particularly under WD ATP node: https://docs.microsoft.com/en-gb/windows/security/threat-protection/windows-defender-atp/windows-defender-advanced-threat-protection

I could add a link to help redirect readers b

[2018-10-22 18:43] Justinha commented on #1915
@2IRG-FB What error are you referring to? You can use these steps to check if Credential Guard is running:
https://docs.microsoft.com/en-us/windows/security/identity-protection/credential-guard/credential-guard-manage#review-windows-defender-credential-guard-performance

[2018-10-22 20:24] sasanmcp opened #1918 "shouldn't the steps be flipped?"
in Config man section, shouldn't steps 3f and3g be swapped?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e53eec1-548f-701f-3bcb-3763d68e09a4
* Version Independent ID: 6d5926a0-8a73-f4b2-a000-a9245500cdeb
* Content: [Evaluating MBAM 2.5 in a Test Environment](https://docs.microsoft.com/en-us/microsoft-desktop-optimiz

[2018-10-22 22:36] Tdiwestyguy opened #1919 "Need more information"
Compared to other CSPs, this CSP documentation does not use the same templated information broken down per CSP, and I am requesting enhancement/review of this policy.

limited informatio makes creating a Test case rather tough.   Can someone please update this article with deployment information Per CSP?

Data types, and configurable values need to be available per CSP so Admins may deploy.

Use o

[2018-10-22 22:43] Tdiwestyguy commented on #1919
Example: ./Vendor/MSFT/NetworkProxy/ProxyServer
Node for configuring a static proxy for Ethernet and Wi-Fi connections. The same proxy server is used for all protocols - including HTTP, HTTPS, FTP, and SOCKS. These settings do not apply to VPN connections.
Supported operation is Get.

This does not appear to contain enough information to deploy using MDM.

[2018-10-22 23:07] Justinha commented on #1788
@mclabman I added how to map the names.

[2018-10-22 23:07] #1788 closed

[2018-10-23 00:21] Tdiwestyguy opened #1921 "missing information on CSP"
Start/HidePeopleBar is missing deployment values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 800fa3a7-e6c8-5525-401b-e69a6ccfa66d
* Version Independent ID: c2d24d10-a365-4720-ec22-57b2e12340b4
* Content: [Policy CSP - Start](https://docs.microsoft.com/en-us/windows/client-management/mdm/policy-csp-start#start-hidep

[2018-10-23 00:35] Tdiwestyguy commented on #1921
Start/DisableContextMenus also missing deployment data to be used.. ??

[2018-10-23 02:44] fdebout commented on #1866
I've just tested it using CSP custom config : ./Device/Vendor/MSFT/AssignedAccess/Configuration and it does work, I can now access it from my Kiosk apps, however I cannot browse to it from File Explorer as it is hidden/disable in the Kiosk configuration. Is there a way to turn file explorer back on/provision start menu link for it?

[2018-10-23 07:29] 2IRG-FB commented on #1915
@Justinha The error about incompatibility between VMware Player and Credential Guard, i just commented the page you linked through "Give a feedback".
However, i solved the problem with this cmd: "**_bcdedit /set hypervisorlaunchtype off_**". After that, VMware works, but Docker doesn't work anymore... I think they are incompatible...!

[2018-10-23 07:52] YvesJeunesse opened #1922 "Error Code : 0xc0090030 Not listed"
Error code 0xc0090030 is not listed. This error is raised when we tried for some account to set-up pin number.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b4f9133-887f-17a6-95fc-3712de8a3fa1
* Version Independent ID: 09d34ce8-1590-8202-3e70-e6299dadbb65
* Content: [Windows Hello errors during PIN creation (Windows

[2018-10-23 10:15] amrik2309 opened #1923 "Detailed Steps to Enroll Win7,8.1 and 10 in Windows Analytics"
Can someone write a detailed step by step of enrolling the different Operating Systems with screenshots ? Its ridiculous to have so my hyperlinks on single page and doesn't solve the purpose....as usual one of the most pathetic experience from Microsoft's documentation.

[2018-10-23 12:27] cacodemon9000 opened #1924 "DOES NOTHING"
PS C:\Users\damir&gt; mountvol X: /s
PS C:\Users\damir&gt;
PS C:\Users\damir&gt; copy %WINDIR%\System32\SecConfig.efi X:\EFI\Microsoft\Boot\SecConfig.efi /Y
Copy-Item : A positional parameter cannot be found that accepts argument '/Y'.
At line:1 char:1
+ copy %WINDIR%\System32\SecConfig.efi X:\EFI\Microsoft\Boot\SecConfig. ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2018-10-23 12:53] jdeckerms commented on #1866
@fdebout The FileExplorerNamespaceRestrictions setting only allows access to the Downloads folder from a file dialog box. Did you try adding File Explorer as one of the kiosk apps? Although I'm not clear why you'd want to -- a user can do a lot from File Explorer, it might defeat the purpose of locking the device down as a kiosk.

[2018-10-23 13:35] shortpatti commented on #1918
@sasanmcp, thank you for the feedback, you make a valid point and I've made the change.

[2018-10-23 13:35] #1918 closed

[2018-10-23 14:53] #1905 closed

[2018-10-23 14:57] shortpatti commented on #1904
Related to issue #1902. See this issue for more information.

[2018-10-23 14:57] #1904 closed

[2018-10-23 14:58] #1901 closed

[2018-10-23 15:03] shortpatti commented on #1899
@RAJU2529, I've provided feedback to the team via the Feedback Hub (Send feedback option under the More (...) menu).   I'm curious too about this because PDFs are quite portable and useful for adding notes.

[2018-10-23 15:03] #1899 closed

[2018-10-23 15:18] RAJU2529 commented on #1899
sorry actually my feedback hub not working, so I wrote suggestions and feedbacks here. please forgive me sir

[2018-10-23 15:28] shortpatti commented on #1899
No worries.  I was happy to pass this information on to the proper team to get this request on the list :)

[2018-10-23 15:42] shortpatti commented on #1902
@RAJU2529, I'll reach out to the dev team for IEAK11.

[2018-10-23 17:03] nimojg-microsoft opened #1926 "Out of date references to Windows build"
We are on Windows 10, version 1809! Why reference Windows builds if we don't keep this up-to-date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c34addaf-0c0f-3138-610b-a21f25f7df2a
* Version Independent ID: f5685a73-2ddd-bf71-ddd2-97ff11ee6cf6
* Content: [Deploy and manage a full cloud IT solution with Microsoft Educ

[2018-10-23 17:45] ermacia91 commented on #744
If you are doing MDM enrollment in W10 1709 or higher, the Company Portal is not needed (nor will it work). The OS will use the enrollment mechanism of W10. The way to assign a user (though I would not expect it to work after device based enrollment) is to go into Settings > Accounts > Access work or school and add the user account.

[2018-10-23 18:02] shortpatti commented on #1615
@PreetiChoudhry, after looking at the logic of the example, you are correct in your understanding.  I will make the change to the document.  Thank you for your feedback :)

[2018-10-23 18:03] #1615 closed

[2018-10-23 18:34] shortpatti commented on #1332
@vibeeshan025, thank you for the feedback and details to add to the content.  I added it to the FAQ.

[2018-10-23 18:34] #1332 closed

[2018-10-23 19:14] Niglb commented on #1866
My client has an ask to allow USB drives in a kiosk - I'm testing various policies but cannot do this yet. Downloads may do the trick. Is this only available via XML or could we use the WMI bridge to hit the CSP?

[2018-10-23 21:08] micheltenhove commented on #1866
Does the Downloads folder clear itself after a while or is this a manual action to perform?

[2018-10-23 22:04] Niglb opened #1929 "InTune Custom OMA-URI Settings"
Is there anyplace to get an example of deploying this via InTune Custom OMA-URI Settings in a recommended configuration for a public kiosk?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d409ed15-110a-12b2-45bc-b622d9aac256
* Version Independent ID: 99cf6b35-8654-c385-55a5-3b22450b0500
* Content: [UnifiedWriteFilter CS

[2018-10-23 22:20] Tdiwestyguy opened #1930 "Missing deployment variables/Data type for TenantId"
TenantId
A globally unique identifier (GUID), without curly braces ( { , } ), that is used as part of Windows Hello for Business provisioning and management.

There is no Deployment data on this?  I used String and "guid" however that wont work.

Can someone provide Syntax for this Passport for work CSP policy, TenantID?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-10-23 22:51] fdebout commented on #1866
@jdeckerms Yes I have a File Explorer app link in my start menu but it doesn't work, nothing happens when you select it. In our scenario Kiosk users often need to lookup brochures and specs for the products they sell on the suppliers websites and email or share it with their customers.
So far in my testing I can download the files to the downloads folder, and then as you mentioned, browse to it wi

[2018-10-23 23:35] Niglb opened #1932 "1810"
Is this line a typo? 'In Windows 10, version 1810, Assigned Access runtime status supports monitoring....' or is 1809 being renamed when it is officially released? :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8301897-dfa3-ef3b-744f-9e8334c17dc4
* Version Independent ID: d5751dd3-b0ae-49ef-75cd-d4113c4eed3d
* Cont

[2018-10-24 05:55] omonoe opened #1933 "IE11 not support modern web technologies."
The following sentence is incorrect.
&gt;which help to ensure today's modern websites and apps work just as well as your old, legacy websites and apps.
IE 11 does not have the standard Web technology that became common after 2014.
For example, ES 2015 (ES 6) currently in popular use now does not work with IE11.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-10-24 06:01] omonoe opened #1934 "EMIE's download link is dead."
The following links in the document are dead.

Enterprise Mode Site List Manager for Windows 10 download
https://www.microsoft.com/ja-JP/download/details.aspx?id=49974

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f19c0a2-75ff-0504-78af-205a5bd88da3
* Version Independent ID: b661ca31-6826-db16-5276-bdff91e3db75
* Con

[2018-10-24 08:20] rajeshkhanikar commented on #1796
Same here with Windows 10.0.17134.345. Status of the device says _Wipe(Retain enrollment state and user account) pending_... It worked once (one week ago), but not again. Endless loop with a Lenovo computer and a VM.

[2018-10-24 08:52] jkulbe opened #1935 "typo in picture"
The topmost box on the left in the picture for "Azure AD joined in Managed environments" reads "Cloud Experice Host" instead of "Cloud Experience Host".

[https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-how-it-works-device-registration#azure-ad-joined-in-federated-environments](url)

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-10-24 08:56] jkulbe opened #1936 ""retrive" instead of "retrieve" in two illustrations"
The illustrations for the following two topics says "retrive MDM terms of use" instead of "retrieve MDM terms of use"

[https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-how-it-works-device-registration#azure-ad-joined-in-federated-environments](url)

[https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-how-it-

[2018-10-24 13:51] shortpatti commented on #1932
@Niglb, thank you for catching that mistake, and sorry for the confusion.  I've fixed it and it should be 1809.

[2018-10-24 13:51] #1932 closed

[2018-10-24 13:57] shortpatti commented on #1934
@omonoe, thank you for the feedback.  I looked at the broken link and found that the topic no longer exists.  You can, however, click on one of the other links for a specific schema, either v.1 or v.2.

[2018-10-24 13:57] #1934 closed

[2018-10-24 15:29] rbreneman opened #1938 "Typo"
Typo in the note, starting: Before proceeding, you should familiarize yourself with device regisration concepts such as:

Should be:
Before proceeding, you should familiarize yourself with device registration concepts such as:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d87ba3ab-d8a7-d038-2f7d-886bed956394
* Version

[2018-10-24 17:16] pugmohone commented on #1299
I just deployed this using SCCM and had zero issues with 1803.  I used the following code to display File Explorer, Google Chrome, and Snipping Tool

Can you copy your Taskbar section so we can take a look?

<CustomTaskbarLayoutCollection PinListPlacement="Replace">
      <defaultlayout:TaskbarLayout>
        <taskbar:TaskbarPinList>
          <taskbar:DesktopApp DesktopApplicationLinkPath="%APPDA

[2018-10-24 17:16] pugmohone commented on #1299
<CustomTaskbarLayoutCollection PinListPlacement="Replace">
      <defaultlayout:TaskbarLayout>
        <taskbar:TaskbarPinList>
          <taskbar:DesktopApp DesktopApplicationLinkPath="%APPDATA%\Microsoft\Windows\Start Menu\Programs\System Tools\File Explorer.lnk" />
          <taskbar:DesktopApp DesktopApplicationLinkPath="%ALLUSERSPROFILE%\Microsoft\Windows\Start Menu\Programs\Accessories\Snipp

[2018-10-24 17:17] pugmohone commented on #1299
Hmm - Cannot post my code.

[2018-10-24 17:17] pugmohone commented on #1299
CustomTaskbarLayoutCollection PinListPlacement="Replace"
      defaultlayout:TaskbarLayout
        taskbar:TaskbarPinList
          taskbar:DesktopApp DesktopApplicationLinkPath="%APPDATA%\Microsoft\Windows\Start Menu\Programs\System Tools\File Explorer.lnk" /
          taskbar:DesktopApp DesktopApplicationLinkPath="%ALLUSERSPROFILE%\Microsoft\Windows\Start Menu\Programs\Accessories\Snipping Tool.

[2018-10-24 17:18] pugmohone commented on #1299
Removed the <>

[2018-10-24 20:22] Tdiwestyguy opened #1940 "Unable to deploy"
Hello, Unable to deploy these policies, as Data types, and examples are not provided.

One CSP says Value type is chr.

There is no Data value recognized by O.M.A., or Cloud Intune, or SCCM that is CHR.

The reference CHR for either False, or True.. wouldn't that be Boolean?

Can someone please update this CSP with correct deployment settings PER CSP component policy?

---
#### Document Details

⚠

[2018-10-24 20:35] Tdiwestyguy commented on #1940
Comparing this CSP to others, it does not seem to follow the same "Template" of information being published externally by Microsoft.

Example:
All other CSP lists the supported Scopes at the top of the CSP sheet. (this does not)
This Scope is required to format the OMAURI path to CSP via MDM provider.

Profile- This does not outline how to deploy, and what the syntax is. At one point it says "Get

[2018-10-24 20:42] #1759 closed

[2018-10-24 20:42] #1751 closed

[2018-10-24 20:46] illfated commented on #1940
BTW. the warning on top of that page has a typo, `express` instead of 'expressed'
(not sure if that pink paragraph element is specific to the page or not).
Maybe I do have an OCD for reading correct grammar, typos distract me a lot.

[2018-10-24 20:52] #570 closed

[2018-10-24 20:55] illfated commented on #1299
If you want to post code containing special code and tags, use MarkDown:
https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code
Example: `This is a sample code text showing <tag> brackets as in <html>.`

[2018-10-24 22:01] shortpatti commented on #877
@Justinha, can you take a look at this one?

[2018-10-24 22:05] shortpatti commented on #884
@jdeckerms, can you take a look at this one?  Let me know if I need to reassign it :)

[2018-10-24 22:12] shortpatti commented on #1038
Closing.

[2018-10-24 22:12] #1038 closed

[2018-10-24 22:20] #1181 closed

[2018-10-24 22:28] #1320 closed

[2018-10-24 22:36] #1487 closed

[2018-10-24 22:46] #1683 closed

[2018-10-24 22:49] #1695 closed

[2018-10-24 22:50] shortpatti commented on #1634
@mgrizenko, thanks for the feedback.  Can you provide me a link to the topic where this error should be listed?

[2018-10-25 06:47] frobnitzz commented on #1320
Hi, why has this been closed? Thanks.

[2018-10-25 13:13] jdeckerms commented on #884
That one is Corey’s, thanks!

From: Patti Short <notifications@github.com>
Sent: Wednesday, October 24, 2018 3:06 PM
To: MicrosoftDocs/windows-itpro-docs <windows-itpro-docs@noreply.github.com>
Cc: Jeanie Decker <jdecker@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Windows 10, version1803 Group Policies (#884)

@jdeckerms<https://na01.safelin

[2018-10-25 13:42] nathanTYO opened #1943 "What data is sent to Microsoft"
Need detail on what specifically is sent to Microsoft when cloud-delivered protection is enabled.  What meta-data and what files?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f8ccc01-1b04-e443-ef75-6ffe6c866dd5
* Version Independent ID: fa2eaa0f-db04-785a-3894-8244947b9cd5
* Content: [Enable cloud-delivered protecti

[2018-10-25 14:04] shortpatti commented on #1320
Hi @frobnitzz, the document has been completely rewritten.  If you still require an answer, I'll have the assigned author take another look.

[2018-10-25 14:30] jdeckerms commented on #1866
@Niglb I don't have a date when to expect the setting to be in Intune, but they do plan to add it.

[2018-10-25 14:38] Niglb commented on #1866
Ok thank you -  even as a standalone CSP we can hit outside the main assigned access XML.

My client would love to see USB drives too.

[2018-10-25 15:43] jenniaynlynn opened #1945 "Error Code: 0x801c044f"
I'm getting error code 0x801c044f.  I had Windows Hello set up and working on a different computer. When I migrated to a new laptop, I get lots of errors in trying to set up a PIN. The instructions above did not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b4f9133-887f-17a6-95fc-3712de8a3fa1
* Version Independ

[2018-10-25 15:47] jenniaynlynn commented on #1945
Screen captures of various errors I've gotten when trying to use or create my PIN...
![error1](https://user-images.githubusercontent.com/44474462/47513157-7f451b80-d832-11e8-977a-f5b90a6b48a8.PNG)
![error2](https://user-images.githubusercontent.com/44474462/47513158-7f451b80-d832-11e8-9c6d-68cf400a895d.PNG)
![error3](https://user-images.githubusercontent.com/44474462/47513159-7f451b80-d832-11e8-91

[2018-10-25 16:14] rasmuseeg opened #1946 "Force custom lockscreen wallpaper does not work on windows 10 pro"
I believe this content only applies to education and enterprise?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0286c17f-aca8-c9bc-597c-86b70165c72e
* Version Independent ID: be2bdcde-8667-4ff5-c4e5-bd50696d9341
* Content: [Configure Windows Spotlight on the lock screen (Windows 10)](https://docs.microsoft.com/en-us/wi

[2018-10-25 16:51] rasmuseeg commented on #1946
You should probably also include a link on how to manually change it.

So it's no longer possible to use Gpo to change lockscreen?
________________________________
From: Jeanie Decker <notifications@github.com>
Sent: Thursday, October 25, 2018 6:27:34 PM
To: MicrosoftDocs/windows-itpro-docs
Cc: Rasmus Eeg Møller; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Force custom lockscreen wallp

[2018-10-25 17:00] jdeckerms commented on #1946
@rasmuseeg The lock screen Group Policy setting is for Windows 10 Enterprise or Education only. You can configure a lock screen image in a provisioning package (https://docs.microsoft.com/en-us/windows/configuration/wcd/wcd-personalization), however for it to work on Windows 10 Pro, you also need the SetEduPolicies settings (https://docs.microsoft.com/en-us/windows/client-management/mdm/personaliz

[2018-10-25 19:28] rasmuseeg commented on #1946
Well that sounds durable. Yet unnecessary limitation? :-/
________________________________
From: Jeanie Decker <notifications@github.com>
Sent: Thursday, October 25, 2018 7:00:54 PM
To: MicrosoftDocs/windows-itpro-docs
Cc: Rasmus Eeg Møller; Mention
Subject: Re: [MicrosoftDocs/windows-itpro-docs] Force custom lockscreen wallpaper does not work on windows 10 pro (#1946)

@rasmuseeg<https://nam02.sa

[2018-10-26 04:35] tFable opened #1950 "Duplicate Attribute in XSD"
Hello,

Visual studio complains that the "maxOccurs" attribute is duplicate in this section:
 &lt;xs:element name="NativeProfile" minOccurs="0" maxOccurs="1"&gt;
          &lt;xs:complexType&gt;
            &lt;xs:sequence&gt;
&lt;xs:element maxOccurs="unbounded" name="CryptographySuite" minOccurs="0" maxOccurs="1"&gt;

Are you able to clarify if this is an issue with the doc?

Thanks,
t

---
####

[2018-10-26 07:43] devgaia opened #1954 "Windows Hello in combination with Assigned Access"
Please explain how Assigned Access / Auto Login and Windows Hello interact. We seem to have a problem where the user is auto logged in but the "Enter PIN dialogue" is shown behind the app set up for assigned access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8301897-dfa3-ef3b-744f-9e8334c17dc4
* Version Independen

[2018-10-26 08:46] strophy commented on #1188
I agree, much more information is needed here. I would also consider basic information like links to the [Bitlocker To Go Reader](https://www.microsoft.com/en-us/download/details.aspx?id=24303) and instructions on how to encrypt a USB drive with Bitlocker as a minimum level of information here.

[2018-10-26 13:33] gutjahr opened #1957 "InstantGo Devices"
Can you please add a section to this article that talks about how many of the settings in this CSP relate to InstantGo capable devices.
It is my understanding that InstantGo capable devices will automatically start Bitlocker encryption (even for standard users) upon first logon, before any of the CSPs have been processed.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-10-26 20:14] iadgovuser1 opened #1964 "Discrepancies with audit options"
https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-exploit-guard/customize-exploit-protection#exploit-protection-mitigations

The table in the above section lists these as having an audit option:

Block remote images
Export address filtering (EAF)
Import address filtering (IAF)
Simulate execution (SimExec)
Validate API invocation (CallerCheck)
Validate image depen

[2018-10-26 20:18] iadgovuser1 commented on #1964
**man Set-ProcessMitigation** indicates the PowerShell reference table is correct

[2018-10-26 20:53] Justinha commented on #877
@Ayanmullick Thanks for the suggestion and sorry for late reply. This has been shared with the engineering team.

[2018-10-26 23:48] itguysocal opened #1966 "Incomplete Thought?"
The section titled "Directory synchronization" states
"Hybrid and on-premises deployments use directory synchronization, however, each for a different purpose."
It goes on to explain the purpose of Hybrid. But it fails to explain the purpose for why on-premises deployments would need directory synchronization.
I believe the reason is probably because even on-premises windows hello for business req

[2018-10-27 03:33] joegasper opened #1967 ""Applies to" section and licensing"
The "Applies to" section on this page (and others) I believe could be clearer. I would recommend at a minimum:

Applies to:
Windows Defender, Windows Defender Advanced Threat Protection (Windows Defender ATP)

PUA protection is available in Windows Defender (and previously in SCEP and FEP) and does not require the purchase of a Windows Defender ATP license. We talk with people running 3rd-party AV

[2018-10-27 22:59] Kazzan commented on #1275
The same question right now here.

[2018-10-27 23:01] Kazzan commented on #1447
Yes, same question right now. Not everyone has option to have the newest hardware in time of license switch.

[2018-10-28 14:35] aavdberg commented on #1348
The page is updated with this information, so the issue can be closed it think.

[2018-10-28 14:52] thbch commented on #1348
Okay for me. Thank you.

[2018-10-28 14:52] #1348 closed

[2018-10-28 17:37] shortpatti commented on #599
@pcs504, here's the most current information on Exclusion routes:

[2018-10-28 21:39] whatsupbuddy opened #1977 "GPMC Policy not present"
Hey Team,

Is there a minimum AD Functional Level or something that should be a pre-requisite? My devices are Hybrid domain joined and are present in AAD, however, i dont seem to have an option within GPMC to create an Intune Enrolment GPO.

Thanks in advance!

[2018-10-29 01:48] thedrum808 commented on #1326
Nevermind - marking it as "Exempt" works, as it doesn't really access files on your PC, so it wouldn't need to be WIP-aware.

[2018-10-29 05:47] burke-martin opened #1980 "Problem with VM memory allocation"
For the VM use 4GB of memory. I had failures/errors applying the unattended file with 2GB and this is telling you to use 1GB for the VM....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0eb8c97-caa0-bb05-4b91-14ad2adc4aac
* Version Independent ID: 0cc541a3-8198-c029-d795-308e673ee2f4
* Content: [Create a Windows 10 r

[2018-10-29 12:10] Lava2014 commented on #1153
Hi ...I am getting the same error...please guide me

[2018-10-29 13:00] KenLee123 commented on #599
Are there any further developments on this, as one of our clients is in the same boat. They require a mechanism whereby they can specify the routes that should go over the physical interface, with all remaining traffic defaulting to going over the VPN interface.

From my understanding, this is the reverse of what exclusion routes currently do.

The motivation for this is so that they can forward a

[2018-10-29 14:04] shortpatti commented on #1153
@DaniHalfin, can you take a look at this one?  If it needs to be assigned to someone else, let me know :)

[2018-10-29 16:10] ManojKamath commented on #1230
@Jasongroce @Justinha @subdriven - Was this article deeplinked somewhere else? There is still no content on this topic. <Sigh!>

[2018-10-29 16:11] ManojKamath commented on #1230
Or is it just possible that Administer AppLocker using MDM is a container object and the topic on MDM administration is actually articulated under Maintain AppLocker policies? Curious.

[2018-10-29 18:06] csiebert11 commented on #1233
I also have an issue using this method. As it stands I cannot change Default applications.

[2018-10-29 19:02] jkd2020-github opened #1984 "Terminated Credential Guard"
I have tried the suggestions on the Microsoft's support page https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-application-control/windows-defender-application-control-deployment-guide
But still have been unable to clear whatever switch is needed to allow VM to run. Any other suggestions? I am running to the point of having to reinstall Windows to get it cleared.

[2018-10-29 23:30] hoyty76 commented on #1619
There is a page https://support.microsoft.com/en-us/help/4099479 that lists all the CU, why can't there be a similar page with all the SSU. The argument of information getting stale seems to apply there but yet it is maintained?

[2018-10-30 13:11] ghvanderweg opened #1989 "Make everyone a Basic Purchaser"
According to these docs, the 'Make everyone a Basic Purchaser' setting is only available in Microsoft Store for Education, but I'm seeing it in our Microsoft Store for Business as well. Is this an error in the documentation or a bug in the Store for Business?

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* I

[2018-10-30 16:18] ManojKamath commented on #1230
Crazy that - how do we find official documentation that is directly related to a MS certification course that has no "official" course book but has skill testing om MDM, activation, (even RemoteApp but that is a thorny topic that no one at MS is willing to talk about currently) on a official examination. Sad state of affairs for sure.

[2018-10-30 16:55] illfated commented on #1230
If there is no relevant information (feel free to look for it) in any of the other chapters linked from the parent document (https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-application-control/applocker/administer-applocker), I suggest that someone from the tech team takes a look at it and checks if there is any available documentation to be provided in the [re

[2018-10-30 17:02] shortpatti commented on #1230
@Justinha, can you take a look at this one?

[2018-10-30 18:01] Justinha commented on #1230
Hey everyone, Thanks for reporting and I apologize for my delayed reply. I mistakenly published this placeholder topic and need to circle back with our engineering partners to get it completed.

[2018-10-30 18:23] bally-singh opened #1991 "Feature Update 1709"
Hi All,

Can someone please confirm what the default settings are for Feature Updates?

This would be for the following settings:

Update/AutoRestartDeadlinePeriodInDaysForFeatureUpdates
Update/EngagedRestartDeadlineForFeatureUpdates
Update/EngagedRestartDeadlineForFeatureUpdates
Update/EngagedRestartSnoozeScheduleForFeatureUpdates
Update/EngagedRestartTransitionScheduleForFeatureUpdates

It appea

[2018-10-30 18:54] Illnasty commented on #856
Hey MS, just tell these people the truth that everything in this article doesn't work!

Here's what I did to get it to work.
1. The separator for the values like "Remote Desktop Users" and "Administrators" is &#61440;
   - Will that work as "Remote Desktop Users&#61440;Administrator" ?
   -Absolutely NOT!
2. Go to https://coderstoolbox.net/string/#!encoding=xml&action=decode&charset=us_ascii
  -Se

[2018-10-30 18:56] Illnasty commented on #856
Ok so it actually converts the code here!  Putting spaces to help:
 - Input = & # 6 1 4 4 0 ;

[2018-10-30 19:08] shortpatti commented on #856
@Illnasty, Thank you for your feedback.  I'll look into this policy and make the necessary changes.

[2018-10-30 21:05] BritV8 commented on #1295
Microsoft have recently changed how the servicing stack is categorised
Future SSU releases, from October 2018 onward, will get marked "security" and "critical," https://redmondmag.com/articles/2018/09/21/windows-servicing-stack-updates.aspx

[2018-10-30 21:20] BritV8 commented on #1295
Some people were only applying Security patches and not applying Critical patches
Unfortunately a number of security patches rely on the SSU being up to date, so patches were failing
Consequently, future SSU releases, from October 2018 onward, will get marked "security" 
http://britv8.com/october-servicing-stack-update-changes-in-classification/

[2018-10-30 23:03] schenardie commented on #856
@Illnasty thanks for that mate.  Mine is still not working.  I'm decoding the code provided at the website and pasting in between AdministratorsRemote Desktop Users as a simple string and the OMA is ./Device/Vendor/MSFT/Policy/Config/UserRights/AccessFromNetwork but still not working.  Are you adding any more coding as per the page?? ie <Data> ??  thanks

[2018-10-31 02:07] WindyBinDay opened #1994 "Clarification on .url Links"
I've been trying to set a new image up for a client and they require .url links in the start menu. For ease of manageability I first tried putting the .url files on the Domain Controller along with the layout file. Within the layout file I was pointing to the UNC path for those .url files: &lt;start:DesktopApplicationTile Size="2x2" Column="3" Row="6" DesktopApplicationLinkPath="\\UNC\Path" /&gt;.

[2018-10-31 02:28] zuboje opened #1995 "Link to compliance toolkit download produces "Bad request""
Link to download tools under Microsoft Security Compliance Toolkit 1.0 (windows-itpro-docs/windows/security/threat-protection/security-compliance-toolkit-10.md) produces:

Bad Request - Request Too Long
HTTP Error 400. The size of the request headers is too long.

To reproduce use following link from that page: https://www.microsoft.com/en-us/download/details.aspx?id=55319

[2018-10-31 02:59] ArztVielfrass commented on #1374
I restored my files by
1: Open 'Windows Defender Security Centre'
2: In the icon panels click 'Virus & threat protection'
3: Click 'Threat history' not 'scan history', it should be next to a clock with a counterclockwise arrow on it.
4: Under 'Quarantined threats', restore the file.
5: If it keeps getting hidden, put an exception.

[2018-10-31 07:59] devgaia opened #1999 "Windows Hello in combination with Assigned Access"
Please explain how Assigned Access / Auto Login and Windows Hello interact. We seem to have a problem where the user is auto logged in but the "Enter PIN dialogue" is shown behind the app set up for assigned access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8f49c3f-ba5c-49e9-fad2-88cac155920a
* Version Independen

[2018-10-31 08:10] aavdberg commented on #1753
Have the same problem with the username en password.

[2018-10-31 09:56] mclabman commented on #1788
Thank You. It is exactly what I want.

[2018-10-31 11:57] Lava2014 commented on #1153
Dear Dani please help asap

[2018-10-31 11:58] chiners68 opened #2000 "Supported Windows versions"
This page dosent currently list Windows Server 2019 which is now supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfc0921d-e59b-5186-0dec-7c2facb66f1c
* Version Independent ID: 1fc0f7ba-f8cd-d071-75de-dc5a1af868c0
* Content: [Onboard machines to the Windows Defender ATP service](https://docs.microsoft.com/en-u

[2018-10-31 13:00] Voteax commented on #1347
Is this fixed for anyone?
I cannot Assign any Importance.
There is no Button for this.

[2018-10-31 13:14] jdeckerms commented on #1999
@devgaia Which method are you using to configure the kiosk, and which account type does your kiosk use?

[2018-10-31 13:16] shortpatti commented on #1347
@greg-lindsay, can you take a look at this issue?

[2018-10-31 13:19] shortpatti commented on #2000
@chiners68, Thank you for the feedback :) I've made the suggested correction and it will be published later today.

[2018-10-31 13:19] #2000 closed

[2018-10-31 13:28] shortpatti commented on #1995
Closing. Cannot reproduce in version Microsoft Edge 42.17134.1.0; Microsoft EdgeHTML 17.17134.

[2018-10-31 13:28] #1995 closed

[2018-10-31 13:32] shortpatti commented on #1977
@whatsupbuddy, can you tell me which topic you are referring to so that I can help you get an answer?

[2018-10-31 13:37] NJArcher opened #2002 "Support for Windows 10 Education version"
We use Windows 10 Education. This has some subtle differences to the Enterprise edition that we find useful for our schools. Can you have a Windows 10 Education subscription in the same way as for Enterprise?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3ecbc1-9c02-5681-7214-356be22ac7e8
* Version Independ

[2018-10-31 13:39] chiners68 opened #2003 "Server 1803 /2019 Onvboarding"
This artical dosent link or explain how to onboard using SCCM Policy. Also, can you use the same obnoading config file and deployment in sccm for windows 10 on Server 1803 /2019. Is the onboarding config download the same payload for the different OS's.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f4ed2b3-0390-4d53-

[2018-10-31 14:03] shortpatti commented on #856
So that I can get a better understanding, why doesn't \&#xF000; work as the separator?

[2018-10-31 14:22] shortpatti commented on #1374
@andreabichsel, can you take a look at this issue?

[2018-10-31 15:37] RAJU2529 opened #2008 "To prevent Credential Theft , whats precautions to take"
Everywere in the world , in every single  minute , most computers or servers are  hacked by the hackers /
As a normal users  and as  an system administrator , what are the steps  to be taken to  more securable sophiscated measures.
Please list the steps , i am asking on behalf for all the users

Thanks for kind information in this article

---
#### Document Details

⚠ *Do not edit this section. It

[2018-10-31 15:49] RAJU2529 opened #2009 "some laptops does have TPM , but does not have finger reader"
Without Fingerprint reader or  face id sensor camera , then there is no use windows hello .
Eventhouth  the  laptops have  TPM , In this  case , users can lock the harddrive with bitlocker using tpm

Thanks for your article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c34dbafa-df3c-a5a5-32d5-2ce152893534
* Version In

[2018-10-31 15:54] RAJU2529 opened #2010 "My recomendationsa to use TPM"
I would  recommend  microsoft  to Insist all the OEM manufacturers implement   at least TPM 2.0  on touchpad together  atleast   FIngerprint reader or Face ID camera sensor on the display monitor .on the  laptops .

Then only  windows hello is usefull  to users otherwise  , no use

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-10-31 16:04] RAJU2529 opened #2011 "What will happens , if device A is not connected to internet"
So in this case , the user cant be  sign on device A ? , because  after changing the password on device B connected to internet , but device A is  not connected .
I think the user  still can be  sign on device A through offline

Please explain sir , sorry i am giving you much  work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-10-31 16:09] RAJU2529 opened #2012 "To unjoin a device running Windows 10 Mobile, you must reset the device , its not a solution"
i think resettingthe device is  not a solution , because the users may have confidential  datas on his  mobile including messages and documents , once the device has reset , all datas are wiped out .

So windows mobile os engineers should reconsider the solution , if possible without reset device , find if any other solutions may have helpful

---
#### Document Details

⚠ *Do not edit this section

[2018-10-31 16:10] RAJU2529 commented on #1668
try to reset the network , or change the network as private in netwok adapter settings

[2018-10-31 16:28] RAJU2529 opened #2013 "If we reinstalled the fingerprint reader driver"
If we reinstalled the fingerprint reader driver means ,  after that we  need to  create windows hello setup  including PIN and  capture Fingerprint

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51e8d779-ec27-6dc4-5142-f97ca1db63d7
* Version Independent ID: e3f6b432-acc7-c5b0-dba0-18ab34eb65e8
* Content: [How Windows u

[2018-10-31 16:41] RAJU2529 opened #2014 "i could not able to find on gpo"
i could not be able to find on gpo
Computer Configuration\Administrative Templates\Windows Components\Windows Security\Device security

i am using windows 10 enterprise  1803 64 bit build no 17134.376
Please include device secutity templates in coming weeks
here is screenshot
![gp3](https://user-images.githubusercontent.com/3296790/47804179-2c032980-dd5a-11e8-83e5-305db9837345.JPG)

---
#### Docum

[2018-10-31 16:49] RAJU2529 commented on #1075
on my windows 10 laptop , registry sets by default , why its  happened to me.
OSManagedAuthLevel  to  5

[2018-10-31 17:00] mjenove opened #2015 "documentation incorrect"
From what I observe, "The file will not grow beyond this size; when the limit is reached, old log entries are deleted to make room for the newly created ones." is not true; log entries just stop happening after the file has reached the set size. (Windows 10 Version 1803 (OS Build 17134.286))

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-10-31 17:42] wolfrium opened #2016 "Dedicated CA"
Can someone clarify the reason for needing a dedicated CA for SEMM?  "It is also recommended that the SEMM certificate be authenticated in a two-tier public key infrastructure (PKI) architecture where the intermediate certification authority (CA) is dedicated to SEMM, enabling certificate revocation. For more information about a two-tier PKI configuration, see Test Lab Guide: Deploying an AD CS Tw

[2018-10-31 17:57] egallagh commented on #2012
Any data that is on the device should also be synced to the corporate environment and would persist there. When the device is un-joined it is no longer under corporate control and therefor all data that exists on the device should be deleted for compliance purposes.
I hope that helps.

[2018-10-31 18:05] egallagh commented on #2011
Yes, the offline device can sign in using previously cached credentials if it cannot connect online to verify the current new password.

[2018-10-31 22:32] schenardie commented on #856
Hi patti.  it give s catastrophic failure. i got it working too following @Illnasty solution.  the code **&#xF000 ;** is not encoded, so if you use it between the groups (like admin &#xF000 ; Authenticated users) it wont work. you need to go to the website and encoded it to xmk (then you are left with that square symbol)  that is what you copy and paste in between the groups. Funny thing is that i

[2018-10-31 22:37] shortpatti commented on #856
@schenardie, thank you for the response.  Now that I understand it better, and your response makes sense, it sounds like the code in the doc needs to be replaced and a note added about the \&#xF000 code not being encoded :)

[2018-10-31 22:49] schenardie commented on #856
Well to be honest it says on the documentation
"Here are examples of data fields. The encoded 0xF000 is the standard delimiter/separator" but that is not clear how you encode it. And also i got that working via GUI, if you try to import that via Graph API passing either encoded or decoded it doest work. Once it reaches Intune if you check via the GUI its something like ??and a square.  So it canno

[2018-10-31 22:54] shortpatti commented on #856
@schenardie, you bet, I'll check with the engineering team about this one.

[2018-11-01 00:03] schenardie commented on #856
Also since we're at it. The empty input (<Data></Data>) works but it gives a catastrophic error as well on the event logs.  If you can dig the right input which doesn't generate errors would be very helpful. Thanks again

[2018-11-01 20:55] bbetnar opened #2018 "Add instead of Replace"
It would be nice to add Administrators instead of replacing the existing set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0c28c15-f0be-d732-4d9e-cf5df5e64e8b
* Version Independent ID: 17eba45f-d200-e656-42b9-e1a512931eea
* Content: [Policy CSP - RestrictedGroups](https://docs.microsoft.com/en-us/windows/client-mana

[2018-11-01 21:48] egallagh commented on #2018
The idea behind a restricted group is to enforce membership to only those in the list. This enforces the removal of a group member that was added in through any other method in order to, in part, satisfy compliance needs.
Hope this helps

[2018-11-01 22:00] bbetnar commented on #2018
While I see your point, it doesn't help our use case in particular. In our use case we are using Intune as our MDM and we want to adjust the local admins on a small subset of computers. During Autopilot enrollment, the user is added as Local Admin (we like this). But we also want to add another user (the IT Admin who works at that office building). When we use this to set another user it clobbers

[2018-11-01 22:06] egallagh commented on #2018
To my understanding, supporting a scenario like that is not the intent of this policy. Personal opinion: I would take a serious look at the wisdom of having users be admins.

[2018-11-01 22:14] bbetnar commented on #2018
I agree that having users as Admins isn't always Best Practice. But it's not a best fit for everybody and for our company it works best having them as Local Admins and we're not ready to make the change.

But since that's not the intent of this policy I'll just go ahead and close this.

[2018-11-01 22:14] #2018 closed

[2018-11-01 23:47] timedroid opened #2020 "Is L2TPv3 Supported?"
Does Windows support tunneling Ethernet data using L2TPv3? Previous versions of L2TP didn't support this from what I understand.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 746fd1a2-12c0-692c-f22a-251b370df7d7
* Version Independent ID: 71ca5f84-9afb-4007-6d2d-db953756feca
* Content: [VPN connection types (Windows 10

[2018-11-02 00:28] nimojg-microsoft opened #2021 "What about 1809?"
No guidance on Windows Build 1809

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45b5ec5c-d7ed-3aad-d27b-66f944a14c9f
* Version Independent ID: 87af0e5f-f817-10c1-cfff-6f47c35aedcc
* Content: [Switch to Windows 10 Pro Education in S mode from Windows 10 Pro in S mode](https://docs.microsoft.com/en-us/education/windows/

[2018-11-02 03:18] Lava2014 commented on #1153
Dear both

Please help

On Mon, Oct 29, 2018, 19:34 Patti Short <notifications@github.com wrote:

[2018-11-02 03:28] morganbr opened #2022 "Add "Enabled:Dynamic Code Security" option to list of policy rule options"
The list of policy rule options should include "Enabled:Dynamic Code Security" (full documentation at https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-application-control/use-windows-defender-application-control-with-dynamic-code-security) with a description along the lines of "Enables policy enforcement for .NET applications and dynamically-loaded libraries." I

[2018-11-02 05:45] kufang commented on #1753
@Heidilohr I have a case where a customer reports this issue. Have you received any information from dev? How should we explain this issue to the customer? Thank you.

[2018-11-02 12:23] emeria opened #2024 "Need Surface Laptop 2 drivers for Enterprise OSD"
Does anyone know where we can get the drivers for the Surface Laptop 2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 586d1246-6e18-b33c-2382-52a53bb392f5
* Version Independent ID: 0ec4aa1e-aac0-98dd-0a47-83e93d854086
* Content: [Download the latest firmware and drivers for Surface devices (Surface)](https://docs.micr

[2018-11-02 12:28] rlyons38 opened #2025 "Incorrect Instructions"
Trying to follow this to get to grips and at the "Assign a Windows Autopilot deployment profile" bit, there is no "Assign profile" to click on.
Googled else where to find that you assign the profile to a group and add the new machine to that group for it to apply. But unfortunately, this didn't work and the AutoPilot profile did not apply to the machine on startup.
I still haven't got this working

[2018-11-02 13:36] bally-singh opened #2026 "Update/EngagedRestartTransitionSchedule"
Update/EngagedRestartTransitionSchedule

Supported value range: 0 - 30 is incorrect. It is between 2-30.

"The period can be set between 2 and 30 days from the time the restart becomes pending."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ca58bd-f279-7739-0140-c4bd56784768
* Version Independent ID: 1d2ecc90-58a3-6

[2018-11-02 13:49] shortpatti commented on #2026
@bally-singh, thank you for the feedback.  I've updated the supported value range and it will be published later this morning :)

[2018-11-02 13:49] #2026 closed

[2018-11-02 13:50] shortpatti commented on #1153
@MikeStephens-MS, can you take a look at this issue?

[2018-11-02 14:19] officeninja415 commented on #1630
I am indeed still having the same problem even with the account already created.  Like MeIQL, I'm not getting anything stored in the $obj variable, so there has to be a problem with that line.  I feel like this is a trivial thing to script but would be largely important in the county I work in.

[2018-11-02 15:48] HunterDG commented on #1514
This issue still exists on Windows 10 1803

[2018-11-02 16:07] Heidilohr commented on #1753
@kufang I'm still waiting to hear back from the dev team, but I'll be sure to let you know when they do.

[2018-11-03 06:51] Houndsong opened #2031 "Which Windows 10 features support WDAG?"
What additional Windows 10 features must be installed or enabled to support this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8927df09-e9aa-8c40-290d-0ca7d86ec4e2
* Version Independent ID: ca67bcfc-6120-d6ca-290b-1a7822494c73
* Content: [Frequently asked questions - Windows Defender Application Guard (Windows 10)](h

[2018-11-03 09:50] shayan73 commented on #2024
I would like to know this as well.

[2018-11-03 11:59] Lava2014 commented on #1153
Dear Mike please help

[2018-11-04 16:51] CameronVetter commented on #1748
Same here, any answer for this?

[2018-11-05 13:55] 0xVox opened #2036 "Formatting"
Guys, think you messed the formatting on the CLI Options block there?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71b277e6-1f71-cf05-0d21-d24e5d25591b
* Version Independent ID: 78a49db9-9652-b4a6-a059-2ee599e7c0bb
* Content: [How to Deploy the App-V Client](https://docs.microsoft.com/en-us/microsoft-desktop-optimiza

[2018-11-05 16:22] whampt opened #2037 "Add-ProvisioningPackage fails. Would like to view logs mentioned above"
What is the default path of the log folder referenced above? Please provide.

ProvTrace.&lt;timestamp&gt;.ETL - ETL trace file, unfiltered
and others

Having a provisioning package with a layoutmodification.xml and a default app xml file that is failing to apply, don't know why. Would like to debug and log would help a lot.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-11-05 16:26] whampt opened #2038 "Link was for help diagnosing provisioning package failures"
Not all provisioning package install failures come via mdm. Please write article on how to troubleshoot provisioning package failures when ppkg is applied via powershell, OOBE or double-click.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 738225b2-66a4-e0dd-47fb-faf333ed52d1
* Version Independent ID: d9d3274c-3ee7-ed3

[2018-11-05 17:37] Martony78 opened #2039 "SCRIL breaks WHfB provisioning"
[Enter feedback here]
Step 3 sounds great but if you enable SCRIL Windows Hello for Business provisionning does not work anymore, because users can't first log in with their password. You have to disable SCRIL, set a new password, provision WHfB then reenable SCRIL. Is there another way?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-11-05 21:43] 20floz opened #2041 "Error code 45"
It should be "Diagtrack.dll was not found". Not "Diagrack.dll was not found". Helps searching if it is listed correctly.

[2018-11-05 22:18] yosefsun commented on #1514
Issue exists on windows 10 Home v. 1709

[2018-11-05 22:39] ahcash opened #2042 "Access Denied error and script exit"
Is it just me or any of you have the same issue.
I ran the script and it failed with Access Denied 0 files copied.
I think it failed on the following because this file cannot be replaced even if elevated command prompt.

Copy /Y %source%\powershell.exe.config %PowershellHome%\powershell.exe.config

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-11-06 13:16] StingyJack opened #2044 "There are no "Best Practices" for this setting"
Kindly remove that note as there are no best practices with this setting,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4e0e95f-4b95-51ef-d881-43bd2245d2c1
* Version Independent ID: 7f414727-7e8b-939d-f40e-0636d2b33f1a
* Content: [System cryptography Use FIPS compliant algorithms for encryption, hashing, and signing

[2018-11-06 14:21] jdeckerms commented on #2037
@whampt I checked with the team; they said logs should be saved to the path you provide with the -LogsFolder parameter when you run the cmdlet or else current directory.

Also, you might check in Event Viewer: Applications and Services Logs > Microsoft > Windows > Provisioning-Diagnostics-Provider. I'm not sure what specific events show up there, but since you're having a provisioning failure, the